[2020-04-14 05:02] nigam-sa commented on #20637
Hi,
I have the similar issue. No RF or IR is being detected by the hassio. I also tried broadlink manager and that also doesn't record any remotes
![image](https://user-images.githubusercontent.com/59933187/79187918-8fc9c700-7e15-11ea-993b-489d5e7e68f4.png)

[2020-04-14 05:39] sephrioth commented on #28891
@ThomasPrior Beta has fixed it... I used it for a while and works great.

[2020-04-14 05:50] #28795 closed

[2020-04-14 05:50] #29935 closed

[2020-04-14 05:50] #30209 closed

[2020-04-14 05:50] #30491 closed

[2020-04-14 05:50] #29572 closed

[2020-04-14 05:53] jnimmo commented on #33870
@joostkoppers @sahne2000 0.108.4 is available now which includes the patch

[2020-04-14 05:57] gjbadros opened #34188 "tplink device static config entries that fail bring down whole tplink integration"
## The problem

When you give a tplink entry of a failed tplink device that doesn't respond to the JSON protocol, that failure throws a struct.error in unpacking the response in protocol.py; that ultimately brings down the whole integration, making all of the devices unavailable (not just the bad one).

## Environment

- Home Assistant Core release with the issue: 0.108.2
- Last working Home Assis

[2020-04-14 05:58] gjbadros commented on #34188
Note that even better would be to queue up a retry for that broken device so that when it comes alive again, it starts working again.

[2020-04-14 06:15] dolenec commented on #34161
Same problem. but to resolve you delete local database and your back online with empty database offcourse..

[2020-04-14 06:29] ctalkington commented on #33860
There have been a number of reports here which have greatly helped but makes it hard to keep track. Im going to close this in the belied that things are in a good place now and will get even better hopefully in 108.5.

Feel free to open new issues if you feel something was left unresolved

[2020-04-14 06:29] #33860 closed

[2020-04-14 06:35] jd1900 opened #34192 "ZHA Texas Instruments CC device support not working"
## The problem

  I’ve been trying to add the CC2652R (with CC26X2R1) in ZHA with no luck, whereas I can in zigbee2mqtt.
I just get the error that the device can’t be connected (after a few seconds “loading”).
Just in case, I stoped zigbee2mqtt beforehand.

## Environment

  Home Assistant 0.108.3

arch | armv7l
-- | --
dev | false
docker | true
hassio | true
os_name | Linux
os_version | 4.19.106-

[2020-04-14 06:40] aidbish commented on #34192
I would check its actually using /dev/ttyACM0.

[2020-04-14 06:40] balloob commented on #30009
Made a PR: #34193

[2020-04-14 06:51] jd1900 commented on #34192
I would say it is actually using /dev/ttyACM0. I've tried with fake names and the reply is instant. With the real name there is a delay of a few seconds.

I've also tried with the devices (I say devices since there are two by Texas Instruments) by id (/dev/serial/by-id/usb-Texas_Instruments_.......) with the same luck.

So I wouldn't say it is not contacting the actual device.

[2020-04-14 06:54] sonnstein commented on #34134
experiencing the same issue on my side!

[2020-04-14 06:55] jd1900 commented on #34192
Using the device by id:
![image](https://user-images.githubusercontent.com/63632981/79194886-a5e38180-7e2d-11ea-8c4b-a1fb863be8c0.png)

[2020-04-14 06:58] aidbish commented on #34192
Have you tried with ACM1. i believe there are 2 serial ports used on those devices

[2020-04-14 07:24] hasenbolle commented on #32096
I think the deps should be dynamically downloaded. Sorry i'm not that deep into home assistant development. So i can't tell you exactly where to look.

But the change from the first post, you can do at /homeassistant/components/homematic/light.py. This should hopefully also fix the transition time for you.

[2020-04-14 07:27] marhoy commented on #34046
@janiversen
I belive this is an issue with the pymodbus library, so I've opened an issue there will all the details of my findings: https://github.com/riptideio/pymodbus/issues/500

It seems that the async support in pymodbus is flaky at best.

I appreciate your effort to update to the latest pymodbus package, but are you sure it's a good idea to also switch to the async modbus client? I haven't h

[2020-04-14 07:29] McGiverGim commented on #33007
Hi! Another affected if you need someone to make some tests. Is a new cheap camera, it work perfectly with Onvif Device Manager, but when I try to make some movement with the PTZ service it says not supported.

If I'm not wrong, the https://github.com/home-assistant/core/pull/33970 from @indykoning will fix that?

[2020-04-14 07:41] akasma74 commented on #34180
It's an interesting situation as the docs say about `start` and `end`: "When to start/end the measure (timestamp or datetime)."

[Here](https://github.com/home-assistant/core/blob/6d24a65313f0c8413c71feeca79f2f0ff79d2b60/homeassistant/components/history_stats/sensor.py#L300) it compares a *parsed string* with `dt_util.now()` and if we set something like this in configuration
[code]
it will error

[2020-04-14 07:56] #30009 closed

[2020-04-14 07:57] gieljnssns commented on #30119
My original error is gone, but now I see a lot of these
[code]

[2020-04-14 08:08] tiaanv commented on #23660
Did you ever get to the bottom of this?

[2020-04-14 08:38] janiversen commented on #34046
I happen to agree with you, and will make a patch that restores the sync client, but keeps all the other changes made.

I will leave the async version committed so it is available when there are a new version of pymodbus.

A maybe better option long term, is only to use the protocol component from pymodbus and handle the socket/serial communication in the integration, which would allow us to use t

[2020-04-14 08:43] stigvi opened #34196 "Unable to serialize to JSON: Object of type Template is not JSON serializable"
## The problem

In version 108, I started to get a lot of problems with the bayesian sensors in combinations with inputs based on templates. In fact, my HA system get totally unresponsive when a template evaluates to true.
The home-assistant.log grows to 200-300MB within minutes and are filled up with these “Unable to serialize to JSON: Object of type Template is not JSON serializable” messages.

[2020-04-14 08:50] #30533 closed

[2020-04-14 08:50] #30253 closed

[2020-04-14 08:50] #25082 closed

[2020-04-14 08:51] indykoning commented on #33007
It might fix it (this was the case for me)
Have a look at the zip file i attached to #33065 and try installing it as a custom integration

[2020-04-14 08:56] indykoning commented on #33065
That does seem quite odd since the different cameras are not on the same request, what if you change the sleep functions of 0.1 to a higher number?

[2020-04-14 09:02] uphillbattle commented on #32975
This is still a problem with HA 0.108.3

[2020-04-14 09:14] Imperial-Guard commented on #34196
Facing the same issue after upgrading to 0.108.3 therefore I downgraded to 0.107.7 since everything was working on that version.

[2020-04-14 09:29] ukmgranger opened #34197 "Lovelace button - state_color has a couple of issues"
The icon for a group is not changing colour when devices in the group are switched on.

My lovelace code:

entity: group.kitchen_lights
hold_action:
  action: more-info
icon_height: 70px
name: Kitchen
show_icon: true
show_name: true
state_color: true
tap_action:
  action: toggle
type: button

Additionally, I'm getting the message "Expected a value of type `undefined` for `state_color` but received

[2020-04-14 09:29] drewgraham commented on #34173
No luck, most values now 1 out.

[2020-04-14 09:35] #34197 closed

[2020-04-14 09:35] ukmgranger commented on #34197
Moved to Frontend

[2020-04-14 09:36] emontnemery commented on #34176
@fufs Please help to clarify a couple of things:

Which release did you update from?

Can you please add `configuration.yaml` for the cover which works as expected?

[2020-04-14 09:48] Groodles commented on #33515
Version 0.108.3 still has this issue.

[2020-04-14 09:49] spider7611 commented on #24873
Have the same problem now from 2 or 3 last update. Now on Home Assistant 0.108.3
Very annoying. Before it is worked without problem. Nothing changed only the home assistant updated. If unplug and replug it is working again for a while. Sometimes after the first trigger stop working, and sometimes after 4th 5th triggers stop working. Must unplug and replug again. :(

[2020-04-14 09:57] drewgraham commented on #34173
I think this is still a zwave problem - converting from 0-255 to 0-99 and back again with rounding comes with a loss of resolution. I don't see how it can be solved without some level of caching, probably in emulated_hue since that's whats sensitive to getting slightly different values between set/get.

[2020-04-14 09:59] engrbm87 commented on #31757
For the `mikrotik` integration the `all_devices` list is maintained from the DHCP server leases. If the devices showing unavailable on startup are not in the router DHCP server Leases then you can simply make the lease as static so that it doesn't get removed.

[2020-04-14 10:01] JamesMatthevv commented on #32096
Hm, then it's possibly because I'm using HassOS; I searched through the folders via ssh for the *.py files of pyhomematic. And just checked again for the folders you mentioned, but I don't have any of them.
Daniel just created a wiki entry with a development vm for pyhomematic, so I'll have a look at that as soon as possible.
Thank you nonetheless for your information, I'll report as soon as I've

[2020-04-14 10:04] engrbm87 commented on #32342
Hello,
Can you enter the below in your browser and send us the json result:
http://IP_ADDRESS:61208/api/3/sensors

[2020-04-14 10:19] emontnemery commented on #34108
Please provide the discovery MQTT message.

Also, your supplied example of a working manual configuration seems strange, an `entity_id` of `alarm_control_panel.lakas doesn't` match with the name `paradox_lakas`

[2020-04-14 10:30] joostkoppers commented on #33870
Nice :-).
0.108.4 is not showing in Home Assistant yet, but I'll be patient ;-)

[2020-04-14 10:30] Anian-igor commented on #33256
I updated to 0.108.1 - fixed.

[2020-04-14 10:30] #33256 closed

[2020-04-14 10:43] pax2011 opened #34200 "Switchbot no more working"
## The problem

My switch doesn't work more, I can't control my switchbot Button Pusher. Before it worked, not perfectly, sometimes it didn't respond and I had to send the command twicetimes. Recently it has completely stopped working.

## Environment
 running version 0.108.0

- Home Assistant Core release with the issue:
- Last working Home Assistant Core release (if known): can't remeber
- Opera

[2020-04-14 10:46] fufs commented on #34176
0.107.6

Those are the entries straight from my configuration.yaml
[code]

[2020-04-14 10:46] Tosko4 commented on #32342
```[{"label": "acpitz 1", "value": 27, "unit": "C", "type": "temperature_core", "key": "label"}, {"label": "acpitz 2", "value": 29, "unit": "C", "type": "temperature_core", "key": "label"}, {"label": "Package id 0", "value": 35, "unit": "C", "type": "temperature_core", "key": "label"}, {"label": "Core 0", "value": 31, "unit": "C", "type": "temperature_core", "key": "label"}, {"label": "Core 1", "v

[2020-04-14 10:52] engrbm87 commented on #32342
Thanks @Tosko4 , it seems that the repeated sensors have the same details. This looks like a issue related to glances itself. Can you confirm that you have the latest version installed.
These errors should not stop the integration from loading and updating the configured sensors. Can you please confirm.

[2020-04-14 10:59] Tosko4 commented on #32342
@engrbm87

I am running Glances as an Home Assistant addon ( https://github.com/hassio-addons/addon-glances/releases )

Running release: v0.7.1 which in the release notes show: Updates glances to v3.1.4
On the glances github page it shows that 3.1.4 is actually the latest ( https://github.com/nicolargo/glances/releases )

And yes, I can confirm that it doesn't stop the integration from loading and

[2020-04-14 11:01] McGiverGim commented on #33007
@indykoning I have tested and it seems to work (no more PTZ not supported). But I don't know if it works ok.
If I use in the services tab the sample that comes for `onvif.ptz`, with ContinuousMove, it works, the camera moves, but if I use something more simple, it does not. I'm not too sure if the culprit is your integration or the error is in other place.

For example, with this "simple" data:

[

[2020-04-14 11:12] owendemooy commented on #22807
@sehraf what changes did you make to your HA config files for your flux entities?

Did you change the mode from RGB to something else?

[2020-04-14 11:17] indykoning commented on #33007
I can only use continuousMove as well, for me however i think it is because the camera doesn't support the other ones.

I have had that error before though and i was missing some data in the service call which it needed but didn't have

[2020-04-14 11:26] McGiverGim commented on #33007
It seems like the command is trying to concatenate the different parameters (I suppose that is trying to pass them to the camera) but if some of them is missing it fails.

[2020-04-14 11:29] kmlucy commented on #33012
Based on the position in the logs, I think this is due to a race condition between automations and the switches.

[2020-04-14 11:32] raidolo commented on #34029
@ochlocracy here is my discovery from the media players section ( not the complete discovery tough, just a snippet):
[code]

[2020-04-14 11:33] paparapapapapa commented on #33007
@McGiverGim For this reason I tried as well to write the data block in several combination, even with PAN and/or TILT set as null (my cam doesn’t support them, only ZOOM) like in the breaking change section of the 0.107.x release. But none worked. I’m only able to make it zoom in/out a little fraction of the focal length.
I will try the custom component though, thank you @indykoning

[2020-04-14 11:37] Danielhiversen commented on #34200
Could you try to change the battery or move the switchbot closer to your homeassistant machine?

[2020-04-14 11:40] thecode commented on #32342
I did dig future for that few weeks ago, the duplicated names are already at the lm_sensors package which is used to read the sensors data.
However for glances it has no meaning, the glances UI can show the multiple sensors with the same name.
In my opinion when trying to create a unique_id or name for them to add as sensors for home assistant the integration should add 1, 2, 3, etc for sensors wh

[2020-04-14 11:48] sonnstein commented on #34196
I'm experiencing exactly the same issue! This is also registered as #34134
I am back on 0.107.7

[2020-04-14 11:48] alanthewild commented on #33208
Thanks Robert.

I used a fresh/blank/vanilla install off a new docker image and the only
thing I added was Vera. To be clear, there was a newly created folder
assigned to /config before I started up the container so there is no way
there was a .storage folder beforehand.
The issue was apparent on the 20200413 version I tried yesterday and the
20200411 version I tried before that. Will wait for the

[2020-04-14 11:49] TerrorSource commented on #34130
Got the same issue on a new 0.108.3 installation.
Already stopped HA, removed .homekit.state and started HA multiple times without result.

Running HA on a Pi 3b, using HA's own image.

Let me know what i can do to help.

[2020-04-14 12:03] McGiverGim commented on #33007
Mine moves in ContinuousMove, but it never stops. It seems that the parameter `continuous_duration` is the time it moves, in seconds, but in my case it seems ignored or I don't understand something.

[2020-04-14 12:05] alanthewild commented on #33208
Fully clean config. I tried it initially with an upgraded setup.
Then, when it didn't work the way it should, I created a whole new /config
folder and new docker container from the latest beta.
Let me know if you want me to test anything.

On Tue, Apr 14, 2020 at 1:37 AM Robert Van Gorkom <notifications@github.com>
wrote:

[2020-04-14 12:07] Mariusthvdb commented on #28704
please keep open, still here on 108.3:

<img width="393" alt="Schermafbeelding 2020-04-14 om 14 07 02" src="https://user-images.githubusercontent.com/33354141/79223271-48fdc080-7e59-11ea-9529-a51b0f199c80.png">

[2020-04-14 12:12] Molodax commented on #30275
https://github.com/home-assistant/core/pull/31156 did not resolve the issue. I'm running "former HASSIO" on RPI 4.

[2020-04-14 12:17] sagitt commented on #30215
i can't see rm4 pro in init.py

        rm4: [0x51da,  # RM4b
              0x5f36,  # RM Mini 3
              0x610e,  # RM4 mini
              0x610f,  # RM4c
              0x62bc,  # RM4 mini
              0x62be  # RM4c

i have rm4 pro, how i can check my device code?

[2020-04-14 12:21] Pirol62 commented on #34145
Ah thanks. That might have been the problem. After cleaning the recorder and logbook entries from old stuff (formerly deleted entities), the logbook  seems to work normal again. Now I only facing the problem, that the script described above, doesn't create any logbook entry and doesn't execute the switch.turn_off. Similar scripts do that. I have to investigate further.

[2020-04-14 12:25] roblamoreaux commented on #33758
It looks like the emergency heat is causing an error that prevents it from creating climate.nativezone. I also got a FANMODES not found in const.py. Here is the log from one of the attempts (I think 0.8.2). I'll try 0.9.0 again today and see what it logs.

`2020-04-13 21:07:28 WARNING (SyncWorker_8) [homeassistant.components.dlink.switch] Failed to connect to D-Link switch
2020-04-13 21:07:33 WARN

[2020-04-14 12:32] Pirol62 commented on #34145
Hi, already noticed:
![image](https://user-images.githubusercontent.com/48820003/79225221-b3fcc680-7e5c-11ea-9fcc-f73373e52b08.png)
The second entry appeared at 14:30. A massive delay.

[2020-04-14 12:40] adandl commented on #34134
Same here...

[code]

[2020-04-14 12:46] Hacker-CB opened #34202 "Modbus custom function support"
## The problem

Some devices use custom modbus function for different cases.
It is impossible to use custom function in current modbus integration.

## Environment

- Home Assistant Core release with the issue: 0.108.3
- Last working Home Assistant Core release (if known):
- Operating environment (Home Assistant/Supervised/Docker/venv): HASSIO
- Integration causing this issue: modbus
- Link to int

[2020-04-14 12:51] frenck commented on #34202
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2020-04-14 12:51] #34202 closed

[2020-04-14 12:56] ryannazaretian commented on #33758
Hey,

I've been tracking this error since I ran into some issues as well. The FAN_MODES error should be fixed in 108.4; however, I know I'm waiting on the Docker image to get pushed to test the final build.

Thanks,
Ryan

[2020-04-14 13:04] Adminiuga commented on #34192
enable debug logging, in `configuratio.yaml`
[code]

Restart, try configuring it again and collect the logs. Create an issue in https://github.com/zigpy/zigpy-cc to let zigpy-cc maintainers aware.

[2020-04-14 13:07] vakilando commented on #24869
same problem on Home Assistant 0.108.3.
But as @rolfberkenbosch says it seems to be a problem with the api of meteoalarm.eu...

[2020-04-14 13:13] pax2011 commented on #34200
Tried both, Always same error. Using this python script I can control the device https://gist.github.com/mugifly/a29f34df7de8960d72245fcb124513c7

[2020-04-14 13:17] Danielhiversen commented on #34200
Enable debug logging for Switchbot in Homeasssistant, and post the relevant log here

[2020-04-14 13:41] bdraco commented on #33758
@roblamoreaux  Thanks for the traceback.  I'm looking into it now.  Emergency heat has been the sticking point for this whole thing.  Apparently we don't need that in Houston so I've had to make some assumptions in the implementation.

[2020-04-14 13:44] pax2011 commented on #34200
`2020-04-14 15:39:47 DEBUG (SyncWorker_6) [switchbot] Sending command to switchbot 570102
2020-04-14 15:39:47 DEBUG (SyncWorker_6) [switchbot] Connecting to Switchbot...
2020-04-14 15:41:18 WARNING (MainThread) [homeassistant.components.switch] Updating switchbot switch took longer than the scheduled update interval 0:00:30
2020-04-14 15:41:49 WARNING (MainThread) [homeassistant.components.switch]

[2020-04-14 13:46] bdraco commented on #33758
@roblamoreaux It looks like you are using an older version of home assistant with a newer version of the nexia library as `FAN_MODES` as removed in both.

https://github.com/home-assistant/core/commit/908e044db1d3ef9ab2c10a88c7aaf6df63fd274d#diff-a7b90bc5de239b083a7929fe33ac61d2
https://github.com/bdraco/nexia/commit/dd89aad8585780ce09ce87bf461aa8fee06b84e4#diff-3e22b25919b8f29c84970601931a8d80L15

[2020-04-14 13:50] bdraco commented on #34173
@drewgraham hopefully we only need to round trip 1-100% which should be possible.

[2020-04-14 14:04] bdraco commented on #34173
@drewgraham

Its possible alexa converts percentages to hue values by adding +1 on the bottom or some other way.

[code]

I added some debug logging.  I don't have an alexa so I need someone else to test the following commands and record the incoming and outgoing brightness for each one:

Set light to 1% via alexa
Set light to 20% via alexa
Set light to 49% via alexa
Set light to 50% via alexa
Set

[2020-04-14 14:09] bdraco commented on #34130
First try adding this to your `configuration.yaml` and restarting.  Look for anything interesting in the log during pairing
[code]

If that doesn't uncover anything, try pairing again in safe mode.
Add the following to your existing homekit: config in `configuration.yaml` and restart
[code]

Lastly, you can try the 0.109 version with the `zeroconf_default_interface` option

[code]
Add the followin

[2020-04-14 14:20] GaryOkie commented on #33458
In my case, I don't have any Vizio SmartCast entries in core.entity_registry or core.device_registry. This is because when I was first notified HA had discovered Vizio SmartCast and asked if I wanted to configure it or ignore it.   I chose the latter, and this was stored in the following:

**.storage/core.config_entries**
[code]
So I removed this section, restarted HA, and as expected, HA found **

[2020-04-14 14:27] Adminiuga commented on #34192
can you try adding the following in `configuration.yaml` and restarting:
[code]

[2020-04-14 14:27] TerrorSource commented on #34130
@bdraco
Part 1: Removed a lot of lines where the switch where added
`2020-04-14 16:16:11 INFO (MainThread) [homeassistant.setup] Setting up homekit
2020-04-14 16:16:11 DEBUG (MainThread) [homeassistant.components.homekit] Begin setup HomeKit
2020-04-14 16:16:11 DEBUG (SyncWorker_9) [pyhap.characteristic] set_value: SerialNumber to homekit.bridge
2020-04-14 16:16:14 INFO (MainThread) [homeassistant

[2020-04-14 14:28] bdraco commented on #34130
Nothing odd there.  Try `safe_mode` next

[2020-04-14 14:36] TerrorSource commented on #34130
@bdraco Part 2 - with safe mode ON, same as part 1, removed lines of added devices:
2020-04-14 16:30:03 INFO (MainThread) [homeassistant.setup] Setting up homekit
2020-04-14 16:30:03 DEBUG (MainThread) [homeassistant.components.homekit] Begin setup HomeKit
2020-04-14 16:30:04 DEBUG (SyncWorker_9) [pyhap.characteristic] set_value: SerialNumber to homekit.bridge
2020-04-14 16:30:04 DEBUG (SyncWorker

[2020-04-14 14:38] alokdhir commented on #34161
why would deleting database fix ha being able to install python packages?

[2020-04-14 14:41] TerrorSource commented on #34130
Part 3, with custom_component:
[code]

[2020-04-14 14:46] bdraco commented on #34130
Going to need the `pyhap` lines as well

[2020-04-14 14:52] djax666 commented on #33830
Hello,
I have the same problem with my myStrom switches (v1 and v2). The Temperature Sensors (of v2) seem to work, but not the Power Consumption. I'm running Home Assistant 108.3 with HassOS 3.12 on a Raspberry Pi

[2020-04-14 14:52] TerrorSource commented on #34130
[part_3_full_logs.txt](https://github.com/home-assistant/core/files/4475987/part_3_full_logs.txt)

See attachment, complete log of Part 3, no lines removed.

[2020-04-14 14:55] theone11 opened #34205 "Wrong name for broadlink remote entity"
## The problem
I defined 2 remotes using the broadlink platform with names Hallway (1st) and Livingroom (2nd)
They appear in the entities as remote.broadlink and remote.livingroom.
I am expecting to see remote.hallway and **not** remote.broadlink for the 1st remote

I am using a remote.yaml for these entities with the correct !include statement in configuration.yaml

## Environment
Core 0.108.3
Su

[2020-04-14 15:04] bdraco commented on #34130
Here is the issue

[code]

[2020-04-14 15:04] mago-kamar opened #34207 "Powerwall doesn't show any sensor when the utility data is missing"
## The problem

 I'm running under HA 0.108.3
I installed the new Tesla PW2 integration, and all went right, but I cannot see any sensor

## Environment

  HA 0.108.3 installed starting from image for raspberry, downloaded from home assistant web site.

- Integration causing this issue: Tesla Powerwall 2

## Problem-relevant `configuration.yaml`

[code]

## Traceback/Error logs

[code]

## Additio

[2020-04-14 15:04] bdraco commented on #34130
Did you try with
`  zeroconf_default_interface: true `?

[2020-04-14 15:08] springstan commented on #34207
Please fill out the issue template, you can find it by clicking on `New Issue` and then selecting `Report a bug with Home Assistant`. Copy and paste the provided template into this already created issue, click preview to take a look at the empty template and then fill out as much as you can. Any additional information can be helpful!

Thanks for understanding :)

[2020-04-14 15:08] YRRK commented on #34148
![IMG_0216](https://user-images.githubusercontent.com/48710822/79240810-8884d680-7e72-11ea-9294-931ff30d0b6d.jpg)
![IMG_0214](https://user-images.githubusercontent.com/48710822/79240815-89b60380-7e72-11ea-9d92-7a8280ab770c.PNG)
![IMG_0215](https://user-images.githubusercontent.com/48710822/79240823-8c185d80-7e72-11ea-97b9-54fd301ed670.PNG)

[2020-04-14 15:11] mago-kamar commented on #34207
Sorry,
it’s my first time in opening an issue on GitHub :)

I hope my corrections are right now.

Thanks a lot,

Enrico

[2020-04-14 15:12] TerrorSource commented on #34130
Did a new test with the following config:
`homekit:
  zeroconf_default_interface: true
  port: 51869
  filter:
    include_entities:
    - demo.demo`

[part_4_full_logs.txt](https://github.com/home-assistant/core/files/4476108/part_4_full_logs.txt)

[2020-04-14 15:20] bdraco commented on #34207
Hi @mago-kamar

Are there any messages in the log?

[2020-04-14 15:22] bdraco commented on #34130
Try adding

`name: MyHomeAssistant`

To the homekit:
entry and restarting

[2020-04-14 15:24] mago-kamar commented on #34207
Hi @bdraco ,
unfortunately nothig referring to the Tesla PW2 integration.
The installation of the integration didn't show any error, and I have it on the integrations screen.

[2020-04-14 15:24] geira opened #34209 "Yr component platform is reaching end-of-life"
## The problem

Hi, this is from the Norwegian Meteorological Institute. I notice that you both have a "met" and an "yr" component in the core. These actually come to the same data source (api.met.no), but the Yr API has a reformatted subset of the data (tailored for the old version of yr.no) as well as using place names instead of geocoordinates for the interface.

The old yr.no pages are being d

[2020-04-14 15:26] bdraco commented on #34207
[code]

Try setting your logging to debug and restarting to see if you get any error related to the `powerwall`

[2020-04-14 15:28] TerrorSource commented on #34130
Following config:
`
homekit:
  name: MyHomeAssistant
  zeroconf_default_interface: true
  port: 51869
  filter:
    include_entities:
    - demo.demo
`

Works, i can add the Home Assistant Bridge on iPhone. no items show up, guess that is because the demo.demo device specified.

Any other things i need to test for you before i put my own config back in?

[2020-04-14 15:33] bdraco commented on #34130
Nope. Its likely the combination of these two that fix it:
[code]

[2020-04-14 15:38] Kane610 commented on #33024
@welbo97 thanks! @N5A can you try this out as well?

[2020-04-14 15:41] olivierjag2 commented on #34102
same here

[2020-04-14 15:43] bdraco commented on #34130
@TerrorSource The the `zeroconf_default_interface` setting will be available in 0.109.  You should be able to delete the custom version once it lands.

I've added a note to the docs about this as well https://github.com/home-assistant/home-assistant.io/pull/12969

[2020-04-14 15:44] TerrorSource commented on #34130
I've put my homekit config back in, with the name and zeroconf_default_interface added and it works. devices show up on Homekit on iPhone right after HA restarts.

[2020-04-14 15:45] geira commented on #34209
So, looking at the source code right after posting the issue, I notice that the "yr" component is not using the [yr.no API](https://hjelp.yr.no/hc/en-us/articles/360009342833-XML-weather-forecasts) after all, but goes to the same source as the "met" component. This means the problem is not as large as first predicted, but you will still need to make some (minor or major) adjustments by the end of

[2020-04-14 16:03] Adminiuga commented on #34192
I couldn't reproduce with CC2531 and latest Hassio on Pi3 with HA Core 0.108.3.
Was able to add integration just fine.
After you plug the stick, make sure to reboot the host os with the stick plugged in.

[2020-04-14 16:05] ptcryan commented on #31957
All, I am still working on fixing this integration. I'm close to issuing a pull request. I have posted a full update on what to expect [here](https://github.com/ptcryan/hydrawiser/issues/5#issuecomment-613530136). Expect the pull request within a week.

[2020-04-14 16:06] Danielhiversen commented on #34200
Do you see any `Failed connecting to Switchbot` ?

[2020-04-14 16:08] mago-kamar commented on #34207
Hi,
the only errors are referred to Mosquitto, because I'm doing so test.
But nothing about Tesla PW2

[2020-04-14 16:11] bdraco commented on #34207
Which version of the firmware does your powerwall have (you can check in the tesla app)?

[2020-04-14 16:14] sehraf commented on #22807
I've a "hacked together" version that supports effects, see here https://github.com/vquelque/flux_led/pull/3 and here https://github.com/sehraf/core/tree/WIP.
Though, for this you need to edit/replace the HA flux_led component files: (on my system located here: `/usr/lib/python3.8/site-packages/homeassistant/components/flux_led/light.py` )
(You can also apply these two patches https://github.com/s

[2020-04-14 16:14] mago-kamar commented on #34207
1.45.2

[2020-04-14 16:15] bdraco commented on #34207
I've got the same version.

If you use the underlying library (there are some examples on the github page) https://github.com/jrester/tesla_powerwall, can you get the powerwall to give up any information?

[2020-04-14 16:20] jrester commented on #34207
You can also use a browser and navigate to `https://<powerwall-ip>/api/system_status/soe` and `https://<powerwall-ip>/api/meters/aggregates` if you don't want to fiddle with python.

[2020-04-14 16:20] Danielhiversen commented on #34209
Thank you for notifying.
I will upgrade the component to version 2.0 JSON.

Yes, I think we should drop the yr component. See also: https://github.com/home-assistant/core/pull/30115

[2020-04-14 16:22] mago-kamar commented on #34207
I already am able to read values from my PW2.
I wrote a phyton code, showing me a web page with the values.
Here a little piece of that code:
# Lettura produzione energetica da 123SolarLog ---------------------------
$URL_123solar = "http://192.168.178.30/123solar/programs/programmultilive.php";
$json_123solar = file_get_contents($URL_123solar);

$data_123solar = json_decode($json_123solar, true);

[2020-04-14 16:24] guedeaux commented on #33921
I am also having issues with this error:

Source: helpers/update_coordinator.py:143
Integration: wled (documentation, issues)
First occurred: 9:45:32 AM (2 occurrences)
Last logged: 10:18:37 AM

Error fetching wled data: Invalid response from API: Error occurred while communicating with WLED device.

[2020-04-14 16:26] geira commented on #34209
Interesting. If you want access to sensor observations, we have a [separate API for that](https://frost.met.no/).

[2020-04-14 16:26] cureheaded commented on #33738
Hey Brusarp, thx 4 taking the time.
Still no luck here with the app not on https, not on http, not on local and not on external network ...
Nodered webui does work locally. url in chrome works both locally and externally.
straaaaange!

[2020-04-14 16:28] bdraco commented on #34207
Please give the https://github.com/jrester/tesla_powerwall library a try and see if it will give you the data.

[2020-04-14 16:29] rashad commented on #34136
Any info ?

[2020-04-14 16:30] bdraco commented on #34093
Seems like the constant polling broke the printer software and a hard reboot was needed.   Maybe some type of failure backoff when something goes wrong is needed

[2020-04-14 16:31] dshokouhi commented on #34136
@rashad the issue is fixed, update to 0.108.4 for the fix.

[2020-04-14 16:34] autumnwalker opened #34214 "HA sets time on DSC alarm to UTC via envisalink integration"
## The problem

I've noticed the time on my alarm panel (physical) is frequently changed to UTC. I opened a ticket with Eyez-On and they have indicated other users have reported the same issue who are using Home Assistant and that HA is changing the time via the TPI.

## Environment

- Home Assistant Core release with the issue: 0.108.3
- Last working Home Assistant Core release (if known): N/A
-

[2020-04-14 16:37] brusarp commented on #33738
Isn't it that you set the "private dns" in the settings (i have many trouble with other apps or sites)? Or do you use a VPN? Or some other app interferes ...

[2020-04-14 16:41] fermulator commented on #33946
Thanks @frenck for your patience and response!  Now understanding better :) :+1:

[2020-04-14 16:42] bachya opened #34215 "Triggered SimpliSafe alarm yields an "unknown" state"
## The problem

A triggered SimpliSafe alarm will cause the associated `alarm_control_panel` entity to show a state of `triggered` for a time, then change (at "random" times) to `unknown`.

## Environment

- Home Assistant Core release with the issue: 0.108.4
- Last working Home Assistant Core release (if known): ?
- Operating environment (Home Assistant/Supervised/Docker/venv): Docker
- Integrati

[2020-04-14 16:45] cureheaded commented on #33738
no private dns here. no difference if i use my vpn or not. It could be another app, but  I do not know how to figure it out. I can reach the install page of home assistant app. It finds (it suggest it form itself) the right url. I give in my user and pwd and then i get the error ...

[2020-04-14 16:47] mago-kamar commented on #34207
Installed, but I have a syntax error:

  File "test.py", line 92
    self.assertEqual(pw._endpoint, f"https://{test_endpoint_1}/api/")
                                                                   ^
SyntaxError: invalid syntax

[2020-04-14 16:48] drewgraham commented on #34173
I can do that. Is there a patch to add the debug statements? I have the json_response logging for the get and set functions to see the brightness values.

[2020-04-14 16:50] bdraco commented on #34173
I pushed the additional logging as another commit on the PR. https://github.com/home-assistant/core/pull/34185/files#diff-cdd50787bea695de272e058d2f1a96e3R396

[2020-04-14 16:51] dshokouhi commented on #33738
What is your network setup like? Reverse Proxy? Self signed SSL cert?  If you access HA in a browser do you need to accept a certificate or enter a password set by the proxy?

[2020-04-14 16:52] pax2011 commented on #34200
No, complete log here https://pastebin.com/Qd00qXvY

[2020-04-14 16:53] jrester commented on #34207
What python version are you using?  It seems you are using python2 but you need python3. Run `python --version` if you are unsure.

[2020-04-14 16:55] mago-kamar commented on #34207
Python 2.7.16

[2020-04-14 16:55] Danielhiversen commented on #34200
Strange.
For some reason, it seems to stop here: https://github.com/Danielhiversen/pySwitchbot/blob/master/switchbot/__init__.py#L45

I am afraid you would have to debug this yourself.

[2020-04-14 16:56] metbril commented on #24869
This has nothing to do with the API, imho. Yes, it's sometimes not responding, but the integration should handle this. When initializing after a reboot, the sensors should get created with a state of Unavailable/Unknown (or something like that), but now the sensor is NOT created at all when the service is not responding. Which lead to all kinds of errors in the Lovelace UI.

When the service is av

[2020-04-14 16:57] bachya commented on #34179
Roger that. Fix coming.

[2020-04-14 16:59] mago-kamar commented on #34207
I have not a machine with ver. 3 :(

[2020-04-14 17:00] jrester commented on #34207
Please try again with python3. Check if it is installed by executing `python3` if not install it. I guess for the rasperrypi you can install it with `sudo apt install python3 python3-pip` but I am not sure.

[2020-04-14 17:07] flashydave commented on #33827
I am still seeing the problem on docker dev branch container version 	0.109.0.dev20200413
which from git contains the alleged fix.
The symptom is that I have my router (a vodafone Vox3.0) previously registered via the uPNP component that disappeared (no data available) upon a restart of the container. In my case removing and re-adding the integration has NOT fixed the problem and the router remain

[2020-04-14 17:09] Saur0o0n opened #34218 "Onvif camera uses reported IP not configured IP"
## The problem

ONVIF camera uses IP reported by camera, not the configured in configuration.yaml. This is bad, since camera can be behind some VPN or NAT.

## Environment

- Home Assistant Core release with the issue:  0.108.4
- Last working Home Assistant Core release (if known):  never
- Operating environment (Home Assistant/Supervised/Docker/venv): venv

The 10.8.20.x is the VPN network, where

[2020-04-14 17:11] fredrike commented on #32052
@bdraco This is the issue: https://github.com/home-assistant/core/blob/dev/homeassistant/components/homekit/type_thermostats.py#L89-L98

[code]
Don't know how to fix it though.

[2020-04-14 17:12] gilbert-grape opened #34220 "mystrom switch broken with 0.108"
## The problem

I have updated from 0.107.1 to 0.108.3. Since this update all the [power plugs from mystrom](https://www.home-assistant.io/integrations/mystrom/#switch) are broken.
In the log I see an error message.

## Environment

HassOS 3.12
Supervisor version 217
Raspberry Pi 3b
11 Power plugs from mystrom (broken)
1 mystrom bulp (works)

## Problem-relevant `configuration.yaml`

[code]

## Tr

[2020-04-14 17:14] Krocko commented on #33847
Any news?

[2020-04-14 17:15] mago-kamar commented on #34207
Testing with python 3
pi@raspberrypiOwnCloudNew:~/tesla_powerwall/tests $ python3 -V
Python 3.7.3

I'v got this other error:
pi@raspberrypiOwnCloudNew:~/tesla_powerwall/tests $ python3 test.py
Traceback (most recent call last):
  File "test.py", line 9, in <module>
    from tesla_powerwall import (
ModuleNotFoundError: No module named 'tesla_powerwall'

[2020-04-14 17:15] bdraco commented on #32052
Thanks.
We use that dict to build a per device dict that only includes the modes the device supports here:

https://github.com/home-assistant/core/blob/5d649b25416d75c31dda8ec227c17e649a3e86d0/homeassistant/components/homekit/type_thermostats.py#L172-L186

If the device is not yet initialized we won't be able to access the list of valid modes so you'll have to defer starting homekit until the devi

[2020-04-14 17:16] bdraco commented on #34207
`pip3 install --upgrade tesla_powerwall`

[2020-04-14 17:19] mago-kamar commented on #34207
Ok, done.

Now no errors, but I cannot see any output.
Where should I take a look?

[2020-04-14 17:25] jrester commented on #34207
Did you run the tests (`tests/test.py`)? Those tests are used for testing the functionality of the library and not for the user. Rather use a python3 shell and execute the commands described in the Readme (on the GitHub page). You can for example try `get_meters` and `get_charge`.

[2020-04-14 17:29] springstan commented on #34220
Duplicate of #33830

[2020-04-14 17:29] #34220 closed

[2020-04-14 17:30] mago-kamar commented on #34207
Sorry for bothering you :)

Should I execute this command?
python3 tests/test.py powerwall.get_charge

[2020-04-14 17:34] fredrike commented on #32052
So HC_HOMEKIT_TO_HASS isn't used?
The problem here is that not all modes are represented. But I might be wrong.

[2020-04-14 17:35] o-create opened #34221 "Dyson climate entity not displaying version 0.108.3"
## The problem
  the climate entity is missing when using the [Dyson integration](https://www.home-assistant.io/integrations/dyson/) with my Dyson HP04 Pure Hot+Cool.

Fan and sensor entities are displaying and working without issue.

## Environment
arch | x86_64
dev | false
docker | true
hassio | true
os_name | Linux
os_version | 4.19.107
python_version | 3.7.7
version | 0.108.3

- Home Assistant

[2020-04-14 17:39] cureheaded commented on #33738
Hi there dshokouhi. Since it works with a samung s9 a samung A70 and an iphone i dont think it is a network problem, but i could be wrong
HA is installed on a synology nas within docker. I use a synology cert for synolodgy dns and a lets encrypt cert for duckdns. I do not need to accept or enter anything else then the user /password from the ha app

[2020-04-14 17:39] FidgetyRat opened #34222 "HomeKit Fan Percentage Starts at 100% Speed if 25% Requested"
## The problem

Using HomeKit (Home app or Siri) to set a fan speed results in that fan starting at full speed momentarily and then "dimming" down to the requested level speed percentage.

This behavior does not occur when dimming using the sliders from the home-assistant app so the issue appears to be with the HomeKit integration.

This is similar to #32278 (and fixed in #32348 in 0.180.3) that w

[2020-04-14 17:39] bdraco commented on #32052
Its only used for water heaters  https://github.com/home-assistant/core/blob/5d649b25416d75c31dda8ec227c17e649a3e86d0/homeassistant/components/homekit/type_thermostats.py#L527

[2020-04-14 17:40] pnbruckner commented on #34180
@lindsaymarkward how is `input_datetime.diffuser_last_refill_time` configured? Specifically, is `have_date` set to true? If not, that would explain why `as_timestamp(states("input_datetime.diffuser_last_refill_time"))` doesn't work. The input to `as_timestamp` needs both date & time.

[2020-04-14 17:43] jrester commented on #34207
It's alright ^^

No, just execute `python3` (without the other arguments). This should give you an interactive python shell in which can execute python commands. From there you can then try connecting to your powerwall. It could look something like this:
[code]

The `>>>` prompts you to input your command, everything without a leading `>>>` should be output.

[2020-04-14 17:45] bdraco commented on #32052
There are potential three ways to fix this:

1.  Modify `daikin` to do an update when `async_add_entities` is called : https://github.com/home-assistant/core/blob/5d649b25416d75c31dda8ec227c17e649a3e86d0/homeassistant/components/daikin/climate.py#L86

 by changing it to be

`async_add_entities([DaikinClimate(daikin_api)], update_before_add=True)`

This will almost definitely fix this.

2. Have use

[2020-04-14 17:46] ljmgd8 commented on #33486
The problem is still there. Although it is on the HA side. When Zwave becomes unresponsive in HA, the Z-wave network still works, as zwave sensor still triggers the z-wave light.
Havent try reseting everything as per kajik post.
Will do that next

[2020-04-14 17:48] jd1900 commented on #34192
After changing the log to debug I got these logs:

[code]

[2020-04-14 17:48] mago-kamar commented on #34207
Here we go :)

9

0.5

It's working :)

[2020-04-14 17:53] emontnemery commented on #34176
As you said, there are no relevant changes between 0.107.6 and 0.107.7, and a PIN will be asked for if `device_class` is `door`, `garage` or `gate`.

Can you double check `device_ class` is in fact `garage` and has not been overridden? Use for example `/developer-tools/state` in the UI.

[2020-04-14 17:53] #34215 closed

[2020-04-14 17:54] stigganOne commented on #34130
@bdraco im trying to use the custom component. Ive downloaded the git and put it inside custom_folders as a folder "homekit" containing all files.
also added
name: MyHomeAssistant
 zeroconf_default_interface: true

Restarded home assistant from ssh.
Not getting past "  Unable to pair message " something i do wrong?

[2020-04-14 17:55] bdraco commented on #34130
@stigganOne Would you please adjust the logging and post the log

[code]

[2020-04-14 17:59] dshokouhi commented on #33738
Anything else different about the device its not working on? Does it have google play services?

[2020-04-14 18:02] jrester commented on #34207
Okay, so the problem is not with the API.
Could you try to remove the Integration and add it again?  To remove it just go to the integration page and click on the configured powerwall. There should be a trash can in the top right corner. Than add it again and go to the entities tab and search for `powerwall`.

[2020-04-14 18:07] stigganOne commented on #34130
@bdraco https://pastebin.com/rX7eM0ux

[2020-04-14 18:07] 03397 opened #34226 "Error After upgrading to version 0.108.3"
## The problem

I am getting the errors below.

## Environment

arch | armv7l
-- | --
dev | false
docker | false
hassio | false
os_name | Linux
os_version | 4.19.97-v7l+
python_version | 3.7.3
timezone | Europe/Nicosia
version | 0.108.4
virtualenv | true

I am also using mariadb for the recorder.

Error doing job: Fatal read error on socket transport
8:54:54 PM – /srv/homeassistant/lib/python3.7/s

[2020-04-14 18:08] jd1900 commented on #34192
Then, I changed the configuration.yaml with the right path to my USB device and restarted again.

Integration was created with zero devices:
![image](https://user-images.githubusercontent.com/63632981/79258336-474cf080-7e8b-11ea-914d-a93400fb7927.png)

I attach a few logs:
2020-04-14 19:51:52 INFO (MainThread) [zigpy_cc.uart] Connection made
2020-04-14 19:51:57 DEBUG (MainThread) [zigpy.appdb] Loa

[2020-04-14 18:14] brusarp commented on #33738
Maybe IP blacklisted?

What error exactly?

[2020-04-14 18:17] kaijk commented on #33486
It appears as if the zwcfg file is a necessary link for the devices to be
"known".  My devices and entities all looked good in the .storage
registries, and the OZW log file showed everything working from device
initiated events - motion devices reporting, temperature senders
reporting.

But, HA front end wouldn't "see" the devices correctly without the zwcfg
file.  And, the zwave control panel wou

[2020-04-14 18:20] bdraco commented on #34130
Did you try pairing again while while watching the log?  I don't see any pair attempts in the log

[2020-04-14 18:21] bdraco commented on #34222
I haven't converted fans to service callbacks yet :). I just finished thermostats this weekend.

[2020-04-14 18:22] TerrorSource commented on #34130
@stigganOne Did you check out .homekit.state before pairing? Needs to be resetted at least once.
If paired correctly, .homekit.state has "paired_clients" filled in.

[2020-04-14 18:26] balloob commented on #34176
If you use Home Assistant Cloud, can you open in UI: Config -> Cloud -> Google Assistant -> Manage Entities and make sure it's not disabled?

108 came with https://github.com/home-assistant/core/pull/33541 to mark gates for 2FA but garage door has been there for a while.

[2020-04-14 18:27] mago-kamar commented on #34207
I deleted the integration, and then I added it again, but in the entities, powerwall is not present :(

[2020-04-14 18:35] stigganOne commented on #34130
@bdraco  Here's a new log when pairing https://pastebin.com/2afHmnKL
@TerrorSource Ive deledet .homekit.state before trying to pair

[2020-04-14 18:38] bdraco commented on #34130
@stigganOne Looks like there was an exception that was untrapped in `2020-04-14 20:31:43 DEBUG (Thread-9) [pyhap.hap_server] Pairing [3/5]`

Can you check the console log for it?

[2020-04-14 18:41] balloob commented on #34153
Check your disk space.

[2020-04-14 18:44] stigganOne commented on #34130
@bdraco Thanks for helping out. Not sure what to look for https://pastebin.com/RXLzhkb9

[2020-04-14 18:45] bdraco commented on #34130
@stigganOne
`docker container logs  <container>  -f`

[2020-04-14 18:46] xescure opened #34227 "Yeelights turn to different color with the same state"
## The problem

I set up a scene for my Yeelights using the UI with [these](https://imgur.com/SWhQsdn) properties. After applying the scene the Yeelights are set to [this](https://imgur.com/gEYrLDw) state.

However in reality while initially setting the state for the lights *(with the warm to white slider)* the lights were clearly warm white and after applying the scene they all turned to yellow.

[2020-04-14 18:49] joostkoppers commented on #33870
I just manually updated to 0.108.4. The entity is back now, but the hvac_modes have disappeared. I only have an option: ' off' .
So that is not al lot of functionality ;-).

It use to say:
- heat_cool
- cool
- heat
- dry
- fan_only
- 'off'

Probably another bug? Should I open an issue for this?

[2020-04-14 18:51] DoffenIsCool commented on #33876
Thanks @jnimmo , just upg. to v 108.4 and now it works😎👍

[2020-04-14 18:55] jrester commented on #34207
You said you can see the the configured Integration, right? What exactly does it show you? Does it show you the version and the site name? For me it looks something like this:

![2020-04-14 20 53 59 localhost 31b8478afd2c](https://user-images.githubusercontent.com/31157644/79262824-2f2c9f80-7e92-11ea-8c62-a5e64601edd4.png)

I updated the powerwall API and Integration. Those changes should go live

[2020-04-14 18:56] stigganOne commented on #34130
@bdraco im lost now. not sure where to find it. I'm running home assistant as a plugin on freenas server

[2020-04-14 18:56] ctalkington commented on #34093
@bdraco interesting, i have an Officejet and haven't seen that behavior yet.

[2020-04-14 18:57] stigganOne commented on #34130
@bdraco found something called homeassistant-console.log https://pastebin.com/W57hdACB

[2020-04-14 18:59] akasma74 commented on #34180
In my tests `input_datetime` has both `has_date` and `has_time`.
The thing is it's not enough as soon as we use `timestamp` attribute - it simply does not have any timezone info in it, it's just an integer. That timezone info comes from HA when we call `timestamp_local` (no timezone info in the result) or `timestamp_custom` with %z:
[code]
Consequtively in the first case the string will most likel

[2020-04-14 19:02] mago-kamar commented on #34207
![Schermata 2020-04-14 alle 20 59 35](https://user-images.githubusercontent.com/5904838/79263345-f50fcd80-7e92-11ea-9bac-84faac08c3c5.png)

If I click on TESLA, here what appear:
![Schermata 2020-04-14 alle 21 01 47](https://user-images.githubusercontent.com/5904838/79263493-37390f00-7e93-11ea-8bbc-0e835c7d7da4.png)

[2020-04-14 19:23] billasw1 commented on #32734
I am having the same issue with my DS18B20 sensor. Please advise

[2020-04-14 19:23] olivierjag2 commented on #34102
do you have update when he fix problem

[2020-04-14 19:25] Adminiuga commented on #34192
you would need to rejoin devices. ZHA keeps track of devices in `zigbee.db` which is updated when device joins/re-joins.

[2020-04-14 19:32] bdraco commented on #34130
@stigganOne It seems like STDERR is missing from that log.  You'll need to figure out where standard error is being logged to find the error.  I'm sorry I can't help with that as I don't have a freenas box.

[2020-04-14 19:32] prairieapps commented on #33934
Quick update, I'm able to finally replicate the bug you are experiencing @Scott8586

It appears to be an issue with how the component handles unit of measure on HA bootup.

If "Unit System" is set to metric on boot
1. Temperature shows correctly as celsius values
2. Change "Unit System" to imperial
3. Values are correctly converted to farenheit

If "Unit System" is set to imperial on boot
1. Tempe

[2020-04-14 19:33] bdraco commented on #34093
Its an M479fdw .. but I'm not sure that matters.  The screen on the printer was completely crashed.   Probably a memory leak in HP's code

[2020-04-14 19:33] andrewsayre commented on #34102
Let me clarify a few things:
- If you are getting a HTTP 400 or 401 issue related to a refresh token, the only way to mitigate the issue is to completely remove the integration, [clean-up your ST account using this utility](https://pypi.org/project/hass-smartthings-remove/), and setup the integration from scratch.  Please wait 15 minutes before starting over again to give the caches time to reset.

[2020-04-14 19:50] jd1900 commented on #34192
Yes. It seems to be properly configured once done manually through the configuration.yaml.

[2020-04-14 19:53] joeshaw commented on #20170
Poking this to keep it not-stale.  Same reasoning as https://github.com/home-assistant/home-assistant/issues/20170#issuecomment-543161199.

[2020-04-14 19:56] scheric commented on #34148
#### drobtravels/solaredge-local#23 explenation:
the local API has two addresses one for `status` data and one for `maintenance` data.
SolarEdge changed the layout in there local API. due to this change the optimizer data and the inverter temperature is not available.
There is a fix (https://github.com/merijn-weiss/solaredge-local/commit/7c50ea906309382584feb74710a4006f59d98b19) for the missing da

[2020-04-14 19:57] StevenLooman commented on #33827
So removing and re-adding the integration does not fix it? The searching for the router is the same code used in both the `upnp`-component and the `upnp-client search` command. Can you report if the search-command finds the device with `ST` being `urn:schemas-upnp-org:device:InternetGatewayDevice:1` or `urn:schemas-upnp-org:device:InternetGatewayDevice:2`?

Home Assistant stores data in JSON forma

[2020-04-14 20:02] stigganOne commented on #34130
@bdraco been looking and the only logs I can find is the two I've linked. thanks for trying to help me tho

[2020-04-14 20:13] roblamoreaux commented on #33758
I just tried forcing it to 0.9.0 and got the climate.nativezone error when I restarted HASS, so I rebooted the whole thing and now climate.nativezone is there but emergency heat had a problem. It is weird. thermostat.py matches the changelog except it....Oh I see the emergency heat fix I was looking for is actually 0.9.1. let me try that........It seems to be all working now with 0.9.1 but climate

[2020-04-14 20:18] YRRK commented on #34148
Ah now I understand.

I continuesly check the power. But I don’t every day check if the optimizers and temp data is coming trough. since this new version.
Now it’s night, so I can’t verify if I have the same problem. Tomorrow on daytime I’ll check if it indeed has no/0 value.

If these devices update them selves without asking probably every body will have this new firmware soon. Unless you’re of

[2020-04-14 20:38] bachya opened #34231 "SIMPLISAFE_NOTIFICATION events don't fire for notifications that exist when HASS starts"
## The problem

The `simplisafe` integration is supposed to fire `SIMPLISAFE_NOTIFICATION` events when new notifications arrive from the SimpliSafe Cloud. Currently, these events only occur if SimpliSafe creates notifications _while HASS is running_; notifications that exist when HASS starts up are never delivered.

## Environment

- Home Assistant Core release with the issue: 0.108.4
- Last worki

[2020-04-14 20:41] felipediel commented on #30215
@sagitt Download and run [this file](https://drive.google.com/open?id=1Gr-Qe_sdVL-Yn2g2ITDFYB1TTpd1pX8Z) using Python 3:

`python3 debug.py`

[2020-04-14 20:52] dolenec opened #34233 "Device tracker - all devices become "Away""
## The problem
All devices in Lovelace become marked as "Away" or "Offline"

## Environment
Home Assistant 0.108.4

- Home Assistant Core release with the issue: 0.108.4
- Last working Home Assistant Core release (if known): 0.107.7
- Operating environment (Home Assistant/Supervised/Docker/venv): HassOS 3.12
- Integration causing this issue: known_devices.yaml
- Link to integration documentation o

[2020-04-14 20:56] amelchio commented on #34128
I published a beta integration that I hope fixes the issue: https://github.com/amelchio/sonos

Please let me know how it works.

[2020-04-14 20:59] dolenec commented on #34233
After restart the problem is gone until randomly happen again..

[2020-04-14 21:05] felipediel commented on #30215
A question for everyone who has the Broadlink RM Mini 3 type 0x5f36 device. Is the device a [Red Bean](https://www.amazon.com/Broadlink-Universal-Remote-Control-Compatible/dp/B07X5XKM4L) model?

[2020-04-14 21:10] #33934 closed

[2020-04-14 21:12] sagitt commented on #30215
![IMG_4646](https://user-images.githubusercontent.com/169086/79274764-5c367d80-7ea5-11ea-8bc5-6b264c20a2d5.JPG)
[debug.txt](https://github.com/home-assistant/core/files/4477801/debug.txt)

[2020-04-14 21:17] dcnielsen90 commented on #33416
#33774 is removing the need for bravia.conf all together; so this should work the way you would anticipate it. As for handling the auth issue; the underlying library needs to throw some sort of indication that this happens (which currently it doesn't).

[2020-04-14 21:34] fedebruni84 commented on #30215
Nope, mine is black

[2020-04-14 21:44] Siytek commented on #29899
+1 happens with all of my lights (Tasmota flashed)

[2020-04-14 21:53] felipediel commented on #30215
@fedebruni84 Could you provide me a link to where you bought the device? Or do you remember the model name at the time of purchase (ex: Red Bean)?

@sagitt No device discovered. Please make sure that the devices are turned on and connected to the network. You may also need to disable your firewall.

[2020-04-14 22:01] sagitt commented on #30215
i copied the file in the config folder, from host docker exec -it homeassistant /bin/bash, done python3 /config/debug.py. device are online and in the newtork. what firewall? is local. broadlink manager see the device but can't connect to it. done agian debug.py.. no device found.

[2020-04-14 22:21] felipediel commented on #30215
@sagitt Something is blocking discover. It is probably a firewall. Try to run the program in your computer (disable your firewall first). You also may want to check your router options, some routers come with a built-in firewall. What type of device appears in Broadlink Manager?

[2020-04-14 22:25] fryjr82 commented on #34102
Thank you very much @andrewsayre that worked great!  I did have an extra HA app in my ST and could never get rid of it.  Your clean up fixed that and after a reboot my ST integration is still there!  Appreciate your help!

[2020-04-14 22:36] sagitt commented on #30215
![Schermata 2020-04-15 alle 00 36 08](https://user-images.githubusercontent.com/169086/79280640-1da6c000-7eb1-11ea-9942-a31ca54b2d01.png)

[2020-04-14 22:38] felipediel commented on #30215
@sagitt Run debug.py in the same device you are running Broadlink Manager.

[2020-04-14 22:45] ocalvo opened #34236 "Secondary switch of FortrezZ MIMO2+ cannot be accessed"
## The problem
FortrezZ MIMO2+ device contains 2 switches and 2 binary sensors, when this device is paired with home assistant, the secondary switch is not accesible to homeassistant, the following devices are created:
[code]

Turning on or off switch.fortrezz_mimo2_switch_2 or switch.fortrezz_mimo2_switch always turn on or off the same switch 1 and never switch 2.

Additionally, why are multiple

[2020-04-14 22:51] admun opened #34237 "after upgrade to 0.108.x, flic integration no longer load"
## The problem
flic integration no longer loaded after boot, nothing was changed in configuration.yaml.

## Environment
- Home Assistant Core release with the issue: 0.108.3
- Last working Home Assistant Core release (if known): 0.107.*
- Operating environment (Home Assistant/Supervised/Docker/venv):  hassio
- Integration causing this issue: flic
- Link to integration documentation on our website:

[2020-04-14 23:00] Jonny-O commented on #26758
Just tried it on my side. Got the same failed result. :-(

[2020-04-14 23:00] rouiz commented on #26944
Just ssh and replace the client.py with this mod provided by @gjacquet
https://github.com/titilambert/pyebox/pull/8/commits/bd38d484db772851916f7d5363f454119eda31bd

Work well.
Be sure to repeat this step every update. The client.py in pyebox (v 1.1.4) isn't updated.
Good luck.

[2020-04-14 23:04] sagitt commented on #30215
Windows 7 on VM works :D
[debug.txt](https://github.com/home-assistant/core/files/4478213/debug.txt)

[2020-04-14 23:06] ProLoser commented on #33416
The library seems to [return false if it fails to connect](accessControl). You want to be able to distinguish what error occurred? Can we not apply the same retry logic under any circumstance of a connection failure

[2020-04-14 23:20] felipediel commented on #30215
@sagitt I updated the file to support your device. Please [debug](https://drive.google.com/open?id=1Gr-Qe_sdVL-Yn2g2ITDFYB1TTpd1pX8Z) again to check if it worked.

[2020-04-14 23:22] aheath70 commented on #33944
Pull request #34045 has not resolved my issue. I upgraded to 0.108.4 this morning, and get exactly the same result as before - only 1 UPS able to be added and cannot add the second. I have tried deleting and re-adding, and also adding them in different orders with no success. First one works perfectly, and creates all the required sensors as per the integration configuration, but I cannot add the

[2020-04-14 23:26] ocalvo commented on #34236
## Traceback/Error logs

[code]

[2020-04-14 23:27] GatoPharaoh commented on #33375
@Kane610 just a quick feedback.
I‘ve been running #33942 for three days as well as #34067 for the past 24 hours.
No issues so far - device tracking seems to work perfectly again. No false marking when roaming or on non-unifi APs.

[2020-04-14 23:28] akasma74 opened #34238 "No warnings in HA log on duplicate entities in main config and packages"
## The problem

After reading the docs on [packages](https://www.home-assistant.io/docs/configuration/packages/) I had an impression that if I define say, `input_boolean` with the same name in a package and in `configuration.yaml`, HA won't allow me to do that because it reads: "You are not allowed to re-use “my_input” again for input_boolean in a package".
However, I did that accidentally and Che

[2020-04-14 23:28] r100gs commented on #33921
I have 2 Lights: 1 with 5 and 1 with 7 LEDs. Both stopped working with HA 108.x.
I discovered that wleds which are connected to WiFi during start of HA Work fine. If I turn them off than the problem starts

[2020-04-14 23:29] dcnielsen90 commented on #33416
Exactly. There is a difference between off, unauthorized, and polling for a pin.  These are distinguishable to the library but masked with try excepts and all categorized as False. It should exception when unauthorized (the case you saw repeatedly)

We don't want to categorize off with unauthorized because off is handled automatically with a WOL packet, unauthorized needs human interaction.

[2020-04-14 23:30] sagitt commented on #30215
think yes. now how i can test it into hass?
[debug.txt](https://github.com/home-assistant/core/files/4478276/debug.txt)

[2020-04-14 23:44] genestealer commented on #32236
I lost hours today trying to figure out why the URL attachment was not working, until I saw this PR and see the documentation is not in-line with the code :(

[2020-04-14 23:55] GaryOkie opened #34239 "STREAM issue playing local MP4 files via FFMPEG or Local File Camera"
## The problem

Any valid/verified MP4 file, including those created by camera.record, should be playable via FFMPEG camera integration specifying the file as input.   What happens is that when attempting to live view the MP4 stream, the stream playback will either hang (loops forever)  and show nothing  but an empty gray screen or it will display a small amount of video (2-4) seconds  then hang w

[2020-04-15 00:06] felipediel commented on #30215
@sagitt I just extended the library support to your device. But you need to disable the cloud in order to use it with Home Assistant. Follow these steps:

1. Remove the device from the official app (you must be connected to the internet)
2. Reset the device
3. Add the device to your local network
4. Do not set up a cloud (not now, not ever)

Run debug.py again and send me the file so I can check i

[2020-04-15 00:13] flashydave commented on #33827
I'm struggling with unreliable operation. There are always references to my router relating to different urns  e.g.  `urn:schemas-upnp-org:service:ContentDirectory:1` and `urn:schemas-wifialliance-org:device:WFADevice:1` whenever I do the upnp-client search from inside the container or some other host tool like GUPnP universal-control point or  gssdp-discover.

Just once over the last 4 hours of t

[2020-04-15 00:16] fullbuffer commented on #34128
@amelchio, this is definitely better.  I no longer see the URL.  However, after doing some checking and talking to family, they said that HA used to show the title/artist/album info at some point.  So, I started looking at the debug output - thanks for letting me know about that - and I can see that the title/artist/album art are there.. I pulled the below from the log I was just looking at.

I do

[2020-04-15 00:50] #30136 closed

[2020-04-15 00:58] balloob commented on #33944
@aheath70 did you remove the custom integration after upgrading?

[2020-04-15 01:08] bdraco commented on #33944
@aheath70 Just realized on is a '5E 850i' and the other is a '5E 650i'.  I'm adding a test for the other one now.

[2020-04-15 01:25] bdraco commented on #33944
@aheath70 I added tests and everything looks good.

As @balloob suggests you'll need to remove the one in `custom_components` to be able to see the changes.  I've also pushed the changes to that git repo as well.

[2020-04-15 01:32] RomRider commented on #34218
Same issue here, my camera reports `127.0.0.1` (not configurable) and thus it fails :)
[code]

[2020-04-15 01:33] bdraco commented on #34207
@mago-kamar Do you see the sensors in the developer states panel? at https://YOURIP:8123//developer-tools/state ?

[2020-04-15 01:38] evandozier commented on #32734
I take back my comment. I didn't realize that the sensors automatically show up as what I can infer is the sensor serial number or guid which doesn't align with what I called it in konnected. If you browse around to all your smartthings, I see them in the list.  Also confirmed that multiple devices on the same digital input enumerate correctly.

[2020-04-15 01:45] grantclem opened #34242 "Certificate Expiry not showing correct days left"
## The problem
The sensor stopped functioning and is now showing an error in the attributes (nothing in the logs). Not exactly sure when it stopped working.

## Environment

- Home Assistant Core release with the issue: 0.108.4
- Last working Home Assistant Core release (if known): Unsure, possibly 0.107
- Operating environment (Home Assistant/Supervised/Docker/venv): Ubuntu/VE
- Integration causi

[2020-04-15 01:50] raman325 commented on #33458
Ah it looks like when you ignore a setup it creates a different key. I will talk to the core team about the best way to address this and push a fix

[2020-04-15 01:55] SawKyrom commented on #33921
I reported the issue on Aircookie's github repository yesterday.

https://github.com/Aircoookie/WLED/issues/843

Same error.

![Screenshot (179)_LI](https://user-images.githubusercontent.com/34008245/79290586-2045ed00-7e92-11ea-9f8c-0cc66d6725d9.jpg)

[2020-04-15 02:01] thedansu commented on #33270
I'm on 108.3 and seeing a different, but maybe related error. Also seeing gaps in my ecobee graphs.

Log Details (ERROR)
Logger: pyecobee
Source: /usr/local/lib/python3.7/site-packages/pyecobee/__init__.py:562
First occurred: April 12, 2020, 3:22:03 AM (3 occurrences)
Last logged: 6:31:00 AM

Connection to ecobee timed out while attempting to get thermostats. Possible connectivity outage.

[2020-04-15 02:06] jjlawren commented on #33270
That's the new expected error when the Ecobee API is timing out. These are upstream problems on Ecobee's end. The HA side is working "correctly" even though you're still running into issues.

[2020-04-15 02:18] reisfni commented on #34168
@bdraco yep I’m set up with Home Assistant Cloud.

Do I need to add the base_url to my configuration.yaml? If so, is that just external URL listed in Configuration >> HA Cloud?

[2020-04-15 02:22] drobtravels commented on #34148
This update makes sense.  Feel free to create a PR to ignore this and log a warning.

Ideally this would be handled be handled in the client library, but I have limited experience with protocol buffers, and I'm not clear on how this can be handled in a not breaking way.  If anyone has the experience / time, please feel free to chime in on https://github.com/drobtravels/solaredge-local/issues/23

[2020-04-15 02:36] sam-ward commented on #32726
I've updated to 0.108.1 and then 0.108.4, and its working ok. I will continue to monitor and log another issue if I see it reoccur.

[2020-04-15 02:36] #32726 closed

[2020-04-15 02:45] aheath70 commented on #33944
@balloob I had already removed the custom integration before upgrading to 0.108.4

@bdraco I just tried to use the integration from your git repo, and I got the following error when trying to add a UPS:-

[code]

[2020-04-15 02:45] lesourcil commented on #33256
I have this almost exact same issue but I'm on version 0.108.3 and it was working fine on 0.107.2.

And when I turn on the lights they are all in parallel but one by one when closing....

I'm using a scene to turn on or off.

[2020-04-15 02:48] bdraco commented on #33944
@aheath70 FREQUENCY_HERTZ is new in 0.109.  I removed it from the repo and repushed

[2020-04-15 03:11] felipediel commented on #34205
This is more of a design choice than a problem. The entity registry takes precedence over the configuration file. To change the name of the entity go to `Settings -> Entity registry`, select `remote.broadlink` and update the entity ID.

[2020-04-15 03:17] aheath70 commented on #33944
[code]

[2020-04-15 03:20] bdraco commented on #33944
That one is new as well.  I'll strip it out

[2020-04-15 03:21] bdraco commented on #33944
pushed again with UNIT_VOLT removed

[2020-04-15 03:30] #34179 closed

[2020-04-15 03:30] teamsuperpanda commented on #33899
Can you control the LED strip from the Magic Home app?
Might sound obvious but is the IP address correct?
The third light '.0.183' has mode 'w' so the strip only has white leds on it?
The magic home controllers are RGB or RGBW so what type are each of them?

[2020-04-15 03:37] teamsuperpanda commented on #34226
All the errors look like they relate to your media_player.sonos_one
Is that working correctly?

0.108 has a [ breaking change](https://github.com/home-assistant/core/pull/33063) - Sonos entities playing radio streams used to cram the radio name, the artist and the song name into two attributes.

[2020-04-15 03:47] Blankdlh opened #34244 "Homekit Controller Pair Error: perform_pair_setup: Not a public key"
## The problem
Homekit Controller shows error "perform_pair_setup: Not a public key" when pairing.

## Environment

- Home Assistant Core release with the issue: 0.108.3
- Last working Home Assistant Core release (if known):
- Operating environment (Home Assistant/Supervised/Docker/venv): Docker
- Integration causing this issue: Homekit Controller
- Link to integration documentation on our website

[2020-04-15 03:51] bdraco commented on #34179
TYVM @bachya & @MartinHjelmare

[2020-04-15 04:07] stigganOne commented on #34130
@bdraco Think ive found it.
Exceptions: https://pastebin.com/TbgF7CnA
Errors: https://pastebin.com/esuu8kvg

[2020-04-15 04:23] bdraco commented on #34130
@stigganOne The openssl that comes with your OS is too old `cryptography.exceptions.UnsupportedAlgorithm: ChaCha20Poly1305 is not supported by this version of OpenSSL`
What are you running Home Assistant on?

[2020-04-15 04:25] stigganOne commented on #34130
@bdraco Freenas 11.3 as a core plugin. Everything worked fine before upgrading home assistant from 0.107.7 to 0.108.

[2020-04-15 05:01] bdraco commented on #34130
@stigganOne You'll need openssl 1.1.0 or later as the crypto was upgraded in the underlying homekit libraries.  It looks like `freenas` has an `openssl111` package but I don't know enough about `freenas` to advise on how to get home assistant to use it.

[2020-04-15 05:15] fedebruni84 commented on #30215
I bought on [amazon.it](https://www.amazon.it/dp/B07DPHG521/ref=cm_sw_r_cp_tai_vvPLEbBB56FVD)
I bought another one from the same link 2 years ago but it stopped working a few months ago (it wasn’t able to connect to WiFi anymore... before that it worked without problems in home assistant). So, instead of repair It under warranty, they provided me with a coupon for the same link, but it was 0x5f36.

[2020-04-15 05:27] felipediel commented on #30215
@fedebruni84 Great! Thank you!

[2020-04-15 05:34] stigganOne commented on #34130
@bdraco managed to update openssl111 inside jail. Still says haCha20Poly1305 is not supported by this version of OpenSSL

[2020-04-15 05:44] joselito11 opened #34246 "Wled lose connection to HA few time a day, HA failed to boot"
I have a Wled wich was working and was connected to HA. After 108 it started few times a day to losing connection: `Error fetching wled data: Invalid response from API: Timeout occurred while connecting to WLED device.`
This WLED when failes, then also failes HA to start up on restart

[2020-04-15 05:45] bdraco commented on #34130
@stigganOne There is a thread on the forums where others have hit this issue.  https://community.home-assistant.io/t/my-outdated-quick-start-for-home-assistant-core-on-freenas-11-2/71882/151. Its possible someone may have figured out how to do it.

[2020-04-15 05:53] kandrews2006 opened #34247 "Attempting to remove Unifi Integration results in HA reboot"
## The problem

Recently upgraded to HA Core 108.3 from 105.4.  My first plan of attack post-upgrade was to remove the Unifi Integration and re-add the integration based on the breaking changes described in HA Core 0.106.0 and also the deprecation of manual configuration in HA Core 0.108.0. I have removed all of the Unifi configuration from my YAML files as the Unfii Integration was previously con

[2020-04-15 05:53] Kane610 commented on #33375
@GatoPharaoh thanks for the feedback and trying out the fixes!

[2020-04-15 05:59] bdraco commented on #34130
You probably need to rebuild python linked to openssl111 similar to this: https://www.ixsystems.com/community/threads/openssl-update-to-1-1-1.76814/

[2020-04-15 06:01] Kane610 commented on #32322
Hi!

Im looking into the integration automatically removing clients the user chooses to "Forget" in UniFi

Should be done within a few days

[2020-04-15 06:07] sagitt commented on #30215
A question, how i can add it to local network without broadlink app?

[2020-04-15 06:12] bigboban commented on #33864
Critical bug, i think described in great detail... and ... no reaction?

[2020-04-15 06:26] bryanyork commented on #29807
I think it's due to the fact mjpeg doesn't support audio. We'd have to switch to mp4.

[2020-04-15 06:28] stigganOne commented on #34130
@bdraco Thanks will check it out.
Also 2020-04-15 08:22:25 INFO (Thread-7) [pyhap.hap_server] Got connection with ('10.0.1.9', 56822). is that right adress? shouldnt it be something like this?
[32m2020-04-15 08:22:12 INFO (SyncWorker_0) [pyhap.accessory_driver] Starting accessory MyHomeAssistant on address 10.0.1.14, port 51827.

[2020-04-15 06:29] mago-kamar commented on #34207
No, I don't.

[2020-04-15 06:31] fribse commented on #33908
I just tried the login yesterday, that won't work :-( The QNAP NUT server/client implementation does not allow you to change the username/password (their 'security' lies only in IP restrictions), and because the password is '123456', the plugin fails to start as the password is of course in the pawnd database :-o
But I can see you're working on doing a fallback solution? Very interesting

[2020-04-15 06:32] fredrike commented on #32052
Ok, I'll send a PR #34248 with that (it wouldn't hurt more than potential longer loading times for the Daikin integration).

[2020-04-15 06:37] dolenec commented on #34214
I have other kind problem with ENV4. My network settings is thatbI completly block ENV4 card from in/out internet and can communicate only inside my network for security meaning..

The only problem is that after some time the time is not correct and is off course not updated via internet. How to fix that time would be updated via HA or via my NAS NTP as I did fornother devices.

If I disable firew

[2020-04-15 06:40] haseat commented on #33866
0.108.4 seems to have fixed the problem for me so far

[2020-04-15 06:42] 03397 commented on #34226
@teamsuperpanda
Yes it seems that nothing has broken even if I am playing radio stations through sonos.
The error messages appear randomly, even when sonos is not playing something. What is this "Event is not JSON serializable"?
If I understand correctly, the recorder is waiting the json to be in a certain format and it is receiving another?

[2020-04-15 06:53] cureheaded commented on #33738
ipbanned is not enabled in my configuration.yaml. I have no ipbanned.yaml file

the error is "Unable to Reister Application .... check if mobile_app in installed ..."
mobile app is in my configuration.yaml

[2020-04-15 06:59] aheath70 commented on #33944
I can add them both now. Only sensors for the 650 are created though

[2020-04-15 06:59] fabaff commented on #34242
Seems to work fine on `dev`.

[code]

![Screenshot from 2020-04-15 08-57-42](https://user-images.githubusercontent.com/116184/79307515-5073a700-7ef7-11ea-8685-15bcebabaa60.png)

[2020-04-15 07:00] bieniu commented on #33908
I have the same issue with Synology NAS and CyberPower UPS. `unique_id` is `null`.

[2020-04-15 07:01] fredrike commented on #29814
@sagitt Could you please close this if the issue have been resolved.

[2020-04-15 07:02] sagitt commented on #29814
Yes, the problem is solved..
thanks.

[2020-04-15 07:02] #29814 closed

[2020-04-15 07:02] djxela commented on #34161
Same problem. Upgrade from 107.7 to 108.4. Platform HA Core on Ubuntu server 18.04

Log Details (ERROR)
Logger: homeassistant.util.package
Source: util/package.py:88
First occurred: 8:31:44 AM (2 occurrences)
Last logged: 8:34:21 AM

Unable to install package sqlalchemy==1.3.15: ERROR: Command errored out with exit status 1: command: /usr/bin/python3 /usr/local/lib/python3.7/dist-packages/pip/_ven

[2020-04-15 07:04] sagitt commented on #30204
i tested it with new releases. same problem

[2020-04-15 07:04] andriej commented on #33908
I have Synology NAS and UPS connected to it has no unique_id

[2020-04-15 07:24] sagitt commented on #30215
i configured wifi with IHC without adding it to the app. check. During debug i used a remote.

[debug.txt](https://github.com/home-assistant/core/files/4479643/debug.txt)

[2020-04-15 07:26] andriej commented on #33866
@haseat according to [changelog](https://www.home-assistant.io/blog/2020/04/08/release-108/#release-01084---april-13) nothing seems to be changed regarding system.
Maybe you've updated HACS meanhwile too?

[2020-04-15 07:29] haseat commented on #33866
@andriej you're right, I totally forgot about that, but I did it right before the 0.108.4 update

[2020-04-15 07:49] RuudKoolmees commented on #33870
I had the same problem as jooskoppers. my intesisbox reported value 63 as config_mode_map.I  I added this to my pyintesishome.py. And now have the other options back again.

[2020-04-15 07:51] Nossnevs opened #34250 "Relative_time function can't take datetime object from strptime in templates"
## The problem

I wan't to convert a time string to a datetime object to be able to use it in the relative_time function. This did not work.
`{{relative_time(strptime("2019","%Y"))}}`

## Environment

- Home Assistant Core release with the issue:
HA: 108.3
- Last working Home Assistant Core release (if known):
Unknown
- Operating environment (Home Assistant/Supervised/Docker/venv):
Home assistant

[2020-04-15 08:05] SuperNeo84 commented on #34030
i have the same issue. And me too, i have connect alexa to my HA with a custom skill ( haskaa )

[2020-04-15 08:07] kayloehmann commented on #34207
Same happening here. Running latest release.

[2020-04-15 08:15] jrester commented on #34207
Could you post the output when navigating those urls:
* `https://<powerwall-ip>/api/meters/aggregates`
* `https://<powerwall-ip>/api/sitemaster`
* `https://<powerwall-ip>/api/site_info`
* `https://<powerwall-ip>/api/status`

[2020-04-15 08:43] bigboban commented on #30215
@felipediel And what my brand new RM3 mini which is also not supported ("Writing compatible device not detected")? I am very sad because i spend money and my device is still useless.. Please help.

[2020-04-15 09:00] ElvisJaime commented on #33879
WORKSSSS GREAT !!!! Many many thanks

[2020-04-15 09:08] Anian-igor commented on #33256
I didn't use a scene. Maybe this is a point
[code]

[2020-04-15 09:08] mago-kamar commented on #34207
Here you can find the file attachment
[Archivio.zip](https://github.com/home-assistant/core/files/4480141/Archivio.zip)

Thanks a lot :)

[2020-04-15 09:27] bastienvans commented on #33375
Just leaving my $0.02.

I recently started having the issues of clients sticking to away mode.

This happened after I introduced a USG in my setup. I had been running 2 UniFi APs with ISP router for over a year with no issues. Adding an USG seem to break everything. Maybe something worth looking into.

Cheers.

[2020-04-15 09:34] andybjackson opened #34251 "Konnected integration assigns zone to the device rather than the zone"
## The problem

When setting up Konnected devices, the choice of **area** is made at the **device** rather than the **zone** level. For example, the first of my Konnected boards (which happens to be in the **Hall**) controls the door, motion and smoke sensors that are (also) in the **Hall**, as well as motion detectors in the **Playroom**, **Drawing Room**, **Study** & **Main Bedroom** as well as

[2020-04-15 09:39] YRRK commented on #34148
Yes values are 0, so the're proably indeed unreachable in the API. Aldough the amount of optimizers is online. While it failed the previous night. Interesting...

![IMG_0222](https://user-images.githubusercontent.com/48710822/79322689-77d56e80-7f0d-11ea-9bea-4d062c79ea82.PNG)

[2020-04-15 09:41] fufs commented on #34176
I have the cover added as a entities' card and the icon is garage. Moreover I did check the states page and the attributes are as following:

[code]
This is what my Google Home app looks like
![IMG_20200414_124951](https://user-images.githubusercontent.com/42976807/79322446-2200c680-7f0d-11ea-82a4-c97744791e11.jpg)

I did what balloon suggested and it is enabled, but under the gate entity I can se

[2020-04-15 09:41] littlbee commented on #33879
Also implemented the workaround. Thanks.
Seems a fix is not yet include in 0.108.4.  Any planned sub-release already ?

[2020-04-15 09:49] springstan commented on #34246
Please fill out the issue template, you can find it by clicking on `New Issue` and then selecting `Report a bug with Home Assistant`. Copy and paste the provided template into this already created issue, click preview to take a look at the empty template and then fill out as much as you can. Any additional information can be helpful!

Thanks for understanding :)

[2020-04-15 09:56] Jc2k commented on #34244
Not seen that before! Likely a new device with a different pairing scheme or it's particular implementation of HomeKit has a quirk we can't tolerate (normally its the other way around, e.g. Tado can't tolerate whitespace between json values). Can you please provide more information:

 * What device are you trying to pair?
 * Is it certified by Apples MFI program or a custom firmware?
 * What firmw

[2020-04-15 10:11] paparapapapapa commented on #33007
Ok @indykoning I tested it and talking about streaming and error `PTZ not supported` it works fine.
The problem still is `continuous_duration` accepts 1 at most, when it should be some number of seconds, like stated in the docs. BTW if I set it to 1 it moves, both in and out.

[2020-04-15 10:15] frenck commented on #34018
Fixed in #34074

[2020-04-15 10:15] #34018 closed

[2020-04-15 10:16] paparapapapapa commented on #33007
@McGiverGim I guess you got the following error in logs, did you?
`value must be at most 1 for dictionary value @ data['continuous_duration']`

[2020-04-15 10:18] amelchio commented on #34128
I don't think we ever decoded `streamContent` so maybe your family is mixing up stations. To find out, I added a couple of releases to the HACS integration so you can try out the unmodified versions as well. Can you please try out the `ha-0.107.x` release and upload a screenshot of that?

For album art, I am not sure. Your initial "Classic Rewind" screenshot does include an album cover while playi

[2020-04-15 10:19] skycryer opened #34252 "Automation Editor not loading data_template correct"
Automation Editor is not showing automations with data_template correct. It shows empty action if action uses data_tempalte. Service is visible but not service data.

Home Assistant 0.108.3

- Home Assistant Core release with the issue: 0.108.3
- Last working Home Assistant Core release (if known): Never
- Operating environment (Home Assistant/Supervised/Docker/venv): Docker
- Integration causing

[2020-04-15 10:24] skycryer opened #34253 "Script Editor fail saving if script uses !include"
## The problem
I moved all my scripts to new scripts.yaml to use script editor from Home Assistant. While working on some script i had a problem saving my changes. While testing I found out that script using !include make the problem. After removing the scripts it was fine. But as I am able to use that in yaml I should be able to use that in script editor also,.

## Environment
Home Assistant 0.10

[2020-04-15 10:27] skycryer opened #34255 "Script Editor break delay"
## The problem
I moved my scripts into scripts.yaml to use script editor. If I now try to edit the script the delay data got loaded as [object Object] so I am not able to edit it. And saving break the script because it also get written into files as [object Object].

## Environment
Home Assistant 0.108.3

- Home Assistant Core release with the issue: 0.108.3
- Last working Home Assistant Core rele

[2020-04-15 10:34] joselito11 commented on #34246
Reinstall integration after update to 108 fix it.

[2020-04-15 10:34] #34246 closed

[2020-04-15 10:36] amelchio commented on #34226
How do you start the music that causes this issue? Please be very specific :)

[2020-04-15 10:39] stigganOne commented on #34130
@bdraco Rolled back to 0.107.7 for now and working again without zeroconf. Will stay here for now while trying to figure out openssl for 0.108.

[2020-04-15 10:40] #32052 closed

[2020-04-15 10:42] McGiverGim commented on #33007
@paparapapapapa no, maybe because I was using in my tests 0.5 (half a second) in the value?

[2020-04-15 10:43] skycryer opened #34256 "Script Editor not loading Script names when editing"
## The problem
If editing a script the name field is not populated if script has not been created with script editor. Automation Editor loads names even if not created in Automation editor. Script editor should load the name even if not created in editor to prevent problems with names of scripts.

## Environment
Home Assistant 0.108.3

- Home Assistant Core release with the issue: 0.108.3
- Last w

[2020-04-15 10:46] skycryer opened #34257 "Script Editor should use script name for usage not a cryptic number"
## The problem
When creating a script with script editor the Name is not used like in automation editor as entity name. The script got saves with a number/id and this is used as entity id. There should be an option to set name and entity like in yaml or just use the name as entity like automation editor does.

## Environment
Home Assistant 0.108.3

- Home Assistant Core release with the issue: 0.1

[2020-04-15 10:49] jrester commented on #34207
Thanks, that helped a lot! I think I found the issue! For you the `site_info` response does not include a `utility`, `distributer` and `retailer` key. But the Integration uses `utility` to create the `unique_id` of your device and because this fails there is no device created.
It is just weird that though we have the same version the API responses differ. The only difference is the git-hash so it

[2020-04-15 10:56] InToSSH commented on #30215
@felipediel Hi Felipe, I installed the update, following these instructions [https://github.com/home-assistant/core/issues/30215#issuecomment-596163207](here). I have rewritten the __init__.py file in python broadlink and put the updated HA component files in custom_components/broadlink, however now the remote shows as unavailable.
This is my config in HA:
[code]
do I have to set the type aswell?

[2020-04-15 11:02] paparapapapapa commented on #33007
Your answer made me curious so I checked the timing. You are right, `continuous_duration` value is ignored, and defaults to slightly less than 400ms in my case (checked concatenating multiple zoom service calls interrupted by delays).

[2020-04-15 11:04] McGiverGim commented on #33866
My latest test with `0.108.3` was with HACS updated to the latest version, and that did not fix the problem for me :(

[2020-04-15 11:06] mkmer commented on #33375
@Kane610 - Following up from my side too: Clients continue to function normally with the fix #33942   in place.

One "strange" side effect I'm still seeing are 2 - 3 second "away" states on the apple clients on my network (Android clients do not appear to have this behavior).  Even with the away timer set to 2 minutes.  The Unifi controller event log does not have disconnect times > 2 minutes for

[2020-04-15 11:09] McGiverGim commented on #33866
I have observed that some users use `py-spy` to analyze what is going on with the system, one example on this thread:

https://github.com/home-assistant/core/issues/34093

Someone from here is able to execute it? I don't know nothing about python so I don't know if it can be executed in a running released hass.io/homeassistant instance.

[2020-04-15 11:24] McGiverGim commented on #33866
Other user with problems in reddit too: https://www.reddit.com/r/homeassistant/comments/fykg8l/ha_108_on_roller_coaster_cpumem_ride/

[2020-04-15 11:27] Lawrencezarb commented on #33866
I have the same problem, even using 108.4. I hve reverted to 107.7

[2020-04-15 11:30] mleiber opened #34258 "KEF integration, frequent error message in log: update_dsp()"
## The problem

Frequent error messages in log:

`TypeError: update_dsp() takes 1 positional argument but 2 were given`

## Environment

- Home Assistant Core release with the issue: 0.108.3 and 0.108.4, maybe earlier 0.108 versions as well
- Last working Home Assistant Core release (if known): new feature in 0.108
- Operating environment (Home Assistant/Supervised/Docker/venv): Home Assistant
- I

[2020-04-15 11:35] #33307 closed

[2020-04-15 11:36] mago-kamar commented on #34207
@jester, I manually changed the git-hash, because I tought that it could be a sensitive information. 😟
Do you need the correct git-hash?

[2020-04-15 11:38] jrester commented on #34207
Oh yeah, that would be great ;)

[2020-04-15 11:53] memphis3 commented on #32778
HA 0.108.4 the same delay ... Please help ! It`s very annoying :(

[2020-04-15 12:05] vzenrhen commented on #30596
I have same problem: `UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb0 in position 1008: invalid start byte`

This is apparently caused by too many devices added to xiaomi gateway. (for about 50 devices). I have encountered this problem several times. Removing a few devices has always helped.

[code]

[2020-04-15 12:06] Blankdlh commented on #34244
* What device are you trying to pair?
The device called "Life Smart Station", which like a zigbee(just for example) gateway。

* Is it certified by Apples MFI program or a custom firmware?
Custom firmware of the device manufacturer.

* WiFi or ethernet?
WiFI

* Have you tested it with an iOS device successfully?
   * If yes, did you set it up through the Apple Home app or the manufacturers app?
Yes

[2020-04-15 12:09] mrkesu commented on #28292
Same here, newest version and a plus account

[2020-04-15 12:12] adandl commented on #33950
Update - the message disapeard as soon as I uninstalled the Sonos Alarm addon (HACS).
Thank you for helping with this!

[2020-04-15 12:14] jazbraz commented on #33279
Same here
Apple XS Max iOS 13.4.1
Supervisor Version 217
Home Assistant 0.108.4
Running on: V-Machine
Error:
Received invalid webhook payload: required key not provided @ data[11]['state']. Got None

[2020-04-15 12:16] ludeeus commented on #33950
<https://github.com/AaronDavidSchneider/SonosAlarm/issues/2> @adandl issue is opened here.

[2020-04-15 12:18] GatoPharaoh commented on #33375
@mkmer most of the devices I‘m tracking are apple devices and have no wrong states since the patch. however, i‘ve set my away timer to 3 minutes.
I‘m going to try it with 2 minutes and report back

[2020-04-15 12:30] AaronDavidSchneider commented on #33950
SonosAlarm should be fixed with the new release

[2020-04-15 12:32] BlipRanger commented on #34036
Just wanted to confirm that the fix works on the XL824! Thanks again!

[2020-04-15 12:32] mago-kamar commented on #34207
[status.json.zip](https://github.com/home-assistant/core/files/4481164/status.json.zip)

[2020-04-15 12:34] JGNi commented on #33279
Apple 11
iOS 13.4.1

arch | x86_64
-- | --
dev | false
docker | true
hassio | true
os_name | Linux
os_version | 5.3.0-46-generic
python_version | 3.7.7
timezone | Europe/Copenhagen
version | 0.108.3
virtualenv | false

[2020-04-15 12:34] gurbyz commented on #31706
Just a note: I made a comment to ludeeus/pyaftership#13 and it suddenly got merged. :-)

I like the suggestion of @T-Grave to add the postal code in the `configuration.yaml`. Then the Lovelace Aftership card should also be working again for carriers that need a postal code for a shipment.

[2020-04-15 12:40] jmtemmos commented on #22219
Still buggy in 108.4 hassio version.

[2020-04-15 12:52] Swiftnesses commented on #30275
Still broken here too :(

[2020-04-15 12:52] uphillbattle commented on #32975
Changing line 122 in [https://github.com/home-assistant/core/blob/dev/homeassistant/components/mqtt/binary_sensor.py](https://github.com/home-assistant/core/blob/dev/homeassistant/components/mqtt/binary_sensor.py) seems to resolve the problem.

The line currently reads
`        self._expired = None`

I have - in HA version 0.108.4 - copied the `mqtt` component code to `custom_components` and chang

[2020-04-15 12:55] jrester commented on #34207
Okay, so it seems to be site specific whether those arguments are part of the response.
@bdraco What do think about creating the unique_id from the `PackageSerialNumber` which is returned by `api/powerwalls`? This should be unique to the powerwalls and as such also to the site.

[2020-04-15 12:59] autumnwalker commented on #34214
Hey @dolenec - that sounds like a completely different issue than I have outlined here. Your best bet is to open a new thread to have your issue addressed.

It sounds like you have an Envisalink issue though, not a HA issue. I did some reading about what you are describing when searching for a solution to my issue. Eyez On indicated that it is not possible to provide your own NTP server (as you ha

[2020-04-15 13:12] #31879 closed

[2020-04-15 13:15] bdraco commented on #32052
Thanks @fredrike !

[2020-04-15 13:17] bdraco commented on #33944
Are the sensors for the 650 showing up in https://YOURHASS:8123/developer-tools/state ?

[2020-04-15 13:33] Seechay commented on #33944
I'm having the same issue with 0.108.4 as well. I was able to add all 3 of mine with the custom component from previous tests. Additionally, my sensors don't show up in the integration page, but they do show up in developer-tools/state. Is this because they don't have a unique ID to be pulled into the integration page or something else?

[2020-04-15 13:36] 03397 commented on #34226
While I am playing music no error is spit at that time. The errors are appearing random time and while I am not  playing anything.

I am playing music using Sonos application or inside Home Assistant using a card that lists all my favourites from the Sonos application and then I select from there what I want to be played.

[2020-04-15 13:38] bdraco commented on #33944
@aheath70 Also please check entities https://YOURHASSS:8123/config/entities

[2020-04-15 13:39] uphillbattle commented on #32975
Oh, well, I've tried making my own pull request. Hope I did it correctly...

[2020-04-15 13:39] bdraco commented on #33908
@bieniu & @andriej   Would you please post the `NUT Sensors Available:` output like others have done above?

[2020-04-15 13:46] rashad commented on #34136
Great thank you very much ! I missed the update 🤦

[2020-04-15 13:59] #33846 closed

[2020-04-15 14:05] bieniu commented on #33908
Of course:
[code]

[2020-04-15 14:15] bdraco commented on #34130
@stigganOne You should be able to change `HAP-python==2.8.2` to `HAP-python==2.7.0` in homekit/manifest.json and use 0.108.x

Of course you won't get all the bug fixes from 2.7.0->2.8.2 and its much slower but it works without a modern version of openssl.

[2020-04-15 14:17] andriej commented on #33908
Here it is: ```[homeassistant.components.nut] NUT Sensors Available: {'battery.charge': '100', 'battery.voltage': '27.00', 'battery.voltage.high': '26.00', 'battery.voltage.low': '20.80', 'battery.voltage.nominal': '24.0', 'device.type': 'ups', 'driver.name': 'blazer_usb', 'driver.parameter.pollinterval': '5', 'driver.parameter.port': 'auto', 'driver.version': 'DSM6-2-2-24922-broadwell-fmp-repack-

[2020-04-15 14:32] JeffLIrion commented on #34018
https://github.com/home-assistant/core/issues/34018#issuecomment-612540851

@frenck the retrieval of the screencap is fixed (i.e., it shouldn't be an all black / invalid image), but this flashing is still an issue.

[2020-04-15 14:36] Ingo1977 commented on #22078
Hello All!
I think this was a pretty good discussion here.
Can someone please help us with the new Xiaomi Gateway V3 (Model ZNDMWG03LM)?
We already have a thread [here ](https://community.openhab.org/t/xiaomi-mi-mijia-gateway-v3-zndmwg03lm-try-to-open-port-9898/95903)but nobody could help so far.

Maybe you can oder have it already solved?

[2020-04-15 14:36] alokdhir commented on #34161
I figured it out. In the virtualenv, you need to:
```pip uninstall enum34```
Then restart ha.

[2020-04-15 14:36] #34161 closed

[2020-04-15 14:38] mkmer commented on #33375
@Kane610 - I may have missed one spot where it should be looking at the WIRELESS_CLIENT_ROAM. Not sure.
- controller.py Line 157:

        elif signal == "new_data" and data:
            if "event" in data:
                if data["event"].event in (
                    WIRELESS_CLIENT_CONNECTED,
                    WIRELESS_GUEST_CONNECTED,
                    **WIRELESS_CLIENT_ROAM,**

[2020-04-15 14:48] dennisgranasen commented on #34153
Disk space is not the issue: `/dev/root 15G 5,2G 8,6G  38% /`

[2020-04-15 14:52] emontnemery commented on #33617
@nitobuendia Thanks!
The method of connecting to manually added casts has been changed in PR https://github.com/home-assistant/core/pull/33922, and there is a chance your problem is solved by that PR.
Would you mind testing again on dev branch?

[2020-04-15 15:04] welbo97 commented on #33024
The same behavior has returned, within a day of the "fix". For devices not properly updating in lovelace, the ```switch.xxxx``` component is also not showing any data in the debug logs. The ```sensor.xxxx (rx and tx)``` and ```device_tracker.xxxx``` components do update. As before, the block/unblock switch does cause the device to become blocked/unblocked in the unifi controller as reflected in th

[2020-04-15 15:17] madhatter007 commented on #31613
TP-Link no longer finding devices!  At v0.108.4.  Restored back to 0.107.6 with same issue.
Tried to re-boot, remove, re-add Integration to no avail...
Maybe API changed??

[2020-04-15 15:22] stigganOne commented on #34130
@bdraco thanks will give it a try :)

[2020-04-15 15:23] mago-kamar commented on #34207
Hi,
during the update from 0.108.3 to 0.108.4, I was seeing the log activities, and I discovered these errors referring to Tesla PW addon.
Hope they could be useful for your corrections.

## LOG
2020-04-15 17:18:35 ERROR (MainThread) [homeassistant.components.binary_sensor] Error while setting up powerwall platform for binary_sensor
Traceback (most recent call last):
  File "/usr/src/homeassistant

[2020-04-15 15:29] bdraco commented on #34207
That would be much better than when I used for the initial version.  We could do a sorted join of `PackageSerialNumber` together in case the order changes later.

We would need to migrate the old unique like I had to do in `sense/binary_sensor.py` so it wouldn't break anyone.

[2020-04-15 15:48] bdraco commented on #33944
@aheath70  I pushed a new version to `https://github.com/bdraco/nut`, would you please pull, restart and give it another shot

[2020-04-15 15:49] bdraco commented on #33908
@fribse @andriej @bieniu

  I pushed a new version to `https://github.com/bdraco/nut`, would you please pull, restart and give it another shot

[2020-04-15 15:50] balloob commented on #34176
There was a bug that if you accidentally disabled 2FA, it would no longer show the toggle. We are fixing this in 108.5. After that, go to the UI and you can enable 2FA again. Sorry for the inconvenience and thanks for helping us track it down 👍

[2020-04-15 16:00] stigganOne commented on #34130
@bdraco worked like a charm. You're my hero. Thanks<3

[2020-04-15 16:04] Seechay commented on #33944
@bdraco, I tried out your latest version and it allows me to add all of my UPS and they show up in the integration page and in the entities list.

This isn't related to the current issue, but just wanted to throw it out to see if you were aware. The current released version in 0.108.4 allows you to choose "status" or "status data," but your latest version doesn't include "status" in the list of qu

[2020-04-15 16:11] mikesalz commented on #32422
@Jc2k I guess you gave up on this one. :)  Maybe a fix in 0.109.0?  I know there are some homekit_controller changes coming in that one.

[2020-04-15 16:16] Jc2k commented on #32422
Super busy atm. Haven't forgot. Unfortunately not much I can do unless you can try out code changes for me :-/ I can just buy one and test with that as i'd also need to be able to run it on UK electrics. Can it handle that through an adapter maybe? I wouldn't wanted to test it in my house for sure.

I think 'm going to have to try and recreate your HA environment here as closely as possible so i c

[2020-04-15 16:21] monpelaud commented on #32762
Hi,
Same issue for me!
Erreur inconnue: merci de réessayer plus tard (pas entre 23h et 2h)
I use a personal account not a professional account.

Best regards

[2020-04-15 16:27] wasp100 commented on #33885
@bdraco so, i think I have traced the issue:
I've switched **off** wifi on my iPhone (now on cellular) and changed the state of the lock from `unlocked` to `locked`. The apple tv remains on wifi.
iPhone = 192.168.1.35
Apple TV = 192.168.1.100
[code]
You will notice that the initially the apple tv is first reported as a stale socket (which it should not). It then resolves towards the end.
It also r

[2020-04-15 16:31] mikesalz commented on #32422
I'm sorry I don't know enough about Synology/Docker to be able to provide better info for you.  I guess I was just thinking/hoping the upcoming changes might fix whatever the issue is.

[2020-04-15 16:32] bdraco commented on #33944
@Seechay Those resources relay on "ups.status" and "ups.status.display" being available in the UPS data.  They haven't changed in either version

0.108.4:
https://github.com/home-assistant/core/blob/dev/homeassistant/components/nut/const.py#L40-L41

custom:
https://github.com/bdraco/nut/blob/master/const.py#L40-L41

[2020-04-15 16:42] bdraco commented on #33885
iPhones never close the connection to the HAP server if they can avoid it.  It will go stale when the phone goes to sleep though so that explains the disconnects.

I'm able to replicate this now with your steps.   I was able to get the notifications working again by switching to airplane mode and then leaving wifi off when turning off airplane mode.

It seems like an apple bug as the apple tv is g

[2020-04-15 16:43] Jc2k commented on #32422
I don't have any changes in the queue for 0.109.0 yet. It looks like there are some translation related changes in the pipeline. What changes are you thinking of?

[2020-04-15 16:43] fullbuffer commented on #34128
Hi Anders,

You may be right. I will give this a check as soon as I get a chance. Hopefully later today.

Is it possible that a 106 or 107 version have this capability?

Thank you again.

Cheers

Do you need computer expertise?
https://www.tyralcomputing.com
________________________________
From: Anders Melchiorsen <notifications@github.com>
Sent: Wednesday, April 15, 2020 6:18:17 AM
To: home-assi

[2020-04-15 16:48] mikesalz commented on #32422
I get this in my log, so I assumed changes were coming in 0.109.0.

[2020-04-15 16:49] Quentame commented on #32762
The issue is comming from the underlying library.

So we should all follow this issue Pirionfr/pyLinky#28
The maintainer is responsive and I hope a solution to come soon.

Closing this issue.

[2020-04-15 16:49] #32762 closed

[2020-04-15 16:51] Jc2k commented on #32422
Oh that. No thats a tiny code cleanup. Won't affect you at all. You can simulate the effect by backing up and then deleting the folder.

[2020-04-15 16:55] mikesalz commented on #32422
Do you think the issue is with the actual device?  I was able to pair the devices I originally had issues with (Koogeek powerstrip and iDevices outdoor switch).  This one is the [iDevices smart plug](https://store.idevicesinc.com/idevices-switch/).  Maybe it is not supported?

[2020-04-15 17:01] Quentame commented on #34209
I have more time to look at #30115 now, almost forget about it :sweat_smile:

Without sensors for now, as https://github.com/home-assistant/core/pull/30115#issuecomment-574367887 and https://github.com/home-assistant/core/pull/30115#issuecomment-569429492, may add it later on if wanted.

[2020-04-15 17:07] Jc2k commented on #32422
I don't think it's faulty if thats what you mean.  Every device implements the spec Apple provide and everyone implements it slightly differently. Because these devices are only ever tested with real iOS devices we have to find out what a real iOS device does so we can replicate it. People follow the spec enough to get it to work. And no more.

When building this kind of software you have to be st

[2020-04-15 17:18] mikesalz commented on #32422
Interesting.  Well, please know that I really do appreciate all of your help.  Is there any kind of additional logging I can enable that might help?  Or if I add it back to HomeKit, is there some data from there that I can pass on to you?

[2020-04-15 17:39] Buddha-zen commented on #34046
I support. Home Assistant 0.108.4, during the initialization of modbus RTU, the Home Assistant service crashes and there is no access to the site. We are waiting for corrections :)

[2020-04-15 17:51] janiversen commented on #34046
The others have not reported a crash of HA, that is something very new !!

We know the modbus integration stops, but that is not HA.

It is quite ok, that you are waiting for corrections, but when you report a problem like a crash of HA, without logs or anything, do not expect a solution to your problem.  A HA crash needs a new issue, because in this issue we only work to solve the serial problem,

[2020-04-15 18:19] bigboban commented on #30215
It works! My RM3 mini works! What i did:

- connect device to wifi using Broadling app, quit app just after wifi cinnection
- add custom init.py and broadlink custom component using this post: https://github.com/home-assistant/core/issues/30215#issuecomment-596163207
- download debug.py from this post: https://github.com/home-assistant/core/issues/30215#issuecomment-613670773
- install required li

[2020-04-15 18:26] allmoney commented on #34046
Updated to Home Assistant 0.108.4
Same error.
In logs found:
Error executing script. Service not found for call_service at pos 1: Unable to find service modbus/write_register

In UI I see:
![image](https://user-images.githubusercontent.com/939594/79373921-b3992400-7f5f-11ea-916f-850d5934e2df.png)

[2020-04-15 18:28] allmoney commented on #34046
And more in logs:

[code]

[2020-04-15 18:30] jnimmo commented on #33870
@RuudKoolmees what nodes does your Intesishome device support? I haven’t come across any with 63 yet

[2020-04-15 18:31] remknul commented on #32545
Experience the same on a fresh installed system: Hass 3.12, Aeotec z-stick.
Happened to a fibaro smoke sensor, and wall plugs.

[2020-04-15 18:34] mkmer commented on #33375
I think my short away problem is related to the wired bug - picking through the code, it looks like the system will declare a client away immediately if it's detecting the wired bug, regardless of the timeout setting.  I'm sure @Kane610 understands this better than me, and I may just be reading implementation incorrectly.  I suspect (for some reason) my apple devices are poking the wired bug.  May

[2020-04-15 18:40] jnimmo commented on #33870
I knew I should’ve started using a bitmap to check for functionality instead of a dictionary, so if a device had unusual values for config_mode_map.
@joostkoppers can you advise what your config_fan_map value is- or what additional mode your device has?

[2020-04-15 18:50] balloob opened #34264 "Translations 2.0"
Translations 2.0 to do list taken from https://github.com/home-assistant/architecture/blob/master/adr/0009-translations-2.0.md

#### Backend

- [ ] Update `translations develop` to substitute references (split out to #37261)
- [ ] Update scaffold scripts to use references.
     - [x] config flow #34523
     - [ ] device automation (split out to #37262)
- [ ] Create generic strings to be used as re

[2020-04-15 18:59] sublime24 commented on #33864
Having the same issue. Hassio worked fine on 107 updated to 108 constant crashes daily. will work for some time then become completely unresponsive, only pings. Off loaded my logs thinking that might be causing the issue as I was retaining for 7 days. But still random crashes logs seem fine. I do see MQTT cache hit: (MainThread) [supervisor.auth] Home Assistant not running, check cache
20-04-15 18

[2020-04-15 19:05] RuudKoolmees commented on #33870
Hi James.
It is the same as config_mode_map 31.
I copied the line with value 31 and add it with 63.
I have a Mitsubisi Heavy industries SRK63ZS-W with a Intensishome MHI domestic

[2020-04-15 19:10] fufs commented on #34176
No problem. Thanks for fixing it 👍.

[2020-04-15 19:10] #34176 closed

[2020-04-15 19:11] jnimmo commented on #33870
Can you drop in a screenshot of what it looks like on the intesishome app or website?

[2020-04-15 19:11] djxela opened #34265 "Recorder/History - Unable to install package sqlalchemy==1.3.15 after upgrade to version 108."
## The problem

  After upgrade from 107.7 to 108.5 I have problems with recorder and history. This integration doesn't start. Everything working fine without history. I tried to remove db, reinstall python, reinstall sqlalchemy. No results. On 107.7 everything was fine

``

## Environment

- Home Assistant Core release with the issue: 108.3,108.4,108.5
- Last working Home Assistant Core release (

[2020-04-15 19:16] SeraphimSerapis commented on #31613
Mine still work. Can't confirm.

[2020-04-15 19:20] Sjeff opened #34266 "Failure getting NUT ups alias, Socket error"
After updating to 0.108.4 the NUT all the sensors are unavailable.
Removed the intergration.
Added the intergration the following error appears :

ERROR (SyncWorker_8) [homeassistant.components.nut] Failure getting NUT ups alias, Socket error.

Works again when reverting back to 0.108.3

## Environment

- Home Assistant Core release with the issue: 0.108.4
- Last working Home Assistant Core releas

[2020-04-15 19:21] RuudKoolmees commented on #33870
![Screenshot_20200415-211943](https://user-images.githubusercontent.com/62937557/79379327-0b835b00-7f5f-11ea-8098-fa162a241166.jpg)

[2020-04-15 19:26] bdraco commented on #34266
@Sjeff

Can you trying deleting setting it up again in 0.108.4?  There was only a minor change between 0.108.3 and 0.108.4

[code]

[2020-04-15 19:26] Kane610 commented on #32545
Unassigning myself for the moment since this is nothing I have time to look at

[2020-04-15 19:28] bdraco commented on #34266
If that doesn't work, I've setup a version with more debug output that can be installed in `custom_components`

Step 1:
Add the following to your configuration.yaml
[code]

Step 2

[code]

Step 3:
Restart

[2020-04-15 19:31] Sjeff commented on #34266
Hi @bdraco i allready removed the intergration and readded it in 0.108.4.
Also when i try and add the NUT intergration to my test setup (raspbian docker supervised home assistant) i never added the NUT intergration before. i receive the same error.

![image](https://user-images.githubusercontent.com/11430228/79380202-62d5fb00-7f60-11ea-9c0f-9f3876f88560.png)

i will add the custom component and re

[2020-04-15 19:32] Dreamoffice commented on #30275
i have the same issues :-(

[2020-04-15 19:34] Kane610 commented on #33024
Im running 5.12.66 but older firmware on all my hardware. Could you try downgrading?

[2020-04-15 19:34] fullbuffer commented on #34128
HI Anders,

Ok.. I've gone through and played around a bit using each version.  This is what I've found thus far:

1. Not playing music shows the station title and station art on 107, 108, and the beta-001

2. While playing music. the following behaviors were observed:
107 = the station number, name, and art shows; no artist name, song title, or album art
![image](https://user-images.githubusercon

[2020-04-15 19:36] Kane610 commented on #33375
That is only to keep track of wireless devices in order to avoid the wired bug. Roaming is not needed there since it is either wireless or wired.

[2020-04-15 19:39] Kane610 commented on #33375
It could be that the controller reports it as disconnecting from wireless before going the wired state, so it is not necessarily the wired bug but rather the change from polling to pushing . Still the detection timer shouldn't mark it as disconnected 🤔

[2020-04-15 19:43] bieniu commented on #33908
@bdraco The new version is great! Thanks.

![image](https://user-images.githubusercontent.com/478555/79381052-a9782500-7f61-11ea-8db8-1c742a24d962.png)

[2020-04-15 19:48] hunleyd commented on #34233
Identical experience here with device_tracker and nmap:
[code]
[code]

[2020-04-15 19:49] iltomma commented on #34046
update to 0.108.5

`WARNING (MainThread) [pymodbus.client.asynchronous] Not Importing deprecated clients. Dependency Twisted is not Installed

ERROR (MainThread) [homeassistant.setup] Error during setup of component modbus

Traceback (most recent call last):

  File "/usr/src/homeassistant/homeassistant/setup.py", line 171, in _async_setup_component
    hass, processed_config

  File "/usr/src/hom

[2020-04-15 19:50] ronaldheft commented on #33864
Looking like this could be related to #30962 or #33636. Any thoughts @jlmcgehee21 or @frenck?

[2020-04-15 19:54] Sjeff commented on #34266
Test enviroment:
![image](https://user-images.githubusercontent.com/11430228/79382104-4b4c4180-7f63-11ea-8f5f-86a0f16cf7d1.png)

Logs:
2020-04-15 21:50:02 ERROR (SyncWorker_5) [custom_components.nut] Failure getting NUT ups alias, Socket error.
2020-04-15 21:50:02 DEBUG (SyncWorker_5) [custom_components.nut] Error getting NUT vars for host xxx.xxx.xxx.xxx: Socket error.

Main enviroment:
After upd

[2020-04-15 19:55] Kosh42 commented on #33921
Same here. Issue since 108. Had to delete the WLED integration from HA to make them usable again.

[2020-04-15 20:00] felipediel commented on #30215
Hi. I had to make some changes and they haven't been tested yet. Could someone help me to [debug](https://drive.google.com/open?id=170tGY21UbV0XBg8ggm9ZT7uWuPxLGouv) again? Just download the file, open the folder in the terminal and type:

`python3 debug.py`

Send me debug.txt.

[2020-04-15 20:08] bdraco commented on #34266
Can you connect to the UPS manually?

[code]

[2020-04-15 20:09] zhulik commented on #34047
@frenck for some reason, the app built from sources using the PKGBUILD from AUR does not know it's version and returns an empty string.

[2020-04-15 20:12] mcnutter1 opened #34268 "iAqualink integration causes HA to get hung at random intervals."
I had this issue last year where HA would just hang up and atop working when the iAqualink integration is enabled... sometimes after a day, sometimes after an hour. Through the Winter my pool was shut down and I disabled the integration... I re-enabled it the other day and the issue is happening again.

I'm running 108.3... I notice in the logs repeated messages saying iAqualink disconnected and r

[2020-04-15 20:18] sagitt commented on #30215
[debug.txt](https://github.com/home-assistant/core/files/4483556/debug.txt)

[2020-04-15 20:44] bkaufx commented on #34266
Same issue here.  All sensors unavailable after update to 0.108.4  I get the same telnet output as you:

$ telnet 127.0.0.1 3493
Trying 127.0.0.1...
Connected to 127.0.0.1.
Escape character is '^]'.

ERR UNKNOWN-COMMAND
`

[2020-04-15 20:45] jjlawren commented on #34242
The certificate is failing as it's considered self-signed. Are all intermediate Let's Encrypt certificates provided in the chain? Are current root CA certs available in your system?

Is this a public DNS name I can check? Are you certain the HA instance and your browser are connecting to the same IP with the DNS name in question?

[2020-04-15 20:45] bdraco commented on #34266
Is that the only error in the log ?

[2020-04-15 20:47] bkaufx commented on #34266
I don't have any errors in my home assistant log.  It just says

`2020-04-15 13:36:05 INFO (MainThread) [homeassistant.setup] Setting up nut
2020-04-15 13:36:05 INFO (MainThread) [homeassistant.setup] Setup of domain nut took 0.0 seconds.`

[2020-04-15 20:50] lemiks commented on #34046
The same log on HA started 1.108.0 and continues till last 1.105.5

[2020-04-15 20:54] Sjeff commented on #34266
Yes i can connect to the server via telnet.
[code]

I updated to 0.108.5 just to see what is happening.
The custom intergration seems to work!
However when removing the custom intergration no devices are loaded in the intergration:

INFO (SyncWorker_18) [homeassistant.loader] Loaded nut from homeassistant.components.nut
![image](https://user-images.githubusercontent.com/11430228/79387402-f82abc80-

[2020-04-15 20:56] joostkoppers commented on #33870
Mine is the same as RuudKoolmees. The integration worked fine until 0.108. The airco is a Mitsubishi SRK/SRC 80ZR-S, connected via Airconwithme. The interface looks like:

![82DE0B69-18B4-447B-A933-712A74651A83](https://user-images.githubusercontent.com/57897597/79387612-4d66ce00-7f6c-11ea-8146-21d87d8dff82.jpeg)

[2020-04-15 20:59] frenck commented on #34047
Alright! That makes sense in that case, thanks for letting me know 👍

[2020-04-15 20:59] bdraco commented on #34266
@Sjeff The custom integration has a newer config format then 0.108.x so removing it after setup is expected to break.

[2020-04-15 21:03] Sjeff commented on #34266
After reinstalling the custom intergration it works again.
When can i remove the custom intergration? 0.109.x?

[2020-04-15 21:03] #33327 closed

[2020-04-15 21:04] bkaufx commented on #34266
I removed the custom integration and all my sensors came back with the regular one.  It still says "This integration has no devices." in the integration configuration menu.

[2020-04-15 21:07] sagitt commented on #30215
problems with new 108.5.

![Schermata 2020-04-15 alle 23 05 39](https://user-images.githubusercontent.com/169086/79388546-cca8d180-7f6d-11ea-8172-c43bb7bff9b3.png)

[2020-04-15 21:07] bdraco commented on #34266
Yes 0.109

[2020-04-15 21:08] bdraco commented on #34266
Your UPS doesn't provide a serial number and we couldn't determine a unique id for the device so it won't show up in the integration area.  You can find the sensors at `https://YOURHASS:8123/config/entities`

[2020-04-15 21:10] lopez3 opened #34269 "Modbus crash at startup 0.108.5"
## The problem

Home Assistant won't start after upgrade to 0.108.5

## Environment

- Home Assistant Core release with the issue: 0.108.7
- Last working Home Assistant Core release (if known): 0.107.x
- Operating environment (Home Assistant/Supervised/Docker/venv): venv
- Integration causing this issue: modbus
- Link to integration documentation on our website:

## Problem-relevant `configuration

[2020-04-15 21:15] Debug1Bug commented on #34134
Same problem here. https://community.home-assistant.io/t/stuck-on-loading-data-after-upgrade-from-107-7-to-108-x-tried-them-all/187175

[2020-04-15 21:23] sahne2000 commented on #33870
It has been working for me again since the 0.108.4 update. Thanks @jnimmo

[2020-04-15 21:40] felipediel commented on #30215
@sagitt The new debug is a test to see if I can make your life a little easier for now.
I have no idea where this `<!DOCTYPE html>` tag came from. Are you sure you have the correct file at `/usr/local/lib/python3.7/site-packages/broadlink/__init__.py`? Try replacing it by [this file](https://github.com/mjg59/python-broadlink/blob/master/broadlink/__init__.py).

[2020-04-15 21:49] sagitt commented on #30215
Solved. Bad init download

[2020-04-15 21:50] fhold commented on #27736
It's still not working

[2020-04-15 21:56] FrodeMMeling opened #34270 "Mill heater - connection issues"
## The problem

I am not getting the Mill heat integration to work:
I added to confiuration.yml:

climate:
  - platform: mill
    username: myemail
    password: mypwd

## Environment

I am running on docker latest image:
homeassistant/home-assistant   latest              b5121b145c9e        5 hours ago         1.38GB
Docker version 19.03.6, build 369ce74a3c
Ubuntu 18.04 LTS
- Integration causing

[2020-04-15 22:07] fufs commented on #34176
That fixed it! Honestly I don't remeber disabling it, but must have been one of does nights, where you don't exactly recall what happend. Thank you again very much.

[2020-04-15 22:07] vdemidov commented on #34046
[code]
Errors in HA from 0.108.1 to 0.108.5 version.

[2020-04-15 22:13] Jarige opened #34271 "create_connection() got an unexpected keyword argument 'ping_interval'"
## The problem

I upgraded from Home Assistant 0.103.X (forgot which one) to Home Assistant 0.108.4 and made sure that I made the required changes to convert my media_player configuration to a webostv configuration (which included removing webostv.conf). However, after that, when I try to pair with my tv a popup comes with this error. I suspect it is related to https://github.com/home-assistant/co

[2020-04-15 22:18] DoffenIsCool commented on #33870
No problem for me with versjon 0.108.4
My IntesisHome is controling Panasonic AC

[2020-04-15 22:24] JCrankWV commented on #33944
I also was having this same issue.  Couldn't add more that 1 UPS.  I used the componet fromhttps://github.com/bdraco/nut and I can now add both of my UPSs

Thanks

[2020-04-15 22:38] grantclem commented on #34242
Yes all certs seem ok.

Apart from DuckDns issues over the weekend, everything is working fine with name resolution.

[2020-04-15 22:58] InToSSH commented on #30215
@felipediel I have run your `debug2.py` file. Here is the debug:
Without learning a code: [https://pastebin.com/Y0uXWm9K](url)
With learning a code: [https://pastebin.com/5vEAEdT3](url)
Now using your debug I actualy realized that I don't know why I always thought my device is `0x5f36`, actually it is `0x272a`

[2020-04-15 23:04] aheath70 commented on #33944
Installed the latest version from your repository, and it works a lot better. I can now add the 2 UPS's, and I can see the details in the integration page for each one. All entities appear to be created successfully.

[2020-04-15 23:05] elafargue commented on #30215
Here's the debug.txt for a `0x5f36` RM Mini 3 device. Since the device wanted to learn a code as part of the tests, I did send it a remote control button press. Hope this helps!
[debug.txt](https://github.com/home-assistant/core/files/4484085/debug.txt)

[2020-04-15 23:07] InToSSH commented on #30215
@elafargue I see your Device Type is detected as 0x272a in the debug file aswell, so it is something about the python script.

[2020-04-15 23:11] elafargue commented on #30215
Well yeah, the python test script hardcodes the device type to `0x272a` :) Looks like @felipediel has found something interesting about the actual meaning of those two bytes...

[2020-04-15 23:11] reisfni commented on #34168
@bdraco I took a look at the changes you put in for #33724 and based on what I read, should I be seeing a cloudhook entry show up in the config/cloud/account page after adding the Rachio integration? I didn't see one, so I removed / re-added the integration and still not seeing one.

Thanks

[2020-04-15 23:15] mvn23 commented on #30167
This should be fixed in 0.109 by #32408 and #33529, but I forgot to mention it in the PRs. Please check and provide feedback once 0.109 is out.
Thanks!

[2020-04-15 23:20] andriej commented on #30167
So nice!

[2020-04-15 23:22] bdraco commented on #34168
@reisfni Realized cloudhooks don't land until 0.109.  I'll pull the code out so you can give is a shot shortly.

[2020-04-15 23:25] InToSSH commented on #30215
Right, looking at the actual code helps, I should do it more often haha, didn't realize it is hardcoded now.

Anyways I just got it working with HA aswell now. I don't know what I did differently, just started from scratch using the files I got here (python init.py + component) and it started working.

[2020-04-15 23:30] bdraco commented on #34168
I've setup a version with more debug output that can be installed in `custom_components`

Step 1:
Add the following to your configuration.yaml
[code]

Step 2

[code]

Step 3:
Restart

[2020-04-15 23:30] elafargue commented on #30215
it's actually great news, it probably means that what the "devtype" that was used all along is actually... not the device type? Probably more like a protocol version, and can be the same on all devices? I'll read the code a bit more to understand when I have a minute. Nice job as always @felipediel . These Broadlink devices are so handy!

[2020-04-15 23:44] Zireael opened #34275 "hassio_audio docker container hijacks raspberry pi audio output: no sound on system"
## The problem
installing hass through docker on raspberry pi causes the system to lose ability to play sounds. Looks like hass hijacks all audio output devices.

Someone attempted to make a fix to it here:
https://github.com/OPHoperHPO/hassio-addons/tree/master/pulseaudio_fix

If I manually stop the `hassio_audio` docker container, I get sound from my system from my audio/video player. No idea wh

[2020-04-15 23:45] felipediel commented on #30215
The device type is like a version negotiation. We can use an older version, as I did in the test. I will leave it this way temporarily, so that users do not need to find out the device type. As soon as I implement discover() we will get the correct type from the device in order to improve communication.

[2020-04-15 23:51] jonwaland opened #34276 "Yeelight custom effects incomplete support"
## The problem

Yeelight integration lists RECOVER, STAY and OFF as options for a Flow ACTION. OFF isn't accepted and generates an error

## Environment

- Home Assistant Core release with the issue: 0.107.7
- Last working Home Assistant Core release (if known):
- Operating environment (Home Assistant/Supervised/Docker/venv): vevnv
- Integration causing this issue: yeelight
- Link to integration d

[2020-04-15 23:53] andriej commented on #33908
Works for me too :)

[2020-04-16 00:01] amelchio commented on #34128
So if I am understanding you right, we now have feature parity with 0.107 – actually we are slightly ahead? In that case I will submit the beta-001 code as a fix for this issue.

I will have a look at extracting the artist and title as a separate issue, no promises though :)

Thank you for the thorough feedback, that is very nice to work with 👍

[2020-04-16 00:12] reisfni commented on #34168
@bdraco
All three steps complete:
![image](https://user-images.githubusercontent.com/10733802/79400364-e0871000-7f3a-11ea-8f61-2b30f627ccf0.png)

However, I'm still having the same issue.  When toggling a zone on in the from the HA front end the Rachio Controller turns the zone on however the zone entity switch state goes back to 'off'  after a few seconds.

![image](https://user-images.githubuser

[2020-04-16 00:13] fullbuffer commented on #34128
Yes, that's correct.

Awesome. Thanks for knocking this out so quickly.

Completely understood.  If you do work on it at any time and want someone to test, please don't hesitate to reach out to me again.  You can do it through github or if you still have my email, you can use that just as easily.

Absolutely.  It was fun and I'm glad to give back even in this small way.  Thanks again for all you'v

[2020-04-16 00:15] bdraco commented on #34168
Would you please check `.storage/core.config_entries` to see if a cloud hook was created in the `rachio` entry?

[2020-04-16 00:18] i00 commented on #34018
@JeffLIrion  - the screenshot always worked ... the reason that it would be black is when protected content is running as mentioned in the post (YouTube **(but only premium videos)**, Netflix, HBO Go, Amazon Prime Video)

[2020-04-16 00:20] #29998 closed

[2020-04-16 00:32] mikesalz commented on #32422
I de-associated one of my other HomeKit switches tonight, and attempted to pair it with HA.  It worked perfectly.  It almost seems to be isolated to that one switch.  Based on your description above, it sounded like some devices need to be coded on a case by case basis.  Could that be true with the iDevices switch that I am having trouble with?

[2020-04-16 00:46] LordShadowen commented on #34207
just upgraded to 108.5 and I've found the same issue.

`2020-04-15 17:25:43 ERROR (MainThread) [homeassistant.components.binary_sensor] Error while setting up powerwall platform for binary_sensor
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py", line 178, in _async_setup_platform
    await asyncio.wait_for(asyncio.shield(task), SLOW_SETUP_

[2020-04-16 00:50] ovid-io commented on #32778
Same issue on 0.107.7 and 0.108.3

[2020-04-16 00:54] lmamakos opened #34278 "elkm1 climate entity for thermostats seems broken in 0.108.3 release"
## The problem

The climate entity for ElkM1 attached thermostats seems broken in a recent version 0.108.3 with absurbdly high temperatures .

The attributes from my climate device look like:
[code]

## Environment

Running `Home Assistant 0.108.3` in the form of the Home Assistant generated docker container, deployed in docker on Ubuntu 18.04.  The Elk M1 panel is connected to Home Assistant via

[2020-04-16 01:04] ovid-io commented on #32260
I can't get any of my tuya rgb lights/led strips to display rgb picker on neither 0.107.7 or 0.108.3

[2020-04-16 01:09] ovid-io commented on #30362
Have same issues with no rgb controls and brightness not being read correctly from the service. Hope this integration is not abandoned...

[2020-04-16 01:57] bdraco commented on #34278
I've setup a version with a potential fix can be installed in `custom_components`

Step 1:
Add the following to your configuration.yaml
[code]

Step 2

[code]

Step 3:
Restart

[2020-04-16 02:18] Adminiuga commented on #34192
Logs???

[2020-04-16 02:33] bdraco commented on #34173
Hi @drewgraham Did you have any success with the testing?

[2020-04-16 02:39] bdraco commented on #34222
@FidgetyRat fixed in 0.109

[2020-04-16 02:44] atechnical commented on #32380
Same issue on Home Assistant 0.108.3
Errors in chronological order below.
I am using a Conbee 2 to integrate some Sengled bulbs if it matters.

Log Details (ERROR)
Logger: homeassistant.components.hue.bridge
Source: components/hue/bridge.py:131
Integration: hue (documentation, issues)
First occurred: 8:17:00 PM (82 occurrences)
Last logged: 10:28:06 PM

Request failed 3 times, giving up.

Log Deta

[2020-04-16 02:45] andriej commented on #33908
@bdraco one more thing before release probably, while trying to disable some entities, I've got this in log:
[code]

[2020-04-16 02:49] bdraco commented on #33908
Try removing all nut config entries and resetting everything back up again.  Hopefully it is just an artifact from a previous issue that I already fixed.

[2020-04-16 03:00] gutoruts commented on #26758
I was facing this scenario. It was a networking issue.
I use a DNS Host Override on my router because my internet provider modem isn't capable of loopback.
So when any device ask for the home assistant domain, the DNS on my router replies with the internal IP to overcome the lack of loopback on the modem.
But the Google Home devices are programmed to use the Google DNS. This way, when the Google H

[2020-04-16 03:01] andriej commented on #33908
After removing and restarting the integration, I've re-added it and chose 3 out of 4 sensors.
Everything went well, but while trying to add 4th one:
[code]

[2020-04-16 03:11] bdraco commented on #33908
@andriej Are you deleting the config entries for nut or unchecking the sensors in the options flow?

[2020-04-16 03:12] andriej commented on #33908
After re-add I've checked 3 out of full list and then tried to check another one.

[2020-04-16 03:14] bdraco commented on #33908
Please try deleting the NUT config entries (Trash can icon) and then resetting everything back up to clear out anything that was left over.

[2020-04-16 04:00] Krocko commented on #33847
I found out, that the problem only exists if I use this setting inside a package.
Inside the configuration.yaml it is working.

[2020-04-16 04:20] qJake commented on #32380
0.108.5, still experiencing, but (at least for the past 24 hours) seems to be a little better:

![image](https://user-images.githubusercontent.com/652006/79414231-b0a62f80-7f6f-11ea-875c-f8863cd38d19.png)

Not sure why it's so random/sporadic.

[2020-04-16 04:47] thehaxxa commented on #34046
So anyone who is having issues I recommend simply copying the 0.107.7 modbus implementation into a 0.108.x installation until this is fixed.

This method works fine, however I would recommend implementation is changed back until the serial component can be fixed or pymodbus is implemented using a different serial method in HASS. Its less than ideal to have a broken implementation across several re

[2020-04-16 05:13] bigboban commented on #30215
@felipediel - I use your custom source code for broadlink component and it works. A have "rm_mini3_5f36" model.

This extra source will be custom forever or you will put it into HA oficial sources?

[2020-04-16 05:19] jes1417 commented on #34018
@i00 also Twitch streams are blacked out, you can see the comments but no stream 😕

[2020-04-16 05:41] janiversen commented on #34046
I am preparing that as we speak.....however I want to keep the other features added, so it is not just a simple copy/paste operation. I miss updating 1 file and test before making the pr, for dome of you to test

[2020-04-16 05:43] panste13 commented on #33065
Upgraded to 108.5 with the same "lovelace" result, however the message pin points that the issue is that onvif doesnt generate ids .....

(Ill try the sleep function as well)

![image](https://user-images.githubusercontent.com/58640428/79418491-7499bb80-7fbd-11ea-9144-d916d196f518.png)

[2020-04-16 06:09] Danielhiversen commented on #34270
Do you have other cloud integrations working in Homeassistant? It looks like it is a problem with your internet connection.

[2020-04-16 06:48] Gunth commented on #33866
I also have the same issue with the 108.5 version .... :-(

[2020-04-16 06:50] ludeeus commented on #34264
Since we now are doing changes to the translation handling, can we also change the directory where these exist?

Today they are located in `.translations/`, if that were to change to `translations/` without the `.`, it would not mean much for core integrations but will save maintainers of custom_components a lot of trouble since by default the user does not see and therefore does not copy over the

[2020-04-16 06:54] zewelor commented on #34276
Hi

problem is that yaml interprets off as boolean, you need to quote it 'off'.
[code]

https://yaml.org/type/bool.html

[2020-04-16 07:09] andriej commented on #33908
Integrations -> NUT -> Trash -> integration deleted -> restart
HA restarted, logs clear -> Integrations -> +NUT -> checked 3 out of 4 interesting values -> added, can see the values
Integrations -> NUT -> cog wheel -> +1 value interesting -> save -> LOG:

[code]

[2020-04-16 07:13] D43m0n666 commented on #33866
Same problem for me with 108.4. Rollback to 108.2 solved the problem.
I've installed HA in Raspberry 3B+ with 1GB RAM and assigned 1GB for SWAP.
No HACS and no custom integration

[2020-04-16 07:41] jd1900 commented on #34192
Sorry, I typed it wrongly.

Not until a second reboot I was able to find the Service zha.permit. After the second reboot it was there and fully working.

[2020-04-16 07:49] topse commented on #34142
I am not sure if this problem is about the hue remote integration, which is custom.

[2020-04-16 07:53] Mariusthvdb commented on #34142
No it is about Hue core, and it keeps doing that. I have two hubs which keep being discovered until you click ignore....

[2020-04-16 08:07] jonwaland commented on #34276
ahh. makes sense. shame the docs don't warn.

How do I propose a change to the text at https://www.home-assistant.io/integrations/yeelight/

along lines of

(note that off will need to be quoted in yaml ... 'off')

[2020-04-16 08:11] zewelor commented on #34276
Yes it would be better to state it there. You would need to make PR with this file changed. https://github.com/home-assistant/home-assistant.io/blob/next/source/_integrations/yeelight.markdown  . Documentation improvements are always welcome, and that off in yaml is confusing for sure :\

[2020-04-16 08:18] Alomon31 opened #34284 "Nextcloud error: "local variable 'ncm' referenced before assignment""
## The problem
After adding nextcloud integration to my configuration.yaml file, I keep on getting a "Please check your config." error notification.

## Environment

- Home Assistant Core release with the issue: HA 0.108.5. Same behaviour on previous versions (0.108.1 to 0.108.5)
- Operating environment (Home Assistant/Supervised/Docker/venv): Hassio installed on a Raspberry. Nextcloud is hosted o

[2020-04-16 08:36] rkkoszewski commented on #33944
After updating today to Home Assistant 0.108.5, NUT completely broke for me (It was working in 0.108.4 with a single NUT device). Adding https://github.com/bdraco/nut to custom_components fixed the issue. Any chance we can get the changes upstream into hass?

[2020-04-16 08:40] Mariusthvdb commented on #32179
this is still an issue on 108.4, did anyone get to have a look at it?
thanks

[2020-04-16 09:10] av-volgin commented on #33780
+1

[2020-04-16 09:12] fribse commented on #33908
Wow @bdraco
Nice!
![image](https://user-images.githubusercontent.com/13660621/79437898-1b3c8700-7fd3-11ea-894f-1d802e8f8074.png)

[2020-04-16 09:23] Dulcow commented on #33486
I bumped from 0.108.4 to 0.108.5 and I ran into this issue. The CAN drop errors has led to some undefined devices. I must have rebooted 5 times or so and it came back to normal. Is there a way to get the Z-Wave config file creation/update fix in OZW 1.4 branch? Getting on 1.6 might not happen anytime soon.

[2020-04-16 09:23] ayufan commented on #33866
It seems that the fix for me was to disable Brother integration. My brother is mostly not running, but it seems that HA and Brother do enqueue a number of requests for fetching data even though device does not respond.

Maybe this is problem with the Brother integration, but this could as well be problem in a state update loop that it re-enqueues fetching of data even though the previous op did no

[2020-04-16 09:31] ljmgd8 commented on #33486
I removed the zw integration, reset the stick, excluded all the devices, include them back.
It worked...until push for the new update available...reboot...works, then another update (this time for operating system) again not working.

[2020-04-16 09:33] D43m0n666 commented on #33866
I've also Brother integration. I try to disable it and upgrade HA...I let you know!

[2020-04-16 09:35] SquareBeard commented on #33866
I have no Brother integration and it is still not working with v108.5

[2020-04-16 09:37] iophobia commented on #23717
Any feedback on this? Having the same problem with a FritzBox 7412 and HA (0.108.2) on a RPi3 (Dietpi 6.28.0). Couldn't those values just be treated as outliers or something? Note to devs: Those ticks can be positive, too. Values are different here because I defined a template sensor to get to MB/s but the underlying problem remains.
![fritz](https://user-images.githubusercontent.com/21159729/7944

[2020-04-16 09:39] canedje commented on #33879
Also no fix in 0.108.5

[2020-04-16 09:44] plantoschka commented on #23717
I also still experience this problem.

[2020-04-16 09:45] ayufan commented on #33866
So far, is good:

![image](https://user-images.githubusercontent.com/2419009/79441627-c51e1280-7fd7-11ea-83a8-e898a60b86d2.png)

[2020-04-16 09:45] McGiverGim commented on #33866
I have the Brother integration, but I think remember I installed it after the problem, but I will try later without it.

@D43m0n666 waiting for your test...

@SquareBeard do you have any message in the "developer tools", "registry" that repeats a lot? Maybe is not the Brother integration, but any integration that does not detect the device and tries to find it.

[2020-04-16 09:54] SquareBeard commented on #33866
@McGiverGim That is indeed a good possibility, I have device that is always off. I'll try to desactivate it.

[2020-04-16 10:09] mr-onion-2 commented on #32942
Hi

I wasn't sure whether to respond to this which sounds like the same problem, or open a new issue.

I have added a Samsung TV UE46D7000 to HA and it is working as expected. I had a single prompt on the TV to allow the network remote, which I OK'd. However, I continue to get a 'Sending handshake' entry in the HA log file every 11 seconds. No further prompts are displayed on the TV.

This does no

[2020-04-16 10:16] D43m0n666 commented on #33866
Disabling Brother integration it seems ok with latest release 108.5, FOR NOW! I can give you better news in 24H, thanks @ayufan for suggestion!

[2020-04-16 10:19] escoand commented on #32942
@mr-onion-2 This logging is from the underlying external library. First it's missing own package name and also not level INFO imo. Currently we create a new connection to the TV on every update request from HA. There seems to be an API endpoint to request the status without a new connection, but it's atm not used. So we have to life with this logs, for now. Feel free to open a PR.

[2020-04-16 10:24] FidgetyRat commented on #34222
@bdraco you sir, are on fire. Thanks.

[2020-04-16 10:45] lbouriez commented on #34030
Hello, same here

[2020-04-16 11:03] Amir974 commented on #33879
According to [https://github.com/mjg59/python-broadlink/issues/338#issuecomment-612805121](This)
Was the fix done on the dependency library and should resolve the issue with no further change in HA code? @Danielhiversen

[2020-04-16 11:10] SquareBeard commented on #33866
Well that worked. My HA instance has not been running that long since v107.

There is definitely something wrong with unreachable devices or with the logging of the errors related to such devices.

[2020-04-16 11:11] broyuken opened #34285 "Reload Groups 108.5"
## The problem

## Environment

- Home Assistant Core release with the issue: 108.x
- Last working Home Assistant Core release (if known): 107.x
- Operating environment (Home Assistant/Supervised/Docker/venv):
Home Assistant
- Integration causing this issue:
Device Tracker
- Link to integration documentation on our website:

## Problem-relevant `configuration.yaml`

[code]

## Traceback/Error logs

[2020-04-16 11:22] iophobia commented on #23717
Inquired over at [fritzconnection](https://github.com/kbr/fritzconnection/issues/40) which is the underlying package. The behavior is known and will be fixed in an upcoming release.

[2020-04-16 11:24] Danielhiversen commented on #33879
I will upgrade HA code today

[2020-04-16 11:33] Gunth commented on #33866
I also have a Brother print, i need to check this ...

[2020-04-16 11:43] McGiverGim commented on #33866
Disabled the Brother integration and all seems stable too... maybe we have found the problem. I will check in the next hours but it looks good until now.

I don't know if some developer is following this thread or is there a way to make them aware of that...

[2020-04-16 11:43] drewgraham commented on #34173
Not yet - will get back to you tonight (GMT)

On Thu, 16 Apr 2020 at 03:33, J. Nick Koston <notifications@github.com>
wrote:

[2020-04-16 11:45] ayufan commented on #33866
@bieniu Can you take a look as you are the author of latest changes? https://github.com/home-assistant/core/commit/c1ceab09e5281dcf6b42592bb2e35cb6518f4885#diff-cb38b021b379128e76bd5b1f539660ca

[2020-04-16 11:50] SquareBeard commented on #33866
@ayufan  It is not related to the Brother integration.
It's seems to be related to unreachable devices and/or logging.

[2020-04-16 11:51] bieniu commented on #33866
I'm looking for issue in code since your first post about `brother` but I don't see anything suspicious. On my 3 devices, the CPU load is the same with and without `brother` integration.

[2020-04-16 11:51] ayufan commented on #33866
@SquareBeard It seems so, but someone familiar with lifecycle of devices could help out with testing it and `git bisecting` :)

[2020-04-16 11:52] meichthys commented on #34115
@frenck I think we can close this.

[2020-04-16 11:53] SquareBeard commented on #33866
@bieniu Did you try with your printers powered off ?

[2020-04-16 11:54] bieniu commented on #33866
@SquareBeard Yes.

[2020-04-16 11:54] meichthys commented on #34284
@Alomon31
Is your instance encrypted with a self-signed ssl certificate or does it use one that is certified by Let's encrypt? In my initial testing, my integration failed when my certificate was expired.

Also, can you check the following?

- What version of nextcloud are you on?
- Try opening this and let me know what is returned: https://192.168.1.250/ocs/v2.php/apps/serverinfo/api/v1/info?form

[2020-04-16 11:55] RXM307 commented on #32778
Same issue in 0.108.5 also, really hope someone finds this issue. the other option is to move all of my devices to https://github.com/mileperhour/localtuya-homeassistant which I've already have several devices running on as they are not supported via the tuya API (for unknown reason)

[2020-04-16 11:59] ayufan commented on #33866
@bieniu This starts to happen after long period. For example I noticed a bunch of messages failing to get SNMP data over time. Also, SNMP failed as well when printer was powered on.

[2020-04-16 12:03] bieniu commented on #33866
@ayufan OK I will turn off my printer for the whole day.

[2020-04-16 12:22] cwendigo commented on #27220
Hello all,
I also would appreciate to be able to have this data, I have koogeek EU plugs and switches with power monitoring capabilities.
Thank you in advance.

[2020-04-16 12:27] browetd commented on #32176
Problem seems fixed with new version of HA.... Closing the issue

[2020-04-16 12:27] #32176 closed

[2020-04-16 12:27] Alomon31 commented on #34284
Regarding the certificate, I didn't do anything more than installing the Docker container provided by Linuxserver. When I look at the certificate, it only says that it has been provided by Linuxserver and that it is valid until 03/02/2030.

- What version of nextcloud are you on?

18.0.3

- Try opening this and let me know what is returned: https://192.168.1.250/ocs/v2.php/apps/serverinfo/api/v1/i

[2020-04-16 12:28] McGiverGim commented on #33866
I have bad news... Mine seems has started to eat memory, without the Brother integration 😭

[2020-04-16 13:09] meichthys commented on #34284
So you get a response when you access:
https://192.168.1.250/ocs/v2.php/apps/serverinfo/api/v1/info
But not when you access:
https://192.168.1.250/ocs/v2.php/apps/serverinfo/api/v1/info?format=json

If that's the case it seems like there might be a mis-configuration somewhere on the nextcloud docker image you setup. The Nextcloud integration needs the json response to work:
https://192.168.1.250/o

[2020-04-16 13:13] Alomon31 commented on #34284
It seems to be lunatic, now I do get a response on the json format!

![Sans titre 1](https://user-images.githubusercontent.com/59569925/79460205-c3167c80-7ff4-11ea-932e-46f1943b4655.png)

[2020-04-16 13:20] McGiverGim commented on #33866
Maybe is a different problem now... the memory grow but the CPU remained stable, and seeing the processes inside the homeassistant container I can see two `homeassistant` processes:
![image](https://user-images.githubusercontent.com/2673520/79460561-49cb5980-7ff5-11ea-8052-fd9d8dcd128f.png)

I have restarted the server again, the second process has disappeared and now all seems stable again... I w

[2020-04-16 13:23] meichthys commented on #34284
I suppose it could be timing out.
As long as home-assistant can access that json out put it shouldn't have an issue setting up the integration.
Your CPU load seems high but not to the point where it should prevent the monitoring api from working.

If you know python, you can try accessing the data via the nextcloudmonitor package from [pypi](https://pypi.org/project/nextcloudmonitor/)
`pip install

[2020-04-16 13:38] DanielXYZ2000 opened #34286 "Luftdaten: Temperature Humidity not available"
## The problem

luftdaten.info also collects other data like temperature and humidity.
It seems that the only the P1, P2 are requested by the luftdaten python package used in the homeassistant luftdaten component

## Environment

- Home Assistant Core release with the issue: 0.108.3
- Last working Home Assistant Core release (if known): n.a.
- Operating environment (Home Assistant/Supervised/Docke

[2020-04-16 13:40] bdraco commented on #33908
@andriej  Its an artifact of running the 0.109 code on 0.108.  It won't do that in 0.109 because #33588 is in 0.109

[2020-04-16 13:42] janiversen commented on #34269
It would be nice if you could test the PR, as I strongly believe it solves your issue.

[2020-04-16 13:43] janiversen commented on #34233
The cause for this problem is not device-tracker, but modbus. Device-tracker uses modbus.

I have provided a PR to solve the modbus problem, It would be nice if you could test the PR, as I strongly believe it solves your issue.

[2020-04-16 13:43] andriej commented on #33908
Good to hear! Didn't notice it's crafted for 0.109 :-)
I assume I should just delete custom_component/nut after 0.109?

[2020-04-16 13:45] janiversen commented on #34046
I hope the above PR solves the issue.

@thehaxxa you have a big configuration, before merging the PR I would really like to hear if it works for you. Thanks in advance.

Of course the more that test the PR, the more secure we can be that the issue is gone.

[2020-04-16 13:46] bdraco commented on #33908
0.109 or whichever version https://github.com/home-assistant/core/pull/34154 merges in

[2020-04-16 13:46] janiversen commented on #33947
I just added a PR #34287, that should solve your issue.

It would be nice if you could test the PR:

[2020-04-16 14:03] GaryOkie commented on #34239
Hi @hunterjm - sorry to ping you directly, but I noticed in the last 2 cases where this same issue was reported, no one was assigned and the stale bot closed them.   I'm hoping that won't happen here.

[2020-04-16 14:05] dolenec commented on #34233
Just tell me how to test it and I will..

[2020-04-16 14:12] dolenec commented on #34233
Is maybe cause of error this:

Podrobnosti dnevnika (WARNING)
Logger: pymodbus.client.asynchronous
Source: components/modbus/__init__.py:6
First occurred: 12:34:20 (1 occurrences)
Last logged: 12:34:20

Not Importing deprecated clients. Dependency Twisted is not Installed

Because after every restart I get this as first logged error..
Currently on HA 0.108.5 and HassOS 13.3.

[2020-04-16 14:33] janiversen commented on #34233
the warning “Twisted is not installed” is from the pymodbus library, and is just a silly note, it has no effect whatsoever on the functionality, because we use asyncio.

If you want to test, grab the files in the PR (homeassistant/components/modbus/*) and put them in your components/modbus directory. Depending on your type the installation the procedure might be a bit different, so I can only help

[2020-04-16 15:05] StevenLooman commented on #33827
Discovery via `upnp-client search` uses a timeout of 4 seconds (as per specification I believe.) Home Assistant already has a increased timeout of 10 seconds.

What if you do discovery from another device, does it have the same issue?

Some devices behave badly when they have been running for longer times. My router stops doing WiFi after some time, I'm guessing about 3 weeks. Perhaps a reboot wil

[2020-04-16 15:11] kit-klein commented on #32734
@scstanton fix [here](https://github.com/home-assistant/core/pull/34289).  Let your freezer know help is on the way!!

[2020-04-16 15:15] Berto93 commented on #30215
Hi! i tried to debug and i get 0x272a.
[debug.txt](https://github.com/home-assistant/core/files/4488079/debug.txt)
 If I understand correctly i need to put rm_mini3_5f36 in configuration right? Because when i run debug i can get codes, but from homeassistant services broadlink.send or learn still not working.. Am i doing something wrong? Thanks

[2020-04-16 15:16] Alomon31 commented on #34284
Unfortunately, I don't know Python. I will try to find solutions to speed up my Nextcloud instance, otherwise I will have a look into what you suggest...

Thanks!

Le 16 avril 2020 15:23:34 GMT+02:00, MeIchthys <notifications@github.com> a écrit :

[2020-04-16 15:27] kit-klein commented on #34251
This is a tricky bug since the device associated with the integration is the alarm panel and the zone sensors map to entities.  We would need to treat the panel like a bridge and create a device for each zone.

[2020-04-16 15:40] meichthys commented on #34284
Ok, sounds like a plan. Would you mind closing the issue for now?
There's also an undocumented scan_interval parameter you could try changing:
[code]
By default scan_interval is set to 60 but bumping that up may help out if your instance is struggling to keep up with requests.

[2020-04-16 15:52] McGiverGim commented on #33866
Three hours later I can confirm is smooth and stable, so is clear that the problem is the Brother integration or is more general and has something to do with sensors powered off.

[2020-04-16 15:57] Alomon31 commented on #34284
scan_interval didn't help. The error message shows up as soon as HA server starts up.
I close the issue as requested.

[2020-04-16 15:57] #34284 closed

[2020-04-16 15:59] ayufan commented on #33866
I re-enabled Brother. I see increasing CPU-usage. This seems overall fine, the message:

[code]

[2020-04-16 16:01] lmamakos commented on #34278
I have tested the version cloned from your git repo, and it seems to have resolved the issue.  In the states developer tool, I see
[code]
and
![Screen Shot 2020-04-16 at 11 55 40 AM](https://user-images.githubusercontent.com/1544466/79478429-68bbf280-7fd9-11ea-8343-525a3bfe9c29.png)

This seems to have resolved the issue with the thermostat.  I'll poke around a bit further to see if anything was a

[2020-04-16 16:04] Dulcow commented on #33486
![image](https://user-images.githubusercontent.com/34809515/79479113-91111480-800c-11ea-8ebd-85cdec314791.png)

Rebooted to apply OS update and it's f***** again :-( I will have to unpair and pair my smoke sensor again. This is getting very frustrating.

[2020-04-16 16:08] balloob commented on #34264
Yes, we can do that. Want to open a PR? Best to also add a check to `hassfest` to make sure we check `.translations` doesn't still exist. Bonus points if you make it fixable in Hassfest 👍

We would need a fallback for a couple of releases including a warning, so custom authors can update their integrations.

[2020-04-16 16:09] ludeeus commented on #34264
I can probably get that done (or at least a draft) during the weekend 👍

[2020-04-16 16:10] andybjackson commented on #34251
Kit. Thanks for responding. I guessed as much. There is a work-around in that it is possible to manually reallocate the zones into the right areas in the Home Assistant Lovelace Cards and Panels. However, this is a hack and in order for this Konnected integration to work properly, and consistently with other integrations (e.g. SmartThings), I venture the change needs to be made. Where it sits in y

[2020-04-16 16:16] Zendio opened #34292 "Buienradar sensor not picking up the correct location/station."
## The problem

Buienradar sensor is suddenly picking the wrong location. It used to pick the closest to my home, which is Gilze Rijen, but now only returns Arcen. I've tried setting lat/lon manually in the sensor configuration to my home in a first attempt to fix it, and then tried setting it to Gilze Rijen (the location in the XML feed 51.94, 5.56) but both eventually load the data from Arcen. I

[2020-04-16 16:19] euromem commented on #28598
Second the reopening of this as it does not work.
Please

[2020-04-16 16:25] bdraco commented on #28598
I've contact iSmartGate and they are very clear that they won't publish documentation on their new api and its not for external use.   Unless they someone can get them to change their mind, I don't see support being added.

[2020-04-16 16:29] Zendio commented on #34292
Spoke to soon. It seems like the feed doesn't update anymore. It's stuck on 04/15/2020 23:20:00

[2020-04-16 16:34] #32734 closed

[2020-04-16 16:35] dolenec commented on #34233
I will try the first time when all devices gone "away".. After uodating to HassOS 13.3 and HA to 0.108.5 this still did not happen - maybe in next 12 hours.. we will see..

[2020-04-16 16:36] bieniu commented on #33866
After 4 hours with pthe printer turned off:

![image](https://user-images.githubusercontent.com/478555/79482287-ecdd9c80-8010-11ea-919a-74ea91d4dafc.png)

![image](https://user-images.githubusercontent.com/478555/79482386-11397900-8011-11ea-9585-a07c72549505.png)

[2020-04-16 16:38] ayufan commented on #33866
@bieniu I noticed that this might only happen when device is shutdown before the restart. If you shutdown it while it was running, the data might have get cached.

[2020-04-16 16:38] janiversen commented on #34233
no that is not how it works....the code is not in any releases, that will take a while because different people are testing. As I explained you need to copy the files into your system.

[2020-04-16 16:47] niraviry commented on #27736
I have solved the issue in a different way. You do not need the cover entities. Simply use KNX.send and send the proper payload to the proper address. There are 2 main addresses to each cove and each is 1 bit so you have step/stop and up/down. If the step/stop is being send during movement (up or down) it is interpreted as stop. If the cover is stationary it is treated as step (slut open/close - 1

[2020-04-16 16:51] atechnical commented on #32380
I also have Ubiquiti with VLANS and mdns. It's way more than I need and I'm still learning how to use it. Can you explain how you ..."Moving to the mDNS repeater over the mDNS reflector"? Thanks very much.

[2020-04-16 16:54] mrh3nk opened #34295 "Buienradar sensor component defaults to Arcen, while De Bilt is set"
## The problem
The buienradar sensor component uses Arcen as the weather station, but I expect it to use De Bilt. The problem started yesterday after I upgraded to 0.108.5. I have set the `name` variable as 'DeBilt' but it does not work. The latitude and longitude of the Home Assistant configuration in Yaml is set correctly (and I live in Utrecht). I expect it uses Arcen as it is the first in the

[2020-04-16 16:56] Techwolf12 commented on #26929
Same issue here, quotes do not help. Also on the smart_life platform.

[2020-04-16 16:56] giangi007 commented on #30215
Hello I following instructions above referenced and if I run debug 1 and 2, th rm mini 3 led chnge color and learn a remote button, but the broadlink.leran in home assistant doen't work (led black). Attach the debugs file. Could someone tell me why in HA 0.108.3 doesn't work?
thanks
[debug1.txt](https://github.com/home-assistant/core/files/4488622/debug1.txt)
[debug2.txt](https://github.com/home-a

[2020-04-16 16:56] dolenec commented on #34233
Yea.. I will when it dropes first time. After updating HassOS to 13.3 there was no incident.. So, I will wait for 1 incident and if it happens is next 24 hours I will test PR modbus version..

[2020-04-16 16:59] Berto93 commented on #30215
Me too! Exactly the same problem.. Thanks for your support

[2020-04-16 17:02] meichthys commented on #34284
@Alomon31
I've been thinking about this and remembered seeing the `UnboundLocalError: local variable 'ncm' referenced before assignment` error when i was testing different ssl certificates. Have you tried using `http` instead of `https`? If your nextcloud instance is in the same network as homeassistant, that may work.

[2020-04-16 17:03] dolenec commented on #34233
Ok.. it just happened ;) So I will try PR modbus solution..

[2020-04-16 17:04] maxi1134 commented on #27461
This problem still happens.
I just installed ZHA (Not sure how different it is than deCONZ) and the blind paired super easely.
But now I can only Close/stop them but the Open button is greyed out like in the first message here.

[2020-04-16 17:15] #32482 closed

[2020-04-16 17:18] mkmer commented on #33375
I've done some more research on this - It appears that when a client disconnects/connects rapidly multiple times (as seen on the unifi controller log), HA will show the client Home -> away -> Home where the away is on the order of 3 to 4 seconds.  The series of connect/disconnects are always 2 disconnect/connect pairs within 1 minute.  This happens even with the integration timeout set to 120 or 1

[2020-04-16 17:18] geekofweek commented on #32380
[This is a good forum post to get started](https://community.ui.com/questions/mDNS-repeater-on-USG/4d1bd073-3359-4a32-8cbe-84633af0ef03).  The short of it is you need to disable mDNS reflecting in the GUI and modify the config.gateway.json file on the controller.  There is no GUI option for it and does not work on the Dream Machine line.

[2020-04-16 17:30] Tim-GitHub opened #34296 "Scenes Editor - Error for Climate Devices/Entities"
## The problem

When using the Scenes Editor (via Configuration UI), scenes with climate entities give errors when closing the scene or opening the scene to be edited (when the Scenes Editor is restoring the state of the entities, I assume). This does not happen for other entities (like lights).

For a Z-Wave Thermostat (GC-TBZ48) and Nest thermostat (using the legacy native Nest integration):

``

[2020-04-16 17:32] dshokouhi commented on #34296
This should be filed in the frontend and not core

[2020-04-16 17:35] qJake commented on #32380
I have a traditional single-mask LAN (192.168.0.*) and both my hub and the VM host that Home Assistant runs on are hard-wired (via the same switch) to the same router.

If my Hue Hub is in fact rebooting... how/where would I be able to tell this information?

[2020-04-16 17:42] xblackbytesx opened #34297 "Coinmarketcap Public API Deprecation"
## The problem

Since March 5th Coinmarketcap deprecated their legacy Public API in favor of their new "Professional API". This breaks the current Coinmarketcap integration which still seems to rely on this legacy API for it's data. More details can be found [here](https://pro.coinmarketcap.com/migrate).

Coinmarketcap moving towards the Professional API seems like it is no longer Publicly availab

[2020-04-16 17:49] bieniu commented on #33866
@ayufan Brother sensors don't pool for data. They have `should_pool` property set to `False`: https://github.com/home-assistant/core/blob/dev/homeassistant/components/brother/sensor.py#L128-L131

Integration uses `DataUpdateCoordinator` class and those log entries are from this [class](https://github.com/home-assistant/core/blob/dev/homeassistant/helpers/update_coordinator.py#L168-L172)

`brother`

[2020-04-16 17:50] Tim-GitHub commented on #34296
Sorry about that. I have opened a new case for the Frontend.

https://github.com/home-assistant/frontend/issues/5557

[2020-04-16 17:50] #34296 closed

[2020-04-16 17:56] broyuken opened #34300 "Vizio unavailable on restart if TV is off (again)"
## The problem

## Environment

- Home Assistant Core release with the issue: 108.x
- Last working Home Assistant Core release (if known): 107.x
- Operating environment (Home Assistant/Supervised/Docker/venv): Home Assistant
- Integration causing this issue: Vizio
- Link to integration documentation on our website:

## Problem-relevant `configuration.yaml`

[code]

## Traceback/Error logs

[code]

[2020-04-16 18:03] hunterjm commented on #34239
Stream only handles live feeds.  A recorded file is not a live feed, so it will break as soon as it hits the end of the recording, which starts when HA starts, and probably ends before you can pull it up in lovelace.  This type of functionality isn't supported.

[2020-04-16 18:08] fhold commented on #27736
Thanks for the hint. That helped already. The only thing i don't get with knx.send is how to send a percentage as i want to send an absolute tilt position. I don't understand how to put the correct payload together

[2020-04-16 18:14] farmio commented on #27736
Use an expose sensor with type "percent" and hook it to a template sensor.

[2020-04-16 18:15] niraviry commented on #27736
I assume it is a 0 to 100 field. You will have to look at the field type
under the ETS tool in which you setup the KNX system.

בתאריך יום ה׳, 16 באפר׳ 2020, 21:09, מאת fhold ‏<notifications@github.com>:

[2020-04-16 18:17] McGiverGim commented on #33866
In not too sure what this message implies, but they seem too much for the same second.
I can confirm my system continues stable after several hours without brother integration.

[2020-04-16 18:18] ayufan commented on #33866
@bieniu

As far as I can see, they do request data from coordinator which might enqueue multiple data requests. Now, since coordinator registers listeners it is likely that each sensor might request a new `await`. I have no idea if this is problem with Brother or the `DataUpdateCoordinator`, but symptoms are as here: https://github.com/home-assistant/core/issues/33866#issuecomment-614741425. It se

[2020-04-16 18:38] #34130 closed

[2020-04-16 18:46] DDomnick commented on #34278
Tested as well, working great.  Thanks again for all you do, Nick.

[2020-04-16 18:50] Tom7320 commented on #34004
0.108.5 solves the problem. I think this explains the reason:
[https://github.com/home-assistant/core/pull/34135](url)

[2020-04-16 18:53] yotuze opened #34302 "OpenThermGateway no service to set DHW temp and heating curve"
## The problem

I have De Dietrich Baxi DuoTec Compact boiler and I would like to use it with OpenThermGateway but in OTGW integration there is no service for dhw setpoint which could be use the same way as `opentherm_gw.set_control_setpoint` works but for domestic hot water. This work in py-otgw-mqtt so it should be possible to do in official component. I have a outside temperature sensor connect

[2020-04-16 18:55] slootjes opened #34303 "Plugwise Anna broken after upgrade; KeyError: 'setpoint'"
## The problem

Plugwise Anna integration is no longer working.

## Environment

- Home Assistant Core release with the issue: 0.108.5
- Last working Home Assistant Core release (if known):  0.106.5
- Operating environment (Home Assistant/Supervised/Docker/venv): Docker
- Integration causing this issue: Plugwise Anna
- Link to integration documentation on our website: https://www.home-assistant.io

[2020-04-16 18:58] sergiigladchuk commented on #31092
Same problem - `nmap_tracker` stopped working for me after some update lately. I run Home Assistant core in docker container with in host network mode. All was fine few weeks ago.
It looks like default `nmap` options are not working well, and my network trackers are down now.

[2020-04-16 19:02] terenceng81 opened #34304 "Entity not Available when Yeelights devices are on power off stage / Devices being un-linked in Google Home App upon synchronization with HA"
## The problem

Component:
- core/homeassistant/components/yeelight/
- core/homeassistant/components/google_assistant/

Detail Description
https://community.home-assistant.io/t/entity-not-available-when-yeelights-devices-are-on-power-off-stage-devices-being-un-linked-in-google-home-app-upon-synchronization-with-ha/187195

## Environment

- Home Assistant Core release with the issue: 0.108.5
- Last

[2020-04-16 19:12] reisfni commented on #34168
Initially no it wasn't creating a webhook.

However I removed the rachio integration, restarted HA, then re-added the integration and it created the webhook.

So far it seems like it is working now, going to do a few more tests over the next couple of days and will close it out if its working.

Thanks for all the help here.

[2020-04-16 19:12] Korte68 commented on #32734
Thank you.
Do you know in which version will contain the solution?

Martin Hjelmare <notifications@github.com> ezt írta (időpont: 2020. ápr.
16., Cs, 18:35):

[2020-04-16 19:15] tiagofreire-pt opened #34305 "Xiaomi Air Purifier 2S not found within another subnet"
## The problem
The integration does not found the Xiaomi Air Purifier 2S within another subnet.

The Home Assistant is on LAN at 192.168.10.0/24 and the air filter on WIFI at 192.168.11.0/24.

This only happens with the air filter, as with the Roborock S50 works perfectly with the same network setup.

The token is correct and I did a full reset to the device and reconfigured it entirely, without s

[2020-04-16 19:19] djxela commented on #34265
Downgrade to 107.7 and everything works fine

[2020-04-16 19:40] GaryOkie commented on #34239
Live view/recorded view - is there really that big of a difference in the video stream except one has a finite end?

It would be great if an MP4 recording could be recognized by STREAM and just stop the stream at the end and pause with the last frame.   Rewind/play again should work too.     Actually, it's already doing that to some extent.   Try it!  I notice the longer the recording is, the more

[2020-04-16 19:40] Kane610 commented on #32322
PR is up

[2020-04-16 19:43] PorreKaj commented on #31578
Finally something I can add to.

From time to time my HA suddenly takes 15 minutes to boot, and everytime, it has something to do with Netatmo and Nabu Casa.

Sometimes the +15minutes is permanent, and the only solution is removing netatmo and signing in and out of cloud 2 times.

Whenever 15 minutes are added, i get 3 of these these in my logs, which coincides with the 3 times the netatmo integra

[2020-04-16 19:46] lopez3 commented on #34269
Tested #34287, can confirm it works fine.

[2020-04-16 19:54] raman325 commented on #34300
@broyuken is Eco Mode on for your TV? Nothing should have changed regarding the API, so if the device shows as unavailable, it's because `pyvizio` can't get a successful response from your device

[2020-04-16 19:56] #34115 closed

[2020-04-16 19:58] frenck commented on #34275
Duplicate of https://github.com/home-assistant/plugin-audio/issues/12

[2020-04-16 19:58] #34275 closed

[2020-04-16 20:03] CoMPaTech commented on #34303
Hi @slootjes - we are aware of this, we have a PR ready in https://github.com/home-assistant/core/pull/33691 but it will probably take some time. If you are using HACS or know how to use a custom_component you are more than welcome to use https://github.com/plugwise/plugwise-beta until the new version is available.
(The new version and reason for the PR to take some time is that we switched to con

[2020-04-16 20:05] zewelor commented on #34304
Try to declare model, in config, for each light.

[2020-04-16 20:05] slootjes commented on #34303
Awesome, you folks are the best :) I'll try the custom component tomorrow and test it.

[2020-04-16 20:06] guice commented on #28598
You can look at Hubitat. They have a working integration that uses the API endpoints. So, either somebody at iSmartGate lied, or somebody at Hubitat found a way into the iSmartGate firmware for the details:

* https://github.com/bmergner/bcsmart/blob/master/GoGoGate2GarageControllerDriver.groovy

[2020-04-16 20:12] Dulcow commented on #33486
Restoring the OZW configuration file from a previous backup seems to have worked for me. My battery devices are the only ones not reporting yet.

I will try to follow @kpine advices when rebooting HA and adding/removing nodes.

[2020-04-16 20:13] BaldKingy commented on #34295
A minor addition: I have the same issue with the weather platform. A bit more info is here: [https://community.home-assistant.io/t/buienradar-on-the-wrong-location/187325](url)

[2020-04-16 20:13] hakana opened #34308 "Error when open "add automation dialog""
## The problem

When you add automation for a device that have entries missing in entry register HA throw an error: This causes add automation dialog to be empty even if there are possible automation to add.

This can be fixed by adding a check in _async_get_device_automations

[code]

I don't know what cause the device pointing on missing entities, maybe there is a bug there also.

## Environment

[2020-04-16 20:25] bdraco commented on #28598
I'm sure Hubitat just did it anyways or didn't ask :)

[2020-04-16 20:30] bdraco commented on #28598
@guice Looks like its completely different than what is being done now
https://github.com/dlbroadfoot/pygogogate2/blob/master/pygogogate2/__init__.py

[2020-04-16 20:35] rytilahti commented on #34305
Please check if this is related: https://python-miio.readthedocs.io/en/latest/troubleshooting.html#discover-devices-across-subnets - if it is, it would be great if you could create a PR to update the documentation accordingly :-)

[2020-04-16 20:46] Alomon31 commented on #34284
I asked to the container developer about http and here is answer:

Should I better use letsencrypt?

[2020-04-16 20:46] johanjongsma commented on #34035
@OnFreund: can you please take a look. The issue seems related to the latest change in the way the configuration works.

[2020-04-16 20:49] guice commented on #28598
I agree. I pointed that out in an earlier thread on HA's site: https://community.home-assistant.io/t/any-integrations-with-ismartgate-pro/136986/4?u=guice

For the time being, I'm using the HomeKit work-around. It works, but somebody not as "quick" as I'd like.

[2020-04-16 20:52] bdraco commented on #28598
@guice If @dlbroadfoot adds support for it in pygogogate2 then it could be added in Home Assistant.

The other option would be to make a new `ismartgate`  integration using the other endpoints you linked to above which would have a limited subset of the `gogogate2` integration but work with `ismartgate`.  It looks like there isn't any scraping so it should be ok.

[2020-04-16 20:58] mvn23 commented on #34302
I will have a look at DHW setpoint implementation soon, this should not be too much trouble since it's already supported in the library and on the OpenTherm Gateway itself.

Heating curve implementation is more difficult: there is no direct command to set this on the OpenTherm Gateway. It would involve injecting raw messages into the OpenTherm protocol, which is not yet implemented in the pyotgw l

[2020-04-16 20:58] Ybbet commented on #33899
As said in the documentation, we could have 3 types: RGB, RGBW and W.
Cf. https://www.home-assistant.io/integrations/flux_led/

It seems that the problem exists since version 0.97. #26779
Someone find a solution : https://community.home-assistant.io/t/flux-led-magiclight-dont-work-since-few-updated/145179/5 && https://gist.github.com/aptonic/5135800bdd558b7e24337bcb0f09531e

[2020-04-16 20:58] meichthys commented on #34284
@Alomon31 Yes, LetsEncrypt would be the best solution. As the developer mentioned, using a reverse proxy is the best idea. If you have access to the home-assistant addons, you could use the NginxProxyManager to handle all the Let's Encrypt certificates.

[2020-04-16 21:04] Alomon31 commented on #34284
Ok, thanks for the tips, I don't know letsencrypt but I will have a look at it and get back to you.

Le 16 avril 2020 22:58:30 GMT+02:00, MeIchthys <notifications@github.com> a écrit :

[2020-04-16 21:08] batt commented on #33947
Hi @janiversen, unfortunately I am not able to test the PR, I only have hass.io installed on my Raspberry, I don't know how to pick the github version. Is there any guide I can follow on how to test it?

[2020-04-16 21:08] #33989 closed

[2020-04-16 21:10] bieniu commented on #33866
OK guys, I have to admit that something is wrong.
I added `_LOGGER.debug(f"update: {self}")` to `_async_update_data` method of `BrotherDataUpdateCoordinator` class. When I start HA when the printer is offline after some time I have in log:
[code]
Four different coordinator objects are trying to update the data from the printer.
I think that every attempt to configure `brother` integrations adds ne

[2020-04-16 21:11] basnijholt commented on #34258
@mleiber, thanks a lot for reporting!

I am relatively sure that I found the cause of this problem. I've made a suggested solution in https://github.com/home-assistant/core/pull/34310.

[2020-04-16 21:24] jamesarbrown commented on #33875
I am also experiencing this, but I dont think its due to firmware, my Dahua IPC are somewhat old and the firmware latest and last is 2017 from memory.

If I drop the error into a browser
http://192.168.1.41:80/cgi-bin/eventManager.cgi?action=attach&codes=%5BVideoMotion%5D

I get this (tab immediately stops)
![image](https://user-images.githubusercontent.com/891438/79505793-d47b7b00-802c-11ea-9538-

[2020-04-16 21:32] McGiverGim commented on #33866
Good catch @bieniu ! Let's go for the fix! 😁

[2020-04-16 21:43] hunterjm commented on #34239
That would be good.  Here is where to implement it: https://github.com/home-assistant/core/blob/dev/homeassistant/components/stream/worker.py#L77

Right now if we get an EOS, we end the worker thread reading it.  You could instead trigger it to restart.  The "pause at last frame" won't really work due to how HLS works.  We only save the last 3 "segments" which is why you only get limited playback

[2020-04-16 21:52] GaryOkie commented on #34239
Thanks Jason for the advice and direction.  I hadn't expected you to point me to the actual source to fix it, uh, I mean enhance it, but I'll take a shot at it!

The <video> element in a custom card is also a very good idea.  I've not created a card before, but I'll look into it as well.

[2020-04-16 21:54] mrh3nk commented on #34295
My mistake, my last known working version was 0.107.7. Upgraded yesterday from 0.107.7 to 0.108.4, then today to 0.108.5. Have been working on my configuration a bit more last couple of weeks (wonder why), so got a bit confused. Will edit the issue description.

[2020-04-16 21:54] #34258 closed

[2020-04-16 21:59] #33908 closed

[2020-04-16 21:59] #33944 closed

[2020-04-16 22:03] tiagofreire-pt commented on #34305
Yes, it's related.

I found a working solution: https://github.com/home-assistant/core/issues/34305#issuecomment-614881102

I'll make a PR for the xiamo_miio documention regarding this particular integration, suggesting this particular solution for pfsense and opnsense.

Thanks!

[2020-04-16 22:03] #34305 closed

[2020-04-16 22:08] #32322 closed

[2020-04-16 22:16] #33952 closed

[2020-04-16 22:16] #34128 closed

[2020-04-16 22:16] #34134 closed

[2020-04-16 22:16] #34226 closed

[2020-04-16 22:16] xblackbytesx commented on #34297
Darn.. I see that this is a duplicate of #32551 sorry about the clutter and don't mind this one. I'll leave it up for history and maybe additional info sake.

[2020-04-16 22:18] #34278 closed

[2020-04-16 22:22] hunterjm commented on #34239
I’d lean toward the Lovelace solution, unless you expect to actually do something with the “recording” entity in automations/scripts. If it’s purely for viewing the latest recording, it can be handled much more gracefully by just saving it to `www` and loading it in the frontend.

[2020-04-16 22:27] broyuken commented on #34300
Yep, I reset my tv the same day I updated HA and eco mode was on by default. Apologies, it’s all good again.

[2020-04-16 22:27] #34300 closed

[2020-04-16 22:29] GaryOkie commented on #34239
ok, will do - and thanks again for the advice.   I had come to the same conclusion after spending the past half hour studying the worker code!   It was going to take a lot of logger inserts to figure it out.

[2020-04-16 22:30] danielperna84 commented on #34149
Closing the issue for now since I have clarified what should be visible and what not.
If support for your device is missing, the correct repository to raise an issue is here: https://github.com/danielperna84/pyhomematic

[2020-04-16 22:31] #34149 closed

[2020-04-16 22:37] danielperna84 commented on #27953
Closing this issue for now. If you still get such warnings, please open an issue here, as this is not really a problem in Home Assistant: https://github.com/danielperna84/pyhomematic

[2020-04-16 22:37] #27953 closed

[2020-04-16 22:42] yotuze commented on #34302
It would be great if DHW would work because I regularly change this temperature.

Heating curve would be also great but winter is over so it's not so big of a problem for now. I was hopping that you just update some value for heating curve and the rest is calculated by boiler.  So, at first the pyotgw library author need to add this method and than you will be able to add this to HA integration?

[2020-04-16 22:48] danielperna84 commented on #31487
The reconnect with HmIP in general is unstable. It's caused by the HmIP Server on the CCU (or similar) having problems with multiple connections. So far there is no workaround for this.

Closing this issue. Since it's not caused by the Home Assistant code I'll keep track of it here: https://github.com/danielperna84/pyhomematic/issues/299

[2020-04-16 22:48] #31487 closed

[2020-04-16 22:49] crgreenwood commented on #33515
I've spent some time investigating this evening as, after adding another integration I saw this go from an intermittent issue to something that I experienced on nearly every restart. It appears that version of @benleb 's surepy library that is specified by the surepetcare component is one level down (0.2.3) from the latest the @benleb has published on pypi (v0.2.4). In v0.2.3 the API_TIMEOUT value

[2020-04-16 22:51] carlkesselman opened #34315 "State of anthemav doe not update after power_on/power_off"
## The problem

I have a configured a media_player using the anthemav platform. If I start home assistant HA properly indicates the current state of the reciever (ON/OFF). However, if I toggle the power using media_player.power_on or media_player.power_of, the reported state does not change as shown via the State query/update UI.  The reciever does turn on and off in response to the service calls.

[2020-04-16 22:53] InToSSH commented on #30215
@giangi007 , @Berto93 I recently got it working on HA 0.108.3, first question is if even HA will let you set the `type` in the config file. If you check configuration before reboot, does it say any error or the check passes? In my case it failed, saying that `type` in remote (not talking about the switch) config is not allowed. For some reason my HA wasn't loading the custom_components folder, so

[2020-04-16 22:56] LEJOUI opened #34318 "ZHA renaming entity"
## The problem
If I want to change the entity-id in ZHA this entity goes away. In entities I find the renamed entity, however it has changed to a different sensor and it’s not getting data from ZHA. I also find The original entity back but it shows unavailable. Renaming the new sensor back also fails, entity is already registered. Renaming an entity from another integration, such as Adguard still

[2020-04-16 22:58] balloob commented on #34308
This is weird, you have a device that links to a config entry that no longer exists. That should not be possible.

Have you manually changed data in `.storage` related to device_registry or core.config_entries ?

[2020-04-16 22:59] mvn23 commented on #34302
Indeed. However, that would be me as well ;)

I will have a look at the manual for my boiler tomorrow to see what it can and cannot do. Might be a good time to start working on the raw message support in pyotgw. No promises though...

[2020-04-16 23:02] raman325 commented on #34300
No worries, glad you were able to fix it!

[2020-04-16 23:09] drewgraham commented on #34173
I added a second debug line to `get_entity_state` so you can see the difference in values sent to hass vs. returned. 1%, 49%, 75% have a difference of 1 which makes Alexa complain about a device malfunction.

Since the input range in Alexa is 0-100% we should be able to convert on the fly, but the conversion isn't obvious (I.e. I'd expect 20% input to give a hue value of 51 instead of 52).

|Perce

[2020-04-16 23:18] danielperna84 commented on #31110
This might be (partially) fixed with #34314 , which includes [this](https://github.com/danielperna84/pyhomematic/pull/295).

[2020-04-16 23:20] #34239 closed

[2020-04-16 23:22] hunterjm commented on #34239
@GaryOkie - Just did a quick test in a lovelace dashboard, and the `Webpage` or `iframe` card works great in both Chrome and the Home Assistant iOS app.  So long as you place the `.mp4` in `www`.

https://www.home-assistant.io/lovelace/iframe/

[code]

[2020-04-16 23:23] danielperna84 commented on #34048
Nice observation. Although I don't have any immediate ideas what is causing the issue. 🤔

[2020-04-16 23:25] GaryOkie commented on #34239
Great!   Thanks so much for point out this slick solution!

[2020-04-16 23:37] jnimmo commented on #33870
@joostkoppers @RuudKoolmees I've just cleaned up the code in a new version of the library v1.7.4 https://github.com/jnimmo/pyIntesisHome/commit/439283d368cf11198f64f5f25215e4b6d1f1040c which now just determines the modes based on the feature bits instead of relying on having an entry in the config_mode_map for every possible combination of modes. I've submitted a PR so hopefully next HA release wi

[2020-04-16 23:43] jonwaland commented on #34276
https://github.com/home-assistant/home-assistant.io/pull/13024

[2020-04-16 23:43] #34276 closed

[2020-04-16 23:46] GaryOkie commented on #34239
Although... I still may need to create a custom card.    I have one card using standard picture glance card  to show the doorbell camera 10-sec updated "view-auto" snapshot, which can then show the streaming live view if needed.    That's perfect.

The other situation I'm trying to work out is displaying the snapshot of the last activity recorded from the doorbell camera, which when clicked on, di

[2020-04-16 23:49] mkmer commented on #33375
@kane610: This is VERY strange.  I have added logging elements to the device_tracker.py to log connect and disconnect scheduled and disconnect events in an attempt to figure this out.

How the heck did the client become "away" without executing the "is_connected" code in device tracker?

"Short event"
17:57:26 the client changed to "away"
17:57:32 the client changed to "home"

The log file shows n

[2020-04-16 23:59] #31024 closed

[2020-04-17 00:07] schmittx commented on #34030
Yep, same issue here.

[2020-04-17 00:26] Adminiuga commented on #34318
after renaming the entity, could you hit F5 to refresh? Per screenshot it doesn't look like it was renamed really

[2020-04-17 00:52] ssilence5 commented on #33808
@bachya just had it happen again tonight.

`Log Details (ERROR)
Logger: homeassistant.components.websocket_api.http.connection.2865575408
Source: components/simplisafe/alarm_control_panel.py:177
Integration: websocket_api (documentation, issues)
First occurred: 8:50:05 PM (1 occurrences)
Last logged: 8:50:05 PM

'SystemV3' object has no attribute 'name'
Traceback (most recent call last):
  File "/

[2020-04-17 01:10] lindsaymarkward commented on #34180
Thanks for replying. It has a date and a time:
[code]
It is set via a script:
[code]
The UI shows a date and a time, but the stats reset at the time every day.

[2020-04-17 01:56] #30621 closed

[2020-04-17 01:56] #30659 closed

[2020-04-17 01:56] #30470 closed

[2020-04-17 02:09] raman325 commented on #33458
@GaryOkie the fix for this will get released with 0.108.6. Once it’s released and you have a chance, can you update and make sure the error is gone?

[2020-04-17 02:27] jjlawren commented on #34242
Sorry @grantclem, I'll need more information from you to assist. Can you answer the questions from my previous comment?

[2020-04-17 02:34] jjlawren commented on #31599
Although the subscription calls seem incorrect, they don't seem to be related to the Plex server not reporting the playback status. Old Shield Plex clients behave fine (ie, roll back to the one that's preinstalled on the Shield and it reports playback fine). The newer ones appear to have some issue when playback is started via the player's API.

I posted on the [Plex forums](https://forums.plex.tv

[2020-04-17 02:36] jjlawren commented on #31357
Any luck with 0.108? If not, we should have a long-needed bump in the underlying library for 0.109.

[2020-04-17 03:08] KennethLavrsen commented on #12013
Still not fixed

[2020-04-17 03:33] bdraco commented on #34173
I would have expected 1 to come in as 2.54 rounded to 3.

[2020-04-17 03:38] thehaxxa commented on #34046
All good from my side, everything is working.

I get this in my logs but everything works:

[code]
-------------------------------------------------
[code]

[2020-04-17 03:50] bdraco commented on #34173
Looks like they use

`round(percentage * 254 / 100) + 1`

[2020-04-17 03:57] RomRider opened #34326 "Timer starts with 52sec already on the counter"
## The problem

When I start a timer entity, the entity.last_updated gets a date that is 52 seconds behind now, which means the display is off by 52 seconds (didn't check if the `timer.finished` event happens really after 10min or 9.52min in my case or not) and on cancel, the last_updated is 52 sec ago also (you have to be fast to see it 😊).
You can see it below:
![Apr-17-2020 05-51-43](https://us

[2020-04-17 04:04] ctalkington commented on #33893
this is on hold until translations 2.0 is worked out

[2020-04-17 04:10] sublime24 commented on #33864
As a test I have replaced the SD with a different one assuming the SD could be corrupt and restored my 108.5 image. The issue still remains. I connected my PI via hdmi and got this error when the system crashed.
![image](https://user-images.githubusercontent.com/34117764/79531272-10afdb00-802f-11ea-8f14-b061c136f460.png)

[2020-04-17 04:11] sublime24 commented on #34098
As a test I have replaced the SD with a different one assuming the SD could be corrupt and restored my 108.5 image. The issue still remains. I connected my PI via hdmi and got this error when the system crashed.
![image](https://user-images.githubusercontent.com/34117764/79531327-350bb780-802f-11ea-9503-26ac26fbf4d9.png)

[2020-04-17 04:22] bdraco commented on #34173
@drewgraham  Even if used floats its still going to be off

Percent | Incoming_HUE | To HASS | To Zwave | Returned_HASS | Returned_HUE | Hue Difference | Roundtrip % | Percent Different
-- | -- | -- | -- | -- | -- | -- | -- | --
1 | 4 | 4.01574803149606 | 2 | 5.15151515151515 | 5.13131313131313 | -1 | 1 | 0
20 | 52 | 52.2047244094488 | 20 | 51.5151515151515 | 51.3131313131313 | 1 | 19 | -1
49 | 12

[2020-04-17 04:25] pongdevelop opened #34327 "Google Cloud TTS supported languages Thai"
Home Assistant release with the issue: 0.108.5
Last working Home Assistant release (if known):
Operating environment : raspberry pi 4
Component/platform:
https://www.home-assistant.io/components/google_cloud/

Description of problem:
Thailand language ('th-TH') is supported by Google Cloud, but not by the current Home Assistant platform.

Demo : https://cloud.google.com/text-to-speech/

Please fix

[2020-04-17 04:47] bdraco commented on #34173
I don't see any other way to do it then use the cache. The problem here is going to be the cache expiration. We could do something that uses the cache if the values are within 1% of the real values otherwise expire the cache.

[2020-04-17 04:50] bdraco commented on #34173
As to not try to fix two problems in one PR, I'll push #34185 forward and then think about ways to solve this without the cache

[2020-04-17 05:15] jes1417 commented on #34326
I have had some issues with entities having the wrong time and I found the issue was the clock on the host was behind or ahead see if you can poll a ntp server to update the hosts time. It might be what you are experiencing.

[2020-04-17 05:28] bieniu commented on #33866
https://github.com/home-assistant/core/pull/34317

[2020-04-17 05:32] mdegat01 opened #34328 "Can't create a date/time helper in UI"
## The problem

I tried to create a date time helper in the UI and I can't because the options for choosing whether its date, time or date & time are missing.  My pop-up looks like this:
![Screen Shot 2020-04-17 at 1 24 56 AM](https://user-images.githubusercontent.com/2037026/79535111-7cec0800-804a-11ea-8b56-1c20c5e43b9d.png)
It doesn't default to one of those options either, they appear to all be

[2020-04-17 05:39] dolenec commented on #34233
I can condirm that.changes made in PR is solution and is working..

[2020-04-17 05:50] RuudKoolmees commented on #33870
Hi James, Thanks!!!!

Cheers,

Ruud

[2020-04-17 06:22] OnFreund commented on #34035
@johanjongsma when you click on one of the zones from the integration page, do you see "1 disabled entities"?
<img width="1052" alt="Screen Shot 2020-04-17 at 9 19 10 AM" src="https://user-images.githubusercontent.com/2159693/79538381-eb51ba00-808c-11ea-8708-11ef42abc7dd.png">

Click on it to expand, click on the entity, and enable it. Does that work?

Also, can you attach your logs?

[2020-04-17 06:26] joostkoppers commented on #33870
Sounds good 😀

Thanks for the effort, James!

[2020-04-17 06:30] amelchio commented on #34134
Sorry about that. It should be fixed in 0.108.6.

[2020-04-17 06:35] amelchio commented on #34226
Should be fixed in 0.108.6.

[2020-04-17 06:39] #30029 closed

[2020-04-17 06:40] costastf commented on #32475
Hi all, hope everybody is healthy and doing good. @frenck is there anything I can do to help? Should I refactor the authentication to some specification?

[2020-04-17 06:50] fribse commented on #33479
I can see that it has been merged into the dev, how do I see for which release, is it for 0.109

[2020-04-17 06:52] Sjeff commented on #34266
Thanks @bdraco still working with the custom intergration.

[2020-04-17 06:52] #34266 closed

[2020-04-17 06:54] crazyfx1 opened #34330 "KNX cover does not send open to bus if it's already open in HA"
## The problem

I have a knx cover which controls the central objects of the jalousie actuator. Since it's only for the central objects, there is no state to read from. That means, HA only knows the state if it was modified via HA and not on knx.

I use an automation which calls `cover.open_cover` every day at 7:00. Since the covers are closed in the evening directly on KNX, the state of the cover

[2020-04-17 06:56] jamesarbrown commented on #33875
As an update, this does appear to be working via browser as I got a response like this... I will look again this evening.

-- myboundary
Content-Type: text/plain
Content-Length:36
Code=VideoMotion;action=Stop;index=0

[2020-04-17 06:58] felipediel commented on #30215
@InToSSH const.py is also required. Could you help me testing the new version?

Copy these files to `custom_components/broadlink`:
[const.py](https://raw.githubusercontent.com/home-assistant/core/f7814116dc878aee6713fb542b114c82e7f63fe4/homeassistant/components/broadlink/const.py)
[remote.py](https://raw.githubusercontent.com/home-assistant/core/f7814116dc878aee6713fb542b114c82e7f63fe4/homeassista

[2020-04-17 06:59] slootjes commented on #34303
I can confirm the beta component works as expected. Still the current component is broken so I think this should stay open until it's actually fixed?

[2020-04-17 07:34] crazyfx1 commented on #34330
Basically this line:

https://github.com/home-assistant/core/blob/9aee91b98c6548c73730e96a63b8b68a2b4e7c43/homeassistant/components/knx/cover.py#L162

Same with closing.

[2020-04-17 07:38] kodarn commented on #27545
I'm running HomeAssistant using Docker, and came across this issue today. After finding the post above by @mmmente the issue was resolved. In summary:

### HomeAssistant error
HomeAssistant error when trying to add the Tradfri gateway:
<img width="669" alt="0 HomeAssistant Error" src="https://user-images.githubusercontent.com/24460172/79543352-9793a080-808d-11ea-8ba2-3871d26d6077.png">

### Versio

[2020-04-17 07:38] LEJOUI commented on #34318
It’s renamed. Below a screenshot with both entities.
![06CCAC57-33DD-4FDB-9306-4719A3F79558](https://user-images.githubusercontent.com/13658422/79544321-21903900-808f-11ea-83b1-7b07e71f9de7.png)

[2020-04-17 07:41] Mariusthvdb opened #34331 "ignored integrations keep triggering persistent_notifications?"
## The problem

Seems that ignored integrations keep triggering persistent_notifications, (which are auto dismissed and never see the frontend) and thus keep taking system resources, on a rather high frequency, about every 5 minutes.

Not sure if this is a bug, or per design, but it would seem more appropriate if ignored integrations would be 'parked' until they are enabled again.

I've only notic