[2020-02-14 19:14] Adminiuga commented on #31820
Nope, I stand corrected. 14400 is one hour check in, so it is fine. And long poll is 5s, well within default timeout for zigbee end device polling.
Enable debug logging for zha/zigpy/radios  and confirm if you see regular attribute reports or any traffic coming from the lock

[code]

[2020-02-14 19:57] rytilahti commented on #28912
Yes, the proper way to fix it is to avoid dozens of separate calls to fetch the data. The PR is still WIP as is the new backend lib, but it's slowly getting there. What hinders the progress most is that this change involves some fundamental changes to how these devices are handled internally, and developing & testing those changes with no test device is slow as we are dependent on feedback from so

[2020-02-14 20:37] myshyak commented on #27783
Same issue. 0.105.3

[2020-02-14 20:38] ipatalas commented on #21899
I have just updated 0.103 to 0.105.3 and still the same.
It's like 70-80% of my warnings/errors :(

[2020-02-14 20:43] lealoureiro commented on #31607
I don't think it works setting shuffle on before start playing a playlist. The service `media_player.play_media` resets the shuffle i guess.

for me it always starts first music with shuffle off

script:
[code]

[2020-02-14 21:03] dshokouhi commented on #31814
So these attributes are taken from the cleaning map and they only update every 5 or 10 minutes.  Judging by the date is 2/13 it is updating but probably slower than you expect.  If a new map was not created right away you'll need to wait until the map is created in order for it to update.  I bet if you check it out now it will be a different date/time.

https://github.com/home-assistant/home-assis

[2020-02-14 21:38] bjorne opened #31839 "No such image (homeassistant/qemux86-64-homeassistant:0.105.3) when updating"
## The problem

Trying to update HA via Hass.io dashboard. It fails and logs include:

[code]

Oddly enough, the image does exist [on Docker hub](https://hub.docker.com/layers/homeassistant/qemux86-64-homeassistant/0.105.3/images/sha256-5e0649ef66c96c75f3a408ce51ae67c75514d0935eca6cd6b62bf8aaba1b0eab?context=explore). Is Hass.io using another repo?

I've tried multiple times. Possible duplicate of

[2020-02-14 21:40] felipediel commented on #30215
I have already identified the problem with 0x5f36. There is a communication failure due to a poor implementation of the QUIC protocol in the API. There is no Python module to handle the legacy version of this protocol, so I am studying its documentation to reimplement it. It will be a lot of work, don't hold your breath.

[2020-02-14 21:41] tbar05 commented on #31816
@balloob yes it would have been a long time ago... i actually dont remember ever creating this person, is there a default person set up for the user login? ive been using HA for 18 months + so could have been that long ago

[2020-02-14 21:58] #31703 closed

[2020-02-14 22:09] petarvucetin opened #31840 "Integration Sense: Update for sensor.weekly_production fails"
## The problem

Component throws an error "Update for sensor.weekly_production fails".

## Environment

- Home Assistant release with the issue: 105.3
- Last working Home Assistant release (if known): 105.3
- Operating environment (Hass.io/Docker/Windows/etc.): Docker
- Integration causing this issue: Sense
- Link to integration documentation on our website:

## Problem-relevant `configuration.yam

[2020-02-14 22:10] petarvucetin commented on #31840
Now it just started working...

[2020-02-14 22:10] #31840 closed

[2020-02-14 22:11] bjorne commented on #31839
Turned out it was probably related to insufficient disk space after all, since when I freed up some more it went through. Maybe the error can be handled or message improved?

[2020-02-14 23:27] #31816 closed

[2020-02-14 23:34] PavloFatula commented on #25521
I do have the same problem:  No gateway discovered error in logs
did someone found the solution?

[2020-02-14 23:35] cabletie commented on #4210
I'm getting the warning from the custom meross component :

[code]

Additionally and maybe related I get this traceback in the meross stuff:
[code]
HTH

[2020-02-14 23:36] balloob commented on #31816
Found the issue, should work now for other people without having to edit persons in the UI first 👍

[2020-02-14 23:49] balloob commented on #4210
@cabletie that's a problem with the custom component. It's doing I/O inside `async_update`. Please report it to the author of the custom component.

[2020-02-15 00:33] biga888 commented on #31820
Things seem to be working OK now. Not sure why, maybe I was being
impatient before, but the lock just seemed to stop working and I was
getting message send failures when II went to try the lock from HA.
Sorry I don't have the logs from then, I thought I saved some.

Thanks for your help, definitely learned a few things :)

Here is what I get now:

2020-02-14 16:19:26 DEBUG (MainThread)
[homeassist

[2020-02-15 00:48] DeviousPenguin commented on #14816
Updated to the latest version yesterday as instructed by the stale bot.

I'm afraid this didn't fix the issue for me :(

[2020-02-15 01:10] Queuecumber commented on #31185
Just to leave an update, this magically started working sometime in the last day or so and I have no idea what fixed it. I don't think I updated home assistant recently and the ring app was always getting motion updates so I dont think it was fixed at their end. Really weird stuff. I'm going to close this issue I guess

[2020-02-15 01:10] #31185 closed

[2020-02-15 01:12] Hukuma1 opened #31843 "Cannot install latest Hass.io on Raspberry Pi 4 with generic Linux system"
## The problem

Following official steps here: https://github.com/home-assistant/hassio-installer

After installing all the required dependencies, installation does not continue (does not untar anything, etc). Looks like third docker container HA makes is missing. Confirmed by CPU idling for over 20 minutes.

[code]

Running same exact setup and scripts (on a VM on a PC instead of the Pi) works:

[2020-02-15 02:08] #31029 closed

[2020-02-15 02:11] Adminiuga commented on #31820
Leave it running and next day run `grep ':1:0x0101] Attribute report received' /config/home-assistant.log` that should filter only attribute reports from the lock. Check that you are receiving those at a regular intervals.

[2020-02-15 02:14] sreknob commented on #31734
There seems to be something wrong with my installation as well.
Previously able to have zha_event listening very responsive as I was doing lots of testing with appdaemon for ikea remotes using controllerx.
Since 0.105.3 there is now quite a delay in zha_events showing and very few events are actually coming through. I'm also getting lots of deserializing errors in my HA log.
[code]

[2020-02-15 02:16] jshank commented on #17622
Still happening. Has anyone done an automation to react to the `Session is closed` and call reconnect until this is addressed?

[2020-02-15 02:25] SMLMG commented on #30686
Ok ... I tried but no luck. In fact most of the config is now broken. I guess I’ll go piece by piece with my config to see what might be causing the problem. However, the Dyson code I inserted first and just ran with it. No good.

Sent from my iPhone

On Feb 12, 2020, at 7:58 AM, etheralm <notifications@github.com> wrote:

﻿

Are you still on 103.6? Dyson changed the endpoint of their API a week a

[2020-02-15 05:24] unpack8866 opened #31844 "The icon for the switch state will not change"
The switch status icon of the new version will not change

[2020-02-15 06:12] Hukuma1 commented on #31843
Found this from 11 hours ago. Reporting same situation.

https://community.home-assistant.io/t/hass-io-installer-where-is-home-assistant/150566/8

[2020-02-15 07:30] scop commented on #31140
Duplicate of #29901

[2020-02-15 07:30] #31140 closed

[2020-02-15 08:00] scop commented on #29901
Here's a little script that can be used to debug the issue. It simply tries to log in and out of the router, and dumps some ugly info about the requests and responses:
[code]

Note that while the output does not contain the password in cleartext, it may contain some info that is not good to post in public. Which unfortunately also makes debugging the issue harder.

Anyway, try it out with similar

[2020-02-15 08:09] rbisschops commented on #31571
I have the problem with all my devices on the Netgear including wireless devices (AP behind router). It is due to the introduction of the link_rate condition I think. I don’t know why this is introduced anyway. The problem definition in the PR is not that clear. IMHO this is best reversed or an option should be added to disable the link_rate check. All my network monitoring and my presence detecti

[2020-02-15 08:29] springstan commented on #31844
Closing this issue as it has been adressed in the release notes: https://www.home-assistant.io/blog/2020/02/05/release-105/#icons-no-longer-change-color-based-on-state

[2020-02-15 08:29] #31844 closed

[2020-02-15 08:34] enc1976 commented on #31464
Hello. I also get a Error: access_token negotiation failure error when trying to use the somfy api oauth system. And of course I do not get any devices in the Somfy integration,, I live in the EU. Any ideas?

[2020-02-15 08:35] frenck commented on #31839
751 is indeed not enough, the compressed image is around 350~ which has to be uncompressed, so that adds about at least another twice 350~.

Looking at your disk, 6Gb, that is really on the low side, we recommend at least 32Gb.

The error message you are seeing is from Docker and is documented. At this point, there is not much we can do. Nevertheless, I'm happy you've got your problem resolved! 👍

[2020-02-15 08:35] #31839 closed

[2020-02-15 08:43] scubammx commented on #27337
the same was happening to me in the past month , i was on a RPI  , now i migrated to VM and this not happen anymore , also i assigned the fixed dns to the machine  in the router, hope this can help.
from my point of view after just a few days in VM i can say that the RPI i much much less stable than a virtual machine, there are a lot of small bugs i noticed and that are not happening anymore.... e

[2020-02-15 09:29] Johnpojohn opened #31849 "Homeassistant docker container suddenly not working"
## The problem

 I'm running Homeassistant on a docker container under synology dsm (host mode). The container suddenly stopped working (without me doing any changes except pulling the latest version). I am unable to access the web UI ("Unable to Connect")

## Environment

- Home Assistant release with the issue: Docker-latest
- Last working Home Assistant release (if known): Docker-latest (previo

[2020-02-15 09:52] MaartenKleijwegt opened #31850 "SSLv3 Error when using HP_ILO integration with Dl380 Gen7"
## The problem

When trying to connect the HP Ilo integration to a HP dl380 Gen7 the sensor integration will fail it's ssl handshake and none of the sensors can be read.

## Environment

#
- Home Assistant release with the issue:
- Last working Home Assistant release (if known):
- Operating environment (Hass.io/Docker/Windows/etc.):
- Integration causing this issue:
- Link to integration documenta

[2020-02-15 09:52] #31850 closed

[2020-02-15 10:12] nicjo814 commented on #31734
Is there anything I can do on my end to help troubleshoot?
Any more info I can provide?

[2020-02-15 10:27] nicjo814 commented on #31734
Here is a log from when I'm waking the on/off remote up from sleep:
[code]

[2020-02-15 11:28] thimic commented on #31820
Thanks for all the help and suggestions @Adminiuga. I haven't had time to try all your suggestions today, but I'll try in the morning.

[2020-02-15 11:32] #25469 closed

[2020-02-15 11:49] duncan-valleix commented on #16698
bonjour toujours present dans 0.105.2

[2020-02-15 12:15] jamesking420 opened #31852 "Home assistant does not restart - seems to be a problem with pychromecast?"
## The problem
Home assistant core hangs on restart, according to the log it's stuck on something to do with pychromecast.  Happy to provide logs but I do not know exactly what would be needed.

The issues does not occur if I do "ha ho reboot" and reboot the whole Operating System.

## Environment
Raspbery pi 4, 32 bit install of Home assistant Operating system.  Been happening since late .104 rel

[2020-02-15 12:18] DJTerentjev commented on #31724
Thank you very much! Great integration.

[2020-02-15 12:18] #31724 closed

[2020-02-15 12:41] akasma74 opened #31853 "esphome: error messages without entity_id"
## The problem

I use several devices flashed with esphome in my setup and from time to time can see the following in HA log:

There is no information about what device causes this.
I believe it's much better to display such information like here

## Environment

- Home Assistant release with the issue: 0.105.0
- Last working Home Assistant release (if known): N/A
- Operating environment (Hass.io/

[2020-02-15 13:03] MartinHjelmare commented on #31571
I can confirm the problem. I'll make a PR to revert #30581.

[2020-02-15 13:29] vindicatorr opened #31854 "HA/MaryTTS/MPD Bug?"
## The problem

MaryTTS fails with each of the 3 codecs.

## Environment

- Home Assistant release with the issue: 0.105.1
- Last working Home Assistant release (if known): N/A (first version tried)
- Operating environment (Hass.io/Docker/Windows/etc.): Arch Linux
- Integration causing this issue: MaryTTS
- Link to integration documentation on our website: https://www.home-assistant.io/integration

[2020-02-15 14:39] Adminiuga commented on #31734
Wake up device and press reconfigure button in zha config panel for this device and submit the logs. I don't see anything wrong but could be either it lost its configuration or it is sending updates via group id.

[2020-02-15 15:30] lb1974 commented on #30976
Same here. Hass.io v 105.4. HassOS 3.7,

[2020-02-15 15:44] springstan commented on #31852
@jamesking420 please add some logs to your issue so we can take a look on what is going wrong :)

[2020-02-15 15:45] dapper2490 opened #31856 "Caller ID sensor not working with USR 5637 or my other two modems"
## The problem

## Environment

- Home Assistant release with the issue:
- Last working Home Assistant release (if known):
- Operating environment (Hass.io/Docker/Windows/etc.):
- Integration causing this issue:
- Link to integration documentation on our website:

## Problem-relevant `configuration.yaml`

[code]

## Traceback/Error logs

[code]

## Additional information

[2020-02-15 15:46] dapper2490 opened #31857 "Caller ID sensor not working with USR USB modem"
## The problem

I have a USR 5637 USB modem.  I also have another two Hayes compatible modems that don't work with Home assistant.  However the USR 5637 is recognised and the sensor appears in my HassIO states.  The problem is when a ring is received, the time is recorded but no caller ID and the fax tones can be heard on the telephone line.  If someone could point out a solution or a working UK U

[2020-02-15 15:46] #31856 closed

[2020-02-15 15:52] dac21 commented on #31814
Alright, thanks Sent from Mail for Windows 10 From: Daniel ShokouhiSent: Friday, February 14, 2020 4:03 PMTo: home-assistant/home-assistantCc: dac21; AuthorSubject: Re: [home-assistant/home-assistant] Neato Attributes Not Updating (#31814) So these attributes are taken from the cleaning map and they only update every 5 or 10 minutes. Judging by the date is 2/13 it is updating but probably slower t

[2020-02-15 15:53] #31670 closed

[2020-02-15 16:04] springstan commented on #31766
Seems like the API has changed, see https://github.com/w1ll1am23/pydukeenergy/issues/2

[2020-02-15 16:08] #25235 closed

[2020-02-15 16:16] jjok opened #31858 "Unable to have packages with same file name"
## The problem

It seems that you're not able to have a package with the same file name as another.

For example, I had something like like this, which worked fine:

    /config/packages/hallway/light.yaml

Then I added a light for another room and the new light in `conservatory` works fine, but the `hallway` light no longer appears in Home Assistant.

    /config/packages/conservatory/light.yaml

[2020-02-15 16:21] #31571 closed

[2020-02-15 16:27] sblantipodi commented on #30707
@cepresso it worked well, hope to see your patch merged soon 👍

[2020-02-15 16:41] sberryman opened #31859 "Hue white light via deconz not reporting supported_features correctly"
## The problem
Phillips Hue **WHITE** lights controlled via Deconz are all showing `supported_features: 0`. My color lights are showing the correct value of `63`. What is strange is that I can call the `light.turn_on` service with a brightness value and they work as expected. So something within the last 3 or 4 releases has caused an issue of supported features to be reported incorrectly. This is

[2020-02-15 16:50] fermulator opened #31860 "New Samsung TV component does not yield entity"
After the upgrade to 105, users SamsungTV integrations stopped working, because I guess we changed and broke backwards compatibility.  The new YAML def doesn't seem to work.  I changed per docs, but samsungtv entity doesn't get detected.  (UI doesn't find any samsungtv entities ...)

## Environment
[code]

- Home Assistant release with the issue: 0.105
- Last working Home Assistant release (if kno

[2020-02-15 17:00] jamesking420 commented on #31852
Have just restarted twice - both successfully. Do I need to set my logging level to any particular level to be best able to help?

I did recently power cycle a non-responsive Google home. Not sure if this might be why HA is now successfully restarting or if it's just luck.

[2020-02-15 17:02] sehraf commented on #22807
@lstg I've followed your suggestion and added the changes https://github.com/Danielhiversen/flux_led/pull/59 to my local files ( + a small fixup; see PR) and can now retrieve the current state of my strip. Controlling is kind of buggy: sometimes it works and sometimes it just turns white....
As you have pointed out, the effects are not supported at all.
Sadly the before mentioned PR seems a bit de

[2020-02-15 17:12] #31814 closed

[2020-02-15 17:12] austinmroczek opened #31862 "The zwave platform for the climate integration does not support platform setup."
## The problem

## Environment

- Home Assistant release with the issue: 0.105.3
- Last working Home Assistant release (if known): 0.104 (maybe?)
- Operating environment (Hass.io/Docker/Windows/etc.): virtual environment using raspbian Linux 4.19.75-v7l+ and Python 3.7.3
- Integration causing this issue: z-wave
- Link to integration documentation on our website:
https://www.home-assistant.io/integ

[2020-02-15 17:22] dshokouhi commented on #31862
Zwave is only configurable via the integration panel or via `zwave:` configuration.  The docs are a bit out of date here.  What is the actual issue here? Are you trying to remove the climate entity? Or is it missing?

[2020-02-15 17:33] springstan commented on #31852
Well you can set the logger level to debug for the chromecast integration to get more detailed logs. See the [logger documentation](https://www.home-assistant.io/integrations/logger/) for more information.

The power cycle could be the cause of this issue since HA is communicating with the Google Home Device during setup.

[2020-02-15 17:47] jamesking420 commented on #31852
But I don't have the Chromecast integration enabled.

[2020-02-15 17:55] springstan commented on #31852
Okay that is really odd. If it occurs again please add the log to the issue so we can investigate this further.

[2020-02-15 18:08] jamesking420 commented on #31852
Apologies, it seems I do have it installed, but through the UI, rather than YAML.  Don't really like configuring through the UI when the YAML can be so much more explicit and configurable, but apparently I did on this occasion.

I removed it, as it had some duplicate entries, restarted, then re-added it through the UI.  will let you know if I get this issue again.

[2020-02-15 18:09] TheZoker commented on #31860
Have a look at #31537 maybe this will fix your issue...

[2020-02-15 18:12] austinmroczek commented on #31862
I guess the issue is that I'm getting a "error" in my log when properly configured according to the documentation.  When I am set up according to the zwave documentation
[code]
it gives the error listed above.

This should turn into an issue to update the documentation.  Do I close this issue and start a new one for documentation, or is there a way to "convert" the issue?

[2020-02-15 18:16] dshokouhi commented on #31862
It might be faster to start a new issue on the docs side.  I am not sure how to move issues :)

[2020-02-15 18:20] Kane610 commented on #31859
My Hue white lights works as expected. Can you enable debug and share the detailed logs of the device you say you have this issue with

[2020-02-15 18:28] #31862 closed

[2020-02-15 19:38] anrada73 opened #31866 "Bug light card"
Home Assistant release with the issue: 0.105.4
Last working Home Assistant release (if known): Probably 0.104 or 0.101
Operating environment (Hass.io)

After the last update, the light card stopped displaying correctly and there is no way to change the lighting effects. https://share-your-photo.com/7ce77f03dd

[2020-02-15 19:49] springstan commented on #31784
I am sorry, unfortunately I cannot reproduce this issue.

Tested the supported_features for a light group with two mqtt lights:
[code]
Which results in the following entity, which both have the same supported_features as your lights:
[code]

Grouped them in a light group:
[code]
Which resulted in the following entity:
[code]

[2020-02-15 19:54] sberryman commented on #31859
Sure, I'll do that now.

Just saw this in the logs as well

[code]

[2020-02-15 19:54] SMLMG commented on #30686
It’s working ... I cannot tell you why. I added things back in bit by bit. Anyway, nice work here.

Sent from my iPhone

On Feb 12, 2020, at 7:58 AM, etheralm <notifications@github.com> wrote:

﻿

Are you still on 103.6? Dyson changed the endpoint of their API a week ago. I updated the dyson integration with a fix for that. It should be available in 105. Can you please update to the latest hass ve

[2020-02-15 19:55] springstan commented on #31866
Please open only one issue and in the correct repo -> frontend https://github.com/home-assistant/home-assistant-polymer/issues/4883.

[2020-02-15 19:55] #31866 closed

[2020-02-15 20:01] mrand commented on #31857
Seems like something similar came up before and the bug expired:   https://github.com/home-assistant/home-assistant/issues/21859   There is even be a proposed solution by @gurbyz in that PR - can you try it out?

[2020-02-15 20:19] mrand commented on #31252
@escoand I have a C-series, which is about as old as it gets.  If you need me to test something, just give some semi-detailed instructions (I'm running hass.io on Ubuntu).

[2020-02-15 20:38] dmsimard commented on #27275
@andrewsayre I came across this [thread](https://community.home-assistant.io/t/087-0-smartthings-config-problem/97788/3) which suggested to turn off Wi-Fi before installing the SmartApp in the Android SmartThings application and it worked for me.
Don't ask me why but I figured I would post this here in case anyone else finds this issue.

[2020-02-15 20:44] escoand commented on #31860
Duplicate of #31252

[2020-02-15 20:47] escoand commented on #31252
@mrand You could try to find the UPNP service with the command at #25044. And if so you could use the code there as custom component.

[2020-02-15 20:57] jpcornil-git opened #31867 "Threading issue with mcp23017 platform when used by both binary_sensor and switch integration"
## The problems

When a **mcp23017** platform is instantiated by e.g. a **_binary_sensor_** and a **_switch_** component (running in different threads):
- there is no protection mechanism/mutex to protect non atomic operations, e.g. a read-modify-write sequences -> inconsistent results when both threads access hardware at the same time (typically when hass starts up and each thread runs its _setup

[2020-02-15 21:08] ctripodi opened #31869 "Trigger using platform: template is not working (Home Assistant 0.105.3)"
Hello I am running Home Assistant 0.105.3 HassOS 3.10 in a Raspberry Pi4 4Gb ram
I am trying to create an automation using a template to trigger it.
The Problem is that the automation never is triggered.

Environment
- Estado del sistema
- arch	armv7l
- dev	false
- docker	true
- hassio	true
- os_name	Linux
- python_version	3.7.6
- timezone	America/Argentina/Buenos_Aires
- version	0.105.3
- virtual

[2020-02-15 21:12] MartinHjelmare commented on #31860
Closing as duplicate per above.

[2020-02-15 21:12] #31860 closed

[2020-02-15 21:31] etheralm commented on #30686
Thanks, great to hear that it's working now.

[2020-02-15 21:40] ptr727 opened #31870 "greeneye_monitor : Error doing job: Task exception was never retrieved"
## The problem

On every startup I get an error like this:
[code]

## Environment

Using version 0.105.4 docker on Unraid.

- Home Assistant release with the issue: 0.105.4.
- Last working Home Assistant release (if known): Unknown
- Operating environment (Hass.io/Docker/Windows/etc.):  docker on Unraid
- Integration causing this issue: greeneye_monitor
- Link to integration documentation on our w

[2020-02-15 22:21] #31566 closed

[2020-02-15 22:27] aaronpk commented on #31683
I just installed a brand new homeassistant and had this same problem. How does homeassistant become aware of the latest changes to the socialblade client?

[2020-02-15 22:36] jacekpaszkowski opened #31872 "Not able to setup SmartThings integration after disabling cloud integration"
## The problem

I'm not able to setup SmartThings integration.
I've used NabuCasa for some time and integration was working. Now i've switched to "manual" configuration via base_url and removed cloud integration .I'm not able to setup this integration.
I see in debug logs that SmartThings integration still use nabucasa url

## Environment

- Home Assistant release with the issue: 0.105.3
- Last wo

[2020-02-15 22:40] pinkywafer commented on #31683
The author of socialbladeclient has said he'll open a pull request to fix soon

[2020-02-15 23:14] linuxkidd commented on #12954
I believe the issue is related to a change in the output format from OpenEVSE and the use of html parsing on the part of the 'openevsewifi' module.

I've adjusted the openevsewifi module to use json format instead, which is much more stable and reliable than parsing HTML:

In:
`/opt/homeassistant/lib64/python3.7/site-packages/openevsewifi/__init__.py`
(note, your path may be different, I have a py

[2020-02-15 23:32] #28673 closed

[2020-02-16 00:25] trentjw commented on #28912
did not fix mine just did a reboot still get unnamed and still not able to find tp link devices until multi restarts of home assistant

[2020-02-16 00:59] andrewsayre commented on #31872
ST will use Nabucasa if it’s enabled and has a valid subscription.  It does not support using the option unless NC is not available.

[2020-02-16 01:16] amorabito opened #31873 "Error while getting duke_energy sensor data"
## The problem

Error in server logs when startup with duke_energy platform sensor.

## Environment

- Home Assistant release with the issue: 0.105.3
- Last working Home Assistant release (if known): not sure
- Operating environment (Hass.io/Docker/Windows/etc.): Docker
- Integration causing this issue: duke_energy
- Link to integration documentation on our website: [https://www.home-assistant.io/

[2020-02-16 02:25] TheZoker commented on #26574
@rytilahti Any news regarding this topic?
Is anyone working on the custom SSID discovery?

[2020-02-16 05:24] rrubin0 commented on #28531
this just happened to me too - was troubleshooting/upgrading something else and, after a Linux update/reboot, I ran into this.

[2020-02-16 05:39] karthikbeam commented on #31778
Looks unrelated to HASS and caused by some issue in my mosquitto local bridge (the retained messages there are stale).. gonna close this ticket

[2020-02-16 08:21] rschuiling commented on #30555
@MichielvanBeers Amazon Polly doesn't seem to be the culprit. I did several tests where Polly was disabled and enabled. Here are two logs, in both cases Amazon Polly was enabled in configuration.yaml:

[home-assistant1.log](https://github.com/home-assistant/home-assistant/files/4209499/home-assistant1.log) - Remote UI was unreachable after restart
[home-assistant2.log](https://github.com/home-assi

[2020-02-16 08:49] #31749 closed

[2020-02-16 09:08] Kane610 commented on #31859
Never seen that error message before. Don't forget the device description from the logs

[2020-02-16 10:25] esabea commented on #28780
yes...in the last version (0.105.4) still going.
In my case, the problem was in a device that had the character "**¿**" and "**?**" in the comment.
I have deleted those characters and the problem has been solved

[2020-02-16 10:28] oneteam2win opened #31879 "Continuous error message from Daikin Air Conditioning"
## The problem

After I have integrated the Daikin air conditioner, I constantly get the following error message.
 ```WARNING (MainThread) [pydaikin.appliance] ServerDisconnectedError 3```

## Environment

- Home Assistant release with the issue: 0.104.3
- Last working Home Assistant release (if known):
- Operating environment (Hass.io/Docker/Windows/etc.): Docker
- Integration causing this issue:

[2020-02-16 10:42] nick2525 opened #31880 "Frontend url not available on first start for long time"
When HA is installed with command line tools, first start too long, because frontend also downloading pip dependencies, but sometimes pip in unavailable, so pip begin to compile (python 3.8 in summer 2019 didn't have all pip compiled), it was hour with unavailable url. We need url available after HA start, and show progressbar about such install

[2020-02-16 11:00] Torgrima commented on #31726
I am closing the issue.
In my case I just think it was some cleanup that was not done correctly, after the update.

After numerous restarts,.That finally happen automatically (probably)

[2020-02-16 11:00] #31726 closed

[2020-02-16 11:01] nick2525 opened #31881 "States writes kills sd cards. Need in memory database for states"
HA states not so important to keep them on sd card. We need checkbox to allow write in memory, for some period, for example, for a day. Because, reboots not so often.

[2020-02-16 11:05] jacekpaszkowski commented on #31872
I've disabled NC and i'm not able to setup integration. Endpoint setups with nabucasa url.
![image](https://user-images.githubusercontent.com/4264991/74603500-56463b00-50b4-11ea-83b5-96047fc97c50.png)

No cloud section in configuration:
![image](https://user-images.githubusercontent.com/4264991/74603518-71b14600-50b4-11ea-85c7-3a1709e6e25f.png)

Seems that NC is not completely disabled...

[2020-02-16 11:07] jacekpaszkowski commented on #31879
@oneteam2win offtopic question. Which Daikin model you have? Which models are compatible with HA?

[2020-02-16 11:10] oneteam2win commented on #31879
FTXM20N2V1B

[2020-02-16 11:33] nicjo814 commented on #31734
Ok, here is the log from when I reconfigure the device:
[code]

[2020-02-16 11:55] onkelbeh commented on #28811
Still unsolved.
Anyone but me using this integration?
Should be easy to fix.

[2020-02-16 12:27] frenck commented on #31881
While I get your request, it is a feature request at this point.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2020-02-16 12:27] #31881 closed

[2020-02-16 12:29] frenck commented on #31880
Hi, there @nick2525, could you please use the provided issue templates?

A Home Assistant installation already provides this at the first start, by showing a landing page. However, this does not apply to Home Assistant Core installations.

Please note, that Python 3.8 is not officially supported by the Home Assistant Core yet.

If you think this should be added to the Core as well, it would become

[2020-02-16 12:29] #31880 closed

[2020-02-16 12:33] frenck commented on #31873
Apparently, this integration uses scraping to fetch information, see:

<https://github.com/w1ll1am23/pydukeenergy/blob/master/src/setup.py#L9>

This violates ADR-0004 of our architecture:

<https://github.com/home-assistant/architecture/blob/master/adr/0004-webscraping.md>

This integration should be removed.

[2020-02-16 12:34] PaulAnnekov commented on #26518
@engrbm87 I see you fixed one part of the problem, `consider_home` is now `detection_time`. Thanks :confetti_ball: . But what about `interval_seconds`? Is there any way to set it, e.g. to 3 seconds. Currently, it looks like it's 15 seconds.

[2020-02-16 12:38] sxx1314 opened #31882 "Problems with PS4 after upgrading 0.105.4"
## The problem

Problems with PS4 after upgrading 0.105.4 .
Remove the ps4 device and re-add the prompt unkonw error.

## Environment

arch | armv7l
dev | false
docker | false
hassio | false
os_name | Linux
python_version | 3.8.1
timezone |
version | 0.105.4
virtualenv | true

- Home Assistant release with the issue: 0.105.4
- Last working Home Assistant release (if known):  0.93.x 0.96.x
- Operat

[2020-02-16 12:40] frenck commented on #31857
@dapper2490 Could you please make sure you fill in the issue template with all requested information (if available)? Thanks! 👍

[2020-02-16 12:43] frenck commented on #31858
This is expected.

`include_dir_named` finds all files (including the ones in subfolders), and uses the file name as the `key` element in the YAML. Having files names with the same name inside a directory structure will cause duplicate `key` elements in YAML.

IMHO, this is not a bug, but incorrect use of the `include_dir_named`.

[2020-02-16 12:46] ERdeVroom opened #31883 "History graph not shown since Netatmo integration"
## The problem

Since the integration of Netatmo in 0.105.x the history graph does not work anymore in the sensor card configuration.

## Environment

- Home Assistant release with the issue:
- Last working Home Assistant release (if known):
- Operating environment (Hass.io/Docker/Windows/etc.):
- Integration causing this issue:
- Link to integration documentation on our website:

## Problem-relev

[2020-02-16 12:47] frenck commented on #31882
Please don't remove the issue template provided. Could you please make sure the whole issue template is available and used? Thanks 👍

[2020-02-16 12:49] frenck commented on #31883
@ERdeVroom Could you please fill in all relevant requested information in the issue template? Thanks! 👍

[2020-02-16 13:01] YRRK opened #31884 "Continous errors in log from Netatmo"
Netatmo shouts many errors in the log after running for a while, and stops working. Makes no sense to me what could be wrong. Tought about reporting them now because it doesnt' seem to stop even after a clean install.

## Environment
arch| armv7l
-- | --
dev | false
docker | true
hassio | true
os_name | Linux
python_version | 3.7.6
timezone | Europe/Amsterdam
version | 0.105.4
virtualenv | false
-

[2020-02-16 13:03] YRRK commented on #31884
My error log disappeard it is:

2020-02-16 08:11:57 WARNING (MainThread) [homeassistant.helpers.entity] Update of camera.netatmo_netatmo_presence_achtertuin is taking over 10 seconds
2020-02-16 08:12:17 ERROR (MainThread) [homeassistant.helpers.entity] Update for camera.netatmo_netatmo_presence_achtertuin fails
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/urlli

[2020-02-16 13:08] Zixim opened #31885 "Enigma2 integration / spamming log with wrong info"
## The problem
openwebif.api logs that the box is unreachable, yet :
* ping tells us that the box is most certainly very reachable,
* curl successfully retrieves results from the api URL.
[code]
## Environment

- Home Assistant release with the issue: 0.105.2
- Last working Home Assistant release (if known): ?
- Operating environment (Hass.io/Docker/Windows/etc.): Home Assistant (formerly known as

[2020-02-16 13:20] bullmoose20 commented on #29217
I am seeing the same error and as far as I can tell.... the internet is up right now as I write this. Can this happen when specific sites become unavailable?

[2020-02-16 13:50] YRRK commented on #31884
And yet another crash:

2020-02-16 14:37:51 ERROR (MainThread) [homeassistant.helpers.entity] Update for camera.netatmo_netatmo_presence_achtertuin fails
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/urllib3/contrib/pyopenssl.py", line 485, in wrap_socket
    cnx.do_handshake()
  File "/usr/local/lib/python3.7/site-packages/OpenSSL/SSL.py", line 1934, in do_hand

[2020-02-16 14:27] fudu commented on #31791
check also:
https://github.com/home-assistant/home-assistant/issues/31212
I'm not sure it's ST only problem ....

[2020-02-16 15:10] #28563 closed

[2020-02-16 15:13] WLCD commented on #31151
Hello, yes it worked with a pin not starting with a 0.

[2020-02-16 16:19] #31719 closed

[2020-02-16 16:51] cgtobi commented on #31884
@YRRK thanks for reporting. I'll take a look to handle this more gracefully.

[2020-02-16 16:53] cgtobi commented on #31883
I'm closing this as it lacks any usable information. Please re-open when you can provide the data requested in the issue template.

[2020-02-16 16:54] #31883 closed

[2020-02-16 16:55] mcondren commented on #28531
Just happened to me as well.  3 days into using ecobee integration.
`2020-02-16 16:44:24 ERROR (SyncWorker_38) [pyecobee] Error while refreshing tokens from ecobee: 400: {'error': 'invalid_grant', 'error_description': 'The authorization grant, token or credentials are invalid, expired, revoked, do not match the redirection URI used in the authorization request, or was issued to another client.', '

[2020-02-16 17:17] TonyApuzzo commented on #31361
With 0.105.4, so far, the lutron connection has been stable.  I don't think anything changed in 0.105.4 that would affect this, so maybe something changed in the lutron hub.  Will continue to monitor.

[2020-02-16 18:01] nicjo814 commented on #31734
I finally got zha_events from the remote. After unbinding the remote from all devices/groups in the ZHA config UI I got the events in the log. I was 100% sure I've done that before, but I'm no so sure anymore :-)
Thanks for all your support!

[2020-02-16 18:01] #31734 closed

[2020-02-16 18:42] Kane610 commented on #31603
For anyone want to try stuff out I just added a main function to the aiounifi package, you can now just fork the git repo and call it using python3 -m aiounifi 127.0.0.1 username password

[2020-02-16 19:12] fatuuse opened #31887 "Hangouts intents - left out"
## The problem
Hangout intents leaves - out from template slot.
Text including "test -10" is not recognize but "test 10" are recognize by intent "test {value}"

## Environment
- Home Assistant release with the issue: 0.105.4
- Last working Home Assistant release (if known):  ??
- Operating environment (Hass.io/Docker/Windows/etc.): Docker
- Integration causing this issue: Hangouts
- Link to integr

[2020-02-16 19:19] fatuuse commented on #31887
Maybe @hobbypunk90 could help?

[2020-02-16 19:49] johntdyer commented on #31549
Same isse here

[2020-02-16 21:13] dapper2490 commented on #31857
Sorry Frenck, my first time here. I can't edit my original post now.  Mrand,  I'm on a mac so it's difficult for me to access the code but thanks for the suggestion.

[2020-02-16 21:22] cobirnm commented on #31657
I think that the problem might be with bluepy. I’m no running Miflora as a custom integrantion and changed manifest.json requirements to bluepy==1.1.4
Up until now I have had no errors

[2020-02-16 21:40] Martinvdm commented on #31657
You are right! when i use miflora as custom component with bluepy==1.1.4 it is working instantly.

[2020-02-16 21:59] JuanitoAlimana commented on #31566
Opened|

Sent from iPhone

﻿
Closed #31566.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-02-16 22:13] rytilahti commented on #26574
@TheZoker alas no, I have had no time and won't have any in the near future to work on that. Nor have I heard anyone working on converting the platform to a proper integration which is required for that. The backend library supports the discovery, but it will require adaptation to allow unicast discovery (for manually configured ones).

[2020-02-16 22:14] user897943 opened #31891 "Integration fastdotcom not updated - Fast.com can measure uploads but integration and documentation support only Downloads"
## The problem

## Environment

- Home Assistant release with the issue: 0.105.4
- Last working Home Assistant release (if known): Not related to version - integration not updated
- Operating environment (Hass.io/Docker/Windows/etc.): Docker
- Integration causing this issue: Fast.com
- Link to integration documentation on our website: https://www.home-assistant.io/integrations/fastdotcom/

## Prob

[2020-02-16 22:17] user897943 commented on #31891
Sorry for the bad formatting, configuration.yaml is configured correctly but the formatting on this report is incorrect.

[2020-02-16 22:22] i00 opened #31892 "Scripts no longer sorted alphabetically after renaming"
## The problem

Scripts used to be listed alphabetically on the scripts page, now, after renaming a script the order is not changed

## Environment

- Home Assistant release with the issue: 0.105.4
- Last working Home Assistant release (if known): 0.104.3
- Operating environment (Hass.io/Docker/Windows/etc.): Docker
- Integration causing this issue: Scripts
- Link to integration documentation on o

[2020-02-16 22:24] JuanitoAlimana commented on #31566
Sent from iPhone

﻿Opened|

Sent from iPhone

﻿
Closed #31566.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or unsubscribe.
—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-02-16 22:26] #27702 closed

[2020-02-16 22:32] peetereczek opened #31893 "Android battery level"
## The problem

With version 0.105 you have announced that Android mobile app will report battery level to HA, but it does not:
![image](https://user-images.githubusercontent.com/42431204/74613883-24b08c80-5113-11ea-91be-9ec03597c8eb.png)
![image](https://user-images.githubusercontent.com/42431204/74613889-32fea880-5113-11ea-9d2b-89b15e277267.png)

What can I do to figure it out why I can't see ba

[2020-02-16 22:44] jacekpaszkowski commented on #31872
I removed ```smartthings``` file from ```.storage``` folder. Restarted HA, and then endpoint address changed to my base_url address.

[2020-02-16 22:44] #31872 closed

[2020-02-16 22:48] gerard33 commented on #31704
Thanks @Quentame
Your fix is merged and together with a fix for the API change BMW did in #31894.

[2020-02-16 22:53] jes1417 commented on #31892
Same problem with automations

[2020-02-16 23:25] balloob commented on #31791
Good catch @fudu. Going to close this as duplicate of ##31212.

I'll update the JSON saving to help find the culprit.

[2020-02-16 23:25] #31791 closed

[2020-02-16 23:29] zolstarym commented on #25329
Still a problem for me. I guess sending emails to amazon about the issue is the best that can be done right now, as I use port 80 for other stuff on the server

[2020-02-16 23:32] #31704 closed

[2020-02-16 23:38] Adminiuga commented on #31734
@dmulcahey could it be that remote stops sending updates on Group_id == 0x0000 if you bind it to any group? Just like Opple Remotes stop sending broadcasts?

[2020-02-16 23:40] Adminiuga commented on #31734
@nicjo814 can you test the following:
1. bind the remote to a group and confirm you stop receiving `zha_event`s
2. Add your EZSP coordinator as a member to the same group you bound the remote

[2020-02-16 23:44] phoniclynx commented on #30168
I've just tried using a new version of HASSio 105.4, and turned on Unify Integration again.. after about 10 hours it halted HA again..

[2020-02-16 23:59] dmulcahey commented on #31734
Could be

[2020-02-17 00:01] unwovened commented on #29980
@bdraco - looks like you already figured it out, but just in case, here's the redacted debug log:
[code]
I just noticed i'm getting an invalid_config error... I don't know if it's something I did, but I figured I'd put it in here as well, while I go troubleshoot if I had "broken" it intentionally, so I can prevent getting the messages over and over. (A cursory review of the August config didn't sh

[2020-02-17 00:04] bdraco commented on #29980
@unwovened can you update to 0.105.4 and post the log?  There other other fixes in there that this needs to build on top of

[2020-02-17 01:03] eskimos2000 commented on #31263
Help please, please. I am stuck in that 3.8.

[2020-02-17 01:30] guimaraes13 commented on #31784
I have created a group with two hue ambiance (which only supports color temperature) and it worked as expected.

However, I have a similar problem with groups of lights created on the hue app. They show in home assistant as if all the light in it had all the features. I have submitted a pull request to solve this problem.

In yours example, you created a group called TV Lights, but, then, you show

[2020-02-17 03:50] unwovened commented on #29980
Updating sent me down a rabbit hole to fix multiple breaking changes in my configuration (not august component related).
I scrubbed a LOT because the API returns a surprisingly detailed and comprehensive set of information.... But I _think_ I left all the good/useful bits here. If something is amiss, too obfuscated, let me know!
[code]

Note: I left a couple of non-August Z-Wave entries here as we

[2020-02-17 04:24] bdraco commented on #29980
Thank you

[code]

Thank you. These are the bits I needed to confirm the upcoming changes will fix this.

[2020-02-17 04:33] #31870 closed

[2020-02-17 05:49] i00 opened #31900 "Mobile App device battery and Wifi sensors are badly named"
## The problem

The mobile app adds up to 3 entities per device, a device tracker, and a battery level and WiFi connection sensor

The issue that I have is that the battery and Wifi Sensors are literally called:
sensor.battery_level
sensor.wifi_connection
while the device tracker is called:
device_tracker.oneplus_a3003

oneplus_a3003 is my phone's name... I think that the other two sensors should

[2020-02-17 05:52] i00 commented on #31900
... Also before someone points this out ... yes I know they can be renamed ... but I just think it would be nicer if they were named better in the first place

[2020-02-17 06:03] balloob commented on #31212
I've opened https://github.com/home-assistant/home-assistant/pull/31901 which will help us point out what data is incorrect.

[2020-02-17 06:17] tunerooster commented on #31786
Can someone at least confirm that this is a bug?

[2020-02-17 06:19] reaper7 commented on #31900
indeed... you're right

and what if the mobile app is installed on two devices

[2020-02-17 06:45] mcka-dev commented on #31549
I do not have anything with the key "hide_if_away", yet still get the message that something has it upon startup.

[2020-02-17 06:53] balloob commented on #31786
Open dev tools -> events. In "Listen to events" card, add `ifttt_webhook_received` and start listening, now trigger your curl. You can now see all the data that is available in the event and create an automation that triggers on that event.

[2020-02-17 06:53] #31786 closed

[2020-02-17 06:54] balloob commented on #31784
Glanced at the code, could also only see `|=` bitwise operations, which could never result in a higher number.

As we cannot reproduce this, will close this issue.

[2020-02-17 06:54] #31784 closed

[2020-02-17 06:55] nicjo814 commented on #31734
@Adminiuga When I bind the remote to a group with a single lamp I don't get zha_events any longer. Adding the coordinator to the group makes the events appear in the log again.

Is there any way to see current device/group bindings?

[2020-02-17 06:57] Quentame commented on #31900
@reaper7 It will have `sensor.battery_level_2`

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-17 07:00] Quentame commented on #31900
I think it is a feature request so I don’t know if it should keep it here.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-17 07:10] dshokouhi commented on #31900
This was actually fixed a few days ago in https://github.com/home-assistant/home-assistant/pull/31756

Will be in 0.106

[2020-02-17 07:10] #31900 closed

[2020-02-17 07:45] allanpersson commented on #31549
**hide_if_away** is related to the known_devices.yaml file. You should before 0.107.x remove that line from the known devices in the file.

_@frenck (tagging you because you are tagged in the issue) i have removed the line from my known devices, but when new devices is found they get added with the line hide_if_away maybe the behaviour should change from next release 0.105.x or 0.106.x so new devi

[2020-02-17 07:53] frenck commented on #31857
Just hit the pencil icon on your first post?!
![image](https://user-images.githubusercontent.com/195327/74633880-f3f84380-5162-11ea-9bac-7b9dc4a39c15.png)

It is important to have correct and complete information on your issue.

[2020-02-17 07:55] Kane610 commented on #30168
Changes on data management is part of the dev track and will be released with 0.106. You guys who experience this issue should really try it out to see if we get any improvements

[2020-02-17 08:15] Misiu commented on #31867
@jpcornil-git I'm working on PCF8574 integration, so your finding is very useful.
I'll wait to see what others have to say about this problem.
Do you have other hardware to test this problem? `pcal9535a`?

[2020-02-17 08:23] i00 opened #31906 "Resume (start after pause) on Xiaomi Vacuum does not work"
## The problem

[This commit](https://github.com/home-assistant/home-assistant/commit/ab2ac60d123fb8c070a03a46e7b8f60a7b676b67#diff-04c3ed4ea4dacd0d3b254d22e6d735dd) it appears was to make it so that the vacuum could be resumed after it had been paused.

After pausing the vacuum, starting it re-starts the clean.

## Environment

- Home Assistant release with the issue: 0.105.4
- Last working Home

[2020-02-17 08:25] dshokouhi commented on #29460
@Mariusthvdb please create a feature request to have the battery sensors in Hue.

The original issue was for the mobile app integration on Android and this was fixed in the lastest Android app release as we now have battery sensors.

[2020-02-17 08:25] #29460 closed

[2020-02-17 08:38] frenck commented on #31549
@allanpersson, which integration does that? Since we should look at fixing integrations that pass that in.

[2020-02-17 08:42] allanpersson commented on #31549
@frenck I use netgear and bluetooth device tracker and both are adding new devices with hide_if_away

[2020-02-17 08:44] allanpersson commented on #31549
And there should be nothing in my config causing that 🙏
https://github.com/allanpersson/home-assistant-config/tree/master/config/entities/device_trackers

[2020-02-17 08:47] jpcornil-git commented on #31867
No I don't but can help eventually, e.g. add debug code to expose the issue/thread activities as I did for my MCP23017-based board (https://github.com/jpcornil-git/RPiHat_GPIO_Expander)
Cheers
jpc

[2020-02-17 08:51] MartinHjelmare commented on #31549
That's the default behavior of the legacy device tracker integration. The depreciation of hide if away was reverted for this integration.

[2020-02-17 09:03] MartinHjelmare commented on #31549
It seems the deprecation is still in place for the default config option for the legacy device tracker.

https://github.com/home-assistant/home-assistant/blob/b77f2670a701c3bb972bb23aba9f7a3e168e9569/homeassistant/components/device_tracker/__init__.py#L54-L65

This means that it will warn if you configure it manually. It will still create new devices with the internal default for this option, if n

[2020-02-17 09:06] allanpersson commented on #31549
Isn't It possible to update the default behavior, so people get the warning and when they fix it it won't come back again seconds later when a new device is added?
Personally I can easy fix it in the device tracker settings or delete the devices added but for many it will probably be a warning and behavior that cause big problems 🙏

[2020-02-17 09:22] hmmbob commented on #31549
I'm using a MQTT device tracker, if that is covered by this default as well that makes sense that the hide_if_away pops up every reboot for me:

[code]

[2020-02-17 09:29] Misiu commented on #31867
@jpcornil-git thank you for the link!
Let's wait for others to look into that issue.

[2020-02-17 11:47] tunerooster commented on #31786
Thank you!  What a great troubleshooting tool!  It displayed this:
[code]

So I changed the value_template in my script to:
`message: 'Setting fan speed to: ({{ data.speed }})'`
Now it says:
`Error rendering data template: UndefinedError: 'data' is undefined`
I am still lost... :(

[2020-02-17 11:47] Tamadite opened #31907 "After upgrade to 0.105.4: Supervisor does not run in Privileged mode."
## The problem

## Environment

- Home Assistant release with the issue:
- Last working Home Assistant release (if known):
- Operating environment (Hass.io/Docker/Windows/etc.):
- Integration causing this issue:
- Link to integration documentation on our website:

## Problem-relevant `configuration.yaml`

[code]

## Traceback/Error logs

[code]

## Additional information

[2020-02-17 11:49] Mattie commented on #30760
This is frustrating and probably will be the reason I move away from SmartThings with HA, especially with how casually the issue keeps being dismissed in bug reports. This happens like every week-- especially if restarting sometimes hangs, etc. I have zero issues with any other integration but SmartThings makes my life crummy due to this.  If anyone knows of a workaround, patch, or hack, please do

[2020-02-17 11:55] frenck commented on #31907
Could you please add information to the issue? There is nothing in there.

[2020-02-17 12:05] Tamadite commented on #31907
Sorry, I hit "enter" by mistake and it got published....

[2020-02-17 12:07] frenck commented on #31907
That can happen :)

[2020-02-17 12:24] akdnfbf opened #31908 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/sbmadwq

[2020-02-17 12:49] springstan commented on #31869
Closing this issue as this is not directly a bug in any HA code. Please use the [dicscord server](https://discord.gg/c5DvZ4e) or the [community forum](https://community.home-assistant.io/) for these kind of questions.

[2020-02-17 12:49] #31869 closed

[2020-02-17 13:42] springstan commented on #31906
What exactly is restarted, just the zone or global cleaning? Do you still experience the old behaviour as mentioned in https://github.com/home-assistant/home-assistant/pull/22626#issue-266277914?

Furthermore, which model are you using?

[2020-02-17 13:52] springstan commented on #31583
Closing this issue as the solution is mentioned above. If all possibilities are ruled out and the problem persists this issue can be reopened.

[2020-02-17 13:52] #31583 closed

[2020-02-17 13:52] springstan commented on #31584
Is this still an issue?

[2020-02-17 13:55] springstan commented on #31574
Please open a [feature request](https://community.home-assistant.io/c/feature-requests?order=votes) in the communit forum since this is technically not an issue.
Thanks for understanding :)

[2020-02-17 13:55] #31574 closed

[2020-02-17 13:57] tomasz8w commented on #29901
I did some tests with all versions after 1.2 and till 1.4.3 script does not return any error. With 1.4.4 and newer, it throws error with credentials provided.

[2020-02-17 14:01] springstan commented on #31455
Closing this issue as the solution is mentioned above.

[2020-02-17 14:01] #31455 closed

[2020-02-17 14:04] springstan commented on #31449
Please open a [feature request](https://community.home-assistant.io/c/feature-requests?order=votes) in the community forum to add support for the web browser Vivaldi's Hue integration. Going to close this issue now since we use Github issues only as an issue tracker.
Thanks for understanding :)

[2020-02-17 14:04] #31449 closed

[2020-02-17 14:12] chris669 commented on #31584
I'm now running 105.4 without problem, but for me this tool "Check Home Assistant configuration" doesn't worked. I posted the log above. So I uninstalled it. Maybe this plugin has been replaced by: Configuration .. Server Controls .. **CHECK CONFIG** button? I do not know.

[2020-02-17 14:30] #31778 closed

[2020-02-17 14:44] #28720 closed

[2020-02-17 15:04] fermulator commented on #31252
(this is a regression btw) - it isn't clear when I read through, but for me anyway (and I suspect all others) - `0.105` upgrade breaks `samsungtv` compatibility with "newer" models. How do we ensure this is communicated in release notes?  Users MAY NOT want to upgrade to the latest `hass` because of this, OR, we revert until we get both legacy and new figured out?

[2020-02-17 15:06] helen119 opened #31910 "Wanna see my hot pics?💋💋💋"
Hi!😻😻😻 Wanna see my hot pics?💋💋💋 Go to this site and find me here. ❤️❤️❤️ My nick is sexygirl662 👇👇👇

https://tinyurl.com/ulpu2gz

[2020-02-17 15:08] nickjedl commented on #26837
Just updated to version 0.105.4 and the issue is definitely still there.

[2020-02-17 16:45] captainnapalm commented on #31720
Looks like I didn't do enough digging into my issue and it turns out my Vera controller was offline. Fixed that and it's working again in Home Assistant.

[2020-02-17 16:49] fredrike commented on #31879
@oneteam2win don't worry, it is not really an issue. If the warning annoys you change the logging section in `configuration.yaml` to not include pydaikin.

[2020-02-17 16:51] twsI commented on #31504
version 0.105.4 and UE75MU6179, same issue

[2020-02-17 16:51] biga888 commented on #31820
here is my pastebin from the grep of my logs over a couple of days https://pastebin.com/FDCvCB5L

[2020-02-17 17:09] twsI commented on #4210
`Updating state for media_player.samsung_tv (<class 'custom_components.samsungtv_custom.media_player.SamsungTVDevice'>) took 0.976 seconds. Please report platform to the developers at https://goo.gl/Nvioub`

[2020-02-17 17:24] xchwarze commented on #31252
new models never have compatibility with samsungtv.
that's why there were about +30 open issues about it
anyway #31537 add support for all new tvs (WS + SSL conection)

[2020-02-17 17:39] Tim-GitHub commented on #31127
So updating to 105.4 and removing the thermostat from zwave configuration screen, restarting hass.io and adding the thermostat back finally resulted in a single climate entity!

The issue now is that the zwave device is detected as battery powered instead of mains powered. While the thermostat supports both, only one type can be used at a time (not battery as backup). It's functioning fine (shows

[2020-02-17 17:40] oneteam2win commented on #31879
Thank you very much for the feedback and clarification.
I didn't know about the logger yet and it is a very valuable hint for me. Thank you.

[2020-02-17 17:44] #22439 closed

[2020-02-17 17:46] springstan commented on #31316
Websocket requirement of the different packages:
- [x] vallox_websocket_api (#31913): [websockets >= 7.0, < 9.0](https://github.com/yozik04/vallox_websocket_api/blob/6c15105277c27f5643fb8d0e15ce1d4031170fa8/setup.py#L42)
- [x] aiopylgtv (#31545): [websockets>=8.1](https://github.com/bendavid/aiopylgtv/blob/0771b4c908e75b9dbcbf43a0245e8331e45fc580/setup.py#L9)
- [x] discord.py (#31391): [websockets

[2020-02-17 17:48] springstan commented on #31176
@Hellowlol is this still an issue?

[2020-02-17 17:49] jardiamj commented on #30075
@danielromney, this is the same as this issue: https://github.com/home-assistant/home-assistant/issues/31719
A PR that fixes it has been merged already.

[2020-02-17 18:00] Tim-GitHub commented on #31127
False alarm. After restarting Hass.io once more the thermostat got added correctly as a repeater and shows up on my zwave graph correctly. Thanks @oandrew !

[2020-02-17 18:00] #31127 closed

[2020-02-17 18:20] #31761 closed

[2020-02-17 18:30] #26672 closed

[2020-02-17 18:30] dapper2490 commented on #31857
I don't have a pencil icon :)

Might be a Mac/Safari issue.  Sorry!

[2020-02-17 18:39] fredrike commented on #31879
@oneteam2win reopen it, it should be a debug/info message so I'll try to find some time to change it.

[2020-02-17 18:46] Adminiuga commented on #31734
thanks. So this confirms those remotes use group_id 0x0000 when not bound to any groups.
Currently there's no way to see device bindings. I guess that leaves it up to the user to do extra configuration step if you bind the remote.

[2020-02-17 18:55] springstan commented on #31624
Unfortunately, I cannot reproduce this issue. In general the status code 400 is returned on malformed request syntax, invalid request message framing, or deceptive request routing.
If you still have trouble with the external rest api please seek help in our [community forum](https://community.home-assistant.io/) or in our [discord server](https://discord.gg/c5DvZ4e).
I am going to close this issue

[2020-02-17 18:55] #31624 closed

[2020-02-17 18:59] dseven commented on #28774
This is still an issue in 0.105.3

[2020-02-17 19:01] jardiamj commented on #31867
@StephenBeirlaen, this is most likely the reason we were having issues using the INTFLAG for implementing the Interrupt logic into the component.
In order to implement this changes to the Adafruit_CircuitPython_MCP230xx would need to be done through a PR first.
Adafruit's i2c_device implementation is designed so you can lock the i2c bus and device address: https://github.com/adafruit/Adafruit_Circ

[2020-02-17 19:07] fredrike commented on #31879
Temporary fix:

[code]

[2020-02-17 19:13] scop commented on #29901
Thanks for testing! This confirms that the fix should be made in huawei_lte_api. Between 1.4.3 and 1.4.4 we changed it to use a persistent session, which is really the right thing to do, and that's what browser also do anyway. But apparently there's something some modems don't like something about it.

Could you file a report about this at https://github.com/Salamek/huawei-lte-api/ along with your

[2020-02-17 19:21] mrand commented on #31857
@dapper2490  it's actually the three dots in the upper right corner of your original issue.  If you click there, you should get an option to Edit - assuming you are logged into github.

[2020-02-17 19:33] springstan commented on #31584
@chris669 looks like your python installation is not complete since it is missing the mentioned [`stat` module](https://docs.python.org/3/library/stat.html) which is installed by default as far as I know.

[2020-02-17 19:54] mrand commented on #26228
This is still happening regularly.  I'll try stopping my auto-changing theme to see if that helps reduce the occurrences.

[2020-02-17 20:06] springstan opened #31919 "Missing netdisco module breaks various integrations"
## The problem

Various integrations break because of missing netdisco module.
Oddly enough some integrations do not use this module e.g. https://github.com/home-assistant/home-assistant/issues/31612#issuecomment-583735271

Could this be a consequence of moving all imports to the top in #27284?
Do we need to add netdisco to the requirements for some integrations?

See the following issue for refer

[2020-02-17 20:08] SeraphimSerapis commented on #31603
Done. Please see the issue report I created.

[2020-02-17 20:44] #28734 closed

[2020-02-17 20:51] frenck opened #31923 "Gearbest integration violates ADR-0004"
## The problem

The Gearbest integration uses web scraping using BeautifulSoup, this violates [ADR-0004](https://github.com/home-assistant/architecture/blob/master/adr/0004-webscraping.md).

The integration needs to either:

- Adjust, not to rely on web scraping.
- Deprecate, for 2 releases and remove it after that.

## Environment

- Home Assistant release with the issue: 0.105.4
- Last working H

[2020-02-17 20:51] #29512 closed

[2020-02-17 20:51] #31766 closed

[2020-02-17 20:51] #31873 closed

[2020-02-17 20:55] frenck opened #31924 "Environment Canada integration violates ADR-0004"
## The problem

The Environment Canada integration uses web scraping using BeautifulSoup, this violates [ADR-0004](https://github.com/home-assistant/architecture/blob/master/adr/0004-webscraping.md).

The integration needs to either:

- Adjust, not to rely on web scraping.
- Deprecate, for 2 releases and remove it after that.

Code sample: <https://github.com/michaeldavie/env_canada/blob/master/en

[2020-02-17 20:58] frenck opened #31925 "Météo-France integration violates ADR-0004"
## The problem

The Météo-France integration uses web scraping using BeautifulSoup, this violates [ADR-0004](https://github.com/home-assistant/architecture/blob/master/adr/0004-webscraping.md).

The integration needs to either:

- Adjust, not to rely on web scraping.
- Deprecate, for 2 releases and remove it after that.

Code sample: <https://github.com/victorcerutti/meteofrance-py/blob/master/met

[2020-02-17 21:00] raman325 commented on #30817
I believe this issue can now be closed

[2020-02-17 21:01] frenck opened #31926 "Xfinity Gateway integration violates ADR-0004"
## The problem

The Xfinity Gateway integration uses web scraping using BeautifulSoup, this violates [ADR-0004](https://github.com/home-assistant/architecture/blob/master/adr/0004-webscraping.md).

The integration needs to either:

- Adjust, not to rely on web scraping.
- Deprecate, for 2 releases and remove it after that.

Code sample: <https://github.com/cisasteelersfan/xfinity_gateway/blob/mast

[2020-02-17 21:02] Tediore commented on #30817
Ah yep! Sorry, forgot to close it. Thanks again.

[2020-02-17 21:02] #30817 closed

[2020-02-17 21:12] hobbypunk90 commented on #31887
Sorry, at this moment i can't help😔 too much work and i'm not at home

erik <notifications@github.com> schrieb am So., 16. Feb. 2020, 20:19:

[2020-02-17 21:14] Adminiuga commented on #31820
@biga888 your report looks fine. You are getting reports from the lock every 15min as you should so at least lock to coordinator communication is fine. A few attempts you've tried to control the lock were successful too.
Install zha_map custom component and next time lock starts acting up, scan the network and check if by any chance lock appears as a child device of two different parents. Grep the

[2020-02-17 22:25] biga888 commented on #31820
Thanks, appreciate the help as the few nuggets of knowledge :) all the
best!

On Mon, Feb 17, 2020 at 1:14 PM Alexei Chetroi <notifications@github.com>
wrote:

[2020-02-17 22:39] starkillerOG commented on #31607
@frenck I just made a PR that schould fix this issue, based on the constructive discussion we had.
Could you take a look at it and merge it if you think it is okay?

[2020-02-17 22:53] balloob commented on #31212
Please update to Home Assistant Core 0.105.5 and check your logs. It should now tell you the paths to the data that is incorrect.

[2020-02-17 22:54] jpcornil-git commented on #31867
My changes aren't generic enough; I would protect/lock by I2C address ideally (when you have multiple identical devices at different addresses you don't want to block access for all of them), same with the initialization (you want to initialize all of them but only once not everytime a new instance of the same {device, address} is made)

[2020-02-17 23:20] mamartins commented on #31689
Same happening here

[2020-02-17 23:52] balloob commented on #31919
I think this happened because we removed `discovery` from the default config, causing `netdisco` to no longer be always installed.

[2020-02-17 23:58] balloob commented on #31603
Crowdsource to buy a Dream Machine Pro for @Kane610 and I bet it will be fixed in the next release 😝

[2020-02-18 00:01] balloob commented on #31584
Looks like main issue is closed. If you still experience upgrade issues, please try again with version 105.5 (released today) and open a new issue detailing your problem.

[2020-02-18 00:01] #31584 closed

[2020-02-18 00:04] jjok commented on #31858
Hmm. I think it feels to me like it's a bug because, in general, everyone knows it's totally valid to have two different file with the same name in two different folders.
Would it be possible to use the directory name in the YAML key? If not, I think it should at least be well documented that you can't have more than one file with the same name, and probably it should have a warning in the logs sa

[2020-02-18 00:15] elafargue commented on #30215
Are there known ways to downgrade the Broadlink firmware on those units? That would be a way to work around this issue...

[2020-02-18 00:44] gyanez91 commented on #25361
hi, i have the same issue but on aqara sensors (motion, windows, and button ) , but instead of showing unknown, it always shows 100%, but previously it showed the correct percentage

[2020-02-18 01:28] cisasteelersfan commented on #31926
My vote would be to deprecate this integration. As the codeowner, I no longer have Xfinity service so I am not able to explore fixing this to not rely on web scraping.

[2020-02-18 01:41] balloob commented on #29217
it's expected to not work, but it shouldn't print a stacktrace. We should be able to process the exception properly. This is an issue in `hass_nabucasa` package so I have opened an issue for it there https://github.com/NabuCasa/hass-nabucasa/issues/129

[2020-02-18 01:41] #29217 closed

[2020-02-18 02:22] DavidFW1960 opened #31938 "Geo Location NSW Rural Fire Service"
## The problem

## Environment

- Home Assistant release with the issue: 0.105.5
- Last working Home Assistant release (if known): 0.105.4
- Operating environment (Hass.io/Docker/Windows/etc.): hass.io
- Integration causing this issue: Geo Location NSW Rural Fire Service
- Link to integration documentation on our website:

## Problem-relevant `configuration.yaml`

[code]

## Traceback/Error logs

[2020-02-18 02:23] slackr31337 opened #31939 "Mikrotik Integration does not handle disconnection"
## The problem
When the Mikrotik hub becomes disconnected from a device the hub appears to keep trying to pull data instead of becoming unavailable. Eventually hass becomes unresponsive and log becomes large in size.

## Environment

Debian 10 x64
Python 3.7 virtual env

- Home Assistant release with the issue: 0.105.3
- Last working Home Assistant release (if known):  new issue
- Operating enviro

[2020-02-18 03:44] #28731 closed

[2020-02-18 03:52] exxamalte commented on #31938
Could you please also add the versions of third-party libraries installed:
* aio_geojson_nsw_rfs_incidents
* aio_geojson_client
* geojson
* haversine

[2020-02-18 04:14] DavidFW1960 commented on #31938
I'm running Home Assistant Supervised on Debian. (Hass.io) I have not manually installed any of those packages or libraries - it's just straight hassio so it's whatever is installed with 0.105.5 - is there a way for me to get those versions for you?

[2020-02-18 04:20] exxamalte commented on #31938
Do you have command line access to your system? If so, inside `/usr/local/lib/python3.7/site-packages/` you will find all the third-party library folders - two per library, and one of them contains the version number (e.g. `aio_geojson_nsw_rfs_incidents-0.1.dist-info`).

[2020-02-18 04:44] #26320 closed

[2020-02-18 04:48] StephenWetzel commented on #20860
I just upgraded to 0.103 from 0.98 and started getting this error.  The work around above worked for me.

https://github.com/home-assistant/home-assistant/issues/20860#issuecomment-462454805

[2020-02-18 04:49] DavidFW1960 commented on #31938
OK so can't get that from the debian host system but can run a console in the container via portainer (could do a docker-exec I suppose) anyway..

aio_geojson_nsw_rfs_incidents-0.1.dist-info
aio_geojson_client-0.12.dist-info
geojson-2.5.0.dist-info
haversine-2.2.0.dist-info

[2020-02-18 05:11] m0wlheld opened #31940 "BMW Connected Drive Component reports „KeyError: 'vehicleStatus'“"
## The problem

0.105.5 was just released integrating a fix for bmw_connected_drive component after an API change at BMW.

However, the Integration now fails to start with a different error.

## Environment

- Home Assistant release with the issue:
0.105.5

- Last working Home Assistant release (if known):
0.105.3

- Operating environment (Hass.io/Docker/Windows/etc.):

arch | x86_64
-- | --
dev |

[2020-02-18 05:39] escoand commented on #31504
@twsl error will be fixed with 0.106. TV will work with mentioned PR.

[2020-02-18 06:04] exxamalte commented on #31938
Alright, here is what happened: I updated the upstream `aio_geojson_client` library, but unfortunately got the extraction of polygons wrong. My unit test was not set up according to the GeoJSON standard.
I fixed this in the upstream library, and will release a new integration library soon. I have improved unit tests in both libraries to avoid this type of issue in the future.

PR to fix the issue

[2020-02-18 06:18] tomasz8w commented on #29901
Sure, issue opened. I'm glad I can help in some sort of way.

[2020-02-18 07:44] oncleben31 commented on #31925
OK thanks for the warning. MeteoFrance doesn't provide a Public API, but uses a private one with their mobile app. Is it OK according to current rules or probable incoming ones if we develop a python module to reverse engineer the private API and use it to replace the web scraping?

[2020-02-18 07:59] #31938 closed

[2020-02-18 08:19] engrbm87 commented on #31939
Hello @slackr31337
Can you enable debug level for `mikrotik` component and send us the logs again.

[2020-02-18 08:30] tetienne commented on #31464
@abolsen @enc1976 When did you got this error? At which step?

[2020-02-18 08:31] frenck commented on #31925
We don't have policies around that. We currently only prohibit the use of web scraping, simply because they break so easily.

[2020-02-18 08:44] #28738 closed

[2020-02-18 08:50] #31882 closed

[2020-02-18 09:06] rosch100 opened #31946 "netatmo not working after upgrade to 105.5: token expired error"
## The problem
After upgrading to 105.5, the netatmo integration stopped working.

## Environment
- Home Assistant release with the issue: Home Assistant 0.105.5
- Operating environment (Hass.io/Docker/Windows/etc.): Hass.io
- Integration causing this issue: netatmo
- Link to integration documentation on our website:
https://www.home-assistant.io/integrations/netatmo/

## Problem-relevant `configu

[2020-02-18 09:14] abolsen commented on #31464
Trying to set oauth on the somfy api dev site.

[2020-02-18 09:17] cgtobi commented on #31884
@YRRK Let me know if you can test a fix for this on your system. You can find me on discord.

[2020-02-18 09:19] sblantipodi commented on #30707
@cepresso I have seen that the addon has been update.
Network UPS Tools ac56583 is available
You are currently running version 4213c06

does the ac56583 contains this fix?

[2020-02-18 09:22] cyclops1982 commented on #29844
HI

Just checking - is this going to be permanently fixed for the HRT4-ZW at some point, or will we always have to do a workaround after an upgrade?

I might be missing something with regards to how to fix this, but i think we'd want to close this issue with everybody happy and able to easily upgrade HA.

[2020-02-18 09:32] toalex77 commented on #31212
From my log:
[code]
The "bas data", I think, come from an air conditioner through a SmartThings integration.

[2020-02-18 09:45] springstan commented on #31919
Thanks for looking into this and providing a fix so quickly.
Just wanted to consolidate this one problem that I have seen all over the place. I think you are correct, the removal of `discovery` from the `default config` would definitely explain the absence of `netdisco`.

[2020-02-18 09:55] thimic commented on #31820
@Adminiuga, I’m embarrassed to say the solution to my issue was rather simple. Taking the batteries out of the lock, waiting 30 seconds and putting them back in seemed to fix things. Due to the correlation between Home Assistant updates and change in lock behaviour, I was sure the issue was with Home Assistant and didn’t think to check the lock. Your checklist of simple things put me straight.

[2020-02-18 09:56] garret commented on #28601
@nikidimi I've been using `bt-mqtt-gateway` for some time now since I managed to get it working thanks to your input. However, I've noticed that sometimes the status of both valves is not updated anymore and also the commands are not sent. When checking the logs of the docker container, you don't see any errors but at the same there are no "command successfully sent to the valve" line in the log.

[2020-02-18 10:07] pilot1981 commented on #31594
Hi,
I upgraded to 0.105.5 and now I'm able to get authorization from Netatmo webpage.
Now all work fine.

regards

[2020-02-18 10:07] marcoach commented on #30976
Same also for me. Hass.io c 105.4. HassOS 3.7 ( Thinkerboard )

[2020-02-18 10:16] zewelor commented on #28601
@garret Are you using newest bluez ?

[2020-02-18 10:20] mamartins opened #31947 "Automation not always triggered with value_template although the state changed"
## The problem
I have an automation to turn a light on and off when I am connected to a certain AP Mac address.
Even tough that I can see by printing ` {{ state_attr('device_tracker.iphone11', 'ap_mac') }}` that the Mac address is the one that should trigger the action, sometimes it is not triggered.

## Environment
HA version 0.105.5
Operating environment: Docker

- Home Assistant release with th

[2020-02-18 10:23] garret commented on #28601
@zewelor I am using `bluez 5.43-2+rpt2+deb9u2` on a rp3b+ with DietPi as operating system. The system is fully updated at the moment of writing.

[2020-02-18 10:26] Kane610 commented on #31603
I like how you are thinking @balloob :D

[2020-02-18 10:39] SeraphimSerapis commented on #31603
@balloob Thinking out loud: how about a fund managed by Nabu Casa (or some other instance), that helps maintainers finance new hardware? I'd be happy to pay additional funds via my monthly subscription if that effectively helps improving integration quality and reducing the financial burden on people who actively enable integrations.

[2020-02-18 10:42] zewelor commented on #28601
Thats very old, you need to upgrade it by hand somehow, to get reliable BLE. Minimum recommended version is 5.48, and I would suggest newest possible. It usually solves all of the problems. Old bluez works very bad for ble.

[2020-02-18 10:47] mareklab commented on #31374
Hi @Quentame

Again, why can't you read statuses for all devices from a single refresh? All information we need is there, so there's no need to send request for each device separately.

[2020-02-18 11:02] cgtobi commented on #31594
Not sure if why It’s working now, but I’m glad to hear that.

[2020-02-18 11:02] #31594 closed

[2020-02-18 11:14] jamesking420 commented on #31852
Apologies, but I've reopened this issue, and now provide logs.  I don't actually think they've been very helpful, so I will perhaps have to do some more logging if you tell me what.

1)  After clicking the "Update" button in the Supervisor UI to update to Home Assistant Core 0.105.5.
https://hastebin.com/nukuhulewo.sql

2) 10 minutes after the last message in the above log, HA just restarts:
https

[2020-02-18 11:16] jamesking420 commented on #31852
PS - the reason I say it "seems to be a problem with pychromecast" is because more often than not, the last line in the log is as follows:
`2020-02-18` 10:55:09 INFO (SyncWorker_0) [pychromecast] Querying device status

[2020-02-18 11:18] jamesking420 commented on #31852
PPS - I did try nad get debug level on mobile_app as well, as often
`
`2020-02-18 11:00:22 INFO (MainThread) [homeassistant.components.notify] Setting up notify.mobile_app
`
is towards the end of the log.  Apparently I shouldn't be using homeassistant.components.mobile_app to do this.  Should I be doing the notify component instead? "homeassistant.components.notify"

[2020-02-18 11:24] helen225 opened #31948 "HOT STREAM WITH ME 💋💋💋"
HOT STREAM WITH ME 💋💋💋
👇👇👇

https://tinyurl.com/qq6hb9f

[2020-02-18 11:32] Quentame commented on #31374
I know !

The underlying `pyicloud` library is doing this shit ... I fixed this here https://github.com/picklepete/pyicloud/pull/227 and test with HA on my branch for now https://github.com/Quentame/home-assistant/tree/icloud/fmi_reduce_battery_usage?files=1

But first, https://github.com/home-assistant/home-assistant/pull/31909 is necessary to the process

<sub>Sent with <a href="http://githawk.c

[2020-02-18 11:44] springstan commented on #31852
I have looked at all the logs you provided, though I am still uncertain if your problems are related to the cast integration. Have you tried to do all the things you mentioned with the cast integration disabled/entities removed?

[2020-02-18 11:50] arnefm commented on #31785
Seeing a similar error here. I use input_text entities to store this weeks dinner plan. My wife entered 'Phở' (vietnamese soup, correctly spelled) and I'm now getting errors from Recorder.

[code]

Checking the table:
[code]

So I converted it to utf8:
[code]

And the problem is gone. Not sure if I should consider this a problem with Home Assistant, or if this was a configuration mistake on my end

[2020-02-18 12:06] pptp-plg commented on #31749
in last release 0.105.5 my CAPsMAN tracking not work

[2020-02-18 12:13] frenck commented on #31749
@pptp-plg It is part of Home Assistant 0.106.

[2020-02-18 12:18] pptp-plg commented on #31749
Thank you @frenck

[2020-02-18 12:18] pptp-plg commented on #31749
Thank you @frenck

[2020-02-18 12:26] esenterre commented on #31294
Same problem here.

After reading https://github.com/home-assistant/home-assistant/issues/26132 I understand that FB don't accepts phone numbers anymore as target. We will have to use PSID instead.

But to obtain PSID, it needs a good amount of coding from what I can see there : https://developers.facebook.com/docs/messenger-platform/identity/id-matching

I'm wondering how we can implement all thi

[2020-02-18 12:26] jamesking420 commented on #31852
I agree, it may not be due to cast. The issue is intermittent (though more likely to occur when I'm trying to update core) so turning off any given integration doesn't really help track down the issue.

I think next time there's an update I'll put logging default level to debug and try updating to see if it reveals anything?

[2020-02-18 12:27] Sloth-on-meth opened #31949 "camera.record service perpetually keeps going at times,"
## The problem

## Environment

- Home Assistant release with the issue: 103.0
- Last working Home Assistant release (if known):  none
- Operating environment (Hass.io/Docker/Windows/etc.): docker on ubuntu
- Integration causing this issue: camera.record
- Link to integration documentation on our website: na

## Problem-relevant `configuration.yaml`

[code]

## Traceback/Error logs

[code]

## Add

[2020-02-18 12:58] fudu commented on #31212
The same from Deconz integration

`2020-02-18 12:28:35 ERROR (SyncWorker_3) [homeassistant.util.json] Failed to serialize to JSON: /config/.storage/core.entity_registry. Bad data found at $.data.entities[52].capabilities.hvac_modes, $.data.entities[53].capabilities.hvac_modes, $.data.entities[54].capabilities.hvac_modes, $.data.entities[55].capabilities.hvac_modes
2020-02-18 12:28:35 ERROR (MainTh

[2020-02-18 13:19] tunerooster commented on #31786
Please help!  I am unable to find the solution despite many hours of searches.

[2020-02-18 14:05] Mariusthvdb opened #31951 "Github sensor isn’t created if 1 of the repos is incorrect/unavailable"
## The problem

using the GitHub sensor with an extensive list of tracked repos, the sensor isn't created at all, even if only 1 of the listed repos is incorrect/unavailable

## Environment

- Home Assistant release with the issue: 105.x
- Last working Home Assistant release (if known): not sure
- Operating environment (Hass.io/Docker/Windows/etc.): Hass.io
- Integration causing this issue: Github

[2020-02-18 14:27] rrubin0 commented on #25676
Still seeing this error in 0.105.4 but no operational impact that I'm aware of.

[2020-02-18 14:29] typhoon2099 commented on #29844
I had to update the XML file manually. I don't think it's great from a user's perspective in terms of being able to add the HRT4-ZW to your network and start using it. It adds a barrier to entry for Home Assistant.

[2020-02-18 14:44] fermulator commented on #31252
6290 UHD 4k (UN55KU6290) worked for me in the previous component integration (see #31860)

[2020-02-18 14:45] fermulator commented on #31252
6290 UHD 4k (UN55KU6290) worked for me in the previous component integration (see #31860)

[2020-02-18 14:49] balloob commented on #31603
We do occasionally buy things for developers for integration development to make sure it works correctly. It's developer time that is more scarce.

[2020-02-18 14:50] engrbm87 commented on #31757
Hello @tjorim ,
Restoring the state of a device_tracker while the integration is unavailable will not provide the current state of that device (it might be currently `away` while the last state was `home`). If the entity state is `unavailable` this means either the integration is unavailable (disconnected for some reason) or the integration is not updating the state of this entity in which case yo

[2020-02-18 14:53] balloob commented on #31603
Btw one could also open an ssh port to let Robban take a peek. This is probably just a changed path.

[2020-02-18 14:54] xchwarze commented on #31252
Either you never installed the forced security update or for some unexplained reason they left out that TV model.
Samsung made it mandatory to use token and ssl to use the remote control.

[2020-02-18 14:55] tjorim commented on #31757
There are no errors in the log. Devices that are still connected show up as home fine. However, devices that are unavailable should be marked as away instead, because they are not available on the network, because they are disconnected.

[2020-02-18 14:55] #27932 closed

[2020-02-18 14:59] engrbm87 commented on #31757
If these devices were created from the previous integration and have not been discovered by the new `mikrotik` integration (which doesn't use `known_device.yaml` and uses the entity registry) then they will show as unavailable and should be removed. New devices will show as `away` if they are disconnected from the network.

[2020-02-18 15:14] Adminiuga commented on #31820
No worries there. Same recommendation and troubleshooting steps in case of future issues https://github.com/home-assistant/home-assistant/issues/31820#issuecomment-587161275

I suspect more than one Zigbee router thought being a parent for Yale lock and it was causing issues for coordinator to lock communication. Resetting the batteries caused a rejoin  which cleared the situation.

[2020-02-18 15:14] #31820 closed

[2020-02-18 15:23] escoand commented on #31252
@fermulator Or you interpret the simple power state detection as working.

[2020-02-18 15:31] tjorim commented on #31757
I started clean, removing old integrations and known devices. Yet devices show as `unavailable` instead of `away` after a restart. Once a device has connected again, marked as home and disconnects, it is marked as `away` instead of `unavailable` (until the next HA restart).

[2020-02-18 15:48] wasp100 opened #31955 "MQTT Cover - Garage Door Homekit"
## The problem

MQTT has been updated to add opening and closing states to MQTT cover, but Homekit Garage Door cover does not allow for this

## Environment

- Home Assistant release with the issue: 105.5
- Last working Home Assistant release (if known): never
- Operating environment (Hass.io/Docker/Windows/etc.): Hass.io
- Integration causing this issue: Homekit
- Link to integration documentatio

[2020-02-18 15:51] SeraphimSerapis commented on #31603
Valid point. @Kane610 let me know if I can help.

[2020-02-18 16:32] #31919 closed

[2020-02-18 16:32] #29866 closed

[2020-02-18 16:32] #30120 closed

[2020-02-18 16:32] #30617 closed

[2020-02-18 16:32] #31612 closed

[2020-02-18 16:41] felipediel commented on #30215
This can be done in the official app, but honestly, I don't recommend you to try it.
Changing the firmware is an invasive operation. If something goes wrong, you may end up bricking the device.
This firmware is ok, we can work with it. I'm working on a solution that will be simpler for you, I just need some time.

[2020-02-18 16:45] springstan commented on #31955
IMHO this is a feature request since it adds more functionality to a specific integration, therefore please open a [feature request in the community forum](https://community.home-assistant.io/c/feature-requests). I am going to close this issue now, since we use Github issues only for tracking issues.

[2020-02-18 16:45] #31955 closed

[2020-02-18 17:14] dshokouhi commented on #31947
Maybe try to create a binary template sensor and trigger based off that? Should make the automation cleaner.

[2020-02-18 17:23] wasp100 commented on #31955
@springstan I have logged the feature request as you requested. However, i believe that there is a missing link where the MQTT cover has been updated, but the HomeKit cover has not been updated accordingly. I would appreciate it if someone can look into this and integrate into the HomeKit component.

[2020-02-18 17:30] grahamr commented on #4210
Component: Envisalink
Issue: Update State for Binary Sensor
Time: 0.704 seconds

Log:
2020-02-18 13:22:52 WARNING (MainThread) [homeassistant.helpers.entity] Updating state for binary_sensor.mud_room_door (<class 'homeassistant.components.envisalink.binary_sensor.EnvisalinkBinarySensor'>) took 0.704 seconds.

[2020-02-18 17:58] tholgir commented on #31951
I just tested this issue and I get the same result. Any status other than 200 seems to trigger the exception. The text about bad credentials is either supplied by the pygithub package or the github api as this text is not present in the code for the sensor.

I'll try to see if I can find something to fix this issue seeing as I need my python practice.

[2020-02-18 18:11] mike9011 commented on #27179
Same issue here running 0.105.4. 80% of the time it doesn't work and i'll get an error; : Unable to find a view with path xxx".

[2020-02-18 18:16] balloob commented on #31212
@andrewsayre could you verify that air conditioners do not return a set for hvac modes?

@Kane610 could you verify that Deconz does not return a set for hvac modes?

[2020-02-18 18:24] viktak opened #31956 "binary_sensor workday doesn't recognizes GR as Greece"
## The problem

The following code does not pass validation:

[code]

## Environment

- Home Assistant release with the issue: 0.105.4
- Last working Home Assistant release (if known):
- Operating environment (Hass.io/Docker/Windows/etc.):  Docker on Ubuntu server
- Integration causing this issue: binary_sensor.workday
- Link to integration documentation on our website: https://www.home-assistant.

[2020-02-18 18:24] edif30 commented on #26918
@CanD42 did your integration just start throwing errors?  KeyError: 'user_id' is what I get every 30s.

Sorry, cannot find you on discord or other platform so hoping you see this message.

[2020-02-18 18:26] Mariusthvdb commented on #31951
Thanks!
Could you please check also why the first ( and copied directly from the documentation) homeassistant repo doesn’t work either? No error, but no sensor either ;-)

[2020-02-18 18:46] SeraphimSerapis opened #31957 "Hydrawise: Error during setup"
## The problem

The hydrawise integration started throwing errors (see below) and doesn't seem to be able to connect to their API anymore.

## Environment

- Home Assistant release with the issue: 0.105.5
- Last working Home Assistant release (if known): 0.105.4
- Operating environment (Hass.io/Docker/Windows/etc.):  Docker
- Integration causing this issue: hydrawise
- Link to integration document

[2020-02-18 18:51] meisterlampe commented on #20860
@thundergreen Just tested your custom_component approach and it is working without any problems. The same code starts working, when beeing used in a custom component ...really weird and I guess @mariohock's race condition assumption could be correct.

[2020-02-18 18:56] Kane610 commented on #31212
@balloob it is only returning data that is from json structures so shouldn't be possible. (I also double checked the code, no sets as far as I can see)

[2020-02-18 19:02] thundergreen commented on #20860
I confirm I just enabled custom component again and it's working perfectly. We should make this. Public

[2020-02-18 19:12] tholgir commented on #31951
If i use the following example from the integration page I get a sensor that works just fine for me
[code]
If you have a invalid or moved repository in the list it does break the setup of valid repositories

[2020-02-18 19:17] EelcoAV commented on #4210
Component:  DSMR Sensor (Dutch smart electrical/gass smart meter):
Updating state for sensor.power_consumption_normal (<class 'homeassistant.components.dsmr.sensor.DSMREntity'>) took 0.531 seconds.
This message first showed up after updating to 0.105.5

[2020-02-18 19:20] balloob commented on #31212
I guess my updated error message wasn't very helpful :(

[2020-02-18 19:27] Soraphiroth opened #31958 "tradfri - Requirements for tradfri not found"
## The problem

HA can't install the requirements needed for Tradfri integration. It seems to be missing the autoconf.

## Environment

- Home Assistant release with the issue:
`0.103.6`
- Operating environment (Hass.io/Docker/Windows/etc.):
`LXC container (CentOS8 template), installed via pip`
- Integration causing this issue:
`tradfri`
- Link to integration documentation on our website:
`https:/

[2020-02-18 19:34] mvoort1337 commented on #31578
Running RPI 3 Model B+ with Home Assistant (formerly Hass.IO).
Have had very stable Home Assistant experiences up to 0.104.3

When upgrading to 0.105.x I started getting roll-backs, with the upgrade failing to upgrade from 0.104.3 to 0.105.x
At first I thought it may had to do with my config, so I removed the netatmo integration from the config file because others were reporting success with that.

[2020-02-18 19:37] balloob commented on #31212
I found the SmartThings Air Conditioner issue and have a fix here https://github.com/home-assistant/home-assistant/pull/31959

[2020-02-18 19:39] balloob commented on #31212
@fudu could you look in the file `<config>/.storage/core.entity_registry` and see what integration is responsible for entities 52, 53, 54 and 55? Or maybe at the top of your head you know which integration provides 4 climate entities?

[2020-02-18 19:43] YRRK commented on #31884
oowww testing. Hmm I need to order an extra SDcard before I do that. I don't wanna use my current running system for testing. Just a moment for that. So you found something wrong? I have no idea where te logs are complaining about.

[2020-02-18 19:44] ohadbenita opened #31960 "Cast doesn't show custom cards correctly"
## Cast fail to show custom cards in lovelace views

## Environment

- Home Assistant release with the issue: 0.105.4
- Last working Home Assistant release (if known): Unknown
- Operating environment (Hass.io/Docker/Windows/etc.): Docker
- Integration causing this issue: Cast
- Link to integration documentation on our [website](https://www.home-assistant.io/integrations/cast/):

## Problem-relevan

[2020-02-18 19:45] balloob commented on #31960
Please report it to the custom card author. This does not apply to all as we have tested with a variety of custom cards and have it confirmed working.

[2020-02-18 19:45] #31960 closed

[2020-02-18 19:55] CanD42 commented on #26918
oh, yes, just seeing every minute or so:

...
  File "/usr/src/homeassistant/homeassistant/components/hydrawise/__init__.py", line 93, in hub_refresh
    hass.data[DATA_HYDRAWISE].data.update_controller_info()
....
simplejson.errors.JSONDecodeError: Expecting value: line 1 column 1 (char 0)

[2020-02-18 19:58] mouth4war commented on #30556
This is not a xiaomi_miio issue rather it's a core component issue - automation triggers.

[2020-02-18 20:03] edif30 commented on #26918
@CanD42 any idea why?

[2020-02-18 20:05] andker87 commented on #31212
Same here

I don't know where to find which device the number 150 corresponds to, but the entity number is 5 (150-151-152-153-154) and I have 7 tado thermostats (climate.___) and 5 SmartThings air conditioners, so I think it's their fault...

[2020-02-18 20:08] mvoort1337 commented on #31578
This is the code that generates the error message (from homeassistant.components.cloud.account_link).

            except asyncio.TimeoutError:
                _LOGGER.info("Timeout fetching tokens for flow %s", flow_id)
            except account_link.AccountLinkException as err:
                _LOGGER.info(
                    "Failed to fetch tokens for flow %s: %s", flow_id, err.code

[2020-02-18 20:09] ccorderod commented on #31957
@SeraphimSerapis same problem here. Restoring last snapshot with 0.105.4 does not fix the problem.

[2020-02-18 20:11] #29980 closed

[2020-02-18 20:16] thundergreen commented on #20860
@meisterlampe  unfortunately it did not work for me ... do u use custom slixmpp out of the issue here or the original sixmpp?

[2020-02-18 20:19] rucknapucknavitz commented on #28526
👍🏻

[2020-02-18 20:22] VivantSenior commented on #25838
I no longer have this issue.

[2020-02-18 20:22] #25838 closed

[2020-02-18 20:32] gerard33 commented on #31940
Updates via https://github.com/bimmerconnected/bimmer_connected/issues/154.

[2020-02-18 20:33] thundergreen commented on #20860
Do u use the https://github.com/marconfus/slixmpp/archive/master.zip#slixmpp==1.4.2.1 or the slixmpp 1.4.2 standard?

[2020-02-18 20:35] totti4ever opened #31961 "weather.darksky: set scan_interval"
## The problem
I have two weather.darksky sensors running, one for hourly forecast, one for the daily one. Doc says, it should call the API max 480 times a day, so it should max at 960. Additionally I have the sensor running with a scan_interval of 30 minutes. I know that would mean 8 calls to much a day, but actually the limit is already full before 9pm. How can that be and why is there no way to

[2020-02-18 20:38] springstan commented on #31961
Please fill out the issue template, thanks :)

[2020-02-18 20:42] Hukuma1 commented on #31252
KU6290 model

[code]

Does not work to turn on the TV. Anything missing from here? If the TV is on, I can control the volume, etc just fine. So the issue seems to only be with this WOL part.

Hassio in Docker install. Happy to debug, just let me know how please.

[2020-02-18 20:51] m0wlheld commented on #31940
Cannot be reproduced any more

[2020-02-18 20:51] #31940 closed

[2020-02-18 20:52] fudu commented on #31212
There aren't data entities 52,53,54,55 in core.entity_registry, but message:

`2020-02-18 12:28:35 ERROR (SyncWorker_3) [homeassistant.util.json] Failed to serialize to JSON: /config/.storage/core.entity_registry. Bad data found at $.data.entities[52].capabilities.hvac_modes, $.data.entities[53].capabilities.hvac_modes, $.data.entities[54].capabilities.hvac_modes, $.data.entities[55].capabilities.

[2020-02-18 20:56] ggravlingen commented on #31958
If you install it in that way, you need to install autoconf manually.

[2020-02-18 21:09] fudu commented on #31212
actually, i own 4 samsung air conditioners .... probably entities 52,53,54,55 involved ??

actually, i own 4 samsung air conditioners .... probably entities 52,53,54,55 involved ??

[2020-02-18 21:11] JonasPed commented on #31849
Please try to remove your Netatmo integration. If that works you can safely add it again as described in the docs. This is listed as a breaking change in 0.105 if I remember correctly.

[2020-02-18 21:18] Adminiuga commented on #25361
What was the correct percentage?
What is the reported battery voltage for xiaomi?

[2020-02-18 21:18] CanD42 commented on #26918
I guess customer details api is faulty. I get an 200 but with empty response:
https://app.hydrawise.com/api/v1/customerdetails.php?api_key=...&type=controllers

while status schedule is working fine:
https://app.hydrawise.com/api/v1/statusschedule.php?api_key=...&hours=24

[2020-02-18 21:28] balloob commented on #31212
Alright, fix for the Samsung ACs will be in the next release 👍

[2020-02-18 21:28] #31212 closed

[2020-02-18 21:30] macleodit commented on #31957
I have the same issue but I know why it happened.

Last night I logged into my Hydrawise account and they said they were upgrading my portal and my controller would be working offline until it was done.

For the developer, here is the main error:

`Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/setup.py", line 174, in _async_setup_component
    component.setup, has

[2020-02-18 21:49] Mariusthvdb commented on #31951
well,I checked again, and what do you know, the home assistant sensor is there after all, but it's the only one without the prefix (entity_namespace) Github, as Ive configured the full config posted above...
How on earth is that possible?

[2020-02-18 21:49] Mariusthvdb commented on #31951
thanks for checking!
and, well, I checked again too, and what do you know, the home assistant sensor is there after all, but it's the only one without the prefix (entity_namespace) Github, as Ive configured the full config posted above...
How on earth is that possible?

[2020-02-18 22:00] rpitera opened #31964 "Certificate Expiry sensor comes up as 'Unavailable' on every restart"
## The problem

I am still having the Cert Expiry sensor come up in an unavailable state on every restart.  If I leave it alone it resets itself with the correct value in 24 hours or so.  I thought this was fixed and I don't see any open issue for it currently, so not sure what I'm doing differently.

## Environment

- Home Assistant release with the issue: 0.105.5
- Last working Home Assistant re

[2020-02-18 22:02] Johnpojohn commented on #31849
Yup, that fixed it. The authorization process on the netatmo website was an issue though. I usually access my homeassistant instance with a reverse proxy and I had to add the exception on the router for the homeassistant port for it to work. Thanks!

[2020-02-18 22:13] Soraphiroth commented on #31958
I maaay have been a little silly today and been mixing autoconf and makefile. Sorry for the inconvenient.

[2020-02-18 22:13] #31958 closed

[2020-02-18 22:14] frenck commented on #31849
Glad you got it figured out 👍

[2020-02-18 22:14] #31849 closed

[2020-02-18 22:23] DavidFW1960 commented on #31813
@frenck are you the code owner for this integration? Would you mind taking a look?

[2020-02-18 22:35] frenck commented on #31813
@DavidFW1960 No, I'm not. This integration has no code owner.

[2020-02-18 22:48] deepspace1 commented on #30789
This issue can be closed. It turned out that Swedish WL dimmers was not configured in the auto setup file. Look here for refererence: https://www.dingus.dk/customizing-home-assistent-ihc-auto-setup/

[2020-02-18 22:48] #30789 closed

[2020-02-18 23:07] junior466 commented on #25893
Started seeing it today as well. Over 2K times in the last few hours.

[2020-02-18 23:16] mamartins commented on #31947
Yes, that might work, still, this code should work, right?

[2020-02-18 23:19] dshokouhi commented on #31947
Yes it should work, maybe there is an error in the log when this issue occurs?

[2020-02-18 23:25] mamartins commented on #31947
Apparently no, also the automation sometimes is triggered

[2020-02-18 23:44] jrobertson-insite commented on #29299
I'm in the same boat... after upgrading from 0.96 (or thereabout) all my automations that use zwave devices failed. Many people including myself have found very little luck keeping home assistant in sync with real states of zwave switches and there are countless threads about it in various forums.

See [another users note](https://github.com/home-assistant/home-assistant/pull/29019#issuecomment-58

[2020-02-18 23:47] ondranen commented on #21165
Hi guys,
i've got similar issue with Raspberry 3. However there is no ModemManager installed. Is there any other link or solution?
Thanks for your help.
regards
ondrej

[2020-02-18 23:48] IanAdd commented on #31957
Me too. Notification - Invalid Config - Could not setup integration Hydrawise.

[2020-02-18 23:48] wQQhce2g93Ei commented on #29299
I'm in the same boat... after upgrading from 0.96 (or thereabout) all my automations that use zwave devices failed. Many people including myself have found very little luck keeping home assistant in sync with real states of zwave switches and there are countless threads about it in various forums.

See [another users note](https://github.com/home-assistant/home-assistant/pull/29019#issuecomment-58

[2020-02-18 23:49] cgtobi commented on #31884
Don't worry, I've pushed a new version to the testers group.

[2020-02-19 00:01] txwindsurfer commented on #31957
Same problem/error report as above starting 2/17/2020.  Running OS 3.10 and Hassio 0.105.3.  No change in my OS or Hassio configuration from the time it worked fine until errors reported.  Component no longer loads after reboot.

[2020-02-19 00:15] i00 commented on #31455
@springstan  ... I know about events ... but this is

- Not a good solution
- If this will not be changed ... it should be mentioned [here](https://www.home-assistant.io/docs/automation/trigger/#webhook-trigger) that it has to be unique

[2020-02-19 00:19] i00 commented on #31906
@springstan
I have a five level house with quite small floors (one vacuum per floor) (only takes ~20 mins to clean a floor) so I don't bother using zones.  I have a VIOMI V2 Pro for the kitchen / dining floor (as it mops and vacuums at the same time), and on the others I use the Roborock S5 Max

When I resume it re-cleans the areas that it has already done.

[2020-02-19 00:22] Nick-Adams-AU commented on #31957
I suspect that the API format has actually changed. Not sure how though as the previous API documentation link is dead so I can't compare.

Looks as though the data is still available, however it is in a different format.

[2020-02-19 00:28] StephenBeirlaen commented on #31867
Nice findings, it looks promising! I can take a closer look tomorrow.

[2020-02-19 00:44] rbrtio commented on #28631
I can confirm this as well as I have 3 roku devices and I am not using discovery.

[2020-02-19 01:07] macleodit commented on #31957
Whoever makes this API, here is the response from Hunter:

[2020-02-19 01:11] #28193 closed

[2020-02-19 02:12] i00 commented on #31033
Only tested this today (although it would have been working on my HA for a while :P )...
Changes work great ...
Thanks guys!

[2020-02-19 02:53] therevoman commented on #26877
I had this same issue.  had to wrap the base_url value in quotes
`  base_url: "https://homeassistant.mydomain.com"`

[2020-02-19 02:54] therevoman commented on #20978
Had a very similar issue, had to wrap my base_url in quotes
`  base_url: "https://homeassistant.mydomain.com"`

[2020-02-19 03:17] daconrad0 opened #31972 "Tesla stopped working"
Suddenly my Tesla integration is not working. All entities are unavailable.  I am able to get on the Tesla website without issues. I also deleted the integration and set it up again.  Still does not wrk.

Log Details (ERROR)
Tue Feb 18 2020 17:21:28 GMT-0500 (EST)

Error setting up entry dennis.alan.conrad@gmail.com for tesla
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site

[2020-02-19 03:42] navet commented on #29848
Resolved for me with 105.5.

[2020-02-19 03:48] phlet commented on #31964
I'm having the same problem while trying to get the expiration date from my home assistant website.

I did some digging, and, in my case, when the cert_expiry component is initialized, the home assistant website is not yet up.  That's why I get "Connection refused".  There is literally no server listening to the request.

I tweaked the update method of the sensor.py to ignore the first error.  It'

[2020-02-19 04:07] klenya commented on #28531
The same issue. I have to re-register Ecobee every few days. Frustrating...
The PR with fix  #28296 was just canceled due to inactivity

[2020-02-19 04:09] edif30 commented on #28531
Yea I saw. I find it ridiculous that it was closed. I've seen PRs and Issues open for months. 1 month and this one is closed???  Hrmmm

[2020-02-19 04:45] ljmerza commented on #28531
I have this issue every few days as well.

One of the many reasons why I don't contribute to HA directly anymore. I
just maintain my custom components/cards. I've seen stuff like this happen
and other PRs get merged in so quickly that don't even have tests. Makes no
sense.

On Tue, Feb 18, 2020, 11:09 PM edif30 <notifications@github.com> wrote:

[2020-02-19 05:08] kpine commented on #29844
Issue #30180 is open and tracking this problem for the HRT4-ZW. There is a 1-line code fix posted [above](https://github.com/home-assistant/home-assistant/issues/29844#issuecomment-567636172) in the comments. Not sure why it hasn't been submitted by the original author, but someone who owns the thermostat and can confirm the fix is working should probably take the initiative and submit a PR.

[2020-02-19 06:46] fribse opened #31976 "Trigger for cover 'opening' doesn't appear for IKEA covers, instread 'opened' triggers immediately"
## The problem

I have created an automation that turns on the coffeemachine when the curtain in the bedroom goes up. The problem is that the 'cover opening' event never appears, even though it is shown in the GUI that it is opening. However, the 'cover open' will trigger immediately after movement for opening has started, I'm not sure if that is correct, or if it should only trigger for 'full ope

[2020-02-19 06:57] fribse opened #31977 "When an entity selection list in automations appears at the bottom of the screen, it doesn't work in Firefox and Chrome"
## The problem

When I create an automation, and I go to select the entity, by start typing it, it will shorten the list momentarily, and then jump back to the full list. It only happens when the list is at the bottom of the screen, making it open above the line, if it's at the top, opening down, it seems to work correctly.

## Environment

- Home Assistant release with the issue:  0.105.4
- Last

[2020-02-19 07:01] springstan commented on #29848
What about the others?

[2020-02-19 07:03] springstan commented on #31455
@i00 Please feel free to open a [documentation PR](https://github.com/home-assistant/home-assistant.io) to make this clearer in the documentation :)

[2020-02-19 07:22] profx5015 opened #31978 "yandex_transport plugin multiple stops issue"
**Home Assistant release with the issue:** 0.105.5

**Last working Home Assistant release (if known):** never

**Operating environment (Hass.io/Docker/Windows/etc.):** Docker

**Integration:** https://www.home-assistant.io/integrations/yandex_transport/

**Description of problem:**
yandex_transport: impossible to add multiple stops.
[code]
**Additional information:** When using single stop, everyt

[2020-02-19 07:24] Mariusthvdb commented on #31947
Your template should be

te: "{{ is_state_attr('device_tracker.iphone11', 'ap_mac', '18:e8:29:93:f4:ea') }}"

[2020-02-19 07:27] profx5015 commented on #31978
- platform: yandex_transport
  name: Кинотеатр Рассвет
  stop_id: 9640060
  routes:
    - 27
    - 23
    - 30
- platform: yandex_transport
  name: Кинотеатр Рассвет2
  stop_id: 9639462
  routes:
    - 591
    - 204
    - 179

[2020-02-19 07:27] #31978 closed

[2020-02-19 07:28] norsemanGrey commented on #28541
I experienced this issue a couple of days ago and found that the reason was that i had inadvertently deleted the Refresh Token for the HA login session in the Google Home app. I had to unlink the account ([test] my test app from Google Home and re-link it again.

[2020-02-19 08:07] i00 commented on #27179
How has this not been looked at yet ... surely there must be a lot of demand for this?

[2020-02-19 08:14] Molodax commented on #28685
Homeassistant 0.105.x, issue is still present

[2020-02-19 08:17] uphillbattle commented on #28634
This issue is not resolved in HA version 0.105.5.

The `expire_after` option works well, except after restart. After restart, all binary_sensors are in a state until an MQTT state message is published. The the binary_sensor acquires the published state for a second and then becomes `unavailable`.

It would be better, and logical, if the binary_sensor - which was created by an MQTT message with the

[2020-02-19 08:19] esc247 commented on #22078
Hi,

Thanks for all of your hard work. I got the UK version of the plug with the board similar to yours. I managed to gain root access but even after adding dropbear before the fac_test line, and restarting the device, I still get connection refused when trying to ssh into the gateway.

Can anyone help please?

[2020-02-19 08:46] springstan commented on #31977
@frenck could you please move this issue to [home-assistant-polymer](https://github.com/home-assistant/home-assistant-polymer)? Thanks 👍

[2020-02-19 08:51] jaxnatax commented on #31192
up

[2020-02-19 08:57] springstan commented on #31972
Duplicate of #30443

[2020-02-19 08:57] #31972 closed

[2020-02-19 09:01] #31213 closed

[2020-02-19 09:01] #31316 closed

[2020-02-19 09:13] springstan commented on #31949
Please comment on #30025 rather than opening a new issue for the same problem.

[2020-02-19 09:13] #31949 closed

[2020-02-19 09:47] anonim-no commented on #4210
`Updating state for remote.kitchen_remote (<class 'homeassistant.components.xiaomi_miio.remote.XiaomiMiioRemote'>) took 0.415 seconds. Please report platform to the developers at https://goo.gl/Nvioub`

[2020-02-19 10:04] mkarnebeek opened #31980 "Not loading package files with duplicate names in different directories"
## The problem

Let's say we have
[code]
And we have a directory structure of
[code]
It turns out it won't load the second file, because the name conflicts with the first one. Nothing is shown in logs, either on the file system, or the UI, or in portainer. It just skips the file, and definitions like automations won't show up in the developer tools

Rename any of the files, and both load fine.

##

[2020-02-19 10:15] springstan commented on #31980
Duplicate of #31858

[2020-02-19 10:15] #31980 closed

[2020-02-19 10:24] mkarnebeek commented on #31858
Agree with @jjok

This isn't expected behaviour from a user-perspective. If this indeed is desired behaviour (which still is weird) it should then at least error out, fail, crash or something letting the user know it is using this in a manner which wasn't intended. But it all cases, it should definitely not silently ignore the file.

I spent a few hours banging my head as why this specific file wa

[2020-02-19 10:28] jlvandusen commented on #29848
Testing now on 105.5 I had it commented.

[2020-02-19 10:31] jlvandusen commented on #29848
Still erroring when loading mopar

`Wed Feb 19 2020 05:30:03 GMT-0500 (Eastern Standard Time)
Error during setup of component mopar
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/setup.py", line 174, in _async_setup_component
    component.setup, hass, processed_config  # type: ignore
  File "/usr/local/lib/python3.7/concurrent/futures/thread.py", line 57, in run

[2020-02-19 11:09] mkarnebeek commented on #31858
Ah, `include_dir_merge_named` in
https://www.home-assistant.io/docs/configuration/packages/#create-a-packages-folder added 14 days ago by https://github.com/home-assistant/home-assistant.io/pull/11971 seems like the solution

Not sure if this will fail on duplicate keys, but now at least you have control over the package name, instead of just using the filename.

[2020-02-19 11:49] SeraphimSerapis commented on #16452
While this may be an edge case, I'd also appreciate support for multiple bridges with their own specific rooms / bridges.

One side effect of the current implementation is that you get an error about the (other) bridge not supporting that scene, even if the correct bridge successfully activates the scene.

[2020-02-19 11:58] frenck commented on #29848
The Mopar integration is actually violating our architectural design records (ADR-0004), since it uses web scraping.

This means the integration needs to be updated or should be removed. However, it currently doesn't have a code owner.

[2020-02-19 12:32] JamieP83 opened #31983 "Alexa webhook - not consistent with other integrations"
## The problem
The alexa webhook doesnt work the same as other integrations, so i assume its a bug as it should be consistent and included?

Unlike other integrations, there is not an option to stop adding newly found devices back to Alexa.

you should be able to control what you share back to alexa and have the option to not add "newly found" obejcts

## Environment
- Home Assistant release with

[2020-02-19 13:22] mamartins commented on #31947
I found the problem and it’s not rated to the trigger.

The unifi integration is not always updating correctly the ap_mac. I’ll report on the integration

[2020-02-19 13:22] mamartins commented on #31947
Close

[2020-02-19 13:41] DubhAd commented on #31549
I'm seeing it with [the nmap tracker](https://www.home-assistant.io/integrations/nmap_tracker] and [the MQTT tracker](https://www.home-assistant.io/integrations/device_tracker.mqtt). on 0.105.5 and 0.106.0b0

[2020-02-19 13:55] jjlawren commented on #31964
@phlet That's the use case that https://github.com/home-assistant/home-assistant/pull/27137 intended to address. What version are you running?

[2020-02-19 13:58] escoand commented on #31252
@Hukuma1 Try to use wake-on-lan on the command line `$ wakeonlan XX:XX:XX:XX:XX:XX`. If this is not working then you TV is unable to turn on.

[2020-02-19 14:08] phlet commented on #31964
I am on the latest released version.
Home Assistant 0.105.5

[2020-02-19 14:10] andilge commented on #31583
other cause, but same symptom:

2020-02-19 14:56:47 ERROR (SyncWorker_4) [homeassistant.components.qnap.sensor] Failed to fetch QNAP stats from the NAS
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/components/qnap/sensor.py", line 191, in update
    self.data["system_stats"] = self._api.get_system_stats()
  File "/usr/local/lib/python3.7/site-packages/qnapstats/qn

[2020-02-19 14:12] andilge commented on #31583
restarted QNAP and RasPi with hassos serveral times => no joy :-(

[2020-02-19 14:16] rpitera commented on #31964
@jjlawren That's what I thought, however it's still happening and I guess my belief that it was initializing before HA was serving is correct. But it seems to be limited or else there would be plenty of issues and "me toos" here.  So I wonder if it only occurs on certain set ups, like VM installs for instance.

Here's my details to compare to @phlet 's:

arch | x86_64
-- | --
dev | false
docker |

[2020-02-19 14:17] jjlawren commented on #31964
@phlet can you clarify what you mean by "my home assistant website"? Is this just its own HTTP UI? Or is there also a proxy or such in play?

[2020-02-19 14:18] jjlawren commented on #31964
@rpitera is your issue also for checking the cert on your HA instance or an external website?

[2020-02-19 14:20] phlet commented on #31964
It's just its own http ui.  There's no proxy or such.

With the bybass I added it's working..

If I remove the configuration and I add it with integration UI it will work. But as soon as home assistant core is restarted, it doesn't work anymore.

[2020-02-19 14:21] jjlawren commented on #31964
Got it. The event we wait for to determine when the HTTP service is ready must not be waiting long enough. I'll need to have a think.

[2020-02-19 14:22] rpitera commented on #31964
Same here.

Also the same, although if I leave it alone it will update overnight (I haven't checked but I assume it does so at 24:00).  @phlet Did it update if you left it unaltered?

[2020-02-19 14:31] fermulator commented on #31549
Same here.  I use legacy `ping` and `nmap` trackers. (home-assistant python venv, `0.105.3`)

[2020-02-19 14:31] jjlawren commented on #31964
Ok looking at the code between this integration and the HTTP server, there's definitely a race as they both try to init at the same time.

[2020-02-19 14:35] springstan commented on #31583
I do not see how this has the same symptoms as the original issue. Please open a new one :)

[2020-02-19 14:43] PonyOny opened #31984 "Tuya integration timeouts often on boot"
## The problem
 When booting HASS the "tuya" integration times out when fetching for devices, I have to reboot the server several times until the integration loads/communicates correctly with "tuya" servers.
This happens in hass on docker, and with hass installed directly on raspbian

## Environment

[code]

## Problem-relevant configuration.yaml entries and (fill out even if it seems unimportant)

[2020-02-19 14:45] theres-something-wrong commented on #29899
105.2

The lights are working pretty consistently (dimmable an non dimmable), although I just had one "appears to be malfunctioning" issue when turning on a dimmable the other day.
My LG TV, configured as a media player, always responds with "atbm" either on or off.
A group of lights also provides the same response.

So this doesn't seem to be fixed.

[2020-02-19 14:46] andilge opened #31985 "Failed to fetch QNAP stats from the NAS"
Home Assistant release (hass --version):
0.105.5

Python release (python3 --version):
Python 3.7.6

Component/platform:
QNAP

Description of problem:
Failed to fetch QNAP stats from the NAS

Expected:
no errors

Problem-relevant configuration.yaml entries and steps to reproduce:
`
- platform: qnap
  host: 192.168.244.20
  port: 446
  ssl: true
  verify_ssl: false
  username: !secret qnap_username

[2020-02-19 14:56] fermulator opened #31986 "nmap_tracker.device_tracker reports "No MAC address found for" itself"
## The problem
Just recently started using the nmap device tracker.
https://www.home-assistant.io/integrations/nmap_tracker/

Noticing a new error in the logs every 1-2 minutes (or even more frequently)
[code]

In fact, that IP address is itself!  `hass` is running in a virtual python environment, and that IP is it's own IP address.  I don't know why it cannot find its own `mac` address :)

[code]

[2020-02-19 15:01] edif30 commented on #31957
@ptcryan was the originating author of the PR - https://github.com/home-assistant/home-assistant/pull/14055

[2020-02-19 15:10] Mathijs0 opened #31987 "Matrix integration not working after upgrade to 0.104.x"
## The problem
My [matrix] notify integration is not working anymore since upgrade from 0.103.x to 0.104.x

Before the upgrade, It work just fine, haven’t changed anything in my config file. But since the upgrade matrix is not working anymore.

## Environment
NUC Debian GNU/Linux 10 (buster)
hass.io 201
homeassistant 0.104.3 and now 0.104.5
synapse v 1.10.0

## Problem-relevant `configuration.yaml

[2020-02-19 15:14] fermulator commented on #31252
that, and the volume stuff & power on/off worked too

admittedly I've never known the complete set of functionality that _SHOULD_ be provided, so it is possible it only had "partial support"? ... none-the-less, now it is completely broken and now for my model (`6290 UHD 4k (UN55KU6290)`), I lost power detection & power on/off control

[2020-02-19 15:15] aurelien219 commented on #29502
Hi, same problem here with
0.105.5
liveboxplaytv==2.0.3
pyteleloisirs==3.6
Very long to update change of channels or decoder state.

[2020-02-19 16:09] marthoc commented on #28531
Again all, sorry for the delay. This isn't on the HASS dev team, it's on me. I haven't had the time needed to push PR #28296 over the line. But, I think I can push a much narrower PR to fix the bug itself in the meantime. I've got the code written and will test tonight before opening a PR. Hopefully the devs can merge it while the refactor moves forward in parallel.

[2020-02-19 16:12] fermulator commented on #28831
It may be safe to assume that https://github.com/home-assistant/home-assistant/issues/31252 duplicates (or obsoletes) this issue.  Given the removal of the samsungctl portion of media control component, and change to `samsungtv` component, this issue is obsolete for sure.

[2020-02-19 16:12] #28831 closed

[2020-02-19 16:29] rwarner commented on #28531
Thanks for the update @marthoc much appreciated. Looking forward to seeing this resolved.

[2020-02-19 16:33] phlet commented on #31964
If you need, I'm available to test any patch or theory.

[2020-02-19 16:50] JumpMaster commented on #31578
I'm using HA core and have been having restart issues since 104 I believe.  I restarted via the web UI and left it for two hours before I was forced to perform a docker restart as the lights were not coming on.  The final output from the logs seem to be during shutdown.

2020-02-19 13:42:32 INFO (MainThread) [snitun.utils.aiohttp_client] AioHTTP snitun client disconnected from: eu-central-1.ui.nab

[2020-02-19 16:50] 2bithacker commented on #31449
Opened a feature request https://community.home-assistant.io/t/emulated-hue-bridge-endpoints-for-vivaldi-browser/173042

[2020-02-19 17:04] marthoc commented on #28531
Just for greater transparency regarding the issue raised in this thread, I'll explain why the ecobee integration keeps breaking for all of you.

Before config entries, ecobee authentication tokens were stored in a file called ecobee.conf that was stored in the Home Assistant config directory. On HA startup, the ecobee component would read the tokens from this file and use them to authenticate. The

[2020-02-19 17:05] nierob commented on #29299
Ugh I was sitting on the unfinished patch for a while:
https://github.com/nierob/home-assistant/commit/4f6fa0563a9d4710cf762fcd6a5efc024ee77f34
I think it works as expected in https://github.com/home-assistant/home-assistant/pull/29019 but it has zero test code coverage, so I haven't ever pushed it. I can not commit to that, lack of time, but feel free to take over it and use for good :-)

[2020-02-19 17:12] springstan commented on #31985
Please fill out the new issue template, thanks :)

[2020-02-19 17:13] theoretick commented on #28531
@marthoc thank you for your effort and the great explanation! Much appreciated!

[2020-02-19 17:19] kate5586 opened #31991 "WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋"
WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋
👇👇👇

https://tinyurl.com/t46ja28

[2020-02-19 17:23] wQQhce2g93Ei commented on #29299
Yeah I saw that. I might take a deeper look into that. I might also finally figure out how to get consistent/correct zwave states in the Home Assistant UI.

[2020-02-19 17:27] tholgir commented on #31956
I tried the code @viktak posted and I am getting the same errror. It works fine if you specify DE but breaks with GR as the country code. I first tried testing this code using the provided vscode dev container but aht does not have this error as far as I can tell.

[2020-02-19 17:30] Santobert opened #31992 "Mobile App failes to register new sensors"
## The problem

Using mobile app on android. I think this is a backend issue, but I'm not sure.
While one of the android phones works well and registers all it's sensors the other one failes to register the new sensors. According to the logs it sends updates, but there are no sensors registered. I've already disconnected, reinstalled and reconnected the app.

## Environment

- Home Assistant relea

[2020-02-19 17:45] dshokouhi commented on #31992
@Santobert when you reinstalled the application did you make sure to delete the existing integration for the device? The proper steps for reinstalling are noted here: https://companion.home-assistant.io/docs/troubleshooting/faqs/#starting-fresh-with-the-android-app

[2020-02-19 17:51] Santobert commented on #31992
@dshokouhi yes, I did. The docs are new to me, but I did everything that's listed there.

[2020-02-19 17:55] andilge commented on #31985
can't find "new issue template", pls point me in the right direction.

[2020-02-19 17:57] dshokouhi commented on #31992
Could you test with this PR either reverted or rollback to 0.105.5?

https://github.com/home-assistant/home-assistant/pull/31756

I think it might be related but not sure.  The device name in the traceback looks very odd but the unregistered entity issue was usually related to needing a fresh integration for `mobile_app`.  Can you also confirm the device name from App Configuration screen?

[2020-02-19 18:01] dshokouhi commented on #31992
I am more curious about the device name that is set by the device since it should be the same model that was registered.  What device is having this issue too? Is it the Nokia listed in traceback? Because that is the name the PR is using.

[2020-02-19 18:03] Santobert commented on #31992
It is not related. The error was there before. I've hoped it would solve the issue.

Well, I've followed the steps you mentioned before and it works now. I guess I've missed one before. Thanks for your help

[2020-02-19 18:03] #31992 closed

[2020-02-19 18:05] Santobert commented on #31992
I've a nokia 7 plus which works fine. The nokia 8.1 was having issues.

[2020-02-19 18:07] dshokouhi commented on #31992
@Santobert yea the docs are brand new I started updating them a week ago lol.  Glad to know its resolved.  Yea the start fresh steps need to be done in a specific order and since the app is new it may need to be done when things go odd like that.

[2020-02-19 18:24] springstan commented on #31985
Click on `New Issue` and then select `Report a bug with Home Assistant`. Please copy and paste the displayed template into this issue and fill it out.

[2020-02-19 18:31] renata117 opened #31993 "WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋"
WATCH THE STREAM WITH MY HOT PUSSY 💋💋💋
👇👇👇

https://tinyurl.com/t46ja28

[2020-02-19 18:31] #31993 closed

[2020-02-19 18:33] Quentame commented on #31993
@balloob Can you delete this “issue” ?

[2020-02-19 18:33] Quentame commented on #31993
And block the user ?

[2020-02-19 18:39] rschmitter commented on #26329
I have tested on 105.5. It is still doing the same thing. The following error messages show in the log:

Lost connection to Insteon Modem: False
10:21 AM __main__.py (WARNING)
Reconnect to Hub (TimeoutError)
10:21 AM __main__.py (ERROR)

It takes between 8 and 48 hours to fail, then you have to restart. It has failed now 3 times, so I am reverting to the custom version.

[2020-02-19 18:51] andilge opened #31994 "Failed to fetch QNAP stats from the NAS"
## The problem

Constant failures fetching QNAP stats from the NAS

## Environment

- Home Assistant release: 0.105.5
- Operating environment: Hass.io
- Python release: Python 3.7.6
- Component/platform: QNAP

## Problem-relevant `configuration.yaml`

[code]

## Traceback/Error logs

[code]

## Additional information
 I've seen this error on with previous firmware ﻿QTS 4.4.1.1146 build 20191206 an

[2020-02-19 18:52] andilge commented on #31985
closing this issue to to bad template. It's reopened with #31994.

[2020-02-19 18:52] #31985 closed

[2020-02-19 18:57] springstan commented on #31994
Thanks for filling out the issue template! 👍

[2020-02-19 18:58] andilge commented on #31994
never mind, thx for pointing in the right direction.

forgot to put
- Link to integration documentation on our website: https://www.home-assistant.io/integrations/qnap/
but the bot got it right away.

[2020-02-19 19:09] BKPepe commented on #31021
ping @frenck

[2020-02-19 19:12] totti4ever commented on #31961
## Problem-relevant `configuration.yaml`
if you think that helps

[code]

## Traceback/Error logs
that's when it starts to fail
[code]

last fail the last night was this
[code]

## Additional information
nothing

[2020-02-19 19:39] meisterlampe commented on #20860
I'm using the original slixmpp from home assistant. I just copied the files to custom_components/xmpp and it seems to work. But I haven't tested it a lot.
So for you it stopped working after while?

[2020-02-19 19:53] frenck commented on #31021
Not sure why you pinged me there @BKPepe?

[2020-02-19 20:03] mamartins opened #31996 "Platform TOD is not updating properly on sunset"
## The problem
I've configured a binary sensor based on sunset / sunrise to color my graphs. For at least 15 days the sunset is only being triggered around midnight, and not at 18h50 as it should. Sunrise is triggered correctly.

## Environment
Home Assistant 0.105.4

- Home Assistant release with the issue:
- Last working Home Assistant release (if known): NA
- Operating environment (Hass.io/Dock

[2020-02-19 20:10] mamartins commented on #31947
I think I've found another problem, this one related to the binary sensor. I've updated my trigger from the template to use a binary_sensor like suggested, and it did not turned off as it should.

Binary sensor:
[code]

currently I'm printing `{{ state_attr('device_tracker.iphone11', 'ap_mac') }}` which outputs `b4:fb:e4:2e:00:a5` and `- entity: binary_sensor.at_garage` is returning Detected (true

[2020-02-19 20:16] dshokouhi commented on #31947
@mamartins your formatting of the template is incorrect it should be:

[code]
Because this is a single line template and should be used as such: https://www.home-assistant.io/docs/automation/templating/#important-template-rules see rule 3

Also as you mentioned that the unifi integration is not updating the `ap_mac` all the time you should open a new issue for that.  The issue you filed here was f

[2020-02-19 20:16] azogue opened #31997 "Statistics sensor with max_age generates warning log messages: Unable to remove unknown listener"
## The problem

Reopening of #31576, as #31580 does not solve it completely, as @rds76 pointed out in https://github.com/home-assistant/home-assistant/issues/31576#issuecomment-585670332.

**Original issue**: `statistics/sensor` with `max_age` was trying to remove **all** of the expired callbacks, as it was not deregistering them, so it was flooding the logs with thousands of core warnings.

After

[2020-02-19 20:39] StephenBeirlaen commented on #31867
Very nice and detailed post @jpcornil-git! I also found similar problems where multiple I2C signals appeared to 'collide'. I tried to document my findings (with a logic analyser measurement) here: https://github.com/jardiamj/homeassistant/issues/1#issuecomment-532432071

I now also see why multithreading could be the issue, previously I was confused by the locks already present in the Adafruit cod

[2020-02-19 21:06] recklessnl commented on #28531
@marthoc Please keep us posted on the new PR! Would be a relief to not having to deal with the ecobee issue again. Thanks for staying on top of it.

[2020-02-19 21:25] Hukuma1 commented on #31252
Using Home Assistant official addon Terminal:

Also, again, this TV was able to be turned on with @jaruba's custom SamsungTV addon. So maybe we can just take a look at how he does it to not reinvent the wheel? Or just combine your efforts so there's 1 official one that supports it all for Home Assistant users? Don't understand the fragmentation here.

As I wrote prior, that simple code for his was

[2020-02-19 21:44] snipes040 commented on #23758
@EDV11 I never figured it out either it still gives the same error but when I run the command locally it works perfectly fine.  Not sure if it's because I'm on docker or not but I gave up trying to get it to work.

[2020-02-19 21:56] slackr31337 commented on #31939
Hi @engrbm87, I'm sorry but now I can not seem to re-create the issue. Maybe it was an issue with my router.

I upgraded the firmware on my RB2011 and it never reconnected. Now when I manually disconnect the API connection the mikrotik integration re-connects as expected. I think this can be closed.

2020-02-19 16:51:05 ERROR (SyncWorker_23) [homeassistant.components.mikrotik.hub] Mikrotik 10.254.

[2020-02-19 22:03] Mariusthvdb opened #31998 "binary_sensor.updater (beta) pointing to incorrect release notes"
## The problem

as title

## Environment

- Home Assistant release with the issue: 105.5
- Last working Home Assistant release (if known): none
- Operating environment (Hass.io/Docker/Windows/etc.): Hass.io
- Integration causing this issue: updater
- Link to integration documentation on our website: https://www.home-assistant.io/integrations/updater/

## Problem-relevant `configuration.yaml`

[cod

[2020-02-19 22:18] Mariusthvdb commented on #31947
@dshokouhi please be careful with what you're saying here. @mamartins is using a multiline ( >) template and as such his template is just fine, albeit with a bit extra white space between the curly brackets. Then again these are taken out by the >-

[code]

is just perfectly fine. (from a templating point of view, not speaking of the actual values used or unify integration functionality)

[2020-02-19 22:23] ciechompl opened #31999 "General Transit Feed Specification (GTFS) Integration does not work"
## The problem

General Transit Feed Specification (GTFS) seems that does not work.
Sensor configured in configuration.yaml as presented below.
GTFS data file downloaded from here: https://transitfeeds.com/p/ztm-lublin/1111/latest
After restart, DB has been created and I see no errors in the log but sensor state is continuously "unknown" and in info attribute I only see this "No more departures".

[2020-02-19 22:26] dshokouhi commented on #31947
@Mariusthvdb you are correct, I just never seen it defined like that.  Also it was to my understanding that `>-` strips out the results from the template and does not clean up the template itself.

[2020-02-19 22:28] ciechompl opened #32000 "RROR (MainThread) [hassio.api.proxy] Client error on WebSocket API Cannot connect to host"
## The problem

I see error (presented below) in the System logs.
[code]
This error is seems to be in the logs even just after clean installation not yet even configured or any plugin added.

## Environment

- Home Assistant release with the issue: 0.105.5
- Last working Home Assistant release (if known): n/s
- Operating environment (Hass.io/Docker/Windows/etc.): HassOS 3.11 on ESX as VM
- Integra

[2020-02-19 22:32] jpcornil-git commented on #31867
The Adafruit code takes a lock of the I2C bus for a single R/W transaction (to protect that transaction) and this is fine at that level and not hurting (the bus is used for that transaction/can't be used for anything else as i2c is serial, i.e. you can't communicate in parallel).

The issue is when two threads are doing read-modify-write actions, e.g.:

In the MCP23017BinarySensor and MCP23017Swit

[2020-02-19 22:41] grantclem opened #32002 "Missing Glances Sensors - 0.106.0b"
## The problem

## Environment

- Home Assistant release with the issue:
- Last working Home Assistant release (if known): 0.105.4
- Operating environment (Hass.io/Docker/Windows/etc.): Linux/VE Core
- Integration causing this issue: Glances
- Link to integration documentation on our website:

## Problem-relevant `configuration.yaml`

[code]

## Traceback/Error logs

No log entries noted

[code]

[2020-02-19 22:42] grantclem commented on #32002
![image](https://user-images.githubusercontent.com/30598978/74883285-973b9980-53ab-11ea-8279-3af2d87c328d.png)

[2020-02-19 22:43] escoand commented on #31252
You mean like https://github.com/home-assistant/home-assistant/pull/31537 (which was mentioned multiple times)?

[2020-02-19 22:43] grantclem commented on #32002
![image](https://user-images.githubusercontent.com/30598978/74883595-42e4e980-53ac-11ea-910b-242e6dc4274c.png)

[2020-02-19 22:44] mamartins commented on #31947
Since the trigger turned on, it is working, it just didn't turn off. Since the the ap_mac changed, so no Unifi problem, it should have been turned off and it wasn't.

[2020-02-19 22:44] Mariusthvdb opened #32003 "Spam...."
## The problem

recieving spam from home-assistant seems to be increasing, please have a look, this is rather annoying to say the least

## Environment

- Home Assistant release with the issue: 105.5
- Last working Home Assistant release (if known): not sure, didn't happen before
- Operating environment (Hass.io/Docker/Windows/etc.):  Hass.io
- Integration causing this issue: XXX
- Link to integra

[2020-02-20 00:32] phlet commented on #31964
I patched my system with your 2 commits.  There's seems to have a small glitch.

First call, I get this message (that's alright!) :

There is a second call 15 seconds later and there's no error.  Looks good !

Unfortunately, the state value stay "unavailable" instead of having the number of day before the expiration.

I added another domain in my configuration file (google.com).  From what I am se

[2020-02-20 01:07] jjlawren commented on #31964
@phlet in this example, "mydomain.com" points back to HA?

[2020-02-20 01:08] phlet commented on #31964
yes, mydomain.com is the domain where I have HA installed.

[2020-02-20 01:49] codypet commented on #31957
Same issue, and I'm using 0.105.3 as well.

[2020-02-20 02:18] phlet commented on #31964
I've got a really, really simple fix...  but I don't know if we can really do that.  I made the modification on my system and it work...

The fix : To simply add a new event in core.py, EVENT_HOMEASSISTANT_RUNNING, that we fire right after the line
`self.state = CoreState.running`

With that done, in the sensor.py script, we change every instance of EVENT_HOMEASSISTANT_START for EVENT_HOMEASSISTAN

[2020-02-20 02:48] jjlawren commented on #31964
Yes, but it's a pretty invasive change. I'm trying to not change core or other integrations to fix the behavior of this one.

I made a silly mistake earlier, just pushed a small commit to the linked PR. It was updating the entity during the retry, but not actually changing its state as seen by HA.

[2020-02-20 02:52] phlet commented on #31964
I'll try that right now.

[2020-02-20 03:07] phlet commented on #31964
It worked !
I even saw the state transition between "unavailable" and the number of day.

Good job !

[2020-02-20 03:42] marthoc commented on #28531
PR has been submitted: #32008. I was not experiencing this bug, but the integration appears to continue to work correctly with the changes to fix the bug in place.

[2020-02-20 03:45] trentjw commented on #28912
found this in my log thought it might help don't know,

Traceback (most recent call last):
  File "/srv/homeassistant/lib/python3.7/site-packages/pyHS100/smartdevice.py", line 117, in _query_helper
    request=request,
  File "/srv/homeassistant/lib/python3.7/site-packages/pyHS100/protocol.py", line 47, in query
    sock = socket.create_connection((host, port), timeout)
  File "/usr/lib/python3.7/

[2020-02-20 03:53] trentjw commented on #28912
this is from the first server restart

Traceback (most recent call last):
  File "/srv/homeassistant/lib/python3.7/site-packages/pyHS100/smartdevice.py", line 117, in _query_helper
    request=request,
  File "/srv/homeassistant/lib/python3.7/site-packages/pyHS100/protocol.py", line 47, in query
    sock = socket.create_connection((host, port), timeout)
  File "/usr/lib/python3.7/socket.py", line

[2020-02-20 03:58] trentjw commented on #28912
second server restart get this error

2020-02-19 20:56:39 ERROR (MainThread) [homeassistant.components.switch] Setup of platform tplink is taking longer than 60 seconds. Startup will proceed without waiting any longer.

and gives me unnamed devices

[2020-02-20 04:25] raccettura commented on #30479
I think I might be having a similar problem...

[code]

For living_room_tv: `supported_features: 69004`
For bedroom_tv: `supported_features: 21389`

In both cases only power and input selection seem to work.  All features in theory should work.

They are both using the `universal` media_player platform FWIW.

[2020-02-20 04:48] tsvi opened #32010 "Requests I should report a bug against DLNA/DMR component"
## The problem

When running play_media on my DLNA speaker (PIoneer XMA), I get the following error:

[code]

The music plays correctly, but still I was requested to report the bug so, here you go.

## Environment

- Home Assistant release with the issue:  105.5
- Last working Home Assistant release (if known):
- Operating environment (Hass.io/Docker/Windows/etc.): Homeassistant (formerly Hass.io)

[2020-02-20 04:58] tsvi commented on #32010
From looking at the code it looks this is due to the the `catch_requests_error()` callback which wraps the function and returns the event handler.

[2020-02-20 05:05] #28531 closed

[2020-02-20 05:20] robbiet480 commented on #32003
Sorry, some spammers got past GitHub's defenses. There's nothing wrong with your Home Assistant and this isn't anything we can control, other than deleting the issues as soon as we are made aware of them.

[2020-02-20 05:20] #32003 closed

[2020-02-20 05:46] balloob commented on #31852
How do you have chromecast configured ?

[2020-02-20 05:51] balloob commented on #30976
This is a bug in the `netdisco` dependency which is no longer maintained.

[2020-02-20 05:53] balloob commented on #25329
Port 80 is required by Amazon. There is nothing that we can do.

[2020-02-20 05:53] #25329 closed

[2020-02-20 06:01] jamesking420 commented on #31852
Through discovery/the UI

[2020-02-20 06:10] balloob commented on #31172
We don't use our issue tracker for feature requests.

Entertainment API is available here https://github.com/marcelveldt/hass_emulated_hue

[2020-02-20 06:10] #31172 closed

[2020-02-20 06:11] balloob commented on #31451
Your syntax is correct but we're still warning users for duplicate keys, as 99% of the time it is not intentional. This works as intended.

[2020-02-20 06:11] #31451 closed

[2020-02-20 06:14] #30032 closed

[2020-02-20 06:15] balloob commented on #28466
This is handled properly nowadays.

[2020-02-20 06:15] #28466 closed

[2020-02-20 06:17] #30523 closed

[2020-02-20 06:21] #32010 closed

[2020-02-20 06:25] balloob commented on #31396
This happens because you're calling `play_media` on a media player that does not support it. It is no longer allowed to call `tts.google_say` without specifying an entity ID.

[2020-02-20 06:25] #31396 closed

[2020-02-20 06:27] chezpaul commented on #31994
I have the same problem with Home Assistant release: 0.105.5
Operating environment: Hass.io on a Pi4

# QNAP
#sensor:
#  - platform: qnap
#    host: 192.168.1.44
#    username: !secret qnap_username
#    password: !secret qnap_password
#    timeout: 15
#    verify_ssl: false
#    monitored_conditions:
#      - status
#      - cpu_usage
#      - memory_percent_used
#      - network_tx
#      - volu

[2020-02-20 06:29] bjuraga commented on #27067
sometimes Docker containers loose sync with the system clock of the OS, you can check the logger to see if the time is set correctly. I had this kind of issues if running on Docker on a Win 10 machine and my laptop would go to sleep. Just something to check

[2020-02-20 06:44] engrbm87 commented on #32002
Hello @grantclem , refer to the documentation for the changes in these sensors. Simply open the integration page and find the new discovered sensors for disk and temperature.

[2020-02-20 06:46] engrbm87 commented on #31939
Great to hear that. Please close the ticket if your problem is resolved.

[2020-02-20 06:56] exxamalte commented on #31997
Thanks for the thorough analysis.

While I believe that the proposed fix may actually make this issue go away, it still is pretty much a workaround, and the next person unsubscribing a listener retrieved from  `async_track_point_in_utc_time` will likely run into the same issue.

Looking back at the change in https://github.com/home-assistant/home-assistant/pull/31580:
This basically just removes t

[2020-02-20 06:57] aronsky commented on #30275
@xPhantomNL your suggestion definitely helped (on an RPi 3Brev1.2)!

[2020-02-20 06:58] mikeage commented on #28588
Still broken in 0.105.5

[2020-02-20 07:02] aronsky commented on #31657
As someone mentioned in #30275, on a Raspberry Pi 3B it can be resolved by lowering the baud rate for the Bluetooth adapter: https://github.com/raspberrypi/linux/issues/2264#issuecomment-344992253

I had issues with Miflora for the last half a year or so, and other solutions (running older versions of miflora/bluepy, and resetting bluetooth with a cronjob) only helped temporarily. Since lowering t

[2020-02-20 07:51] thundergreen commented on #20860
es  directly after restarting hass it stopped working again.ill upgrade to latest beta to see if it then works again ..for 5he moment I 8se the custom slixmpp library in this post

[2020-02-20 08:29] azogue commented on #31997
Hi @exxamalte

No idea how to do it. The problem seems to be related to too many callbacks trying to run at ~same time, so the host gets stressed, and the behavior differs a lot for different machines.

I'm studying the problem with my 4 stats sensors with max_age, which all come from raw mqtt sensors, and I'm running HA in both my __production__ machine (a RPI4 for all home) and my dev machine. I

[2020-02-20 08:30] Mariusthvdb commented on #31947
since this is more f a support question, you should take it to the community.
Also, it is not very clear what 'just didn't turn off'. Are you talking about the binary_sensor, or about the automation. the automation seems not to be quite perfect to do that (action is always data: payload: on) and should probably use trigger.to_state.state, to have it use payload: off if the binary changes to off.

[2020-02-20 08:32] milena5511 opened #32015 "HACKED WESTERN UNION TRANSFERS WORLDWIDE 💰💰💰"
HACKED WESTERN UNION TRANSFERS WORLDWIDE 💰 💰 💰
ESCROW VERIFIED💎💎💎
👇 👇 👇

https://tinyurl.com/sr7r3e4

[2020-02-20 08:32] Mariusthvdb commented on #32003
ok, but how do we report this, yet another one:

<img width="846" alt="Schermafbeelding 2020-02-20 om 09 32 11" src="https://user-images.githubusercontent.com/33354141/74915111-ed1c3b80-53c3-11ea-9ad2-15982e882067.png">

[2020-02-20 08:34] robbiet480 commented on #32003
We've already reported the latest round of spam to GitHub. Sadly, it takes us a few minutes to find and report these issues, during which time you receive the email notification. We've been hit 6 times in the last 24 hours with spam, I'd suggest that you disable email notifications for new issues for a few days until Github fixes their spam filters.

[2020-02-20 08:44] nierob commented on #29299
Or convert scenes to automations, last time I checked it behaved correctly.

[2020-02-20 09:14] Mariusthvdb commented on #32003
thanks Robbie, no worries, just want to be of as much help as possible. Glad it is on the radar.

[2020-02-20 09:51] mamartins commented on #31947
@Mariusthvdb when I say it didn't turned iff, I'm talking about the binary_sensor.
Today I got another automation, which is running for months, not turning off, and I'm also seeing problems with tod platform:
https://github.com/home-assistant/home-assistant/issues/31996

The logs do not output any problem.

[2020-02-20 09:52] breiti opened #32016 "pulseaudio: Multiple loopbacks for same switch"
## The problem

A `pulseaudio_loopback` switch loads another `module-loopback` even though the module for this combination of sink and source is already loaded, resulting in weird audio output as the source is now sent to the sink multiple times.

This seems to be reproducable when restarting Home Assistant when the module is already loaded and a script turns on the switch during startup, see logs

[2020-02-20 10:07] Mariusthvdb commented on #31947
ok then Id advise you to add the entity_id of the tracked sensor to the binary_sensor config:
[code]

[2020-02-20 10:19] km2000us commented on #31666
@BoneheadFraggle Sorry to post this again after it has been closed.

I have managed to get 3 accounts to be available for integration following your instructions above.

However, after sometime, the first two accounts will present themselves as "unavailable" after some time.  Only the last account whose client id that remains on configuration.yaml will remain available.

Have you come across the s

[2020-02-20 10:28] Darkrulerz commented on #31689
Currently it works something like:
1. If there is a non-gps device tracker that reported "not_home", we'll use that one
2. else if there's a gps device tracker, we'll use that one
3. else we'll use a device tracker that reported "home"

Note that in all 3 cases there is no check on when the last state was given.

I think this means that:
- if a non-gps device tracker reports a "home" state from 24

[2020-02-20 10:42] cobirnm commented on #31657
Lowering the baud rate was one of the first things I tried and did not solve the issue.
Some of my sensors are far away from my raspberry and not always update at first try. It looks like somehow bluepy after some tries gets stuck. Since I have started using Miflora as a custom component  and under requirements bluepy 1.1.4 I have had the system running for almost 6 days now and have had no issues

[2020-02-20 11:02] #25421 closed

[2020-02-20 11:02] #27570 closed

[2020-02-20 11:02] #28200 closed

[2020-02-20 11:22] frenck commented on #31666
You should not add multiple entries to your `configuration.yaml` file. Only 1 entry (Spotify Application) goes into your `configuration.yaml`. You only need 1 application, which can be used for adding multiple accounts / instances via the Home Assistant frontend.

Adding in multiple to your `configuration.yaml`, will cause your accounts to expire.

[2020-02-20 11:41] breiti commented on #32016
I'm not yet sure what triggers this, but this behavior is not limited to starting up Home Assistant. I also get multiple modules loaded during normal operation. I'm turning audio zones on/off based on presence, but it looks as if turning a switch on when it's already on can also lead to this behavior...

[2020-02-20 11:42] allmoney commented on #29602
Same problem. Any ideas?

[2020-02-20 11:44] allmoney opened #32019 "Skybell not notify when pushed button"
When I push button on SkyBell I got ring on phone. But in HA UI I not see that it was pressed...
In logs I see only this:
[code]
What's problem?

[2020-02-20 11:51] grantclem commented on #32002
Thanks for your help, slight embarrassing not picking this up.

[2020-02-20 11:51] #32002 closed

[2020-02-20 12:00] springstan commented on #32019
Please fill out the issue template. You can find it by clicking on New Issue and then on Report a bug with Home Assistant.

[2020-02-20 12:35] TheZoker commented on #31400
I can confirm this issue

[2020-02-20 12:37] finipini commented on #31268
![Screenshot_34](https://user-images.githubusercontent.com/49859284/74934199-91f74280-53dd-11ea-9a32-99ec43765d49.png)

You must done this changes, i had the same problem. This is from the release notes.

[2020-02-20 13:04] McGiverGim opened #32020 "Plant Monitor resets history brightness values when rebooting HA marking the plant as error"
## The problem

The Plant Monitor has a parameter `check_days` (by default with a value of `3`) to not throw a `min_brightness` problem until the number of days selected has passed without enough brightness in any of them.

This is ok, but the history is retained only while the server is up, if the server is rebooted the history is deleted and the Plant Monitor shows a problem until it gets enough

[2020-02-20 13:23] marthoc commented on #30955
I have a feeling this is related to the wrong pyecobee being installed. The correct python package is called python-ecobee-api. Can you stop the server, access the HA venv, or get a shell in Docker, and do `pip uninstall pyecobee`, `pip uninstall python-ecobee-API`, then restart? Should prompt HA to reinstall the correct pyecobee.

[2020-02-20 13:31] azogue commented on #31997
cc @exxamalte

I'm trying the proposed fix (storing the `_last_scheduled_purge` timestamp) and works as expected.
The number of generated listeners is much shorter, and the warnings have disappeared once and for all :)

I'll publish a PR with the small fix asap (probably this afternoon), but I will also do **another one** with a __feature request__ of mine: **be able to set a fixed update interval

[2020-02-20 14:51] springstan commented on #31906
Thanks for providing more information to identify and hopefully solve the problem.

As far as I can tell #22626 **only** offers the ability to resume while cleaning a specified zone. So your use case is not included in either the HA integration or the used [python-miio](https://github.com/rytilahti/python-miio) package. Furthermore, the [HA documentation](https://www.home-assistant.io/integrations

[2020-02-20 15:01] #31926 closed

[2020-02-20 15:13] snipes040 commented on #23758
@EDV11 @pipacsba So I figured out the issue kind of.  I spun up a VENV HA instance and the canary script works perfectly fine.  I came across this when trying to do some command_line sensors and they didn't work either from HA.  It's something to do with the docker container not having the correct access/permissions I think but this is beyond my understanding.  Just and FYI.

[2020-02-20 15:33] michaelkuty commented on #26929
I have exact same issue

[2020-02-20 15:38] donpoedel opened #32025 "Plex Sensor stays unavailable after server is turned on"
## The problem

When I turn on my Plex server the sensor entity stays at 'unavailable'. I left the server on for multiple days and I never changed to '0 Watching'. However if I restart HA and my server is on by any chance the sensor will switch to '0 Watching'. It seems like the sensor only checks the server connection on booting.

## Environment

- Home Assistant release with the issue: 0.105.5
-

[2020-02-20 16:07] edofullin opened #32026 "SSL Errors after domain name change"
I recently moved my home assistant instance to a second level domain instead of relying on NOIP third level domain that I had to renew every month.

I have requested my lets encrypt certificate for both mydomain.net and home.mydomain.net to be sure. (certbot certonly --dns-ovh --dns-ovh-credentials ovh.ini -d mydomain.net -d home.mydomain.net)
The certificate was successfully created and I success

[2020-02-20 16:20] cgtobi commented on #31946
Thanks for reporting. Unfortunately I don’t really know how to reproduce this. Could you please provide more information like how did you proceed, what is your setup like?

[2020-02-20 16:24] esc247 commented on #22078
Solved it! More info here: https://community.openhab.org/t/solved-openhab2-xiaomi-mi-gateway-does-not-respond/52963/278

[2020-02-20 16:25] #31822 closed

[2020-02-20 16:30] #22527 closed

[2020-02-20 16:34] dstensnes commented on #28368
how about depending on an acceptable version of wheel then? Wouldn't that work better, and the doc could remain as is?

[2020-02-20 16:34] dstensnes commented on #28368
-> "as was"

[2020-02-20 16:37] jjlawren commented on #32025
As I understand the series of events:
1. Plex server is off
2. HA is started
3. HA's Plex integration fails to connect
4. Plex server is started
5. HA's Plex integration does not detect the Plex server being available
6. If HA is restarted everything connects properly

@donpoedel Can you confirm this is the scenario you're encountering?

[2020-02-20 16:37] rosch100 commented on #31946
Meanwhile, I could resolve it by removing and re-enabling the netatmo integration. I am not sure how to reproduce, since it does not show this error on another system after the upgrade.
Thanks for looking into it!

[2020-02-20 16:42] cgtobi commented on #31946
Ok. Great to hear that it’s working now. I’ll close this for now. Feel free to come back to it should it reappear.

[2020-02-20 16:42] #31946 closed

[2020-02-20 16:48] colinodell commented on #31994
This error is coming from the xmltodict functionality that the underlying qnapstats library uses.

    TypeError: __init__() got an unexpected keyword argument 'force_list'

I don't understand why this would be suddenly failing. Is HASS now using a different version of xmltodict which no longer has this `force_list` feature? I'm currently on holiday without my laptop, so if anyone could help check

[2020-02-20 16:50] donpoedel commented on #32025
I confirm this is the scenario.

[2020-02-20 16:51] #28929 closed

[2020-02-20 17:01] #27843 closed

[2020-02-20 18:20] fleXible commented on #28891
Hi,

I am having issues with my Playstation and the standby state for quite some time now. Actually, after diving in the code, I was quite happy to see the revert, because the media_play UI toggle is not the only piece broken.
- media_player [toggle service](https://github.com/home-assistant/home-assistant/blob/75b508e8724cb82712227082eee9abab570d2eb2/homeassistant/components/media_player/__init__

[2020-02-20 19:12] ZephireNZ commented on #31999
Have just set up the integration and I am experiencing the same issue.

GTFS feed: https://cdn01.at.govt.nz/data/gtfs.zip

Config:
[code]

Entity State:
[code]

[2020-02-20 19:16] megapearl commented on #10498
Finally something that is working, looking for a couple of years for a working solution, just installed it as custom_component and it isn't missing any triggers anymore! thank you!

[2020-02-20 19:45] #28840 closed

[2020-02-20 20:29] PurelyNicole commented on #31400
I have found part of the problem is that I didn't have different ports for each of the Yamaha devices. Setting the configuration like makes both devices work in HA:

[code]

I am however still getting the same errors in my log.

[2020-02-20 20:51] andriej commented on #31549
Same here - ping and nmap, latest 0.105.5

[2020-02-20 21:31] springstan commented on #31994
Not as far as I can tell, it is not a requirement for HA.
It is for some integrations though:
https://github.com/home-assistant/home-assistant/blob/ce710f1e0bce31404bdd8627452504ee050ab40b/requirements_all.txt#L2097-L2103

However, this version conforms with the requirements for qnapstats (`xmltodict>=0.10.0`)

[2020-02-20 21:32] scstraus commented on #31700
I'll test it for you.

[2020-02-20 22:02] g0hww commented on #31549
I'm seeing this with a device_tracker using mqtt_json. The line existed in known_devices, I removed it. Checked config and the warning message was logged again. Rebooted and warning message is still logged, yet no such line appears to exist.

[2020-02-20 22:08] exxamalte commented on #31997
Hm, that is exactly what I wanted to avoid with the code that unsubscribes the old listener before creating a new one.
Different stats sensors of course need their own listener each, because they run on different cycles.

I like your way of thinking - comparing timestamps should indeed be much simpler than dealing with listeners.

And, maybe we could check if the listener is still in the list inst

[2020-02-20 22:14] glassbase commented on #31983
Your 2nd screen cap is for third party integration Alexa Media Player. Unrelated to Alexa built in integration. FYI

[2020-02-20 22:29] glassbase commented on #31709
That’s because of Alexa and not HA. As soon as you put items in a group and say turn on/off that group, it controls all items in that group regardless of the device type

[2020-02-20 22:32] JamieP83 commented on #31983
Thanks, i know, im showing what everything else does and where the gap is

[2020-02-20 22:40] devinjparsons opened #32043 "Sensors from Unifi Integration not setting unit of measurement"
## The problem

Sensors provided by Unifi Integration for Tx and Rx do not set the unit of measurement which then doesn't allow for viewing the history as a line graph.

## Environment

- Home Assistant release with the issue: 0.105.5
- Last working Home Assistant release (if known):
- Operating environment (Hass.io/Docker/Windows/etc.): Hass.io
- Integration causing this issue: Unifi
- Link to in

[2020-02-20 22:54] balloob opened #32047 "Flaky Deconz test"
This test failed on #32039 which had a change unrelated to Deconz.

https://dev.azure.com/home-assistant/Core/_build/results?buildId=28255&view=logs&j=67510a0b-4400-5e74-cb95-9572caf5ca54&t=f8fe93fb-5ebb-59cc-455e-c0f2d9ad3a42&l=238

[code]

[2020-02-20 22:55] bdraco opened #32048 "Move camera image fetch to py-august"
https://github.com/home-assistant/home-assistant/pull/32044/files#r382302516

[2020-02-20 23:45] franmiele opened #32049 "Hydrawise broken since 105.5"
## The problem

After upgrading to 105.5 all my HYDRAwise entities cannot be found.

## Environment

Home Assistant 0.105.5
Frontend version: 20200130.3 - latest

- Home Assistant release with the issue: 105.5
- Last working Home Assistant release (if known): 105.4
- Operating environment (Hass.io/Docker/Windows/etc.):
Home assistant on PI4 with Docker

- Integration causing this issue:  HYdrawise

[2020-02-20 23:47] frenck commented on #32048
You don't have to open an issue for a PR.

PR's don't require an issue.

[2020-02-20 23:47] #32048 closed

[2020-02-21 00:47] bdraco commented on #32048
@frenck I am having trouble keeping track of all the PRs I have queued up so I was planning on creating issues to track them.  If that’s not the best way forward, I can start a trello or JIRA board on the side

[2020-02-21 01:19] frenck commented on #32048
They clutter or view, we use GitHub issues to track bugs, not PR's.

[2020-02-21 01:46] raymonvdm commented on #31031
Password resave in ZoneMinder indeed fixes the issue

[2020-02-21 02:41] snook opened #32050 "Twitch channel status on/off"
## The problem
It seems the Twitch streaming status should return on/off instead of offline/streaming for consistency with most of the other sensors. I am attempting to utilize grouping for the first time and it appears that it does not recognize offline/streaming. I am investigating whether there is a workaround for this, however it seems that the sensor status returning on/off would simply be mo

[2020-02-21 03:15] xeospeed commented on #32049
I'm having the same issue.

[2020-02-21 03:38] snook commented on #32050
Following up, I did figure out how to get this working. I still think the status should be on/off for simplicity sake. To solve this required setting up both a group and a binary sensor and some searching regarding value_templates in order to get it working when it would have just been working with groups alone had the state be on/off. Thank you.

Group:
[code]

Binary_sensor
[code]

[2020-02-21 04:03] xeospeed commented on #30907
Confirming this issue still exists in 0.105.5.

`Failed to start Emulated Roku Home Assistant Roku on 192.168.7.222:8060
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/components/emulated_roku/binding.py", line 142, in emulated_roku_start
    await self._api_server.start()
  File "/usr/local/lib/python3.7/site-packages/emulated_roku/__init__.py", line 408, in start

[2020-02-21 04:26] mindigmarton commented on #30907
That’s a different issue, the http (tcp) port is in use. Find another free port for emulated_roku.

[2020-02-21 05:04] codylv7 commented on #30555
I am experiencing this issue as well, working on getting logs..

[2020-02-21 05:20] robmarkcole commented on #31610
Should be resolved by https://github.com/home-assistant/home-assistant/commit/a7d5e898baf04218169caf485534af2eb5008f9c

[2020-02-21 05:20] #31610 closed

[2020-02-21 05:59] jurgenweber opened #32051 "mobile app component does not add new instance for notify service"
## The problem

My wife and I have the same phone, Pixel 3. So in the mobile app configuration, under 'device registration' the default 'Device Name' is the same. This is not a problem anywhere else, it just creates a _1 in the entity ID, but the notify service it creates you get that error.

This means the second phone that was added, there is no notify service.

## Environment

Android mobile ap

[2020-02-21 06:06] dshokouhi commented on #32051
Change the device name in app configuration, then restart home assistant for the new notify name to take place. Might be a good idea to update it on both devices. You also need to restart home assistant after logging in to the app as well. Not sure if you did that after logging in to both devices.

[2020-02-21 06:57] djxie2019 opened #32052 "Daikin integration turning Airbase onto Auto mode instead of Cool"
## The problem

Since the most recent update, when I ask Siri to turn on the air conditioner, the air conditioner turns onto it’s “Auto” mode instead of the last known mode of “Cool”. Using an Airbase. Never had this problem until the last update.

## Environment

- Home Assistant release with the issue: 0.105.4
- Operating environment (Hass.io/Docker/Windows/etc.): Hass.io
- Integration causing t

[2020-02-21 06:58] djxie2019 commented on #28381
Still an issue

[2020-02-21 07:09] springstan commented on #32049
Could this be related to #31957?

[2020-02-21 08:26] eavanvalkenburg commented on #31700
Sorry missed that comment @zxdavb, but def willing to test!

[2020-02-21 08:37] szimszon commented on #30523
For me the problem was that the python av module was compiled against libavutil.so.55 and I had a distribution upgrade.
It was useless to uninstall and install av module with pip3 until I installed it like this:
  pip3 install av==6.1.2 --no-cache-dir
The trick was to install it without the cached version.

[2020-02-21 08:47] sedlacekdavid opened #32055 "Samsung TV: UE43MU6172 setup problem"
## The problem

When I turn on my Samsung TV, hass discovers that and offers me to do a pairing. When I click notifications, then Configuration->Integratiojns->Discovered, there is my TV:
Samsung TV: UE43MU6172

I click Configure, then a dialog appears:

`Do you want to set up Samsung TV UE43MU6172? If you never connected Home Assistant before you should see a popup on your TV asking for authoriza

[2020-02-21 08:51] jurgenweber commented on #32051
Yes, I am fully aware of fixing it this way but it isn't overly intuitive and it really is unexpected behaviour considering everything else in HASS would just append a _1 or index on it.

The other solution would be to put naming the device in the Android App install Wizard.

[2020-02-21 09:10] talondnb commented on #31657
I've reverted to OS 2.12 and working fine with 0.105.5, Supervisor 201. Hopefully a fix soon.

[2020-02-21 09:22] olylak commented on #23064
Still the same in 0.105.5
Can it be fixed?

[2020-02-21 09:28] springstan commented on #32055
Duplicate of #31252 and #31504, will hopefully be fixed by #31537.

[2020-02-21 09:28] #32055 closed

[2020-02-21 09:31] oneofthemany commented on #30244
^^^
bump

[2020-02-21 09:44] frenck commented on #32050
@snook Please fill in the issue template, while you provided some good information, the basics are missing because of that. Thanks! 👍

[2020-02-21 09:52] springstan commented on #32049
Do you have any other logs/traceback in home-assistant.log that is related to this integration?

[2020-02-21 09:57] Jc2k commented on #31745
Sorry didn't see this earlier, i'm only a code owner for `homekit_controller` (pretending to be an iPhone and pairing with accessories) not `homekit` (pairing with phones/ipads/etc and pretending to be a homekit hub).

@bachya There are some people who have RainMachine's and have posted [here](https://github.com/home-assistant/home-assistant/issues/27292) with the keys needed to what is suggested

[2020-02-21 10:21] hansies commented on #25767
105.5: I also have a lot of warnings about conditions not being monitored. Here is my config:

[code]

Here is a part of a long list of warnings:

[code]

[2020-02-21 11:14] fredrike commented on #32052
Are you saying that it worked in 0.105.3?

Afaik, there have not been any changes to the Daikin code in the latest releases.

[2020-02-21 12:35] #28790 closed

[2020-02-21 12:35] #28808 closed

[2020-02-21 12:38] dlavrantonis commented on #30215
I also got an RM Mini 3 with -unfortunately- 44057 firmware installed in it. Following QuadrifoglioVerde's workaround i am able to successfully register the device in HA, but the learning service fails to capture any IR code:

1) i get back a 2020-02-21 14:24:32 ERROR (MainThread) [homeassistant.components.broadlink.remote] Failed to learn 'Turn on/television': no signal received

2) No red light

[2020-02-21 12:52] derandiunddasbo opened #32058 "OctoPrint integration delaying HA startup when OctoPrint server is offline"
## The problem

If a configured OctoPrint server is offline during HA startups, the OctoPrint integration is throwing error messages and delays the frontend becoming available again for about 10 seconds:

This is no showstopper, but as I don't have my OctoPrint server running 24/7, I'm facing this issue nearly every time I restart HA. Especially when testing config changes, this additional delay o

[2020-02-21 13:09] springstan commented on #32058
Please fill out the issue template, you can find it by clicking on `New Issue` and then selecting `Report a bug with Home Assistant`. Copy and paste the provided template into this already created issue, click preview to take a look at the empty template and then fill out as much as you can. Any additional information can be helpful!

Thanks for understanding :)

[2020-02-21 13:15] ziv1234 opened #32059 "._abort_if_unique_id_configured(update) doesn't update"
## The problem
  In my integration (dynalite), I moved to use the unique_id and _abort_if_unique_id_configured(update). When I change configuration.yaml to the new configuration, it calls _abort_if_unique_id_configured with the new content and it updates the config entry.
  However, since the entry is already loaded, the component is running configured with the old info until I restart HA again an

[2020-02-21 13:25] URBANsUNITED opened #32060 "Want to add Homekit device, get KeyError: ‘Item 31 not found’"
## The problem

Hi!

I am trying to add some Sonoff basic converted to Home Accessory Architect former Ravencore ([https://github.com/RavenSystem/esp-homekit-devices](https://github.com/RavenSystem/esp-homekit-devices)) with the latest firmware.
In my log I found the following entry as the Homekit devices didn’t get recognized.
Is there something I can/must change?
I have two Xiaomi Homekit light

[2020-02-21 14:35] hugo929 opened #32061 "Router bassed Device tracker Aggregation/Combine/Merge"
Home Assistant 0.105.5
os_name | Linux
python_version | 3.7.6

Scenario => tracking a single WIFI device accross multiple access points using MAC address:
Two access points:

configuration.yaml
[code]

known_devices.yaml
[code]

This gives me a single device tracker per wifi device (Single MAC address). I cant find in the documentation how the state would be calculated, but I presume the last trac

[2020-02-21 15:09] MartinKuhl opened #32062 "After Update to HomeAssistant 105.5 the webUI is not starting -> serveral py-Errors"
## The problem
After upgrading to 105.5 the webUI is not starting.

## Environment

- Home Assistant release with the issue: 0.105.5
- Last working Home Assistant release (if known): 20200130.3 - latest
- Operating environment (Hass.io/Docker/Windows/etc.): Home assistant on PI3b+
- Integration causing this issue:
- Link to integration documentation on our website:

## Problem-relevant `configurat

[2020-02-21 15:15] franmiele commented on #32049
I turned on the log to debug and restarted. Here is what is in the log:

Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/setup.py", line 174, in _async_setup_component
    component.setup, hass, processed_config  # type: ignore
  File "/usr/local/lib/python3.7/concurrent/futures/thread.py", line 57, in run
    result = self.fn(*self.args, **self.kwargs)
  File "/usr

[2020-02-21 15:15] UrsineRaven commented on #23317
I'm curious if this has been fixed. I'm hesitant to enable it if it hasn't.

[2020-02-21 15:19] declanshanaghy commented on #25893
+1 on this issue for me

[2020-02-21 15:20] MartinKuhl opened #32106 "After Update to HomeAssistant 105.5 the webUI is not starting -> serveral py-Errors"
**The problem:**
After upgrading to 105.5 the webUI is not starting.

**Environment**
Home Assistant 0.105.5
Frontend version: 20200130.3 - latest
Home Assistant release with the issue: 105.5
Last working Home Assistant release (if known): 105.4
Operating environment (Hass.io/Docker/Windows/etc.):
Home assistant on PI3b+

**Logs (home assistant log):**
hassio homeassistant logs
2020-02-21 15:51:46

[2020-02-21 15:25] aronsky commented on #31657
Interesting... I was running Miflora as a custom component for a while (with bluepy 1.1.4), and it did help at first, but IIRC, it started crashing eventually, nonetheless. I wonder whether there's a chance that I reverted to the original component, and that's when the crashes came back? However, for me, the lower baud rate seems to work great.

[2020-02-21 15:34] dshokouhi commented on #32051
These steps are the intended way for it to be fixed when the issue was originally filed in: https://github.com/home-assistant/home-assistant-android/issues/170

We already have a feature request for this here: https://github.com/home-assistant/home-assistant-android/issues/385

Closing issue as duplicates of the above, until the enhancement is completed you will need to follow the steps I outlined

[2020-02-21 15:34] #32051 closed

[2020-02-21 15:55] jolaca01 commented on #22970
@KiLLeRRaT , how does it work for you??

[2020-02-21 16:11] springstan commented on #32049
@franmiele have you checked that your configuration is valid? Because there are a lot of logs mentioning an invalid configuration.

[2020-02-21 16:17] jolaca01 commented on #22970
@KiLLeRRaT , don't answer, I get it working now:  customize.yaml

[2020-02-21 16:18] credulous67 commented on #31031
Changing password or user did not fix for me, it was fixed during normal OS (Centos7) patching that triggered Zoneminder update from 1.34.1 to 1.34.2

[2020-02-21 16:28] springstan commented on #32061
Please fill out the issue template, you can find it by clicking on `New Issue` and then selecting `Report a bug with Home Assistant`. Copy and paste the provided template into this already created issue, click preview to take a look at the empty template and then fill out as much as you can. Any additional information can be helpful!

Thanks for understanding :)

[2020-02-21 16:28] springstan commented on #32062
Please fill out the issue template, you can find it by clicking on `New Issue` and then selecting `Report a bug with Home Assistant`. Copy and paste the provided template into this already created issue, click preview to take a look at the empty template and then fill out as much as you can. Any additional information can be helpful!

Thanks for understanding :)

[2020-02-21 16:33] MartinKuhl commented on #32062
done

[2020-02-21 16:33] arsaboo opened #32064 "REST sensor not working in .106"
## The problem

I was using the following rest sensor to extract the codec being played on Sonos. It worked until .105
[code]

It broke in .106 following the recent PR by @bdraco (most likely because things are not adequately documented).

The CURL command still works and provides the relevant information:
[code]
As you can see the response is xml format. I want to extract the value `21` inside th

[2020-02-21 16:41] hugo929 commented on #32061
## The problem
Cant find a way to track wifi devices accross multiple access points in the same zone using MAC address.

## Environment
arch | x86_64
dev | false
docker | true
hassio | true
os_name | Linux
python_version | 3.7.6
timezone | America/Toronto
version | 0.105.5
virtualenv | false

## Problem-relevant `configuration.yaml`

[code]

## Traceback/Error logs

[code]

## Additional informati

[2020-02-21 16:55] toddsantoro commented on #4210
2020-02-21 11:50:58 WARNING (MainThread) [homeassistant.helpers.entity] Updating state for zone.laid_back_key_west (<class 'homeassistant.components.zone.Zone'>) took 1.989 seconds. Please report platform to the developers at https://goo.gl/Nvioub

[2020-02-21 17:22] franmiele commented on #32049
Yes, it comes back VALID

[2020-02-21 18:08] arsaboo commented on #32064
So, after a lot of help from @skalavala, we figured out that the following works:
[code]

We definitely need more debug logs in the code to figure things out. Also, I am still not sure what and how to use for the `json_attributes_path`.

[2020-02-21 18:51] ziv1234 commented on #32059
ok. received comments outside this thread that this is the expected behavior and what I want to achieve should be done with an update listener on the entry.

Will update my component.

[2020-02-21 18:51] #32059 closed

[2020-02-21 18:55] derandiunddasbo commented on #32058
Yeah, I've already been wondering what happened to the template when I opened the ticket earlier. For some reason the issue appeared completely empty. I wasn't sure, if no template is the new template and opened the ticket anyways.

But thanks for the hint, I didn't think about opening another issue form and c&p the template from there myself.

[2020-02-21 18:58] ningjiazun opened #32069 "play media on DLNA speaker(xiaomi.wifispeaker.s12),Cannot stop automatically"
## The problem

## Environment

- Home Assistant release with the issue:
- Last working Home Assistant release (if known): Home Assistant 0.105.4
- Operating environment (Hass.io/Docker/Windows/etc.):Docker
- Integration causing this issue:

## Problem-relevant `configuration.yaml`

[code]

## Traceback/Error logs

no
[code]

## Additional information

Playing TTS content in a loop

[2020-02-21 19:03] ningjiazun commented on #32069
Can only be forced to stop using commands
`    - delay: '00:00:05'
    - service: media_player.media_stop
      data:
        entity_id: media_player.adegc_3aie3c_r_1623`

[2020-02-21 19:09] broyuken commented on #31964
I've had the same problem since I installed HA, probably version .87 or somewhere around there. I always assumed it just never worked and never bothered to report it. It usually ends up coming back after a day or so, I believe when it tries to update again overnight.

Running in a VM on esxi.

[2020-02-21 19:12] jjlawren commented on #31964
I took a second shot at overhauling `cert_expiry` in https://github.com/home-assistant/home-assistant/pull/32066. @phlet if you're willing to give that one a try instead of the previous PR, please let me know how it works.

[2020-02-21 19:26] phlet commented on #31964
I'll try it tonight.

[2020-02-21 19:40] jurgenweber commented on #32051
cool, thanks

[2020-02-21 19:51] trombonekenny commented on #23920
I have a similar problem (with 0.105.2) where startup takes 2-3 minutes (and during that time the web UI doesn't respond). I can turn on debugging and see all of the other components initialize and startup asynchronously but it seems the last thing to finish is the bluetooth tracker scanning for known devices. I never see a "setup of domain bluetooth_tracker" message, just the HA initialized one.

[2020-02-21 19:55] trombonekenny commented on #23920
Referring to some of the comments at the bottom of this PR https://github.com/home-assistant/home-assistant/pull/26614

[2020-02-21 21:07] #32025 closed

[2020-02-21 21:15] move[bot] opened #32073 "light domain lighting is not consistent"
*@pashdown commented on Feb 21, 2020, 6:43 PM UTC:*

## Checklist

*   [x]  I have updated to the latest available Home Assistant version.
*   [x]  I have cleared the cache of my browser.
*   [x]  I have tried a different browser to see if it is related to my browser.

## The problem

In spite of state_color: true being set for this card, the top two lights never light up. They are Insteon lights

[2020-02-21 21:35] #28245 closed

[2020-02-21 21:37] amaximchuk commented on #30168
Looks like it works. At least 2 days without a halt.

[2020-02-21 22:09] iluhis commented on #4210
Updating state for remote.xiaomi_miio_192_168_1_113 (<class 'homeassistant.components.xiaomi_miio.remote.XiaomiMiioRemote'>) took 0.767 seconds. Please report platform to the developers at https://goo.gl/Nvioub

RasPi4 with Hassio installed from the Hass site

[2020-02-21 23:38] toudewolbers commented on #28344
Same problem here and with my friend after he logged out for me to try my account.
I also found more people on different forum who got the same problem.
So i know 100% for sure its not my account.

[2020-02-21 23:42] toudewolbers commented on #28344
For the one who can program a bit the problem is in the libary i think.
All the versions dont let toon to work.
Also tryed different HA setups.
No succes.
Users got a error: unknown user credentials. After the input in toon username/password/tenant..(eneco). I would like to give a big donation if we get this to work again.
regards,
Tim

[2020-02-22 02:41] ktnrg45 commented on #28891
@fleXible Would you like to make a PR for this? I don't have homekit so I won't be able to properly test this.

[2020-02-22 02:55] codylv7 commented on #30555
Here's a log for you https://pastebin.com/DmLDuxML

Let me know what else I can provide

[2020-02-22 03:00] hunterjm opened #32076 "Konnected Config Flow issues in 106 beta"
## The problem
The config flow update for the Konnected component in https://github.com/home-assistant/home-assistant/pull/30894 is non-breaking in theory, but in reality can cause some confusion/frustration for users.
1) The integration is discovered twice if it is already configured via YAML, but the config flow for both is the same.  When clicking "Configure" the yaml version doesn't populate t

[2020-02-22 03:02] hunterjm commented on #32076
Pinging @kit-klein as the author of the PR if he wants to take a look.

[2020-02-22 03:09] kit-klein commented on #32076
@hunterjm I'll look into how to clean these up.  Thanks for the great feedback.

[2020-02-22 03:15] hunterjm commented on #32076
No problem, let me know if you need any additional details.  Unfortunately I didn't have the foresight to take screenshots or document anything in detail.  I upgraded to the beta relatively late the other night and wanted to make sure all my door sensor automations would still work for us in the morning.

[2020-02-22 03:51] phlet commented on #31964
It's working and the logs are better than before. However, the behaviour seems weird..

- As I wrote in the pull request, we lost the name we give to the sensor.  It's now always sensor.cert_expiry_domain instead of sensor._GIVEN_NAME_.

- When I remove one of the sensor cert_expiry from my configuration.yaml and restart HA, it is still there after the reboot.  Normal ?  I don't know if it was lik

[2020-02-22 03:57] jjlawren commented on #31964
That's intended.

That behavior is the same. The YAML config is used to import configs into the Integrations page.

Brand new configs in the YAML are delayed by 30s on first import to ensure there aren't race conditions on boot (like checking HA's own cert). This delay can probably be safely reduced to 10s and still be reliable for all users. Creating via the Integrations page is always immediate.

[2020-02-22 04:00] phlet commented on #31964
First time I hear about the entity registry...  I just read a bit about it and it's really nice.  Sorry for my ignorance....

Knowing that, everything work as intended here.  The log are really better than the last one.

Great job !

[2020-02-22 04:05] jjlawren commented on #31964
No, it was a good question. It's hard to keep up with all the changes.

It's really nice to have core support for things like renaming where each individual integration doesn't have manage it anymore. Even so, it's a change that has a tendency to make users uncomfortable if they're used to the old way.

[2020-02-22 04:19] phlet commented on #31964
I think you'll have guessed it, but I'm one of the users that is a bit uncomfortable with this...

I always try to automate as mush as i can.  I had some automation that were using the custom name.  Right, with my setup, if I reinstall a new home assistant and I use only my yaml, the automation won't work unless I go change manually the sensor name after the first reboot.

Having said that, I can

[2020-02-22 04:24] jjlawren commented on #31964
The previous default names were poor for automation. Hopefully the new entity names are easier to work with. If you do have a suggestion to improve, let me know.

[2020-02-22 04:32] phlet commented on #31964
I agree with you, the old default name were kind of bad... That's why I was using custom one.

Knowing the new default name, I'm kinda happy with the change and I'm not asking for more.

Having said that, if you want to do more modification, you could keep both behavior by changing the title to something like that :
`title = user_input.get(CONF_NAME, host + (f":{port}" if port != DEFAULT_PORT else

[2020-02-22 05:06] fleXible commented on #28891
@ktnrg45 Yeah, I could. But honestly, it's way more sensible to first (if we then decide so) remove the STATE_STANDBY before further changing the power-behaviours.
Today, I had a look at all the places, where a media_player is using standby.

1.  There really are not that many, but more importantly
2. I could just find 1 use of it (in [mediaroom),](https://github.com/home-assistant/home-assistant/

[2020-02-22 07:51] Nick-Adams-AU commented on #32049
This is a dupe of https://github.com/home-assistant/home-assistant/issues/31957

Hydrawise have confirmed they changed their API without notification. An upstream bug with the library has been raised to resolve the issue.

[2020-02-22 08:34] dennis84de commented on #31956
The holidays library has already been updated. In the lastet version Greece ist supported too.
https://github.com/home-assistant/home-assistant/pull/31392

[2020-02-22 09:47] MagieMalone opened #32079 "Buienradar giving errors for Data element not loaded from br data"
## The problem

Buienradar gives warnings on weather stations that don't provide all measurements, even if you're not requesting those measurements.
I've turned on buienradar debug logs afterwards to get better logging, normaly I only have componens warnings on. Turning on debug however did not provide additional logging. Also the sensors don't update.

## Environment

- Home Assistant release wit

[2020-02-22 10:14] tsdaemon commented on #30215
Hi,

Kindly ask for updates on this topic. I am trying to integrate HA and Broadlink RM-Pro using the latest version of the `ihc`. I am going to try using older app versions, could it a workaround? Thanks.

[2020-02-22 10:15] ktnrg45 commented on #28891
I'm all for reverting STATE_STANDBY. It was a mistake on my part.

Since you brought up the STATE_IDLE inconsistencies in homekit I had a look here:
https://github.com/home-assistant/home-assistant/blob/ced870c588bf319daa96791a715ea4a875ccd2a1/homeassistant/components/media_player/__init__.py#L701-L712

According to this STATE_IDLE should be a 'off' state. So perhaps the fix is really simple: STAT

[2020-02-22 10:16] JakeTheSnake commented on #4210
Component: VerisureThermometer
Platform: Sensor
Time to update: 0.567 s

Updating state for sensor.garage_temperature (<class 'homeassistant.components.verisure.sensor.VerisureThermometer'>) took 0.567 seconds. Please report platform to the developers at https://goo.gl/Nvioub

Raspberry Pi 3B, docker

[2020-02-22 10:47] zxdavb commented on #31736
@eavanvalkenburg @scstraus I have two possible fixes in mind for this (will probably end up using both), if you willing to test it, I'll let you know when it is available.

I am a little overloaded presently, so you'll have to bear with me.

[2020-02-22 10:48] Mariusthvdb opened #32080 "climate entity not available after Plugwise update"
## The problem

Climate entity is not available for my Anna (plug wise) thermostat after updating to firmware 3.1.11

## Environment

- Home Assistant release with the issue: 105.5 and 106b1
- Last working Home Assistant release (if known): 105.5
- Operating environment (Hass.io/Docker/Windows/etc.): Hass.io
- Integration causing this issue: climate plug wise
- Link to integration documentation on

[2020-02-22 12:00] marcgarciamarti opened #32081 "THEATER VOLUME CONTROL won't work with Marantz SR5012"
## The problem
I'm trying to setup THEATER VOLUME CONTROL using the light template found here https://www.home-assistant.io/integrations/light.template#theater-volume-control
I manage to see a new light item on my Home.app and I can adjust the brightness as expected, but it does not do what it is intended as my Media Receiver does not react

## Environment

- Home Assistant release with the issue:

[2020-02-22 12:03] skgsergio commented on #28942
There will be soon (next weeks) a map update from CARTO, also the plan is that CARTO updates it more often. I'll ping here once it's done.

[2020-02-22 12:03] skgsergio commented on #27056
There will be soon (next weeks) a map update from CARTO, also the plan is that CARTO updates it more often. I'll ping here once it's done.

[2020-02-22 12:36] tuxick commented on #30619
Same here

[2020-02-22 13:01] djxie2019 commented on #32052
Worked fine in the last release, popped up in the new release. Siri commands will only turn the Daikin Airbase to “Auto” mode instead of Cool or Heat. Homekit doesn’t actually home an Auto mode for a thermostat so don’t know how it’s triggering.

[2020-02-22 13:09] springstan commented on #32049
Duplicate of #31957

[2020-02-22 13:09] #32049 closed

[2020-02-22 13:44] fleXible commented on #28891
I just cherry-picked your commit onto my sourcetree and trying it out now. The issue with homekit was, STANDBY was not recognized as off by it, so I was not able to start it this way.

Here's the verdict:
- the PS4 is always on in Homekit and can't be turned off
- when I turn it off in homekit, nothing happens
- play/pause/stop all just switches between the currently running app and the homescreen

[2020-02-22 14:08] jjlawren commented on #31964
That's reasonable, I'll add it back in later today. But remember that you can't _update_ the name from the config file and that it's only used during creation.

[2020-02-22 14:09] wasperen commented on #32079
+1

[2020-02-22 14:32] BKPepe commented on #31021
@frenck I ping you because you commented this PR as Home Assistant developer and you replied that you need to support other Python versions as well. However, @jefferyto provided a solution for that and it was left without a reply and PR which was mention by @springstan was closed without any further details.

Should I do a pull request with proposed change?

[2020-02-22 15:15] tholgir commented on #31956
that explains why I didn't get the error using the code in the dev branch. I see that the update was added for the 0.106 release so it should work from then @viktak

[2020-02-22 15:19] arsaboo commented on #32064
@bdraco This could be another example in our docs (once you can figure out the `json_attributes_path`).

[2020-02-22 15:31] SeraphimSerapis opened #32087 "Error: Nabu Casa Report State to Google"
## The problem

Every now and then the restart of my Home Assistant instance is blocked. It seems like the Cloud integration is blocking the restart when failing to report state to Google.

## Environment

- Home Assistant release with the issue: 105.5
- Last working Home Assistant release (if known): ?
- Operating environment (Hass.io/Docker/Windows/etc.): Docker on Linux
- Integration causing th

[2020-02-22 15:47] frenck commented on #31607
This was discussed in PR #31933, and will add a summary to this issue for future reference.

So here I made a test case, with the currently released code, as in available in 0.105.

This is the official Spotify client, connected with my Premium account. I have used Home Assistant 0.106.0b1 for this recording (which has the same code as 0.105).

### ℹ️  Please note the recording below shows the int

[2020-02-22 15:49] #31607 closed

[2020-02-22 15:53] juanredondo opened #32089 "Lots of "Error executing query: (sqlite3.OperationalError) database is locked (Background on this error at: http://sqlalche.me/e/e3q8)""
**Home Assistant release with the issue:**
0.105.5

**Last working Home Assistant release (if known):**

**Operating environment (Hass.io/Docker/Windows/etc.):**
Hassio on docker over RPi3

**Component/platform:
Description of problem:**
Seeing a lot of "Error executing query: (sqlite3.OperationalError) database is locked (Background on this error at: http://sqlalche.me/e/e3q8)" since upgrading to

[2020-02-22 16:06] tsdaemon commented on #30215
No luck using broadlink CLI so far. But I was able to find a fair workaround for now:
1. Reset the remote.
2. Remove all devices from `ihc`, remove `ihc`.
3. Install the (eControl app)[https://play.google.com/store/apps/details?id=cn.com.broadlink.econtrol.international]
4. Use it only to authenticate the remote in my WiFi
5. From there, use (broadlink-mqtt)[https://github.com/eschava/broadlink-mq

[2020-02-22 16:09] frenck commented on #31021
Yes, that was a general comment. I did not state to work on any of this.
If you think you can contribute a positive change to our codebase, we definitely welcome that.

[2020-02-22 16:12] mcondren commented on #31253
Checking in on this as I just purchased one. Did you end up finding a workaround @michaelwoods ?

[2020-02-22 16:59] Kane610 commented on #30168
Great! Let's hope this carries over to the major release for all affected

[2020-02-22 17:31] URBANsUNITED commented on #32060
We can close this case!
Did a complete fresh install and the problem is gone. No idea why, but all works as it should.
Sorry!

[2020-02-22 17:31] #32060 closed

[2020-02-22 17:31] mrand commented on #31549
Everyone: Please don't respond with "me too" or "same here" unless you are adding notable new information.

[2020-02-22 17:39] BoneheadFraggle commented on #31666
Just follow my steps and it should work.

- Only add one account in configuration.yaml - step 1 / the docs.
- For the other accounts, only add integrations (never change configuration.yaml).
- I had to use Incognito mode in my browser AND close the browser between every new integration.

[2020-02-22 17:43] CanD42 commented on #31957
I think they introduced now v2 of their api and v1 stopped working, e.g.
`https://app.hydrawise.com/api/v1/customerdetails.php?api_key=...&type=controllers`
is returned an empty result.

[2020-02-22 18:30] edif30 commented on #31957
curl https://app.hydrawise.com/api/v1/statusschedule.php?api_key=???

For me still returns values.

[2020-02-22 18:34] springstan commented on #32089
Please fill out the issue template, you can find it by clicking on `New Issue` and then selecting `Report a bug with Home Assistant`. Copy and paste the provided template into this already created issue, click preview to take a look at the empty template and then fill out as much as you can. Any additional information can be helpful!

Thanks for understanding :)

[2020-02-22 18:40] jjlawren commented on #31964
After starting to reimplement this I'm second-guessing adding it back. I see it as a confusing option that will probably lead to more issue reports.

Every entity with a unique ID (like these) is already in the registry, so you're already using it today. Removing this option will not change existing entity IDs, but will give new standardized display names if you haven't set one yourself.

Once you

[2020-02-22 18:43] phlet commented on #31964
I'm confortable with that, and as you said earlier, the default name make sense now.

[2020-02-22 19:26] springstan commented on #32043
@devinjparsons I am not familar with this integration or its sensors, which unit of measurement are you expecting?