[2020-03-19 06:24] bf69 commented on #32944
stesso problema

[2020-03-19 06:29] balloob commented on #32370
Magic fixes! 🤟

I am not exactly sure what caused this (@bramkragten might know), but https://cast.home-assistant.io serves as both a website to launch Cast but also contains the actual website that shows the dashboard (receiver app in Cast-terms). Cast gets updated whenever we publish [a release](https://github.com/home-assistant/frontend/releases).

For people that are having trouble with cards

[2020-03-19 06:40] i00 commented on #32970
Posted in wrong section

[2020-03-19 06:40] #32970 closed

[2020-03-19 07:18] uphillbattle commented on #32930
Hi @tetienne Thank you for clearing that up - I had the feeling this was something on Somfy's end since updating the Somfy app triggers update of the API status.

I guess not, since you do not mention it, but I'll ask anyway: Since Somfy dev appear to be aware of the issue, have they indicated whether its something they'll look at anytime soon?

[2020-03-19 07:19] tetienne opened #32971 "Optmistic mode break somfy integration"
## The problem
The Somfy integration does not work anymore. The devices are no more loaded.

## Environment
- Home Assistant release with the issue: 0.107
- Last working Home Assistant release (if known): 0.106
- Operating environment (Hass.io/Docker/Windows/etc.): All
- Integration causing this issue: somfy
- Link to integration documentation on our website: https://www.home-assistant.io/integrat

[2020-03-19 07:20] tetienne commented on #32971
@ColinRobbins Can you please have a look?

[2020-03-19 07:25] javicalle commented on #32910
This value is not the key.
You need to enable LAN mode in your hub in order to get the key:
https://www.home-assistant.io/integrations/xiaomi_aqara/#connection-problem

Some hub model (like the DGNWG05LM) do not allow activate the LAN mode.
Some versions of Xiaomi Home app do not allow activate the LAN mode.

[2020-03-19 07:31] D3nnisd commented on #32944
You need to call it the same. It's the part with 1 letter and rest are numbers.

[2020-03-19 07:43] Jc2k commented on #32969
What make of door opener is it?

[2020-03-19 07:48] Fabenissimo commented on #32370
Hi balloob,

so basically we need to do this, right?

https://github.com/home-assistant/frontend/issues/4984#issuecomment-591077933

Also is this an issue that the custom card developer has to implement in their ressource  files or is this something the end user has to do in the long term?

[2020-03-19 08:07] zacpotts commented on #30180
Just to update the thread, I still have this issue with 107. Same fix applied with a modified z-wave component.

[2020-03-19 08:11] Tobu42 opened #32972 "fritzbox_callmonitor throws exceptions after a while"
## The problem

Homeassistant stops working after a few hours. In the first hours it works like a charm, but after ~4h the frontend is not reachable anymore and some automation/notification doesn't work anymore.
In the HA-logs I can't find any clues, but in the Docker logs I see a massive count of this exception:
`Exception in thread Thread-27998:,
Traceback (most recent call last):,
  File "/usr/

[2020-03-19 08:12] bastshoes opened #32973 "Issues with zones in package"
## The problem

Config fails if zones located in package.

## Environment

- Home Assistant release with the issue: 0.107.1
- Last working Home Assistant release (if known): 0.107.0
- Operating environment (Hass.io/Docker/Windows/etc.): Docker
- Integration causing this issue: zone
- Link to integration documentation on our website: https://www.home-assistant.io/integrations/zone/

## Problem-rele

[2020-03-19 08:14] starkillerOG commented on #30976
same issue in HomeAssistant 0.107.0

[2020-03-19 08:25] NateRobinsonS commented on #28541
I believe that the "report_state" setting keeps Google updated on the
status of your devices (lights, etc.) every time they change state.
Otherwise, Google has to ask HA which lights are on after receiving a voice
command, which causes a small delay in the response from Google.  I believe
most devices will function regardless of this setting, but the Google Home
App may lose track of which devices

[2020-03-19 08:26] ColinRobbins commented on #32971
On it.
I guess this is where the user is using the integration set up, so there are no entries at all in configuration.  Thus the config to set the default get bypassed.
Working on a fix...

[2020-03-19 08:34] uphillbattle commented on #28634
I have also noticed (HA version 0.106.6 now) that if the Telldus hub republishes config messages, the HA entities go from `unavailable` to the last "available" state and **do not expire**, so it's not only on reboot of HA, it's also on republishing of config messages.

[2020-03-19 08:41] YRRK commented on #32948
Hi, I’m sorry. I didn’t know what it meant. The HA is indeed not exposed to the internet. I would want to do that.
I don’t use webhooks, I think.

Anyway oké then it’s good! :)

Maybe suppress the warning in the log or post it on the integrations page to ignore it in meanwhile?
Have a nice day!

[2020-03-19 08:46] rolandb5 commented on #32801
True... think that Homey also just forces an unlock with verifying.
The webhook solution I'm referring to is my current emergency setup: Homey logic build and exposed by webhook; Home Assistant flow calls Homey Webhook to unlock.

[2020-03-19 08:46] uphillbattle commented on #28634
In fact, but that's a slightly different topic, I think the entities' states should not change at all on a `config` message. States should only change on `state` message.

[2020-03-19 08:56] uphillbattle opened #32975 "binary_sensor state with expire_after set becomes available on config message"
## The problem

## Environment

- Home Assistant release with the issue: 0.106.6
- Last working Home Assistant release (if known): None
- Operating environment (Hass.io/Docker/Windows/etc.): Docker
- Integration causing this issue: mqtt binary_sensor
- Link to integration documentation on our website: https://www.home-assistant.io/integrations/binary_sensor.mqtt/

## Problem-relevant `configuratio

[2020-03-19 08:58] schneekluth opened #32976 "Soundtouch Multi Room Audio state attributes cannot identify master correctly"
## The problem
New Multi Room feature is not working properly and the current master in a zone is not identified correctly. I have tested with the following zone setup:

Soundtouch 10 (Master)
|__ Soundtouch 10 (Slave) --> also wrongly shown as master
|__ Soundtouch 10 (Slave) --> correctly shown as slave
|__ Soundlink Adapter (Slave) --> also wrongly shown as master

Even though there is just one

[2020-03-19 09:01] Chuckame commented on #32762
@Quentame yes, horribly slow!! But yes, this is the first time I integrate linky. Which realm do you use on a web browser? I tested particular and professional enedis website, but only particular working.

[2020-03-19 09:05] domschl commented on #32961
Saw the same problem. Tried to update packages from PIP:
Simply installing homeassistant 0.107 from PIP doesn't fix this
By updating the dependencies of homeassistant from Arch package versions to the following from PIP, it works now fine:
[code]
So `aiohttp`, `astral` and `ruamel.yaml` got downgraded, `ciso8601` newly installed.

[2020-03-19 09:07] Quentame commented on #32762
I use particular.

Indeed I've tested on a particular account for the Linky integration, I don't think the `pylinky` lib is working with professional accounts.

[2020-03-19 09:14] Lyukvoice opened #32978 "Netatmo cameras status recording but no image - from 0.106.6"
**Home Assistant release with the issue:**
0.106.6 and 0.107.0

**Last working Home Assistant release (if known):**
0.104.3

**Operating environment (Hass.io/Docker/Windows/etc.):**
HASSIO.IO

arch | armv7l
-- | --
dev | false
docker | true
hassio | true
os_name | Linux
python_version | 3.7.6
timezone | Europe/Amsterdam
version | 0.106.6
virtualenv | false

arch | armv7l
-- | --
dev | false
docker

[2020-03-19 09:14] Quentame commented on #32762
Indeed

https://github.com/Pirionfr/pyLinky/blob/deebe1853b53732f20c899efe7dd9e4180afc862/pylinky/client.py#L14-L16

Please create an issue on the library side if your issue concerns a professional account.

[2020-03-19 09:19] saverioproscia commented on #32944
Hi,
I'm not able to integrate the ezviz cameras.
in my ezviz app the names are not beginning with a letter.
The names are composed by 9 digits.
What i can try?

[2020-03-19 09:23] sharkgreen commented on #32944
Hello, warm regards!
Ezviz integrations - it doesn't work for me.

My Setting in configuration.yaml:

---------------------------------------------------------------------------------------------------
Registration details (ERROR)

Logger: homeassistant.components.camera
Source: components/ezviz/camera.py:49
Integration: Cámara (documentation, issues)
First occurred: 2:55:10 (1 occurrences)
Last l

[2020-03-19 09:51] Jc2k commented on #26532
Don't try repairing, none of the changes should need that and especially if we had it working before it's probably going to be a small change to get it working. Might be best to spin up a new ticket though.

The timeout is added here:

[code]

So bump that 10 to 30 and see if that helps, and tell me either in a new ticket or on discord.

[2020-03-19 10:04] Tamas-Toth-ebola opened #32980 "ZHA - CRC error in frame b'1111556ea1ad87dc7e' (b'87dc' != b'fc23')"
## The problem

Dear All!

I'm using a Bitronvideo - USB Zigbee gateway, and while I'm a little bit new in Zigbee basically after some failed try I got it working without any problem. After upgraded to HA Core 0.105 or 0.106 (sadly do not remember exactly) I started to get the following error in the logs. I don't know anything about the error but as the integration seemed working I patiently waite

[2020-03-19 10:08] SeraphimSerapis commented on #32973
Same issue!

[2020-03-19 10:10] gigios opened #32981 "Ezviz integration: Missing all the services"
## The problem

I'm testing the **ezviz** integration with my camera.
After some initial configuration problems, now I'm able to see the live, by using the template shown in the [documentation](https://www.home-assistant.io/integrations/ezviz/), with all the buttons to manage my camera.

The problem is that each services defined in the 'template' are missing in my installation.
I have checked also

[2020-03-19 10:14] D3nnisd commented on #32981
I have the same thing. I was about to post a issue too.

When i try to use the Card provided in the docs , i get this errors:

`Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/aiohttp/web_protocol.py", line 418, in start
    resp = await task
  File "/usr/local/lib/python3.7/site-packages/aiohttp/web_app.py", line 458, in _handle
    resp = await handler(request)

[2020-03-19 10:16] MikelillOi commented on #25705
Same problem here...

[2020-03-19 10:17] D3nnisd commented on #32944
@sharkgreen  You should put this:

username: my username of ezviz **APP login**
password: my password of ezviz ** APP Password**
cameras:
  DXXXXXXXX: #DEVICE SERIAL
    username: my username of ezviz /  my username of device #the same error occurs with both **admin**
    password: my username of ezviz /  my username of device #the same error occurs with both **password that is on the sticker on t

[2020-03-19 10:35] YRRK commented on #31884
Since where now in HomeAssistant update 107. The integration is updated and so the code is different and so probably the above is faults are not accurate anymore. Shall we close this issue?

[2020-03-19 10:35] #31884 closed

[2020-03-19 10:39] McGiverGim opened #32983 "UPNP integration not working since 0.107"
## The problem

The UPnP integration is not working. It does not open ports or retrieves the statistics of the router.

## Environment

- Home Assistant release with the issue: 0.107.0
- Last working Home Assistant release (if known): 0.106.5
- Operating environment (Hass.io/Docker/Windows/etc.): Hass.io
- Integration causing this issue: UPnP
- Link to integration documentation on our website: htt

[2020-03-19 10:39] sharkgreen commented on #32944
Yes, I am using the same data from the app. I don't understand why the error occurs.

[2020-03-19 10:41] voydz commented on #32973
Same issue here. Possibly related to issue #32943 which should be fixed by #32963 ?

[2020-03-19 10:43] MartinHjelmare commented on #32952
It would be best if the changes come in a separate mininal PR that we could release in a patch release. We don't release new features like config flow in patch releases.

How much changes would it take to resolve the issue?

[2020-03-19 10:47] sblantipodi commented on #32960
if it's a problem of mine, please close the issue.
I can't explain why I have this issue.

[2020-03-19 10:51] ohipe commented on #32944
@D3nnisd my configuration is exactly as yours but not working:

Traceback (most recent call last):
  File "/srv/homeassistant/lib/python3.7/site-packages/homeassistant/helpers/entity_platform.py", line 179, in _async_setup_platform
    await asyncio.wait_for(asyncio.shield(task), SLOW_SETUP_MAX_WAIT)
  File "/usr/local/lib/python3.7/asyncio/tasks.py", line 416, in wait_for
    return fut.result()

[2020-03-19 10:51] bastshoes commented on #32973
Issue appears on 0.107.1 which includes #32963.

[2020-03-19 10:53] D3nnisd commented on #32944
@sharkgreen What code are you using ? the serial?

@ohipe Thats what i get.You don't have the services either. That issue is : https://github.com/home-assistant/core/issues/32981

[2020-03-19 10:53] voydz commented on #32973
@bastshoes Yeah, you are totally right. ;) I put it a bit confusing. Just wanted to point in that direction.

[2020-03-19 10:56] damiano75 commented on #32944
Same problem with Home Assistant 0.107.1 and Hass.io, HassOS 3.12.
I tried also without any camera defined (from the documentation it seems "cameras" is optional), but same problem:

[code]

[2020-03-19 10:57] shortbloke commented on #31504
@escoand Tried 0.106 which I believe has the update.
I still can't add it. All I want is to know if it's on or not. Which seems to have been lost in these series of updates. Are we not going to get this capability back?
[code]

[2020-03-19 11:00] sharkgreen commented on #32944
the device serial, the same one I used to add the device to the app D3######6

[2020-03-19 11:02] bf69 commented on #32944
in my cam the serial is made only of numbers do I have to add "D" ??

[2020-03-19 11:08] sharkgreen commented on #32944
the device serial, the same one I used to add the device to the app D3######6

camera:

platform: ezviz
username: myemail@gmail.com (my user app ezviz)
password: mypassword_ezviz_
D3######6: (device serial)
username: admin (user device)
password: ab123456 (password device)

[2020-03-19 11:12] garyak commented on #32969
I'm getting these errors also. I'm using HomeKit Controller to control two Lennox S30 thermostats.
[code]
This error is new for 107.0 and remains on 107.1

[2020-03-19 11:14] azogue opened #32984 "AttributeError on automations listening state changes when entities are disabled"
## The problem

When an `entity_id` used as state trigger in some active automation is disabled, state listener receives a `None` new state (which is expected).

Problem is that `call_action()` is accessing `to_s.context`, raising `AttributeError`.

## Environment

- Home Assistant release with the issue: dev
- Last working Home Assistant release (if known):
- Operating environment (Hass.io/Docker

[2020-03-19 11:17] NeilDuToit92 commented on #32370
@balloob , @bramkragten , does the cast site (receiver app) have to live on a Nabu Casa controller environment, or is there a way to host it locally? Thinking in terms of if a certain version is working for an individual, there would be no need to update and introduce potentially breaking changes.

The cast service seems very unstable from an end user perspective, it stops and starts working at ra

[2020-03-19 11:18] damiano75 commented on #32944
Using my email as username give me:
[code]

[2020-03-19 11:21] sharkgreen commented on #32944
it happens the same to me

[2020-03-19 11:21] peternijssen commented on #32942
Just wanted to add the same issue in my case with model UE32M5620.

[code]

[2020-03-19 11:23] sharkgreen commented on #32944
this integration uses the SNMP protocol??

[2020-03-19 11:25] bramkragten commented on #32370
You could host your own version if you register as a developer at Google <https://developers.google.com/cast/docs/developers>.

I wasn't aware of this issue, please in the future open it on the frontend.

You can track releases by tracking the release of the frontend, as Cast gets deployed on a frontend release.

[2020-03-19 11:34] sblantipodi opened #32986 "Unable to find service input_number/turn_off"
## The problem
When I try to turn off my lights I get a notification error:
"Failed to call the service homeassistant/turn_off . Unable to find service input_number/turn_off"

but the lights turns on and off correctly.

## Environment
- Home Assistant release with the issue: 0.107.1
- Last working Home Assistant release (if known): 0.106.6
- Operating environment (Hass.io/Docker/Windows/etc.): Has

[2020-03-19 11:42] bcmitri commented on #32350
This is still an issue for me in 0.107.  As before, it worked fine when Home Assistant first came up after updating to 0.107, but continues to fail on subsequent restarts.

[2020-03-19 11:43] D3nnisd commented on #32944
@damiano75 The second error has correct login info. That error is becasue of some other bug. check https://github.com/home-assistant/core/issues/32981

[2020-03-19 11:47] damiano75 commented on #32944
Yes, I know, it was just to add some information regarding wich cerdentials I used

[2020-03-19 11:50] Chuckame commented on #32762
Non no I'm using particular account, just tested for your information 🙂

I'm a Java dev, not py... How to test pylink alone, without home assistant?

[2020-03-19 11:51] azogue commented on #32986
It looks like there is some `input_number.xxxx` entity in the `group` you're trying to turn_off.

The service call is trying to call 'turn_off' for all entities it has to call. For lights, it has no problem, as 'light.turn_off' is a valid service, but when it reaches the input number, it fails.

Check what entities are being turn_off when you do the call.

[2020-03-19 11:52] matthijsberg opened #32987 "MQTT Template not working after upgrade to 0.107.1"
## The problem

After the upgrade to 0.107.1 my MQTT based sensors that use a template are not working anymore (unavailable in GUI). For example my temperature sensor gets temperature from JSON as per below.

## Environment

- Home Assistant release with the issue:
Using latest 0.107.1 on docker.io on intel. MQTT messages are send from external device and are formatted;

topic: ```unipi/buiten/voo

[2020-03-19 12:01] svaneepoel opened #32988 "Axis stream not working anymore"
## The problem
Since the update to 0.107.1, my Axis camera streams doesn't work anymore.
In the log I see the following:

Logger: libav.rtsp
Source: components/stream/worker.py:49
First occurred: 12:56:51 (3 occurrences)
Last logged: 12:56:51

method DESCRIBE failed: 401 Unauthorized

With the last release of 0.106 it was working fine. No configuration changes have been made.

## Environment

- Ho

[2020-03-19 12:12] curt7000 opened #32989 "Sighthound Component Missing in 0.107"
## The problem
Sighthound component is missing from 0.107.0 & 107.1, receiving error;

components/sighthound/image_processing.py (ERROR)

## Environment
Ubuntu 18.04LTS VENV, Python 3.8, HA Core 107.1

- Home Assistant release with the issue: 107.1
- Last working Home Assistant release (if known): 106.6
- Operating environment (Hass.io/Docker/Windows/etc.): VENV
- Integration causing this issue: S

[2020-03-19 12:15] 2sheds commented on #32942
UE55MU6199
Same debug output. Modifying [bridge.py](https://github.com/tulindo/home-assistant/blob/cc25f2cf0f004e53598844bdecb9a7891df79041/homeassistant/components/samsungtv/bridge.py#L196) to change the order of ports for websocket connection to first try 8002, then 8001 solves it.
My guess is samsungtvws library tries an SSL connection on 8001 port by default and this throws WebsocketError beca

[2020-03-19 12:29] Jc2k commented on #32969
Sorry for the regression everyone. This is because of a switch to a purely async homekit library. It enables push state changes and to avoid the synch thread pool in home assistant. It has been working well for everyone who tested the beta, so sad that your devices work differently enough for it to fail. I'd like to get this sorted quickly and take steps to stop it happening again. With your help

[2020-03-19 12:37] twsI commented on #31504
Doesn't work for me eigher.
Here is my api data:
[code]

[2020-03-19 12:42] ronytomen commented on #32973
Having the same issue in 0.107.1, unable to merge dictionary in for `zone` when defined in package.

[2020-03-19 12:47] domschl commented on #32961
Arch bug tracker: https://bugs.archlinux.org/task/65892

[2020-03-19 12:48] makoven opened #32990 "Can't install version 0.107 without GNU compiler?"
## The problem

When installing the latest version, an error appears associated with ciso8601 and the installation stops. Errors:

## Environment

Runs on ubuntu 19.10 using commands:

python3 -m venv hass
source hass/bin/activate
pip install wheel # optional
pip install homeassistant

## Problem-relevant `configuration.yaml`

[code]

## Traceback/Error logs

[code]

## Additional information

[2020-03-19 12:50] ronytomen commented on #32636
Your configuration for the Zwave event in the automation is not ideal.

Try something like the following:

[code]

These work really well for me, `basic_level: 255` is double tap on and `basic_level: 0` is double tap off.

Hope you get it working, been using double tap automation for a year now.  Easy way to add functionality to the house that isn't apparent, but usually helpful.

[2020-03-19 13:02] garyak commented on #32969
I'm willing to give it a shot. NUC/Ubuntu/Docker CE/Portainer. I saved your revised response.py in the /config directory using samba. I have a terminal window open as root in Portainer. Just need instruction on how to save the original and move the new file into place.

[2020-03-19 13:02] escoand commented on #32942
@tulindo I would say this return is wrong https://github.com/home-assistant/core/blob/445ef861c0dd36cbb8b85afc0bd7d47ed982ea96/homeassistant/components/samsungtv/bridge.py#L226

[2020-03-19 13:04] BloodyusHellus opened #32991 "Update 1.107.0 broke phone device tracker (android HA companion app)"
## The problem
Update 0.107.0 killed phone device tracker created by HA companion app on android phone. Both my wife and I have Samsung Galaxy S9 with app, no previous problems using device tracker on gps basis. Since update 0.107.0 status keeps stuck at "not_home" even when home.

## Environment
Home Assistant (Hass.io) 0.107.0
Worked fine up until 0.106.x

## Problem-relevant `configuration.yaml

[2020-03-19 13:05] aptonline opened #32992 "Multiple copies of Home Assistant running on docker image since 0.107.0"
## The problem
HomeKit integration not starting.

## Environment

- Home Assistant release with the issue:  0.107.0
- Last working Home Assistant release (if known): 0.106.6
- Operating environment (Hass.io/Docker/Windows/etc.):  docker (synology)
- Integration causing this issue: HomeKit
- Link to integration documentation on our website:

## Problem-relevant `configuration.yaml`

[code]

## Trac

[2020-03-19 13:10] bachya commented on #32956
Are you seeing this error consistently since upgrading to 0.107.0?

[2020-03-19 13:12] #28151 closed

[2020-03-19 13:12] #29382 closed

[2020-03-19 13:13] frenck commented on #32991
This issue has been fixed in Home Assistant Core 0.107.1.
Please upgrade to solve your issue.

[2020-03-19 13:13] #32991 closed

[2020-03-19 13:16] frenck commented on #32990
It can happen that a Python package (and dependency of Home Assistant), doesn't provide pre-build wheels for all systems. In that case, indeed compilers and header/development packages are needed.

[2020-03-19 13:17] maxi1134 commented on #32370
So, everything was working for a couple of hours (about 12)(Custom components too).
And now a regular component (hui-picture-glance-card) stopped working.

Is the Glance card working for anyone?

[2020-03-19 13:18] makoven commented on #32990
@frenck it's very very sad

[2020-03-19 13:18] frenck commented on #32961
Ok, I'm going to close the issue on our end. The Arch Linux package is not provided or maintained by us, and therefore not supported.

[2020-03-19 13:18] #32961 closed

[2020-03-19 13:22] Jc2k commented on #32969
@garyak it looks like you are on discord - might be a bit chatty so shall we continue there? I am Jc2k#6068 there.

[2020-03-19 13:25] Jc2k commented on #32992
The bit that stands out is:

[code]

0.107.0 can't use the port it wants to because something else is. Most likely cause is a stale HA process that hasn't let go of the socket yet. Do you know what port it is trying to use?

[2020-03-19 13:26] M4TH1EU commented on #26779
Having the same issue too....
Please someone help.

[2020-03-19 13:28] frenck commented on #32986
Yep, you probably have a input_number in that group, which doesn't support that service call. Previously, we silently ignored those cases. Now, we warn for these things.

The reasoning is that before if a call failed, we didn't report anything. Thus it became hard for people to debug/find issue's in their service calls.

[2020-03-19 13:31] domschl commented on #32961
Arch package is fixed with new update 0.170.1, so all ok. Tx.

[2020-03-19 13:32] arsaboo commented on #32960
That is so weird. I have it like the first one and it is working for me. YAML is known to be picky about formatting, so this could be an example of that. Well, at least it is working and not an HA bug  :)

I will close this issue for now.

[2020-03-19 13:32] #32960 closed

[2020-03-19 13:32] Quentame commented on #32762
Not using particular account means using a professional one 😝

The Linky integration only works with particular account.

[2020-03-19 13:36] frenck commented on #32370
@maxi1134 This issue is about the Home Assistant cast feature, your question is about custom components, hui-* and the Glance card. Let's please keep things on the topic in an issue.

👍

[2020-03-19 13:38] maxi1134 commented on #32370
@frenck I am using the Picture Glance component from Home-Assistant, How is that a custom component?

( I use "type: picture-glance" )

[2020-03-19 13:39] Quentame commented on #32762
I’m also a Java « base » developer, welcome to Python !

The pyLinky README is very well explained to use it standalone :
https://github.com/Pirionfr/pyLinky/blob/master/README.rst

Don’t hesitate if you have problems.

[2020-03-19 13:46] aptonline commented on #32992
I’m afraid I don’t, is it worth manual specifying another port in then HomeKit config for now.

[2020-03-19 13:49] makoven commented on #32990
[In this issue](https://github.com/home-assistant/core/pull/32128) is written " just in case I left old code as a fallback option. I checked that it was never called on my setup. So it can be removed safely". But how to use the old code if the system still cannot be installed without a ciso8601..

[2020-03-19 13:50] geekofweek commented on #32969
@Jc2k It's an [Insignia NS-CH1XGO8](https://www.insigniaproducts.com/pdp/NS-CH1XGO8/5933701).  Works pretty well with HA HomeKit being all local, I'm actually replacing it soon with a ESPHome setup.

Willing to try out the modified `response.py` file, will just need to find some time today.

[2020-03-19 13:52] bf69 commented on #32944
changing any data after cameras: I always get the same error:

Logger: homeassistant.components.camera
Source: components/ezviz/camera.py:50
Integration: Telecamera (documentation, issues)
First occurred: 14:46:12 (1 occurrences)
Last logged: 14:46:12

Error while setting up ezviz platform for camera
Traceback (most recent call last):
  File "/srv/homeassistant/lib/python3.7/site-packages/homeassi

[2020-03-19 13:53] makoven commented on #32990
[This issue](https://github.com/closeio/ciso8601/issues/88)  says that the ciso8601 cannot be installed without python3-dev. 85 megabytes of excess garbage out of the blue

[2020-03-19 14:01] rytilahti commented on #31268
Anyone mind testing https://github.com/home-assistant/core/pull/32850 to make sure the special case handling is working for you now? I can then proceed to get this fixed :-)

[2020-03-19 14:08] sblantipodi commented on #32986
thanks for the answer guys and sorry for reporting wrong problems

[2020-03-19 14:08] #32986 closed

[2020-03-19 14:10] cgtobi commented on #32978
Not exactly sure what you mean by "nabu casa profile" but if you choose "HA Cloud" instead of "configuration.yaml" in the integration config dialogue cameras are currently not supported.

[2020-03-19 14:12] cgtobi commented on #31884
Binary sensors have been removed in favour of webhooks anyway.

[2020-03-19 14:19] Adminiuga commented on #32980
per UART-EZSP protocol reference the CRC is calculated as per

mode)

per https://crccalc.com/ the CRC16 for `1111556ea1ad` is `0xFC23` which is different from the frame supplied CRC of `0x87dc` so it does look like `bellows` calculates the CRC correctly and application behaves as designed by rejecting the frames with wrong CRC.

I have no ideas why Bitron throws bad crc frames occasianally. but j

[2020-03-19 14:20] geekofweek commented on #32969
What specifically are you looking for in testing the response.py file?  Just catching the error log output or if it resolves it?

[2020-03-19 14:20] YRRK commented on #31884
Yeah too bad the sensors are gone :( I used them to bypass the terrible Netatmo app who’s incapable of not-sending messages when you’re at home. I routet the human-movement sensors of Netatmo via HomeAssistant to HomeKit so HomeKit could message me when I’m actually not at home due it’s presence detection. :)

[2020-03-19 14:24] cgtobi commented on #31884
The same can be done with the webhook based events with the additional benefit of being much quicker.

[2020-03-19 14:30] Adminiuga commented on #32990
To compile python module it is natural to require python-dev package installed, as it contains headers required for compilation.

[2020-03-19 14:31] frenck commented on #32990
@makoven I'm not sure why it is "very very sad" it is how the Python ecosystem works. If you like to work with pre-compiled things out of the box, I highly suggest looking at the Docker or Home Assistant (using our Operating System or Supervised) options.

[2020-03-19 14:36] Ernst79 commented on #32955
I can confirm your first error, although in my case, requests 2.23.0 was installed instead of 2.22.0 in your case. Requests was installed during upgrading to 107.1 (from 106.6).

`
ERROR: locationsharinglib 4.1.0 has requirement requests~=2.21.0, but you'll have requests 2.23.0 which is incompatible.
`

I have no errors after starting Hass, it's running fine.

[2020-03-19 14:41] foreign-sub commented on #32992
Hi,
try:
`lsof -i :51827`
this will tell you who's using the port.

[2020-03-19 14:44] mansig88 commented on #24313
HI @simfun where did you buy??

[2020-03-19 14:46] RogerSelwyn opened #32996 "Asuswrt integration fails to get data transfer info after upgrade to 0.107.0"
## The problem

After upgrade to 0.107.0 I get errors in my logs showing a failure getting the information for 4 data transfer sensors.

## Environment

- Home Assistant release with the issue: 0.107.0 & 0.107.1
- Last working Home Assistant release (if known): 0.106.x
- Operating environment (Hass.io/Docker/Windows/etc.):  Has.io/Docker/Ubuntu
- Integration causing this issue: Asuswrt
- Link to i

[2020-03-19 14:48] Jc2k commented on #32969
@geekofweek it adds extra logging so that i can see the state of a parser state machine as bytes arrive on the network. if its the same as @garyak we were seeing some HTTP auth errors. There are 2 files to test:

 * https://gist.github.com/Jc2k/c89e30fdc112b2329b12609bff8a9e07/f996483fa184787c47e277e48ad5b72c08177f45 - this will let us verify if you are seeing the 470 error as well. please start w

[2020-03-19 14:48] leolion84 commented on #32940
i got the same problem, It worked w/o problem yesterday. My log:

2020-03-19 21:47:29 ERROR (MainThread) [homeassistant.helpers.entity] Update for sensor.asuswrt_download fails
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity.py", line 279, in async_update_ha_state
    await self.async_device_update()
  File "/usr/src/homeassistant/homeassistant/helper

[2020-03-19 15:01] makoven commented on #32990
@frenck For 6 years, the project has been successfully installed on almost any system. And now one small library adds several levels of complexity and incompatibility for everyone who does not use docker. I think it's sad

[2020-03-19 15:03] geekofweek commented on #32969
First test, I seem to get a 404 and not noticing a 407:

[code]
Second test, still seems to be a 404 error:

[code]

[2020-03-19 15:06] frenck commented on #32990
Sorry to hear you feel that way, however, the reality is that this can happen to almost any dependency we use at any given time.

[2020-03-19 15:07] makoven commented on #32990
@Adminiuga In my humble opinion, compilation is something that should happen somewhere not on the production system. If the library does not provide binary bundles for the main platforms through the package manager, then this library is not mature enough to use. Just an opinion. Good luck to the project

[2020-03-19 15:08] frenck commented on #32996
Duplicate of #32940

[2020-03-19 15:08] #32996 closed

[2020-03-19 15:12] RogerSelwyn commented on #32940
Sorry for raising duplicate. When I overrode with v1.2.3 I got the same error as @Knapoc

[2020-03-19 15:12] #13146 closed

[2020-03-19 15:17] andrearomanoif commented on #32944
I have same problem:

Error while setting up ezviz platform for camera
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py", line 179, in _async_setup_platform
    await asyncio.wait_for(asyncio.shield(task), SLOW_SETUP_MAX_WAIT)
  File "/usr/local/lib/python3.7/asyncio/tasks.py", line 442, in wait_for
    return fut.result()
  File "/usr/loca

[2020-03-19 15:18] austinmroczek commented on #32952
I'll need to look at it more closely after work tonight, but the `diff` is fairly small so a minimal PR should work.

[code]

[2020-03-19 15:20] tulindo commented on #32942
@escoand. You're probably right. I would skip return if port is 8001 (so it will try on 8002). I will maintain it for port 8002.
No time to fix it in those days. CN you handle it?

[2020-03-19 15:20] Jc2k commented on #32969
Eep. First error is weird. It shouldn't return 404's, its not like its a RESTful API and the endpoints vary and we could screw that up. The endpoints are all static. It's like the device isn't ready yet or we somehow ended up talking to the wrong port or even wrong device.

First of all, switch to the second version of the file if you haven't already. Secondly the gist now includes a connection.py

[2020-03-19 15:22] frenck commented on #32990
Wow.

[2020-03-19 15:22] #32990 closed

[2020-03-19 15:24] putteg commented on #32988
I found the same thing in 107.1
It add a ' in the end of username:

`home-assistant.log:2020-03-19 15:22:43 INFO (MainThread) [homeassistant.components.stream] Started stream: rtsp://root´:password@192.168.1.208/axis-media/media.amp?videocodec=h264
`

[2020-03-19 15:33] timstans opened #32999 "Yeelight integration is broken"
home assistant wont start anymore last message in the log is:

2020-03-19 16:32:30 INFO (MainThread) [homeassistant.components.light] Setting up light.yeelight
2020-03-19 16:32:30 INFO (MainThread) [homeassistant.components.binary_sensor] Setting up binary_sensor.yeelight

[2020-03-19 15:34] mkArtak commented on #31504
In 0.107 this fix was listed under 'beta fixed' section. Does that means that I need to enable some kind of 'beta mode'?

[2020-03-19 15:36] geekofweek commented on #32969
Tested, the device it is attempting to connect is correct.  I validated the IP address is correct.

[code]

It appears to try again but still fails:

[code]

[2020-03-19 15:40] mkoninkx commented on #32973
I can confirm that moving the config to the configuration.yaml fixes the issue.

[2020-03-19 15:41] jjlawren commented on #29526
Still happening in 0.107.1. Opened an issue report on the dependency: https://github.com/ikalchev/HAP-python/issues/230.

[2020-03-19 15:43] frenck commented on #32999
Please use the provided issue template when creating an issue. Without it, we cannot help you.

Thanks for understanding 👍

[2020-03-19 15:45] Jc2k commented on #32969
Can you change that line 72 in connection.py and bump it from 10 to 30?

E.g

[code]

[2020-03-19 15:48] timstans opened #33000 "Yeelight intergration preventing homeassistant from starting"
## The problem
When starting homeassistant the latest entry in the log is:

[code]

it prevents home assistant from starting
when removing this lines from config:

## Environment

i was running 1.106.6 and just know i updated to 1.107.1
and the problems is still there.

- Home Assistant release with the issue:
  1.106.6
- Last working Home Assistant release (if known):
  it worked yesterday
- Oper

[2020-03-19 15:49] timstans commented on #32999
just opened a new issue

[2020-03-19 15:50] #32999 closed

[2020-03-19 15:52] pinkywafer commented on #32973
using packages: a single zone defined as:
[code]
works fine on it's own.  If any other zones are defined it doesn't work
[code]
doesn't work at all in package

[2020-03-19 15:58] mikesalz commented on #32422
I don't know what is going on here.  My HomeKit config has worked for over a year.  I even tried dumbing it down to this and it still fails.

[code]

[2020-03-19 16:00] Kugelfang666 commented on #32651
I did not run into this problem for some days now... if there are no objections I will close it in 2 days

[2020-03-19 16:00] Jc2k commented on #32422
Can you raise a seperate ticket, its nothing to do with homekit_controller. They are completely seperate code bases. I'll still see what I can do if you @ me.

[2020-03-19 16:03] escoand commented on #31504
Please look at #32942.

[2020-03-19 16:06] Jc2k commented on #32969
Actually, try with this https://gist.githubusercontent.com/Jc2k/c89e30fdc112b2329b12609bff8a9e07/raw/8c40335b6726d0a66a4e117887bedc272bc353d3/connection.py - realised the previous copy was from an old checkout.

[2020-03-19 16:06] mikesalz commented on #32422
Will do.  Thanks!

[2020-03-19 16:08] eugr commented on #26532
@Jc2k - thanks, pinged you on Discord

[2020-03-19 16:15] Mariusthvdb commented on #32651
well, since your issue is about connecting from outside your network, and that works for you, you could close. But, I am still seeing this 'Remote control is being prepared.....etc'.

I can connect through duckdns though as that is my external access to the HA instance.
So these are in fact 2 different cases?

[2020-03-19 16:19] StevenLooman commented on #32983
@McGiverGim Most of the tracebacks is due to your router not responding. Are you having any other networking issues, or have you restarted your router?

I'll look into the other errors.

[2020-03-19 16:29] #32877 closed

[2020-03-19 16:53] ssilence5 opened #33003 "SimpliSafe Websocket Issues"
## The problem

@bachya, After updating to 0.107 my websocket push updates stop working after a while. They appear to start working again on a reboot of my  PI or of Home-assistant, and then after some time stop working again. I can still command from Home-assistant for disarming and arming the system. However, if I control the alarm from the keypad, the status doesn't get updated in Home-assistan

[2020-03-19 16:58] Sudo-Rob commented on #32811
I've updated to 0.107.  Unfortunately, the errors persist.

[asyncio] socket.send() exceptions appear to be unrelated.

[2020-03-19 16:58] Kane610 commented on #32988
Thanks for reporting. The Issue was an unfortunate character added to the stream url. Fixed, hoping to get it in with 0.107.2.

[2020-03-19 17:00] svaneepoel commented on #32988
Whoa, thank you so much for the very fast support (and the great work)!

[2020-03-19 17:02] bramschats commented on #28541
Ah, that sounds plausible. Nevertheless enabling it results in many 404 errors and not able to solve the problem!

Also followed this guide:

[2020-03-19 17:03] McGiverGim commented on #32983
Hi! No, my router is working perfectly, I have restarted it, and Home assistant several times without luck. The problem just happens since the update, yesterday at 23:00h:

![image](https://user-images.githubusercontent.com/2673520/77093899-f7097c80-6a0b-11ea-94ae-c9e3e187eb2d.png)

[2020-03-19 17:04] robmarkcole commented on #32989
Hmm should `Pillow` be in `manifest.json`?

[2020-03-19 17:05] Kane610 commented on #32988
Well it helps having colleagues polling you in the side 🤪

[2020-03-19 17:11] geekofweek commented on #32969
Same issue, 404 then timeout while trying to connect:

[code]
[code]

[2020-03-19 17:17] Jc2k commented on #32969
Can you try the latest connection.py from [here](https://gist.githubusercontent.com/Jc2k/c89e30fdc112b2329b12609bff8a9e07/raw/baf47eba43bb072b7f28ac6ed07056ee92e1bef0/connection.py). This fixed it for another garage door user.

[2020-03-19 17:22] bachya commented on #33003
This looks like a case of `aiohttp` forcefully closing the websocket connection (open issue: https://github.com/aio-libs/aiohttp/issues/1768). I can't address this directly, unfortunately. I'll take a look at some sort of watchdog in `python-simplisafe` (i.e.,  if no data comes down the websocket in an X-minute time period, forcefully reconnect).

[2020-03-19 17:25] geekofweek commented on #32969
Different issue, it can't connect or find the device at all:

`2020-03-19 12:24:52 WARNING (MainThread) [homeassistant.helpers.service] Unable to find referenced entities cover.garage_door`

[2020-03-19 17:26] ssilence5 commented on #33003
Are you seeing anything similar in your setup? I was rock solid on 0.106.X, but after updating to 0.107 I am seeing this on a regular basis.

[2020-03-19 17:27] cobirnm opened #33005 "Version 0.107.1 stops working after 30 minutes"
## The problem

After updating to 0.107.1 Home Assistant stops working after 20 minutes. I have no related errors in the log, at least other than the normal ones.

## Environment

Raspberry pi 3b+ docker installation

- Home Assistant release with the issue: 0.107.1
- Last working Home Assistant release (if known): 0.106.5
- Operating environment (Hass.io/Docker/Windows/etc.): Docker
- Integration

[2020-03-19 17:28] Jc2k commented on #32969
Sorry, fat finger try [this](https://gist.githubusercontent.com/Jc2k/c89e30fdc112b2329b12609bff8a9e07/raw/bee6b2950da45087addc7a8ffec5e3e1799e0a48/connection.py).

[2020-03-19 17:32] eugr commented on #32969
@geekofweek - I have the same garage door opener (Insignia) and we just found out the reason. Works great now. The latest gist from @Jc2k should solve this for you.

[2020-03-19 17:34] donkawechico commented on #32955
Thanks for the confirmation! I'm also seeing 2.23 now with 0.107.1

Also, after doing the ol' configuration "comment-out-stuff-till-it-works" method, I've discovered that it's my **roomba**  integration causing the crash.

I'll open a separate issue.

[2020-03-19 17:39] geekofweek commented on #32969
@Jc2k that version seems to have done the trick

[2020-03-19 17:39] Mumie-hub commented on #32987
MQTT is not working for me too. It is reconnecting every 2 seconds. Hammering the stdout with successful reconnected MQTT. @matthijsberg maybe its the same Problem. You could take a look into the logs/stdout.
Best Regards

[2020-03-19 17:44] geekofweek commented on #32969
@eugr you ever have issues with yours?  Mine works great until the door sensor decides the battery doesn't have enough juice every few months.  Friend of mine used an [ESPHome setup](https://github.com/mcaminiti/esphome-garage-door) I'm going to try out.  No battery on the door sensor.  It gets cold in the midwest and those batteries tend to fail then.  I'd say it's 98% reliable, that last 2% I wa

[2020-03-19 17:44] LeoCal opened #33006 "Samsung TV component not working and logging traceback"
## The problem
Samsung TV component update that came in home assistant v0.107.1 is not working and is logging tracebacks.

## Environment
Home Assistant 0.107.1

- Home Assistant release with the issue: 0.107.1
- Last working Home Assistant release (if known):
- Operating environment (Hass.io/Docker/Windows/etc.): Manual installation in virtualenv
- Integration causing this issue: samsungtv
- Link

[2020-03-19 17:45] bachya commented on #33003
I saw it once after a SimpliSafe cloud `502` forced the websocket to close; after a HASS restart several hour ago, I haven't seen it since.

[2020-03-19 17:56] eugr commented on #32969
@geekofweek - none so far, but I bought it in late October, so the battery is still going strong. I'm in SoCal though so it doesn't get that cold here :) I also have MyQ as a backup, but I don't like it, it's not as reliable and requires a cloud connection. My only gripe with Insignia when using via HA was the delay in the status updates, but thanks to Jc2k it's a thing of the past now :)

[2020-03-19 18:07] geekofweek commented on #32969
@eugr I also came off the MyQ, it was great until it just decided it had enough that day.  So this is my second attempt.  I've had the Insignia probably about year, only gripe is the door sensor battery which wouldn't be as bad of a problem without the severe cold.  Just curious since I haven't talked to anyone else that has the same device.

[2020-03-19 18:13] mikesalz commented on #32422
Hey @Jc2k !  I am pretty sure I am not smoking crack.  However, the homekit component is now working.  Maybe it was because I upgraded to 0.107.1? Although I don't think I saw anything about it in the release notes.  Regardless, it is working now and I am happy.  And on top of that, your homekit_controller updates totally fixed my issues!  I was able to add the Koogeek powerstrip and the iDevices

[2020-03-19 18:18] paparapapapapa opened #33007 "107.1 "PTZ actions are not supported on camera""
## The problem

After updating to 0.107.1 I cannot zoom anymore with Reolink RLC-511. The script below runs till the end, just it doesn't zoom in or out.

## Environment

- Home Assistant release with the issue: 0.107.1
- Last working Home Assistant release (if known): 0.106.5
- Operating environment (Hass.io/Docker/Windows/etc.): Docker on Ubuntu powered Nuc. Camera is Reolink RLC-511
- Integrati

[2020-03-19 18:21] Chaotic commented on #32973
Seeing the same issue here.  Haven't had a chance to try any fixes however.

[2020-03-19 18:22] eugr commented on #32969
@geekofweek - it's seriously underrated. I got it on sale for $35 and it's great little device. I also like that it just plugs into the ceiling outlet and stays there, no drilling required. The beeps are also better than MyQ - that one keeps beeping for some time after the door is closed already which also was driving me crazy.

One option to battle the battery issue would be to wire it to externa

[2020-03-19 18:23] ssilence5 commented on #32973
I am seeing the same issues on my side. I had to implement the change from @pinkywafer to get just one zone to show up (my primary).

[2020-03-19 18:30] simfun commented on #24313
The cable is a Blitzwolf braided USB-A to micro-USB:
https://www.banggood.com/BlitzWolf-2_1A-Reversible-Braided-Micro-USB-Cable-Double-Sided-USB-A-Male-to-Double-Sided-Micro-1m-p-1059938.html

The power supply (which is actually a quick charger 5V 3A) is this one in photo:
![IMG_20200319_195718](https://user-images.githubusercontent.com/9369024/77101479-098db100-6a20-11ea-8fe8-0ee1065069e5.jpg)

I

[2020-03-19 18:30] AmirHosseinKarimi opened #33009 "Can not use Data Template in Service Call for Google Translate TTS"
## The problem
I use template to call Google Translate Text To Speech but it just read the full text without care about template, I test the template for Persistent Notification Create service and process template as well, Template is:
[code]

## Environment

arch | x86_64
-- | --
dev | false
docker | false
hassio | false
os_name | Linux
python_version | 3.7.3
timezone | Asia/Tehran
version | 0.10

[2020-03-19 18:32] balloob commented on #32370
Going to close this issue as the original issue has been resolved. For any other Cast related issues, please open an issue in the frontend repository.

[2020-03-19 18:32] #32370 closed

[2020-03-19 18:39] Adminiuga commented on #33005
Try running HA without any custom component.

Timer setup takes more than 10s? There's nothing in the timer component that should take that long.  Either something is blocking the loop or sd card problem?

Can you rollback?

[2020-03-19 18:45] pgenera commented on #32956
I'm seeing something similar (websocket connection error on startup) about 50% of restarts on 0.107 and 0.107.1:

No idea what the flakiness is about; it doesn't appear to be rate-limiting.

[2020-03-19 18:45] cobirnm commented on #33005
I yes I have rolled back to 106.5 and it’s running without any problems.

[2020-03-19 18:50] Spirituss commented on #32973
Same here. Error in config

[2020-03-19 18:53] sag3ll0 commented on #33006
same error, and same working custom component

[2020-03-19 18:53] Chaotic commented on #32973
I moved my zones line from components/packages/zone.yaml to the main config.yaml (still pointing to components/zones/) and it is working again with my 9 zones

[2020-03-19 19:07] escoand commented on #33006
WebSocketTimeoutException sound like slow pi, tv, network, ... whatever

[2020-03-19 19:10] LeoCal commented on #33006
Thanks for your replay. But then why is the "samsungtv_custom" component (installed via HACS) working fine? Same PI, TV, network...

[2020-03-19 19:13] Pakul83 commented on #32944
Hello there,
I had same problem. I solved it by changing user name from e-mail to username which is set default in ezviz app. You can find it in your account setting (above phone number).

[2020-03-19 19:16] donkawechico opened #33011 "HA crashes when using Roomba integration with (now-required) requests module 2.22+"
## The problem

HA 0.107.x bumps the version of **requests** module from 2.21.0 to 2.22.0+. This, plus a roomba that can't connect to HA, causes the HA process to crash completely halfway through setup.

I've tested these combinations of versions/roomba configurations:

HA Version | **requests** version | Roomba configured? | Roomba able to connect? | HA Process...
------------ | ------------- | -

[2020-03-19 19:17] svaneepoel commented on #32988
One more thing you can maybe help me with 😃

It occurs that I open the livestream of my camera on too many devices (1 for recording, axis ios app, ha dashboard, ...). When this happens, it blocks the livestream and it says "too many viewers". This is because there are too many livestream opened with different stream profiles.

I contacted Axis and this could be solved by using one stream profile f

[2020-03-19 19:18] donkawechico commented on #33011
Oh, and here's a kinda-sorta-maybe-related issue I submitted yesterday: #32955

[2020-03-19 19:21] Kane610 commented on #32988
I can definitely add that as an configurable option. Could you please create an issue on my axis library github? Else I might forget it

[2020-03-19 19:22] jacekpaszkowski opened #33012 "Unable to find referenced entities warining since 0.106.x"
## The problem

I use couple of HA instances to separate some functionalities in my home. I have my "master" instance running "home-assistant-remote" component which collects states form my "slaves". This component creates entity dynamically in runtime. Also service calls on these entities are forwarded to "slave".
I've noticed that since v 0.106.x i get warnings in log and also randomly service c

[2020-03-19 19:34] #32989 closed

[2020-03-19 19:38] ssilence5 commented on #33003
Just had it happen again about 1 hour after a restart.

[2020-03-19 19:39] escoand commented on #33006
Can you please test https://github.com/home-assistant/core/pull/33001

[2020-03-19 19:41] escoand commented on #33006
And have you re-created the via config flow or is this an old entry from a former release? And if the latter, could you please try recreation?

[2020-03-19 19:42] jjlawren commented on #32811
@Sudo-Rob can you provide an example backtrace? I haven't seen them in my environment since upgrading.

[2020-03-19 19:52] Dycelll commented on #32992
I've had the exact same problem.
I'm running HA in a docker container and the setup has worked without problems until 0.107  Changing the port to 51828 makes homekit start again.

I then updated to 0.107.1 and set the port to 51827 in yaml. Homekit is now working again.
Also restarted the container a few times. The problem seems to be resolved in 107.1?

Logger: homeassistant.setup
Source: compone

[2020-03-19 19:53] matthijsberg commented on #32987
Apologies. My bad here. I had a duplicate sensor entry, one locally in the config file and one pointing to a file with sensors. :-(

[2020-03-19 19:53] #32987 closed

[2020-03-19 20:00] pschmitt commented on #33011
Hm. roombapy does not use requests.

[2020-03-19 20:01] Sudo-Rob commented on #32811
I will update the original traceback.

[2020-03-19 20:05] dshokouhi commented on #33009
Templates do not render under Services tab if that is where you are testing this.  You will need to use an automation or something that supports templates.

If you are using this in an automation then you need to make sure you are sending it under `data_template` and not `data`. https://www.home-assistant.io/docs/automation/templating/#important-template-rules

[2020-03-19 20:08] damikh commented on #32948
Me too, I can't see a failing behaviour for now. But there s an error message in the logs. So, it seems like there is an error. If this ain't no error then just declare it as a warning or suppress the message completely. I think lots of users get nervous if there appears an error after upgrading.

And please, don't get me wrong. I really understand that time is limited and there may be lots of muc

[2020-03-19 20:11] andrearomanoif commented on #32944
Hello Pakul83.
I have changed configuration but the problem is still present:

My configuration.yaml
# EZVIZ
camera:
  - platform: ezviz
    username: "changed email address with username displayed on the Ezviz App"
    password: "myaccountpassword"
    cameras:
      DXXXXXXXX:
        username: admin
        password: "mycampassword"

[2020-03-19 20:14] bachya commented on #33003
Thanks, @ssilence5. I'm seeing the same. It appears that the what-I-thought-was-unnecessary watchdog I removed in https://github.com/home-assistant/core/pull/32129 was actually helping. I'll get a fix in shortly.

[2020-03-19 20:15] ssilence5 commented on #33003
Here is another error message that I found in the logs:
[code]
Then it was followed later by this:
[code]

[2020-03-19 20:20] schneekluth commented on #32976
I tried to investigate further and tried a different zone setup than the one mentioned before. Hope this helps in solving this issue. I'll include:
+ the names of my soundtouch devices
+ a screenshot of the states page including attributes and
+ the xml output of the bose soundtouch api on the devices itself

**Problem again:** The state attributes cannot identify the zone master prperly. Two slav

[2020-03-19 20:24] jjlawren commented on #32811
Ah, looks like `requests` can also use `simplejson` for decoding. I'll create a followup PR to address that possibility.

[2020-03-19 20:27] Sudo-Rob commented on #32811
Great.  Let me know the PR is generated and I'll close this one out.

[2020-03-19 20:36] ssilence5 commented on #32973
I can confirm this method worked for me.

[2020-03-19 20:37] Pakul83 commented on #32944
@andrearomanoif
Does your config look exactly like in your last post? Is yes you need to format it correctly. I don't use quotation marks.

#camera Ezviz C6CN
  - platform: ezviz
    username: username found in ezviz app
    password: ezviz app password
    cameras:
      D64150831:
        username: admin
        password: camera password

Remember to change card config with your camera type. In

[2020-03-19 20:41] LSzczur commented on #32761
I had simmilar issue.

I found out that Mikrotik integration uses \ping command now and it requires 'test' policy permissions. Mark it on your Mikrotik homeassistant group and issue should be resolved.

@engrbm87 Mikrotik documentation needs to be updated, or fix in integration should be done. Integration needs new policy permissions now.

[2020-03-19 20:41] sreknob commented on #32944
For me it doesn’t make a difference if I use username or email, neither work...

[2020-03-19 20:43] StevenLooman commented on #32983
Did you get any new sensors? I think the unit has changed from 'kb' to 'KiB' and thus your sensors have different identifiers.

[2020-03-19 20:44] andrearomanoif commented on #32944
I don't use quotation marks. I added them as example. If change username error is always up

[2020-03-19 20:44] stenehall commented on #32992
I had the same problem, changing the port for homekit did not solve it for me. Since I didn't have time to investigate this more I tried to revert to 0.106.6 and it worked again.

[2020-03-19 20:45] andylebedev commented on #32761
issue resolved after HA restart after adding test permission. this is in manual, and i did not see it, looks like it was changed recently

[2020-03-19 20:50] donkawechico commented on #33011
Yeah, I noticed that roombapy's requirements.txt doesn't include it, but perhaps:

* One of roombapy's listed requirements itself requires the requests module?
* `pip install requests 2.22.0` might also install other dependencies that are relevant to roombapy?
* Something about the issue in #32955 is mucking up the dependency tree?

[2020-03-19 20:52] fre69 commented on #32948
Hi, me too I have this error and binary sensors have been removed so I try with event;
event_data:
  data: vehicle
  type: outdoor
event_type: netatmo_event
platform: event
but it's not working, maybe it's the problem with the webhook

[2020-03-19 20:54] McGiverGim commented on #32983
True! That was the problem! Sorry to not notice that.

Only one thing: when this fails, the port 443 were not open on the router. I don't know if the code can be changed in some way that one fail not affects the other...

I close this issue

[2020-03-19 20:54] #32983 closed

[2020-03-19 20:58] StevenLooman commented on #32983
No problem, took me a while to figure it out too!

[2020-03-19 21:00] #32651 closed

[2020-03-19 21:00] AmirHosseinKarimi commented on #33009
@dshokouhi I want use data template under services call from Developer menu, Why we can use data template in automation but can not use in Service call? Its a feature that does not implemented yet!

[2020-03-19 21:05] Jc2k commented on #32992
This is very weird - there haven't really been many changes to the homekit code itself in a while. Reviewing the changes since 0.106.0 and its just really minor cleanups like using constants for units instead of strings. Nothing that could cause this. Are you all using Docker? What about Synology? I guess you are using host mode networking?

Has anyone tried using `lsof` to find what process is st

[2020-03-19 21:06] damikh commented on #32948
I don't have any netatmo binary sensors. Other sensors seem to work

[2020-03-19 21:07] dshokouhi commented on #33009
For feature request we have a section in the forums: https://community.home-assistant.io/c/feature-requests

This is just as designed for now.  If you want to test your templates you can use the template editor to see how they will render.

[2020-03-19 21:07] #33009 closed

[2020-03-19 21:12] jjlawren opened #33015 "Unifi: Dispatch errors on shutdown"
## The problem

Dispatch exceptions are thrown for every tracked device on Home Assistant shutdown.

## Environment

- Home Assistant release with the issue: 0.107.1
- Last working Home Assistant release (if known):
- Operating environment (Hass.io/Docker/Windows/etc.): venv
- Integration causing this issue: Unifi
- Link to integration documentation on our website: https://www.home-assistant.io/in

[2020-03-19 21:12] #20244 closed

[2020-03-19 21:14] fre69 commented on #32948
My HA is indeed not exposed to the internet and I can't because I use LTE connection so my operator don't let me open port despite the open ports on my router. But with benary sensor it's was possible to trigger automation only for vehicule or human detected, now I don't how to do.
I hope I will find a solution soon.
Thank's for you answer

[2020-03-19 21:15] dasy98 commented on #32944
I have the same problem.
The ezviz app i use i installed from google play store (version 4)

In the integration the link of the app is :
https://apiieu.ezvizlife.com/mobile/index.html
(version 2)

Is necessary the app of the link? because doesn't work for me.

Or the app in the google play store works?

Thanks

[2020-03-19 21:22] Pakul83 commented on #32944
I use the app from google play store.

[2020-03-19 21:27] donkawechico commented on #33011
Well. Running `pip show requests` lists urllib3, chardet, idna, and certifi as dependencies, none of which are requirements of roombapy.

I did notice that the version of urllib3 being installed is 1.24.3, but the latest release is 1.25.8.

Tried HA 0.106.6 + requests 2.22.0 (which used to crash) but then upgraded urllib3 to latest and that scenario stopped crashing.

Unfortunately, 0.107.1 still

[2020-03-19 21:33] marthoc commented on #32811
@jjlawren I am interested in why this is happening - seems that the request is returned (ie 200 ok) but the result is not json. Can you modify the except in python-ecobee-api so that the json errors are their own except, and instead of response.json we debug log response.text? That way the useful info is not lost:
[code]
I suspect this debugging will help me track down another problem in the integ

[2020-03-19 21:33] stenehall commented on #32992
@Jc2k I did a quick grep and it came up empty. Tried to change the port (I had it set to 51827 before) to 51828 as well as 51826 with the same result.

[2020-03-19 21:35] Jc2k commented on #32992
@stenehall and you've tried 0.107.1 as well? And what about the other questions i asked?

[2020-03-19 21:39] zhulik commented on #32960
I think I have the same issue. To localize the issue I removed all the automations I had and added one:
[code]
Where `7448b4ff3f6f47bc8eb8f1b76e489fd1` is a zigbee wall switch.
I tried multiple options: when action is defined, when condition is defined, when trigger is a list and when it's an object

HASS starts up with this notificaiton:
[code]

And the only message in the logs more or less relat

[2020-03-19 21:44] jjlawren commented on #32811
I'm guessing the response code is _not_ 200/OK as the exception is thrown when attempting to decode an invalid payload. The `response.raise_for_status()` hasn't been called yet with the current backtrace.

I already created a followup PR to properly catch the JSON decode error when `simplejson` is available: https://github.com/nkgilley/python-ecobee-api/pull/48.

However, perhaps it's better overa

[2020-03-19 21:49] marthoc commented on #32811
@jjlawren Fair point. Maybe we should raise for status first, then debug log? That way the exceptions are handled and if there’s no error, the debug info gets logged.

[2020-03-19 21:55] stephanmiehe commented on #32942
I've confirmed your theory @escoand. I've tried it locally with a custom version and for TVs that use port 8002 we never get to that port due to the return when using 8001.

However, once that's fixed I ran into another issue with this new component version. The TV will be flooded with token confirmation popups. I suspect the token is not being saved/used correctly. I'm still looking into that but

[2020-03-19 22:06] tomasz8w commented on #29901
Is there any chance to upgrade huawei-lte-api to 1.4.11 in current (0.107) release? 1.4.10 throws error because time import is missing ( https://github.com/Salamek/huawei-lte-api/pull/72 )

[2020-03-19 22:16] zhulik opened #33019 "Automations with ZHA triggers don't work in 0.107"
## The problem
After updating to 0.107 all my automations that were triggered by events from ZHA devices(mostly Xiaomi wall switches) stopped working.

HASS starts up with the following notificaiton:
[code]
In log I see a bunch of similar lines:
[code]

## Environment

- Home Assistant release with the issue: 0.107.1
- Last working Home Assistant release (if known): 0.106.0
- Operating environment

[2020-03-19 22:29] jjlawren commented on #32811
Thought about it some more and came up with https://github.com/nkgilley/python-ecobee-api/pull/49.

[2020-03-19 22:37] Kane610 commented on #33015
I can reproduce this when doing CTRL+C while hass is still loading up, then it seems that the shutdown signal is not sent/or/received by the UniFi integration

[2020-03-19 22:38] makiele commented on #30029
i'm experiencing the same issue - whenever my devices switch between unifi and none unifi devices, they are marked as away. deleting unifi_data does fix it temporarily, but it requires a restart (which would be needed every few hours in my case, sometimes even minutes, as a switch from unifi to none unifi marks them away)

does someone have a solution for this?

thanks

[2020-03-19 22:44] Adminiuga commented on #33019
what specific model do you use for the device?
If you remove that automation from configuration, would automation load?

[2020-03-19 22:44] dmulcahey commented on #33019
I need to know the specific device that the trigger is for. Also, we have guards that should raise appropriate exceptions to prevent the automation component from blowing up so I am a bit confused...

[2020-03-19 22:45] dmulcahey commented on #33019
There must be a traceback associated with this?

[2020-03-19 22:46] mf-social opened #33020 "Zone issues 107.1"
## The problem

I know you guys fixed some problems people were having with zones in this release, but whatever you did it's broken the ability to use zones in packages.

## Environment

- Home Assistant release with the issue: 107.1
- Last working Home Assistant release (if known): 107.0
- Operating environment (Hass.io/Docker/Windows/etc.): Full HA (prev hassio) in docker on debian on proxmox.
-

[2020-03-19 22:51] zhulik commented on #33019
@Adminiuga @dmulcahey the tricky thing here is that all the rest automations are working. If I remove all automations related to the wall switch - I get no error logs and no notification about broken automations.

The device model is `lumi.remote.b286acn01`

[2020-03-19 22:57] Adminiuga commented on #33019
how was the automation originally created?

[2020-03-19 22:58] zhulik commented on #33019
Manually in a yaml file. But I also can answer the other question: if create a similar automation using UI - I have the same result.

[2020-03-19 23:00] zhulik commented on #33019
I've just rolled back the docker image to 0.106.6, same config is working fine

[2020-03-19 23:01] Adminiuga commented on #33019
interesting...

[2020-03-19 23:09] #32971 closed

[2020-03-19 23:10] zhulik commented on #33019
Tomorrow I'll try to reproduce it in a more isolated env. Maybe it's some sort of interference with other config/devices/whatever

[2020-03-19 23:10] amedeozottola commented on #32971
After migrated my HA from 0.106 -> 0.107 I've the same original problem!
I've "manual" fix the issue, porting last commit to my "installation",
and now, the problem is:

Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py", line 179, in _async_setup_platform
    await asyncio.wait_for(asyncio.shield(task), SLOW_SETUP_MAX_WAIT)
  File "/usr/loc

[2020-03-19 23:15] Siege36 opened #33023 "ZHA integration not loading in 107.1"
## The problem
ZHA doesn't load in 107.1 - currently running in freenas/freebsd. Husbz zwave/zigbee stick. Zwave part works fine on /dev/cuaU0

## Environment

Home assistant core 107.1, freenas/freebsd

 Home Assistant release with the issue: 107.1
- Last working Home Assistant release (if known): 106.6
- Operating environment (Hass.io/Docker/Windows/etc.): freenas jail
- Integration causing this

[2020-03-19 23:24] Swiftnesses commented on #30275
Same issue here, worked perfect for 1 year +, now broken.

Debian, Docker, HASS (USB Bluetooth).

[2020-03-19 23:25] #32969 closed

[2020-03-19 23:25] MattXcz commented on #26779
Can someone escalate this ?

[2020-03-19 23:27] Adminiuga commented on #33019
Hrm, in hassio I can't create automations from automations tab or from devices tab. Same works fine in venv

[2020-03-19 23:30] #32988 closed

[2020-03-19 23:33] dmulcahey commented on #33023
try restarting the entire machine. This may be related to a known issue.

[2020-03-19 23:35] dmulcahey commented on #33019
him another question... Is the ZHA component itself even loaded? Or are there other tracebacks in the log?

[2020-03-19 23:36] Adminiuga commented on #33023
after a restart, try running `bellows -v DEBUG -d /dev/cuaU1 info` in the same environment as `core`

[2020-03-19 23:38] dmulcahey commented on #33019
on 107.1 can I have a screenshot of the lumi device in that ZHA config panel?

[2020-03-19 23:39] dmulcahey commented on #33019
also, please post the log file itself... It's hard to debug things with cherry picked info

[2020-03-19 23:42] Adminiuga commented on #33019
yes, please enable Debug log level for
- homeassistant.components.automation
- homeassistant.components.zha
- zigpy

[2020-03-19 23:42] Adminiuga commented on #33019
can DM log to me or Dave on discord

[2020-03-20 00:08] N5A opened #33024 "Unifi : No longer able to control Block/Unblock of network clients with latest HA Core."
## The problem
HA no longer able to Block/Unblock network clients. Unifi configuration unchanged, controller version has not changed.

## Environment

- RUnning on ver : Home Assistant 0.107.1
- Last working Home Assistant release (if known):  Not Known
- Operating environment (Hass.io/Docker/Windows/etc.):  Win10 hosting HASSIO VM.
- Integration causing this issue: Unifi COntroller
- Link to inte

[2020-03-20 00:16] schneekluth commented on #27371
Manufacturer: Bose
Model: Soundtouch 10/20/30 & Soundlink Adapter
Home Assistant Integration: Soundtouch
Service name: _soundtouch._tcp

[2020-03-20 00:26] N5A commented on #33024
Integration also does not reflect current state of Blocked / UnBlocked clients if I change their state in the Unifi Controller itself.

[2020-03-20 00:27] olivvv59 opened #33025 "EnOcean : switch doesn't control the device but changes when you manually change th state"
## The problem

I have a nodon switch,behind a double light switch, with 2 inputs/outputs to control my lights.

- When i use the light switch. In home assistant, the state changes good.
- When i want to modify the state with home Assistant. The light doesn't switch on (but the switch button changes on lovelace without any changes for the light)

## Environment

Home Assistant 0.107.1

arch | armv

[2020-03-20 00:46] Siege36 commented on #33023
that didnt seem to work. Its in a virtualenv if that makes a difference. bellows command output is:
[code]

[2020-03-20 00:47] ronytomen commented on #33020
Duplicate of #32973

[2020-03-20 00:47] Sudo-Rob commented on #32811
If you'd like me to close this PR, just say the word.

[2020-03-20 00:51] donkawechico commented on #33011
After poking around, it started to feel like there must be some bad combination of pip modules that weren't compatible, and not getting updated with subsequent homeassistant upgrades.

So I deleted my virtual environment, reinstalled homeassistant with `pip install homeassistant --no-cache-dir`. Now I'm able to enable the roomba integration without the HA process crashing.

I guess that makes this

[2020-03-20 00:51] #33011 closed

[2020-03-20 00:51] danielromney commented on #32636
Thank you all for your help. It was the "object_id" that was messing
everything up. I got it from another thread I was reading when I was
originally trying to set it up. The indentations were correct, it was just
the object_id vs entity_id that was creating the issue.
Thank you again.

On Thu, Mar 19, 2020 at 6:50 AM Tony Roman <notifications@github.com> wrote:

--

Daniel Romney
Phone: 801-688-64

[2020-03-20 00:55] Adminiuga commented on #33019
in my tests on 107.1, I can only reproduce the problem if the `device_id` is wrong. But even the, the start is fine, it is the reload where it fails.

[2020-03-20 01:03] Adminiuga commented on #33023
it's not getting a response on serial port for whatever reason.
1. can you re-plug the stick and try the same command. I just want the stick to be power cycled
2. are you sure nothing grabs the serial port? like a modem manager or something?
3. in that venv or a new one, uninstall `pip3 uninstall bellows-homeassistant` and install `pip3 install bellows-homeassistant==0.13.2` and try the same comma

[2020-03-20 01:15] jwelter1971 commented on #33000
Same issue here.  Removing from the configuration.yaml allows a clean start.

[2020-03-20 01:23] Adminiuga commented on #32614
Please re-open if you still have the issue and when you get new information.

[2020-03-20 01:23] #32614 closed

[2020-03-20 01:23] jwelter1971 commented on #32992
It shows it as python3 using that port with the same PID that is the HA instance.  It was working without specifying a port in 106.6, but now I need to specify 51829 manually to keep the error from occurring.

[2020-03-20 01:47] bdraco commented on #32992
Seeing this as well

[2020-03-20 01:47] bdraco commented on #32992
Its like its being started twice

[2020-03-20 01:48] Siege36 commented on #33023
power cycling the stick and then restarting the box worked. You guys are awesome.Thanks @Adminiuga & @dmulcahey for your quick responses! I'm closing this issue.

[2020-03-20 01:48] #33023 closed

[2020-03-20 01:50] bdraco commented on #32992
I'm also seeing http giving the same error

[code]

[2020-03-20 01:58] jwelter1971 commented on #32992
Are you running in docker?  What do you have your entrypoint set to?

I was told to use /init but that leads to dual instances running.  If you leave it blank it seems to be ok.

Prior versions were different, this has been changed in 107 but I dont see it anywhere in the release notes or breaking changes.

[2020-03-20 02:02] bdraco commented on #32992
Its running on docker on a synology

[2020-03-20 03:21] jjlawren commented on #33015
I see it sent to stderr every time HA shuts down.

[2020-03-20 03:27] MedievalMatt opened #33029 "sensor.asuswrt throwing an error after 0.107 update"
After updating to the 0.107 release my sensor.asuswrt entity has ceased to work.  It is throwing errors for each of the four sensors (upload, download, upload_speed, and download_speed), and all of the sensors have similar python error messages, pasted below.

This is the version information block from my Developer Tools tab:

Frontend version: 20200318.1 - latest

- Home Assistant release with th

[2020-03-20 03:28] ajschmidt8 commented on #30892
I'm looking into this issue currently due to a CI error on my PR #32965.

Haven't made too much progress, but I did notice the original AlarmDecoder integration PR #6900 left out [USB support ](https://github.com/home-assistant/core/blame/dev/homeassistant/components/alarmdecoder/__init__.py#L199) (read the comments in his PR body). I guess people have used the serial interface option as a workaro

[2020-03-20 03:36] bdraco commented on #32992
There are two copies running in the container

[code]

[2020-03-20 03:53] swails commented on #29881
No, I'm fixing this in a PR (will link this issue into it)

[2020-03-20 03:54] austinmroczek commented on #32952
@MartinHjelmare is this a PR against `dev` or `0.107.1` ?

[2020-03-20 03:54] #32968 closed

[2020-03-20 03:56] #32973 closed

[2020-03-20 03:59] ajschmidt8 commented on #30892
I'm using a socket connection currently for my AlarmDecoder config, but I might see if I can find time this weekend to switch to a serial connection and continue debugging.

[2020-03-20 04:09] bdraco commented on #32992
I recreated my synology docker instances from scratch and the problem went away

[2020-03-20 04:10] #33020 closed

[2020-03-20 05:19] i00 commented on #32830
Ok ... seems to be alright when my browser is closed ... so prob not an issue ... I must have had it open in a background tab *slaps self on head :P

[2020-03-20 05:20] #32830 closed

[2020-03-20 06:12] bf69 commented on #32944
non mi viene creato nessun servizio ezviz

[2020-03-20 06:55] laszlojakab commented on #32830
I have an LG 42LM669S with HA 0.106.2 and there is no flickering when picture updates. I'll update HA and recheck.

[2020-03-20 06:58] Kane610 commented on #33024
What version of the controller are you running?
Can you share debug logs, configure logging according to the example in integration documentation.

[2020-03-20 07:09] escoand commented on #32942
@tulindo Have you seen this?

[2020-03-20 07:13] akinomeroglu opened #33033 "Deprecation of alarmdotcom integration"
## The problem

Alarmdotcom integration depends on web scrapping of alarm.com PDA website. PDA website went down last week and that's way integration was broken since that time. There is a new way to use alarm.com but it still depends on web scrapping.  This situation is against https://github.com/home-assistant/architecture/blob/master/adr/0004-webscraping.md so the integration needs to removed f

[2020-03-20 07:13] escoand commented on #32942
@stephanmiehe after the restart the problems are gone? That would mean the config entry changes after creating the media player. And after the restart the newly initialized media player takes the right values from the config entry.

[2020-03-20 07:14] akinomeroglu commented on #32949
Unfortunately, web scrapper doesn't work anymore. Please look at #33033

[2020-03-20 07:15] akinomeroglu commented on #32895
Unfortunately, web scrapper doesn't work anymore. Please look at #33033

[2020-03-20 07:19] djiest opened #33034 "Asuswrt Task Exception was never retrieved"
## The problem
asuswrt device tracker runs into an error and cannot track devices

## Environment

- Home Assistant release with the issue:
Home Assistant 0.103.6
- Last working Home Assistant release (if known):
Home Assistant 0.103.6
- Operating environment (Hass.io/Docker/Windows/etc.):
Hass.io version 195
- Integration causing this issue:
https://www.home-assistant.io/integrations/asuswrt/
- L

[2020-03-20 07:24] snook commented on #32942
I've followed your steps and successfully added a Samsung QN75Q7FAM. I can issue commands OK and haven't seen any additional prompts so far.

[2020-03-20 07:27] stenehall commented on #32992
@Jc2k sorry, it was late and had to get to bed yesterday.

* Only tried 0.107.1 never 0.107.0.
* Running in docker.
* Giving it its own IP using macvlan.
* Running on a small Nuc on Proxmox in Ubuntu Core (just to make things as complex as possible :))

It's somewhat of a weird setup since I use the backend network to access influxdb, the web network for a reverse proxy and the vlan to be able to

[2020-03-20 07:28] escoand commented on #32942
@snook but the auth request are only gone after HA restart?

[2020-03-20 07:30] snook commented on #32942
@escoand No issues after reboot, can still control the TV OK.

[2020-03-20 07:30] stenehall commented on #32992
Not sure what you mean with this?. I.e. deleting all volumes?

[2020-03-20 07:31] escoand commented on #32942
@snook but before there were?

[2020-03-20 07:33] sfgabe commented on #32940
Same error here

[2020-03-20 07:47] snook commented on #32942
@escoand No, previously I had the issue at the beginning of this ticket. I've had two other Samsung's working fine, the I hadn't ever been able to connect the QN75. After .107 I was still unable to connect receiving the message this Samsung TV device is not supported.  Adding the files to custom_components as mentioned by @stephanmiehe, it appears to all be working as expected.

[2020-03-20 07:48] leonardpitzu commented on #32992
issue solved by deleting the container and starting from scratch (of course reusing the configs)
issue was present on synolgy

[2020-03-20 07:50] daha76 commented on #33029
After upgrade to HASSIO 0.107.1 I had the same issue with asuswrt integration. I reverted back to 0.106.6 and all good. Similar problem I had with denonavr integration, on 0.107.1 it isn't work and when reverted back to 0.106.6 all good.

[2020-03-20 07:52] escoand commented on #32942
@snook OK, I meant if you needed a restart yo have this TV working correctly?

[2020-03-20 09:00] MartinHjelmare commented on #32952
Since the config flow PR isn't merged yet, it should work to target dev branch.

[2020-03-20 09:18] scaarup opened #33036 ""Update for sensor.asuswrt_download_speed fails" after upgrade to 0.107.1"
## The problem
My Asus WRT integration is broken after latest update.

## Environment

- Home Assistant release with the issue: 0.107.1
- Last working Home Assistant release (if known): 0.106
- Operating environment (Hass.io/Docker/Windows/etc.): Hass.io
- Integration causing this issue: asuswrt
- Link to integration documentation on our website: https://www.home-assistant.io/integrations/asuswrt/

[2020-03-20 09:19] kennedyshead commented on #32940
Well... that is not the same eror as the initial!

[2020-03-20 09:20] kennedyshead commented on #32940
There must be something else that is broken, Ill have a look at it when my schedule is free

[2020-03-20 09:26] Molnigt commented on #32940
I just had a quick look in my router and there are no logins from my HA. If I restart HA one login is made but no more logins after that.

[2020-03-20 09:31] frenck commented on #33036
Duplicate of #32940

[2020-03-20 09:31] #33036 closed

[2020-03-20 09:34] stenehall commented on #32992
I'm not sure how deleting an instance could possibly resolve this problem. Are home assistant persisting anything in the instance outside of the config volume? Wouldn't downloading an updated version of Home assistant more or less be exactly the same as downloading it the first time?

I tried to delete the instance as well as the image and redownload/start but the problem still remains for me.

[2020-03-20 09:34] frenck commented on #32992
From the config by @stenehall:

`command: python -m homeassistant --config /config`

This is what causes it. That manually overrides the CMD to be executed inside the container. In the latest version of Home Assistant, our containers are using a init system. So the init systems start Home Assistant, however, since you force a command, it also starts Home Assistant. Hence twice.

In general: Don't

[2020-03-20 09:39] stenehall commented on #32992
@frenck removing that indeed seems to resolve it.

However, why are Home assistant breaking the core priniples of docker? Using a custom init script that cannot be overridden by a command is really against how docker is supposed to work, unless I'm completely missing something here?

Unless I missed it it's also not mentioned in breaking changes, might be good to add it there?

[2020-03-20 09:40] RogerSelwyn commented on #32940
That's the same on mine, so I think it is correct. But looks like there is some problem with the 107 upgrade, which is causes a separate problem when upgrading Asuswrt to 1.2.3.

[2020-03-20 09:42] #29881 closed

[2020-03-20 09:43] Teocell commented on #32981
I have the same problem

[2020-03-20 09:46] kennedyshead commented on #32940
Try setting ```interface: eth0```

[2020-03-20 09:47] kennedyshead commented on #32940
(or whatever interface your wan is on)

[2020-03-20 09:47] frenck commented on #32992
This is perfectly how Docker is supposed to work.
Docker has 2: entry point & command.

We leverage the entry point, you can override the entry point to be something else (e.g., `/bin/bash`) and use your CMD to your liking.

So it can be overridden...

[2020-03-20 09:51] Molnigt commented on #32940
No joy

[2020-03-20 09:52] Tamas-Toth-ebola commented on #32980
Hi @Adminiuga !

Thanks for your fast response, explanation. My setup just a test setup yet, with very slow development as I did not really trusted in Z-wave and Zigbee in practice before I started some experiments with them. I just write this for you as there is no continuous usage of the system.

_(HASS had just installed on our main NUC machine in our home until I could finish all the ironing o

[2020-03-20 09:55] RogerSelwyn commented on #32940
I tried debugging this a bit yesterday but didn't have time to check on the second error. As far as I could see aioasuswrt was generating the data ok, but I didn't get to look at the bug in asuswrt sensor.

[2020-03-20 10:04] stenehall commented on #32992
@frenck ok, thanks for the info.

[2020-03-20 10:09] kennedyshead commented on #32940
As far as I can tell this is not an issue with aioasuswrt, when trying 1.2.3 standalone it seems to work in my setup.
To little time and to much todo atm. Sorry.

If no one else solves this before next sunday, I will have a new look at it

[2020-03-20 10:11] Teocell commented on #32944
How can it works like this? The name of the entity created by HA is different

[2020-03-20 10:19] SeLLeRoNe opened #33038 "0.107.2 Fails to start"
## The problem

I have just updated to 0.107.2 to try to fix the Zone issue and HA is no longer starting, manually executing the startup command return this:
[code]

## Environment

- Home Assistant release with the issue: 0.107.2
- Last working Home Assistant release (if known): 0.107.1
- Operating environment (Hass.io/Docker/Windows/etc.): Python Env
- Integration causing this issue:
- Link to i

[2020-03-20 10:37] Pakul83 commented on #32944
My HA has crearted that entity name:

![image](https://user-images.githubusercontent.com/61093601/77156131-05ed3f00-6a9f-11ea-827e-a68157c26ae1.png)

[2020-03-20 10:46] bdurrer commented on #33025
If I understood correctly, you attempt to trigger the enocean switch from HA? Is it really a switching device or just a (stateless) button?

Do you have any specification document for the switch?

Maybe these switches expect a different message or format

[2020-03-20 10:55] aptonline commented on #32992
Wow this post really exploded, I can confirm that removing `command: python -m homeassistant —config /config` resolved the issues for me too. Thanks @frenck :)

[2020-03-20 11:04] Teocell commented on #32944
Ah OK. Thanks, mine is different :) camera.salotto

[2020-03-20 11:06] Mike1082 commented on #30029
@finity69x2

Sorry I missed this... I do not know what the controller version was, and I have since upgraded hardware to a Unifi Dream Machine Pro. Unfortunately to my knowledge this integration is not yet compatible with the UDM Pro so I have not configured it yet to test.

[2020-03-20 11:11] cobirnm commented on #33005
The only thing strange I can find is when I start the container. I get the following lines:

[s6-init] making user provided files available at /var/run/s6/etc...exited 0.
[s6-init] ensuring user provided files have correct perms...exited 0.
[fix-attrs.d] applying ownership & permissions fixes...
[fix-attrs.d] done.
[cont-init.d] executing container initialization scripts...
[cont-init.d] udev.sh:

[2020-03-20 11:30] Jalleronline opened #33039 "Problems updating record on mariadb after 0.107.x update"
## The problem
I am having problems with recorder after 0.107.x update; before that, it was working as expected but now it doesn't save the data to my mariadb (community plugin over docker).
I did some test, reboot, purge the entire mariadb and nothing.

Home Assistant is creating tables on mariadb:

MariaDB [homeassistant]> show tables;
+-------------------------+
| Tables_in_homeassistant |
+---

[2020-03-20 11:41] frenck commented on #33039
Anything in the logs about the recorder failing or fail to write data?

[2020-03-20 11:41] Dulcow commented on #32971
Hey there, how can I manually fix this issue?

[2020-03-20 11:43] Jalleronline commented on #33039
Nothing and I have the logs on info mode.
Component recorder starts as expected and create the tables on an empty mariadb but after that nothing more happens.

[2020-03-20 11:48] ronytomen commented on #32973
Running `check_config` after upgrade to 0.107.2.

[code]

Working on tracking it down...

[2020-03-20 11:56] djfjeff commented on #33033
I think this does not make any sense. I understand the principle of being cautious with web scraping as it normally break more often than not.

But in the case of this integration, I use it for more 2 years and it is the first time that I have an issue with it. Using web scraping in this case should not be enough to warrant the removal of the integration. This integration is crucial in my environm

[2020-03-20 12:13] firasnajjar commented on #26234
This is happening to me as well. Every couple of days, my iPhone's IP gets blocked. This happens only when I'm using the iPhone app. On the android app I do not see such thing.

[2020-03-20 12:14] ThaStealth commented on #32973
Still not working for me either, using 0.108.0.dev20200320 as the docker for 107.2 is not available yet

Setup
configuration.yaml
[code]
integrations/zone.yaml
[code]
entities/work.yaml
[code]

Error
[code]

[2020-03-20 12:26] ronytomen commented on #32973
The following integrations caused the following Traceback:

`discovery`:
[code]

`owntrack`:
[code]

`person`:
[code]

These are the ones within my configuration that fail.

I really like packages and how they work, it has enabled me to organize my configuration in a very logical manor.

Thanks for all the work on Home Assistant!

[2020-03-20 12:30] dvdavide commented on #32139
If I may add to the WLED segment issue, in the tests I ran the power and brightness controls work on all segments from any segment, ie switching/dimming a segment switches/dims the whole strip. I would expect the different segments to be controllable separately, since they show up as distinct entities. Color selection, however, works fine. Thanks for all the great work.

[2020-03-20 12:46] jrspowers opened #33041 "somfy integratie"
hello i have a problem with somfy i have the update 0.107.1 but now i update the version to 0.107 i can no longer operate my shutter remove the integration and then integrate back but no change anyone who can help?

[2020-03-20 12:47] Sabuto commented on #33033
@djfjeff maybe turn it into a custom component? That way if it does get removed (looks likely) then you can still use it?

[2020-03-20 12:53] andriej opened #33042 "Xiaomi switches device triggers lost in 0.107"
## The problem
In latest 0.107 (after update) xiaomi switches triggers in automations are gone:
![image](https://user-images.githubusercontent.com/6303489/77164988-bf551000-6ab1-11ea-9064-502368c4a8ad.png)
"Unknown trigger" where befeore it was a list of single, double press etc.

## Environment
arch | x86_64
-- | --
dev | false
docker | true
hassio | true
os_name | Linux
os_version | 4.19.0-8-amd

[2020-03-20 12:53] cgtobi commented on #32948
@fre69 have you considered using Nabu Casa for this? They provide an endpoint for webhooks without exposing your actual instance to the web.

[2020-03-20 12:54] cgtobi commented on #32948
@damikh the binary sensors were removed in 0.107 in favour the webhooks based `netatmo_event` which provides a much more responsive experience.

[2020-03-20 12:57] djfjeff commented on #33033
@Sabuto The issue with having it as a custom component is that I don't have the knowledge myself to do it myself. It seems someone started to do it but I would prefer having it in the "official" repository.

The larger issue is I don't think we should deprecate a good, stable and working integration for one issue.

[2020-03-20 13:01] akinomeroglu commented on #33033
@djfjeff hi, this integration is not usable at the moment. The way HA integrates could also broke at any time when provider changes a little thing. I know it is frustrating but you can use this integration if you use this https://github.com/uvjustin/alarmdotcomajax

[2020-03-20 13:02] Tamas-Toth-ebola opened #33043 "0.107.2 isn't available on Docker Hub yet."
## The problem

While the release in theory already done on Docker Hub there is no 0.107.2 build yet.

https://hub.docker.com/r/homeassistant/home-assistant/tags?page=1&name=107

Please upload it, as we could not upgrade to it until:)

Thanks for your help!

## Environment

- Home Assistant release with the issue: The bug is no HA relevant.
- Last working Home Assistant release (if known): The bug

[2020-03-20 13:14] Chuckame commented on #32762
On an old issue I follow the connection link that takes me to the professional account ^^

I will test the python lib!

[2020-03-20 13:17] cobirnm commented on #33005
I'm closing the issue because it seems that my problem has been solved. Never the less I leave here what I have done that worked for me to help anyone that might have the same issue:

1) I have upgraded my system using "apt-get update" followed by "apt-get upgrade"
1.1) There was an update available for docker

2) Downloaded again the image from docker hub

For the las 3 hours home assistant has b

[2020-03-20 13:17] #33005 closed

[2020-03-20 13:21] amedeozottola commented on #32971
Hi Dulcow,
I've simply "copied" patched file into my HA sources.
My HA instance is "dockerized", so I've connect to my ha container:
from ssh console:
$ docker exec -it homeassistant bash

now I've open sources file by "vi"
vi /usr/src/homeassistant/homeassistant/components/somfy/__init__.py
vi /usr/src/homeassistant/homeassistant/components/somfy/cover.py

and "copy & paste" the corrected code.

[2020-03-20 13:28] RogerSelwyn commented on #32940
Doing some debugging, I'm no expert on debugging HA some doing this live with loggers added. I see the interface being passed to the router to query is ' /var/lib/misc' when I do it love on HA, but eth0 when I run standalone. This is clearly wrong. I'll dig further, but meeting to go to.

[2020-03-20 13:38] iromeo commented on #25704
Login via ssh to HassOS host (see https://developers.home-assistant.io/docs/hassio_debugging/)

* login to root
[code]

* open home assistant container
[code]

* find required file:
[code]
in my case result is: /usr/local/lib/python3.7/site-packages/mitemp_bt/mitemp_bt_poller.py

* backup original file & download new one
[code]

* reboot home assistant host

P.S: I've done this, let's see whether

[2020-03-20 13:45] YRRK commented on #31884
I'm now replying on the wrong isse, this one is closed. But you're posting here so that's why i reply here. I would like to comment on it one more time: In the documentation your say:

Hmm this is is a no go. No all users open their homeassistant to the web, because you really need to know what you're doing and homeassistant is still cutting edge tech. really need to consider it not fully secured

[2020-03-20 13:55] Ndrinta commented on #32940
Same here. I also have problems with my MQTT integration, I had to delete the database in order to fix it (probably, not sure yet) but the asuswrt integration keeps failing (my device tracker works fine, tho).

[2020-03-20 13:59] RogerSelwyn commented on #32940
This looks like a mismatch from sensor to asuswrt. Manifest for sensor doesn't include time_cache.

[code]

[code]

[2020-03-20 14:01] bkr1969 opened #33046 "Home Assistant 107 missing integrations"
After updating Hassio to 107 last night my Rain Machine, SmartThings and Roomba integrations are all broken/unavailable.

[2020-03-20 14:02] codypet commented on #31957
Did this get pushed out in 0.107?  I noticed this came up as closed, but I still don't seem to have it working.  Thanks in advance.

[2020-03-20 14:10] Adminiuga commented on #33046
please fill in the issue template with all required information.

[2020-03-20 14:15] djfjeff commented on #33033
@akinomeroglu like I said, I agree that normally web scraping is not ideal. But in the case of Alarm.com, it is the first time they broke it in months (years?) so it seems like a good way to do it. Personally, this is more stable than many integration using an API that change/break every other month...

[2020-03-20 14:20] #32269 closed

[2020-03-20 14:22] cgtobi commented on #31884
@YRRK I understand that people might not want to expose their instance to the web (directly or indirectly). That is why Nabu Casa is a great option. Webhooks only work with an http(s) endpoint, so there is no way around (that I'm aware of).

Bringing back the binary sensors is not a technical challenge, but I think they are simply not reliable enough. The API has a limit of allowed calls per hour

[2020-03-20 14:23] RogerSelwyn commented on #32940
So as a wrap up. The first error I didn't debug all the way through because @kennedyshead said an upgrade to v1.2.3 is needed. The second problem with v1.2.3 is down to a mismatch. To fix my install I've:

- overridden default aioasuswrt by downloading v1.2.3 from here - https://pypi.org/project/aioasuswrt/#files - and putting in my config directory.
- Editing __init__.py by using portioner to giv

[2020-03-20 14:31] bf69 commented on #32981
no entity is created and I have no ezviz service.

Dettagli registro (ERROR)
Logger: homeassistant.components.camera
Source: components/ezviz/camera.py:50
Integration: Telecamera (documentation, issues)
First occurred: 15:26:29 (1 occurrences)
Last logged: 15:26:29

Error while setting up ezviz platform for camera
Traceback (most recent call last):
  File "/srv/homeassistant/lib/python3.7/site-pac

[2020-03-20 14:44] bkr1969 commented on #33046
Happy to. Where do I find that?

[2020-03-20 14:50] fre69 commented on #32948
Thanks, I have subcribed Nabu Casa today for trial to test and put the endpoint in the dev.netatmo.com webhook.

[2020-03-20 14:56] frenck commented on #33042
This has been fixed in #32962

![image](https://user-images.githubusercontent.com/195327/77175748-62625580-6ac3-11ea-87b4-7ad4819abe07.png)

[2020-03-20 14:56] #33042 closed

[2020-03-20 14:58] #32268 closed

[2020-03-20 15:00] Jc2k commented on #33046
It should have been there when you clicked "New issue"

[2020-03-20 15:02] napieraj commented on #33039
I was having the same issue on 0.107.x, using both the MariaDB addon as well as an external MariaDB server.

The recorder would write state changes to db for a few minutes after restart before stopping -- a restart of HA would temporarily solve the issue but once again it would hang after a few minutes.

Wasn't getting any logs at all from the recorder, even with log level `info`

Finally downgrad

[2020-03-20 15:02] frenck commented on #33041
Please use the issue template as it is presented when creating an issue.

Without it, we won't be able to help you.

Thanks! 👍

[2020-03-20 15:06] frenck commented on #32139
@dvdavide besides being off-topic for the issue, WLED simply doesn't provide controls for that on their API. Feel free to raise a request for that @ WLED itself.

[2020-03-20 15:07] Adminiuga commented on #33046
Maybe close this one, open the new one and fill in the issue template when presented with one? I also would recommend enabling debug logging and provide full log of "Core" restart.

[2020-03-20 15:08] frenck commented on #32973
@ronytomen Issue is being addressed here: https://github.com/home-assistant/core/pull/33045

[2020-03-20 15:11] Knapoc commented on #32940
Good catch @rogerselwyn

[2020-03-20 15:11] Jc2k commented on #33046
And to be honest if there are 3 seperate bugs you might be better off with seperate issues. They will have different maintainers and 3 different maintainers working on 3 seperate bugs in 1 ticket will be less than ideal?

Also, look at recent issues for these integrations. I know i've seen someone working on a problem with Rain Machine in 0.107.0 for example.

 * [Rain Machine](https://github.com/

[2020-03-20 15:12] #33046 closed

[2020-03-20 15:12] Adminiuga commented on #33046
Good advise.

[2020-03-20 15:17] #33038 closed

[2020-03-20 15:26] Ethome56 opened #33047 "Can not update Home Assistant Core 0.107.1"
Trying to update but no luck so far.
Running on a MacBook Air and a VirtualBox

This shows in my log.
20-03-20 15:18:07 ERROR (MainThread) [supervisor.utils] Can't execute update while a task is in progress
20-03-20 15:19:36 ERROR (SyncWorker_6) [supervisor.docker.interface] Can't install homeassistant/qemux86-64-homeassistant:0.107.1 -> 404 Client Error: Not Found ("no such image: homeassistant/q

[2020-03-20 15:34] andriej commented on #33042
Can't upgrade as 0.107.2 is missing from "update" option, but did it via console and it helped. Thanks.

[2020-03-20 15:37] PASADavid commented on #31957
@codypet this hasn't been fixed yet. I am working on it. I don't have a specific target in mind.

[2020-03-20 15:40] dgtal1 opened #33048 "Z-Wave network starts, but all entities are 'Unavailable'. No control over them. All nodes stay 'Undefined'"
## The problem

Today I updated HA from 0.104.3 to 0.107.1. This caused Z-Wave to stop working. In the Z-Wave panel I can see that the network is started, but all z-wave entities are shown as Unavailable.
![image](https://user-images.githubusercontent.com/27864579/77177973-b1f65080-6ac6-11ea-9708-5770b6c2c018.png)
![image](https://user-images.githubusercontent.com/27864579/77177996-bf133f80-6ac6-1

[2020-03-20 15:42] frenck commented on #33047
This means there is not enough disk space available to complete the download, unpack and install operation.

Please ensure you have enough disk space.

If the issue remains, please open up a new issue, using the issue template provided.

Thanks! 👍

[2020-03-20 15:42] #33047 closed

[2020-03-20 15:43] ptcryan commented on #31957
@codypet this hasn't been fixed yet. I am working on it. I don't have a specific target in mind.

[2020-03-20 15:43] Jacoleroux commented on #33007
I have basically the same issue except my cameras does not even work, the entity disappeared totally after update to 0.107.1.
camera.yaml
  - platform: onvif
    name: "cam1"
    host: 192.168.1.248
    port: 8081
    username: !secret CAM_User
    password: !secret CAM_Pass

[2020-03-20 15:54] inputd opened #33052 "Konnected switch service calls sometimes fail"
## The problem
After updating to the latest version of Konnected and transitioning config from .yaml files to integrations, konnected intermittently fails to receive commands

Specifially, I tried to flip on a low-voltage LED connected to the switch output of the Konnected device.

## Environment
- Home Assistant release with the issue:  HA 0.106.6
- Last working Home Assistant release (if known):

[2020-03-20 16:02] hgregorian commented on #33039
Encountering the same issue here.  I'm setting my log level to debug to see if there's anything to see.

[2020-03-20 16:11] dassader opened #33053 "Configurable CO2 Threshold in Homekit"
Could you please make this value configurable?
https://github.com/home-assistant/core/blob/661101df08e36ab33f4f4418faf4f3395b07be5b/homeassistant/components/homekit/const.py#L173

[2020-03-20 16:15] mikesalz commented on #32422
hmmm....
Although the other two devices worked like a charm yesterday, I tried adding a different [iDevices smart plug](https://store.idevicesinc.com/idevices-switch/) today and received this error.

[2020-03-20 16:20] dgtal1 commented on #33048
Rolled back to 0.104.3 and it's working fine again. No warnings in OZW log, no error related to failed exclusive lock.
Such a pity 0.107 isn't working for me as it's packed with so manu cool features :(

[2020-03-20 16:23] #27862 closed

[2020-03-20 16:34] theasp commented on #33043
0.107.2 was tagged 30 minutes ago.

[2020-03-20 16:45] N5A commented on #33024
Unifi Controller..

UI5.12.35.0
Backend5.12.35
Buildatag_5.12.35_12979

Logs..  What do you need from it. quite a massive amount of stuff in there.

[2020-03-20 16:54] hgregorian commented on #33039
After setting 'debug' for the logger component and restarting, initially state changes were recorded.  Then, about 45 minutes later, some warnings about lost connections:

[code]

[2020-03-20 16:55] chemelli74 opened #33057 "Upgrading from 0.106.6 to 0.107.1 shows many errors in log"
## The problem

Log errors after upgrade.

## Environment

- Home Assistant release with the issue: 0.107.1
- Last working Home Assistant release (if known): 0.106.6
- Operating environment (Hass.io/Docker/Windows/etc.):  Docker
- Integration causing this issue: various
- Link to integration documentation on our website:

## Problem-relevant `configuration.yaml`

[code]

## Traceback/Error logs

[

[2020-03-20 16:56] bachya commented on #33003
Ugh, sorry – my bleary, recently-100%-WFH brain didn't quite fix this in #33013. Doing more research and hope to have a real fix soon.

[2020-03-20 17:08] frenck commented on #33043
It is now available, however, 0.107.3 is currently being shipped containing a bugfix if you are using packages for your configuration.

[2020-03-20 17:08] #33043 closed

[2020-03-20 17:09] FlavorFx opened #33058 "Tankerkoenig fuel stations are shown in my map"
## The problem

Tankerkoenig fuel stations are shown in my map but I don't like it.

## Environment

- Home Assistant release with the issue: 0.107
- Last working Home Assistant release (if known): new
- Operating environment (Hass.io/Docker/Windows/etc.): hass.io
- Integration causing this issue: tankerkoenig
- Link to integration documentation on our website: https://www.home-assistant.io/integr

[2020-03-20 17:19] frenck commented on #33058
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature or change requests.

If you want to suggest a feature or change, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thank

[2020-03-20 17:19] #33058 closed

[2020-03-20 17:23] #16692 closed

[2020-03-20 17:33] RockMonkey commented on #33048
I have the exact same problem, Zwave is down, same messages. I also run Home Assistant in Docker on Synology.

[2020-03-20 17:43] balloob commented on #32933
What if we return `on` instead of `heat`, in case it's an AC?

[2020-03-20 17:47] JumpMaster opened #33060 "Upgrade from 107.1 to 107.2 fails to start"
## The problem

## Environment

- Home Assistant release with the issue: 107.2
- Last working Home Assistant release (if known): 107.1
- Operating environment (Hass.io/Docker/Windows/etc.): Hass.io - Intel NUC on Ubuntu
- Integration causing this issue:
- Link to integration documentation on our website:

## Problem-relevant `configuration.yaml`

[code]

## Traceback/Error logs

Docker log

2020-0

[2020-03-20 17:58] dshokouhi commented on #33053
Feature requests should be made on the forums: https://community.home-assistant.io/c/feature-requests

[2020-03-20 18:02] ssilence5 commented on #33003
My fault, didn't see the comment here before I commented over in the simplisafe-python repository.

[2020-03-20 18:03] fitim7 opened #33061 "tankerkoenig not updating sensors"
## The problem
tankerkoenig integration isn't updating the fuel prices while running, just after restart of home assistant.

## Environment
Running: Home Assistant 0.107.1

- Home Assistant release with the issue:
- Last working Home Assistant release (if known):
- Operating environment (Hass.io/Docker/Windows/etc.):
Docker
- Integration causing this issue:
Tankerkoenig
- Link to integration docum

[2020-03-20 18:12] bachya commented on #33003
From [that PR](https://github.com/bachya/simplisafe-python/pull/137):

[2020-03-20 18:17] balloob commented on #32898
Any errors in your logs when you sync a device or when Google queries the device state (happens when you open Google Home app)

[2020-03-20 18:18] Adminiuga commented on #33019
Try 0.107.2 it has a fix which might fix your issue too

[2020-03-20 18:18] Adminiuga commented on #33019
0.107.3 now

[2020-03-20 18:22] Knapoc commented on #32940
@RogerSelwyn are you planning to create a PR, otherwise I'm going to make one.
Regarding your question regard component replacement: just copy the whole modified asuswrt folder (don't forget to adjust manifest.json)

[2020-03-20 18:27] RogerSelwyn commented on #32940
To be honest I don’t know how to do a PR against HA. Does that mean I’ve got to fork the whole thing? I can do that, just need to get myself organised. If it needs doing today, then probably best if you do it. But also needs a pull for the 1.2.3 update as well

[2020-03-20 18:29] zhulik commented on #33019
The speed you guys release new versions is freaking mad😆

[2020-03-20 18:29] ronytomen commented on #32973
I saw, thanks!

[2020-03-20 18:30] oxan commented on #32933
That doesn't work (same behaviour as without any modes). I'm not really sure why, but tested it twice just to be sure.

[2020-03-20 18:32] Knapoc commented on #32940
I just don't want to take away your credits :) I think I have everything in place for a PR.

And yes you'd have to fork the repo and create a PR to dev.

[2020-03-20 18:33] RogerSelwyn commented on #32940
Go for it. More worried about my next meal 😀

[2020-03-20 18:38] mrand commented on #32940
For really simple stuff, you can do it all from Github... find the line you want to edit in the github view of the source, and it'll create a pull for you.  Regardless, good job!

[2020-03-20 18:40] RogerSelwyn commented on #32940
I can do that easy within the hour...

[2020-03-20 18:41] donkawechico commented on #32955
Update: I "solved" the version conflict errors by:

1. Deleting my virtual environment completely with `rm -rf /srv/homeassistant` (make a backup first!)
2. Recreating it as per the [manual installation instructions](https://www.home-assistant.io/docs/installation/raspberry-pi/)
3. Running `pip install homeassistant --no-cache-dir` to ensure a fully fresh installation

The installation finished wi

[2020-03-20 18:44] heythisisnate commented on #33052
Thanks, we can look into this.
Can you check the uptime of the device? You can use the Konnected mobile app in the app store to scan and view the status page of the devices.

[2020-03-20 18:45] frenck commented on #33060
This has been fixed in Home Assistant Core 0.107.3, which we have just released.

[2020-03-20 18:45] #33060 closed

[2020-03-20 18:45] Knapoc commented on #32940
I'm running the test locally now and then I'd be good for the PR.

[2020-03-20 18:46] Kane610 commented on #33024
Try to focus logs around you pressing the switch in the gui

[2020-03-20 18:46] #33053 closed

[2020-03-20 18:49] inputd commented on #33052
Well that's interesting. Only 20 seconds. I have four Konnected panels, and the other 3 all have uptimes spanning days

[2020-03-20 18:55] JumpMaster commented on #33060
Thanks @frenck

[2020-03-20 18:56] voydz commented on #32973
I know the ticket is closed, but @balloob mentioned in the PR "Packages are a hack and it's annoying that there is no one having ownership of it. That's why things keep randomly failing." I actually quite like the way packages contribute to a clean organized config. I do not know how complex this issue is, but is there anything I could do to help "refactor" how packages work?

Maybe a short note o

[2020-03-20 19:01] metbril commented on #33029
duplicate of #32940 ?

[2020-03-20 19:14] Chaotic commented on #32973
Likewise I'd like to know what the non-hack way of splitting up config files is if there is one.

[2020-03-20 19:21] #32895 closed

[2020-03-20 19:21] #32949 closed

[2020-03-20 19:24] jladefoged commented on #28796
Still an issue i 0.107.2

[2020-03-20 19:39] OptimusGREEN opened #33065 "Onvif cams not working anymore"
## The problem

`After upgrading from 0.106.6 to 0.107.1 my 2 onvif cameras show as entity not available in lovelace, they dont exist in entities.`

## Environment

- Home Assistant release with the issue:
`0.107.1`
- Last working Home Assistant release (if known):
`0.106.6`
- Operating environment (Hass.io/Docker/Windows/etc.):
`Hassio in docker on Ubuntu 18.04`
- Integration causing this issue:

[2020-03-20 19:41] RogerSelwyn commented on #32940
Thanks. And looking at how you do the PR, I've learnt something new today. Done loads of open source elsewhere (sourceforge and the like), but not much on Github. Looks like I need to set up a proper dev environment and learn how to do it properly :-)

[2020-03-20 19:51] tulindo commented on #32942
@escoand sorry but this period I can"t test and develop.
In my TV never saw any confirmation popup

[2020-03-20 20:22] frenck commented on #32973
@voydz Please create a separate thing for that, as it is not directly related to this issue.

This issue has been resolved.

[2020-03-20 20:23] marianobntz commented on #32898
nothing shows on HA logs, I am looking for how to enable more logs on my side if I see any trouble.

[2020-03-20 20:34] #32940 closed

[2020-03-20 20:35] niemyjski commented on #25178
I haven't seen this in a while but can we be sure we set a low timeout on connections.

[2020-03-20 20:37] snook commented on #32942
@escoand I did not have to do any restarts in order to get the TV to work OK, everything worked the first time after adding the files to the custom_components directory.

[2020-03-20 20:38] dgtal1 commented on #33048
I also tried a clean install a few minutes ago. Used the same Zwave network key, but the rest of HA was clean, no entities etc. Configured Z-wave and there's the same problem. It starts really long, again problem with getting an exclusive lock in OZW log when it starts. All nodes are Undefined and entities Unavailable.
So I exclude an update issue. A clean HA install doesn't help here and doesn't

[2020-03-20 20:43] frenck commented on #33029
Yep duplicate, closing this one.

[2020-03-20 20:43] #33029 closed

[2020-03-20 20:48] RockMonkey commented on #33048
I was on 106.x (Latest 106 I believe) and it worked fine.

[2020-03-20 20:51] frenck commented on #33033
Integration is removed in #33056 for 0.180

[2020-03-20 20:51] #33033 closed

[2020-03-20 20:52] Anonym-tsk commented on #32623
Same problem. MQTT switch and light works worst.

[2020-03-20 20:52] marianobntz commented on #32898
got this:
Logger: homeassistant.components.google_assistant.http
Integration: google_assistant (documentation, issues)
First occured: 5:33:55 PM (1 occurences)
Last logged: 5:33:55 PM

Request for https://homegraph.googleapis.com/v1/devices:reportStateAndNotification failed: 400
Connection lost. Reconnecting…

[2020-03-20 20:54] dgtal1 commented on #33048
Thanks. I will give it a try as I updated from 0.104.3. If 0.106 will work for me I'll add this to the issue title.
Hope this will help narrow down the possible causes for the devs. However when I look at the amount of unresolved issues with the 'zwave' label my hope got small ☹

[2020-03-20 20:56] drthanwho opened #33069 "Multiple Airvisual locations through integration not possible"
## The problem

Adding the AirVisual sensors through the integration on the UI is only letting me add one location for the integration. I thought I just need to add it again with a second location but it won't let you add same api key twice. Whereas, through configuration, according to docs, you can add multiple locations per one api key.

![image](https://user-images.githubusercontent.com/2240550

[2020-03-20 20:58] frenck commented on #32955
Something wonky on your virtual environment apparently 😩

The version conflicts are not solvable from our end, since they are caused by external packages.

So as from the issue standpoint, I think we can close this now.

[2020-03-20 20:58] #32955 closed

[2020-03-20 20:59] #33003 closed

[2020-03-20 21:00] frenck commented on #33019
But... did it fix the issue @zhulik ? :)

[2020-03-20 21:06] acomisp commented on #21462
How do you run this program?
I can remove the home assistant smart app in the new smart things program, it removes it in the classic starting app but if you click on add smart app in the classic program it still lists home assistant there even if the integration has been removed out of home assistant.

[2020-03-20 21:06] zhulik commented on #33019
Haven't checked it yet, sorry.

[2020-03-20 21:13] bachya commented on #33069
Thanks for the report @drthanwho. This is expected in that it's how I designed the integration to work. That said, I can see your use case more clearly now. Let me think about how best to solve it. 👍

[2020-03-20 21:21] zhulik commented on #33019
Ok, I've just pulled the 107.3 docker image. Same situation:
[code]

Each line is related to an automation with a ZHA trigger.

[2020-03-20 21:28] dmulcahey commented on #33019
Please provide what we asked for previously

[2020-03-20 21:38] zhulik commented on #33019
@dmulcahey a screenshot of the ZHA panel with the device: https://i.postimg.cc/13G7FYmt/Screenshot-20200320-222333.png. There is a lot of logs when the debug options are switched on. I'll ping you in Discord

[2020-03-20 21:42] dmulcahey commented on #33019
Thanks

[2020-03-20 21:45] N5A commented on #33024
Here is something talking about blocked by..  sanitized, but closest to anything viable I could see. I don't see anything trying to execute a command. What would I be looking for command wise? I flipped several switches and had zero result in the log. the entitied do come through the integration and showed up, I still have the entries in the YAML config, with the new changes does that need to be r

[2020-03-20 21:55] stephanmiehe commented on #32942
I was able to test this some more today and can confirm that this is an isolated issue. Resetting the TV to factory settings resolved the issue. I’ve tested with 3 different Samsung TV models now and everything works as expected.

[2020-03-20 22:01] kernehed commented on #33048
I was also at 106.6 and it worked fine, now i updated to 0.107.3 and it's undefined..

[2020-03-20 22:13] paparapapapapa commented on #33007
While fooling around trying everything, I formatted the script like in the release notes (official docs about Onvif have a patchy service part). So the script part now is like this:

[code]

I don't get the same error but these:

`
Logger: homeassistant.components.websocket_api.http.connection.140329819597328
Source: core.py:1212
Integration: websocket_api (documentation, issues)
First occurred: 1

[2020-03-20 22:15] escoand commented on #32942
To be honest I'm a bit confused. We have an issue but do not know why and what and after a reset it's fixed and we do also not know. Right?

So we can just merge the mentioned PR and it's working afterwards? I not really happy with this situation...

[2020-03-20 22:28] stephanmiehe commented on #32942
I think we can merge the current PR because to me that is an issue regardless and will prevent a lot of TVs even getting to the access confirmation prompt.

For the second issue (multiple access confirmation prompts) I'm happy to continue to share information here or we can open a new issue with the details. I've only been using the configuration file to declare my TVs since I need WOL functionali

[2020-03-20 22:34] Dirckvdb commented on #31054
I have the exact same problem. Anyone with a possible solution?

[2020-03-20 22:55] bf69 commented on #32944
it may be that it does not work with the model CS-CV206?
I did all the tests but always the same mistake..

[2020-03-20 23:02] Therealram commented on #33048
Have the same issue going from 106.6 to 107.1 and was having the same issue running on an aeotech usb zwave stick. I tried updating to 107.3 today and having the same issue. I will be rolling back to 106.6 for now.

[2020-03-20 23:04] Adminiuga commented on #33019
i think we know what the problem is. Fix gonna be interesting

[2020-03-20 23:05] zhulik commented on #33019
@Adminiuga can you provide some details? I'm really curious

[2020-03-20 23:06] Adminiuga commented on #33019
the problem is with ZHA loading the devices after the ZHA platform is setup, but automation tries to validate those prior the zha device gets actually loaded

[2020-03-20 23:10] kernehed commented on #33048
When I roll back I get the same issue...

[2020-03-20 23:10] zhulik commented on #33019
@Adminiuga thanks! Feel free to reach me if you need help with testing

[2020-03-20 23:23] #23998 closed

[2020-03-20 23:45] Jc2k commented on #32422
That looks like it might be fixed in dev (what will become 0.108.0 in a few weeks) but its hard to tell by eye, so lets test it.

First of all - are you running 0.107.2 now?

Then, do you know how to get shell access in the Docker container? E.g. can you open up `/usr/local/lib/python3.7/site-packages/aiohomekit/controller/ip/discovery.py` in a text editor inside the container? If so you should fi

[2020-03-20 23:49] davesmeghead commented on #33048
Same issue with 107.1 and 107.3. I rolled back to 106.6 and everything OK

[2020-03-20 23:50] zhulik commented on #33019
@Adminiuga seems like you're right: after reloading the automations using the server control UI they started working.

[2020-03-20 23:51] Adminiuga commented on #33019
thanks for confirming.
Are you running Hass, Docker or Venv?

[2020-03-20 23:52] Jc2k commented on #27037
Thanks everyone. 0.107.0 now uses a different fully asnyc homekit library. So the code that was implicated in those timeouts no longer exists, so it's going to be hard to do anything more in this ticket until someone gets back in touch. So i'm going to close this for now - but do open a fresh one or reach out if it reappears in a different form.

@jperquin happy to look at warm water if it ever ap

[2020-03-20 23:52] #27037 closed

[2020-03-20 23:53] zhulik commented on #33019
@Adminiuga currently I'm running home assistant core in docker: `image: homeassistant/home-assistant:0.107.3`

[2020-03-20 23:54] kpine commented on #33048
[code]

This error would mean that the zwave stick is already locked by another process, meaning you have two simultaneous copies of HA running (or something else using OZW).

There was a change to the docker containers for this version. If you are overriding the docker command it will result in two copies of HA running. Are you overriding the default command?

https://github.com/home-assistant/co

[2020-03-20 23:56] Adminiuga commented on #33019
Can you modify files of the "core" container?
Trying to think of a way to test it

[2020-03-20 23:57] Jc2k commented on #32662
Have confirmed as best i can that 0.107.0 timeouts are high enough, so closing this. Again, thanks for your help debugging it @ronaldheft.

[2020-03-20 23:57] #32662 closed

[2020-03-21 00:00] zhulik commented on #33019
Tell me what exactly I need to modify and I'll figure it out

[2020-03-21 00:06] Adminiuga commented on #33019
Would need to modify `homeassistant/components/zha` files. I think people were running something like `docker exec -ti homeassistant_container_name /bin/bash` to run a shell inside the container.

[2020-03-21 00:08] zhulik commented on #33019
@Adminiuga no problem, I can do it

[2020-03-21 00:26] davesmeghead commented on #33048
That would explain what I'm seeing in the log file.
[code]
How would I know and how would I fix it?

[2020-03-21 00:32] kpine commented on #33048
How did you create the container?

[2020-03-21 00:33] sparkydave1981 opened #33073 "camera snapshot service fails with high resolution cameras"
## The problem

When using the cameras.snapshot service for a high resolution camera (4K) the file is created with no content. ie: 0KB file size.  Using a low res camera (in this case a RPi camera) the service works fine.  The first camera in the below config is the high res, second is the RPi.

## Environment

 Home Assistant 0.106.6
arch | x86_64
dev | false
docker | true
hassio | true
os_name |

[2020-03-21 00:36] kpine commented on #31253
What are the generic and specific values of the node (in zwcfg*.xml)? The entities are only created if the types (plus command classes) match the discovery [schemas](https://github.com/home-assistant/core/blob/85328399e0a61249b0f38107b777587e5e32cf9c/homeassistant/components/zwave/discovery_schemas.py#L293).

[2020-03-21 00:37] sparkydave1981 commented on #33073
Not sure why my code and error log is not showing above, code is:

[code]

error log:

[2020-03-21 00:43] RockMonkey commented on #33048
So I see two instances of home assistant running, I'm also on Synology and Docker. I have not customized the startup cmd. I was on .106.6 and upgraded to 107 when Zwave stopped, port error as Home assistant was loading twice and is running twice. Ecobee API no longer works , etc.. I have only been running home assistant for less than a year. I update when new versions come out. I basically downloa

[2020-03-21 00:56] mikesalz commented on #32422
Hey @Jc2k !  I am actually on 0.107.3 as of this evening.  I am running HA in Docker on a Synology.  Forgive me for being a linux dummy, but I am having trouble getting to the correct spot.  I enabled SSH, then accessed through the Docker command line.  I got as far as  /usr/local/lib but I don't have python3.7.  I have python2.7.  When I access outside of docker (through putty on a PC) I see pyth

[2020-03-21 02:52] faspina commented on #33048
I am having the same problem, running HA Core in docker on unraid. Zwave has been reliable on HA for years. Upgrade to 0.107.0 lost 5 devices.   got them added back and just upgrade to 107.3 and lost them same 5  .When I first booted 107.3 up the entire zwave was all lost.

[2020-03-21 03:13] rradar opened #33076 "Wrong unit in ipma weather forecast (mm instead of % for rain)"
## The problem

The ipma component in home assistant provides the forecast for **rain in mm** despite that it's provided in **percentage by [ipma](https://www.ipma.pt/en/otempo/prev.localidade.hora/index.jsp#Aveiro&Aveiro)**.
![image](https://user-images.githubusercontent.com/34582688/77218196-a20b5a80-6b20-11ea-833f-18bc5960380d.png)
_(see last lines)_
![image](https://user-images.githubuserconte

[2020-03-21 03:27] BradStaton opened #33077 "AirVisual entities cannot be hidden from map via YAML"
## The problem

Entities created by the AirVisual integration (e.g. sensor.chinese_air_quality_index) cannot be hidden from the map through AirVisual's YAML configuration.  Previously, this integration supported a `show_on_map` configuration variable that allowed for this functionality.

## Environment

- Home Assistant release with the issue: 0.107.0
- Last working Home Assistant release (if know

[2020-03-21 03:32] Adminiuga commented on #33019
side question: what hardware are you running this one?
For some reason I can't seem to reproduce on Pi3B running "Home Assistant"

[2020-03-21 03:37] bachya commented on #33077
This isn't a bug: that option was moved into the UI (`Integrations -> AirVisual -> <gear icon>`) as a design decision and as part of https://github.com/home-assistant/core/pull/32634.

[2020-03-21 03:37] #33077 closed

[2020-03-21 03:38] BradStaton commented on #33077
Yes, it's an option available through the UI, but would be nice to have back in the YAML config.

[2020-03-21 03:41] bachya commented on #33077
I understand. Unfortunately, the integration cannot easily accommodate both in the way I think you're anticipating: if the `show_on_map` YAML key was introduced, its value would be imported into the UI upon HASS startup, but after that, future changes would be required via the UI.

[2020-03-21 03:51] faspina commented on #33048
Restarted unraid . Finally saw this error in the logs

2020-03-20 22:49:36 ERROR (Dummy-3) [openzwave] Error in manager callback
Traceback (most recent call last):
File "/usr/local/lib/python3.7/site-packages/openzwave/network.py", line 944, in zwcallback
self._handle_node_removed(args)
File "/usr/local/lib/python3.7/site-packages/openzwave/network.py", line 1250, in _handle_node_removed
**{'netwo

[2020-03-21 03:57] BradStaton commented on #33077
The problem I'm seeing with this new behavior is that the AV entities sit on top of the home location on the map.  Could they at least be hidden if they're inside the home zone?

[2020-03-21 03:59] bachya commented on #33077
That's more work than just toggling that option in the UI, no?

[2020-03-21 04:01] BradStaton commented on #33077
Some of us really like having our entire configuration maintained as configuration as code.

[2020-03-21 04:09] bachya commented on #33077
Understood – I'm trying to support both as far as I can, but that creates a maintenance burden for just one person. If you would like to take a crack at adding this functionality, PRs are welcome.

[2020-03-21 04:18] Therealram commented on #33048
I have an Aeotech zwave stick on a VM with 0.107.3 and it seems like it is cache loading everything despite having ready for all my zwave devices. When I try to stop and start Zwave I get this error. I have tried numerous restarts and heal networks. This is my Zwave log: [](https://hastebin.com/lixiheneja.mdInteresting)
Now after unplugging and restarting my VM it is starting the network but it st

[2020-03-21 04:27] chezpaul commented on #19189
I still have the same problem with fitbit. I get the error 500 server.
I'm trying @SPCulhane trick now.

[2020-03-21 04:27] #26886 closed

[2020-03-21 05:48] balloob commented on #32933
Hmm yeah I vaguely remember that `on` was only ever received from Google and was supposed to turn it back to the previous value, but cannot be returned as a current value.

Alright, yeah let's make it heat.

ps. I see that you are with the UT, that's where I studied too :)

[2020-03-21 05:53] andrearomanoif commented on #32944
Even for me always the same mistake. Unfortunately, replacing the email user with the username of the Ezviz App as indicated by Pakul83, the problem is not resolved. There must be another solution. Did anyone understand?

This is the mistake:

packages / pyezviz / camera.py ", line 97, in the state
'follow_move': self._switch [TYPE_FOLLOW_MOVE] ['enable'],
KeyError: 25

[2020-03-21 05:54] balloob commented on #32898
Can you add this to your YAML. It should allow us to see what it is sending.

[code]

[2020-03-21 06:06] frenck commented on #33073
Please edit the first post above and add all the requested information. Right now there is some vital information missing in order for us to debug and fix the issue.

Thanks! 👍

[2020-03-21 06:09] #29848 closed

[2020-03-21 06:09] #26146 closed

[2020-03-21 06:32] sparkydave1981 commented on #33073
I've tried many times to edit the post however all the info is there when I'm in the edit window....it just doesn't show up once I hit 'update comment' so I posted in the second comment

[2020-03-21 06:39] sparkydave1981 commented on #33073
Sorry, the info was in there but formatting was preventing it from showing after I clicked 'update comment'.  Hopefully all fixed now

[2020-03-21 07:10] frenck commented on #32385
No response. Closing issue, feel free to open a new issue using the issue template provided.

Thanks 👍

[2020-03-21 07:10] #32385 closed

[2020-03-21 07:11] frenck commented on #32504
This is a community provided installation solution, which is not supported by Home Assistant.

The above link by breti can provide more information and help around this issue.

Closing the issue from our end.

[2020-03-21 07:11] #32504 closed

[2020-03-21 07:11] frenck commented on #32555
No response. Closing issue, feel free to open a new issue using the issue template provided.

Thanks 👍

[2020-03-21 07:11] #32555 closed

[2020-03-21 07:12] frenck commented on #32654
No response. Closing issue, feel free to open a new issue using the issue template provided.

Thanks 👍

[2020-03-21 07:12] #32654 closed

[2020-03-21 07:12] frenck commented on #32677
No response. Closing issue, feel free to open a new issue using the issue template provided.

Thanks 👍

[2020-03-21 07:12] #32677 closed

[2020-03-21 07:14] frenck commented on #32834
No response. Closing issue, feel free to open a new issue using the issue template provided.

Thanks 👍

[2020-03-21 07:14] #32834 closed

[2020-03-21 07:14] frenck commented on #32863
No response. Closing issue, feel free to open a new issue using the issue template provided.

Thanks 👍

[2020-03-21 07:14] #32863 closed

[2020-03-21 07:36] ishalem commented on #32555
Sport, looks like issue is resolved, waiting for Shelly firmware to see if it's stable

[2020-03-21 07:56] andreamm12 commented on #32944
same problem, has anyone solved it?

[2020-03-21 08:06] silviudc commented on #29946
Still seeing this in 0.107.3, the apps using to connect to HA are the HA android app and Fully Kiosk android.

[2020-03-21 08:24] LeoCal commented on #33006
I created a new entry via the yaml config flow.
While doing this, I've noticed the same issue described by @beloso in the issue #33001: a never ending loop of notifications on my TV - until I was forced to kill home assistant to stop it.

[2020-03-21 08:25] scop commented on #29901
The upgrade was done in https://github.com/home-assistant/core/pull/32791 already, but looks like it's missing still from 0.107.4. I've added it to the 0.107.5 milestone at https://github.com/home-assistant/core/milestone/298, hopefully that's the correct procedure for requesting it.

[2020-03-21 08:45] zhulik commented on #33019
@Adminiuga a celeron-based pc from 2013.

[2020-03-21 08:46] Jc2k commented on #32422
I've never used docker (let alone HA) on a synology before. It might be easier to post what you typed?

The HA container comes with the right version of python. And the path I posted is from an error you pasted. So *somewhere* on your system there is a container with python 3.7. That you can find 2.7 and 3.5 to me means you just havent found the right place to look yet.

If you were ssh'd into the

[2020-03-21 08:48] stphndrnd opened #33085 "Trying to integrate Gardnea Smart Hub and getting error"
Hi,

I receive a pop-up in Home Assistant asking to configure the HomeKit Accessory for my Gardena smart irrigation system.

Following the install steps it throws back an error.

This is what I get in the log. Any clue on how to solve that? I get that the smart sprinkler part may not be supported but there are sensor associated with the gateway that I would like to have. And as per the dock it see

[2020-03-21 08:56] GeoffAtHome commented on #31839
I am seeing a similar problem. I have checked that I have sufficient disk space:
[code]
Not sure what to try next...

[2020-03-21 09:04] dgomes commented on #33076
Home Assistant UI currently doesn't provide a unit customisation for rain.

Either we keep this way or rain will be removed until such support is added.

[2020-03-21 09:04] #33076 closed

[2020-03-21 09:09] faizalgazali commented on #31054
I have the same issue. Really hoping to get my HA to interact with GA

[2020-03-21 09:12] elupus commented on #31054
Any errors in your logs @faizalgazali and @Dirckvdb

[2020-03-21 09:12] frenck commented on #31839
@GeoffAtHome Please don't dig up older issues, instead create a new one.

That said, a 404 is, in general, indicating there is not enough disk space free to complete the operation. Make sure you have enough disk space free.

[2020-03-21 09:16] Dirckvdb commented on #31054
@elupus no, unfortunately is seen nothing in the logs

[2020-03-21 09:39] faizalgazali commented on #31054
After login page it is linking
![WhatsApp Image 2020-03-21 at 17 36 19](https://user-images.githubusercontent.com/44336991/77223791-a6745980-6b9a-11ea-963d-bc9d9755ac22.jpeg)
And after that
![WhatsApp Image 2020-03-21 at 17 36 09](https://user-images.githubusercontent.com/44336991/77223800-b7bd6600-6b9a-11ea-8d59-9c9a92ab3874.jpeg)
In HA new token created represents a login session. And no logs.

[2020-03-21 09:50] Dulcow commented on #33048
Right, after a few hours of wrestling, several back and forth between some old snapshots (0.106.0) and a recent broken one (0.107.3), I managed to get Z-Wave to work again but I had to rename all the entities again. The last snapshot was restored with the option "Wipe & Restore", I don't know if something was wrong with PIP and OZW.

[2020-03-21 09:51] iromeo commented on #24313
Raspberry Bluetooth (RBp Model 3B) still stop working in a couple of hours (Home Assistant 107.2)

-----

Symptoms:
* charts not updated for several hours
* In HA logs `device_tracker` integration shows error:
[code]
* `hciconfig hci0 -a` (required SSH access, see https://developers.home-assistant.io/docs/hassio_debugging/) shows `DOWN`
[code]
* hciconfig `UP` doesn't work:
[code]
* `dmesg | grep

[2020-03-21 09:55] iromeo commented on #25704
UPDATE2:
Still doesn't work, Raspberry Pie bluetooth goes DOWN after some time, see 3 workarounds here https://github.com/home-assistant/core/issues/24313#issuecomment-602021023

[2020-03-21 09:55] olijouve commented on #32992
I don’t have any issue with homekit nor Zwave with 0.107.x, but homekit doesn’t start automatically on my system, i have an automation that wait for 2 min, after HA restart , before start homekit. It is to be sure Zwave has fully restarted before to load homekit, as stated in documentation.
Don’t know if it helps thus...

[2020-03-21 09:56] Dirckvdb commented on #31054
I get the follow error after the login page.

The error translates: Something went wrong, please try again.

![IMG_2071](https://user-images.githubusercontent.com/17417073/77224085-77da8c80-6b62-11ea-8e81-da5edef0846a.png)

[2020-03-21 10:04] hiscorebob opened #33088 "Sonos Media_Player is not updating it's state"
## The problem

## Environment

- Home Assistant release with the issue: 0.107.3
- Last working Home Assistant release (if known): 0.106.6
- Operating environment (Hass.io/Docker/Windows/etc.):  Hass.io
- Integration causing this issue: Sonos
- Link to integration documentation on our website: https://www.home-assistant.io/integrations/sonos/

## Problem-relevant `configuration.yaml`

Automaticall

[2020-03-21 10:07] StWiesi commented on #21899
I'm having the same issue with my Roborock S5 Max.
At around 3.40 every night, the first error appears and the device is basically not being usable within HA after that. Sometimes it fixes itself, sometimes not. The Mi Home app is working properly all the time.

`First occured: 3:48:25 AM (1224 occurences)
Last logged: 11:06:06 AM

Got exception while fetching the state: Unable to discover the dev

[2020-03-21 10:20] Jc2k commented on #32992
@olijouve thanks for suggestion but as @frenck said this was an issue with Docker configuration some users had. I'm going to close this as it's solved.

BTW, docs haven't been updated as homekit doesn't have a maintainer atm to test and update, but a couple of releases ago we started storing enough information in the entity registry to be able to configure things like Alexa and HomeKit integration

[2020-03-21 10:20] #32992 closed

[2020-03-21 10:21] GeoffAtHome commented on #31839
OK

[2020-03-21 10:26] montagp commented on #31924
@michaeldavie
This is unfortunate as I use this functionality to display alert details on my kitchen dashboard tablet and was a great feature to have.  :(
However I understand web scrapping is not the best way to obtain this information. Anyway thanks for a great integration!

[2020-03-21 10:31] CodeInDreams commented on #31054
Exactly same issue here. No useful logs.

[2020-03-21 10:34] jlvandusen opened #33089 "homeassistant/turn_on cannot be called without entity_id"
## The problem

## Environment

SYNOLOGY DOCKER
HA 107.4

## Problem-relevant `configuration.yaml`

This is in the core ... I dont know where to look where that .turn_on is being called

[code]

## Additional information

[2020-03-21 10:42] Fabenissimo opened #33090 "Homekit Integration randomly brings HA to crash"
## The problem

Hello,

I'm using the homekit integration (https://www.home-assistant.io/integrations/homekit/) for exposing some of my entities (Locks, Door/Window sensors, Water Leak Sensors, ...) that are not natively homekit compatible. Since a few releases back I've had problems with HA randomly "crashing" or "being unreachable".

## Environment

I've ran HA core for the past year on a RPi 3B

[2020-03-21 10:46] frenck commented on #33089
Looks like you are using a service call in some automation (`homeassistant.turn_on`), that has no entity id's (or nonexisting ones).

[2020-03-21 10:51] jlvandusen commented on #33089
[cid:image003.png@01D5FF4D.149DD3B0]

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Franck Nijhof <notifications@github.com>
Sent: Saturday, March 21, 2020 6:46:28 AM
To: home-assistant/core <core@noreply.github.com>
Cc: James VanDusen <jlvandusen@msn.com>; Author <author@noreply.github.com>
Subject: Re: [home-assistant/core]

[2020-03-21 10:51] jlvandusen commented on #33089
I have no automations

[2020-03-21 11:02] BaQs commented on #32981
Hi, this should be fixed in the next release, the card needs a stream which was not included in the first version:
https://github.com/home-assistant/core/pull/32451

[2020-03-21 11:04] BaQs commented on #32981
hi, what kind of camera are you using ?
can you confirm you are using the same credentials in the plugin as the ones you are using in the mobile app ?

[2020-03-21 11:12] frenck commented on #33089
Ok, so do you have anything else controlling the states of things? e.g., Node-RED or AppDaemon?

[2020-03-21 11:26] indykoning commented on #33065
I am also seeing this exact same log:
`Can not write request body for http://192.168.7.29:80/onvif/device_service`
on 107.3 While before it could connect.
I did an update from 106.6 to 107.3

[2020-03-21 11:42] dgtal1 commented on #33048
All - what @kpine wrote is the key thing here! If they changed the command how the container starts - it broke the existing startup procedure in Synology Docker. I used a customized version of Docker container configuration to avoid running it with high priviledges and have the USB stick visible under HA. However - when I now launched a new container without forwarding the USB port to HA under /zw

[2020-03-21 11:42] fairmine commented on #29737
I have docker-ce and Home Assistant 0.107.4 with debian 9
When I use
[code]
HA created new file feedreader.pickle in config directory with content:
_'utf-8' codec can't decode byte 0x80 in position 0: invalid start byte_

[2020-03-21 11:43] jlvandusen commented on #33089
Yes – Node-RED
Ah…. Let me do a search in there to see if there is an empty turn_on

From: Franck Nijhof<mailto:notifications@github.com>
Sent: Saturday, March 21, 2020 7:12 AM
To: home-assistant/core<mailto:core@noreply.github.com>
Cc: James VanDusen<mailto:jlvandusen@msn.com>; Author<mailto:author@noreply.github.com>
Subject: Re: [home-assistant/core] homeassistant/turn_on cannot be called witho

[2020-03-21 11:44] Omirax opened #33091 "feedreader.pickle"
## The problem
feedreader integration don't work with error 'utf-8' codec can't decode byte 0x80 in position 0: invalid start byte

## Environment

- Home Assistant release with the issue: 0.107.5
- Operating environment: Docker-ce
- Integration causing this issue: feedreader
- Link to integration documentation on our website: https://www.home-assistant.io/integrations/feedreader

## Problem-relev

[2020-03-21 11:54] #33048 closed

[2020-03-21 12:12] inputd commented on #33052
I'm closing the issue because I think this is an issue with the Konnected device, not an issue with HA/integrations

[2020-03-21 12:12] #33052 closed

[2020-03-21 12:17] RogerSelwyn commented on #32940
This issue should be resolved with an upgrade to 107.4

[2020-03-21 12:20] Azimoth opened #33092 "Can't configure Tradfri Gateway"
## The problem

Hi, after updating my Tradfri Gateway to version 1.10.29, I ran into the `Fatal DTLS error: code 115` mentioned on the integrations site. The recommended solution there is to

When I enter the security key and click configure, nothing seems to happen.

## Environment

- Home Assistant release with the issue: 0.107.4
- Last working Home Assistant release (if known):
- Operating envi

[2020-03-21 12:32] Jacoleroux commented on #33065
I have the same issue even with the latest update version | 0.107.4 few minutes ago.
It just shows **"Entity not available"**

[2020-03-21 12:35] sytchi opened #33093 "ONVIF Cameras with same IP but different profile treated as one entity"
## The problem

I updated yesterday my installation to 0.107.2 (same for 0.107.4). Unfortunately that broke my onvif cams  (DVR) configuration. I have several cameras on one DVR integrated through onvif. For each camera all the config is the same apart the profile number (e.g. same ip).
Ufter update HA tries to assign the same entity_id to all the cameras.

## Environment

- Home Assistant release

[2020-03-21 12:49] mailworks commented on #27142
same issue

[2020-03-21 13:02] guillempages commented on #33061
It looks as if the update coordinator doesn't fill the data as it should. It is working for me on my development branch, but I managed to reproduce the error on the dev branch.
I'll take a deeper look

[2020-03-21 13:22] guillempages commented on #33061
Ok, seems like the API can only get data for at most 10 stations at once, and you seem to have more than that.
I'll change the code to handle this gracefully, but I strongly recommend you to specify a smaller radius, so that you get less stations on your list. According to the Tankerkoenig Terms and Conditions, the API should not be used for massive fetching of data. There are no limits described

[2020-03-21 13:38] fitim7 commented on #33061
I have exactly 10 stations. Now I don't know if there are 10 because of the "limitation" you are talking about, or because there are just 10 stations in a radius of 5km.
With respect, I don't think that 10 stations should be a problem, because there was no problem in the custom_integration for this. A "massive fetching" of data should be caused by a higher scan_interval. Also I live in a small tow

[2020-03-21 13:40] BaQs commented on #32944
indeed I do only have c6n cameras, so I couldn't test with other models.

Also, could you please try the code from this branch ? (it contains few fixes and improvements):
https://github.com/home-assistant/core/pull/32451

[2020-03-21 13:44] NotSteveAtGithub opened #33095 "arlo integration fails to initialize in 0.107.2"
## The problem
I have been using the arlo integration for my Arlo hub and Arlo2 cameras successfully for a number of months now.  However, starting in 0.107.2, startup reports that the integration failed to initialize and that it is unable to set up the arlo.sensor and arlo.camera components.

## Environment

arch | aarch64
-- | --
dev | false
docker | true
hassio | true
os_name | Linux
os_version

[2020-03-21 13:45] faspina opened #33096 "Zwave not starting up"
Zwave devices set to unavailable. other not responding

## Environment

- Home Assistant release with the issue: 0.107.0
- Last working Home Assistant release (if known): 0.106.x tried going back but no luck
- Operating environment (Hass.io/Docker/Windows/etc.): Unraid docker
- Integration causing this issue: zwave
- Link to integration documentation on our website:

## Problem-relevant `configura

[2020-03-21 13:46] jochristian commented on #33041
I have the same problem. Somfy stopped working after upgrading to 107.1.
Not sure if the template underneath is ok?

**The problem**
Somfy integration for controlling shutter does not work anymore.

**Environment**
Home Assistant release with the issue: 107.4
Last working Home Assistant release (if known): - 106
Operating environment (Hass.io/Docker/Windows/etc.): Docker RancherOS

**Problem-relev

[2020-03-21 13:49] faspina commented on #33096
More info
2020-03-21 08:46:17 WARNING (MainThread) [homeassistant.components.zwave] Z-Wave not ready after 300 seconds, continuing anyway
2020-03-21 08:48:21 WARNING (MainThread) [homeassistant.components.zwave] Z-Wave not ready after 300 seconds, continuing anyway

[2020-03-21 13:53] OptimusGREEN commented on #33065
A work around in the meantime until this is fixed is to download the onvif component directory from the 0.106.6 version and place it in your `custom_components` directory and restart home assistant. [https://github.com/home-assistant/core/tree/0.106.6/homeassistant/components/onvif](url)

This is what has got my cameras back up and running.

[2020-03-21 13:56] guillempages commented on #33061
Well, I activated the debug logs, and found that I was only getting 10 results back (if I put a big enough radius to get more than 10). I did not try to find an exact radius and location to only get 10 ;-)
Anyway, I've added a warning if the list is longer than 10, and also a splitting of the data fetching, so that it does many calls to the API in chunks of 10.

In your custom_integration, were yo

[2020-03-21 13:57] guillaumelamirand commented on #33039
Hello,

I am facing the same issue about recorder with mysql.
After trying to display history in frontend, I have the following error i am log file :

[code]

[2020-03-21 14:00] faspina commented on #33096
Here is my ozw_log

[OZW Log](https://pastebin.com/2ZiQgDWg)

[2020-03-21 14:11] unehab commented on #30307
[tcpdump.zip](https://github.com/home-assistant/core/files/4363074/tcpdump.zip)

@TomerFi - I was looking at the code it seems like you are using TCP for control messages - I might be missing something but it looks like this -
https://github.com/home-assistant/core/blob/ffc9bcb4d7396312d2a9fa8d174bb6e81a3e0d5f/homeassistant/components/switcher_kis/switch.py#L144
is somewhat identical to the usage

[2020-03-21 14:12] itayraviv commented on #19890
same thing, any progress or resolution to this issue?

[2020-03-21 14:14] silviudc commented on #33093
I have also noticed the same as soon as updating to 0.107.0, I had two streams to the same camera (one low quality and one high) and I kept on getting errors that entity already exists.

[2020-03-21 14:15] Jacoleroux commented on #33065
Thanks for the work around, it does work now, nice to have people that know stuff...

[2020-03-21 14:25] silviudc opened #33099 "Gogogate2 integration errors"
## The problem
  Random errors in the logs in relation to the gogogate2 integration.
  Only stared happening once updated to 0.107.X versions

## Environment

- Home Assistant release with the issue:  0.107.3 (any 107 version so far)
- Last working Home Assistant release (if known): 0.106.6
- Operating environment (Hass.io/Docker/Windows/etc.): Docker on raspbian
- Integration causing this issue:

[2020-03-21 14:31] emresumengen commented on #32584
Hello @engrbm87 ,

Anything else I can check?

This looks like a problem with the integration. Were you able to look into it (and hopefully identify the culprit)?

Because of this issue, I have no tracking at all, since 106.5... Would really appreciate a workaround or a solution...

[2020-03-21 14:40] pinonpierre commented on #33093
Hi,

I think I found the commit that provoke the issue: (https://github.com/home-assistant/core/commit/edfb967b103d00d2d969faa274822bc9fb769307)

Probably relative to the code change of the 2020 february the 22th:

[code]

[code]

The unique Id seems to be generated from the hardware mac address...

I put a comment to the commit author @frenck but he seems to not understand the issue.

To have the

[2020-03-21 14:42] frenck commented on #33093
I do understand the issue now, since there is context here.
The comment you left on a commit, however, did not.

[2020-03-21 14:43] frenck commented on #33093
So a simple solution would be to take the profile ID into account, right?

[2020-03-21 14:44] pinonpierre commented on #33093
Why this response?

[2020-03-21 14:44] pinonpierre commented on #33093
Yes

[2020-03-21 14:46] Shyrka973 opened #33100 "netatmo_event is not register"
## The problem

I cannot use the netatmo event because it is not present.

## Environment

- Home Assistant release with the issue: 0.107.4
- Last working Home Assistant release (if known): ?
- Operating environment (Hass.io/Docker/Windows/etc.): Hass.io under Proxmox
- Integration causing this issue: netatmo
- Link to integration documentation on our website: https://www.home-assistant.io/integra

[2020-03-21 14:46] frenck commented on #33093
Because it was not clear your were talking about ONVIF capabilities from an aggregator, like a DVR.

Besides, we don't spend time on comments on commits or closed issues/PRs.

I'll look into adjusting this behavior.

[2020-03-21 14:54] horrorshow21 commented on #29975
Getting similar error.

2020-03-21 09:53:38 ERROR (MainThread) [homeassistant.config_entries] Error setting up entry email@email.xxx for simplisafe
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/config_entries.py", line 215, in async_setup
    hass, self
  File "/usr/src/homeassistant/homeassistant/components/simplisafe/__init__.py", line 223, in async_setup_entry

[2020-03-21 14:57] pinonpierre commented on #33093
Sorry if I answered on a place you don't want but I couldn't know that it was not recommended

You are a little bit aggressive, especially when you wrongly understand ;-)

But anyway, thanks for your help and have a good day

[2020-03-21 14:58] frenck commented on #33093
I even used please... there was no aggression intend from my end

[2020-03-21 15:01] ThaStealth opened #33101 "Issues with zones in package"
## The problem
Zones are not loaded when using package

## Environment

- Home Assistant release with the issue: 0.107.4
- Last working Home Assistant release (if known): 0.106.x (broken since 107.0)
- Operating environment (Hass.io/Docker/Windows/etc.): Docker
- Integration causing this issue: zone
- Link to integration documentation on our website: https://www.home-assistant.io/integrations/zone

[2020-03-21 15:05] paparapapapapa commented on #33007
Uploading 0.106.6 Onvif component to custom_components (and updating script with `camera.onvif_ptz` ) doesn't solve the issue with PTZ services.

[2020-03-21 15:07] pinonpierre commented on #33093
Let me remove my previous message, I probably misinterpreted you message.
One week of covid 19 confinement must make me paranoid.

Thanks

[2020-03-21 15:14] middelink opened #33102 "Automations with % in their names create a stacktrace"
## The problem

I have a few automations which have very descriptive names/aliases like:
[code]
Now, in 0.107, during execution of the script it will rightfully log that it is acting on things. However, as it uses the user supplied string as format (BAD BAD IDEA), the python formatter gets upset about the characters it adds behind the 70%

## Environment

- Home Assistant release with the issue: 0

[2020-03-21 15:45] #30707 closed

[2020-03-21 15:48] jason0x43 opened #33104 "Automation integration not waiting for requirements to be installed"
## The problem

I wrote a [hubitat integration](https://github.com/jason0x43/hacs-hubitat). Sometimes after updating Home Assistant, I'll get a notification in the HA UI that there was a problem with the automation integration (jason0x43/hacs-hubitat#29). From my logs, it looks like:

1. HA starts installing hubitat's required package, hubitatmaker
2. The device_automation integration tries to loa

[2020-03-21 15:50] #32942 closed

[2020-03-21 16:18] Fluxlicious opened #33106 "Velbus dimmer jumps back from 100% to 40%"
Using the Velbus integration: When setting a VMB4DC dimmer value (lights) to 100% using a light card the value jumps back to 40%. The lights however are in full brightness and the actual dimmer is set to 100%.

This probably has something to do with a 256 scale not being converted to a 100 scale.

## Environment

- Home Assistant release with the issue: 0.107.4
- Last working Home Assistant releas

[2020-03-21 16:39] bf69 commented on #32944
I can't edit the camera.py file and create the service.yaml file because I don't have permission to write to the /srv/homeassistant/lib/python3.7/site-packages/homeassistant/components/ezviz folder

[2020-03-21 16:43] thijsdejong commented on #33041
Somfy's SSL certificate for api.somfy.com expired 21-03-2020 13:00. It's up to them to fix that. It's interesting that their own apps don't seem to verify their certificate..

[2020-03-21 16:43] chrisakens commented on #33096
Having same issue. Logs are essentially identical

Running docker on debian.

Was working fine in 106.x. Tried rolling back to 106.x, was unsuccessful.

[2020-03-21 16:50] bf69 commented on #32981
yes, I use the same credentials.

[2020-03-21 16:50] bachya commented on #29975
@horrorshow21 Please help me debug by following [the instructions above](#issuecomment-569553695).

[2020-03-21 16:51] greberg commented on #32370
Just want to give a tip. You can run the receiver locally if you believe in keeping everything local. I manage to set it up with all my components and are now running it locally. You need to sign up and make your device as a dev device on Google 5 dollars and then you are good to go . You find how to do it here https://github.com/home-assistant/frontend/tree/dev/cast. I just running the cast recei

[2020-03-21 16:57] oxan commented on #32933
Great, I submitted #33107 to fix this.

PS. Cool, didn't know HA had roots here :)

[2020-03-21 17:10] Wordna1 commented on #31924
I am seeing the following errors when I run the Check Home Assistant configuration Addon:

I know this is related to the Environment Canada integration breaking change introduced by HA 0.107, but I am unclear how to resolve these errors.

https://www.home-assistant.io/blog/2020/03/18/release-107/

[2020-03-21 17:14] faspina commented on #33096
Traceback (most recent call last):
File "/usr/local/lib/python3.7/site-packages/openzwave/network.py", line 950, in zwcallback
self._handle_value_added(args)
File "/usr/local/lib/python3.7/site-packages/openzwave/network.py", line 1480, in _handle_value_added
'value' : self.nodes[args['nodeId']].values[args['valueId']['id']]})
File "/usr/local/lib/python3.7/site-packages/pydispatch/dispatcher.py",

[2020-03-21 17:25] #33019 closed

[2020-03-21 17:32] horrorshow21 commented on #29975
Getting stuck at step two. Setup a quick home assistant install on an Ubuntu VM. Possibly missing some dependency?

~/simplisafe-python$ make init
make: *** No rule to make target 'init'.  Stop.

[2020-03-21 17:37] thangdktd commented on #30215
@luisfosoares I have the same problem like you. Could you pls show me how to fix it. I tried the both way above. I created the folder /usr/lib/python3.8/site-packages/broadlink , but after restarted the  server, the folder gone.

[2020-03-21 17:52] bachya commented on #29975
Sorry, @horrorshow21; I changed things. 😆 At any rate, I'm noticing that you're having a different error than @almudawi - could you open a separate issue and we'll discuss there?

[2020-03-21 18:00] horrorshow21 commented on #29975
No problem.

[2020-03-21 18:04] balloob commented on #33101
The configuration of a zone is a list. By using `include_dir_named`, you're passing in a directory. Use `include_dir_list` instead.

[2020-03-21 18:04] #33101 closed

[2020-03-21 18:04] pinonpierre commented on #33093
Thanks @frenck for your fix :-)

[2020-03-21 18:09] horrorshow21 opened #33110 "Error setting up entry email@email.xxx for simplisafe"
## The problem

  New Simplisafe install, Added integration, but no devices/entities get created.

## Environment

  arch | x86_64
dev | false
docker | true
hassio | true
os_name | Linux
python_version | 3.7.6
timezone | America/New_York
version | 0.106.2
virtualenv | false

- Home Assistant release with the issue:  0.106.2
- Last working Home Assistant release (if known):
- Operating environment

[2020-03-21 18:12] AmirHosseinKarimi opened #33111 "Can create MQTT automation without MQTT integration installed"
## The problem
I want to create automation with MQTT platform, And just installed MQTT Broker(Mosquitto broker Add-on)
After install this add-on, without add MQTT integration, I can create an automation with MQTT platform
After creating this automation, this does not shown in automations list.
May because I have not installed MQTT integration.

## Environment

- Home Assistant release with the iss

[2020-03-21 18:13] Dysman opened #33112 "Support for older SamsungTV"
## The problem

Samsung TV dosen't work any more since it's switched to integration. Before it worked fine.
The integration reorts `This Samsung TV device is currently not supported.`

Manual config from configuration.yaml ends in the same result.

Device: UE55MU6179

## Environment

System: Hassio
Version: 0.107.4
Integration : [https://www.home-assistant.io/integrations/samsungtv/](url)

## Trac

[2020-03-21 18:14] stephanmiehe commented on #33006
@LeoCal, I would recommend the following:

- Go into the device/remote list on your TV and delete all devices. You can find this in the settings of the TV.
- In that same menu you'll also see an option to control when authorization should be requested (off, each time, once). Make sure `once` is selected.
- Remove the integration from HA in the integration menu. Based on your config above it should

[2020-03-21 18:20] matejdro commented on #30124
This has not been fixed yet.

[2020-03-21 18:27] #29971 closed

[2020-03-21 18:29] frenck commented on #33093
No problem, having a unique ID allows one to change the name, icon & entity_id of an ONVIF camera from the frontend, which is kinda nice and cool IMHO.

The fix is backward compatible and awaiting review.

[2020-03-21 18:36] #33093 closed

[2020-03-21 18:40] elupus commented on #30124
I realised a relative issue would plauge my new openid auth manager. If a user is removed from openid access, any issued credential may continue to work. I might need to investigate this for that reason.

[2020-03-21 18:43] jpreiditsch commented on #33095
I see this in 107.4 as well.
From the home assistant log file it seems to try to authenticate 3 times then fails. Maybe arlo changed the response format slightly. I did authenticate using postman to the arlo api

[2020-03-21 18:44] brefra commented on #33106
I’d a quick look into this issue. HA sends a brightness in 0-255 while Velbus messages should contain 0-100. I’ll try to write a conversation for this to fix this.

[2020-03-21 18:46] escoand commented on #33112
Known and already fixed https://github.com/home-assistant/core/pull/33001. Will be hopefully in the next 0.107.x release.

[2020-03-21 18:56] escoand commented on #33006
When we need to remove the old auth from the TV then this sounds exactly what is already mentioned in a comment in the code:
https://github.com/home-assistant/core/blob/5893f6b14b0098c41fdef05e00eef0d81bb5bb81/homeassistant/components/samsungtv/bridge.py#L177 and https://github.com/home-assistant/core/blob/5893f6b14b0098c41fdef05e00eef0d81bb5bb81/homeassistant/components/samsungtv/bridge.py#L258

[2020-03-21 18:58] BaQs commented on #32981
could you please share :
- your config (obfuscating password of course)
- the model(s) of cameras you have

Can you confirm the camera's local IP is accessible from home-assistant ?

[2020-03-21 18:59] makuser opened #33113 "homeassistant-pyozw 0.1.9 openzwave-embed/open-zwave-hass/libopenzwave.a: No such file or directory"
## The problem

After upgrading homeassistant to 0.107.0 Z-Wave does not work anymore, because libopenzwave required by homeassistant_pyozw can not be compiled. Currently `homeassistant_pyozw==0.1.8` is installed in my venv.

## Environment

- Home Assistant release with the issue: 0.107
- Last working Home Assistant release (if known): 0.106
- Operating environment (Hass.io/Docker/Windows/etc.):

[2020-03-21 19:02] cgtobi commented on #33100
Everything looks alright. Have you actually tried to listen to the event?

<img width="384" alt="image" src="https://user-images.githubusercontent.com/856782/77234456-d4639900-6bae-11ea-94d7-c4a352c17af2.png">

[2020-03-21 19:03] cgtobi commented on #33100
The list you see under `/developer-tools/event` shows the events that are listened to, not the available events.

[2020-03-21 19:30] martymarty004 commented on #32493
Same problem with my new HA installation (Raspberry), manual config works but I can't set fixed IPs (and Yeelight fw doesn't support static IP config)

[2020-03-21 19:41] tsikup commented on #32493
Same problem. The lights are shown as unavailable, although I control them from another home assistant instance (on rpi), the yeelight app and google home.

[2020-03-21 19:46] fitim7 commented on #33061
TBH, im not a coder and don't know a lot about this like you do. The custom_integration I was using was this here: https://github.com/panbachi/homeassistant-tankerkoenig
The difference here was also, that I added the stations manually, and not with a radius (I like the way with the radius much more)...
So what do I need to change here, that this will work without problems? Will your fix handle thi

[2020-03-21 19:56] bf69 commented on #32981
my configuration:
- platform: ezviz
    username: xxxx@xxx.it  #my email
    password: yyyyyy          #my pwd
    cameras:
      803448342:  # CS-CV206-B0-31WFR-Wind0020170729CCRR803448342:  #DEVICE SERIAL
        username: admin
        password: xxxxx

from the EZVIZ app I get as serial: 803448342. always from the app in live LAN view I get: CS-CV206-B0-31WFR-Wind0020170729CCRR803448342.
If I d

[2020-03-21 19:59] janhatton commented on #32948
Hi, I am also having this problem, it seemed to be working until a few days ago and I was hoping to use the animal detection as part of an automation. I assumed that I had broken the config, however, others seem to have the same issue. Any pointers to resolve would be appreciated.

[2020-03-21 20:03] BaQs commented on #32981
ok thanks for the details.
I don't have this kind of camera, so if you can help me debug all of that, it could be great.

Do you know how to install a "custom component" ? I could give you some peace of code with a view to debugging the situation. It could be really helpfull for others also.

Wanna try ?

[2020-03-21 20:05] Rikkie80 commented on #32981
I used my real username and not my email address. This worked for me...

[2020-03-21 20:06] BaQs commented on #32981
@Rikkie80 : which model of camera(s) do you have ?

I personnaly use my email address and it works

[2020-03-21 20:09] BaQs commented on #32981
To confirm the connection: are you able to connect here:
https://euauth.ezvizlife.com/signIn
?

[2020-03-21 20:14] Rikkie80 commented on #32981
Yes, I am

[2020-03-21 20:16] BaQs commented on #32981
ok, that's the auth mechanism used by the pypi package. If your email works there, it should work also when used in the HASS' configuration

[2020-03-21 20:16] tetienne commented on #33041
@thijsdejong their application doesn't use their official API.

[2020-03-21 20:37] bf69 commented on #32981
how is your configuration?

[2020-03-21 20:38] bf69 commented on #32981
I'm new to the environment, if you explain me I'll try ..

[2020-03-21 20:40] guillempages commented on #33061
Ok, I didn't even know there was already a custom integration for that :-D

In case you are interested, the custom integration is directly accessing the API via HTTP; but it is using the same code as the pytankerkoenig library, so I don't know why it works there but not here.

My fix will allow you to have 10 or more stations (I tried with about 20), but it is still unclear whether it will come in

[2020-03-21 20:42] greberg commented on #32370
One more tip to add if someone wants to run it locally. Not sure if this is obvious for everyone but I will write it here.

When I run through my Chrome browser and go to my local my cast launcher, start casting from the launcher and chose home_cast view everything is loaded as expected. No problem to inspect the device using chrome://inspect/#devices. But when I close down the cast and try to sta

[2020-03-21 20:58] harley4ik commented on #16698
HASS 0.107.4
Logger: homeassistant.components.bluetooth_le_tracker.device_tracker
Source: components/bluetooth_le_tracker/device_tracker.py:119
Integration: bluetooth_le_tracker (documentation, issues)
First occurred: 10:44:42 PM (27 occurrences)
Last logged: 10:54:27 PM

Error during Bluetooth LE scan: Unexpected error when scanning: LE Scan

[2020-03-21 21:11] kpine commented on #33113
You are missing libudev. https://www.home-assistant.io/docs/z-wave/installation#unable-to-install-python-openzwave

[2020-03-21 21:12] metbril commented on #27471
dont close yet

[2020-03-21 21:14] kpine commented on #33113
Also depends on when you tried to install. Python wheels are not always available right after release. They seem to be there now though. https://www.piwheels.org/project/homeassistant-pyozw/

[2020-03-21 21:14] Teocell commented on #32981
I tried to create a custom component with latest camera.py file (updated around 1h ago). I still have the same problem.

Here you can find the status of my camera:
[code]
Here you can find the configuration:
[code]

And here the log:
[code]

[2020-03-21 21:16] Dirckvdb commented on #31054
@CodeInDreams @faizalgazali are you guys also running home assistant in Docker in combination with Nginx?

[2020-03-21 21:17] Menelao147 commented on #32944
Hi, I tried to integrate the branch by using the custom_components folder.

This is the log with the original version:
[code]

This is the log with the branch:
[code]

[2020-03-21 21:30] Therealram opened #33119 "Zwave not sending or receiving state updates. ERROR: Dropping command, expected response not received after 1 attempt(s)"
## Checklist

- [x] I have updated to the latest available Home Assistant version.
- [x] I have cleared the cache of my browser.
- [x] I have tried a different browser to see if it is related to my browser.

## The problem

Z-wave devices are not able to be updated through home assistant and updates when switches are changed physically are not reflected in the UI or on the states page. The zwave s

[2020-03-21 21:36] kombi21251 commented on #20129
Hello! I am have the same problem. In Objects the light.hyperion is available, but this object dosent have uniqle entity id. Maybe this dosen't supported by integration Hyperion.

[2020-03-21 21:36] ocalvo commented on #33095
I am also seeing this as well, perhaps is because Arlo requires Two Factor Authentication?

[2020-03-21 21:47] impascab commented on #25747
I'm running the Hass.io Supervisor docker on my unraid server (https://github.com/digiblur/unraid-docker-templates) and the supervisor always stops itself and i'm getting some error messages related to AppArmor and to update supervisor to version 209.
I've tried pretty much everything suggested but the problem always comes back whatever I do
`[32m20-03-21 15:19:05 INFO (MainThread) [supervisor.su

[2020-03-21 21:57] BaQs commented on #32981
did you enable

`ffmpeg:
`

in your configuration ?

[2020-03-21 22:01] #33110 closed

[2020-03-21 22:02] Armadill0 opened #33117 "Tankerkoenig only delivers the 10 nearest stations"
## The problem

Hey guys,

I'm using home-assistant custom installed since some days and started using the Tankerkoenig integration today. I configured it via the configuration yaml, see below.

Afterwards I configured the third party plugin "auto-entities" to retrieve a list of stations with a specific fuel_type type ordered by price:
[code]
I also customized some station names for recognition, a

[2020-03-21 22:04] Kalma-House commented on #32293
Sorry to have taken so long.

Here is the data you asked for:
- States Attributes of a light:
![imagen](https://user-images.githubusercontent.com/59121554/77237354-c40be800-6bc7-11ea-9215-b19c53b0dddf.png)
- Request and Response from the Alexa API:
`2020-03-21 22:25:18 DEBUG (MainThread) [homeassistant.components.alexa.smart_home_http] Received Alexa Smart Home request: {'directive': {'header': {'

[2020-03-21 22:04] BaQs commented on #32981
So, you need to create the folder:

custom_components

in your config folder.
Then, inside, copy the ezviz folder from here:
https://github.com/BaQs/home-assistant/tree/ezviz_ptz/homeassistant/components/ezviz

(you can for instance copy/paste each file from the "raw" version.)

Don't forget to enable debug logs & ffmpeg in your configuration.yaml (see the post above).

Also, reboot home-assistant

[2020-03-21 22:09] tetienne commented on #33041
Issue opened the dependency repository : https://github.com/tetienne/somfy-open-api/issues/40

[2020-03-21 22:12] #33061 closed

[2020-03-21 22:14] #32952 closed

[2020-03-21 22:18] guillempages commented on #33061
The fix will be released in 0.107.5

[2020-03-21 22:18] BaQs commented on #32944
sorry but it seams you didn't load the proper code.
Are you sure it's similar to
https://github.com/BaQs/home-assistant/blob/ezviz_ptz/homeassistant/components/ezviz/camera.py ?
(especially line 219)

[2020-03-21 22:28] Teocell commented on #32981
This is the last error I got:
[code]

[2020-03-21 22:37] BaQs commented on #32981
@Teocell : can you access the camera's stream by accessing it at rtsp://admin:xxx@192.168.1.42:554 ?

[2020-03-21 23:13] Dysman commented on #33112
Thanks @escoand
Will wait for the next release and sending feedback how it works,

[2020-03-21 23:24] Peter9915 opened #33122 "docker image for 0.107 doesnt work with specified user"
In order to be able to fully access the config files on the host, I run my home-assistant docker image with the docker --user parameters so the files it generates in the /config dir have the correct userids.

Since version 0.107, it seems that something called s6 has been introduced that breaks this setup: I can only use 0.106.x images at the moment, version 0.107 gives the error
``message s6-mkdi

[2020-03-21 23:53] Menelao147 commented on #32944
To be sure I downloaded the code you linked, but the log is always the same.

[code]

[2020-03-21 23:55] Teocell commented on #32981
yes I can, it is streaming live

[2020-03-22 00:13] guillempages commented on #33117
Thanks for the detailed analysis!

This looks like a duplicate of #33061 (or at least seems to share the root cause), the fix should be available in 0.107.5.
Can you try again when that is available and see if it can still be reproduced?

[2020-03-22 00:33] Zocker1999NET opened #33125 "rpi_gpio fails in Docker"
## The problem

I cannot use the component due to the error `Platform error sensor.rpi_gpio - No module named 'homeassistant.components.rpi_gpio.sensor'` given by the frontend while testing the configuration.

## Environment

- Home Assistant release with the issue: 0.107.4
- Last working Home Assistant release (if known): none known
- Operating environment (Hass.io/Docker/Windows/etc.): Docker (o

[2020-03-22 00:43] singhj0910 commented on #33039
I'm having the same issue. I run MariaDB in an external server on my Windows machine. It's running just fine but HA is lagging a few hours with log updates and huge missing gaps of time in between each set of updates. States show up correctly but history is not accurate since it's not updating in real time.

So far I've only come across one error in the logs and it's the first one that shows up af

[2020-03-22 01:12] ecadagiani commented on #32944
Hi everyone, I work for me (with an CTQ6C).
#### my solution:
- Add `ffmpeg:` to configuration
- Ezviz config:
[code]

I share my research, hoping that it could help someone:

- Firstly, I tested my camera with a rtsp url in vlc: rtsp://admin:<verification code>@<camera ip>:554

 - Secondly, because it is late and the French confinement is probably starting to steal my mental health, I explored th

[2020-03-22 01:29] lizeroy commented on #33095
I am now seeing the same error as well, MFA would make sense.  Is there some sort of work around?

[2020-03-22 01:29] ocalvo opened #33126 "Z-Wave Lock unresponsive"
## The problem

When pairing a Z-Wave lock to home assistant, the device is unresponsive to the lock and unlock commands.

## Environment

- Home Assistant release with the issue: 0.107.4
- Last working Home Assistant release (if known): Unknown
- Operating environment (Hass.io/Docker/Windows/etc.): Hass.io
- Integration causing this issue: N/A
- Link to integration documentation on our website:

[2020-03-22 01:40] NotSteveAtGithub commented on #33095
The account I use for home assistant has 2FA turned off, and I have verified that I can log into the Arlo website with that account.  I'm guessing that @jpreiditsch 's theory about arlo possibly changing the response format could be the culprit, but sadly I'm not set up to debug this.

[2020-03-22 01:46] N5A commented on #33024
Well. currently it appears with HA Core 107.4 The integration is back to actually affecting the Unifi Controller and can block/unblock but it does not reflect state in the Lovelace UI, Lovelace UI is watching using the Switch.XXXX entity.   All appear on in the Lovelace UI. Clicking a switch will cause it to turn off momentarily, which also sends the command to block that device in Unifi.  Lovelac

[2020-03-22 01:51] lizeroy commented on #33095
Same here the account I am using has MFA turned off.

[2020-03-22 02:26] cybool opened #33128 "Google travel time component stopped to work"
## The problem
After upgrade to 0.107.4 I have found that google travel time component stopped to work.

## Environment

- Home Assistant release with the issue: 0.107.4
- Last working Home Assistant release (if known): 0.107.1
- Operating environment (Hass.io/Docker/Windows/etc.): Dicker
- Integration causing this issue: google travel time
- Link to integration documentation on our website: https

[2020-03-22 02:41] dshokouhi commented on #33126
Did you make sure to include it securely? I don't see a nonce report being sent which normally suggests the lock was added securely.  Zwave locks that are not paired securely do not accept commands.

[2020-03-22 02:45] dshokouhi commented on #33122
Please make sure not to delete the issue template.  All requested information is needed to help you out.

[2020-03-22 03:36] bdraco commented on #32924
@dedepene Can you try 0.107.x.  If it doesn't make a big different, try setting your `commit_interval` to 50 (see https://www.home-assistant.io/integrations/recorder/)

[2020-03-22 03:40] CodeInDreams commented on #31054
I'm running Home Assistant 0.106.6 on HassOS. Using nginx on hass.io official repository.
Here is the config:
domain: #mydomain.com
certfile: fullchain.pem
keyfile: privkey.pem
hsts: max-age=31536000; includeSubDomains
cloudflare: false
customize:
  active: false
  default: nginx_proxy_default*.conf
  servers: nginx_proxy/*.conf

[2020-03-22 03:41] DavidFW1960 opened #33129 "GDACS not removing old entities"
## The problem
GDACS entities are not being removed and must be manually deleted

## Environment

- Home Assistant release with the issue: 0.107.x
- Last working Home Assistant release (if known): ?
- Operating environment (Hass.io/Docker/Windows/etc.): hass.io
- Integration causing this issue: GDACS
- Link to integration documentation on our website:

## Problem-relevant `configuration.yaml`

[co

[2020-03-22 03:42] skynet01 commented on #30362
Any word on fixing this? There is a patch that fixes the issue mentioned in a comment here: https://github.com/home-assistant/core/issues/28602#issuecomment-567312976
Right now all the Tuya lights that have color no longer have color options.

[2020-03-22 03:50] ocalvo commented on #33126
I did not, I paired non secure way.
Can you share how to fix this situation?
I assume I need to remove the node and add it again.

[2020-03-22 04:13] dshokouhi commented on #33126
Yes you will need to remove the node first and then add it securely.  Make sure you have a network key setup too before you attempt to click on Add Node Secure.

https://www.home-assistant.io/docs/z-wave/adding/#network-key

Adding a secure device is listed below those steps.  Going to close this issue now, if you still have an issue with the lock please comment back and we can reopen this.

[2020-03-22 04:13] #33126 closed

[2020-03-22 04:59] denisjoshua commented on #26729
I don't know why... but my Hassio work only for some days after I generate
a new cookie file :-(
Thanks

[2020-03-22 06:31] i00 opened #33131 "Keep Jinja as it is written"
## The problem

When Jinja is written and then saved for e.g in automatons / Lovelace etc it turns nicely formatted entry into a mess

## Environment

- Home Assistant release with the issue: 0.106.5
- Last working Home Assistant release (if known): It has always been like this
- Operating environment (Hass.io/Docker/Windows/etc.): Docker
- Integration causing this issue: Templating
- Link to inte

[2020-03-22 06:54] exxamalte commented on #33129
When a geolocation entity disappears from the feed or is too far away it should be removed automatically. I've fixed a similar issue in a different geolocation integration recently - I will look into this and see if I can apply the same fix here.

[2020-03-22 06:55] exxamalte commented on #33129
Note to self: This commit may have a suitable fix: https://github.com/home-assistant/core/pull/32338/commits/5c930de9be02e1748392b03fcfc597c0998ddc4f

[2020-03-22 07:12] BaQs commented on #32981
Ok, cool. Can you share the debug logs please ?

[2020-03-22 07:23] Nowaker commented on #31597
@Adrimau Can you reopen this ticket? I'm getting the same problem with my Arlo integration.

[2020-03-22 07:28] JBusch commented on #28811
yeah, using it, too. with not showing up here as well.

[2020-03-22 07:36] dezuber commented on #24780
hey would you mind explaining how to add that? i'm having the same issue as i'm trying to use an automation based on th read-out.

[2020-03-22 07:37] dedepene commented on #32924
Yes, I can confirm IO rate is down to the usual levels with 0.107.1. Thanks!

[2020-03-22 07:37] #32924 closed

[2020-03-22 07:39] matejdro commented on #27244
I don't think this has been solved, but I don't have the thermostat anymore, so I cannot test it.

[2020-03-22 07:42] DavidFW1960 commented on #33129
Yeah... it works fine for NSW fire service one and also WWLLN (zero alerts for that lately). It did the same when the drought 'finished'

[2020-03-22 07:43] Nowaker opened #33132 "mychevy: KeyError: 'vehicleMap'"
## The problem

As per the Log Details:

Error updating mychevy data. This probably means the OnStar link is down again
Traceback (most recent call last):
[code]
During handling of the above exception, another exception occurred:

[code]

## Environment

- Home Assistant release with the issue: 0.107.5
- Last working Home Assistant release (if known): unknown
- Operating environment (Hass.io/Docke

[2020-03-22 07:43] faizalgazali commented on #31054
@CodeInDreams I am using HassOS 3.12 on raspberry pie with Nginx

[2020-03-22 07:53] Teocell commented on #32981
How may I share it?

Thanks,
Marco

Il giorno dom 22 mar 2020 alle 08:12 Pierre <notifications@github.com> ha
scritto:

--
Marco

[2020-03-22 07:55] BaQs commented on #32944
@Menelao147 : the issue seems to come from the pypi package itself.

could you install the package:
`pypi install pyezviz`

and then launch:

`pyezviz -u 'user@name.com.' -p 'my_password' devices status`

[2020-03-22 08:01] BaQs commented on #32981
copy-paste the ezviz relevant logs here please, don't forget to obfuscate sensible informations

[2020-03-22 08:07] balonchiks opened #33134 "Duplicate instance of homeassistance (lovelace?) since upgrade to 107.x"
## The problem

Hi, since upgradeto 107.1 (and later versions up until 107.5) i am receiving duplicate notifications from notification service, which is in my case telegram. meaning that while i was receiving 1 notification i now receive 2 of them at the same time. Moreover, i've noticed that the number of requests to darksky api doubled and a number of requests to yandextts also doubled. It all l

[2020-03-22 08:11] BaQs commented on #32981
change this line to the new pyezviz version in manifest.json:

`  "requirements": ["pyezviz==0.1.5.3"]`

[2020-03-22 08:20] Santobert commented on #27244
I can confirm. The issue is still unsolved

[2020-03-22 08:22] kuradi commented on #33039
i have also problem with external sql after latest update.

[2020-03-22 08:22] sj3fk3 commented on #33134
Yeah there is something fishy going on in the docker container for sure:

`root     19405  0.0  0.0      0     0 ?        I    09:07   0:00 [kworker/1:2]
root     19443  0.0  0.2   9364  5296 ?        Sl   09:07   0:00 containerd-shim -namespace moby -workdir /var/lib/containerd/io.containerd.runtime.v1.linux/moby/7a3601d7cdbc33e1067917d161618403468136c42ff7948d3bdcb468703cc3cb -address /run/conta

[2020-03-22 08:31] Armadill0 commented on #33117
Yes works with 0.107.5, thank you! 😄

[2020-03-22 08:31] #33117 closed

[2020-03-22 08:32] Imperial-Guard opened #33135 "Problem with TwenteMilieu Integrations"
## The problem

After upgrading to 0.107.5 sensors from the integrations seems to be unavailable
![image](https://user-images.githubusercontent.com/33509000/77245597-019c5f80-6c20-11ea-8b2f-0b6cd6176521.png)

## Environment

- Home Assistant release with the issue:  0.107.5
- Last working Home Assistant release (if known): 0.107.1
- Operating environment (Hass.io/Docker/Windows/etc.): Docker
- Int

[2020-03-22 08:47] greberg commented on #28892
Getting the same issue after I have closed down the cast to my nest hub for the night and try to start casting again next morning. I can cast from my launcher to the nest hub but not from HA service. Seems like HA is in some kind of locked state and thinks it is still in connecting.... state or something.

Exception in _handle_signal_show_view when dispatching 'cast_show_view': (<pychromecast.cont

[2020-03-22 09:03] da-anda commented on #32976
just to be correct - the feature is not new in 0.107. The only new thing are the exposed attributes so that you now can see the current zone configuration, but the multiroom handling (service) itself is there since ages.

[2020-03-22 09:20] Teocell commented on #32981
I changed it.

Right now I can use the services but I still cannot stream with the same error as before
`Error requesting stream: camera.salotto does not support play stream service`

I tried both: with the serial number and the actual name on the app, the email and the user_id. Everytime the same behaviour

The log is basically empty, there are no raws about ezviz (except for the starting ones).

[2020-03-22 09:26] matoxp commented on #24780
Depending on the version of home-assistant you're running, either edit `components/switch/mystrom.py` or `components/mystrom/switch.py`, look for `def current_power_w(self):`, change the return statement two lines below to `return round(self.data['power'] + 0.01, 2)` and finally restart home-assistant.

[2020-03-22 09:33] jlvandusen commented on #33089
I dumped all my flows to JSON and reviewed each... searching by this topic
`"service_domain":"homeassistant","service":"turn_on","entityId":` and verified there was always an object folling the entityid.... so I am at a loss.

[2020-03-22 09:39] Teocell commented on #32981
Guys now it works, sorry, my fault: I didn't put !secret before the password... shame on me!

Anyway, now I can help you to identify improvements if any

[2020-03-22 09:43] garyak opened #33137 "homekit_controller: Somewhat unreliable (but still functional) with Lennox S30"
## The problem

Using the Simple Thermostat Card generated the listed error when adjusting the temperature set point on the Lennox S30. Device and cloud App updated to reflect the new set point within 30 seconds.

## Environment

- Home Assistant release with the issue: 107.4
- Last working Home Assistant release (if known): 107.1
- Operating environment (Hass.io/Docker/Windows/etc.): NUC/Ubuntu/H

[2020-03-22 09:54] jlvandusen commented on #33089
Found it!
appears groups was never loading as I was using the ole view: to hide them in the state views... which was ignored up until 107 builds.

[2020-03-22 09:54] #33089 closed

[2020-03-22 10:11] Ndrinta commented on #33039
**I have a similar issue with the default database after the upgrade to 0.107.x**

If you want you can have a look [here](https://community.home-assistant.io/t/history-recorder-freezes-after-a-few-hours-after-upgrade-to-107/180205?u=peeshow)

[2020-03-22 10:17] mwiora commented on #10473
@pirol62: I think this is a separated use case

back to topic:
indeed it would be useful to set a theme as default, as I have the need to change only one property bound to an automation item. For example - one special window/door is open I want to change the primary color of the frontend....

Cheers,
Matthias

[2020-03-22 10:31] Menelao147 commented on #32944
@BaQs : Unfortunately I'm not very familiar with python, but if you can guide me, I will be happy to do this test.
I'm running home assistant on a Raspberry Pi 4

[2020-03-22 10:37] BaQs commented on #32981
Ah!

That’s good then thx !

[2020-03-22 10:38] BaQs commented on #32944
Are you familiar with shell commands ?

[2020-03-22 10:47] mixoum commented on #32762
Hello,

I can not add the linky integration. I have the issue: " Erreur inconnue: merci de réessayer plus tard (pas entre 23h et 2h)". I try to add it since since few weeks.
I have uptaded to 0.107 but it changed nothing.

It works fine on Enedis and EDF website.

any ideas?

thank you

[2020-03-22 10:50] mixoum commented on #32762
in the
Logger: homeassistant.components.linky.config_flow
In the log file I have:

No Data
Source: components/linky/config_flow.py:82
Integration: linky (documentation, issues)
First occurred: 11:20:41 (2 occurrences)
Last logged: 11:39:41

[2020-03-22 10:51] balonchiks commented on #33134
checked the logs from docker container, it appears that the issue is not in notifications, but the container itself since everything is being loaded twice since the start of container:
[code]

[2020-03-22 10:55] Menelao147 commented on #32944
A little, I've Terminal add-on installed

[2020-03-22 11:01] mixoum commented on #31017
Hello,
I can not connect to linky integration whatever how I tried to do it (by configuration.yaml file or directly by the integration interface). I have the following error:
Erreur inconnue: merci de réessayer plus tard (pas entre 23h et 2h)

with the log file:

No data

Logger: homeassistant.components.linky.config_flow
Source: components/linky/config_flow.py:82
Integration: linky (documentation

[2020-03-22 11:12] chemelli74 opened #33138 "Neato integration: last cleaning date issue"
## The problem

Two issues:

- date has a "timestamp" extra on display
- date shows 2020-03-08 as last cleaning but today UI says "1 week ago"

## Environment

- Home Assistant release with the issue: 0.106.6
- Last working Home Assistant release (if known): unknown
- Operating environment (Hass.io/Docker/Windows/etc.): Docker
- Integration causing this issue: Neato
- Link to integration documenta

[2020-03-22 11:36] troich77 opened #33140 "Can not pair homekit_controller with home assistant. After reboot HA unpair homekit_controller"
Device:
Smart Relay2
Rubetek
 339.0

Environment:
arch | x86_64
-- | --
dev | false
docker | true
hassio | true
os_name | Linux
os_version | 4.19.107
python_version | 3.7.7
timezone | Europe/Moscow
version | 0.107.5
virtualenv | false

Log:
2020-03-22 14:27:08 INFO (MainThread) [homeassistant.components.switch] Setting up switch.homekit_controller
2020-03-22 14:27:08 INFO (MainThread) [homeassista

[2020-03-22 11:37] AciiD-Z3r0 commented on #30215
@thangdktd Take the sd card out of your pi and plug it into a linux system, then on the data partition do a search for broadlink, replace the __init__.py file and you're done

[2020-03-22 11:50] frenck commented on #33122
Duplicate of home-assistant/docker#104

[2020-03-22 11:50] #33122 closed

[2020-03-22 11:54] frenck commented on #33134
I looks to me that you guys are overriding the CMD in the Docker container.
Home Assistant is no longer using the that, but instead using the entry point now.

This causes the init system to trigger the Home Assistant service (as how it was meant to be) and your CMD override to start a second instance.

[2020-03-22 11:56] Shyrka973 commented on #33100
You are right. It works by waiting a little.
"Available Events" misled me.

Thank you.

[2020-03-22 11:56] #33100 closed

[2020-03-22 12:02] sj3fk3 commented on #33134
I must have missed that in the release notes? I use portainer, looks like removing the "Command" line does fix things.

[2020-03-22 12:06] Tom-ahawk opened #33142 "binary_sensor.updater not working"
## The problem
I have the automation for the binary_sensor.updater sending me a message when a new OS is ready. The binary_sensor.update has not worked for the past year.

Suddenly it worked for OS version 0.107.3 (or was it version 0.107.2?).

Then the binary_sensor.updater stoped working for the upcoming versions, latest 0.107.5.

## Environment

Home Assistant 0.107.5

arch | armv7l
-- | --
dev

[2020-03-22 12:08] balonchiks commented on #33134
i have missed that too apparently. indeed removing the "Command Line" from the container fixes the issue. thanks!

[2020-03-22 12:08] #33134 closed

[2020-03-22 12:09] frenck commented on #33135
Looks like their API changed. I will look into this.

[2020-03-22 12:15] Mariusthvdb commented on #33142
yes, so glad you posted this, it is driving me mad... the core HA binaries updater and remote-ui are  very unreliable.

[code]

[2020-03-22 12:16] frenck commented on #33131
Hate to say this: but we can't.

If you are keen on your formatting, the only way to ensure things are they way you wanted it to be is doing it manually in YAML.

The part you are having issues with is caused by parsers, which simply isn't fixable (unless we write our own parser... maybe, but that is a whole different open source project 😉). It is the same reason why, for example, comments aren't

[2020-03-22 12:16] #33131 closed

[2020-03-22 12:16] Azimoth commented on #33092
Updated to HA 0.107.5
The problem remains, but the error changes:

[2020-03-22 12:19] #32811 closed

[2020-03-22 12:23] bigverm23 opened #33143 "Unable to load the panel source: /api/hassio/app/entrypoint.js."
PROBLEM :
issue presented itself after updating to 0.107.4.

unable to load any add-ons and receiving the error above.

ENVIRONMENT:
![image](https://user-images.githubusercontent.com/17554438/77249512-ea597400-6c17-11ea-993c-7d5882ed6344.png)

[2020-03-22 12:25] OleksandrBerchenko commented on #32313
After upgrading to HA 0.107.5, the issue disappeared by itself.

[2020-03-22 12:25] giangi007 commented on #30215
Hello, I' ve the home assistant update to 0.107.5 but the rm mini 3 44057 doensn't work, so could you explain me hoe to resolve it ( i've home assistant installed in docker on my raspberry p3b+).

thanks

[2020-03-22 12:27] Azimoth commented on #33092
Nevermind, confused "I" and "l"...

[2020-03-22 12:27] #33092 closed

[2020-03-22 12:29] #33102 closed

[2020-03-22 12:37] #29981 closed

[2020-03-22 12:46] anarro commented on #32978
Hi,
After updated from 106.4 to 107.5 my Netatmo Camera don't work.

<img width="416" alt="Captura de pantalla 2020-03-22 a las 13 45 23" src="https://user-images.githubusercontent.com/8436433/77249717-78971f80-6c43-11ea-95aa-8f27f4298fc5.png">

<img width="1021" alt="Captura de pantalla 2020-03-22 a las 13 42 27" src="https://user-images.githubusercontent.com/8436433/77249668-1a6a3c80-6c43-11ea-8

[2020-03-22 12:53] stoprocent commented on #26532
Hi @Jc2k

I'm getting

[code]

Any idea how to tackle this?

[2020-03-22 13:00] #30275 closed

[2020-03-22 13:01] Swiftnesses commented on #30275
Can we await confirmation of the fix before closing the issue please?

[2020-03-22 13:05] cloom opened #33145 "Google Assistant room association not working if several homes are configured"
## The problem
Room association with Google Assistant integration does not work if more than 1 Home is configured in the Google Home app.

## Workaround
Having only 1 Home set up in the Google Home app.

## Environment
- Info
[code]
- Link to integration documentation on our website:
https://www.home-assistant.io/integrations/google_assistant/#room

## Problem-relevant `configuration.yaml`
This co

[2020-03-22 13:18] mbrihed commented on #27292
Manufacturer: FirstAlert
Model: 1042136 (Smoke and CO2)
Home Assistant Integration: Homekit Controller
Homekit model: 1042136

[2020-03-22 13:22] GrumpyMeow commented on #32981
EZViz DB1 doorbell support? --> https://github.com/BaQs/pyEzviz/issues/3

[2020-03-22 13:24] Jc2k commented on #26532
@stoprocent any chance you could open a new ticket and include all the details listed there. Also try increasing your log level for `homeassistant.components.homekit_controller` and `aiohomekit` and include the log before the exception not just the exception. And most importantly what kind of device so i know if its something i've already triaged or something different. Also did it work previously

[2020-03-22 13:26] frenck commented on #33145
Hi there, thanks for opening an issue, however, could you please use the issue template provided when creating the issue? Thanks 👍

[2020-03-22 13:27] lillfredrik commented on #33095
+1 hopefully Arlo will run with API keys after they force us on MFA at the end of the year, otherwise IFTT or Homekit maybe is the alternative?

[2020-03-22 13:27] frenck commented on #33143
Please use the issue template provided when creating an issue. The template asks for quite a bit information, which we need in order to reproduce/fix the issue or help you.

Please update your openings post. Thanks. 👍

[2020-03-22 13:28] hermannsblum opened #33146 "Error: Don't use 'server_host' options with Hass.io when enabeling trusted_networks"
## The problem

When I add `trusted_networks` as an additional auth-provider and restart home assisstant, it opens in save mode with the error "Error: Don't use 'server_host' options with Hass.io".

When I remove the lines from the config again, the error is gone. I don't have `server_host` configured anywhere in my config.

## Environment

- Home Assistant release with the issue: Home Assistant 0

[2020-03-22 13:29] frenck commented on #33140
Hi!

Thanks for opening an issue. One request though, could you please use the issue template provided when opening an issue? Please update your issue to incorporate the template.

[2020-03-22 13:30] frenck commented on #33146
duplicate of #32696

[2020-03-22 13:30] #33146 closed

[2020-03-22 13:35] fredrike opened #33147 "#32615 breaks Minut Point integration"
## The problem

It seems like #32615 broke the Minut Point integration in 0.107.x.

## Environment

- Home Assistant release with the issue: **0.107.x**
- Last working Home Assistant release (if known): **0.106**
- Operating environment (Hass.io/Docker/Windows/etc.):
- Integration causing this issue: **point**
- Link to integration documentation on our website:

## Problem-relevant `configuration.

[2020-03-22 13:39] faspina commented on #33119
I upgrade for 106.6 to 107.5 and did not have the zwave errors that 107.4 and below had.

[2020-03-22 13:40] hermannsblum commented on #33146
Thanks for the quick answer, found the actual error in the log and fixed my config :)

[2020-03-22 13:40] Jc2k commented on #33140
Indeed. Please make sure you describe what is happening / not happening as best you can. The error does not look like one i've seen from homekit_controller, it's hard to tell if its even related at this stage.

Also - it seems to have gotten to the point of adding relays. That means that pairing *did* work. It would *not* have added switches to HA if the pairing didn't work.

It may help to turn o