[2016-09-01 18:59] resoai commented on #2599
Confirm same behavior. It looks like "Android" part of the TV is not supported by the component.

[2016-09-01 20:00] robbiet480 commented on #3046
Closing in favor of #3028.

[2016-09-01 20:00] #3046 closed

[2016-09-01 20:00] robbiet480 commented on #3028
Can you try installing:
- libffi-dev
- libssl-dev

[2016-09-01 20:05] sgauche commented on #3028
@robbiet480

[code]

[2016-09-01 20:06] robbiet480 commented on #3028
@sgauche Wanna jump into Gitter with me and do some quick 1-on-1 debugging?

[2016-09-01 20:21] kellerza commented on #3086
Thanks for looking into it @w1ll1am23

[2016-09-01 20:21] #3086 closed

[2016-09-01 20:23] blackgearit commented on #3093
@turbokongen same issue after editing
/usr/local/lib/python3.4/dist-packages/homeassistant/components/cover/zwave.py
as bugfix you've referenced. After changes, I've restart HA by web interface... should restart daemon instead?

16-09-01 20:29:45 homeassistant.config: Incomplete core config. Auto detected time_zone: Europe/Rome
16-09-01 20:30:04 openzwave: Error in manager callback
Traceback (most

[2016-09-01 20:30] snizzleorg opened #3117 "Deutsche Bahn Sensor not working"
Make sure you are running the latest version of Home Assistant before reporting an issue.

You should only file an issue if you found a bug. Feature and enhancement requests should go in [the Feature Requests section](https://community.home-assistant.io/c/feature-requests) of our community forum:

**Home Assistant release (`hass --version`):**
0.27.0 (https://hub.docker.com/r/homeassistant/rpi2-ho

[2016-09-01 20:31] turbokongen commented on #3093
You need to apply the whole patch. To test the fix. Also you need to restart the HA core.

[2016-09-01 20:38] CCOSTAN commented on #3041
Just an opinion here but I'd love to see the consider_home option put down into the known_devices.yaml file so I can apply it on a device by device case.  Some sleep more than others, some don't sleep at all and with the option at the platform level, I have to choose based on the worst offender (iOS devices).

https://community.home-assistant.io/t/consider-home-entry-inside-known-device-yaml/3495

[2016-09-01 20:47] robbiet480 commented on #3028
Can y'all please run `pip uninstall pywebpush && pip install "https://github.com/web-push-libs/pywebpush/archive/e743dc92558fc62178d255c0018920d74fa778ed.zip#pywebpush==0.5.0"`. If you run in a virtualenv then activate it first.

I believe that might fix things. It seems like pywebpush isn't being correctly installed

Let me know what you find. If this works for everyone i'll have to figure out wh

[2016-09-01 21:04] robbiet480 commented on #3028
Oh before running the command I gave please make sure all 3 of the packages I mentioned are installed (`libpython-dev libffi-dev libssl-dev`).

[2016-09-01 21:15] robbiet480 commented on #3028
Let me summarize:

1. Shutdown Home Assistant
2. If you use a virtual environment (virtualenv/venv), activate it.
3. `sudo apt-get install libpython-dev libffi-dev libssl-dev`
4. `pip uninstall pywebpush`
5. `pip install "https://github.com/web-push-libs/pywebpush/archive/e743dc92558fc62178d255c0018920d74fa778ed.zip#pywebpush==0.5.0"`
6. Start up Home Assistant
7. Attempt to send a notification ov

[2016-09-01 21:29] bazis commented on #3028
I have the same errors, when trying to send push messages. HASS 0.27.1, windows 10.

[2016-09-01 21:30] robbiet480 commented on #3028
@bazis Please try the steps I listed in the comment above yours.

[2016-09-01 21:32] bazis commented on #3028
I don't know how to install deb packages in windows ;) I'll try only this
pip uninstall pywebpush
pip install "https://github.com/web-push-libs/pywebpush/archive/e743dc92558fc62178d255c0018920d74fa778ed.zip#pywebpush==0.5.0"

[2016-09-01 21:38] bazis commented on #3028
Somehow pywebpush was not installed, so I run
**pip3 install pywebpush** and notification sucessfully sended without errors, Thanks.

[2016-09-01 21:38] robbiet480 commented on #3028
@bazis Ah yeah, for Windows you just need to run the `pip` commands as per the [Installation](https://cryptography.io/en/latest/installation/) instructions.

[2016-09-01 21:38] robbiet480 commented on #3028
Perfect!

[2016-09-01 21:45] bazis commented on #3028
Almost perfect...
Try to turn on push notifications from phone with another google account. Get this error
homeassistant.components.notify.html5: Saving config file failed: b'Ko_tZNnXXXXXXXXXXXCA==' is not JSON serializable
And after that html5_push_registrations.conf became empty. But notifications to first phone still arrives.

[2016-09-01 21:46] robbiet480 commented on #3028
I've seen that bug once before but we were never able to track it down. You just need to re-register your device and everything should be fine going forward.

[2016-09-01 21:49] happyleavesaoc commented on #3028
FWIW, I also experienced that serialization issue when toggling push notifications.

[2016-09-01 22:06] nkgilley commented on #2966
@tylerstraub I'm aware that the play/pause was acting a bit funny.  Should be fixed in https://github.com/home-assistant/home-assistant/pull/3115

You can close this issue

[2016-09-01 22:24] bazis commented on #3028
Restart HA, register fist phone with my google account, all ok, then second with different - got the same error every time, I toggle enable push notification in HASS UI.
html5_push_registrations.conf empty again.

[2016-09-01 22:39] realAkhmed commented on #3090
Sure! Unfortunately, #3097 didn't fix it. Here is the screenshot I am attaching `zwcfg` below.

![hass-0-28-0-2](https://cloud.githubusercontent.com/assets/11564041/18186797/82f10a82-706a-11e6-8a33-9d13cd661e5c.jpg)

A few notes:

* This is a really new problem. 0.26.3 worked perfectly well with the same thermostat. In fact, even 0.27.1 seems to work fine Celsius-Fahrenheit-temperature-wise.
* Als

[2016-09-01 23:35] rayrayndwiga commented on #2599
Can confirm the same behavior as well.

[2016-09-01 23:43] tylerstraub commented on #2966
Thanks @nkgilley

[2016-09-01 23:43] #2966 closed

[2016-09-01 23:47] JasonCampey commented on #2599
Im not sure it actually has anything to do with the android portion of the
TV. When I use curl to send a similar command it works fine. It may be
python prerequisites or something.

On 2 Sep 2016 07:35, "Brian Karani Ndwiga" <notifications@github.com> wrote:

[2016-09-01 23:59] tylerstraub opened #3128 "Music Player Daemon (MPD) Platform Bug: unexpected results via "media_content_id""
**Home Assistant release (`hass --version`):**
0.28.0.dev0

**Python release (`python3 --version`):**
Python 3.4.2

**Component/platform:**
Music Player Daemon (MPD) / media_player

It should be noted that in this instance I am running mpd-0.17.4-win32.zip  on a Windows 10 machine.

**Description of problem:**
Pause and Play commands are functioning as expected, but we have no way of programmatica

[2016-09-02 00:18] terrycarlin opened #3129 "Nest initialization failure."
Make sure you are running the latest version of Home Assistant before reporting an issue.

You should only file an issue if you found a bug. Feature and enhancement requests should go in [the Feature Requests section](https://community.home-assistant.io/c/feature-requests) of our community forum:

**Home Assistant release (`hass --version`):**
0.27.1

**Python release (`python3 --version`):**
Pyth

[2016-09-02 03:07] rbray89 commented on #3028
I'm seeing the same issue with regards to multiple notifications. I think it has to do with HASS restarts messing up the registers/deregisters.

[2016-09-02 03:09] robbiet480 commented on #3028
Okay, i'll take a look at the registration problem in depth shortly.

In the meantime, is everyone able to receive notifications now that you have manually installed pywebpush?

[2016-09-02 03:30] mannkind commented on #3052
Even after applying the patch, the state of `cover.garage_door` never changes from 'unknown'.

I poked around a bit within `def message_received(topic, payload, qos)` and it seems like the payload is matching the appropriate branches. A wild-guess led me to add two additional lines setting `self._position`; the state now updates as expected. I'm not sure that's _correct_, but it seems to work.

[c

[2016-09-02 05:37] tchellomello commented on #3089
Hello @ktpx, I'm following up that thread to check if we can come with a solution for this problem.

Thank you!

[2016-09-02 08:31] cperezpenichet commented on #3028
Yes, I can confirm I can receive notifications after manually installing pywebpush.

[2016-09-02 08:41] bazis commented on #3028
Mine works too.

[2016-09-02 09:01] turbokongen commented on #3093
Confirmed fixed at #3116

[2016-09-02 09:01] #3093 closed

[2016-09-02 09:38] fabaff opened #3138 "Sendgrid not able to send message (JSON not serializable)"
Make sure you are running the latest version of Home Assistant before reporting an issue.

You should only file an issue if you found a bug. Feature and enhancement requests should go in [the Feature Requests section](https://community.home-assistant.io/c/feature-requests) of our community forum:

**Home Assistant release (`hass --version`):**
0.28.0.dev0

**Python release (`python3 --version`):**

[2016-09-02 09:46] fabaff commented on #3112
The APCUPSd component was migrated to do [configuration checks](https://home-assistant.io/blog/#hotfix-0271---august-30). Please see the [APCUPSd Sensor](https://home-assistant.io/components/sensor.apcupsd/) documentation.

[2016-09-02 09:55] fabaff commented on #3117
Works fine with the following configuration

[code]

Looks like the used module is not able to handle all cases.

[2016-09-02 10:39] lwis commented on #3138
I don't use sendgrid, but all the unit tests passed. Do you have the JSON
payload?

On Fri, 2 Sep 2016, 10:38 am Fabian Affolter, <notifications@github.com>
wrote:

[2016-09-02 11:48] Ardetus commented on #3112
According documentation nothing has changed... Could you please point out, what I should change in the configuration to get apcupsd working again?

[2016-09-02 12:01] PaulvS opened #3139 "Send photo by telegram, caption is lost."
Make sure you are running the latest version of Home Assistant before reporting an issue.

You should only file an issue if you found a bug. Feature and enhancement requests should go in [the Feature Requests section](https://community.home-assistant.io/c/feature-requests) of our community forum:

**Home Assistant release (`hass --version`):**

0.27.1

**Python release (`python3 --version`):**
3.5

[2016-09-02 12:05] Danielhiversen commented on #3112
There is a bug in 0.27.1, so have to specify the host:

[code]

[2016-09-02 12:24] fabaff commented on #3138
We don't cover third-party integrations like the notification platforms by [unit test](https://github.com/home-assistant/home-assistant/blob/dev/.coveragerc#L182).

The last test for sendgrid I ran successfully 4 days ago with #3044.  `subject = kwargs.get(ATTR_TITLE, ATTR_TITLE_DEFAULT)` looks ok. I try to run a test with a fresh installation later.

[code]

[2016-09-02 12:43] lwis commented on #3138
I'm not sure how this could have been impacted by my change, I've not
changed the behaviour - apart from the behaviour of one of the unit tests.

On Fri, 2 Sep 2016, 1:24 pm Fabian Affolter, <notifications@github.com>
wrote:

[2016-09-02 13:01] snizzleorg commented on #3117
I added a issue here: https://github.com/kennell/schiene/issues/6

[2016-09-02 13:10] Ardetus commented on #3112
Unfortunately specifying a host doesn't fix this issue. If you check the error message, you can see the problem is somewhere else now...

[2016-09-02 13:16] Danielhiversen commented on #3138
What is the output of:
 hass --script check_config

[2016-09-02 13:17] Danielhiversen commented on #3112
What is the output of:  hass --script check_config

[2016-09-02 13:20] Danielhiversen commented on #3112
And how is your config for the apcupsd

[2016-09-02 13:25] Ardetus commented on #3112
You can check the configuration above on the bug description.

Output of the check_config is quite interesting... It's showing same for pip installation and git workarea

 % hass --script check_config
Traceback (most recent call last):
  File "/usr/local/bin/hass", line 11, in <module>
    sys.exit(main())
  File "/usr/local/lib/python3.4/dist-packages/homeassistant/__main__.py", line 317, in main

[2016-09-02 13:29] Danielhiversen commented on #3112
I think you are missing:

You should have:

[code]

in your config

[2016-09-02 13:34] Ardetus commented on #3112
Yes sure there is now also the host definition like you mentioned earlier

   - platform: apcupsd
     host: localhost
     resources:
       - status

[2016-09-02 13:35] Danielhiversen commented on #3112
To be sure, your config look like this?

[code]

[2016-09-02 13:41] Ardetus commented on #3112
Eh, so the host definition must be under different section... Now it's working!
Thank you very much for your help!

[2016-09-02 13:44] Danielhiversen commented on #3112
@fabaff We should try to find a way to give a better error message in cases where the config for the hub is missing.
Not easy to understand the problem from the given error message.

[2016-09-02 13:44] #3112 closed

[2016-09-02 14:53] krrlw commented on #1095
@roflmao @stefan-jonasson Any new developments here? This is exactly what I want to use for a sensor notification. I want the notification to trigger only if motion goes 'on' after a period of at least 5 minutes of the sensor being 'off'.

Doesn't seem to be an easy way to do this without using templates, and I'm still trying to wrap my head around that.

[2016-09-02 15:28] turbokongen commented on #3080
I've traced this to too many attributes being calculated, and the first in the list gets ignored wichever that may be, in this case it was the away_mode.
I'm not sure how to handle this, but I will investigate further.

[2016-09-02 17:44] jwl17330536 opened #3143 "Wink - TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'"
Make sure you are running the latest version of Home Assistant before reporting an issue.

You should only file an issue if you found a bug. Feature and enhancement requests should go in [the Feature Requests section](https://community.home-assistant.io/c/feature-requests) of our community forum:

**Home Assistant release (`hass --version`):**
0.27.1

**Python release (`python3 --version`):**
3.4.

[2016-09-02 18:48] w1ll1am23 commented on #3143
@jwl17330536 I can't say for sure, but this looks like the error I get when my token expires. Are you saying once you get this error and restart, everything starts working again? Can you try getting a new token and see what happens?

[2016-09-02 18:55] w1ll1am23 commented on #3086
Wink responded that they had an outage yesterday. They provided a link to check  the API status that I didn't know about. http://status.winkapp.com/

[2016-09-02 18:56] jsnoop315 commented on #3086
Thanks for your help 

On Fri, Sep 2, 2016 at 1:55 PM -0500, "William Scanlon" <notifications@github.com> wrote:

Wink responded that they had an outage yesterday. They provided a link to check  the API status that I didn't know about. http://status.winkapp.com/

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-09-02 19:18] #3056 closed

[2016-09-02 19:51] MS-Informatique opened #3145 "Error with template rendering into shell_command component"
**Home Assistant release 0.27.1**

**Python release 3.4.2**

**Component/platform:**
shell_command component

**Description of problem:**
When I use template rendering into a shell_command component, I am getting an error and shell_command isn't executed.

Command is:
take_snapshot:
'/home/hass/.homeassistant/myShellScripts/take_snapshot.sh "{{now.now().strftime("%Y%m%d-%H%M%S")}}"'

I tried remov

[2016-09-02 19:54] robbiet480 commented on #3028
@rbray89 @bazis @happyleavesaoc I'm unable to reproduce the registrations issue. Can you make a quick edit and try again to see if this fixes the issue?

1. Open `home-assistant/homeassistant/components/notify/html5.py`.
2. On [line 147](https://github.com/home-assistant/home-assistant/blob/dev/homeassistant/components/notify/html5.py#L147) remove `, indent=4, sort_keys=True`.

So the old line was

[2016-09-02 19:58] robbiet480 commented on #3028
As for the `pywebpush` issue, I believe that it may fail to install if you don't have the packages installed in advance. Unless someone else can come up with another reasonable possibility, I'm going to fix this issue by updating the documentation.

[2016-09-02 20:48] CCOSTAN commented on #408
Just housekeeping this issue : @robbiet480 has a fix planned for at least the flashing part (which was the real pain for me to need the save/restore).  Expected in 0.28. Thanks!

[2016-09-02 20:50] rbray89 commented on #3028
@robbiet480 I'll try this, if not, I'll try and find the exact steps to reproduce. I know there was a restart of HA, as well as a deregistration involved as well.

[2016-09-02 20:55] robbiet480 commented on #3080
Fixed in https://github.com/home-assistant/home-assistant-polymer/commit/7e455e2be1cb7cc4f55628b063019bea548a3182. Going to try to get this into 0.27.2 but may need to roll back some changes introduced to polymer since 0.27.

[2016-09-02 20:55] #3080 closed

[2016-09-02 22:31] fabaff opened #3150 "SSL/TLS support for Sabnzbd"
Make sure you are running the latest version of Home Assistant before reporting an issue.

You should only file an issue if you found a bug. Feature and enhancement requests should go in [the Feature Requests section](https://community.home-assistant.io/c/feature-requests) of our community forum:

**Home Assistant release (`hass --version`):**
0.28.0.dev0

**Python release (`python3 --version`):**

[2016-09-02 22:32] kellerza commented on #2978
I don't see it on my RT-AC66U with Merlin FW

If you don't mind testing, can you change [line 181-182](https://github.com/home-assistant/home-assistant/blob/dev/homeassistant/components/device_tracker/asuswrt.py#L182) in `asuswrt.py` to:

[code]

It won't fix it but will show more information

[2016-09-02 22:40] jwl17330536 commented on #3143
That's right @w1ll1am23

I can start HA and all works well.  After a little bit of time that error is thrown and the only way to recover is restarting again.  My first step when I noticed Wink was unresponsive (a couple days ago) was to get a new token and I've actually got another one since then just because!

[2016-09-02 22:44] w1ll1am23 commented on #3143
Thanks for the update. How long does it take for this to happen? What type
of lights do you have and how many? What other devices are you running?

I have been running 0.27.1 for a few days and haven't had any trouble so
far.

On Sep 2, 2016 6:40 PM, "John Lindley" <notifications@github.com> wrote:

[2016-09-02 22:52] fanaticDavid commented on #2985
After finding [this forum post](https://community.home-assistant.io/t/automation-templating-regarding-light-brightness-colour-derived-from-input-sliders/2373), I was able to rewrite my office_worklight.yaml script as a workaround:
[code]
This works for me, but the issue still stands as there are use cases which require defining a list under `data_template` (e.g. in the forum post: defining `rgb_co

[2016-09-02 22:56] hoopty commented on #2876
@cbulock - any ideas?

[2016-09-02 23:09] jwl17330536 commented on #3143
It takes a couple of hours.  I'll pay more attention to the exact times from now on though.

I have quite a few different types and there are 30 in total.  I have GE Light Bulbs, Lutron Casetta + PICO, Leviton Dimmers, GE Dimmers.  Also, in Wink I have Locks, Garage Door, Sensors... It is a pretty active Wink account!

[2016-09-02 23:39] ktpx commented on #3028
Fails unless its installed with sudo.

[2016-09-03 00:17] rpitera commented on #3028
@robbiet480 For me it was the pip install.  With sudo it ran and HA appears to be starting up now - fingers crossed....

[2016-09-03 00:20] rpitera commented on #3028
Hope I got the gcm_sender_id right; it wasn't clear where this was.  I used the number at the end of the Project ID; in my case push-notifications-XXXXX - I used the number represented by the X's here.

[2016-09-03 00:23] rpitera commented on #3028
Nope. :(
When I tried to set the slider on my desktop Chrome, I got the message "Notification Registration Failed".

[2016-09-03 00:32] sgauche commented on #3028
@rpitera open the Google developers console and open your project.  Click the 3 little dots at the top right and click Project settings.  Your project number should be there.

[2016-09-03 00:39] rpitera commented on #3028
@sgauche so gcm-sender-id = project number?   That must be why my test message didn't work.

[2016-09-03 00:42] sgauche commented on #3028
Correct

[2016-09-03 01:05] rpitera commented on #3028
@sgauche Thanks Scott; two more things (because I made the change and the restarted but still am not getting any messages on the droid)
1. In the docs, the gcm-sender-key and gcm-sender-id examples are enclosed in single quotes; was that just for display or do I need to enclose those values in single quotes?
2. After making the changes in the configs mentioned, to I need to 'resubscribe' on my Dro

[2016-09-03 01:06] robbiet480 commented on #3028
@rpitera yes and yes

[2016-09-03 01:08] rpitera commented on #3028
Thanks @robbiet480 - making the changes and will report back in a moment...

[2016-09-03 01:19] rpitera commented on #3028
1. Have an html_push_registrations.conf that's empty now
2. Got this when I tried to send the message
`16-09-02 21:16:27 homeassistant.core: BusHandler:Exception doing job
Traceback (most recent call last):
  File "/srv/hass/hass_venv/lib/python3.4/site-packages/homeassistant/core.py", line 852, in job_handler
    func(*args)
  File "/srv/hass/hass_venv/lib/python3.4/site-packages/homeassistant/co

[2016-09-03 01:21] robbiet480 commented on #3028
@rpitera And you manually installed pywebpush again?

[2016-09-03 01:22] rpitera commented on #3028
Going to step away from this for a few and grab some dinner...  I think I may be suffering from "HA Malnutrition Syndrome" - you know, when you miss dinner because your this close to getting something to work...  : )

BRB

[2016-09-03 01:23] rpitera commented on #3028
No, didn't realize I had to do that - hang on.....

[2016-09-03 01:24] robbiet480 commented on #3028
@rpitera Follow [these](https://github.com/home-assistant/home-assistant/issues/3028#issuecomment-244215004) instructions please

[2016-09-03 01:25] rpitera commented on #3028
I've followed those instructions once already; are you saying I should do them all again?

[2016-09-03 01:25] robbiet480 commented on #3028
@rpitera If you wouldn't mind, yes :)

[2016-09-03 01:26] rpitera commented on #3028
I don't mind doing anything you tell me, you're helping me out here!  Thanks!

Stand by....

[2016-09-03 01:41] rpitera commented on #3028
Bummer.  I was able to unsubscribe and resub on the droid and that got me a valid conf file.
But I'm getting the same error when I try to send a test message.

And this time running the instructions I used sudo for both of these lines (which seemed to work better):
pip uninstall pywebpush
pip install "https://github.com/web-push-libs/pywebpush/archive/e743dc92558fc62178d255c0018920d74fa778ed.zip#p

[2016-09-03 01:43] rpitera commented on #3028
Yeah, just double checked and it's the same as the error I posted previously.

I'm going to grab some food and come back to this in a bit.  I'll check here as soon as I'm done.  I want to thank you and Scott for taking the time to help me!

[2016-09-03 01:54] rpitera commented on #3028
One more thing:  My environment is RasPi 3, AIO installed, HA at latest build (27.1)
I am using a venv and did activate it before running through the steps mentioned.

[2016-09-03 02:20] robbiet480 commented on #3028
@rpitera I can keep helping you on Gitter.

I'm calling the original issue (the multibackend error) fixed for now and closing this. If people continue having issues with the registrations file we can open a new issue.

[2016-09-03 02:20] #3028 closed

[2016-09-03 05:03] rpitera commented on #3028
I don't know how to use Gitter.  I guess I'll just give up on this and see if someone in the forums can help me.  I have run through the same steps three times now and get the same multibackend error.

[2016-09-03 05:06] sgauche commented on #3028
@rpitera To chat on gitter, go here and log in with your GitHub credentials. https://gitter.im/home-assistant/home-assistant

[2016-09-03 05:12] open-homeautomation commented on #3040
It is a problem wit the upstream package. The question is: How to deal with it. Always using external libraries might bring more and more problems like this in the future as not every library is actively supported on all available platforms.

[2016-09-03 05:14] rpitera commented on #3028
I appreciate it but I know how to get there, I don't know how to operate in it.  Too many simultaneous conversations going on and I can't follow anything.

[2016-09-03 05:19] open-homeautomation opened #3152 "RuntimeError in BLE scan"
Make sure you are running the latest version of Home Assistant before reporting an issue.

You should only file an issue if you found a bug. Feature and enhancement requests should go in [the Feature Requests section](https://community.home-assistant.io/c/feature-requests) of our community forum:

**Home Assistant release (`hass --version`):** 0.27.1

**Python release (`python3 --version`):**

**C

[2016-09-03 06:16] open-homeautomation commented on #3152
Bugfix here: https://github.com/home-assistant/home-assistant/pull/3153

[2016-09-03 06:18] roidayan commented on #3099
Raspberry_Pi_Driver should be in Raspberry_Pi_Driver.cpython-34m.so
Can you check you have this file /root/.homeassistant/deps/Adafruit_DHT/Raspberry_Pi_Driver.cpython-34m.so ?

you can also do the following test:
[code]
expected output:
[code]

[2016-09-03 06:22] trymbill opened #3154 "homeassistant.components.notify.html5: Saving config file failed: b'Ko_tZNnXXXXXXXXXXXCA==' is not JSON serializable"
**Home Assistant release (`hass --version`):**
$ hass --version
0.27.1

**Python release (`python3 --version`):**
$ python3 --version
Python 3.5.2

**Component/platform:**
notify.html5

**Description of problem:**
In trying to allow notifications on Chrome Version 52.0.2743.116 on OS X and Windows 10 the following error is returned: ```homeassistant.components.notify.html5: Saving config file fail

[2016-09-03 08:43] ktpx commented on #3028
@robbiet480 apt-get generally needs sudo.   the pip install, at least for me, I had to use sudo.

[2016-09-03 11:04] jwl17330536 commented on #3143
It took 2 hours and 30 minutes to stop working last night.  This time I noticed a different log than previously added to this thread.

[code]

This log repeats several times an hour each hour.

[2016-09-03 12:56] sawyer602 opened #3157 "Insteon Not Working After Upgrade to 27.0/27.1"
Running Rasp Pi All-In-One.  Just upgraded to 27.1 and have found a user in forum with the same issues that Insteon is not showing on HA screen.

**Description of problem:**
I have two devices controlled by Insteon and they no longer show now that I have upgraded to 27.1 (did not upgrade to 27.0).  There is a thread in the forum where a user had same issue on 27.0

**Expected:**
Devices would show

[2016-09-03 13:03] turbokongen commented on #3090
Fixed in 0.27.2

[2016-09-03 13:03] #3090 closed

[2016-09-03 13:04] turbokongen commented on #3052
Fixed in 0.27.2

[2016-09-03 13:04] #3052 closed

[2016-09-03 14:34] w1ll1am23 commented on #3143
Ahhh unfortunately I have seen this. I have been having this problem since pubnub support was added. I haven't ever seen anyone else report it, and have even asked a few people. I was under the impression it was something with my network. When I see this issue in my logs I have timeouts connecting to all of my arest sensors (internal network) as well. If this isn't network related, then I would as

[2016-09-03 14:45] MartinHjelmare commented on #868
Fixed in https://github.com/home-assistant/home-assistant/pull/2917

pymysensors now requires pyserial 3.1.1.

[2016-09-03 14:45] #868 closed

[2016-09-03 14:47] MartinHjelmare commented on #2515
Solved in https://github.com/home-assistant/home-assistant/pull/2960.

[2016-09-03 14:47] #2515 closed

[2016-09-03 14:55] jwl17330536 commented on #3143
That makes a lot of sense.  Thanks so much for the work around!

For good measure though I just reinstalled a fresh Raspbian + All in One installer, so to be sure it wasn't something that I've done.

[2016-09-03 16:53] Teagan42 commented on #3157
Duplicate issue https://github.com/home-assistant/home-assistant/issues/3056

Should be resolved in 0.27.2

[2016-09-03 16:53] #3157 closed

[2016-09-03 17:03] kerber commented on #2978
No problem at all! I'm using the stock firmware on my RT-N66U

`16-09-03 12:01:24 homeassistant.components.device_tracker.asuswrt: Checking ARP
16-09-03 12:01:24 homeassistant.components.device_tracker.asuswrt: Connection refused or no route to host: End Of File (EOF). Exception style platform.
<pexpect.pxssh.pxssh object at 0x7f54b465db70>
command: /usr/bin/ssh
args: ['/usr/bin/ssh', '-q', '-l',

[2016-09-03 17:20] kellerza commented on #2978
If it persists & it started after you upgraded your Merlin FW then it is most likely a known host issue.

Test using the HASS user account: Does `/usr/bin/ssh -l admin 192.168.1.1` complain?

To fix known hosts you can remove a line from `~/.ssh/known_hosts` or `/home/hass/.ssh/known_hosts`

[2016-09-03 17:21] kellerza commented on #2978
But with stock FW its probably not known hosts. It could also have started after you swapped routers?

[2016-09-03 18:14] kerber commented on #2978
After testing, it looks like my issue was the changing of the default of the component from telnet to ssh. As soon as I changed it to 'protocol: telnet', it started working.

[2016-09-03 18:25] kellerza commented on #2978
Glad one is fixed :+1:

`hass --script check_config --info device_tracker` will show you what the device tracker config loads (with defaults filled in)

[2016-09-03 18:52] pctechjon commented on #2876
Same issue - HASS installed in virtual env, I also have an RVU.

**Home Assistant release (hass --version):**
0.27.1

**Python release (python3 --version):**
Python 3.4.2

**Component/platform:**
media_player/directv

**Description of problem:**
Unable to discover or manually configure DirecTV

**Expected:**
Successful discovery/setup of DirecTV

**Problem-relevant configuration.yaml entries and s

[2016-09-03 23:32] #2978 closed

[2016-09-03 23:41] #2875 closed

[2016-09-03 23:45] #3150 closed

[2016-09-03 23:47] #3152 closed

[2016-09-04 00:51] d-rez commented on #3154
Can reproduce on my raspberry pi installation after doing sudo pip install as mentioned in #3028
Interesting fact is after this serialization issue happens, the whole html5_push_registrations.conf file gets truncated and html5 notifications are broken until service restart.

[2016-09-04 08:49] nvella opened #3177 "MQTT covers fail to set through scene"
**Home Assistant release (`hass --version`):**
0.27.2, 0.28.1

**Python release (`python3 --version`):**
Python 3.5.1+

**Component/platform:**
cover/mqtt

**Description of problem:**
Attempting to set the state of an MQTT cover through a scene fails.
Relevant log entries:
[code]

**Expected:**
The covers state to be set to ``closed``.

**Problem-relevant `configuration.yaml` entries and steps to

[2016-09-04 09:19] MartinHjelmare commented on #3177
This is a bug. The new cover services should be added to the dicts in the state helper.

[2016-09-04 09:35] nvella commented on #3177
I might have a go at it. First time contributing to HA.

[2016-09-04 16:07] dv8ed commented on #3040
I've updated to v0.27.2, removed bluetooth packages, restarted, re-installed packages, restarted but still getting 16-09-04 09:03:40 homeassistant.bootstrap: Not initializing device_tracker.bluetooth_le_tracker because could not install dependency gattlib==0.20150805

I'm using RPi AIO.

[2016-09-05 08:27] persandstrom commented on #2297
@sisensee This is solved now, right?

[2016-09-05 08:29] rayrayndwiga commented on #2599
I have been working on this over the weekend and I found that the SOAPACTION header needed to be enclosed in double quotes in order for the commands to work. I have also added a check in the turn on command to ensure that if the wake on lan doesn't work then it can try to use the power on command. These changes can be found in the following pull request https://github.com/aparraga/braviarc/pull/5.

[2016-09-05 08:34] demonspork opened #3195 "Wink Garage Doors not migrated to Cover"
**Home Assistant release (`hass --version`):**
0.27.2

**Python release (`python3 --version`):**
3.4.2

**Component/platform:**
Wink
Cover
Garage_door

**Description of problem:**
Wink Garage Doors show up as garage_door entities and expose garage_door services
These also generate errors in the log about garage_door being deprecated and needs to be migrated to cover

**Expected:**
These should be

[2016-09-05 08:40] resoai commented on #2599
Thanks Brian!

[2016-09-05 08:50] balloob commented on #3195
Problem is [here](https://github.com/home-assistant/home-assistant/blob/dev/homeassistant/components/wink.py#L44-L45). Note that rollershutter should also be moved over.

[2016-09-05 13:38] JasonCampey commented on #2599
Champ!! I will pull this weekend and give it a crack

On 5 Sep 2016 16:40, "Alexey Ivanov" <notifications@github.com> wrote:

[2016-09-05 15:21] sisensee commented on #2297
Correct fixed a few issues back. Sorry for the delayed response.

[2016-09-05 15:21] sisensee commented on #2297
Correct fixed a few issues back. Sorry for the delayed response.

[2016-09-05 15:21] #2297 closed

[2016-09-05 15:47] pitah81 commented on #3154
I only get this error in log when trying to enable html5 notifications on my mobile device. It works in the webbrowser on my PC so it looks like it has something to do with handling of data from mobile Chrome in my case.

[2016-09-05 16:00] simonszu commented on #805
+1 from me. I'd like to run HA under https://my.domain/home and can't really figure it out how to do this.

[2016-09-05 16:10] realAkhmed commented on #3090
Thanks! The issue with Celsius and Fahrenheit is indeed resolved!

Unfortunately, the 2nd issue (equal target temperatures for heating and cooling) remains and it is a complete show-stopper.

I'll file a separate issue for it so as not to crowd the discussion here.

[2016-09-05 16:22] realAkhmed opened #3213 "Climate for all 0.27.x: can't set separate target temperatures for cooling vs heating"
Make sure you are running the latest version of Home Assistant before reporting an issue.

You should only file an issue if you found a bug. Feature and enhancement requests should go in [the Feature Requests section](https://community.home-assistant.io/c/feature-requests) of our community forum:

**Home Assistant release (`hass --version`):**

0.27.2

**Python release (`python3 --version`):**

Py

[2016-09-05 16:55] turbokongen commented on #3213
Should be resolved with #3205

[2016-09-05 17:13] realAkhmed commented on #3213
Just installed #3205
Unfortunately, it does not fix the issue.

Same problem: move one slider, both target temperatures change.

[2016-09-05 18:39] rbray89 commented on #3213
What happens if you move the mode to Auto vs. Cool?

[2016-09-05 19:18] turbokongen commented on #3213
Try the latest commits of the pr.
The behavior is now changed. You get 1 device.
You can control it just like before. In cooling mode, you set cooling setpoint, in heat mode you set heat setpoint.

[2016-09-05 19:37] persandstrom commented on #3038
I'm working on a new modbus service for writing registers with length > 1. I will add a PR for this when #3188 is merged.

[2016-09-05 20:16] realAkhmed commented on #3213
@turbokongen thanks a lot for your feedback! I am away from home so will try it once I am back.

Do I understand it correctly that you just simply deleted one of the thermostat devices?

Doesn't this have all kinds of negative consequences?
*  when in A/C mode, I would no longer be able to see/change the set point for Furnace?
   - considering that the temperature could have been arbitrarily chang

[2016-09-05 20:25] realAkhmed commented on #3213
@rbray89 something very weird happened in "Auto" mode: I could not change any trigger temperatures at all: set_temperature commands were ignored in "Auto" mode but functioned in "Cool" mode. I have not investigated it further so I decided not to report it yet.

[2016-09-05 20:27] justweb1 commented on #3213
@realAkhmed Did you switch to the climate component or still using hvac?

[2016-09-05 20:28] turbokongen commented on #3213
That is because the zwave part of the thermostat does not have a auto setpoint. If you look a the zwcfg_xxxxx.xml.  you will only see two setpoint indexes.

[2016-09-05 22:22] thundergreen commented on #3213
I am new to this and wondering, why i can't set the fan Speed. It blows the cold air into the room. Is it work in Progress and i should just wait? i have a hitachi AC with the ZXT IR Extender Z-Wave

I'm still a bit confused how to set this all up.

[2016-09-06 00:28] bbangert opened #3219 "Define intended and expected core API call ordering"
The core API consists of 3 actual objects, as defined here:
https://home-assistant.io/developers/component_initialization/

There are:
- EventBus (EB)
- StateMachine (SM)
- ServiceRegistry (SR)

Each object may or may not (depending on the public method) require a object-specific lock to execute. Some objects have hidden multiple-lock behavior, some result in multiple lock acquisitions that should

[2016-09-06 00:51] realAkhmed commented on #3213
@thundergreen I would strongly recommend downgrading to 0.26.3 if you have any thermostat issues.
Unfortunately, in 0.27.x the behavior of thermostats (at least 2GIG CT100) is currently unpredictable (at least to me).

I just came back to freezing cold home where I found the full A/C on instead of heating. The script did set the right away temperature (19 C) once I left home but seems to have fail

[2016-09-06 00:58] justweb1 commented on #3213
Did that help your issue?

[2016-09-06 01:00] realAkhmed commented on #3213
@justweb1 I apologize I meant that it was done right from the beginning so it probably isn't the source of problem.

[2016-09-06 02:43] realAkhmed commented on #3213
@turbokongen Unfortunately, even the latest PR doesn't seem to work reliably.

Here is the log of `set_temperature` call being ignored.

This is the script:
[code]

This is the console log:

[code]

Here is the screenshot:
![image](https://cloud.githubusercontent.com/assets/11564041/18260153/bf8dd10c-73b0-11e6-9db2-7451810e9c6d.png)

The physical unit says the same thing: 10C was not sent to therm

[2016-09-06 05:16] Cinntax commented on #3128
Yeah sorry this is my fault- I had put this functionality in- so that you can automatically replace the current MPD play queue with a given, saved playlist.  I failed to document this properly in the mpd platform page.  But at the moment it's just looking for a full playlist, not individual files.

[2016-09-06 05:27] turbokongen commented on #3213
@realAkhmed The last thing in your log is that the thermostat was set to Heat.
I would suggest adding a delay between the two commands in the script.
I have found that sending two commands to the same device in a script without a delay to frequently fail.
That is a issue with commands getting ignored in ozw.
If you want so see why, you can enable logger in your config and watch the logmessages fro

[2016-09-06 06:15] realAkhmed commented on #3213
@turbokongen Thanks! This can be an explanation. In 0.26.3, the commands were the same but the **order** of commands was different: I could first set the temperature(s) and then set the operation mode. In this PR, the order is forced which would explain why delays can be needed in this PR and were not needed in 0.26.3.

Having said that, the experience above highlights a potentially **dangerous si

[2016-09-06 09:21] snikch commented on #1587
I'm still receiving this problem with the PR merged - the main account can access fine, but a secondary account specifically set up for HASS retrieves the structure error.

[2016-09-06 09:51] fabaff commented on #3138
The problem seems related to the `voluptuous` migration.

[2016-09-06 09:57] turbokongen commented on #3213
Only the order of fetching the values from the thermostat has changed, not the way they are set. That is the same as 26.3, seperate calls. Order is decided by what gets called first by the script. From my own experience, I have a zxt_120. and I experience the same as you from time to time, but the log shows that communication is done correctly from HA to ozw, and ozw tries to communicate with devi

[2016-09-06 12:58] cbulock commented on #2876
I still haven't had a chance to make any progress with this, sorry. Hopefully I can get some time this week.

[2016-09-06 14:34] Teagan42 opened #3232 "URL Helper"
Make sure you are running the latest version of Home Assistant before reporting an issue.

You should only file an issue if you found a bug. Feature and enhancement requests should go in [the Feature Requests section](https://community.home-assistant.io/c/feature-requests) of our community forum:

**Home Assistant release (`hass --version`):**

**Python release (`python3 --version`):**

**Componen

[2016-09-06 14:48] #3138 closed

[2016-09-06 16:36] aymercury commented on #578
Hi! I tried using LIFX bulbs with Flux component and got wrong colors, while the log was telling me that all is correct. I edited lifx.py in two places, replaced the current color temperature calculation with the following:
### place 1
    def color_temp(self):
        """Return the color temperature."""
        #temperature = int(TEMP_MIN_HASS + (TEMP_MAX_HASS - TEMP_MIN_HASS) *
        #

[2016-09-06 17:43] rebelnme commented on #2774
I wanted to mention that I have the same problem.  I initially used the all in one installer on a Pi 3.  I reinstalled it with the normal installation procedure but I still have the same problem.  Editing the path of ghostdriver.log in the referenced files doesn't work since the files are reinstalled on every restart.  Using chmod to change the permissions for the directory of the file doesn't hel

[2016-09-06 18:11] flechaig commented on #3154
My job computer works fine, but my home computer gets this issue.
The fact is one identifier contains a single quote < ' >:

`homeassistant.components.notify.html5: Saving config file failed: c'OpmR65lgUTAErdYm5MVRn1==' is not JSON serializable`

See the quote  after the first "c"?

[2016-09-06 19:42] snikch opened #3239 "Always downloading fastdotcom package in docker"
**Home Assistant release (`hass --version`):**

0.27.2

**Python release (`python3 --version`):**

Current latest docker container version

**Component/platform:**

fast.com

**Description of problem:**

I'm running HASS in a docker-compose setup. Every time I start the containers up, during initialization of hass the fast.com component always downloads the fastdotcom package, despite the fact tha

[2016-09-06 20:35] snikch commented on #3239
I can confirm this is related to the import method being via github. I forked the repo, and uploaded to pypi as `fastdotcom_test`, rebuild the docker container using `REQUIREMENTS = ['fastdotcom_test']` in `components/sensor/fastdotcom.py` and it no longer has the caching issue.

Repo: https://github.com/snikch/fast.com

[2016-09-06 21:06] Landrash commented on #3239
Can verify that it happens on a fresh install of 27.2 with the following configuration.
[code]

[2016-09-06 21:20] Instagraeme commented on #2822
Fixed by Teagan42: https://github.com/home-assistant/home-assistant/pull/2916

[2016-09-06 21:20] Instagraeme commented on #2822
Fixed by Teagan42: https://github.com/home-assistant/home-assistant/pull/2916

[2016-09-06 21:20] #2822 closed

[2016-09-06 21:39] snikch commented on #3239
I've reached out to the dep author with a PR to push the dependency up to pypi.org. Once that is resolved I will create a hass PR with the updated dep 👌

[2016-09-06 23:10] tchellomello commented on #2083
PR #3244 created since upstream patches for python-fitbit were merged

https://github.com/orcasgit/python-fitbit/pull/97
https://github.com/orcasgit/python-fitbit/pull/99

[2016-09-06 23:54] ennobler opened #3245 "30MB/s of disk writes with history or logbook"
Make sure you are running the latest version of Home Assistant before reporting an issue.

You should only file an issue if you found a bug. Feature and enhancement requests should go in [the Feature Requests section](https://community.home-assistant.io/c/feature-requests) of our community forum:

**Home Assistant release (`hass --version`):**
0.27.2

**Python release (`python3 --version`):**
3.4.

[2016-09-07 00:00] justweb1 commented on #3213
@realAkhmed there is a PR on home-assistant and one on home-assistant-polymer that will add a climate range slider. They have been tested and are working and might fix this issue for you.

[2016-09-07 00:01] justweb1 commented on #3213
Look at #3189

[2016-09-07 01:23] #2083 closed

[2016-09-07 04:35] realAkhmed commented on #3213
@turbokongen I am not sure we understood each other. My point is:

In 0.26.3, I **can** actually change A/C target temperature while in Heat mode. It works! In the screenshot below, I can move the A/C slider in any way I want --  the A/C temperature is updated on the thermostat even in the heating mode. It just works. I don't have to switch to A/C mode to change A/C temperature.

By the way, I can

[2016-09-07 04:50] realAkhmed commented on #3213
@justweb1 thanks! This PR indeed sounds like it may solve the problem: if each side of the slider can be controlled separately in any operation_mode then this solution is equivalent or even better than what 0.26.3 had.

[2016-09-07 10:58] lwis commented on #3245
Just checked mine to be sure, and I'm not seeing this - is this a sustained write? Do you have a pre-existing database or is this a fresh installation?

[2016-09-07 11:00] sebk-666 opened #3250 "Uncaught exceptions in Denon component - patch included"
**Home Assistant release (`hass --version`):**
0.27.2

**Python release (`python3 --version`):**
Python 3.4.5

**Component/platform:**
media_player/denon.py

**Description of problem:**
I have added the media_player/denon component to my configuration to access my AV receiver.
My AVR is configured to not keep the network alive when it's turned off, i.e. I can't turn it on over the net and it won't

[2016-09-07 12:04] acornatm commented on #3099
I get similar errors but with a DHT22. I have the file present and get the expected output.

[2016-09-07 12:15] roidayan commented on #3099
you get the expected output and still get the error in the log "cannot import name 'Raspberry_Pi_Driver'" ?

[2016-09-07 12:56] justweb1 commented on #3213
@realAkhmed the dual slider only works in Auto mode? Why would you need the change an a/c temp if you are in heat mode. Auto mode let's you set an a/c point and a heat point and automatically switches between heat and a/c if the temp exceeds those points.

[2016-09-07 13:43] ennobler commented on #3245
It's a new installation running from the docker image homeassistant/home-assistant. I've tried stopping the container, deleting the database, and restarting the container and the high-write rate returns. I've also tried removing and re-running the container and still seem to see it. I can't right now, but tonight I can try a new container without any persistent storage to see if I can replicate it

[2016-09-07 13:58] #3139 closed

[2016-09-07 16:21] spac3 commented on #1632
Not sure if the input is helpfull, but I got the same problem.
I was running it in sudo and it worked fine, the moment I put it in crontab of root I got the same error.

`
INFO:homeassistant.components.device_tracker.nmap_tracker:Scanning
ERROR:homeassistant.components.device_tracker:Error setting up platform nmap_tracker
Traceback (most recent call last):
  File "/usr/local/lib/python3.4/dist-pac

[2016-09-07 16:34] jpenyc commented on #1632
nmap wasn't finding arp.

sbin is in the path, but it would work until I made a link for it in bin
I came up with this fix, is it proper?

sudo ln -s /usr/sbin/arp /usr/bin/arp

[2016-09-07 16:36] spac3 commented on #1632
I just applied a fix to the code, testing it now - will update in 15mins

 /usr/local/lib/python3.4/dist-packages/homeassistant/components/device_tracker/nmap_tracker.py line 45
update to:
 cmd = ['/usr/sbin/arp', '-n', ip_address]

[2016-09-07 16:51] spac3 commented on #1632
PS: when making changes, you need to save before you reboot to test :P

@balloob @trainman419
Found the fix, as per my last post and it works, as per below.

 `
INFO:homeassistant.loader:Loaded device_tracker.nmap_tracker from homeassistant.components.device_tracker.nmap_tracker
INFO:homeassistant.components.device_tracker.nmap_tracker:No MAC address found for 10.0.66.4
INFO:homeassistant.componen

[2016-09-07 17:15] hoopty commented on #3038
Well, I feel like an idiot - it looks like I didn't specify that I needed here was to read 2 registers at once, not write.  On this particular modbus device, they return the temperature in two registers and then I'll use the new scale parameter or divide by 100 to get the float.

[2016-09-07 17:17] #3250 closed

[2016-09-07 17:19] persandstrom commented on #3038
Haha,  no worries ☺
I can add that as well

[2016-09-07 18:19] tylerstraub commented on #3128
Hi @Cinntax

Thank you for clarifying. I haven't been able to get this working with a previously saved playlist either unfortunately. Could you post an example of what the media_content_id attribute is expecting?

Cheers!

[2016-09-07 18:50] turbokongen commented on #3195
Closed by #3205

[2016-09-07 18:50] #3195 closed

[2016-09-07 18:57] turbokongen commented on #3075
This is actual a feature request, but it's been taken care of in #3189  :D

[2016-09-07 18:57] #3075 closed

[2016-09-07 21:44] realAkhmed commented on #3213
@justweb1 I think there are several reasons:

1. this allows to set the desired temperature before actually switching to the given `operation_mode`, not after.

    My thermostat responds immediately to the new operation_mode and doesn't wait for the new desired temperature to be sent. In 0.26.3 that wasn't a problem -- just set the desired temperature before switching the operation_mode. That is

[2016-09-07 22:19] CCOSTAN opened #3259 "Errors with ChromeCast Audio."
**Home Assistant release (`hass --version`):**
0.28.0.dev0

**Python release (`python3 --version`):**
Python 3.4.2

**Component/platform:**
cast

**Description of problem:**
When launching HASS, there seems to be socket errors and it adds a significant amount of time to the loading before erroring out.

**Expected:**

**Problem-relevant `configuration.yaml` entries and steps to reproduce:**

[code

[2016-09-07 22:26] arsaboo commented on #3259
I am also getting similar errors and may be it will help narrow down the cause:
[code]

[2016-09-07 23:02] acornatm commented on #3099
No I don't get the import error, I get something about needing to run as sudo, am rebuilding atm, if it continues I'll post the exact error.

[2016-09-08 04:28] tchellomello commented on #3145
Is this support to work? Why don't you add the timestamp on the take_snapshot.sh directly?

[code]
Probably get it to work you would need to import the datetime and them call the Python function.

[2016-09-08 04:33] roidayan commented on #3099
maybe you run an older version of home-assistant were the imported Adafruit_DHT library required root. latest version of home-assistant fetches newer version of Adafruit_DHT that doesn't require root (tested on raspbian).

[2016-09-08 04:42] tchellomello commented on #3129
If you try:
[code]

Does it work?

[2016-09-08 04:45] #2948 closed

[2016-09-08 04:45] tchellomello commented on #2845
We can close this issue. Implemented by https://github.com/home-assistant/home-assistant/pull/3244

[2016-09-08 04:46] #2845 closed

[2016-09-08 05:11] ennobler commented on #3245
sorry for the noise. I can't replicate it in a brand new container with different  persistent storage.

[2016-09-08 05:11] #3245 closed

[2016-09-08 06:33] MS-Informatique commented on #3145
According to https://home-assistant.io/components/shell_command/ , templates should be supported but apparently not all kind of templates.

I need to define the timestamp into a template because I want to use the same timestamp in different scripts.

Perhaps, I can explain what I want to do and you can suggest an other solution.

**Goal:**
When someone rings on my door, I want a camera snapshot se

[2016-09-08 12:52] arsaboo opened #3263 "HBMQTT errors with Home-Assistant"
I am trying to use the built-in HBMQTT broker works with HA. I used the default config as indicated [here](https://home-assistant.io/components/mqtt/):
[code]
I get the following error:
[code]
@balloob suggested adding `{}` after `embedded`, so I modified the config to:
[code]
Now, I get the following errors:
[code]

[2016-09-08 13:58] finish06 opened #3264 "Nest temperature sensor trailing digits"
**Home Assistant release (`hass --version`):**
0.27.2

**Python release (`python3 --version`):**
Python 3.5.2

**Component/platform:**
Sensor/Nest

**Description of problem:**
![image](https://cloud.githubusercontent.com/assets/5663312/18351959/e9e45e56-75a1-11e6-8831-f6ae4d939899.png)

**Expected:**
Temperature to only contain 1 or 2 digits after the decimal.

**Problem-relevant `configuration.ya

[2016-09-08 15:06] camrun91 commented on #3264
I have had the same thing happening on my nest as well.

[2016-09-08 16:30] w1ll1am23 commented on #3264
Pretty sure it is all sensors. https://github.com/home-assistant/home-assistant/issues/3081

[2016-09-08 17:47] MartinHjelmare commented on #3263
Try removing `embedded`. If you have that key in your config you have to set some values that are set by default if `embedded` is left out.

[2016-09-08 17:55] MartinHjelmare commented on #3263
We should probably handle this via voluptuous.

[2016-09-08 17:58] terrycarlin commented on #3129
Thanks for the messages.

That is my configuration.  I got around it by commenting out “target” in my platform nest configuration.

- platform: nest
  monitored_conditions:
    - 'temperature'
#    - 'target'
    - 'humidity'
    - 'mode'
    - 'last_ip'
    - 'local_ip'
    - 'last_connection'
    - 'battery_level'
    - 'weather_condition'
    - 'weather_temperature'
    - 'weather_humidity'

[2016-09-08 18:27] arsaboo commented on #3263
Here's the error if I remov `embedded` from the configuration.yaml.
[code]

[2016-09-08 18:44] MartinHjelmare commented on #3263
Have you set the http server host address to something else than 0.0.0.0? If not you can try:
[code]

[2016-09-08 18:52] arsaboo commented on #3263
[code]

[2016-09-08 18:59] arsaboo commented on #3263
On using the config as suggested by @Landrash:
[code]
I get the following error:
[code]

[2016-09-08 19:05] Landrash commented on #3263
This works
Works like this to
[code]

[2016-09-08 19:06] MartinHjelmare commented on #3263
I suggested you should change the address of the http server not the mqtt server. See my post above again.

[2016-09-08 19:09] arsaboo commented on #3263
Cool...that works....thanks!

[2016-09-08 19:09] #3263 closed

[2016-09-08 20:11] cvsandeep commented on #2581
I am not able to use FortrezZ Siren/Strobe. It doesn't detect as switch. The following devices shows in the states with default values as 0.

sensor.fortrezz_ssa2__sirenstrobe_light_alarm_alarm_level_17
sensor.fortrezz_ssa2__sirenstrobe_light_alarm_alarm_type_17
sensor.fortrezz_ssa2__sirenstrobe_light_alarm_burglar_17
sensor.fortrezz_ssa2__sirenstrobe_light_alarm_sourcenodeid_17

I an using using

[2016-09-08 22:58] terrycarlin commented on #3129
One thing I forgot to mention in my last email is that I set up my Nest Thermostat using a Range.
I want the temperature to be between 50º and 76º.  This causes the Nest Rest API return a tuple for a target temperature. {low temperature, high temperature}

Thanks,

Terry Carlin

[2016-09-09 00:26] #3239 closed

[2016-09-09 02:02] jpenyc commented on #3081
<img width="336" alt="screen shot 2016-09-08 at 9 57 20 pm" src="https://cloud.githubusercontent.com/assets/10241521/18373139/b2a0c7d6-760f-11e6-8515-eda158f08880.png">
MQTT feeds the data from ds18b20 via ESP8266

[2016-09-09 05:17] hoopty commented on #3038
Great, thanks in advance!  I assume that will be done in a separate PR from #3252

[2016-09-09 05:34] persandstrom commented on #3038
Yes,  expect a PR in a few days

On Sep 9, 2016 7:17 AM, "Bryce Edwards" <notifications@github.com> wrote:

[2016-09-09 06:38] #2599 closed

[2016-09-09 12:14] Bart274 opened #3283 "can't start webpage in latest version"
Make sure you are running the latest version of Home Assistant before reporting an issue.

You should only file an issue if you found a bug. Feature and enhancement requests should go in [the Feature Requests section](https://community.home-assistant.io/c/feature-requests) of our community forum:

**Home Assistant release (`hass --version`):** 0.28.0.dev0

**Python release (`python3 --version`):**

[2016-09-09 14:18] Bart274 commented on #3283
hmm, it seems to be related solely to the `emulated_hue` component, when I comment it out, HASS starts again.
it used to work before?

[2016-09-09 14:47] jwl17330536 commented on #2819
I had never used the "source_ignore" or "source_names" until I saw this post.  I tried it today on 0.27.2 and get mixed results.

With both "source_ignore" and "source_names" I get:
[code]
Removing the "source_names" all works great!

Here is my configuration.yaml:
[code]

[2016-09-09 14:51] Kernald commented on #2819
The `source_names` works great for me. Anyway, I can't reproduce the issue since the 0.27 release, maybe this should probably be closed?

[2016-09-09 15:38] MidiHipi opened #3286 "HA site won't open after clean install on both windows 10 and ubuntu 16.04"
Make sure you are running the latest version of Home Assistant before reporting an issue.

You should only file an issue if you found a bug. Feature and enhancement requests should go in [the Feature Requests section](https://community.home-assistant.io/c/feature-requests) of our community forum:

**Home Assistant release (`hass --version`):**
0.27.2

**Python release (`python3 --version`):**
3.5.

[2016-09-09 15:41] MidiHipi commented on #3286
Also I am very impressed with vids and info and all the assistance around this platform!

[2016-09-09 17:50] MidiHipi commented on #3286
Sure I will give it a try...

[2016-09-09 17:57] MidiHipi commented on #3286
sorry, I am a complete noob, where is it in windows and what is it called pls?

Midi

[2016-09-09 18:06] joejulian opened #3294 "unifi failure causes exception in device_tracker_scan"
**Home Assistant release (`hass --version`):**
0.27.2

**Python release (`python3 --version`):**
Python 3.5.2

**Component/platform:**
unifi

**Description of problem:**
My unifi server was down and the nginx proxy was returning a 502 for it. This, apparently, caused the device to be a boolean which, of course, does not inherit the methods for a device, which causes an attribute error when attempt

[2016-09-09 19:38] kylerw opened #3295 "Request - Config option to set Splash page for cast type media_player"
Would it be possible to add the config option to change the Splash page for ChromeCast?

[2016-09-09 20:25] Landrash commented on #3295
You should only file an issue if you found a bug. Feature and enhancement requests should go in [the Feature Requests section](https://community.home-assistant.io/c/feature-requests) of our community forum.

[2016-09-09 20:32] kylerw commented on #3295
Sorry about that! Will move it over there.

[2016-09-09 20:32] #3295 closed

[2016-09-09 20:39] Henrik1986 opened #3299 "MQTT setup error"
Make sure you are running the latest version of Home Assistant before reporting an issue.

You should only file an issue if you found a bug. Feature and enhancement requests should go in [the Feature Requests section](https://community.home-assistant.io/c/feature-requests) of our community forum:

**Home Assistant release (`hass --version`):**
0.27.2

**Python release (`python3 --version`):**

**C

[2016-09-09 20:53] Landrash commented on #3299
Any other errors before this?
Is the required libraries installed?
`paho-mqtt==1.2'`

[2016-09-09 21:11] Henrik1986 commented on #3299
I got the error after last update of HA. Before that it worked perfect since i started with HA.
Yes i checked it and paho-mqtt is up to date.

[2016-09-10 00:00] acornatm commented on #3099
Hi I got it working in the end by adding hass to groups gpio & root. It wouldn't work until I did that. Latest raspian using the all in one HA installer.

[2016-09-10 05:24] Landrash commented on #3099
I really wouldn't add the hass user to root. Adding it to the `gpio` group should enough.

[2016-09-10 05:27] Landrash commented on #3299
Can you try removing the ` protocol: 3.1` part?
It's should default to 3.1.1 and fallback to 3.1 if 3.1.1 does not work.
I've tried on a new install, my current install and even on one I updated from .26 and it all works.
Only thing I cant replicate is having the other end that requires MQTT 3.1.

[2016-09-10 08:48] fabaff commented on #3286
`configuration.yaml` is located [here](https://home-assistant.io/getting-started/configuration/).

[2016-09-10 09:44] acornatm commented on #3099
I tried doing that initially and it didn't work. I know according to the current help it should but it didn't.
Assume it's something in the all in one installer that causes it? I didn't read anything about having to add hass to gpio either, shouldn't the all in one set everything up so a simple .yaml modification gets anything  working? That is the way the instructions come across.

[2016-09-10 09:59] roidayan commented on #3099
Are you on Raspbian distribution?
Can you try updating to latest kernel and latest firmware using rpi-update?

https://github.com/Hexxeh/rpi-update

[2016-09-10 10:00] roidayan commented on #3099
Please also separate your issue to a different thread. The original issue is Python import and not accessing gpio as non-root user.

[2016-09-10 10:17] acornatm commented on #3099
Hi, yes I downloaded everything within the last 3 days, Raspian Jessie, then the all in one using the instructions given. Being new to HA and not linux literate, I made sure I followed each step very carefully. Apologies for hijacking the thread, I guess I don't have an issue now, was just trying to clear up what I did and how I got it working.

[2016-09-10 11:53] MidiHipi commented on #3286
both of those locations are empty except for a folder "deps" ......

[2016-09-10 13:56] Landrash commented on #3286
Does the user your running HA with have proper permission to write to the location in question?

[2016-09-10 17:51] cg089 opened #3308 "Autostart: Unifi WAP Plugin doesn't work"
I run Unifi AP Software and Homeassistant on the same device (Banana Pi). Both are autostarted with systemd.

However, Homeassistants device tracker sees every device as "not home", although they show up in Unifi Server.

I found out it has something to do with Autostart.
If i disable home assistant autostart
sudo systemctl disable home-assistant@pi
and start it with a sleep in crontab:
crontab -e

[2016-09-10 18:59] dmcgrew commented on #2876
Same problem here. HASS discovers the directv box but then throws an error..

`16-09-10 14:49:52 INFO (Thread-2) [homeassistant.components.discovery] Found new service: directv ('192.168.1.4', 'RID-025222650084')
16-09-10 14:49:52 INFO (Thread-2) [homeassistant.components.discovery] Found new service: DLNA http://192.168.1.4:49152/2/description.xml
16-09-10 14:49:52 INFO (ThreadPool Worker 13) [ho

[2016-09-11 01:36] MidiHipi commented on #3286
In the case of windows, yes I am administrator. On the linux machines i am hass......

[2016-09-11 05:00] hoopty opened #3311 "History component showing items I configured as hidden"
**Home Assistant release (`hass --version`):**
0.28

**Python release (`python3 --version`):**
3.4.5

**Component/platform:**
history

**Description of problem:**
The sensors and switches I have marked as hidden in the customize section of the config are visible, taking valuable real estate in the history view.  This is not desired.

**Expected:**
Either of the following:
A) config option to show

[2016-09-11 06:19] Landrash commented on #3308
Only a guess but I think you can confirm this with the home-assistant logs.
Most likely even tough the unifi service is up and running there might be a delay before it responds. If the initialization of the component is already done by then the component fails to initialize.
Your workaround with crontab is a excellent way of working around this.

[2016-09-11 06:27] philhawthorne opened #3312 "Cannot set state attributes of a device"
Make sure you are running the latest version of Home Assistant before reporting an issue.

You should only file an issue if you found a bug. Feature and enhancement requests should go in [the Feature Requests section](https://community.home-assistant.io/c/feature-requests) of our community forum:

**Home Assistant release (`hass --version`):** 0.28

**Component/platform:** Synology -> Docker Image

[2016-09-11 07:22] Landrash commented on #3312
That would be expected behavior?
If you write a state to an entity without a `friendly_name` it won't have a `friendly_name` anymore.

[2016-09-11 07:24] philhawthorne commented on #3312
No, sorry the issue is, even if you do set a `friendly_name`, it doesn't keep it. It's like the entire `state_attributes` are ignored.

[2016-09-11 08:00] SpartanTech opened #3313 "Ecobee climate/set_ fan_ mode doesn't work. Unsupported function. Works I'm every other ifttt smartthings, and openhab I implementation"
Make sure you are running the latest version of Home Assistant before reporting an issue.

You should only file an issue if you found a bug. Feature and enhancement requests should go in [the Feature Requests section](https://community.home-assistant.io/c/feature-requests) of our community forum:

**Home Assistant release (`hass --version`):**
0.27.2

**Python release (`python3 --version`):**
Pyth

[2016-09-11 09:12] MartinHjelmare commented on #3308
Does the unifi service have dependencies? Are those specified in the unifi unit file?

[2016-09-11 09:22] ryqiem commented on #2843
Is it possible to implement the 6553s hack from @pancho-villa as a temporary fix? I've done it myself and it's working just fine, and it'll allow slower fades for both Hue and Lifx untill someone does a differentiated max fade time.

[2016-09-11 13:23] sgauche opened #3315 "Temperatures set incorrectly on ecobee"
Make sure you are running the latest version of Home Assistant before reporting an issue.

You should only file an issue if you found a bug. Feature and enhancement requests should go in [the Feature Requests section](https://community.home-assistant.io/c/feature-requests) of our community forum:

**Home Assistant release (`hass --version`):**
0.28

**Python release (`python3 --version`):**
3.4.2

[2016-09-11 13:46] turbokongen commented on #3315
Could you provide the devices state attributes of each change and values from ecobee app.? I've just adjusted the code according to my understanding of the code. Not necessarily the same as the real world. I don't have the ecobee to test.

[2016-09-11 13:58] blasmat commented on #774
One more vote for a simple night mode using a darker color scheme.

[2016-09-11 14:25] arsaboo opened #3316 "Panasonic Viera TV not discovered after updating to 0.28.2"
Panasonic Viera TV is not discovered after the update.

**Home Assistant release (`hass --version`):** 0.28

**Python release (`python3 --version`):** 3.4.2

**Component/platform:** `media_player`

**Additional info:** I am wondering if it is similar to the issue that @balloob highlighted about Bloomsky platform discovery in #3303.

[2016-09-11 14:30] lroguet opened #3317 "[Sonos] Speakers showing twice on the states page."
**Home Assistant release (`hass --version`):** 0.28.0
**Python release (`python3 --version`):** Python 3.4.2
**Component/platform:** Sonos
**Description of problem:** All speakers showing twice on the states page.

<img width="1121" alt="screen shot 2016-09-11 at 16 29 35" src="https://cloud.githubusercontent.com/assets/5037892/18417920/01f1f1c8-783d-11e6-85ba-ec1398d0a7e3.png">

[2016-09-11 14:32] arsaboo commented on #3317
I don't see two Sonos devices. Can you try CTRL+F5 or restarting HASS?

[2016-09-11 14:33] arsaboo commented on #3313
0.28 had lot of fixes for Ecobee....try that out.

[2016-09-11 15:35] turbokongen commented on #3313
I don't think the python library communicating with ecobee supports this
yet.

11. sep. 2016 16:38 skrev "arsaboo" <notifications@github.com>:

[2016-09-11 15:55] Nayar opened #3319 "On Android, HA gets stuck on loading screen"
**Home Assistant release (`hass --version`):**  0.28.0

**Python release (`python3 --version`):** Python 3.4.2

**Component/platform:**

**Description of problem:** On the native android browser of my Alcatel One Touch 5042D, HA gets stuck on the loading screen like forever. I found the same issue with my dad's alcatel. With my sister's lenovo, it works fine

**Expected:** The states page should l

[2016-09-11 15:58] renekliment opened #3320 "Alexa can access the whole HA"
Hey.
So I've been wanting to control HA with Amazon Alexa using the _Alexa_ component, since I don't have (nor want to have) an Echo device.

The [documentation](https://home-assistant.io/components/alexa/) tells me to give Alexa the endpoint like `https://YOUR_HOST/api/alexa?api_password=YOUR_API_PASSWORD` which contains the HA password using which the Amazon service can practically do whatever t

[2016-09-11 16:39] devdelay commented on #3320
Your first sentence is confusing. You don't have or want to have Echo but you want to control HA with Alexa?

When you get one... use [emulated hue](https://home-assistant.io/components/emulated_hue/) instead.

I do agree though, it is somewhat of a security risk. The same issue exists within the IFTTT component or if you are using Haaska

[2016-09-11 17:03] renekliment commented on #3320
Oh, sorry for the confusion. I'm using [AlexaPi](https://github.com/alexa-pi/AlexaPi), which is a client for `Alexa Voice Service` - basically you make Echo out of your own device like Raspberry Pi or pretty much anything. We're currently working on a cross-platform version that supports all Linux computers and my personal goal is to make is super easy to use with HA when it's ready.

Yep, I haven

[2016-09-11 17:35] balloob commented on #3320
I'm open for a pull request to add a custom password. It should be optional with a fallback to the original behavior when not supplied.

[2016-09-11 18:12] lroguet commented on #3317
Tried both CTRL+F5 & a restart. Still all speakers twice.

[2016-09-11 18:17] sgauche commented on #3315
Does that get you what you need @turbokongen?

[2016-09-11 18:18] #3037 closed

[2016-09-11 18:19] turbokongen commented on #3315
Try out the bug fix. :+1:

[2016-09-11 18:28] sgauche commented on #3315
I modified my ecobee.py to match your changes.

The range's now show a little odd in the climate card.
![image](https://cloud.githubusercontent.com/assets/8250717/18419568/d95f0f4a-782b-11e6-8723-e872a5186e1c.png)

And then when i start to move the range slider, it suddenly moves both sliders.  Hard to explain that one with pics even.

But after sliding them, it still set my ecobee to the range 60

[2016-09-11 18:58] turbokongen commented on #3315
The graph is because the values of high and low were inverted.
The slider is actually a feature, you can move the range without changing individually. :)
I really need to study the api code and python library to figure this one out.
BTW does single setpoint work now?

[2016-09-11 19:33] arsaboo commented on #3316
It seems Viera TV is no longer auto discovered and we need to specify the full configuration as detailed [here](https://home-assistant.io/components/media_player.panasonic_viera/).

[2016-09-11 19:39] Henrik1986 commented on #3299
I remove deps and now everything is working. Thx!

[2016-09-11 19:41] turbokongen commented on #3315
I did some studying, and it looks like some stuff is inverted, because I look at the old code all references to low temp is pointed towards desiredHeat at the API. and vice versa.
I adjusted the PR to match that, please test.

[2016-09-11 19:46] #3299 closed

[2016-09-11 20:23] pvizeli commented on #3317
Do you have more than one box on ethernet?

[2016-09-11 21:46] clach04 commented on #3085
Checking the incoming discovery would be ideal (sure sure how feasible this is, I do not have HA discovery enabled on my machine, I'm on Windows and netdisco does not install cleanly), one option would be to ignore local discovery requests based on the IP address.

[2016-09-11 21:46] sgauche commented on #3315
I just had the range slider act strange once, maybe it was a fluke.

In Auto mode, it still seems to always set the ecobee range to 60F-70F no matter what I set in hass.

In Cool mode, ecobee was set to 75F, hass also matched that.  I used hass to change cool mode set point to 80F, but the ecobee showed it got set to 70F.

In Heat mode, ecobee was set to 68F, hass also matched that.  I used hass t

[2016-09-11 22:02] clach04 opened #3327 "Emulated Hue Bridge Windows discovery problems"
Make sure you are running the latest version of Home Assistant before reporting an issue.

**Home Assistant release (`hass --version`):** 0.27.2 and 0.28.0.dev0

**Python release (`python3 --version`):** Python 3.5.1

**Component/platform:** Emulated Hue Bridge https://home-assistant.io/components/emulated_hue/

**Description of problem:**

Discovery piece crashes with stack trace.

**Expected:**

[2016-09-11 22:41] justweb1 commented on #3315
@sgauche did you try the latest pr?

[2016-09-11 22:55] sgauche commented on #3315
As far as I know I'm using the latest PR.  This one: https://github.com/turbokongen/home-assistant/commit/3799908d2851377726a26a8405a524c18901cbbe

The way I'm trying to test this on my set up is... Copying the raw file from github and replacing the file on my rasp pi at /sev/hass/hass_venv/lib/python3.4/site-packages/homeassistant/components/climate/ecobee.py

[2016-09-11 23:46] justweb1 commented on #3315
That is the latest. Are you still having issues?

[2016-09-12 00:01] sgauche commented on #3315
@justweb1 Yes sir.  [This comment](https://github.com/home-assistant/home-assistant/issues/3315#issuecomment-246206850) was with https://github.com/turbokongen/home-assistant/commit/3799908d2851377726a26a8405a524c18901cbbe implemented.

[2016-09-12 01:03] arsaboo commented on #3316
I entered all the details in the configuration.yaml:
[code]
However, I still get the error:
`Sep 11 21:00:39 raspberrypi hass[13033]: 16-09-11 21:00:39 ERROR (MainThread) [homeassistant.components.media_player.panasonic_viera] Panasonic Viera TV is not available at 192.168.2.128:55000`

[2016-09-12 01:47] nickvanderstel commented on #3315
I'm having the same issue and can provide a little insight: my setpoints are changing to 70 and 55 as opposed to 70 and 60, which are the lowest values I have allowed in my ecobee configuration. So for some reason it seems it is always changing the setpoints to the lowest values you have allowed in the ecobee configuration.

[2016-09-12 02:19] sgauche commented on #3315
Like @nickvanderstel said, home assistant is setting it to my lowest heating set point and my lowest cooling set point.
![image](https://cloud.githubusercontent.com/assets/8250717/18422878/c36fb8f0-786d-11e6-948d-68c33dd5d9ca.png)

[2016-09-12 03:55] tchellomello opened #3331 "Automatic device_tracker component throws a traceback when 2 or more cars are tracked by Automatic"
**Home Assistant release (`hass --version`):**
0.28.0

**Python release (`python3 --version`):**
Python3.5

**Component/platform:**
device_tracker.automatic

**Description of problem:**
Automatic is throwing the exception below:
[code]

**Problem-relevant `configuration.yaml` entries and steps to reproduce:**
[code]

However with 1 only device it does not throw the traceback
[code]

[2016-09-12 04:53] #3331 closed

[2016-09-12 05:10] tchellomello commented on #3331
Just tested the patch and worked as expected.
Thanks guys

[2016-09-12 06:01] turbokongen commented on #3315
I've added some debug lines. Please test.
Enable logger in your install, and debug messages will show in the logs, about the set temps and what type the numbers are.

[2016-09-12 07:37] lroguet commented on #3317
One speaker wired, the other two are not.

configuration.yaml
[code]

groups.yaml
[code]

[2016-09-12 07:42] philhawthorne commented on #3317
I also experienced this, but seems as though a restart of HASS has fixed it. Not sure if it was just some teething issues with the upgrade

[2016-09-12 10:03] nvella commented on #3177
Still seems to be present on 0.28.1.

[code]

[2016-09-12 12:07] thegame3202 commented on #3315
I also am having this issue and would be happy to help with anything I can provide!

[2016-09-12 13:06] Cinntax commented on #3128
Sure- this is a sample of how i'm using it.  I have a scene called "Relax on deck"- the part you see here is where i'm telling mpd to play a given playlist, and then set it's volume.  The scene itself calls this script, and then also sets lighting- routes MPD to the deck speakers, etc.

relaxdeck: <====this is a script
    sequence:
    - service: media_player.play_media
      data:
        entity

[2016-09-12 14:36] sytone commented on #1153
Has there been any progress on this? I saw one github project.

[2016-09-12 14:57] sgauche commented on #3315
I tried setting the temp range to 64F - 80F.

[code]

[2016-09-12 15:17] sgauche commented on #3315
This is for heat mode.  Set to 62 in home assistant, ecobee shows 60F.
[code]

[2016-09-12 15:24] pvizeli commented on #3317
I don't see this issue with that config. I've tested with fix config and autodiscovery with 8 sonos device. Playbar ist on ethernet and others is on sonos internal wireless.

[2016-09-12 15:42] turbokongen commented on #3315
Closed by #3325

[2016-09-12 15:42] #3315 closed

[2016-09-12 16:32] jwl17330536 commented on #3143
The pubnub update works like a charm.  Nice hack @w1ll1am23

[2016-09-12 16:48] jwl17330536 opened #3346 "Wink - Garage door no longer found"
**Home Assistant release (`hass --version`):**
0.28.1

**Python release (`python3 --version`):**
3.4.2

**Component/platform:**
Wink - Garage Door / Cover

**Description of problem:**
After upgrading from 0.27.1 > 0.28.1 I've lost my Wink Garage Door - GoControl

**Expected:**
Garage door shows up in developer tools as cover.garage_door

**Problem-relevant `configuration.yaml` entries and steps to

[2016-09-12 16:51] jbardi opened #3347 "Recorder does not accept file paths for SQLite database"
Make sure you are running the latest version of Home Assistant before reporting an issue.

You should only file an issue if you found a bug. Feature and enhancement requests should go in [the Feature Requests section](https://community.home-assistant.io/c/feature-requests) of our community forum:

**Home Assistant release (`hass --version`):**
0.28.1

**Python release (`python3 --version`):**
3.4.

[2016-09-12 16:53] rbflurry opened #3348 "After update to 0.28.1 Wink Garage doors / Covers are no longer discovered."
Make sure you are running the latest version of Home Assistant before reporting an issue.

You should only file an issue if you found a bug. Feature and enhancement requests should go in [the Feature Requests section](https://community.home-assistant.io/c/feature-requests) of our community forum:

**Home Assistant release (`hass --version`): 0.28.1

**Python release (`python3 --version`):  Python

[2016-09-12 17:00] Danielhiversen commented on #3347
Voluptuous only accpets urls and paths. Bug is at this line: https://github.com/home-assistant/home-assistant/blob/dev/homeassistant/components/recorder/__init__.py#L46

[2016-09-12 17:03] lroguet commented on #3317
The issue is gone in 0.28.1 so not really a big deal.

[2016-09-12 18:12] Landrash commented on #3319
@Nayar  What browser and version?
Anything in the log of HA when you try to access it with this device?

[2016-09-12 18:44] arsaboo commented on #3316
The issue persists with 0.28.2

[2016-09-12 18:52] jeanregisser commented on #2554
@balloob is there a workaround for this issue?

[2016-09-12 19:14] lwis commented on #2554
@jeanregisser a workaround is removing certifi - which is what has been done in the current Docker release for the project.

[2016-09-12 19:18] jeanregisser commented on #2554
I'm using the official docker release (tag 0.27.2). The problem I have is it breaks the telegram notifier which depends on it.

[2016-09-12 19:26] kellerza commented on #2554
An alternative to upgrading OpenSSL is downgrading certify:

[code]

[2016-09-12 19:41] jeanregisser commented on #2554
Ok thanks.
Is there a longer term solution?
Anybody enabling Telegram with the official docker is going to face this issue.
So I'm not too sure why this issue was closed.

[2016-09-12 19:44] DavidLP opened #3351 "Pilight broken due to code clean up"
Make sure you are running the latest version of Home Assistant before reporting an issue.

You should only file an issue if you found a bug. Feature and enhancement requests should go in [the Feature Requests section](https://community.home-assistant.io/c/feature-requests) of our community forum:

**Home Assistant release (`hass --version`):**
0.28.1

**Python release (`python3 --version`):**
Pyth

[2016-09-12 19:46] kirichkov commented on #3351
I also have the same issue after upgrading to 0.28.1

[2016-09-12 19:51] lwis commented on #2554
Ah, I have my own personal alpine image for HA, which supports certifi.

On Mon, 12 Sep 2016, 8:21 pm Jean Regisser, <notifications@github.com>
wrote:

[2016-09-12 19:54] kellerza commented on #2554
Personally I don't use docker for HASS - prefer the low power Pi and I downgraded certify on my dev VM,- since it's the path of least resistance.

Contributions to the HASS Docker container would be appreciated.

[2016-09-12 20:32] fabaff commented on #3351
This configuration can be validated.

[code]

[2016-09-12 20:53] Diaoul commented on #2722
Having the same issue here. It's often my printer is disconnected while the OctoPrint server is still running. This is for safety (when I do not print), to save power and mostly because the PSU of the printer is really noisy.

[2016-09-12 20:59] DavidLP commented on #3351
True, I guess the error is elsewhere The service data is a (mappingproxy)[http://stackoverflow.com/questions/32720492/why-is-a-class-dict-a-mappingproxy] now and was most likely a dict before.

[2016-09-12 21:05] DavidLP commented on #3351
I really should have added unit tests for pilight... sorry

[2016-09-12 21:06] kellerza commented on #3351
MappingProxy protects the data and it might be that the Pilight services tries to mutate the dict

The best way to fix would be to make copy of the dict

[2016-09-12 21:08] kellerza commented on #3351
Probably [here](https://github.com/home-assistant/home-assistant/blob/dev/homeassistant/components/pilight.py#L74) since you modify `protocol` on line 79

[2016-09-12 21:11] kellerza commented on #3351
Better yet, add ensure_list to the [schema](https://github.com/home-assistant/home-assistant/blob/dev/homeassistant/components/pilight.py#L32) then you dont have to modify it
[code]

[2016-09-12 21:37] DavidLP commented on #3351
Yes, if I make the mapping proxy to dict it is working again. The _ensure_list_ in your code schema does not work as intended since it makes a string of a list of a string.

One has to invert the order to make it work (that is not obvious to me at all...)

[code]

[2016-09-12 21:39] tylerstraub commented on #3128
@Cinntax I was able to successfully trigger a playlist of my own choosing using your method described above (media_content_id = name of playlist & media_content_type = "playlist"). Thank you very much for the help! Now I can finally finish my theme music for home arrivals :)

Cheers!

[2016-09-12 21:39] #3128 closed

[2016-09-12 22:02] kellerza commented on #3351
Sorry, I made a typo there, `cv.string` should probably be in brackets `[]` since it is a list after `cv.ensure_list`

`vol.All(cv.ensure_list, [cv.string])`?

[2016-09-12 22:18] DavidLP commented on #3351
Yes! Thank you.

[2016-09-12 22:42] CowToex commented on #2320
I receive this error no matter what password I use.  Including "123456789" or "password"

[2016-09-12 23:14] Instagraeme opened #3356 "Climate component does not show historical data"
Make sure you are running the latest version of Home Assistant before reporting an issue.

You should only file an issue if you found a bug. Feature and enhancement requests should go in [the Feature Requests section](https://community.home-assistant.io/c/feature-requests) of our community forum:

**Home Assistant release (`hass --version`):**
0.28.1

**Python release (`python3 --version`):**
3.4

[2016-09-13 00:35] rogersmj opened #3357 "Alexa not detecting scenes from Emulated Hue"
**Home Assistant release (`hass --version`):**
0.28.1

**Python release (`python3 --version`):**
Python 3.4.2

**Component/platform:**
Emulated Hue

**Description of problem:**
Scenes exposed via Emulated Hue are never discovered via Alexa. All switches, lights, and groups are discovered, and function as expected. The scenes _are_ present in the JSON output from the Hue Bridge API (http://YOUR_IP:

[2016-09-13 01:15] JoshuaGarrison27 opened #3358 "Xbox Live - Gamertags with spaces break the component"
**Home Assistant release (`hass --version`): 0.28.1

**Python release (`python3 --version`): Python 3.4.2

**Component/platform: xbox_live

**Description of problem:**
If the gamertag has a space in it then it will fail and stop executing the rest of the component.

**Expected:**
I expect that it would automatically insert an underscore or dash (hyphen) in the name so that it will continue to work

[2016-09-13 01:21] #3347 closed

[2016-09-13 01:23] #3346 closed

[2016-09-13 01:23] balloob commented on #3346
Will be fixed in 0.28.2

[2016-09-13 01:23] balloob commented on #3348
Will be fixed in 0.28.2

[2016-09-13 01:23] #3348 closed

[2016-09-13 01:28] #3351 closed

[2016-09-13 01:31] balloob commented on #3177
Will be released in 0.28.2

[2016-09-13 01:31] #3177 closed

[2016-09-13 01:58] jwl17330536 opened #3361 "Unable to set Nest thermostat temperature"
**Home Assistant release (`hass --version`):**
0.28.1

**Python release (`python3 --version`):**
3.4.2

**Component/platform:**
climate / Nest

**Description of problem:**
Not able to set the temperature via automation rule.

**Expected:**
Temperature set to the data defined by "temperature".

**Problem-relevant `configuration.yaml` entries and steps to reproduce:**
automation.yaml
[code]
![screen

[2016-09-13 02:05] arsaboo opened #3362 "Plex activity monitor sensor errors"
**Home Assistant release (`hass --version`):** 0.28.1

**Python release (`python3 --version`):** 3.4.2

**Component/platform:** Plex Activity Monitor

**Description of problem:** Plex activity monitor does not load. Here are the logs

[code]

**Expected:** It was working before 0.28

**Problem-relevant `configuration.yaml` entries and steps to reproduce:**

[code]

[2016-09-13 02:16] uberknot commented on #3099
I also got around this problem by adding hass to groups gpio & root. This does not surprise me that this is what's required. Tony D. from Adafruit said the Adafruit driver the the DHT series devices must be run as admin because it depends on C or C++ code that directly accesses memory locations. This was necessary because of the speed required to capture the burst of data. Got this info from his y

[2016-09-13 02:50] justweb1 commented on #3361
I believe you have to set target_temp_high in cool mode instead of temperature. this was updated in .28

[2016-09-13 02:51] balloob commented on #1004
The core is now fully async via #3248 💃

[2016-09-13 03:06] roidayan commented on #3099
This is incorrect and not related to speed in any way. Root was needed because of access to the gpio that was not exposed in older kernels. In latest Raspbian kernel it is now possible to use gpio through the new new /dev/gpiomem interface which requires 2 things. To be in group gpio which the pi user is already in and update to the app/lib that use the gpio to actually use /dev/gpiomem.
So using

[2016-09-13 03:18] ishults opened #3364 "Z-Wave devices with duplicate nodes get merged into single sensor in Home Assistant"
**Home Assistant release (`hass --version`):**
0.28.1

**Python release (`python3 --version`):**
3.4.2

**Component/platform:**
Sensors/Z-Wave

**Description of problem:**
I have this power meter: https://www.amazon.com/Aeon-Labs-DSC06106-ZWUS-Z-Wave-Energy/dp/B007UZH7B8

It has multiple nodes devoted to the same data. Sometimes they use different units (W vs BTU/h), sometimes they don't.  I've tr

[2016-09-13 04:10] balloob opened #3365 "Flaky Tests"
Issue to track known flaky tests. Let's fix them !
- [x] [TestRecorder.test_saving_state](https://travis-ci.org/home-assistant/home-assistant/jobs/159481324#L1493)
- [x] [TestEventBus.test_unsubscribe_listener](https://travis-ci.org/home-assistant/home-assistant/jobs/159977890)
- [x] TestRemoteClasses.test_statemachine_set
- [x] TestRemoteClasses.test_eventbus_fire
- [ ] TestNotifyGroup.test_entit

[2016-09-13 05:01] balloob opened #3366 "Async all the things"
Now that our core has been converted in #3248 to be based on async instead of threads, it's time to convert as many things as possible to use the async API.

Once the first few PRs will be done, we will have examples to link what migrating to the async API entails.

Initial focus will be on helpers and for components anything that does not communicate with external devices.

A bunch of work will b

[2016-09-13 06:11] gegao commented on #3361
I encountered the same problem even when I tried to set the temperature using webpage.

I played with the config and python-nest a bit and found out hass doesn't convert the temperature to Celsius before calling python-nest. The type conversion was removed in 0.28.

The problem only happens when you use Fahrenheit in hass config.

[2016-09-13 07:38] fabaff commented on #3362
Can you please give it a try with the `plex` media player? There was a change to the plex sensor three weeks ago around the configuration check.

[2016-09-13 07:41] fabaff commented on #3358
I guess that was fixed with #3318.

[2016-09-13 07:43] jeanregisser commented on #2554
Thanks @kellerza, I'm trying to understand all moving parts here.

Reading https://github.com/certifi/python-certifi/issues/26, it looks like this had already been an issue for https://github.com/home-assistant/home-assistant/issues/2009

The solution appeared to have OpenSSL 1.0.2 installed.

So @lwis made a [pull request](https://github.com/home-assistant/home-assistant/pull/2057) to add it to t

[2016-09-13 07:47] lwis commented on #2554
@jeanregisser 100% works with Alpine (it uses OpenSSL 1.0.2h-r2), for me. I don't have any breakages, but I don't use all the features of HA, such as Z-Wave.

The reason #2057 was reverted is because Python needs to be recompiled against the new OpenSSL installation, something which we don't really want to get into.

[2016-09-13 07:51] jeanregisser commented on #2554
Ok thanks @lwis. That's encouraging. I'm personnally using zwave so I could test your image to make sur it works correctly.

Could you share your Dockerfile?

[2016-09-13 07:52] lwis commented on #2554
#2149 contains my Alpine PR :)

[2016-09-13 08:02] jeanregisser commented on #2554
Oh ok, I hadn't seen that one.
So now, should we try basing the image on a recent debian? Is there a known problem with that?

[2016-09-13 10:07] jeanregisser commented on #2554
Interesting, I just tried `pip3 install certifi` (which installed certifi 2016.8.31) and restarted the container.
Telegram notifier works! (I sent myself a notification and received it on my phone).

curl and wget still works with https endpoints I tried.
But what did this break? cc @balloob

[2016-09-13 10:58] jwl17330536 commented on #3361
@justweb1 I tried using "target_temp_high" in my automation.yaml:

[code]

And I got this error at reload of automation.yaml:
[code]
I get the same error when I try to run from the developer tools:

[code]

[2016-09-13 11:02] jwl17330536 commented on #3361
@gegao Now that you mention Celsius, I also notice that in the image that I posted in my first post shows the unit of measurement as Celsius.  My Nest app and Nest is using Fahrenheit and showing Fahrenheit everywhere.  Not sure why Home Assistant believes I'm using Celsius...

[2016-09-13 11:25] lwis commented on #2554
@jeanregisser not sure how that's possible, unless certifi have made some changes recently.

`docker run --rm python:3.4 openssl version`
`OpenSSL 1.0.1t  3 May 2016`

[2016-09-13 12:16] justweb1 commented on #3361
Celsius is the default and it converts to Fahrenheit. It should take this from you config and set properly. @turbokongen can you take a look at this?

[2016-09-13 12:24] arsaboo commented on #3362
So, it seems the username/password are not optional for the Plex sensor as specified [here](https://home-assistant.io/components/sensor.plex/). The sensor worked after I added my login details - the added benefit is that it tracks the activity across multiple servers associated with the account. Let me know if this is the expected behavior and if you want me to update the docs.

Actually...it seem

[2016-09-13 12:24] turbokongen commented on #3361
This is a issue with the python-nest library only accepting celsius values. We are passing in fahrenheit.

[2016-09-13 12:38] turbokongen commented on #3361
Could any of you please test bugfix?

[2016-09-13 12:58] arsaboo commented on #3362
Also, my plex.conf does not have that IP address. Here are the contents of my plex.conf

`{"192.168.2.113:32400": {"token": "REDACTED"}}`

[2016-09-13 13:08] jwl17330536 commented on #3361
@turbokongen is the bugfix in the dev branch?  I'll test just want to make sure first!

[2016-09-13 13:09] fabaff commented on #3362
According to the code username and password are still optional.

[2016-09-13 13:10] turbokongen commented on #3361
https://github.com/home-assistant/home-assistant/issues/3373
You need to apply the PR to your code.

[2016-09-13 13:20] turbokongen commented on #3364
What I see from your log is the same field reporting a small change. sensor.washer_power_3 flipping between 0.05W and 0.04W.
You should consider changing the threshold to report a change in the node settings of ozwcp. It is probably set very low, because the node reports a change 0.01W which is a terrible idea, and will give you spam in logs.

[2016-09-13 13:23] arsaboo commented on #3362
It did not work for me without the username/password :(

[2016-09-13 13:24] arsaboo commented on #3362
Any thoughts on why the Plex media_player is not looking for the right IP address?

[2016-09-13 13:32] ishults commented on #3364
The issue occurs even with large changes.  For example,  the dryer has one too and when it turns off,  it will throttle between 15 W and 0. It didn't use to do this,  and ozwcp indicates the same field exists multiple times on the device. The devices themselves have reporting turned off and (should) only give their states on poll.

On September 13, 2016 8:21:06 AM CDT, John Arild Berentsen <notifi

[2016-09-13 14:16] turbokongen commented on #3364
If there are real duplicate fields in a node, they get added to HA as seperate ones:
`sensor.washer_power_3`
`sensor.washer_power_3_1`
`sensor.washer_power_3_2`
If you don't have those, I would suggest you delete the zwcfg_xxxxx.cml file and let it be rebuilt.

[2016-09-13 14:24] ishults commented on #3364
Ooh, I'll try that, thanks @turbokongen

[2016-09-13 14:34] jwl17330536 commented on #3361
Not sure if I did it the correct way or not, but I simply copy/pasted the new code to mine and restarted.

New error at line 149 now:
[code]

[2016-09-13 14:37] jer78 commented on #1915
Agreed! Being able to choose the class with one being a slim on/off and volume slider would be ideal! In the meantime, is there a way to make something custom with the slider and automation?

[2016-09-13 14:46] ishults commented on #3364
No luck.  This is the entry in the zwcfg:

[code]

Looks like there are dupe entries with different units.  Is it possible to tell Home Assistant to ignore some of those?

[2016-09-13 15:37] pvizeli opened #3378 "Climate frontend issue"
Make sure you are running the latest version of Home Assistant before reporting an issue.

You should only file an issue if you found a bug. Feature and enhancement requests should go in [the Feature Requests section](https://community.home-assistant.io/c/feature-requests) of our community forum:

**Home Assistant release (`hass --version`):**
0.28.2

**Python release (`python3 --version`):**
3.4.

[2016-09-13 15:53] balloob commented on #3378
The problem is that in the frontend the wrong assumption is made that every climate platform that is in operation mode 'auto' is having target_temp_low and target_temp_high attributes.

You didn't notice this on 0.28.1 probably because of the way the service worker caching works. You were still running the old UI.

The issue has to be fixed here https://github.com/home-assistant/home-assistant-pol

[2016-09-13 15:55] GraysonPeddie opened #3379 "pywemo, netdisco, and UniFi Controller"
Home Assistant 0.28.2
Python 3.5.2
Component: Wemo
Problem: Malformed XML from my UniFi Controller
Expected: Shouldn't be a problem. What does pywemo got to do with my UniFi controller?
The problem is reproducible every time HASS is started. Also, I do have Mr. Coffee Wemo Coffee maker. It's the only Wemo device I have.

[code]

I also found another of "malformed XML" that netdisco gave an error a

[2016-09-13 16:12] turbokongen commented on #3364
Ok. your zwcfg shows only one entity of power, which is why only 1 appears in HA.
But, if I do a quick calculation of the threshold percent:
0,05 = 100%
0.005 is 10%
Your change from the log is 0.01 which is 20% = report
For some reason the node ignores the 50 watt threshold. Try setting that again.
Also try switching Enable wattage reports off on. If you watch the log while in ozwcp you will se t

[2016-09-13 16:13] ishults commented on #3364
Ok I'll give those a shot and close the ticket.  Thanks for the help.

[2016-09-13 16:13] #3364 closed

[2016-09-13 16:26] turbokongen commented on #3361
Ok. I updated the PR, I think i mixed up from and to type of the units also.
Enable logger in your install, and watch the logs for entries when setting temp.

[2016-09-13 17:06] jwl17330536 commented on #3361
Looks like you fixed it!  Thanks and I look forward to seeing this in a future bugfix.

I did put it in debug and if you're interested here is related output:

[code]

[2016-09-13 17:09] turbokongen commented on #3361
Nice, so you have Fahrenheit as unit in HomeAssistant, right?
Can anyone with Celsius as unit test, or maybe you can just switch unit and test? @jwl17330536

[2016-09-13 17:12] jwl17330536 commented on #3361
Yes, I had Fahrenheit as my unit of measure.  I restarted with metric and it worked with that too.

[2016-09-13 17:15] turbokongen commented on #3361
Perfect! Thank you for testing! :bow:
Closed by #3373

[2016-09-13 17:15] #3361 closed

[2016-09-13 19:03] jwl17330536 opened #3381 "Wink Z-wave PIR motion sensor not found"
**Home Assistant release (`hass --version`):**
0.28.2

**Python release (`python3 --version`):**
3.4.2

**Component/platform:**
binary_sensor / Wink

**Description of problem:**
Wink z-wave PIR Motion Sensors are not showing up in Home Assistant.  I *think* this started at 0.28.  Previously they were discovered as binary_sensor.name

I no longer see the binary_sensor.name that used to display it's

[2016-09-13 19:05] ericwclymer commented on #3154
[This](https://github.com/home-assistant/home-assistant/issues/3028#issuecomment-244472690) solved this problem for me.

:+1: to @robbiet480

[2016-09-13 19:10] pvizeli commented on #3378
[code]

[2016-09-13 19:12] pvizeli commented on #3378
nothing will work anymore in auto mode

[2016-09-13 19:13] tyfoon opened #3383 "0.28 (+.28.1 & .28.2) missing fanart Kodi"
After upgrading to .28 (and upward) I have missing fanart for the Kodi plugin.

Also see forum post: https://community.home-assistant.io/t/did-0-28-break-kodi/3827/2

[2016-09-13 19:38] Shadex12 opened #3386 "D-Link DSP-W110 Switches broken after update to 0.28.2"
Make sure you are running the latest version of Home Assistant before reporting an issue.

You should only file an issue if you found a bug. Feature and enhancement requests should go in [the Feature Requests section](https://community.home-assistant.io/c/feature-requests) of our community forum:

**Home Assistant release (`hass --version`):**

0.28.2

**Python release (`python3 --version`):**

3.

[2016-09-13 19:40] cbulock commented on #3381
I'm seeing the same thing. Just came to report this bug.  Nice to see the temperature sensor added.

[2016-09-13 20:46] dap35 opened #3389 "GE 12724 dimmer not reporting updates when manually switched off."
Make sure you are running the latest version of Home Assistant before reporting an issue.

You should only file an issue if you found a bug. Feature and enhancement requests should go in [the Feature Requests section](https://community.home-assistant.io/c/feature-requests) of our community forum:

**Home Assistant release (`hass --version`):** == 0.28.2

**Python release (`python3 --version`):** =

[2016-09-13 21:21] fabaff commented on #3386
Can you test it works outside of Home Assistant?

[code]

[2016-09-13 21:23] #3154 closed

[2016-09-13 21:23] Shadex12 commented on #3386
Unfortunately, I am not a developer. I am not sure what you mean by testing this outside HA. Is there a better location to submit issues if I am not able to do any actual coding?

[2016-09-13 21:38] hgelpke opened #3392 "Devices using pi-hole on AsusWRT don't track"
I had my phone (Nexus 6 - Stock Android) set to use my pi-hole for ad blocking but noticed that when pi-hole is used, the device isn't tracked and shows as away. If I set the phone to DHCP then it tracks just fine.  I can also confirm that my wife's Nexus 5x which does not use the pi-hole dns also tracks with no issue.

[2016-09-13 22:13] Shadex12 commented on #3386
I took a look into the differences between the DSP-W215 and the DSP-W110 (the model I have) and it looks like my model does not have thermal protection or energy monitoring.

I suspect that since my model isn't capable of providing consumption or temperature values is the issue. The use_legacy_protocol option I have tried doesn't work. It says it was tested with with firmware version 1.24. The fir

[2016-09-13 22:16] uberknot commented on #3099
Roidayan,

I formatted an SD card this past weekend for use on a Pi 3, installed the latest Raspbian Jesse, updated and installed home assistant in a virtual environment with instructions provided at https://home-assistant.io/getting-started/installation-raspberry-pi/ that creates a user called homeassistant to run home assistant in a virtual environment. I've since updated home assistant in hope

[2016-09-13 22:18] justweb1 commented on #3378
@balloob I think @turbokongen was implementing something on the backend for thermostats that only accept one temp in auto mode. I'll get with him and we will get an update on this.

[2016-09-13 22:26] uberknot commented on #3099
Roidayan,
My error might be different than that posted here, but my problem matched that in 'Expected' at top of this thread. That is, I could not see the DHT readings in the app until my user was added to group adm. I added my comments because what worked for atmacorn worked for me and thought it might be useful. I can provide my errors here or if you advise, I can open another issue.

[2016-09-13 23:08] justweb1 commented on #3378
PR to fix this issue.

[2016-09-13 23:24] justweb1 commented on #3378
The state-summary has been updated but I need to follow up with @turbokongen how we are going to handle these thermostats for the range slider in more-infos.

[2016-09-13 23:55] rpitera commented on #3381
Confirming same here as well.

[2016-09-14 01:18] balloob commented on #3365
Fixed in #3387

[2016-09-14 05:14] roidayan commented on #3099
Hi @uberknot,

Thanks for the detailed input.
I never tried the raspberry installation instructions but they seem to be the same as the normal procedure described here https://home-assistant.io/getting-started/installation-virtualenv/ beside of creating a new user. I basically installed in virtualenv folder with the default user pi.

Notice the video is from April and he mentioned in the video tha

[2016-09-14 05:31] Landrash commented on #3099
@riaandeyzel @uberknot Verified and tested several times in the creation of the new installation guide for the Raspberry Pi.
The DHT sensors will work on a Raspbian Lite installation, installed in a Virtual Env on a separate user. The new user will need to be added to the `gpio` group.

To read the full guide have a look [here](https://home-assistant.io/getting-started/installation-raspberry-pi/#d

[2016-09-14 05:35] roidayan commented on #3099
@uberknot,

I did some tests. I removed user pi from group adm and restarted hass. I didn't get any errors and I can still get readings from DHT11.

Removing the pi user from the gpio group did give me an error from the dht component:
[code]

And also from the binary sensor component:
[code]
It logs it wants access to /dev/mem but I think it's a fallback from gpiomem since being in the gpio group

[2016-09-14 06:09] Landrash commented on #3392
@hgelpke This is most likely a side-effect of not using the built-in DNS server of your router.
The AsusWRT component queries the `/var/lib/misc/dnsmasq.leases` file. My guess in this case is that if your device does not query the DNS server it wont be registered here.

[2016-09-14 08:15] acornatm commented on #3099
I think it might have been an issue with the all-in-one installer, I rebuilt from scratch with Jessie Lite +2.8.2 and the new pi instructions yesterday (because the all-in-one script now doesn't work), and can confirm that I can see my DHT22 simply by adding the user homeassistant to the gpio group.
What was a problem for me this time was following the instructions for autostarting . I got it work

[2016-09-14 09:38] vladtepz commented on #3383
The issue with the fanart is that when using a username:password, the img url needs to be formatted as "http://USER:PASS@IPADDRESS/image/...."

Fanart actually has never worked for me while using a username & password.

As a quick "hack" I added this with a hard coded user:pass @ line 78
[code]

Then modified the _get_image_url function, changing self._url to self._img_url.
[code]

Like i said, th

[2016-09-14 10:16] uberknot commented on #3099
@Landrash @roidayan @acornatm

First, thank all of you for your input.

Second, I'm really digging this application and looking forward to see what I can do with it.

Third, since users are having success seeing DHT sensors without having to add the user to the admin group, I feel I should investigate further. I plan to start from scratch with a fresh install of Jesse Lite and will report my resul

[2016-09-14 12:31] Landrash commented on #3099
@riaandeyzel Can we consider this to be resolved?

[2016-09-14 12:47] officiallybob commented on #3381
I can confirm this as well.

[2016-09-14 12:54] elbowz opened #3397 "No HTML5 notification are displayed"
**Home Assistant release (`hass --version`):**
0.28.2

**Python release (`python3 --version`):**
Python 3.5.2

**Component/platform:**
notify/html5

**Description of problem:**
When I try to send an example notify by developer tools, nothing happens.
This means that the notification is send correctly, but it don't arrive

**Expected:**
A notification appear on Desktop and smartphone.

**Problem-re

[2016-09-14 13:17] Landrash commented on #3397
Just to verify

- [ ] You are using Chrome and/or Firefox on any desktop platform, ChromeOS or Android.
- [ ] Your Home Assistant instance is exposed to the world.
- [ ] You have configured SSL for your Home Assistant. It doesn’t need to be configured in Home Assistant though, i.e. you can be running nginx in front of Home Assistant and this will still work.

[2016-09-14 13:28] Shadex12 commented on #3386
@LinuxChristian Any ideas on how we might fix this? I really don't want to purchase new switches as I bought these specifically because they work with HA.

HA being the great project that it is, I'm more likely to replace switches than software.

Thanks again for all your hard work!

[2016-09-14 13:32] elbowz commented on #3397
*Yes: chromium on desktop and Chrome beta on android
*Yes: Behind Apache virtuale host with a ddns
*Yes: ssl is configurare on Apache.

Anyeay, outside my home (internet) I use an url like:
https://hass.domain.com

[2016-09-14 14:15] LinuxChristian commented on #3386
I have made a lot of changed in the new release and only tested on W215 because I do not own a W110. So lets do a bit of debugging.

What OS are you running? Linux, OS X or Windows?

Make a new text document and name it W110-test.py. Paste the following into the document,

[code]

Change the password and IP to your settings from configuration.yaml.

Now, start a terminal and go to where you saved

[2016-09-14 14:35] Shadex12 commented on #3386
I get:

 python3 W110-test.py
Traceback (most recent call last):
  File "W110-test.py", line 1, in <module>
    from pyW215 import SmartPlug
ImportError: No module named 'pyW215'

Perhaps I am not running this in the right directory?

Thanks again for your help.

[2016-09-14 14:47] elbowz commented on #3397
Is there some way to understand where is the issue?
Google console side, hass side or client?

[2016-09-14 15:17] petey opened #3398 "API passwords containing special characters are sent in plain text in stream URI and break functionality of the UI"
Make sure you are running the latest version of Home Assistant before reporting an issue.

You should only file an issue if you found a bug. Feature and enhancement requests should go in [the Feature Requests section](https://community.home-assistant.io/c/feature-requests) of our community forum:

**Home Assistant release (`hass --version`):**
0.28.1

**Python release (`python3 --version`):**
3.4.

[2016-09-14 15:27] petey commented on #3398
probably a dup of #2320

[2016-09-14 15:56] Shadex12 commented on #3386
Update:

So I tried placing the file in the deps folder and got a message about it  "cannot import SmartPlug" or something to that effect.

I then placed the the test file in /.homeassistant/deps/pyW215. When I run it from there I get the following:

Traceback (most recent call last):
  File "W110-test.py", line 4, in <module>
    cc = sp.current_consumption
  File "/home/pi/.homeassistant/deps/py

[2016-09-14 16:33] persandstrom commented on #2800
Vol for Modbus is merged

[2016-09-14 16:37] w1ll1am23 commented on #3381
Well this is good and bad, looks like the API is returning temperature now which is cool! Unfortunately that broken the motion sensing. Python-Wink is going to need an update. I'll try to look into it soon.

[2016-09-14 16:42] w1ll1am23 commented on #3381
python-wink issue opened. https://github.com/python-wink/python-wink/issues/51

[2016-09-14 17:04] agutr opened #3401 "url validation do not accept rtsp:"
**Home Assistant release (`hass --version`):**
  0.28.2

**Python release (`python3 --version`):**
   3.5.2

**Component/platform:**
  Weblink

**Description of problem:**
   I used the following url in versin 0.26.x
     url: "rtsp://192.168.1.132:554/play2.sdp"
  to link to my webcamera. It worked perfect.

  After upgrading to version 0.28.2 I get following error:
homeassistant.bootstrap: Inval

[2016-09-14 17:19] pvizeli commented on #3401
for workaround, you can use ffmpeg camera for rtsp. Which browser support native rtsp streams?

[2016-09-14 17:25] sgauche commented on #2389
I'm seeing some related errors when trying to use Mosquitto as a private broker with TLS.
https://community.home-assistant.io/t/owntracks-and-mosquitto-private-broker-with-tls/3931

[2016-09-14 18:23] jpenyc commented on #3081
fwiw
HA v 0.82.2

<img width="358" alt="screen shot 2016-09-14 at 2 14 14 pm" src="https://cloud.githubusercontent.com/assets/10241521/18524336/f80f35e4-7a85-11e6-9e8d-6caf84f51419.png">

It appears to be random across devices.  Above are ds18b20's on the same esp8266 reporting via mqtt. Below is a Nest thermostat.

<img width="377" alt="screen shot 2016-09-14 at 2 13 18 pm" src="https://cloud.git

[2016-09-14 19:44] jsg4 commented on #2996
@scottocs11 I am seeing something similar though I do not know what is causing it.

Here are two examples, any clue?

http://pastebin.com/qR7hFhqt

http://pastebin.com/CyGwtZY4

[2016-09-14 19:50] lwis opened #3404 "Chromecast not added when switched on"
**Home Assistant release (`hass --version`):** 0.28.2

**Python release (`python3 --version`):** 3.5.2

**Component/platform:** media_player.cast

**Description of problem:**

This is partially a question, should the Chromecast connect when it's turned on, if it's off when HA starts? I've raised an issue [here](https://github.com/balloob/pychromecast/issues/113) to resolve the error in HA. I'm def

[2016-09-14 19:50] kellerza commented on #3365
Should we keep this open for more tests?

[TestEventBus.test_unsubscribe_listener](https://travis-ci.org/home-assistant/home-assistant/jobs/159977890)

[2016-09-14 19:50] scottocs11 commented on #2996
@jsg4 I'm not sure since it's not the same as mine. Try ruling out what is causing it by removing one device at a time that is changing states. Maybe the last thing you added before this started.

[2016-09-14 20:48] agutr commented on #3401
Thanks.

The workaround could be very expensive, because I often have to view the
videos on high cost mobile networks. The cameras are turned on/off
beyond my control. I need to control the video streaming.

Den 14. sep. 2016 19:19, skrev Pascal Vizeli:

[2016-09-14 23:20] lbrpdx opened #3406 "Philips Hue platform is not working in 0.28.x and 0.27.x (was fine on 0.26)"
**Home Assistant release (`hass --version`):**
0.28.2

**Python release (`python3 --version`):**
3.5.2

**Component/platform:**
light (hue)

**Description of problem:**
I can see the "light" panel in the UI, but I am not able to control the lights anymore. In the log files, I get the following message:
[code]
**Expected:**
I want to see the state of my Philips Hue lights, and turn them on/off from

[2016-09-15 00:51] balloob commented on #3406
Do you have a file called `light_profiles.csv`  in your config dir?

[2016-09-15 01:21] #2877 closed

[2016-09-15 02:50] lbrpdx commented on #3406
I have a light_profiles.csv:
[code]

[2016-09-15 04:10] balloob commented on #3406
Try renaming it.

Why do you have it?

On Wed, Sep 14, 2016, 19:51 lbrpdx <notifications@github.com> wrote:

[2016-09-15 05:49] ecosang opened #3407 "climate component service action error with Nest thermostat"
Make sure you are running the latest version of Home Assistant before reporting an issue.

You should only file an issue if you found a bug. Feature and enhancement requests should go in [the Feature Requests section](https://community.home-assistant.io/c/feature-requests) of our community forum:

**Home Assistant release (`hass --version`):**
0.28.2

**Python release (`python3 --version`):**
3.5.

[2016-09-15 05:53] LinuxChristian commented on #3386
Then it is a problem with the pyW215 library and not HA related issue. Could you reopen the issue here https://github.com/LinuxChristian/pyW215/issues
Then we can continue debugging your problem from there.

No reason to fill up the issue count on HA. The HA guys have enough to do on their own 😄

[2016-09-15 05:57] tyfoon commented on #3383
I can can confirm that this indeed happens only if you have password/username actually set. After removing fanart was back.

[2016-09-15 06:01] LinuxChristian commented on #3386
I have already opened a issue: https://github.com/LinuxChristian/pyW215/issues/6

So you can just close this issue again.

[2016-09-15 12:02] Shadex12 commented on #3386
closing issue.

[2016-09-15 12:02] #3386 closed

[2016-09-15 12:43] #638 closed

[2016-09-15 12:43] #508 closed

[2016-09-15 12:45] #1295 closed

[2016-09-15 12:50] pvizeli commented on #3378
My case a resolve with https://github.com/home-assistant/home-assistant-polymer/pull/108

[2016-09-15 12:50] #3378 closed

[2016-09-15 12:50] #3358 closed

[2016-09-15 12:55] dicko72 commented on #578
Hi, I've tried the flux switch platform tonight on LIFX and dont notice any changes apart from brightness.
How do you validate what the lights are reporting in the logs? noob... :(

[2016-09-15 13:08] turbokongen commented on #3407
This is fixed in dev branch, and will be in next release :) #3373

[2016-09-15 13:08] #3407 closed

[2016-09-15 13:16] sidren opened #3408 "unit_system error"
**Home Assistant release (`hass --version`):**

0.28

**Python release (`python3 --version`):**

Python 3.4.2

**Component/platform:**

unit_sytem / zone

**Description of problem:**

I often get the following error after restarting home assistant resulting in a failure to start. It is remedied by a full raspberry pi reboot (Using the latest raspberry pi)

[code]

My homeassistant: section of my c

[2016-09-15 14:13] sgauche opened #3409 "Climate logging incorrect data"
Make sure you are running the latest version of Home Assistant before reporting an issue.

You should only file an issue if you found a bug. Feature and enhancement requests should go in [the Feature Requests section](https://community.home-assistant.io/c/feature-requests) of our community forum:

**Home Assistant release (`hass --version`):**
0.28.2

**Python release (`python3 --version`):**
3.4.

[2016-09-15 15:03] ktpx commented on #3397
I had exactly the same problem.  I could not find the sender id anywhere, it's nowhere to be found in the dev console (it is not the your-project-XXXXX, either the whole string nor the XXXXX part).  I signed up with the new service (firebase), as GCM seems to be gone.   I plugged that api key and sender ID into hass, and it worked fine.

[2016-09-15 15:06] lbrpdx commented on #3406
Thanks @balloob it actually works when I rename 'light_profiles.csv'.
I used it for creating scenes. I understand there is a better way to do it, I'll look into that (any pointer appreciated).

[2016-09-15 15:06] #3406 closed

[2016-09-15 15:21] sgauche opened #3412 "timestamp_custom undefined"
Make sure you are running the latest version of Home Assistant before reporting an issue.

You should only file an issue if you found a bug. Feature and enhancement requests should go in [the Feature Requests section](https://community.home-assistant.io/c/feature-requests) of our community forum:

**Home Assistant release (`hass --version`):**
0.28.2

**Python release (`python3 --version`):**
3.4.

[2016-09-15 15:22] sgauche commented on #3412
@lwis I think you added this feature in 0.28.

[2016-09-15 15:48] lwis commented on #3412
@sgauche as with the other timestamp methods, it formats. So you'll need to do;

`{{ as_timestamp(now) | timestamp_custom('%Y', True) }}`

[2016-09-15 15:51] sgauche commented on #3412
Ah, thanks.  That works.

[2016-09-15 15:51] #3412 closed

[2016-09-15 15:53] lwis commented on #3412
@sgauche np

[2016-09-15 15:58] aymercury commented on #578
I do this (typing from memory):
tail -f /var/log/syslog | grep hass | grep -i 'lifx|flux|color_temp'

It shows me what flux requests and what bulbs do. Each bulb reports old and new brightness, rgb, color_temp values.

I have to say, after my two lifx.py changes above (I re-applied them after upgrade to 0.28.2), flux works perfectly!

[2016-09-15 19:12] mjg59 commented on #1443
Just leaving this here in case anybody else finds it - the above links all require a proprietary Broadlink library that only runs on Android. https://github.com/mjg59/python-broadlink ought to work.

[2016-09-15 19:46] agutr commented on #3401
Pascal,

Sorry, I overlooked you question. On linux, I use Firefox, which
delegates to VLC mediaplayer in a new tab. On Android I use Chrome,
which delegates to the RTSP Player app. I do not know any browser with
native rtsp support.

Den 14. sep. 2016 19:19, skrev Pascal Vizeli:

[2016-09-15 20:12] fanaticDavid commented on #3040
I got the Bluetooth LE tracker to work by using the commands I collected in my own post [here](https://community.home-assistant.io/t/new-ha-0-27-and-bluetooth-le-tracker/3336/25?u=fanaticdavid), and then running the command provided in the post [here](https://community.home-assistant.io/t/new-ha-0-27-and-bluetooth-le-tracker/3336/28?u=fanaticdavid).

This may not be how it was intended but it work

[2016-09-15 20:28] scadaguru commented on #1515
I am also having same issue it is not logging the data. I have Letscript certificate, latest HA .028.2 and latest Torque app version. @n8fr8 Could you please link me where it says use "password" rather than "api_password"?
Thanks

[2016-09-15 20:33] leeroymeile commented on #1903
any updates on this issue? i have the same problem, but my wallc-s doesn't even gets recognized from HA . But in the ozw it shows up. I'm on HA 0.28.2

[2016-09-15 21:33] grahamwetzler commented on #3312
I'm having the same issue. When I restart HA I manually set myself from "not_home" to "home". This used to work fine. However, now when I do it the state attributes are removed.

I select my state:
<img width="477" alt="screen shot 2016-09-15 at 4 25 51 pm" src="https://cloud.githubusercontent.com/assets/290998/18568156/61474462-7b61-11e6-9f48-7947052385da.png">

<img width="772" alt="screen shot

[2016-09-16 03:48] balloob commented on #3312
Can confirm this too. Working on a fix.

[2016-09-16 03:50] balloob commented on #3312
Will be fixed in 0.29

[2016-09-16 03:50] #3312 closed

[2016-09-16 04:59] Landrash commented on #3408
If that's a copy of your configuration then your missing some indentation.
Try posting it wrapped with \`\`\` on the line above and below.

[2016-09-16 05:35] balloob commented on #3365
Added to the main post 👍

[2016-09-16 07:14] elbowz commented on #3397
mhhh...I don't figure out what you have done.

Anyway, I take it clicking on top-right triple dots / project setting / Project number.

I think this is the right value....

[2016-09-16 08:04] elbowz commented on #3397
waooo...you have right, using FCM all works like a charm. Thanks

[2016-09-16 08:26] #3397 closed

[2016-09-16 08:38] Spartan-II-117 commented on #2909
Yes, this is an issue for me as well! I was so confused as to why I was getting extra Chromecasts showing up! Having the name of the group would be wonderful!

[2016-09-16 08:40] vittoriom commented on #2909
I didn't start yet working on this since I was waiting for feedback from the main maintainer. I'd be happy to tackle this (it's quite easy to solve IMHO) as soon as he gives me the greenlight.

[2016-09-16 08:45] Spartan-II-117 commented on #2909
You could probably write the change and submit a pull request, if there's an issue they'll hammer it out on there.

[2016-09-16 16:06] socalracer commented on #2979
Same issue for me on 3.4. Didn't upgrade did a fresh install. Tried port 7443 also.

[2016-09-16 18:50] g0kao opened #3419 "RFXTRX and X10 configuration issue"
Make sure you are running the latest version of Home Assistant before reporting an issue.

You should only file an issue if you found a bug. Feature and enhancement requests should go in [the Feature Requests section](https://community.home-assistant.io/c/feature-requests) of our community forum:

**Home Assistant release (`hass --version`):**   0.28.2

**Python release (`python3 --version`):**

[2016-09-16 18:59] Danielhiversen commented on #3419
The reason seems to be that yaml parses numbers starting with zero as oct.
yaml.safe_load("""0710000041030160""")  returns  31336090054768
yaml.safe_load("""10710000041030160""") returns 10710000041030160

It can be solved by a hack in the rfxtrx code, but can we solve it by correctly loading the config file?

[2016-09-16 20:12] mws222 opened #3420 "HTML5 Notifications with Basic_Auth"
Make sure you are running the latest version of Home Assistant before reporting an issue.

You should only file an issue if you found a bug. Feature and enhancement requests should go in [the Feature Requests section](https://community.home-assistant.io/c/feature-requests) of our community forum:

**Home Assistant release (`hass --version`):**
0.28.2

**Python release (`python3 --version`):**
Pyth

[2016-09-16 20:55] robbiet480 commented on #3420
@mws222 What route is failing?

[2016-09-17 18:31] socalracer commented on #2979
I did find when going to http://<nvrIP>:7080/api/2.0/bootstrap it lists the info about the system and cameras such as UUID and ID. I still can't figure out how to form the request for the stream

[2016-09-17 20:22] turbokongen commented on #3409
Could you test with my latest pr: #3394 And see if that solves your problem?

[2016-09-17 21:41] uberknot commented on #3099
Update to my DHT sensor issue:

I did a fresh install using Raspian Lite, this time on a Pi 2. I no longer have to add the home-assistant user to the arm group. Not sure why, but my problem seems to have been using the regular Raspian distro. Doing so, caused me not to see my DHT sensors without adding the home-assistant user to the admin group.

I used the following instructions:
Raspberry Pi ins

[2016-09-18 06:21] #3401 closed

[2016-09-18 06:47] Landrash commented on #3099
@uberknot 👍

[2016-09-18 07:18] leoserra commented on #2333
Hi,

I had the same issue here.
I solved this swapping lines 89 and 91 influxdb.py.

[2016-09-18 07:36] deisi opened #3431 "config_validation"
**Home Assistant release (`hass --version`):**
28.2

**Python release (`python3 --version`):**
python3.5

**Component/platform:**
acer_projector switch / voluptuous

**Description of problem:**
Hey.
Currently we are migrating to voluptuous. And I found that the `homeassistant.helpers.config_validation.isfile()` method is likely to be used to check for file descriptors. Problem is,
`os.path.isfile`

[2016-09-18 09:07] #3404 closed

[2016-09-18 09:58] turbokongen commented on #3409
Could you turn off away mode, and see what results are logged then?

[2016-09-18 10:39] turbokongen commented on #3409
Could it be this: https://mybrainlounge.wordpress.com/2015/01/03/ecobee3-thermostat-displaying-wrong-temperature-here-is-why/

[2016-09-18 12:44] agutr commented on #3401
Thanks

Den 18. sep. 2016 08:21, skrev Paulus Schoutsen:

[2016-09-18 13:22] Nayar commented on #3319
I managed to get the logs using Android Studio

[code]
Here's the version:

![screenshot_2016-09-18-17-20-42](https://cloud.githubusercontent.com/assets/454815/18615969/693ddf4a-7dc4-11e6-8d81-a3c2aefcde6e.png)

[2016-09-18 14:37] sgauche commented on #3409
No, is not that because the target temperatures in the history aren't being
recorded correctly.  We were home overnight and away mode was off.  I
checked this morning and the history doesn't show the target temperatures
change while we were sleeping.

On Sep 18, 2016 6:40 AM, "John Arild Berentsen" <notifications@github.com>
wrote:

[2016-09-18 14:47] nikichak opened #3433 "Rebuild the custom_components"
I have a custom component in my configuration folder and a panel for this component in the panels folder. However when I change something in the panel and restart the homeassistant the change is not loaded. In the frontend of the homeassistant the panel is without the change even after the restart. Any idea how to rebuild the custom_components ?

[2016-09-18 15:46] Landrash commented on #3433
This issue tracker is for issues with components or code that's already in HA.
I would suggest creating a post in the [forum](https://community.home-assistant.io) or ask in the [gitter](https://gitter.im/home-assistant/home-assistant/) chat.

[2016-09-18 16:06] DavidLP opened #3434 "Command line switch sets entity id based off friendly name"
Make sure you are running the latest version of Home Assistant before reporting an issue.

You should only file an issue if you found a bug. Feature and enhancement requests should go in [the Feature Requests section](https://community.home-assistant.io/c/feature-requests) of our community forum:

**Home Assistant release (`hass --version`):**
0.28.2

**Python release (`python3 --version`):**
Pyth

[2016-09-18 18:10] turbokongen commented on #3356
I think this can be traced to that the old thermostat had state as temp, climate has state operationg mode. @justweb1 Can you have a look here: https://github.com/home-assistant/home-assistant-polymer/blob/master/src/components/state-history-chart-line.html#L186
And see if you understand what is wrong. I just replicated the thermostat code when making the climate.

[2016-09-18 18:15] turbokongen commented on #3356
#3409

[2016-09-18 18:15] turbokongen commented on #3409
#3356

[2016-09-18 18:16] mezz64 opened #3438 "Envisalink component setup error"
Make sure you are running the latest version of Home Assistant before reporting an issue.

You should only file an issue if you found a bug. Feature and enhancement requests should go in [the Feature Requests section](https://community.home-assistant.io/c/feature-requests) of our community forum:

**Home Assistant release (`hass --version`):**

0.29.0.dev0

**Python release (`python3 --version`):*

[2016-09-18 18:19] balloob commented on #3438
This seems like an exception in `pyenvisalink`. Did you not test #3435 ?

[2016-09-18 18:22] mezz64 commented on #3438
#3435 was tested OK with 0.28.2.  Just checked on latest dev and noticed the error.

[2016-09-18 18:25] balloob commented on #3438
This is a bug in pyenvisalink, which has trouble being run in a thread. We should revert #3435

[2016-09-18 18:33] mezz64 commented on #3438
You can certainly revert, but the 1.0 version will produce the same error in 0.29dev0 so it will be broken regardless.

[2016-09-18 18:36] balloob commented on #3438
CC @Cinntax

[2016-09-18 19:39] balloob commented on #3434
Yes, generally the entity id is based on friendly name. A few platforms overwrite this behavior, for example Z-Wave will include node and value id. In the case of command line switch, since you define an object id (`kitchen_light` in your case), it could be used for the entity id. However this isn't currently implemented for command line switches.

Home Assistant will make sure entity ids will not

[2016-09-18 19:40] balloob commented on #3434
The script component is an example that has a similar config to the command line switch component that does it correct: https://github.com/home-assistant/home-assistant/blob/dev/homeassistant/components/script.py#L126

[2016-09-18 19:46] Cinntax commented on #3438
Ok sure I know what's going on here. I was planning on doing a pr pretty soon here for some additional functionality- I'll make sure I test with the very latest development branch.

[2016-09-18 20:05] technicalpickles commented on #3327
I saw this reported on the 0.28 [announcement reddit thread](https://www.reddit.com/r/homeautomation/comments/501qaj/comment/d73xtlz?st=IT3RTXNT&sh=447ca42f) and [again on the subreddit](https://www.reddit.com/r/homeassistant/comments/52ox0j/emulated_hue_bridge_help_needed/)

[2016-09-18 20:12] DavidLP commented on #3434
Ok, I see to force different names makes sense for voice control etc.
But then the _object id_ can be quite unnecessary. Especially since the voloptuous changes, it has to follow the [slug](https://github.com/home-assistant/home-assistant/blob/dev/homeassistant/helpers/config_validation.py#L201) scheme if I am not mistaken. That does not allow capital letters.

For me that means I have to define f

[2016-09-18 20:12] #3434 closed

[2016-09-18 20:14] technicalpickles commented on #3085
I've been seeing these recently too, but finally looked into it a bit. Here's the log with some more context that shows it's detecting the emulated hue bridge:

[code]

10.0.1.24 is the IP address HA is running

I think combining these would be best. That way, you could be running other homeassistant instances on your network with emulated hue, and you can run something on the same host as homeass

[2016-09-18 20:19] balloob commented on #3434
You can make a PR to use the object ids. Given the script example, it would be quite straightforward to implement that for command line switches.

[2016-09-18 21:16] Cinntax commented on #3438
So i'm the middle of testing the fix on the envisalink side- but i did have a question for Paulus...
This component is pretty much all event based, so i have a persistent connection to the envisalink, making callbacks as appropriate.

Right now, i'm spawning my OWN background thread that I am locking up and listening for events from the device.  So that "thread-1" we're failing on right now- I'm p

[2016-09-18 21:18] balloob commented on #3438
Since you're using asyncio, why not just link pyenvisalink to `hass.loop` ?

[2016-09-18 21:26] Cinntax commented on #3438
Oh nice sure- I'll add the option to the pyenvisalink library to pass in an event loop, and then in my component, I'll pass hass.loop over.  Anything else I should know about doing it this way?

[2016-09-18 21:31] balloob commented on #3438
No, all should work just like that. Just make sure you don't do long blocking things on the main loop, but that's basic async stuff I guess 👍

[2016-09-18 21:36] Cinntax commented on #3438
Cool thanks!!

[2016-09-18 22:16] techwood111 commented on #3001
To elaborate on this problem a bit, I have two thermostats.  One I can control without a problem.  The second one, though, can't be controlled.  Moving the slider has no effect.

[2016-09-18 22:56] balloob commented on #3085
The initial error is an implementation detail of phue: it will open the conf file, if it doesn't exist or it doesn't know the host, it will try to register with the hub. Since our emulated hue does not support registration, it will throw an exception. This exception is however caught but reported incorrectly (with a full stack trace). It is benign and can be ignored.

The error that @technicalpick

[2016-09-18 23:06] Cinntax commented on #3438
So I was able to get things running on the hass event loop- but there appears to be a deadlock when i call update_ha_state.  I'm calling that immediately when getting data from the envisalink, within a callback, and the update_ha_state also tries to schedule a callback to happen later-so there appears to be some conflict there- but can't quite put my finger on it.

[2016-09-18 23:07] balloob commented on #3438
`update_ha_state` is not asyncio friendly. Use `run_callback_threadsafe` for any interaction with entities.

[2016-09-18 23:18] justweb1 commented on #3356
@turbokongen You may be right. I'm not seeing anything that sticks out.
@Instagraeme Can you tell us what value 'state' is returning?

[2016-09-18 23:26] balloob commented on #3433
@Landrash nah it's fine. Panels is part of the core.

@chorbar make sure you are running your frontend in development mode to avoid your panel being cached:

[code]

[2016-09-18 23:27] balloob commented on #3433
Alternative, in the Chrome dev tools -> network tab -> disable caching could also help.

[2016-09-19 00:22] jwl17330536 opened #3445 "Nest thermostat displaying Celsius despite imperial chosen in configuration.yaml"
**Home Assistant release (`hass --version`):**
0.28.2

**Python release (`python3 --version`):**
3.4.2

**Component/platform:**
Nest

**Description of problem:**
I have imperial stated in configuration, but temperature is said to be in Celsius.  It isn't really Celsius, nor is my Nest set to show Celsius.  The temperature in HA says it is 74C, while it is really 74F.

**Expected:**
Nest temperatur

[2016-09-19 01:37] Cinntax commented on #3438
Sorry I'm having a little trouble following- I'm using pydispatcher to notify each entity that it needs to update itself.  Are you then saying that the signal I send should be done within the run_callback_threadsafe method- while still using update_ha_state within my entities (which will then call run_callback_threadsafe again)?

[2016-09-19 01:39] 0x2501 commented on #3445
And the inverse on Ecobee. If you have metric, it shows imperial.

[2016-09-19 02:59] #3085 closed

[2016-09-19 05:35] Instagraeme commented on #3356
{
  "away_mode": "off",
  "current_temperature": 19,
  "friendly_name": "Kitchen",
  "humidity": 56,
  "max_temp": 35,
  "min_temp": 6.2,
  "mode": "heat",
  "target_humidity": 35,
  "target_temp_high": 12.4,
  "target_temp_low": 12.4,
  "temperature": 12.4,
  "unit_of_measurement": "°C"
}

The blue line is just under 9. However the current temperature indicated by The climate component is 13.3.

[2016-09-19 05:57] balloob commented on #3438
Sorry, you're right. Do this:

[code]

[2016-09-19 05:57] balloob commented on #3438
Assuming _update_callback is called from within the eventloop

[2016-09-19 11:20] justweb1 commented on #3356
@turbokongen do you know why this would be returning a range and temp?

[2016-09-19 11:23] turbokongen commented on #3356
@justweb1 He's running 28.1. It's only returning range in dev code.

[2016-09-19 12:46] turbokongen commented on #3356
Oh... This is the genric_thermostat. I will have a look.

[2016-09-19 13:06] turbokongen commented on #3356
@Instagraeme @justweb1 I think the range attributes are set by customize in the config. I am running the generic_thermostat too. 3 of them, and none of them return a range.

[2016-09-19 13:09] turbokongen commented on #3356
@Instagraeme Are you sure the state attributes provided is for the same at the picture?
The reason I ask is because there are no away mode at generic_thermostat.

[2016-09-19 13:30] turbokongen commented on #3356
@justweb1 Just did a test with the old heat_control thermostat, with the same settings and devices as for the climate generic_thermostat, and it logs just fine.... Only the climate does not log any current_temp at all.
Thermostat:
![image](https://cloud.githubusercontent.com/assets/16622752/18633662/aa4a70b6-7e7d-11e6-8e32-39968f21af5d.png)
Climate:
![image](https://cloud.githubusercontent.com/ass

[2016-09-19 14:58] turbokongen opened #3453 "Random Segfaults"
Make sure you are running the latest version of Home Assistant before reporting an issue.

You should only file an issue if you found a bug. Feature and enhancement requests should go in [the Feature Requests section](https://community.home-assistant.io/c/feature-requests) of our community forum:

**Home Assistant release (`hass --version`):**
0.29.0dev

**Python release (`python3 --version`):**
3

[2016-09-19 15:47] technicalpickles commented on #3453
I've been hitting a random segfault as well starting yesterday on dev.

Some tips I've seen for debugging:

self.loop.set_debug(True) [from gitter](https://gitter.im/home-assistant/home-assistant/devs?at=57ded216c8af41d45f26759c)

[2016-09-19 16:54] renekliment commented on #3320
So I've decided to give this a shot. Do you have any tips or important remarks?

[2016-09-19 17:44] turbokongen commented on #3453
Initial output with gdb running: http://hastebin.com/uvegobuweg.pl
bt:
http://hastebin.com/zigemufaya.swift
info threads:
http://hastebin.com/vecacuhira.sql

[2016-09-19 19:06] turbokongen commented on #3445
You can try this PR: #3394 It should ix your problem.

[2016-09-19 19:29] fabaff commented on #3431
I agree that the current check could be improved. A while back we talked about integrating checks directly into `voluptuous` rather than extending HA. Perhaps it would be worth to discuss this check with the voluptuous guys.

[2016-09-19 21:53] robbiet480 commented on #3420
That's a problem with the browser. We only tell it where the manifest.json is, not how to access it.

[2016-09-19 22:06] Cinntax commented on #3438
Okay thanks- yes that appears to have resolved that.  I just need to make an adjustment to my setup method to properly allow for a connection timeout- and then i'll prep for a PR that will close this out.

[2016-09-19 23:26] justweb1 commented on #3356
@turbokongen, I have to agree with you. It looks like everything is correct. What about `domain === 'climate' ` ?

[2016-09-20 02:58] #662 closed

[2016-09-20 03:06] danieljkemp opened #3458 "Mi Flora Sensor gattool not found"
Make sure you are running the latest version of Home Assistant before reporting an issue.

You should only file an issue if you found a bug. Feature and enhancement requests should go in [the Feature Requests section](https://community.home-assistant.io/c/feature-requests) of our community forum:

**Home Assistant release (`hass --version`):**
0.29-dev

**Python release (`python3 --version`):**

*

[2016-09-20 04:37] Cinntax commented on #3438
Okay- I think i finally have it.  It was very tricky trying to synchronously determine the success/failure of my network connection (so setup() can return false upon failure).  I ended up having to start up pyenvisalink using hass.pool.run_in_executor.  There may be some better way to do this, but it at least behaves the way it was before.

[2016-09-20 05:13] turbokongen commented on #3453
Recent crash from tonight with faulthandler:
http://hastebin.com/qozubivewa.vbs

[2016-09-20 05:44] deisi commented on #3431
Maybe that's the best solution on the long run, but for now. I fear we will break configs of a lot of people if we go on like this. At least mine was broken ;)

[2016-09-20 05:52] balloob commented on #3453
There are 47 threads running. Highlighted some things from the log that could be it. If we could get a log from another user we could compare.

16 callbacks are waiting for the eventloop (searched for `run_callback_threadsafe`

After the segfault, the output from ping is printed to the command line, means that a command line sensor was running.
[code]

The recorder is writing a query:
[code]

Veri

[2016-09-20 05:56] balloob commented on #3431
I agree with both of you 👍

I wasn't aware that `vol.file()` does not respect symlinks and I think it should. Let's integrate @deisi version for now and also try to get it fixed upstream.

I am btw not sure if I want to check if a file is readable. That _could_ be out of scope.

[2016-09-20 07:05] #3381 closed

[2016-09-20 12:49] technicalpickles commented on #3453
Here's my config, but it doesn't look like we have much in the way of component overlap:

[code]

Home Assistant release (hass --version):
0.29.0dev

Python release (python3 --version):
3.4.2

Running on a Raspberry Pi 2 with Raspberian Jessie.

I didn't see any segfaults yesterday, but I have hass running under gdb now

[2016-09-20 14:39] ktpx opened #3464 "No timestamp on push notifications (html5)"
Make sure you are running the latest version of Home Assistant before reporting an issue.

You should only file an issue if you found a bug. Feature and enhancement requests should go in [the Feature Requests section](https://community.home-assistant.io/c/feature-requests) of our community forum:

**Home Assistant release (`hass --version`):**

latest release
**Python release (`python3 --version`)

[2016-09-20 16:24] lwis commented on #3458
I didn't like this when I saw it, @open-homeautomation could you not use pygatt?

[2016-09-20 16:30] open-homeautomation commented on #3458
I could, but I decided not to. pygatt is just a wrapper around gatttool. Therefore without gatttool, pygatt also won't work.
Using external Bluetooth libraries had already been a problem with the Bluetooth LE presence detection, therefore I decided to call gatttool directly instead of using an external library that calls it.

[2016-09-20 16:48] lwis commented on #3458
@Danielhiversen can you run `sudo find / -name gatttool`

[2016-09-20 17:52] Danielhiversen commented on #3458
I do not have the Mi Flora sensors yet.

[2016-09-20 18:21] ggravlingen commented on #3458
I had the miflora-library working on my rpi1. Did an upgrade to a rpi3 and experienced the same problems with gatttool. Was able to solve them eventually though. In solving the problem, I did many things and unfortunately have not understood what exactly solved the issue. Two of the things I remember doing are, however:
- A manual reinstall of the latest bluez-library (not through apt-get install

[2016-09-20 18:36] lwis commented on #3458
@danielhiversen sorry buddy, meant @danieljkemp

[2016-09-20 19:22] danieljkemp commented on #3458
(doing a find / -name gatttool was one of my first steps, no results, as we'll see why. In the latest EPEL bluez rpm gatttool is missing as seen here:

http://rpm.pbone.net/index.php3/stat/6/idpl/31977313/dir/centos_7/com/bluez-5.23-4.el7.x86_64.rpm

vs a previous version of bluez:

http://rpm.pbone.net/index.php3/stat/6/idpl/29070354/dir/centos_7/com/bluez-4.101-13.el7.x86_64.rpm

It is not provi

[2016-09-20 19:39] hoopty opened #3466 "emulated_hue errors thrown on dev branch"
**Home Assistant release (`hass --version`):**
0.29.0.dev0

**Python release (`python3 --version`):**
3.4.5

**Component/platform:**
emulated_hue

**Description of problem:**
Exception thrown, traceback below

**Expected:**
No errors.

**Problem-relevant `configuration.yaml` entries and steps to reproduce:**

[code]
1. Start HA
2.
3.

**Traceback (if applicable):**

[code]

**Additional info:**

[2016-09-20 20:54] robbiet480 commented on #3283
Closing in favor of #3466.

[2016-09-20 20:54] #3283 closed

[2016-09-20 20:54] robbiet480 commented on #3466
I also have this issue from time to time.

[2016-09-21 03:39] jaharkes commented on #3379
The complaint is actually coming from netdisco.ssdp scan, but that is just a detail.

Either way I have a UniFi controller and Wemo devices and had not seen your error. I finally managed to reproduce it by turning on "Make controller discoverable on L2 Network" which is located in the Unify controller settings section. I think it defaults to off because I don't think I ever messed with the setting

[2016-09-21 04:47] turbokongen commented on #3453
Crash from this night. Took longer this time.
Now I have disabled all commandlne stuff including systemmonitor.
http://hastebin.com/toxerobunu.vbs
Next disabling verisure

[2016-09-21 05:01] techwood111 opened #3468 "Honeywell/somecomfort broken. Developer agrees. Let's solve this! Potential solution avenue included."
### Introduction
As it stands, Home Assistant is not properly working with Honeywell's Total Connect Comfort line of thermostats.  This is Honeywell's oldest WiFi thermostat line, and is still being sold today, alongside more modern models.  Readily available from Home Depot and Lowes, with a price tag of $99, they are a very popular thermostat.  Because of the popularity of these thermostats, cou

[2016-09-21 06:04] techwood111 commented on #3468
I should have mentioned that I am using the latest (well, downloaded 3 days ago, via the all-in-one) version of Home Assistant, but upgraded somecomfort to 0.3.1 from 0.2.1 in an attempt to fix the problems that exist; both act the same.  Perhaps error line numbers shift, though, between the versions.

[2016-09-21 06:51] #3438 closed

[2016-09-21 13:41] GraysonPeddie commented on #3379
Okay, so both of the issues makes sense. But I am wondering where I can turn off "Make controller discoverable on L2 network?"

[2016-09-21 13:59] jaharkes commented on #3379
If you go to the Unifi Controller webpage, in the bottom left there is a pair of gears (settings), then pick 'Controller', which has a 'Controller Settings' section where you find a 'Network Discovery' checkbox. Uncheckung that checkbox will make the controller not respond to SSDP discovery requests.

[2016-09-21 14:03] rpitera opened #3470 "Changes to forecast.io (now darksky.net) will require code updates and rebranding."
Received via email; forecast.io is rebranding as darksky.  The API link as well as branding and use requirements will change as a result.

==============================================================
Hi there,
You’re receiving this email since you have an account registered with us at https://developer.forecast.io/.
Sorry for the long radio silence: we’ve been working very hard on a lot of new t

[2016-09-21 14:07] AlucardZero commented on #3470
python-forecastio issue: https://github.com/ZeevG/python-forecast.io/issues/46

[2016-09-21 14:10] rpitera commented on #3470
Thanks for the xref, @AlucardZero !

[2016-09-21 14:13] GraysonPeddie commented on #3379
Thanks. I appreciate your help. I think I'm going to close the issue since the only issue left is getting Mr.Coffee to discoverable in Home Assistant via Wemo.

[2016-09-21 14:13] #3379 closed

[2016-09-21 16:26] jzwack commented on #3468
OK. So @techwood111 rang.

Hi, I'm Joe, the API Evangelist for Honeywell's Connected Home products.

A few thoughts here:
* Looks like most of this is scraped off the mobile app/website
* We have an official API that supports OAuth2, instead of this sessions auth that the site uses
    * Understand that the portal for this isn't public yet, but I'm able to give access anyway
    * Development is d

[2016-09-21 18:27] jzwack commented on #3468
Oh, and let me add that some of this is just logic understanding. Especially between temporary hold/permanent hold/schedule etc. I can easily explain that, I have quite a bit of experience from our Amazon work.

Basically there are ways to make this more dynamic as well (valid modes, etc).

[2016-09-21 19:02] tylerstraub opened #3472 "GPMDP: Error during query: (sqlite3.OperationalError) database is locked"
**Home Assistant release (`hass --version`):**
0.29.0.dev0

**Python release (`python3 --version`):**
Python 3.4.2

**Component/platform:**
media_player/gpmdp

**Description of problem:**
The following error message appears in my console after a few hours of operation. I haven't observed any adverse impact yet to the functionality of the platform module, but each time the parameter return seems to

[2016-09-21 19:05] jsg4 opened #3473 "Twilio component no longer loading"
Running 0.28 and Twilio no longer loads. I see this error in the log.

16-09-21 10:01:51 homeassistant.bootstrap: Invalid config for [notify.twilio_sms]: expected string or buffer for dictionary value @ data['from_number']. Got 12125551212 _(replaced my number)_

Also this one.

16-09-21 10:05:00 homeassistant.core: Unable to find service notify/twilio

**Problem-relevant `configuration.yaml` entr

[2016-09-21 19:16] Danielhiversen commented on #3473
Add quotes around your your number.

[2016-09-21 19:38] techwood111 commented on #3468
Joe,

You are my new best friend!  Solving this will be a HUGE help to a great number of people.

How do we begin?  You have my email address.  I am happy to add you as a controller of my thermostats, if that will help.  Please let me know how best to proceed; I would imagine some of the other people who have sought to tackle this in the past would like to be involved.

[2016-09-21 19:49] andoks opened #3474 "Asuswrt device_tracker continously prints errors when dnsmasq.leases contains buid lines"
Make sure you are running the latest version of Home Assistant before reporting an issue.

You should only file an issue if you found a bug. Feature and enhancement requests should go in [the Feature Requests section](https://community.home-assistant.io/c/feature-requests) of our community forum:

**Home Assistant release (`hass --version`):**
0.28.2

**Python release (`python3 --version`):**
Pyth

[2016-09-21 19:50] kk7ds commented on #3468
I'm excited to hear about the new API, but I think it's probably better to keep using the browser API in somecomfort until it's generally available to everyone.

If you can tell me what I should be doing differently to avoid the rash of 500s from the honeywell servers I'd be glad to make the change. I can also try to sniff it out myself by watching the interaction of a current browser client, but

[2016-09-21 20:22] jzwack commented on #3468
How often are you getting that 500 error? Right away? I don't see you doing any periodic polling in somecomfort, right?

Is the 500 only in the /CheckDataSession resource or every resource?

[2016-09-21 20:42] kk7ds commented on #3468
[code]

Right after login, I call /KeepAlive and get a 500.

[2016-09-21 21:36] jzwack commented on #3468
OK, well, I can't provide much support for the non-official API.. but

I don't believe /KeepAlive is used anymore. The session is kept alive by the site polling in the background when it's open. I believe the session dies after ~3-5 minutes of inactivity. Keep in mind the site is basically a proxy at this point.

[2016-09-21 22:47] engineerChick commented on #3085
arsaboo did you find a solution to this? I am having the same issue and I am not finding a solution. thanks.

[2016-09-21 23:04] kk7ds commented on #3468
@techwood111 I just pushed a fix (hack) to somecomfort that fixes interaction for me, and merged a pending PR for the mode selection. The command line tool should let you poke some things, but you have to provide credentials on every run now, so:

[code]

Can you try the latest from there and see if you can at least do that? Then trying to get HA to run against that to see if it's any better would

[2016-09-22 01:19] texnofobix commented on #3468
As someone who helps enable APIs for enterprises, thank you @jzwack for your input! I am curious which grant_types is planned with OAuth2?

[2016-09-22 02:34] techwood111 commented on #3468
@kk7ds: I have two thermostats.  Checking via Honeywell, the current temps are 80 and 77.  Here is what I experienced, using 0.3.1:
[code]
Now, not knowing any better way of doing it remotely (I left town today), I copied the text from the new __main__.py and client.py at https://github.com/kk7ds/somecomfort/tree/master/somecomfort, then edited the old files, deleting all the text and pasting the

[2016-09-22 02:47] techwood111 commented on #3468
@kk7ds : Making those changes hosed the Climate panel in HA; it no longer displays.  Here is the HA log:
[code]

[2016-09-22 02:55] jzwack commented on #3468
I'll install this locally tomorrow and take a closer look if I have some spare time.

[2016-09-22 02:57] jzwack commented on #3468
@texnofobix Well that depends. Right now we have two API sets, one is completely public via developer.honeywell.com. That covers our Lyric line of products.

We are working on getting the Total Connect Comfort (TCC) line on that site as well, problem is the process of handing out API keys isn't automated yet (it's all on me, manually).

For the Lyric API we support Auth Code only right now.

For t

[2016-09-22 06:19] techwood111 commented on #3468
@kk7ds - I don't know if I should post my errors here as I get them or what.  But, here are some:
[code]

[2016-09-22 07:03] #3473 closed

[2016-09-22 07:27] pvizeli commented on #3431
From python doku:

[2016-09-22 10:29] fabaff opened #3478 "Arduino component"
Make sure you are running the latest version of Home Assistant before reporting an issue.

You should only file an issue if you found a bug. Feature and enhancement requests should go in [the Feature Requests section](https://community.home-assistant.io/c/feature-requests) of our community forum:

**Home Assistant release (`hass --version`):**
0.29.0.dev0

**Python release (`python3 --version`):**

[2016-09-22 11:48] lwis commented on #3458
@danieljkemp could you add something to https://github.com/home-assistant/home-assistant.github.io/blob/next/source/_components/sensor.miflora.markdown to close this off?

[2016-09-22 12:08] rogersmj commented on #3357
Possibly relevant discussion here: https://community.home-assistant.io/t/emulated-hue-not-working/3500/13

[2016-09-22 12:26] w1ll1am23 commented on #3007
@balloob looks like this error is coming from core.py, you made most of the changes during the time frame this started happening. When you get a chance can you take a look and see whats going on?

[2016-09-22 12:51] #1204 closed

[2016-09-22 12:56] justweb1 commented on #3356
@turbokongen can you test the output of hasTargetRange on thermostat and climate. I think this may be the issue because they both call states.reduce with the same logic. however, thermostat state returns temp and climate state returns operation mode.

[2016-09-22 13:26] #1286 closed

[2016-09-22 13:32] ViperRNMC commented on #1632
this fix works for me, please put it in the next update

[2016-09-22 13:50] w1ll1am23 commented on #2722
I think this might be the same thing as this https://github.com/home-assistant/home-assistant/issues/2332 @balloob mentions async possibly being the solution to this.

[2016-09-22 14:50] turbokongen commented on #3453
It's now been running without problems for a day and a half.
I think I will reenable the commandline stuff, and see what happens.

[2016-09-22 14:50] Bart274 opened #3481 "voluptuous messes up nmap tracker"
**Home Assistant release (`hass --version`):** 0.29.0.dev0

**Python release (`python3 --version`):** python 3.4

**Component/platform:** nmap_tracker

**Description of problem:**
In the latest version of the nmap_tracker the voluptuous check ensures the hosts is a list, while the nmap.py component needs it as a string.
This makes sure the tracking never works.

**Expected:**
The hosts needs to be

[2016-09-22 15:22] kk7ds commented on #3468
@techwood111 The error you posted above about the syntax error is almost definitely a result of you hand-applying the changes. Try cloning the repository and running the code exactly as it is:

[code]

And yeah, I saw the bug about the lack of --devices. I'll try to get that fixed. You can use --device if you know the id of the thermostat you're interested in.

[2016-09-22 15:28] balloob commented on #3453
If commandline stuff is to blame, we should port it over to use async stuff https://docs.python.org/3/library/asyncio-subprocess.html

[2016-09-22 15:30] turbokongen commented on #3453
Two things were disabled. First Without command line stuff == crash
Disabeld template stuff, running fine.
Now I have enabled commandline stuff, and will report back ;)

[2016-09-22 15:36] kk7ds commented on #3468
@techwood111 I just pushed kk7ds/somecomfort@fb01d038f8ba9203608051b1dfc93762731d7c64 Which fixes --devices and --device.

[2016-09-22 15:50] #3481 closed

[2016-09-22 17:58] joyrider3774 opened #3483 "services homeassistant.stop and homeassistant.restart don't work anymore"
Make sure you are running the latest version of Home Assistant before reporting an issue.

You should only file an issue if you found a bug. Feature and enhancement requests should go in [the Feature Requests section](https://community.home-assistant.io/c/feature-requests) of our community forum:

**Home Assistant release (`hass --version`):**
0.29.0.dev0 (latest github pull as of today)

**Python

[2016-09-22 19:23] jandot commented on #1198
@balloob Could you give an actual configuration example of this? I'm in a similar situation, talking to a loxone light switch using REST. The use of the switch template is not completely clear to me.

To check if the light is on, I use
`/usr/bin/curl -X GET http://<my-server>/dev/sps/io/LichtWoonkamerQ2/state | grep control | sed s/.*value=\"// | sed s/\".*//`

To toggle the light on/off, I use
`/

[2016-09-22 19:26] lwis opened #3484 "Dev stopping after period of time"
**Home Assistant release (`hass --version`):** Latest dev at time of posting  8251039ca48aa576b6c59a9801e1bca154ec69b4

**Python release (`python3 --version`):** 3.5.2

**Component/platform:** Core

**Description of problem:** Application stops after a period of time (around 40 minutes), nothing in the logs, even running in debug. Please advise on how I can capture more information on the crash, i

[2016-09-22 20:31] balloob commented on #3464
Chrome is the only browser to support an unofficial timestamp spec which we support.

[2016-09-22 20:31] #3464 closed

[2016-09-22 21:16] jzwack commented on #3468
OK So I lied. /KeepAlive is for sure still a thing, it was just my account doesn't use it because I'm marked as a developer so I don't get force signed-out.

That being said I'm still getting 401 errors with anything past login and when you're doing /CheckDataSession requests.

I'll keep looking.

[2016-09-22 21:19] kk7ds commented on #3468
@jzwack Just to be clear, this new API you're talking about is something that would require any user to get an API key for, right? If the API key is per project (i.e. somecomfort would have a key and hardcode that for anyone to use) then we could definitely talk about moving to that. But it sounded like you meant any user of somecomfort would have to get their own key to use it -- is that right?

[2016-09-22 21:22] jzwack commented on #3468
@kk7ds Well.. the official API uses OAuth2, as a result to get tokens you need a key and a secret. Generally you wouldn't want those exposed because if some 3rd party got a hold of the refresh token as well we run into big problems.

So yeah my preference would be to have everyone with their own key. Which to your earlier point is hard if it's not self-service signup yet.

[2016-09-22 21:48] kk7ds commented on #3468
Ah, sorry I missed the oauth bit in what you said earlier. So, yeah. Sounds like a better long-term solution for sure though :)

[2016-09-22 22:22] jzwack commented on #3468
Yeah. Pesky security. :-)

Either way I can give you (or someone else) an API key just for development sake. I hope to have things more self-service by end of year.. but who knows.

Anyway, you're getting cookies right, and I see them in the cookiejar of requests. But still for some reason I get 401 on /portal/Location/GetLocationListData everytime. Odd.

[2016-09-22 22:22] jfath commented on #3143
I have a wink hub with two zwave door sensors and one zwave motion detector.  Everything works as expected for some period of time after a hass restart, but after some number of hours, hass doesn't report any events coming from the sensors.  The Wink app continues to report events correctly.  Below are netstat results from the unresponsive and post-restart states:

Unresponsive state
tcp        0

[2016-09-23 01:12] w1ll1am23 commented on #3143
@jfath thanks for the output, unfortunately doesn't say much. Looks like the connections are still good. I am testing some stuff now around a type of ping like update to see if it keeps things working. Also I heard back from pubnub, they stated they would be releasing version 4 for beta sometime next week hopefully. I'll be checking that out as well. Hopefully we can get this fixed soon.

[2016-09-23 01:18] texnofobix commented on #3468
OAuth is the right way to go. The only slight challenge is refreshing tokens periodically. :)

[2016-09-23 02:24] tylerstraub opened #3485 "Orvibo Switches: "Error while fetching S20 state""
**Home Assistant release (`hass --version`):**
0.29.0.dev0

**Python release (`python3 --version`):**
Python 3.4.2

**Component/platform:**
switch/orvibo

**Description of problem:**
This might be a question for @happyleavesaoc or @fabaff but I have noticed something going on with the Orvibo component. It seems that HaSS is failing to fetch the state of my S20 wall modules every so often. Each day

[2016-09-23 04:29] balloob commented on #3484
Maybe related to #3453 ?

[2016-09-23 07:07] lwis commented on #3484
@balloob potentially, would dmesg show that?

[2016-09-23 07:33] lwis commented on #3453
Looks like I'm in the same boat, dmesg is showing me;

[code]

Closing #3484 as it's a dupe.

[2016-09-23 07:33] #3484 closed

[2016-09-23 07:36] Danielhiversen commented on #3453
@lwis : Which components are you using?

[2016-09-23 07:41] lwis commented on #3453
@Danielhiversen

mqtt
notify
logbook
frontend
updater
sun
history
ifttt
influxdb
emulated_hue
netgear
owntracks
kodi
braviatv
sonos
samsungtv
cast
proximity
fastdotcom
command_line
forecast
time_date
google_travel_time
shell_command
zones

Think I got all the components + platforms.

[2016-09-23 07:45] Danielhiversen commented on #3453
@lwis :  Could you try to disable the command_line component?

[2016-09-23 07:54] lwis commented on #3453
@Danielhiversen sure, what's the thought behind why that would cause a segfault?

[2016-09-23 07:57] turbokongen commented on #3453
No need to disable command line. It sems to be traced to any template stuff.

[2016-09-23 08:08] lwis commented on #3453
Running `gdb -ex r --args python -m homeassistant --config /config` now.

[2016-09-23 08:50] simonszu opened #3493 "Error in config validator -> HASS crashes at startup"
**Home Assistant release (`hass --version`):**
0.29.0.dev0

**Python release (`python3 --version`):**
Python 3.4.2

**Component/platform:**
Config validator

**Description of problem:**
Under certain circumstances, home assistant crashes at startup when you have a subfolder including with `!include_dir_list`. I am still trying to track down what circumstances exactly cause this, but will open this

[2016-09-23 12:03] simonszu commented on #3493
Nevermind -.-

[2016-09-23 12:03] #3493 closed

[2016-09-23 12:57] timstanley1985 commented on #3485
I get this also but assumed it was the socket dropping it's WiFi connection occasionally

[2016-09-23 12:59] happyleavesaoc commented on #3485
Communication is via UDP and therefore not completely reliable, so occasionally state isn't retrieved properly.

There are a couple of possible approaches:

- Improve `orvibo` module to retry on failures
- Have Home Assistant retry
- Accept the failure, but change the logging to `error` from `exception` (prevent the long stack trace in the log)

[2016-09-23 13:53] justweb1 commented on #3356
@turbokongen discovered that the climate states is returning 230 objects where thermostat is only returning 10.

[2016-09-23 16:07] nunojusto opened #3497 "MQTT cover component: Retain messages are not working."
**Home Assistant release (`hass --version`):**
0.28.2

**Python release (`python3 --version`):**
Python 3.4.2

**Component/platform:**
cover MQTT

**Description of problem:**
MQTT cover component: Retain messages are not working.
If i click the buttons on the home Assistant front-end it does not produce a retained message. Only send a normal message.

I've tested the switch mqtt component with a s

[2016-09-23 16:50] turbokongen commented on #3453
Got a new somewhat different traceback: http://hastebin.com/ilepedefad.vbs

[2016-09-23 17:05] hoopty commented on #3483
May be related - I am no longer able to properly shutdown HA running the dev branch, and I have to kill -9 the process (SIGTERM is not sufficient).  Running Python 3.4.5 and dev branch - been seeing this since after the 0.28.2 release.  Nothing in the log files for me at info level, have not yet collected debug logs.

[2016-09-23 18:03] scottocs11 commented on #3483
Oh good, it's not just me.
When I run "sudo systemctl status home-assistant@scott -l" I get:
[code]

[2016-09-23 19:35] MartinHjelmare commented on #3365
[code]

[2016-09-23 19:37] tylerstraub opened #3498 "Bug: #3256 Voluptious may have broken input_boolean"
**Home Assistant release (`hass --version`):**
0.29.0.dev0

**Python release (`python3 --version`):**
Python 3.4.2

**Component/platform:**
input_boolean

**Description of problem:**
After last night's rebase, my input_boolean definitions failed to load producing errors of this nature:

`16-09-23 11:53:46 homeassistant.bootstrap: Invalid config for [input_boolean]: expected a dictionary for dictio

[2016-09-23 19:37] MartinHjelmare commented on #3365
[code]

[2016-09-23 20:08] Danielhiversen commented on #3498
Get the same error here.

[2016-09-23 20:14] kellerza commented on #3498
Did the voluptuous version change? I suddenly get this for scores of components? `zone` `sensor` `device_tracker` and some more

[2016-09-23 21:10] #3498 closed

[2016-09-23 21:43] robjohnson189 commented on #3483
Same here running dev head@1b9d867

[2016-09-24 01:38] technicalpickles commented on #3453
Finally caught one in the act: https://gist.github.com/technicalpickles/23e097e213fcd4beb2c83c0e8cf7e06b

It's at a gdb prompt. Anything I should grab while I have it? I tried `py-bt` but gdb said the command wasn't found.

[2016-09-24 03:16] bbangert commented on #3453
If anyone with a segfault using the latest dev could ``pip install uvloop`` and restart HASS, let me know if the segfaults go away.

[2016-09-24 03:49] technicalpickles commented on #3453
[code]

@bbangert it looks like uvloop requires python 3.5. As far as I can tell, there isn't a Raspberian Jessie package for it. I can build from source to test, but wouldn't requiring it be a pretty significant change?

[2016-09-24 04:03] nvonbenken opened #3504 "Nest Displaying Wrong Unit"
Make sure you are running the latest version of Home Assistant before reporting an issue.

You should only file an issue if you found a bug. Feature and enhancement requests should go in [the Feature Requests section](https://community.home-assistant.io/c/feature-requests) of our community forum:

**Home Assistant release (`hass --version`):** 0.28.2

**Python release (`python3 --version`):** 3.4.

[2016-09-24 04:22] bbangert commented on #3453
@technicalpickles awwww, bummer. Yes, its not feasible to require it since it'd up the required python too far.

[2016-09-24 05:00] balloob commented on #3453
@technicalpickles we wouldn't make it mandatory but it will help to be able to narrow down the seg faults to the default event loop implementation.

[2016-09-24 05:15] #3468 closed

[2016-09-24 05:41] lwis commented on #3453
@bbangert @balloob I use uvloop and still experience the segfaults.

[2016-09-24 05:51] deisi commented on #3431
Okay, plz help me out. I have a logic problem. Whats the trouble with both being true?

[code]
would still be false and everything would be fine or?

I'm also confused by the fact, that the docs say `os.path.isflie` follows symbolic links. Because I have seen it raising the exception

[code]

When file was a symbolic link.

[2016-09-24 05:54] balloob commented on #3453
Time to get a better overview of the data thus far:

| Architecture | OS | Python | Loop | User
| --- | ------- | ----------| ----- | -----| ----- |
| ? | ? | 3.4.4 | Default (Epoll?) | @turbokongen
| ? | ? | 3.5.2 | Default (Epoll?) | @lwis
| ? | ? | 3.5.2 | uvloop | @lwis
| RPi (?) | Raspbian Jessie | 3.4.2 | Default (Epoll) | @technicalpickles

[2016-09-24 05:59] lwis commented on #3453
I can uninstall uvloop if required.

I'm running an Alpine Docker image on Ubuntu 16.04, also using an amd64 machine.

[2016-09-24 06:00] bbangert commented on #3453
Everyone with a segfault is using a component with the template platform? And disabling the template platform config bits makes the segfaults go away?

[2016-09-24 06:03] lwis commented on #3453
I've not tried disabling my template configuration, but I'm happy to branch
my config to test.

On Sat, 24 Sep 2016, 7:01 am Ben Bangert, <notifications@github.com> wrote:

[2016-09-24 06:19] turbokongen commented on #3504
Fix provided in #3394

[2016-09-24 06:23] balloob commented on #3453
For people experiencing this problem, try the following three things:

1. Remove the use of template sensors and see if it crashes
2. Enable template sensors again but add `import jinja2.debug to the top of `helpers/template.py`
3. Remove the import and add a lock around `ENV.from_string(…)`:

[code]

[2016-09-24 06:38] abriasffxi commented on #1577
Wait, why would you close this issue?  There are tons of Foscam's that do not work and give the error shown.  The link you sent is irrelevant.

[2016-09-24 06:44] lwis commented on #3453
@balloob when you say template sensors, do you mean `sensor.template` ? As I don't use any, I do however use templates in other places, such a `value_template` in sensors.

[2016-09-24 06:49] balloob commented on #3453
You're right. I meant to say anything that uses templates.

[2016-09-24 07:03] lwis commented on #3453
@balloob starting now, didn't realise how much I used templates!

[2016-09-24 11:16] lwis commented on #3453
I didn't experience any crashes running without the templates, but I didn't feel that it was exercising much functionality - most of my setup uses templates so what I ended up with was quite minimal. I've been running for ~3 hours now with `import jinja2.debug`, and I'm yet to see any instability, I will however keep this post updated.

[2016-09-24 12:30] techwood111 commented on #3468
Thank you one and all!

[2016-09-24 12:58] turbokongen commented on #3453
Crash with jinja.debug import : http://hastebin.com/tekuxudeja.vbs

[2016-09-24 13:21] lwis commented on #3453
Just had a segfault also, switching to a locked render.

[2016-09-24 13:23] joyrider3774 opened #3506 "Wemo insight (+ perhaps maker) state attributes don't update"
Make sure you are running the latest version of Home Assistant before reporting an issue.

You should only file an issue if you found a bug. Feature and enhancement requests should go in [the Feature Requests section](https://community.home-assistant.io/c/feature-requests) of our community forum:

**Home Assistant release (`hass --version`):**
0.29.0.dev0 (latest dev branch pull)

**Python release

[2016-09-24 14:51] lwis commented on #3453
I just got (running with the template render lock);

[code]

Not sure what went wrong.

[2016-09-24 15:14] bbangert commented on #3453
It segfaults everytime on startup?

[2016-09-24 15:47] technicalpickles commented on #3453
@bbangert I've seen every startup when running with gdb. Doing `continue` seems to startup as expected after that.

[2016-09-24 16:01] frelev commented on #2979
Anyone tried latest 3.5.0 Beta of UVC?

[2016-09-24 21:39] lukas-hetzenecker opened #3509 "ZWave: Sensor value 'Previous reading' has different units of measurement - results in huge amount of traffic"
**Home Assistant release (`hass --version`):**
0.28.2

**Python release (`python3 --version`):**
Python 3.5.2

**Component/platform:**
zwave

**Description of problem:**
I have several energy measurement devices for zwave, concretely:

- Greenwave PowerNode 6
- Widom ume304 Energy Driven Switch
- Aeotec Home Energy Meter G2

Each of these devices exports a sensor which should show the previous mea

[2016-09-24 22:15] lukas-hetzenecker commented on #3509
FYI, this value seems to be created directly by OpenZwave: https://github.com/OpenZWave/open-zwave/blob/master/cpp/src/command_classes/Meter.cpp#L480

[2016-09-25 08:53] liquidox opened #3511 "Denon media platform spewing errors"
**Home Assistant release (`hass --version`):**
0.28.2

**Python release (`python3 --version`):**
Python 3.5.2

**Component/platform:**
Media player / Denon

**Description of problem:**
I added a simple Denon component for my X4200 receiver, the log is now being filled with errors:

[code]

**Expected:**
No errors.

[2016-09-25 09:09] pvizeli commented on #3453
I can make a new template system based on http://www.joonis.de/de/code/templite

[2016-09-25 12:21] danielperna84 commented on #3431
Correct me if I'm wrong, but os.file isn't capable of performing this check. I don't know the internals of Acer Projectors, but reading the docs reveals, that it's neither a file nor a link. The descriptor sits in /dev, which probably makes it something like a block or character special file [(mknod)](https://linux.die.net/man/1/mknod).

The check should actually be something like:
[code]

[2016-09-25 14:12] MartinHjelmare commented on #3497
I have a fix and will make a PR as soon as tests are written.

[2016-09-25 17:43] jonah1122 opened #3514 "Limitless LED component not working"
Make sure you are running the latest version of Home Assistant before reporting an issue.

You should only file an issue if you found a bug. Feature and enhancement requests should go in [the Feature Requests section](https://community.home-assistant.io/c/feature-requests) of our community forum:

**Home Assistant release (`hass --version`):**
0.28.2

**Python release (`python3 --version`):**
Pyth

[2016-09-25 18:34] happyleavesaoc commented on #3514
Please share your `limitlessled` config.

[2016-09-25 18:35] jonah1122 commented on #3514
light:
  platform: limitlessled
  bridges:
    - host: 192.168.0.101
      version: 5
      port: 8899
      groups:
      - number: 1
        type: rgbw
        name: room_name

[2016-09-25 18:35] jonah1122 commented on #3514
`light:
  platform: limitlessled
  bridges:
    - host: 192.168.0.101
      version: 5
      port: 8899
      groups:
      - number: 1
        type: rgbw
        name: Jonah's Bedroom`

[2016-09-25 18:37] jonah1122 commented on #3514
[code]

[2016-09-25 18:44] happyleavesaoc commented on #3514
Can you copy-and-paste the complete error line please?

[2016-09-25 19:02] jonah1122 commented on #3514
looks like it was an installation error, I just reinstalled 0.28.2 and it's working!

[2016-09-25 19:02] #3514 closed

[2016-09-25 19:04] lukas-hetzenecker commented on #3509
I was running home-assistant for nearly a day with this change, and can confirm that my performance issues are finally gone and memory usage is back to normal.

[2016-09-25 19:16] jonaswikstrom opened #3516 "Twilio cant handle multiple targets"
Running 0.28 and when adding two targets, an error is logged:

[code]

Example of my config:

[code]

Tried with or without quote, double quotes or none for the numbers, same error.

[2016-09-25 20:45] lwis opened #3518 "Emulated hue depends on werkzeug but fails if loaded before it's installed"
**Home Assistant release (`hass --version`):** dev

**Python release (`python3 --version`):** 3.5.2

**Component/platform:** Emulated hue

**Description of problem:** Emulated hue depends on werkzeug but fails if loaded before werkzeug is installed

[2016-09-25 20:53] balloob commented on #3518
We can eitheradd `http` as a dependency to `emulated_hue` or mirror the `http` dependencies

[2016-09-25 21:14] nunojusto commented on #3497
Great. Thx Martin

[2016-09-25 22:53] #3497 closed

[2016-09-26 03:14] technicalpickles commented on #3453
Most recent dev, I'm no longer seeing segfaults, but I do get this sigabrt pretty quickly after starting `release_the_kraken.py`:

[code]

I've run this with gdb, but it ends up `continue`ing each thread, so I haven't been able to grab `py-bt`.

[2016-09-26 04:06] bbklopfer commented on #3007
I am experiencing the same problem.

Master: Debian x64, hass 0.28.2, Python 3.5.2+
Slave: RPi2 running OSMC, hass  0.28.2, Python 3.4.2

The only configuration on the slave is an input_select, which in turn calls an HDMI CEC automation (on, off, select Chromecast, select RPi).

When the slave is invoked as master ("hass" from a shell), it works. When invoked using the script from w1ll1am23 above

[2016-09-26 05:21] lwis commented on #3453
Sadly I experienced 2 segfaults overnight with the fix :(

[2016-09-26 05:29] deisi commented on #3431
This should be independent. Acer Projector uses the `serial` module to communicate with a serial device. I think many components use it. It was just the component I had a problem with. Maybe I quickly explain my setup here because it is a bit special.

I have a USBtoSerial adapter connected to a pc A but HomeAssistant Runs on pc B, so I use a telnet connection to make the USBtoSerial adapter avail

[2016-09-26 06:57] fabaff opened #3523 "XMPP TypeError while resolving"
Make sure you are running the latest version of Home Assistant before reporting an issue.

You should only file an issue if you found a bug. Feature and enhancement requests should go in [the Feature Requests section](https://community.home-assistant.io/c/feature-requests) of our community forum:

**Home Assistant release (`hass --version`):**
0.29.0.dev0

**Python release (`python3 --version`):**

[2016-09-26 07:29] balloob commented on #3453
Potentially related: https://bugs.python.org/issue26617

[2016-09-26 09:10] fabaff opened #3526 "OpenWeatherMap KeyError while retrieving conditions"
Make sure you are running the latest version of Home Assistant before reporting an issue.

You should only file an issue if you found a bug. Feature and enhancement requests should go in [the Feature Requests section](https://community.home-assistant.io/c/feature-requests) of our community forum:

**Home Assistant release (`hass --version`):**
0.29.0.dev0

**Python release (`python3 --version`):**

[2016-09-26 11:36] sander76 opened #3529 "voluptuous error on or condition list."
**Home Assistant release (`hass --version`):**
0.28.2

**Python release (`python3 --version`):**
3.4

**Component/platform:**
rpi jessie

**Description of problem:**
Voluptuous throws an error on an or condition list.

[code]

**Problem-relevant `configuration.yaml` entries and steps to reproduce:**
[code]

**Traceback (if applicable):**
[code]

**Additional info:**

[2016-09-26 11:39] sander76 commented on #3529
Needed to have quotes around 'on'.....

[2016-09-26 11:39] #3529 closed

[2016-09-26 11:57] turbokongen commented on #3453
I have still no segfaults after last nights kraken attacks. Running fine here.
I swithced back to Python 3.4.4 though, and there I don't have uvloop.

[2016-09-26 12:06] technicalpickles commented on #3453
For anyone running into this, https://gist.github.com/balloob/c364470d17c01615b763dd1772791d43  can be used to stress test it.

* clone the gist
* edit release_the_kraken.py if necessary (port number, password)
* `python release_the_kraken.py`

[2016-09-26 18:31] simonszu opened #3536 "SSL Error when connecting to InfluxDB"
**Home Assistant release (`hass --version`):**
0.29.0.dev0

**Python release (`python3 --version`):**
3.4.2

**Component/platform:**
InfluxDB

**Description of problem:**
I want to connect to an InfluxDB instance running on another host than HASS behind a reverse proxy, which is accessible via HTTPS at influxdb.simonszu.de:443 and secured by a LetsEncrypt HTTPS cert. The influxdb component crashes

[2016-09-26 18:36] nalipaz commented on #1061
Kind of an old thread, but it came up in google search results. I used a switch in combination with an automation for this. This is to monitor the systemd service for couchpotato running on the same server. The user homeassistant runs as has sudo access to run the systemctl commands in the config here without password prompt (visudo):
[code]

[2016-09-26 18:38] AlucardZero commented on #3536
If that's the real password, you should change it then edit it out.  You may also want to remove your hostname unless you are comfortable with the 'secret' being out.

[2016-09-26 19:28] simonszu commented on #3536
This is not my real password. I am comfortable with exposing the hostname, since the database is password protected and contains no sensitive data for now.

[2016-09-26 20:04] persandstrom commented on #3453
I still get segfault as well
[code]

[2016-09-26 20:23] fabaff commented on #3511
According to our documentation Denon AVR receivers are not fully supported.

[2016-09-26 20:33] simonszu commented on #3536
Ah, you left an additional question.
So, both Hosts run on Debian Jessie (8) stable on amd64. The reverse proxy for the Influxdb instance is created by an nginx.
The host is only reachable via HTTPS, trying to connect via plain HTTP results in Error 400. For the record, the only plain HTTP host I have running on this host is an API endpoint which the Letsencrypt ACME protocol uses to verify that t

[2016-09-26 22:22] technicalpickles opened #3538 "Random SIGABRTs"
**Home Assistant release (`hass --version`):** 0.29.0

**Python release (`python3 --version`):** 3.4.2

**Component/platform:** `device_tracker/nmap`, `sensor/template`

**Description of problem:**

I was running into https://github.com/home-assistant/home-assistant/issues/3453 previously. After some of the fixes, I stopped getting segfaults, and started getting SIGABRTs instead.

I commented out

[2016-09-26 22:27] jn80842 commented on #3453
I was also getting fairly consistent segfaults with Python 3.6, but have not seen one since downgrading to Python 3.4.

[2016-09-26 23:14] technicalpickles commented on #3538
I tried using python 3.5.2 with just those 2 components, and I don't get SIGABRT with that. I'll try the kraken with my full config, and leaving it running overnight too.

[2016-09-26 23:28] technicalpickles opened #3539 "ImportError: No module named 'netifaces'"
Make sure you are running the latest version of Home Assistant before reporting an issue.

You should only file an issue if you found a bug. Feature and enhancement requests should go in [the Feature Requests section](https://community.home-assistant.io/c/feature-requests) of our community forum:

**Home Assistant release (`hass --version`):** 0.29.0

**Python release (`python3 --version`):** 3.5.

[2016-09-27 00:29] robbiet480 commented on #3539
`netifaces` comes via `netdisco` which still has that requirement, so I am not sure what changed.

[2016-09-27 00:45] technicalpickles commented on #3538
I left python running with 3.5.2, and then got a segfault

    ¯\_(ツ)_/¯

Will try to get a py-bt and post back over on https://github.com/home-assistant/home-assistant/issues/3453

[2016-09-27 00:47] technicalpickles commented on #3453
I split out https://github.com/home-assistant/home-assistant/issues/3538 for the SIGABRT I was seeing. I tried upgrading to python 3.5.2 just in case, and kraken passed after 12000 iterations, but I left it running with my full config and got another segfault. Trying to get a proper bt, but I installed with pyenv and I'm not sure how to get a debug build with that yet.

[2016-09-27 03:14] bobdrummond opened #3541 "Flux Light Adjustment puts LimitlessLED lights in broken state"
**Home Assistant release (`hass --version`):** 0.28.2

**Python release (`python3 --version`):** 3.4.5

**Component/platform:** Flux Light Adjustment and/or LimitlessLED

**Description of problem:** Flux Light Adjustment  component sets the values of lights every 30 seconds. The first update on a Limitless LED light is successful, but on the second update, which requires no action, an Exception is

[2016-09-27 03:42] balloob commented on #3536
I can't seem to find anything in the influxdb.py code that could cause this. Are you by any chance using the `telegram` notify platform? If so, can you try to `pip3 uninstall certifi`. It will break telegram but will make you able to use SSL again.

[2016-09-27 03:58] technicalpickles commented on #3539
I think it may have been a problem on my end, using the dev branch and running hass through `pip install -e path/to/checkout`. I ran it again, and made sure to specify `--upgrade` too and it seemed to help.

[2016-09-27 06:36] balloob commented on #3453
@lwis got a repo going with two Dockers: https://github.com/lwis/test-kraken-hass

To repro it on my Mac:
 - changed `docker-compose.yml` to say `python kraken.py 10000`
 - changed `hass/Dockerfile` to say `RUN pip install git+https://github.com/home-assistant/home-assistant.git@b3d67a7ed91030e9f2f42cc5b24a277ab8787c19`
 - Update `kraken.py` with this `job` function:
[code]

Kraken starts running

[2016-09-27 06:38] balloob commented on #3453
Looks like my catching of an exception doesn't work, prepare for a lot of output from Kraken while it tries but fails to finish the rest of its jobs.

[2016-09-27 07:11] simonszu commented on #3536
No, i didn't use telegram, neither in HASS nor anywhere else. When trying to uninstall certifi, i get `Cannot uninstall requirement certifi, not installed`.

I have poked around some more, and removed all deps with a simple `rm -rf` in the deps-folder. The first startup of HASS, where it re-installs all the deps did seem succeed just fine.
The second startup produces the same error. I have noticed

[2016-09-27 07:36] balloob commented on #3539
If you run from a git checkout, run python3 setup.py develop

That way you install it but the installation will point at the folder,
allowing you to make changes and not have to install again

On Mon, Sep 26, 2016, 20:58 Josh Nichols <notifications@github.com> wrote:

[2016-09-27 09:10] simonszu commented on #3536
It seems that i have found more facts.
I run homeassistant as a special user called hass. I never thought that this would make a difference, but without thinking i started the python console to test the egg's implementation as my own user.
So i went, and started homeassistant as root, and no problem occured. Thinking it has something to do with the homeassistant user, i started the python console

[2016-09-27 12:16] simonszu commented on #3536
UPDATE 3: I tried direct connect to the InfluxDB without the reverse proxy. This was successful. But after re-enabling the proxy, it seems that HASS isn't connecting to the InfluxDB at all any more. This is the last log line it outputs: `INFO:requests.packages.urllib3.connectionpool:Starting new HTTPS connection (1): influxdb.simonszu.de`
This also pauses the whole startup process of HASS. Needles

[2016-09-27 12:52] MartinHjelmare commented on #3516
We seem to be missing configuration validation for `target` key in notify component.

Your posted configuration seems to have a mistake in the indentation of the members of target. The dash should start after two spaces, ie directly below the `r` in `target`.

[2016-09-27 13:02] simonszu commented on #3536
It also seems that the InfluxDB connection hanging (and timeouting) prevent the server from correctly shutting down ever. And if it isn't correctly shut down, the connection fails the next time when it starts.
So the only solution for now is to cancel the startup of HASS before the influxdb component tries to connect to the server and hope that HASS shuts down gracefully.
Now i get some "Resetting

[2016-09-27 13:07] mezz64 commented on #3483
I have this same issue running the latest dev docker image.

[2016-09-27 13:09] turbokongen commented on #3453
Looks like there has been some confusing information in the chat on what happened to my install, so I'll clarify:
After applying #3515 to my install on python 3.4.4 without uvloop it ran completely without problems for 24 hours.
That was after 5 (50 000) kraken script attack that evening. Yesterday night I rebased of dev again, and It's still been running fine, however, no automations work anymore

[2016-09-27 13:19] postlund commented on #3483
Same issue here (running latest dev from git).

[2016-09-27 13:23] simonszu commented on #3536
So the hang in the connection and the timeout occur everytime i change something in the config and is not preventable. I have to wait the full time until the connection timeouts after 3 attempts...and this isn't great... :(

[2016-09-27 13:40] simonszu commented on #3536
For the hanging if found [this](https://stackoverflow.com/questions/24628866/why-does-my-program-hang-after-urllib3-logs-starting-new-https-connection) (especially the answer),  but i am not sure if this is the right place for this - at least it's still a bug report.

So, i'll just wait until someone of you guys reads all my text and maybe has a comment for me, then.

[2016-09-27 15:13] technicalpickles commented on #3539
@balloob will try that, thanks

[2016-09-27 15:13] #3539 closed

[2016-09-27 17:38] balloob commented on #3319
Try installing the Chrome Browser. If you are unable to install the Chrome Browser -> alas, your phone is too old.

[2016-09-27 17:38] #3319 closed

[2016-09-27 18:28] MartinHjelmare commented on #3497
The underlying cause was that the `retain` key had been duplicated in the voluptuous validation schema, when extending the schema, which is a bug in voluptuous:
https://github.com/alecthomas/voluptuous/issues/219

[2016-09-27 18:31] Menturan opened #3544 "MySensors Serial exception spamming the logs"
**Home Assistant release (`hass --version`):** 0.28.2

**Python release (`python3 --version`):** 3.4.2

**pyserial (`pip freeze | grep pyserial`):** 3.1.1

**Component/platform:** Raspberry Pi 3 - Raspbian Jessie

**Description of problem:** MySensors Serial exception spamming the logs making HASS not responding

**`configuration.yaml`:**
[code]
Got a udev-rule that creates a symlink ('/dev/arduin

[2016-09-27 18:46] MartinHjelmare commented on #3544
I'll fix the spamming by disconnecting from the serial port when the serial exception occurs, which will make it try to reconnect every ten seconds.

Have you looked at the underlying cause for the serial exception? Do you have anything else reading from the port?

[2016-09-27 19:13] jonaswikstrom commented on #3516
Hmm, strange that I missed that one :-)
Sadly, works great with one target number but still the same result when using two of them and the indentation on the right way.

[2016-09-27 19:20] robbiet480 commented on #3516
I've found the issue and am working on it now. Hopefully the fix will be in for 0.29.

[2016-09-27 19:23] robbiet480 commented on #3516
In the meantime, you can edit [this line](https://github.com/robbiet480/home-assistant/blame/6694b0470ec7a0b84f5e3e297d96e2ea951a01a2/homeassistant/components/notify/__init__.py#L45), changing `cv.string` to `object`.

[2016-09-27 19:27] robbiet480 commented on #3483
@bbangert Related issue to async and/or #3453?

[2016-09-27 19:32] robbiet480 opened #3545 "Voluptuous for notify needs to be fixed to support multiple targets"
I made this ticket to bring together a bunch of different tickets under the same umbrella.

The fix is changing [this line](https://github.com/robbiet480/home-assistant/blame/6694b0470ec7a0b84f5e3e297d96e2ea951a01a2/homeassistant/components/notify/__init__.py#L45) to `vol.Optional(ATTR_TARGET): object,`. I think I was told at some point that object was not a good idea though. We could either have

[2016-09-27 19:33] robbiet480 commented on #3545
@balloob suggested changing to `vol.All(cv.ensure_list, [cv.string])` but we will need to update all platforms to support it.

[2016-09-27 19:52] balloob opened #3547 "Device Tracker should validate known_devices.yaml"
The device tracker component loads `known_devices.yaml` without any validation if the format is correct. We should validate that the file contains our expected format. Validation should be done using `voluptuous` as we do throughout the rest of Home Assistant.

Loading happens here: https://github.com/home-assistant/home-assistant/blob/dev/homeassistant/components/device_tracker/__init__.py#L403-L

[2016-09-27 20:00] balloob opened #3549 "Clean up emulated_hue tests"
Emulated_hue tests sets up it's own MQTT broker and sets up an MQTT light platform to connect to it so it has lights to control.

Instead, it should use the available `demo` or `test` light/switch platforms or anything else that only depend on in-memory devices.

[2016-09-27 20:04] simonszu commented on #3536
Closing this because it has nothing in common with the original issue any more.
Sorry for my unstructured writing, will use the forums next time.

[2016-09-27 20:04] #3536 closed

[2016-09-27 20:05] balloob opened #3550 "When a platform config is invalid, still setup the valid ones."
For example, if 1 automation config is invalid, none of them will load. This is very inconvenient.

Related code: https://github.com/home-assistant/home-assistant/blob/dev/homeassistant/bootstrap.py#L153-L184

First step would be to change from `return None` to `continue`. This will probably also break some tests.

[2016-09-27 20:08] balloob opened #3551 "HTML5 push notifications: remove push notification target on receiving 410 HTTP status code"
Push notification servers will return a code `410 GONE` when the registration is no longer valid. When we receive a `410 GONE` we should remove the registration entry.

`410 GONE` will be raised within this code: https://github.com/home-assistant/home-assistant/blob/dev/homeassistant/components/notify/html5.py#L381-L382

[2016-09-27 20:11] robbiet480 commented on #3551
I'll take care of this as soon as the clock strikes October 1, 2016!

[2016-09-27 20:21] Menturan commented on #3544
@MartinHjelmare Do you mean physically disconnect and reconnect the usb?
The only thing running is hass.
I digged through the syslog and found these lines right before the first serial exception:
[code]

[2016-09-27 20:44] MartinHjelmare commented on #3544
No I mean I have a fix for the log spamming. I'll call disconnect on the serial connection when catching the exception.

I managed to reproduce your error log by pulling out the USB cable to my gateway, without closing the connection first. Looking at your syslog seems to indicate something similar. What can cause the USB to disconnect?

[2016-09-27 21:21] Menturan commented on #3544
Aaa I see! Great! :)
I found someone with a similar problem where the solution was to switch to an adapter with higher current. https://www.raspberrypi.org/forums/viewtopic.php?f=66&t=32165
I have experienced strange and irregular problems with raspberries that haven't got enough current. So I will try the eisiest solution first and switch to an adapter that has a current of 1,5A, which should be

[2016-09-27 21:26] joyrider3774 commented on #3453
guys using this modified version of the kraken.py sensor here https://gist.github.com/joyrider3774/fe8816f8377a19393408ac5512db132c i can make python3.exe crash on windows. I only added the sensor to my existing config with 50 tentacles. so it seems windows is affected as well ?
the reason i modified the kraken.py sensor is because it uses the date command specific to linux so i just replaced the

[2016-09-27 21:57] MartinHjelmare commented on #3544
The recommended PSU capacity for the RPi3 is 2.5 A according to:
https://www.raspberrypi.org/help/faqs/

[2016-09-28 01:35] Cinntax opened #3554 "Platforms loaded using discovery.load_platform causing rest of platform not to load"
Make sure you are running the latest version of Home Assistant before reporting an issue.

You should only file an issue if you found a bug. Feature and enhancement requests should go in [the Feature Requests section](https://community.home-assistant.io/c/feature-requests) of our community forum:

**Home Assistant release (`hass --version`):**
0.28 (testing on 0.29 dev)

**Python release (`python3

[2016-09-28 01:36] Cinntax commented on #3554
likely also effects the vera hub as well.

[2016-09-28 02:09] joyrider3774 commented on #3453
ths is what i had gotten on windows when running through gdb not sure if it's helpfull and / or if i need some kind of debug version of python

[code]

[2016-09-28 02:52] Cinntax commented on #3554
Here's the sequence of events that causes this issue:
1 - bootstrap.component_setup loads all the domains from configuration.yaml
    example: recorder,envisalink,sensor,binary_sensor

2- bootstrap._setup_component eventually calls envisalink.setup.

3- envisalink.setup calls discovery.load_platform to load up the envisalink binary_sensors/sensors.

4-  discovery.load_platform eventually calls boo