[2020-03-05 18:44] abouelric commented on #32313
how do we get to test that on 0.106.6 and it is not released yet?

[2020-03-05 19:13] Mariusthvdb commented on #32438
this is not true is it? There is the attribute reachable, which really says if a light has power or not.
It even is available in the integration logic, so why to actively use it?

[2020-03-05 19:16] alyarmak commented on #32504
I created the "external" directory in /volume1/docker/hass.io/audio/ and the problem resolved.

[2020-03-05 19:18] ondoteam commented on #32497
Are you following steps at https://www.home-assistant.io/integrations/calendar.google/ ?? All steps?

[2020-03-05 19:31] yotuze commented on #32482
I've edited my post I hope you will be able to help. Thank you

[2020-03-05 19:44] tdejneka opened #32509 "MQTT Discovery fails to completely remove a deleted entity."
## The problem

This bug was originally [reported in the Frontend repo](https://github.com/home-assistant/frontend/issues/5028) but was assessed to be due to a problem with MQTT Discovery (MQTT Integration).

Deleting an entity, via MQTT Discovery, fails to completely remove it. The entity is removed from:
- **Entities** view
- **States** view

However, the entity is _not_ removed from the **MQTT

[2020-03-05 19:45] Ruud2702 commented on #32504
I had already tried to add the missing folder. without success.

now I've tried it again. it works. I could now import a backup of 0.160.0 from today at noon

[2020-03-05 19:52] Kugelfang666 commented on #32380
Hue Bridge #1
5x motion detectors,
11x Dimmer switches
23x Lamps

Hue Bridge #2
2x motion detectors,
3x Dimmer switches
1x Hue Tap
10x Lamps

[2020-03-05 19:54] Maco65 commented on #32492
Thank you @springstan  for information. Apologies for not following precisely this template (it looks like I have put comments/information in wrong places making them invisible in the "Preview" mode. I am very new to GitHub... Now I understand the logic idea of the template and formating so it shoudl be more clear now. In case there are any quesions let me know

[2020-03-05 19:56] patmann03 commented on #32502
Ok, thanks.  What's the best way to handle the initial state request?  First time I've done something like this.  After this call, all updates flow back through callbacks but I still need to grab the initial state.

[2020-03-05 20:00] balloob commented on #32502
[code]

[2020-03-05 20:01] patmann03 commented on #32502
@balloob thank you so much for the quick reply.  I'll make the appropriate change tonight.

[2020-03-05 20:19] felipediel commented on #30215
Command sending is not working.
[This update](https://drive.google.com/open?id=1TNYkcxY3z2FptKgyxhigfGjtpRIWRDB_) should do the trick.
Do you guys confirm that the code is being sent after learning?

[2020-03-05 20:20] balloob commented on #32380
For the record, the Hue custom integration is absolute trashing your Hue hubs. It doesn't leverage existing caches, it doesn't cache itself either across the different platforms and is just hammering your hubs non-stop. It doesn't just break Home Assistant, I bet a lot of other stuff is also hurting by it.

[2020-03-05 20:24] Kugelfang666 commented on #32380
ok, fair point, the only thing i don't understand is why the error poped out just after the update to 0.106. I'm always keeping a close eye on the error log and this is the first time I saw it.

Also as I wrote earlier, I just uninstalled the custom component and removed the entries from config.yaml and after just 30 min the same error was in the log

is there an easy way to diagnose which devices

[2020-03-05 20:30] cogneato commented on #32504
The native Synology install is a community supported project. Something needs updating there.
@broyuken your issue is not related.

[2020-03-05 20:33] #31707 closed

[2020-03-05 20:34] Danielhiversen commented on #31210
It 12 o clock

[2020-03-05 20:34] #31210 closed

[2020-03-05 20:34] sagitt commented on #32326
i think is better:

current_power: POWER
current_power_unit: W

(or as before current_consumption and current_consumption_unit)

so, the same format of total_consumption

[2020-03-05 20:35] Danielhiversen commented on #32313
Meant 0.106.5

[2020-03-05 20:39] Kugelfang666 commented on #32326
@escoand, from the changelog of 0.106 I noticed that you made the PR for moving from FRITZ!Dect to FRITZ!Box. Maybe you have an idea on how to fix this issue as well.

[2020-03-05 20:41] MyersGer commented on #32345
@WilldabeastHA: I had the same behavior within my installation. For me the solution was to upgrade to the newest version of Unifi Network Controller software. I didn't notice that they have switched the repositories for Ubuntu/Debian and the newer versions. So I didn't get any updates but thought I was up to date. After updating everything works just fine again.

[2020-03-05 20:42] #31736 closed

[2020-03-05 20:42] #32097 closed

[2020-03-05 20:50] Kugelfang666 commented on #32380
I just updated to the new version which has the lower polling rate (0.5) , I'll give it a spin and report back,

gernerally speaking, having the hue dimmer switches available in HA as sensors for me is a major asset since I'm heavily using them to trigger automation, control devices... Hence, having a "proper" solution would be fantastic.

[2020-03-05 20:53] Quentame commented on #32504
@Ruud2702 Have you try to restart your NAS ?

I got the same problem once, a restart solved this?

[2020-03-05 20:56] Quentame commented on #32496
@antoweb Reboot again, some times the service is down.
I've actually made a fix for that, but then I thought it was useless home-assistant/core/#32494

Maybe I should reopen it.

[2020-03-05 20:58] balloob commented on #32380
I would get yourself a Conbee 2 stick. Instant sensors/remote updates instead of polling for changes. The Hue Hub API just isn't meant for this.

[2020-03-05 20:59] WilldabeastHA commented on #32345
@MyersGer what repository are you using for the unifi controller? I had updated mine to 5.12.35 from jacoblberty/unifi but had really bad connectivity issues with devices that never had an issue before so I rolled back to 5.10.25 and the connectivity issue went away. I’m usually good about being on the latest releases but this is non-negotiable as i need to have clean connectivity for all my devic

[2020-03-05 21:00] Kugelfang666 commented on #32380
which I actually already have, unfortunately deCONZ does not allow to configure the scenes which are loaded in case of presence as a function of time. I was about to move my whole setup over but this was a deal breaker. Currently im using the iOS App iconnecthue to manage my hue bridge which actually allows for this

[2020-03-05 21:02] SpyrosKyriazos commented on #30215
For me both both test 8 and the previous (debug.py) seem to send the code after learning.
I test with a led strip remote on and off function.
This is the file from test 8:
[debug.txt](https://github.com/home-assistant/core/files/4295117/debug.txt)

[2020-03-05 21:11] vmcosco commented on #21299
I know this is an old topic but I just got SABnzbd set up in HA and wanted to report how I accomplished it just in case it helps someone else.

I added my sabnzbd details as outlined in the documents.  I deleted sabnzbd.conf from config/ (it was left over from prior attempts)
I added the following to my configuration.yaml.  Was there maybe some legacy discovery going on?
[code]
I restarted HA and

[2020-03-05 21:17] roland1970 opened #32513 "Second Piface did not work"
## The problem
If I would a second Piface I get the message " Entiteit niet beschikbaar"
More then 8 in and outputs are not accept ,if I number further as port 7 it don't works.
Address setting on the hardware are correct /hardware is not broken.

## Environment
  Home assistant running on aRaspberry Pi4

- Home Assistant release with the issue:  0.106.5
- Last working Home Assistant release (if k

[2020-03-05 21:18] goose2600 commented on #30215
@felipediel
Tested now, it learn and send code (power toggle on Samsung TV).
[debug.txt](https://github.com/home-assistant/core/files/4295183/debug.txt)

[2020-03-05 21:19] rpanfili opened #32514 "Home Assistant can't write pulse/client.config after upgrade to 0.106.5"
## The problem

After upgrade to v0.106.5, HomeAssistant won't start again. On supervisor log I got:
[code]
## Environment

[code]
- Home Assistant release with the issue: 0.106.5
- Last working Home Assistant release (if known): 0.106.1
- Operating environment (Hass.io/Docker/Windows/etc.): Hass.io
- Integration causing this issue: supervisor container mount?
- Link to integration documentation o

[2020-03-05 21:26] mauog opened #32515 "bmw_connected_drive: ligths_parking is unavailable"
## The problem

## Environment

- Home Assistant release with the issue: 0.106.5
- Last working Home Assistant release (if known):
- Operating environment (Hass.io/Docker/Windows/etc.): hass.io on Pi
- Integration causing this issue: bmw_connected_drive
- Link to integration documentation on our website: https://www.home-assistant.io/integrations/bmw_connected_drive/

## Problem-relevant `configur

[2020-03-05 21:27] mauog commented on #32515
![Screenshot 2020-03-05 at 22 27 05](https://user-images.githubusercontent.com/36936293/76027156-7721e380-5f30-11ea-9c5f-6ff8542b7a79.png)

[2020-03-05 21:34] #30555 closed

[2020-03-05 21:34] #30627 closed

[2020-03-05 21:37] fribse commented on #32497
Yup, to not have any problems with using incorrect characters I even copied the names etc. directly from the guide :-)

[2020-03-05 21:41] escoand commented on #32326
Anybody able to investigate what pyfritzhome is returning in such a case? The HA code looks right https://github.com/home-assistant/core/blob/19254eee3037651ffb095d6643394fcdf7805a3e/homeassistant/components/fritzbox/switch.py#L97

[2020-03-05 21:42] exxamalte commented on #29737
The fix for this has not yet been released.

I just tried the following configuration, and it processes the first 20 feed entries without problems.
[code]

[2020-03-05 21:44] Kugelfang666 commented on #32380
Also with the reduced poll rate I still get the errors in my brige

[2020-03-05 21:53] felipediel commented on #30215
Excellent. This issue is solved. The solution is tested and waiting to be merged.

@SpyrosKyriazos The debug is working because I changed the file for new tests. Sorry about that.
@goose2600 I don't think it's necessary because we haven't modified the interface. But if you want to do it anyway, feel free to copy the modified file in the PR and paste it into the local python-broadlink folder.

[2020-03-05 21:55] ondoteam commented on #32497
I will try on Sunday with a raspi from scratch and told you something 😉

[2020-03-05 22:08] breti commented on #32504
See here: https://community.home-assistant.io/t/hass-io-on-synology-dsm-native-package/125559/523

[2020-03-05 22:17] Anwen747 commented on #32514
I have the same error/problem on upgrading from 0.105.5 to 0.106.5 on an Ubuntu 18.04 host (NUC), Supervisor 208, so it isn't just a Raspberry Pi/HassOS issue.  All other containers are running except Home Assistant, and I get the same exact ```pulse/client config``` error when I try to start the core.

[2020-03-05 22:35] Mariusthvdb commented on #32433
ok thanks for the suggestion, done: https://github.com/home-assistant/architecture/issues/354

[2020-03-05 22:43] ryanm7780 commented on #30555
Awesome.  This has been plaguing me.  I'm really looking forward to the fix being released.  Thanks @balloob !

[2020-03-05 22:57] Mariusthvdb commented on #29737
Thanks for trying and reporting back Malte.

how odd though, and you're seeing this on current (non fixed)106.5? just retried that and no feed at all.

even added the exact automation from the docs, to be sure my templates don't cause any issues. Nothing.

[2020-03-05 23:12] badboybeyer commented on #32514
I am not really sure where I would find that file?
I believe my host is `hassio` from the perspective of core.
There doesn't appear to be a `homeassistant_pulse` file on the host:

[code]

I would assume this file is in the docker container for core, but I am not really sure how to access it. I tried `ssh` to access core from host, but I don't know what pubkey it is looking for. I cannot seem to f

[2020-03-05 23:28] kuchel77 commented on #32514
Can you try doing the find as root (sudo su) as I am guessing that it maybe a permissions issue. My previous installation had it at /usr/share/hass/ (or something similar), and I could at least see that data via my normal user, however with my current installation the files are stored under /root/snap/... and so I have to be logged in as root to be able to access the files now.

[2020-03-05 23:42] Anwen747 commented on #32514
@kuchel77  Thank you so much!  I ssh'd into the Ubuntu host, did sudo -i to become root, found the directory under /usr/share/hassio/tmp/homeassistant_pulse, deleted the directory, and rebooted the NUC.  I have a working instance back!  I'm very grateful for your help.

[2020-03-06 00:17] felipediel commented on #30215
@SpyrosKyriazos Thanks! I just realized that Home Assistant does not initialize this value correctly, so I decided to keep a default value to avoid problems with the code that is already working. Could anyone check if the problem is solved now?

[2020-03-06 00:19] chmielowiec commented on #32507
Same here, I created PR #32516.

[2020-03-06 00:22] mcondren commented on #31253
So my barrel connectors arrived and I hooked everything up. Zen31 generated a light entity once I made the zwcfg change you mentioned above. However, turning on the light entity in HA doesn’t seem to do anything. I stuck a multimeter on the White and power dimmer ports and while on and am getting negligible voltage. (.005v). The manual says that each color terminal is controlled by the matching IN

[2020-03-06 00:31] badboybeyer commented on #32514
I am already logged into root, so `sudo su` doesn't change the result of `find`. I suspect my `ssh` connection isn't to the host or hassos in my case. It appears that hassos uses `dropbear`, and my `ssh` client reports the remote is running `OpenSSH`.

It looks like version 3.12 of hassos was released a few hours ago for supervisor 208. Maybe if I update from version 3.11 of hassos, the problem wi

[2020-03-06 00:38] luisfosoares commented on #30215
What is the correct path for Broadlink folder in Hassio raspberry?

[2020-03-06 00:40] mcondren commented on #31253
Actually... I guess I could test this by installing a jumper between IN4 and ground to simulate a closed switch.

[2020-03-06 00:42] goose2600 commented on #30215
@felipediel
I got the same error of @SpyrosKyriazos
Just made a test with the new version and the error is gone!

[2020-03-06 00:51] mcondren commented on #31253
Nope, didn’t seem to have any impact. I’m stumped.

[2020-03-06 01:19] #32507 closed

[2020-03-06 01:21] felipediel commented on #30215
@luisfosoares I don't know if you can do it on Hassio.
@goose2600 Weird. The API is working correctly. This seems to be another problem. I will take a look.

[2020-03-06 01:27] dmulcahey commented on #25960
<img width="494" alt="image" src="https://user-images.githubusercontent.com/1335687/76040308-045b3d00-5f1d-11ea-8181-f978701515ee.png">

Here are the logs from pairing. It appears to lose its connection immediately:

[code]

<img width="970" alt="image" src="https://user-images.githubusercontent.com/1335687/76040707-15f11480-5f1e-11ea-97c0-bf574ba28372.png">

I added logging there as well. It does

[2020-03-06 01:27] 335iguy opened #32518 "Logging in with "login" to the CLI reverts to homeassistant login."
## The problem
When using Whiskerz007 script to write to a VM in proxmox, the system deploys but shows `FATA[0000] Error while executing rootCmd: subcommand is required.`
Logging into root takes me to `ha >`
Getting a VM CLI by typing in "login" sends me right back to the homeassistant login

## Environment
Proxmox 6.1-7 with VM (1 socket 2 cores, 2GB RAM, E1000 NIC, UFEI BIOS, 6GB storage (have t

[2020-03-06 02:00] felipediel commented on #30215
I just found the problem. It is related to the problem we just solved. Tomorrow I will put the solution here for testing.

[2020-03-06 02:17] omriasta opened #32519 "Google assistant can't unlock door"
## The problem

Google Assistant can no longer unlock a zwave lock exposed by homeassistant

## Environment

Hassio 106.5
- Home Assistant release with the issue:
- Last working Home Assistant release (if known):
- Operating environment (Hass.io/Docker/Windows/etc.):
- Integration causing this issue: good assistant
- Link to integration documentation on our website:

## Problem-relevant `configura

[2020-03-06 02:25] omriasta commented on #32519
Just to add, I have a nest hub. When I ask it to unlock it brings up a screen to enter the pin. If I speak the pin it fails but if I key in the pin on the screen it works. My guess is that they are now blocking the action if the pin is spoken for security?

[2020-03-06 02:53] daviegeepers opened #32520 "August Lock Entities Missing"
## The problem

The August Lock entities that were present in previous HA iterations are missing.

sensor.august_asl_03_smart_lock_access_control, sensor.august_asl_03_smart_lock_alarm_level, sensor.august_asl_03_smart_lock_alarm_type, lock.august_asl_03_smart_lock_locked, sensor.august_asl_03_smart_lock_sourcenodeid

You were able to get a number (access control) that would indicate the lock stat

[2020-03-06 03:45] bdraco commented on #32520
@daviegeepers  I can't seem to find the code that did this.  Which version did you see this in ?

[2020-03-06 03:48] bdraco commented on #32520
@daviegeepers It looks like there were provided by the the z-wave integration.  Do you have the lock linked via the august api now and previously had it linked via z-wave?

[2020-03-06 03:50] daviegeepers commented on #32520
It’s been since the last few versions. It was def working before 0.600.0. I can try to roll back a few times?

[2020-03-06 03:51] daviegeepers commented on #32520
It’s connected via z wave. I can remove the gateway and still happens.

[2020-03-06 03:56] bdraco commented on #32520
@dshokouhi   This looks like a problem with integration:zwave not integration:august

[2020-03-06 04:06] daviegeepers commented on #32520
Here is the entity card code I used to monitor it:
entities:
  - entity: zwave.backdoor_august_lock
  - entity: sensor.august_asl_03_smart_lock_access_control
  - entity: sensor.august_asl_03_smart_lock_alarm_level
  - entity: sensor.august_asl_03_smart_lock_alarm_type
  - entity: sensor.august_asl_03_smart_lock_battery_level
  - entity: lock.august_asl_03_smart_lock_locked
  - entity: sensor.augu

[2020-03-06 05:38] springstan commented on #32433
Closing this issue in favour of the above mentioned architecture issue.

[2020-03-06 05:38] #32433 closed

[2020-03-06 05:44] escoand commented on #32326
This is a know error since Dev 2018, at least: https://community.home-assistant.io/t/support-for-avm-fritz-smart-home-components/27163/41

[2020-03-06 06:26] engrbm87 commented on #32482
Hello @yotuze, do you have any special characters in the names of your devices. Have you used UTF-16 decoding previously.

[2020-03-06 06:48] tedsluis commented on #31759
Hi, I have a similar case.

## Problem

I have more than 50 MQTT devices. Mostly Zigbee2mqtt and a couple of Tasmoto MQTT devices. Since (I think HA 0.105) a couple of weeks, the Home assistant MQTT integration doesn't works any more. All sensor entities (like temperature, pressure, linkquality, illuminance) report the state null or unknown. Lights have the state OFF. If I change the state of a li

[2020-03-06 06:52] isk0001y commented on #32377
Looks like no other info is available. Thanks

[2020-03-06 06:52] #32377 closed

[2020-03-06 06:54] MichielvanBeers commented on #30555
That is great news! Very happy to hear that there is a fix :) thanks a lot!

[2020-03-06 07:03] springstan commented on #32514
@pvizeli could you please move this issue to supervisor? Thanks 👍

[2020-03-06 07:05] springstan commented on #32518
@pvizeli could you move this issue to supervisor as well? Although I am uncertain whether or not this issue is related to some code in the HA code base since I have never heard HASS_OVA 3.1.2 before.

[2020-03-06 07:15] VivantSenior commented on #21040
Hi,

I have the same issue with one of the temperature sensors on my Shelly 1PM.
Current setup:
RPi 3B+, Raspbian Buster
HA: 106.5
Supervisor: 108
I think it has happened for the first time in HA 105 (but I'm not sure).

[code]

Below you can find the string parsed as a JSON (had to remove escape chars like `\` before apostrophe `'`):
[code]

Any ideas what could be a reason? Other values from thi

[2020-03-06 07:16] robbiet480 commented on #21040
Please open a new issue instead of commenting with unrelated problems on a issue almost a year old. Thanks!

[2020-03-06 07:17] Kugelfang666 commented on #32380
i have quite some command line switches in my setup to deactivate my hue motions sensors:

[code]

[2020-03-06 07:19] GatoPharaoh commented on #32345
updated from 105.2 to 106.5 at night. at first, everything seemed to be fine but as soon as devices were in motion in the morning, the issue started to appear for me.

at the moment, it does look like devices are marked as away as soon as they switch from one AP to another AP.

[2020-03-06 07:32] yotuze commented on #32482
Hello, no I don't have any special characters. I use comments for my devices in Lease and some time ago I had problem with device tracker (it constantly changed state from home to not_home) because I've used Polish character (like ś, ł, ń) in comment of the device at Mikrotik, now I don't have any of those, sometimes I use _ or - in comment. Could that be a problem?

[2020-03-06 07:43] pappirauk commented on #31707
I also have the same problem.
Did you find out what was wrong @Danielhiversen ?

[2020-03-06 07:50] andker87 commented on #32502
same here, error occurs on startup on Home Assistant 0.106.5
Alexa integration as described [here](https://www.home-assistant.io/integrations/alexa.smart_home/)

First occured: 8:33:48 (2 occurences)
Last logged: 8:33:53
Error doing job: Task exception was never retrieved
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/components/alexa/state_report.py", line 46, in

[2020-03-06 08:12] felipediel commented on #30215
I think this PR will finish the job. Could you help me to test it? Don't forget to add the device type in the configuration file.

[2020-03-06 08:21] martykiico commented on #16698
Error during Bluetooth LE scan: Unexpected error when scanning: Set scan parameters failed: I/O error

in Home Assistant 0.106.5

[2020-03-06 08:23] Aiace88 commented on #32305
ok, i have update the post...thanks for the info

[2020-03-06 08:25] rpanfili commented on #32514
I workaround this problem on my Hass.io env opening a local shell with an usb keyboard (and a video) attached to the raspberry. So:
1) logged in as `root` (no password by default)
2) typed `login`
3) `docker ps` to identify the supervisor container id
4) `docker exec -it [supervisor_container_id] rm -rf /data/tmp/homeassistant_pulse`
5) reboot host

[2020-03-06 08:33] martykiico commented on #17118
Error during Bluetooth LE scan: Unexpected error when scanning: Set scan parameters failed: I/O error

in Home Assistant 0.106.5

[2020-03-06 08:34] Kane610 commented on #32345
Logs please @GatoPharaoh

[2020-03-06 08:34] Danielhiversen commented on #31707
He justed rebooted HA.
Any error in your log related to Tibber or graphql_subscription_manager?

[2020-03-06 08:49] Jc2k commented on #25960
Losing connection after pairing is normal. It closes an insecure channel and then opens a secure one. What is a bit screwy here though is that the logging is asymmetric - i'm not logging new connections at all.

I'm unsure about this. Later on we see seemingl see the put call succeed. Let's come back to this. Oh, maybe if you wait for the 2nd poll you'll see something?

Empty `{}` is from the TV i

[2020-03-06 08:53] pappirauk commented on #31707
`config $ cat home-assistant.log | grep Tibber
2020-03-06 08:36:06 ERROR (MainThread) [tibber] Timed out when connecting to Tibber:
config $ cat home-assistant.log | grep graphql_subscription_manager
2020-03-06 08:41:55 ERROR (MainThread) [graphql_subscription_manager] No data, reconnecting.`

[2020-03-06 08:59] pappirauk commented on #31707
I'm using HA Node-red to fetch Tibber data (historical consumption) with no issues. So I'm not sure why real time consumption times out.

[2020-03-06 09:01] CooleRnax opened #32524 "ADB symbol not found"
## The problem
I have a docker image of home assistant with added android-tools package.
After upgrading image to 106.5, when I use adb I get an error.

## Environment
- Home Assistant release with the issue:
106.5
- Last working Home Assistant release (if known):
105
- Operating environment (Hass.io/Docker/Windows/etc.):
Docker
- Integration causing this issue:
switch.command_line
- Link to integ

[2020-03-06 09:07] Danifont commented on #18271
Hi!
To add more information to the threat

I receive a lot of entries in the DNS like this.

Time | Type | Domain | Client | Status | Reply | Action
-- | -- | -- | -- | -- | -- | --

2020-03-06 09:47:10 | AAAA | api.telegram.org | 192.168.XX.XX | OK (cached) | IP (0.1ms) | Blacklist
2020-03-06 09:47:10 | A | api.telegram.org | 192.168.XX.XX | OK (cached) | IP (0.2ms) | Blacklist

I try the DNS tri

[2020-03-06 09:12] Danielhiversen commented on #31707
Could you run `cat home-assistant.log | grep tibber`
(Not capital t)

[2020-03-06 09:13] pappirauk commented on #31707
`config $ cat home-assistant.log | grep tibber`
`2020-03-06 08:36:05 WARNING (MainThread) [homeassistant.setup] Setup of tibber is taking over 10 seconds.`
`2020-03-06 08:36:06 ERROR (MainThread) [tibber] Timed out when connecting to Tibber:`

[2020-03-06 09:21] pappirauk commented on #31707
![image](https://user-images.githubusercontent.com/6358861/76069931-fe547300-5f93-11ea-97ef-d766a83d65d2.png)
Sometimes after a reboot it works, but now I can't get it to work.
Gonna try a complete reboot of the Raspberry Pi

[2020-03-06 09:22] MyersGer commented on #32345
@WildbeastHA

I am using 5.12.35 using the repository mentioned in this howto: https://help.ubnt.com/hc/en-us/articles/220066768-UniFi-How-to-Install-and-Update-via-APT-on-Debian-or-Ubuntu

I didn't noticed any connectivity issues yet and it works with home-assistant (for me it does). But I didn't test what happens at the moment when one device switches to another AP. I will also have look at this

[2020-03-06 09:23] goose2600 commented on #30215
Good morning @felipediel, thank you again for your work!
Should I change also the remote.py to test it?

[2020-03-06 09:26] felipediel commented on #30215
@goose2600 Yes.

[2020-03-06 10:02] goose2600 commented on #30215
Unfortunately I am testing from my mobile. Could @felipediel or someone else give me the links to the right raw files? Thanks

[2020-03-06 10:16] gsghirinzetti commented on #32313
Same problem in 0.106.5. My sp3 switch stop working, Resolved copying broadlink folder from an old working version to custom components folder

[2020-03-06 10:18] Mariusthvdb commented on #32380
to try and take out the need for the custom integration (which holds a great deal of extra info than the current Core does), we can add some of these extra attributes to the core HA integration, hope this will be allowed.
Next to these attributes, we really need to integrate the Hue remotes into HA. Is anyone working on that, or is an architecture discussion needed for that before doing so.

[2020-03-06 10:21] cgtobi commented on #31884
Yes, I know of setups with multiple cameras. A new version is on the horizon.

[2020-03-06 10:56] fermulator commented on #24317
Note that the "workday" component and as a condition works fine in the UI as a workaround.
The goal of this is to support date ranges to allow users to automate things based on time of year, seasonal etc.

[2020-03-06 11:08] engrbm87 commented on #32482
The error log shows a decoding error when checking if `capsman` is supported which means running the `caps-man/interface/print` command. Can you check the list of interfaces showing under CAPsMAN in your mikrotik and see if any device has any special characters.

[2020-03-06 11:13] abouelric commented on #32313
So i guess what @gsghirinzetti did proves that something changed in broadlink components starting version 0.106.x.

[2020-03-06 11:16] #29212 closed

[2020-03-06 11:37] Danielhiversen commented on #32313
Strange.
You can see all the changes here: https://github.com/home-assistant/core/commits/dev/homeassistant/components/broadlink
Try to find which change that breaks your installation.

[2020-03-06 11:52] VonXavier opened #32528 "Failed cookie"
## The problem

Unable to connect to HA, only restart "homeassistant" container helps

Developer Tools > logs

## Environment

- Home Assistant release with the issue: from 0.105.5 to now 0.106.5
- Last working Home Assistant release (if known): new instal from 0.105.5
- Operating environment (Hass.io/Docker/Windows/etc.): Ubuntu server, docker, HA
- Integration causing this issue: probably superv

[2020-03-06 11:52] pvizeli commented on #32514
Fix with 209

[2020-03-06 11:55] frenck commented on #24317
I notice this issue now for the first time, but this is a feature request, not a bug (as already mentioned in the OP "this is an enhancement".

We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have addit

[2020-03-06 11:55] #24317 closed

[2020-03-06 11:55] pappirauk commented on #31707
After rebooting the Router and then rebooting Home Assistant the real time consumption started to work again.

[2020-03-06 11:57] frenck commented on #32524
This is an error thrown by the ADB binary. Since you are using a switch here to execute a command on the system, this is not Home Assistant related.

For support on this, I would recommend reaching out to the authors of the android-tools.

[2020-03-06 11:57] #32524 closed

[2020-03-06 12:04] frenck commented on #32518
This has been fixed in the Home Assistant Operating System CLI release 21.

Please update your CLI using `ha cli update` (or more specific: `ha cli update --version 21`).

See: <https://github.com/home-assistant/hassos-cli/releases/tag/21>

[2020-03-06 12:04] #32518 closed

[2020-03-06 12:16] #29243 closed

[2020-03-06 12:35] springstan commented on #32528
Fixed by https://github.com/home-assistant/audio/pull/5

[2020-03-06 12:35] #32528 closed

[2020-03-06 12:40] dmulcahey commented on #25960
Cool. I see the PR. Are you on discord at all?

[2020-03-06 12:40] vinmar1 commented on #32495
Sounds fair... just for the record I only have Sengled Bulbs and Samsung Motion Detectors on the network... and 1 Samsung Outlet because I wanted a repeater.
Since this isn't effecting my service from what I can tell I'll close the ticket but did want to make you aware of this spike in what my system has been seeing.

[2020-03-06 12:40] #32495 closed

[2020-03-06 13:10] Nixon506E commented on #32345
Is this the same issue as this thread? I am having issues where devices that are away on restart do not show as away but rather unavailable and never report their status even after returning home.

https://community.home-assistant.io/t/unifi-devices-tracker-missing-on-restart/130926

[2020-03-06 13:22] pw4056 opened #32529 "Tado error: Could not set zone overlay"
**Home Assistant release with the issue:** 0.106.2

**Last working Home Assistant release (if known):**

**Operating environment (Hass.io/Docker/Windows/etc.):** Docker

**Integration:** https://www.home-assistant.io/integrations/tado

**Description of problem:**
Tado AC V3+ controlling a air conditioner/heat pump. Current temperature and target temperature shows correct in Lovelace. The device ca

[2020-03-06 13:38] VonXavier opened #32530 "Updater Error fetching Home Assistant update data"
## The problem

## Environment

- Home Assistant release with the issue: 106.5
- Last working Home Assistant release (if known):
- Operating environment (Hass.io/Docker/Windows/etc.): ubuntu docker

## Problem-relevant `configuration.yaml`

[code]

## Traceback/Error logs

[code]

## Additional information

[2020-03-06 13:41] VonXavier opened #32531 "OTA updates have been disabled"
## The problem

## Environment

- Home Assistant release with the issue: 106.5
- Last working Home Assistant release (if known): no
- Operating environment (Hass.io/Docker/Windows/etc.): ubuntu docker
- Integration causing this issue:
- Link to integration documentation on our website:

## Problem-relevant `configuration.yaml`

[code]

## Traceback/Error logs

[code]

## Additional information

[2020-03-06 13:49] titilambert commented on #30565
Nevermind, The root cause issue is that I don't have google play services ...
https://github.com/home-assistant/home-assistant-android/issues/231

[2020-03-06 13:49] VonXavier opened #32533 "supervisor.hwmon"
All is latest

[code]

## Additional information

[2020-03-06 13:49] eracknaphobia commented on #27210
I've had to reauthorize my google calendars at least 3 times in the past 4 - 6 weeks. Token seems to be not valid after a certain amount of time passes. At least for me...
![image](https://user-images.githubusercontent.com/8268725/76089289-62246f00-5f87-11ea-9fe7-3b5c653600ea.png)

[2020-03-06 13:52] SpyrosKyriazos commented on #30215
Tested with the files @goose2600 linked and with the following config:
[code]
Both remote.learn_command and remote.send_command work correctly.
Nice solution @felipediel. Thanks again for your effort.

[2020-03-06 13:53] VonXavier opened #32534 "Hassio.http - Client error on api supervisor/logs request Cannot connect to host"
After update supervisor to 209

[code]

## Additional information

[2020-03-06 14:00] frenck commented on #32531
This is not an issue, but an excepted warning.

RAUC is used for updating the Home Assistant Operating system, you are running your own host operating system (Ubuntu), hence the updating of the host system is disabled.

[2020-03-06 14:00] #32531 closed

[2020-03-06 14:02] frenck commented on #32533
Duplicate of: https://github.com/home-assistant/supervisor/issues/1569

[2020-03-06 14:02] #32533 closed

[2020-03-06 14:10] gsghirinzetti commented on #32313
In my log file i find this error:

Invalid config for [switch.broadlink]: [retry] is an invalid option for [switch.broadlink]. Check: switch.broadlink->retry. (See ?, line ?). Invalid config for [switch.broadlink]: [retry] is an invalid option for [switch.broadlink]. Check: switch.broadlink->retry. (See ?, line ?).
3:06:04 PM – Hass.io (ERROR) - message first occurred at 12:14:31 PM and shows up 6

[2020-03-06 14:12] tnTano commented on #32269
hi, i have the same problem....

after update to 0.105 i cannot view the climate.thermostat or the graphs...

can anyone help us?

[2020-03-06 15:10] pcopa commented on #32392
Moved this issue #5090

[2020-03-06 15:10] #32392 closed

[2020-03-06 15:20] vincep5 opened #32535 "Simplisafe camera motion not updating last_event_* attributes"
## The problem

I no longer see Camera Detected Motion in last_event_info.  The last_event_* attributes used to be populated with camera motion information whenever there was an event in the timeline for Simplisafe.  I do still get notifications from my Simplisafe app that motion was detected, but last_event_info does not capture that.
@bachya

## Environment

- Home Assistant release with the iss

[2020-03-06 15:28] gregg098 commented on #32345
I tried updating my controller software from stable (5.12.35) to the latest release candidate (5.12.66) in hopes it would fix this, but still had the same issues with 0.106.5. I rolled back to Unifi 5.12.35 and 0.105.5 and everything works great again. I've tried a lot of things with 0.106.x including disabling firewall rules, trying privileged containers in Proxmox, etc.  Many of these were not a

[2020-03-06 15:30] dshokouhi commented on #32305
This looks like an issue with a binary sensor template.  Can you look at your templates that you have setup?  You may also want to try updating HA to 0.106.5

[2020-03-06 15:52] binarybucks commented on #32236
So apart from the docs being wrong about the `url` parameter, how is this supposed to work with a file in a folder included in `whitelist_external_dirs` ?

Looking at https://github.com/home-assistant/core/blob/dev/homeassistant/components/pushover/notify.py#L75 the attachment url is checked against `whitelist_external_dirs`.

Assuming I'm running HA internally on hass.localdomain with a reverse p

[2020-03-06 15:55] Dulcow opened #32537 "Aeotec Limited ZW175 Smart Switch 7 does not seem to be recognised properly"
## The problem

I paired one of the Aeotec smart plug today and I noticed that the device wasn't recognised properly, despite being in the device database in OZW (http://www.openzwave.com/device-database). For instance, I cannot access the ZWave parameters in Home Assistant.

## Environment

- Home Assistant release with the issue:  0.106.5 / Frontend version: 20200220.5 - latest
- Last working Ho

[2020-03-06 16:01] Dulcow opened #32538 "AEON Labs ZW132 - Cannot find endpoint map to instance for Command Class COMMAND_CLASS_HAIL endpoint"
## The problem

I started to play with Z-Wave a few days ago but it does not work very well for me so far. I have an AEON Labs Gen5 Stick on a Raspberry Pi 3 B+ and an AEON Labs Dual Nano Switch to command some Wi-Fi lights via Home Assistant.

The electric setup does work perfectly (I can hear the relay clicking when use each switch). On Home Assistant side, things are unreliable and I noticed th

[2020-03-06 16:02] cgtobi commented on #32269
@tnTano please contact me on discord or the forum to discuss the details.

[2020-03-06 16:05] Codelica commented on #32236
@binarybucks as I understand it, you can't use a URL for an attachment, regardless of wether that's a local URL with a whitelisted path or not.  The [code](https://github.com/home-assistant/core/blob/2879081772b248b707a22afa6f5a80ac0ff0d166/homeassistant/components/pushover/notify.py#L78) is running [`open()`](https://docs.python.org/3/library/functions.html#open) to get a file handle.  So you'd n

[2020-03-06 16:08] binarybucks commented on #32236
In that case this change should have been marked as breaking change and the documentation should have been purged of all references to attaching URLs for all notification integrations.

[2020-03-06 16:10] antoweb commented on #31549
same problem here removed all occurence in know_devices.yaml and using ping and nmap. How to solve the problem?

[2020-03-06 16:16] Voxxie opened #32540 "DSMR component: total sensors unavailable in 0.106."
**- Home Assistant release with the issue:**
0.106

**Last working Home Assistant release (if known):**
0.103

**Operating environment (Hass.io/Docker/Windows/etc.):**
Hass.io

**Integration causing this issue:**
https://github.com/home-assistant/core/tree/dev/homeassistant/components/dsmr

**Link to integration documentation on our website:**
https://www.home-assistant.io/integrations/dsmr/

Both

[2020-03-06 16:28] Codelica commented on #32236
I'd agree.  If the argument is that a HA system with a compromised account could exploit local URLs via notifications, I'd argue that would be the _least_ of my worries.  On my server I'd expect them to add the "SSH & Web Terminal" add-on to have a real party. 🎉

[2020-03-06 16:31] badboybeyer commented on #32514
209 fixed my problem

[2020-03-06 16:47] gsghirinzetti commented on #32313
an update to my statement. even if you restore old "broadlink" folders and put them in custom components the problem persists on all broadlink components. All the on and off commands are executed but with a lot of delay.

[2020-03-06 16:58] OleksandrBerchenko commented on #32313
@gsghirinzetti That's strange: I have just reverted this change: https://github.com/home-assistant/core/commit/9f58e5d6eaed731be728596a5b06e981f604fe30#diff-d31d58995a6c8e6454413bfa41b9a588 and after HA restart, Broadlink started to work 100% correctly again.  I have one RM-Pro 3.

[2020-03-06 17:19] fmonday commented on #30943
I’m seeing this exact behavior with `current_power_w` but using Currant switches brought in through the SmartThings integration. Maybe it’s a more generalized issue?

[2020-03-06 17:55] balloob commented on #32380
@Kugelfang666 that won't hit the server unless you're turning them on/off. However that value template is sourced from the hub…

@Mariusthvdb you don't need an architecture issue, you need a developer to fix it. Remotes however will never work great, as it's a polling API so things will never be instant unless you hammer the hub, which we won't allow, as that's causing this issue to begin with.

[2020-03-06 17:59] #23094 closed

[2020-03-06 18:03] Kane610 commented on #32345
@gregg098 logs?
@Nixon506E yes

[2020-03-06 18:12] R3yn4ld commented on #25747
Hello,

Very same problem here, since month..

Using homeassistant/amd64-hassio-supervisor docker on unraid.

Easy to reproduce just wait for the supervisor to get an update

[code]

To solve, I need to delete all container + data and restore a backup.

[2020-03-06 18:12] gregg098 commented on #32345
See here:
https://community.home-assistant.io/t/unifi-integration-devices-never-leave-home/175047/40?u=gregg098

Unfortunately I did not keep the logs since downgrading to 0.105.

[2020-03-06 18:15] Kugelfang666 commented on #32380
Thanks for the feedback.

Is the value template regularly polled or just checked when the switch is operated?

[2020-03-06 18:18] balloob commented on #32530
Duplicate of #32350

[2020-03-06 18:18] #32530 closed

[2020-03-06 18:24] balloob commented on #32380
Value template is only evaluated when the `sensor.arbeitszimmer_motion_sensor` state changes. It does not interact directly with the hub to get the state.

[2020-03-06 18:24] #32540 closed

[2020-03-06 18:25] Voxxie commented on #32540
They renamed the low to tarrif_1 and normal to tarrif_2

[2020-03-06 18:37] Kugelfang666 commented on #32380
ok thanks for pointing this out, the only thing I still don't understand is why this error just popped out with the latest HA update, I'm 100% positive at there was no such entry in the log. could it be that earlier it was not reported?

[2020-03-06 18:39] frenck commented on #32514
Supervisor 209 is now generally available, addressing this issue. 🎉

[2020-03-06 18:39] #32514 closed

[2020-03-06 18:43] yotuze commented on #32482
@engrbm87 Thank you for tip. Interfaces didn't had any special characters but I've noticed that, again, I have polish characters (ć and ś) in comments for interfaces. After removing this characters and restarting HA, all devices are found and state home/not_home works great :)

I really think you should ignore comments from Mikrotik because I can't see how they could be helpful in HA and as I witn

[2020-03-06 18:55] August-At-Play commented on #21688
This same thing happens often when I update tuya devices using voice commands on Google Assistant devices. The response is "Sorry XX devices are not available right now".  They usually work with a few seconds delay, often before the voice response.

I think this may be a problem at tuya.

[2020-03-06 18:56] pimenkov commented on #32313
I can not find where to make the changes:
homeassistant/components/broadlink/__init__.py

[2020-03-06 19:05] tayanov commented on #31170
for light template i have it is warning too

[2020-03-06 19:07] balloob commented on #32519
This sounds like an issue with Google, since unlocking works if entered via the screen.

[2020-03-06 19:16] #29218 closed

[2020-03-06 19:24] bdraco commented on #32294
@philermiya I added some more tests and found some more bugs, please pull again before retesting.

[2020-03-06 19:37] felipediel commented on #30215
Awesome! We finish here then.
The update is coming soon.
And who doesn't want to wait, do it like @goose2600 and @SpyrosKyriazos.
Thanks guys! It was really cool to work with you!

[2020-03-06 19:42] michaellee1019 commented on #31253
Have you unplugging and plugging back in? I think I had todo that, it forces OpenZWave to re-negotiate with the device and exchange supported/expected command classes.

[2020-03-06 19:47] guice commented on #25747
That part isn't needed. Your data is preserved under /usr/local/hassio (if I recall right) on the root system.

Root of the problem: don't use any 3rd party apps to manage/update/restart your HA containers.

[2020-03-06 19:53] chbndrhnns opened #32544 "New deconz multi-entity devices have inconsistent naming in HA"
## The problem
I added an Aqara motion sensor in Deconz and named it `motion-kitchen`. After running the `deconz.device_refresh` service from HA, I end up with these entities:

Device names:
- device name in phoscon app: motion-kitchen
- device name in HA: Presence 44

Entity names in HA:
- battery level:
  - caption: sensor.lightlevel_43_battery_level
  - entity id: `sensor.lightlevel_43_battery_

[2020-03-06 19:58] chbndrhnns opened #32545 "Renaming device does not rename all connected entities"
## The problem
This is maybe related to https://github.com/home-assistant/core/issues/32544.

I added an Aqara presence sensor via deconz. After clicking the property icon on the device page and renaming the device to `motion-kitchen`, HA asks if I want to rename the entity id's. After acknowleding this, not all related entities have been renamed:

Only the presence sensor entity was renamed to `b

[2020-03-06 20:47] Danielhiversen commented on #32313
@OleksandrBerchenko Are you sure it is not random if it works or not when you restart HA?
I do not see any way that change can cause component to stop working.

[2020-03-06 20:52] gsghirinzetti commented on #32313
I tried, it doesn't work for me, this way it doesn't work at all

[2020-03-06 20:58] gsghirinzetti commented on #32313
I am sure. I have been informed by a friend who has the same problems

[2020-03-06 21:04] OleksandrBerchenko commented on #32313
@Danielhiversen Yes.  Reverting my revert back and restarting HA - Broadlink doesn't work.  Reverting that commit and restarting again - Broadlink works.  Yes, it's magic :)  I don't see anything suspicious in the code too.  I didn't debug it further, but I suspect this method is being accidentally called when HA starts.

[2020-03-06 22:30] VivantSenior opened #32547 "deCONZ light entities unavailable in HA"
## The problem

## Environment

- Home Assistant release with the issue: **0.106.5**
- Last working Home Assistant release (if known): **0.106.3?**
- Operating environment (Hass.io/Docker/Windows/etc.): **RPi B+, Hass.io**
- Integration causing this issue: **deCONZ**
- Link to integration documentation on our website: https://www.home-assistant.io/integrations/deconz/

## Problem-relevant `configu

[2020-03-06 22:31] maxi1134 commented on #32370
The problem started again on my side, no changes to my config.

[2020-03-06 22:38] VivantSenior opened #32548 "Can't decode payload from MQTT"
## The problem

## Environment

- Home Assistant release with the issue: **0.106.5**
- Last working Home Assistant release (if known): **0.106?**
- Operating environment (Hass.io/Docker/Windows/etc.): **RPi B+, Hass.io**
- Integration causing this issue: **MQTT / Mosquitto**
- Link to integration documentation on our website: https://www.home-assistant.io/integrations/mqtt/

## Problem-relevant `c

[2020-03-06 22:40] kpine commented on #32538
You might try setting parameter 80 to "Basic". Basic is not good either, but maybe it will work better. Check if your zwcfg*.xml file has an entry for basic with a mapping, should look something like this:

[code]
The mapping to 37 means any Basic messages received will be treated as if they are for the Binary Switch class.

[2020-03-06 22:42] Kane610 commented on #32545
@springstanarris isn't a deconz issue but a device / entity registry request

@chbndrhnns there is no simplification that I know of that would rename more than one entity because a device could have more than one entity of the same platform and that would complicate naming them in an understandable way. I recommend closing this

[2020-03-06 22:49] Kane610 commented on #32544
This is not easily done today. I'm awaiting the version two of deconz api before that will be supported.

You can use the deConz configure service to rename those devices as you wish or change them directly in hass

[2020-03-06 22:49] #32544 closed

[2020-03-06 22:50] kpine commented on #32537
It was already fixed. https://github.com/home-assistant/open-zwave/commit/19506bcf2ea3aeef4b49fc9d0c37dc69cd959c78

You will need to wait for a [0.1.9 release](https://github.com/home-assistant/python-openzwave/releases) of homeassistant-pyozw, which includes the database files. The 0.1.8 release was created Jan 29, 2020, but the fix above was accepted on Feb 4, 2020, so it didn't make the release

[2020-03-06 22:53] chbndrhnns commented on #32545
Thanks for the quick reply. I assume your mention has gone wrong. Did you want to mention @springstan ?

[2020-03-06 22:55] springstan commented on #32545
Sorry my bad, just quickly scanned the issue 😅

[2020-03-06 23:02] Mariusthvdb commented on #32380
Yes I understand that, and wouldn't want to do so. Thats why I had the Custom integration poll per second, not 0.1 second and that worked fine. Would you consider that too much still? If not, I think this would be just fine to have in core HA.

[2020-03-06 23:12] mcondren commented on #31253
Yes. I have cycled the power many times during testing.

[2020-03-06 23:40] antoweb commented on #32518
@frenck nice solved for me!

[2020-03-06 23:47] theseal opened #32550 "Hue component reporting wrong max_mireds"
## The problem

### Backstory
Back in november I had some issue calculating the maximum color-temp which [I ask about in the forums](https://community.home-assistant.io/t/calculate-maximum-color-temp/149993
) since I wasn't sure if it was a bug or not. Didn't get any replies then.

When I didn't receive any answers I gave up and worked around the issue but for some reason I gave it a though tonigh

[2020-03-06 23:54] thawizard opened #32551 "Coinmarketcap integration broken/outdated. It uses new API now."
## The problem

Coinmarketcap sensors are not working anymore. It seems to use new API now.

## Environment

- Home Assistant release with the issue: 0.106.5
- Last working Home Assistant release (if known): 0.106.5
- Operating environment (Hass.io/Docker/Windows/etc.):
- Integration causing this issue: coinmarketcap
- Link to integration documentation on our website: https://www.home-assistant.io

[2020-03-07 00:00] skynet01 commented on #26288
Also 106.. Any word on when the new integration is released?

[2020-03-07 00:02] kpine commented on #26288
You can follow these if you'd like to keep tabs on status:
https://community.home-assistant.io/t/the-future-of-z-wave-in-ha-qt-openzwave/148541
https://github.com/cgarwood/homeassistant-zwave_mqtt

[2020-03-07 00:48] gregg098 commented on #32345
You are Robban on the Home Assistant forums correct? Just sent you a pastebin link in a PM.

[2020-03-07 01:03] webdjoe commented on #30943
Which outlet are you using? Can you add this to your config.yaml and see if there are any other errors in the log:
[code]

Does this happen with any other vesync attributes (`today_energy_kwh`, `voltage`, `weekly_energy_total`, etc.)?

[2020-03-07 01:06] CodeFinder2 commented on #30275
Same issues here, very annoying (5 sensors, some with new batteries after less than a  year)...

[2020-03-07 01:49] talondnb commented on #30275
I've made this crude workaround which should function as a workaround until a fix is in place. I'm using a Pi 3B and have had this issue since around 0.103, currently running 0.106.5. Still testing but worth trying.

[code]

[2020-03-07 02:22] benjgos commented on #21299
Unfortunately i've done that multiple times, and i also have discovery ignore sabnzbd, but i still get the error randomly (after most restarts).

[2020-03-07 03:52] goffa72 commented on #32492
I'm having a similar problem on a RPi3. On previous HA versions sound was fine, there were three audio devices to choose from within the Spotify app, something like alsa device 0, 1 & 2, now there is only Built-in Audio Digital Stereo (IEC958) and default, these produce no sound or highly distorted sound.

[2020-03-07 04:02] goffa72 commented on #32492
Further testing sound comes out fine using 'speaker-test -c2 -t wav'

[2020-03-07 05:10] getsharp commented on #32447
Another way of describing it is - HA is only able to reflect the blocked state correctly after a restart. Changing the blocked state within the controller's UI is not reflected within HA UI.

[2020-03-07 05:49] funhouse62 commented on #32345
I'm seeing the same problem with all devices marked as not_home on upgrade to 0.106.5. Unfortunately, I'm stuck on Unifi controller 5.6.42 as I have AP-AC v2 access points, and controller versions beyond 5.6.x don't support them.
I've rolled HA back to 0.105.5 and am seeing correct operation there.
Will it be possible to still support Unifi controller version 5.6.42 into the future?

[2020-03-07 06:04] craigcarps commented on #32551
I can confirm I’m also having the same issue, the coinmarketcap public api has been decommissioned in favour of their new api.

[2020-03-07 07:15] VivantSenior commented on #21040
@robbiet480 sure, #32548

[2020-03-07 07:22] VivantSenior commented on #32547
Weird... I added:
[code]
to the configuration and restart HA in order to get detailed logs and deCONZ lights came back...

I will monitor behavior of the deCONZ lights.

[2020-03-07 07:33] Maco65 commented on #32492
@goffa72 - how can I make this test ?

[2020-03-07 07:37] springstan commented on #32492
@frenck could you please move this issue to [hassio-addons](https://github.com/home-assistant/hassio-addons)? Thanks 👍

[2020-03-07 07:41] frenck commented on #32492
@springstan This is not add-on related, but audio.

[2020-03-07 08:12] Kane610 commented on #32547
Problem solved.

[2020-03-07 08:12] #32547 closed

[2020-03-07 08:47] greberg commented on #32370
I get another issue now. All my custom cards doesn't work while lovelace cards works. Not sure if it is related but if I go to https://cast.home-assistant.io/ and try to start it from there instead of automation I get a message from the page saying "There were no suitable Chromecast devices to cast to found." So I guess something have changed somewhere because my config is the same as before

[2020-03-07 09:19] o00batman00o commented on #30585
[https://support.tado.com/en/articles/3387309-how-often-are-the-temperature-humidity-measurements-updated]
Updating after 5% change seems to be the expected behavior of tado ! But it is still buggy because value should be updated at least every 20mn.
It looks like they try to save the battery of apple devices.

[2020-03-07 09:26] springstan commented on #32548
Please add the relevant section of your configuration.yaml to the issue, thanks :)

[2020-03-07 09:36] #26495 closed

[2020-03-07 09:50] VivantSenior commented on #32548
I’m using mosquitto broker (as a hass.io add-on), not the build in one. Therefor no config in configuration.yaml.

[2020-03-07 10:01] maulwuff commented on #32326
my workaround for this issue so far via templating:
(which I need for integration platform, too)

[code]

[2020-03-07 10:05] Kugelfang666 commented on #32326
very interesting, I was using this for years without ever running into this problem. Anyway, I followed the proposed solution by mitigating errors using the value template in the link

[2020-03-07 10:05] Kane610 commented on #32447
I got a new implementation working yesterday. I can't promise that it will all be ready in time for branch off on wednesday

[2020-03-07 10:05] sagitt commented on #32326
I use this

[code]

[2020-03-07 10:16] Dulcow commented on #32537
Thanks Kpine, I will clone the Git repo from OZW.

[2020-03-07 10:16] #32537 closed

[2020-03-07 10:38] wilfredsmit commented on #32551
Same thing over here.

[2020-03-07 10:42] CodeFinder2 commented on #30275
@talondnb thanks for the workaround! I tried it by logging in via the hassio ssh addon but the command couldn't be found (which makes sense). I then applied it on my server directly (ubuntu 18.04, via ssh) 'sudo hciconfig down/up' but my sensors are still being reported as unavailable. 😕 How do I apply these commands correctly? 🙈

[2020-03-07 10:51] Siytek commented on #30215
Might be doing something dumb here @felipediel, but when I try to use the updated code in the `config/custom_components/` directory, I get the following error...

`Platform error remote.broadlink - cannot import name 'DOMAIN' from 'custom_components.broadlink' (/config/custom_components/broadlink/__init__.py)`

I dropped the [Broadlink files from Home Assistant Core](https://github.com/home-assist

[2020-03-07 10:56] springstan commented on #32551
FYI an alternative could be #31114

[2020-03-07 10:58] ishalem opened #32555 "status not updated (delayed)"
I have shelly 1 installed and working perfectly, the problem with the Homeassistantconnection is that there is a delay (more than 30 sec) until the state is updated
this is new issue, I didn't have it in the past

[2020-03-07 10:58] springstan commented on #32272
Closing this issue because it has been solved.

[2020-03-07 10:58] #32272 closed

[2020-03-07 11:00] dennisadvani commented on #30215
Hey @felipediel,
Just letting you know that the changes to the Broadlink python module might also break the Broadlink Home assistant integrations for sensor and switch. I use "Switch" because I use another HA helper called SmartIR which only supports "Switch" type integration of the RM Mini and it crashed because it wouldn't except "None" as a device type. Maybe the default type of 0x272A should b

[2020-03-07 11:03] rguenther-dz commented on #32551
I can confirm this

[2020-03-07 12:10] springstan commented on #32555
Please fill out the issue template, you can find it by clicking on `New Issue` and then selecting `Report a bug with Home Assistant`. Copy and paste the provided template into this already created issue, click preview to take a look at the empty template and then fill out as much as you can. Any additional information can be helpful!

Thanks for understanding :)

[2020-03-07 12:23] rktr2009 commented on #28541
Thank you so much for this clue. I also forgot that I deleted the refresh token recently, but relinking the account made it work again.

[2020-03-07 12:36] dmulcahey commented on #30841
should have been fixed by #30889

[2020-03-07 12:36] #30841 closed

[2020-03-07 13:45] a323870 opened #32556 "Webos 1.4.0 tv no change channel"
## The problem

When try to change channel from media-control my lg tv activate time-machine.
Other functions is ok

## Environment
Virtualenv on  RaspberryPI 4 python_version  3.7.3

- Home Assistant release with the issue: 0.106.5

- Last working Home Assistant release (if known): 0.103.6
- Operating environment (Hass.io/Docker/Windows/etc.):  Debian Raspbian
- Integration causing this issue:  W

[2020-03-07 14:11] ma0git commented on #32344
It looks like this was actually a problem of the Netatmo API and not HA. I still don't really understand what exactly caused the problem, but after I did the following the problem disappeared:

- While I had the problem, I had two devices which used the same Netatmo App/client_id to query the Netatmo API. Now I created a second App/client_id for the second device.

- I pressed the 'Reset keys' but

[2020-03-07 14:11] #32344 closed

[2020-03-07 14:31] Mariusthvdb commented on #32380
fwiw, Ive deleted all Custom integrations and other rest sensors to the hue hub, except for 2 that only run once a day, and moved over to all core Hue sensors.

Which is a complete let down so far: where I saw only the hue lights go unavailable before (and all Custom integration sensors where rock solid, as they have always been), I now witness all these sensors go unavailable also! So this truly

[2020-03-07 14:33] Kugelfang666 commented on #32380
that is perfectly in line whit what I saw. For me removing the custom integration also did not resolve the problem.

[2020-03-07 15:28] MansM commented on #26171
Fix ready to merge:
https://github.com/home-assistant/core/pull/32542

[2020-03-07 15:45] av-volgin commented on #30609
me too

thermostat Moes BHT-002GBLW
Home Assistant 0.106.5

[2020-03-07 15:54] chemelli74 commented on #31477
May I test something ? 😇

Simone

[2020-03-07 16:01] maxi1134 commented on #32370
Same for me! All  my custom cards don't work, (Then the connection manages to work)

[2020-03-07 16:05] uspino2 opened #32558 "HomeKit Cover component does not provide hold_position variable"
## The problem
When adding a cover to HomeKit, only required characteristics are implemented (current_position, target_position and position_state) but hold_position, which is an optional characteristic, is not implemented, although Home Assistant provides Stop Cover functionality. Without it, covers cannot be stopped using Homekit automations.

Another case scenario: you can use a Hue Remote in H

[2020-03-07 17:23] Mariusthvdb commented on #32380
R you using Custom Header?
Taking that out eases up a lot  in my setup..

[2020-03-07 17:26] #32431 closed

[2020-03-07 17:54] Kugelfang666 commented on #32380
?? I can't follow, what are you referring to?

[2020-03-07 18:03] mrand commented on #29600
This is still occurring in 0.106 with my Netgear R7000:

[code]

[2020-03-07 18:08] robbiet480 commented on #29600
@dgomes @StevenLooman You appear to have added support for sensors to UPnP, mind taking a look?

[2020-03-07 18:36] #28619 closed

[2020-03-07 18:47] abouelric commented on #32313
So will it be fixed in the next update?

[2020-03-07 18:57] Mariusthvdb commented on #32380
https://github.com/maykar/custom-header

But it was only my hope speaking I fear... still everything Hue (and Hue only) going unavailable..

[2020-03-07 19:14] springstan commented on #32534
Duplicate of https://github.com/home-assistant/supervisor/issues/1520

[2020-03-07 19:14] #32534 closed

[2020-03-07 19:35] felipediel commented on #30215
Hi guys. Thanks for the tests. I just added 0x5f36 to switch.py. You can grab the file [here](https://raw.githubusercontent.com/home-assistant/core/9a2267b2c12e26620bf05b6e00d0fb7ff5a68e01/homeassistant/components/broadlink/switch.py).

The configuration of the switch is a little different because I kept the syntax that was already being used.
[code]

[2020-03-07 19:48] jhonathas commented on #30215
@felipediel

To use do I need to install anything new in the Home Assistant? Or do I need to download a file and include it in a Home Assistant directory?

[2020-03-07 19:50] felipediel commented on #30215
@Siytek I don't think you can overwrite the `__init__.py` file in the custom components folder. Try without this file, or update the files in the original folder.
You can also use Git to pull these files from my repositories, I just didn't want to make it even more complicated for those who don't know the tool.

[2020-03-07 19:56] Dulcow commented on #32538
Hey @kpine, your suggestion seems to work so far ;) I will see how it goes in the coming days. Thank you so much!

[2020-03-07 20:08] MarkHofmann11 commented on #32339
Just upgraded from 104.x to 106.5 before realizing this issue.  Previously konnected was in configuration.yaml.  The integration of my (3) boards were discovered, but none of the sensors are showing available.  Moving back to 104.x for now.

[2020-03-07 20:17] kgorszczyk commented on #30215
Hey @felipediel
Thank you for your amazing work. I added the patched files to my own hass instance and connecting and learning commands through cli works fine. Unfortunately, when I try to learn a command through Hass, the RM Mini 3 won't turn on to do anything. After a few seconds Hass times out and returns: "[homeassistant.components.broadlink.remote] Failed to learn 'Turn on/television': no sig

[2020-03-07 20:27] felipediel commented on #30215
@kgorszczyk Did you replace `__init__.py` in the folder I mentioned above? Replaced `switch.py` and `remote.py` in the integration folder?

[2020-03-07 20:38] kgorszczyk commented on #30215
Just to be safe I redownloaded all files. The type is the same I used with the cli learning (python broadlink_cli --type 0x5f36 --host 192.168.178.40 --mac ......a7df24 --learn):
[code]
Unfortunately still no response from the RM Mini 3.

[2020-03-07 20:58] rngtng commented on #13646
Hey all I just got to know HA and am now in process setting up my devices. Nuimo Controll is one of them. I once can confirm following https://www.home-assistant.io/integrations/nuimo_controller#mac breaks HA completely - after adding `nuimo_controller:` to config, core doesn't start anymore at all and for first time I was a bit lost regarding HA.

So indeed, to avoid false hopes and unpleasant ex

[2020-03-07 21:12] ShurikenGitHub opened #32566 "RFLink stops working after new update HA"
## The problem

## Environment

- Home Assistant release with the issue:
- Last working Home Assistant release (if known):
- Operating environment (Hass.io/Docker/Windows/etc.):
- Integration causing this issue:
- Link to integration documentation on our website:

## Problem-relevant `configuration.yaml`

[code]

## Traceback/Error logs

[code]

## Additional information

[2020-03-07 21:16] jhonathas commented on #30215
@felipediel, I use it on a Raspberry pi and installed it via docker (https://www.home-assistant.io/hassio/installation/#preparation). In that case do you know where I should overwrite? I looked here and didn't find it. Is it possible to do the procedure with the environment installed via docker?

[2020-03-07 21:23] escoand commented on #32326
If nobody is willing to debug pyfritzhome we could also close this issue.

[2020-03-07 21:24] igormages opened #32567 "REST API, 404 on check_config"
Hi everyone !

I can't check my configuration.yaml with the REST API. I got every time a 404 error...

Here is an exemple of my cURL command :
`curl --location --request POST 'https://MY_DOMAIN/api/config/core/check_config' \
--header 'Authorization: Bearer MY_TOKEN' \
--header 'Content-Type: application/json'`

[REST API doc](https://developers.home-assistant.io/docs/external_api_rest/#post-apico

[2020-03-07 21:39] springstan commented on #32567
I think you are missing the config part in the request: api/config/core/check_config

[2020-03-07 21:43] igormages commented on #32567
Sorry, this still doesn't work with the good path (I tried others paths trying to find the good one, and I pasted the wrong one).

I edited my post with the good one.

[2020-03-07 21:43] springstan commented on #32558
Please open a feature request in the community forum (https://community.home-assistant.io/c/feature-requests?order=votes) since we only use GitHub to track issues.

[2020-03-07 21:43] #32558 closed

[2020-03-07 21:53] smunkel commented on #29831
I'm having the same issues on 0.106.5, with the exact same error message as @broyuken, I started to do some preliminary digging.
I've got the following in my `customize.yaml`:

[code]

and everything seems correctly setup in `configuration.yaml`

[code]

I tried to see if things are being properly parsed, and I think it looks like they are. I ran the following in the REPL.

[code]
And it gave me t

[2020-03-07 22:06] JT089 commented on #13646
I backed the Nuimo project via kickstarter in the very beginning. All I got is a piece of uselessness hardware, that never served any means.

Seams, that Nuimo guys are not willing to fix anything - asked them, if they’d provide help or at least a working development kit but never received any feedback.

So I’d opt for removing the HA integration!

[2020-03-07 22:07] mcondren commented on #31253
Unpaired and started again. Made the zwcfg changes in you check-in. Light entity created again. With light entity on I used a multimeter to check the following. I get 12v between + and - terminals on dimmer. So that’s working fine. However, with the light entity on I put the meter between The W (white) terminal and + (pos) and I get 0v. It just seems like HA is not sending whatever command it need

[2020-03-07 22:09] esnil commented on #32394
Hi @bmsec
Did you find any temporary sollution to get past this issue? I experiensing the same situation and all I-ve come up with so far is to restart HomeAssistant..

[2020-03-07 22:15] springstan commented on #31852
Closing due to being solved.

[2020-03-07 22:15] #31852 closed

[2020-03-07 22:16] springstan commented on #32242
The documentation has been updated therefore this issue is solved and can be closed.

[2020-03-07 22:16] #32242 closed

[2020-03-07 22:27] bmsec commented on #32394
I made a Quick and dirty.....highly dirty.
In my specific case the issue was this exact APCI:  0b1000011100000000 because this appeared randomly from time to time. All the other "exotic" packages only appear if I am working with ETS, and than I can restart home assistant.
So for APCI  0b1000011100000000 I changed the exception handling in cemi_frame.py, so it would consider this "exotic" ACPI a re

[2020-03-07 22:36] #28164 closed

[2020-03-07 22:57] felipediel commented on #30215
How to test it on your computer?

1. [Prepare your envinronment](https://developers.home-assistant.io/docs/development_environment)
2. Open the terminal and type:
[code]
3. Put your stuff into the config folder (don't forget to specify the device type for 0x5f36)
4. Run Home Assistant.
[code]

[2020-03-07 22:58] fmonday opened #32571 "Smartthings http call error 424"
## The problem

Without any configuration changes, previously normally functioning Currant switches brought into HA via the SmartThings integration started yielding the following error when toggled. However- the switch toggles as expected. Unfortunately automations will not proceed beyond this step (and the switch doesn't toggle if it's triggered by an automation).

## Environment

- Home Assistan

[2020-03-07 23:56] ajschmidt8 commented on #30243
@melyux, @alistairg, @springstan FYI, I have a PR open for this here https://github.com/home-assistant/core/pull/32390. Hoping to get it merged before the next release :crossed_fingers:. AlarmDecoder had to be configured to use Honeywell's _quick arm_ mode which doesn't require a security code to arm. I've tested my changes locally and everything seems to be working correctly.

[2020-03-08 00:35] ajschmidt8 commented on #25740
@jrstough, @jkeljo, I recently opened a PR that was merged to switch AlarmDecoder to use _Instant_ mode at night instead of _Night-Stay_ mode. https://github.com/home-assistant/core/pull/32292

[2020-03-08 00:47] kgorszczyk commented on #30215
Finally figured it out. I'm using pyenv to manage several Python Versions and I thought, that Hass would use the globally installed site-packages and use Hass specific packages from the config folder. Well, it's the other way around. Now everything works perfectly. Thanks!

[2020-03-08 01:57] talondnb commented on #30275
The hciconfig command doesn't exist within the hassio ssh addon and the shell_command integration runs commands within the hassio docker host itself. To get to the host, disable protection mode in the SSH addon (the one by Frenck) and run 'docker exec -it homeassistant /bin/bash' within a ssh session.

If you want to perform the same within the hassio ssh addon, simply run 'bluetoothctl power off'

[2020-03-08 02:16] talondnb commented on #30275
BTW, it looks like a 'hciconfig hci0 reset' might be simpler and unless it was a coincidence, brought my sensors back sooner:

[code]

[2020-03-08 03:43] dennisadvani commented on #30215
Hey All,

For those who are having some trouble with implementing this change in HA (I'm using HassIO) I've shared the steps I've used:
1. First get Dev SSH access with instruction [here](https://developers.home-assistant.io/docs/hassio_debugging/#home-assistant-os).
2. Access the shell with "login" first then "docker exec -it homeassistant /bin/bash"
3. Replace the python-broadlink module by firs

[2020-03-08 05:30] hellcry37 commented on #31549
I use trackers: bluetooth and synology_srm, problem manifest here also, no occurrence in configs for "hide_if_away" and still error appears.
Also important part, if new devices are found "hide_if_away" will be added for them in known_devices.yaml, so here I reach the conclusion then this is more a back-end issue.

[2020-03-08 05:50] aronsky commented on #30275
It's a trick I used for a while, and it was better than nothing, but the Bluetooth would eventually lock up and I would have to reboot the Pi (as in, the hci0 reset would be stuck as well, so nothing could be done). Sorry to be a downer, but I wouldn't get my hopes up.

[2020-03-08 05:59] Kernald opened #32574 "The AQI value reported by the Dyson integration doesn't have a unit of measurement"
## The problem

The AQI value reported by the Dyson integration doesn't have a unit of measurement, which results in it being handled as if it was reporting discrete values rather than numerical - hence the history isn't really usable.

## Environment

- Home Assistant release with the issue: 0.106.5, was already present in 0.103.0 (and reported in #30063, #30100 made a fix but it didn't fix the a

[2020-03-08 06:20] talondnb commented on #30275
Ahh, didn't realise. Thanks for the insight though, I think for those like myself this is probably the best workaround for now, sigh.

[2020-03-08 06:44] otherguy commented on #13646
It’s still on my to-do list and still an active project, but it has taken a backseat to real life events.

Like @JT089, I also haven’t gotten any response or help from the Nuimo guys. And without changes to their SDK, installing any Nuimo HA integration is going to be a PITA.

[2020-03-08 06:47] tmlee commented on #32551
May i suggest considering a switch to CoinGecko API? https://www.coingecko.com/en/api
The endpoints are public, open, and freely available to access all 7000+ tokens data from coingecko.com

It should be an easy integration and drop in.
Let me know what you think, and happy to answer any questions!

[2020-03-08 07:02] JonasKristiansen opened #32575 "Logbook filtering not working anymore"
## The problem

After upgrading to 0.106.5 the filter function in Logbook doesn´t work anymore or at least reports some non-relevant events. Worse when trying to use 3 day or 7 day log.

Filter on one entity.

## Environment

arch | armv7l
-- | --
dev | false
docker | true
hassio | true
os_name | Linux
python_version | 3.7.6
timezone | Europe/Copenhagen
version | 0.106.5
virtualenv | false

- Home

[2020-03-08 07:26] Torgrima commented on #31593
After my system stopped working completely, after updating supervisor 209.
I solved my z-wave problem the slow way.

First install home-assistant, then load an old backup of 0.104.
Then I updated to the latest version and replaysed my changes in yamel files after after the old 0.104 backup.

[2020-03-08 08:13] karlssmg commented on #32370
So it seems we all have the same problem. Are you all using the Nabu Casa cloud service? That would explain why stuff breaks and works again without us changing anything?

[2020-03-08 08:26] Knapoc commented on #28619
Since stale bot reminded me of this issue, I’d like to update. I got it to work as soon as I excluded the tv from my HomeKit config. Afterwards I had to limit the TV’s sources to add it to HomeKit.

[2020-03-08 08:33] BradleyFord commented on #27371
Manufacturer: Ubiquiti Networks, Inc
Model Number: UGW3
Model Name: Unifi-Gateway-3
Home Assistant Integration: Ubiquiti UniFi
Service name: _workstation._tcp.local

[2020-03-08 09:01] helto4real commented on #21038
![image](https://user-images.githubusercontent.com/26500160/76159723-8fa61f80-6123-11ea-9bd9-5687ccdead90.png)
Install the modified card to get m/s in GUI at least. You can get it through HACS most easily @Davst

https://github.com/hacs/integration

https://github.com/helto4real/weather-card-mod

[2020-03-08 10:06] Kugelfang666 commented on #32380
no I'm not using the custom header

[2020-03-08 10:07] Kugelfang666 commented on #32326
I would like to help but I don't know how....

[2020-03-08 10:29] YRRK commented on #31884
Ahhhh it took 2 days' before suddenly the 2nd Netatmo camera appears in HomeAssistant. Weird.
Errors are on going. Waiting patienly on the new version :-)

Update of binary_sensor.netatmo_presence_blabla_outdoor_human is taking over 10 seconds
7:31:10 AM – __main__.py (WARNING)

Update of binary_sensor.netatmo_presence_blabla2_outdoor_human is taking over 10 seconds
7:30:39 AM – __main__.py (WARNI

[2020-03-08 10:35] YRRK commented on #27156
The situation is somewhat under control now. Using expensive, fast, industry -grade microSDcards in Raspberry Pi4b+
But still would be great if there would be less updates of the data. Every second is great, but would be nice if we could slow this integration down to an update every 10sec, 30sec or 1 minute as an option for some users.

[2020-03-08 10:58] jtonk commented on #32370
same here, custom cards suddently don't work anymore. I would also like to understand how the mechanism works. I'm not using the nabu casa cloud service.

[2020-03-08 11:09] petersohn opened #32576 ""Reload Location & Customizations" does not reload customizations"
## The problem

I change some customizations, then hit "Reload Location & Customizations" in the Configuration / Server Controls tab. Then get back to the UI, and the changes have no effect, even after reloading the page. Restarting the server helps.

## Environment
Home Assistant 0.106.2

![image](https://user-images.githubusercontent.com/2822847/76161620-5aa2c880-6135-11ea-861c-ea6803407e91.png)

[2020-03-08 11:19] timmccor commented on #26745
Why is tensorflow 1.13.2 required as the only compatible version?

I have this running just fine under 1.14.0, as other do. Should we just allow 1.14 too? It's quite tiresome having to change the manifest every time I upgrade Home Assistant!

[2020-03-08 11:46] AndroVet commented on #32313
I can confirm problems with broadlink too. There are 5 devices: 3 switches SC1 (sp2), KIT s1c, RM-PRO. Everything stops working fine as soon as at least one of SC1 component is offline. That is, it is worth disconnecting SC1 from 220v and the whole system ceases to work adequately (exactly and only one of SC1).

[2020-03-08 11:51] ishalem opened #32577 "ShellyForHass issue"
## The problem

## Environment

- Home Assistant release with the issue: 0.106.5
- Last working Home Assistant release (if known):  not sure
- Operating environment (Hass.io/Docker/Windows/etc.):  docker on linux (ubuntu)
- Integration causing this issue:  ShellyForHass
- Link to integration documentation on our website: https://github.com/StyraHem/ShellyForHASS

## Problem-relevant `configuration

[2020-03-08 12:00] Tontze commented on #21290
Have this issue too, recently restarted again, and entities came from zmeuzb stick, forgot to reset it. Now i removed z-wave integration and my desktop is full of unused non functional entities i cannot remove anywhere ?

[2020-03-08 12:06] #29304 closed

[2020-03-08 12:06] #29277 closed

[2020-03-08 14:31] fermulator commented on #31252
not sure how close things are with the PR; in the interim, maybe we should be releasing a quick update to make it more obvious for unsupported TVs somehow? even a log message that ref's this ticket?
(noticing a lot of duplicate submissions causing noise in incoming bucket you know?)

[2020-03-08 14:47] danielromney commented on #32320
## The problem
I noticed that the lock state is inverted on Home Assistant.
When the lock is physically locked (and the LED status light on the lock itself indicates this is well), Home Assistant thinks it is unlocked. When I press the "lock" button in Home Assistant, it unlocks the lock.
The inverse is also true, then the lock is physically unlocked, Home Assistant thinks it is locked, and I must

[2020-03-08 14:48] Misiu commented on #32577
And what's the issue?
You should report issues in ShellyForHass repo

[2020-03-08 15:27] Siytek commented on #30215
Superstar @dennisadvani! Yes I was being dumb, of course python-broadlink needed replacing as well as the HA integration in `custom_components`. I am super-pleased to report that learning codes now works for me in Home Assistant!! 🎉🥳

[2020-03-08 15:27] macleodit commented on #32519
Try making sure your Home Assistant core, OS, and supervisor are up to date.

Also, checking synced entities to Google and then manually syncing again via the Home Assistant Google Assistant manager section.

I had an issue for 2 days where Google would say the same thing about my garage door.

Then, suddenly it started working again but I noticed that Google Assistant now asked me for my "securit

[2020-03-08 15:29] BenWoodford commented on #29899
Suggestion: it seems to specifically be an issue on slow-acting devices, or ones that throw a warning/error unnecessarily. Maybe we could get an option such as `emulated_hue_ignore_errors` to assume all is fine?

[2020-03-08 15:34] ha14937 commented on #30943
[These](https://www.amazon.com/gp/product/B06XSTJST6/ref=ppx_yo_dt_b_asin_title_o09_s00?ie=UTF8&psc=1) are the outlets I have. I only set up sensors to monitor current_power_w attribute because all I was trying to do was determine of a family members phone was charging on the outlet (or not).

I added the info to the logger - [here is a pastebin](https://pastebin.com/YcqkwcRa) of what I think is t

[2020-03-08 15:38] badguy99 opened #32583 "surepetcare integration failing to start"
## The problem
Adding the virgintivo media player to my configuration.yaml is causing my surepetcare integration to fail to launch with errors in surepetcare. If I comment out the virgintivo media player, it starts ok.

## Environment

Surepetcare integration code: https://github.com/home-assistant/core/tree/dev/homeassistant/components/surepetcare
Virgin Tivo media player code: https://github.com

[2020-03-08 15:52] emresumengen opened #32584 "Mikrotik HUB problem with multiple independent APs/HUBs"
## The problem

Running multiple independent Mikrotik APs (hubs?), HA integration seems to be able to track clients only on 1 of the APs (1st one added?). When the client roams to the 2nd AP, it is marked AWAY.

## Environment

- Home Assistant release with the issue: 0.106.5
- Last working Home Assistant release (if known): 0.104.x
- Operating environment (Hass.io/Docker/Windows/etc.): Hass.io
-

[2020-03-08 16:15] michaellee1019 commented on #31253
Did you try removing the command class COMMAND_CLASS_SECURITY in the xml? I just setup a 2nd zen31 and found that removing this was also required to interact with the light entity.

[2020-03-08 16:18] badguy99 commented on #32583
I also get the same issue/errors with the virgintivo configuration all commented out, but using:
[code]
in the configuration.yaml, when trying to move the username and password to secret.yaml

[2020-03-08 16:20] mcondren commented on #31253
Yes, I deleted the security command class under the zen31 node. Tempted to give up and just order one that HA supports like the fibaro dimmer.

[2020-03-08 16:21] mcondren commented on #31253
The only change I didn’t make was the ones in your entity store. Most of it seemed to be changing null values to empty brackets and I wasn’t sure how to get to that file. Are those changes necessary?

[2020-03-08 16:28] martin3000 opened #32585 "Honeywell VisionPro Wifi broken: Platform evohome does not generate unique IDs"
I have a honeywell room thermostat (wall thermostat).
After updating from HA 0.9.4 to 0.106.5 the climate component lost many attributes.
For example, the target tempature is lost.
This is the state  that the evohomeclient2 reports (via python script):
`{'locationId': '2166142', 'gateways': [{'gatewayId': '395968', 'temperatureControlSystems': [{'systemId': '416856', 'zones': [{'zoneId': '416856',

[2020-03-08 16:36] michaellee1019 commented on #31253
No you don't need the other changes, some are for other devices, caused by persisting the file in github after homeassistant is stopped and it writes to the file.

[2020-03-08 17:09] TEDSv commented on #32227
Same problem =/
106 broke my smart home at all. first cant open supervisor page, after supervisor doesn`t start, and now pushover.
Some news for that issue?

[2020-03-08 17:18] #32577 closed

[2020-03-08 17:28] nick7zmail commented on #22900
Hello!
Aqara 2ch Relay now available in developer mode in the gateway. Please add support for this.

[2020-03-08 17:38] maddenp commented on #23432
I'm the author of the underlying [bomradarloop](https://github.com/maddenp/bomradarloop) component. Thanks to @kuchel77 for pointing out the source of this problem, and for a PR with a fix.

Looking at this more closely, though, it seems to be a pattern that the timestamps on images for the 512km loops are all offset vs those for the 256km, 128km, and 64km loops. For example, the Melbourne radar's

[2020-03-08 17:47] dshokouhi commented on #32574
You can also just customize the entity and include `unit_of_measurement` for the graphs to work.

https://www.home-assistant.io/docs/configuration/customizing-devices/#unit_of_measurement

[2020-03-08 17:48] bdraco commented on #32529
@pw4056  fixed in https://github.com/home-assistant/core/pull/32564

[2020-03-08 17:49] dshokouhi commented on #32575
This may or may not be a frontend bug

[2020-03-08 17:50] dshokouhi commented on #32576
Did you make sure the state changed on the entity before restarting HA?  That is the behavior for reload customizations.  Restarting HA takes care of it immediately but reloading only happens when the state has changed.

[2020-03-08 17:54] petersohn commented on #32576
I tried it, and yes, after a state change, the customization takes effect. Then I guess this issue should be labeled as an enhancement, because this behaviour is counterintuitive.

[2020-03-08 17:58] dshokouhi commented on #32576
@petersohn please file feature request in the forums: https://community.home-assistant.io/c/feature-requests

This is working as designed:

https://www.home-assistant.io/docs/configuration/customizing-devices/#reloading-customize

[2020-03-08 17:58] #32576 closed

[2020-03-08 18:05] felipediel commented on #30215
@dennisadvani Dude, you are hero, I have to thank you again.
The headers I found in your captures enabled me to extend our support to the entire [RM4 series](https://github.com/mjg59/python-broadlink/issues/301).

[2020-03-08 18:23] yabolek opened #32587 "Automation launches every day at midnight instead of every 60 hours"
## The problem

Hello,

I wanted to set an automation for watering my plants every 60 hours, but it seems, that instead 60 hours the automation launches every midnight. Is this a bug, or a feature ? ;)

## Environment

- Home Assistant release with the issue: 0.106.0
- Last working Home Assistant release (if known): unknown
- Operating environment (Hass.io/Docker/Windows/etc.): Linux pi 4.19.75-v7

[2020-03-08 18:28] YRRK commented on #27371
Manufacturer: Denon
Model: DENON DN-500AV
Home Assistant Integration: denonavr
Service name: _http._tcp.
Service name: _raop._tcp.

[2020-03-08 18:48] springstan commented on #26745
@timmccor please feel free to open a PR for this change.

[2020-03-08 19:01] zxdavb commented on #32585
@martin3000 Thanks for your submission.

Have you see this [breaking change](https://www.home-assistant.io/blog/2020/02/05/release-105/#breaking-changes) regarding the **evohome** integration:

IIRC the controller will keep the old `entity_id`, and the thermostat will get a new `entity_id`.

Can you look for any new entities?

[2020-03-08 19:09] zxdavb commented on #32585
BTW, what does `VacationHold` do - I've never see it before!

Can you tell me the make/model of your controller - maybe that is the problem.

[2020-03-08 19:11] martin3000 commented on #32585
Honeywell RTH8580WF
Vacation Hold is that I can set the temperature to for example 15°C for 14 days.
There is no thermostat entity.

[2020-03-08 19:16] gnkarn commented on #30215
, is the RM3 integration also broken?, im asking because i cant connect to my mini after  an update . tks

[2020-03-08 19:29] zxdavb commented on #32585
In Europe? Wow.

OK, I can fix it, but easiest way if for you to share your location with me via `Grant User Access` at https://international.mytotalconnectcomfort.com/Account

If you're willing to do that, PM me via https://community.home-assistant.io/u/zxdavb & I'll give you my email address.

Otherwise, I'll make a branch of HA that you'll have to test/dev.

I guess later, I can add the `Vacati

[2020-03-08 19:33] zxdavb commented on #32585
Have you got any `evohome` debug lines that have:

- `Found the Location/Controller`,
- `Adding: `, or
- `Ignoring: `

[2020-03-08 19:40] felipediel commented on #30215
@gnkarn You may be experiencing [this issue](https://github.com/home-assistant/core/issues/32313), which is different from the one we just solved here.
I still need to do some testing to understand this new problem that came up with the update. But it has nothing to do with this issue. This case is closed. Go to the right place and I will be glad to help you.

[2020-03-08 19:42] martin3000 commented on #32585
Yes see the inital post:

[2020-03-08 20:06] #28400 closed

[2020-03-08 20:11] zxdavb commented on #32585
I wrote that code so long ago... Maybe.

They will definitely have distinct `unique_id`s: zone = `416856`, controller = ...

WAIT! they have the same ID!

[2020-03-08 20:20] chadmccune commented on #31361
I'm also having this issue, considering ordering a pro hub just to switch to the custom component :/

[2020-03-08 20:23] chadmccune commented on #31361
I would also add, that when this happens, even the Lutron app appears to stop working, in that, if you open the app and try, it will seem like it doesn't work.  For example, you turn a light off, the light stays on, but then, several minutes later it turns off...Its as if the hub is being flooded by home assistant and gets behind.  However, as soon as you restart home assistant, the app starts res

[2020-03-08 20:40] jrnhrmn opened #32590 "Netatmo integration stopped working"
## The problem

Netatmo integration stopped working suddenly a few versions ago. After reboot sometimes I have to reboot HA again to get values. Now I haven't been able to get it working again. Logs state netatmo API can not be reached at boot. Tried resetting client id and secret. Tried new app in the Netatmo dev portal.

## Environment

- Home Assistant release with the issue: 0.106.5
- Last wor

[2020-03-08 20:58] CodeFinder2 commented on #30275
@talondnb thanks for clarifying but I can simply log into my host since it runs normal Ubuntu (and Hassio + docker on top of it). However, a `sudo bluetoothctl` followed by `power off`, `power on` does not help (it seems to power cycle the adapter correctly but als miflora sensors are still unavailable).

[2020-03-08 21:06] myerdacom commented on #32269
I have the same issue.
Can you help me?
Thanks in advance

[2020-03-08 21:19] zxdavb commented on #32585
No, will just fail again - HA is being asked to create two entities with the same `unique-id`.

This will have to change:
[code]
into _something_ like:
[code]

[2020-03-08 21:22] CodeFinder2 commented on #30275
I just realized after a restart of HA (v106.5) that I just have this (wrt. miflora) in my log (I have 5 sensors):
[code]
That's it and according to the code, it seems to be stall in https://github.com/home-assistant/core/blob/0.106.5/homeassistant/components/miflora/sensor.py#L164 because every other cflow case has an output. For me it seems to be stuck at polling the first sensor but the question

[2020-03-08 21:31] igormages commented on #32567
Found the answer. The config REST API needs to activate the config integration.

[2020-03-08 21:31] #32567 closed

[2020-03-08 21:35] martin3000 commented on #32585
thanks, this worked, without the "if".
why not always add the "z" ?

[2020-03-08 21:35] badguy99 commented on #32583
It seems to be timing out doing the initial auth, when using `!secret surepetcare_u` and `!secret surepetcare_p` even though it is pulling in the correct values.

Failing with username and password referenced into `secret.yaml`
[code]

Working with username and password in `configuration.yaml`:
[code]

[2020-03-08 21:37] AdamGalt commented on #31673
Reopened with more info: #31677

[2020-03-08 22:07] felipediel commented on #32313
Hi @abouelric. I came here to help you. Let's start with a debug.
- Run [this script](https://drive.google.com/open?id=1Gr-Qe_sdVL-Yn2g2ITDFYB1TTpd1pX8Z)
- If the led blinks, capture a code
- Send me the debug.txt

[2020-03-08 22:15] talondnb commented on #30275
Looks like I've hit this:

[code]

[2020-03-08 22:21] cgtobi commented on #32269
Did you actually clean up the configuration.yaml and run the netatmo integration dialog in the configuration menu?

[2020-03-08 22:25] cgtobi commented on #32590
Did you run the netatmo integration dialog in the configuration menu?

[2020-03-08 22:32] #31465 closed

[2020-03-08 22:32] kedare commented on #32590
I have the same issue, it was working perfectly fine before and stopped working after an upgrade.

[2020-03-08 22:32] jrnhrmn commented on #32590
Yes I have all the entities.

[2020-03-08 22:33] petterreinholdtsen commented on #26553
Well, the question is still not answered and still valid, so the issue is not "stale". Perhaps someone can have a look and provide some feedback?

[2020-03-08 22:38] cgtobi commented on #32590
If you can't give more detailed information it is nearly impossible to help.

[2020-03-08 22:42] cgtobi commented on #31884
Please set the logging for the netatmo integration to `debug` to gather further information.

[2020-03-08 22:43] escoand commented on #31252
The PR is ready to merge. So we just have to wait somebody is doing so...

[2020-03-08 22:46] zxdavb commented on #32585
Because that will change the unique-id for existing entities.

Upon reflection, I think it will have the z at the end:
[code]

I recommend you change your code too reflect this.

[2020-03-08 22:48] cgtobi commented on #32587
The documentation actually suggests quoting the time pattern (`"`)
[code]

[2020-03-08 22:48] jrnhrmn commented on #32590
I will try and collect some data. Completely understand.

[2020-03-08 23:01] cgtobi commented on #32590
How did you add the integration? Which devices comprise your setup? What version was last know working? Raise log level for the netatmo integration to gather more information.

[2020-03-08 23:15] yabolek commented on #32587
Thanks, this automation was created via GUI - I did not interfere with the file itself. Do you think that is the problem?

[2020-03-09 00:06] #29333 closed

[2020-03-09 00:17] CodeFinder2 commented on #30275
Hm interessting: I was able to reproduce this issue with the [plantgateway](https://github.com/ChristianKuehnel/plantgateway) on my server. It worked for the first sensor and failed for the remaining ones (although it correctly timed out, in contrast to this HA component).

Doing:
[code]
made it working again. This makes me think that it's **rather a driver issue related to bluez** (Linux Bluetoot

[2020-03-09 00:18] zarboz opened #32595 "Homekit accessory naming issue"
## The problem:
When adding homekit accessory that has multiple items homeasisstant is unable to label all items

I know homebridge  isnt supported but I don't wanna learn java to rewrite the plugins i already hacked together for homebridge to work with my dwelo interface into python to work with homeassistant....

when adding my homebridge to homeassistant as a homekit accessory it only adds 1 of

[2020-03-09 00:19] CodeFinder2 commented on #30275
@talondnb @aronsky  Can you access your host and try to reset the Bluetooth daemon, e.g., on Ubuntu via `systemctl restart bluetooth` (as root)? Otherwise, I would assume a reboot should also work... (but yeah, very annoying).

[2020-03-09 00:38] talondnb commented on #30275
I'm running hass.io and don't have systemctl commands in either ssh addon nor the docker HA host itself. The current state of my bluetooth is frozen up, hci0 times out, basically as @aronsky described above in https://github.com/home-assistant/core/issues/30275#issuecomment-596169815.

A reboot will most certainly fix this, but whyyyyy is it happening.

@Danielhiversen, do you have any suggestions

[2020-03-09 01:19] omriasta commented on #32519
@macleodit am all up to date, using the manual configuration not nabu casa, tried syncing, removing, readding....still no dice....
I saw one other complaint on Google assistant forums from someone not using homeassistant...guess I'll give it some time and wait for Google to fix... Given that locking works and unlocking works if I key in the pin on the screen, my guess is something in the spoken pi

[2020-03-09 01:22] omriasta commented on #32519
Looks like the same issue here:
https://support.google.com/googlenest/thread/32447767?hl=en

[2020-03-09 02:06] #29300 closed

[2020-03-09 02:46] tomlut commented on #23432
I believe you can be added as the code owner.

[2020-03-09 03:04] felipediel commented on #32313
Hi guys, I'm going to fix this. But first I need to understand exactly what is going on. I need you to follow the procedures exactly as I will explain. So I will have the necessary data to solve the problem.

**1. First I need to debug you**
You are gonna [run a script](https://drive.google.com/open?id=1Gr-Qe_sdVL-Yn2g2ITDFYB1TTpd1pX8Z) and try to capture a command.
This will give me all informati

[2020-03-09 03:12] pmthomps commented on #30787
Same issue.  Tplink is one of the few non-default integrations that I added.   It's configured with auto-discovery.  It's interrupting the discovery of some existing tplink devices.

arch | aarch64
-- | --
dev | false
docker | true
hassio | true
os_name | Linux
python_version | 3.7.6
timezone | America/Los_Angeles
version | 0.106.5
virtualenv | false

[2020-03-09 03:17] mf-social commented on #30787
Ooooh, forgot to update this issue. It's definitely tp-link. I had a massive refurb downstairs a few weeks ago and had to go offline.

When I hooked everything back up I didn't reinstall the tp-link sockets straight away as I was in a hurry and just needed the essentials back online.

As soon as I put them back in, I got this error message.

So, if someone can change/add the tag to tp-link please

[2020-03-09 03:25] AndroVet commented on #32313
I can do it right now ... but I do not have enough instructions (((how to run debug.py? Which command?
I downloaded Wireshark on my computer (Win10 x64), but it does not see any packages, but it’s understandable, apparently I need to download it to the server with hassio... I don’t understand how to do this ((
I have hassio: docker, intel-nuc, Ubuntu 18.04. I can connect via SSH.

[2020-03-09 03:44] marc-gist commented on #28892
not stale, just not a priority for HA :(

[2020-03-09 03:45] kingtao1024 commented on #32343
Is there anyone who can help me?

[2020-03-09 03:50] polarburn opened #32598 "Mobile Phone device_tracker entity status fails to update"
## The problem

## Environment

- Home Assistant release with the issue: Home Assistant 0.106.5
- Last working Home Assistant release (if known): Unknown
- Operating environment (Hass.io/Docker/Windows/etc.): HassOS 3.12 on Pi 4b
- Integration causing this issue: Mobile App
- Link to integration documentation on our website: https://www.home-assistant.io/integrations/mobile_app/

## Problem-releva

[2020-03-09 03:58] felipediel commented on #32313
@AndroVet Let's start simple, just debug and I see how we proceed.

[2020-03-09 04:01] AndroVet commented on #32313
here is a video - how it stops working. Shot right now.
[https://youtu.be/9xhq46ahqN0](url)

[2020-03-09 04:16] AndroVet commented on #32313
I have done it. But the script every time it executes produces different errors and different debug.txt
root@HASIO:/home/hom# python3 debug.py
Traceback (most recent call last):
  File "debug.py", line 1032, in <module>
    device.enter_learning()
AttributeError: 'a1' object has no attribute 'enter_learning'

debug.txt
04:07:25,365 root INFO Broadlink API Debug
04:07:25,367 __main__ DEBUG Starting

[2020-03-09 05:37] aronsky commented on #30275
I'm really curious how does hass.io set up Bluetooth and where the baudrate
is set. If I get a chance to boot it, I'll look into it.

On Mon, Mar 9, 2020, 00:15 talondnb <notifications@github.com> wrote:

[2020-03-09 05:52] felipediel commented on #32313
I improved the debug tool to ignore this exception. Please [try again](https://drive.google.com/open?id=1Gr-Qe_sdVL-Yn2g2ITDFYB1TTpd1pX8Z).

[2020-03-09 06:22] escoand commented on #32326
@Kugelfang666 basically install pyfritzhome and request the data, this should work (not tested)

[code]

[2020-03-09 06:26] springstan commented on #32598
Please fill out the issue template, thanks :)

[2020-03-09 06:32] ishalem commented on #32577
thanks

[2020-03-09 06:51] Kane610 commented on #30787
@mf-social the problem is still in the zeroconf library, not in the tp-link library

[2020-03-09 06:56] AndroVet commented on #32313
06:50:24,946 root INFO Broadlink API Debug
06:50:24,947 __main__ DEBUG Starting discovery...

06:50:24,958 __main__ DEBUG [Request]
bytearray(b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\xe4\x072\x06\x14\x01\t\x03\x00\x00\x00\x00\xc0\xa8\x01\xc8h\x9d\x00\x00\x00\x00\x00\x00\x00\x00\x06\x00\x00\x00\x00\x00\x00\x00\x00\x00')

06:50:25,47 __main__ DEBUG [Response]
bytearray(b'\x00\x00\x00\x00\x

[2020-03-09 07:41] marriotb commented on #32380
I thought I should add my bit of information to the conversation:
I've been running Hue with Home Assistant for a couple of months now. I have a small installation: a single Hue bridge listening to three movement sensors and two dimmer controls and directly controlling 5 lights and a light strip. It also sends data to Home Assistant.

I'm running with Home Assistant on HassOS on a Raspberry Pi.
Th

[2020-03-09 08:30] engrbm87 commented on #32584
Hello @emresumengen , devices are identified by their MAC address, if you are using Wireless interface for detection then make sure that the device with same mac address is showing in the registration table in both hubs.

[2020-03-09 08:47] NeilDuToit92 commented on #32370
My only assumption is that there is some online compnent, a chromecast app, if you will that is intermittently available. Either that service needs to be made more robust, or we need a way to host it offline. Even if it means I need to get a cloud service subscription to use it. At the moment I can't use it as the primary control for my house due to it's unpredictability.

[2020-03-09 08:51] DACN commented on #32341
I disagree; it was a breaking change.

I have a static IP, and the light automation all stopped functioning on the upgrade to this version as the group was not being picked up. Prior to that, the lighting groups had all been untouched for some 18 months.

[2020-03-09 08:53] greberg commented on #32370
As I wrote before. I just need to understand the architecture between my Homeassistant core instance and some other components which today seems to live their own life. This is so we can help out better in issue reporting mostly. So what I need at least is:

1. A picture of the architecture
2. I need to know new deployments/releases
3. Where do we file issue reports for this. Homeassistant core fe

[2020-03-09 09:01] NeilDuToit92 commented on #32370
1 and 2 I agree 100%
On 3, firstly the link on the cast test website links to Home Assistant frontend: https://github.com/home-assistant/frontend/issues, and secondly, it would be nice to know who the owner is, even on Discord it seems like nobody really knows who we need to talk to about this component.

[2020-03-09 09:26] azogue commented on #32380
Hi @marriotb, nice report :)

A question though, you say that you have 'three movement sensors and two dimmer controls', **are the dimmers configured in HA?** (I think they are not implemented in HA Core, and you're saying you have no related custom_components)

What's the frequency of those error pairs? I also have them, but only once in HA startup.

This could be interesting. Any custom lovelace

[2020-03-09 09:41] mf-social commented on #30787
@Kane610 - yup, but zeroconf is not a dependency for tp-link, so something tp-link is doing is interfering with the zeroconf service. I don't think trying to sort out both ends of the problem is an unreasonable idea.

[2020-03-09 09:44] fifthsound commented on #28577
Have the same issue with OWEN 110 (Modbus TCP)

[2020-03-09 10:37] ziv1234 opened #32600 "Failing Withings Test"
## The problem

when I try to push a PR, it fails on a tests in the withings component, which I don't use.
I tested it as well on a vanilla copy of dev with no changes and it still fails
This is probably blocking any PR from completing the checks successfully

## Environment

- Home Assistant release with the issue: latest from dev branch
- Last working Home Assistant release (if known):
- Operati

[2020-03-09 11:35] i00 opened #32601 "Automation service data_template is stripping out trailing spaces"
## The problem

When data_template is used any trailing spaces get stripped out of the data...
When using data it works as expected.

## Environment

- Home Assistant release with the issue: 0.106.5
- Last working Home Assistant release (if known):
- Operating environment (Hass.io/Docker/Windows/etc.): Docker
- Integration causing this issue: Automation
- Link to integration documentation on our w

[2020-03-09 11:50] frenck commented on #32601
Raised before in: #29277

[2020-03-09 11:51] Dulcow commented on #32538
This seems to work flawlessly. Closing this ticket ;)

[2020-03-09 11:51] aronsky commented on #30275
I tried looking at how Bluetooth works under HassOS, but couldn't find any differences to regular raspbian... Do you mind sharing the output of `sudo systemctl status` from your HA host (please go over the output and make sure that there's no private data there, though if you're only using that Raspberry Pi for Hass, it should be fine; also - the output is paged, so consider redirecting it to a fi

[2020-03-09 11:51] #32538 closed

[2020-03-09 11:55] talondnb commented on #30275
[code]

[2020-03-09 12:02] Dulcow opened #32603 "Hass.io Raspberry / Aoetec Gen5 Stick - Driver failure when ZWave component starts"
## The problem

I'm rebooting on my Raspberry Pi on a regular basis to apply updates (components and system). I noticed that something like 50% of time, Z-Wave component doesn't start and dies with a fatal error related to driver. After that, I have to restart HA again as clicking on "Start ZWave network" in the UI doesn't do anything.

I'm using a Raspberry Pi 3B + with an Aeotec USB Stick Gen-5.

[2020-03-09 12:07] i00 commented on #32601
Hrm.. that is closed

[2020-03-09 12:29] springstan commented on #32603
Sound very similar to https://alerts.home-assistant.io/#zwave_pi4_aeotec.markdown though this alert only affects Raspberry PI 4s.

[2020-03-09 12:37] cgtobi commented on #32587
Did you enter it with quotes? Does it works if you use quotes?

[2020-03-09 12:37] aronsky commented on #30275
I can't figure out how to mount the HassOS system partitions, so I'm having a hard time figuring out its architecture, and where the system (not Hass) configuration is located.

I'm having a hard time believing it's inside a docker container. The command line you posted is a bit confusing. I see that you're connecting to the Home Assistant host, but is there any chance you are not actually running

[2020-03-09 12:40] talondnb commented on #30275
I've not yet tried this, but can do so tomorrow some time:

https://developers.home-assistant.io/docs/hassio_debugging/

[2020-03-09 12:43] aronsky commented on #30275
Awesome. I just noticed that you already mentioned that you don't have access to `systemctl`, sorry for asking you to run it again :)

Hopefully, if you get physical access to the Pi (or the HassIO debugging works), we'll have a direction for a solution. Let me know how it goes.

[2020-03-09 12:45] #32600 closed

[2020-03-09 12:53] Quentame opened #32605 "venv script/setup ModuleNotFoundError 'keyring.py27compat'"
## The problem

When doing in the venv `script/setup` or even just `pip install [module]`, I have those logs :

## Environment

- Home Assistant release with the issue: 0.107.0dev
- Last working Home Assistant release (if known): 0.106.5
- Operating environment (Hass.io/Docker/Windows/etc.): macOS venv
- Integration causing this issue:
- Link to integration documentation on our website:

## Traceb

[2020-03-09 12:59] Bit-River commented on #32192
Situation remedied by removing

`stream:`

from `configuration.yaml` - while keeping cameras with the `camera_view: live` in `ui-lovelace.yaml`

With this change made, there has not been one re-occurrence.

Suggest that this can be closed, and a mention made in the documentation for the stream component.

https://www.home-assistant.io/integrations/stream

Cameras are streaming at the same speed, a

[2020-03-09 13:00] Quentame opened #32606 "venv pylint ImportError: No module named 'pylint_strict_informational' + cannot import name 'constants' from 'pylint'"
## The problem

In my venv I am doing : `pylint homeassistant/components/synologydsm/`

Then I got those logs :
[code]

After I `pip install pylint_strict_informational`

While retrying `pylint homeassistant/components/synologydsm/`, I've got :

[code]

## Environment

- Home Assistant release with the issue: 0.107.0dev
- Last working Home Assistant release (if known):
- Operating environment (Has

[2020-03-09 13:20] huuub commented on #22840
Hmmm... ok... I still don't have it working. Really weird

[2020-03-09 13:21] ochlocracy commented on #32293
Please [enable debugging for Alexa](https://www.home-assistant.io/integrations/alexa.smart_home/#debugging), and post the Request, and the Response from The Alexa API, and the complete state attributes of a light.

[2020-03-09 13:25] talondnb commented on #30275
Ok I've managed to get host access:

[code]

[2020-03-09 13:26] talondnb commented on #30275
BTW, I've also gone and disabled wlan0, just to see if it has been interfering with the BT at all. Monitoring for now..

[2020-03-09 13:34] aronsky commented on #30275
Perfect! Now this is where you have access to the stuff I've been talking about :D

Look at the bottom line - you have `hciattach` with the high baud rate of 921600. While in that shell, go ahead and edit the `/usr/bin/btuart` file according to my suggestion in the other thread (https://github.com/home-assistant/core/issues/31657#issuecomment-593071318) - find the line with 921600 in it, and chang

[2020-03-09 14:11] ochlocracy opened #32608 "AlexaDoorbellEventSource capability no longer working in Alexa"
## The problem

`AlexaDoorbellEventSource` capability no longer working as expected. Discovery works, Proactive Reporting is working, and the feature option is available in the app, but the Alexa notifications do not work.

The issue is likely in the initial Discovery Response as the feature requires this to be the only capability for the device.

## Environment

- Home Assistant release with the

[2020-03-09 14:16] Dulcow commented on #32603
I could try to use a USB hub in between to see if it improves the situation. On a side node, I'm powering my Raspberry with a high amp USB port on my router (2.4A) because the charger of origin is dead by now. I'm wondering if this could also be an issue or not.

[2020-03-09 15:11] myxor commented on #32551
Another alternative would be [ha-bitstampnet](https://github.com/myxor/ha-bitstampnet) which is a Home-assistant integration which fetches crypto currency exchange rates from bitstamp.net.

[2020-03-09 15:22] felipediel commented on #32313
@AndreVet This last debug contains only A1 sensors, which are not related to this topic. Furthermore, your devices still have evil bytes enabled (cloud). I cannot help you if you don't realize the procedure I've pointed out. There is nothing that can be done inside the Home Assistant to help you. Is up to you to disable those bytes. Read [this discussion](https://github.com/mjg59/python-broadlink/

[2020-03-09 15:24] MansM commented on #26171
If any of you has multiple thinkingcleaners, please let me know. I could only test with one, so my, now merged, solution supports just one.

[2020-03-09 15:40] TonyApuzzo commented on #31361
For me, this is not the case.  When HA stops working with Lutron, I can still use Alexa, Google Assistant, and the Lutron Android app and they all continue working.

[2020-03-09 16:02] balloob commented on #32380
@Mariusthvdb wrote:

Do you have many graph cards in your UI that are rendering historic data? Can you try adding an empty dashboard and refreshing there. I wonder if there is something in your UI that just swamps Home Assistant, causing it to stall for enough time that the request times out.

Note that in 106 we show better errors why a request failed (timeout, something else).

I'll add a tweak

[2020-03-09 16:05] anisite opened #32612 "Unable to serialize to JSON: '<' not supported between instances of 'bool' and 'str'"
## The problem

Hi, i'm trying to use "appdaemon" but it seems to crash every 5 seconds calling http rest api from Home assistant. Error message talk about "invalid json" but string showed at the bottom is not a Json string... I don't really understand from where the :

come.

## Environment

- Home Assistant release with the issue:  **0.106.5**
- Last working Home Assistant release (if known): **

[2020-03-09 16:23] Spirituss commented on #31579
Any news regarding the issue? The component is in production but doesn't work.

[2020-03-09 16:28] Mariusthvdb commented on #32380
well, tbh, no really no. Have a few graphs of course, but not on my lights pages.
It really doesn't matter on which view I am though. Refreshing Lovelace caused the Hue entities to go unavailable.

Have been thinking about the unavailable and reachable thing some more. couldn't it be you are showing unavailable now for way too many situations? If we think of unavailable as an indicator of Hue comm

[2020-03-09 16:35] balloob commented on #32380
You can disable any entity via the entities page in config (or more info -> settings). However, all data for all sensors is fetched at once.

[2020-03-09 16:38] #32502 closed

[2020-03-09 16:40] BernieBl22 commented on #26171
Thanks for your hard work, much appreciated.  I only have one thinkingcleaner, so this will work perfectly for me.

[2020-03-09 16:42] odechr opened #32614 "Error setting up entry /dev/ttyAMA0 for zha"
## The problem

Getting errors when i put my conbee stick into my raspberry PI4. Ive tried longer cable, different cables and all of the ports. Both 3.0 and 2.0.

## Environment

[code]

I am using a Raspberry PI4 and conbee II. Bought today.

## Problem-relevant `configuration.yaml`

[code]

Should be the correct path?

[code]

## Traceback/Error logs

[code]

## Additional information

[2020-03-09 16:45] Mariusthvdb commented on #32380
of course! thanks for reminding me... sorry.

[2020-03-09 16:53] felipediel commented on #32313
I need details about what is going on. Is the problem just in broadlink.send or in the whole integration? If you try to do the same thing using the Broadlink remote platform, does the problem persist?

[2020-03-09 17:18] sarevok1 commented on #26532
If i understand right, this update was already released. I am running HA 0.106.5. I've reset and reconnected Aqara Hub through HomeKit controller integration but i see state changes for various motion sensors connected to Aqara with a big delay, much like before. Any ideas?

[2020-03-09 17:27] Jc2k commented on #32595
Based on the traceback I think this was mistagged as `homekit` (making Home Assistant appear to an iPhone as a HomeKit bridge) instead of `homekit_controller` (making Home Assistant act like an iPhone so it can talk to accessories with a "Made for iPhone" label).

[2020-03-09 17:30] eugr commented on #26532
@sarevok1 - I don't see this commit merged into either master or rc branch, so it's not released to the public yet (unless you run the dev branch)

[2020-03-09 17:35] Jc2k commented on #32595
First of all, this will definitely not work with 0.106.x or earlier, no matter what we do. There is a known "feature" of Homebridge where it sends empty events even if no events were requested. iOS seems to handle this off-spec feature, but the library Home Assistant uses does not. This next release of Home Assistant (0.107.x) should resolve that part of the problem.

As for the entity already exi

[2020-03-09 17:41] sarevok1 commented on #26532
i'am not. is this the right place to check if it was released: https://github.com/home-assistant/core/releases, PR#32213, then? i am new to this... thanks.

[2020-03-09 17:44] eugr commented on #26532
yep, or in the official release notes. It likely won't appear in the official release until at least 0.107.0

[2020-03-09 17:44] Kugelfang666 commented on #32326
all I'm getting is this:

`DEBUG:pyfritzhome.fritzhome:logout
Traceback (most recent call last):
  File "/home/pi/.local/bin/fritzhome", line 10, in <module>
    sys.exit(main())
  File "/home/pi/.local/lib/python3.7/site-packages/pyfritzhome/cli.py", line 187, in main
    args.func(fritzbox, args)
AttributeError: 'Namespace' object has no attribute 'func'
`

[2020-03-09 17:49] Jc2k commented on #26532
@eugr is correct. It was merged into `dev` shortly before `0.106.x` was released, but `rc` had already been updated for `0.106.x` so it "missed the boat". I'm running `dev` homekit_controller on my main home-assistant and motion sensors are just working for me with my Hue bridge and hue motion sensors, there is **no** need to re-pair when this is released. If your device supports it, it should jus

[2020-03-09 18:00] felipediel commented on #32313
@Danielhiversen How about discontinuing broadlink.learn and broadlink.send and letting the remote platform handle it? I can add functionality to accept b64 codes.

[2020-03-09 18:28] mansig88 commented on #24313
Hello, I bouth the same, but the problems continue, I disable internal bluetooth of RPi3b
![image](https://user-images.githubusercontent.com/48863166/76245423-282fc300-623c-11ea-9032-d83fab27aec5.png)

[2020-03-09 18:31] myerdacom commented on #32269
No,
So I must to delete all the configuration
netatmo:
  client_id: !secret netatmoapi_key
  client_secret: !secret netatmosecret_key
And run the netatmo integration dialog In HA?
Thanks in advance

[2020-03-09 19:02] superbosu opened #32619 "total connect 106.5 - error"
## The problem
with the upgrade to 106.5 from 105,5 the total connect alarm pannel sensor stop working:

## Environment
106.5

- Home Assistant release with the issue: 106.5
- Last working Home Assistant release (if known):  105.5
- Operating environment (Hass.io/Docker/Windows/etc.): hassio.io
- Integration causing this issue: total connect
- Link to integration documentation on our website: http

[2020-03-09 19:18] martin3000 commented on #32585
Ok, trailing z.
How about checking if the zone id is the same as the controller id?

[2020-03-09 19:44] cgtobi commented on #32269
Everything but
[code]

[2020-03-09 19:56] StevenLooman commented on #29600
Are you certain it is not in your config? Or perhaps you have enabled it through an integration?

[2020-03-09 20:10] scop opened #32620 "RFE: represent deconz secondary temperature as separate sensor"
## The problem

Like was done for battery attributes in #26591, it would be great if secondary temperature values would be represented as separate "child" sensors instead of attributes, for area assignment, out of the box nice display etc.

## Environment

- Home Assistant release with the issue:
- Last working Home Assistant release (if known):
- Operating environment (Hass.io/Docker/Windows/etc.

[2020-03-09 20:18] Kane610 commented on #32620
Good suggestion but for deCONZ that is not relevant since that value is mainly used by Xiaomi devices to report core temperatures. People have requested support for this data and others have requested it be removed >.<

[2020-03-09 20:23] bachya commented on #32535
@vincep5 Do you see such an event in the `Timeline` screen within the SimpliSafe web/mobile apps? Can you screenshot it for me?

[2020-03-09 20:24] sarevok1 commented on #26532
awesome; will be eagerly waiting, thank u for your help.

[2020-03-09 20:26] mrand commented on #29600
I don't know about JamieP83, but I am using the integration.  The issue is the traceback happens repeatedly / continuously, filling my log file.  I'm happy to help debug - just let me know what you need.

[2020-03-09 20:27] dircr commented on #30161
I had the same. Fixed this by putting encryption key in the password field in the app (iOS, HTTP mode via Nabu Casa).

[2020-03-09 20:35] mrask90 commented on #19550
Would love to be able to set the update frequency manually as well.

[2020-03-09 20:57] vincep5 commented on #32535
![image](https://user-images.githubusercontent.com/26965876/76256874-9feef500-621e-11ea-9fca-bfb9212af6e6.png)
Yes, I see motion activity in the Timeline

[2020-03-09 21:00] RamonBell opened #32623 "MQTT not working after update"
This is the third time this has happened. When I update the core it updates and restarts. When it comes back online all my mqtt entities come up as not available. The other two times I had to delete mqtt from home assistant and reinstall it. Then go back and add my entities. My HA runs on a Pi4 standard install.

[2020-03-09 21:09] #30168 closed

[2020-03-09 21:32] bachya commented on #32535
Thanks! The next step is to verify that `simplisafe-python` is interpreting these events correctly. If you wouldn't mind, please do the following from a command line:

1. Clone the latest version of `simplisafe-python` and `cd` into it:

[code]

2. Set up and activate a Python virtual environment:

[code]

3. Initialize the dev environment for `simplisafe-python`:

[code]

4. Open `examples/test_e

[2020-03-09 21:53] barramundi commented on #32380
Hello. It is happening here also. In 0.106.5 every few minutes i get all hue entities unavailable with these logs

`[homeassistant.components.hue.light] Error fetching group data:
[homeassistant.components.hue.light] Error fetching light data:
[homeassistant.components.hue.sensor_base] Error fetching sensor data: `

Reverted to old snapshots (versions 0.106.3 and 0.105.2), still the same problem.

[2020-03-09 21:56] balloob commented on #32380
@Mariusthvdb what platform do you run HA on?

[2020-03-09 21:58] noaboa97 commented on #30711
any update on this?

[2020-03-09 22:03] vincep5 commented on #32535
I had to do sudo apt-get install python3-venv
and change the following slightly - but it worked :)
python3 -m venv .virtualenv
source .virtualenv/bin/activate

I see 'eventCid': 1170
for my Cameras - hope it helps @bachya

[2020-03-09 22:08] barramundi commented on #32380
Raspbian GNU/Linux 10 (buster) in a raspberry pi 4.
Worked perfectly for more than eight months and no big changes in my configuration for more than three.

[2020-03-09 22:18] Jc2k commented on #32606
When i got the first error i did `pip install -e . -r requirements_test.txt` and that installed `pylint_strict_informational` but i think it also updated `pylint` too. Maybe your pylint needs upgrading?  I have

[code]

[2020-03-09 22:37] gerard33 commented on #28806
PR is made to fix this -> https://github.com/home-assistant/core/pull/32074

[2020-03-09 22:48] gerard33 commented on #29976
Will have a look at this. Apparantly HA adds the `_2` for sensors etc. but not when making a device_tracker with the same name.

[2020-03-09 23:04] JamieP83 commented on #29600
Same! Still all over logs

[2020-03-09 23:12] abouelric commented on #32313
Sorry I am not able to run the script at this time. Let me know if it is still needed, I can do so in a day or two. On the other hand, I can confirm that once I remove the disconnected device(s) from the config and I reboot, the broadlink switches works normally. Hope this small tip helps.

[2020-03-09 23:15] omriasta commented on #32519
All of a sudden today it asked for a security code instead of pin and it works again!

[2020-03-09 23:15] #32519 closed

[2020-03-09 23:18] gerard33 commented on #32515
This is the first time I see this. Usually `lights_parking` is always available.
Can you run a `fingerprint` from [here](https://github.com/bimmerconnected/bimmer_connected#data-contributions) so I can check the details of your car?

For my X1 the parking light is available. From what year is your car?

[2020-03-09 23:19] sagitt commented on #29814
Now all works fine!

[2020-03-09 23:20] sag3ll0 commented on #30609
me too
real temperature is 24, but show 48
thermostat Moes BHT-6000-GC
Home Assistant 0.106.5

[2020-03-09 23:58] talondnb commented on #30275
Thanks! I will try this soon. Have you played around with the possibility of wifi causing the issue at all? I've disabled the wlan0 nic (ifconfig wlan0 down) and so far things seem stable, bit early to tell though.

[2020-03-09 23:59] talondnb commented on #30275
Argh, literally all my sensors changed to unavailable just now after I pressed enter on the above post! Cursed!

[2020-03-10 00:13] z3r0bytes opened #32629 "Foscam not able to set framerate"
The foscam intergation works fine on my FI9900EP, although I am not able to set the framerate like with a normal JPG stream. (see below code)

I have tried a JPG stream, but these seem to stop working after a while and the camera's webinterface hangs.

[code]

Is it possible to add this feature?

[2020-03-10 00:28] bachya commented on #32535
@vincep5 Great, thank you! `1170` is an event type that `simplisafe-python` does, indeed, recognize, so the problem must be in the HASS integration. I will keep you posted.

[2020-03-10 00:41] felipediel commented on #32313
@abouelric What Broadlink devices are you using? What types are causing problems? The more information you give me, the sooner the solution will come.

[2020-03-10 00:57] dshokouhi commented on #32623
Please do not delete the issue template, all requested information is important to help you out.  If you can please edit your post and add it back and fill in all the information you can.

[2020-03-10 01:00] dshokouhi commented on #32629
Feature request are actually made in the forums:

https://community.home-assistant.io/c/feature-requests

Please add your request there.

[2020-03-10 01:00] #32629 closed

[2020-03-10 01:01] marriotb commented on #32380
@azogue wrote:

No. The dimmers are only configured using the Hue iPhone app `Accessory setup` component to control one or more of the lights. The state of each light is available to HA via the inbuilt Hue driver.  Any automations in use depend only on those HA state values.

I suspect that this approach induces a slight delay in response (this was certainly the case using Node-RED), but I'm happy

[2020-03-10 01:03] marriotb commented on #32380
Oops. I forgot to attach the log extract:
[Log extract 2020-03-10.log](https://github.com/home-assistant/core/files/4309677/Log.extract.2020-03-10.log)

[2020-03-10 01:07] Adminiuga commented on #32614
`sqlite3.OperationalError: unable to open database file` You are providing wrong path for zigbee database.
1. Remove `zha:` section from `configuraiton.yaml`
2. Use config panel to add ZHA integration
3. for USB path, use path from `/dev/serial/by-id/...`
4. for Radio type use `deconz`

[2020-03-10 01:45] polarburn commented on #32598
I did initially fill it out but apparently I entered text in the wrong areas of the template.  Will correct...

[2020-03-10 02:45] bdraco commented on #32529
Should be fixed in https://github.com/home-assistant/core/pull/32564

[2020-03-10 02:46] bdraco commented on #30020
Fixed in https://github.com/home-assistant/core/pull/32564

[2020-03-10 02:46] #30020 closed

[2020-03-10 02:59] bdraco commented on #30873
Should be fixed by https://github.com/home-assistant/core/pull/32564

Added additional coverage in https://github.com/home-assistant/core/pull/32632 to verify

[2020-03-10 03:14] bachya commented on #32535
I've done some testing and although I don't have a camera, every other event has properly updated these attributes. Is it possible that a different event – like arming the system – is overriding the `alarm_control_panel` properties (and thus making it look like the camera event never appears)?

Additionally, what happens if you build an automation that listens to all SimpliSafe events:

[code]

Do

[2020-03-10 03:18] bdraco commented on #13160
This is likely solved in https://github.com/shbatm/hacs-isy994 which will hopefully make it back into core once all the PyISY changes are completed.

cc @shbatm

[2020-03-10 03:29] witwonghanchao commented on #32551
Need Coinmarketcap back. I've other coins and use other currency than ha-bitstampnet support.

+1 on switch to CoinGecko

[2020-03-10 03:39] #29343 closed

[2020-03-10 03:39] #29349 closed

[2020-03-10 03:39] #29293 closed

[2020-03-10 03:55] bdraco commented on #28760
If api.sense.com is down (simulated) startup blocks for a long time.

[code]

[code]

[2020-03-10 04:01] austinmroczek commented on #32619
@superbosu sorry you ran into that error.  It's a problem with total-connect-client that should be fixed by commit https://github.com/craigjmidwinter/total-connect-client/commit/1b6e8057b33bf36bfeab623ad5d2cc8165f5c034  I'll create a new package, get it pushed to pypi and then ask to update Home Assistant.

[2020-03-10 04:12] zarboz commented on #32595
I would rather fix the plugin for now while I wait for upstream changes

Thanks for the advice

[2020-03-10 04:12] #32595 closed

[2020-03-10 04:19] danielromney commented on #32320
Sorry everyone. Looks like it was my fault. I had misread the quick setup sheet. I thought the state were being read incorrectly, instead it was my mistake and I just needed to flip the dip switch on the lock itself. My memory had inverted what the colors should have been on the status LED on the lock.

[2020-03-10 04:19] #32320 closed

[2020-03-10 05:21] danielromney opened #32636 "Z-Wave switch double tap not differentiating between separate switches."
## The problem

 I have a few automations to turn lamps or LED Strips on with double tap of some Z-wave switches. It works, but double tapping one switch activates the other automation and vice versa.

## Environment

arch | armv7l
-- | --
dev | false
docker | true
hassio | true
os_name | Linux
python_version | 3.7.6
timezone | America/Denver
version | 0.106.5
virtualenv | false

alarm_control_pan

[2020-03-10 05:38] danielromney commented on #32636
I suspect Home Assistant isn't differentiating which switch the event is coming from. I think it is seeing the 255 value coming from any switch that I have activated the double tap on and it is executing all automations having to do with that.

[2020-03-10 05:56] balloob commented on #32550
Oh nice. Min/max mireds used to not be in the API response. You're right that Hue lights should adjust its min/max mireds accordingly.

[2020-03-10 05:58] balloob commented on #32550
Guess it's only been there for 2 years 😬 https://developers.meethue.com/develop/hue-api/api-documentation-changelog/

<img width="560" alt="image" src="https://user-images.githubusercontent.com/1444314/76284029-6091ca00-6259-11ea-99f1-104b16d114a4.png">

[2020-03-10 05:58] felipediel commented on #32313
I just reproduced your error in my testing environment. It really exists. I managed to do it by combining an RM 3 Mini and an RM Pro in the same environment. When I try to send codes with one, it seems to break the connection of the other. Tomorrow I'll do some captures to understand what that is.

[2020-03-10 05:59] balloob commented on #32550
This should be added to [aiohue](https://github.com/balloob/aiohue/blob/master/aiohue/lights.py) first.

[2020-03-10 06:01] Mariusthvdb commented on #32380
Hassi.io 106.5 Rpi4 4 gb

[2020-03-10 06:07] aronsky commented on #30275
Yeah, WiFi doesn't seem related (I disabled it on my Pi long before the problems with miFlora appeared). Don't worry, I'm positive the baudrate change will help.

[2020-03-10 06:12] marriotb commented on #32380
Yes, mine went quiet for 10 hrs:

2020-03-10 04:17:39 ERROR (MainThread) [homeassistant.components.hue.sensor_base] Error fetching sensor data:
2020-03-10 14:43:54 ERROR (MainThread) [homeassistant.components.hue.sensor_base] Error fetching sensor data:
2020-03-10 14:43:54 ERROR (MainThread) [homeassistant.components.hue.light] Error fetching light data:

I'm on same HW & core SW as @Mariusthvdb ,

[2020-03-10 06:12] escoand commented on #32326
Hmm, pyfritzhome seems to show the value correctly. I've to debug the HA code.

[code]

[2020-03-10 07:19] larserhardsen commented on #31994
I think I found the reason. Some days ago I installed the hpprinter component from HACS, and today I updated it. The release notes stated that the upgrade consisted of an upgrade to the xmldict library, from 0.4 (or so) to 0.12 - after this, the QNAP sensors works again.

[2020-03-10 07:29] matute4 commented on #30596
HA detects everything, but it does not let me activate the switches, the active and deactivating only
![image](https://user-images.githubusercontent.com/24267388/76289368-4384e780-62a9-11ea-8e15-58eaf73b9aee.png)

[2020-03-10 07:50] eifinger commented on #29529
Bad stale-bot!

[2020-03-10 07:51] sergeolkhovik commented on #28375
For now the only solution that worked for me is to add some automation:

[code]

[2020-03-10 07:51] felipediel commented on #32313
I just reproduced your error in my testing environment. It really exists. Tomorrow I'll do some captures to understand what that is.

[2020-03-10 07:53] #31034 closed

[2020-03-10 07:53] philermiya commented on #32294
@bdraco Sorry, been tied up with work. Did another pull the other day though.
Haven't had a chance to do full testing but have noticed that state in auto now shows as idle instead of off when tado is in smartschedule and inactive (logical, and more correct).

Changing temperate while in auto sets the mode to off _but only the first time after an HA startup._ Very weird. After that, changing temp i

[2020-03-10 07:53] jmpavlec commented on #30596
Figured I'd respond since I had the error previously. I was able to successfully update to 105.x, and now 106.2. I found the `Check Home Assistant configuration` will sometimes fail with that error, but running it again usually says it is successful. I have not had it "break" on a real upgrade yet.

[2020-03-10 08:10] mason-xx commented on #32326
since I'm struggeling with the same after deprecation of fritzdect, here is my output. switch.media is currently off... but states 0.

`DEBUG:pyfritzhome.fritzhome:<device functionbitmask="2944" fwversion="04.16" id="17" identifier="08761 xxxx" manufacturer="AVM" productname="FRITZ!DECT 200">
        <present>1</present>
        <name>gate</name>
        <switch>
                <state>1</state>

[2020-03-10 08:22] LuckHermsen commented on #19550
I fixed this by creating a 'custom_components' directory inside the config directory of Home Assistant. In there create another directory called 'synologydsm'
then wget these files into the newly created 'synologydsm' folder:

https://raw.githubusercontent.com/home-assistant/core/dev/homeassistant/components/synologydsm/__init__.py
https://raw.githubusercontent.com/home-assistant/core/dev/homeassi

[2020-03-10 09:38] gsghirinzetti commented on #32313
SP2,SP3 MP1

[2020-03-10 09:39] #29378 closed

[2020-03-10 09:53] etheralm commented on #32574
I can add a unit of measurement property to the AQI, that wouldn't be an issue.

As far as I can remember the reason I omitted it at the time was because the base class AirQualityEntity didn't have it and also I wasn't sure how to name it (currently the AQI property shows the highest value of all the other sensors).

[2020-03-10 09:57] Kernald commented on #32574
Yeah I made a template sensor as a workaround on which I set the unit of measurement to "AQI" (I didn't know about the customisation!), that did the trick as in I can now properly use a sensor card, and that sensor has a proper history (with a graph rather than discrete values), but "AQI" as a unit doesn't really make sense...

[2020-03-10 09:59] superbosu commented on #32619
Thank you austinmroczek for your quick reply. So I have to wait the next HA 106.6 update right?
tnx again for all the great work that you did guys ;)

[2020-03-10 10:15] aidbish commented on #31994
@larserhardsen Good catch, can confirm this is the case here.
I also had the HP printer integration installed. did the update and all working ok

[2020-03-10 10:24] mauog commented on #32515
Here you are the fingerprint results.
My car is brad new made in 2020.

Thank You for your support.

Gerard wrote on 10/03/2020 00:18:

[2020-03-10 10:35] realthk commented on #31785
Similar here. I started to use the Home Assisant app on my phone with enabled location sharing, and the HA Recorder started to throw exceptions because of the phone reported location names had UTF-8 chars...

It seems the DB created by MariaDB Docker has latin1 encoding by default, so
[code]
commands should be issued after creating the DB indeed.

[2020-03-10 10:48] #31252 closed

[2020-03-10 10:48] #31504 closed

[2020-03-10 11:37] talondnb commented on #30275
I've tried this but the file is only read-only, no sudo in sight either.

[2020-03-10 11:42] aronsky commented on #30275
Which user do you use to log into the box?

[2020-03-10 11:44] talondnb commented on #30275
root, but it's weird, so I can do the ssh to root@hassio.local -p 22222, it then brings me to home assistant command line. I have to type 'login' to get to host system shell.

[2020-03-10 11:44] talondnb commented on #30275
[code]

[2020-03-10 11:45] aronsky commented on #30275
Well, the hash seems to indicate that you're root... Can you `chmod u+w /usr/bin/btuart` and see if it helps?

[2020-03-10 11:46] talondnb commented on #30275
[code]

I don't think I'm winning this one!

[2020-03-10 11:47] aronsky commented on #30275
Ah. OK. We'll figure it out eventually. What does `mount` return?

[2020-03-10 11:48] talondnb commented on #30275
Thanks for your persistence!

[code]

[2020-03-10 11:49] aronsky commented on #30275
Let's try `mount -o remount,rw /dev/mmcblk0p5 /`

[2020-03-10 11:50] talondnb commented on #30275
[code]

[2020-03-10 11:51] talondnb commented on #30275
[code]

[2020-03-10 11:57] bendavid commented on #32556
I assume you are using the media_next_track and media_previous_track services.
The intended logic is such that if the current app is livetv they will change channel, otherwise they will fastforward or rewind, but indeed there is a bug in the code here which I'll take care of.

[2020-03-10 12:04] aronsky commented on #30275
OK. So it looks like `sqashfs` is not writable (https://unix.stackexchange.com/questions/205108/remount-squashfs-root-filessytem-read-write). It seems that to make that change, you'd need to reflash that partition on your SD card. Now, that should be possible (as long as your partition table leaves enough space for it). But that would require some preparations:

1. Having access to a Linux box (a

[2020-03-10 12:08] Quentame opened #32641 "script/translations_develop "SyntaxError: invalid syntax""
## The problem

In dev, last commit c11a462f510b66a3f5bae2f801dee21f44180e48 launching `script/setup` then `script/translations_develop`, got this log :
[code]

## Environment

- Home Assistant release with the issue: 0.107.0dev
- Last working Home Assistant release (if known):
- Operating environment (Hass.io/Docker/Windows/etc.): macOS venv
- Integration causing this issue:
- Link to integration

[2020-03-10 12:08] talondnb commented on #30275
I think I had better call it, hehe. Thanks so much for your help so far, but to be honest if I have to go down this path I would rather just move off Hass.io and onto a virtualenv install. Really appreciate your help so far though!

Has anyone done a pull request to reduce the baud rate? Or is this still only deemed a workaround?

[2020-03-10 12:11] Quentame commented on #32606
I had :
[code]

launch `pip install -e . -r requirements_test.txt`

Then :
[code]

Seems nice after the upgrade, thanks 😊

[2020-03-10 12:11] #32606 closed

[2020-03-10 12:20] AndroVet commented on #32313
I have: A1, s1c-kit (with 8 sensors), RM-PRO, RM-mini (temporarily not using), SC1 (3pcs.).

Problems ONLY with SC1-switches. The device has become completely unpredictable. Every time I don’t know whether it will turn on or not. But at the same time - it always works fine from the original Broadlink soft (ihc), even if it is not available from HA.

Note: if in HA-configuration all 3 pieces SC1 ar

[2020-03-10 12:43] xumxum commented on #21788
can't believe this is still happening in 2020. By design?? jesus

[2020-03-10 12:45] escoand commented on #32326
@balloob After doing some testing I would say this is a bug (or feature) in HA. Is there a way to avoid this behaviour?

[2020-03-10 13:08] aronsky commented on #30275
It's just a workaround, I'm afraid - the problem is only relevant to certain editions of Pi 3, as far as I understand - since later editions have hardware flow control, and thus avoid overflow (which is the underlying problem that causes the Bluetooth device to halt completely, and is solved by a lower baud rate). Therefore, I don't think they'll merge it into the mainline firmware, and even if th

[2020-03-10 13:13] abouelric commented on #32313
I have 7 SC1 devices and two sp3 devices. I can confirm that if any of the devices goes offline and I reboot Hassio, the rest of Broadlink switches will not work. If all connected to the network and I reboot, all devices work Normally. I did the offline test on SC1 and SP3.

[2020-03-10 13:15] CodeFinder2 commented on #30275
@aronsky Sure? I am running it on an ODROID XU4 which would mean it is affected in the same way. I would have tried to modify the baudrate but I cannot find such a (config) file.

[2020-03-10 13:30] cyberjunky commented on #26624
@pvizeli, too bad @Julius2342 doesn't maintain the KNX integration anymore, I use KNX too.
I also created the toon_climate custom component, and had to fiddle with the code too to get it working after 0.96. Alas only mode settings are available in lovelace main thermostat card, you need the three dot menu to reach presets. Or use simple-thermostats like suggested above and option:
[code]
But I see

[2020-03-10 13:36] aronsky commented on #30275
How's your ODROID XU4 provisioned - did you flassh HassOS, or did you install Hass.io over a regular Linux distro?

[2020-03-10 13:38] cyberjunky commented on #26624
Actually, simple-thermostat,js works like you want I guess.
Below your example. above the simple-thermostat like this:
[code]
![Screenshot from 2020-03-10 14-35-46](https://user-images.githubusercontent.com/5447161/76317441-7f857000-62dc-11ea-8d70-c2a32c1121b7.png)

Never mind the bogus themp settings, my thermostat is working on other ga's.

[2020-03-10 13:38] springstan commented on #31994
@andilge has this solved your problem as well?

[2020-03-10 13:39] CodeFinder2 commented on #30275
Hass.io over Ubuntu 18.04 using an USB Bluetooth stick 🤔

[2020-03-10 13:40] cyberjunky commented on #26624
Frontend devs should add a preset control flag and icons to the thermostat card as well.

[2020-03-10 13:40] springstan commented on #31785
@joske500 could you solve this problem as well?

[2020-03-10 13:43] weado commented on #31879
Thank you for the temporary fix.
Waiting for the solution.

[2020-03-10 13:45] aronsky commented on #30275
I'm not sure how USB Bluetooth sticks are configured, and even whether the underlying problem is the same... However, did you go over the commands I recommended to @talondnb in the other thread, starting at https://github.com/home-assistant/core/issues/31657#issuecomment-593074076?

If the problem is an overflow due to the lack of hardware flow control, we should be able to figure out where the ba

[2020-03-10 14:03] mcondren commented on #31253
Ok, did some more experimenting. Converted OZW 1.6 zen31 config file to 1.4 format and tried that. No joy. Then I noticed that the device type ‘Multilevel Tunable Color Light’ is not even supported by OZW 1.4. I will add it to the device_classes.xml and try again tonight. That should take care of zwave support, but I’m not sure if any work needs to be done on the HA side to know what entities to c

[2020-03-10 14:06] CodeFinder2 commented on #30275
@aronsky thanks for your super quick support! Both `ps -ef | grep hciattach` and `ps -ef | grep btattach` are empty. However, `dmesg` contains (among a lot of other stuff):
[code]

Don't know why but the formatting of the log got screwed up somehow :thinking:

Does this help?

[2020-03-10 14:11] vincep5 commented on #32535
So the persistent event does show the Camera info, but the attributes of the alarm still shows the event when I disarmed the alarm yesterday.

Persistent notification:
`{'last_event_changed_by': '', 'last_event_type': 'camera_motion_detected', 'last_event_info': '"Front Door" Camera Detected Motion', 'last_event_sensor_name': '', 'last_event_sensor_serial': '', 'last_event_sensor_type': 'camera',

[2020-03-10 14:11] shbatm commented on #13160
Confirmed fixed in HACS version. Fix will be sent to Core once PyISY v2 is finalized.

[2020-03-10 14:16] zxdavb commented on #32585
Reasonable idea - my change is simpler.

[2020-03-10 14:26] IanAdd commented on #30609
I have followed suggestions elsewhere to get the current and target temps halved successfully. But have the same problem as decribed by others here of not seeing the second temp that you see in the smart life app.

[2020-03-10 14:30] aronsky commented on #30275
Can't find anything helpful there. Do you have the output of `systemctl status`?

[2020-03-10 14:35] CodeFinder2 commented on #30275
Do you want the entire output (which is quite a lot: 264 lines)? :see_no_evil:

Here's already the output for `systemctl status bluetooth`:
[code]

[2020-03-10 14:41] von-Chaps commented on #25531
Hi @bazwilliams ,

Yea, you updated the library (many thanks), but the component didn't ever get updated per your comment of 30th Oct 2019. media_player.py doesn't check self._device.VolumeEnabled().

Here's the log when starting up 0.106.5

'2020-03-10 14:31:56 ERROR (MainThread) [homeassistant.core] Error doing job: Task exception was never retrieved
Traceback (most recent call last):
  File "/s

[2020-03-10 14:41] aronsky commented on #30275
Nah, the Bluetooth service itself isn't the one that's interesting to me - are there any other interesting entries there regarding it? For example, in the previously posted output, the service of interest to me was `bluetooth-bcm43xx.service` - but I suppose you won't have that.

[2020-03-10 14:49] CodeFinder2 commented on #30275
A bit complicated as I am connected from my mobile phone via Termux and a VPN :laughing:

I searched for "blue" and just found
[code]
Nothing else about "blue" / "bluetooth", especially no `bluetooth-bcm43xx.service` :-(

[2020-03-10 14:53] aronsky commented on #30275
Based on a few searches I made, it looks like Bluetooth over USB works differently - not via serial, so baud rate and flow control are probably irrelevant... I'm afraid that might be a different problem, maybe within miflora itself (since as you mentioned earlier, the adapter itself works).

One option you could consider, in case you have a spare ESP8266/ESP32 laying around, is to flash it with ES

[2020-03-10 14:53] robwolff3 commented on #31516
I have also tried removing "Unknown Nodes" in my z-wave network. I manually set `is failed` to `true` and make sure the attribute changes, try to remove node, restart everything. Still shows up, sometimes under a new node id. I am using the Aeotec Z-Stick.

[2020-03-10 14:57] CodeFinder2 commented on #30275
Thanks for your support anyway! The strange thing is that it used to work for nearly a year without isses (with the same adapter), previously on a RPi2 (with that adapter as well due to the lack of bluetooth). I thought about running a script on the system, periodically resetting the bluetooth adapter (power off -> power on) which seemed to work for me (see my post above).

But yes, using dedicate

[2020-03-10 15:01] aronsky commented on #30275
If resetting the adapter works for you, it's a good workaround.

[2020-03-10 15:20] penright commented on #31034
Just to be clear in case someone else runs across this issue.
The component actually worked as expected, The code changes I was proposing above in this issue was incorrect. Nothing was changed in the components code.

I just misunderstood the documentation. I added a couple of points to the documentation for those who might make the same mistake I did. I also made some changes to the testing code

[2020-03-10 15:21] R3yn4ld commented on #25747
Without removing external data, hassio-supervisor can throw a python error. When this occur I have to delete all data folder

I don't use any. The log above was from a container running since days and left untouched by 3rd party apps. The supervisor decided to self-update, and... kaboum

[2020-03-10 15:39] cgtobi commented on #32643
@egoetz-zz Depending on what method you used when setting up the integration the scope is set accordingly. Right now for use with Netatmo cameras, only the configuration.yaml method is working. In case you used the HA Cloud option you have to remove the integration, restart HA and add it back in using the other option. Please also be sure to only add the following lines in `configuration.yaml` bef

[2020-03-10 16:02] move[bot] opened #32645 "Aftership sensor - Error on Device Update"
*@KoenChiau commented on Mar 10, 2020, 2:51 PM UTC:*

*   HA: 0.106.5
*   Integration: Aftership
*   Error message: "Error on device update!"
*   Effect: Sensor does not get created

Logs:
[code]
*This issue was moved by [iantrich](https://github.com/iantrich) from [home-assistant/frontend#5121](https://github.com/home-assistant/frontend/issues/5121).*

[2020-03-10 16:29] Mariusthvdb commented on #32380
just to report that todays [refactoring of the custom Hue integration to 2.13](https://github.com/robmarkcole/Hue-sensors-HASS/releases/tag/2.13), streamlining it to the new hue datamanager, and with a eased down scan_interval of +1 seconds, still doesn't prevent the above errors to appear/happen. As said, does happen without it also.

[2020-03-10 16:35] andilge commented on #31994
Hi all,

I did have the hp printer integration installed from HACS when reporting. In the mean time I've reinstalled HA from zero, have now reactivated QNAP installation and it works fine. After adding HP printer integration form HACS again I see both integrations work fine.

Yes, my problem has been solved. I'll close this Issue.

[2020-03-10 16:35] #31994 closed

[2020-03-10 16:40] Julius2342 commented on #26624
Two kids at home don't scale. @pvizeli : Is there anybody on hass team, who can help us fixing the Climate integration, mainly how to convert the new settings into KNX climate modes?

[2020-03-10 16:43] dietlman commented on #32643
when you say use "the other option" to integrate what do you mean with this? Might be a stupid question, but how can I integrate it other than adding the lines you described in your thread and then add it in HA. Maybe you could give me a hint.
thanks

[2020-03-10 16:54] cgtobi commented on #32643
Remove everything Netatmo related but the following lines from `configuration.yaml`
[code]
Remove the integration from the configuration menu.
Then restart HA and add the the integration back in. Be sure to select **configuration.yaml** instead of **HA Cloud**.

[2020-03-10 17:02] chemelli74 opened #32646 "0.106.5 build logs many errors about "jinja2""
## The problem

Log full of errors about "jinja2" integration.

## Environment

- Home Assistant release with the issue: 0.106.5
- Last working Home Assistant release (if known): 0.106.2
- Operating environment (Hass.io/Docker/Windows/etc.): Docker
- Integration causing this issue: jinja2
- Link to integration documentation on our website: -

## Problem-relevant `configuration.yaml`

[code]

## Tr

[2020-03-10 17:16] arsaboo commented on #32646
Sounds like one of your templates is not working. Check all your templates, especially one that includes addition. It is possible that one of the underlying entities is not available.

[2020-03-10 17:17] bachya commented on #32535
@vincep5 Thanks! I've identified where the issue is and will work on a fix. 👍

[2020-03-10 17:21] bachya commented on #32535
@vincep5 Got it. I see now what happened. As part of a previous code review, my reviewer suggested that non-`alarm_control_panel` events (such as sensor events, camera events, etc.) shouldn't affect the state of the `alarm_control_panel`. Rather, the event-driven mechanism I described above (`SIMPLISAFE_EVENT`) should be the model for receiving events of all types (regardless of what SimpliSafe en

[2020-03-10 17:24] balloob commented on #32380
@Mariusthvdb try to disable all custom integrations and hassio add-ons and see if it happens. If you get timeouts that often, including for other stuff, it means that something is breaking your system, probably doing I/O in the event loop, or that your Pi 4 is unable to handle all the load that you put on it.

[2020-03-10 17:27] #32447 closed

[2020-03-10 17:36] vincep5 commented on #32535
OK - my particular use case is an automation I have created.  It looks for last_event_sensor_type of camera and it occurred in the last 2 minutes - while (after sunset and alarm is armed) then I would run a scene to make it appear that someone is home and turn on the lights.

Thanks for looking and do let me know if my case can be accomplished with the SIMPLISAFE_EVENT.  I was not aware of Event.

[2020-03-10 17:40] chemelli74 commented on #32646
Humm, interesting as was working 1 hour ago on 106.2
Will try to dig more into it.

Simone

[2020-03-10 17:41] felipediel commented on #32313
Okay, this is something. Now I need you to:
1. Do the debug with all your devices connected. Send me the file.
2. Disconnect the devices that are causing problems and repeat the debug. Send me the file.

[2020-03-10 17:46] dietlman commented on #32643
Thanks now it works perfect.

[2020-03-10 17:53] Adminiuga commented on #32646
it would work as long as entity in question has correct value. If after a reboot that entty is not available or has wrong value, you may get this error. For template sensors, it is good practice to use `value | int` filter to coerce values to

[2020-03-10 18:28] #32326 closed

[2020-03-10 18:43] mrask90 commented on #19550
Thanks, I didn't know you could do that. I get the idea, but the sensors stop working and I get this in the log.

[2020-03-10 18:45] kevinkk525 opened #32649 "Delay action yaml data not correctly processed by editor"
## The problem

In order to use a millisecond delay I changed the delay action in the yaml editor to
[code]
This works as intended but as soon as I switch back to the graphical editor or close the automation and open it in the graphical editor again, the action will have changed to:
[code]
If I now try to leave the automation, I get asked if I want to safe the modified automation.

Expected behavi

[2020-03-10 18:48] chemelli74 commented on #32646
Removed all sensors (I use split config so I just renamed all the files in "sensor" folder and did a reboot.
Unfortunately I still have the issue.

Any more idea to debug ?

Simone

[2020-03-10 19:19] cyberjunky commented on #26624
What I noticed just now is that KNX climate doens't have hvac_action() implemented, which should return something like this (pseudo code)
[code]
Will have a look

[2020-03-10 19:22] martin3000 commented on #32585
Maybe tomorrow somebody comes with a device namen Honeywell VisionExtra Wifi :-)

[2020-03-10 19:25] mcondren commented on #31253
Ok! Made some progress. OZW log now shows command class 38 (multilevel switch) as supported and recognized now. I am also now getting proper power readings from the sensors. Last thing left seems to be still no light entity or switch. Looks like while Ozw now detects the command class properly, HA doesn’t know what to do with it entity-wise.

[2020-03-10 19:33] bachya commented on #32535
I think `SIMPLISAFE_EVENT` will actually make this easier, as it will remove the burden of having to check the recency of camera motion (since that event arrives in near-realtime):

[code]

I'm going to close this issue as "expected." Give that a shot and let me know via the [HASS Community Forum](https://community.home-assistant.io/) (where I have the same username) if you need further assistance

[2020-03-10 19:33] #32535 closed

[2020-03-10 19:57] StevenLooman commented on #29600
The error/traceback you're getting indicates that the device did not respond to a (update) request within 10 seconds. I can silence the error, but I'm not sure what else to do. I cannot tell what the device is doing (i.e., is it too slow? Does it block the request because it thinks it is under an attack? ...)

If you want to test, you can use the `upnp-client` (probably installed in your docker/vi

[2020-03-10 19:59] robbiet480 commented on #29600
FYI i'm unsubscribing and unassigning myself since this deals with UPnP sensors and not my work, the port mapping bit. Feel free to mention me if you need me!

[2020-03-10 20:00] Kugelfang666 commented on #32380
mhm thats really od. especially since im running HA on a i3 NUC. There should be plenty of power to run even demanding tasks...

[2020-03-10 20:02] Kugelfang666 opened #32651 "Stuck at: Remote access is being prepared. We will notify you when it's ready."
## The problem

Recently I encounter a problem where my HA instance becomes unavailable from outside of my network. When I dial in via VPN everything is working as intended. However, if I check the  HA-Cloud (Nabu Casa) section I realize that the remote control field becomes stuck at:

"Remote access is being prepared. We will notify you when it's ready."

Even if I wait really long (hours) its st

[2020-03-10 20:06] cyberjunky commented on #26624
Looking at config page and code, it all seems to work as designed (to new lovelace/climate standard)

**climate presets:**
All presets are available (but only via three dot menu, this is by design, unless changed)
Can be made more user friendly using simple-thermostat and control preset setting. or by change in design of lovelace thermostat. (frontend devs)

**climate operation modes:**
In my firs

[2020-03-10 20:21] to-scho commented on #32583
Same error at my side even without using secret.yaml

[2020-03-10 20:39] bdraco commented on #32294
@philermiya This one is going to need another round before it gets fixed.  There is a bit more coordination that needs to happen before we can solve it for good.  Sorry for the delay

[2020-03-10 20:39] bdraco commented on #32529
@pw4056  This one is going to need another round before it gets fixed.  There is a bit more coordination that needs to happen before we can solve it for good.  Sorry for the delay

[2020-03-10 20:40] bdraco commented on #30873
@cicero200272 This one is going to need another round before it gets fixed.  There is a bit more coordination that needs to happen before we can solve it for good.  Sorry for the delay

[2020-03-10 20:49] bazwilliams commented on #25531
This is very interesting as volume support is checked as part of the initialisation of the component https://github.com/home-assistant/core/blob/dev/homeassistant/components/openhome/media_player.py#L84

This was the fix I added to the component as part of https://github.com/home-assistant/core/pull/28635 which I thought would stop this. However, seemingly the component still needs to report a vol

[2020-03-10 20:50] bazwilliams commented on #25531
@von-Chaps Can you open a new bug report and reference this issue please?

[2020-03-10 20:53] THATDONFC commented on #32380
I'd like to add that I am seeing these errors as well. I hadn't seen them before upgrading to 0.106.5
I'm running Home Assistant in Docker (generic Linux install) on a rpi4 4gb.
I do not run any custom hue components. My hue devices have always worked fine and I have never seen any errors relating to hue.

Here are the latest log entries I found related to this issue:
[code]

[2020-03-10 20:56] bazwilliams commented on #25531
Basically because the volume level is now never set, the component volume level correctly remains 'None'. I'd assumed core would then never ask for the volume_level, but it does - and as a result it attempts to divide `None` by 100. The conversion from `0-100` to `0-1.0` should be performed during the `update()` instead.

[2020-03-10 20:59] gerard33 commented on #32515
The fingerprint results are not attached. Can you please add these to a new issue here -> https://github.com/bimmerconnected/bimmer_connected/issues

[2020-03-10 21:02] fosterym commented on #23211
I can confirm the issue with zhimi.humidifier.cb1 (Smartmi Humidifier 2). I have tons of errors in HA log witереру same text:
['Auto', 'Silent', 'Favorite', 'Idle'] does not contain the speed setting off as its first element. Assuming that Auto is equivalent to 'off'.

[2020-03-10 21:04] fosterym opened #32654 "Xiaomi humidifier 2 problem with passing speed argument to Homekit"
I have the issue with zhimi.humidifier.cb1 (Smartmi Humidifier 2).
I have many errors in HA log witереру same text:
['Auto', 'Silent', 'Favorite', 'Idle'] does not contain the speed setting off as its first element. Assuming that Auto is equivalent to 'off'.
And in homekit can't select the speed from list

[2020-03-10 21:11] mauog commented on #32515
Just done!
Hope all is right

Thank You

Gerard wrote on 10/03/2020 00:18:

--
Sent from Postbox <https://www.postbox-inc.com>

[2020-03-10 21:18] emresumengen commented on #32584
Hello @engrbm87,
As these are two independent mikrotik APs, their wireless registration tables are also independent of each other. But, the device is seen on either R1 (10.0.0.1) or AP1 (10.0.0.2) registration table, depending on which device the client is connected to.

For example (my phone mRxs with mac C0:A6:00:27:E4:37):
on R1 (10.0.0.1) clearly is connected:

[code]
and HA shows the device H

[2020-03-10 21:46] springstan commented on #32654
Please fill out the issue template, you can find it by clicking on `New Issue` and then selecting `Report a bug with Home Assistant`. Copy and paste the provided template into this already created issue, click preview to take a look at the empty template and then fill out as much as you can. Any additional information can be helpful!

Thanks for understanding :)

[2020-03-10 21:47] springstan commented on #32651
Please fill out the issue template. Any additional information can be helpful!

Thanks for understanding :)

[2020-03-10 21:52] mrand commented on #24964
BTW, for anyone interested in tracking, a new issue has been opened on this: https://github.com/home-assistant/core/issues/29600

[2020-03-10 21:58] Mariusthvdb commented on #32380
sure will do.
please allow me 3 questions:
- why would it be that only Hue integration suffers from this. I've tested before without any CC, and the errors persisted tbh, so will oblige to your suggestion, but fearing it wont lead to anything.

- is there a specific log setting I can raise to debug, to check the I/O in the event loop?

- as reported, I often see these errors when interacting with

[2020-03-10 22:00] Kane610 commented on #32345
Lets see if this new PR helps improve your situation

[2020-03-10 22:01] Kane610 commented on #32345
@Silverridge those logs doesn't contain any data from aiounifi which is where the web socket events are printed

[2020-03-10 22:05] #28806 closed

[2020-03-10 22:28] balloob commented on #32380
@Mariusthvdb in your screenshot there is also an error from pyhaversion being unable to fetch data.

Yes, this is the same cause as the "cant reach Hue" messages from before. And it's very weird that opening the frontend is causing this. That almost feels like your system is coming to a halt. How many lines is your lovelace config? I'm interested to see if you can limit it to see if it impacts it.

[2020-03-10 22:40] Mariusthvdb commented on #32380
well, that's is a bit weird, but I don't know, I use includes to create the Lovelace config. Is here some kind of internal setting calculating the size of the complete frontend.

[2020-03-10 23:10] balloob commented on #32380
Marius, can you try disabling all your resources. I wonder if one of your custom cards is bashing the backend. Also, I suggest we move this to a new issue, as your Lovelace config is causing the issues here, Hue just shows up as a symptom.

[2020-03-10 23:11] bazwilliams commented on #25531
This branch will fix the issue: https://github.com/home-assistant/core/compare/dev...bazwilliams:openhome-mediaplayer-volume-fix?expand=1

[2020-03-10 23:34] balloob commented on #32380
Also implementing #32656 which might help .

[2020-03-10 23:38] mamartins commented on #31996
Still happening. Worked fine for 3 days, now it hasn't triggered neither for sunset or sunrise

[2020-03-11 00:08] #25982 closed

[2020-03-11 00:25] dmak opened #32659 "Allow friendly name to be customized for media player via customization"
## The problem

I have media player set up the following way:
[code]
The entity appears with name “Fire TV” on the card and I would like to customize it like this:
[code]
however the result is that the icon is correctly set, but friendly name is ignored.

I know that the name could be set as was suggested [on the forum](https://community.home-assistant.io/t/setting-media-player-friendly-name-via-c

[2020-03-11 00:38] maddenp commented on #23432
I opened PR #32660 to fix this issue.

Interested users might also look at https://github.com/maddenp/bomradarloop/blob/master/fetchall.py, an updated version of a script kindly provided by @kuchel77, which tests all known combinations of radars and their supported resolutions. Two radars that are currently out of service per BOM are noted, and a couple that previously provided every-10-minutes fr

[2020-03-11 01:04] ronaldheft opened #32662 "Unable to pair HomeKit accessory due to socket timeout"
## The problem

I'm unable to pair my iHome ISP5 using the `homekit_controller` component. I receive the following error message:

[code]

I am able to successfully pair and re-pair the device to HomeKit; I'm just not able to pair it to Home Assistant directly.

## Environment

arch | x86_64
-- | --
dev | false
docker | true
hassio | false
os_name | Linux
python_version | 3.7.6
timezone | America/

[2020-03-11 01:06] WilldabeastHA commented on #32345
@Kane610 how can I help get this sorted out? I'm looking for some guidance. I'm using unifi controller and it has been very stable on 5.10 but with the new HA update you say it requires you to update to 5.12.35 for you to be able to track home/away. When I update to 5.12 the devices I want to track home/away (mobile phones) get poor signal strength in my office where it never did before and one of

[2020-03-11 01:31] HunterDG commented on #28202
Ecovacs seems broken when attempting upgrade to HASS Core 0.106.6

Attempting Home Assistant Core 0.106.6 upgrade: Error: Unknown Error, see logs

Logs:
fulljid property deprecated. Use boundjid.resource
8:23:37 PM – components/ecovacs/__init__.py (WARNING)

Log Details (WARNING)
Logger: sleekxmppfs.basexmpp
First occured: 8:23:37 PM (1 occurences)
Last logged: 8:23:37 PM

fulljid property depreca

[2020-03-11 01:35] devanl opened #32663 "Automation fires twice on `wait` timeout"
## The problem
When using `wait_template` I have specified a `timeout` to create an interval for a for loop.  When the timeout occurs the `input_number` is decremented which causes the automation to trigger again and the `wait_template` to execute.

## Environment
- Home Assistant release with the issue: 0.106.4
- Last working Home Assistant release (if known): unknown
- Operating environment (Has

[2020-03-11 01:50] ssilence5 opened #32665 "Simplisafe Errors and No Updates"
## The problem

@bachya, I am having some issues with Simplisafe Integration. Starting late yesterday, I have received no more push updates from Simplisafe. I have since updated home-assistant to 0.106.6 and did a restart. I will see if there is any change.

In addition, I just tried to do some calls to set_pin and remove_pin. I received the following errors when I made those calls. All of the err

[2020-03-11 03:13] chezpaul commented on #31994
Maybe I should just add the HP Printer integration even though I don't have an HP printer.  ;-)

[2020-03-11 03:14] #27924 closed

[2020-03-11 03:14] #26372 closed

[2020-03-11 03:14] #26657 closed

[2020-03-11 03:14] #26442 closed

[2020-03-11 03:19] andrewsayre commented on #32571
Are you still having this issue?  It appears to be returning a `HTTP 500` which indicates to me that there might have been an issue with the API or a back-end service on the ST side.

[2020-03-11 04:09] bachya commented on #32665
Those error messages indicate that the SimpliSafe cloud didn't return data that the integration expected. It seems to happen sporadically to all SimpliSafe users, which indicates it's a problem with their API. Not much we can do about that, unfortunately.

[2020-03-11 06:24] dennismuth-collectai opened #32668 "MQTT Discovery: friendly_name of json_attributes_topic is ignored (or overridden)"
## The problem

In case of a mqtt discovery the `friendly_name` of a `json_attributes_topic` does not get picked up correctly (at least for a `binary_sensor`; I did not check other domains, but this will be fairly easy to check). It seems that the `friendly_name` always gets overridden by the `name` provided in the `config` topic.

## Environment

- Home Assistant release with the issue: 0.106.6
-

[2020-03-11 06:27] #23432 closed

[2020-03-11 06:30] bdraco commented on #28598
@guice The new ones use a new api format so its likely a whole new integration to get it to work.

[2020-03-11 06:49] Mariusthvdb commented on #32380
Let’s hope so, because even with only these couple of views these errors persist

[2020-03-11 06:52] Kugelfang666 commented on #32651
@springstan sorry for the incomplete documentation. I was on the go. I hope it becomes a bit more clearer now.

[2020-03-11 06:57] Jardaan commented on #26329
same as rschmitter. I get between 12 and 36 hours of stability before I have to reset or reboot for the connection to work again.

[2020-03-11 07:00] Kane610 commented on #32345
@WilldabeastHA sounds weird that updating the controller would affect the signal strength of your wifi, that would be your access points + firmware

[2020-03-11 07:06] pw4056 commented on #32529
Thank you. I really appreciate all your effort and work.

[2020-03-11 07:07] scop commented on #32620
Yes, Xiaomi devices is exactly what I'd like to use it with.

I wonder why would people ask to remove it -- if they don't want it, why would they just not disable the entity? We could add the sensor but default it to disabled so if it's the minority that's interested in this stuff, they can enable it. On the other hand it's usually the HA way (and even a guideline) to enable everything by default

[2020-03-11 07:55] cgtobi commented on #32643
Can this be closed?

[2020-03-11 08:02] peetereczek commented on #28375
@sergeolkhovik thanks for the idea, looks promising. I have just created automation for myself, I hope it will help

[2020-03-11 08:28] KHouse75 opened #32671 "Changes to helpers/service.py introduced delay in sending service calls"
## The problem

Changes to helpers/service.py has introduced a delay when sending back to back service calls.  This worked properly in 0.105.5.  The issue was introduced as of 0.106.0b0

## Environment

0.107.0b3

- Home Assistant release with the issue: 0.106.0b0 through 0.107.0b3
- Last working Home Assistant release (if known):  0.105.5
- Operating environment (Hass.io/Docker/Windows/etc.):  do

[2020-03-11 09:03] Jc2k commented on #32662
Hi

So the code that is failing doesn't exist in the next release so there is a limit to what we can try before 0.107.0 is out.

The error itself is happening below that code, in the python standard library. It's pretty close to the OS at that point and it's the OS itself has hit a timeout actually trying to read from the device. If i see that I need to first try and rule out environmental factors

[2020-03-11 09:04] demonaxxx commented on #31465
is it fixed? i have updated to Home Assistant 0.106.6 and still have this error in logs

[2020-03-11 09:08] Quentame commented on #31465
Fixed in 0.107.0, in beta later today 😉

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-11 09:19] demonaxxx commented on #31465
is it possible to manualy update only this fix integration of icloud? Don't want to be beta-tester =]

[2020-03-11 10:08] dmak commented on #11890
Can the ticket be reconsidered so that the warning messages (`CV or numpy module not found...`) are printed to the log file and not to console?

[2020-03-11 10:14] dietlman commented on #32643
yes please close it, thank you very much for your support

[2020-03-11 10:41] lollox80 commented on #10485
Still exists
Home Assistant 0.106.6

[2020-03-11 11:02] Ola1971 opened #32677 "on/off status on Trådfri lights have issue being updated"
on/off status on Trådfri lights have issue being updated when using the Ikea Gateway app or Remote control to turn on and off lights. If I turn on lights with the remote the information isn't updated in my Home Assistant overview or in the mobil app.

If i use the Home Assistant app to tur on and of light then the status is almost correct. The on/off is correct but the dimming variable isn't.

Doe

[2020-03-11 11:12] springstan commented on #32677
Please fill out the issue template, you can find it by clicking on `New Issue` and then selecting `Report a bug with Home Assistant`. Copy and paste the provided template into this already created issue, click preview to take a look at the empty template and then fill out as much as you can. Any additional information can be helpful!

Thanks for understanding :)

[2020-03-11 11:13] #32643 closed

[2020-03-11 11:14] springstan commented on #32671
Can you pinpoint the change to a particular commit?

[2020-03-11 12:08] Bit-River commented on #32192
Final note, if the cameras are rebooted then for this fix to work HA needs to be restarted afterwards.

Haven't seen this error in a week now, so I close this.

[2020-03-11 12:08] #32192 closed

[2020-03-11 12:25] hruzipet opened #32680 "Missing values in badges (sensor data)"
## The problem
Empty values in badges for sensors. The problem occured in version 0.106.x

![image](https://user-images.githubusercontent.com/51111729/76561326-5f53dd80-64a3-11ea-93a6-bf9e8ce92021.png)

## Environment

- Home Assistant release with the issue: 0.106.x
- Last working Home Assistant release (if known): 0.105.5
- Operating environment (Hass.io/Docker/Windows/etc.):  Docker/ubuntu
- In

[2020-03-11 12:32] WilldabeastHA commented on #32345
@Kane610 i would agree with you and I’m just as surprised as you are. It wasn’t a firmware update to the AP, it was upgrading the controller. Someone mentioned that in the 5.12 release there are some “WIFI AI” settings that are enabled by default but I’ve changed them every way and it doesn’t seem to make a difference.

[2020-03-11 12:47] von-Chaps opened #32681 "OpenHome component crashes on HA startup"
## The problem
**OpenHome** component errors during HA startup due to core requesting volume level even though volume is disabled.

## Environment
HA Version: **0.106.5**

## Problem-relevant `configuration.yaml`

[code]

## Traceback/Error logs

[code]

## Additional information
Original problem and diagnosis by @bazwilliams is in #25531

[2020-03-11 13:00] MelvinGr commented on #32551
I'm using this as a temp solution

[code]

[2020-03-11 13:00] BUSHA opened #32682 "eQ-3 MAX! Integration stop working after update to 0.106.6"
## The problem

  eQ-3 MAX! Integration stop working after update to 0.106.6

## Environment

HA version 0.106.6

- Home Assistant release with the issue: 0.106.6
- Last working Home Assistant release: 0.106.5
- Operating environment: Hass.io/Docker/Raspbian
- Integration causing this issue: maxcube
- Link to integration documentation on our website: https://www.home-assistant.io/integrations/maxc

[2020-03-11 13:11] a323870 commented on #32556
The source is on LiveTv but instead of changing the channel TimeMachine is activated (recording on disk)

It is also seen from the state
source: LiveTV friendly_name: Living Room TV

[2020-03-11 13:13] a323870 commented on #32556
Mybe closed for error

[2020-03-11 13:52] tam1m opened #32684 "Customize allows setting the wrong type for state attributes which can create difficult to track down breakage"
## The problem

I'm getting the error below when exposing my hue light bulbs via `emulated_hue` and going to `http://192.168.3.28/api/pi/lights`.
The Bowser shows
[code]

The same thing is working with another light bulb from OSRAM, which I too have integrated with my hue bridge. Also exposing switches and other things via emulated_hue does work. So this is somehow specific to my original hue ligh

[2020-03-11 14:20] wacarlton commented on #31361
Having the same issue as well.  Updated Core and HassOS to 0.106.6 and 3.12.  Once the Caseta lights stop working w/ Home Assistant, they also are flaky with the iOS Lutron app.  Here's my stacktrace:
2020-03-11 09:03:09 ERROR (MainThread) [homeassistant.components.websocket_api.http.connection.2844344272] 'NoneType' object has no attribute 'write'
Traceback (most recent call last):
  File "/usr/s

[2020-03-11 14:25] jackkitley opened #32685 "Yamaha music cast platform"
## The problem

Ive just noticed errors reported in Home assistant that i think i should report.

## Environment

Im using a raspberry pi 4 and the latest HA core.

- Home Assistant release with the issue: Home Assistant 0.106.5
- Last working Home Assistant release (if known):  Always given a error
- Operating environment (Hass.io/Docker/Windows/etc.):
- Integration causing this issue:  yamaha_mu

[2020-03-11 14:35] dshokouhi opened #32686 "Plex sensor fails to update sometimes"
## The problem

Sometimes the plex sensor fails to update while someone is streaming.  Tautulli continues to show the person streaming while plex does not.

## Environment

- Home Assistant release with the issue: 0.106.5
- Last working Home Assistant release (if known): N/A
- Operating environment (Hass.io/Docker/Windows/etc.): Ubunutu venv
- Integration causing this issue: Plex
- Link to integra

[2020-03-11 14:39] jackkitley commented on #31400
@PurelyNicole
Add to your discovery:
`discovery:
  ignore:
    - yamaha`

[2020-03-11 14:42] jjlawren commented on #32686
This is a known issue in the underlying `plexapi` library. I've submitted a fix PR: https://github.com/pkkid/python-plexapi/pull/431.

[2020-03-11 14:44] dshokouhi commented on #32686
Thanks @jjlawren did we have a bug here in HA too? I tried to search but didn't find anything.  I'll mark this as problem with dependency now.

[2020-03-11 14:55] gregg098 commented on #32345
Thanks for working on a fix. Any way to test this before the next release?

[2020-03-11 15:01] CSnipper commented on #31465
I have the same problem with "hassio google drive backup" plugin - it won't start

[2020-03-11 15:12] rohankapoorcom commented on #31031
Closing, all problems were resolved on the Zoneminder end, not the Home Assistant one. No code change was required for Home Assistant or the underlying library for communicating with Zoneminder.

[2020-03-11 15:12] #31031 closed

[2020-03-11 15:17] jtmoore81 opened #32687 "Caldav issue with location populated"
Caldav seems to fail to load when a location is used in a calendar event.

Current Home Assistant 0.106.4

configuration:
[code]

[code]

[2020-03-11 15:18] Mariusthvdb commented on #32380
for ease of readability, please allow this extra post, if needed after that  Il create a new issue.

Ive been going over my Lovelace config methodically, first making it smaller and show only a single view, building up to the fuller config: no real change after all, the errors kept showing.

After that, I took up on Balloob's request to disable all resources. This helped me identify some unused bu

[2020-03-11 15:34] miguelacaro opened #32688 "Hi"
Nk

[2020-03-11 15:46] Quentame commented on #31465
@demonaxxx
You can create a custom component with 0.107.0 code, it would work. But since you didn't gave me your venv infos I can't say more.
Also, the error here is just a log! The integration is working properly! (with 0.1.6.6 fix #32400)
And if I had beta tester for the integrations, it would not have any error/issue at refactor release in 0.104.0 :stuck_out_tongue_closed_eyes:

@CSnipper
"hass

[2020-03-11 15:55] #32688 closed

[2020-03-11 15:55] demonaxxx commented on #31465
I'm sorry what is venv info? I can give you any info you need but if you fix it already what for?
it looks like for me that is not only errors in logs for me

[2020-03-11 15:55] egoetz-zz commented on #32643
I had to re-generate the keys (error message from netatmo server: "invalid client"). But it works fine now.
Thanks for the help @cgtobi !

[2020-03-11 15:57] jjlawren commented on #32686
I had started to address this in HA with #31973 but then realized it was an upstream problem.

[2020-03-11 16:08] Quentame commented on #31465
Whoops, not venv, environnement (modified)

Why are you thinking this in not only text in the log ?
Please do explain yourself ! 😅

I personally had issues with the integration from 0.104.0, I installed 0.106.6 yesterday night, today it’s freaking fine 😉
I can tell you, if you are updated it’s just text 😛

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-11 16:11] balloob commented on #32668
This is expected. The `name` of the entity overrides whatever comes from the attributes.

[2020-03-11 16:11] #32668 closed

[2020-03-11 16:24] #32345 closed

[2020-03-11 16:27] Spirituss commented on #26838
I still receive thousands of messages like ```ERROR (MainThread) [homeassistant.components.squeezebox.media_player] Failed communicating with LMS: <class 'aiohttp.client_exceptions.ServerDisconnectedError'>``` in log file.
I use Home Assistant 1.106.5. Nevertheless, the media players in HA work correctly.

[2020-03-11 16:36] azogue commented on #32380
Hi @Mariusthvdb,

I see multiple Google Home devices in your screenshot, do these have access to the bulbs?

Naive question: have you tried to unplug _anything_ with hue access (like the GHomes)?
Isolating the problem is difficult, but it is crucial if we want to discover and fix the issues

Much more naive question (from my personal experience): have you tried to restart the hue hub? It seems sil

[2020-03-11 16:47] Kane610 commented on #32345
@gregg098 either for hass core repo or wait for the beta release

[2020-03-11 16:53] mback2k commented on #29868
This issue is not stale as the problem is still present.

[2020-03-11 17:00] WilldabeastHA commented on #32345
@gregg098 ive been deploying the dev versions of the container as a test environment. No luck with presences detection unless I’m on 5.12 but the I have other issues with connectivity. Overall a bad situation.

[2020-03-11 17:17] bachya commented on #32665
@ssilence5 In spite of the above, this shouldn't affect push updates. I'm going to close this issue (since we can't fix it ourselves); please feel free to open a new one for push issues.

[2020-03-11 17:17] #32665 closed

[2020-03-11 18:16] benji2020 commented on #32386
Is the requirement for MAC address when IP address (on a different subnet) is used going to be removed - or a field to input it manually? Shall I raise that as a different issue or has someone already done it? Thanks.

[2020-03-11 18:31] AgalmicVentures opened #32692 "Sense HAT Integration Missing Depenency RTIMU In Hass.io"
## The problem

Sense HAT integration appears to be missing a dependency in the Hass.io default installation.

Followed the steps in the documentation (linked below) in a fresh install of Hass.io and got the backtraces (also below). It appears that the dependency `RTIMU` is missing.

## Environment

- Home Assistant release with the issue: 0.105.2 (and likely many others)
- Last working Home Assis

[2020-03-11 18:58] #23758 closed

[2020-03-11 19:14] #27246 closed

[2020-03-11 19:39] GuerrillaTechnology opened #32696 "Safe Mode should not trigger for WARNING"
I need to use Supervisor in an apparently not supported configuration, which triggers a warning message. ( https://github.com/home-assistant/supervisor/issues/1581#issue-579498374 )

This Warning message triggers safe mode and disables my deployment of HomeAssistant.
When an integration issues only a warning and not a critical error safe mode should not be engaged.

[2020-03-11 20:17] KHouse75 commented on #32671
This issue started with commit e970177eebed9adf444310338d630dda6ca935e0

It's working properly in the previous commit f41623ca6423ac2e83b10801aac4d062f9f9b72f

[2020-03-11 20:18] ronaldheft commented on #32662
Thanks for the suggestions! I was able to get it paired my increasing the timeout in the code to 60 seconds. The switch paired in about 7-8 seconds after submitting the pairing code, so I suspect it was hitting a timeout around 5 seconds.

The iHome ISP5 is an older HomeKit device (I think I bought it 3-4 years ago), so I suspect it’s a little slow on the pairing end. I do know I am running the la

[2020-03-11 20:54] greberg commented on #32370
After updated to 106.6 I know only see a white screen on the cast display. Logs says it’s connected but nothing is shown. Anyone else with the same experience?

[2020-03-11 20:57] sjostrand commented on #32590
@jrnhrmn, i had the same problem (Netatmo integration stoped working after upgrading to 0.105) But solved it by going to the integrations and adding Netatmo there "again".

I ended up at att some kind of "allow this page" at Netatmo. When I clicked OK everything started working again.

[2020-03-11 21:10] Jc2k commented on #32662
Great stuff, thanks for testing this out and confirming what the problem is.

I don't think there is anything else to do here - i think it is fixed in 0.107.0 by the move to the new asyncio homekit library. But will keep issue open for now till confirmed.

[2020-03-11 21:14] Jc2k commented on #25960
I'm going to close this now, all the code should be queued up to go into 0.107.0 @dmulcahey has an LG TV paired and can switch input sources. Play/pause also works (but it is context sensitive). The LG implementation doesn't report much state (like playing vs paused etc). Volume support will be added later.

[2020-03-11 21:14] #25960 closed

[2020-03-11 21:16] Jc2k commented on #27220
@pilot1981 wanted to give you an update on this. The events code i've been talking about for the past X months finally landed upstream and should be in the next release. With that out of the way I've also been able to do a bunch of refactoring to get ready for vendor specific extensions. Not quite there yet but it's getting closer slowly.

[2020-03-11 21:17] balloob opened #32701 "Sonos: idle player showing as paused"
## The problem

If I am listening to Spotify on a Sonos speaker and then in the Spotify app on my Mac change the playing device to my Mac, Sonos state changes to paused.

However, it's not paused. If I press Play on Sonos, it will actually take over my current Spotify session from my Mac and continue whatever I was doing there (as I would expect).

It means that Sonos is not actually paused, it's

[2020-03-11 21:20] Jc2k commented on #32422
Sorry for neglecting this @mikesalz, have been tied up getting my ducks in a line for 0.107.0. It's a pretty big release for homekit_controller.

I was wondering if it would be possible to try and disable `pyrainbird` and try again. I'm wondering if all those timeouts are filling the thread pool and causing homekit_controller timeouts.

If that doesn't work, are you able to try a code change for m

[2020-03-11 21:22] Jc2k commented on #32218
Hi @JamesDenby - sorry for the delay in getting back to you. I'm at a loss on how to help with SSH in your environment, but this should be fixed in 0.107.0 when its released (the first beta was just tagged so hopefully not far away). I'm going to close this now, but please do open another issue or ping me if it doesn't resolve it for you.

[2020-03-11 21:22] #32218 closed

[2020-03-11 21:26] balloob commented on #32701
This is the state attributes of a paused Sonos that should be idle (but is `playing`):

[code]

@amelchio pinging you as you have opinions 😄

[2020-03-11 21:26] JamesDenby commented on #32218
Thank you for letting me know. I am looking forward to 0.107.0. I will certainly let you know if I still have a problem once that is released

[2020-03-11 21:26] balloob commented on #32701
I'm happy to implement whatever we decide on here.

[2020-03-11 21:28] Kane610 commented on #32345
@WilldabeastHA have you found any similar issues on unifi forums?

[2020-03-11 21:29] Kane610 commented on #32308
There is not much to do here, any additional reflections?

[2020-03-11 21:52] Mariusthvdb commented on #32380
Well, I have tried all of that, more than once, and for a very long period already. It is all so very frustrating. In the end, I feel it boils down the fact the HA/Hue integration in its various iterations does 1 thing very consequently, namely indicate the entities (lights And sensors) unavailable way too often.

It makes the integration practically unusable for logic used on states of the lights

[2020-03-11 22:23] frenck commented on #28950
Working on a solution for this.

[2020-03-11 22:24] frenck commented on #32139
Working on implementing this correctly.

[2020-03-11 22:26] Korte68 commented on #32497
I also have problem with the google calendar integration. It was working for month, but a few weeks it stopped working (500/400 Error). After it deleted the .google.token file, and restarted the HA. After it copy-past the activation code and activate the service. After it the calendar was working again for about a week, but after it again failed. It seems the refresh token not working....
Any idea

[2020-03-11 22:36] cgtobi commented on #32590
0.105 had a breaking change for the Netatmo integration. So this worked as expected.

[2020-03-11 22:37] springstan commented on #32696
Please fill out the issue template, thanks :)

[2020-03-11 22:56] arsaboo opened #32703 "iQVIA error in .107b0"
## The problem

Seeing iQVIA error in .107

## Environment

- Home Assistant release with the issue: 0.107.0b0
- Last working Home Assistant release (if known): 0.106.6
- Operating environment (Hass.io/Docker/Windows/etc.): Ubuntu
- Integration causing this issue: IQVIA
- Link to integration documentation on our website:

## Problem-relevant `configuration.yaml`

NA. Configured using UI.

## Trace

[2020-03-11 23:16] maxi1134 commented on #32370
Did not worked for the last 3 days, just started working again. Not 10 minutes ago.

But now Custom elements don't work anymore.

Can someone tells us what's going on?

[2020-03-11 23:30] MichaIng commented on #28361
In my case `pip3 install home-assistant-frontend==20191025.1` was not required anymore. I still run into failing web UI directly after install. The python modules installs on first service start stuck in the middle with "unable to resolve dependencies ... module XYZ not found" (the same like https://github.com/home-assistant/core/issues/28361#issuecomment-548959892), but a simple service restart s

[2020-03-12 00:03] DavidFW1960 opened #32707 "Samsung TV Integration in 0.107.0b0 errors"
Getting errors in logfile for Samsung TV. Was working previously with no errors

I removed integration, restarted HA, added integration (It was auto-detected) restarted HA and I see errors in the logs.

## Environment

- Home Assistant release with the issue: 0.107.0b0
- Last working Home Assistant release (if known): 0.106.6
- Operating environment (Hass.io/Docker/Windows/etc.): HA Supervised on

[2020-03-12 00:05] bachya commented on #32703
This is because they've let an SSL cert expire. 😠I'll work on it.

[2020-03-12 00:05] austinmroczek commented on #32619
The new package was posted on pypi last night as version 0.54.1.  I also put the update into a pull request I already have going here on Home Assistant.

[2020-03-12 00:07] arsaboo commented on #32703
well, at least it is not a bug on our end 😉

[2020-03-12 00:51] chemelli74 commented on #32646
I identified the issue: was an automation based on "**sensor.echo_dot_<device_name>_next_alarm**".
If the alarm is not set, the error is throw.
Dunno why only with 0.106.x and not before (didn't see any note with a change/fix on that area).

I added a if clause:

[code]

seems to work fine.

Issue can be closed,

Simone

[2020-03-12 01:34] #32703 closed

[2020-03-12 02:50] fmonday commented on #32571
yes, it's still occurring. I tried uninstalling the Smartthings integration, deleting the SmartApp in the classic ST app and re-installing from scratch, but the exact same behavior is occurring. Does the "unsuccessful-http-call status=424" part of the error give us any hints?

[2020-03-12 06:16] jrnhrmn commented on #32590
Thnx guys. It has been working perfectly lately.

[2020-03-12 06:16] #32590 closed

[2020-03-12 06:35] escoand commented on #32707
@tulindo Mind taking a look at this? I can  confirm this as well.

[2020-03-12 06:50] Kugelfang666 commented on #32380
so I just updated the CC to 2.14 . while I still encounter the errors in the log something has changed:

[code]

Error fetching light data: 83x
Error fetching group data: 84x
Error fetching sensor data: 2x

before they always had the same (similar) count...

[2020-03-12 07:11] pilot1981 commented on #27220
Great news!!!! Thanks very much.
I wait for new release of HASSIO!

[2020-03-12 07:33] demonaxxx commented on #31465
I have many automations in my HA that is based on presence. As example when main door is open if nobody home (gps location based) i get message to telegram. I used icloud integration in past few months and everything works perfectly well. I have 5 devices that monitored throught my icloud account. In configuration.yaml i have only 2 parameters (login an в pass). So in previous versions of HA (i ca

[2020-03-12 07:47] #32682 closed

[2020-03-12 07:57] pancho-villa opened #32717 "On a system with IPv6 disabled you can't configure anything"
## The problem

I installed a fresh version and removed the old config directory and started from scratch. When I tried to configure Hue or anything else, nothing happens in the UI. The logs show an error when querying the network with ssdp or zeroconf.

## Environment

- Home Assistant release with the issue:  0.106.6
- Last working Home Assistant release (if known):  N/A
- Operating environment

[2020-03-12 08:15] dannytsang commented on #16103
Not working for me either with the same error in 0.106.6

[2020-03-12 08:42] escoand commented on #32707
@tulindo we need to set the port to None here as well:
https://github.com/home-assistant/core/blob/dev/homeassistant/components/samsungtv/bridge.py#L137

[2020-03-12 08:54] #32681 closed

[2020-03-12 09:09] amelchio commented on #32701
I would say it is paused if it starts playing when pressing Play. It is idle if I first have to select a new source.

However, I actually do not have any opinion here. The states are from before I worked on it and I only use the Sonos app for controlling music.

[2020-03-12 09:10] #29536 closed

[2020-03-12 09:29] #32707 closed

[2020-03-12 09:31] #28760 closed

[2020-03-12 09:48] nichwang88 commented on #31641
I have the same problem, including Xiaomi Wireless button and Xiaomi Aqara Cube.
Whether you click, double-click or long press, it will trigger twice at the same time.

[code]

[code]

[code]

[code]

These logs are from Node-red links to HA.

[2020-03-12 09:54] luisfosoares commented on #30215
Hi guys

What is the status today? Are the PRs merged? Any ETA if not ?

[2020-03-12 10:21] robbiet480 commented on #29907
@Forge36 Why didn't you fill out the initial issue template? We need to know your Home Assistant and OS versions at a minimum. But, your issue appears to be exactly the same as [this](https://github.com/home-assistant/core/issues/22035#issuecomment-473221846). You need to update your OS.

[2020-03-12 10:21] #29907 closed

[2020-03-12 10:31] fabaff commented on #32641
I assume that the issue is that you also have Python 2.7.x in your venv. `python` should point to Python 3.7.x.

[2020-03-12 10:32] fabaff commented on #32605
See https://github.com/home-assistant/core/issues/32641#issuecomment-598115132

[2020-03-12 10:52] wes1993 opened #32722 "Alexa Integration not Working"
## The problem

## Environment

- Home Assistant release with the issue: Home Assistant 0.106.6
- Last working Home Assistant release (if known): I don't know but before 12/01/2019 (december)
- Operating environment (Hass.io/Docker/Windows/etc.): Docker
- Integration causing this issue: Alexa Probably
- Link to integration documentation on our website: https://www.home-assistant.io/integrations/al

[2020-03-12 10:53] amaximchuk commented on #32308
I'll check traffic in the previous version 105.2. If it will be the same and you think that this traffic is normal - please close this issue.

[2020-03-12 10:55] #31549 closed

[2020-03-12 11:10] #20250 closed

[2020-03-12 11:10] #26860 closed

[2020-03-12 11:10] #26425 closed

[2020-03-12 11:27] Blackpander opened #32723 "xiaomi_miio: vacuum.set_fan_speed not working on fw: 3.5.7_002008+"
## The problem

The issue I have is that I upgraded my Xiaomi Roborock S55 to the newest version 3.5.7_002008 and now the set_fan_speed is not working. The only one that is working is "Gentle".

I tested this with the newest iOS-app. When in Home Assistant I choose Gentle, in the app the fan speed goes to Gentle, that works. When I choose something else in Home Assistant, the fan speed goes back t

[2020-03-12 11:34] duhow commented on #32723
Happening as well with Roborock S6 from previous versions as well.
Setting fan speed *as number* does work,

[2020-03-12 11:36] iSmigit commented on #32370
Exact same experience myself. Can now cast but every custom element is broken, which is my entire UI I want to cast. Would be great to know what's changing on the backend to cause this.

[2020-03-12 11:38] wes1993 commented on #32722
I have downgraded the core version to 0.100.1 (ha core update --version 0.100.1) and seems to work but many on my integration not... :-(