[2020-10-11 17:45] litinoveweedle commented on #40191
I did updated custom component manifest integration and upgraded again to 0.116.2. I can now confirm Broadlink RM on dedicated secondary network being detected automatically (2 from 3) and the one missing I was able to add manually using webUI.

@felipediel Thank you very much for you help! And to all for work on this project. :-)

[2020-10-11 17:56] bmsec commented on #10498
I do have to say that it is rather silly that this issue is still open and still ignored. I see that there at least 2 pool requests that would (at least partially) solve the problem, and it seems to me that the only reason why non was merged is lack of interest.

So, for those who need this function and are not able to hack the code (not programmers), here is a partial solution that is usable **if

[2020-10-11 18:08] bverkron opened #41674 "Thermostat missing options when connected via HomeKit Controller"
## The problem

[Sensi Smart Thermostat](https://sensi.emerson.com/en-us/products/wifi-thermostat) is missing temperature range option when connected to HA via the HomeKit Controller integration. This feature is present when connected via the SmartThings integration and also directly in Home.app on iOS when connected to HomeKit directly (not to HA via the integration). Seems like the HomeKit Contr

[2020-10-11 18:45] Hukuma1 commented on #35202
Found a related issue. Originally I thought it was only for specific firmware/models, but it seems gradually all Yeelight models are affected as firmware changes: https://github.com/home-assistant/core/issues/26186

[2020-10-11 18:56] sagitt commented on #40779
![image](https://user-images.githubusercontent.com/169086/95687483-29770300-0c04-11eb-95f3-079f5f59d4e0.png)

![image](https://user-images.githubusercontent.com/169086/95687490-2da32080-0c04-11eb-82f0-0dc15a100500.jpeg)

![image](https://user-images.githubusercontent.com/169086/95687495-30057a80-0c04-11eb-899d-636fe048b397.jpeg)

[2020-10-11 18:59] adima959 commented on #37929
Any updates on this one? Still getting the same error as everyone else.

[2020-10-11 19:01] #16452 closed

[2020-10-11 19:10] #23045 closed

[2020-10-11 19:10] #28912 closed

[2020-10-11 19:10] #28590 closed

[2020-10-11 19:10] #35137 closed

[2020-10-11 19:17] colethegamer123 commented on #41586
Same Issue. Subscribed.

[2020-10-11 19:22] freemann commented on #41654
Ok, so downgrading to 0.116.0 should fix it?

[2020-10-11 19:30] bverkron commented on #41674
Also, the temperature reading and increments are out of whack now. It gives .5 degrees granularity, which it did before, but now it's stuck 0.1 off from the typical numbers. For target temperature I get increments like `18.9`, `18.4`, `17.9`, etc. instead of `19.0`, `18.5`, `18.0`, etc.

![image](https://user-images.githubusercontent.com/19174503/95688234-87342c80-0bbd-11eb-8ea1-d92eac2addbf.png)

[2020-10-11 19:54] raman325 commented on #36120
Did anyone get this to work? I couldn't 😞

[2020-10-11 20:03] martymarty004 commented on #36120
Nope, it refuses the credentials. At this time I simply removed the integration until the devs manage to fix it

[2020-10-11 20:08] Korte68 opened #41678 "Konnected integration not handling DS18B20 sensor again"
Konnected integration not handling DS18B20 sensor again
The displayed temperature is -2.5C , based on the backlog the sensor reports 21.687C

## Environment

- Home Assistant Core release with the issue: 0.116
- Last working Home Assistant Core release (if known): 0.115
- Operating environment (OS/Container/Supervised/Core): Docker
- Integration causing this issue: Connected
- Link to integration

[2020-10-11 20:09] peytoncasper commented on #41654
I'll just reiterate, I don't own one much less two so purely guessing based off the code. However, my question would be whether or not you've finished setting up the second station and gave it a name during the process? For some reason, Home Assistant can't find the name and that might be due to a lack of name or Netatmo might do some sort of pairing process in which a secondary base station doesn

[2020-10-11 20:23] dvermd commented on #40830
I'd like to work on this one.

[2020-10-11 20:25] freemann commented on #41654
Both stations have a name:
![Screenshot_20201011-222328](https://user-images.githubusercontent.com/601053/95689359-81b40200-0c10-11eb-964e-42ccc1d14119.jpg)

I will wait for @cgtobi 😃

[2020-10-11 20:28] cgtobi commented on #41654
@freemann can we hook up via Discord or the forums to exchange debug information which might potentially contain sensible information?

[2020-10-11 20:32] freemann commented on #41654
That's possible and I prefer the forum.
I'm there with the same account as on GitHub.

[2020-10-11 20:38] Molodax commented on #41497
Indeed, this example works for me as well, than I am absolutely puzzled why this condition doesn't work after 0.115:

[code]

There are no errors, template editor shows states of the templates from conditions as expected.

[2020-10-11 20:40] skrenes commented on #36120
My Apple ID is associated with 10 devices, 5 of which are in "devices" on Find My. They range in age from a 2011 13" MacBook Pro Air to a 2019 16" MacBook Pro, iPad, and iPhone 11 Pro Max. I don't think the device matters. I've initiated the `icloud.update` a couple times just now without any problems since I've re-added the integration. I genenrally use the iCloud integration for battery/charging

[2020-10-11 20:46] bagobones commented on #39135
I am assuming that the TensorFlow integration has been abandoned at this point. I have stripped it out of my config.

Does ANYONE have this working with the official docker? I sort of assume if it isn't working in the docker it hasn't worked for most people for some time now.

[2020-10-11 20:56] mp68 commented on #14386
For those who are running Hass.io on a Synology NAS I also figured out a workaround.
Unfortunately the Linux modified by Synology comes without the conntrack module, so keeping those connections alive by that method does not work. But you can frequently restart the Tradfri-Integration to keep the states updated. How?

1. Find the IKEA TRÅDFRI integration on your integrations page
2. Open your brow

[2020-10-11 21:04] Zehir commented on #41475
The tradfri gateway is verry unstable. I think I will return all my ikea related Bulb and switch. Even the google native intégration dont work each time. I had to restart the gateway because they dont change the light any more

[2020-10-11 21:09] Meelobee commented on #22840
I'm on HA version 0.116.2 and this is still a thing.. I'm using 3 Wyze cams (2x V2, 1x Pan) with the RTSP firmware and I still see these errors over and over in my logs:

Timestamp overflow detected: dts = 117126, resetting stream
11:03:53 PM – Stream (WARNING) - message first occurred at October 10, 2020, 8:56:05 PM and shows up 231 times

Error demuxing stream: No dts in consecutive packets
11:0

[2020-10-11 21:20] TheLastGimbus commented on #35540
In my case, setting static IPs resolved the problem - I didn't have any unavailable entities for 3 days straight. I will edit if they will disconnect again...

Tho, this is still not final solution for this issue, but always something

[2020-10-11 21:28] felipediel commented on #41633
Thank you! Your device will be supported soon.

[2020-10-11 21:49] Torgrima opened #41683 "deCONZ thinks my aeotec z-stick stick is a conbee II"
## The problem
When I start deCONZ in Supervisor, it lists my aeotec z-stick stick as a conbee II, and then z-wave don't work any more.
/dev/ttyACM0     | 0x1CF1 | 0x0030  |            | ConBee II

## Environment

- Home Assistant Core release with the issue: Home Assistant 0.116.2
- Last working Home Assistant Core release (if known):
- Operating environment (OS/Container/Supervised/Core):
arch |

[2020-10-11 21:59] allenporter commented on #41152
This should have been fixed by
https://github.com/home-assistant/core/pull/41181#event-3850521866

[2020-10-11 21:59] #41152 closed

[2020-10-11 22:36] blakeblackshear opened #41687 "Hayward Omnilogic not handling SINGLE pump type"
## The problem

My Hayward Omnilogic system has a pump type of `SINGLE`, but the `OmniLogicPumpSpeedSensor` does not handle the `SINGLE` type in the if/else logic.

## Environment

- Home Assistant Core release with the issue: 0.116.2
- Last working Home Assistant Core release (if known): N/A
- Operating environment (OS/Container/Supervised/Core): Container
- Integration causing this issue: Haywar

[2020-10-11 22:52] johnpwhite commented on #41586
I get significant requests, watching.

[2020-10-11 22:56] johnpwhite commented on #41315
me too, thanks for looking at this gurus

[2020-10-11 23:35] arjewell23 commented on #41586
I too have been getting the approval request for both my account and my wife's account.  I had it configured the "old way" and it kept coming up so I removed it and enabled apple through the integrations and it is still going on.  I'm running HassOS 4.13, Supervisor - 247, and Home Assistant 0.116.2.  Thank you to whomever looks at these.

[2020-10-12 00:03] esplor commented on #41660
Some ciphers have been disabled by the ssh client on several platforms. This may be the case in HA too...

On my OSX and Debian Buster i have to specify which cipher to force, ex. ssh -c aes128-cbc username@ios-device.

However if i set the the ios device to allow the ciphers  aes256-ctr aes256-cbc it works on Debian and OSX.
Maybe this could be a workaround?

`ip ssh server algorithm encryption a

[2020-10-12 00:25] mikewren commented on #41586
Just received an approval request also, subscribed. Thanks!

[2020-10-12 00:32] dboczek commented on #38724
I don't even see even such option...

I think I know the workaround for the issue.
I also have an account on gmail. Usually when I use it it contains dots before @ i.e. xxx.yyy.zzz@gmail.com. You can create an account like that in the Tuya/Smart Life app but in the Home Assistant integration login with such email fails.

As gmail will deliver e-mails with or without dots to the same account I've c

[2020-10-12 00:44] KiwiLostInMelb opened #41688 "Issue with PS4 discovery on firewalled HA (and runnning in docker)"
## The problem

When running with a firewall which blocks dynamic UDP ports the PS4 component does not work - devices not discovered.

## Environment

- Home Assistant Core release with the issue:  0.116.2
- Last working Home Assistant Core release (if known): None
- Operating environment (OS/Container/Supervised/Core): Docker/Alpine running on Fedora 32 host
- Integration causing this issue: comp

[2020-10-12 00:57] balajeek commented on #41478
I did the upgrade and took sometime to find that vera integration was the issue, as other said it was doubles.
I deleted the integration and restarted HA, then added the integration and all was back on without me updating lovelace or entities.

[2020-10-12 01:05] redoxf commented on #40005
I think I found a workaround by :
1  backup the deConz configuration.
2  reset  the gateway,
3 delete the integration
4 uninstalling the deConz add-on ( basically starting from scratch)
5 restart the home assistant
6 installing back the deConz add-on, when you log in it should prompt you with a empty gateway with no device.
7 now you can load back your deConz configuration.
8 in the integrations p

[2020-10-12 01:54] tdejneka commented on #37570
There months later, the problem still exists in version 0.116.

A re-enabled entity doesn't get its original name back and remains as `Unavailable` even if its respective Reload service is executed. Requires a full restart to fix.

[2020-10-12 02:03] bigcookie opened #41698 "Aqara multi sensor added as entities but no sensor values abailable"
Hello,

Today I set up a conbee 2 zigbee stick together with HA.
Situation:
Aqara multi sensor paired with conbee 2. sensor is shown in phoscon app and reads plus updates readings.
Added Deconz integration in HA and manually added the gateway via ip address abdnon standard port.
Devices and entities are discovered and multi sensor is shown in HA, but it states that the entities are not connected a

[2020-10-12 02:07] hktkzyx opened #41690 "Unexpected warning of automation"
## The problem

I create a temperature and humidity sensor based on esp8266. To save the power, I would like to activate the deep sleep when the home-assistant receive the temperature data via MQTT. The automation is triggered by the MQTT and then publish a MQTT topic and the sensor will go to deep sleep when it receives the topic.

The problem is that I always get "Already running" warnings. The

[2020-10-12 02:20] meichthys commented on #41666
There was an issue pre 0.115 that was causing an issue like you were seeing (see #40122), but after 0.115, the issue seems to be resolved for me. @mwunderling Has the issue been fixed for you since 0.115? If not, we may need to do some triaging to find out what the common denominator is between the failing systems that are running the nextcloud component.

[2020-10-12 02:25] bagobones opened #41691 "Synology DSM No camera streams working SYNO.SurveillanceStation.Camera 'code': 400, 'reason': 'Execution failed'"
## The problem

I migrated my cameras over to the new Synology DSM integration, it worked on a few cameras unreliably but now it is just tossing errors. always. The cameras are found and show previews but clicking on them fails to load a stream.

## Environment

arch | x86_64
-- | --
dev | false
docker | true
hassio | false
installation_type | Home Assistant Container
os_name | Linux
os_version |

[2020-10-12 02:41] stboch commented on #41579
Camera is a RLC-410-5MP I tried editing the stream settings on the camera side to see if I can bring them down to a workable level.
The lowest resolutions, and max bandwidth did not get it to function also disabled audio and still non-functional.

both camera feeds have a low-res version and both these feeds work fine, btw so it is not a camera stream issue between those two things.

Let me know i

[2020-10-12 02:49] dmonego commented on #40899
Hi! I've put in a pull request to fix this. The tests converted easily, with the async functions used instead of the non-async, and mocks moved into a using block instead of a decorator.

[2020-10-12 03:08] uvjustin commented on #41579
@stboch One more thing you can try is to change `MIN_SEGMENT_DURATION` to something less than 1 (say 0.9) here: https://github.com/home-assistant/core/blob/f787289ea0e00c4dfa73ebba81d7367dcc726b8e/homeassistant/components/stream/const.py#L19 .
The old versions used a segment duration of 1 which is not optimal but might use less memory.

[2020-10-12 03:12] chrisgramberg678 commented on #40845
Hello, I'm looking at picking this up.

[2020-10-12 03:12] PlasmaEye commented on #37762
As this problem occurs after 0.112, I think the ARWN integration should be marked as stale/dead. I've moved to publishing to MQTT as that is what this integration is essentially doing.

[2020-10-12 03:15] tmchow commented on #36691
This is still an issue. Keep open.

[2020-10-12 03:28] stboch commented on #41579
Not sure if the issue is the resolution, while the codec is getting the videos to play the final resolutions from the video are still well into and above the 4k range. not sure if there is any way to force the size scale down? not sure if this is it, as the min_segment didn't work.
I don't know enough about the chromecast to know if it supposed built in downscale.

[2020-10-12 03:31] quach128 commented on #41230
I have the same issue with my Hass.IO - running 0.116.0

Only noticed it after my Hass.IO instance began to reboot itself for no reason once every 1 - 2 days ..

My log is filled with these types of errors:

2020-10-11 14:51:51 WARNING (SyncWorker_0) [homeassistant.components.efergy.sensor] Could not update status for Energy Usage
2020-10-11 14:51:59 ERROR (MainThread) [homeassistant.helpers.entit

[2020-10-12 03:44] nicolasbisi commented on #41582
Thanks for the help. I'll close the ticket since it seems this is the expected behaviour and there is an alternative to my initial code.

[2020-10-12 03:44] #41582 closed

[2020-10-12 03:52] uvjustin commented on #41579
Given as you had the stream working previously, the player *should* be able to handle the codec/resolution, as that hasn't changed. But yes, your stream is probably close to the limits of the device (and the real codec profile given by the camera is above that supported by the chromecast) and maybe the changes we made were just enough to make it not work. Can you try rolling back and confirming th

[2020-10-12 04:07] matejdro commented on #30124
anti-stale

[2020-10-12 04:30] nicolasbisi opened #41696 "Tensorlow makes home assistant restart"
## The problem

Having TensorFlow checking the images from my cameras make the system randomly restart.

## Environment

- Home Assistant Core release with the issue: First time I tested was on 0.115 (maybe even 0.114)
- Last working Home Assistant Core release (if known):  -
- Operating environment (OS/Container/Supervised/Core):  HassOS 4.13
- Integration causing this issue: Tensorflow
- Link to

[2020-10-12 04:32] rschuiling commented on #40450
The solution sounds most reasonable. If I had development skills, I would create a PR. Is there anything we can do to change your mind about creating that PR? As it is now, some of us seem to be stuck with an unavailable Kodi media player after almost every restart.

[2020-10-12 04:35] ehn commented on #37809
It's hard to say whether the issue is solved. Something caused the IKEA TRÅDFRI integration to be rediscovered. It hasn't happened again, but I have no way of knowing whether that's because the issue has been fixed or because whatever condition triggered it hasn't happened again.

[2020-10-12 05:08] #37564 closed

[2020-10-12 05:08] #37281 closed

[2020-10-12 05:08] #33459 closed

[2020-10-12 05:08] #37058 closed

[2020-10-12 05:08] #37084 closed

[2020-10-12 05:08] #37068 closed

[2020-10-12 05:08] #37102 closed

[2020-10-12 05:08] #36994 closed

[2020-10-12 05:08] #36738 closed

[2020-10-12 05:08] #26779 closed

[2020-10-12 05:08] #31542 closed

[2020-10-12 05:08] #35958 closed

[2020-10-12 05:24] BeardedTinker commented on #41579
I can confirm that #41592 fixes this for me on Google Home Display and Google Chromecast devices for Reolink RLC-410-5M and RLC-520 cameras, using Synology DSM interation, reolink custom component, generic and ffmpeg integration. All are currently tested and working with sub stream (lower resolution).
After I get back home from work I'll try main stream with higher resolution and with audio.

[2020-10-12 05:47] KrzysztofHajdamowicz commented on #14386
That's a very clever workaround! IMO that's should be included in integration itself so this issue will be solved.

[2020-10-12 05:54] tynor88 commented on #14386
The automation solution provided earlier is much more simple and works well.

On Sun, 11 Oct 2020, 22:56 mp68, <notifications@github.com> wrote:

[2020-10-12 05:58] FaserF commented on #40657
Issue persists with 0.116.2
Maybe useful log details:

`
Logger: homeassistant
Source: components/luci/device_tracker.py:91
First occurred: October 10, 2020, 1:11:37 AM (13074 occurrences)
Last logged: 7:58:24 AM

Error doing job: Task exception was never retrieved
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/site-packages/urllib3/connection.py", line 159, in _new_conn
    c

[2020-10-12 06:07] #37165 closed

[2020-10-12 06:07] #37168 closed

[2020-10-12 06:08] #30222 closed

[2020-10-12 06:08] #37170 closed

[2020-10-12 06:08] #36681 closed

[2020-10-12 06:08] #37202 closed

[2020-10-12 06:08] #37197 closed

[2020-10-12 06:08] #37196 closed

[2020-10-12 06:08] #33413 closed

[2020-10-12 06:08] #36977 closed

[2020-10-12 06:08] #33389 closed

[2020-10-12 06:08] #37204 closed

[2020-10-12 06:08] #30025 closed

[2020-10-12 06:08] #37144 closed

[2020-10-12 06:08] #36534 closed

[2020-10-12 06:08] #37047 closed

[2020-10-12 06:08] #32095 closed

[2020-10-12 06:08] #37122 closed

[2020-10-12 06:08] #35247 closed

[2020-10-12 06:08] #34285 closed

[2020-10-12 06:08] #36109 closed

[2020-10-12 06:08] #32293 closed

[2020-10-12 06:08] #37259 closed

[2020-10-12 06:08] #36390 closed

[2020-10-12 06:08] #35580 closed

[2020-10-12 06:08] #36916 closed

[2020-10-12 06:08] #36083 closed

[2020-10-12 06:08] #35045 closed

[2020-10-12 06:08] #37354 closed

[2020-10-12 06:08] #33416 closed

[2020-10-12 06:10] OleksandrBerchenko commented on #37673
Yes, it's still actual.

[2020-10-12 06:33] Joikast commented on #41660
Tried to add all the available encryptions on the Cisco device, still no luck.

device#show ip ssh
SSH Enabled - version 2.0
Authentication methods:publickey,keyboard-interactive,password
Authentication Publickey Algorithms:x509v3-ssh-rsa,ssh-rsa
Hostkey Algorithms:x509v3-ssh-rsa,ssh-rsa
Encryption Algorithms:3des-cbc,aes128-cbc,aes128-ctr,aes192-cbc,aes192-ctr,aes256-cbc,aes256-ctr
MAC Algorithms

[2020-10-12 06:37] spacegaier commented on #40578
`speedtestdotnet` can now also receive the checkmark, since related PR #41139 has been merged.

[2020-10-12 06:39] danielo515 commented on #34813
How do you increase the scan interval. is scan_interval supported? I set it up to 90 and it still says 12 seconds as interval

[2020-10-12 06:49] herveaurel commented on #41315
What is the solution ? Forced to remove the integration!

[2020-10-12 06:49] GuruPG commented on #24327
Still an open issue.

[2020-10-12 06:50] GuruPG commented on #28473
Still an open issue.

[2020-10-12 07:17] legolas0802 commented on #34813
interval_seconds: 30

[2020-10-12 07:18] tigattack commented on #37654
That didn't solve the issue.

[2020-10-12 07:22] sany1231 commented on #40960
after upgrade from 0.115.6 to 0.116.2 i have still this issue.

ERROR (MainThread) [homeassistant.components.netatmo] Error during webhook registration - 400 - Bad request - Allowed ports for webhooks are 443 and 80. (21) when accessing 'https://api.netatmo.com/api/addwebhook'

my netatmo configuration is same since hass in 0.112.x after last update to 0.115.6 neatmo stops working.

[2020-10-12 07:25] MartinHjelmare commented on #40960
This issue is not fixed, so that's expected.

[2020-10-12 07:35] cgtobi commented on #40960
@sany1231 which issue exactly? The webhook has nothing to do with indoor modules (original topic). If this is unrelated to the Netatmo indoor module please open a new issue.

[2020-10-12 07:46] MikeMiki54 commented on #41586
Me to. Just after upgrading to 0.116.2 the problem arose as described. Please help ASAP

[2020-10-12 07:46] demonaxxx commented on #41586
I have to confirm that "old method" of configuration help not for long. After two days start to receive an approval request

[2020-10-12 07:48] gomble commented on #40207
Same issue with the homeconnect integration:

Setup failed for homeconnect: Unable to import component: cannot import name 'UNIT_PERCENTAGE' from 'homeassistant.const' (/usr/src/homeassistant/homeassistant/const.py)

[2020-10-12 07:50] realjax commented on #40612
I agree this needs some attention. The workaround provided by @thiemok works but has it own problems, like stopping after midnight or randomly even..

[2020-10-12 07:54] uvjustin commented on #41579
@BeardedTinker Honestly I'm surprised that @stboch had a 5MP stream working on the older chromecast devices. I wouldn't expect it to work, but it might work on the Nest devices (Those might be limiting their profiles based on their screen size and not on their processing power). For regular chromecast devices you'd think the supported profiles would be fairly indicative of what they are capable of

[2020-10-12 08:05] da-anda commented on #38659
I have the same log spam as @rs443. Logfile is 28 MB by now. KODI device is running 24/7 (RPI3) and I do not use websockets.

[2020-10-12 08:08] marcgarciamarti commented on #36523
hello, I thought that I could provide fresh logs of HA 0.115.x

[code]
I attempted to add the fishy camera on both port 8909 and 9101.

Thanks

[2020-10-12 08:17] KattenJansson1974 commented on #40201
A thougt, I recently started to get this notice in Hass:
_Support for the running Python version 3.7.4 is deprecated and will be removed in the first release after December 7, 2020. Please upgrade Python to 3.8.0 or higher._

Can this be the case, that things are depending on a newer Python version? I can see on the Python homepage that 3.9 is available.

[2020-10-12 08:26] gieljnssns commented on #41422
@IonutNeagu
Thanks, I've changed it

[2020-10-12 08:30] tiagofreire-pt commented on #25047
Now the Alexa app show "Device malfunction", but allows the device control.

[2020-10-12 08:33] arianahl commented on #40877
I can take a look at this

[2020-10-12 08:34] slydiman commented on #41624
The author of yeelight library said that this might be a HA bug.

get_prop works for the device 192.168.3.61, but raise the {'code': -1, 'message': 'client quota exceeded'}  for 192.168.3.64

Here is the debug log
[code]

[2020-10-12 08:41] marvin-w commented on #40768
@mariwing I had the same error and am also using the binary operation modes. At least for me https://github.com/XKNX/xknx/pull/460 will resolve this error with wrongly set operation modes when using binary operation mode.

Feel free to test it and report back in case of any issues.

[2020-10-12 08:47] Jc2k commented on #41674
Thanks for raising this issue. I don't have any HomeKit climate devices so i'm entirely reliant on the community to keep them working so it's really great to get detailed tickets like this.

This is a bunch of seperate issues.

Your primary issue is a dupe of #25218. This is on my backlog when I have some time (unfortunately larger pieces like this I don't have time for that often). The problem is

[2020-10-12 08:48] danielo515 commented on #34813
Oh true, that works. I wonder why it is not documented on the documentation page itself
Thanks

[2020-10-12 08:53] quarcko commented on #41472
Hi,

So i will try to provide you the things you asked for:

ozwcache*.xml - don't know how to get it, as open-zwave now runs in it's own separate container?

copy of the zwcfg*.xml file from the old integration:
https://pastebin.com/DRrxiAij

mqtt-dump: (removed base64 image, to reduce size)
https://pastebin.com/7qJc77Jb

log when triggering instance 1 to ON:
https://pastebin.com/eijxzd22

log wh

[2020-10-12 08:57] legolas0802 commented on #34813
https://www.home-assistant.io/integrations/device_tracker/

[2020-10-12 08:59] bigcookie commented on #41698
I found this line in the Home assistant log:
`2020-10-12 02:00:28 ERROR (MainThread) [pydeconz.websocket] Unexpected error`

Thanks for moving this report into the correct place!!!

[2020-10-12 09:00] Mariusthvdb opened #41701 "SynologyDSM shows all unavailable after a schedule power down/up"
## The problem

After a scheduled power down of the SynologyDSM server, at startup, none of the entities/devices are seen, and all show as 'unavailable'
This has always worked flawlessly, up to at least 115.
Since we cant 'reload' the integration (shouldn't this be available on all core integrations?), all we can do is restart the instance.

## Environment

- Home Assistant Core release with the i

[2020-10-12 09:05] tegvlarivs commented on #37651
I have the same error with the 3H. Has anyone been able to solve the problem?

[2020-10-12 09:06] tristanXme opened #41702 "Nuki Lock stopped working - Timeout"
## The problem
Hello,

the nuki integration just stopped working for me.
In Addition to the official NUKI integration, i use a custom REST API command to get the state of the door (opend /closed). Thats still working. Even calling the Nuki API by browser gives a "valid" response. So there shouldnt be any problem with the nuki bridge in general.

## Environment
Currently Running HASS.IO on a Rapsbe

[2020-10-12 09:06] tristanXme commented on #41071
Did so, sorry for providing not enough information.

https://github.com/home-assistant/core/issues/41702

[2020-10-12 09:06] #41071 closed

[2020-10-12 09:11] mamoel666 commented on #41702
Looks like #41460

[2020-10-12 09:13] punitaojha commented on #40894
@MartinHjelmare I did write the test cases using Pytest style test functions. I also checked the code based on style linters.

I installed the project based on the remote container of vs code approach. I also created a new branch. However, when I try to commit my code, I am facing this issue.
` /usr/bin/env: ‘python3.6’: No such file or directory

[2020-10-12 09:13] pattyland commented on #35958
In  0.116.2 this erros is still occurring!

[2020-10-12 09:13] tristanXme commented on #41702
Oh yes, sorry for that.
Created a Issue for that longer ago but got the information to use the template (sorry for not using it as i'm new to github) but as i was on vacation I did not had time before to do so. Now somebody else already created a (similar) issue.

Old one of me:
https://github.com/home-assistant/core/issues/41071

[2020-10-12 09:29] MartinHjelmare commented on #40894
Try setting your global git config first in your normal environment.

[2020-10-12 09:34] user897943 commented on #34522
Leaving a comment so that this issue isn't closed. There's a ton of chinese cameras with this problem and they will never be fixed if the issue is indeed in the camera's firmware. Daylight savings time is being adjusted correctly in my cameras so I don't understand how the issue can be with them, however the maintainer of this integration says so. If this is the case can the maintainer provide a f

[2020-10-12 09:38] danielo515 commented on #34813
OK, my confusion comes from the fact that Nmap tracker is on a different documentation page and, if I recall correctly, does not link to the generic tracker or specify that you can use the same props. I'll check it again incase I misread something.
Thanks again

[2020-10-12 09:40] danielo515 commented on #34813
They are properly linked. Stupid me

[2020-10-12 09:59] mbarnes106 commented on #41416
Just to advise same issue here. Updated HA and synology stopped working. I had Surveillance centre running but no cameras. Shut down SC, restarted HA and working now.

Thanks

[2020-10-12 10:06] sycx2 commented on #40899
@dmonego
I made a pr 10 days ago (#41098). You can see it above your comment.
So it's a possible duplicate although I don't really know about best practices, e.g. if a decorator is more readable/useful than a with block.

[2020-10-12 10:08] #35258 closed

[2020-10-12 10:08] #35359 closed

[2020-10-12 10:08] #36421 closed

[2020-10-12 10:08] #33562 closed

[2020-10-12 10:08] #36618 closed

[2020-10-12 10:08] #37389 closed

[2020-10-12 10:08] #37402 closed

[2020-10-12 10:08] #34713 closed

[2020-10-12 10:08] #34413 closed

[2020-10-12 10:08] #33270 closed

[2020-10-12 10:08] #35747 closed

[2020-10-12 10:08] #37307 closed

[2020-10-12 10:08] #37444 closed

[2020-10-12 10:08] #36125 closed

[2020-10-12 10:08] #37326 closed

[2020-10-12 10:08] #37158 closed

[2020-10-12 10:08] #37243 closed

[2020-10-12 10:08] #32300 closed

[2020-10-12 10:08] #37291 closed

[2020-10-12 10:08] #36819 closed

[2020-10-12 10:08] #37092 closed

[2020-10-12 10:08] #36367 closed

[2020-10-12 10:08] #35296 closed

[2020-10-12 10:09] Veldkornet commented on #36316
Still happens on 0.116.2

[2020-10-12 10:17] dennisbrouwer91 opened #41707 "Snapshot upload not working"
## The problem
I woud like to migrate my Hass installation to a new VM, so i made a snapshot, downloaded that one and now trying to restore it on the new VM. I can select the upload option, select the file, but after a while it gives back a 502 Bad Gateway error.

## Environment
Latest and greatest version of HassOS OVA (4.13)

- Operating environment (OS/Container/Supervised/Core): OS

## Problem

[2020-10-12 10:20] logan893 opened #41708 "Configuration > Scenes, abnormal Cast action executed when exiting a new scene without saving"
## The problem
Open Scene creation form and add a Chromecast device, then exit before saving. If the device is active (in my case playing music from Spotify to a Google Home Speaker Group, started via voice command to a Google Assistant speaker) the device will be changed to "Default Media Receiver", and all music stops including for every other speaker in the group.

## Environment
- Home Assista

[2020-10-12 10:29] hellcry37 commented on #41563
this doesn't manifest for me in 0.116.2, i think you can close it

[2020-10-12 10:38] mp68 commented on #14386
I agree that the other solution is much more simple. However it does not work under all conditions. So consider my solution as the solution of last resort ;-)

[2020-10-12 10:45] balloob commented on #41690
As per your logs, you're getting two values 1 second apart but your automation takes at least 6 seconds to execute (delays). The 2nd value will hit the error that the automation is still running.

For support with writing automations, please use the forums or chat.

[2020-10-12 10:45] #41690 closed

[2020-10-12 10:51] sany1231 commented on #40960
i was reacting on @ondoteam post, he has similar issue. But no problem, i will open new issue

[2020-10-12 10:56] bigboban commented on #40960
I wrote twice to Netatmo support. Without any reaction. I think it is broken forever.. Look at IFTTT. Netatmo has no income from API but servers and all this stuff is expensive. I think they switched it off and it will never be online again..

[2020-10-12 10:59] hugodejong commented on #41615
@springstan Isn't that what I just did?

Did some digging into the error. This is the part where things go wrong:

`def get_api_version(message):
    """Get API version of Dialogflow message."""
    if message.get("id") is not None:
        return V1
    if message.get("responseId") is not None:
        return V2

async def async_handle_message(hass, message):
    """Handle a DialogFlow message.""

[2020-10-12 11:05] sany1231 commented on #40699
Same issue here but no luck with solving it.
After one of my upgrades to 0.115.6 i no longer see data from netatmo in home-assistant.
Some users recomended me to upgrade further to 0.116.2 but still not working.

ERROR (MainThread) [homeassistant.components.netatmo] Error during webhook registration - 400 - Bad request - Allowed ports for webhooks are 443 and 80. (21) when accessing 'https://api.n

[2020-10-12 11:07] springstan commented on #41615
Well mostly, you did not fill out the Environment section. I will add it back to your issue so you can fill it out.

[2020-10-12 11:11] timmo001 commented on #41579
@stboch Mostly defaults. Bitrate 6144 kbps, High H.264 profile 2560x1920

Working with main feed on nest hub with #41592 fix

[2020-10-12 11:11] hugodejong commented on #41615
I see, my bad. I edited my first message, the information is all there now.

[2020-10-12 11:19] Leon99 commented on #37027
The issue hasn't been resolved.
@andrewsayre can you please respond?

[2020-10-12 11:22] cgtobi commented on #40699
Apart from the error about the webhook being reported do you have any functional issues with the integration?

[2020-10-12 11:22] Verguldebarman opened #41710 "binary_sensor ping struct.error: unpack requires a buffer of 4 bytes"
## The problem
I receive a reoccuring traceback with binary sensor using ping component.

## Environment

- Home Assistant Core release with the issue: 0.115.6
- Last working Home Assistant Core release (if known): n/a
- Operating environment (OS/Container/Supervised/Core):  HassOS 4.13
- Integration causing this issue:  ping
- Link to integration documentation on our website:  [https://www.home-a

[2020-10-12 11:22] OnFreund commented on #40450
@rschuiling someone else will have to pick this up. In any case, there's still the challenge that @bdraco mentioned above that I don't know how to resolve.

[2020-10-12 11:33] cgtobi commented on #40960
@bigboban Not quite sure if I follow. Would you mind to explain the issue again? Because I can't see anything relevant in the error log you posted.

[2020-10-12 11:36] springstan commented on #41707
@ludeeus could you please move this to the supervisor repo? Thanks 😊

[2020-10-12 11:37] dennisbrouwer91 commented on #41707
Sorry for posting it in the wrong one @springstan

[2020-10-12 11:37] punitaojha commented on #40894
This is already set for me in both normal environment and dev container environment.

[2020-10-12 11:38] springstan commented on #41707
No worries 😄

[2020-10-12 11:40] punitaojha commented on #40894
Is there something like git hooks in the project which I need to set?

[2020-10-12 11:42] kit-klein commented on #41678
This can be assigned to me

[2020-10-12 11:47] Petro31 commented on #40690
@mkanet state_attr's return None, not unkown.  unknown only comes from main states.

[2020-10-12 11:49] arianahl commented on #40877
Done in #41711

[2020-10-12 11:52] sany1231 commented on #40699
I see no data from my modules in hass so i suppose, that is functiuonal issue, because all my outdoor automations base on temp/humid sensors from outside unit are not functional. Same automation problem with temperature regulation in room where is placed indoor module.

But i see all data on netatmo page.

And only error i see in log is that 443 webhook

[2020-10-12 11:53] bigboban commented on #40960
Yes, there is nothing relevant in my log. Strange but nothing. But you sent Netatmo disclaimer here and there is lot of people with broken Netatmo integration from ~ same time. And Netatmo support ignores my questions..

[2020-10-12 11:55] cgtobi commented on #40960
Ok, but I still don't understand what isn't working as expected.

[2020-10-12 11:58] cgtobi commented on #40699
Please go to the configuration panel and navigate to you netatmo devices. Check all of them there if the individual entities do contain anything or all report unavaiblable for example. A (few) screenshot(s) could help maybe.

[2020-10-12 11:59] bigboban commented on #40960
As posted in first post - "All indoor sensors unavailable.".

But now Netatmo public also broken..

[2020-10-12 12:10] drthanwho opened #41712 "SSH pubkey: invalid format"
## The problem

I just noticed in the Core logs (that you find under System tab in the supervisor panel) this error showing up that my ssh key is invalid. However, the error doesn't appear in the normal HA logs.

But, even though the error shows up ssh still works fine since I have ssh sensors that are still working and also using ssh from a terminal within HA to connect to that pi works fine apar

[2020-10-12 12:13] MartinHjelmare commented on #40894
We do use [pre-commit](https://pre-commit.com/). But I don't think that should be a problem.

I just tried using the dev container on Ubuntu 20.04 and Python 3.8 and that didn't present problems when committing. I didn't need to set anything up after launching the container, besides selecting Python environment. I already had my global git config set and available.

[2020-10-12 12:19] sany1231 commented on #40699
Sorry i did not mentioned, that after upgrade to 0.115.6 i had all entities unavailable, so i did what someone suggested to do, i removed netatmo integration, i created new netatmo dev app (key, secret) and add new integration with new keys into hass. But now i see no device and no entities at all.

#  netatmo configuration and netatmo integration
![hass-netatmo2](https://user-images.githubusercon

[2020-10-12 12:25] cgtobi commented on #40699
I'd suggest to run the [self test script](https://gist.github.com/cgtobi/5601aa88efba2cce30a98aeae50582a2) with those new set of keys to check what's actually returned by the back end.

[2020-10-12 12:25] cgtobi commented on #40960
Please go to the configuration panel and navigate to you netatmo devices. Check all of them there if the individual entities do contain anything or all report unavaiblable for example. A (few) screenshot(s) could help maybe.

[2020-10-12 12:28] t0bse commented on #40411
FYI:

https://www.facebook.com/groups/ShellyIoTCommunitySupport/permalink/3197191990380143/

![image](https://user-images.githubusercontent.com/45834518/95746391-00538280-0c97-11eb-93c0-3c0c07929251.png)
![image](https://user-images.githubusercontent.com/45834518/95746406-06496380-0c97-11eb-9da8-612f2b09fc30.png)

i will install this fix and will report here :)

[2020-10-12 12:30] bigboban commented on #40960
All entities under Netatmo integration has "red circle icon" (Restored). I have indoor, outdoor and public entities here. Indoor values  in my Android phone are ok so integration My-indoor-station->Netatmo servers is ok.

[2020-10-12 12:38] quarcko commented on #41472
So manager to get the cache from openzwave addon (from backup):
`			<CommandClass id="37" name="COMMAND_CLASS_SWITCH_BINARY">
				<Compatibility />
				<State>
					<CCVersion>1</CCVersion>
					<InNif>true</InNif>
					<StaticRequests>1</StaticRequests>
				</State>
				<Instance index="1" endpoint="1" />
				<Instance index="2" endpoint="2" />
				<Instance index="3" endpoint="3" />
				<Value t

[2020-10-12 12:39] alundstroem commented on #40411
@t0bse: how do you install/upgrade a Shelly manually?

[2020-10-12 12:40] tristanXme commented on #41315
Same here, getting notifications that a new device logged in. Didn't happen with 0.115.6

[2020-10-12 12:44] energywave commented on #41281
I don't know if the entities are missing from the history api response. How can I check that? Can I trace that with the browser dev tools? At the moment I cannot test it as I restarted Home Assistant yesterday so I have an event in the DB, thus I can now see all the entities in my history-graph. In less than three days I can test it again, if it's useful to correct it. Just tell me what I have to

[2020-10-12 12:48] cgtobi commented on #40960
I'd suggest to run the [self test script](https://gist.github.com/cgtobi/5601aa88efba2cce30a98aeae50582a2) with those new set of keys to check what's actually returned by the back end. Feel free to contact me on Discord or the forums if the response contains sensible information.

[2020-10-12 12:57] t0bse commented on #40411
http://shellyip/ota?url=http://provided-url-of-ota-update

not tested yet.

[2020-10-12 12:58] bigboban commented on #40960
Output from test script:

[code]

[2020-10-12 13:03] alundstroem commented on #40411
Ah, great - I'll just wait for you to report back then ^^

(I cannot test it at the moment, regardless)

I found https://shelly-api-docs.shelly.cloud/, for future reference

[2020-10-12 13:04] iddora commented on #40411
I have just installed the FW on one of my shelly2.5 devices and it seems stable.
I will let it run for a few hours and report back

[2020-10-12 13:06] ehn commented on #41315
It would seem this issue is a duplicate of #36120. Then again, it seems a lot more people are experiencing this since the 0.116 release.

[2020-10-12 13:07] #41563 closed

[2020-10-12 13:08] ehn commented on #41315
Not sure if it helps with debugging this, but since this started, I get an email from Apple with the subject "Your Apple ID was used to sign in to iCloud via a web browser." roughly once a day. The device mentioned in the email is clearly Home Assistant. But this happens far from every time I get a notification.

[2020-10-12 13:09] bigboban commented on #40960
WOW. If I open Netatmo dev page here https://dev.netatmo.com/ i receive only blank page.

I think this is broken on Netatmo side and as i write above i think **it is intention.**

I think it will never be fixed..

[2020-10-12 13:10] alundstroem commented on #40411
Just a thought... I trust/hope that the Shelly will discover/upgrade as per usual when there is an official/new version ... like for example 1.9.*

[2020-10-12 13:11] tristanXme commented on #41315
Exactly the same behaviour here.

[2020-10-12 13:11] t0bse commented on #40411
update should be released in 2-3 weeks, like dimitar said

[2020-10-12 13:12] iddora commented on #40411
There is an API call you need to run to force it to update from the default URL.

[2020-10-12 13:13] cgtobi commented on #40960
I just ran all this in a sandboxed environment and it worked fine. This was on linux though. I never ran this on Windows.

[2020-10-12 13:14] alundstroem commented on #40411
Yes, I read that as well... I just wondered if the Shelly would discover it automatically as per usual... if the Shelly/device in question was updated with this hotfix

[2020-10-12 13:15] alundstroem commented on #40411
Ah, so you mean that if I upgrade my Shelly through the API (/ota?url=...) to get the hotfix I then need to update manually to the latest stable release to get it back on track?

[2020-10-12 13:15] iddora commented on #40411
The updated device just became unavailable for 5 seconds and then became available again 👎

[2020-10-12 13:18] ottelo9 commented on #38963
How can I see if this fix 40668 is inside the actual HA version?

[2020-10-12 13:21] sany1231 commented on #40699
I used another solution for testing netatmo api because yours were showing this error

`Traceback (most recent call last):
  File "gen_test_data.py", line 6, in <module>
    import pyatmo  # for version >=3.2.0
  File "/usr/local/lib/python3.5/dist-packages/pyatmo/__init__.py", line 1, in <module>
    from .auth import ClientAuth, NetatmoOAuth2
  File "/usr/local/lib/python3.5/dist-packages/pyatmo

[2020-10-12 13:22] tdejneka commented on #41653
I see your point and I have encountered the same limitation. To be fair, this is probably an unforeseen side-effect of the enhancement permitting the use of an input_datetime with a Time Trigger. The enhancement is useful but the associated Trigger State Object can't do much with it.

Historically, the Trigger State Object for a [Time Trigger](https://www.home-assistant.io/docs/automation/templati

[2020-10-12 13:22] mamoel666 commented on #41460
The Nuki bridge lock shows me, that with every HA restart (and therefore the integration trying to reconnect) my Nuki bridge does a WiFi reset?

`{"timestamp": "2020-10-09T16:56:42+00:00", "type": "HTTP-Log"},
{"timestamp": "2020-10-09T16:56:07+00:00", "type": "SSE-PushNukisResponse"},
{"timestamp": "2020-10-09T16:56:07+00:00", "type": "SSE-PushNukisRequest", "count": 1},
{"timestamp": "2020-10-09

[2020-10-12 13:22] iddora commented on #40411
Yes. You should use (/ota?update=true)

[2020-10-12 13:23] derrey commented on #41586
Same issue. Entire family getting alerts.

[2020-10-12 13:23] chemelli74 commented on #40411
Please check with a continuous ping as latest hotfix is for WI-FI disconnect.
Integration issue is expected to be something else.

Simone

[2020-10-12 13:23] cgtobi commented on #40699
The error occurs because the python version is not supported anymore by pyatmo. Please use 3.7 or newer.

[2020-10-12 13:24] dodg3r commented on #40960
I think there is still problem with netatmo site.

https://forum.netatmo.com/viewtopic.php?f=5&t=18798

[2020-10-12 13:30] bigboban commented on #40960
I run test script on Ubuntu 20 WSL and... it works! Netatmo indoor module values tested OK.

But what to do now? Remove and re-insert integration in HA?

[2020-10-12 13:30] cgtobi commented on #40960
That would be a start.

[2020-10-12 13:39] iddora commented on #40411
Device has became unavailable for 5 seconds (it's always exactly 5 seconds!) between 16:34:51 and 15:34:56

Here are the ping results from the host that runs HA to the Shelly device:

Mon Oct 12 16:34:47 +03 2020: 64 bytes from 10.0.0.207: icmp_seq=339 ttl=255 time=90.5 ms
Mon Oct 12 16:34:48 +03 2020: 64 bytes from 10.0.0.207: icmp_seq=340 ttl=255 time=32.8 ms
Mon Oct 12 16:34:49 +03 2020: 64 byt

[2020-10-12 13:40] bdraco commented on #41281
Yes or call the api manually https://developers.home-assistant.io/docs/api/rest/#get-apihistoryperiodtimestamp

Its probably easier to watch the network panel in the browser tools

[2020-10-12 13:40] CurrentThread commented on #40884
see #41715

[2020-10-12 13:41] bdraco commented on #40450
@OnFreund

`hass.bus.async_listen_once(EVENT_HOMEASSISTANT_STARTED, _start_websocket)`

[2020-10-12 13:46] Adminiuga commented on #38314
credits for finding and fixing this bug are really for @ abmantis

[2020-10-12 13:47] sany1231 commented on #40699
I did my own script based on netatmo API and everything is working as should.

`{'beg_time': 1601546400, 'value': [[23.3], [23.1], [23.5], [23.9], [23.7], [23.3], [22.1], [22.2], [22.1], [22.1], [21.9], [21.6]], 'step_time': 86400}`

This is my room temerature in 1day scale.
I used my ID & SECRET -> generate ACCESS_TOKEN -> then any reqeust from API is working.

So what is next move ?

[2020-10-12 13:48] Adminiuga commented on #38314
If with 0.116.x any of the devices still comes up as unk_model & unk_manufacturer after HA restart, then this device should be removed from ZHA and re-paired again -- one last time

[2020-10-12 13:58] cgtobi commented on #40699
Is your script using pyatmo?

[2020-10-12 14:04] apedance commented on #40577
@SaturnusDJ
Hello!
I will give it a try.
I moved all my device tracking to the iphonedetect component which is working fine. (https://github.com/mudape/iphonedetect)

[2020-10-12 14:11] bmf7777 opened #41718 "Netatmo worked briefly after 0.116.2 fix ... now sensors are "unavailable""
## The problem

a fix for netatmo integration was released with version 0.116.2 ... integration worked after fix, however a few days later after some restarts (for other development) ... netatmo sensors are showing "unavailable" (see trackback below)

## Environment

arch | x86_64
-- | --
dev | false
docker | false
hassio | false
installation_type | Home Assistant Core
os_name | Linux
os_version |

[2020-10-12 14:13] scheric commented on #40578
**`Ambiclimate`, `Dexcom`, `Rfxtrx`, `sharkiq`, `Smappee`, `VIZIO`, `Withings`**
Use`"already_configured_account":` or `"already_configured_device":`
the rest (132 intergrations) use `"already_configured":`
Should `"already_configured_account":` and `"already_configured_device":` be replaced by  `"already_configured":` in these intergrations?

[2020-10-12 14:22] townsmcp commented on #41315
Lol same for me. Except I thought my account had been breached so I changed Apple ID password but kept getting the pop ups and emails

[2020-10-12 14:23] iddora commented on #40411
@alundstroem I was wrong... when looking at the shelly app it shows me that there is a pending firmware update to the latest version.

[2020-10-12 14:23] galex80 commented on #38963
@ottelo9 If i remember correctly, it was part of release 0.116.1. Since there, for me it works without any issues

[2020-10-12 14:33] sany1231 commented on #40699
No, i am using only python request lib

[2020-10-12 14:36] Od1waN commented on #41646
Hey i have the same Problem.

## The problem
 Netatmo isn't working with 116.2

## Environment

- Home Assistant Core release with the issue: 0.116.2
- Last working Home Assistant Core release (if known): 0.116.0
- Operating environment (OS/Container/Supervised/Core): HassOS 4.13
- Integration causing this issue: Netatmo
- Link to integration documentation on our website:

## Problem-relevant `con

[2020-10-12 14:44] seanharsh commented on #41586
Had to shut mine down. Even with a fresh docker container of HA, get the 2mfa only after a couple of days. Nothing in HA logs/debug indicating there is any issue on it's side.

[2020-10-12 14:47] cgtobi commented on #40699
In that case this is not much use for me.

[2020-10-12 14:49] gtrabanco commented on #41586
This issue is relative to [pyiCloud](https://github.com/picklepete/pyicloud) library. You can see the report here: https://github.com/picklepete/pyicloud/issues/307

Is not an issue from home assistant it is an issue that affect home assistant integration. To solve this problem we must wait for a fix in pyiCloud and update it in home assistant which I suppose should be done by home assistant team.

[2020-10-12 14:50] numchucksoe commented on #38026
Yes I can test it here.
Thanks,
CB

From: Joe Trabulsy <notifications@github.com>
Reply-To: home-assistant/core <reply@reply.github.com>
Date: Saturday, October 10, 2020 at 7:07 PM
To: home-assistant/core <core@noreply.github.com>
Cc: "Buchanan, Charlie B" <charlie.buchanan@charter.com>, Mention <mention@noreply.github.com>
Subject: [EXTERNAL] Re: [home-assistant/core] vesync - (#38026)

CAUTION:

[2020-10-12 15:00] niemyjski opened #41721 "Reconfigure Integration gets triggered multiple times due to an error."
## The problem

I setup the air visual platform via the ui a while back and I noticed with the latest 0.116.x releases I'm getting errors in the logs but also asked to reconfigure many many many times the same integration. If I reconfigure one, they all stay there and one gets removed. It keeps coming back saying I need to reconfigure every few hours.
![Screen Shot 2020-10-12 at 9 53 14 AM](https:

[2020-10-12 15:03] punitaojha commented on #40894
Hello @MartinHjelmare, I did resolve this. I was able to commit. I created a pull request. Please review. Thanks for the opportunity. It was great contributing on this project. I learned lot of new things.

[2020-10-12 15:09] Pirol62 commented on #41718
I already restarted. No sensors available:
116.2
Error logs:
[code]
and
[code]

[2020-10-12 15:17] #40908 closed

[2020-10-12 15:19] stboch commented on #41579
@timmo001 Do you have the rotation issue?
I just tested the high stream on my Nest Hub, (just hadn't tested there to date) it is working on this device.
still waiting rolling back my dev instance.
I think we can close this issue with the PR that was approved I will work to see if I can find some tweaks that will get the high stream to properly downscale for the chromecast.

[2020-10-12 15:27] timmo001 commented on #41579
Yes I've detailed it here:

https://github.com/home-assistant/core/issues/36290#issuecomment-706729469

I think this will be a cast of scaling the stream down based on device:

https://developers.google.com/cast/docs/media#video_codecs

[2020-10-12 15:45] dudu631 commented on #37474
Problem still present on release 0.116.2.

[2020-10-12 15:47] JustMaier commented on #38026
I can test it as well, it's just a matter of adding to the `custom_compontents` directory to override the built-in component, correct?

[2020-10-12 16:03] mwunderling commented on #41666
@meichthys -- Still on 0.115.6, working great since 0.115.3 fix. Will probably bump up to 0.116.x this week some time. Can follow up when I do.

[2020-10-12 16:21] stboch commented on #36290
@timmo001 When I play the lower resolution video I get the correct rotation is this something you experience as well _substream

[2020-10-12 16:23] Pirol62 opened #41723 "cloud.remoteConnect gives an error at startup"
##
 service: service: cloud.remote_connect gives an error in logs even it seems to work

## Environment

arch | armv7l
-- | --
chassis | embedded
dev | false
docker | true
docker_version | 19.03.5
hassio | true
host_os | HassOS 3.11
installation_type | Home Assistant OS
os_name | Linux
os_version | 4.19.93-v7
python_version | 3.8.5
supervisor | 247
timezone | Europe/Berlin
version | 0.116.2
virtua

[2020-10-12 16:28] Pirol62 commented on #41723
I'm not sure: can it be a follow up of this error?
[code]

[2020-10-12 16:28] XSebastiaan commented on #40411
since i do not see a quick fix for this.
how can i add the shelly devices by using MQTT instead of the integration?
Mosquitto is already running for when i was using Domoticz.

hoping that by MQTT this issue is not available.

[2020-10-12 16:31] Pirol62 commented on #41718
Just found out, that there are 2 following errors which might be taken into consideration:
[code]
and then
[code]

[2020-10-12 16:39] dmonego commented on #40899
@sycx2 Looks like it's the same PR, so mine can be closed. Thanks for the tip about the mock library.

[2020-10-12 16:41] bieniu commented on #40411
You can use Shellies Discovery from HACS.

[2020-10-12 16:52] bigcookie commented on #41698
I managed to get this running. I moved from NAT mode to host mode and changed the Ports accordingly in the environmental variables. Now it works.
Sorry for the wrong issue call.

[2020-10-12 16:52] #41698 closed

[2020-10-12 16:58] gilperme commented on #41315
Same issue here, I attempted the fix outlined in #36120 by removing the integration, deleting the .storage files and restarting HA. The constant notifications continue. This is all under 115.6 so I am not sure it's tied to 116 specifically. Interestingly in the logs it shows integration does get updates from iCloud so it doesn't affect functionality just the constant login requests in iOS and MacO

[2020-10-12 17:01] antoineguigan commented on #31372
I don't know if this is the same bug, but I found this:

- create a timer for 00:01:00
- start the timer
- finish the timer at 00:00:30
- restart the timer

expected : you get a new timer that runs for 00:01:00
what happens: the timer expires at 00:00:30, at the exact same time the first timer should have stopped. This doesn't seem to happen if you cancel the timer.

[2020-10-12 17:03] bverkron commented on #41674
Thanks for the very detailed response. Can't fully wrap my head around it because I'm not intimately familiar with all the HA backend stuff you're talking about, but I get the gist that it's not an easy fix.

Here is the `homekit_controller-entity-map` for review.
[homekit_controller-entity-map.txt](https://github.com/home-assistant/core/files/5366419/homekit_controller-entity-map.txt)

I work in

[2020-10-12 17:03] ajmarks commented on #40427
@christcb03 sorry for taking so long to get back to you,  I'm working on the `SharkIqNotAuthedError` now, which I suspect may also underlie the "returning to dock" error.  You should be able to run the python snippet on any python distribution on Linux, Mac, or Windows.  If you're interested in helping (and I would totally appreciate that), the easiest thing might just be to install [Anaconda](htt

[2020-10-12 17:17] stianaske commented on #39378
@Santobert Sorry about the unmerged PR. I'll look into that one right away.

I would also be happy to accept a PR where we change to using OAuth if you guys need that to support additional robots.

[2020-10-12 17:27] membersound opened #41725 "ViCare Vissmann Component error"
## The problem
HA reports misconfiguration of `vicare`, suddenly. It already worked in the past.

## Environment
latest production

- Home Assistant Core release with the issue: 0.116.2
- Last working Home Assistant Core release (if known):
- Operating environment (OS/Container/Supervised/Core): raspberry pi, hassio, supervisor 247
- Integration causing this issue: vicare
- Link to integration doc

[2020-10-12 17:27] MartinHjelmare commented on #40578
Yes, please.

[2020-10-12 17:28] Florian-Schmidt commented on #27251
Not fixed in HA 0.116.2.

[2020-10-12 17:34] breti commented on #30701
Nothing has changed. Public IPs are still not allowed (in homeassistant/components/emulated_hue/hue_api.py).

[2020-10-12 17:46] amirlevy1 commented on #41586
+1 please fix it. the iCloud integration is unusable

[2020-10-12 18:09] timmo001 commented on #36290
Yep, the lower resolution and bitrate seems to solve it. To be honest, playing a 2k res video on a display that doesn't support it was probably a bad idea in the first place :smile:

Is there a place to raise this to Google? Unless we are planning to workaround this somehow with our own implementation of a receiver which I've seen mentioned for media playback.

[2020-10-12 18:09] Kane610 commented on #41683
This is not an integration issue. Please raise an issue with the addon or the supervisor.

[2020-10-12 18:09] #41683 closed

[2020-10-12 18:14] pashdown opened #41726 "Homekit "linked_battery_sensor" value multiplied by 33.33 on Yale Locks"
## The problem
Using "linked_battery_sensor" on Yale Locks (Zwave) results in a 33.33 multiplied increase on Homekit reading.  My Zwave door open/close sensors don't have this problem and report the correct values in Homekit.

## Environment

- Home Assistant Core release with the issue: 0.116.2
- Last working Home Assistant Core release (if known): unknown
- Operating environment (OS/Container/Su

[2020-10-12 18:18] jonare77 commented on #41718
Same error for me, worked at first. Getting token expired as the post above.

[2020-10-12 18:20] Syralist commented on #41725
I have the same problem. When I checked the official app I had to log in again. There seems to have been an update to the app, maybe they changed something in the API?

[2020-10-12 18:20] pashdown commented on #41726
Mysteriously went away after a restart.

[2020-10-12 18:20] #41726 closed

[2020-10-12 18:31] jordy101091 commented on #41718
Same for me, after a restart of home assistant earlier today. All entities where unavailable.
What I did is remove the netatmo integration and tried to reinstall, but Nuba Casa/Hass experiences a time out when waiting for a token every time I tried.

[2020-10-12 18:37] bigboban commented on #40960
My netatmo is back. I did some steps:

- delete netatmo integration
- try to setup back, but not possible at this moment
- uncomment old config.yaml netatmo block (i don't know why it was deleted by me but it is necessary to setup integration)
- uncomment base url in config.yaml (yes i know new UI way is recommended)
- netatmo integration possible now - i did it
- indoor modules changed name - now

[2020-10-12 18:41] valgeirhelgi opened #41728 "HA is unable to log into qBittorent"
Hi.

I'm using the qBittorrent integration in HA. The integration is throwing out errors like the one below.

I'm able to log in to the qBit webui with the same username and pass I'm using for the integration. It had been working but with recent updates to HA it has become unusable. I've tried downgrading qBit, but that isn't either working.

This is has been ongoing through multiple versions of H

[2020-10-12 18:41] SNoof85 commented on #40578
Ehh I did not found the time to to this and I think with the complications I have right now in personal life I won't be able to make a full pass before a while.
Sorry, I won't be able to help more on the topic, good job until now from all pple around here :) I know it will be done great :)

[2020-10-12 18:42] Codelica commented on #36290
FWIW, I'm using 1080P 5 Mbit h.264 primary (aka "clear") streams from Hikvision cameras and a Hikvision NVR to my Google Home Hubs just fine -- proper rotation.  I see other brands mentioned here (Reolink), but as far as Hikvision goes, it seems like it's probably firmware/model/etc dependent.  I'm using the Generic IP camera integration.  Also, probably a long-shot, but Hikvision's do have a "rot

[2020-10-12 19:02] tetienne commented on #41352
Hi all,

So I got an answer from the Somfy support. And the update is not really nice... To sum up the content of the email:

in our opinion (@iMicknl, @vlebourl and myself), the solution to limit the use to UI interactions just means the end of this integration in Home Assistant.

Hopefully, there is one positive sentence in this email:

[2020-10-12 19:06] oywino commented on #40960
That's interesting.
I too noticed that the word "indoor" disappeared from all indoor modules when I upgraded to 0.116.2, but I have no idea why?

[2020-10-12 19:25] elupus commented on #41615
That data does not look anything like: https://developers.google.com/assistant/conversational/df-asdk/reference/dialogflow-webhook-json defined here. Are you sure you really are using dialogflow config?

[2020-10-12 19:26] elupus commented on #41615
Looks more like you are using conversational flow.

[2020-10-12 19:27] tkacikdominik commented on #40839
Done in #41671

[2020-10-12 19:38] MartinHjelmare commented on #40578
Thanks @SNoof85! Great job!

[2020-10-12 19:45] bigboban commented on #40960
I have 116.0 and "indoor" is gone too.

[2020-10-12 19:46] christopheBfr commented on #41352
So, a technical advice we can give to somfy ingenieers, is to implement webhooks to maintain the synchro between HA and Tahoma without polling the Somfy api site each 2 minutes to save CPU / bandwidth consuption... and let us to sparingly change the cover position few times per day... Netatmo and al other companies succeed in doing webhooks , why Somfy (with the help of a python trainee perhaps )

[2020-10-12 19:47] valgeirhelgi commented on #41728
And now it suddenly started to work.

[2020-10-12 19:47] mlitewka commented on #41725
Hi, I don't know the construction of the ViCare feature but I found that Viessmann changed API version from v1 to v2. I'm able to reach actual gas heating parameters via Postman app.

[2020-10-12 19:57] oywino commented on #40960
0.116 is known to have severe Netatmo bugs. You should upgrade to 0.116.2 asap.

[2020-10-12 19:59] sergge1 commented on #37606
@rockzill the same issue. How you fixed it? Please advice

[2020-10-12 20:03] marcob79 commented on #40411
With latest official firmware I'm experiencing a 4% ping lost, while trying to run a long ping session.
I'll try the beta firmware posted to see if it improves the ping stability

[2020-10-12 20:04] iMicknl commented on #41352
To be honest, I have no confidence in Somfy delivering a better API. They are not prioritizing their Somfy Open API at all. They announced HomeKit support in early 2018 and today they only support the Indoor / Outdoor camera via HomeKit.

Hopefully they will allow the event listener 24/7 or add a webhook approach. I am using the new TaHoma integration for a few months and I haven't received the em

[2020-10-12 20:07] membersound commented on #41725
@mlitewka how did you find that out? Maybe you could post links to the api, official documentation to v1 and v2? So we might help migrating the component and find out the relevant parts. Maybe it's just a change in url or query params.

[2020-10-12 20:09] thijsvanbloemendaal commented on #41474
Thanks for your responses!

I have devices using both Android and iOS.
There are no special characters used in the names, only dashes, numbers and letters.

[2020-10-12 20:20] cjoha commented on #41352
Is there a way we can frame this in a positive way for the Somfy engineers? I spoke to them on email today and they seemed positive to engage the community.

If we have an approach which would lessen their API charges or load then surely we should try to make that recommendation. Personally I don’t want to see the integration go away, I call Somfy blinds on a daily basis (sun-rise / sun-set), as w

[2020-10-12 20:28] alex18881 commented on #17569
0.116.0 The same thisn here
Update for alarm_control_panel.xiaomi_shliuz_alarm fails
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity.py", line 278, in async_update_ha_state
    await self.async_device_update()
  File "/usr/src/homeassistant/homeassistant/helpers/entity.py", line 469, in async_device_update
    await self.async_update()  # type: ignore

[2020-10-12 20:30] jscherry commented on #41586
Same issue with the old config method and the integration method. Had to completely remove it. Hopefully there will be a fix soon.

[2020-10-12 20:32] andriej opened #41732 "Generic thermostat does not support temp_step"
## The problem

Generit thermostat platform does not support temp_step which should allow to change desired temperature to values different than standard 0.5 step. I.e. going from 20 to 20.1 instead of 20.5 after one click.

## Environment

- Home Assistant Core release with the issue: 0.116.2
- Last working Home Assistant Core release (if known): n/a
- Operating environment (OS/Container/Supervis

[2020-10-12 20:33] Donokami commented on #33634
Anything new? Do you need help on something?

[2020-10-12 20:36] dvermd commented on #40830
After the commit, the 3 functions `request_config`, `notify_errors` and `request_done` are not covered anymore by the test as they're not async.
The coverage of the test also missed some lines when functions get called with wrong parameters. I left them as they were.

[2020-10-12 20:37] mlitewka commented on #41725
Hey, I dropped a get call to the https://api.viessmann-platform.io/ with my credentials.
Below you can find the response. I can see that **"operational-data" service is in "v2"** right now. Based on it I changed only the api version in the url from PyViCare documentation - https://pypi.org/project/PyViCare/. I'm not sure if exactly this api is used in the HA integration but maybe this is a good tr

[2020-10-12 20:38] a-xin opened #41733 "huawei_lte integration creates duplicate entities"
## The problem

I haven't found a way to reliably reproduce this, but sometimes the huawei_lte integration creates duplicate entities for the connected router, where the original entities get disabled and new entities with the postfix _2 get created. This renders automations on top of the original entities useless. After it happens, I usually delete the integration and recreate it to get the corre

[2020-10-12 20:38] iMicknl commented on #41352
Currently I have seen quite some communication, but no actual steps to reach out to the community. They could also proactively have reached out to some of the developers on GitHub, since almost all of the integrations / libraries add a User Agent.
I am happy to have 'positive' discussions, but it would be good to see any concrete actions from their side :-).

We could have a look if we can only op

[2020-10-12 20:40] jsiemek commented on #41315
It’s not related to 0.116. I had it on 0.115.6.

[2020-10-12 20:44] skrenes commented on #36120
I spoke too soon. It seems that Apple has indeed started rolling out a change to make our lives all miserable. This morning I started getting the notifications frequently (and every time the iCloud integration is used). I think on the HA side, we should at least be able to revalidate without having to delete and then re-add the integration. There may be more changes required by the library that re

[2020-10-12 20:46] rcojr opened #41734 "Use turn_on_action with Android TV component (Mi Box)"
## The problem

In the latest Android 9 update for Mi Box, we can no longer keep the box awake with WakeLock Revamp, this means that when the box is sleeping, it becomes unavailable and we can no longer wake up the box. A turnaround would be to turn it using another service (such as a Harmony IR), the same way we have for Samsung TV component today, and consider it as off instead of unavailable.

[2020-10-12 20:47] Hypfer commented on #41352
I don't think that the engineers are at fault here.
The issue in general, the wording of the initial email and the "open API" which isn't ment to be used as one all have the same `completely detached management` fingerprints all over it.

They're most likely just relaying this nonsense.

[2020-10-12 20:48] cgtobi commented on #40960
@oywino I really wonder where you gained these insights. A few bugs were fixed in 0.116.1 and .2 but IMO this is far from severe bugs.

[2020-10-12 20:59] nls-hffmnn commented on #28601
Thank you @FaserF for your hassio-Addon. That helped me a lot!

After setting everything up I get the same error all the time... with the eq3bt I was able to get data from the devices. Now it is not even able to establish any connection...

Found config file at /share/bt-mqtt-gateway.yaml . Copying it now.
Starting bt-mqtt gateway in normal mode
If there are any bugs occuring below this line, plea

[2020-10-12 21:06] cgtobi commented on #41718
It looks like Netatmo still has some server issues. Or again, who knows.

[2020-10-12 21:07] st3v3nFr commented on #41315
Yep had on 115.6 too. i've tried to move to .116 hoping it will resolve it ^^...my bad.

[2020-10-12 21:07] cgtobi commented on #41646
Netatmo apparently has server issues still/again. Nothing we can do about, sorry. Please be patient.

[2020-10-12 21:38] mbrrg commented on #41143
I could not reproduce this issue on 0.117.0.dev0. Tried with 120 seconds scan interval, calls are made with correct interval.

[2020-10-12 21:39] bdraco commented on #40292
One more that should help with the high number of state change events https://github.com/home-assistant/core/pull/41736

[2020-10-12 21:46] ingcicala commented on #41725
I have the same error

[2020-10-12 21:49] Mariusthvdb commented on #40924
forgot to mention that the errors in the logs are not from NMBS but from the helpers.entity. not sire if it is wise to set that to 'fatal'?

[2020-10-12 21:52] cgtobi commented on #41718
The common thing across many issues on this topic is the use of the cloud link. Apparently Netatmo is having issues with their back end which may cause timeouts. We've contacted them in the hope that this will be fixed soon.

[2020-10-12 21:53] cgtobi commented on #41718
In the meantime I have to suggest to create/use your own individual dev account over at [dev.netatmo.com](dev.netatmo.com).

[2020-10-12 21:54] jordy101091 commented on #41718
But that site for me at least doesn’t load, I only have a blank page even after clearing the cache of safari

[2020-10-12 21:55] cgtobi commented on #41654
A fix is in the making.

[2020-10-12 21:55] cgtobi commented on #41575
A fix is in the making.

[2020-10-12 21:56] cgtobi commented on #41718
Seems to be a regional thing. It works for me currently (Germany).

[2020-10-12 21:58] cgtobi commented on #41646
A fix for the original issue is in the making (waiting for new upstream release).

About the newer issue, the common thing across many issues on this topic is the use of the cloud link. Apparently Netatmo is having issues with their back end which may cause timeouts. We've contacted them in the hope that this will be fixed soon.

[2020-10-12 21:59] cgtobi commented on #40960
@bigboban can this be closed? Is this fixed for you?

[2020-10-12 22:00] cgtobi commented on #35731
The common thing across many issues on this topic is the use of the cloud link. Apparently Netatmo is having issues with their back end which may cause timeouts. We've contacted them in the hope that this will be fixed soon.

In the meantime I have to suggest to create/use your own individual dev account over at [dev.netatmo.com](https://dev.netatmo.com/).

[2020-10-12 22:06] wormuths commented on #41315
Just throwing out that Apple has been making some background changes since iOS 14 dropped.  I always notice that around the time the do a version jump I have lots of weird quirks.

This time around I had some issues with HomeKit not allowing me to properly add a family member to the house prior to the update.  The family member could join the home, see all devices, but everything showed offline.

[2020-10-12 22:08] Hrafnthor opened #41738 "Automations disappearing on modification"
## The problem

Almost everytime I modify/delete/create an automation of any kind some of my previously created automation disappear. They aren't listed in the automation list nor can they be found on the overview (resulting in a entity not available error). Rebooting the pi will remedy this, until I perform any modification on the automations again.

Any help would be appreciated

## Environment

[2020-10-12 22:12] sokolsok commented on #40192
Has someone managed to fix this problem?

[2020-10-12 22:24] GlennGoddard opened #41739 "Light On command in Automation UI may have different YAML code and show same in UI"
## The problem

For Automation for specifically 'Actions', lights under the UI (for Turn On) show a default brightness_pct: 0
If any value is entered then zero is put back in then the underlying command changes to set brightness to "0" but the UI does not reflect this.

## Environment

- Home Assistant Core release with the issue: 0.116.2
- Last working Home Assistant Core release (if known): unkn

[2020-10-12 22:25] gugaspinto commented on #40192
I don't no what to do... I'm a new user and can't help.
I have some hardware stuck with this problem..
Can anyone say what can I do to help?
I would like to contribute... But I don't  know how..

[2020-10-12 22:27] thaohtp commented on #40826
Rewrite in https://github.com/home-assistant/core/pull/41740

[2020-10-12 23:19] christcb03 commented on #40427
So I spun up a fresh centos server and tried to install sharkiqpy and I get this :

[vagrant@localhost ~]$ pip install sharkiqpy
DEPRECATION: Python 2.7 reached the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 is no longer maintained. pip 21.0 will drop support for Python 2.7 in January 2021. More details about Python 2 support in pip can be found at https://pip.p

[2020-10-13 00:08] ajmarks commented on #40427
Looks like you're running Python 2.7, and this is built for 3.7+.  Try using `pip3` and `python3`.

[2020-10-13 00:34] christcb03 commented on #40427
I got it installed in anaconda, I think... and I ran the code and got this ...

runfile('C:/Users/chris/.spyder-py3/temp.py', wdir='C:/Users/chris/.spyder-py3')
{'Ack_Response': None,
 'Areas_To_Clean': '*',
 'Battery_Capacity': 100,
 'Battery_Serial_Num': '',
 'CRCount': None,
 'CRVote': None,
 'Charging_Status': True,
 'CleanComplete': None,
 'Cleaning_Statistics': 'https://ads-field.aylanetwork

[2020-10-13 00:44] gilperme commented on #41315
@wormuths has a valid point, likely related to changes on Apple's side with new version of iOS and not new ha version.

[2020-10-13 01:15] FreeSoftwareServers opened #41742 "Unable to Add SmartThings Integration"
## The problem

## Environment
https://community-assets.home-assistant.io/original/3X/d/3/d33a1eff525d031dd92cf0d0177598c36f1f7144.png

- Integration causing this issue: SmartThings
- Link to integration documentation on our website: (use google)

## Problem-relevant `configuration.yaml`

## Traceback/Error logs
[code]

## Additional information

More Info:

I am able to access site remotely via p

[2020-10-13 01:42] mkanet commented on #40690
Thanks for the tip @Petro31.  After changing my code to use `None` instead of `unknown` per your suggestion, I'm still getting **NaN** values.  It's still seeing the same behavior as before (resulting in the errors mentioned in the OP).

I'm not sure if I'm still doing something wrong or there is a bug.  I'm guessing there's something still wrong with the conditions?

[code]

[2020-10-13 02:13] JeffLIrion commented on #41734
This isn't a true issue. The device is unavailable if the ADB connection is broken. If you want to use another integration (like Harmony) in conjunction with the Android TV integration, you can do that with the universal media player.

You could submit a pull request that enabled using a service call to turn on/off the device. But I think that adding YAML configuration options is not allowed.

[2020-10-13 03:14] bachya commented on #36947
@keiranharris Still chewing on this. Our primary `asyncio` HTTP library doesn't support Digest Auth, so I need to use a different library, but I don't have a super clear path forward. I'll get there, though. Just an FYI!

[2020-10-13 03:22] alekseyn1 commented on #41521
Thanks for looking into this gentlemen.
I am a huge fan of both of you and what you did with Home Assistant is beyond the words I can possibly find to describe the awesomeness! Thank you for your work!

[2020-10-13 05:11] DarkwellZ commented on #41352
Just a thought (I'm basing this on my experience with there connexoon box):

Are we sure there is an actual problem? It seems the e-mail went out to everyone using a their API.
I do not feel Home Assistant is abusing their API. Can it be that some apps are inefficiently programmed and calling there API a lot and as a result they send out this e-mail to all of us?

I don't know how Home Assistant i

[2020-10-13 05:16] crazyfx1 commented on #41725
Yes, viessmann changed the version. The urls we are using are not working anymore.

[2020-10-13 05:19] grbasta opened #41747 "homeassistant.components.stream.worker"
Logger: homeassistant.components.stream.worker
Source: components/stream/worker.py:246
Integration: Stream (documentation, issues)
First occurred: 7:13:45 (2 occurrences)
Last logged: 7:13:45

Dropping out of order packet: 184500 <= 184500

[2020-10-13 05:33] oywino commented on #40960
My own experience, Sir.  All Netatmo weather related devices broke in 0.116 and 0.116.1  Only my camera worked. When something brakes completely - it's severe (in my book). But it was quickly discovered by the team, and acknowledged by yourself. You did a great job. Please don't get me wrong. https://github.com/home-assistant/core/pull/41517

[2020-10-13 05:41] vlebourl commented on #41352
Several points regarding your comment. First the email only went out to the 1200 heaviest users, all platforms included (meaning homey, openhab and ha if I'm correct), so not every users yet, fortunately. Second, the email was intended for users of the unofficial API. For HA that would be the tahoma integration, not the somfy one. The core Tahoma integration is broken ATM but we are working on it.

[2020-10-13 05:41] FaserF commented on #28601
@nls-hffmnn I have exactly the same issue. And to meet it doesn't look like a issue with my add-on, as I receive the same error message with the manual setup with portainer.
Looks like this issue here: https://github.com/zewelor/bt-mqtt-gateway/issues/64

[2020-10-13 05:46] Pirol62 commented on #41718
works not for me (Germany)

[2020-10-13 06:04] Torgrima commented on #41683
I have temporary solved my problem with a change to the path for aeotec z-stick in core.config_entries:
"usb_path": "/dev/serial/by-id/usb-0658_0200-if00"

[2020-10-13 06:20] springstan commented on #41747
Please fill out the issue template, you can find it by clicking on `New Issue` and then selecting `Report a bug with Home Assistant`. Copy and paste the provided template into this already created issue, click preview to take a look at the empty template and then fill out as much as you can. Any additional information can be helpful!

Thanks for understanding :)

[2020-10-13 06:20] springstan commented on #41742
Please fill out the issue template, you can find it by clicking on `New Issue` and then selecting `Report a bug with Home Assistant`. Copy and paste the provided template into this already created issue, click preview to take a look at the empty template and then fill out as much as you can. Any additional information can be helpful!

Thanks for understanding :)

[2020-10-13 06:28] Pirol62 commented on #41718
Already reloeded the integration. All sensors available! Heureka!!

[2020-10-13 06:35] adorobis commented on #41725
Seems that there was something broken on Viessmann's API side, it works ok again now.

[2020-10-13 06:36] vlebourl commented on #41352
I think they got mixed up... Another thing they can't do properly 😁
But in the answer @tetienne got it is clearly said:

[2020-10-13 06:40] lsaadeh commented on #41315
+1 also having this issue

[2020-10-13 06:44] jonare77 commented on #41718
Its working again, Im in norway. Case can be closed. Thanks @cgtobi

[2020-10-13 06:48] #35536 closed

[2020-10-13 06:51] notpurum opened #41748 "Telegram resize_keyboard support"
## The problem
The size of the default keyboard created by the telegram bot is huge even if there's just a couple of words inside the buttons. It would be great to implement the `resize_keyboard` field which is available in telegram bot API. This would make the keyboard look much slicker

## Environment

- Home Assistant Core release with the issue: 0.115.6

[2020-10-13 06:54] cgtobi commented on #41718
Thanks for the feedback. I'll leave the case open and let @bmf7777 decide.

[2020-10-13 06:58] hugodejong commented on #41615
I was not aware of the difference, but it looks like you're right. I switched from DialogFlow to Conversational Actions because I could not get DialogFlow to integrate properly with Google Assistant (could never get the "Talk to Home Assistant" part to work). I assumed they worked more or less the same.

It looks like HA does not currently support Conversational Actions (but I might be wrong). Wil

[2020-10-13 06:58] #41615 closed

[2020-10-13 06:59] Snoopy2406 commented on #41121
I enabled the logs in more detail here is what i got:

2020-10-13 06:40:15 INFO (SyncWorker_10) [homeassistant.loader] Loaded lg_soundbar from homeassistant.components.lg_soundbar

2020-10-13 06:40:17 INFO (MainThread) [homeassistant.components.media_player] Setting up media_player.lg_soundbar

2020-10-13 06:46:10 INFO (MainThread) [homeassistant.components.discovery] Found new service: lg_smart_d

[2020-10-13 07:07] OkhammahkO opened #41749 "FFMPEG integration "drawtext filter" not working (overlay text on image/video)"
## The problem

I want to use the FFMPEG integration, the FFMPEG drawtext filter, and a shell command to read a local image (from www), overlay text on it (timestamp), and write it back to www.

https://ffmpeg.org/ffmpeg-filters.html#drawtext-1

I think this is what FFMPEG uses to draw (for example)  timestamp overlays on a camera stream?

I've tried so many syntax variants that at this point I su

[2020-10-13 07:12] notpurum opened #41750 "No way to put comma inside button on telegram bot keyboard"
## The problem
For now there's no way to create a keyboard with a comma inside the button. The HA splits the button in two and there's no way to prevent it (At least I couldn't find one). This behavior is not expected in my opinion. There should be a way to create such keyboards, just like one shown on [https://core.telegram.org/bots#keyboards](https://core.telegram.org/bots#keyboards)
![image](ht

[2020-10-13 07:16] jordy101091 commented on #41718
Everything works again over here, even linking the account😉

[2020-10-13 07:17] eddyfussel opened #41751 "Netatmo Weather setup not working for me: KeyError: 'station_name'"
## The problem

Hi I try to connect my new Netatmo Sensor (Weather) with Hass.io (0.115.6-0.116.2 tested - HassOS 4.13) - Neither the setup throught YAML nor GUI/Intregrations page is working for me - I ve created an application on dev.netatmo.com and I have some webhooks auto-gen created by NabuaCasa - I've seen the picture, that the setup is complete, but unfortunatly I don't have any enties.

#

[2020-10-13 07:23] Mariusthvdb commented on #41701
small but important update:
I've now noticed there is a 'reload' option available, but this is while none of the entities are unavailable.

Could it have been the complete integration lost 'contact' with the system, and as a consequence, both the settings in the UI/integrations and the devices/entities were 'unavailable'?

[2020-10-13 07:29] springstan commented on #41751
Duplicate of #41575

[2020-10-13 07:29] #41751 closed

[2020-10-13 07:55] rchovan opened #41753 "[REST component] JSON result was not a dictionary or list with 0th element a dictionary"
## The problem

JSON result is incorrectly parsed. Tested with https://jsonlint.com It looks like the error is in parsing string with comma. In this example it is in path tiles.k23.description

![image](https://user-images.githubusercontent.com/6713920/95831938-fc2c7100-0d39-11eb-86c4-7426db9f19b5.png)

JSON download with curl is validated without error.

![image](https://user-images.githubusercon

[2020-10-13 08:00] Misiu opened #41754 "RuntimeError: Please set pin numbering mode using GPIO.setmode(GPIO.BOARD) or GPIO.setmode(GPIO.BCM)"
## The problem

After updating to 0.116.2 I got this error in sentry:

[code]

port | 26
-- | --
value | 1

## Environment

- Home Assistant Core release with the issue: 0.116.2
- Last working Home Assistant Core release (if known): 0.115.1
- Operating environment (OS/Container/Supervised/Core): OS
- Integration causing this issue: rpi_gpio
- Link to integration documentation on our website:

## P

[2020-10-13 08:05] johnsdixon opened #41755 "Tesla Integration not reporting state of charge switch"
## The problem

Using Home Assistant 0.116.2 (installed via the VMware OVA file), and connected to my Tesla Model 3, I can set the charge state remotely using HA. However, there is no feedback information to the switch. If the charger was set on the Tesla mobile app, or from in the car, then HA does not have an ability to see this.
This leaves no way to use this in a condition or trigger, preventi

[2020-10-13 08:26] frenck commented on #41748
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2020-10-13 08:26] #41748 closed

[2020-10-13 08:30] frenck commented on #41728
@valgeirhelgi So we can close this issue?

[2020-10-13 08:56] fredrike commented on #40199
@balloob netdisco is depricated, how should we threat this kind of issues?

[2020-10-13 08:56] FeromonDE commented on #41138
I have provided enough information.
There is still a problem after upgrading to 0.116.2. I tried pinging the lamp before and after the error appeared in the log:
2020-10-13 10:42:01 ERROR (SyncWorker_16) [homeassistant.components.yeelight] Unable to update device 192.168.2.37, yeelight_lamp4_0x00000000102fef6c: A socket error occurred when sending the command.

And the ping was lossless:

--- 192.

[2020-10-13 08:57] fredrike commented on #40096
@springstan, this should be closed.

[2020-10-13 08:58] #40096 closed

[2020-10-13 09:02] fredrike commented on #35414
@springstan, let's close this too. I don't think it is a crucial feature. The code more or less exist but is held back due to maintenance simplicity.

[2020-10-13 09:10] infernix commented on #35414
So the hardware supports it, the python library supports it, the home assistant code supports it, but it can't be done because there is no way a configuration option can be implemented?

[2020-10-13 09:14] jesserockz opened #41758 "mobile_app_notification_dismissed event name too long for database column"
## The problem

The event named `mobile_app_notification_dismissed` (33 characters) is 1 character too long for the `event_type` column in the `events` table which is a `varchar(32)` field

## Environment

- Home Assistant Core release with the issue: `0.116.2`
- Last working Home Assistant Core release (if known):
- Operating environment (OS/Container/Supervised/Core): `Supervised`
- Integration

[2020-10-13 09:17] jesserockz commented on #41758
I just realised this is sent from the mobile apps so will open an issue there.

[2020-10-13 09:17] #41758 closed

[2020-10-13 09:19] ryanjohnsontv opened #41759 "Light Groups Cannot Reference Other Light Groups"
## The problem

Currently when grouping light entities into a light group, I am unable to reference that group as an entity for another light group. Further discussion here: https://github.com/home-assistant/architecture/issues/437

## Environment

- Home Assistant Core release with the issue: 0.116.2
- Last working Home Assistant Core release (if known): N/A
- Operating environment (OS/Container/

[2020-10-13 09:20] fredrike commented on #35414
You saw the comment by @balloob, the ha-core team don't want to add this support. I can't maintain a list of supporting devices so at the moment there will be no support for it.

But, I guess that: https://github.com/home-assistant/core/blob/1d682bdc78371238832aa0714ef6bc577de614b1/homeassistant/components/daikin/climate.py#L145 could be change to support floats..

[2020-10-13 09:20] jesserockz commented on #41758
home-assistant/android#1040

[2020-10-13 09:21] balloob commented on #40199
Don't use the `discovery` integration 😆

I think that we should deprecate and remove this integration. It's been replaced for a long time now by SSDP and Zeroconf and hasn't been part of the default configuration for a long time.

There is really no reason to still use it.

[2020-10-13 09:27] Segelfeldt opened #41760 "Recorder Purge not working?"
## The problem

My database is 3,2 GB big with 2551813 events and 1349191 states

Oldest state in database: 2020-10-02 02:30:08.980727 (created)
Oldest event in database: 2020-10-02 02:30:08.976709 (created)

It seems to use default settings for what should be purge and ignore my configuration.xml that says only keep last 5 days.

I have tried to manually call recorder.purge thru Developer Tools -

[2020-10-13 09:28] jesserockz commented on #40199
That is good enough for me. Removing it from my config now.

[2020-10-13 09:30] troykelly commented on #27171
Can we reopen this?
The same issue still exists.
[code]

[2020-10-13 09:37] darksid3r commented on #40612
@fribse It seems that, at least in my case, mDNS is the issue. I use Unifi SGW as router for my network. A couple of weeks ago I enabled the mDNS reflector on the SGW to ensure broadcasts are replicated across subnets (I have a separate VLAN for IoT devices). Initially I did not think this would be related, but the Tradfri Integration would stop responding after a few hours. Checking the log, I sa

[2020-10-13 09:37] fredrike commented on #35414
@mlemainque should we:

1. update so that it always support 0.5 steps
2. do as balloob suggested and support 0.5 steps in Celsius
3. just close this issue?

[2020-10-13 09:38] infernix commented on #35414
So what about the suggestion that we simply whitelist models? Once that's in place it is easy to grow the list.

pydaikin seems to have the `aircon/get_model_info` resource already, so if the HASS plugin checks to see if that resource exists and if it isn't `None` we can simply expose that as a device property, and then make  `target_temperature_step` return 0.5 for whitelisted models and 1 by def

[2020-10-13 09:39] cassianyoung opened #41761 "KNX integration issue: Can't send list payloads via knx_send after 0.115"
From 0.115 to 0.116 I could not monitor events on the knx bus, or send payloads out.

With 0.1162 I can monitor events on the knx bus and I can send out simple payloads e.g. address: '4/0/13', payload: 0

But I cannot knx_send out the payloads I get from my wall touch panels, which have a list format: '6/0/5', payload: [7]

This all works in 0.114.2.

Thanks and best regards

knx config under 0.11

[2020-10-13 09:41] fredrike commented on #35414
I don't have interest in maintaining such a list in pydaikin (which is where it should be implemented).

[2020-10-13 09:43] infernix commented on #35414
clear :+1:

[2020-10-13 09:43] #35414 closed

[2020-10-13 09:46] #40199 closed

[2020-10-13 09:46] fredrike commented on #35414
But if you like to maintain it we can add it in the pydaikin code..

[2020-10-13 09:50] Zehir commented on #40462
You already made one or you want I do it ?

[2020-10-13 09:54] fribse commented on #40612
I've been running with a UDM Pro with mDNS setup (I also have IOT and NOT networks), it has worked for 8 months (I had a USG before that). It's only in the latest versions it has started failing. As I see it mDNS is not the cause, but a symptom of a problem.
The zeroconf errors also indicate that for some reason it requires some specific mDNS keys, which are not present (and never was).

[2020-10-13 10:05] Spirituss commented on #40596
Guys, any news on the possible fix?

[2020-10-13 10:13] gijbelsy commented on #40596
@rajlaud @frenck @MartinHjelmare

I've noticed y'all have made some commits lately. Can you have a look concerning this issue, or give us an update?

[2020-10-13 10:19] bigfeetneedbigboots commented on #41586
Also see [https://github.com/picklepete/pyicloud/issues/308#issue-718923830](url) for updates

[2020-10-13 10:20] keiranharris commented on #36947
Thanks @bachya really appreciate this. Dont bust yourself though - i have a workaround that involves hooking the image through the filesystem in a two step process (snapshot, then upload).  Digest would be cleaner but im back in the game again at least. Thanks again. ![image](https://user-images.githubusercontent.com/22670742/95848571-f1a1c400-0d99-11eb-9d2e-d9dd1b7f1ba6.jpeg)

[2020-10-13 10:20] darksid3r commented on #40612
It could very well be the case. However, the Zeroconf errors seem not to be related with the Tradfri integration in particular, but to HA in general. I wonder if HA has a problem that needs fixing to which thr Tradfri integration is particularly "sensitive" to...

[2020-10-13 10:20] bigfeetneedbigboots commented on #41586
Further to what gtrabanco found, we can also track the resolution of this issue here: [https://github.com/picklepete/pyicloud/issues/308](url)

[2020-10-13 10:23] AlexxIT opened #41763 "Input Datetime component error on Windows"
## The problem

Problem adding [input_datetime](https://www.home-assistant.io/integrations/input_datetime/) via GUI (helpers) on Windows machine. Windows Python crashes when trying to get the timestamp of a date `1970-01-01 00:00:00`.

[code]

I suggest correcting the default dates for this component to 2000

[code]

I understand that Windows is not a priority platform, but adjusting the default d

[2020-10-13 10:30] ottelo9 commented on #38963
Ok thanks. But how can I check it in github? On the #40668 page there is only one note that its merged into home-assistant:dev.

[2020-10-13 10:33] FuzzyMistborn commented on #40596
@gijbelsy that's not the way to get help.

[2020-10-13 10:34] marcob79 commented on #40411
After loading the new firmware, wifi was quite stable for about 25 minutes. After that I already start experiencing random / short disconnection with ping lost... I will have a longer observation during today

[2020-10-13 10:36] ruimarinho commented on #40241
Workaround for now is to also set `entity_id` on the parent definition. Example:

[code]

[2020-10-13 10:39] FransTwisk commented on #33535
I'm experiencing the exact same thing on my LG55B6V WebOS tv. Home Assistant randomly sets the TV to status 'off' even when it's simply not. TV is connected using WiFi, might try LAN soon, because automations are now being triggered while they shouldn't.

[2020-10-13 10:42] callifo commented on #40457
Should this be resolved? I've had this ongoing too, and its just on my RM mini 3.

[code]

[2020-10-13 10:42] gijbelsy commented on #40596
I'm not trying to GET help, I'm trying to PROVIDE help.
What else should I do?

[2020-10-13 10:47] FuzzyMistborn commented on #40596
Pinging devs like that isn't going to get them to work any faster. If you want to help take a look at the code and try to patch it to fix the issue.

[2020-10-13 10:52] gijbelsy commented on #40596
Please... sore toes?

Assignees: No one assigned.... so I mentioned the dev ONCE.
I've tested provided solutions
I've upgraded my own systems to provide information.

Question remains: What else should I do?

[2020-10-13 11:00] frenck commented on #41759
Just wrote a quite unit tests to see if I could reproduce this issue, but I can't...
This tests the creation of nested group, which passes:

[code]

[2020-10-13 11:11] FuzzyMistborn commented on #40596
Oh it's not my toes. It's the devs toes. You aren't the first one to @ them. Usually doesn't go well for the person @ ing.

At this point unless you can help you can disable logging for the component. That's about it.

[2020-10-13 11:34] thaohtp commented on #40856
Hi, can I get a review on [PR#41766](https://github.com/home-assistant/core/pull/41766)?

[2020-10-13 11:38] MartinHjelmare commented on #40596
Looking at the stack trace, the problem is in the pysqueezebox library.

[2020-10-13 11:45] #40839 closed

[2020-10-13 11:51] gijbelsy commented on #40596
@FuzzyMistborn : The major problem is not the log being flooded, that's Spirituss mentioning this.
Can you please clarify where in this topic the devs are @, besides my kind request for help ?

@MartinHjelmare : Thanks for the update.

[2020-10-13 11:54] MartinHjelmare commented on #40596
Please keep the issue on topic. We don't need to discuss what was said or not said.

In general, avoid pinging anyone unless they have already made it clear that they want to be pinged, eg by being code owner.

[2020-10-13 11:56] gijbelsy commented on #40596
I've noticed that the latest version of pysqueezebox is 0.5.0, while the manifest requires 0.3.1. Perhaps bumping this to the latest version resolves the issue?

[2020-10-13 11:58] MartinHjelmare commented on #40596
It's good to check the library changes first to see what has changed. If you can test the integration with an upgraded library, please go ahead and make a PR.

[2020-10-13 11:58] MartinHjelmare commented on #40596
It's good to check the library changes first to see what has changed. If you can test the integration with an upgraded library, please go ahead and make a PR.

[2020-10-13 12:01] gijbelsy commented on #40596
I'm sorry but as mentioned above, I'm not experienced with deving for HA / github :)
I'm willing to test this on my system and report back, but how do I force the integrated component to use the 0.5.0 library?
Is this possible via custom_components, and then only add the manifest.json, with the updated dependency line?

[2020-10-13 12:09] thaohtp commented on #40836
Hi, can I get a review on [PR#41769](https://github.com/home-assistant/core/pull/41769)

[2020-10-13 12:19] galex80 opened #41771 "Unexpected error fetching wolflink data: 'LastAccess'"
## The problem

After the wolflink integration runs perfecly for about 5 days without any issues, today all sensors appear as "unavailable".
When i've checked the logs, following error appears in log:
Unexpected error fetching wolflink data: 'LastAccess'
There was this similar issue #https://github.com/home-assistant/core/issues/38963
I'm not sure, if this is related with this previous issue

## E

[2020-10-13 12:23] MartinHjelmare commented on #40596
Copying the integration directory to a custom component directory and changing the manifest should work.

[2020-10-13 12:34] gijbelsy commented on #40596
I've come a bit further:

I can confirm that modifing the manifest dependencies to the latest pysqueezebox library (0.5.0) does resolve the issue.
I'm able to power-on and power-off, change volume with an empty playlist.
The only thing that's still broken is to load a playlist (but this could be due to my automation).
It seems that the latest pysqueezebox changes things how to handle playlists, st

[2020-10-13 12:43] fribse commented on #40612
The odd thing is that ESPHome works (it relies quite heavily on mDNS for devices without static IP).

[2020-10-13 12:54] gijbelsy commented on #40596
Update:

The integration works with pysqueezebox lib v 0.5.0.
Service calls are working for squeezebox and media_player, except media_player.play_media gives me the following error:
`2020-10-13 14:49:40 ERROR (MainThread) [homeassistant.components.websocket_api.http.connection.140611870313392] Expecting value: line 1 column 1 (char 0)
Traceback (most recent call last):
  File "/usr/src/homeassista

[2020-10-13 12:55] bialad commented on #40457
There seems to be a 1 minute hard coded update interval in updater.py, which could be made available as a configurable value.
`update_interval=timedelta(minutes=1)`
and default timeout of 5 (seconds?) which maybe should be extended for this device type.

[2020-10-13 12:56] tkdrob opened #41774 "myip.opendns.com NXDOMAIN breaks dnsip component"
## The problem

myip.opendns.com does not currently exist. This breaks the dnsip sensor platform. Other sites like api.ipify.org and api.ident.me look promising. However, these return incorrect ips because a separate resolver is being used. We need the plain text response instead.

## Environment

- Home Assistant Core release with the issue: 0.116.2
- Last working Home Assistant Core release (if

[2020-10-13 13:13] d3m3trius commented on #21899
no update with PR?

[2020-10-13 13:18] Stupco commented on #41095
Hey @felipediel is the ability to turn on/off a remote even necessary?

For some reason, my remote turned off overnight, so all my blinds didn't open automatically this morning as there was nothing "on" to send commands.

Not sure what triggered the remote to be off, but this is the second time now.

If this is (for some reason) essential coding practice to be able to turn off the remote, I may ne

[2020-10-13 13:21] pvizeli commented on #40462
We are on Alpine 3.12 -> https://pkgs.alpinelinux.org/packages?name=*gammu*&branch=v3.12
So the issue will be fixed if we swap to 3.13 if that is out. You can only ask if they want to backport it to Alpine 3.12 otherwise just wait until the new alpine version is out and we have built all 1k modules to switch the base image.

[2020-10-13 13:22] kevinvugts commented on #37132
Hi @nitobuendia,

Thanks for letting me know. I asked it in the discord channel and indeed it appears to have no code owners.
Which makes debugging, fixing it quite hard for a laic.

Anyhow, I am trying to debug it together with the support of the hassio group. To be continued..

[2020-10-13 13:22] #37132 closed

[2020-10-13 13:24] balloob commented on #41723
If you have invalid trusted networks, it means you added 127.0.0.1 to the trusted networks of your HTTP config. You need to remove that.

[2020-10-13 13:24] #41723 closed

[2020-10-13 13:33] YaMoef opened #41775 "Sonos integration media browser not loading media"
## The problem

When clicking on media browser, or the button on the Sonos widget to browse media it opens a new tab with a loading icon but it never stops loading. I've waited more than an hour but never got loaded (image https://imgur.com/a/lmJMokS The red circles are the buttons I click on to browse media and where the problem starts)

## Environment

I've added the sonos integration because HA

[2020-10-13 13:53] pierre2113 commented on #26724
I see a few of this error in  0.116.2, not allot but enough for me to investigate about it.

[2020-10-13 13:54] mshli commented on #41563
Same issue in 0.116.2

[2020-10-13 13:55] tomlut commented on #26724
The only time I see this now is when I background the iOS app on my iPad.

[2020-10-13 13:56] djtimca commented on #41687
Single was omitted from the speed sensor since it will be addressed in the switches platform when released. There is no benefit to an on/off sensor once the switches are added. I will address the issue of the error in a PR today, but it will simply omit the SINGLE pump type from sensor creation as noted.

The DUAL pump speed / sensor settings are based on the Hayward documentation. They use the Mi

[2020-10-13 13:58] blakeblackshear commented on #41687
Works for me. Thanks for the integration.

[2020-10-13 14:47] maddenp commented on #39957
I finally had time to try running HA in VirtualBox and I was able to upgrade the `bomradarloop` version, though it was roundabout. For the VirtualBox image at least -- and I suspect for other appliance-style HA installs -- the total HA system is composed of several cooperating Docker containers running on a lightweight, bare-bones host OS. I suspect that, when @Bsunshine18  and @simonjowett have s

[2020-10-13 15:34] heymoe commented on #38189
I'm not sure if this issue started for me after the 113 update but I have a scene setup that turns on 3 lights with an automation that at around sun down will issue the scene.turn_on service call to activate that scene and similar to what the OP has reported, sometimes 1 or more of the lights don't actually turn on.

I'm currently running HA v0.116.2 under HassOS v4.13. The lights in question are

[2020-10-13 16:17] Cl3tus commented on #18767
I have the exact same issue with a ZWA001 LED Bulb 6 Multi-White. It only shows RGB sliders and no white balance.

[2020-10-13 16:26] bdraco commented on #41760
Please upgrade to 0.116.2

[2020-10-13 16:29] samuelbenzaquen commented on #40612
Having the same issue, reloading the integration work. I know it's not a long term solution but is there an integration reload service that I could automate to run every couple of hour?

[2020-10-13 16:52] LaggAt commented on #41739
I was looking at it form my integration, but that's not an integration issue.
I did a small GIF clip showing the issue and how to reproduce easily, you see the
[code]
in the yaml not going away once there, and you cannot spot a difference in the UI.
with the 0 there, the automation calls the light integration's async_turn_off(), without async_turn_on()

Here the GIF to reproduce: https://ibb.co/K2

[2020-10-13 17:43] MrUserY commented on #26724
I see this a lot. Dunnow what it means, which client it is en why it happens.

Op 13 okt. 2020 om 15:56 heeft tomlut <notifications@github.com> het volgende geschreven:

﻿
The only time I see this now is when I background the iOS app on my iPad.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-10-13 17:51] #40856 closed

[2020-10-13 17:58] soylant commented on #41586
same issue :-(

[2020-10-13 18:53] bachya commented on #41721
I can reproduce. Looking into it.

[2020-10-13 19:02] #39116 closed

[2020-10-13 19:03] bdraco commented on #40410
Fixed in https://github.com/home-assistant/core/pull/41784

[2020-10-13 19:03] #40410 closed

[2020-10-13 19:25] Ghannes opened #41789 "remote_rpi_gpio switch results in http_exceptions.BadStatusLine: invalid HTTP method"
## The problem
After init i get every 8 min the following error:
aiohttp.http_exceptions.BadStatusLine: invalid HTTP method

## Environment
I'm running hassio 0.116.2 on rpi v4, and running latest raspberian on rpi v2 with remote GPIO enabled.

- Home Assistant Core release with the issue:
Operating system HassOS 4.13
- Last working Home Assistant Core release (if known):
?
- Operating environment

[2020-10-13 19:26] ghvader commented on #39136
@KF5JWC @zxdavb I'm having a similar issue, my honeywell wifi thermostat works fine via the gui in HA. I'm also controlling it via node-red through the HA integration. if I am on heat or cool only sending something like "temperature": "70" it works fine.
however when in auto mode (heat_cool) I can't get it to work when sending this
{
    "target_temp_low": "67",
    "target_temp_high": "70"
}
the

[2020-10-13 19:31] bdraco commented on #41480
Can you get a profile of the shutdown using the steps here

https://community.home-assistant.io/t/wth-stopping-service-is-too-slow/220507/5?u=bdraco

[2020-10-13 19:32] #41687 closed

[2020-10-13 19:35] cgtobi commented on #41775
When the icons you described are clicked it shouldn't open a new tab. I don't think this is related to the sonos integration actually.

[2020-10-13 19:40] YaMoef commented on #41775
That's maybe not desribed well of me but, it doesn't really open a new tab. You can also see the loading icon on the first picture, it keeps loading like that. I've waited an hour without result.

[2020-10-13 19:42] #40830 closed

[2020-10-13 19:51] alfonsolsl commented on #36109
This issue is already present in 0.116.1

[2020-10-13 19:56] bdraco commented on #40292
One more that should help with mqtt https://github.com/home-assistant/core/pull/41796

[2020-10-13 20:00] bdraco opened #41797 "onvif test_flow_discovered_devices test is unreliable"
## The problem

FAILED tests/components/onvif/test_config_flow.py::test_flow_discovered_devices[pyloop]

Times out after 9s

[code]

[2020-10-13 20:06] cgtobi commented on #41775
Ah, I see. Have you tried the media source, configured a local media directory to see if it is more of a general issue? Does the Sonos integration work fine besides the media browser?

[2020-10-13 20:11] bdraco opened #41798 "Canary test test_options_flow is unreliable"
## The problem

tests/components/canary/test_config_flow.py::test_options_flow

[code]

[2020-10-13 20:12] tkacikdominik commented on #40905
Done in #41792

[2020-10-13 20:15] jsimon3 commented on #41654
@cgtobi, not sure if it helps but I downloaded the test script (gen_test_data.py) you mentioned in a parallel thread on what seems to be the same or very similar issue. I can confirm that the script returns the same error as the HA integration:

Checking for available weather stations...
Traceback (most recent call last):
  File "gen_test_data.py", line 124, in <module>
    (i, s["station_name"])

[2020-10-13 20:19] cgtobi commented on #41654
Yes, I am aware of this. A fix is already merged upstream and will land as soon as a new release of pyatmo is available.

Thanks for the coffee, I'll enjoy every sip while coding for HA/pyatmo/etc.
Greatly appreciated.

[2020-10-13 20:21] MartinHjelmare commented on #40905
Sorry, #41077 already fixed this one.

[2020-10-13 20:21] #40905 closed

[2020-10-13 20:25] bdraco commented on #41797
[code]

[2020-10-13 20:28] cgtobi commented on #41654
If your comfortable modifying your system by hand for the time being I can provide an unofficial pre-release wheel to be installed via pip as a workaround. Let me know if this of interest.

[2020-10-13 20:35] jsimon3 commented on #41654
Sure, I would give it a shot if it can easily be removed once the official release comes out.

[2020-10-13 20:35] chemelli74 commented on #41158
I don't change ip, but maybe is the same as well.

Simone

[2020-10-13 20:44] danieljkemp commented on #37003
workaround:

[code]

I am running that service call before setting temperature in my schedule automation. Worst case if the thermostat looses power/hold, then it should get updated correctly next time the schedule runs.

[2020-10-13 20:49] zolstarym opened #41800 "Onvif: device not added when https enabled"
## The problem
When adding an onvif camera whose interface uses http to home assistant, it works. After enabling https with self signed certificate on the camera, then trying to add that to home assistant, it fails with unknown error after entering in the username and pass

## Environment
0.116.2
Ubuntu 20.04, in python 3.8.

- Home Assistant Core release with the issue:
- Last working Home Assist

[2020-10-13 20:51] freemann commented on #41654
Here also interested in the unofficial release 😃

[2020-10-13 20:52] cgtobi commented on #41654
Yeah, it would simply be overwritten.

https://github.com/cgtobi/netatmo-api-python/releases/download/v4.1.0b1/pyatmo-4.1.0-py3-none-any.whl
Use this at your own risk. Just pip install this and restart HA.

[2020-10-13 20:57] #41798 closed

[2020-10-13 21:18] esplor commented on #41660
@Joikast
Sorry, read your initial post again.
Theres an issue with the Key Exchange Algorithm not the cipher, the algorithm on the IOS device and HA doesn't match.

If you install the "Terminal" addon in HA, and try to ssh to the IOS device from "Terminal" you can get the error from HA side.
I'm not sure how to change it on your IOS device, but have a look at this post from cisco community:
[https

[2020-10-13 21:27] YaMoef commented on #41775
Hi, I've tried adding a local media directory to the Sonos system, but can't get it working (adding the directory to Sonos). Beside the media browser problem Sonos looks to be working fine (I outputs correctly the current playing radio channel, you can pause and start music, adjust volume).
Maybe it will help that I list what music sources I have in Sonos:
-Sonos Radio
-3 Spotify accounts
-TuneIn

[2020-10-13 21:27] rajlaud commented on #40596
There is a pending pull request to update squeezebox for media browser, which also bumps pysqueezebox to v5.0 and makes some changes to loading playlists. Can you check if you get the same error with those changes? https://github.com/home-assistant/core/pull/40642

[2020-10-13 21:30] rajlaud commented on #40596
Also, for some reason I didn't get see a notice as codeowner on this one. Feel free to ping me squeezebox issues.

[2020-10-13 21:31] cgtobi commented on #41775
Ok, now we're getting closer. Currently the media browser for Sonos only supports the local library of your Sonos setup. It should handle this more gracefully though, so, thanks for reporting this and pointing at it. This needs to be fixed.

[2020-10-13 21:35] jsimon3 commented on #41654
I installed the pyatmo:

config $ pip install pyatmo-4.1.0-py3-none-any.whl
Processing ./pyatmo-4.1.0-py3-none-any.whl
Collecting requests-oauthlib
  Downloading requests_oauthlib-1.3.0-py2.py3-none-any.whl (23 kB)
Requirement already satisfied: requests in /usr/lib/python3.8/site-packages (from pyatmo==4.1.0) (2.23.0)
Collecting oauthlib
  Downloading oauthlib-3.1.0-py2.py3-none-any.whl (147 kB)

[2020-10-13 21:43] gieljnssns commented on #40292
Thanks a lot, when the beta arrives, I send you 2 new py-spy's.

[2020-10-13 21:50] niemyjski commented on #41586
+1, so annoying

[2020-10-13 21:55] cgtobi commented on #41654
Can you please test with the self test script you already downloaded? Just pip install the wheel there and try the script again.

[2020-10-13 22:10] jsimon3 commented on #41654
Same result:

(venv) config $ pip install pyatmo-4.1.0-py3-none-any.whl
Requirement already satisfied: pyatmo==4.1.0 from file:///config/pyatmo-4.1.0-py3-none-any.whl in ./venv/lib/python3.8/site-packages (4.1.0)
Requirement already satisfied: requests in ./venv/lib/python3.8/site-packages (from pyatmo==4.1.0) (2.24.0)
Requirement already satisfied: oauthlib in ./venv/lib/python3.8/site-packages (

[2020-10-13 22:14] cgtobi commented on #41654
Ok, that is interesting. Are you on Discord to exchange some (potentially sensible) data from your system?

[2020-10-13 22:20] rytilahti commented on #39246
Support for new devices is a feature request, so please use the community forums for that, thanks!

[2020-10-13 22:20] #39246 closed

[2020-10-13 22:23] rytilahti commented on #41561
Are you sure you are not running any custom components using python-miio? There have been reports of custom components pinning too old python-miio versions, causing similar failures.

[2020-10-13 22:28] jsimon3 commented on #41654
I am now

[2020-10-13 22:35] cgtobi commented on #41654
Great. Just ping me on Discord and I get back to you asap.

[2020-10-13 22:41] palfrey commented on #41712
Does any of https://blog.hqcodeshop.fi/archives/482-OpenSSH-8.3-client-fails-with-load-pubkey-invalid-format.html and  https://blog.hqcodeshop.fi/archives/487-OpenSSH-8.3-client-fails-with-load-pubkey-invalid-format-Part-2.html help to explain/fix things?

[2020-10-13 22:54] reisfni commented on #35569
Same

[2020-10-13 23:02] amelchio commented on #37893
I am going to close this issue now since it seems there is nothing more to do.

[2020-10-13 23:02] #37893 closed

[2020-10-13 23:04] drthanwho commented on #41712
That indeed was the issue. Thanks for finding that!

My key was in _RSA_ format and needed to be converted into _openssh_ format

This should be all it's needed:
[code]

[2020-10-13 23:04] #41712 closed

[2020-10-13 23:41] victorhalla opened #41815 "Onvif Camera Authorization failed"
## The problem
I'm tried to setup a camera using Onvif integration and we could not see the image on Web Interfacing. Analyzing the log I found the  issue is that the component is using the wrong URL adding user and password two times.

## Environment

arch | aarch64
-- | --
dev | false
docker | true
hassio | false
installation_type | Home Assistant Container
os_name | Linux
os_version | 5.8.13-ro

[2020-10-13 23:43] kalhimeo commented on #41564
Hi, very similar to this binary_sensor thing, would it be possible to have the "ignore_internal_state" property for knx "sensors" as well ? For example I am using a sensor with type "scene_number" together with an automation in order to execute some actions within HA when a knx scene number is called, but if the same scene is called two times without any other scene number in between, the value of

[2020-10-13 23:54] olishi commented on #26186
I have the same issue using the Yeelight 1S YLDP13YL on 2.0.6_0030. As a temporary workaround, I'm using the HomeKit Controller integration to add the bulbs to HA. The bulbs have been working flawlessly using this, however you do lose some features such having only the colour wheel, and not whites to pick from.

[2020-10-14 00:09] fireheadman commented on #38510
New to HA, but have a ProTerra Rheem water heater.
got this today:

ERROR (SyncWorker_5) [pyeconet.api] Authentication request failed, please check credintials. 400
ERROR (SyncWorker_10) [pyeconet.api] Token expired

config is:
[code]

secrets.yaml contains:
[code]
[code]

I have nothing in the entities for "econet" or "water*"...etc.

[2020-10-14 00:54] FreeSoftwareServers commented on #41742
@springstan  The template is there when I started, just feel free to close this, I'm done w/ Smart Things for now and likely avoiding it moving forward.

[2020-10-14 01:42] lorensimon opened #41818 "Assertion error with RPI_GPIO binary_sensor"
## The problem

A door sensor is set up in configuration.yaml as a binary sensor with platform rpi_gpio.
When starting hass an assertion error is displayed, although the sensor works as expected.

## Environment

- Home Assistant Core release with the issue: 0.116.2
- Last working Home Assistant Core release (if known):
- Operating environment (OS/Container/Supervised/Core): Raspbian Buster on ven

[2020-10-14 02:02] zraken opened #41819 "Zigbee integration setup does not work"
## The problem

I am trying to set up zigbee integration from the GUI but I don't get any pop up to specify the USB device as described in the instructions, there is just a spinner and nothing happens on the GUI. On the logging side I get a traceback. I have tried rebooting, restarting service etc. and it did not help.

## Environment

Adapter: Nortek GoControl QuickStick Combo Model HUSBZB-1

Lin

[2020-10-14 02:42] Adminiuga commented on #41819
Your system apparent failed to install Zigbee dependencies. You might be missing some of dev files.

2nd. RPi2 is not supported and ZHA would run quite poorly on it.

Try installing `bellows` manually enter into your venv

[2020-10-14 02:44] #41728 closed

[2020-10-14 02:49] freemann commented on #41654
Here the same error:
[code]

[2020-10-14 04:51] jurgenweber commented on #40611
is this still a problem; https://community.home-assistant.io/t/jinja-loop-scoping-average-temperature-sensor/9845/26?u=jurgenweber ? Thanks

[2020-10-14 05:07] demonaxxx commented on #41586
@Quentame Please can you fix it?

[2020-10-14 05:14] Segelfeldt commented on #41760
Updated to 0.116.2, Setup of domain recorder took 3400.7 seconds (56 minutes)

`recorder.purge` thru Developer Tools - Services with
[code]
File size is still the same, but when i copy it it went down from 3,2 Gb to 28 Mb and i only see data from the last hour.

[2020-10-14 05:16] #41742 closed

[2020-10-14 05:20] Segelfeldt commented on #41760
In the database i still see events for call_services for my python script.
`39848535	call_service	{"domain": "python_script", "service": "teams_presence_sensor", "service_data": {"activity": "Away", "availability": "Away"}}	LOCAL	2020-10-14 05:11:31.691874	2020-10-14 05:11:32.002621	b8f2d7d30ddb11eb9326755871f545a1	`

Is there anyway to exlude this specific combinatio of call_script and services?

[2020-10-14 05:32] felipediel commented on #41095
Yes, this is necessary. I'm investigating whether an event could be causing the remote controls to turn off on their own. I have a guess: when the device is marked as unavailable, when it comes back the state is off. Could you confirm this by checking your history?

[2020-10-14 05:47] cogneato commented on #41625
@acsands13 is this a vm? Can you share the output of `ha dns info` from the ssh add-on terminal?

[2020-10-14 06:14] sbhdlmn commented on #41637
My modem and xiaomi gateway was at the ground floor. Raspi which HA working was at the  second floor. Raspi was also connected to LAN network with cable. Now I took raspi to ground floor. I connected it directly to modem LAN port. Now sensors are working properly .

[2020-10-14 07:00] marvin-w commented on #41564
Can you not just use a scene for this? https://www.home-assistant.io/integrations/knx/#scene

[2020-10-14 07:12] StefanoGiu opened #41822 "IFTTT Automation not working anymore after upgrading from 0.114 to 0.116"
## The problem
Hello, I had the IFTTT integration working smoothly and then I decided to upgrade from 0.114 to 0.116... since then, IFTTT is not working anymore. I can make the webhook call (e.g. with https://reqbin.com/), but then I don't get any result in HA.
Any idea?

2020-10-14 09:00:06 DEBUG (MainThread) [homeassistant.core] Bus:Handling <Event ifttt_webhook_received[L]: stanza=la cucina due

[2020-10-14 07:28] #40813 closed

[2020-10-14 07:32] mija87 opened #41823 "Issue with Powerview"
If I give the command to close the shades, they actually close, but HA shown the slider nog fully closed. This happens to 3 of mij 7 shades, this 3 shades are from the ceiling to the grond, the other (normal windows) works correct.

Environment

Home Assistant Core release with the issue:
Last working Home Assistant Core release (if known):
Operating environment (OS/Container/Supervised/Core):
Int

[2020-10-14 07:34] redoxf commented on #41625
I too have this issue, I suspect the Home Assistant cloud starts sooner than My AdGuard addon.

Are you guys using AdGuard or Pi-Hole  add ons on the same computer ?

[2020-10-14 07:41] eyal-h commented on #41586
same issue started couple of weeks ago

[2020-10-14 07:44] StefanoGiu commented on #41822
I downgraded to 0.114.4 and it's working again...

[2020-10-14 07:45] Joikast commented on #41660
Hi,

Thanks, good point, I just tried to ssh to my ios device from HA, this is what it says:

`
Unable to negotiate with x.x.x.x port 22: no matching key exchange method found. Their offer: diffie-hellman-group-exchange-sha1,diffie-hellman-group-14-sha1,diffie-hellman-group-1-sha1
`

If you specify one of those algorithms, it works to connect from HA:

[code]

I tried to google for a workaround on

[2020-10-14 07:47] SPEC1AL1ST commented on #21688
I have in 116.2 version too:
Updating tuya switch took longer than the scheduled update interval 0:00:30

[2020-10-14 07:53] SittingDuc commented on #37459
I am seeing a similar issues with my Denon X1100W and Home Assistant 0.116.2, and I ran the python script mentioned. I offer up a tarball of the output, if it is of use.
[code]

[denon_avr_x1100w_xml_files.zip](https://github.com/home-assistant/core/files/5376477/denon_avr_x1100w_xml_files.zip)

Thanks and best wishes

[2020-10-14 07:56] gijbelsy commented on #40596
The squeezebox integration is working as mentioned above, with the help of pysqueezebox 0.5.0.

When I load the #40642 PR, my log spits out the following:

´´´yaml
2020-10-14 09:48:45 ERROR (MainThread) [homeassistant.helpers.integration_platform] Unexpected error importing squeezebox/logbook.py
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/integration_pla

[2020-10-14 09:18] kalhimeo commented on #41564
The way I understand it, the "state" of a KNX scene entity in HA does not change when triggered (it stays on "scening") and is only used the other way around (make HA to trigger a KNX scene).
I also used the event listening tool to verify that, and triggering a KNX scene did not change the state of the scene entity while listening the "state_changed" event type.
That's why I ended up using the sen

[2020-10-14 09:19] Stupco commented on #41095
Thanks for the reply, and fair enough, my workaround for forcing it always on by checking state change will remain in place then, which is suitable 👍

Here are the logs for both times it happens. Interestingly the first (05/12) it was unavailable -> off, whereas the recent one it was just unavailable.

And the "Daylight savings" event:

Unfortunately I don't have access to the home-assistant.log f

[2020-10-14 09:22] marvin-w commented on #41564
Can you please open a feature request here: https://github.com/XKNX/xknx/issues

Please also state your specific use case. I think it will be possible to add something like this.

[2020-10-14 09:25] kalhimeo commented on #41564
I will do it now, thank you very much for the fast feedback

[2020-10-14 09:28] Cl3tus commented on #18767
Is there anything i can do, provide, to help solving this issue? (Excuse the shortness, i've never contributed on GITHUB, i would like to start being active)

[2020-10-14 09:28] jreidel commented on #36046
Similar problem. TP-Link C200. Stream in VLC is working: rtsp://username:password@IP Address:554/stream1

Home Assistant 0.116.2, HassOS 4.13, standard PI4 install

Error "Unknown error" after entering username and passord in the ONVIF integration onboarding processs.

`Logger: aiohttp.server
Source: components/onvif/config_flow.py:202
First occurred: October 13, 2020, 10:43:53 PM (2 occurrences)

[2020-10-14 09:32] 03397 commented on #36816
@amelchio
So what you are saying this is bug from the Sonos itself but we can find a workaround?

[2020-10-14 09:33] 03397 commented on #38825
@frenck
Did you have time looking into this problem?

[2020-10-14 09:47] PascalBu commented on #41560
Same issue here, 2 errors in logs:

`Logger: homeassistant
Source: components/shelly/entity.py:44
First occurred: 11:41:42 AM (1 occurrences)
Last logged: 11:41:42 AM

Error doing job: Task exception was never retrieved
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py", line 296, in async_add_entities
    tasks = [
  File "/usr/src/homeassi

[2020-10-14 10:14] xanthox opened #41827 "Nuki 2.0 smartlock fails to setup"
My new Nuki 2.0 doorlock does not seem to setup in HA. Does not work in 0.115 and in my current version of HA.

I have this in my configuration.yaml (from the HA integration page). I tested with and without the port, but the error stays the same.

[code]

After I reboot HA I always get this log:

`Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platfo

[2020-10-14 10:25] bachulator commented on #41561
Hi @rytilahti,

From my side I can confirm disabling all miio custom component doesn't solve the issue for me.

[2020-10-14 10:38] patrik996 opened #41828 "RFXTRX: Debug logging not working for switch"
## The problem

RFXTRX component does not seem to have debug logging for the switch component. Im trying to get some logging on my rfxtrx-switch and it doesn´t log anything about the switch.

Looking trough the code the cover, light and switch components seem to be missing debug-logging.

## Environment

- Home Assistant Core release with the issue: 0.116.2
- Last working Home Assistant Core relea

[2020-10-14 10:53] YaMoef commented on #41775
After looking a long time in my pc's firewall, I managed to get a folder added to the sonos system, after that I went Home assistant, clicked on browse media and it instantly found media! So if I understand correctly, there is no support for media from Spotify, TuneIn etc. And if there is no local media source the browser doesn't know what to do. Would it be possible to add support from other medi

[2020-10-14 11:06] chemelli74 commented on #41560
@cameronblunt, @PascalBu can you please post the output of http://shelly_ip/settings for those devices ?

Thx,

Simone

[2020-10-14 11:10] PascalBu commented on #41560
{"device":{"type":"SHRGBW2","mac":"XXXXXXXXXX","hostname":"shellyrgbw2-6CD3B1","num_outputs":4},"wifi_ap":{"enabled":false,"ssid":"shellyrgbw2-6CD3B1","key":""},"wifi_sta":{"enabled":true,"ssid":"XXXXXXX","ipv4_method":"static","ip":"192.168.2.16","gw":"192.168.2.1","mask":"255.255.255.0","dns":null},"wifi_sta1":{"enabled":true,"ssid":"XXXXXXX","ipv4_method":"dhcp","ip":null,"gw":null,"mask":null,

[2020-10-14 11:12] chemelli74 commented on #41560
Found the issue, will make a fix in a while.

Can you update manually the code of the integration for a quick test ?

Simone

[2020-10-14 11:14] PascalBu commented on #41560
Not sure, how to do that?

[2020-10-14 11:48] Quentame commented on #41701
Hi !

Are you having the same logs as #41589 ?

Solving #41589 is different because it's at config setup, but here the config is already set up.

In 116 we just added the Surveillance Station support, so shouldn't be much different.

If you have time to check this out, I'll appreciate your PR, because I'm currently busy on `icloud`, other `synology_dsm` issues.

Otherwise I'll check in few weeks.

[2020-10-14 11:57] Quentame commented on #41589
Will test #41829 before removing the draft status.

[2020-10-14 12:04] Quentame commented on #33634
The `Linky` integration platform has been remove because the API has been discontinued.

A new `Enedis` integration will be created but other integrations that I maintain needs my attention now: `iCloud`, `Synology DSM`.

I'll let you know when the time comes.
During this time, you can join the HA French speaking Discord server, where we speak about the integration and workarounds : https://discor

[2020-10-14 12:09] adorobis commented on #33245
Unfortunately, problem is not resolved, not sure if it worked for a while only in 0.115 version or was not resolved at all. Anyway in 0.116.2 version it is back.

[2020-10-14 12:18] adorobis commented on #37137
The issue is resolved in HA 0.116 version, so those lines no longer need to be commented. All works as expected!

[2020-10-14 12:19] chemelli74 commented on #41560
I did a quick test (no RGB device here) and you need to change https://github.com/home-assistant/core/blob/9ee97cb213d659aa9b6149484c0a42522decba78/homeassistant/components/shelly/entity.py#L31 from:

`mode = "relays"`

to

`mode = block.type + "s"`

Simone

[2020-10-14 12:20] fribse commented on #40612
It's going to be interesting to see if the #41784 also fixes this

[2020-10-14 12:20] Quentame commented on #36120
@raman325 @martymarty004 : App-specific passwords does not work, since the underlying lib uses the iCloud.com website authentication, and it's impossible to connect with an App-specific password through https://www.icloud.com/.

I should add this to the documentation: https://www.home-assistant.io/integrations/icloud

---

I personally got the issue starting from 9th of October.

There are issues

[2020-10-14 12:36] martymarty004 commented on #36120
I started using the iCloud integration because I couldn’t use the app at first (my ISP blocks requests to your own external IP for some reason), but now that I configured Ad-guard to rewrite the dns requests to the internal IP it works and I don’t need the integration anymore.

[2020-10-14 12:44] PascalBu commented on #41560
Actually don't know how to do that. Running Home Assistant OS on a Proxmox VM.

[2020-10-14 13:03] Mark612 commented on #40743
Same issue. I'm running 0.116.2. Some examples of similar components I also have: xiaomi_miio, mqtt, ffmpeg, climate.nest, hacs, stream.

[2020-10-14 13:07] BMicraft commented on #41753
I'm getting the same problem on 0.106.2
It is however accompanied by the an erroneous exception stating `State max length is 255 characters.`
This would be accurate for the whole response, but not for the sensor data as it should be filtered.

[code]

After the response is filtered for `json_attribute_path` and `json_attributes` there should only be about 150 characters left and look like this:

[

[2020-10-14 13:15] acsands13 commented on #41625
@cogneato Yes, this is running in VirtualBox on a Mac Mini. Pasted the "System Health" info at the bottom of this comment for reference.

Here's the output of `ha dns info`:
[code]

And here are my DNS logs under Supervisor → System:
[code]

"System Health" info under Configuration → Info:

arch | x86_64
-- | --
chassis | vm
dev | false
docker | true
docker_version | 19.03.11
hassio | true
host_os

[2020-10-14 13:22] zraken commented on #41819
Appreciate your pointers.
Looks like bellows is already installed. Anything else I can check on?

BTW, I am running on raspberry pi 4 with 2GB RAM.
[code]

[code]

[2020-10-14 13:33] #40451 closed

[2020-10-14 13:33] #40452 closed

[2020-10-14 13:33] #40487 closed

[2020-10-14 13:33] #40364 closed

[2020-10-14 13:38] pippo73 opened #41830 "Certificate Expiry unable to get local issuer certificate"
On a RBP4 running RBOS and HA running in a docker container I've configured the Certificate Expiry integration,
the problem is that it is not able to get my certificate.
My domain is sk4mc.hopto.org

[code]
Home Assistant 0.116.0.dev20201001

If I want to access to my HA server everything works well

[2020-10-14 13:51] bdraco commented on #41760
Only entities and event types can currently be excluded

https://www.home-assistant.io/integrations/recorder/#exclude

[2020-10-14 14:03] darkbasic opened #41831 "Cannot set up manual development environment on Fedora 33 (python 3.9)"
## The problem

I'm following this guide (https://developers.home-assistant.io/docs/development_environment/) to setup a manual environment and `script/setup` fails with a cryptic error

## Traceback/Error logs

[code]

## Environment

- Home Assistant Core release with the issue: git master
- Last working Home Assistant Core release (if known):
- Operating environment (OS/Container/Supervised/Cor

[2020-10-14 14:06] leardinet commented on #11907
ThingSpeak configuration help:

I entered the configuration in the configuration.yaml file

[code]
but I don't see the entity the channel is private and there are two fields

Does the component need to be installed? If so, how should I do?

[2020-10-14 14:21] chemelli74 commented on #41560
You can SSH on HA ?

Simone

[2020-10-14 14:26] az4l88 commented on #37137
oh really. thank you very much for your notice. I have updated to version
0.116 a day ago but all my card become not available. so I get back to my
older version. did not understand what changes happened to KNX to fix this
problem. if you understand it would be very appreciated to help.
thanks.

On Wed, 14 Oct 2020 at 21:18, adorobis <notifications@github.com> wrote:

[2020-10-14 15:01] #41819 closed

[2020-10-14 15:09] cameronblunt commented on #41560
I've got the same setup as @PascalBu and I also don't know how to edit files in core/homeassistant/. Just installed the SSH addon, I'm at the homeassistant cli, but do not know where to go from there.

Something else I tried was to make a custom component with the modified entity.py as in this thread:
https://community.home-assistant.io/t/editing-component-files-in-hassio/24273
But was not able to

[2020-10-14 15:13] PascalBu commented on #41560
I guess the console in Proxmox should have the necessary access?

[2020-10-14 15:21] cameronblunt commented on #41560
Yeah, I opened that too before installing the SSH addon. Then my issue is still how to use the homeassistant cli to navigate the file system and edit files. (If that's even the right way to go about it)

[2020-10-14 15:22] freemann commented on #41654
@cgtobi
I see some contributions on your account, is there something we can test?

[2020-10-14 15:25] farmio commented on #37137
@az4l88 read the knx breaking changes Release notes of HA 0.115 and HA 0.116. also available here: https://xknx.io/migration_ha_0115.html

[2020-10-14 15:27] oxygen0211 commented on #40885
Would like to work on this

[2020-10-14 15:29] cgtobi commented on #41654
That has nothing to do with this issue but I talked to Netatmo today and now I know where those issues come from at least.

[2020-10-14 15:38] az4l88 commented on #37137
Aha thank you very much.
Mine is 0.114
Did not know that there is an update for KNX in version 0.115.
The updates in 0.116 has nothing to do with my setup so was wondering what
is the issue.
I might find the answers in 0.115.
Thanks a lot

On Thu, Oct 15, 2020 at 0:25 Matthias Alphart <notifications@github.com>
wrote:

--
Nasser Ahmed
(+81)80-4885-9890
az4l88@gmail.com

[2020-10-14 15:48] lasconic commented on #41121
See also https://github.com/google/python-temescal/issues/7

[2020-10-14 16:39] cgtobi commented on #41654
You can try the fix:
[code]

[2020-10-14 16:49] freemann commented on #41654
With portainer installed the new pyatmo.

With this result;
'''Logger: homeassistant.components.sensor
Source: components/netatmo/sensor.py:120
Integration: Sensor (documentation, issues)
First occurred: 18:44:52 (2 occurrences)
Last logged: 18:46:11

Error while setting up netatmo platform for sensor
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity_pl

[2020-10-14 16:50] cgtobi commented on #41654
Then the fix isn't installed IMO.

[2020-10-14 16:53] ivanalonzo commented on #41563
I had the same issue. I resolved it by renaming the old DB file and restarting the service. Here is what I did.

* Installed the latest 0.116.2
* Navigated to `File Editor` and located `/config/home-assistant_v2.db`
* Renamed it to `/config/home-assistant_v2.db.old`
* Restarted HASS

That worked for me. All of my history is back and the error is gone from the logs. Oddly, the recreated `.db` file

[2020-10-14 16:53] cameronblunt commented on #41560
Success!

In order to edit files in core/homeassistant/ from the console in proxmox which puts you into the homeassistant cli.

1. login as root (no password)
2. Then type 'login' to get into the host system
3. "docker ps | grep homeassistant:0.116" This is to get your container ID of homeassistant. It's the first string of characters mine was '1166cf2a5c1a' yours will be different.
4. run 'docker

[2020-10-14 16:57] freemann commented on #41654
![Screenshot_20201014-185603](https://user-images.githubusercontent.com/601053/96020915-08562280-0e4f-11eb-8df9-0e2725fd84e3.jpg)

[2020-10-14 17:03] cgtobi commented on #41654
Are you sure you're in the right container/environment?

[2020-10-14 17:09] freemann commented on #41654
Is a restart of the container necessary?

[2020-10-14 17:10] caseyburkhardt commented on #40648
I'm also observing this, and it's been occurring since I began using YouTube Music a few months ago.  Previously, Google Play Music was working just fine.  I can confirm this impacts both single speakers and speaker groups, and the Google Home mobile app can control next/prev track.  Please let me know if there's something I can do to help debug.

[2020-10-14 17:14] jsimon3 commented on #41654
I can confirm that the fix worked for me - thanks to help from cgtobi. Yes, a restart of HA was necessary. Dont know if a container restart would have done it as well

[2020-10-14 17:35] Maco65 commented on #40192
@gugaspinto - I believe the only way is to downgrade to version 0.114.4 - it is extremely easy if you are using HassOS (``` ha core update --version 0.114.4 ```). few minutes later after reboot all was working fine.

And I happy to see some activities to fix the issue so hopefully soon it will be part of another version. :)

[2020-10-14 17:39] PascalBu commented on #41560
Thanks for pointing in the right direction. Somehow did not manage to get there via Proxmox, so tried Portainer and that also worked to get to the proper shell. Works fine now here also!

[2020-10-14 17:45] xenoputtss commented on #41424
I guess Ill just disable the SRM integration

[2020-10-14 17:56] FaHuSchmidt commented on #39590
Hello, i can confirm the problem with HMIP-FROLL devices.
I’m running HA on a raspberry as Docker container.
It appeared with version 0.115 and exists also in my current version 0.116.2.
I'm using a CCU3 with version 3.53.30.

[2020-10-14 18:05] bachya commented on #36947
Great to hear, @keiranharris! I'm still not seeing a clean way to get Digest Auth in here just yet, so I'll keep this issue open and continue to 🤞 that we see an upstream solution in `aiohttp`.

[2020-10-14 18:26] ghvader commented on #39136
digging in a little bit. using the somecomfort package that HA is using, i went to the command line. I can log in and see my device, get set points. etc. but when i try to set a temp in auto mode i always get this error
`DEBUG:urllib3.connectionpool:https://www.mytotalconnectcomfort.com:443 "POST /portal/Device/SubmitControlScreenChanges HTTP/1.1" 302 186
DEBUG:urllib3.connectionpool:https://www.m

[2020-10-14 18:31] freemann commented on #41654
Tried from putty to reinstall the package with the following result:
![Screenshot_20201014-201512 (2)](https://user-images.githubusercontent.com/601053/96030210-0181dc80-0e5c-11eb-8ee2-76c701432396.jpg)

Also opened the pyatmo.py inside the container:
![Screenshot_20201014-202726](https://user-images.githubusercontent.com/601053/96030276-19f1f700-0e5c-11eb-9b9d-3dc183c48445.jpg)

The cursor left i

[2020-10-14 18:32] skynet01 commented on #41424
That actually won't help it will always show up even if you don't have SRM enabled.  .. at least for me it's like that

[2020-10-14 18:46] Sparticuz commented on #39136
I've noticed that I'm unable to set temps as well. `somecomfort` seems to be quite old and possibly abandoned.

[2020-10-14 18:49] donkawechico commented on #38625
Should this issue be added to https://alerts.home-assistant.io/?

[2020-10-14 18:56] cgtobi commented on #41654
Of course you need to restart HA.

[2020-10-14 18:58] freemann commented on #41654
Ok, been there done that.
Will wait for the official release and hoping it fixes the issue.

[2020-10-14 19:02] thibmaek commented on #40924
I'm starting some dev work on HA again, so maybe I'll try and pick this up.

[2020-10-14 19:04] barrymossel commented on #37267
Same goes for me. The provided remote works crappy and I would rather use Home Assistant

[2020-10-14 19:09] #41560 closed

[2020-10-14 19:39] danielperna84 commented on #39590
Could somebody please test what happens when the following modification is applied [here](https://github.com/home-assistant/core/blob/4cc6eee1ac62fe4ca13d356a76efbfe694f95acb/homeassistant/components/homematic/cover.py#L41)?

Before:
[code]

After:
[code]

I'm especially interested to know how this impacts startup (do the entities get created?), and in case we're dodging the problem this way, if t

[2020-10-14 19:43] CurrentThread commented on #40793
Almost done I think, one remaining issue maybe someone can help #41845

[2020-10-14 19:44] roblunx commented on #41738
I've go the exact same issue and [these too](https://community.home-assistant.io/t/automations-not-working-after-0-115-1-2-update/228478).

[2020-10-14 19:45] gruberpl commented on #40192
I went back to version 1.114.4 and I have this error now:
`Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py", line 184, in _async_setup_platform
    await asyncio.shield(task)
  File "/usr/local/lib/python3.8/concurrent/futures/thread.py", line 57, in run
    result = self.fn(*self.args, **self.kwargs)
  File "/usr/src/homeassistant/homeass

[2020-10-14 20:13] erogleva commented on #40876
I would like to work on this one

[2020-10-14 20:18] thaohtp commented on #40862
Can I get a review in [PR#41852](https://github.com/home-assistant/core/pull/41852)?

[2020-10-14 20:50] balloob commented on #41738
@bdraco, looks like a bug in `remove_track_time_changes`. What do you think ?

[2020-10-14 21:05] cgtobi commented on #41654
@freeman please show me line 51 of that file. It should contain `if "station_name" not in item:`.

[2020-10-14 21:13] bdraco commented on #41738
I wonder if there is an empty list of entities being passed in

[2020-10-14 21:14] krue81 commented on #41344
Any update on this? I'm still seeing this issues after two core updates...

[2020-10-14 21:18] bdraco commented on #40292
https://github.com/home-assistant/core/pull/41820 should help a bit as well

[2020-10-14 21:19] bdraco commented on #40292
Everything that should help with this except https://github.com/home-assistant/core/pull/41741 has made it into 0.117dev at this point.

[2020-10-14 21:41] bdraco commented on #41738
That's it

[code]

[2020-10-14 21:56] user897943 commented on #41541
@hunterjm I appreciate what you're saying about it being a firmware issue - however, the camera's daylight saving time setting appear to be OK, when I use OSD function to superimpose date and time on the video, it shows the correct date and time. Furthermore it shows the correct date and time on the camera's WebUI and it does take into account the DST settings (I am on the BST timezone, GMT+1).

T

[2020-10-14 22:17] igoramadas commented on #40588
What did you add as sensor ID? The serial number? I just tried and still doesn't work on my setup.

[2020-10-14 23:03] daaustintx opened #41862 "Insteon python3.8 error"
## The problem
After updating to Python 3.8.x, this error message started to occur. The error only occurs when starting HASS. The error does not occur with Python 3.7. When upgraded, I followed the normal procedure by creating a new virtual environment and executing a new install command.

## Environment
- Home Assistant Core release with the issue: 0.115.6
- Last working Home Assistant Core relea

[2020-10-14 23:05] czechmark commented on #40588
No not the serial number... The sensor id from https://mypwrview.generac.com/#settings/sensors .
It's a hex number and I put it in my configuration.yaml file exactly as shown on that web page with enclosing quotes... ie
    sensor_id: "0x0000XXXXXXXXXXXX"

[2020-10-14 23:14] briglx commented on #40578
@MartinHjelmare looks like zerproc has nothing to change.

[2020-10-14 23:26] JustMaier commented on #38026
@webdjoe Where should I grab that updated component to test? Also, are there any other changes that I'll need to make?

[2020-10-14 23:50] barberio commented on #23077
The cause of this is that aiohttp, which is used at various places in home-assistant, applies strict checking of 8190 bytes for headers.

#aio-libs/aiohttp/issues/2304

Either checks need to be made to make sure home-assistant never passed over-sized headers to aiohttp, or to use a patched version of aiohttp that relaxes the restriction on header length.

[2020-10-15 00:33] rajlaud commented on #40596
Thank you. I believe the errors on load are because you are running v0.115, but the media browse code requires v0.116. However, I'd like to understanding the issue loading playlists better. Can you post a sample of the playlist you tried to load?

media_player.play_media expects a dictionary with two keys: `index`, which is where you are in the playlists, and `urls`, which should be an array of di

[2020-10-15 03:18] uvjustin commented on #41569
This indeed would come from switching from MJPEG to HLS. MJPEG doesn't take much processing power to display but takes a lot of bandwidth. With HLS it's more efficient but your screen device has to decode the video. A lot of (cheap) Android tablets have middling GPUs which don't support video decoding at higher profiles/resolutions. The video might work on your phone which has a better GPU.

[2020-10-15 03:58] titilambert commented on #40346
I fixed it !
I just:
1. Stop hass
2. Delete the folder `deps/lib/python3.8/`  (it should contains cv2/env_canada/opencv_python...) in the config folder
3. Start hass

[2020-10-15 04:35] Damon-Shen commented on #39135
same error to me

[2020-10-15 05:16] gieljnssns commented on #40292
@bdraco
Since yesterday evening my cpu is higher then I'm used to (since 0.115.x)
<img width="370" alt="Schermafbeelding 2020-10-15 om 06 55 02" src="https://user-images.githubusercontent.com/17234951/96078976-f195e700-0eb3-11eb-9e2f-7457e1faa1f7.png">
I made a py-spy of 2min.  https://www.dropbox.com/s/i7nhf5lzf0xohxe/spy-0.116.2-cpu_higher.svg?dl=0

But I'm seeing a lot of errors when taking the

[2020-10-15 05:26] gieljnssns commented on #40292
After a restart of HA my cpu level is back to (after 0.115) niveau.
<img width="340" alt="Schermafbeelding 2020-10-15 om 07 26 07" src="https://user-images.githubusercontent.com/17234951/96080603-b5fd1c00-0eb7-11eb-84f9-9ae0e9a9fda3.png">

[2020-10-15 05:47] hunterjm commented on #39135
There was an issue for a while, but the wheel should be available now for amd64 architectures. It does not look like the TensorFlow wheels are pre-built on any of the other architectures. Perhaps a docs update is in order.

[2020-10-15 05:50] thebatfink commented on #41613
FYI behaviour is same with Open Zwave Beta also.

[2020-10-15 06:05] ottelo9 commented on #41771
I've exactly the same problem, but this occur after only few hours. HA 0.116.2.

[2020-10-15 06:06] tadakatsukami commented on #41586
It's destroying my soul! I am going to remove Icloud stuff until its fixed. I wish I knew how!

[2020-10-15 06:30] quamilek commented on #40850
I take this task

[2020-10-15 06:58] slofii opened #41874 "Error after trying to pair Home bridge - Device not found in Home-App"
## The problem

If I want to pair my Home Assistance Instance with HomeKit if only got the message, that the device isn't found.

## Environment

- Home Assistant Core release with the issue: 116.2
- Last working Home Assistant Core release (if known):
- Operating environment (OS/Container/Supervised/Core):
- Integration causing this issue: HomeKit
- Link to integration documentation on our websit

[2020-10-15 07:02] JohanElmis commented on #41761
Sounds like I have the same issues. 0.115.6 works fine - but upgrading to the latest (0.116.2) I can not communicate with KNX any more. (Read or Write) The logs are gone now, but there were a lot of read-errors as I have about a 100 KNX "points" (spread over Switches, Dimmers, Temp, Brightness and much more", that I control. Most of these has several KNX addresses as all switch & dimmers have Feed

[2020-10-15 07:16] otivedani commented on #41750
after looking the code, currently this is how the argument parsed :
https://github.com/home-assistant/core/blob/6ccdf62e6b79c946b19037b44388fc40d8796296/homeassistant/components/telegram_bot/__init__.py#L518-L526

possible change is, by using yaml array instead comma separator, so comma could be used in the layout text.

from this :
[code]
to this :
[code]

if it's ok, I want to make PR about this

[2020-10-15 07:26] #41594 closed

[2020-10-15 07:26] #41738 closed

[2020-10-15 07:30] #41721 closed

[2020-10-15 07:36] thinkwareltd commented on #40268
I have the same problem:

`2020-10-15 08:12:19 ERROR (MainThread) [homeassistant.components.yeelight.config_flow] Failed to get capabilities from 192.168.0.90: timeout
2020-10-15 08:12:19 ERROR (MainThread) [homeassistant.components.yeelight.config_flow] Failed to import 192.168.0.90: cannot connect`

[2020-10-15 07:37] balloob commented on #40292
If your terminal can't handle all the output, store the output in a text file: `py-spy dump --pid 233 > dump.txt`.

How often do you sample your CPU? The biggest thing showing up on the flame graph is … fetching states from the database which, among other things, are used to render that graph you're showing a screenshot off 😬

[2020-10-15 07:39] #41637 closed

[2020-10-15 08:04] Llenas09 commented on #40670
Hi,
I have two Shelly 2.5 on Roller mode on Home Assistant 0.116.2 / HassOS 4.13 - Supervisor 247 on VMware VM.
The firmware on the devices are 20200827-065456/v1.8.3@4a8bc427.

Two devices works fine but I think that in  0.116 start to connect/disconnect devices constantly.
I have removed both devices and tried to add them back but it fails with an "Unexpected error" message.

This is the log err

[2020-10-15 08:17] suside commented on #40586
@emontnemery yes, I can reproduce:

1. stop HA
2. restart ESPurna based switches
3. wait until they publish discovery messages
3. start HA

[2020-10-15 08:55] cassianyoung commented on #41761
Sounds a little different.

I had no communication under 0.1156 or 0.116. All switches, lights, covers and thermostats showed as unavailable.

On 0.1162 everything works apart from knx_send of payloads that are python lists.

[2020-10-15 09:18] igoramadas commented on #40588
It works again! Thanks a lot @czechmark for the tip.

(But the component should still be updated, or at least the device_id made mandatory and the info updated on the documentation)

[2020-10-15 09:33] verstrepeng commented on #41569
Would it be possible to make this configurable ?
My tablets are not cheap ones, it is not a performance issue...

[2020-10-15 09:39] mat1990dj opened #41878 "maxcube sending commands to more than one valve"
## The problem
When setting a valve set temperature, two valves get changed

## Environment
HomeAssistant with maxcube integration

- Home Assistant Core release with the issue: 0.116.2
- Integration causing this issue: maxcube
- Link to integration documentation on our website: https://www.home-assistant.io/integrations/maxcube/

## Problem-relevant `configuration.yaml`

[code]

## Traceback/Erro

[2020-10-15 09:44] uvjustin commented on #41569
Ok, ignore what I said then

[2020-10-15 09:45] notpurum commented on #41750
Well, what I would do is change
`[[key.strip() for key in row.split(",")] for row in keys]`
to
`[[key.strip() for key in row.split(";")] for row in keys]`

So that any time I want separate buttons I use semicolon, but when I use comma it stays comma. Like so:
[code]
This still seems to be not the best solution thou. And it might be not a correct solution at all since I'm very weak at yaml

[2020-10-15 10:05] GauthamVarmaK commented on #40578
If any reviewers are free please have a look at the open pulls related to this issue, so we can check more items in the list😂

[2020-10-15 10:14] mat1990dj commented on #41878
Traces after setting temp from HA:

`2020-10-15 12:08:16 DEBUG (SyncWorker_4) [maxcube.cube] Setting temperature 7.0 and mode 1 on 1AC94C!
2020-10-15 12:08:16 DEBUG (SyncWorker_4) [maxcube.cube] Request: 0004400000001AC94C044e
2020-10-15 12:08:16 DEBUG (SyncWorker_4) [maxcube.cube] Command: s:AARAAAAAGslMBE4=

2020-10-15 12:08:16 DEBUG (SyncWorker_4) [maxcube.connection] Connecting to Max! Cube at

[2020-10-15 10:38] freemann commented on #41654
Ok can't get around this;

First I uninstall pyatmo 4.0.0;
[code]
Then I install 4.1.0 beta;
[code]
Then I check with the uninstall command if 4.1.0 is installed and it is;
[code]
Then I restart HA with the service command call; homeassistant.restart

After the restart I check the installed pyatmo version again and its back to 4.0.0;
[code]

So the restart of HA is don't strange things in the Dock

[2020-10-15 11:25] stphndrnd opened #41880 "Template sensor not giving any value after upgrade to 0.116"
## The problem
After upgrading to the new template sensor structure a bunch of template sensor are presenting unknown as value instead of the calculated value.

## Environment
- Home Assistant Core release with the issue: 0.116.2
- Last working Home Assistant Core release (if known): 0.115
- Operating environment (OS/Container/Supervised/Core): HassOS 4.13
- Integration causing this issue: Templat

[2020-10-15 11:26] cgtobi commented on #41654
What HA version are you using? You have to be on 0.116.2.

[2020-10-15 11:31] Verguldebarman opened #41881 "entity_globs not working in history"
## The problem
The exclude option using entity_globs is not working in History, even when documentation says it is an option: https://www.home-assistant.io/integrations/history/#entity_globs

## Environment

- Home Assistant Core release with the issue: 0.115.6
- Last working Home Assistant Core release (if known): n/a
- Operating environment (OS/Container/Supervised/Core): HassOS 4.13
- Integrati

[2020-10-15 11:33] freemann commented on #41654
Ah OK, that's 1 step further because it stays on 4.1.0 package.

Tried so many things that I lost the HA version out of side...

But.... New error message in town;
[code]

[2020-10-15 11:35] paplinski commented on #41880
I can just confirm that the issue exists

[2020-10-15 11:39] rahaaas commented on #40201
Some very funky things happening to me too, which seems related. Only joined HA on 116.1, but it seems that the Tradfri integration also blocks the app from finding the Gateway at initial setup.

So if you set up HA after the Gateway is connected to the IKEA app, it’s fine (though then appears to mess with HomeKit once the Tradfri config changes).

Only managed to get things working again (by chan

[2020-10-15 11:43] Quentame commented on #41315
App-specific passwords does not work, since the underlying lib uses the iCloud.com website authentication, and it's impossible to connect with an App-specific password through https://www.icloud.com/.

I should add this to the documentation: https://www.home-assistant.io/integrations/icloud

---

I personally got the issue starting from 9th of October.

There are issues created on the library too

[2020-10-15 11:44] Quentame commented on #36120
Duplicates #41315

Please only follow this issue.

[2020-10-15 11:44] #36120 closed

[2020-10-15 11:44] Quentame commented on #41586
This is due to iCloud server cookie policy that changed.

Duplicates #41315

Please only follow this issue.

[2020-10-15 11:45] Quentame commented on #41586
Answers to everyone : https://github.com/home-assistant/core/issues/41315#issuecomment-709230396

[2020-10-15 11:45] #41586 closed

[2020-10-15 11:51] thibmaek opened #41882 "NFC Tags can not be scanned iOS 14"
## The problem

- Home Assistant Core release with the issue: 106.2
- Last working Home Assistant Core release (if known):
- Operating environment (OS/Container/Supervised/Core): iOS 14, latest version of app
- Integration causing this issue: Tags
- Link to integration documentation on our website:

## Traceback/Error logs

[code]

## Additional information
 Using these NFC tags: https://www.aliex

[2020-10-15 11:52] Quentame commented on #41315
@raman325 proposed a PR to handle better re_auth : picklepete/pyicloud#306 :muscle:

But work still need to be done.

[2020-10-15 11:54] stphndrnd commented on #41880
Thanks! Anyone knows if it has been reported somewhere else? Seems to have appear after the WTH month release.

[2020-10-15 12:07] TimNe0 commented on #35720
I have this issue with 0.116.2 core install in docker.

2020-10-15 12:41:16 ERROR (SyncWorker_35) [homeassistant.components.uvc.camera] Unable to login to camera

Logger: homeassistant.components.uvc.camera
Source: components/uvc/camera.py:166
Integration: uvc ([documentation](https://www.home-assistant.io/integrations/uvc), [issues](https://github.com/home-assistant/home-assistant/issues?q=is%3Ai

[2020-10-15 12:10] therealdandecker commented on #41315
I think there is an issue with the mobile app as well. I have completely removed iCloud integration and it still comes up.

[2020-10-15 12:19] KattenJansson1974 commented on #40201
I got it working a few days ago, and this is my conclusion.

I run Home Assistant Core in a Python venv. Conditions when all was working fine:
Ikea GW: 1.13.1
Python: 3.7
HA 0.114.4

Ikea GW got an automatic firmware update to 1.14.0, and that's when thinks started to behave very strange. So I thought I would update HA to 0.116.0 to see if it worked any better. Worked even worse than on 0.114.4. S

[2020-10-15 12:25] st3v3nFr commented on #41315
No, i had the same.
you have te remove all files in .icloud folder and you'll be fine

[2020-10-15 12:35] therealdandecker commented on #41315
Dynamite thanks. Been making me crazy.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: st3v3nFr <notifications@github.com>
Sent: Thursday, October 15, 2020 8:25:29 AM
To: home-assistant/core <core@noreply.github.com>
Cc: Dan Decker <daniel.decker1@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [home-assistant/core] Apple iCloud integration repeated

[2020-10-15 12:36] Quentame commented on #41315
I've did the same, and got the same results.
It seems to have an other issue : when you remove the integration, it continues to update at fetch interval.

Remove the integration then reboot HA.

[2020-10-15 12:55] OrangeFlavored opened #41883 "Wake on LAN Switch integration doesn't seem to pass context properly for turn_off action"
## The problem

These warnings pop up in my logs every time I trigger a REST command from the turn_off action of a Wake on LAN switch saying that "Running script requires passing in a context".  I tried googling it and only found one other reference in a reddit post [here](https://www.reddit.com/r/homeassistant/comments/j4yz2s/looking_for_the_simplest_way_to_switch_my_macbook/g7ou1vb?utm_source=sh

[2020-10-15 12:56] SorJEF commented on #12634
This is happening for me on 0.114.4

Stack trace:

[code]

[2020-10-15 12:57] cgtobi commented on #41654
@freemann Now that you're on 0.116.2 did you run `pip install --upgrade https://github.com/cgtobi/netatmo-api-python/releases/download/v4.1.0b1/pyatmo-4.1.0-py3-none-any.whl` inside that container again?

[2020-10-15 13:00] samuelecarpene opened #41884 "Smart Things - Samsung Wind Free AC - AC Modes Missing"
## The problem

After enabling "Smart Things" integration home assistant found my 4 Samsung Wind Free AC (Models: 2 x AR09MSPXBWKN and 2 x AR12MSPXBWKN).
All is working fine but there are some missing ac modes (heat and fan).. These modes are offered by Smartthings app and by IR remote controller.
When i switch to these modes from app or ir remote controller home assistant take an unknow state on

[2020-10-15 13:24] nohn commented on #35187
Looks like this one is related to #40542

[2020-10-15 13:25] nohn commented on #40542
Looks like this one is related to #35187.

[2020-10-15 13:26] nohn commented on #35187
Still reproducible with 0.116.2.

[2020-10-15 13:31] mat1990dj commented on #41878
There may be an issue with maxcube-api 0.1.0 ...

[2020-10-15 13:33] tchellomello commented on #39135
It's working for me now

[2020-10-15 13:37] aidbish commented on #41881
support for that was implemented in 0.116
from changes for 0.116
Add entity glob matching support to history (@bdraco - #40387) (history docs)

[2020-10-15 13:40] bdraco commented on #40292
Can you send another callgrind.out with the profiler.

I can compare it to the last one and see what changed

[2020-10-15 13:41] JurajNyiri opened #41886 "Onvif fails to start on Home Assistant 0.116.3"
## The problem

Onvif integration fails to start on Home Assistant 0.116.3

## Environment

HassOS 4.13 on Raspberry Pi 4

- Home Assistant Core release with the issue: 0.116.3
- Last working Home Assistant Core release (if known): 0.116.2
- Operating environment (OS/Container/Supervised/Core): HassOS 4.13, supervised
- Integration causing this issue: onvif
- Link to integration documentation on o

[2020-10-15 13:43] sagitt commented on #41886
same here.

[2020-10-15 13:46] epiniguin opened #41887 "APCUPSd unables to reinitialize after network recovery"
## The problem

In my environment HA connects to remote apcupsd.
If network is down or apcupsd service does not respond, APCUPSd component does not initialize when HA is starting.
After network recovery APCUPSd component does not reinitialize.
Only HA restarting solves the problem.

## Environment

- Home Assistant Core release with the issue: 0.115.3
- Last working Home Assistant Core release (if

[2020-10-15 13:47] mgiako commented on #41886
and here, but on HassOS 4.14

[2020-10-15 13:50] pznamenskii opened #41888 "WLED service does not accept template as effect value"
## The problem

WLED service fails to accept a template as an input to "effect" parameter. I am trying to pass an integer from a randor sensor but the service call fails being unable to cast the value to int. templates editor in dev tools proves that the template evaluates to an int.

## Environment

- Home Assistant Core release with the issue: 116.2
- Last working Home Assistant Core release (if

[2020-10-15 13:51] gieljnssns commented on #40292
Profile send

The graph I'm showing is just cpu from https://www.home-assistant.io/integrations/systemmonitor/

[2020-10-15 13:56] epiniguin opened #41889 "telegram_bot does not reinitialize after network recovery"
## The problem

If network is down or telegram server does not respond, telegram_bot component does not initialize when HA is starting.
After network recovery telegram_bot component does not reinitialize.
Only HA restarting solves the problem.

## Environment

- Home Assistant Core release with the issue: 0.115.3
- Last working Home Assistant Core release (if known):
- Operating environment (OS/Co

[2020-10-15 14:25] mmatesic01 commented on #41886
me too

[2020-10-15 14:28] bdraco commented on #40292
Did you take the profile when the cpu had increased, or after the restart?

It looks functionally identical to the last one.

[2020-10-15 14:29] bdraco commented on #40292
From the `py-spy` `top` it looks like something was fetching `history` data.  Do you have a any custom cards that poll history?

[2020-10-15 14:34] freemann commented on #41654
Just updated to 0.116.3, checked pyatmo version and my docker shows 4.1.0, restarted the container, still 4.1.0 is there and sensors are reloading.
The lack of a stationname is a bit disappointing, do you have ideas how i could fix that on the NetAtmo side?

Thanks for all you time and effort!

[2020-10-15 14:34] Trolann commented on #41613
Temperature high end and low end (parameters 49/50) have the same behavior.

[2020-10-15 14:40] frenck commented on #41888
You need to enquote templates.

`{ ... }` is a dictionary
`"{ ... }` is a string (and possibly a template)

[2020-10-15 14:41] cob94440 commented on #41886
Same here

[2020-10-15 14:42] frenck commented on #41887
I'm like really sure this is not a Home Assistant issue:

`socket.gaierror: [Errno -3] Temporary failure in name resolution`

The operating system still isn't capable of resolving DNS names, which means the network isn't fully up/restored yet.

[2020-10-15 14:52] epiniguin commented on #41887
Only HA restarting solves the problem.

[2020-10-15 14:53] pznamenskii commented on #41888
thanks for looking at this. if I enquote it, the data passed to service comes enquoted as well and therefore interpretted as String - and as a String == "43" (example) does not match any of the available effect names, effect is not applied even though service call succeeds.
eventually, I am unable to pass the sensor's value as int to the service. not sure if that is normally acxhieved via template

[2020-10-15 14:57] hioctane61 opened #41891 "rtsp stream stops working in frontend with homeassistant.components.stream.worker warning in the main log"
## The problem

RTSP stream stops working after around 30 seconds in the frontend.

The stream works perfectly fine in VLC outside of homeassistant

## Environment

arch | x86_64
chassis | desktop
dev | false
docker | true
docker_version | 19.03.13
hassio | true
host_os | Debian GNU/Linux 10 (buster)
installation_type | Home Assistant Supervised
os_name | Linux
os_version | 5.7.0-0.bpo.2-amd64
pyt

[2020-10-15 15:16] gijbelsy commented on #40596
I'm running HA 0.116.2, on HA Core Supervisor version 247.
I'm calling the service media_player.play media as follows:

[code]
The playlist itself contains 5 URL streams (radio stations).

The data inside the dictionary I provide differs from what you describe. Has this been changed since HA 0.112 (it was working in this version)?

[2020-10-15 15:18] barrettadk commented on #41886
pip install python-zeep is a workaround if someone needs it right now.

[2020-10-15 15:19] uvjustin commented on #41891
The stream is resetting because we are detecting a timestamp overflow. I'm not sure why this is happening - this may be a spurious error or related to some kind of network issue or stream reset. This PR might have addressed it by allowing for 2 of these packets. https://github.com/home-assistant/core/pull/41467 .
Please ignore the other out of order packet message. It's a warning, not an error, an

[2020-10-15 15:22] gieljnssns commented on #40292
It was taken after the restart, when this happens again, I will take another profile

I use
``
custom:auto-entities,  8x
custom:search-card,  1x
custom:vertical-stack-in-card,  17x
custom:fold-entity-row,  (a lot 96x)
custom:calendar-card,  5x
custom:state-switch,  1x
custom:bar-card, 22x
custom:mini-graph-card,   32x
custom:weather-card,   1x
custom:mini-media-player,   10x
custom:gauge-card,  1x

[2020-10-15 15:27] hioctane61 commented on #41891
Thanks for swift reply. I keep watch on that pull request, if it makes it into near future release, hopefully it will resolve issue. I can then close.

[2020-10-15 15:27] rajlaud commented on #40596
Thanks, I'll check it out. I didn't know that loading a playlist by
friendly name worked before.

[2020-10-15 15:36] gijbelsy commented on #40596
For what it's worth: just saw the upgrade to 106.3 was available, error in log on startup remains:
[code]

[2020-10-15 15:36] danielsmith89 commented on #41882
Sounds like either an issue with iOS 14 or the tags you bought. I've got some tags and running absolutely fine in iOS 14

[2020-10-15 15:37] 7h30n3 opened #41892 "Turning off Hyperion light via Home Assistant turns off Hyperion for other sources"
## The problem

I have Hyperion NG running on an RPi3 (LibreELEC) (priority: 250). On another PC I have Home Assistant 0.116.2 (priority: 128). And on a 3rd PC I use Hyperion Screen Capture (Protocol Buffers Server) to get Ambient Light while gaming (priority: 100).
(With the update to Home Assistant 0.116 I also had to update from Hyperion Classic to NG.)

Home Assistant is controlling Hyperion N

[2020-10-15 15:53] thibmaek commented on #41882
@danielsmith89 just tested this with another iPhone (X, iOS 14) and the same tags. Worked immediately there.

[2020-10-15 15:53] gieljnssns commented on #40292
I'll take a profile first and then I'll close them all...

[2020-10-15 15:54] 7h30n3 commented on #41499
Maybe it's the same issue.

But when I turn on the hyperion light and select "Solid" as effect and a color and then turn it off and back on again, the actual light doesn't turn back on as the UI suggests. I have to select a color first.

[2020-10-15 15:56] danielsmith89 commented on #41882
From the looks of the Apple forums, it seems it's a common problem with iOS 14 and the iPhone 11

[2020-10-15 15:58] cgtobi commented on #41654
Are you using their new app?

You gotta upgrade the pyatmo lib linked above. It won't show a different version though.

[2020-10-15 15:59] mat1990dj commented on #41878
Can be closed, it happens also with their own software right after reseting cube and all valves

[2020-10-15 15:59] #41878 closed

[2020-10-15 16:23] Verguldebarman commented on #41881
Thanks!  I'll update asap.

Issue can be closed.

[2020-10-15 16:23] #41881 closed

[2020-10-15 16:32] cooljimy84 commented on #38841
I've now got 0.116.2 installed and python 3.8 in a venv and this now adds and works fine for me.

[2020-10-15 16:36] FaserF commented on #41822
Had a similar issue, but then I realized that for me it wasn't working anymore since IFTTT got payed and limited the amount of triggers. Maybe You should have a look to that too.

And by the way, at least for me I could automate everything at the end with Homeassistant with no need to use IFTTT anymore. Maybe that's a solution for you too?

[2020-10-15 16:37] rexer78 commented on #41886
same problem to me, home assistant 0.116.3 with 0.116.2 all ok

[2020-10-15 16:39] gimi87 commented on #41886
How to run this command on HassOS 4.13 ?

[2020-10-15 16:53] orlov-alex commented on #41624
Still broken in 0.116.3

[2020-10-15 16:53] frenck commented on #41888
Currently, a template always results in a string in Home Assistant. You cannot change that behavior, that is hardcoded into Home Assistant itself.

There is work done to change that behavior in a future version, however, that means right now, a template is a string.

[2020-10-15 16:55] slydiman commented on #41624
Still broken in 0.116.3

[2020-10-15 16:59] #40245 closed

[2020-10-15 16:59] #39903 closed

[2020-10-15 17:04] shuntfield commented on #41886
Also have the same problem here with 0.116.3 - additionally you get the error when you attempt to remove the integration, its not able to be removed or added.

[2020-10-15 17:11] StefanoGiu commented on #41822
@FaserF
1) I downgraded to 0.114 and it works again
2) I have IFTTT Pro, so no limits on triggers
3) I use IFTTT to do voice activated commands with all my smart devices (e.g. hey Google, clean my kitchen...) so I don't think HA can suffice it

[2020-10-15 17:19] nicx commented on #41886
+1

[2020-10-15 17:22] 11redgears commented on #41886
This worked for me, through portainer container console. Thank you

[2020-10-15 17:26] wasp100 opened #41898 "iOS 14 - HomeKit camera not streaming on iPad and Apple TV 4K"
## The problem

IOS 14 allows one to see the camera streams on an Apple TV.

@bdraco Since upgrading to iOS 14, I notice that the camera configured via home assistant in HomeKit does not stream on my iPad nor on my Apple TV 4K. I do get the screenshots every couple of seconds but if I try and get a stream, it says that the camera is not responding.

I’ve tested the camera streams on the Apple TV H

[2020-10-15 17:35] freemann commented on #41654
The lib version is on 4.1.0 and what I mean is shown below. Here you see the co2 sensors of both the 2 base stations, where one is "wk" and the other "kinderkamer" and I have no idea which is which(of course I known which is which)
![Screenshot_20201015-192431~2](https://user-images.githubusercontent.com/601053/96164916-3c4b4980-0f1c-11eb-96a3-cb25fbfc50aa.jpg)

The sub sensors have a name and cou

[2020-10-15 17:40] ps1x commented on #39246
In order to get people where they should go:
please upvote this feature request if you want to see it in Home Assistant https://community.home-assistant.io/t/support-for-xiaomi-miio-support-for-dmaker-airfresh-t2017/235798

[2020-10-15 17:42] wes1993 commented on #40481
Hello Again @uvjustin
I have updated my HA to 0.116.3 and now i the image lost and work and also i have this in the log of HA:

![image](https://user-images.githubusercontent.com/52070589/96166616-7d445d80-0f1e-11eb-92d2-f492281672ec.png)

![image](https://user-images.githubusercontent.com/52070589/96166643-86cdc580-0f1e-11eb-8f5c-e17020c9d437.png)

Thanks again fot all your help :-D
Stefano

[2020-10-15 17:48] frenck commented on #41831
We have not yet reached Python 3.9 compatibility, please use Python 3.8.

[2020-10-15 17:48] #41831 closed

[2020-10-15 17:50] wes1993 opened #41899 "Camera Stream not full work"
## The problem

## Environment

- Home Assistant Core release with the issue:
- Last working Home Assistant Core release (if known): Around 0.115.2
- Operating environment (OS/Container/Supervised/Core): Docker - Ubuntu 18.04.5 LTS and Debian 10
- Integration causing this issue: Stream
- Link to integration documentation on our website: https://github.com/home-assistant/core/issues?q=is%3Aissue+is

[2020-10-15 17:51] Nik71git commented on #41886
same here. checking configurations before upgrade did not find errors.... Waiting for a quickly solution, pleeease

[2020-10-15 17:52] frenck commented on #41830
Hi there,

Thanks for opening up an issue. When creating an issue, an issue template is presented. It looks like you've (partly) removed it. This causes your issue report to be incomplete.

Please edit your issue to have the full issue template back again and provide as much of the requested data as possible. Without it, we won't be able to help you.

Thanks already! 👍

[2020-10-15 17:57] frenck commented on #41823
Hi there,

Thanks for opening up an issue. When creating an issue, an issue template is presented. It looks like you've (partly) removed it. This causes your issue report to be incomplete.

Please edit your issue to have the full issue template back again and provide as much of the requested data as possible. Without it, we won't be able to help you.

Thanks already! 👍

[2020-10-15 18:03] pschmitt commented on #41827
Are you using a software bridge by any chance?

[2020-10-15 18:05] ordor2k opened #41900 "Broadlink Switch Not working on 0.116.3"
## The problem

## Environment

- Home Assistant Core release with the issue: 0.116.3
- Last working Home Assistant Core release (if known):  0.116.2
- Operating environment (OS/Container/Supervised/Core): HassOS 4.13
- Integration causing this issue: Broadlink
- Link to integration documentation on our website: https://www.home-assistant.io/integrations/broadlink

## Problem-relevant `configurati

[2020-10-15 18:17] nmsaini commented on #21688
Same here.
I am running 0.115.6. It was gone, but now back!

[2020-10-15 18:20] uvjustin commented on #41899
Same as https://github.com/home-assistant/core/issues/41891

[2020-10-15 18:21] uvjustin commented on #41891
@hunterjm Can we cherry pick https://github.com/home-assistant/core/pull/41467 ?

[2020-10-15 18:30] Dennydd commented on #41886
Same for me

[2020-10-15 18:32] elupus commented on #41828
No. That has been removed. I wonder hap happened to the docs pull. You need to enable logging using the logging component.

See breaking change in: https://github.com/home-assistant/core/pull/40679

Seems the docs update has been moved to another pull. So we need to fix that.

[2020-10-15 18:33] FaserF commented on #41822
For 3.:
Ha actually can do that (I am using that myself):.
https://github.com/Apipa169/Assistant-Relay-for-Hassio

On Thu, Oct 15, 2020, 19:11 StefanoGiu <notifications@github.com> wrote:

[2020-10-15 18:37] RobBie1221 commented on #41828
@elupus That's not in 0.116, it missed beta by a few days. That will be in 0.117.

[2020-10-15 18:43] valgeirhelgi opened #41901 "upnp and onvif broken in 0.116.3 update"
Following update to 0.116.3 from 0.116.2 the following errors show up.

I can downgrade to 0.116.2 and the errors stop and the components start working again.

# upnp - error
[code]
# onvif -error
[code]

[2020-10-15 18:48] spider7611 commented on #41886
same

[2020-10-15 18:54] JeffResc opened #41903 "Hyperion Integration Default Icon(s)"
## The problem

This is less of an issue and more of a suggestion for @dermotduffy. On [these lines](https://github.com/home-assistant/core/blob/0a656f13eb665fddd11c7049a43ab4f0cedb911d/homeassistant/components/hyperion/light.py#L75-L77), the Hyperion integration declares it's default icons, but I noticed it wasn't utilizing `mdi:television-ambient-light`. You may want to change the icon to this a

[2020-10-15 18:56] cgtobi commented on #41654
Ok, I'll take a look.

I was referring to the iOS app from Netatmo.

[2020-10-15 19:00] SeByDocKy commented on #41901
I can confirm the error on my system (WANSCAM camera)

[2020-10-15 19:04] kpmkpm commented on #40612
Also got this error for couple of day now on my 116 installation (HA core). Any chance it will be fixed or should I just move the rest of my +50 ikea bulbs to zigbee2mqtt? Somehow my older HA core installation (still 115.6) is working.

I had similar problem back in 0.9x and got it fixed - if I remember right, by disabling the firewall totally on my when CentOS. It was some udp ports which was use

[2020-10-15 19:08] StefanoGiu commented on #41822
Yes but I would lose the natural voice of Google Assistant on behalf of the TTS (Text To Speech) free robotic voice.

[2020-10-15 19:10] DubhAd commented on #41901
Probably a duplicate of https://github.com/home-assistant/core/issues/41886

[2020-10-15 19:10] FaserF commented on #41822
Assistant relay is using Google assistant voice and not TTS. :)
But check it out for yourself

[2020-10-15 19:12] frenck commented on #41903
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2020-10-15 19:12] #41903 closed

[2020-10-15 19:14] basnijholt commented on #34715
This is still an issue in 0.116.

@frenck, can you reopen?

[2020-10-15 19:16] frenck commented on #41901
Closing as a duplicate of #41886

[2020-10-15 19:16] #41901 closed

[2020-10-15 19:22] hunterjm commented on #41886
Looks like we need to pin Zeep in the dep: https://github.com/hunterjm/python-onvif-zeep-async/blob/async/setup.py#L9

Zeep recently released 4.0 which uses `httpx` and not `asyncio`.

[2020-10-15 19:31] wes1993 commented on #41899
Sorry... :(
Thanks again :-D

[2020-10-15 19:34] esplor commented on #41660
I'm not sure which ssh_config file HA use.
But the standard location in most *NIX/BSD based OS's is in /etc/ssh/ssh_config for system wide client config and ~/.ssh/config for user.

Try to put the following line into either user config or system wide config.
`KexAlgorithms +diffie-hellman-group14-sha1`

The "+" in front of diffie-hellman-group14-sha1 means, use the default algorithm and append the

[2020-10-15 19:37] dermotduffy commented on #41903
@JeffResc (But thanks Jeff, I'll do this, good idea)

[2020-10-15 19:47] hunterjm commented on #41886
Package updates also need to be made in `noaa-coops` and `total-connect-client`, or I need to pin zeep in the ONVIF manifest. Waiting on confirmation on which to do.

[2020-10-15 20:08] balloob commented on #40292
Your 32 mini graph cards all fetch history! You shouldn't profile with your frontend open while having custom cards loaded because that's not our code running.

[2020-10-15 20:24] #41886 closed

[2020-10-15 20:25] elfhack commented on #41884
@samuelecarpene Not sure if this also applies to WindFree models, but my older port 8888 model does the same thing, and that's because the actual device LIES about this - you could query it via curl and in the reply it would only reply with those exact modes you posted, omiting the heat mode. I'm guessing Samsung devs on the side of SmartThings don't have a quirk for this like the Android app modu

[2020-10-15 20:30] elupus commented on #41828
Ok. The logging is only from the library, also the old debug logging only logged to stdout, so you can look at the normal logging window in hass. You need to look at console.

This will be resolved with the new way of logging in 0.117. Then you can see it in normal log places.

[2020-10-15 20:32] poldim commented on #25705
@springstan or @frenck - You appear to have worked on this component in the past

Is it possible to make Octoprint not throw this error if it cannot connect to the printer?  For me, my octoprint is always powered but the printer is only powered and connected when printing.  It makes sense that the component could warn you that the printer isn't connected to octoprint, but an error seems too much?

[2020-10-15 20:33] elupus commented on #41883
Fixed already for next release. https://github.com/home-assistant/core/pull/40254

[2020-10-15 20:33] #41883 closed

[2020-10-15 20:35] elupus commented on #41828
I'm going to close this for now. It should be solved (with different syntax) for next release 0.177, please reopen if you can't get debug logging working.

[2020-10-15 20:35] #41828 closed

[2020-10-15 20:37] #41579 closed

[2020-10-15 20:37] Petro31 commented on #40690
@mkanet when state_attr fails it returns `None`, not a string representation of `"None"`.

[code]

I also suggest you incorporate an availability template.

[2020-10-15 20:42] balloob commented on #41625
Hm, can you see if in `<config>/.cloud/production_auth.json` there are values for `id_token`, `access_token` and `refresh_token` ?

[2020-10-15 20:43] marcelkous opened #41910 "Update from 0.116.2 to 0.116.3 broke Automations GUI (Actions part)"
## The problem
After performing the update from **0.116.2** to **0.116.3** the "Actions" part of the Automations does not show all the information in the gui anymore.

I had some automations using the IKEA SYMFONISK Sound Controller as Trigger and i called service "media_player.xxxxx".
In version 0.116.2 there was a field to select the entity to call the service on. This field is gone in version 0

[2020-10-15 20:47] acsands13 commented on #41625
@balloob I do not have a file called `production_auth.json` in that directory. Only seeing:
[code]

I am not logged into Home Assistant Cloud at the moment. Trying to do so fails with the error message "Unable to reach the Home Assistant cloud."

[2020-10-15 20:50] balloob commented on #41625
Right, that's only if you're logged in.

Are you on Discord? Could you ping me. I'm balloob#6041 or join us in #cloud channel @ https://www.home-assistant.io/join-chat/

[2020-10-15 20:53] McGiverGim opened #41912 "Onvif not loading, missing module zeep.asyncio"
## The problem
With home Assistant 0.106.3 the onvif integration gives the error:

## Environment

- Home Assistant Core release with the issue: 0.106.3
- Last working Home Assistant Core release (if known): 0.106.2
- Operating environment (OS/Container/Supervised/Core):
- Integration causing this issue: OS
- Link to integration documentation on our website: https://www.home-assistant.io/integrati

[2020-10-15 20:58] freemann commented on #41654
I think I'm using the new Android NetAtmo app(v3.0.0.17).

[2020-10-15 21:01] McGiverGim commented on #41912
Closing, it has been fixed...

[2020-10-15 21:01] #41912 closed

[2020-10-15 21:04] ktownsend-personal commented on #37705
This is still an important issue that is leaking secrets in the logs.

[2020-10-15 21:06] olealm commented on #41576
Problem with Google Cloud tts: 'en-US-Wavenet-D' not a Frame instance
Still present in 116.3.

[2020-10-15 21:06] ericvb opened #41913 "The option 'Precision' was added as optional in the influxdb integration, but is in reality required?"
## The problem
The option 'precision' was added between HA version 0.115.x and 0.116.x.

My influxdb integration was working in version 0.115.6 and after the update to 0.116.2, it stopped working.

After some search and reading the code changes between the two versions, I saw that the new option 'precision' is not optional like mentioned in the documentation, but required.

## Environment
arch: x8

[2020-10-15 21:10] mkanet commented on #40690
@Petro31 Thank you very much!!  Could you please take a look at my template to see if I incorporated the respective availability template correct?

[code]

[2020-10-15 21:12] Petro31 commented on #40690
for availablity you want true/false returned, so you can simplify it to a single line.  But you may also want to account for 'unknown'.

[code]

[2020-10-15 21:18] laithalsunni opened #41915 "Performance metrics in the Supervisor UI"
## The problem

## Environment
<!--
 Supervisor
Version
247

arch | aarch64
-- | --
chassis | embedded
dev | false
docker | true
docker_version | 19.03.11
hassio | true
host_os | HassOS 4.13
installation_type | Home Assistant OS
os_name | Linux
os_version | 4.19.127-v8
python_version | 3.8.5
supervisor | 247
timezone | America/Detroit
version | 0.116.3
virtualenv | false

![Screenshot 2020-10-15 1

[2020-10-15 21:27] balloob commented on #41544
Closing as environment in issue template has not been completed.

[2020-10-15 21:27] #41544 closed

[2020-10-15 21:35] #40887 closed

[2020-10-15 21:39] cgtobi commented on #41654
@freemann please check my PM on the forum. Thx

[2020-10-15 21:40] #38937 closed

[2020-10-15 21:51] dex3r commented on #37547
I face the same problem, only tap-to-run actions are visible, no actual devices. Please help.

[2020-10-15 22:02] balloob commented on #41281
If there are no entries in the DB, I guess we could add an "unknown" state and include the current state. But that might be a frontend issue again, since the API should return the history data, not make up something.

[2020-10-15 22:08] bdraco commented on #41281
If it does turn out there is no data coming back from the backend, it probably mean we need to send this back to `frontend` since we could pull the state and display what is is now if the backend returns no history.  I wouldn't want to wedge it into the history api since it would make the history api be returning invalid data.

[2020-10-15 22:22] mkanet commented on #40690
@Petro31  The original errors are gone!  Sensors are now working when HA starts up.  However, after I added the availability template (using your example above), I am getting the below errors. It doesn't seem to like what I put for the availability template.

[code]

Below, is the exact code I'm using:

[code]

[2020-10-15 22:24] Petro31 commented on #40690
@mkanet typo,

[code]

[2020-10-15 22:25] Clem- opened #41918 "Netatmo Camera not working anymore"
## The problem

My Netatmo Outdoor Camera device is not showing up anymore as well as its other light/sensor entities.

## Environment

- Home Assistant Core release with the issue: 0.116.3
- Last working Home Assistant Core release (if known):
- Operating environment (OS/Container/Supervised/Core): Core Container
- Integration causing this issue: Netatmo
- Link to integration documentation on our

[2020-10-15 22:28] glyndon commented on #41862
Same issue here. Following...

[2020-10-15 22:28] dkulchinsky commented on #36336
I'm still hitting this issue on my Hikvision DS-HD1, motion events work for a couple of hours after starting HA and then they just stop reporting.

Same camera attache to my Synology (for recording) through ONVIF works just fine, had to fallback to webhook intergation from Synology to HA.

@hunterjm I recall you have the same Doorbell, does that work ok for you?

[2020-10-15 22:34] hunterjm commented on #36336
@dkulchinsky - Yeah, but my doorbell has no issues reporting events. I may have used HikVision's batch update tool to disable daylight savings time on it since it was reporting the wrong timestamp, which may also cause issues with re-subscribing to events?

![image](https://user-images.githubusercontent.com/747670/96192864-f048d680-0f14-11eb-8cbf-4091c53269b0.png)

[2020-10-15 22:37] mkanet commented on #40690
@Petro31 Thank you very much for your time and patience!  This is the first time I've seen my rest sensors work correctly/consistently.  I also learned quite a bit about templates all thanks to you.

[2020-10-15 22:37] #40690 closed

[2020-10-15 22:41] dkulchinsky commented on #36336
ohh, that could be! so you disabled DST and manually adjust TZ?

On Thu., Oct. 15, 2020, 18:34 Jason Hunter, <notifications@github.com>
wrote:

[2020-10-15 22:42] acsands13 commented on #41625
Massive thanks to @balloob and @cogneato for the help debugging this. @balloob put in #197 to fix the stack trace for the `Invalid type for parameter AuthParameters.REFRESH_TOKEN` error.

For others who have this issue, the fix for me was...

It turned out to be an ipv6 DNS server that was present, which should not have been. You can remove it by disabled ipv6 on the VM:

1. Open your VM and log i

[2020-10-15 22:42] #41625 closed

[2020-10-15 22:46] samuelecarpene commented on #41884
@elfhack i think too that there is a lie in the smarthings api. But i think the app developers introduced a condition to show heat and fan. If we understand where is the condition i think it can be implemented in the smartthings integration too.

For reference can you write the curl call or give me a link? So i can test more the situation...

Can you share your custom component... maybe with a rep

[2020-10-15 23:08] gotschi commented on #33137
same errors happen with eve aqua

`Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/components/homekit_controller/connection.py", line 363, in async_update
    new_values_dict = await self.get_characteristics(
  File "/usr/src/homeassistant/homeassistant/components/homekit_controller/connection.py", line 399, in get_characteristics
    return await self.pairing.get_c

[2020-10-15 23:14] quarcko commented on #29382
I have same issue, but can't remember from which HA update it all started.
I'm using TileBoard panel that is running directly on tablet itself. and history was working perfectly
with cors_allowed_origins enabled in config. But then i noticed that it does not work.

Tried to access the API via Postman, with cors_allowed_origins enabled in config,
but i cannot see HA sending appropriate header!

Ple

[2020-10-15 23:35] hunterjm commented on #36336
yes

[2020-10-15 23:38] dkulchinsky commented on #36336
Thanks @hunterjm, I'll try the same

[2020-10-16 00:23] TheBassman opened #41922 "Scene.create not storing FastLED partition states"
## The problem

I have an addressable LED strip using the ESPHome integration configured with 3 partitions (segments).(k1, k2 and k3)
I use these partitions as status indicators for various things. I also flash the entire strip for alerts.
The scene.create function works great to store the strip entity, but never writes the statuses of the partitions.
Script:
[code]
After running the script, no da

[2020-10-16 00:54] dmonego commented on #40857
I'd like to take this one on.

[2020-10-16 01:59] briglx commented on #40578
@MartinHjelmare you can update the checkbox for xiaomi_miio

[2020-10-16 02:01] dmonego commented on #40849
I'd like to take this on.

[2020-10-16 02:35] dermotduffy commented on #41499
Just an update on my side: I'm working hard on getting the config_flow for Hyperion working, including multiple & dynamic instance support, and thus being able to deprecate and ultimately remove the YAML. This is consuming all the time I have available at the moment, but once that's done -- this bug report is the next thing on my list to investigate.

[2020-10-16 03:40] bagobones commented on #39588
Apparently, the data returned from the discovered systems is malformed. This specific warning is only that a warning and not an error in zeroconf just a message telling you what was malformed from the external system.. Maybe this should be considered INFO level in HA.  Or i guess we can just adjust it and ignore it in logger.

[2020-10-16 04:13] tomlut commented on #41883
As this is still occurring I assume the fix did not make it into 0.116.3 or 0.116.4?

[2020-10-16 04:25] Tom7320 commented on #40331
Last night it happened again. The HA Docker container updated automatically at 22:34. At 00:54 the evening sun events triggered (lights on etc.). Everyone was awake; the kids, my wife, the dog and me.... 😱

Is there anything I can do to isolate the error? Meanwhile, there is no longer any doubt that it is an error.....

Have a great day!

[2020-10-16 04:29] wova21 commented on #31708
For me the warning started after deploying https://github.com/datech/node-red-contrib-amazon-echo

[2020-10-16 04:46] felipediel commented on #36624
@fkleon I had to update the branch to add support for SP4M. Could you please help to test it again? 😆 Sorry!

[2020-10-16 04:51] eigan commented on #40331
@Tom7320 Could you try adding `above: 0.0` _(or whatever is the lowest expected number)_.

[2020-10-16 05:05] flochtililoch commented on #27292
[code]

[code]

[code]

[2020-10-16 05:33] elupus commented on #41883
Nope. Will be in 0.117

[2020-10-16 05:35] tomlut commented on #41883
No worries. Thanks for the fix.

[2020-10-16 05:37] sheckandar commented on #38501
@SteveDinn I was having the same issue as well. It looks like it's a problem with Jellyfin Android app latest version. The way it registers Chromecast devices now is just with "Chromecast" where as before it would register with chromecast name.

So now every time a new device is created on JellyFin server, even if its the same device, a new entry is created in Home Assistant, because it thinks it'

[2020-10-16 05:43] hogend commented on #36316
On 116.4, I still get

Oct 16 07:37:36 arrakis hass[2877507]: 2020-10-16 07:37:36 ERROR (MainThread) [homeassistant.components.ipp] Error fetching ipp data: Invalid response from API: Error occurred while communicating with IPP server.
Oct 16 07:37:36 arrakis hass[2877507]: 2020-10-16 07:37:36 WARNING (MainThread) [homeassistant.config_entries] Config entry for ipp not ready yet. Retrying in 80 se

[2020-10-16 05:51] shenxn commented on #41624
Seems that the yeelight device on 192.168.3.64 refused to response. Try restart your device. If that does not work, try reset the device.

[2020-10-16 06:12] sheckandar commented on #38501
I just filed a bug with them.

https://github.com/jellyfin/jellyfin-android/issues/191