[2020-09-10 12:07] jes1417 commented on #39813
Yes no more errors

[2020-09-10 12:12] cgtobi commented on #39848
On prod:
[code]

On dev:
[code]

[2020-09-10 12:13] ve6rah commented on #39597
@michaeldavie
I only have a single weather component per the config posted above. So that's not the issue in this case.

[2020-09-10 12:27] tigattack commented on #39852
I rolled back to 0.114.4 and the issue was still apparent, absolutely no communication. Also tried deleting and recreating the ZHA integration, also sadly to no effect.
I'm going to try re-pairing a couple of devices to see if that sorts it out.

[2020-09-10 12:33] uvjustin commented on #39848
I see, nothing to investigate there :-(. Those library versions are identical and correspond to ffmpeg 4.2.x which makes sense as your RPi is using 4.2.x and the binary wheel for 8.0.2 which I assume your dev box is using also uses 4.2.x.

[2020-09-10 12:41] andriej opened #39892 "Hass.io system user name change?"
## The problem

In "Users" menu there's a "Hass.io" user added by the HA.
I assume it would be good to change it as Hass.io is not used anymore widely...

Configuration -> Users in UI
![image](https://user-images.githubusercontent.com/6303489/92730355-ef4fe280-f373-11ea-84f0-9f62cebb2a39.png)

## Environment

- Home Assistant Core release with the issue: 0.114.4
- Last working Home Assistant Core

[2020-09-10 12:54] emontnemery commented on #35673
I just realized that I linked to the wrong issue, the correction for the handling of MQTT light's value templates is in #39325.
The problem is that the template is picked from a local variable visible to the message callback closure, maybe that's what you mean by `this link isn't updated unless one of the three values there are change`?

As you correctly point out this problem is not limited to MQ

[2020-09-10 13:06] zenoVerboom commented on #38806
Verified that the problem also exist for Raspberry Pi 4 Model B (4 GB) as well. (pi camera V2) Also No errors in log, neither image or video.
tried editing config without succes.

[2020-09-10 13:15] cgtobi commented on #39848
Insteresting. I messed too much with my dev setup last night. Because I can now reproduce the error with the binary wheel.

And after building with `--no-binary` on dev I now get:
[code]

But the error stays. So at least now it's broken consistently.

Now I don't why exactly it worked in the past days and why it is now broken after reinstalling all dependencies etc.

[2020-09-10 13:17] bsfaxi opened #39933 "Home Assistant doesn't recognize curtain close action reported by Deconz"
## The problem

I have paired a new acquired curtain zigbee switch with the Raspbee II. It appears correctly in Home Assistant with the 3 action buttons : Up, Stop and Down.
The 2 actions UP and STOP work correctly, but not the DOWN one. It seems even not taken into account as I don't see it in the log!
![image](https://user-images.githubusercontent.com/23717629/92730472-1c9c9080-f374-11ea-96bb-b6

[2020-09-10 14:00] uvjustin commented on #39848
@hunterjm Actually the autobsf flag gets unset when we use empty_moov : https://ffmpeg.org/doxygen/trunk/movenc_8c_source.html#l06330 . This would explain the error when remuxing from a mpeg-ts container.
Any ideas how to apply the bitstream filter manually? In the meantime we can just disable audio for HLS streams.

[2020-09-10 14:00] uvjustin commented on #39848
Hmm, not sure if this is better or worse :-)

[2020-09-10 14:04] uvjustin commented on #39848
Thanks. I think we have identified the issue, just need to make a workaround.

[2020-09-10 14:08] hunterjm commented on #39850
Can we create a separate issue for that. Let's use this ticket for tracking the `av` errors which are related to stream.

[2020-09-10 14:09] bdraco commented on #39891
May be the same as #31785

[2020-09-10 14:15] hunterjm commented on #39848
https://pyav.org/docs/develop/api/container.html#flags has a way of setting it? I can't find any examples on how to do that though...

[2020-09-10 15:17] cogneato commented on #39887
Tried to reproduce this by first creating on on 0.115.b3, which worked fine. Then updated to b4 and it worked as well. Are you having this issue in a browser or mobile or...? Have you tried another browser?

[2020-09-10 15:18] ludeeus commented on #39887
It's spotty, duplicate of https://github.com/home-assistant/frontend/issues/6888
Fixed with <https://github.com/home-assistant/frontend/pull/6917>

[2020-09-10 15:18] #39887 closed

[2020-09-10 16:00] joshtbernstein commented on #38579
It sounds like your thermostat functions similar to mine. I looked at mine and Air Temperature Units is set to C just like your screenshot. And I seem to remember the Air Temperature did get reported in C (and HA was converting it). However the bug was that setpoints were sent over in F, but the units were incorrectly set to C. I think that is what was fixed in OZW.

Here's a portion of my mqtt.du

[2020-09-10 16:10] emontnemery commented on #39847
OK, great.
@balloob Do you have some suggestion? Can we increase the timouts during startup maybe?

[2020-09-10 16:19] danieledwardgeorgehitchcock commented on #35468
This is still broken for me. My integration now has no devices or entities and my media_player.panasonic_viera_tv is always unavailable

[2020-09-10 16:46] hunterjm commented on #39848
Nevermind, that gets set then removed again on the `moov_init`... We either need pyAV to implement BSF, implement the filter ourselves, or add a check on the source container to disable audio for MPEG-TS/HLS sources.

Long term, proxying browser supported formats (HLS, Progressive MP4) directly would definitely be preferable, but that won't be a 0.115 fix.

[2020-09-10 16:47] hunterjm commented on #39848
FWIW, my vote is to remove audio for now since these users currently don't have it in Home Assistant anyway.

[2020-09-10 16:53] mezz64 commented on #38501
In general, I don't have a problem making accommodations for Jellyfin within pyEmby as long as documentation exists to implement them and testers are available.

[2020-09-10 16:53] uvjustin commented on #39848
I'll disable audio for HLS sources for now. Post a PR in a bit. BTW, I'm working on top of that other overflow/non-monotonic timestamp PR I made..want me to take that out?

[2020-09-10 17:00] tigattack commented on #39852
OK, it looks like everything works after removing all devices and re-pairing them. Quite a process!
Unsure if this was a bug directly related to the upgrade to 0.115.0b2 since everything was still broken when I rolled back to 0.114.4. Perhaps something in the upgrade process could've caused this? It does seem odd that it was working minutes before I upgraded, and as soon as I upgraded all my Zigbe

[2020-09-10 17:01] uvjustin commented on #39850
For those with the stream error, can you share what you get for "av.library_versions" in your HA python interpreter?

[2020-09-10 17:01] hunterjm commented on #39848
Yeah, I think it's best to do it as a new branch off of `dev` based on the standing policy not to include anything other than bugfixes after a beta has been cut.

[2020-09-10 17:01] lloeki opened #39903 "HomeKit TV sources sometimes mixed up as On/Off states"
## The problem

Sometimes TV has source selector missing, when that happens there are several "On" states described on the TV header in the Home app. Attached screenshots show both expected working state and the strange non-working state.

Whether it behaves properly or not seems random, sometimes it "fixes itself" a few seconds apart and then mixes things up again.

Unsure whether the bug lies in

[2020-09-10 17:09] basnijholt opened #39904 "0.115.0b4: Trigger on attribute with no 'to' or 'from' triggers on all state changes"
## The problem

I have the following automation:
[code]

Which I expect to trigger **only** when the `volume_level` changes.

However, I receive these notifications (where you see that the `volume_level` hasn't changed):
![IMG_1945](https://user-images.githubusercontent.com/6897215/92767930-e244ea80-f397-11ea-9783-7671b8fc18f3.jpg)

I believe that here
https://github.com/home-assistant/core/blob/4

[2020-09-10 17:17] SteveDinn commented on #38501
I'm happy to test. Let me know what I can do.

[2020-09-10 17:19] #39298 closed

[2020-09-10 17:29] rccoleman opened #39905 "State triggers on attributes as described in the docs validate, but fail to load"
## The problem

I'm trying to follow the example for attribute-based triggers and I'm finding some strange behavior.  Some of it may be code and some documentation, so I'm lumping them together here.

This is from the docs:

[code]

First, that code doesn't actually do what the description says :).  Adding the following would help, if that's the intention:

[code]

If I follow that model for one o

[2020-09-10 17:38] derekatkins commented on #39279
Just a quick update for everyone -- they reached out to me early this week to say they found another problem so they were going to delay (further) the switchover to the new infrastructure.  I plan to reach out to them tomorrow or Monday, but so long as they keep it pointed to the legacy infrastructure out integrations will continue to work.

Apparently another option would be to change the URL fro

[2020-09-10 18:09] vandalon commented on #39850
{'libavutil': (56, 51, 100), 'libavcodec': (58, 91, 100), 'libavformat': (58, 45, 100), 'libavdevice': (58, 10, 100), 'libavfilter': (7, 85, 100), 'libswscale': (5, 7, 100), 'libswresample': (3, 7, 100)}

[2020-09-10 18:12] joekerna commented on #39645
I've solved the issue:
I was using a specific DNS server in my docker environment:
My `/etc/docker/daemon.json` was configured as

[code]

I've deleted the file and restarted docker. Now HomeAssistant updater is working just fine.

I just don't understand, why this was causing this problem?! `1.1.1.1` is working just fine for everything else.

[2020-09-10 18:13] #39645 closed

[2020-09-10 18:14] fribse opened #39909 "Deconz integration does not report position for IKEA FYRTUR blind"
## The problem

I have added two IKEA blinds to deconz, one of them is a Kadrilj, the other is a Fyrtur. The Kadrilj reports the position as it should, but the Fyrtur does not unless I press the 'read attributes' manually in Phoscon for the blind.

## Environment

- Home Assistant Core release with the issue:  0.114.3
- Last working Home Assistant Core release (if known):  Unknown
- Operating envi

[2020-09-10 18:22] uvjustin commented on #39850
@vandalon Your error is with the still_image_url and not the stream component, no?

[2020-09-10 18:23] basnijholt commented on #39904
I tried adding a failing test in #39910.

However, the test below is passing...

`tests/components/homeassistant/triggers/test_state.py`
[code]

[2020-09-10 18:51] Kane610 commented on #39909
You have an issue with the pairing then.

[2020-09-10 18:52] #35673 closed

[2020-09-10 19:06] fribse commented on #39909
I have tried deleting it, and repairing it. I can set the position in deconz, and it will go to the position. I can't do that in the integration.

[2020-09-10 19:08] #29931 closed

[2020-09-10 19:08] #36999 closed

[2020-09-10 19:10] fverschure commented on #39865
thanks for pointing out the docs page. I was expecting this due to the coap changes in 1.8 However after chatting with Simone i did raise the bug to be sure that this was the case.

[2020-09-10 19:10] Kane610 commented on #39909
Ok. Enable debug logs in hass and share when you change settings from deconz

[2020-09-10 19:17] elupus commented on #39861
This might be related to #39884.

However I wonder if this might be case sensitive on the keys.

[2020-09-10 19:18] elupus commented on #39861
Ie you wrote "values" lowercase above, but the event should container "Values"

[2020-09-10 19:32] vandalon commented on #39850
Yes, I was too quick :)

[2020-09-10 19:48] IIAIronWolf commented on #39113
@bdraco

[2020-09-10 19:50] #38182 closed

[2020-09-10 19:55] #39848 closed

[2020-09-10 19:59] spencer-scott commented on #36214
I can confirm @Misterbrot1966 solution. The `trigger_time: 2` example in the current documentation is read in as seconds in the  and it needs to at minimum be above 60 for the switches to work if you input your data like the second example below.

[code]

[2020-09-10 20:04] cgtobi commented on #39848
Thank you, guys, for the quick fix.

[2020-09-10 20:05] IIAIronWolf opened #39916 "HomeKit Fails to Setup"
## The problem

Have been trying and failing to get HomeKit working for multiple weeks and after multiple HomeAssistant software updates. I have tried both through the Integrations section of the Configuration page and through the configuration.yaml.
I am getting an error message just after the setup for the HomeKit Bridge begins.
This may possibly have to do with my HACS Wyze Sense Component (htt

[2020-09-10 20:46] balloob commented on #39817
So this happens I think when an async functions is called without it being awaited. It's weird that this happens in the recorder, as that's pretty much all sync 🤔

I don't know how you run Home Assistant, but would you be able to run it with `--debug`. It might show some more info.

[2020-09-10 20:48] balloob commented on #39817
Would you be able to disable appdaemon and see if it persists ?

[2020-09-10 20:54] to4ko commented on #39847
just updated to 0.115.0b5 - same errors.

[2020-09-10 21:09] bdraco commented on #39791
`OperationalError: (sqlite3.OperationalError) attempt to write a readonly database`

This looks like a broken filesystem or disk.  The kernel can remount the filesystem read-only if there is a serious I/O error with the device.

Do you see `Remounting file system read-only` in your `dmesg` ?

[2020-09-10 21:13] IIAIronWolf commented on #39916
After talking with the ha-wyzesense group, it appears this may actually be the cause of the ha-wyzeapi HACS integration. https://github.com/JoshuaMulliken/ha-wyzeapi
I will open an issue there as well.

[2020-09-10 21:14] rccoleman commented on #39817
Yeah, it’s weird. I’m running OS/Supervised in a KVM on Ubuntu and can just stop the addon. It started in 0.114, got worse in 0.115, and I don’t think I’ve added anything to my config in that time. I did run with asyncio on debug and with the custom component from https://github.com/home-assistant/core/issues/7133#issuecomment-372160280 yesterday, and the number of ‘pending’ errors decreased, but

[2020-09-10 21:14] IIAIronWolf commented on #39916
Also, excited to see there is a bugfix available for this that might fix other's issues as well. Thanks, @bdraco !

[2020-09-10 21:19] #39916 closed

[2020-09-10 21:24] IIAIronWolf commented on #39916
So do I just need to wait for the next Home Assistant update that references HomeKit changes? @bdraco

[2020-09-10 21:33] Jolanrensen commented on #35780
Same issue:

HA 0.114.4, raspberrypi3-64, HassOS 4.13

[code]

[2020-09-10 21:35] bdraco commented on #39916
Yes, or switch to beta and wait for 0.115b6.

[2020-09-10 21:38] Misiu commented on #39791
@bdraco I've enabled ssh web UI access and called `dmesg` there, but nothing about read-only file system.
I can wait until the next crash and maybe I'll find something there.

However, I found this (there is more, but I can't copy all via webui):
[code]

Not sure if this can help with solving the issue. Any clues?

[2020-09-10 21:39] IIAIronWolf commented on #39916
Thanks! Still a bit of a github n00b. Haha

[2020-09-10 21:41] bdraco commented on #39791
Based on that output, I'd immediately backup and replace the microsd card with the recommended one from https://www.home-assistant.io/getting-started/: https://amzn.to/2X0Z2di

[2020-09-10 21:41] emontnemery commented on #35780
@Jolanrensen can you reproduce the problem?

[2020-09-10 21:45] hunterjm commented on #39850
The MJPEG/non-stream related portion of this ticket is resolved in 0.115.0b5

[2020-09-10 21:45] bdraco commented on #39875
Ordered a GL-B-001Z. I'll see if I can replicate this in a few weeks when it gets here.

[2020-09-10 21:45] Misiu commented on #39791
@bdraco I already ordered A2 class card. The sad part is that I put a new card (class 10 uhs-i) about two weeks ago :/

[2020-09-10 21:46] bdraco commented on #39791
Replace the power supply and make sure it provide sufficient wattage

[2020-09-10 21:51] Misiu commented on #39791
I have [MEAN WELL HDR-30-5 | 5V 3A 15W](https://www.tme.eu/pl/en/details/hdr-30-5/din-rail-mounting-power-supplies/mean-well/), so it should be enough.
The system was working fine for the last year (I had to replace the card once because I didn't configured the recorder and history).
I recently updated to 0.114.4, but this might not be related to the problem.
I'll replace the SD Card with a better

[2020-09-10 21:53] bdraco commented on #39791
That should be more that sufficient.

Hopefully the A2 solves it. 🤞

[2020-09-10 21:55] hunterjm commented on #39850
On another note, my Jetson Nano SD Card reader is broken, so I've got no ARM devices to test on... Can try to run an emulated docker container on my host, but that might take some time to setup.

[2020-09-10 21:58] Jolanrensen commented on #35780
Not really at the moment. Since the error I'm unable to access Home Assistant aside from the SSH terminal... However, it's weird, when executing "ha core logs" I get the error logs as shown above from 17:31 today, immediately followed by logs from now 23:50 with nothing in between. After a reboot it's the same, up till 17:31 and then immediately from now on. So... I'm not really sure what's going

[2020-09-10 22:54] Skeletorjus commented on #39904
This seems related, so I'm curious if this also covers an issue I'm experiencing where neither 'to' , 'from' or 'attribute' is defined, but the automation still triggers with every attribute change? I would expect it to trigger only on state changes.

[2020-09-10 23:50] rccoleman commented on #39817
Well, it's not AppDaemon.  Just got a string of these all in a row with no nearby logs:

[code]

[2020-09-11 00:06] danielbrunt57 commented on #39857
So, I finally found the quirk:
`"""Osram A19 tunable white device."""
from zigpy.profiles import zha
from zigpy.quirks import CustomDevice
from zigpy.zcl.clusters.general import (
    Basic,
    Groups,
    Identify,
    LevelControl,
    OnOff,
    Ota,
    Scenes,
)
from zigpy.zcl.clusters.homeautomation import ElectricalMeasurement
from zigpy.zcl.clusters.lighting import Color

from . import Os

[2020-09-11 00:26] Adminiuga commented on #39857
[code]

and in the replacement dict, change `Color.cluster_id` to `OsramColorCluster`. something like that

[2020-09-11 00:48] grantalewis opened #39921 "Ambient Ambient Weather Station: No Updates last 24-36 hours"
## The problem

Sensors from Ambient Weather have not updated for 24-36 hours

## Environment

Home Assistant 0.114.4
arch | x86_64
-- | --
chassis | desktop
dev | false
docker | true
docker_version | 19.03.12
hassio | true
host_os | Ubuntu 18.04.5 LTS
installation_type | Home Assistant Supervised
os_name | Linux
os_version | 4.15.0-96-generic
python_version | 3.8.3
supervisor | 242
timezone | Ame

[2020-09-11 00:57] bachya commented on #39921
Try turning your logs to DEBUG mode for `homeassistant.components.ambient_pws` and `aioambient` and awesome if any log entries stand out.

[2020-09-11 01:04] grantalewis commented on #39921
I'm sure you explain this far too often... could you paste the appropriate configuration.yaml entry to enable logging for ambient, etc.?

[2020-09-11 01:11] bjackson commented on #37138
Hi @pmd5700, what did you change to get it to work?

[2020-09-11 02:12] bachya commented on #39921
Turn those around: make the default `critical` and the Ambient-related ones `debug`.

[2020-09-11 02:13] coolguymatt opened #39922 "Home Assistant is exposing entities to Google Assistant using Nabu Casa that I have set as `Don't expose entity`"
## The problem

Home Assistant is exposing entities to Google Assistant using Nabu Casa that I have set as `Don't expose entity`. I am using the UI to expose / not expose them. All the entities that are not operating properly are switch type. Under `Toggle Domains` I have switches set to yes, but the individual entities are set to `Don't expose entity`

## Environment

- Home Assistant Core releas

[2020-09-11 02:30] grantalewis commented on #39921
Thanks for that.

Prelim results:

[2020-09-10 22:15:12 INFO (MainThread) [aioambient.websocket] Watchdog triggered – sleeping for 900 seconds
2020-09-10 22:15:12 INFO (MainThread) [homeassistant.components.ambient_station] Connected to websocket
2020-09-10 22:15:13 INFO (MainThread) [aioambient.websocket] Watchdog triggered – sleeping for 900 seconds
2020-09-10 22:15:13 DEBUG (MainThread) [homeas

[2020-09-11 02:42] mckochan opened #39924 "Camera Proxy crop not applying to stream"
## The problem

The camera proxy integration applies the crop to still images but not to the video stream (i.e. when camera_view: live is specified in a picture entity card)

## Environment

- Home Assistant Core release with the issue: 0.114.4
- Last working Home Assistant Core release (if known): N/A
- Operating environment (OS/Container/Supervised/Core): Supervised
- Integration causing this is

[2020-09-11 02:58] tdejneka commented on #39904
The State Trigger will trigger when the entity's state or attributes change.

[2020-09-11 03:04] danielbrunt57 commented on #39857
I've tried the following code but now the OSRAM A19 is unavailable and can no longer be found in a discovery...
[code]
Before the above I tried **OsramColorCluster,** instead of **OsramColorCluster.cluster_id,**

[2020-09-11 03:57] bachya commented on #39921
The first four lines are relevant snd all look expected; the last 4 lines aren't relevant to us here.

[2020-09-11 04:07] Adminiuga commented on #39857
should be `OsramColorCluster`, not with .cluster_id
change `from zigpy.quirks import CustomDevice` to `from zigpy.quirks import CustomDevice, CustomCluster`

[2020-09-11 04:53] mbo18 commented on #36660
Still an issue, sorry stale bot!

[2020-09-11 05:38] danielbrunt57 commented on #39857
Thank you! The new code seems to work!
Now, how to get rid of the RGB stuff???

light.osram_lightify_a19_tunable_white_ef4a0900_level_light_color_on_off state attributes:
[code]
a19twhite.py:
[code]

[2020-09-11 05:45] balloob commented on #39817
So to find the integration in log(n) time we can do divide and conquer. Create a test instance and copy half of your integrations. Not getting the error? Set up the other half. Once you get error half again and keep repeating this until you have found it.

Note that internal integrations can be excluded. Things like input Boolean etc

[2020-09-11 06:08] 1nordlicht opened #39927 "A counter name with underscore does not work"
I started to use a counter with this name:

[code]

While using an incrementation of this counter name, I detected that it does not work.

[code]

After changing the counter name and removing the underscore from it's name, the counter is working fine:

[code]

Nothing else has been changed, just the counter name.
I'm running Home assistant supervised on raspbian.

[2020-09-11 06:15] haaxema commented on #39861
I changed the script using the capitals as suggested. Rebooted hass. Seems fine now.

[2020-09-11 06:25] Skeletorjus commented on #39904
You are absolutely correct, cannot believe I never realized this before!
Thanks for clarifying.

[2020-09-11 06:39] emontnemery commented on #39769
Please collect and attach a complete log, from start of HA until you have reproduced the issue and a duplicated speaker group entity is created with these log settings:
[code]

[2020-09-11 07:00] spacegaier commented on #39927
Which version of HA are you running? I cannot reproduce the issue in the latest dev version.

[2020-09-11 07:19] 1nordlicht commented on #39927
0.114.4 and Supervisor 242

[2020-09-11 07:22] spacegaier commented on #39927
In your `home-assistant.log`.

[2020-09-11 07:29] elupus commented on #39861
Good. I need to fix documentation it seems.

[2020-09-11 07:34] 1nordlicht commented on #39927
[code]

[2020-09-11 07:40] Kanishkaz commented on #38314
This is happening again unfortunately. I'm almost at the point of dumping these problematic IKEA devices. All my xiaomi devices are rock solid and never have this issue.
I tried removing the item completely, restart HA and re-add them to get them working ( this is what was suggested as a fix, which worked for a bit). But slowly but surely the devices get marked as unk_manufacturer and model after

[2020-09-11 08:24] criskolkman opened #39928 "Hassio not fully booting anymore"
## The problem

Home Assistant keeps hanging on the message that it's booting and not all the sensors may be available.
Sensors (like mobile_tracker etc) are not being created anymore.

## Environment

- Home Assistant Core release with the issue: Home Assistant 0.114.3 and 0.114.4
- Last working Home Assistant Core release (if known): 0.114.3
- Operating environment (OS/Container/Supervised/Core)

[2020-09-11 08:33] gjong commented on #39928
After an upgrade I'm experiencing the exact same problem. Some integrations start without a problem but a lot of them don't seem to start or create sensors properly anymore.

This started happening after I upgraded from 114.2 to 114.4, and the home assistant log does not contain any error information at all. Examples of integrations that are failing are:

- Ring
- Neato
- Rest template sensors
- c

[2020-09-11 08:48] spacegaier commented on #39927
Based on the log your configuration is incorrect. It seems your configuration is attempting to call a service that does not exist. Can you search in your configuration and automation YAML files for "counter1".

[2020-09-11 09:01] eonnet opened #39930 "Vera Dimmable Lights goes to 100% when turned on."
## The problem
When you turn on the dimmable light through Vera integration it goes directly to 100% and not to the value which was when you turned it off. When you do the same through Vera app it goes to the previous value.

## Environment

- Home Assistant Core release with the issue: any
- Last working Home Assistant Core release (if known): none
- Operating environment (OS/Container/Supervised

[2020-09-11 09:22] LordMike commented on #35673
Ah - that makes sense. I see that you've made the callback use a variable for the template, rather than embedding the template within itself. I suppose the resubscribe has other sideeffects, like actually unsubscribing and subscribing to topics - unecessary chatter.

Seems cool. I'll check it out in 0.115 when it's included. :)

[2020-09-11 09:29] LordMike commented on #35673
Works. @emontnemery - thanks :)

[2020-09-11 09:36] eyager1 opened #39932 "Template loop detection breaks useful self references in templates"
## The problem

The changes in https://github.com/home-assistant/core/pull/39897 have broken legitimate uses for self referencing template sensors.  For example, I have frequently used the sensor state in icon_template: to change the icon based on the sensor state.   This was an easy shortcut that shouldn't generate an infinite circular reference.  Now I would have to duplicate all the logic for t

[2020-09-11 09:57] Sebclem opened #39935 "Meteo France does not create sensors in 0.115.0b5"
## The problem

When i create a Meteo France element via the integration screen, it does not add all the sensors (cloud, freeze_chance ...)
This was working with 0.114.

If you need to reproduce this, the city i was trying to add is `Arudy`.

It seems to be caused by missing attribute (see logs below)

## Environment

- Home Assistant Core release with the issue:  0.115.0b5
- Last working Home Ass

[2020-09-11 10:02] Sebclem commented on #39935
Plot twist,
It seems to work with `Pau` which is a bigger city near `Arudy`

[2020-09-11 10:03] criskolkman commented on #39928
Hello @gjong ,

How did you find that out (logs?)?
And what did you do to fix it (uninstall the HACS integration?)?

[2020-09-11 10:06] Quentame commented on #39935
Maybe an API change from Meteo-France since we did not change the integration in 0.115.0 as I remember.

Can you get back to 0.114.0 to test if it's wothing with both cities ?

[2020-09-11 10:16] Shadow14-PS commented on #38961
Same error for Aqara motion sensors (motion + illumination), by now it's not afecting the rest of devices with more than one sensor. It just show up after upgrading to 0.114 from 0.113.

[2020-09-11 10:36] fofinho11 commented on #39808
at least youre not alone...

`2020-09-11 12:31:55 WARNING (SyncWorker_10) [miio.gateway] Unknown subdevice type SubDeviceInfo(sid='u', type_id='n', unknown='k', unknown2='n', fw_ver='o') discovered, of Xiaomi gateway with ip: 192.168.1.205
2020-09-11 12:31:55 WARNING (SyncWorker_10) [miio.gateway] Unknown subdevice type SubDeviceInfo(sid='w', type_id='n', unknown='_', unknown2='m', fw_ver='e') dis

[2020-09-11 10:36] Sebclem commented on #39935
On my test instance:

-> 0.114.X:
    Everything Ok, Sensors have been created.

-> Upgrade to 0.115.0b5:
    Sensors became unavailable:
![image](https://user-images.githubusercontent.com/23737709/92913644-3c42c000-f42b-11ea-962a-bc0943e1bf0b.png)

And the error is back:
![image](https://user-images.githubusercontent.com/23737709/92913814-5da3ac00-f42b-11ea-95f7-ee3d0900e7b9.png)

[2020-09-11 10:43] basnijholt commented on #39904
@tdejneka, you say "The State Trigger will trigger when an entity's state or attributes change."

I think this shouldn't happen this way though. I cannot think of any use-cases when you would like to trigger on a state change if you specify that you want it to trigger on an attribute change.

For example, [here](https://github.com/basnijholt/home-assistant-config/blob/ef624651f14e9171e9a0091af4d82

[2020-09-11 10:48] Poker1410 commented on #39808
I am thinking about using homebridge to "bridge" (pun intended) between them. But I will use it only if there are no alternatives.

[2020-09-11 11:06] denysdovhan commented on #37883
Yes, I use `br0` for my sensors.

[2020-09-11 11:08] gjong commented on #39928
In my case it was triggered by the ```Home-Assistant-Sensor-Afvalwijzer``` integration. There is unfortunately no easy way to detect which integration is causing the issue.

The first step to figure out if you are having the same problem is by disabling the configuration of all custom components. If home assistant starts up correctly then you can try and re-enable them one by one. Restarting betwe

[2020-09-11 11:13] Quentame commented on #38815
Duplicates #39850, with more activity.

Tell me if I'm wrong, so I'll reopen.

[2020-09-11 11:13] #38815 closed

[2020-09-11 11:19] grantalewis commented on #39921
This morning's logs:

[code]

https://i.imgur.com/lRSgbkH.png

[2020-09-11 11:20] starkillerOG commented on #39808
The integration that can be configured though the UI is only for the gateway, not for the robot vacuum cleaners.
So you have to use YAML according to https://www.home-assistant.io/integrations/xiaomi_miio/#xiaomi-mi-robot-vacuum
As of why the YAML config is not working: I don't know, I no nothing about the actuall robot vacuum part since I don't own a robot vacuum....

[2020-09-11 11:20] Quentame opened #39937 "Camera live stream with Synology DSM sometimes fails"
## The problem

Using an Eufy Indoor Cam 2K throw the Synology Surveillance Station on dev, when I open the live stream it sometimes stops with an error.

On my local network:
[code]

When out of my local network, I got this all the time, no stream at all (maybe wrong IP/host):
[code]

## Environment

- Home Assistant Core release with the issue: 0.116.0.dev0 2020-09-11 commit 5117a1684177e9569740

[2020-09-11 11:22] balloob commented on #39847
I think that changing timeout in general is fine ?

[2020-09-11 11:25] Quentame commented on #39937
Just seen #39850 that is the same issue when I try to stream on my local network, duplicates on this part.
So I think we can unassign you @hunterjm

But when I'm out of my network, I think it's a different issue we can focus on, with @shenxn

[2020-09-11 11:30] Quentame commented on #39850
Reproducing the exact same error on current dev (commit 5117a1684177e95697400ada52ecad7bcbc9c8bd) with the Synology DSM integration : #39937

It includes commit "Updated frontend to 20200909.0 (#39869)" from 0.115.0b5

Environnement: venv with macOS

[2020-09-11 11:31] Quentame commented on #39935
Oh !
Maybe due to the new `CoordinatorEntity` !

Seeking

[2020-09-11 11:33] Quentame commented on #39935
I reproduce it with Lyon

[2020-09-11 11:33] Spirituss commented on #26838
The issue is still actual. On HA  0.114.3 I still have the next errors in log:
[code]

[2020-09-11 11:48] fofinho11 commented on #39808
worked for me - thanks

[2020-09-11 11:51] balloob commented on #39932
This is a legitimate use case and one that we didn't consider.

@bdraco what do you think, should we revert the change?

[2020-09-11 11:55] biGdada commented on #36679
is "homekit_tv_remote_key_pressed" supposed to fire in 0.114? i cant get it to  work

[2020-09-11 11:55] Kane610 commented on #39933
Can you share debog logs from hass? I have no use of deconz debug logs. It isn't entirely uncommon that the blind isn't paired properly

[2020-09-11 11:56] Quentame commented on #39935
Found it.
"Update meteo_france to use CoordinatorEntity (#39432)" adds an `super().__init__(...)` that we forgot on `MeteoFranceAlertSensor`.

A fix is comming.

[2020-09-11 12:02] #39904 closed

[2020-09-11 12:25] dgomes commented on #36707
Thank you for the report!

[2020-09-11 12:26] bdraco commented on #39932
Maybe we only do the loop detection on the value templates?

[2020-09-11 12:42] Keldandorin opened #39941 "A way to sort/filter all your automations"
Don't know if this is the right way to submit an idea.

I really would like to have a way to organise all my automations.
Is it possible to lets say add tags to every automations so you can sort and filter them based on that in the webview.

thx for making a great produkt
Håkan

[2020-09-11 12:49] bdraco commented on #39932
Actually I think we should set a max self ref updates to consider a loop

[2020-09-11 12:50] bdraco commented on #39932
I'll revert the original change and limit this to the template entities only

[2020-09-11 12:52] criskolkman commented on #39928
@gjong thank you for pointing this out!
After removing the Afvalwijzer integration everything is working again!

[2020-09-11 12:52] #39928 closed

[2020-09-11 13:01] bdraco commented on #39932
Limit the number of self referencing updates to the number of templates used in the entity - 1 in a row

[2020-09-11 13:03] bdraco commented on #39932
Actually I think it would be fine to not -1 because if it's really a loop it's going to trigger anyways

[2020-09-11 13:20] NKnusperer commented on #39013
Same problem with Philips Hue White & Color E27 (1.65.9_hB3217DF4).

[2020-09-11 13:39] Vlad-Star opened #39942 "lock.get_usercode service returns "expected int for dictionary value @ data['code_slot']" error"
## The problem

**lock.get_usercode** service returns the following error: **expected int for dictionary value @ data['code_slot']**
Lock itself is recognized and working correctly in HA, showing its status in HA, can be locked/unlocked etc.

The service call is made via Developer Tools -> Services -> Service: "lock.get_usercode"
[code]

## Environment

Hassio 0.114.4 with standard [Z-Wave integra

[2020-09-11 13:40] Adminiuga commented on #39857
try:
[code]

[2020-09-11 13:51] Adminiuga commented on #38314
can you enable debug logging and keep it running. If you have to restart HA instance, save the logs prior to that.
I can't reproduce the situation reliably and need to catch what triggers the above behavior. Unfortunately, I suspect it is happening prior the fact is apparent -- i suspect  that after it happens and device is rejoined it works fine until next reboot. but on next reboot the device wi

[2020-09-11 14:32] frenck commented on #39942
The z-wave integration and the most recent open z-wave configs linked in your issue description are not compatible...

[2020-09-11 14:46] frenck commented on #39941
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2020-09-11 14:46] #39941 closed

[2020-09-11 14:49] Vlad-Star commented on #39942
@frenck hmm... my assumption was that the device definitions were pretty much abstract from the service calls.

So, the question is how do I make it compatible?
1) Comment out "config_path: /config/open-zwave/config" line, then remove and re-add the lock?
2) Disable standard zwave integration and install/enable "openzwave" community addon? What happens to the existing 40+ zwave devices in this cas

[2020-09-11 14:50] #39935 closed

[2020-09-11 14:54] bachya commented on #39921
Thanks, @grantalewis. That all looks "expected" from the integration's side: it connects and subscribes to your station via the Ambient cloud API (triggering the watchdog both times); then, the watchdog expires because it doesn't receive any data from the websocket.

I'm still seeing consistent data come through mine:

![Screen Shot 2020-09-11 at 8 50 07 AM](https://user-images.githubusercontent.c

[2020-09-11 14:58] Poker1410 commented on #39808
worked for me too.
Thanks heaps

On Fri, 11 Sep 2020 at 19:48, fofinho11 <notifications@github.com> wrote:

[2020-09-11 15:05] frenck commented on #39942
The master branch for the openzwave project is based on OpenZWave 1.6. The `zwave` integration uses OpenZWave 1.4, the device definitions are not compatible. The latest available device database for 1.4, is already shipped with Home Assistant.

The openzwave integration is currently in beta (and based on OpenZWave 1.6). There is a community guide available in case you want to try: <https://communi

[2020-09-11 15:08] kudakeru commented on #39552
Sorry, I stopped getting github notification emails for some reason. You're right, and I'm a bit embarrassed. I appreciate you looking into this.

[2020-09-11 15:08] #39552 closed

[2020-09-11 15:15] starkillerOG commented on #39808
@Poker1410 if the issue is resolved, could you close the issue?

[2020-09-11 15:33] danielbrunt57 commented on #39857
I've added that and now I've lost max_mireds = 370 and ALL color controls...
[code]

[2020-09-11 15:39] uvjustin commented on #39850
This doesn't seem like the exact same error...

[2020-09-11 15:40] uvjustin commented on #39937
@hunterjm Any idea why it would mux the same packet twice? We have the monotonicity check in there...

[2020-09-11 15:42] hunterjm commented on #39850
@DubhAd - Can you provide us with more info about your installation architecture/device/etc?

I spun up a debian 10.4-slim armv7 image and installed Home Assistant on it last night.  Took forever with QEMU. Tonight I can try adding a camera to the install and installing AV, but that's going to take a while too I think. Want to make sure it's worth it.

[2020-09-11 15:44] uvjustin commented on #39850
All signs point to PyAV not working because of a problem with the backend ffmpeg libraries. If this is the case spinning one up yourself won't be of much help if you get the proper libraries installed.

[2020-09-11 15:44] Adminiuga commented on #39857
revert it then. Per ZCL it's the value which should support only Temp
![image](https://user-images.githubusercontent.com/5826160/92945942-0221f000-f424-11ea-930d-0d18421c7ed4.png)

Need to confirm what how light entity confirms. I thought we were checking color capabilities.

[2020-09-11 15:45] hunterjm commented on #39850
Ah yes, we are still waiting on `av.library_versions` from both @DubhAd and @pdobrien3 as well.

[2020-09-11 15:54] chilicheech opened #39944 "heapq.heappop: list changed size during iteration"
## The problem

After being up for a few days home assistant stopped responding. Upon looking at the docker logs I saw an error message and no more messages after that for 3 hours.

## Environment

<img width="573" alt="Screen Shot 2020-09-11 at 8 51 43 AM" src="https://user-images.githubusercontent.com/732659/92946911-24a80f00-f40c-11ea-87d4-3a407f565c2c.png">

## Problem-relevant `configuration.

[2020-09-11 15:59] bi99sy commented on #35137
I have issue with TP-Link HS100 after upgrading to 0.114.4, prior to 0.114.4 I would get the occasional HS100 unavailable which would be resolved with a restart, upgraded OS from 4.11 to 4.13 and then upgrade from 0.113.3 to 0.114.4 and all 3 HS100 are unavailable (work in the KASA app), removed the integration and added to the switch.yaml which worked perfectly for years even before the integrati

[2020-09-11 16:00] pdobrien3 commented on #39850
I would be happy to help but I am not familiar with how to provide the information you need.

[2020-09-11 16:11] pdobrien3 commented on #39850
{'libavutil': (56, 22, 100), 'libavcodec': (58, 35, 100), 'libavformat': (58, 20, 100), 'libavdevice': (58, 5, 100), 'libavfilter': (7, 40, 101), 'libswscale': (5, 3, 100), 'libswresample': (3, 3, 100)}

[2020-09-11 16:18] hunterjm commented on #39850
@pdobrien3 - So it looks like av was built against FFmpeg 4.1.6 on your install, and 4.2.4 on mine. Can you uninstall av from your venv, upgrade FFmpeg to at least 4.2.4, and try re-installing av in your venv and see if that solves the error?

[2020-09-11 16:20] mvdwetering commented on #39106
Maybe this is related to this issue https://github.com/home-assistant/frontend/issues/6097
It seems the frontend call play_pause instead of stop.

I just noticed it got stale, I might need a bump then.

[2020-09-11 16:33] IIAIronWolf commented on #39916
That fixed it! Thanks! @bdraco

[2020-09-11 16:59] uvjustin commented on #39937
@hunterjm I think it might be from a rounding error when the packet rebases the time base: https://github.com/PyAV-Org/PyAV/blob/1fa8dd6a95336321feca69b66aebefb4f08d7e85/av/container/output.pyx#L216
I'll make a PR that uses the time base of the inputs and see if that fixes things.

[2020-09-11 17:09] datascope11 commented on #35403
Happened to me today, first time. Have had the integration running a couple months. Seems to have coincided with brief power outage. Ecobee came back up itself, and connected to wifi, but none of the entities are available in HA. Assuming the workaround here is to redo the integration, with new API key etc...

[2020-09-11 17:15] piscinas commented on #39874
@OnFreund sorry I’m a newbie, where i can grab that log?

[2020-09-11 17:22] uvjustin commented on #39937
@Quentame can you see if this PR fixes the local network problem? (The other problem seems unrelated.)

[2020-09-11 17:31] danielbrunt57 commented on #39857
Tried to revert but no luck. I may also need to revert HA from 115b to 114. Stay tuned...

[2020-09-11 17:41] #39808 closed

[2020-09-11 17:42] Poker1410 commented on #39808
Thanks @starkillerOG

[2020-09-11 17:54] marthoc commented on #35403
@datascope11 No need to generate a new API key, but you will need to delete the application in the ecobee portal, delete the integration in HA, and then set up the integration in HA again.

[2020-09-11 17:57] oopptt commented on #38156
I think I have same problem. Here's my log, continously showed since any of the last updates:

Traceback (most recent call last):
  File "/srv/homeassistant/lib/python3.7/site-packages/homeassistant/helpers/entity.py", line 263, in async_update_ha_state
    await self.async_device_update()
  File "/srv/homeassistant/lib/python3.7/site-packages/homeassistant/helpers/entity.py", line 457, in async_d

[2020-09-11 17:59] grantalewis commented on #39921
This is good advice, thank you. When I log in to the Ambient dashboard, I notice that in the upper right it indicates that there's been no reporting for the last 2 days. The refresh button does nothing. Both of those symptoms seems to agree with what you're saying.

I'll contact Ed as you suggest and will report back. Many thanks!

[2020-09-11 18:07] #39937 closed

[2020-09-11 18:09] rccoleman commented on #39817
I'll continue to try to narrow it down.  I ruled out all of my custom components as the cause last night.

It would be really nice if there was a "disable" option for built-in integrations, either in Configuration->Integrations or, for a more complete list, in Configuration->Info next to the issues/documentation links.  It used to be simple to comment things out in configuration.yaml, but the UI-b

[2020-09-11 18:09] hunterjm commented on #39937
I went ahead and merged it since it won't really do any harm and he can then just update to the next dev docker build. Feel free to re-open this issue if it doesn't solve your problem.

[2020-09-11 18:15] emontnemery commented on #39600
Add discussed on discussed on discord, this was caused by a bad WiFi router.

[2020-09-11 18:15] #39600 closed

[2020-09-11 18:35] yotuze commented on #38078
I don't use thermostat. I'm not sure what could I be changing. Boiler have position in menu OpenTherm but I can only change between 0,1,2 and 0 = Plug&Play. I've tried all 3 options but nothing changes.

It's very weird that I can change other things but not this DHW temp even though older boilers of this manufacturer can.

[2020-09-11 19:02] Quentame commented on #39937
It works fine.

Thanks for being so responsive 😍

[2020-09-11 19:08] frenck commented on #39930
@eonnet Please specify the version you are experiencing the issue on, this is also for future reference. "any" will not work after a couple of releases. The goal is to know which release you experienced the issue on at the time of writing.

Thanks for updating 👍

[2020-09-11 19:12] Quentame commented on #39863
I can't reproduce it. I can still guard it.

![image](https://user-images.githubusercontent.com/14821482/92963832-61f3b780-f473-11ea-8332-40b109ba53e3.png)

What version of your FreeboxOS do you have ?

[2020-09-11 19:23] frenck commented on #39817
I have a similar pattern.

![image](https://user-images.githubusercontent.com/195327/92964420-5654c080-f474-11ea-8151-d76a42edaf79.png)

In my case, it seems to be caused by a camera that is offline

![image](https://user-images.githubusercontent.com/195327/92964459-67053680-f474-11ea-99eb-8ea380f4b540.png)

I removed the entity and things calmed down. I do wonder if this is a ONVIF specific issue

[2020-09-11 19:39] rccoleman commented on #39817
The only cameras that I have installed are from Arlo (via the aarlo custom component) and a file:

[code]

I completely removed the aarlo integration last night and still saw the "it is pending!" errors, so I don't think it's that.  All of my Arlo cameras are working properly and I'm still seeing tons of these:

[code]

[2020-09-11 20:09] grantalewis commented on #39921
Well, duh. Although the console's WiFi indicator showed a good, strong signal, rebooting fixed the issue.

I feel kind of stupid for not checking the most obvious thing first, but I certainly appreciate your help. Have a good weekend.

[2020-09-11 20:09] #39921 closed

[2020-09-11 20:20] pmd5700 commented on #37138
@bjackson I think I used `device_class: temperature` and `unit_of_measurement: F`

[2020-09-11 20:24] moeffju opened #39951 "ZHA devices becoming unavailable after upgrade, unable to re-add"
## The problem
I am using a TI CC2531 Zigbee USB stick with Home Assistant 0.113 and had connected 1 Philips LCT010 lightbulb and 4 Aqara window/door sensors (LUMI) successfully. After upgrading Home Assistant to 0.114 the devices became unavailable and only showed up intermittently. Various combinations of reboots, deleting and re-adding the integration and devices have not made it work again. Re

[2020-09-11 20:29] moeffju commented on #39951
Example log output from ZHA -> Search for devices:

[code]

No device shows up.

[2020-09-11 20:31] moeffju commented on #39951
There are also entries like these on occasion:

[code]

[2020-09-11 20:48] frenck commented on #39817
@rccoleman Sorry, I should have been more clear. If you don't have onvif (or one of its dependencies), that it is probably not that.

So it could be global. However, in this case, the best way to figure out, it to run the log level set to debug (as suggested by balloob before in the above comments). Or, try eliminating integrations one by one.

[2020-09-11 20:53] tycm commented on #39395
Also having the same issue, But it is discovered when adding it to the config manually via IP. I am not able to control the switch though. When searching for the switch with python-kasa using `kasa discover` The HS220 does not appear, only the other kasa-smart items on my network. When trying to control the switch via `kasa --host $IP on` the command runs indefinitely.

[2020-09-11 20:57] eonnet commented on #39930
At the moment i’m on 0.115 beta but this behavior is on any release that i run in the past year and a half. I thought that this is normal HA behavior with zwave until i tried open zwave with usb stick and noticed that the lights turn on on the last dim level.

[2020-09-11 21:08] bdraco commented on #38156
It looks like the upstream module sleeps for 0.5s to hope that the update has happened.

https://github.com/PaulAnnekov/tuyaha/blob/master/tuyaha/devices/base.py#L41

If it doesn't happen in 0.5s you don't get the update until the next scheduled polling.

[2020-09-11 21:33] Spirituss commented on #36999
Great news! Will it be included into 0.115?

[2020-09-11 21:35] Spirituss commented on #39278
@Quentame Could you fix the timeout as well?

[2020-09-11 21:44] Quentame commented on #36999
Into 0.116.0 😉

[2020-09-11 21:47] Quentame commented on #39278
Yes, thanks for the reminder 😉

[2020-09-11 22:25] offbyone opened #39954 "WAQI integration is unrecoverably disabled if the search API is not available during HA startup."
## The problem
If the `waqi` search API is not available when HA starts up, it leaves the sensor in a state where it can't ever find the stations.

## Environment

- Home Assistant Core release with the issue: Home Assistant 0.114.4
- Last working Home Assistant Core release (if known): None
- Operating environment (OS/Container/Supervised/Core): raspbian
- Integration causing this issue: waqi
- L

[2020-09-11 22:51] ollo69 commented on #38156
I created a [PR](https://github.com/PaulAnnekov/tuyaha/pull/39) 2 months ago in TuyaHA library to group updates in a single call, but for the moment was ignored.
I suggest to try [Tuya_Custom](https://github.com/ollo69/ha_tuya_custom) component for the moment that include this fix waiting for that PR to be eventually merged.

[2020-09-11 22:56] rytilahti commented on #39808
@starkillerOG considering that this is a common issue, do you think it would be worth adding a model check to show a more concise error on non-supported devices / improve the description of the config flow to state that this only applies to gateway devices?

[2020-09-11 23:30] Adminiuga commented on #39951
Well, that's really weird because both 0.113 and 0.114 use the same version of zigpy-cc.

Per logs it looks like the device is not responding to start there traffic. For those devices which show None  for manufacturer and model, you would need to remove device from zha and then try to re-pair it.

[2020-09-11 23:32] pdobrien3 commented on #39850
Pip install av?

[2020-09-11 23:35] SNoof85 commented on #39863
If the value was different than 0 then you wipe them all that's fine. Start hom assistant with 0 missed calls it will fail.

Freebox OS 4.2.5

[2020-09-11 23:45] snaiperr commented on #39850
Dear @hunterjm , the official raspbian repository does not have ffmpeg version 4.2.4.
Could you please advise how to update ffmpeg without compiling ?

[2020-09-11 23:49] rccoleman commented on #39817
I have an enormous amount of debug right now and finally caught one here:

[code]

I do pretty much always have the "Log Viewer" addon open in a tab (direct via a port, not Ingress) and a VSCode tab (Ingress) open all the time, so I just closed those to see if they're contributing.

[2020-09-11 23:58] bachya commented on #39921
No worries – glad you found the problem! 👍

[2020-09-12 00:31] ctalkington commented on #39874
[code]

[2020-09-12 01:05] piscinas commented on #39874
I got this!
In this log i remove kodi and connect again...
I’m using kodi 17.3 on cubox-i
`2020-09-12 01:44:56 DEBUG (zeroconf-ServiceBrowser__googlecast._tcp.local.-_plugwise._tcp.local.-_viziocast._tcp.local.-_printer._tcp.local.-_hap._tcp.local.-_Volumio._tcp.local.-_daap._tcp.local.-_wled._tcp.local.-_miio._udp.local.-_ipps._tcp.local.-_axis-video._tcp.local.-_elg._tcp.local.-_xbmc-jsonrpc-h._

[2020-09-12 01:09] FuzzyMistborn commented on #22464
Also seeing similar behavior where sometimes the code is cleared but most of the time it's not.

[2020-09-12 01:41] shbatm commented on #37537
Just a quick update: the patch has been added to PyISY's next release. I'm holding off releasing for the moment, waiting to be able to test a solution to one more issue causing variables to not report their precision (https://github.com/automicus/PyISY/issues/111).

[2020-09-12 03:57] Bsunshine18 opened #39957 "BOM Radar Camera not showing animation for Melbourne Radar"
## Checklist

- [X] I have updated to the latest available Home Assistant version.
- [X] I have cleared the cache of my browser.
- [X] I have tried a different browser to see if it is related to my browser.

## The problem
I have been using the BOM Weather Camera with a location "Melbourne" for a number of months with no issues.

Recently I noticed that the Melbourne radar images became static (ie

[2020-09-12 05:54] balloob commented on #39817
Maybe http related?

[2020-09-12 06:02] fribse commented on #39909
Hi Kane610
I don't find anything in the integration, but I did find a missing 'bind' in deconz, so after establishing that, it updates the position.

[2020-09-12 06:02] #39909 closed

[2020-09-12 06:11] OnFreund commented on #39874
OK, that's a pretty old version (almost 3.5 years old). Even if we fix this, other stuff might break for you.
It's not sending a UUID as part of its discovery info, and I'm not sure how to handle discovery in HA without some unique ID.
Maybe try to configure kodi manually?

[2020-09-12 06:20] uvjustin commented on #39850
The skip_sidx option was not added until Dec 2018 (https://patchwork.ffmpeg.org/project/ffmpeg/patch/20181206072801.58323-1-kjeyapal@akamai.com/) so it's probably not in ffmpeg 4.1.x. Given that the pi users don't have a binary wheel and the buster stable repository is still on 4.1.x, maybe we should take this option out and work around it if necessary. I'll make a PR in a bit

[2020-09-12 07:51] logan893 commented on #36508
This is still happening with the latest Home Assistant 0.114.4.

[2020-09-12 07:52] airdrummingfool commented on #39536
This problem popped up for me within the past couple weeks. I was able to fix it by completely removing Ecobee and then re-adding it via the Integrations page:

1. Removed the Ecobee integration from the HA Integrations page
2. Removed the `ecobee:` entry in my `configuration.yaml`
3. De-authorized the app in Home Assistant
4. Restarted HA
5. Re-added the Ecobee integration, including going throug

[2020-09-12 08:19] Quentame commented on #39863
Oh yeah ok !
Will do

[2020-09-12 09:03] kalitk0 commented on #35648
I have the same problem. Any solutions ?

[2020-09-12 09:18] BrokenTable opened #39968 "Rfxtrx.send service lost after restart"
## The problem

1) Add the configuration below to activate the integration
2) restart Home Assistant (GUI / Server Controls / Restart)
3) rfxtrx.send service is there when checking GUI / Developer Tools / Services
4) restart Home Assistant (GUI / Server Controls / Restart)
5) rfxtrx.send service isn't there anymore
6) delete the integration (GUI / Configuration / Integrations)
7) back to step 2

#

[2020-09-12 09:42] uvjustin commented on #39850
@DubhAd @pdobrien3 @snaiperr Can you check if this PR resolves the issue?

[2020-09-12 09:59] piscinas commented on #39874
It’s and old box... But i can configure the device.

[2020-09-12 10:11] OnFreund commented on #39874
Got it.
Do you consider manual configuration an acceptable workaround?

[2020-09-12 10:17] piscinas commented on #39874
Yes, for me is all good. I report to help! Not a problem to me, i know is an old box and can update to later version.

[2020-09-12 10:21] OnFreund commented on #39874
Great. I might change this so the error is more friendly in the future, but in the meantime I think you can close this.

[2020-09-12 10:22] piscinas commented on #39874
👍

[2020-09-12 10:22] #39874 closed

[2020-09-12 10:29] noppel opened #39971 "loss of state information will lead to greyed out buttons"
Home Assistant has a conceptual problem. On the loss of state information, UI buttons are greyed out. If the button was accessible, one could press it and HA would get the correct state information from that action. This is a han and egg problem. Please check the two buttons on the bottom of this image:
<img width="448" alt="ha" src="https://user-images.githubusercontent.com/6562638/92993514-7c20a

[2020-09-12 10:41] kalitk0 commented on #35648
Here is my log

[code]

[2020-09-12 11:41] elupus commented on #39968
It looks like you are receiving a malformed or at least unexpected packet in that first log. Any thoughts on what it might be?

[2020-09-12 12:08] pdobrien3 commented on #39850
I was running stream on HAss version 0.114. This only started showing up in the beta

[2020-09-12 12:20] #39932 closed

[2020-09-12 12:21] balloob commented on #39817
Can you try refreshing your browser and seeing if that triggers messages?

[2020-09-12 12:22] #39788 closed

[2020-09-12 12:24] OnFreund commented on #39788
@balloob technically, the "kodi is off while HA is loading" case is still open, but I'm not sure the marginal benefit that can be achieved is worth the effort.

[2020-09-12 12:28] uvjustin commented on #39850
Yes, from 0.114 to 0.115 we changed the container format for the HLS streams from TS to fMP4 in order to support H.265. We've been testing it in dev for the 3 or 4 weeks, but we didn't come across this problem until now (probably because not many people run the dev branch on RPis).

[2020-09-12 12:38] bdraco commented on #38156
@PaulAnnekov Can you help with this issue?

[2020-09-12 12:39] bdraco commented on #36773
not stale, still an issue

[2020-09-12 12:41] bdraco commented on #38823
Sometimes home doesn't register notifications correctly.  Usually a few runs of  `homekit.reset_accessory` will fix it.

[2020-09-12 13:01] BrokenTable commented on #39968
No, not at all. I have some old temperature sensors lying around. And I found a couple of sensors from neighbors. Is there software that I can use to identify the package?

[2020-09-12 13:05] bdraco commented on #39932
@eyager1 Can you give 0.115b7 a shot?

[2020-09-12 13:09] pdobrien3 commented on #39850
Ok, I have only been playing with beta for the last couple releases. I am researching how to test a pr. If you could point me somewhere I would happily test. Maybe it is to big of a lift to teach though?

[2020-09-12 13:18] uvjustin commented on #39850
@pdobrien3 I think @hunterjm will end up merging this so it will get into the next beta/docker build.
But it's such a small change, if you're feeling adventurous you could just edit the file /usr/src/homeassistant/homeassistant/components/stream/hls.py and change line 151 from
`"movflags": "frag_custom+empty_moov+default_base_moof+skip_sidx+frag_discont",`
to
`"movflags": "frag_custom+empty_moov+d

[2020-09-12 13:48] mecko opened #39975 "Database is filled with (junk?) events entries"
## The problem
The events table in the database is constantly filled up with what seems to be junk entries, dozens of times within a second. The main problem is this makes the database grow fast and large for no apparent reason.

The rows looks like this:
[code]
And almost all other rows in the table are the same, just with an incrementing event_id as well as an incrementing context_id (yes, every

[2020-09-12 13:55] snaiperr commented on #39850
Dear @uvjustin , thank you! Now it works well!

[2020-09-12 14:20] PierreScerri opened #39976 "Discovered Homekit Accessory"
## The problem

When I add the Homekit Bridge integration it also adds a discovered Homekit Accessory.
If I use the pairing code to configure the Accessory it adds a bunch of entities to HA but not to the Home app.  If I use the pairing code on my iPhone, it adds everything to the Home app as it should and the Discovered Homekit accessory stays there.

## Environment

- Home Assistant Core release

[2020-09-12 14:35] olalid commented on #39106
Sounds like the same thing.
But it was never assigned to anyone, so I guess nobody is looking at it.

[2020-09-12 14:36] Mariusthvdb commented on #37310
has this been getting any love lately?
Ive have related issues , yet somewhat different so mention them here just for completeness sake.

When my disk station is offline during night time (yes I shut it down for power savings) and a HA restart happens, the integration fails to load and even after re-startup of the Diskstation, the integration wont sense that to load correctly.

It does however thr

[2020-09-12 14:39] towerhand opened #39977 "nzbget config flow error on 0.115 beta."
## The problem

Getting the config flow starting with 0.115b0 every time HA restarts and the integration fails to import the config from configuration.yaml

## Environment

- Home Assistant Core release with the issue: 0.115b0 - 0.115b7
- Last working Home Assistant Core release (if known): 0.114
- Operating environment (OS/Container/Supervised/Core): Home Assistant OS
- Integration causing this i

[2020-09-12 14:45] Mariusthvdb opened #39978 "Plex integration fail to recognize hosting server being offline and throws huge amounts of errors"
## The problem

Running Plex on my Synology disk station. This server is offline during night time. At that point Plex integration keeps throwing errors every minute or so, and floods the log. Would be very nice if some proper way of sensing the sensor would be implemented and not try loading the integration when server is offline.

Moreover, when the HA instance is restarted during server off tim

[2020-09-12 14:55] Mariusthvdb opened #39979 "Plex doest respond well to server being offline..."
## The problem

Running Plex on my Synology disk station. This server is offline during night time. At that point Plex integration keeps throwing errors every minute or so, and floods the log.

Would be very nice if some proper way of sensing the sensor being on/offline would be implemented and not try loading the integration when server is offline.

Moreover, when the HA instance is restarted dur

[2020-09-12 15:08] davet2001 commented on #27371
Hub controller for domestic central heating and hot water, plus connected TRVs, lights etc.
[code]
Security camera
[code]
Security camera
[code]
Security camera
[code]
Printer
[code]

[2020-09-12 15:15] elupus commented on #39968
Seems to be a barometric sensor that fails.

[2020-09-12 15:21] kart-able opened #39980 "Setup of recorder is taking over 10 seconds"
## The problem

I am in the final step of installing the latest Core and I am stuck with hass which states:

`Unable to find configuration. Creating default one in /home/homeassistant/.homeassistant

2020-09-12 15:00:37 WARNING (MainThread) [homeassistant.bootstrap] Waiting on integrations to complete setup: recorder

2020-09-12 15:00:41 WARNING (MainThread) [homeassistant.setup] Setup of recorder

[2020-09-12 15:43] Adminiuga commented on #39951
Need to see full debug log for the radio. See ZHA documentation on how to enable debugging:
[code]

This means device was not detected properly. Before re-joining, call `zha.remove` service with `ieee_address: 00:15:8d:00:04:ab:c8:62` parameters. Wait 45s, then call this service again.
After that try re-pairing the device and collect the logs.

[2020-09-12 15:43] frenck commented on #39980
Hi there @kart-able!

Thanks for opening up an issue. When creating an issue, an issue template is presented. It looks like you've (partly) removed it. This causes your issue report to be incomplete.

Please edit your issue to have the full issue template back again and provide as much of the requested data as possible. Without it, we won't be able to help you.

Thanks already! 👍

[2020-09-12 15:56] rhkarls opened #39981 "New devices added to Fibaro home center not added as new entities in HA (Fibaro integration)"
## The problem

I've added some new devices to my Z-wave network managed by Fibaro HCL.
These do not show up in HA, but work fine from Fibaro. Have tried to reboot both HCL and HA several times, as well as commenting out the fibaro integration from configuration.yaml between reboots. One device is a light (of similar make and model as an already working entity) and two are climte thermostats.

##

[2020-09-12 15:59] frenck commented on #39975
Besides the discussion on this is junk or not, a thing you could check: What is generating all these events?

[2020-09-12 16:03] frenck commented on #39971
Hi there @noppel,

Thanks for opening up an issue. When creating an issue, an issue template is presented. It looks like you've removed it. This causes your issue report to be incomplete.

Please edit your issue to have the full issue template back again and provide as much of the requested data as possible. Without it, we won't be able to help you.

Thanks already! 👍

[2020-09-12 16:11] mecko commented on #39975
I have no idea.

[2020-09-12 16:12] rccoleman commented on #39817
Refreshing the browser doesn't seem to tickle it, and it seems like the excessive debug that I have enabled makes it less likely to happen.

For completeness, I've filed a couple of other issues in custom components that I don't think are related, but I'm also seeing with all this debug enabled (https://github.com/twrecked/hass-aarlo/issues/307, https://github.com/hacs/integration/issues/1521).  I

[2020-09-12 16:29] RobBie1221 commented on #39968
@elupus Are you sure it's received from a device by the rfxcom? I'm not that familiar with the underlying library, but it seems to fail in `__init__.py` on function below. It seems here it sends a get status command to the device and gets rubbish back.

In the second log I think it fails to connect, because `self.serial` seems to be `None`.

[code]

What happens when ha restarts? Is the unload fun

[2020-09-12 16:33] offbyone opened #39982 "Plex sensor is reporting "I/O inside the event loop""
## The problem
I'm not directly experiencing it, but the log tells me I should report it :)

[code]

## Environment
- Home Assistant Core release with the issue: Home Assistant 0.114.4
- Last working Home Assistant Core release (if known): This one
- Operating environment (OS/Container/Supervised/Core): raspbian
- Integration causing this issue: plex
- Link to integration documentation on our webs

[2020-09-12 16:43] kart-able commented on #39980
Hi @frenck

I've reformated my issue and I stated "integration causing this issue: recorder" but the point is the installation does not go further.

Thanks for your time 👍

[2020-09-12 16:44] pdobrien3 commented on #39850
Yes, thank you. Working on my end also.

[2020-09-12 16:47] jjlawren commented on #39982
I see two issues. The first should be easy to fix.

For the second, what type of media were you playing when this occurred? It's complaining about a non-standard library.

[2020-09-12 16:49] DubhAd commented on #39850
Will do. I'll also upgrade FFMPEG from 4.2.2 to 4.2.4 or later

[2020-09-12 16:51] dedors opened #39985 "homeassistant.toggle does not turn off all devices from a group"
## The problem

When I group lights and fan together, homeassistant.toggle does not work the same as when I group only lights together and use lights.toggle.

**Expected**: if on/off state is mixed, turn everything off when toggle.
**Result**: it turns on my fan while turning off my lights.

## Environment

- Home Assistant Core release with the issue:   0.114.4
- Operating environment (OS/Contain

[2020-09-12 17:01] DubhAd commented on #39850
I made the one line change and the streams load 👍

[2020-09-12 17:04] offbyone commented on #39982
I wasn't playing anything, but a friend of mine was playing something remotely from my TV library.

[2020-09-12 17:08] bdraco commented on #39976
We still need to have HomeKit controller ignore bridges that are in the registry

[2020-09-12 17:13] jamesyym commented on #36624
Could you tell me how to update and fix this issue? Thanks.

[2020-09-12 17:21] offbyone commented on #39982
Per request, they were playing this (from my Tautulli logs):

[code]

And the first two entries they played:

[code]

[2020-09-12 17:24] frenck commented on #39985
Sounds like the correct behavior, toggle switches the individual states of entities in a group, it is passed down to the entities in the group, it does not sync them.

[2020-09-12 17:32] frenck commented on #39980
Thanks for updating the issue @kart-able 👍

[2020-09-12 17:38] maddenp commented on #39957
Hi @Bsunshine18 . As you report, it looks like the BOM is now producing a 7-frame delta-300 loop for the Melbourne radar. As far as I can tell, this is a novel configuration, not in use for any of the other radars.

The reason your manual configuration change didn't work is that the time offsets they are using for this configuration are also different. For example, for the 128km Melbourne loop, a

[2020-09-12 17:40] pcostell opened #39987 "ruamel dependency broken with setuptools>=50"
## The problem

I was attempting to setup a dev container and running the "Install all requirements" task failed when attempting to install ruamel.yaml.

## Environment

- Home Assistant Core release with the issue: head
- Last working Home Assistant Core release (if known):
- Operating environment (OS/Container/Supervised/Core): dev container
- Integration causing this issue: N/A
- Link to integr

[2020-09-12 17:44] rccoleman commented on #39817
I suspect that it has something to do with the `androidtv` integration.  I disabled both my 2 `androidtv` `media_player` config entries and I haven't seen any errors during runtime in a bit.  I also see a few errors as HA is starting up that look like they're related to discovery of android TV devices:

[code]

There's a third one at startup that I can't correlate to androidTV, though:

[code]

[2020-09-12 17:54] majorvin opened #39989 "TP link dimmer switch 'flicker' when server is restarted"
Got 3 tp link switches and 1 dimmer switch. As per https://github.com/home-assistant/core/issues/39395, my dimmer switch is not getting auto discovered so manually added the IP of my dimmer switch in config file as

### Configuration
[code]
or
[code]

When I restart the server, my dimmer switch/light flicker.

### Log:
Log Details (ERROR)
Logger: homeassistant.components.light
Source: helpers/enti

[2020-09-12 18:02] bdraco commented on #39980
Can you give 0.115 beta a try and see if the issue persists?

[2020-09-12 18:03] Writech commented on #38285
@rytilahti @syssi
I still have this issue and seems I'm not alone (see this reddit thread https://www.reddit.com/r/homeassistant/comments/igev3t/xiaomi_vacuum_token_is_incorrect/)
I went so far as to buy a new microSD card, flash the newest version of homeassistant `HA 0.114.4` to it and set up the vacuum on it again. Still it doesn't work - in the logs I get the same old:
[code]

When I booted fr

[2020-09-12 18:05] hatiac commented on #37955
I have just set up Home Assistant, Zigbee2mqtt and HomeKit Bridge and faced this issue also. Unfortunately this makes HomeKit pretty unusable with lights at the moment.

[2020-09-12 18:14] bdraco commented on #39890
@philhawthorne Is this still happening on 0.115.0b7?  If so can you send a `py-spy` `top`, `dump`, and `record`?

[2020-09-12 18:21] gadgetchnnel opened #39992 "Template sensor states briefly become null when reloading via UI"
## The problem

When reloading template sensors and binary sensors from the UI (newly added in 0.115) using Server Controls > Reload Template Entities, the states of the existing sensors and binary sensors briefly become **null** rather than either "unknown" or "unavailable" as expected.

Here is a snippet of the JSON from calling the History API for one of the binary sensors:

[code]

## Environm

[2020-09-12 18:22] maddenp commented on #39957
Unfortunately, the list of frame images has been pre-generated in the JavaScript delivered to the browser, with a comment that credits a server-side Perl script, which I cannot find the source for online. So, I'm going to look at a different approach involving scraping the BOM's HTML for the filename list, which would be much simpler if it works, and would avoid (maybe permanently) the trouble of

[2020-09-12 18:33] rccoleman commented on #39817
Looks promising.  When I re-enable one of my `androidtv` devices in `configuration.yaml`, I start to get these again:

[code]

I just rolled back to the pre-async `androidtv` integration (commit f8d11c843dd6af6501ac2196a1b9efc17291c5e2 from June 30) and it seems to be better.  I'm still getting 3 "it is pending" errors during startup, but I haven't seen any at runtime.  I turned off debug because

[2020-09-12 18:39] browetd commented on #38438
I have the same errors (one error per device every 1 to 5 minutes max) for all the devices (4 in total) in Tuya integration: 2 devices are on the same LAN than the Raspberry Pi and two are remotely installed on another LAN...  See Example below:
I am running HA 0.114.4 in a venv Raspberry pi 4 with 2GB of memory Python 3.7.3...

`2020-09-12 12:38:46 ERROR (MainThread) [homeassistant.helpers.entity

[2020-09-12 18:47] silviudc commented on #38379
How did you change this I am getting many disconnections as of 0.113 also and it's quite annoying.
Getting loads of these and I can see the entities going unavailable a lot
[code]

[2020-09-12 18:51] TazUk commented on #38379
I'm running HA Core so just located the source file and amended the line I specified in the OP above, adding a comment to remind myself of the original number. Then I restarted.HA to use the modified file.

[2020-09-12 18:54] silviudc commented on #38379
I am using raspbian and HA in docker, any idea where that file is located? Tried to find it but no luck yet

[2020-09-12 18:56] TazUk commented on #38379
Sorry no clue. You might need to grep / find / otherwise search the environment to locate the component. I had to dig around to find it myself on Core.

[2020-09-12 18:57] felipediel commented on #36624
You need to wait for the next release or pull the dev branch, which is usually unstable.

[2020-09-12 19:06] Writech commented on #38285
I am using the `Raspberry Pi 4 Model B (1 GB, 2 GB and 4 GB model) 64-bit` image. I thought maybe there's an issue with only 64-bit HA so I gave it a try and flashed the 32-bit `Raspberry Pi 4 Model B (1 GB, 2 GB and 4 GB model) 32-bit` image to the microSD card.
The **only things I added to the fresh HA installation** was `File Editor` and `Terminal & SSH` plugins and in the `configuration.yaml`

[2020-09-12 19:12] silviudc commented on #38379
I'll keep looking thanks.
Is there a plan to get this fix into the next build as it looks like it was introduced around 0.113?

[2020-09-12 19:14] TazUk commented on #38379
I'm not the code owner and am not in a position to be able to contribute to a permanent fix. I'm just a user who found the root cause.

[2020-09-12 19:16] silviudc commented on #38379
Yup got that, was a question for owner or someone that is maintaining this code :)

[2020-09-12 19:19] #39850 closed

[2020-09-12 19:22] hunterjm commented on #39850
Good to hear. I merged the PR so should be resolved globally in beta 8.

[2020-09-12 19:30] rccoleman commented on #39817
Okay, I think this is the problematic PR:  https://github.com/home-assistant/core/pull/38578

Once I pull that in, I start seeing these again:

[code]

[2020-09-12 19:32] elupus commented on #39968
Maybe . If unload is not done on shutdown. The fifo on the uart can perhaps contain half packets. Which could cause strange errors on start. But it seems unlikely to always end up like that. Should be really unlikely I think. Most time on the uart is idleness.

[2020-09-12 19:33] elupus commented on #39968
@BrokenTable could you check so you don't happen to have two configuration entries in GUI for rfxtrx?

[2020-09-12 19:51] BrokenTable commented on #39968
I checked and I have only one entry.

log from boot earlier today:
[code]

[2020-09-12 19:51] biglegs462 commented on #38582
Just chipping in here to support the bug/fix investigation.  I've been using HA via docker, on the same Unifi infrastructure for going on 2 years with all the devices happily working.  These last releases have broken it.  I have 3 hubs, 2 are discovered successfully, 1 is not, including the devices hanging off it.  All were working in the bad old days of manual entires in the config.

[2020-09-12 19:53] b-hud opened #39994 "Honeywell Total Connect Comfort (US) integration stopped working"
## The problem

After successfully operating a [Honeywell Total Connect Comfort integration](https://www.home-assistant.io/integrations/honeywell/) for several months, the integration has stopped working with (as far as I can tell) no change to the related configuration.

- The first indication was a missing Lovelace card for the climate.thermostat device.
- Next indication was climate.thermostat

[2020-09-12 19:54] Salvora commented on #37329
I have the same problem. Upnp integration is not reliable. Sometimes it is working, sometimes it is unavailable.

[2020-09-12 20:14] BrokenTable commented on #39968
Tried a fresh install:
- delete the docker containters and images from my Synology.
- reinstalled HA
- add integration details to my config, nothing else.
- restart HA: service was there and confirmed that it worked my controlling a fan
- restart HA: service was lost with this log:

[code]
- removed the integration and restart and it was working again.

For the record: I dit no other step than abo

[2020-09-12 20:31] gideonyong commented on #38379
1. First you need to login to hassio as root (Not home assistant, HASSIO, yes it's confusing...).  you need to generate a ssh key and if you are on a pi, save it to a usb drive and reboot with it plugged in:
https://developers.home-assistant.io/docs/operating-system/debugging/

2. You need to login to HASSIO (which is the underlying OS) root and then login to home assistant via docker
`docker -exe

[2020-09-12 20:31] dedors commented on #39985
It does sync a group of lights and it makes complete sense there.
I see the same logic in a group of mixed domain devices and can't imagine a usecase where you would group some devices to `toggle `each entitiy individual as you can do that also directly (and would make more sense there since you list them individual).

The group state is `on`. When I `toggle `I do expect it to be off.

[2020-09-12 20:45] rhkarls commented on #39981
Ok. Turns out I had not given the user which is connected with HA access to these new devices. Can't believe I was pulling my hair out for days about this hehe. Sorry for false reporting

[2020-09-12 20:45] #39981 closed

[2020-09-12 20:53] #36034 closed

[2020-09-12 20:53] #36296 closed

[2020-09-12 20:53] #36480 closed

[2020-09-12 20:53] #36481 closed

[2020-09-12 20:53] #36136 closed

[2020-09-12 20:53] #36495 closed

[2020-09-12 20:53] #36057 closed

[2020-09-12 20:53] #36287 closed

[2020-09-12 20:53] #34438 closed

[2020-09-12 20:53] #36504 closed

[2020-09-12 20:54] #34715 closed

[2020-09-12 20:54] #36386 closed

[2020-09-12 20:54] #33119 closed

[2020-09-12 20:54] #36528 closed

[2020-09-12 21:02] thd6n75 commented on #36484
@Adminiuga  was this ever merged?  I'm using the `homeassistant/home-assistant:0.114.4` docker image and I have the same behavior with my E1766 remote: I don't see any events from this when clicking the buttons.

[2020-09-12 21:12] vindicatorr commented on #31854
HA! ZERO development activity (listed in this or the other thread (other than the regexp being pointed out)), and the bot just wants to call this stale. mmm'kay.

[2020-09-12 21:15] bdraco commented on #38379
Submitted a PR upstream here https://github.com/vangorra/python_gogogate2_api/pull/11

[2020-09-12 21:16] bdraco commented on #38379
cc @vangorra

[2020-09-12 21:19] Adminiuga commented on #36484
https://github.com/home-assistant/core/pull/36489

[2020-09-12 21:31] balloob commented on #39922
Could you look in `<config>/.storage/cloud` and copy paste the domain and entity config for the entity that is getting exposed.

[2020-09-12 21:35] chemelli74 opened #39999 "Non compliant uptime sensor"
## The problem

As found during another integration development, the uptime sensor of Brother stores an absolute value and not a timestamp as core rules require.

## Environment

- Home Assistant Core release with the issue: 0.114.4
- Last working Home Assistant Core release (if known): none
- Operating environment (OS/Container/Supervised/Core): Docker
- Integration causing this issue: brother
-

[2020-09-12 21:39] JeffLIrion commented on #39817
@rccoleman thanks for tracking down the issue.  The fix would need to be in the pure-python-adb package.  In the meantime, I submitted a pull request that reverts to wrapping the sync version of the ADB server code.

The Android TV integration doesn't do discovery, so that's a different issue.

[2020-09-12 21:53] #39817 closed

[2020-09-12 21:56] rccoleman commented on #39817
Excellent, thanks Jeff.  The other one looks like it may actually be pychromecast.

[2020-09-12 21:58] bieniu commented on #39999
Look at the dev branch.
https://github.com/home-assistant/core/pull/39226

[2020-09-12 21:58] Quentame commented on #37310
Fix proposed --> #40000
If anyone can test: go to the integration options, change the timeout to 30, see if new logs are coming.

@Mariusthvdb : this does not fix the offline issue, only the long response, might come later (2-3 versions).

[2020-09-12 22:01] thd6n75 commented on #36484
Hm, ok.  Am I supposed to see anything in WindowCovering binding?

![zha-binds](https://user-images.githubusercontent.com/35642586/93005703-8908c280-f521-11ea-9144-2212e3a384a8.png)

This is what I get when joining the device.  I end up with a battery sensor (`sensor.xxx`) and a `binary_sensor` which reports as open

[code]

[2020-09-12 22:24] OptimusGREEN commented on #33065
I tried the official onvif integration just the other night and my camera doesn't work on it still same issue so this should not be closed yet.

[2020-09-12 22:30] ollo69 commented on #38438
Duplicated issue: see #38156

[2020-09-12 22:30] Quentame commented on #38695
The log means that `_api` is `None`, not the `wifi` attribute, which can't be `None` after `open` a connection with the Freebox.

Can you:
- Remove the integration.
- Reboot HA
- Add the integration again.

[2020-09-12 22:33] Quentame commented on #39278
Timeout fix #40000

[2020-09-12 22:37] kart-able commented on #39980
Hi there @bdraco

Easily done with `pip3 install homeassistant==0.115.0b7` event if it takes time.

But this does not completely solve the problem which seems to be a matter of time also with the command `hass`:

`2020-09-13 00:04:38 WARNING (MainThread) [homeassistant.setup] Setup of recorder is taking over 10 seconds.

2020-09-13 00:04:46 WARNING (MainThread) [homeassistant.bootstrap] Waiting on

[2020-09-12 22:39] Adminiuga commented on #36484
it didn't finish the configuration
[code]

if it failed to configure this cluster, means it probably failed to configure other clusters as well. Remove the device, wait 45s. Try-rejoining and keep device awake during the process by pressing the buttons.

[2020-09-12 22:49] amelchio commented on #39999
I'll close this issue as it is already fixed.

[2020-09-12 22:49] #39999 closed

[2020-09-12 23:01] chemelli74 opened #40004 "Non compliant uptime sensor"
## The problem

As found during another integration development, the uptime sensor of HA stores an absolute value and not a timestamp as core rules require.

## Environment

- Home Assistant Core release with the issue: 0.114.4
- Last working Home Assistant Core release (if known):
- Operating environment (OS/Container/Supervised/Core): Docker
- Integration causing this issue: uptime
- Link to int

[2020-09-12 23:02] chemelli74 commented on #39999
Seems that all "uptime" should be change to something like "last_boot".
Weird to see a uptime in the past:

![image](https://user-images.githubusercontent.com/57354320/93006461-d191a180-f55c-11ea-8934-cc9b2e2aeffd.png)

[2020-09-12 23:13] #39863 closed

[2020-09-12 23:25] docgalaxyblock opened #40005 "deCONZ integration breaks after reboot"
## The problem

- deconz integration breaks after HA core reboot
- autodiscovered deconz could not be set up correctly

I made a short video
https://streamable.com/tp0bx6

## Environment

- Home Assistant Core release with the issue: 115.0b1
- Last working Home Assistant Core release: 114
- Operating environment (OS/Container/Supervised/Core): Proxmox VM
- Integration causing this issue: deCONZ
-

[2020-09-12 23:39] mweinelt opened #40007 "test_clear_logs is flaky"
## The problem

The `test_clear_logs` test is flaky. Failed once, didn't fail on the second try.

## Environment

- Home Assistant Core release with the issue: 0.114.4
- Last working Home Assistant Core release (if known): no idea
- Operating environment (OS/Container/Supervised/Core): NixOS 20.09
- Integration causing this issue:  n/a
- Link to integration documentation on our website: n/a

## Tr

[2020-09-12 23:40] bdraco commented on #39980
The first time you update everything is going to take a while to setup because it needs to install new pypi packages.  Please restart again once everything has been fully updated.

[2020-09-12 23:52] ianpra opened #40008 "Slack notifications no longer work (0.115b7)"
## The problem

I am using Slack to receive notifications, and since upgrading to the 0.115 beta they have stopped working.

## Environment

- Home Assistant Core release with the issue: 0.115.0b7
- Last working Home Assistant Core release (if known): 0.114.3
- Operating environment (OS/Container/Supervised/Core): Ubuntu 18.04.4 LTS / HA Supervised
- Integration causing this issue: Slack
- Link to

[2020-09-13 00:16] stefarossi opened #40009 "Arduino, unhandled SerialException if disconnected"
## The problem

If the Arduino is disconnected while Home Assistant is running, the integration throws an unhandled exception.

## Environment

- Home Assistant Core release with the issue: 0.114.4 (latest available at the time of writing)
- Last working Home Assistant Core release (if known): -
- Operating environment (OS/Container/Supervised/Core):  Debian 10 with Docker
- Integration causing th

[2020-09-13 00:37] scrytch commented on #39834
OK - I thought I was wrong originally, but no -  the Rachio app is showing sensor dry and Home Assistant is still showing wet. I've tried restarting HA and no resolution. All other Rachio features work in HA (on/off, zones, flex schedule etc).

[2020-09-13 01:04] qJake commented on #34350
I'm experiencing the same issue, just updated from 0.111.4 to 0.114.4 / Supervisor 4.13 and still have this error. My ecobee integration is completely down. ☹️

[code]

Any workaround I can try? I'm not experienced in the internals of HA but if there's something quick and easy I can try, happy to help test!

[2020-09-13 01:26] qJake commented on #34350
I ended up just removing and re-adding the integration... not ideal since ecobee's website is garbage... but it worked.

[2020-09-13 01:36] #37310 closed

[2020-09-13 02:41] jjlawren commented on #39979
When HA is started when the Plex server is unavailable, it should detect this and recover once it comes online (with some delay). Is this not working for you?

[2020-09-13 03:15] kvtong93 opened #40011 "Ambi climate component"
## The problem

0.144.4 and beta verison all tested
- Home Assistant Core release with the issue:
- Last working Home Assistant Core release (if known):
- Operating environment (OS/Container/Supervised/Core):
- Integration causing this issue:
- Link to integration documentation on our website:

Unraid docker version and VM

## Problem-relevant `configuration.yaml`

[code]

## Traceback/Error logs

[2020-09-13 04:08] kmlucy commented on #23142
Still an issue.

[2020-09-13 04:12] maddenp commented on #39957
This will be fixed by https://github.com/maddenp/bomradarloop/pull/7, but it will be a breaking change in HA, as the configuration syntax will change I'll set up the PRs in HA core and docs repos soon.

[2020-09-13 05:50] tareko commented on #30311
I'm seeing the same issue as well with some blinds. This also began after my upgrade to 114

[2020-09-13 06:44] #38961 closed

[2020-09-13 06:49] djmalin opened #40013 "Vacuum Xiaomi 1s Got exception while fetching the state: Unable to discover the device"
## The problem

Hello, everything worked fine in the last version, now, after installing the latest version, I lost the ability to control the vacuum cleaner, other devices from xiaomi work ok

## Environment

- Home Assistant Core release with the issue: 0.115.0
- Last working Home Assistant Core release (if known): 0.114.4
- Operating environment (OS/Container/Supervised/Core): Supervisor 243
-

[2020-09-13 06:49] Danielhiversen commented on #40011
Could you try this fix:
https://github.com/Danielhiversen/pyAmbiclimate/commit/c2606b9951bd24965b2921f7c15efdd9909d3ed5

[2020-09-13 07:04] Bsunshine18 commented on #39957
Thanks @maddenp - I appreciate the detailed responses and the update regarding the fix. I'm happy to test / support if I can. Please let me know. Thanks

[2020-09-13 07:31] Kane610 commented on #40005
It's probably because you map a docker internal address but don't have ssdp discovery enabled to update address when it changes (which it does on every restart of the container). You could put the host address as the ip for deconz and it would be more stable or make sure ssdp is enabled.

[2020-09-13 07:37] kart-able commented on #39980
This morning hass will not respond at all. It's been over 20 minutes I placed the command and nothing happens, absolutely nothing.
Of course I have activated the virtual environment.
I suppose it depends on the environment and a 4Go RAM would make the difference. I just have 1 on my Pi 3 B+

[2020-09-13 08:00] eyager1 commented on #39932
Templates are working properly again.  No errors in the logs.   Thank you for fixing this quickly!

[2020-09-13 08:15] Alfiegerner commented on #39769
Logs here - actual instance of problem from 19:55 ish:

[home-assistant.zip](https://github.com/home-assistant/core/files/5213773/home-assistant.zip)

Here is screenshot taken at 19:55 showing one Upstairs speaker group (sorry don't know how to resize screenshots):

![Screenshot_20200913-195533_Home Assistant](https://user-images.githubusercontent.com/596188/93013542-90050300-f5fd-11ea-8eee-2344fe

[2020-09-13 08:29] philhawthorne commented on #39890
Hey @bdraco

Unfortunately so. It is a bit tricky to trace down, as it doesn't happen from the start of the boot, and seems to occur randomly when events start happening.

I had previously experienced this on some older hardware. I was able to pin point it down to using "Soft UI" from Nathan Li as my Lovelace. That relies heavily on markdown cards in Lovelace, which render Jinja templates. I run 2

[2020-09-13 08:47] kvtong93 commented on #40011
yes, sure, but im so sorry to tell u how to try this fix? ihave no idea about that.

发自我的iPhone

[2020-09-13 09:02] #38389 closed

[2020-09-13 09:05] kvtong93 commented on #40011
what I did is putting your files at /config/custom_components/ambiclimate/__init__.py and restarted, there is no change. i duno whether i did right or not.

[2020-09-13 09:39] #39980 closed

[2020-09-13 10:02] hosting-io commented on #39358
any progress on this please ?

[2020-09-13 11:12] 287470072 opened #40019 "特斯拉的插件在中国有出现坐标偏移的问题"
如标题所示，特斯拉插件在中国地区使用会出现车辆实际位置和地图显示位置存在偏差的问题，是不是因为坐标系的问题？能否帮忙修复下。谢谢！

[2020-09-13 11:16] bsfaxi commented on #39933
Here is the home assistant log. I turned the logger in debut mode for deconz.

[2020-09-13 11:36] tomiknez commented on #36745
I would just like to add to this thread  that I have the same situation: my ISP's router is regularly showing up with as "New device discovered", and although I always ignore it, I have now about 50+ ignored (the same) router instances in my "Show ignored  integrations" list:
![Ignored-multiple](https://user-images.githubusercontent.com/61537571/93016904-ca05e300-f5c4-11ea-8ead-0eb9efeda507.png)
E

[2020-09-13 11:57] mynameisdaniel32 opened #40020 "0.115.0b8 Ping Binary Sensor Error"
## The problem

Getting repeated errors (below), for my single ping sensor set up in my home instance. Seems it's attempting every 3 seconds as configured.
@bdraco, do you mind having a look at this please? Guessing it's related to https://github.com/home-assistant/core/pull/39284. Should it be sending ping commands? Or are there additional steps needed to allow it to use icmp_ping commands?

## E

[2020-09-13 12:21] mynameisdaniel32 commented on #40020
Just had more of a play and look into it, looks like it's only throwing the error when the device is off, which lines up with what return code: 1 seems to indicate from a quick google. Not sure logging errors is expected behaviour in this case given a binary sensor is there to report if something is on or off.

When the device is on, I don't get any errors in the logs.

[2020-09-13 12:33] VDRainer commented on #39975
Looks like for every state change there is a row in the events table.
You can go to Dev Tools/events and listen to 'state_changed'
![Auswahl_389](https://user-images.githubusercontent.com/26381449/93018099-9e3b2b00-f5cd-11ea-8e5f-0139ed7fd271.png)
For example:
[code]
Then lookup the context_id's in the events table.
[code]
[code]
No clue if this is good or bad. :smile:

[2020-09-13 13:00] thd6n75 commented on #36484
Thanks for the response.  I tried to do that, and I got the same result: my device shows up with 2 entities, and I don't see any events when listening for `zha_event` and pushing the buttons.

Log: https://pastebin.com/rrQbR4Ju

I think the log is long because I kept pushing each button every few seconds to keep it awake

[2020-09-13 13:11] docgalaxyblock commented on #40005
@Kane610 I tried the host IP and it did not change anything
I take a look at the deCONZ users and now HA uses the username "pydeconz" insted of "Home Assistant" before

[2020-09-13 13:15] VDRainer commented on #39843
Here are some rows from a HA start with debug enabled. Hope that helps.
[code]

[2020-09-13 13:39] trentjw commented on #36745
Yes you can remove them, since this issue has never been fixed probably won't be  unless you have a specific need for upnp disable it in the router stops the nag screen from showing up

[2020-09-13 13:40] MarkHofmann11 commented on #28590
Finally got a chance to test this today.  For some reason, getting "Unable to prepare setup for platform tplink.switch:  Platform not found (cannot input name 'async_add_entities_retry' from 'homeassistant.components.tplink.common'.  None of my tplink switches are showing online - so will revert back to my modified version and see if I can figure out what is going on.

[2020-09-13 13:52] sysoppl opened #40023 "After HA upgrade to 0.115.0b8, yeelights entities are not available"
## The problem
After upgrading HA to 0.115.0b8, all yeelight bulbs just stopped working. There is 'entity not avaiable' text.
Lights were working for more than one year with this configuration, and I did several HA upgrades in this time.

## Environment

- Home Assistant Core release with the issue: 0.115.0b8
- Last working Home Assistant Core release (if known): 0.114.4
- Operating environment (O

[2020-09-13 14:09] Kane610 commented on #39933
From what it looks like there is no reporting of the lift value so the integration thinks it never changes. So something is wrong with deconz and the device pairing most probably is the cause

[2020-09-13 14:12] #39976 closed

[2020-09-13 14:17] bdraco commented on #39890
It seems like alexa is eating up a bit of cpu time sending state change events.

Do you have a significant number of state change events in the log if you turn on debug logging for `homeassistant.core` ?

[2020-09-13 14:20] bdraco commented on #40020
Fixed in #40024

[2020-09-13 14:21] sidwin9 opened #40025 "Errors after a snapshot restore"
## The problem

I performed a full restore using snapshot, after completion the Recorder could not start
and PHP MyAdmin does not start

## Environment

- Home Assistant Core release with the issue: 0.114.4
- Last working Home Assistant Core release (if known): 0.114.4
- Operating environment (OS/Container/Supervised/Core):  HASS IO
- Integration causing this issue:
- Link to integration documenta

[2020-09-13 14:26] bdraco commented on #40023
cc @shenxn

[2020-09-13 14:31] #39013 closed

[2020-09-13 14:44] #40020 closed

[2020-09-13 14:46] Mariusthvdb commented on #39979
well, apparently not...
check the log snippets I posted. the integration causes huge log spam

[2020-09-13 14:53] fufar opened #40026 "yandex_transport: Error on device update 0.115.0b8"
## The problem
Trying to set up yandex map integration, but get error

## Environment

- Home Assistant Core release with the issue: 0.115.0b8
- Operating environment (OS/Container/Supervised/Core): docker, synology nas
- Integration causing this issue: yandex_transport
- Link to integration documentation on our website: https://www.home-assistant.io/integrations/yandex_transport/

## Problem-rele

[2020-09-13 14:55] JohnHiness commented on #33548
I too is having this exact same problem.

[2020-09-13 15:44] Kane610 commented on #40005
I don't understand what you mean by username. There is only an api key

[2020-09-13 15:53] shenxn commented on #40023
@sysoppl When running 0.144.4, are there any error logs? According to the old code, it seems that the integration can still be marked as initialized even if `get_capabilities` failed.

[2020-09-13 15:55] docgalaxyblock commented on #40005
I mean the name with which the key was registered (hue essentials app - bridge - apps)

[2020-09-13 15:58] danbo commented on #33268
I have a problem which appears to be very similar. I have a few rest sensors set up which have corresponding templates.

If there is an http rest connection issue to devices which could lose signal here and there due to being wifi, template values never updated. What's interesting is the core value template does update.

Restarting home assistant fixes the problem.

[code]
[code]

When I look at t

[2020-09-13 16:23] #40008 closed

[2020-09-13 16:29] StevenLooman commented on #36745
If this really bothers you, you can send a mail to your ISP stating that the device does not adhere to the UPnP standard by switching the the UUID. The standard states that the UUID should stay the same for the device.

[2020-09-13 16:37] sysoppl commented on #40023
No errors shown up on 0.144.4

[2020-09-13 17:19] Bredin76 opened #40031 "Miflora components not working : unavailable"
## The problem

MiFlora component works only with one mi flora flower care
- Il i create one sensor - with one plant component - no problems - it works.
If i create another sensor with another mac address => all of my plant object get "unavailable status" and on the host the ````sudo hcitool lescan````
got an I/O problem, i have to do
[code]
 to get any response to the ````sudo hcitool lescan````

[2020-09-13 17:22] tigattack opened #40032 "Spotify integration not working in 0.115.0b8."
## The problem

Spotify integration not working in 0.115.0b8.

## Environment

- Home Assistant Core release with the issue: 0.115.0b8
- Last working Home Assistant Core release (if known): 0.115.0b5 (I jumped from b5 to b8)
- Operating environment (OS/Container/Supervised/Core): Supervised
- Integration causing this issue: Spotify
- Link to integration documentation on our website: https://www.ho

[2020-09-13 17:33] TheGardenMonkey commented on #28590
My bad, I added the wrong version of the switch.py. I am making a few updates based on the pull request review so I will upload something shortly. If you are comfortable pulling from the repo directly that is best anyway. Not sure how I zipped that version up now :(.

[2020-09-13 17:41] #36301 closed

[2020-09-13 17:41] #29946 closed

[2020-09-13 17:54] moeffju commented on #39951
Yeah, it looks now that I was just exceedingly lucky when first adding them (which "just worked") and then run into the shutdown/storage bug after an upgrade which made the states never update again. I finally managed to re-add the last device today, so I'd rather not remove them again to add debug info, but I should get more devices soon and will report back if there's any issues adding those.On

[2020-09-13 17:56] zxdavb commented on #39994
I am sorry, I am not able to help with this issue - I don't have the hardware (which itself isn't an insurmountable problem), and I don't have the time.

I can say this:
 - issues such as this could be due to the underlying client library - and it appears to be the case in this instance (https://github.com/kk7ds/somecomfort/issues/28)
 - this client library (https://github.com/kk7ds/somecomfort) a

[2020-09-13 18:18] Nessy1970 opened #40033 "Facebook messenger: unable to send local files"
## The problem
sending local file not possible from facebook messenger

## Environment

arch | armv7l
-- | --
chassis | embedded
dev | false
docker | true
docker_version | 19.03.11
hassio | true
host_os | HassOS 4.13
installation_type | Home Assistant OS
os_name | Linux
os_version | 4.19.127-v7
python_version | 3.8.3
supervisor | 243
timezone | Europe/Paris
version | 0.114.4
virtualenv | false

-

[2020-09-13 18:21] TheGardenMonkey commented on #28590
Made some updates, the correct files should be in my repo...
https://github.com/TheGardenMonkey/core/tree/dev/homeassistant/components/tplink

[2020-09-13 18:51] bsfaxi commented on #39933
Do you think I should open an issue somewhere else ? Please advise.
Meanwhile, I will receive very shortly a new device (same provider). I will test it and update this thread.

[2020-09-13 18:53] Chaotic commented on #21060
As was said above you can do both

Just not all in the same file because the parser that is used when editing in the front end doesn't know what to do with comments so it strips them out.

[2020-09-13 19:27] docgalaxyblock commented on #40005
I have found the problem why it breaks after reboot
![grafik](https://user-images.githubusercontent.com/21227087/93026513-af545e00-f606-11ea-8d0e-7e2de147171b.png)
The second api key is created by 114.4, the third by 115.0bX
If I delete the second it breaks after a core reboot
When deleting the third it still works

So maybe at integration setup the key name "pydeconz" is used and the integration

[2020-09-13 19:39] sebiweise opened #40035 "Failed to login to tado"
## The problem

Failed to login to tado

## Environment

![image](https://user-images.githubusercontent.com/22999200/93026822-1c68f300-f609-11ea-92ea-e19e8f9aa3cb.png)

- Home Assistant Core release with the issue:
- Last working Home Assistant Core release (if known): 0.114.4
- Operating environment (OS/Container/Supervised/Core): Core
- Integration causing this issue: Tado
- Link to integration

[2020-09-13 19:59] ogakul commented on #34894
Issue still persists in 0.115.0b3, was able to fix it using workaround posted by @s-hutter

[2020-09-13 20:00] balloob commented on #36484
Please open a new issue. This issue has been resolved.

[2020-09-13 20:04] #39977 closed

[2020-09-13 20:09] thd6n75 opened #40036 "No zha_event for KE TRADFRI open/close remote part 2"
## The problem
Remote doesn't send any events even after re-pair, reset re-add. This is the remote https://zigbee.blakadder.com/Ikea_E1766.html (not confirmed there to work with zha)

Other type of remote works (https://zigbee.blakadder.com/Ikea_E1810.html)

I don't see any events when listening for `zha_event` and pushing buttons.

I've tried removing the device and re-pairing while forcing the E

[2020-09-13 20:24] springstan commented on #40035
Please fill out the issue template, you can find it by clicking on `New Issue` and then selecting `Report a bug with Home Assistant`. Copy and paste the provided template into this already created issue, click preview to take a look at the empty template and then fill out as much as you can. Any additional information can be helpful!

Thanks for understanding :)

[2020-09-13 20:37] balloob commented on #39922
can you try the latest beta (9) and let us know if the issue still persists ?

[2020-09-13 20:46] tduffy83 opened #40038 "flux_led: rgbw device type gets added as a RGB+CCT device, no support for effect speed"
## The problem

I have a magichome led strip controller with R, G, B, and W channels.  When I set the mode to "rgbw" the light is added with a color temperature slider, which is not correct for my device.  I would suggest adding an rgbcct mode to include devices with configurable color temperature and adjust the rgbw mode without color temperature.  As a workaround I edited the supported_features

[2020-09-13 20:57] #39922 closed

[2020-09-13 21:06] chemelli74 commented on #38916
No code owner ? Bot didn’t add any

[2020-09-13 21:11] chemelli74 commented on #38340
Which is current status of this issue ?

Thx,

Simone

[2020-09-13 21:16] chemelli74 commented on #34813
Any news ?

Thx,

Simone

[2020-09-13 21:42] blair287 commented on #38202
Noticed that the brightness slider randomly changes value when turning a group on and off too even though the lights brightness doesn't change.

[2020-09-13 21:54] TheJulianJES commented on #38202
Yeah, newer Philips Hue (ZHA profile instead of ZLL) lights also report a rising brightness when turning them on (default 1s transition on them). Some other lights I have, also have this issue. (Not a cause of groups directly though.)

[2020-09-13 22:02] bdraco opened #40042 "Recorder tests that use Recorder.block_till_done are unreliable"
## The problem

`2020-09-13T21:44:53.3810115Z FAILED tests/components/recorder/test_util.py::test_last_run_was_recently_clean`

[code]

[2020-09-13 22:07] bdraco commented on #39445
@ctalkington Did you already fix this one?

[2020-09-13 22:09] #39445 closed

[2020-09-13 22:10] ctalkington commented on #39445
yep reworked the tests entirely

[2020-09-13 22:37] brg468 commented on #39834
The reboot of HA should pull the current state of the rain sensor, I’m wondering if the state in the API is wrong for some reason..Are you able to try physically tripping the rain sensor and see if that has an effect?

[2020-09-13 22:42] scrytch commented on #39834
The reboot does indeed pull the current state - my mistake.

It is now (currently) showing dry in Rachio and HA - to test I just poured water on it and Rachio notified me immediately that it was wet, but HA still shows dry.

[2020-09-13 22:44] brg468 commented on #39834
If you turn a zone on from HA or the app does it show the correct state?

[2020-09-13 22:48] scrytch commented on #39834
No - still shows as dry in HA. Sensor is definitely wet though.

[2020-09-13 22:49] brg468 commented on #39834
Sorry I phrased that poorly..If you turn on a zone does that zone switch show the correct state?

[2020-09-13 22:50] scrytch commented on #39834
Not really. It switches on but then the HA "switch" turns off immediately. The system turns on and runs the zone though.

[2020-09-13 22:53] brg468 commented on #39834
It sound like an issue with the webhooks getting through. Is your HA instance accessible from the outside?

[2020-09-13 23:00] scrytch commented on #39834
No - I have not set it up for outside access - nor plan to due to security concerns - is there a way around this?

[2020-09-13 23:01] raman325 commented on #36120
@glassbase that is for updating incorrect credentials so I don't think it would help in this case.

[2020-09-13 23:06] brg468 commented on #39834
Unfortunately no because all of the state changes on Rachio use webhooks, and without some way for the webhooks to reach you, you wont be able to get state changes. Meaning every restart the states will be correct but they wont update after that.

The easiest solution would be HA Cloud, it allows you outside access to your instance and allows the webhooks to work without opening up a port, but it

[2020-09-13 23:08] brg468 commented on #39834
We should update the Rachio docs to better explain that need.

[2020-09-13 23:08] scrytch commented on #39834
Damn. This seems to be the only integration where I've hit this issue.

[2020-09-13 23:15] duncf opened #40045 "Temperatures not properly converted to Celsius with Prometheus export"
## The problem

When exporting temperature sensor values to Prometheus, temperatures that are specified in °F are supposed to be converted to °C. Unfortunately this code only changes the unit to Celsius, without doing the F->C conversion.

When processing sensors, prometheus.py [line 381](https://github.com/home-assistant/core/blob/7b016063ca80e013d23c05de40bb40d150a8919a/homeassistant/components/

[2020-09-13 23:20] brg468 commented on #39834
If you do decide to look at HA Cloud I think the first month is free to try out. I was using a VPN setup for a while but got tired of not being able to use alexa/google or Rachio and decided to pony up for the cloud. To me it was worth it but depends on your needs of course.

[2020-09-13 23:25] raman325 commented on #36120
One kludgy way to address this would be to store the activation time during setup and then to schedule a reactivation for two months from that moment. I would be open to submit this as a PR if this made sense to the maintainer.

[2020-09-13 23:30] b3nj1 opened #40046 "ecobee weather forecasts are off by 1 day"
## The problem

Ecobee weather forecasts are off by 1 day. The forecast shown for "today" is actually "tomorrow's" forecast, and on down the line.

## Environment

- Home Assistant Core release with the issue:  0.114.4
- Last working Home Assistant Core release (if known): N/A (it didn't work well before #27369 either)
- Operating environment (OS/Container/Supervised/Core):
- Integration causing t

[2020-09-13 23:39] RubberDuQQy commented on #38314
I've also seen this issue and I don't have any IKEA devices.  I have a ConBee II on an Ubuntu 18.04 box with the ZHA integration and the devices I've seen exhibit this behavior are:

1. CentraLite Contact Sensor-A (battery-powered window/door sensor) - (3 of the 6 I have installed have done this)
2. Philips Outdoor Motion Sensor (SML002) -  (only have one and it's done it once)

I have ~100 device

[2020-09-13 23:46] b3nj1 commented on #40046
Proposed fix in PR: https://github.com/home-assistant/core/pull/40048

[2020-09-13 23:47] ruimarinho commented on #36682
I can confirm this is still happening as of 0.114.2.

[2020-09-14 00:32] Adminiuga commented on #40036
Log looks good. on_off,level and window covering cluster were bound.
I wonder if it sends updates on light link group?
And 2nd question: is this a genuine Ikea sensor? Why the manufacturer is juste "KE"

[2020-09-14 00:41] #30826 closed

[2020-09-14 00:46] thd6n75 commented on #40036
Thanks for your time.

I've been using ZHA for a couple years and never had to do anything with bindings or groups, so forgive me, what would you like for me to do re: light link group?

Here are my options

Clusters menu:
![ha-clusters](https://user-images.githubusercontent.com/35642586/93032838-a2813b80-f601-11ea-8257-9e4d8877d152.png)

Device binding menu:
![ha-device-binding](https://user-imag

[2020-09-14 02:19] mikebdotorg opened #40052 "All Nest Cameras are now Doorbells in HomeKit"
## The problem
As of 0.114 homekit doorbells were added through #38419 and now all 5 of my nest cameras are sending doorbell alerts in homekit.  Looking through the code it appears that anything with a binary_sensor of device class occupancy automatically becomes a doorbell.

I can't find a way to disable this, and #39804 comments from @bdraco seem to solidify there is no way to disable if I under

[2020-09-14 02:23] bdraco commented on #40052
We probably need a `doorbell` device class or similar for doorbells to separate them from all `occupancy` device classes https://www.home-assistant.io/integrations/binary_sensor/

That is going to need an architecture change and an https://github.com/home-assistant/architecture/issues

[2020-09-14 02:35] brg468 commented on #39834
In any case we can probably consider this issue closed. Let me know if you have any questions.

[2020-09-14 02:37] #39523 closed

[2020-09-14 03:04] sparkydave1981 commented on #20701
Hi Klagio, I can't seem to get any video into HA when the Hikvision CGI is enabled, even with the settings on digest/basic.  I am trying with the below code:

[code]

Any ideas?

[2020-09-14 03:09] vios0224 commented on #34894
@ogakul
Pretty sad for heard that, been waiting for 0.115 for a long time...
could you please tell more how did you using s-hutter's workaround?
I downloaded 0.108.9 and copied __init__.py/manifest.json/media_player.py to custom_components, then changed configuration as below:
media_player:
  - platform: panasonic_viera
    host: 192.168.0.XXX

but after restarted, got setup error

---------------

[2020-09-14 03:10] shenxn commented on #40023
@sysoppl It seems that the new and old version uses exactly the same way to get capabilities. Can you enable and provide debug logs?

[2020-09-14 03:40] vios0224 commented on #34894
updated: worked after delete panasonic integration manual.thanks for you test, @ogakul
to who also want to use this workaround posted by @s-hutter :
1. delete panasonic integration from configuration menu
2. download 0.108.9 and copy panasonic_viera folder to custom_components
3. change configuration.yaml to old version and restart HA
`# Example configuration.yaml entry
media_player:
  - platform:

[2020-09-14 04:24] boonew2 commented on #26632
I think i see the issue, but just started messing with home-assistant and am not sure i'd be a great person to put up a PR with the fix. I think the main problem is around here: https://github.com/home-assistant/core/blob/master/homeassistant/components/aws/__init__.py#L162-L170

If a profile is used then the boto session has it associated with it and future sdk calls will use it. If a profile isn

[2020-09-14 04:24] kvtong93 commented on #40011
and i found there is also no response when you using ambi app to switch off the ac.

[2020-09-14 05:54] tomiknez commented on #36745
I disabled UPNP on my router, and deleted multiple entries and it seems to work now. Just don't know why didn't think of it diableing it before :|
Thank you and @StevenLooman for help!

[2020-09-14 05:56] Danielhiversen commented on #40011
The API for ambiclimate is really bad documented.
So what works with my A/C fails with others. I am sorry, but you probably have to figure out how it works with your A/C and add a fix to the library.

[2020-09-14 06:05] danielbrunt57 commented on #39857
Isn't 5.2.2.2.1.8 a bitmap??  In which case shouldn't only **Color temperature supported** be 16 (2^4)?

Also, what is the best way to test changes to the quirks file?  docker stop homeassistant, edit the file, docker start homeassistant?
Or do I need to also delete the device and re-pair it?

[2020-09-14 06:16] Klagio commented on #20701
for most of my hikvisionn this below
  - platform: generic
    name: "East one"
    still_image_url: http://admin:xxxxx@192.168.1.41/ISAPI/Streaming/channels/101/picture
    stream_source: rtsp://admin:xxxxx@192.168.1.41:554/ch1/main/av_stream

for very few (villa door station) one of the 2 below (can't check now which one, try both

  - platform: ffmpeg
    name: Door 12
    input: -rtsp_transpor

[2020-09-14 06:25] danielbrunt57 commented on #39857
docker stop, edit & docker start seems to be enough.

"16" is the correct value!  The bulb is correct now:
![OSRAM Lightify A19 Tunable White - fixed](https://user-images.githubusercontent.com/49846893/93050661-1f1f1480-f618-11ea-9e9d-b6c2250e2aaf.PNG)
[code]

[2020-09-14 06:44] danielbrunt57 commented on #39857
One last question...
I the replacement dict, should the final item in **INPUT_CLUSTERS: [** be:
`OsramLightCluster,`
or
`OsramLightCluster,.cluster_id,`

[2020-09-14 06:48] #40042 closed

[2020-09-14 06:49] #40007 closed

[2020-09-14 06:50] frenck commented on #40025
I don't think this is a bug with the Home Assistant Core. It looks like MySQL/MariaDB isn't started. Make sure the MariaDB is running and available.

[2020-09-14 06:52] frenck commented on #40019
Hi there @287470072,

We only use the English language to communicate. Please file a new issue using English and that follows the issue template that is provided when opening a new issue.

Thanks! 👍

[2020-09-14 06:52] #40019 closed

[2020-09-14 06:56] frenck commented on #40004
Yes, this is a leftover from the old day.

[2020-09-14 06:56] balloob commented on #38340
There is a 1000 opened issues. I think that the current status is that the issue is sitting comfortable among it's issue siblings waiting for someone to create steps to reproduce.

[2020-09-14 07:20] balloob commented on #39985
I think that it's weird too, hence why we did it correctly for light groups.

[2020-09-14 07:23] balloob commented on #39985
The fix should happen [in this file](https://github.com/home-assistant/core/blob/dev/homeassistant/components/homeassistant/__init__.py#L38-L99). It's not trivial as we expand groups. Should get some logic when it encounters a group, don't expand but redirect to turn on/off based on group state.

[2020-09-14 07:30] chemelli74 commented on #38340
Thx for the update.

Simone

[2020-09-14 07:41] chemelli74 commented on #38709
@escoand can you be so kind to point me to the mute/audio function in your PR ? Seems I cannot find it.
Thx,

Simone

[2020-09-14 08:02] twosh commented on #32876
Hi,

I have the same problem with very high CPU-usage:

![image](https://user-images.githubusercontent.com/70069713/93059085-e82d1b00-f678-11ea-8bfc-6054b5f40608.png)

Basically thePython3 process goes between 50-100% and uses a lot of resources.

I run hass version 0.114.3 on a Synology Diskstation in docker, and I have Surveilance Station active getting my camera feeds to hass through the camera

[2020-09-14 08:12] philhawthorne opened #40059 "Shell command does not render templates in 0.115.0b9"
## The problem

I have an SSH command to reboot my router when it detects an issue with the internet connection. This was working great in 0.114, but since upgrading to the beta it no longer works, and I get the error below in my logs.

## Environment

- Home Assistant Core release with the issue: 0.115.0b9
- Last working Home Assistant Core release (if known): 0.114.x
- Operating environment (OS/

[2020-09-14 08:23] sebiweise commented on #40035
@springstan updated

[2020-09-14 08:29] knyar commented on #40045
Thanks! Indeed, the conversion is broken for `sensor` entities (while it does work for `climate`). We should probably add a test for this.

I suspect the conversion is there in the first place to make sure we align with [Prometheus base units](https://prometheus.io/docs/practices/naming/#base-units).

@duncf, did you just want to report this issue, or are you planning to follow up with a PR fixing

[2020-09-14 08:38] escoand commented on #38709
@chemelli74 Not sure, maybe it's not existing :D

[2020-09-14 08:42] BigHomie90 commented on #32944
Hi, i am getting the following error.

[code]

[2020-09-14 08:47] OptimusGREEN commented on #36281
This is still an issue, I don't think it should be closed.

[2020-09-14 08:49] christian1986 commented on #36281
I "sloved" the issue by creating a new install of Home-assistant and importing a backup of deconz(only). No problems at all since.

[2020-09-14 08:58] ludeeus commented on #40032
`playlist` was added to `spotipy` (which is used by this integration) in version `2.6.0`, HA currently uses `2.14.0`.

Disable all custom_components and try again.

[2020-09-14 09:34] balloob commented on #40032
And also clear the `libs` folder in your config folder.

[2020-09-14 09:51] tucka commented on #37462
Same issue here. Is there any solution ?

[2020-09-14 09:55] tigattack commented on #40032
Ah, bingo! It does indeed appear to be a custom component. Worked fine when I temporarily renamed the custom_components dir and restarted HASS.
I have [spotcast](https://github.com/fondberg/spotcast) and [spotify-playlist-sensor](https://github.com/dnguyen800/spotify-playlist-sensor), so it's most likely one of those at a guess.

Balloob, I don't see a libs folder in /config so I can't clear that,

[2020-09-14 10:04] ludeeus commented on #40032
It's <https://github.com/dnguyen800/spotify-playlist-sensor> please disable that and report it to the author, in `/config` it would be the `deps` directory.

Closing this here as this is a problem with a custom_component and not the `spotify` integration.

[2020-09-14 10:04] #40032 closed

[2020-09-14 10:26] tigattack commented on #40032
Awesome, thank you!

[2020-09-14 10:47] MartinHjelmare commented on #39847
I always get one mid timeout error on restart when using mqtt and ozw integrations. If I double the timeout to 2 seconds, I don't get the timeout. I have 8 ozw devices which is 95 entities.

[2020-09-14 10:53] #25785 closed

[2020-09-14 10:53] emontnemery commented on #39847
@to4ko would you mind trying with TIMEOUT_ACK set to 15, 10, 5, and 2?

[2020-09-14 11:12] daviddavid23 opened #40063 "Person entity not updating as expected (GPS + Router)"
## The problem - Person entity not updating as expected (GPS + Router)

If I leave my house and my router correctly shows me as away but GPS tracker still shows me as home (because I deliberately did not connect to my VPN so the app was never able to update with my GPS location) then the person entity with these two trackers shows me as home.  It incorrectly gives priority to GPS.  I posted this q

[2020-09-14 11:15] pvizeli commented on #39847
let start with fix 10s

[2020-09-14 11:26] to4ko commented on #39847
tested on TIMEOUT_ACK = 2

no errors in log (140 zigbee devices split in 2 networks on zigbee2mqtt)

[2020-09-14 11:34] Donokami commented on #33634
If you need any beta testers for Enedis new integration, I'm in ;)

[2020-09-14 12:49] balloob commented on #40059
The error message will always include the raw command, not the rendered command. This error doesn't mean that templates are not rendering. Is the auth maybe expired?

[2020-09-14 12:51] mf-social commented on #40063
As explained in the thread on the forums that you started...

https://community.home-assistant.io/t/person-not-updating-as-expected-gps-router/226600/4

This is exactly expected behaviour, this is not a bug but you misunderstanding how it's supposed to work.

The documentation clearly states "In short, when you’re at home, your position is determined first by stationary trackers (if any) and then

[2020-09-14 12:57] MarkHofmann11 commented on #28590
Ok, just cloned your repo and copied over your modded tplink component.  Everything is working perfect here so far.  Will watch it for the next two days and make sure none go unavailable.

[2020-09-14 13:04] bsfaxi commented on #39933
Hi Kane610,
I received the new device this morning. Same tests and same results! :(
Should I open an issue here "https://github.com/dresden-elektronik/deconz-rest-plugin" ?

[2020-09-14 13:38] mezz64 commented on #38501
I just need to know what changes to account for, hence the documentation.  I took a quick look at the Jellyfin github and it seems there are currently a bunch of commits getting merged into the `Jellyfin.API` area.  I don't have the time to sort out what is and isn't changing so some direction is required.

[2020-09-14 14:24] bdraco commented on #32876
@twosh Please post a `py-spy` `dump`, `top`, and `record` using the instructions above.

[2020-09-14 14:38] vios0224 opened #40068 "homekit"
## The problem

## Environment

- Home Assistant Core release with the issue:
- Last working Home Assistant Core release (if known):
- Operating environment (OS/Container/Supervised/Core):
- Integration causing this issue:
- Link to integration documentation on our website:

## Problem-relevant `configuration.yaml`

[code]

## Traceback/Error logs

[code]

## Additional information

[2020-09-14 14:50] mishoboss opened #40069 "Nabu Casa Remote UI can't connect on supervised installation"
Having a problem with the Remote UI since some time. I thought it's because of dropping the support for non-official supervisor installations, so I migrate my install to a supported Debian 10 one. However Remote UI is still dead for some reason. In HA it says it's connected:
![image](https://user-images.githubusercontent.com/1629929/93100926-5fcb6c00-f6b2-11ea-9351-393d2fa3064a.png)

But on Nabu C

[2020-09-14 14:52] Adminiuga commented on #39857
in the replacement, it should be `OsramLightCluster` -- cluster class. When it is a "class" that's what makes it as a replacement. when it is just an `int` -- `OsramLightCluster.cluster_id` -- then it is not a replacement and the original cluster will be used.

Yeah, you're right.  it is a bitmap so the "value" in the docs is the bit number and not an actual raw value.

[2020-09-14 14:53] ollo69 commented on #38156
@bdraco ,

can I ask you an opinion?
At this moment we have a lot of Tuya issues that are connected to some limitation introduced in Tuya API used by TuyaHA library. I created the custom_component [Tuya_Custom](https://github.com/ollo69/ha_tuya_custom) to make some quick test, but at the end any modification cannot really solve all problems (for instance, now API seems not accept a polling interva

[2020-09-14 15:02] springstan commented on #40068
Please fill out the issue template, you can find it by clicking on `New Issue` and then selecting `Report a bug with Home Assistant`. Copy and paste the provided template into this already created issue, click preview to take a look at the empty template and then fill out as much as you can. Any additional information can be helpful!

Thanks for understanding :)

[2020-09-14 15:08] vios0224 commented on #40068
sorry just post this with mistake, could you kindly delete this?

[2020-09-14 15:11] #40068 closed

[2020-09-14 15:11] springstan commented on #40069
Please fill out the issue template, you can find it by clicking on `New Issue` and then selecting `Report a bug with Home Assistant`. Copy and paste the provided template into this already created issue, click preview to take a look at the empty template and then fill out as much as you can. Any additional information can be helpful!

Thanks for understanding :)

[2020-09-14 15:32] balloob commented on #38156
I've pinged them again. I tried that before but no response :/ The original person at Tuya that implemented it left.

[2020-09-14 15:33] brg468 opened #40072 "Rachio SSL errors using multiple accounts"
## The problem

Attempting to have 2 separate Rachio accounts produces the following errors and ultimately crashes HA.

Initially loading the second account through the config flow is successful, but on restart the errors appear and the component never loads.

## Environment

- Home Assistant Core release with the issue: 114.3
- Last working Home Assistant Core release (if known):
- Operating envi

[2020-09-14 15:34] brg468 commented on #40072
@bdraco

Are you able to try this? It could be the fact that I'm on Windows that's causing the issue in which case I'll close it.

[2020-09-14 15:35] bdraco commented on #40072
`rachiopy` needs to be converted to `requests` as it uses a more modern ssl stack.

[2020-09-14 15:36] brg468 commented on #40072
If that's the case should we update the config flow to prevent more than one account for the time being?

[2020-09-14 15:37] JeffLIrion commented on #39817
It would be nice to fix the problem in the `pure-python-adb` package. Did anyone else running 0.115 beta with an Android TV device connected via ADB server experience this issue? @frenck?

I read a bit about what "Task was destroyed but it is pending" means, but I'm not sure how it arises in this situation. My two guesses are:

1. Not using a context manager in the `pure-python-adb` async code, an

[2020-09-14 15:37] bdraco commented on #40072
It is not specific to multiple accounts.  There will "random" ssl issues until we convert it.

[2020-09-14 15:39] springstan commented on #40026
Possible duplicate of #36638

[2020-09-14 15:59] emontnemery commented on #39847
Since the problem goes away for both @MartinHjelmare and @to4ko with 2s, maybe we can be conservative and try that first?

[2020-09-14 16:00] bdraco commented on #40072
I'll rewrite it to use requests

[2020-09-14 16:05] brg468 commented on #40072
👍

I think the rewrite is probably best left to you but let me know if I can help out in any way.

[2020-09-14 16:13] bdraco commented on #40072
@brg468 Done in https://github.com/rfverbruggen/rachiopy/pull/30. Please let me know if I've broken anything for you.

[2020-09-14 16:14] paoloantinori opened #40074 "Bug with automation validation in case of references to uninstalled platform"
## The problem

I have a spooky bug with some automation.
At boot, I get a persistent notification about some but with my automation.
In the logs I get htis:

[code]

but if I perform a Check Configuration from the ui or even with `ha core check` I don't get any error.

(The logged entries are not helpful since I include automations with `automation: !include_dir_merge_list automations`)

So, I mi

[2020-09-14 16:25] franc6 commented on #25814
This is still a problem in 0.114.4.

[2020-09-14 17:03] Adminiuga commented on #40074
you don't need to share them all, but you do need to find the one causing the issue.
Since you have a lot of automations, try to narrow it down by:
1. take backup of all your automations
2. delete half of the automoations
3. if the problem is still there, then the problem repeat, otherwise delete the current half and restore the other half of automations
Rinse and repeat

[2020-09-14 17:30] twosh commented on #32876
Thanks for the quick reply. I'm sorry to say that I don't know how to install py-spy on my DiskStation. Never been Linux-savvy... Could you say what I should write in the CLI to get it installed?

[2020-09-14 17:37] lbrichet commented on #38625
Hello, just added this integration and facing the same issue.

Same config except 👍
  country: be
  continent: eu

[2020-09-14 17:49] paoloantinori commented on #40074
@Adminiuga
thanks bisect approach could work as black box testing. Any chance we can try white box testing?

Figuring out why HA is providing conflicting statements: `ha core check` vs `boot time automated checks`?

[2020-09-14 17:49] bdraco commented on #32876
The pre-built binaries should work on most disk stations

https://github.com/benfred/py-spy/releases

[2020-09-14 17:52] matt8707 opened #40077 "broadlink can't find device 0.115.0b9"
## The problem

In 0.115.0b9 I'm trying to configure a broadlink rm4 pro using ui but I recieve "Device not found".

* Tried to configure while flashing
* Tried to configure while not flashing
* Didn't add to broadlink ios app
* Last resort tried to add to ios app

I've reset the device multiple times. The host is correct, since it worked in 0.114.4 and my router confirms it. The described way in

[2020-09-14 17:55] Adminiuga commented on #40074
enable debug and check if you get any hints.
conflicting statement because there's probably some bug. Probably something is available when you run the check, but not available during the boot?
What was the last working version?

[2020-09-14 18:00] bdraco commented on #40077
cc @felipediel

[2020-09-14 18:41] Progeny42 opened #40078 "TP-Link Kasa HS110 Plug Loses Total Consumption After Loss of Power"
## The problem

TP-Link Kasa HS110 Plug that has lost power has the `Total Consumption` reset back to 0, yet values like `This Month` remain intact.

## Environment

- Home Assistant Core release with the issue:
0.114.4
- Last working Home Assistant Core release (if known):
- Operating environment (OS/Container/Supervised/Core):
Container (4.19.107-Unraid)
- Integration causing this issue:
TP-Link

[2020-09-14 18:46] franc6 commented on #25814
After further searching, I think this might be a bug in the caldav component used by HA.  For certain, balloob is correct that the events have a datetime instead of a date object for start/end.  The wrapper is very thin, and the code in caldav < 0.6.2 unconditionally converts any date without a timezone into a datetime.  Since the all-day events (at least from my calendar, but AFAIK, that's normal

[2020-09-14 19:12] felipediel commented on #40077
Can you ping the device?

[2020-09-14 19:17] dgomes commented on #38625
sucks (supporting library) has become abandoned-ware, I'm afraid unless some fork gains steam we will not be able to continue supporting these robots

[2020-09-14 19:20] brg468 commented on #40072
Just tried it out. Everything seems to be working correctly, including being able to add a second account with no errors.

Nice job!

[2020-09-14 19:23] felipediel commented on #40077
Please open a terminal on your computer, install the python-broadlink library (`pip install broadlink`), open Python 3 and type:
[code]
What is the output?

[2020-09-14 19:30] MartinHjelmare commented on #40046
Fixed in #40048

[2020-09-14 19:30] #40046 closed

[2020-09-14 19:35] balloob commented on #39847
Sounds good.

[2020-09-14 19:43] cpuks commented on #35202
Same here issues started about 4 days ago on rgb v1 and v2 latest firmware (0065 and 0072), bulb closed connection, did reset, changed servers - no luck

[2020-09-14 19:47] matt8707 commented on #40077
Reset, slow flash, added wifi information using the [ios app](https://apps.apple.com/us/app/broadlink/id1450257910) otherwise i can't ping it. I downgraded to 0.114.4 and I can't add it again `Failed to send packet: Control key is expired`. Is it a new firmware blocking something?

ping
[code]

output
[code]

[2020-09-14 20:03] erikmouw commented on #39125
Deleting and reinstalling the AVRI integration in version 0.114.4 fixed the issue. I can’t recreate the problem anymore, so I’ll close this issue.

[2020-09-14 20:03] #39125 closed

[2020-09-14 20:12] pgsylvestre opened #40081 "Camera platform environment_canada no longer periodically updates"
As of beta, the update for the camera component of the  environment_canada integration no longer updates and keeps the original sequence from re-boot  No error is shown in logs.

arch | x86_64
-- | --
chassis | desktop
dev | false
docker | true
docker_version | 19.03.8
hassio | true
host_os | Ubuntu 20.04.1 LTS
installation_type | Home Assistant Supervised
os_name | Linux
os_version | 5.4.0-47-gen

[2020-09-14 20:13] TheGardenMonkey commented on #28590
Thank you @MarkHofmann11 !

@mikesalz and @aLTeReGo-SWI was curious if either or both of you wouldn't also mind validating. I am not seeing issues with controlling multiple switches at once and the hs300 seems to respond a little better than with my previous change.

[2020-09-14 20:25] bdraco commented on #39875
@GreenTentacle The bulb came in, but I could not replicate the issue.

Can you make a video?

[2020-09-14 20:41] felipediel commented on #40077
Are you using a VPN?

[2020-09-14 20:46] felipediel commented on #40077
The best way is:
- add the device to your local network with the official app
- do not finish the setup

See the troubleshooting section of the [docs](https://www.home-assistant.io/integrations/broadlink/).

[2020-09-14 20:54] pitah81 commented on #40077
The latest Broadlink firmware is incompatible with Home Assistant. Take a look at this article, it has a workaround using Node-Red.
https://www.thesmarthomebook.com/2020/04/13/broadlink-firmware-update-takes-down-home-assistant-component-see-my-node-red-workaround/

[2020-09-14 21:04] sidwin9 commented on #40025
Hey,

MariaDB was started. I had to uninstall MariaDB and PHPMyAdmin to recover an empty database under MySQL Lite. I tried several restores but all of them had an error with the MariaDB DB while it was started. I think there is a restore issue with MariaDB.

[2020-09-14 21:13] bverkron opened #40084 "Environment Canada sensors stop working if more than one weather platform is enabled"
## The problem
If more than one `environment_canada` weather platforms are enabled all the `environment_canada` sensors will stop working and return `"unavailable"`.

## Environment
- Home Assistant Core release with the issue: 0.114.4
- Last working Home Assistant Core release (if known): N/A
- Operating environment (OS/Container/Supervised/Core): Home Assistant OS
- Integration causing this issu

[2020-09-14 21:22] matt8707 commented on #40077
THANK YOU @felipediel

Turned off vpn on the machine running home assistant, and I was able to add my broadlink on 0.115.

Also stopped at this screen

<img src="https://user-images.githubusercontent.com/36163594/93138133-d2ead780-f6de-11ea-9970-a66060d066a9.jpeg"  height="400">

[2020-09-14 21:29] boggiano commented on #38994
Cloud is up again.
SSL certificate is going to expire the 13th December, so cross your finger.

[2020-09-14 21:38] felipediel commented on #40077
I will add support for VPNs, don't worry.

[2020-09-14 22:33] felipediel commented on #40077
@pitah81 I already added support for the new firmware. The only active issue is VPN support, which I will address this week.

[2020-09-14 22:44] felipediel commented on #40077
@bdraco Please do not send https://github.com/home-assistant/core/pull/36914 to production yet. I need to patch the library so that users can add devices using a VPN.

[2020-09-14 22:57] bdraco commented on #40077
It's going out in 0.115 on Wednesday unless we do a revert.

[2020-09-14 22:58] philhawthorne commented on #40059
🤦

Yep you're right. I re-looked at my command it found the issue. It was working in 0.114 because when I tested it, I added the host to the known hosts. When I upgraded the container, that of course gets lost.

So for those that may stumble across this, my solution was to change my SSH command to

[code]

This will login to my Asus router with SSH, and automatically add the host key to the contai

[2020-09-14 22:58] #40059 closed

[2020-09-14 23:07] barndawgie opened #40087 "Ecobee Integration set_fan_mode Seems to Set more than Fan Mode"
## The problem
I'm trying to create an automation which pins the fan on (i.e. moves the fan from `auto` to `on`) by making the following call to the climate.set_fan_mode service:

[code]

I expected this set my thermostat to "Fan on and holding" as happens if I go into "Settings" for my thermostat in the Ecobee app and select "On" for the fan while the Heat is still set to Off.

Instead, the syste

[2020-09-14 23:12] GreenTentacle commented on #39875
Let me try with some still pictures first, I think they illustrate a little better since the video has a hard time changing exposure with the lights.

(Using the GU10 bulb for explanation, since its easier to see the individual LEDs)
This is what the bulb looks like when set to "white light mode" from the hue app, or by using kelvin:2700 as the param from H-A.  The LEDs at roughly 12,3,6,9 o'clock

[2020-09-14 23:17] felipediel commented on #40077
What if I patch the library tonight?

[2020-09-14 23:46] scrytch commented on #34251
This needs to be resolved by the Konnected integration. From what I read here: https://developers.home-assistant.io/docs/device_registry_index - Konnected is more like the Ecobee example stated:

"For example, an Ecobee thermostat with 4 room sensors equals 5 devices in Home Assistant, one for the thermostat including all sensors inside it, and one for each sensor. Each device exists in a specific

[2020-09-15 00:10] sparkydave1981 commented on #20701
Thanks Klagio.  For some reason both my `stream_source` and yours work in a media viewer (VLC / Media Player Classic etc on my PC) but not in HA.  Are you using the `stream:` component in your config?

[2020-09-15 00:24] bdraco commented on #40077
If you get a PR in tonight we can get likely get it in before Wed.

[2020-09-15 00:25] wrkn4alivn opened #40088 "Hangouts integration no longer working"
## The problem

Hangouts notifications (and bots) no longer working. See https://community.home-assistant.io/t/notify-cannot-find-conversation-id-google-hangouts-integration/225675

## Environment

- Home Assistant Core release with the issue: 0.114.1
- Last working Home Assistant Core release (if known): 0.114.1
- Operating environment (OS/Container/Supervised/Core): Ubuntu 18.04 Supervised
- Int

[2020-09-15 00:35] bdraco commented on #39875
HomeKit doesn't support color temp when hue and saturation are present.  When we get a color temp request from Home Assistant we need to map it to a HS color.

[2020-09-15 00:36] bdraco commented on #39875
@GreenTentacle Can you try this patch

[code]

[2020-09-15 00:59] mikesalz commented on #28590
@TheGardenMonkey I installed it tonight and ran some tests.  It seems to be working pretty well.  Here are my findings:

- All switches are showing up in HA and are available.
- I turned individual switches on and off multiple times, and it worked reliably every time.
- Turning the group on and off works, but HA seems to have about a 5 second delay registering the new state of the switches.  I don

[2020-09-15 01:07] mikesalz commented on #28590
@TheGardenMonkey Also, just wondering what your thoughts are here.  In [this thread,](https://community.home-assistant.io/t/wth-does-the-tp-link-integration-still-have-the-unavailable-bug/225159/21) (which you're already on) there are some other devs who are working on the integration.  Just wondering if you're working with them to get your changes added back into HA?  Or is this just kind of a si

[2020-09-15 01:33] GreenTentacle commented on #39875
Sure, give me a day or two to setup a quick test instance of HomeAssistant.  Thanks !!

[2020-09-15 01:41] #40063 closed

[2020-09-15 01:46] felipediel commented on #40077
All ready! :rocket:

@Danielhiversen Sorry for bothering you with random Broadlink stuff again. But could you help me to merge [this PR](https://github.com/mjg59/python-broadlink/pull/416) and release a new version on PyPi? Then we bump from [here](https://github.com/home-assistant/core/pull/39228).

[2020-09-15 02:07] TheGardenMonkey commented on #28590
Thanks for the feedback. The delay sort of makes sense when using the kasa app because I think the act of using the app means that a connection (possibly multiple) are being made to the device which blocks HA from getting a status update.  I am not sure if there is away around that. I will give it some more thought though.

[2020-09-15 02:13] TheGardenMonkey commented on #28590
We have agreed to go for the quick hack for now while work continues on updating the new backend library.  I am hoping once we get this out that I can spend some time assisting with the future / long term approach.

[2020-09-15 02:33] bdraco commented on #40035
Please turn on debug logs and past anything from tado or PyTado

[2020-09-15 02:58] roblamoreaux commented on #39852
I'm seeing something seriously wrong in all 0.1150b versions. First is was one zigbee device that wouldn't communicate and when I tried re-adding it didn't, Then other devices would go wrong. Sometimes the device showed it was on, but I couldn't turn it off. Other times it showed as not there, and others times the zigbee side of the HUSBZ-1 stick wasn't there. Tonight the Z-wave stopped sending co

[2020-09-15 05:04] duncf commented on #40045
I'm not working on a PR right now. (I haven't gotten a proper dev environment set up for Home Assistant yet.)

[2020-09-15 05:34] springstan commented on #40081
Please fill out the issue template, you can find it by clicking on `New Issue` and then selecting `Report a bug with Home Assistant`. Copy and paste the provided template into this already created issue, click preview to take a look at the empty template and then fill out as much as you can. Any additional information can be helpful!

Thanks for understanding :)

[2020-09-15 05:51] joshtbernstein commented on #38579
@tboyce021 So I just updated the OZW addon and I'm having this issue again. So it seems to be that it's a bug and that HA is ignoring the unit value reported by the Heating and Cooling setpoints. It seems to be incorrectly using the units reporting by the Air Temperature.

[2020-09-15 06:17] Klagio commented on #20701
it has been a long time I don't play with configuration files, so I don't remember exactly.
EDIT: yes in my configuration.yaml there is
stream:

[2020-09-15 06:41] jes1417 commented on #35863
Still an issue

[2020-09-15 06:48] #38379 closed

[2020-09-15 06:52] tboyce021 commented on #38579
FWIW, I've been running my hacked up "fix" to convert the values and haven't had issues with either version of the OZW addon. I'm not sure it would be considered good enough to merge into HA though.

The only problem I'm seeing now is that my thermostat seems to report a random, usually extremely negative, current temperature after a reboot, e.g. right now it says -486 °C. This seems to be coming

[2020-09-15 06:56] joshtbernstein commented on #38579
Can you tell me what you edited? I'm happy to test. It might be worth submitting a PR at least. I'm sure @MartinHjelmare or @cgarwood would advise if anything needs to be corrected.

[2020-09-15 07:00] joshtbernstein commented on #38579
Actually I think this is why mine was working. It seems at some point my thermostat started reporting the Air Temperature Units in F. But at least initially for some period of time they're in C and that's when we both see the issue.

[2020-09-15 07:01] frenck commented on #40025
Aah right, in that case, this is a duplicate of <https://github.com/home-assistant/hassio-addons/issues/1353>

Please follow or attribute to the above-listed issue 👍

[2020-09-15 07:01] #40025 closed

[2020-09-15 07:08] joshtbernstein commented on #38579
This is all a little over my head, but I wonder if [this](https://github.com/OpenZWave/open-zwave/issues/2324#issuecomment-668930962) is the solution? If I understand correctly, HA needs to tell the thermostat to report in F?

[2020-09-15 07:12] tboyce021 commented on #38579
Quite possibly. I'm not sure how to do that but it's worth looking into.

Here are the changes I've been using to at least get things in the correct units in the meantime: https://github.com/tboyce021/home-assistant/commit/94aca4d69042bd0e17fb7f7b38fae6f2492e59c8

[2020-09-15 07:27] #39875 closed

[2020-09-15 08:56] ewxl opened #40093 "Z-wave print node issue"
## The problem
When I do print node in the ZWave integration, the OZW log is repeated with error "ValueID passed to GetValueFloatPrecision is not a Decimal Value"

## Environment

- Home Assistant Core release with the issue: 242
- Last working Home Assistant Core release (if known): N/A
- Operating environment (OS/Container/Supervised/Core): Hass.IO
- Integration causing this issue: ZWave
- Link

[2020-09-15 10:19] Gunth commented on #37410
I have removed this integration and create my own service pushing the datas via MQTT because if I remember correctly, the owner developer of this integration doesn't maintain it anymore

[2020-09-15 10:22] sebiweise commented on #40035
[code]
[code]

Nothing else for PyTado.

[2020-09-15 10:37] Hunty82 opened #40096 "After updating to 0.114.4 daikin climate are gone"
After updating to 0.114.4 all my daikin (5) A/C loss the climate entity.
![image](https://user-images.githubusercontent.com/56541243/93197825-6efef800-f74c-11ea-8ccb-a6c3654969e9.png)
It shows 5 entities instead of 6, climate entity is missing.

I've tried to setup another HA supervised (same version ,0.114.4) in docker in a ubuntu virtual machine and the daikin integration shows for each A/C 6 en

[2020-09-15 10:47] mikesalz commented on #28590
@TheGardenMonkey  Bad news.  I tried to turn on the group this morning and received this error...

[2020-09-15 11:27] KennethLavrsen opened #40099 "Google Cast integration does not remove its system user when removed and does not clean up old accounts"
## The problem

This is a bug raised based on a discussion on the forum
https://community.home-assistant.io/t/duplicate-system-generated-users-for-home-assistant-cast/186806/6

What triggers the issue is that we notice that we have multiple system users called Home Assistant Cast. They cannot be deleted and all appear as active. Clearly there is only supposed to be one.
How they got there is a mys

[2020-09-15 11:27] TheGardenMonkey commented on #28590
Does the group only contain the power strip? I am going to take a look shortly.

[2020-09-15 11:48] hgop67 commented on #17622
Noticed that the success of Hangouts seems to depend on the status of AdGuard when starting Home Assistant.

[2020-09-15 11:57] os131 commented on #38695
Wifi error comes time to time (the first error since your post came this morning). There is no special event that can explain why this error raise up at this moment specificaly.

``
2020-09-15 08:16:16 ERROR (MainThread) [homeassistant.helpers.entity] Update for switch.freebox_wifi fails
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/site-packages/aiohttp/connector.py", line 9

[2020-09-15 11:58] DanielWe2 commented on #39033
I think the influxdb should be added to the list.  Everytime a new sensor gets added (For example an esphome sensor using the UI) and if i want to push it's data to influx db I have to add it to influxdb include configuration and restart Home Assisant.  (The same for recorder but that is already listet somewhere in this issue).

[2020-09-15 12:01] DanielWe2 commented on #39033
Also: What about the customize configuration?  For example if I change the device_class of a binary_sensor it needs a restart.  (I would like that change that using the UI btw.)

[2020-09-15 12:04] MarkHofmann11 commented on #28590
One thing that might be worth trying is adjusting the SLEEP_TIME = 2 in the switch.py which is what I had been using originally.  I don't have a HS300, but I have a KP400 which has two outlets.  I was using that setting this past Christmas to control the outside outlets on it with @TheGardenMonkey updates using that SLEEP_TIME setting with no issues.

[2020-09-15 12:15] TheGardenMonkey commented on #28590
Yeah I was also using 2 seconds but I was trying to see if the 1 second was really that bad. I haven't noticed an issue but I agree that 2 seconds might be the safer approach.

[2020-09-15 12:15] bramkragten commented on #36624
I'm on the 0.115 beta, and am getting these messages a lot in my log.

Using a Broadlink RM Mini3 Black Bean

[2020-09-15 12:17] bakboord4 opened #40100 "OpenZwave add-on does not startup"
OpenZwave does not startup or update.

Error first visible when updating 0.5.2 to 0.5.3.

Error msg:
Can't install homeassistant/armv7-addon-zwave:0.5.3 -> 404 Client Error: Not Found ("manifest for homeassistant/armv7-addon-zwave:0.5.3 not found: manifest unknown: manifest unknown").
This error is often caused by not having enough disk space available. Available space in /data is: 20.8 GiB

Bypas

[2020-09-15 12:18] felipediel commented on #36624
Please send me the message.

[2020-09-15 12:20] bramkragten commented on #36624
[code]

[2020-09-15 12:31] felipediel commented on #36624
[code]
What is the output?

[2020-09-15 12:32] felipediel commented on #36624
Do you get the same exception?

[2020-09-15 12:47] Quentame commented on #38695
@os131

You were having an occasionnal error while the Freebox is busy and did not handle the API call. The sensor should get back to normal at the next update (30s).

The error is not the same as the initial.

@benjR

this means `_api` is `None`, and the only mean it can be `None` is after remove the integration.

A fix has been made on 0.115.0 when sensors try to update after the integration rem

[2020-09-15 12:47] #38695 closed

[2020-09-15 13:12] bramkragten commented on #36624
Yes

[2020-09-15 13:16] mikesalz commented on #28590
Yes, the group is only the power strip.

[2020-09-15 13:17] felipediel commented on #36624
Thank you! This will be fixed with: https://github.com/home-assistant/core/pull/39228/commits/34561f03039e216a034cfd4ccceb321c87a34ac4.

[2020-09-15 13:28] firstof9 commented on #39033
Customize can already be reloaded. If you modify via the UI, it reloads automatically when you press `Save`

[2020-09-15 13:39] yellowonblack commented on #36039
Confirm the same problem with duplicated events on the last version 0.114.4.

The same problem from other users here https://community.home-assistant.io/t/caldav-doesnt-generate-binary-sensors/204994/3

[2020-09-15 13:45] Misiu commented on #39033
@DanielWe2 take a look at my PR: https://github.com/home-assistant/core/pull/39548
You should be able to create a similar PR for influxdb.
It's just a matter of adding `setup_reload_service(hass, DOMAIN, PLATFORMS)` to `setup_platform` and `services.yaml`.

[2020-09-15 14:06] bwachter commented on #38269
I just ran into the same thing after bringing my roku out of retirement. The problem is that the people at roku don't quite know what they're doing, and believe that [refusing connections when the device is being accessed over a DNS resolvable host name improves security](https://community.roku.com/t5/Roku-Developer-Program/External-Control-API-suddenly-returns-403-Forbidden/td-p/499344).

I belie

[2020-09-15 14:11] mathmaniac43 commented on #38269
That is an excellent find, I had not even considered the fact that the roku itself was causing trouble!

[2020-09-15 14:14] mikesalz commented on #28590
More info - I restarted HA (unrelated to configuring the HS300) and ended up with a switch.unnamed_device showing up.

[2020-09-15 14:46] kennedyshead opened #40102 "Arbitrary Code Execution in pyaml 5.3.1"
## The problem

There is a security issue in pyyaml 5.3.1 https://github.com/yaml/pyyaml/issues/420

## Environment

- Home Assistant Core release with the issue:
- Last working Home Assistant Core release (if known):
- Operating environment (OS/Container/Supervised/Core):
- Integration causing this issue:
- Link to integration documentation on our website:

## Problem-relevant `configuration.yaml

[2020-09-15 14:49] kennedyshead commented on #40102
After a quick review I see we only use SafeLoader, sorry for posting

[2020-09-15 14:49] #40102 closed

[2020-09-15 14:51] e2m32 commented on #40088
adding a me too here! Looks like it stopped working yesterdayish. I rely heavily on hangouts. I hope this can be fixed! 🙏

[2020-09-15 15:00] TheGardenMonkey commented on #28590
@MarkHofmann11 Just curious if you tried SLEEP_TIME =1 and MAX_ATTEMPTS = 40 instead? This is the first time I am trying with a second sleep. @mikesalz  can you try setting the SLEEP_TIME to 2 for now (this would only help to prevent the initial unnamed device and it would prevent them from becoming unvailable...not the turn_on issue).

For the turn_on,  the backend library is throwing the excepti

[2020-09-15 15:11] mikesalz commented on #28590
Thanks @TheGardenMonkey.  I changed SLEEP_TIME to 2 and restarted HA.  Seems good for now.

[2020-09-15 15:18] TheGardenMonkey commented on #28590
Cool, I guess I was being too aggressive :). I did also get the same error you did btw on turning on my strip this morning (mine only has 5 of the ports, 1 port I always have on). I think the 1 second is hammering it too much and is likely the cause of the other issue since I haven't seen it before when doing 2 seconds. I am going to keep it at 2 for now.

[2020-09-15 15:31] bdraco commented on #39033
That will work for integrations that use `setup_platform` or `async_setup_platform`. For `influxdb`, we can reuse part of what was done for `homekit`.

[2020-09-15 15:49] springstan commented on #40026
cc @rishatik92 and @devbis since the bot did not tag you automatically.

[2020-09-15 15:49] fredrike commented on #40096
I'll have a look but it seems that there is an issue during the zeroconf setup. Could you try to add the device with ip-address to make sure that it works.

[2020-09-15 15:56] Misiu commented on #39033
@bdraco I've looked at the code and I see that function: https://github.com/home-assistant/core/blob/dev/homeassistant/components/influxdb/sensor.py#L144 but I guess it isn't that easy task after all 🙂

[2020-09-15 16:26] twosh commented on #32876
Downloaded the py-spy-v0.3.3-x86_64-unknown-linux-musl.tar.gz tarball and unpacked it on my synology. Tried just running it with

So, yes, I'm at that level when it comes to doing things in a Linux environment... :(

[2020-09-15 16:39] ljmerza opened #40105 "Media Source integration nested docker volumes issue"
## The problem

Media source under `/config` folder will cause weird behaviors with docker volumes. The new media source lives under `/config/media` but users who use docker will most likely have volumes already under `/config`. If a user's media lives somewhere else making another docker volume to `/config/media` would cause issues with docker volumes within each other. Either change the default

[2020-09-15 17:00] bdraco commented on #32876
You need to `cd` into the directory its in and run `./py-spy`

[2020-09-15 17:04] bdraco commented on #39033
We probably would need to do something like we did with `group` for this one.

[2020-09-15 17:19] mcdull commented on #40077
me too.  After it changes to integration, my mp1 is not recognized.
In integration, after type in the IP address of the mp1, it detects the plug name, but no device show up.

[2020-09-15 17:23] huckw commented on #39781
I have same problem I think.  New HA user and not seeing anything in the logs (might not be looking in the right place) but the temperature has said 98.6F ever since I restarted the device.  Not sure if it is related but my only other entities (which come from a Tasmota device) have shown "Unavailable" ever since the HA restart.  Everything was working yesterday after brand new hassio install but

[2020-09-15 17:32] joshtbernstein commented on #38579
@tboyce021 I think I figured something out here. If you go into OpenZWave admin and select your thermostat, you should have a System Values tab. From there are you able to switch Air Temperature Units to Fahrenheit? When I do this Air Temperature starts getting reported in Fahrenheit and the set points are then correct. But definitely seems like there's a bug with the setpoints incorrectly being t

[2020-09-15 17:32] malkie-hass commented on #39378
I have the same issue that I moved to the new App and can now not use my Vorwerk anymore with Hass.
Is there anything I can do to help?

[2020-09-15 17:33] dshokouhi commented on #40088
Looks like the library had a bump recently, you guys might wanna try and see if the new version fixes the issue.  Can't comment if it needs more changes other than the bump but its a start to see whats going on.

https://github.com/tdryer/hangups/releases/tag/v0.4.11

[2020-09-15 17:34] twosh commented on #32876
Thank you so very much for your patiance and help. Here is the dump, top and record:

DUMP:
[code]

TOP:
![image](https://user-images.githubusercontent.com/70069713/93244232-13575d80-f792-11ea-9e2d-076490407093.png)

RECORD:
[issue33866.zip](https://github.com/home-assistant/core/files/5226706/issue33866.zip)

[2020-09-15 17:37] bdraco commented on #32876
@twosh

It looks like vera is eating up cpu time.

<img width="1306" alt="Screen Shot 2020-09-15 at 12 36 37 PM" src="https://user-images.githubusercontent.com/663432/93245009-38c37780-f750-11ea-9ba1-ca17d6eadf2d.png">

[2020-09-15 17:43] twosh commented on #32876
Huh... Interesting. Can you give insight as to why?

[2020-09-15 17:54] MartinHjelmare commented on #38579
@marcelveldt should we change and use the unit of the thermostat command class instead of the sensor command class, as the unit of the climate entity?

Side note: A device that reports different temperature features in different units seems like an anomaly.

[2020-09-15 17:57] marcelveldt commented on #38579
Sounds to me like a good workaround. Somehow the unit is sometimes wrong in the payload from OZW.

[2020-09-15 18:01] #36707 closed

[2020-09-15 18:03] DaAwesomeP commented on #40009
Hi @stefarossi,
Would you mind giving the `firmata` integration a try? It doesn't support analog input yet, but it will work for a binary sensor on a digital input if that fits your use-case. I am still working on analog input/output. It will eventually replace the `arduino` component.

https://www.home-assistant.io/integrations/firmata

[2020-09-15 18:05] DaAwesomeP commented on #40009
I don't know that I implemented disconnect detection, but it should at least handle the errors.

[2020-09-15 18:11] joshtbernstein commented on #38579
Won't this just invert the issue? If the device is reporting set points in F and air temp in C what will happen?

Unless I'm misunderstanding, it seems that you can "ask" for the air temp in either C or F. Doesn't seem to be device specific based on [this](https://github.com/OpenZWave/open-zwave/issues/2324#issuecomment-668930962).

[2020-09-15 18:21] MartinHjelmare commented on #38579
So we should set the `CommandClass": "COMMAND_CLASS_SENSOR_MULTILEVEL", "Index": 256` to the unit, F or C, that we want the air temperature to be reported in?

[2020-09-15 18:22] #36912 closed

[2020-09-15 18:30] wrkn4alivn commented on #40088
That seems to have fixed it, basics are working now. Will update if I notice anything odd.

[2020-09-15 18:36] bdraco commented on #39526
Fixed in https://github.com/snjoetw/py-august/pull/50

[2020-09-15 18:59] thib5 commented on #35816
Up Please ?

[2020-09-15 19:16] frenck commented on #40105
This is in progress, see #40071

[2020-09-15 19:17] joshtbernstein commented on #38579
I think so. To confirm it should be "Celsius" and "Fahrenheit".

[2020-09-15 19:18] felipediel commented on #40077
@mcdull  https://github.com/home-assistant/core/issues/40077#issuecomment-692262368 What is the output?

[2020-09-15 19:28] #40105 closed

[2020-09-15 19:29] cpuks commented on #26186
I'm facing this problem with 1.4.2_0076 so RGBv1 and 2.0.6._0065 (RGBv2) too, total 8 bulbs are affected (2 x RGBv1 and 6xRGBv2). Everything was rock stable for months and now I have to power toggle bulbs couple times a day...

[2020-09-15 19:43] to4ko commented on #39847
just updated to latest b10

they came back

2020-09-15 22:40:12 ERROR (MainThread) [homeassistant.components.mqtt] Timed out waiting for mid 454
2020-09-15 22:40:12 ERROR (MainThread) [homeassistant.components.mqtt] Timed out waiting for mid 455
2020-09-15 22:40:12 ERROR (MainThread) [homeassistant.components.mqtt] Timed out waiting for mid 456
2020-09-15 22:40:12 ERROR (MainThread) [homeassistant

[2020-09-15 20:02] jjlawren commented on #39979
It should handle the Plex server unavailable at startup and should recover when it becomes available using a backoff mechanism. Are you certain it doesn't recover automatically?

Here's an example from my environment:
[code]
If the Plex server is disabled during runtime there are currently no specific checks to throttle reconnections as it assumes the downtime is transient.

Assuming it does recov

[2020-09-15 20:08] springstan commented on #39847
@to4ko does increasing TIMEOUT_ACK to 5 or 10 resolve this issue?

[2020-09-15 20:08] djtimca opened #40111 "VeSync Integration Issue - Keys Missing from Getting Device Details"
## The problem

## Environment

- Home Assistant Core release with the issue: 0.115.0b10
- Last working Home Assistant Core release (if known):
- Operating environment (OS/Container/Supervised/Core): Ubuntu Server 16.04/Supervised/Docker
- Integration causing this issue: VeSync
- Link to integration documentation on our website: https://www.home-assistant.io/integrations/vesync/

## Problem-releva

[2020-09-15 20:08] dshokouhi opened #40112 "Kodi does not work if HA is starting and Kodi is not online"
## The problem

In HA 0.114 and before the integration would handle kodi not being online by marking it as `off` now in HA 0.115 beta that is not the case and the user gets an error.  This now means anytime we want to restart HA we have to make sure all kodi instances are online.  I have 5 of them so this is going to be a big issue since kodi is not always open.

## Environment

- Home Assistant C

[2020-09-15 20:11] springstan commented on #40111
@djtimca do you know when this integration was last working for you?

[2020-09-15 20:17] dshokouhi commented on #40112
CC: @OnFreund I saw your comment in https://github.com/home-assistant/core/issues/39788#issuecomment-689550907 Personally it doesn't matter if its `off` or `unavailable` the big issue here is that the integration shoudl be able to cope with an offline device per the integration quality scale.

[2020-09-15 20:17] djtimca commented on #40111
@springstan I only went through my logs today. I believe I saw these errors logs in 0.114 as well but didn't have time to track back to what was causing it.

[2020-09-15 20:18] jjlawren commented on #39978
Let's close as a duplicate of #39979.

[2020-09-15 20:18] #39978 closed

[2020-09-15 20:22] wladwnt commented on #38018
My HA/python development is very limited, but as I could understand from the [Dump](https://github.com/home-assistant/core/blob/dev/tests/fixtures/ozw/cover_network_dump.csv) and [JSON](https://github.com/home-assistant/core/blob/dev/tests/fixtures/ozw/cover.json) the cover is implemented in openzwave as a CLASS_SWITCH_MULTILEVEL. So, if my understanding is correct, open  and close is initiated by

[2020-09-15 20:22] springstan commented on #40111
Okay thanks for that information.

[2020-09-15 20:41] to4ko opened #40114 "Googlecast Zeroconf error"
## The problem

Below error pops up in log after update to 115 beta (same on betas from 4 to 10)

[code]

## Environment

Home Assistant 0.115.0b10 running on RPI 3B+ (details below)

arch | armv7l
-- | --
chassis |  
dev | false
docker | true
docker_version | 19.03.12
hassio | true
host_os | Raspbian GNU/Linux 10 (buster)
installation_type | Home Assistant Supervised
os_name | Linux
os_version |

[2020-09-15 20:45] to4ko commented on #39847
on TIMEOUT_ACK = 5 there was some waiting's. on "10" - clear green in log

[2020-09-15 20:56] DanielWe2 opened #40115 "Logbook does not show state changes for events created before the introduction of the old_state_id column (schema version 8)"
## The problem

Schema version 8 of the recorder db schema introduced the column old_state_id for states. Old data in the database has a default value of null.

Some point later the Logbook query logic has changed to include the following:

[code]
leading to the issue that "state_changed" events before the update (I made the update only a few days ago) can not be queried and thus not be shown anym

[2020-09-15 21:12] mckochan commented on #39924
@glpatcern Just seeing if you could look at this or need any logs from me

[2020-09-15 21:12] springstan commented on #39847
Since 10 seconds resolves this issue for you I have opened another PR to change it accordingly.

[2020-09-15 22:00] disforw commented on #29602
Same here, any update??

[2020-09-15 22:28] jjlawren commented on #39982
Ok, looked into this a bit more and I'm somewhat confused. It looks like the user was playing a TV show, but this codepath only triggers when listening to music. It also seems like an item that doesn't actually exist on the Plex server was being played (external trailer? theme music?), as it refers to a non-local library but I can't find a way to reproduce similar behavior.

If you are able to gat

[2020-09-15 22:28] didipe commented on #38285
@Writech
Hi, today i have the same issue after upgrading homeassistant.
I compare vaccum.py between the two versions and i see the most important changement is the timer.
So i changed the line (481) in homeassistant/lib/python3.7/site-packages/homeassistant/components/xiaomi_miio/vaccum.py `self._timers = self._vacuum.timer()`
by
` line self._timers = []`

and it s works.

When i test binary mirob

[2020-09-15 22:33] hunterjm commented on #40105
The easiest way around this (for now) is by mounting an additional volume anywhere, and creating a symlink in `/config/media` to the other volume.

[2020-09-15 22:56] TheGardenMonkey commented on #40111
Do the entries appear randomly or after any particular action is taken?

[2020-09-15 23:38] chemelli74 opened #40120 "Cert_expiry integration create a second sensor with relative time"
## The problem

SSL cert expiry integration creates 2 sensors, one with timestamp and one with an relative time value:

- `sensor.ssl_certificate_expiry`
- `sensor.cert_expiry_timestamp_<hostname>`

Sensor with relative value should be dropped in order to follow core rules.

Simone

## Environment

- Home Assistant Core release with the issue: 0.114.4
- Last working Home Assistant Core release (if

[2020-09-15 23:46] i00 opened #40121 "Surepet reports wrong state upon restart of HA"
## The problem

When my pet is inside according to HA and the app, if I restart HA, my pet reports as outside, until she actually goes outside and comes back!

## Environment

- Home Assistant Core release with the issue: 0.114.4
- Last working Home Assistant Core release (if known):
- Operating environment (OS/Container/Supervised/Core): Container
- Integration causing this issue: Sure Petcare
-

[2020-09-15 23:52] MarkHofmann11 commented on #28590
My original mod was using the SLEEP_TIME = 2 which worked perfect for even the multiple outlet tplink.  I am still using latest with the SLEEP_TIME = 1 - but I'm also not using the multiple tplink power outlet at the moment.  Lots of single wall switches, plugs, lights, etc.  I don't break out the strips until Christmas time - but I know they worked with SLEEP_TIME = 2.  :)

[2020-09-16 00:01] mikesalz commented on #28590
@MarkHofmann11  I also have several HS105 single outlets and KP400 double outlets.  All have worked pretty much perfectly for months.  It's just this 6-outlet HS300 that has issues. Glad to know that SLEEP_TIME = 2 worked for you pretty consistently!

[2020-09-16 00:05] djtimca commented on #40111
Appears randomly. I actually only have one smart switch (10A) with power consumption monitoring on it. My sump pump is plugged into it so it is never turned off, just used to monitor when power goes out and when the pump runs.

[2020-09-16 00:22] MarkHofmann11 commented on #28590
@mikesalz You can also try SLEEP_TIME = 3 if you still have issues with the HS300.  I don't have any of those, just the KP400.  I would think that it is just a matter of finding the best "SLEEP_TIME" setting for it.

[2020-09-16 00:54] mwunderling opened #40122 "Nextcloud Integration - often fails after HA restart"
## The problem
The Nextcloud Integration is properly setup and configured on my system. The integration works roughly 1/5 of the time after restart. Restarts frequently result in Nextcloud entity states showing as unavailable in the UI (see images below - an HA restart is the only difference between the 2 caps)

![NextcloudIntegration](https://user-images.githubusercontent.com/22336325/93279429-13

[2020-09-16 02:18] rgogada opened #40124 "Shelly Integration: ShellyEM doesn't have sensor for Solar Export. Similar to total_returned on shelly4hass."
## The problem

ShellyEM doesn't have a sensor to show Solar Export. For comparison, shelly4hass integration has a sensor total_returned for this.

## Environment

- Home Assistant Core release with the issue: 0.115 beta
- Last working Home Assistant Core release (if known): NA
- Operating environment (OS/Container/Supervised/Core): docker
- Integration causing this issue: Shelly
- Link to integra

[2020-09-16 02:19] TheGardenMonkey commented on #40111
Is there any evident issue in the front end...does the device become unavailable or any of the attributes like energyweek go away?

Can you enable debug logging on the vesync component?

[code]

[2020-09-16 03:27] daconrad0 opened #40125 "Bond with Fireplace Does not Work"
## The problem

  I have a Bond device which is successfully integrated with HA for a fan and cover.  My fireplace works using the Bond App but does not work in HA.

## Environment

![289CD329-2B07-40AA-A0E0-3EDE33CFF6E9](https://user-images.githubusercontent.com/48894833/93288722-92589000-f7aa-11ea-9d9a-498d9ddb9729.png)

- Home Assistant Core release with the issue:
- Last working Home Assistant

[2020-09-16 04:31] kumarsresidence commented on #31592
Hi @Adminiuga

i tried to follow what you have advised but im kind of lost after the 3rd step. Pleae dont mind im a total newbie to this and have just started.

I have a Aqara temp/humidity/pressure sensor.

{
  "node_descriptor": "<Optional byte1=2 byte2=64 mac_capability_flags=128 manufacturer_code=4151 maximum_buffer_size=127 maximum_incoming_transfer_size=100 server_mask=0 maximum_outgoing_tra

[2020-09-16 04:33] OnFreund commented on #40112
@dshokouhi with the previous issues. I wasn't sure how to interpret the quality scale for this case so I asked for guidance on Discord. The response I got was that if the device cannot be turned on from HA, it should be unavailable, rather than off. This is the current behavior as well, so the main difference between the "correct" way of handling this and the current state is the error log.
Now, t

[2020-09-16 04:40] bverkron opened #40127 "CalDav: Repeat events do not show in all views"
## The problem

Repeat calendar events do not show beyond the first entry in Monthly and Weekly views. They do, however, render as expected in Daily view. Seems to happen with CalDav but not Google Calendar entries. Might be specific to iCloud calendars, not sure, don't have another CalDav compatible calendar to test with.

## Environment

- Home Assistant Core release with the issue: 0.114.4
- La

[2020-09-16 05:16] offbyone commented on #39982
The player is remote, belonging to a friend of mine. He's streaming from my Plex server, which is on a NAS on my local network, over the internet. The library is the standard TV library, nothing special.

Replicating it is tricky, at least right now since he's in bed :)

[2020-09-16 05:57] springstan commented on #40125
Please fill out the issue template, you can find it by clicking on `New Issue` and then selecting `Report a bug with Home Assistant`. Copy and paste the provided template into this already created issue, click preview to take a look at the empty template and then fill out as much as you can. Any additional information can be helpful!

Thanks for understanding :)

[2020-09-16 06:01] springstan commented on #40114
Please fill out the issue template, you can find it by clicking on `New Issue` and then selecting `Report a bug with Home Assistant`. Copy and paste the provided template into this already created issue, click preview to take a look at the empty template and then fill out as much as you can. Any additional information can be helpful!

Thanks for understanding :)

[2020-09-16 06:02] springstan commented on #40124
Please open a feature request in the [community forum](https://community.home-assistant.io/c/feature-requests?order=votes) because we only use Github issues to track issues and not feature request.

Thanks for understanding :)

[2020-09-16 06:02] #40124 closed

[2020-09-16 06:14] #39847 closed

[2020-09-16 06:50] Hunty82 commented on #40096
I've removed all daikin integration from setting/integration page and re added manually using the IP address, but nothing appeared in the log. All my 5 daikin A/C have only 5 entities. No log information (maybe it is possible to have a more verbose log?)

I've also a vaillant custom integration that has lost the climate entity

[2020-09-16 06:57] glpatcern commented on #39924
I'm happy to have a look, but if you have some logs I'd appreciate that. Also I remember that at the time I could not find any public video stream to test, do you happen to know if there's any available to test?

[2020-09-16 07:06] Misiu commented on #39791
While waiting for a new SD card I've created a workaround - automation that restarts my HA every 3 hours.
It was working until now.

I got another set of errors. The last one occurred **1743** times 🤷‍♂️

I need to wait another week for the card, so maybe there is a way to restart HA when such errors occur? Now I must do that manually (disconnect the power from PI)

[code]

[code]

[code]

[2020-09-16 08:20] balloob commented on #39033
As the month of WTH is coming to an end I will be closing this issue now. Thanks everybody for all the feedback.

[2020-09-16 08:20] #39033 closed

[2020-09-16 08:26] rotdrop commented on #31854
picotts has the same problem.

[2020-09-16 08:49] Milithor commented on #34702
Not working here. Only works if I leave everything at default.

[2020-09-16 09:12] springstan commented on #40112
Fixed by https://github.com/home-assistant/home-assistant.io/pull/14511

[2020-09-16 09:12] #40112 closed

[2020-09-16 10:03] cichy63 commented on #38873
Hi,

what's the modele of this lamp? I have MJTD01SYL which looks like is not supported (only previous version MJTD01YL). Is someone able to work on adding this model?

[2020-09-16 10:04] balloob commented on #40114
Do you have network interfaces that you don't use and are not connected?

[2020-09-16 10:07] to4ko commented on #40114
nope - according to ifconfig -a - all the interfaces are up and running

[2020-09-16 10:22] eschiuel commented on #39200
Had the same problem with only 2 ikea smart outlets (E1603), other 3 pieces were ok. I joined the beta channel from the Supervisor menu, uodated HA to the latest beta and was able to join the 2 devices after without problems.

[2020-09-16 10:30] balloob commented on #39843
CC @Vaarlion @ctalkington as both of you have touched MPD in this release.

[2020-09-16 10:35] Morphy99 commented on #38464
It's documented [here](https://www.home-assistant.io/integrations/automation/#deleting-automations) (your link didn't work) but it doesn't mention why they're kept?

Not sure if I'm missing something but in which scenario is keeping deleted entities orphaned in the GUI beneficial? If you're changing things around with yaml in bulk this becomes a major pita to delete each one individually in the GU

[2020-09-16 10:37] chinswain commented on #38182
Has the conflict been logged between mio and aqara?

[2020-09-16 10:48] #36638 closed

[2020-09-16 10:48] #40026 closed

[2020-09-16 11:01] derekatkins opened #40134 "isy994i (pyisy) crashing"
## The problem

The ISY994i integration is crashing (probably based on some input data from the ISY994 itself, based on the error outout).

Restarting the ISY integration gets it talking until it gets to whatever node it is that it's trying to pull data from and then it crashes.

## Environment

- Home Assistant Core release with the issue: 0.114.4
- Last working Home Assistant Core release (if kn

[2020-09-16 11:14] joshhodgson opened #40135 "Capitalization error in entity_id in scenes yaml breaks that scene"
## The problem

Scenes which refer to an entity with incorrect capitalization cause the scene to become "Unavailable" and show as orphaned in Lovelace.

![image](https://user-images.githubusercontent.com/7606810/93330004-febca900-f815-11ea-81ce-0f72cba7176b.png)

## Environment

- Home Assistant Core release with the issue: 0.114.4
- Last working Home Assistant Core release (if known): Unknown
- O

[2020-09-16 11:26] Saur0o0n commented on #38506
Hi,
Any update on this issue?
I guess the new Onvif integration is missing much more then simple rtsp_transport. There should be also (or at least it would be "nice to have") a way to add some camera specific arguments to ffmpeg - per camera not onvif wide. In my case this is rtsp, but also some cameras fail to respond in proper time - and hit timeout value.
Dirty workaround is to modify "haffmpeg

[2020-09-16 12:17] ollo69 commented on #38156
Let me just summarize the current situation based on test result done in "Tuya Custom" component:

- the Tuya dedicated API allow 2 method to query de device status: "query" and "discovery". The first one need a parameter that is the device ID to query, so to have the status for multiple device multiple call must be issued. This is the current method used by the Tuya integration. "Discovery" retur

[2020-09-16 13:09] cagnulein opened #40136 "device_tracker.luci cannot reliably report home/away state"
Home Assistant release (hass --version):
0.114.4

Python release (python3 --version):
Python 3.8.3

Component/platform:
device_tracker.luci

Description of problem:
Reopening #11144 As per a luci community member [commenting on a luci issue](https://github.com/openwrt/luci/issues/1474#issuecomment-351705399), the way that device_tracker.luci tries to find connected devices isn't reliable. It seems

[2020-09-16 13:19] meichthys commented on #40122
@mwunderling Thanks for reporting this. I was also seeing this but wasn't sure if it was something others were running into as well. I'm not sure if it will help, but it may be worth tying to set your Nextcloud docker container to start before Homeassistant. (See `depends_on` in [https://docs.docker.com/compose/startup-order/](url))

Another question, do you run an NGINX Proxy as a HomeAssistant A

[2020-09-16 13:29] ctalkington commented on #39843
I dont see how the changes this release would break this. the code seems to only return supported_features:0 if the status call fails.

[2020-09-16 13:30] Adminiuga commented on #31592
do you get these
![image](https://user-images.githubusercontent.com/5826160/93344091-484dc980-f7ff-11ea-8806-86a85833eae9.png)

[2020-09-16 13:32] cibernox opened #40137 "NGINX HomeAssistant SSL proxy not working but built-in http server does."
I've been trying to setup HA in a way that I use https when using my personal duckdns domain but I still can access it through regular https when I'm inside my local network (which is important because my ISP router does not support DNS hairpinning, so I can't access the duckdns when connected to my wifi.

I followed all the steps by the book and I couldn't make the nginx SSL proxy work. The page

[2020-09-16 13:36] Vaarlion commented on #39843
Weird, it look like it "crash" after trying to get currentsong ...
I didn't touch that part but i haven't tester my change since they where merged.
When i'll have a couple of sec, I'll try to add test the dev version of the integration to see :)

[2020-09-16 13:51] cibernox commented on #40137
Something that I've noticed is that the first time I ran the nginx server after installing it (but after having configured it properly) I saw some log about "Generating snakeoil certificate". I didn't now what that was about, because certificates should have been (and were indeed generated) generated by the duckdns addon.

Perhaps that's a lead?

[2020-09-16 13:56] balloob commented on #38156
Solution: invest in devices that work with a local API 👍

[2020-09-16 13:58] #40136 closed

[2020-09-16 14:01] mckochan commented on #39924
Thanks for the reply and your work on this!
Here is a public puppy cam in the config below (not sure if they have a still image so I left that out, but the still image crop is working for my internal cams). If the crop works for you then its on my end and let me know which logs would be best.

`  - platform: mjpeg
    name: demo
    mjpeg_url: http://cbwdenverse.dyndns.org/mjpg/INPY1/video.mjpg

[2020-09-16 14:23] bdraco commented on #40134
Can you try the beta version which uses the websocket instead here https://github.com/shbatm/hacs-isy994 ?

[2020-09-16 14:25] bdraco commented on #40115
Support for reading the legacy storage was kept for a few versions and removed in 0.114
https://www.home-assistant.io/blog/2020/08/12/release-114/#breaking-changes

Your best bet is to downgrade to 0.113 or copy logbook from 0.113 and use it as a custom
component on 0.114.

[2020-09-16 14:26] #40135 closed

[2020-09-16 14:30] jgrenard commented on #38822
Has anyone had any luck with getting this working again?

[2020-09-16 14:43] djtimca commented on #40111
Here are the additional log details:

[code]

[2020-09-16 14:50] Torrer93 commented on #36715
Just had the exact same issue with 2FA configured for the default admin group. Thanks for the explanation here!

[2020-09-16 14:53] behtjes commented on #28891
I've got the same problem using the native home assistant ps4 plugin:

It does work the first time, but stoppes working after...

`2020-09-16 16:51:59 DEBUG (MainThread) [pyps4_2ndscreen.ddp] Status: {'status_code': 200, 'status': 'Ok', 'host-id': 'F8461C076225', 'host-type': 'PS4', 'host-name': 'PS4-689', 'host-request-port': '997', 'device-discovery-protocol-version': '00020020', 'system-version

[2020-09-16 15:18] muniter opened #40145 "Unifi Integration Unexpected error 502 Disconnects indefinetly"
## The problem

The Unifi integration, disconnects after a day or so, and stays as so until Home Assistant is restarted.

Picture of many of my wifi devices, which are working perfectly, but Unifi reports them as Unavailable.
![image](https://user-images.githubusercontent.com/9699804/93357260-b7c6b780-f805-11ea-9693-be5e3769c19f.png)

## Environment

- Home Assistant Core release with the issue: 0

[2020-09-16 15:26] sysoppl commented on #40023
[home-assistant.log](https://github.com/home-assistant/core/files/5233126/home-assistant.log)

I removed some personal information

[2020-09-16 15:29] derekatkins commented on #40134
@bdraco can I install it directly from the custom_component folder there?  Or *must* I install it via HACS?  (I do not have HACS configured, but I can easily drop a new tree into /config/custom_components)

[2020-09-16 15:31] bdraco commented on #40134
You can clone the repo and install this directory https://github.com/shbatm/hacs-isy994/tree/master/custom_components/isy994 at `/config/custom_components/isy994` and restart without HACS.

[2020-09-16 15:33] derekatkins commented on #40134
Thanks.  a "yes" would have sufficed :)  Give me about 60 seconds to copy the data over (I had already cloned) and restart HA.  I have not, yet, restarted the ISY, so it'll be a good test.

[2020-09-16 15:37] derekatkins commented on #40134
Well... I get an "Invalid config" error, telling me the isy994 integration could not be set up.  (I had it set up via the Integration UI)

[2020-09-16 15:40] bdraco commented on #40134
Can you paste the exact error?

[2020-09-16 15:45] derekatkins commented on #40134
2020-09-16 11:35:54 ERROR (MainThread) [homeassistant.setup] Setup failed for isy994: Unable to import component: cannot import name 'PERCENTAGE' from 'homeassistant.const' (/usr/src/homeassistant/homeassistant/const.py)

[2020-09-16 15:46] derekatkins commented on #40134
I just verified that I am on 0.114.4

[2020-09-16 15:50] flyize opened #40146 "Ecobee integration not setting fan_min_on_time when creating a new vacation schedule"
## The problem

I am trying to create a vacation schedule with Development Tools using the Ecobee integration.  When I set it, everything works properly, except that fan_min_on_time is ignored and always set to 0.

To test, here are my Development Tools Service settings:

Service: ecobee.create_vacation
YAML:
[code]

## Environment

- Home Assistant Core release with the issue: 0.114.4
- Last work

[2020-09-16 15:50] webdjoe commented on #40111
Sorry I’ve been too busy to maintain this project lately. That log item
means that the response from the VeSync server is missing some expected
entries. It’s possible that the VeSync server does not include dictionary
items in the response that have a zero value

On Wed, Sep 16, 2020 at 10:44 AM djtimca <notifications@github.com> wrote:

[2020-09-16 15:51] bdraco commented on #40134
`UNIT_PERCENTAGE` was changed to `PERCENTAGE` in 0.115

0.115 is being released tomorrow (or the beta is available now) so it should work with this version.

[2020-09-16 15:54] derekatkins commented on #40134
Can I just change PERCENTAGE back to UNIT_PERCENTAGE for now in the two locations in const.py to test it out?

[2020-09-16 15:56] electron64 commented on #38822
I also gave up on this integration since update to Tf2.
It does not detect efficiently..
I use Doods now and it works perfectly.

[2020-09-16 15:58] derekatkins commented on #40134
Unfortunately when I do that I get yet another error:
2020-09-16 11:56:54 ERROR (MainThread) [homeassistant.setup] Setup failed for isy994: Unable to import component: cannot import name 'async_get_platforms' from 'homeassistant.helpers.entity_platform' (/usr/src/homeassistant/homeassistant/helpers/entity_platform.py)

[2020-09-16 16:05] bdraco commented on #40134
I think you will need 0.115 because of the other changes.

[2020-09-16 16:08] derekatkins commented on #40134
I suppose I can just wait until tomorrow, then..  Not sure how to pull the beta or pull the release early (and not sure I *want* to be early).  What other breaking changes are there between 114 and 115? ;)

[2020-09-16 16:14] bdraco commented on #40134
https://github.com/home-assistant/core/releases
https://rc.home-assistant.io/blog/2020/09/07/release-115/

On the supervisor tab (/hassio/system), you can join the beta channel

[2020-09-16 16:16] derekatkins commented on #40134
Can I unjoin the beta channel later?  :)

[2020-09-16 16:17] bdraco commented on #40134
Yes :)

[2020-09-16 16:17] mwunderling commented on #40122
@meichthys thanks for the follow up. Am not yet sure this is a boot order issue....though it may be.  I use Docker compose to spin up the containers. HA, Nextcloud, and Traefik2 are all controlled by the same compose file. I'll add a `depends_on` to HA for Nextcloud.

But, in general, I am not starting all three at the same time. More typical, Traefik & Nextcloud are already up and running (usuall

[2020-09-16 16:27] derekatkins commented on #40134
Haha.  after joining it changed the button to "leave beta channel".  How.... convenient.

Give me a few minutes to upgrade and re-test.

[2020-09-16 16:36] derekatkins commented on #40134
Okay, upgraded.  Using the custom component.  Still seeing the error:

[code]

[2020-09-16 16:39] mcdull commented on #40077
Log Details (ERROR)
Logger: homeassistant.config_entries
Source: components/broadlink/updater.py:29
First occurred: September 16, 2020, 1:27:27 AM (1 occurrences)
Last logged: September 16, 2020, 1:27:27 AM

Error setting up entry MP1 for broadlink
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/config_entries.py", line 228, in async_setup
    result = await compone

[2020-09-16 16:43] bdraco commented on #40134
It looks like the isy is actually sending invalid utf-8 data since the problem is still happening in a different place. If you haven't inputted invalid utf-8 data in the name of a device, this seems like a bug in the isy itself.

[2020-09-16 16:46] mcdull commented on #40077
I tried pip install the broadlink, but ends with error. Do you mean ssh to hassio virtual env or the host?
hassio virtual seems cannot install with lots of dependency not found.

[2020-09-16 16:48] VerifiedGruber commented on #35572
Agreed, also, another problem with this documentation regarding a similar problem to this issue is the fact that when you set your zone variable, it is unclear if they are referring to your base domain (such as `example.com`) or Cloudflare's Zone ID variable (which is a string unrelated to `example.com`), which one is correct?

[2020-09-16 16:49] derekatkins commented on #40134
Nope, I haven't touched the ISY.

I think it's somewhat "bogus" data from one of my z-wave devices.  Short of restarting the ISY (whch I am pretty sure will clear this up) -- what's the best way to pull the data from the ISY to see what the bogus data is?  And maybe we can code around it so it doesn't crash the thread on bogus data?   There is no guarantee that whatever input this data into the IS

[2020-09-16 16:50] xekil commented on #26929
Same problem, not working SmartLife platform

[2020-09-16 16:56] noppel commented on #39971
## The problem

## Environment

- Home Assistant Core release with the issue: 0.114.0
- Last working Home Assistant Core release (if known): unknown
- Operating environment (OS/Container/Supervised/Core): fedora/native install (no virtualization)
- Integration causing this issue: homematic
- Link to integration documentation on our website: https://www.home-assistant.io/integrations/homematic/

##

[2020-09-16 16:57] mwunderling commented on #40122
Follow up on my last comment. 1) restarted HA from within HA 2) Restarted HA from docker compose file with `depends_on flag added...
![nc2](https://user-images.githubusercontent.com/22336325/93368411-d24b6180-f802-11ea-92bf-c2013d71fb7e.png)

Looks to be same error msg again...
![chrome_b1QpQIYn3Z](https://user-images.githubusercontent.com/22336325/93368579-06268700-f803-11ea-8b04-60531d3469fd.png

[2020-09-16 17:00] bdraco commented on #40134
If you login to the web UI you should be able to see the REST calls in the network tab.

This one is probably the most useful:  http://xxx.xxx.xxx/rest/nodes/

https://www.universal-devices.com/docs/production/The+ISY994+Developer+Cookbook.pdf

[2020-09-16 17:06] derekatkins commented on #40134
Is /rest/nodes what is being parsed when this error occurs?  Or is it some specific node?  And how do we determine that?

[2020-09-16 17:07] jhartling commented on #29382
I'm running in to this issue as well while making a fetch request to `/api/history`.

I've configured `cors_allowed_origins`, and other actions such as `/api/`, `/api/config`, and `/api/discovery_info` work successfully.

It's specifically the `/api/history` action that's failing CORS due to no `Access-Control-Allow-Origin` header.

[2020-09-16 17:11] bdraco commented on #40134
I'm not in front of the code right now but I believe that is what is being parsed

[2020-09-16 17:15] felipediel commented on #40077
Use your desktop for this. Just make sure it is connected to the local
network.

Em qua, 16 de set de 2020 13:46, mcdull <notifications@github.com> escreveu:

[2020-09-16 17:18] derekatkins commented on #40134
I'm pulling down `/rest/nodes` and getting a large XML document back, but running:
`od -t x1 | grep b5` on the xml returns no results.  There is is no 0xb5 in the output from `/rest/nodes` -- so it's got to be somewhere else.

As I said, I'm fairly confident restarting the ISY will make this issue go away, but I'd rather HA not crash on invalid data!  :)  And if I can find where the invalid data *

[2020-09-16 17:20] derekatkins commented on #40134
I can tell you the pyisy/isy.py line number (line 135) in the report doesn't match the line number in master in the pyisy github repo.  :(

[2020-09-16 17:21] meichthys commented on #40122
Ok, If the docker-compose order doesn't help, let me know and i can take a closer look.  I thought things were fixed for me once i moved NGINX outside of HA, but it could just be a coincidence that i haven't had the nextcloud instance disconnect again.

[2020-09-16 17:25] bdraco commented on #40134
If you download the xml document and throw it though a utf-8 decode you should be able to find the invalid utf-8 data.

[2020-09-16 17:28] derekatkins commented on #40134
It's not nodes.  It's gotta be something else.

[2020-09-16 17:35] andynbaker opened #40148 "Google Cloud TTS integration failing to load in 0.115"
## The problem

I've used the Google Could TTS integration for all my TTS needs for a few months now without issue. I recently switched to 0.115 beta and did not notice any issues with this integration (that I recall). However, the integration now fails to load at startup, each time reporting the same error in the logs. The google_cloud_say service also fails, even though I can reach my google hom

[2020-09-16 17:39] derekatkins commented on #40134
What would this give me as a URL string?
`req_url = self.compile_url([URL_NODES], {URL_MEMBERS: XML_FALSE})`
When I request `/rest/nodes` I don't see an error, but I'm leaving out the `members` part.
I suspect it might be from the `URL_MEMBERS` part, maybe?
I tried `/rest/nodes?members=false` and still don't see a 'b5' byte in there.

[2020-09-16 17:44] andynbaker commented on #40148
I just pulled down 0.115b1 and do not see the issue anymore. Just tested with a service call to be sure and can in fact cast a google cloud tts call to my google home minis. So i know for sure the issue was not in 0.115b1.

[2020-09-16 17:53] Nemesis24 commented on #40088
https://community.home-assistant.io/t/have-to-re-login-hangouts-ever-reboot-restart/225615/5

[2020-09-16 18:04] derekatkins commented on #40134
I'm happy to email you the result of `curl -u username:password 'http://isy/rest/nodes` so you can see for yourself (I don't think I want to post it here).  I've downloaded it multiple ways, and don't see a non-UTF8 character in there.  So this 0xb5 must be coming from somewhere else.  must be.  Any suggestions for added debugging to know what URL is being parsed when the error occurs?

[2020-09-16 18:16] daconrad0 opened #40149 "Fireplace with Bond does not work properly"
## The problem

I have set up a fireplace with Bond.  It works find when I use the Bond Application.  But when the integration to HA is used it does not function properly.  The fireplace will not turn off.

## Environment

![A39F8AB6-E62C-43BA-82F2-915321DBDFB1](https://user-images.githubusercontent.com/48894833/93375969-f0c35400-f826-11ea-8227-6b72ec3e599d.png)

- Home Assistant Core release with

[2020-09-16 18:17] #40125 closed

[2020-09-16 18:17] daconrad0 commented on #40125
Created a new issue

[2020-09-16 18:36] hunterjm commented on #38506
The RTSP transport option is for setting the configuration of the `stream` component: https://github.com/home-assistant/core/blob/dev/homeassistant/components/onvif/camera.py#L81-L83

You would use the "Extra FFMPEG Arguments" option to set `-rtsp_transport tcp` to be passed in as part of the input for `haffmpeg`... along with any other arguments. These are camera specific, since each ONVIF integr

[2020-09-16 18:37] hunterjm commented on #38506
The docs should probably be updated to reflect the purpose of "RTSP transport mechanism" properly. https://www.home-assistant.io/integrations/onvif/#extra-configuration-of-the-integration

[2020-09-16 18:47] scop opened #40150 "telegram/telegram_bot test dependency problem, tox vs CI not in sync"
## The problem

[code]

Local tox tests fail currently as in above, I believe because the telegram_bot dependencies which are indirect dependencies for telegram tests do not get installed; there are no tests for telegram_bot so the deps don't end up in requirements_test_all.txt

GH CI is not affected, I think because it installs requirements_all.txt and requirements_test.txt whereas tox installs r

[2020-09-16 18:49] tkmark commented on #40023
I have similar issues while running 0.144.4, mine is led color stripe(S1) with firmware 2.0.6_0009 and my light is nvever go back online after I restart my HA. following are my logs:

Logger: homeassistant
Source: components/yeelight/__init__.py:320
First occurred: 上午2:26:40 (6 occurrences)
Last logged: 上午2:37:10

Error doing job: Future exception was never retrieved
Traceback (most recent call la