[2020-11-02 11:35] #42515 closed

[2020-11-02 11:37] andrewjswan commented on #42548
When i try add Gree AC (C&H) i get - Not found and in log only:
`2020-10-31 13:51:10 INFO (SyncWorker_33) [homeassistant.util.package] Attempting install of \greeclimate==0.9.2
2020-10-31 13:51:28 INFO (MainThread) [greeclimate.discovery] Starting Gree device discovery process
2020-10-31 13:51:29 DEBUG (MainThread) [greeclimate.network] Listening for devices on 192.168.0.1`

HA in 192.168.0.1/24
A

[2020-11-02 11:59] frenck commented on #42713
You are pointing to a community guide, that is not a supported method. We do not control your operating system and cannot take any responsibility for your jailing.

[2020-11-02 12:09] nefh commented on #42713
One of the guides is community guide and the other is official one. All points from official one are fullfilled. The jail itself should not be a problem - I have the same jail setup with homebridge standalone and there zeroconf in python it is working fine.

I only want to clarify what is the issue here, get some notes how to troubleshoot the problem further.
If I find solution, I will add this in

[2020-11-02 12:24] bouwew commented on #42725
I'm seeing some errors in the code, in sensor.py:
[code]
"Consumed" in the names should be "Produced".
Sorry about that.

[2020-11-02 12:52] bobsoppe commented on #42157
Just getting back to this. I haven't had this issue since my post. But I see a lot of other people are having issues, so I'll let this issue open. So you know ☺️

[2020-11-02 12:54] SweVictor commented on #41478
Just to report back - I opted for the remove Vera integration => re-add as well. Most entities were created with the old (initial) ID, so all in all the process was reasonably painless.

[2020-11-02 13:03] doubleopinter commented on #42563
The integration has completely stopped working now for some reason. I’ve lost all my bulbs and I don’t have the option to “reload” anymore :(

[2020-11-02 13:06] mikilbc commented on #42682
0.117.2 fixed the issue

[2020-11-02 13:06] #42682 closed

[2020-11-02 13:07] massimobeccari opened #42751 "weather Netatmo .I cannot integrate in HA core 117.0 weather station netatmo , i see Welcome camera by configuration yaml and thermostate station by cloud , more time I have configurated my two stations but they are not visible by intgration ."
## The problem

## Environment

- Home Assistant Core release with the issue:
- Last working Home Assistant Core release (if known):
- Operating environment (OS/Container/Supervised/Core):
- Integration causing this issue:
- Link to integration documentation on our website:

## Problem-relevant `configuration.yaml`

[code]

## Traceback/Error logs

[code]

## Additional information

[2020-11-02 13:07] cmroche commented on #42548
@andrewjswan Please report the problem in a a new issue and ping me into the thread so I see it. I'll explain what you'll need to do to resolve this over there. Thank you for helping to keep the issue tracking well organized.

[2020-11-02 13:13] McGiverGim opened #42752 "Home Assistant Memory Leak"
## The problem
EDIT: I edited this to remove the ONVIF integration as suspicious of the problem.

There is some memory leak ~~in ONVIF, as stated here: https://github.com/home-assistant/core/issues/42390~~
~~It was fixed in theory in 0.117.2 but it seems at least in my case this is wrong. I was asked to open a new issue, so this is.~~

~~Several hours after removing ONVIF seems it does not fix the

[2020-11-02 13:17] frenck commented on #42751
Hi there @massimobeccari!

Thanks for opening up an issue. However, your issue title seems long, while the issue description is completely empty.

Could you please make your title shorter/to the point and use the issue description to provide a detailed description of your issue?

Thanks! 👍

[2020-11-02 13:29] Quentame commented on #40209
Hi @ThomasPrior & @stkiller,
Is 0.107.1 solves the issue on your side ?

On #42493 there is complain about authentication.
Do you also experience that ?

Thanks.

[2020-11-02 13:30] colinodell commented on #42732
Can you confirm whether you have a valid SSL certificate on port 69 of your QNAP device?

[2020-11-02 13:32] Quentame commented on #42649
Closing as duplicates #42493

Comment there if you want to add more details.

Thanks.

[2020-11-02 13:32] #42649 closed

[2020-11-02 13:51] frenck commented on #42713
The linked python-zeroconf issue, has been fixed upstream and released and is already in Home Assistant, thus not part of the issue.

The official guide on setting up a venv, does not describe setting up a jail, networking or any other network related things. Configuring your network correctly is not a scope we can do anything about, but part of your responsibility.

Nevertheless, I do agree, this

[2020-11-02 13:56] danastasio commented on #42588
@hunterjm, I am re-opening this issue. I put my Xbox in "Instant On" mode and this worked great for a day or two, but now I'm getting the same error message again even with the Xbox in the correct mode. I don't ALWAYS get the error, sometimes nothing at all happens.

[2020-11-02 13:57] vangorra commented on #39003
I'm testing some fixes. One of which is where withings changed the refresh token parameters.

[2020-11-02 13:58] Quentame commented on #42493
Hi guys!

Nothing was made for this issue on 0.117.X

I'll check that in the next few days.

Also @mib1185, did you reproduce that ?
@oncleben31 told me it was when he activates 2SA on his account, before it was on the group.

Sorry for the delay.

[2020-11-02 13:59] balloob commented on #42709
Color wheel has never been supported.

[2020-11-02 13:59] #42709 closed

[2020-11-02 14:01] nefh commented on #42713
Ok, clear. I'll investigate this issue further, if I came to something, I will share notes here. Please keep this thread open, if possible. Maybe someone else will also share their inputs. Thanks!

[2020-11-02 14:01] Quentame commented on #38695
Yep, please create a new issue.
Thanks

[2020-11-02 14:05] Quentame commented on #42555
:eyes: :heart_eyes:

[2020-11-02 14:07] doubleopinter commented on #42563
Should I switch over to an rpi or something? I wonder what it could be with the vm.

[2020-11-02 14:15] hunterjm commented on #42752
@McGiverGim - can you set log level to debug for ONVIF and include the resulting log here after you notice memory utilization rise again?

[2020-11-02 14:16] hunterjm commented on #42588
Please verify that the same behavior does **not** occur when using the official Xbox app on your phone.

[2020-11-02 14:16] magiva opened #42754 "Rocket launch_library requires update to new api"
## The problem

## Environment

- Home Assistant Core release with the issue:
- Last working Home Assistant Core release (if known):
- Operating environment (OS/Container/Supervised/Core):
- Integration causing this issue:
- Link to integration documentation on our website:

## Problem-relevant `configuration.yaml`

[code]

## Traceback/Error logs

[code]

## Additional information

[2020-11-02 14:28] noxhirsch commented on #42483
@jo-me You're right... removing that part and reloading the frontend brings back the calendar for me.
But reboot doesn't seem to be the problem in my case - it mostly happens over night without any reboots.

[2020-11-02 14:37] mvieleers commented on #42725
Thanks, but that does not seem to relate to the issue that consumed_off_peak_point and consumed_peak_point display the same consumption.
I have checked today, during peak time on a workday and it seems to show the consumed_peak_point correctly, while consumed_off_peak_point is 0 at the moment.

My screenshots come from the weekend. During the weekend, there should only be a consumed_off_peak_point

[2020-11-02 14:38] noxhirsch commented on #42483
Quick and dirty workaround - run this shell_command once in a while (it removes the trailing stuff):
[code]

[2020-11-02 14:40] raman325 commented on #31642
We will keep this open until someone confirms the issue is resolved

[2020-11-02 14:42] mvieleers commented on #42725
The numbers for produced_peak_point, product_off_peak_point, produced_peak_int and produced_off_peak_int all show 0 as a value. I guess this does have to do with the issue you found in the code, but please also check the int. numbers as well, as they show 0 like the point numbers.

[2020-11-02 14:43] McGiverGim commented on #42752
@hunterjm I will do, it seemed with my tests that it was the ONVIF integration, but now I'm not sure. I will confirm it and post the logs...

[2020-11-02 14:49] sbruggeman commented on #42496
I noticed other iOS apps reporting the same incorrect geolocation, this bug is definitely not homeassistant related. Closing this bug.

[2020-11-02 14:49] #42496 closed

[2020-11-02 15:27] elupus commented on #42695
@pergolafabio like I've said before. nothing in your log says google tries again. Your logs clearly say that google tried once only. So seems like a problem internal to HA.

[2020-11-02 15:42] bouwew commented on #42725
If you are interested, you can test with plugwise-beta: https://github.com/plugwise/plugwise-beta

You can nowadays switch seamless between the Core plugwise component and the plugwise-beta custom_component: when you uninstall the custom_component and don't remove the Plugwise Integration(s), after a restart the Core plugwise component will be automatically loaded.

[2020-11-02 15:43] pergolafabio commented on #42695
Ok, how to investigate this ?

[2020-11-02 15:55] dermotduffy commented on #41892
For case #3, there just aren't great options, nor is the problem avoidable without more complex arrangements (like the  switches idea). So, I think, based on this thread I'll stick with the priority mode as implemented, but perhaps rename the option to "off mode" (absolute vs priority), to allow for  different "on modes" later if someone wants them.

Thanks for the feedback, all. Unless there are

[2020-11-02 15:56] tinuva commented on #42555
ok so took me a while to figure out how to get this installed into my "unsupported" supervised install but got it I think.

`2020-11-02 17:35:13 DEBUG (MainThread) [homeassistant.components.synology_dsm.config_flow] async_step_ssdp - discovery_info: {'ssdp_location': 'http://192.168.241.10:5000/ssdp/desc-DSM-eth0.xml', 'ssdp_st': 'upnp:rootdevice', 'deviceType': 'urn:schemas-upnp-org:device:Basic:

[2020-11-02 16:04] tinuva commented on #42555
Is it possible its still there from a previous discovery stuck in my integrations page?

[2020-11-02 16:15] elupus commented on #42695
Can you create a minimal separate complete configuration? without secrets. Perhaps with only templates and helper entities?

[2020-11-02 16:22] JorSjo commented on #42140
@minitux I downloaded your fix and can verify that it solves my issue. Thank you!
It works on 0.117.2 with your fix as custom component.

[2020-11-02 16:23] sagitt commented on #42541
Ok, it's very funny.

Before the night, energy meter works, on morning i update from 0.116 to 0.117 and my energy sensors not works.
During night, my energy meter stop working... works physically on the display but won't work on knx communication.

changed it and now works.

Gewiss GWD6801... use IRDA for comunication with KNX interface.

Anyway i having lot's of issue with my KNX setup with disco

[2020-11-02 16:23] #42541 closed

[2020-11-02 16:27] pergolafabio commented on #42695
What are helper entities? :-)

[2020-11-02 16:27] Qinusty commented on #42740
:tada: Thank you, the issue was indeed the lack of host networking on my HA setup :+1:

[2020-11-02 16:27] #42740 closed

[2020-11-02 16:33] anthonycvella commented on #42157
@bdraco Sorry what did you mean by the "Discovery" app? I was referring to the bridge not responding in my Home app.

I do not have the `Discovery` integration configured in my `configuration.yaml` file.

[2020-11-02 16:35] Holland1 commented on #42238
@farmio

Still running smoothly after running for 16 hours, no disconnects so far. It looks very promising.

About these KNX did not respond in 1 sec errors, see link below.

https://pastebin.com/cngCeADz

Are these errors maybe related to the local time differences between KNX IP gateway and the xknx system?

For example, GA 3/2/0 is read on the xknx system @ 17:26:09, while ETS answers @ 17:26:1

[2020-11-02 16:35] andrewjswan opened #42758 "Gree integration - AC not found"
## The problem
Gree integration - AC not found

## Environment

- Home Assistant Core release with the issue: 0.117, 0117.1
- Last working Home Assistant Core release (if known): -
- Operating environment (OS/Container/Supervised/Core): OS
- Integration causing this issue: Gree A/C
- Link to integration documentation on our website: https://www.home-assistant.io/integrations/gree/

## Problem-rele

[2020-11-02 16:35] andrewjswan commented on #42758
Ping @cmroche :)

[2020-11-02 16:38] bdraco commented on #42157
Can you check to see if the bridge is still showing up in the Discovery app: https://apps.apple.com/us/app/discovery-dns-sd-browser/id1381004916?mt=12

[2020-11-02 16:40] wasp100 commented on #41898
@bdraco Hi, I’ve been trying out some settings in Homebridge, and it seems that if I limit the `maxBitrate` to say 300, it helps in getting the livestream working.

https://github.com/Sunoo/homebridge-camera-ffmpeg

`maxBitrate` is defined as the maximum bitrate used for video streamed to HomeKit, in kbit/s. If not set, will use any bitrate HomeKit requests.

Would it be possible to add a `max_bit

[2020-11-02 16:46] elupus commented on #42695
Templates, input_number, input_switch components. Stuff that doesn't work against real devices.

[2020-11-02 16:48] anthonycvella commented on #42157
Yup I see it in the app.
<img width="441" alt="Screen Shot 2020-11-02 at 8 47 56 AM" src="https://user-images.githubusercontent.com/1729973/97895083-28f3f880-1ce8-11eb-865d-da2a53709638.png">

[2020-11-02 16:57] pergolafabio commented on #42695
Ok, allthough i don't know how te reproduce, I tried yesterday with a template switch , and a script with the ON service todo a toggle, but it only triggered once...

Im going to turn on debug on the remote, to see it actually fires two times.... I was wrong indeed with the log files before...

[2020-11-02 16:58] hunterjm commented on #42752
It's possible that it is unrelated to ONVIF. I told this person (who doesn't use ONVIF) to open an issue here, but they opted not to: https://community.home-assistant.io/t/0-117-0-continual-memory-increase/240665/15

[2020-11-02 17:07] hunterjm commented on #42743
Please open the home assistant log and provide the full stack trace. `urn` stands for "Universal Resource Name", and is not a typo. URN and URL are different. It's possible your camera is returning a `urn` instead of a URL for one of the requests, but I need the full stack trace to see where it's happening.

[2020-11-02 17:09] hunterjm commented on #42741
Thanks, this will need to be fixed in the parent library.

[2020-11-02 17:16] bdraco commented on #42157
At this point, let's wait for the 2 changes to `HAP-python` that I have in my integration branch https://github.com/bdraco/HAP-python/tree/integration as see if its any better.

Would you please leave debug logging on for `pyhap` and report any interesting messages that happen when it goes no response.

[2020-11-02 17:16] hunterjm commented on #42692
There is nothing in the integration that artificially limits the paths that can be iterated. It may be limited on the frontend to stop your browser from freezing up trying to render all of the items. At some point, pagination and search will need to be implemented to solve for this.

[2020-11-02 17:16] Gawronnek commented on #42749
I cleaned up in configuration.yaml and the problem disappeared, my fault I did not take into account the changes in subsequent updates

[2020-11-02 17:16] #42749 closed

[2020-11-02 17:23] bachya commented on #42739
Thanks for the report, @alandtse. Can you confirm whether, after you first add the integration, the alarm control panel entity exists (and has a state that's not `unavailable`)? With your system ("Standard Monitoring to see status on a v1 Simplisafe system"), I would expect you to see that, even if you can't see the sensors.

[2020-11-02 17:31] hunterjm commented on #42011
This is two issues in one. For the first, "event capabilities" comes directly from your camera, so it is advertising that it does not support pull point subscriptions even though it does. A workaround was released for this in 0.117.

The second is something we can look into. @uvjustin - have you already researched this specific error?

[2020-11-02 17:33] cmroche commented on #42758
Thanks @andrewjswan for the follow up.

FYI, the discovery protocol as designed by Gree, to support the Gree+ app works only on local subnets. It's based off UDP Broadcast to locate and received responses, this however has the consequence that you cannot generally find devices not located on the same subnet as the Home Assistant setup.

Even if we were to provide the ability to configure a direct

[2020-11-02 17:39] D33M commented on #42011
I can confirm, after updating to 0.117 it does detect motion correctly, so the first part can be deemed as resolved.

I can provide more details if you need them. I do believe it happened after the 0.117 update too - for a short period of time HASS was very slow to respond and so was the camera. I restarted everything and now it seems working fine (unfortunately, I do not have any logs from this o

[2020-11-02 17:48] ttaidapos opened #42761 "August Lock 3rd Gen not reporting status using Core Integration"
## Environment
- Home Assistant Core release with the issue:  117.1
- Last working Home Assistant Core release (if known):  N/A (Started using this integration instead of zwave since 116, always had this issue.
- Operating environment (OS/Container/Supervised/Core):  venv
- Integration causing this issue: august (August Lock 3rd Gen)
- Link to integration documentation on our website: https://gith

[2020-11-02 17:51] McGiverGim commented on #42752
Several hours after removing ONVIF seems it does not fix the issue, so is clear that in my case the leak is at another place.

I have returned to 0.116.4, if not each 8 hours my system crash by the memory leak. But if I need to do some test I can install version 0.117.x again.

Is better that I rename this issue or that I open another? But without any suspicious log it will be difficult to find.

[2020-11-02 17:55] Geoff571 commented on #26446
Same on 0.117.2

[2020-11-02 18:04] JeeCee1 opened #42762 "Supervisor watchdog causes restart when using "stop" function (either GUI or SSH)"
## The problem

See the title. I submitted it as a core issue since the way I see it supervisor is doing it's job, it's core which is misbehaving by not performing the stop function correctly. I do admit I have no knowledge of the inner workings so if it is a supervisor issue, please let me know and I'll open it there.

## Environment

Supervisor 2020.10.1
HassOS 4.15
0.117.2 stable.

- Home Assis

[2020-11-02 18:08] ludeeus commented on #42754
I did that yesterday @probot-home-assistant, but thanks!

[2020-11-02 18:10] ludeeus commented on #42762
That is expected, it should never stop, see the relevant frontend bug <https://github.com/home-assistant/frontend/issues/6609>

[2020-11-02 18:10] #42762 closed

[2020-11-02 18:16] pawlizio commented on #41352
That's why I changed to velux component using Velux KLF200 gateway to control all my io-homecontrol devices (all of them are from Somfy). Now I'm able to control them locally without relying on a cloud service. Another plus is the reaction time of control commands, they are now much quicker than via Somfy cloud.

[2020-11-02 18:18] slydiman commented on #42715
I think yes. I works at me just fine. But I'm not 100% sure about more complicated requests.

[2020-11-02 18:19] andrewjswan commented on #42758
Both subnets are connected, TCP/UDP requests go both ways, the only thing that most likely does not work is the multicast.

[code]

[2020-11-02 18:20] andrewjswan commented on #42758
Ewpe Smart Androin app work without problem to ...

[2020-11-02 18:25] slydiman commented on #42715
BTW, you can add this sample for DB size in case of MS SQL to the documentation.

SELECT TOP 1 SUM(m.size)*8/1024 as size FROM sys.master_files m INNER JOIN sys.databases d ON d.database_id=m.database_id WHERE d.name='DATABASENAME';

Cast to decimal by precision reason is optional.

[2020-11-02 18:27] dgomes commented on #42715
I invite you to contribute directly :) it's easy just follow the link https://github.com/home-assistant/home-assistant.github.io/tree/current/source/_integrations/sql.markdown

[2020-11-02 18:27] farmio commented on #42238
So are they in sync, or are they drifted 4 seconds? I don't think it really matters. xknx starts a timer for 1 second after scheduling the request. Local time isn't accounted anywhere here, but if the request is scheduled 4 seconds after it is received by ETS there is some kind of problem.

Can you enable debug logging for xknx again so we can see when the request goes out and if/when the response

[2020-11-02 18:46] cgtobi commented on #42692
@oywino are you using a media integration or actual local files of the machine HA is running on?

[2020-11-02 18:56] ygreq opened #42763 "ZHA with Sonoff ZB Bridge not working"
## The problem

## Environment

- Home Assistant Core release with the issue:  Home Assistant 0.117.2 but also 0.116.X (last version)
- Last working Home Assistant Core release (if known):  0.116.X (last version) was working. I did not update and it just stopped working. I do not know what changed.
- Operating environment (OS/Container/Supervised/Core): Container running on Proxmox
- Integration c

[2020-11-02 19:07] Kane610 commented on #42415
@onkelbeh I've shared the credentials with a HTTPx developer, can you keep the device available some more time?

[2020-11-02 19:18] pergolafabio commented on #42695
hi @elupus , how the hell can i debug the remote component? i want to actually see if the command is being send twice?
but i dont see any info , i have this now enabled in logger, but no info is coming?

[code]

[2020-11-02 19:24] canedje commented on #42721
I think it is not a tippical Foscam Issue

[2020-11-02 19:25] cmroche commented on #42758
Broadcast normally doesn't work, though the current setup may not be working with different subnets on the same ethernet broadcast domain. Though I am uncertain if this is your issue.

Could you please provide me with results from the following commands:

`route -n` may need sudo to run.

`ifconfig`

`ping -b 255.255.255.255` and `ping -b 192.168.10.255`

Thank you.

[2020-11-02 19:31] danastasio commented on #42588
the same behavior does NOT occur when using the official Xbox app on my phone. I am able to turn the xbox on and off without problem.

[2020-11-02 19:32] hefla commented on #42550
There is an error in the documentation so Camera API is not supported by the new API yet.

https://github.com/home-assistant/home-assistant.io/pull/15478

https://github.com/home-assistant/core/pull/42325

[2020-11-02 19:36] bdraco opened #42764 "Existing synology_dsm config entries cannot be setup."
## The problem

This was regressed in https://github.com/home-assistant/core/pull/42539

## Environment

- Home Assistant Core release with the issue: 0.118dev
- Last working Home Assistant Core release (if known):
- Operating environment (OS/Container/Supervised/Core):
- Integration causing this issue:
- Link to integration documentation on our website:

## Traceback/Error logs

[code]

## Additi

[2020-11-02 19:37] emontnemery commented on #42635
@bastshoes When enabling an entity, there's a 30s delay until it's enabled, perhaps that was the problem?
Anyhow, let's close this issue if it can't be reproduced.

[2020-11-02 19:37] #42635 closed

[2020-11-02 19:39] oywino commented on #42692
During installation of HA Core I have a mapping from _/media_ to a local folder where all my MP3 albums are stored.

[2020-11-02 19:41] javicalle commented on #42622
From your evidences, it seems like a problem with your RFLink gateway.
The software seems to work correctly (traces are OK), but for some reasonthe signals are not sent or received.
Usually the arduino board have a led that flashes when receiving signals (also when sending them). This would be a proof that the gateway is receiving signals but not sending them to HA.

IMO, this could be a hardware

[2020-11-02 19:43] Manuel-1982 opened #42766 "Homematic IP issues with FULL_FLUSH_CONTACT_INTERFACE_6, HOME_CONTROL_ACCESS_POINT and ACCESS_CONTROLLER_CHANNEL"
## The problem

I recognized three different errors i have regularly in the logs. Especially the first and the scond occurs thousands of times during a day. I have no idea what are the reason and what I should do. I looks for me like a general problem.

## Environment

- Home Assistant Core release with the issue: 0.117.2
- Last working Home Assistant Core release (if known): -
- Operating environ

[2020-11-02 19:46] pergolafabio commented on #42695
nevermind, i found it , its remote.harmony ... ok, i told google to "Hi Google, channel up"
you can clearly see in log, the script is fired twice, and also the remote is sending the command twice .....

#### Switch config

   harmony_channel_up:
     value_template: "false"
     turn_on:
       - service: script.harmony_channel_up
     turn_off:
       - service: script.harmony_channel_down

####

[2020-11-02 19:52] 9kon commented on #39378
I have been playing around with fiddler to see how the app authenticates and get the credentials.

The app makes a POST call to https://mykobold.eu.auth0.com/passwordless/start with a body that contains `{"client_id":"xxxxxx","email":"xx@xx.xx","connection":"email","send":"code"}`

This will make the server send the user a code to the email used.

When that code is entered the app makes another PO

[2020-11-02 19:54] brgerig opened #42767 "Error messages from Rest sensors in .117"
## The problem

After upgrading from .116.4 to .117.2, there are now errors in the logs every time one of my rest sensors polls:
`2020-11-02 14:06:44 ERROR (MainThread) [homeassistant] Error doing job: An open stream object is being garbage collected; call "stream.close()" explicitly.`
The sensors are still updated. Removing the rest sensors from the configuration and reloading causes the errors t

[2020-11-02 19:54] jhollowe commented on #42637
do you get a different error when `verify_ssl` is true?

[2020-11-02 19:58] emontnemery commented on #30618
@FransTwisk Can you please share the MQTT discovery message for your RGBWW light, as well as an example of:
- How you configure the light
- What is stored in the scene
- What HA sends to the light when you do scene.turn_on

[2020-11-02 20:22] Quentame commented on #42764
Whoops indeed, will fix

[2020-11-02 20:24] mib1185 commented on #42764
I`m already working on a fix, but cant assign the issue to me (_do not have the permissions_) 😉

[2020-11-02 20:25] nefh commented on #42713
I've got zeroconf working. It needs jail to use VNET. With virtual network stack no any additional configuration is needed, just plain:

[code]

The only question now is why homebridge standalone works without VNET and HA homebridge not.

[2020-11-02 20:33] FransTwisk commented on #30618
I have a bunch of different RGBWW/CW lights, all (now) running Tasmota 8.5.1. Home Assistant 0.117.2 with Mosquitto Broken installed via Supervisor. When saving a scene and reloading that scene all these lights get a different color then when the scene was saved. More blueish. All lights are configured with Home Assistant over MQTT and manual control works fine.

This is the state reported in Home

[2020-11-02 20:35] chbndrhnns commented on #38450
I am seeing a similar behavior for a HEOS cinema hs2 bar. The XML file mentioned above is not accessible on my network. I get a 403 from the webserver. The heos device is on firmware 1.583.145.

[2020-11-02 20:37] pergolafabio commented on #42695
i also tried without assumed state and without secrets, it stays the same

[2020-11-02 20:42] andrewjswan commented on #42758
route
[code]
ifconfig
[code]
ping -b not work due:
[code]

[2020-11-02 20:48] Gunth commented on #42752
Indeed not sure that the reason of this issue is causing by the onvif integration anymore, because on d'ont use it and i have the same kind of chart about the ram
![image](https://user-images.githubusercontent.com/1955976/97917513-de5c9580-1d54-11eb-9ce3-a9d746dc095c.png)
But not sure where to start to find the issue ...

[2020-11-02 20:48] BenFR23 commented on #42526
Hey!
Same issue there, it worked fine, and (don't ask me why) I deleted the somfy integration, I tried to add it again and got the same issue.
WARNING (MainThread) [homeassistant.components.somfy] Cannot update devices: 404

[2020-11-02 20:51] d-edge82 commented on #42493
Same issue here, Syn 920+

[2020-11-02 20:59] emontnemery commented on #30618
Yeah, the problem is exactly that one setting is overwriting another.
Just to be clear, can you explain what color the light is when you set it to what you want to store in the scene, and what color the light is when you run the scene?

It would be helpful if you can paste the actual discovery message, you can find it in HA UI: Configuration->Devices->(your RGBWW light)->MQTT Info

[2020-11-02 20:59] McGeaverBeaver commented on #42550
Sweet , hopefully updated soon and we can get the cameras back.. I removed my node red during all of this troubleshooting and I don't feel like putting it back, I can wait a few weeks :)

[2020-11-02 21:01] pergolafabio commented on #42695
did some more testing , if i change the script to something else, in thise case a helper (input boolean) , so i leave my config as it is, just change the script thats is fired the  boolean, is only toggled once, and i also see in log, it is only fired once ...

really strange ...
[code]

[2020-11-02 21:05] mib1185 commented on #42555
theese debug lines looks good and shows that code works as expected.
Therefore I´m looking forward if (hopefully not) your DSM is still re-discovered.

regards,
Michael

[2020-11-02 21:08] Holland1 commented on #42238
Have a look at the log https://pastebin.com/ggt3Kytm . Please jump to row 830. I switched off a light (1/1/1) from HA @ 21:30:43.
Screenshot below shows that the request is received in < 1 sec. @ 9:30:43.422

![lights off](https://user-images.githubusercontent.com/13700844/97917486-d3096a00-1d54-11eb-9a7c-1335e4700dbe.JPG)

Now for the xknx sync erros while starting HA. Please jump to row 123. A r

[2020-11-02 21:11] gvanlee commented on #42493
Same here. Integration fails in 0.117+ with 2FA enabled (works in 0.116).

Removing integration and re-adding does not solve the issue. Same error as mentioned earlier.

[2020-11-02 21:11] SAOPP commented on #42637
Hi, I will check it now... and let u know.

Default pve.

[2020-11-02 21:16] SAOPP commented on #42637
With `verify_ssl` is true I have an two error below:

[code]

[code]

[2020-11-02 21:20] mib1185 commented on #42493
Hi @Quentame ,

did not analysed the issue yet, but can try to reproduce it on my "lab" later ... will keep you all updated.

regards,
Michael

[2020-11-02 21:20] Santobert commented on #39378
@9kon Thank you. It's good to know whats happening there. The described procedure is more or less an OAuth flow. In fact it seems to be an OpenID Connect flow, which extends OAuth2. Even though I don't recognize the passwordless thing.

https://darutk.medium.com/the-simplest-guide-to-oauth-2-0-8c71bd9a15bb

Unfortunately we still need a `client_id`. Usually one can generate a `client_id` (and opti

[2020-11-02 21:21] Sholofly commented on #42483
Thanks!

[2020-11-02 21:23] mvieleers commented on #42725
Installed the beta custom component. Data at this point in time looks good (peak), but I need to review at different times as well as it's nighttime and therefor no production.
Will review at some different points in time (off_peak, peak with production, and then during the weekend, when there should only be off_peak). Will keep you posted.

[2020-11-02 21:24] GenericStudent commented on #42767
Any think [this line](https://github.com/home-assistant/core/blob/ebe3cbc0584d3030a2d65ef1d6ded515a471df74/homeassistant/components/rest/sensor.py#L258) should be `value = await ...`

Curious if you change the scan interval if its fine?

[2020-11-02 21:30] malkie-hass commented on #39378
@9kon could you read the client is clear text when the app sends the data?
If that would be the case can't we use that one? Of course everybody has to get his own.
Sorry, not good at this but willing to help :)
I'm more the network engineer

[2020-11-02 21:35] humanoidlux commented on #40595
Hi

I've a similar problem and maybe this will help you.
The dsmr component worked fine with 0.113 until I updated to 0.116 and now 0.117. The entities are no longer available. I've activity on port 2001 (tcpdump) and after some sec. the connection is closed.

![socat](https://user-images.githubusercontent.com/46635545/97920054-254c8a00-1d59-11eb-94c3-f5803157b371.PNG)

Now I'm using sensor.py  fr

[2020-11-02 21:56] Adminiuga commented on #42763
It can't connect to sonoff OSError: [Errno 113] Host is unreachable

[2020-11-02 21:56] mib1185 commented on #42493
analyse of code changes:

with following change by commit 7469bd92664c8c
[code]

the affective call to login API [(source)](https://github.com/ProtoThis/python-synology/blob/48e37ee6e61c80b2fe40d02e444606ef4d2bf123/src/synology_dsm/synology_dsm.py#L149-L152) was changed so far that `device_id` has been replaced by `otp_code`, because `entry.data.get("device_token")` is no longer provided during se

[2020-11-02 21:58] elupus commented on #42695
You cut the log there in the beginning. Are you sure there was nothing before that initial start of the script?

[2020-11-02 22:01] Santobert commented on #39378
https://github.com/nicoh88/node-kobold

The issue seems to be solved for the js library. I'll take a look at their solution soon.

[2020-11-02 22:09] FransTwisk commented on #30618
What I want:
[code]

What I get:
[code]

[2020-11-02 22:10] emontnemery commented on #30618
I did some more testing, and it seems clear it won't work with Tasmota when trying to storing the state of and RGBW or RGBWW light when set to a color.
The best option for now is to use `SetOption37 128` on the Tasmota, this will split the light to one RGB light + one CT light.
Another option is to use the Tasmota integration once #42772 is merged, but it's not yet supported by a stable Tasmota re

[2020-11-02 22:11] pergolafabio commented on #42695
Nope, nothing before

[2020-11-02 22:13] pmrosa commented on #41475
When you remove and make the integration again, all entities stay the same name?

[2020-11-02 22:13] emontnemery commented on #30618
@FransTwisk No, those are not what I want.
You find the discovery message in the HA UI:
HA UI: Configuration->Devices->(your RGBWW light)->MQTT Info
Screenshot:
![image](https://user-images.githubusercontent.com/14281572/97925067-08b45000-1d61-11eb-9ef6-c358eab69123.png)

[2020-11-02 22:14] emontnemery commented on #30618
Also, can you please describe in WORDS what color you want to set and what you get instead?

[2020-11-02 22:16] farmio commented on #42238
🤔 there are some
`[homeassistant.setup] Setup of domain ... took 1.0 seconds`
before 123. Does it happen when you don't load (disable) these too? If not then you are probably right.
Maybe it's even one specific domain blocking for a second or too at loading.

[2020-11-02 22:18] FransTwisk commented on #30618
Pardon me, I though you specifically meant the latest messages. So in this example I wanted the light to be full white, with 50% warmth in color temperature. So basically orange-white. When restoring the saved scene, it becomes very cold blueish-white.

MQTT Payload:
[code]

[2020-11-02 22:20] emontnemery commented on #30618
Thanks!
In addition to the HA representation of the light's state which you pasted earlier, can you please also paste the result of executing command `state` in Tasmota console when the light is as you want it and what you get?
For example:
[code]

[2020-11-02 22:20] elupus commented on #42695
Think you can give me a full debug log. With the default log level set to debug. Clean start and only one command issued via Google?

[2020-11-02 22:20] ASNNetworks commented on #30618
Is this thread only about Tasmota now? I mentioned some log somewhere above, but I don’t know if I need to create a separate thread or I’m still in the right one.

[2020-11-02 22:23] elupus commented on #42695
What i find weird is the order of events. It seems the script is triggered before the google action comes in.

You don't happen to have both local google assistant and nabucasa enabled do you? Or alexa for that matter.

[2020-11-02 22:23] FransTwisk commented on #30618
Tasmota state before scene:
[code]

Tasmota state after scene:
[code]

[2020-11-02 22:24] elupus commented on #42695
Wait, do you have local execution enabled for the google integration?

[2020-11-02 22:34] GenericStudent commented on #42767
Sorry, tried to replicate it but failed

[2020-11-02 22:37] emontnemery commented on #30618
@ASNNetworks Let's hold it a bit with the issue on zigbee2mqtt, I think there will need to be changes also in HomeAssistant core 😓

[2020-11-02 22:40] emontnemery commented on #30618
@FransTwisk Thanks a lot for the patience, it's clear why it's not working.
Your best option right now is to split the light in two by using `SetOption37 128` in Tasmota console.
After Tasmota has rebooted, your light should show up as one RGB light and one CT light.

[2020-11-02 22:42] FransTwisk commented on #30618
Thanks @emontnemery. I'm ok with waiting for Tasmota 9 and the direct integration with Home Assistant, assuming that will also fix these issues. Not sure if 2 lights is what I want :) Might play around with the prerelease as well.

[2020-11-02 22:44] emontnemery commented on #30618
Sure, the direct integration will work (once #42772 is merged, so earliest in 0.117.3)

[2020-11-02 22:47] ASNNetworks commented on #30618
strange how HA treats the same lights under zigbee2mqtt vs deCONZ (the same lights work there fine with restoring scenes). I'll hold off with a new ticket then. Is there anything else I can do right now?

[2020-11-02 22:49] Holland1 commented on #42238
Is there a logical explanation for the "Could not sync group address" errors? See also my post yesterday evening; https://github.com/home-assistant/core/issues/42238#issuecomment-720177940

[2020-11-02 22:53] emontnemery commented on #30618
@ASNNetworks Right, the problem is basically that Home Assistant expects the lights to be _either_ in white mode _or_ in color mode. However, there's no defined way to specify which mode the light is in using MQTT basic schema (used by Tasmota) or MQTT JSON schema (used by Zigbee2MQTT).

[2020-11-02 22:55] #42764 closed

[2020-11-02 22:57] thevoltagesource commented on #41674
I have a Lennox S30 thermostat that is connected to HA via the Homekit Controller. It is now that time of year in SE Texas where you need the heater one day and the air conditioner the next so I will look at [#25218](https://github.com/home-assistant/core/issues/25218) and see if I can get it working with my thermostat.  Previously I had the Lennox WiFi thermostat and I wrote the HA integration an

[2020-11-02 23:04] alandtse commented on #42739
I'm speaking from memory but the alarm control panel was unavailable per lovelace. I noticed the yellow placeholder in my UI and then removed and readded.

[2020-11-02 23:06] Ndrinta opened #42776 "AirVisual making too many requests."
## The problem
**Error while retrieving data: call_per_day_limit_reached**

## Environment

- Home Assistant Core release with the issue: First time noticed on 0.117.X
- Last working Home Assistant Core release (if known): Probably working on 0.116.X
- Operating environment (OS/Container/Supervised/Core): OS [VM]
- Integration causing this issue: AirVisual (API)
- Link to integration documentation

[2020-11-02 23:15] cmroche commented on #42758
@andrewjswan I've a change for you test, to see if this helps your situation. I'll need you to install it as a custom_component and restart HA to test, this will try to use a slightly different broadcast address.

Change are from here: https://github.com/cmroche/core/tree/gree-discovery-test-20201102/homeassistant/components/gree

This is a script you can paste (while in bash in your custom_compon

[2020-11-02 23:17] #41575 closed

[2020-11-02 23:17] #41646 closed

[2020-11-02 23:17] #41654 closed

[2020-11-02 23:17] #42140 closed

[2020-11-02 23:19] bachya commented on #42776
This issue report needs more information to be actionable – specifically:

- What do `DEBUG`-level logs for AirVisual say?
- How many instances of the AirVisual API are configured?
- How many calls does your AirVisual API dashboard show? How does that number increase in a 5-to-10-minute span?

[2020-11-02 23:20] #42493 closed

[2020-11-02 23:21] bverkron commented on #41674
I'd be interested in following whatever work you do so that maybe I could mirror it with my thermostat. Maybe there are enough similarities at least in the process of discovering what the thermostat provides or HA adaptations needed that I could get mine working.

[2020-11-02 23:23] kintaroju commented on #42493
Thanks all for looking into the issue, appreciate the efforts.

I'll report the results one 0.117.3 is released

[2020-11-02 23:23] mcarlson4 commented on #31642
@raman325 - Having this same issue, Still need someone to test with? Looks like you may have solved it and will be realized in .118? Let me know if you still need anything. Thank for your work on this!

[2020-11-02 23:25] farmio commented on #42238
Nope. `position_state_address` is DPT 5, that is correct.
You can try to change order of your configured covers etc. and see if it is still the Same GA, but I'd try to disable everything but knx and see if it still can't be read. Then one by one enable other domains.

It seems there is a delay between starting the timer and sending out the telegram. But I can't really say where this is introduced

[2020-11-02 23:26] bachya commented on #42739
Thanks, @alandtse. I didn't originally build the integration with a focus on the read-only SimpliSafe plan, so it's likely some logic is missing.

To get more info, could you please set up the following `logger` configuration:

[code]

Then, re-add the integration. Take a spin through the logs generated, remove any sensitive info, and paste that here.

[2020-11-02 23:29] Quentame commented on #42555
serialNumber == MAC ? 🤔

[2020-11-02 23:32] markcocker commented on #35196
I'm also seeing this issue and would prefer to use the UK Met Office for forecasts rather than Norwegian Meteorological Institute.

[2020-11-02 23:33] mib1185 commented on #42555
jepp ... this is what is provided in `discovery_info` when async_step_ssdp() is called.
I´m not sure, but guess that `discovery_info`is provided from zeroconf integration?!

[2020-11-02 23:36] Quentame commented on #42555
Yes, Oh yeah a serial for `zeroconf` might be its MAC ...

[2020-11-02 23:37] DanskerUS commented on #42631
My 117.1 installation did go to 40% used in 24 hrs. Not using Onvif.

[2020-11-02 23:37] pergolafabio commented on #42695
Yeah, the order is indeed strange, no , no local Google assistant or alexa, just nabucasa... This strange order is only happening for specific switches i exposed... Al the others are fine, also my lights are triggered once...

It only happens when a script is executed from a template switch... , But not with all of them, that makes it even more strange

What is local execution?

[2020-11-02 23:42] pergolafabio commented on #42695
Ok , I am reading about local execution, that could maybe it... Maybe it fires local, because the response of the harmony is a bit later... But how to turn it off on nabucasa edition? Seems you are developing this on local version, and I don't use local

[2020-11-02 23:47] elupus commented on #42695
Local execution is only supported on nabucasa solution. @balloob thoughts?

[2020-11-03 00:32] roger-rainey commented on #31642
I implemented the change in my 0.117 build and I have not seen the vizio integration reappear. So I do expect the next release with this change will fix it.

[2020-11-03 00:34] raman325 commented on #31642
Great to hear @roger-rainey I have no way to test this myself unfortunately

[2020-11-03 00:38] Holland1 commented on #42238
I will try that and report back

Not sure, it's likely the default value for a MDT IP interface. Or, maybe I have just chosen a random address when I first started to use KNX. Will change in something that is more logical/applicable.

No just 1 IP interface, no LC's

Now the only thing that is left is getting xknx 0.15.3 into the HA dev branch and
Is there any possibility to highlight the importan

[2020-11-03 01:10] Adminiuga commented on #42763
192.168.30.19:8888: [Errno 113] Host is unreachable

It can't connect. Not really a ZHA problem. Try checking Zigbee channel on ha discord server.

[2020-11-03 01:11] #42763 closed

[2020-11-03 01:26] fubar-coder commented on #42402
It seems that this problem already existed: #24721. The problem is even bigger, because it's not just the purge that doesn't work. HA also fails to log new sensor data.

[2020-11-03 02:04] alandtse commented on #42739
Here you go. I did it on a test machine which requested an MFA (I clicked through once before answering the 2FA). Again, I did enter my master pin in the Simplisafe website so I'm not getting the original reported error anymore.

[code]

[2020-11-03 03:03] BADGRRL666 commented on #31642
Just updated to 0.117 and the notifications disappeared.

Went ahead and re-added the soundbar that was giving me trouble and no new notifications even after 3 restarts.

Looks like it was fixed.

[2020-11-03 03:32] doubleopinter commented on #42563
I'm not entirely sure but it seems like HA might be crashing the gateway. I updated to the latest version of HA and the gateway keeps hanging now, this is completely new. I used to have to reload the integration and things would work, now I have to restart the whole gateway. I just powered off HA to see if the gateway stays up.

[2020-11-03 03:45] raman325 commented on #31642
It seems that there are multiple issues. One of my PRs was released recently, the second one is still open but hopefully between the two we got em all

[2020-11-03 03:56] Belval commented on #42368
As someone who just bought HS103 because they were in the compatible list. I think the documentation should be updated to reflect that python-kasa and by extension home-assistant does not in fact support the HS103.

[2020-11-03 04:25] Whoerr commented on #42766
Лавлейс | -
-- | --
Панели мониторинга | 6
Режим | Yaml
Ресурсы | 20
Представления

[2020-11-03 04:35] hunterjm commented on #42752
@Gunth - Easiest way to start is working with @McGiverGim to narrow down a list of integrations you both use, then start disabling them one by one until you find the culprit.

[2020-11-03 04:55] DanBendavid commented on #21688
I have version Home Assistant 0.117.1

Logger: homeassistant.components.switch
Source: helpers/entity_platform.py:600
Integration: Interrupteur (documentation, issues)
First occurred: 30 octobre 2020 à 17:13:27 (868 occurrences)
Last logged: 5:51:56

Updating tuya switch took longer than the scheduled update interval 0:00:30

[2020-11-03 05:47] r100gs opened #42779 "wiffi for stall.biz wiffi 3.0 not longer updating after update to 117.2"
## The problem

after update to 117.2 wiffi integration does not update temperature and other sensors from my wiffi 3.0.
moving sensor still works.

## Environment

arch | x86_64
-- | --
chassis | vm
dev | false
docker | true
docker_version | 19.03.11
hassio | true
host_os | HassOS 4.15
installation_type | Home Assistant OS
os_name | Linux
os_version | 5.4.72
python_version | 3.8.6
supervisor | 20

[2020-11-03 05:52] crosbyhayton commented on #42538
I am experiencing this same issue on my instance. I never installed the beta version from HACS, just upgraded to 0.117.1.

Regular commands such as volume, play/pause, and switching sources to "My Sonos" favorites all work as normal.

When I attempt to play a Spotify URL or URI to Sonos, my logs show:

[code]

I'm happy to assist with troubleshooting as well, would love to get this working!

[2020-11-03 05:57] yuvalabou commented on #42668
Why not set a static IP to every node? it's not fixing your problem but can help in the future..

[2020-11-03 06:04] elupus commented on #42767
Probably this issue: https://github.com/encode/httpx/issues/714

Broken with python 3.8.0

[2020-11-03 06:41] JeeCee1 commented on #42762
Hi, thanks for the quick reply.

While that might be true from the frontend  end point of view, I do not think that it also applies from the command line (SSH). At least until you can guarantee there is absolutely no use case for manually editing storage and/or .db  files (entity housekeeping comes to mind).

Also, sometimes manually editing these files is quicker then manipulating through the fro

[2020-11-03 06:44] alexfrydr commented on #42415
Good afternoon!
After updating HA 0.117.0. AXIS M1011 has stopped working.
The HA 0.117.2 update did not fix the problem.
I still get: Failed to connect.
Journal:
Logger: homeassistant.components.axis
Source: components / axis / device.py: 287
Integration: Axis (documentation, issues)
First occurred: 14:43:01 (1 occurrences)
Last logged: 14:43:01

Error connecting to the Axis device at 10.123.10.1

[2020-11-03 06:46] DanskerUS commented on #42752
My memory usage jumped to 41% for CORE after 12 hours, typically just a few percentage points. Rebooted, back to about 2% (8GB RAM on NUC), now at about 5.4% after a few hours. Not using ONVIF.

[2020-11-03 06:58] JZ-SmartThings commented on #42368
@Belval I think it will work but you have to define the IP in the configuration.yaml file... I just tested again before writing this and indeed turning it on in HA does reflect in the Kasa app and vice-versa.

[2020-11-03 07:12] thelefty commented on #42294
I have this same issue. Really wish I could control my Denon receiver with Alexa commands.

[2020-11-03 07:17] bouwew commented on #42725
Thanks! Appreciate your help in testing :)

[2020-11-03 07:26] AmadeusW commented on #42776
Same thing happened to me. Testing API with curl returns `{"status":"fail","data":{"message":"call_per_day_limit_reached"}}`

I'm not sure how to find DEBUG-level logs, can you share details?
I have one instance of AirVisual API
The dashboard shows 502 requests in both a day and in a month.

[2020-11-03 07:26] mike9011 commented on #42412
I'm running your latest PR for the cameras (https://github.com/home-assistant/core/pull/42556) , after ~ 4 minutes it stops running and I get this error. Could this be related to the pubsub version? Or is this another issue?

[code]

[2020-11-03 07:26] andrewjswan commented on #42758
I try on my test HA, Windows host:
[code]
2020-11-03 09:16:03 WARNING (MainThread) [homeassistant.loader] You are using a custom integration for gree which has not been tested by Home Assistant. This component might cause stability problems, be sure to disable it if you experience issues with Home Assistant.
2020-11-03 09:16:34 INFO (MainThread) [greeclimate.discovery] Starting Gree device discove

[2020-11-03 07:36] tr1plus commented on #42752
Same issue here - For me it takes about 24 hours to fill up 2 gb of ram, my full swap file and then it starts increasing processor usage to 100% - making the system less and less responsive. I'm also not using ONVIF.

I'm running the supervisor in a esxi container and I still have the snapshot before any upgrade so I can still go back if needed.

![image](https://user-images.githubusercontent.com/

[2020-11-03 07:45] tobbensoft opened #42781 "RFXtrx integration remains in automatic add state."
RFXtrx integration remains in automatic add state.

Got a device that seems to change what is reporting generating a lot of "devices", but as the subject states... The problem is that it gets added when it should not.

I feels like a UI glitch, as in some conditions it goes longer periods of time with it working correctly.

Is there some other place I can look and see if the automatic add state is

[2020-11-03 07:49] AndreasRM commented on #42743
Hi Jason,

thanks for your fast reply. Here are the parts within the log trace as you mentioned, splitted in today, yesterday and also the consolidated messages.

Regards,
Andreas

form today:

2020-11-03 07:31:45 WARNING (MainThread) [homeassistant.components.onvif] Couldn't connect to camera 'IPCAM', but will retry later. Error: Unsupported URL protocol 'urn'
2020-11-03 07:31:45 WARNING (MainThr

[2020-11-03 07:53] Kane610 commented on #42415
No changes has been made since we're still investigating why certain releases doesn't work

[2020-11-03 07:53] robertopiumatti commented on #42749
I had the same problem. When I saw this issue I compared the intregration and the unique egual is 'Brother printer'.
I have uninstall this integration and now the problem diasppeared!!
![2020-11-02 22 19 53](https://user-images.githubusercontent.com/3177263/97960585-075f4380-1db2-11eb-9cce-86da76b24842.jpg)

[2020-11-03 08:05] RobBie1221 commented on #40595
@humanoidlux I'm not sure this is the same problem. What essentially changed between 0.113 and 0.116 is that it doesn't use platform setup anymore. When importing to a ConfigEntry, it's validating the connection. That means it connects, waits a few seconds and if validation was successful, it disconnects and adds a ConfigEntry. After that, it should reconnect through the normal flow (from sensor.p

[2020-11-03 08:10] McGiverGim commented on #42752
I suppose the most probably is that is one of the included integrations, not any unofficial (HACS).
I don't have any of your HACS integrations.
Seeing your integrations I have the Brother and UPNP (I have more: mobile, CAST, and weather but I suppose this others are used by almost everybody so if there is a problem I suppose it will be massive):
![image](https://user-images.githubusercontent.com/2

[2020-11-03 08:19] uvjustin commented on #42011
@hunterjm I haven't seen this specific error but I've seen similar behavior on long running streams. I haven't looked into it in depth. My streams do end up recovering eventually by themselves, but it seems to be fixed by doing a HA restart. I'm not sure what's going on. Two things to note:
1) There is an error happening in the `av.open()` call which we don't try to catch within `_stream_worker_in

[2020-11-03 09:09] llevering commented on #42752
I am experiencing the issues. I have the Brother integration as well. I have deleted it for now to see if there is something there.

[2020-11-03 09:10] Gawronnek commented on #42749
**robertopiumatti** you are right with me it happened again at night, because I turn off the printer at night, when the printer is turned on, the problem does not occur

[2020-11-03 09:20] Mariusthvdb commented on #42776
all sensors showing unavailable since a couple of days, not sure if this coincided with updating to HA 117.x. This is all we get, I have but 1 instance configured:

<img width="1126" alt="Schermafbeelding 2020-11-03 om 10 19 02" src="https://user-images.githubusercontent.com/33354141/97967828-0f24e500-1dbe-11eb-822c-20793526ecac.png">

[2020-11-03 09:26] ludeeus commented on #42762
You should not edit those files to begin with ;)

If you need to, that is probably due to another bug.
Adding a warning is certainly an option, please raise that as a [Feature request on the forums](https://community.home-assistant.io/c/feature-requests) :+1:

[2020-11-03 09:27] ricarva opened #42784 "ONVIF Motion Events broken"
## The problem

Motion Events for ONVIF cameras were working correctly in my setup (Reolink cameras) on HA 117.1, but the update to 117.2 broke this functionality: the motion sensor has since become "Unavailable".

## Environment

- Home Assistant Core release with the issue: 117.2
- Last working Home Assistant Core release (if known): 117.1
- Operating environment (OS/Container/Supervised/Core):

[2020-11-03 09:27] Mariusthvdb commented on #42776
use this to set debug level:
<img width="1124" alt="Schermafbeelding 2020-11-03 om 10 27 18" src="https://user-images.githubusercontent.com/33354141/97968621-34feb980-1dbf-11eb-9c05-e9e180ca875c.png">

[2020-11-03 09:32] tr1plus commented on #42752
I'll take another esxi snapshot and remove brother and UPNP.
Keep you posted in (hopefully) 24h :)

[2020-11-03 09:34] DanskerUS commented on #42752
I have this problem, but no Brother integration. Sorry.

[2020-11-03 09:35] #42665 closed

[2020-11-03 09:43] Gawronnek commented on #42749
my log with turned off printer

2020-11-03 10:32:07 WARNING (MainThread) [homeassistant.loader] You are using a custom integration for authenticated which has not been tested by Home Assistant. This component might cause stability problems, be sure to disable it if you experience issues with Home Assistant.
2020-11-03 10:32:12 WARNING (MainThread) [homeassistant.setup] Setup of zone is taking over

[2020-11-03 09:57] kaizersoje commented on #42737
Hi @frenck,
I created an [issue ](https://github.com/hassio-addons/addon-sqlite-web/issues/96) against the addon. The issue was closed stating the issue is with the OS.

Kindly advise.

[2020-11-03 10:15] AlBrough commented on #42540
I have a similar issue with Tuya not working on 0.117.2

Logger: homeassistant.helpers.entity
Source: components/tuya/__init__.py:255
First occurred: 8:47:52 PM (6 occurrences)
Last logged: 9:02:48 PM

Update for climate.abc123 fails
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity.py", line 278, in async_update_ha_state
    await self.async_device_upd

[2020-11-03 10:26] Quentame commented on #34209
The `yr` platform has been removed in #39247.

Should we close the issue or this also applies to the `met` integration ?

[2020-11-03 10:27] Ndrinta commented on #42776
I just removed the integration hoping to be able to recover it by re-configuring it but it didn't work. I'm nuw unable to configure it again because of the limit error.
Now I get this error, which is basically the same error, just in a different shape.

Logger: aiohttp.server
Source: components/airvisual/config_flow.py:129
First occurred: November 2, 2020, 10:48:51 PM (4 occurrences)
Last logged:

[2020-11-03 10:28] neocr0n commented on #42589
I am having the same issue.
HA is not blocked for me and strangely one rest call is working, the other isn't.
`  - platform: rest
    method: POST
    name: internetstats
    resource: 'http://192.168.1.1/sysbus/NeMo/Intf/dsl0:getDSLChannelStats'
    scan_interval: 30
    json_attributes:
      - "status"
    value_template: 'OK'
  - platform: template
    sensors:
      datareceived:
        frie

[2020-11-03 10:34] ptitalex commented on #41575
@cgtobi , could you please share with us the wheel ?

[2020-11-03 10:35] cgtobi commented on #41575
It's up on [pypi](https://pypi.org/project/pyatmo/).

[2020-11-03 10:36] ramyi commented on #42752
i have the same issue. dont use brother or onvif. do have ring cameras which use ffmpeg.  below snapshot of addons
![image](https://user-images.githubusercontent.com/36094627/97974965-7a050900-1e1c-11eb-8910-31ebb422e361.png) downgrading to .116.4 to see if it makes a difference

[2020-11-03 10:36] dauden1184 commented on #42646
Same issue here.
Also the on/off button seems to only work turning on the chromecast, but not turning it off.

[2020-11-03 10:39] UdoK opened #42787 "HA user frequently logs in and out from Mikrotik device"
## The problem

The HA user logs frequently out and immediately in again what makes Mikrotik devices first unavailable, then setting away status and if available setting home status again. This causes a lot of trouble in my Automations where I use lot of these Mikrotik devices

## Environment
HA:
arch | armv7l
-- | --
chassis | embedded
dev | false
docker | true
docker_version | 19.03.11
hassio |

[2020-11-03 10:49] frenck commented on #34209
It doesn't apply to the `met` integration. The `yr` integration has been removed.

So indeed, this issue can be closed.

[2020-11-03 10:49] #34209 closed

[2020-11-03 10:49] emontnemery commented on #42646
@benquan @dauden1184 can you confirm in which cast apps it doesn't work?

[2020-11-03 10:49] drthanwho commented on #42402
In my setup it seems purge doesn't work at all, whereas logging does so far. But I have twice randomly ended up with the database unable to write any new data. Only solution for logging was to restart HA and for purging to remove the add-on and add it again.

[2020-11-03 10:55] hmmbob commented on #42752
I think it was established that it isn't in the addons - what integrations are you running?

[2020-11-03 11:00] drthanwho commented on #42776
I am also getting this for one or two days now. I have 2 instances with the same API.

It's only this error on repeat in my case
[code]

[2020-11-03 11:02] ramyi commented on #42752
![image](https://user-images.githubusercontent.com/36094627/97977405-46c47900-1e20-11eb-8dc4-d5671044d840.png)

[2020-11-03 11:04] ramyi commented on #42752
there should be more. how do i get the simple table like McGiverGim

[2020-11-03 11:05] McGiverGim commented on #42752
It's in the Configuration, Information.

[2020-11-03 11:07] sgofferj commented on #42630
There would be also
https://services.swpc.noaa.gov/products/noaa-estimated-planetary-k-index-1-minute.json

[2020-11-03 11:09] cgtobi commented on #42751
This will probably be fixed in 0.117.3 if I understand the title correctly.

[2020-11-03 11:09] engrbm87 commented on #42787
Hello @UdoK , I see that you have enabled `Force scanning using DHCP`, this means the devices will be detected from the DHCP lease list. I recommend that you make the devices as static so that they are not removed from mikrotik when the lease expires.

[2020-11-03 11:20] UdoK commented on #42787
All devices are static in my mikrotik. I activated `Force scanning using DHCP` because it was mentioned in the Integration description, but also did test without this option what didn't help.

[2020-11-03 11:22] engrbm87 commented on #42787
Try changing the logging for `homeassistant.components.mikrotik` to debug and check the logs

[2020-11-03 11:22] ramyi commented on #42752
  | AdGuard Homeadguard | Documentation | Issues
-- | -- | -- | --
  | Alarm Control Panelalarm_control_panel | Documentation | Issues
  | Home Assistant APIapi | Documentation | Issues
  | Authauth | Documentation | Issues
  | Automationautomation | Documentation | Issues
  | Binary Sensorbinary_sensor | Documentation | Issues
  | Sony Bravia TVbraviatv | Documentation | Issues
  | Cameracamera |

[2020-11-03 11:32] tr1plus commented on #42752
Adding my full integration list to the mix too:

  | Amazon Alexaalexa | Documentation | Issues
-- | -- | -- | --
  | Home Assistant APIapi | Documentation | Issues
  | Authauth | Documentation | Issues
  | Automationautomation | Documentation | Issues
  | Binary sensorbinary_sensor | Documentation | Issues
  | Cameracamera | Documentation | Issues
  | Google Castcast | Documentation | Issues
  |

[2020-11-03 11:33] DarkFox commented on #42589
Wasn't there a change during WTH month, that means that we don't need to do `data_template` any more? Does that apply to `resource_template` as well? Have anyone tried if that works?

[2020-11-03 11:38] mweinelt commented on #42668
I do, this is an outlier.

[2020-11-03 11:41] ramyi commented on #42752
This is what i know. symptoms are that swap reaches 100% then ram starts to climb to 80-90% but never 100 after any heavy task.
i can replicate with a full snapshot which often results in a reboot after a while.
if i reboot the host after going to supervisor --> system-->reboot under host core then everything goes back to normal for hours until the next heavy task then spike of swap and increase o

[2020-11-03 11:45] McGiverGim commented on #42752
@ramyi In my case 0.116.4 is totally stable. So maybe different issue than yours. This started to happen in 0.117.0 and has not been fixed in 0.117.2.

Is there a way to dump the memory and profile it? Maybe not me, that I use HA OS, that I suppose is more limited, but maybe some of you are able to do that.

[2020-11-03 11:48] hmmbob commented on #42752
Are all using supervisor/HA OS?

[2020-11-03 11:52] McGiverGim commented on #42752
I'm, on a raspberry pi4, ha os 5.4 64 bit booting from ssd. I don't know others.

[2020-11-03 11:53] tr1plus commented on #42752
I am indeed using the supervisor Version 2020.10.1

What I do notice is that there is a ram difference between the System monitor sensor and the supervisor screen:

![image](https://user-images.githubusercontent.com/7044850/97982093-8d3fb680-1dd3-11eb-90bb-c423d5d8d90a.png)
![image](https://user-images.githubusercontent.com/7044850/97982127-9892e200-1dd3-11eb-8308-d9afa0a4278b.png)

[2020-11-03 11:58] McGiverGim commented on #42752
The supervisor only shows the memory used by the Home Assistant docker. The other is the total system if I'm not wrong.

[2020-11-03 12:02] wicol commented on #40450
Sorry to make it about YAML vs UI, but is there a way to configure websocket usage through the UI?

[2020-11-03 12:12] SukramJ commented on #42766
Hi,
these WARNINGS (not errors)  are already reported in the upstrem lib, except FULL_FLUSH_CONTACT_INTERFACE_6.

Please create a new issue in the upstream lib by following [these instructions](https://www.home-assistant.io/integrations/homematicip_cloud/#what-to-do-if-a-device-is-missing-in-home-assistant).

BR

[2020-11-03 12:13] googanhiem commented on #42540
The problem will persist until PR #41375 is accepted - it wasn't included in 0.117.2.

If you need a temp fix, and you don't mind getting your hands a little dirty, you can try the following:
1) Download the tuya files from @olla69 repo [here](https://github.com/ollo69/core/tree/a805b4721729a8d4aeb3344d4786d6e9ca06894a/homeassistant/components/tuya)
2) Add the tuya folder/files to the custom_compo

[2020-11-03 12:17] ramyi commented on #42752
im using rpi 3b+ tried with sd card and ssd and issue remains.
i just moved to hyper-v to see if i can have it stable for now.

[2020-11-03 12:27] fatuuse commented on #42589
Nope. Good idea!
Tried to replace resource_template with resource. Didn't work.

[2020-11-03 12:42] cmroche commented on #42758
@andrewjswan I don't think it would make a difference, hassio or windows host, but feel free to give it a try. Could you also attach a wireshark capture of the traffic?

[2020-11-03 12:49] andrewjswan commented on #42758
I dont have wireshark and dont know how use it :(

[2020-11-03 12:56] Gunth commented on #42752
I use the brother integration also on RPi3 on memory card.. same issue as you all swap to 100%, ram growing up then auto reboot.( can reboot 2,3 times by day ) Revert back to 116.4 is working correctly again ..

[2020-11-03 12:57] denics opened #42826 "Component Sense HAT won't install because it is missing dependency on RTIMUlib"
**HassOS release with the issue:**

[code]

on Raspberry PI 3

**Supervisor logs:**

[code]

**Journal logs:**

**Kernel logs:**

**Description of problem:**
When activating the sensor platform sensehat HASSOS reports:

[code]

This is the interested configuration:

[code]

As you can see from logs the issue is because library RTIMU cannot be found. A workaround has been proposed in the actual doc

[2020-11-03 12:58] OnFreund commented on #40450
If you weren't asked to configure a websocket port through the UI it means it was automatically picked up.

[2020-11-03 13:10] doubleopinter commented on #42563
OK HA is not the cause. I'm gonna get a zigbee dongle and control all my lights that way instead of this gateway.

[2020-11-03 13:25] danielsmith89 commented on #42717
I'm having the same issue too.

[2020-11-03 13:34] merloose commented on #35917
I had the same. it appeared for instance every time I had an action perform on a switch
I got it solved as follow (using custom lambda skill, Login with amazon, and know very very little about coding so excuse me in advance). It seems I had the wrong client_ID and client_secret configuration in HASS
1 - On LWA security profile added your HASS url:port as allowed origin
2 - On alexa skill / permiss

[2020-11-03 13:36] UdoK commented on #42787
This is logged when the HA user logs out and in again on the Mikrotik device:
2020-11-03 14:01:42 WARNING (MainThread) [homeassistant.helpers.entity] Update of device_tracker.hassio is taking over 10 seconds
2020-11-03 14:01:42 WARNING (MainThread) [homeassistant.helpers.entity] Update of device_tracker.telldus_tellstick_znet_lite_v2 is taking over 10 seconds
2020-11-03 14:01:42 ERROR (SyncWorker_

[2020-11-03 13:40] mrpicker commented on #42612
@Bluhme1 How you resolved this issue? Because I have the same problem.

Thank you in advance.
Nicola

[2020-11-03 13:40] engrbm87 commented on #42787
It seems that the connection to the mikrotik device is taking time. Please double check the network connectivity between the HA host and the mikrotik device.

[2020-11-03 13:50] alexciurea commented on #42776
Can confirm the same error, 117.1 and 117.2, entities are unavailable, the API key looks ok.

![image](https://user-images.githubusercontent.com/10880764/97992657-ab191580-1deb-11eb-9c5a-8378e7ecff24.png)

Tried to reload the AirVisual integration, no effect.
Probably some failsafe threshold was added in place at HA, before reaching the airvisual?

[2020-11-03 13:51] alexciurea commented on #42776
All keys stopped counting at 502 calls... Anyhow, the entities in HA are never available...

[2020-11-03 14:11] brgerig commented on #42767
Upgraded to 3.8.6, problem seems to be resolved. Thanks!

[2020-11-03 14:11] #42767 closed

[2020-11-03 14:11] Belval commented on #42368
Just tried and you are right! So the discovery parameter simply stop working or is this a problem only on some networks? In the former case I can make a PR to add the info to the official docs.

[2020-11-03 14:16] Tommatheussen commented on #42558
I have cleared my database as well, and everything gets correctly recreated on the new database. It does seem problematic though that updates might cause failures like this, which, for less tech savvy ppl might breaking their entire setup

[2020-11-03 14:22] rubenbe commented on #42563
I had some major instabilities today too. Even had to reset the gateway.
@doubleopinter what version of the gateway SW are you running? (mine is 1.11.51)
@ggravlingen can I gather/add extra logging to provide more info on this issue (worst case by adding prints in the python sources)?

[2020-11-03 14:25] hunterjm commented on #42011
I haven’t encountered this error either, but same as you my logs have been chatty lately, but the stream always seems to recover.

[2020-11-03 14:32] EddyK69 opened #42789 "Rfxcom: cannot change device options (UI)"
## The problem

After migrating from yaml to new new UI-integration, i cannot change the device options via UI.

## Environment

- Home Assistant Core release with the issue: 0.117.1
- Last working Home Assistant Core release (if known): 0.116
- Operating environment (OS/Container/Supervised/Core): HassOS 5.2
- Integration causing this issue: rfxcom
- Link to integration documentation on our websi

[2020-11-03 14:36] bachya commented on #42776
Thanks for the info, all. The code that handles the update interval has remained consistent for some time... The fact that everyone is experiencing this at the same time makes me think that either (a) the API limit has changed or (b) the API had some sort of glitch.

I've regenerated my own key and things are working fine. I'm going to keep an eye on it to see if it happens again; if it does and I

[2020-11-03 14:36] McGiverGim commented on #42752
I've seen that in 0.117.0 we have a new profiler integration: https://www.home-assistant.io/integrations/profiler/ and four days ago it was added the option for memory profiling: https://github.com/home-assistant/core/pull/42435

I suppose that the memory profiling is for version 0.118.0 but maybe we can add it as a custom_component and it will work? It will help with this issue?

[2020-11-03 14:41] McGiverGim commented on #42752
It seems that yes, it can help added as `custom_component`, here is the post about it in the original ONVIF memory leak issue: https://github.com/home-assistant/core/issues/42390#issuecomment-717532291

I don't know if someone is able to test it. If not, I will try tomorrow, when I have time to let grow the memory for several hours before executing this profiling...

[2020-11-03 14:41] Mdleal commented on #37330
I am having the same issue on 2 devices. Both are PROXMOX host.  I have 3 PROXMOX host and 2 of them randomly go to a not_home state. I don't know if this matters but the 1 that does not go offline does not have VMs on it. I have turned on debug logging but do not see anything that stands out. LMK if you want me to post the logs.

[2020-11-03 14:58] uvjustin commented on #42011
This issue might be related: https://github.com/home-assistant/core/issues/42721
If the issue is due to retrying too soon, maybe we can add a small draft PR to fix the wait timeout after the worker exits instead of using a timer from before the worker starts and see if that fixes anything. @esev do you see a problem with doing it this way?

[2020-11-03 15:04] ih8gates opened #42790 "Squeeze integration: media_player.play_media service has stopped working"
## The problem
Calling the media_player.play_media service targeting Logitech Squeezebox no longer works for me.

## Environment
Worked fine for me as recently as 115.2. Upgrading to 117.0  or 117.2 breaks the service.

- Home Assistant Core release with the issue: 117.0
- Last working Home Assistant Core release (if known): 115.2
- Operating environment (OS/Container/Supervised/Core): HassOS 4.15

[2020-11-03 15:08] balloob commented on #42612
This will be fixed in 118

[2020-11-03 15:28] alexciurea commented on #42776
@bachya thanks for the tip! I can confirm that recreating the API key solved the problem.
Similar issue happened in the past, and was resolved by API key recreation - but at that time the entities did not become unavailable, simply were not getting updated...

[2020-11-03 15:42] hunterjm commented on #42752
The profiling I added currently only profiles a 60 second window. If the leak is slow (MB over hours) it won't help as is. If you want to run it as a custom component, it might be better to comment out lines 101 and 102 in `__init__.py` to get a full memory snapshot when run.

[2020-11-03 15:47] McGiverGim commented on #42752
Thanks for the info @hunterjm I will try it tomorrow if nobody does it before. Maybe as suggestion, this can be an option in the data passed to the service

[2020-11-03 15:51] bachya commented on #42739
Thanks, @alandtse. Nothing unexpected in those logs.

Focusing on this statement:

I've never had to enter any sort of PIN in the web app. Can you show me a screenshot of this?

[2020-11-03 15:52] bieniu commented on #42749
@robertopiumatti Could you test this version of the Brother integration? https://github.com/bieniu/ha-brother-test
Use it as a custom component.

[2020-11-03 15:58] MSkeem commented on #41352
That sounds really great. Do you have some instructions (a link or something) on how to do this?

[2020-11-03 16:06] hunterjm commented on #42752
Hmm, it might actually be better to just set `seconds: 3600` in the service call after HA starts. Then we won't get all the memory consumption from that, just what gets added over an hour.

[2020-11-03 16:08] hunterjm commented on #42752
For the rest of the group, Integrations are not just on the `Integrations` page in the UI. Anything you have in `configuration.yaml` is also relevant.

[2020-11-03 16:11] allenporter commented on #42412
Thanks for the report.  This seems separate to me since nothing in the extend stream rox comes from the pubsub feed.  I will investigate, though if you'd like to track it then maybe a separate issue would be best.

[2020-11-03 16:13] mrpicker commented on #42612
Thank you!
Nicola

[2020-11-03 16:16] pawlizio commented on #41352
No, I have no detailed instruction, I just bought a KLF200, connected it via LAN to my network.
Due to the fact that I already had a Tahoma Box and a configured io-homecontrol network, I just had to share the secret key with the Velux KLF200 device. On tahomalink.com there is a functionality to send the sectret key, and in the Webinterface of KLF200 you have the function to receive secret keys. So

[2020-11-03 16:17] hmmbob commented on #42752
But all should be showing if you go to "settings" -> "info" -> "integrations", right?

[2020-11-03 16:19] hunterjm commented on #42752
@hmmbob - Yes

[2020-11-03 16:21] ttaidapos commented on #27210
Changed secret and that seemed to buy me 3 full days before failing again.  Anyone else seeing this behavior?

[2020-11-03 16:43] JOHLC opened #42792 "Getting a "Not secure" SSL warning after configuring the Xbox integration"
## The problem

The Xbox integration is serving insecure contect via (HTTP) causing browser to display a "Not secure" message
![image](https://user-images.githubusercontent.com/63735432/98014240-611f3800-1dc9-11eb-9509-75ed4debb5db.png)

## Environment

- Home Assistant Core release with the issue: 117
- Last working Home Assistant Core release (if known):  N/A
- Operating environment (OS/Containe

[2020-11-03 16:45] breti commented on #27210
How many calendars does your google calendar contain? This is my google_calendars.yaml file:

[code]

The last one is the calendar added recently, after that the trouble began.

[2020-11-03 16:48] humanoidlux commented on #40595
@RobBie1221 Tnx for your reply. Ok it looks like something different. In both versions 0.113 and 0.117 I have no DSMR Integration card. Ok I will create a new issue.

[2020-11-03 16:50] MSkeem commented on #41352
Nice - it sounds like I have more or less the same setup as you do. 5 awnings connected to Tahoma, which works ok, but with some delay, as you also mention (which is quite annoying). So I might also be able to get my devices to the KLF in that simple way. I will buy one tomorrow :)

[2020-11-03 16:54] esev commented on #42011
Your analysis sounds good to me. The stream worker can/does reconnect right away after getting corrupt data. In my case I'm using the `Preload stream` option to have a few seconds of buffer when a recording starts. I'm using this in conjunction with a motion detector to capture what happened before motion was detected. I'd prefer that the stream restart as soon as possible to avoid missing any of

[2020-11-03 16:59] mike9011 opened #42793 "Nest SDM Camera stops streaming"
## The problem
After running for a couple of minutes ~ 5- 10, the stream of all my Nest cameras stops with the following error, running the latest PR https://github.com/home-assistant/core/pull/42556 .

## Environment

arch | x86_64
-- | --
chassis | desktop
dev | false
docker | true
docker_version | 19.03.12
hassio | true
host_os | Ubuntu 18.04.4 LTS
installation_type | Home Assistant Supervised

[2020-11-03 17:03] Santobert commented on #39378
It's kind of hard for me to work on it because I don't have a Vorwerk bot. If someone else wants to help, don't hesitate.

Things to know:
- I couldn't find any python lib that supports the passwordless flow
- The flow is documented here: https://auth0.com/docs/connections/passwordless/guides/email-otp
- For the moment I hope that everything else works as usual

Things to do:
1. Extend the existin

[2020-11-03 17:03] hunterjm commented on #42784
This is a known regression from 0.117.0 to 0.117.2 in order to fix a memory issue. I’m looking into restoring the functionality in 0.118.

[2020-11-03 17:05] neitri commented on #32556
I am having this problem. I watch online TV through the "Alma TV BOX" application to switch channels, you must pass channel_up () or channel_down (). When watching terrestrial TV, the application name is "Телетрансляция", channel switching does not work.

[2020-11-03 17:16] gregorymartin commented on #38136
This appears to have been resolved as part of the updates included in [#35164](https://github.com/home-assistant/core/pull/35164).

[2020-11-03 17:16] #38136 closed

[2020-11-03 17:20] robertopiumatti commented on #42749
Thanks @bieniu! I tomorrow will try!

[2020-11-03 17:25] RobBie1221 commented on #42789
Same issue as mention here on community forums: https://community.home-assistant.io/t/rfxtrx-motion-sensor-is-always-on/241609/5

Will push a fix today.

[2020-11-03 17:26] uvjustin commented on #42011
@D33M Can you see if that PR helps at all?

[2020-11-03 17:47] Stimpy68 commented on #42752
Having the same issue, first noticed it after i upgraded to 0.117.1, HA restarted randomly (so it seemed), after 1 day and 4 restarts I went backup to 0.116.4, no problems. Read about the ONVIF integration that could cause a mem leak, so removed that yesterday. This morning upgraded to 0.117.2 again, installed glances and put that data in influxdb/grafana to get a historical picture.
From restarti

[2020-11-03 17:54] McGiverGim commented on #42752
True, it will be easy. I will do it in this way.

[2020-11-03 18:01] roger-rainey commented on #31642
I am still seeing discoveries pop up. I guess it just took a little more time than I expected

[2020-11-03 18:26] adamkrol93 commented on #41771
@ottelo9 @galex80 I made some changes in core library. I will be testing it now. If you would like to help then I am attaching this integration as a custom component. It is named wolflink2 in integrations.
[wolflink2.zip](https://github.com/home-assistant/core/files/5483236/wolflink2.zip)
Also you will have to enable debugging logs in configuration.yaml
[code]

[2020-11-03 18:28] cvasantrao commented on #42743
Hi
I am also facing the same issue. The integration detects the camera but no entity is created. Before upgrading to 0.117.2 , everything was working fine.

[2020-11-03 18:37] #36245 closed

[2020-11-03 18:47] rytilahti commented on #42368
Hm, I forgot that pyhs100 (the library homeassistant integration is using) already also used to query several modules for discovery. Please feel free to create a doc PR, I think this is related https://github.com/python-kasa/python-kasa/issues/105 – seemingly some newer firmwares fail when one tries to query the emeter information alongside the status.

[2020-11-03 18:59] freekode commented on #40419
Please, update to the latest dev version, the problem should be fixed

[2020-11-03 19:03] D33M commented on #42011
@uvjustin sorry to be the noob here, but I'm not too familiar with the idea of PR-testing in HASS yet. I am using the Hass-In-Docker, so it would be ideal for me if each PR generated a branch-specific Docker image.

If that is not the case, should I clone the repository and mount the home-assistant/onvif component inside the container as a volume?

Sorry to ask, I just want to confirm, that I will

[2020-11-03 19:03] onkelbeh commented on #42415
@Kane610 sure, as long you don't tell anyone what we are doing here.
please let me know if one of our cars gets stolen *rofl*

[2020-11-03 19:04] ottelo9 commented on #41771
Hey, cool. I will try it tomorrow. Thanks!!

[2020-11-03 19:07] kevinkk525 opened #42798 "Switch turned on by switch.turn_off and vice versa"
## The problem

I now noticed on several occasions that my automations that trigger all switches to turn on actually turn off some switches and vice versa. This was confirmed by another user on the forum using ESPHome, while I use my own mqtt framework.
I use an automation that triggers multiple switches to turn on/off at the same time.
![grafik](https://user-images.githubusercontent.com/9607123/9

[2020-11-03 19:09] BigWebstas commented on #27628
I am also having the exact same issue google replies with "something went wrong" with English language using an envisilink3

is this fix https://github.com/home-assistant/core/pull/37325 merged into the production branch? is this fix in 0.117.2?

[2020-11-03 19:10] ygreq commented on #42763
Now it gives me this error ConnectionRefusedError: [Errno 111] Connection refused

I am thinking of uninstalling and reinstalling ZHA, but I hope I don't loose all the nodes / devices. As this would be the 4th time I would add them. Do you know if I can keep them if I keep the zb database? Thank you so much!

[2020-11-03 19:13] BigWebstas commented on #37345
In english on Hass 0.117.2 i am getting similar results the house alarm arms but google responds with "something went wrong"

[2020-11-03 19:14] pergolafabio commented on #27628
that fix was already present in 113.0

i never tried it since
so it means , this one is fixed also?

https://github.com/home-assistant/core/issues/37345

[2020-11-03 19:15] thegnuu commented on #42551
Here is a version which works with my TV. If there is anyone out there willing to help me test this version please let me know! I have a pretty new Panasonic TV and I really don't know if this will work with other models.

https://github.com/thegnuu/core/tree/dev/homeassistant/components/panasonic_viera

[2020-11-03 19:33] Kane610 commented on #42415
Thanks @onkelbeh

Seems they found at least one case HTTPx doesn't handle compared to requests: https://github.com/encode/httpx/issues/1378

[2020-11-03 19:36] Adminiuga commented on #42763
keep `zigbee.db`, keep core.entities and core.devices
But connection refused is from the same opera: no network connectivity from Docker/and or host to Sonoff bridge serial tcp gateway

[2020-11-03 19:38] S-Przybylski commented on #42603
Thanks for your explanation.
Got It.

[2020-11-03 19:40] #42603 closed

[2020-11-03 19:44] giffordj commented on #38717
I have the same issue, but when I use the send_pin, it never sends me an email.

[2020-11-03 20:03] amelchio commented on #42538
I looked into this, it seems that multiple different Spotify services exist and we need to handle each one differently. To get a bit closer, can you both tell me:
* Are you using Spotify Free og Spotify Premium?
* Are you in the US region or not?

[2020-11-03 20:06] jerobins commented on #40279
This is still happening on 0.117.2.

    Failed to cast media https://www.home-assistant.io/images/cast/splash.png. Please make sure the URL is: Reachable from the cast device and either a publicly resolvable hostname or an IP address
    Failed to cast media http://192.168.1.11/sounds/chime.mp3. Please make sure the URL is: Reachable from the cast device and either a publicly resolvable hostname

[2020-11-03 20:06] RobBie1221 commented on #42781
I am able to reproduce this. It gets even weirder, when enabling automatic add, devices are added for which an event was sent before automatic add was set. Need to analyze this a bit further, looking at the code I can't immediately find an issue there.

[2020-11-03 20:14] infragilis commented on #34350
issues .. after reboots it dropped off again ...

arch | x86_64
-- | --
chassis | vm
dev | false
docker | true
docker_version | 19.03.11
hassio | true
host_os | HassOS 4.12
installation_type | Home Assistant OS
os_name | Linux
os_version | 5.4.56
python_version | 3.8.3
supervisor | 2020.10.1
timezone | America/New_York
version | 0.113.3
virtualenv | false

Traceback (most recent call last):
  File

[2020-11-03 20:25] 4ybaka commented on #38717
I have the same problem and after disabling "Enable newly added entities" I still receive emails. Running 0.116.0.

[2020-11-03 20:38] galex80 commented on #41771
Test is running. Will keep you updated, Thanks for your work :-)

[2020-11-03 20:49] vencakratky commented on #42659
I have the same issue with - platform: rest
Is there some solution ? In  0.116.4 working fine. Thanks

[2020-11-03 20:54] ttaidapos commented on #27210
Definitely not as many as yours.  Haven't made any changes at all.  The only thing remotely related to google calendars, is I setup an automatic 15min notification for all events in the family calendar.

[code]

[2020-11-03 20:58] slydiman commented on #42715
It was very bad idea. Reviewers asked me to rebase the branch from current to next and finally it caused a lot of problems.
I have recreated the PR. First and last time. Hope it will be merged.

[2020-11-03 21:02] RobBie1221 commented on #42781
Found it, dispatchers are not cleaned up, as a result devices will be added until Home Assistant is restarted.

[2020-11-03 21:11] christophkreutzer opened #42805 "forked_daapd: Entities are not updated after some time"
## The problem

When starting Home Assistant Core, or restarting the integration via settings -> integrations, the forked_daapd integration works fine. After around 1-2 hours, the entities of the integration no longer get updated (e.g. speakers still show as on, even when turned off in forked-daapd or in Home Assistant; or the song currently playing is not updated any longer). Enabling or disablin

[2020-11-03 21:17] dgomes commented on #42715
Don't worry :)

I have the PR upon, but we miss an important dependency in the CI environment... don't really know how to proceed either...

[2020-11-03 21:18] jonathan0104 commented on #42663
@zxdavb, many thanks for managing the integration. When manually adjusting the temperature from Lovelace it works ok but as you say with a delay. However, if the temperature change is part of an Automation the temperature changes are not being sent to evohome. Cheers J

[2020-11-03 21:48] carspawn commented on #38717
If you update to 0.117.2?

[2020-11-03 21:56] thevoltagesource commented on #25218
I am working on modifying the thermostat side of this integration.  I am familiar with the climate platform from previous work but the tests are new to me. My code is passing all the existing tests but I am struggling at writing a new test.  I am trying to write one to test setting the temperature in heat_cool mode. If someone can point me in the direction of some good docs and/or help me with thi

[2020-11-03 22:01] #42789 closed

[2020-11-03 22:10] jlweston commented on #42072
I'm having the same problem (both via cards and Media Browser link in the sidebar). Nothing additional in the logs beyond what's been mentioned already by OGKevin.

Strangely, it was working a few days ago on 0.116 and stopped out of the blue. I've since updated to 0.117.2 and still having the same issue. I'd put it down to an API change if it weren't for the fact OGKevin's stopped almost a fortni

[2020-11-03 22:20] Jc2k commented on #25218
Great to have someone with one of these devices in a position to help out with the code!

Can you post an example of what you are trying? Or push a branch with some tests you think should work? It's been a while since I've worked on this bit of hkc so easier to get my head around it that way. It's a bit late here so might not be able to get back to you today.

You can just link me to a branch dire

[2020-11-03 22:31] spacegaier commented on #42072
And for the fact that for me and probably most others it seems to work fine, so it doesn't seem to be a general issue, but rather something more specific.

I had a more detailed look at the coding. This exception in the Spotify context will appear if the "scopes" of the session token are not matching what the integration expects.
https://github.com/home-assistant/core/blob/bfc3d3be764123adb147d39d

[2020-11-03 22:49] jlweston commented on #42072
Aha. Removing and re-adding the integration does the trick. If it had the correct scopes originally and again has the correct scopes now, I wonder why there was a period of not having them.

[2020-11-03 22:52] Adminiuga commented on #42558
FYI `home-assistant_v2.db` has nothing to do with ZHA nor ZHA has anything to do with the `recorder` component or `home-assistant_v2.db`

[2020-11-03 22:57] Adminiuga commented on #42558
If you deleted the `home-assistant_v2.db` and now it works. Then I'm going to close this issue.
If you still experiencing the problem, then re-open this issue and fill the issue template correctly. 2) provide all details about your system and the steps to reproduce.
But from the initial overview, it looks like file got corrupted. Probably unclean shutdown or maybe problems with SD card/power suppl

[2020-11-03 22:57] #42558 closed

[2020-11-03 23:09] OGKevin commented on #42072
Can confirm removing and re-adding integration worked. Shall we add a line to the log to to give this solution as a hint?

[2020-11-03 23:15] elupus commented on #42752
Guys, can you try disabling ssdp component?

[2020-11-03 23:34] DanskerUS commented on #42752
Sure, but how? Thanks.

[2020-11-03 23:48] PlutonicCloud opened #42809 "pycsspeechtts: incorrect language formatting"
## The problem
When using the Microsoft TTS engine with another configuration than the default, Home Assistant returns an error when trying to synthesize:
[code]

## Environment

- Home Assistant Core release with the issue: confirmed on 1.116 and 1.117 (up to 1.117.2)
- Last working Home Assistant Core release (if known): unknown
- Operating environment (OS/Container/Supervised/Core): OS
- Integr

[2020-11-03 23:52] cheikemate commented on #42743
Hi,

Same here. Since 0.117 update my camera stop working with the same error (Error: Unsupported URL protocol 'urn').
The integration detects the camera but no entities are created.
Regards.

[2020-11-03 23:53] ismarslomic commented on #42538
- Spotify Premium Family (with dedicated user for Sonos/HA)
- Not in US region

[2020-11-03 23:55] crosbyh commented on #42538
I am using:

- Spotify Premium Family
- US Region

[2020-11-03 23:55] cobirnm commented on #42752
I have the same issue. I’m using docker version of home assistant in raspberry pi 3b+.
I have enlarged my swap file to 4gb and by what I can see the memory used in the container starts climbing up to 530mb. After that system starts swapping until it gets unresponsive after 30 hours.

Regarding integrations the only thing I have in common is deconz and brother.

[2020-11-04 00:00] spacegaier commented on #42072
I was thinking the same. Do you want to tackle that or should I create a PR?

[2020-11-04 00:17] ramyi commented on #42752
i've removd ssdp.  will upgrade back to .117.2
should i remove upnp as well?
for others who want to try you can remove ssdp: and make sure you dont have default_config: in there.

[2020-11-04 00:28] franmiele opened #42810 "TED not working with ver 117.2"
## The problem

## Environment

arch | armv7l
-- | --
chassis |  
dev | false
docker | true
docker_version | 19.03.5
hassio | true
host_os | Raspbian GNU/Linux 10 (buster)
installation_type | Home Assistant Supervised
os_name | Linux
os_version | 4.19.75-v7l+
python_version | 3.8.6
supervisor | 2020.10.1
timezone | America/New_York
version | 0.117.2
virtualenv | false

- Home Assistant Core releas

[2020-11-04 00:39] alandtse commented on #42739
Unfortunately it doesn't display anymore. It used to say "Master PIN required for remote administration" where it now says "This reflects ...". This is at https://webapp.simplisafe.com/#/dashboard.
![image](https://user-images.githubusercontent.com/7086117/98055727-06023b00-1df3-11eb-9039-9198e2bc6e90.png)

[2020-11-04 00:40] bachya commented on #42739
Hmm. Well... not sure what else to do here, assuming you can confirm that it's now working as expected?

[2020-11-04 00:49] alandtse commented on #42739
Yes, I can log in now. It may be something where we'll have to close it until someone else runs into this state.

[2020-11-04 01:07] kaizersoje opened #42812 "Local Time not being returned in query in SQLite Web addon"
## The problem

Query not returning the local datetime in SQLite Web addon even after using the datetime modifier "localtime".

[code]
The first row in the query should return time in local time zone and not UTC. The query returns both rows in UTC and not local time.

## Environment

- Home Assistant Core release with the issue:  0.117
- Last working Home Assistant Core release (if known): 0.116.4

[2020-11-04 01:22] #42739 closed

[2020-11-04 01:24] cheeplusplus opened #42813 "Wirelesstag integration not pulling timely updates"
## The problem

## Environment

- Home Assistant Core release with the issue: 0.117.2
- Last working Home Assistant Core release (if known): none
- Operating environment (OS/Container/Supervised/Core): Core, Ubuntu 20.04
- Integration causing this issue: Wirelesstag
- Link to integration documentation on our website: https://www.home-assistant.io/integrations/wirelesstag/

## Problem-relevant `con

[2020-11-04 01:35] ensjens opened #42814 "SimpliSafe: No Sensor Entities created"
## The problem
I have a simplisafe v3 system
Added simplisafe integration and only one entity was created (the Alarm Control Panel).
I do not see any of my entry sensors.

## Environment

- Home Assistant Core release with the issue: Home Assistant 0.116.4
- Last working Home Assistant Core release (if known):
- Operating environment (OS/Container/Supervised/Core): Docker container
- Integration c

[2020-11-04 01:44] uvjustin commented on #42011
@D33M All you need to do is replace the file `/usr/src/homeassistant/homeassistant/components/stream/worker.py` in the container with the version from that PR and then reboot HA.

[2020-11-04 06:06] slomanl1 commented on #42814
I have a similar problem: When I load or reload the integration from the HACS GUI HA does not include my motion sensor. It does include my three entry sensors in the device/entities. It appears the motion sensor is ignored by HA during the setup. I do receive events from ALL the devices including the motion sensor and the three entry sensors. Here is the log:

2020-11-02 20:12:36 DEBUG (MainThread

[2020-11-04 06:08] adamkrol93 commented on #41771
Mine also is working and I've already noticed that during night I had two times 'Unavailable' but then it reconnected and works, so I hope that this is a good fix :)

[2020-11-04 06:13] kaciker opened #42816 "Axis integration is not working after last update core Hassio 0.117.4"
## The problem

Integration Axis does not respond to the host configuration. This start after last upgrade core HAssio

## Environment

- Home Assistant Core release with the issue: Home Assistance Core 0.117.4
- Last working Home Assistant Core release (if known): Home Assistance Core 0.116.4
- Operating environment (OS/Container/Supervised/Core):
- Integration causing this issue: Axis
- Link to

[2020-11-04 06:35] thevoltagesource commented on #25218
After reading through the existing tests, breaking them and causing them to fail, I managed to get an idea of how it works.  I wrote three tests that I felt were needed.  They all pass, which is easier when you write the test after the fact, but I  can cause them to fail by reverting some of the code back to original so I think they are valid.  If you have other tests you would like to see just le

[2020-11-04 06:48] bdraco commented on #42001
Use a value template to set the value of the sensor to something like 'OK' as the whole response is ending up in the state

[2020-11-04 06:54] bdraco commented on #42752
[code]

Maybe make a custom integration that uses `objgraph` to log the above.  Then you can watch `Growth` over time to see what gets added.

[2020-11-04 06:59] tr1plus commented on #42752
We are almost 24h later (like 21 I think) from my last message where I disabled upnp and brother. My ram has been a bit less aggressive(still climbing but much slower):
![image](https://user-images.githubusercontent.com/7044850/98078988-6769ee80-1e73-11eb-9337-0372f7697271.png)

[2020-11-04 07:03] mvieleers commented on #42725
Sure, no worries. I appreciate all the work done on the integration.

So far, so good with testing. During workdays the consumed and produced sensors for both off_peak and peak display the correct numbers and switch correctly to off_peak at 23.00h and to peak at 07.00h.
Now, I have to wait until the weekend to see if the issue in the weekend is fixed where I saw consumed_peak and consumed_off_peak

[2020-11-04 07:12] Stimpy68 commented on #42752
@tr1plus I also used the Brother integration, removed it yesterday in 0.117.2, but no real big difference, downgraded to 0.116.4, you can clearly see when I did that, also noticed that cpu is less choppy in 116.4. So maybe it's upnp?

![Knipsel](https://user-images.githubusercontent.com/26799862/98080114-34c0f580-1e75-11eb-8006-6249ecd3bb1c.JPG)

[2020-11-04 07:28] bieniu commented on #42752
Do you turn off your Brother printer at night or whn you don't use it? If yes, please test this https://github.com/home-assistant/core/issues/42749#issuecomment-721214380

[2020-11-04 07:32] Stimpy68 commented on #42752
@bieniu Only turn it on when I'm using it, and thats just a few times a week (it's Brother DCP-9020CDW laser printer/scanner). When done, turning it off.
But as I said, removing the Brother integration didn't make a significant difference in the mem usage, it still was climbing.

[2020-11-04 07:33] amelchio commented on #42538
Thanks. I am on Premium but not Family so it seems like that could potentially be an issue. If anyone is reading along, feel free to share more working/non-working configuration details.

Is anyone comfortable doing a wireshark/tcpdump of the communication that the official app does?

[2020-11-04 07:33] McGiverGim commented on #42752
I have started a 60 minutes memory profiling. I will let you know when finished.
I have done one with 60 seconds to test that it works, but I suppose this will show almost nothing, here is the result (I don't know nothing about python or HA code, so I can't help with this):
![image](https://user-images.githubusercontent.com/2673520/98081932-422baf00-1e78-11eb-9bd1-630f2d6a4b36.png)

And yes, I hav

[2020-11-04 07:52] #42659 closed

[2020-11-04 07:52] #42683 closed

[2020-11-04 07:52] #42552 closed

[2020-11-04 07:52] #42574 closed

[2020-11-04 08:03] raman325 commented on #31642
got it @roger-rainey well hopefully the latest PR addresses the problem

[2020-11-04 08:03] llevering commented on #42752
I can confirm as well. It might be that it is no so much the brother integration as being an underlying library of course. But for me disabling the Brother integration is a work around.

@bieniu I can confirm that my brother is mostly turned off. I will try to use your version, however I am at work now so it will at first just be tonight to test. But it seems that you're definitely on to something

[2020-11-04 08:06] UdoK commented on #42787
The problem is that the RPi with HA is connected over Ethernet on Power network to the Mikrotik device which probably sometimes times out. Is there a way increase the timeout time?

[2020-11-04 08:08] bieniu commented on #42752
@llevering Probably `brother` integration causes memory leaking when device is turned off and restarting HA. If this scenario fits your usage, this test version may solve the problem.

[2020-11-04 08:12] Stimpy68 commented on #42752
Upgraded again to 0.117.2 and disabled upnp (ssdp & zeroconf), Brother integration was removed yesterday.
Will keep an eye on memory usage in the coming hours.

[2020-11-04 08:15] OGKevin commented on #42072
I would love to do it! 😊

[2020-11-04 08:17] dauden1184 commented on #42646
Made some tests:
Prev/Next does not work with youtube music (but they work with google play music).
Also, in google music, when at the end of a playlist, the prev/next buttons completely disappear (so i can't return to the previous track). I expected only the next button to be disabled/not visible)

The on/off button does not work with chromecast audio, but it seems to be ok with regular chromecas

[2020-11-04 08:18] ramyi commented on #42752
Try creating a snapshot. It normally happens after that for me.

On Wed, 4 Nov 2020 at 7:12 pm, Stimpy68 <notifications@github.com> wrote:

[2020-11-04 08:32] Stimpy68 commented on #42752
@ramyi Did that now, now we wait ;-)
Core RAM usage stayed the same, Supervisor RAM usage increased a lot, but doesn't seem to be going down.... stays around 32% usage (3GB memory allocated), Core uses 9% at this moment.

But creating a snapshot seems to create errors:

20-11-04 08:29:14 INFO (MainThread) [supervisor.snapshots] Creating new full-snapshot with slug 2ba11093
20-11-04 08:29:14 INFO (

[2020-11-04 08:37] McGiverGim commented on #42752
Dump of 60 minute profiling ready, here it is:
[heap_profile.1604474975861335.zip](https://github.com/home-assistant/core/files/5486474/heap_profile.1604474975861335.zip)

Is clear that the memory had the leak during the test:
![image](https://user-images.githubusercontent.com/2673520/98088011-38f31000-1e81-11eb-8edc-477c93361f17.png)

I don't know if some of the experts can look at it to see if i

[2020-11-04 08:56] ottelo9 commented on #41771
Test is running.

[2020-11-04 09:04] #42663 closed

[2020-11-04 09:05] humanoidlux opened #42822 "DSMR integration isn't working anymore after updating from 0.113.1 to 0.116.x and 0.117.2"
## The problem
After updating from 0.113.1 to 0.116.x and also 0.117.2 the DSMR integration isn't working anymore. The entities are no longer available.

## Environment

- Home Assistant Core release with the issue: 0.117.2
- Last working Home Assistant Core release (if known): 0.113.1
- Operating environment (OS/Container/Supervised/Core): HassOS 4.15 on Proxmox
- Integration causing this issue:

[2020-11-04 09:15] #42412 closed

[2020-11-04 09:17] #28811 closed

[2020-11-04 09:23] WarmChocolateCake opened #42823 "Volumio component should check before attempting to connect"
## The problem

Volumio Integration used for a single device.
When the Volumio (Raspberry Pi) is powered off, the Integration tries to connect and fails with a python exception every 60 seconds with the errors filling the log as shown below.

## Environment

- Home Assistant Core release with the issue:  0.117.2
- Last working Home Assistant Core release (if known): unknown
- Operating environment

[2020-11-04 09:35] frenck commented on #42822
Potential duplicate of #40595

[2020-11-04 09:40] frenck commented on #42816
Hi there @kaciker,

Thanks for opening up an issue. When creating an issue, an issue template is presented. However, it is almost completely empty. This causes your issue report to be incomplete.

Please edit your issue and provide as much of the requested data as possible. Without it, we won't be able to help you.

Thanks already! 👍

[2020-11-04 09:43] Stimpy68 commented on #42752
1 hour passed, and no noticeable increase in RAM usage after disabling upnp

![Knipsel2](https://user-images.githubusercontent.com/26799862/98094922-334df800-1e8a-11eb-9d6c-d91d16577c41.JPG)

Just after 9:00 (the dip) disabled upnp and upgraded from 116.4 to 117.2

[2020-11-04 09:43] frenck commented on #42810
"not working" is not something that in general one can work with. There must be something in the logs, is your configuration even loaded? What did you try? What do we have to do to reproduce it?

[2020-11-04 09:46] 4sag commented on #37547
tuya smart ir with air conditioning not work

[2020-11-04 09:46] DanskerUS commented on #42752
Creating snapshot bumps RAM usage from about 5% to 41%. Creating a second snapshot does not further increase RAM usage. Reboot restores RAM back to about 5%.

Running on a NUC w 8GB RAM.

[2020-11-04 09:51] rickieyyy opened #42825 "Trafri not loading after upgrade > 0.115"
## The problem

Hi,

I am running 0.114.4 right now, as this version does not have any Tradfri issues.
As soon as I upgrade to the lates version or any version from 0.115.0 and above, my Tradfri intergration stops working.
I tried running in Python 3.7, 3.8 and 3.9 and they all have the same issue.

## Environment

arch | armv7l
-- | --
dev | false
docker | false
hassio | false
installation_type |

[2020-11-04 09:52] adamkrol93 commented on #41771
So let's keep those tests for one week before I will create a PR.

[2020-11-04 09:54] OnFreund commented on #42823
Not sure what you mean by "check before attempting to connect". The integration is failing to connect, and thus prints out an error.

[2020-11-04 09:58] fsghzh commented on #42608
same problem here. downgrade to 0.116.4 solved the problem

[2020-11-04 10:12] BMicraft commented on #42001
Thanks, I was not aware this is what is happening. I can't find that mentionend in the docs

[2020-11-04 10:12] #42001 closed

[2020-11-04 10:22] fribse commented on #40612
This morning I see this in the log (the keep-alive automation is still working):

[code]

[code]

[2020-11-04 10:30] #42781 closed

[2020-11-04 10:46] McGiverGim commented on #42752
Maybe is too soon to comment, but with the updated test version of Brother by @bieniu my system seems stable in memory after two hours.
![image](https://user-images.githubusercontent.com/2673520/98101541-a9565d00-1e92-11eb-8484-b6cc9fcf42eb.png)

I have a slightly more memory usage, I don't know if this will continue growing in the next hours, seems stable. I will keep an eye on it. I have noticed

[2020-11-04 10:49] ih8gates commented on #42790
Forum post: https://community.home-assistant.io/t/squeeze-integration-media-player-play-media-has-stopped-working/

[2020-11-04 10:53] Stimpy68 commented on #42752
@McGiverGim I removed the brother integration and the mem leak remained, I disabled upnp and it seems that this solved it (for now), memory usage is rising but MUCH more slowly than when upnp was enabled. But it has just been 2 hours now, so will get back after 24 hours.

[2020-11-04 11:06] bieniu commented on #42752
@McGiverGim Memory leakage in Brother integration can only occur when restarting the HA when the printer is turned off/offline. Is this the case for you?

[2020-11-04 11:07] McGiverGim commented on #42752
Yes, it is. I have usually it powered off, and I restarted at each update, so it seems my case.

[2020-11-04 11:09] bieniu commented on #42752
@McGiverGim Could you do one more test for me? Save `__init__py` file from this gist https://gist.github.com/bieniu/096bd2e50b1befb6b8c6bea6616a8ba6 to `/config/custom_components/brother`, turn off the printer, restart HA and watch the memory usage.

[2020-11-04 11:12] McGiverGim commented on #42752
Of course, I will do it and report in one or two hours...

[2020-11-04 11:14] tr1plus commented on #42752
I feel it's either UPNP or Brother (my brother printer is always off when starting home assistant - I only turn it on when I need to print which is not often)

![image](https://user-images.githubusercontent.com/7044850/98104776-369bb080-1e97-11eb-93a4-a52639aa682e.png)

[2020-11-04 11:20] McGiverGim commented on #42752
@bieniu One thing more, only to be sure... do you want that I replace the file from your test version or that I remove your test version and I put this file there, all alone?

[2020-11-04 11:23] bieniu commented on #42752
@McGiverGim Please only replace `__init__.py` file.

[2020-11-04 11:34] D33M commented on #42011
I updated HASS to 0.117.3 and included the `worker.py` from the PR. I will test the `ONVIF` integration today and will report the results here after I'll be sure.

[2020-11-04 11:37] Mariusthvdb opened #42828 "OpenWeatherMap Forecast Time: Invalid date"
## The problem

core OpenWeatherMap sensor Forecast Time  shows Invalid date

<img width="392" alt="Schermafbeelding 2020-11-04 om 12 34 24" src="https://user-images.githubusercontent.com/33354141/98107056-3fda4c80-1e9a-11eb-8e3f-dfe4446490fb.png">

Factual state being:

<img width="397" alt="Schermafbeelding 2020-11-04 om 12 34 17" src="https://user-images.githubusercontent.com/33354141/98107092-

[2020-11-04 11:40] KC-inDomus commented on #39781
same problem. need to manually reload the integration to make it works.

[2020-11-04 11:41] Mariusthvdb opened #42829 "OpenWeatherMap doesn't follow language setting"
## The problem

Even though my language is set to English:

<img width="598" alt="Schermafbeelding 2020-11-04 om 12 37 57" src="https://user-images.githubusercontent.com/33354141/98107325-abbcb500-1e9a-11eb-9305-b4c765e8afde.png">

sensor 'Weather' is displayed in Dutch:

<img width="397" alt="Schermafbeelding 2020-11-04 om 12 37 37" src="https://user-images.githubusercontent.com/33354141/98107370

[2020-11-04 11:47] emontnemery commented on #42798
Please share the automation also and enable debug logging as suggested below, and share a log where the problem is reproduced.

Log settings:
[code]

[2020-11-04 12:35] Veldkornet opened #42830 "ZHA Group State Changes does not Update entity state"
## The problem

Using ZHA on Conbee II on an IntelNUC i7. I migrated all of my Philips Hue devices from Hue to ZHA. Can't say how it was prior to 0.117, as I've only recently moved it all over...

In my experience, I turn off (or on) a group of lights and **in real life the lights are turned on or off correctly**, but in HA the state for the individual lights sometimes hang in the old state.

I've

[2020-11-04 12:48] tomjmul commented on #38724
I don't have dots in my email and it doesn't work

[2020-11-04 12:48] McGiverGim commented on #42752
@bieniu with the gist init file, it seems the leak is here again:

![image](https://user-images.githubusercontent.com/2673520/98113734-6309f980-1ea4-11eb-9c23-bfaff2a8b59c.png)

If I'm not wrong this is the only difference between both init files:

![image](https://user-images.githubusercontent.com/2673520/98113396-e414c100-1ea3-11eb-898d-3d4cfe611610.png)

[2020-11-04 13:15] bieniu commented on #42752
Yes, that's the only difference. Thanks for help with testing.

[2020-11-04 13:29] dmulcahey commented on #42830
Hue lights don’t follow the ZCL spec and they have to be polled. If you wait a few minutes for all of the polling to finish what happens to the UI? Enable debug logging and attach logs of the interaction please.

[2020-11-04 13:44] TheDK opened #42834 "Update Check: aiohttp 3.6.2 requires multidict<5.0,>=4.5, but you'll have multidict 5.0.0 which is incompatible."
## The problem
Check Home Assistant configuration for all 0.117 versions so far shows a problem with aiohttp dependency on multidict:
[code]

## Environment
HassIO fully supervised on RasPi 3b

arch | armv7l
chassis | embedded
dev | false
docker | true
docker_version | 19.03.11
hassio | true
host_os | HassOS 4.15
installation_type | Home Assistant OS
os_name | Linux
os_version | 4.19.127-v7
python

[2020-11-04 13:50] poudenes commented on #42834
Had same issue at moment to upgrade to `0.117.0`. Used command:
`pip3 install --upgrade --force-reinstall multidict==4.7.6`
Install went ok. The upgrade to `0.117.1 `and `0.117.2 `went ok as well
Now with `0.11.7.3` get above error again. Used again command:
`pip3 install --upgrade --force-reinstall multidict==4.7.6`
Now my system is ok again to upgrade to `0.117.3`

[2020-11-04 13:56] freekode commented on #42829
What is your configuration for OpenWeatherMap?

[2020-11-04 14:02] TheDK commented on #42834
As far as I understood this is not possible when using HassOS as provided here for direct installation:
https://www.home-assistant.io/hassio/installation/

[2020-11-04 14:14] Mariusthvdb commented on #42829
<img width="402" alt="Schermafbeelding 2020-11-04 om 15 14 26" src="https://user-images.githubusercontent.com/33354141/98122132-7622c680-1eb0-11eb-88cb-cd55b01146fe.png">

nothing else but this?

[2020-11-04 14:22] pergolafabio commented on #42540
is it merged to 117.3 ? dont see it in rls notes while its mergeD?

[2020-11-04 14:22] sr-as2 commented on #42589
Juste for information, updated to 0.117.3 but problem is still here

[2020-11-04 14:28] freekode commented on #42829
Also I suppose you already restarted your HA server?

[2020-11-04 14:31] googanhiem commented on #42540
No, its not included in 0.117.3

[2020-11-04 14:37] jdeath opened #42835 "MQTT Parse Error for HEX Color"
## The problem

Tasmota sometimes changes Color to hex but HSB in decimal. Homeassistant throws the below error. SetOption17 1 will fix this, but the tasmota devs say change to hex is the desired behavior once use the remote.

  Exception in rgb_received when handling msg on 'tele/tasmota_CEEDED/STATE': '{"Time":"2020-11-04T15:19:20","Uptime":"24T20:41:34","UptimeSec":2148094,"Heap":25,"SleepMode"

[2020-11-04 14:37] hunterjm commented on #42752
I merged the fix for Brother and tagged it for 0.117.4 - Will keep this open since there are some reports in here of an issue without the Brother integration enabled.

[2020-11-04 14:41] FransTwisk commented on #30618
Just tested this again with Tasmota 9.0.0.3 pre-release running on one of my lights, and the just released Home Assistant 0.117.3 and this completely solves the issue. Thanks @emontnemery! I'll go and create some scenes now :)

[2020-11-04 14:41] Mariusthvdb commented on #42829
yeah, you suppose right ;-)

many times aamof, this has been like this for some time now, just updated to 117.3 and still there.

[2020-11-04 14:59] kaciker commented on #42816
This exactly the same problem that I have +++

[2020-11-04 15:00] kaciker commented on #42816
Hello, I think that is not needed, Actpohomoc hi did the work. Hi have exactelly the same problem. Let me know if you need the same raport

[2020-11-04 15:05] RobBie1221 commented on #42822
I asked @humanoidlux to make a new issue in #40595, because that issue handles ungraceful disconnects which are not detected. As far as I can see, in this case the validation in yaml import fails.

[2020-11-04 15:08] RobBie1221 commented on #42822
Could you try to put back original `sensor.py` and add to configuration.yaml key below? I'd like to see the telegram it's receiving.

[code]

[2020-11-04 15:09] emontnemery commented on #42835
Tasmota color format is controlled by SetOption17: https://tasmota.github.io/docs/Commands/#setoption17
If your Tasmota changes color format by itself, please raise that as a Tasmota issue.

[2020-11-04 15:09] #42835 closed

[2020-11-04 15:10] jdeath commented on #42835
Tasmota claims the change is expected and they have no plans to change
behavior

On Wed, Nov 4, 2020 at 10:09 AM Erik Montnemery <notifications@github.com>
wrote:

[2020-11-04 15:13] rikroe commented on #34776
Could you please try if you still have the issue with [0.117.3](https://www.home-assistant.io/blog/2020/10/28/release-117/#release-01173---november-4)?
I've changed some things in the lib but cannot confirm this as I just don't get this error message.

[2020-11-04 15:14] emontnemery commented on #42835
So, the problem is that Tasmota **still** overrides SetOption17 based on incoming color values, I thought that behavior was fixed?
Anyhow, there's nothing Home Assistant can do to fix that.
What you could do is to make sure no one sends color commands to the Tasmota in hex format.

[2020-11-04 15:16] jdeath commented on #42835
Yes, that is what happens. Ok thanks. I guess I can run an automation to
set it. It just makes lots of error logs.

On Wed, Nov 4, 2020 at 10:14 AM Erik Montnemery <notifications@github.com>
wrote:

[2020-11-04 15:24] Veldkornet commented on #42830
Damn Hue... I was using it with the Hue Bridge before, instead of ZHA and didn't see the issue, granted I understand that it's not quite the same thing.
After a while they do indeed switch off. so if that how it's expected to work then that's... unfortunate.
Logs attached.

[2020-11-04 15:34] #42188 closed

[2020-11-04 15:48] allenporter commented on #42793
Thank you. I think there may be a bug in the underlying python library and I'll take a look.

[2020-11-04 15:52] mkanet commented on #42608
I haven't heard any news about a fix for this yet.  I'm still using version 0.116.4

[2020-11-04 15:57] zxdavb commented on #42663
@jonathan0104

My testing hasn't reproduced this, and the hotfix #42821 is so simple, that I doubt that it has introduced a new bug (or were you testing #42730, which has now been updated).

Can you test this after the next version (point release) of HA is released, and open up a new issue if so? There is a 1 second delay, but this is non-deterministic, and 2 seconds may be better...

[2020-11-04 15:59] benquan commented on #42646
I am trying with YouTube and Emby and next and prevouos track buttons do not work.

[2020-11-04 16:05] gxgani commented on #42591
Just noticed API was upgraded from 4.37 to 4.38 and integration seems to be functional.

[code]

[2020-11-04 16:05] #42591 closed

[2020-11-04 16:10] Adminiuga commented on #42830
just zigpy debug is not enough. need all in https://www.home-assistant.io/integrations/zha/#debug-logging
What radio?

After a group is toggled, all members are polled a few seconds later. makes me wonder how successful those polls are. If you see any "Delivery Failure" exceptions a few secs after group command and NWK address (first 4 hex digits in `... [0x2393:11:0x0008] ZCL deserialize ...`) ma

[2020-11-04 16:13] Adminiuga commented on #42830
Actually I do see it
[code]

[2020-11-04 16:13] bachya commented on #42776
I just ran into this again after upgrading to 0.117.3:

[code]

My AirVisual dashboard once again shows the 502 value:

![image](https://user-images.githubusercontent.com/47216/98136266-faa82180-1e7d-11eb-8164-bebe8d32af8e.jpeg)

I'll reach out to AirVisual and see if they can help me understand what's going on.

[2020-11-04 16:16] FaserF opened #42838 "VLC Integration not working"
## The problem

The VLC Integration wont load.

## Environment

- Home Assistant Core release with the issue: 0.117.2
- Last working Home Assistant Core release (if known):
- Operating environment (OS/Container/Supervised/Core): OS
- Integration causing this issue: VLC
- Link to integration documentation on our website: https://www.home-assistant.io/integrations/vlc/

## Problem-relevant `configur

[2020-11-04 16:18] rickkdotnet commented on #42752
I also see the memory leak since 0.117.x but I don't have the Brother integration, see below for my integrations.
Will try some things in this thread.
<img width="1198" alt="image" src="https://user-images.githubusercontent.com/50338262/98136903-b3dc1b00-1ec1-11eb-83a6-0bbdfd5a8fc4.png">

[2020-11-04 16:20] uvjustin commented on #42805
Interesting, I haven't seen this at all on my end. The pyforked-daapd library should restart the websocket connection on failure, and there should be a warning message provided on restart.
Can you set the logging level for the pyforked-daapd library to debug and report back with any messages?
Also, how are you installing forked-daapd? Is it through a package manager or are you compiling it yoursel

[2020-11-04 16:28] Veldkornet commented on #42830
So, anything to do about it? I'm using a Deconz Conbee II. Sometimes they all just work perfectly. I thought I got a pretty decent Zigbee network going to avoid these types of things :) These lights in question are all literally right next to each other and they're all powered (of course), all of which are less than 1m form the controller.

FYI, more Logs:

[code]

[2020-11-04 16:34] humanoidlux commented on #42822
Here are the the screenshot.

![log1](https://user-images.githubusercontent.com/46635545/98138759-b93a6500-1ec3-11eb-922c-1a8f0729fc39.PNG)

Here the 1st telegram

![first_telegram](https://user-images.githubusercontent.com/46635545/98138825-c8b9ae00-1ec3-11eb-857d-a77327cb92c8.PNG)

the last telegram
![last_telegram](https://user-images.githubusercontent.com/46635545/98138851-d111e900-1ec3-11eb-9

[2020-11-04 16:37] RobBie1221 commented on #42822
Could you go to Configutation->Logs and copy/paste the output as plain text? Then I can copy it in my daemon and see what happens.

[2020-11-04 16:50] franmiele commented on #42810
Here is the log and this is in my config yaml:
  - platform: ted5000
     host: 192.168.5.146
All I need to do to recreate the issue is restart my system

[home-assistant.log](https://github.com/home-assistant/core/files/5489233/home-assistant.log)

[2020-11-04 16:50] jeffh0821 commented on #42733
Still present through 0.117.3. Last working in the 0.116.x series.

[2020-11-04 16:51] withdemon1 opened #42839 "Integration Broadlink Rm4c_pro"
## The problem

Hi, i can´t integrate broadlink rm4c pro, when i use integrate mode said Aborted Device not suported.

## Environment

- Home Assistant Core release with the issue: 0.117.3
- Last working Home Assistant Core release (if known): 0.114
- Operating environment (OS/Container/Supervised/Core): HasssOS
- Integration causing this issue:  Broadlink
- Link to integration documentation on ou

[2020-11-04 16:51] #42433 closed

[2020-11-04 16:56] mike9011 commented on #42793
Thanks! Please let me know if you need more logs etc.

[2020-11-04 16:59] franmiele commented on #42810
Well, I hate to admit it but it appears my TED server stopped working. I should have checked it first. Sorry.

[2020-11-04 16:59] #42810 closed

[2020-11-04 17:05] bagobones commented on #25705
Any chance we can re-open this.. Seems silly that that with the OctoPrint server up but the printer down (no serial link) the integration tosses errors instead of just indicating the printer is not connected or something.

[2020-11-04 17:10] DanskerUS commented on #42752
Updated to 117.3. Making a snapshot still cause Supervisor RAM Usage to jump to 40.6 percent. Never had ONVIF or Brother integration in use here.

[2020-11-04 17:11] bachya commented on #42776
Submitted a helpdesk ticket to AirVisual; they said it may be up to two business days before I hear back.

[2020-11-04 17:15] Adminiuga commented on #42830
In this particular log snippet, I only see 1 failed request on the first glance:

[code]

That was polling of a HUE light.
With logging enabled, after zigpy is started look in the log for:
1. firmware version
[code]
2. current channel:
[code]

3. Do a WiFi scan and check what channel your/neighbors WiFi is on. and what is the quietest wifi channel in 2.4GHz band

[2020-11-04 17:16] Adminiuga commented on #42830
BTW, this assumes you follow all Standar deCONZ guidelines, like running ConBee on an USB extension off the USB2 port, not near any USB3 devices

[2020-11-04 17:24] bachya commented on #42814
@slomanl1 Your issue (motion sensor entities not being created) isn't the same as what @ensjens is reporting; that said, I want to look into it, so please create a separate issue.

@ensjens Please turn on `DEBUG`-level logging for the SimpliSafe integration, restart HASS, and after removing any sensitive information, post the appropriate lines. You can turn on `DEBUG`-level logging in `configurati

[2020-11-04 17:27] dbanyos opened #42840 "ZHA - lumi.plug.mmeu01 not showing power monitor measures"
## The problem
I have a Sonoff Zigbee bridge updated with tasmota and the Zigbee firmware "ncp-uart-sw_6.5.5_115200.ota" following Digiblur's web page.
After pairing a couple of Xiaomi plugs model ZNCZ04LM (https://zigbee.blakadder.com/Xiaomi_ZNCZ04LM.html), I can manage power on and off but I don't see the power monitor measures.

## Environment

- Home Assistant Core release with the issue:  0.1

[2020-11-04 17:30] christophkreutzer commented on #42805
Thanks for your very fast response!

As I've written, I did not find any warnings in the logs. I now did try to enable debug logging, but I'm unsure if I do it correctly. According to: https://www.home-assistant.io/integrations/logger/
[code]
Is that correct?

I'm running forked-daapd on Arch Linux. Since it's not in the repositories, I install it from AUR with yay: https://aur.archlinux.org/packa

[2020-11-04 17:30] raman325 commented on #31642
the changes related to this were pushed in 0.117.3. Please let me know if you continue to see the problem after updating

[2020-11-04 17:30] ggravlingen commented on #42563
Sorry, not much I can do here. Please try running HA without a VM and see if that helps.

[2020-11-04 17:33] tobycth3 commented on #42814
I’m not seeing any of my sensors. Just the base station, keypad and temp sensor. Missing entry sensors, smoke/co and motion for some reason.

I'm seeing this in my logs:

Logger: homeassistant.components.binary_sensor
Source: components/simplisafe/binary_sensor.py:112
Integration: Binary sensor (documentation, issues)
First occurred: 12:30:49 PM (1 occurrences)
Last logged: 12:30:49 PM

Error whil

[2020-11-04 17:49] jempo commented on #42493
Fixed in 0.117.4 for me! Many Thanks.

[2020-11-04 17:53] wonderiuy opened #42842 "117.3 cannot connect to Axis IPCams"
integration: axis
Hello,
I've just upgraded to HA 117.3 and I've lost connection to Axis IPCams.
Removing and adding integration did not helped. The error message of the integration panel is "Cannot connect" whiel the error in the logs is:

Logger: aiohttp.server
Source: components/axis/config_flow.py:185
First occurred: 18:10:23 (1 occurrences)
Last logged: 18:10:23
Error handling request

Traceb

[2020-11-04 17:54] hmmbob commented on #42752
Suggest to install 0.117.4, as it contains the brother fix:

https://github.com/home-assistant/core/releases/tag/0.117.4

[2020-11-04 17:55] vistalba commented on #41645
@bdraco Will this come in a 0.117.x fix release or do we've to wait until 0.118?

[2020-11-04 18:03] kintaroju commented on #42493
Thanks guys on working on this, I've tested this and it works as expected now!

[2020-11-04 18:14] mampfes commented on #42779
Unable to reproduce (using 0.117.4 and WeatherMan). All entities (including temperature, humidity, sun, rain, ...) are available.

Did you try to restart the wiffi device?

Please provide log info.

[2020-11-04 18:16] Silverridge commented on #42717
Same here!

[2020-11-04 18:18] bdraco commented on #42589
@sr-as2 The problem addressed in 0.117.3 was only with the `resource_template`.

Can you turn on debug logging so we can get a better view on why you are seeing `failed with peer unexpectedly closed connection`?

[2020-11-04 18:19] bdraco commented on #42608
If this is still a problem, please turn on debug logging so we can get more data about why it cannot connect

[2020-11-04 18:27] DanskerUS commented on #42752
Will do as soon as it become available, thank  you.

[2020-11-04 18:29] ygreq commented on #42763
What are these?

and where can I find them?

[2020-11-04 18:30] Veldkornet commented on #42830
Strange... If the command truly failed though, would it not be that the light would not physically turn on? Physically the lights turn on properly every time without fail so I wouldn't actually notice it unless I look inside HA... which is why I logged the issue.

In general though, yes, I've installed the latest firmware for the Conbee and all the nodes. I do what i can with the WiFi channels but

[2020-11-04 18:32] Adminiuga commented on #42830
The group command did not fail. What failed was the command reading/polling the state of the HUE light after the light was successfully toggled.

[2020-11-04 18:35] mkanet commented on #42608
@bdraco Could you please tell me what specific logger setting I should set?

It's a lot of trouble for me to upgrade to 0.117.0 again, capture the log, then restore version 0.116.4 again... Hence, I want to be certain I capture all the information you guys need before restoring to version 0.116.4 again.

[2020-11-04 18:40] DanskerUS commented on #42752
Updated to 117.4.

Same: making a snapshot makes Supervisor RAM Usage jump to 41.4%.

[2020-11-04 18:43] sidwin9 opened #42844 "No more data from the Freebox Delta"
## The problem

I no longer have any data from my freebox since update 0.117.0, no entity is visible.
After deleting and creating the integration, no entity or devices are detected.

## Environment

- Home Assistant Core release with the issue: 0.117.4
- Last working Home Assistant Core release (if known): 0.116.4
- Operating environment (OS/Container/Supervised/Core): Hass io
- Integration causin

[2020-11-04 18:44] DanskerUS commented on #42752
Rebooting drops it back to 1.5%

[2020-11-04 18:53] bdraco commented on #41645
0.118

[2020-11-04 19:01] elupus commented on #42752
@DanskerUS snapshot memory usage doesn't seem related to this issue with leaking over time.

[2020-11-04 19:03] bachya commented on #42814
@slomanl1 and @tobycth3, FYI, #42845 will fix your issue of missing specific types.

[2020-11-04 19:04] DanskerUS commented on #42752
@elupus OK, should I open a separate ticket?

[2020-11-04 19:14] Adminiuga commented on #42752
1.5% after a rebooting is not indicative.
Reboot the system and run it without snapshotting it for a few days, the memory usage after a few days is going to be your baseline, e.g. 51% Take a snapshot. Does it jump to 92% and stays there? if yes, then open another ticket.

[2020-11-04 19:18] DanskerUS commented on #42752
After running some hours the baseline is around 5%. Soooo, should I turn off the nightly backup...?

Is it normal to see such a bump in memory use from a snapshot, did not notice this under 116.x or earlier?

[2020-11-04 19:19] RobBie1221 commented on #42822
The reason it's not working is that during import, it validates connection by searching for equipment identifier for electricity and gas meter.
Those are:
`0-0:42.0.0(53414731303330373030313039333531)` for electricity and
`0-1:96.1.0(3232323241424344313233343536373839)` for gas
It needs the equipment identifier to generate unique ids for the entities and set a unique id for the ConfigEntry.

The D

[2020-11-04 19:22] gluap commented on #42825
My observations match @rickieyyy's report. After upgrading to 0.117.4 my tradfri wasn't working any more. I see the same error message as in the original report. I also tried removing and re-adding the integration but to no avail, I wasn't even able to re-add it because it was complaining about timeouts. Tracing the issue was complicated by me remembering I had upgraded to >=0.115.0 some time ago.

[2020-11-04 19:32] bigboban opened #42847 "Netatmo partially broken"
## Netatmo not working

After updating to 117.4 some Netatmo values broken. Netatmo public all values unavalable, from outdoor station some ok some not - for example temp ok, min temp not. Indoor all values fine.

## Environment

- Home Assistant Core release with the issue:  117.4
- Last working Home Assistant Core release (if known): 117.0/117.1
- Operating environment (OS/Container/Supervised/C

[2020-11-04 19:32] bachya commented on #42814
@slomanl1 and @tobycth3, FYI, #42846 will fix your issue of missing specific types.

[2020-11-04 19:37] Adminiuga commented on #42752
If you are taking snapshots at night as the backup, then no need to turn it off. Just take a screenshot of memory usage before and after the snapshot. Keep it till next night/next snapshot and take a screenshot before/after the 2nd night snapshot.
Open the ticket, post the details.

[2020-11-04 19:38] kukulich commented on #36284
It looks there's problem in translations. I've just fixed Czech translation in lokalise based on the commit https://github.com/home-assistant/core/commit/6166a7191b7f56fc609bc4590b9cf6663f9a3823 and everything works.

[2020-11-04 19:42] broyuken opened #42848 "Color Temp no longer available (Tasmota, MQTT 0.117)"
## The problem

I have a Novostella floodlight with Tasmota. Since upgrading to 0.117 I no longer have the ability to change the color temperature. I have tried multiple different versions of Tasmota with the same result, rebooted everything multiple times but nothing seems to work. I can still control color temp through the tasmota UI.

## Environment

- Home Assistant Core release with the issue

[2020-11-04 19:49] RobBie1221 commented on #42822
Made a pull for supporting library: https://github.com/ndokter/dsmr_parser/pull/62

Once that is merged and there is a new PyPi package, this can be fixed on HA side.

[2020-11-04 19:49] cgtobi commented on #42847
Oh dear, thanks @bigboban. I'll fix it immediately.

[2020-11-04 20:04] crosbyh commented on #42538
I can do that if provided some guidance on the process.

[2020-11-04 20:05] staraxis commented on #42741
Cheers, let me know if there's any more info you need.

[2020-11-04 20:07] pergolafabio commented on #37547
i have 3 devices in smart life
2x led strips => visible in HA
1w powerplug => not visible

do i need to load the custom component to make it working?

[2020-11-04 20:21] Adminiuga commented on #42840
It does not have ZCL power measurement or smart_energy ZCL cluster. Doesn't follow Zigbee standards, so no metering in ZHA.

Do you know how does it report power measurement?

[2020-11-04 20:45] pergolafabio commented on #37547
ok, i renamed my powerplugs and name in the smartlife app, i removed the spaced
did a restart of HA, and now powerplug is visible :-)

[2020-11-04 20:52] pierrepinon commented on #35304
The problem is still there !

[2020-11-04 20:54] pierrepinon opened #42852 "BBox integration unusable"
Issue #35304 was closed in summer, but the problem is still here

[2020-11-04 21:06] SNoof85 commented on #42844
Hey :)

No trace available ?

[2020-11-04 21:29] Dinth commented on #42356
I think that aftership changed tiers and now the free one has only 50 tracked numbers and **NO API ACCESS**

[2020-11-04 21:34] WarmChocolateCake commented on #42823
Hi - thanks for looking into this.

I guess I'm comparing with the Roku errors in the same log above - both the Roku & Volumio are powered off, Roku fails gracefully, Volumio causes a cascade of errors.

It's been a while since I've done any serious programming, but I had a look at the pyvolumio code on github, and I'm not sure if it's that's the problem, or the home-assistant media_player code?

[2020-11-04 21:37] freekode commented on #42829
Sensor `openweathermap_weather` contains direct value right from OWM API.
Sensor `openweathermap_condition` contains condition based on weather code.
You can try to update to latest dev version, OWM domain was refactored a lot.

What icon do you propose?

[2020-11-04 21:44] freekode commented on #42829
Unfortunately I don't know why OWM prints value in other language.
You can try to add logging to  `homeassistant/components/openweathermap/__init__.py`
This method contains language value
[code]

This method contains language value for OWM
just put somewhere before `return True`
[code]

[2020-11-04 21:49] Gawronnek commented on #42749
@bieniu work perfect

[2020-11-04 21:58] Kane610 commented on #42842
Thanks for reporting, but this has already been reported https://github.com/home-assistant/core/issues/42415

An issue has been created with upstream library not supporting certain behaviours of the webserver of older Axis firmwares: https://github.com/encode/httpx/issues/1378

[2020-11-04 21:58] #42842 closed

[2020-11-04 22:04] stefanroelofs opened #42855 "Numeric state trigger fires incorrectly after HA reboot"
## The problem
When you have a numeric_state trigger, the automation fires, when it shouldn't, after a restart of HA.

To reproduce the problem:

Define a random input_number:
[code]

Define an automation with a numeric_state trigger:
[code]

* Set the input_number to 5 (so a value below the trigger value of 10)
* Restart HA
* Set the input_number to 4.
* The automation fires when the input_number

[2020-11-04 22:06] stefanroelofs commented on #42855
This issue is the underlying cause for this other issue: #40331

[2020-11-04 22:08] schumi2004 commented on #32496
Same here.
It will not work for more then ~24 hours. Then i need to remove it and reinstall it again.

Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py", line 296, in async_add_entities
    tasks = [
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py", line 296, in <listcomp>
    tasks = [
  File "/usr/src/homeassistant

[2020-11-04 22:11] hal2100 opened #42856 "Automations: switching from the GUI editor to YAML and back does create invalid yaml for conditions"
## The problem
Editing an automation with a state list in the conditions first in the file editor in pure yaml and opening the same automation in the UI editor changes the yaml of the conditions and makes it invalid.
Same happens if an automation is entered in the new automation YAML editor and one switches to the UI editor and back to the YAML editor.

## Environment
- Home Assistant Core release

[2020-11-04 22:14] golles commented on #38585
I think I've got the same issue. Some messages work, others don't. I don't have much in my logs, maybe because of my setup:
I can't see any pattern why it fails, sometimes it fails and if I try the same words/sentence latter, it works fine.

[code]

Also noticed this in the frontend logs
[code]

[code]

[2020-11-04 22:28] sr-as2 commented on #42589
Hi @bdraco
i enable debug log with:

[code]

and there is the logs :

[code]

[2020-11-04 22:35] Mariusthvdb commented on #42829
well, all I can see is the `openweathermap_weather` to be a translation of `openweathermap_condition`, which I have set to use:

[code]

and would like the _weather sensor to use too (hence the anchor ;-) )

btw, I now notice (almost midnight) the same anomaly several other weather sensors/integrations have, a sunny night:

<img width="454" alt="Schermafbeelding 2020-11-04 om 23 34 46" src="https:

[2020-11-04 22:56] aladin2000 commented on #40211
Same in 117.2 for me too

[2020-11-04 23:32] ginodp commented on #41475
I have thw same prob. It worked like always. But since a while now it stops also with no error. After reloading the integration it works again.

[2020-11-05 00:52] pjsg commented on #38189
I'm running 117.1 and I have this problem -- except that I have three z-wave blinds which I want to close at sunset. Today, it only closed one of the blinds (I have a day-scene and a night-scene and then an automation to activate the relevant scene). The log from the ozw only shows it *trying* to close 1 blind.

*** I think that I understand what happened:

This morning, when the day-scene was act

[2020-11-05 01:06] gregf888 commented on #41633
I have just received an RM4C mini from China and it installed without problem.  It seems the product code 0x653a for my Australia sourced RM4 mini is not catered for in the integration.  Is there any way I can add it?

[2020-11-05 01:37] pjsg commented on #38189
After digging around some more, I think that I understand the issue (if you are using the zwave integration as opposed to the zwavemqtt integration).

When some code sets the value of a dimmer, the python-openzwave library only actually commands the device if the value is different to the current (cached) value of the device. Additionally, if the device is being set to dimmer value '0', then it tr

[2020-11-05 01:42] ensjens commented on #42814
Thanks @bachya . Here are the logs requested. It appears to be pulling the data about every 30 seconds as I would expect, but not updating any entities?

`
2020-11-05 01:12:30 INFO (MainThread) [homeassistant.setup] Setting up simplisafe
2020-11-05 01:12:30 INFO (MainThread) [homeassistant.setup] Setup of domain simplisafe took 0.0 seconds
2020-11-05 01:12:34 INFO (MainThread) [engineio.client] At

[2020-11-05 01:56] bachya commented on #42814
@ensjens Just realized that you're reporting a version of 0.116.4. Sensor functionality for SimpliSafe was released in 0.117.0. Can you upgrade to 0.117.4 and try again?

[2020-11-05 01:58] felipediel commented on #41633
It is already merged, we are just waiting for a release.

[2020-11-05 01:59] #42814 closed

[2020-11-05 02:32] rajlaud commented on #42790
I think I see what happened here. The `play_media` service doesn't technically support that format for `media_content_type` `playlist`, but it probably worked in the past because the `play_media` just passed whatever was given to it as `media_content_id` to the LMS server. I made some changes to that code to support loading through the media browser.

I don't have spotify to test it, but I think i

[2020-11-05 02:59] doubleopinter commented on #42563
My ikea hub has taken a dump and is locking up constantly now so I’m just going to move away from it. Sorry I can’t help any more

[2020-11-05 03:01] uvjustin commented on #42805
Looks right. but the logging namespace is actually `pyforked_daapd` with an underscore not a hyphen.

For Debian the package is out of date but you can build it yourself pretty easily using the instructions here: https://github.com/ejurgensen/forked-daapd/blob/master/INSTALL.md#quick-version-for-debianubuntu-users . Remember to use `--with-libwebsockets` and probably `--enable-chromecast`. For Ras

[2020-11-05 04:16] slomanl1 commented on #42814
Hi Aaron,
I am confused. I saw the motion sensor code fixed in the repository. How do
I get a version to test/ Can I load it as a custom component?
Larry Sloman

On Wed, Nov 4, 2020 at 12:03 PM Aaron Bach <notifications@github.com> wrote:

[2020-11-05 04:38] bachya commented on #42814
@slomanl1 You have a couple of options:

1. Downloaded the latest SimpliSafe code in the `dev` beach and use it as a custom component.
2. If a 0.117.5 is released, us that version.
3. If no additional patch is released, the 0.118 beta will have it.

[2020-11-05 05:37] Stimpy68 commented on #42752
24 hours later and upgrading to 0.117.3, some hours later to 0.117.4 (the dips in the chart) RAM usage stayed stable (upnp disabled)

![Knipsel](https://user-images.githubusercontent.com/26799862/98201991-4071f200-1f31-11eb-8d16-a80023a5123b.JPG)

Will enable upnp now and will keep an eye on RAM usage

[2020-11-05 05:50] yuvalabou commented on #42668
You may also see it on the web UI of esphome, Unconnected devices show a red line

[2020-11-05 06:10] air720boarder commented on #42307
@FuzzyMistborn , I’ve been using your HACS package but bridge HA to homekit for general usage. Any way to make that bridge work? If not, is it worth considering supporting the cameras even for motion integration?

[2020-11-05 06:18] elupus commented on #42687
That gave a hint. It's doing a retry on setup.

[2020-11-05 06:26] elupus commented on #42687
Here is very likely our problem: https://github.com/home-assistant/core/blob/b1ed5a3e79dff556db6671ffcd670c2480e7ae7f/homeassistant/components/rfxtrx/__init__.py#L267

The asynctimeout will cause the library to not clean up properly. It does not handle the cancellation exception internally and the reading thread ends up active. This can't return retry. It must by large value and complete failure.

[2020-11-05 06:36] RobBie1221 commented on #42687
The timeout cannot be too large though because it will block HA startup.

[2020-11-05 06:50] elupus commented on #42687
Startup will not be blocked by an integration anymore. It Will start with a warning that not all integrations are loaded.

So 30 seconds are fine, and then abort loading, not retry. To get working retry we need to fix lib.

[2020-11-05 06:57] axwell opened #42863 "Nest SDM sensor not updating"
## The problem

After successfully activated NEST SDM API, i can see temperature & humidity values, but they are only updated if i hit reload on the nest integration.

## Environment

- Home Assistant Core release with the issue: 0.117.3
- Last working Home Assistant Core release (if known): n/a
- Operating environment (OS/Container/Supervised/Core): Container
- Integration causing this issue: NES

[2020-11-05 07:02] ottelo9 commented on #41771
I got an error and no data anymore:

[code]

[2020-11-05 07:07] slomanl1 commented on #42814
Aaron,
Thank you
I installed it as a custom component as you suggested and it works
perfectly.
Larry

On Wed, Nov 4, 2020 at 9:39 PM Aaron Bach <notifications@github.com> wrote:

[2020-11-05 07:15] adamkrol93 commented on #41771
@ottelo9 Can you show me more logs about it? I would like to see the stacktrace.

[2020-11-05 07:18] r100gs commented on #42779
OK, since update to 0.117.3 and 0.117.4 everything is working again.

After update to 0.117.4 it stopped working again, but after restart of my homeassistant-VM everything is fine again

Best regards,

Stefan

-----Ursprüngliche Nachricht-----
Von: Steffen Zimmermann <notifications@github.com>
Gesendet: Mittwoch 4 November 2020 19:14
An: home-assistant/core <core@noreply.github.com>
CC: r100gs <s.

[2020-11-05 07:21] Stimpy68 commented on #42752
1 hour after enabling upnp, memory usage seems stable (running 0.117.4)

![Knipsel2](https://user-images.githubusercontent.com/26799862/98209663-9b124a80-1f3f-11eb-9406-33c76ff2bd7d.JPG)

Turned on my Brother printer and will wait for HA to discover it, will add that.

[2020-11-05 07:50] D33M commented on #42011
After 24 hours with many intervals watching the stream, there are no symptoms described earlier - the camera did not freeze (or I did not see it) and in logs, there are no errors from the issue. I guess it helped, thanks.

[2020-11-05 07:54] RobBie1221 commented on #42687
Not retrying is not very user friendly so yes, we should fix lib. Probably timeout the `send_start` or something.
https://github.com/Danielhiversen/pyRFXtrx/blob/e7804a1da39d32d06983e2e25fee2b9fe14430e1/RFXtrx/__init__.py#L878

Anyway, it seems to take about 10 seconds here before a reply is sent after sending status update, so 5 seconds is definitely too small.

[2020-11-05 07:58] ottelo9 commented on #41771
@adamkrol93
Which log do you mean? In the log under configuration the message appear every minute:

`DEBUG (MainThread) [wolf_smartset.wolf_client] Fetched values: {'Message': 'internal msg: ReadParameterValues error', 'ErrorCode': 4, 'ErrorType': 1}`

since this first error log message:

`2020-11-05 02:56:54 ERROR (MainThread) [custom_components.wolflink2] Error fetching wolflink2 data: Could not

[2020-11-05 08:13] adamkrol93 commented on #41771
Ok I have to check another thing. I think that Wolf (just to be easier to integrate) is changing valueIds in their 'device description'. I will add logging the request (you could enable httpx trace logging but it will be too many logs) before sending then you will have to recreate integration and we will be able to compare values I guess. Unfortunately I will have time for that at weekend.

[2020-11-05 08:15] ottelo9 commented on #41771
THANKS!

[2020-11-05 08:16] wouterbaake commented on #42838
I think you need to add the homeassistant user to the audio group: https://www.home-assistant.io/integrations/vlc#additional-configuration-for-raspberry-pi

[2020-11-05 08:23] wouterbaake commented on #42838
Have you got vlc installed? Not having it installed will lead to this error.

[2020-11-05 08:27] FaserF commented on #42838
Do I still have to install it via a terminal ssh connection even if I am running homeassistant OS? I thought with the official HA OS running that should be installed automatically?
But thanks for the Info, I will give it a try.

[2020-11-05 08:36] wouterbaake commented on #42838
I think so. I do not have an HA OS install, but I tried it on the devcontainer and in that case I get the same error before install and it works after installing vlc.

[2020-11-05 08:43] allenporter commented on #42863
This is a dupe of #42412 and fixed in #42501

[2020-11-05 08:45] frenck commented on #42863
Closing as a duplicate of #42412

[2020-11-05 08:45] #42863 closed

[2020-11-05 08:48] michass opened #42866 "maxcube dont work after update"
-->
## The problem
Hi after update to 0.117.4 my heating entities disapear

## Environment

[code]

## Traceback/Error logs

[code]

## Additional information

arch | x86_64
-- | --
dev | false
docker | true
hassio | false
installation_type | Home Assistant Container
os_name | Linux
os_version | 4.4.180+
python_version | 3.8.6
timezone | Europe/Warsaw
version | 0.117.4
virtualenv | false

[2020-11-05 08:49] uvjustin commented on #42011
Great, hopefully that took care of it.
I just pushed a minor change which makes it wait for increasing intervals instead of using a fixed 40 seconds which should help it restart quicker if it is able to. You can try using that one instead. It may give an error message if the first few retries fail but it should eventually pause long enough to allow your camera to recover.

[2020-11-05 08:49] nayias commented on #39590
is there any progress on this topic?

I have the same problems as described above and currently it is a lottery which cover is working and which not.

How can i test your modification @danielperna84

[2020-11-05 08:51] frenck commented on #42852
Hi there,

Thanks for opening up an issue. When creating an issue, an issue template is presented. It looks like you've (partly) removed it. This causes your issue report to be incomplete.

Please edit your issue to have the full issue template back again and provide as much of the requested data as possible. Without it, we won't be able to help you.

Thanks already! 👍

[2020-11-05 08:53] frenck commented on #42816
@kaciker It is needed. Please complete the issue template or this issue won't be classified.
Thanks 👍

[2020-11-05 09:04] frenck commented on #42866
Hi there,

Thanks for opening up an issue. When creating an issue, an issue template is presented. It looks like you've (partly) removed it. This causes your issue report to be incomplete.

Please edit your issue to have the full issue template back again and provide as much of the requested data as possible. Without it, we won't be able to help you.

Thanks already! 👍

[2020-11-05 09:08] silviudc commented on #42776
Same here.
On 0.117.4

[2020-11-05 09:09] michass commented on #42866
This is ok?

[2020-11-05 09:15] silviudc opened #42867 "Gogogate 2 Integration Error - config_data[CONF_DEVICE] == DEVICE_TYPE_ISMARTGATE"
## The problem

## Environment

- Home Assistant Core release with the issue: 0.117.4
- Last working Home Assistant Core release (if known): 0.116.X
- Operating environment (OS/Container/Supervised/Core): docker on raspbian
- Integration causing this issue: Gogogate2
- Link to integration documentation on our website: https://www.home-assistant.io/integrations/gogogate2/

## Problem-relevant `conf

[2020-11-05 09:16] Mariusthvdb commented on #42776
let's hope, because the newly created Api key has worked for 1 day ....... hit the same error once again just now. gr..

[2020-11-05 09:18] Diddlik commented on #39590
I have noticed that the problem occurs when the roller shutters are not used for a relatively long time. After driving them up and down a few times and starting everything new everything is fine again.

[2020-11-05 09:34] neocr0n commented on #42589
same here, updated to 0.117.3, still the same problem!

[2020-11-05 09:41] bigboban commented on #42847
I see PR with description "Fix Netatmo public weather sensor bug". @cgtobi do you know outdoor sensor (not only public) is broken partially too?

[2020-11-05 09:48] cgtobi commented on #42847
What is broken with the outdoor sensors?

[2020-11-05 09:55] cgtobi commented on #42847
If you refer to min/max temp for example, those have been removed in 0.117.

See: https://github.com/home-assistant/core/pull/41859

[2020-11-05 10:04] bigboban commented on #42847
Min, max and battery sensors are gone.. Maybe i missed info about that..

[2020-11-05 10:06] cgtobi commented on #42847
Yes, it's in the release notes.

[2020-11-05 10:22] dbanyos commented on #42840
Hi @Adminiuga

I'm a newbie in Zigbee world. I don't know how it reports power measurement.

In below page, it say that it works with ZHA. That's why I was wondering that it will provide this information.
https://zigbee.blakadder.com/Xiaomi_ZNCZ04LM.html

Is there anything that I can provide or do to help "debugging"?

[2020-11-05 10:25] emontnemery commented on #42848
Have you manually configured the Tasmota in HA or is it auto discovered?
If manually configured, please paste configuration.
If auto discovered, please paste discovery message. You can find discovery message through HA frontend:
Configuration->Devices-> (click on your device) -> MQTT Info->MQTT discovery data

[2020-11-05 10:39] Machaeon opened #42868 "Generic thermostat away mode after restart"
If thermostat is in away mode and HA was restarted, target temperature set to target_temp, but mode is still Away.

[2020-11-05 10:41] korbendallas78 commented on #42548
Same issue here. I have 2 AC. If I reload the gree integration, sometimes connect 1 AC, sometimes connect all 2 AC,and sometimes none of them connect. Strange

[2020-11-05 10:42] tetienne commented on #42526
Wait for the next release, there was a refactor of the component. Perhaps it will help in your case.

[2020-11-05 11:01] jumika opened #42869 "Yeelight meteorite service call targets wrong entity"
## The problem
Service calls under `yeelight` namespace always target the main light of Yeelight Meteorite Pendant Light.
I'm using the developer tools / services page to try features.
Using any `yeelight` services the main (bottom) light is set regardless of the entity_id in the service call body.
For example:
service: `yeelight.set_color_scene`
entity: `light.my_meteorite_ambilight`
payload:
[co

[2020-11-05 11:02] fsghzh commented on #42608
Hi, I upgraded to 0.117.4. Still the same Problem.
This is one of the sensors:

  - platform: rest
    name: WP_Temperatur_Aussen
    resource: "http://192.168.168.24/usr-cgi/xml.cgi?A|27|27"
    value_template: "{{ value_json['PCOWEB']['PCO']['ANALOG']['VARIABLE']['VALUE'] }}"
    unit_of_measurement: °C
    device_class: temperature
    scan_interval: 300

Here is the log entry:

2020-11-05 11:4

[2020-11-05 11:22] browetd opened #42870 "Video Stream Error with DoorBird D101S"
## The problem

I have an InvalidDataError with DoorBird D101S model (see error below)
But I can see an image from the live video in HA, but this image is frozen.
The user used to access DoorBird is dedicated to HA.
To have the video working again, I restart DoorBird as well as HA.
The error appear (when it appears) just after HA has been started and is coming back on regular basis.

## Environmen

[2020-11-05 11:31] pbarvinko commented on #42402
I have the same issue with the recorder using postgres database.

Purge procedure performs the following statement:
[code]
But that cannot physically work, because states are linked to each other via old_state_id, which is a FK and all old records still have newer records, which are linked to them via old_state_id.
Before performing this statement the links from newer states to the states-to-be-pu

[2020-11-05 11:32] broyuken commented on #42848
Just to confirm, I am using the mqtt integration, not the tasmota beta. And I did auto discovery (SetOption19 on). This used to work perfectly until I upgraded to 0.117.

Config Discovery:
[code]

Status Discovery:
[code]

[2020-11-05 11:34] AndreasRM opened #42871 "EQ3 maxcube entities and integration disappeared after update to 117.4 / error in climate"
## The problem

After update to 117,4 my existing and well functioning integration with maxcube didn't work any longer.
All entities disappeared and the integration fails with errors.

## Environment

arch | aarch64
-- | --
chassis | embedded
dev | false
docker | true
docker_version | 19.03.11
hassio | true
host_os | HassOS 4.15
installation_type | Home Assistant OS
os_name | Linux
os_version | 4.

[2020-11-05 11:37] jumika commented on #42869
I've also tried it with the version before the last yeelight change (#42573)
Version: 0.118.0.dev20201029
Results are the same.
With 0.117 I could not get the device working.

[2020-11-05 11:42] mike9011 commented on #42793
Great! Issue is resolved with the latest PR.

[2020-11-05 11:56] Shamshala commented on #34776
I've mentioned that at [integration github](https://github.com/bimmerconnected/bimmer_connected/issues/223#issuecomment-722022144) but to make this thread consistant.., unfortunately the issue still persists.

[2020-11-05 11:56] emontnemery commented on #42848
The discovery message received by HA for the "Front Yard Floodlight Left status" does not include color temperature setting, hence setting a color temperature will not be possible.

Maybe you changed somet configuration on the Tasmota?
One potential issue is the quite long base topic `tasmota/Front_Yard_Floodlight_Left`, it may cause overflow of the Tasmota MQTT dsicovery message.

To check the di

[2020-11-05 12:02] emontnemery commented on #42835
This has now been fixed in tasmota! https://github.com/arendst/Tasmota/commit/78196f03910e94cd26c96bde578e8ebcc2736656 🎉

[2020-11-05 12:04] ensjens commented on #42814
Thank you, I didn't realize this was such a recent addition. Seems to be working now

[2020-11-05 12:20] meme1337 commented on #40411
Same problem here since I switched to the base integration.

[2020-11-05 12:23] gigatexel commented on #40411
Same here unfortunately with Shelly Plug, Plug S, EM and 2.5.
I'm on 0.117.4

[2020-11-05 12:31] IonutNeagu opened #42872 "Tuya Method Discovery fails"
## The problem

The error below occurs even if I restart HA.

Tuya (Smart Life) has been configured from the Integrations tab

## Environment

- Home Assistant Core release with the issue:
- Last working Home Assistant Core release (if known):
- Operating environment (OS/Container/Supervised/Core):
- Integration causing this issue:
- Link to integration documentation on our website:

arch | armv7l

[2020-11-05 12:34] mfabiani53 commented on #42540
It's not included also in 0.117.4

[2020-11-05 12:37] sevrugin opened #42873 "rpi_gpio_pwm error after upgrade to 0.117.* ('NoneType' object has no attribute 'send')"
## The problem
Error on rpi_gpio_pwm integration after upgrade to 0.117.*
AttributeError: 'NoneType' object has no attribute 'send'

## Environment

- Home Assistant Core release with the issue: Home Assistant 0.117.4
- Last working Home Assistant Core release (if known): 0.116.*
- Operating environment (OS/Container/Supervised/Core): OS
- Integration causing this issue: Upgrade
- Link to integrat

[2020-11-05 12:45] chemelli74 commented on #42493
Working fine here as well. Thx a lot!

Simone

[2020-11-05 12:48] chemelli74 commented on #40411
We switched from aiocoap library to our own implementation.
Code is merged on dev branch currently.

So you can wait 0.118.0 or install a development build.

Thank you for your patience,

Simone

[2020-11-05 12:50] GitHubxtsnl commented on #42633
I'm currently running 0.117.3 and the problem is still there. All my SONOS speakers are unavailable in Home Assistant.
this happens after every restart of HA
[code]

[2020-11-05 12:55] gigatexel commented on #40411
Thank you for all of your work. Much appreciated!

[2020-11-05 12:56] meme1337 commented on #40411
Grazie Simone!

[2020-11-05 12:57] Misiu commented on #40411
@gigatexel @meme1337 you can also copy code from the current branch into custom components.
@chemelli74 this should also work, right?

[2020-11-05 12:59] wouterbaake commented on #42823
I am working on adding some error handling to the Volumio integration for each call to the API, borrowing from Roku's implementation.

[2020-11-05 13:04] amelchio commented on #42633
Start by removing this.

[2020-11-05 13:16] #42847 closed

[2020-11-05 13:17] ih8gates commented on #42790
Switching to `music` returned functionality for me. I've used `PLAYLIST` for years. Might want to list that as a possible breaking change.

Is there a list of valid `media_content_type` values anywhere?

[2020-11-05 13:17] FuzzyMistborn commented on #42307
I don't deal with Homekit much, but my understanding is HASS would need to support HomeKi Secure Video which it doesn't as of now.  Without that not much to be done.

[2020-11-05 13:18] #42790 closed

[2020-11-05 13:21] springstan commented on #42873
FYI @soldag in case this is related to #42607

[2020-11-05 13:26] springstan commented on #42871
@onkelbeh can you please take a look at this issue since it seems to be related to your change #42674?

[2020-11-05 13:26] springstan commented on #42872
Please fill out the issue template, you can find it by clicking on `New Issue` and then selecting `Report a bug with Home Assistant`. Copy and paste the provided template into this already created issue, click preview to take a look at the empty template and then fill out as much as you can. Any additional information can be helpful!

Thanks for understanding :)

[2020-11-05 13:28] springstan commented on #42868
Please fill out the issue template, you can find it by clicking on `New Issue` and then selecting `Report a bug with Home Assistant`. Copy and paste the provided template into this already created issue, click preview to take a look at the empty template and then fill out as much as you can. Any additional information can be helpful!

Thanks for understanding :)

[2020-11-05 13:30] springstan commented on #42866
Another issue (#42871) with the same topic has been raised and the issue template is filled out.
Closing this one, please follow the discussion there.

[2020-11-05 13:30] #42866 closed

[2020-11-05 13:35] MattWestb commented on #42830
Group commands is broadcast and is going thru the hole network (that is possible) and the poll command is unicast and must finding the right way thru the net using routing. If some links its temporary down the mesh need reconfigure before can communicating with the device thru unicast.

[2020-11-05 13:38] IonutNeagu commented on #42872
I've updated, but I don't have more information.

Are you interested in something specific?

[2020-11-05 13:41] springstan commented on #42872
Well the problem description and the following section are very important to follow along.

[2020-11-05 13:50] bieniu commented on #40411
No, because the DataUpdateCoordinator in the HA had to be modified to update the data from the multicast listen. You must use HA 0.118dev for this new version of Shelly integration to work.

[2020-11-05 13:50] IonutNeagu commented on #42872
* Home Assistant Core release with the issue:
  - version:  0.117.4
* Operating environment (OS/Container/Supervised/Core):
  - Raspbian GNU/Linux 10 (buster) /  Home Assistant Supervised (2020.11.0)
* Integration causing this issue:
  - Tuya ?
* Link to integration documentation on our website:
  - https://www.home-assistant.io/integrations/tuya/

[2020-11-05 13:59] ollo69 commented on #42872
This will be fixed by PR #41375 that will be probably released with next HA release.

[2020-11-05 13:59] OnFreund commented on #42823
More than happy to review a PR with better error handling.
However, I do think there needs to be at least one log when failing to connect (it doesn't have to repeat every 60 seconds though), so if the objective is to have zero logs, my recommendation would be to change the log level for the integration in your deployment.

[2020-11-05 14:05] adamkrol93 commented on #41771
On the other hand I am having ConnectTimeout exceptions in log and it recovers from that exception.

[2020-11-05 14:17] felipediel commented on #42839
This device is supported. Perhaps something is preventing your python-broadlink library from being updated. Are you using custom components? (e.g. Floureon)

[2020-11-05 14:23] Jc2k commented on #42307
Right now if you paired a eufy camera with HomeKit to HA directly I expect you'd get a motion sensor (with push notifications) and a battery sensor, for each camera. But not a camera. I have tried though.

If you had a camera working with HA through another integration you could use the HomeKit bridge integration (ie not the one this ticket is about) to view the camera on your iphone and apple wat

[2020-11-05 14:24] rubenbe commented on #42563
@ggravlingen My setup does not involve a VM (that was @doubleopinter). it's running the official docker container without modifications / plugins.
And the networking is set to "host networking", so there is no extra networking magic happening.
The setup was running (largely) rock-solid for multiple years. And now it isn't anymore, so I suspect that somewhere there is a nasty regression.
I'll try t

[2020-11-05 14:28] withdemon1 commented on #42839
Yes, I'm using Floureon. I can't use both?

[2020-11-05 14:34] mike9011 commented on #42793
On first sight is looks like the issue is resolved, however after running it for a while I'm still getting errors. The first couple of minutes after a reboot everything is showing up quickly even when switching between tabs (different camera's on different tabs). Looks like the problem starts when it renews the stream. When i switch between tabs the camera image is blank for ~ 20 secs and i'm gett

[2020-11-05 14:42] #42754 closed

[2020-11-05 14:49] Holland1 commented on #26446
I have the same problem with 0.117.4, likely started somewhere with 0.116.x

This is an annoying bug, crashes my systems, a couple times per day

[2020-11-05 14:50] springstan commented on #42871
Should be fixed by https://github.com/home-assistant/core/pull/42859 which will be included in `0.117.5`

[2020-11-05 14:54] fubar-coder commented on #42402
@pbarvinko You can specify foreign keys as "SET NULL" which would automatically set the `old_state_id` column to `NULL` when the referenced row gets deleted, which would've been useful in this case.

[2020-11-05 15:13] piperone opened #42876 "Unable to use the Ezviz camera platform: No matching distribution found for uuid 1000000000.0.0"
## The problem

Unable to install a python dependency due to pip not being able to satisfy a version constraint (see error log below). The configuration files do not pass validation while references to the Ezviz-platform remain.

## Environment

- Home Assistant Core release with the issue: 0.117.4
- Last working Home Assistant Core release (if known):
- Operating environment (OS/Container/Supervi

[2020-11-05 15:14] alundstroem commented on #40411
Pardon my ignorance but is there a release schedule for HA (118) or is it simply ”when ready” - it doesnt matter, just interested (;

[2020-11-05 15:18] Misiu commented on #40411
Go to https://developers.home-assistant.io/ and on the right, there is the `Upcoming Events` section 🙂 BTW it is planned to be released at 18 November

[2020-11-05 15:24] Veldkornet commented on #42830
Would the scenario changed if I used a normal HA light group instead of a ZigBee group?
I initially had this problem with the light group, then switched to a ZigBee group to see if that resolved the issue, which it didn't.

[2020-11-05 15:33] pbarvinko commented on #42402
@fubar-coder Good one. I altered the constraints for both event_id and old_state_id. We'll see how it goes.
For the record and for the others (shall it work properly) - what I have done:
1. Checked the confdeltype of the currently available constraints:
[code]
It was set to 'a' (meaning "no action") for both of them.
2. Executed
[code]
to set the constraints to "on delete set null"
3. Verified wit

[2020-11-05 15:41] amelchio commented on #42855
Damned if you do, damned if you don't ...

This works as intended (explicitly added in #10125) because the alternative was _also_ causing lots of confusion.

[2020-11-05 15:49] MattWestb commented on #42830
If you using HA groupes all commands that is sended in the zigbee network is unicast (cordianator > device that is being routes thru the mesh) and the result is that you can easily losing commands if having routing problems and the the light switches is not working if HA is not online (software updating / failure broken SD-Card). And its being worse then one zigbe group command is 1 command. 1 HA

[2020-11-05 16:01] tobi-blue commented on #40411
I want to bring in some informations. I have a few shelly 2.5; Dimmer 2; Door and Window 2.
Ive spinned up v118dev in Docker today and tested this solution.
1. Great it is not longer unavailable and holds it last value
2. Bad is, that Shelly Door and Window 2 is only woken up for 3 seconds to send its changes. In v117 i can see "open"-"unavailable"-"closed".... in v118 it misses every change and o

[2020-11-05 16:06] felipediel commented on #42839
You need to update Floureon. The old version prevents library updates in Home Assistant.

[2020-11-05 16:09] elyobelyob commented on #42540
Nor 0.117.5

[2020-11-05 16:09] RichardUUU commented on #17744
Still not fixed. FWIW, CQC had a flawless itach/gc100 driver, and now CQC is going open source if that helps anyone.

[2020-11-05 16:10] GreyTeardrop commented on #42540
The fix is in the `dev` branch, not `master`, so I don't think it would be released in any of 0.117.x. 0.118.0 maybe.

[2020-11-05 16:12] ludeeus commented on #42540
PR's that contains new features will be a part of the next main release (0.118.0) in this case.
Closing as https://github.com/home-assistant/core/pull/41375 has been merged.

[2020-11-05 16:12] #42540 closed

[2020-11-05 16:15] ChrisPiel70 commented on #42733
look at "Google calendar recently requires re-authorization every 24 hours. integration: google_calendar
#42483"

Comments from jo-me and noxhirsch =>  .google.token file gets garbled

After removing "2client.client" from end of file, access to Calender works again

sed -i -e 's/2client.client"}2client.client"}/2client.client"}/g' .google.token

[2020-11-05 16:28] tomlut commented on #17744
Care Quality Commission?

[2020-11-05 16:29] SAOPP commented on #42637
So guys, any chance to get working integration without cert or what I need to do?

[2020-11-05 16:33] mweinelt commented on #42668
The discussion seems orthogonal to my issue. I'm asking for home-assistant to give me information it has that helps me identify the device. You are basically saying that I can brute force that information.

Adding that information would not only help me, but everyone else finding themselves in such a situation. I mean, let's log stuff that gives information that is somewhat actionable.

This issue

[2020-11-05 16:35] bieniu commented on #40411
@tobi-blue Battery powered devices are still not fully supported. Overall it is much better than it was before because by listening to multicast, integration gets data from the device when device wakes up for a second or two. Previously this was not possible.

[2020-11-05 16:35] FaserF commented on #42838
I should have better read the documentation. Still thanks for your help.
Sad that the official os is not supported.

[2020-11-05 16:35] #42838 closed

[2020-11-05 16:37] jeffh0821 commented on #42483
OK, quick hack from @noxhirsch works, but we need a dev to understand root cause and fix.

[2020-11-05 16:37] AndreasRM commented on #42871
Thanks 👍👍
-------- Ursprüngliche Nachricht --------Von: springstan <notifications@github.com> Datum: 05.11.20  15:50  (GMT+01:00) An: home-assistant/core <core@noreply.github.com> Cc: AndreasRM <andreas.meyer6@freenet.de>, Author <author@noreply.github.com> Betreff: Re: [home-assistant/core] EQ3 maxcube entities and integration
  disappeared after update to 117.4 / error in climate (#42871)
Should

[2020-11-05 16:41] #42871 closed

[2020-11-05 16:47] yuvalabou commented on #42668
You are probably right, that's not what I intended..

[2020-11-05 16:48] GitHubxtsnl commented on #42633
I've removed the sonos_alarm integration, will do some testing.
Just to let you know, with the previous HA version of 0.116.x and earlier releases this was no issue.

[2020-11-05 16:54] kintaroju opened #42878 "Synology DSM Casting Surveillance Station Camera Issue"
## The problem

The issue I am having is that the Synology DSM plugin works inconsistently to cast my security Cameras to my Google Nest Hub Max, my Chromecast Ultra and Vizio P55-E1. I have a total of 6 cameras, and 5 out of the 6 kinda work. The type of cameras I have are the following:

1x D-Link DCS-5010L (doesn't stream)
1x SWANN SWADS466CAM-US (streams correctly, some of the time)
4x Hikvisi

[2020-11-05 16:56] marknl commented on #30618
HA 0.117.4, hatasmota 0.0.25.1, Tasmota 9.1.0, setOption37 0

Just tested with 2 scenes:
1. Warm white
2. Blue

Light is detected by Tasmota (beta) direct integration.

Starting state:
Color of the light: Blue
Light console:
[code]
(This was set done via the color picker)

1. I click "Warm white"
Color of the light: Warm white
Light console:
[code]

2. I click "Blue"
Color of the light: Warm white

[2020-11-05 17:01] foxylion commented on #28811
@balloob , please re-open. As the fix was reverted yesterday. (see #42859)

[2020-11-05 17:03] smmoroz commented on #40411
@bieniu , I've just tested this new version. I confirm that it is much better now! Great job!

Here are the details. I still have a few timeout errors:
[code]
But there were just 11 errors in 3 hours. They could be related to some network issues.

And entities do not become unavailable anymore. This is really great result. Congrats and thank you!

[2020-11-05 17:04] erichiller commented on #40350
I'm not 100% sure, but I think the issue is that Home Assistant is expecting an OpenZWave deamon status update at regular intervals, but the ozw daemon only provides them at instance state change.

https://github.com/home-assistant/core/blob/cfc8e96b154f933eaf45bda17070483133d8043d/homeassistant/components/ozw/entity.py#L232
references
[openzwavemqtt/const.py#L71](https://github.com/cgarwood/pytho

[2020-11-05 17:06] humanoidlux commented on #42822
Ok i see now. I will contact them, because they are referring to the Dutch DSMR specification. And on the last page they have the same telegram as in the Dutch document. So something is wrong in this document.

[2020-11-05 17:12] Adminiuga commented on #42840
#Zigbee channel on HA discord channel
Enable debug logging https://www.home-assistant.io/integrations/zha/#debug-logging do you get anything remotely assembling power measurement.
Contact Xiaomi and ask them to follow Zigbee scpecs.

[2020-11-05 17:17] RobBie1221 commented on #42822
I don't think it's wrong, they use a slightly different specification. Similarly, the Belgian is slightly different.

It's fixable, but needs some time because the supporting library needs an update.

[2020-11-05 17:19] RobBie1221 commented on #42822
W.r.t. their example, that's a telegram from an ISKRA meter, would have been better if they'd use their own telegram as example. Probably they copied that from the DSMR specification.

[2020-11-05 17:21] bdraco commented on #42608
Can you check to see if the webserver at 192.168.168.24 is using proper line endings?  It might be this case https://github.com/python-hyper/h11/issues/7

[2020-11-05 17:22] bdraco commented on #42589
Can you check to see if the webserver at 192.168.1.40 is using proper line endings?  It might be this case https://github.com/python-hyper/h11/issues/7

[2020-11-05 17:22] bdraco commented on #42589
It may be related to this issue open here https://github.com/encode/httpx/issues/1378

[2020-11-05 17:22] bdraco commented on #42608
It may be related to this issue open here https://github.com/encode/httpx/issues/1378

[2020-11-05 17:30] RobBie1221 commented on #42822
By the way, if you want I can provide a workaround for you.

[2020-11-05 17:36] bachya commented on #40350
Great detective work, @erichiller!

FYI, a QOS of 0 just means that the sender/broker agree that a message will be sent once at most (i.e., no retries) – whether a message is retained or not is a separate mechanism (the "retained flag").

[2020-11-05 17:40] sidwin9 commented on #42844
Hey,

The problem is solved after several shutdowns of Hass and Freebox. Weird all the same because the problem appeared after the update.

Thanks.

[2020-11-05 17:45] JOHLC commented on #38076
I am also gettting
sps_id 32 out of range

When the stream component is setup

[2020-11-05 17:47] humanoidlux commented on #42822
Thank you Rob.

It's ok. I've copied the old sensor.py and the other files as custom_components in this directory config\custom_components\dsmr

So for the moment it works fine :-)

tnx

[2020-11-05 17:50] uvjustin commented on #42870
Maybe fixed by #42794

[2020-11-05 17:53] sagitt commented on #40378
no one fix this? now even with space not works.

[2020-11-05 18:04] emontnemery commented on #30618
@marknl Let's keep this issue about the MQTT integration. Please open a new issue about the Tasmota integration failing to restore state. 👍

[2020-11-05 18:04] vturekhanov opened #42880 "Some warnings after upgrading to 0.117.4"
## The problem

## Environment

- Home Assistant Core release with the issue: 0.117.4
- Last working Home Assistant Core release (if known): 0.117.2
- Operating environment (OS/Container/Supervised/Core): HassOS 4.15
- Integration causing this issue: HomeKit Controller
- Link to integration documentation on our website: https://www.home-assistant.io/integrations/homekit_controller/

## Problem-rel

[2020-11-05 18:11] Stimpy68 commented on #42752
Memory usage still stable after enabling UPNP again and installing the Brother integration. So issue seems te be fixed in 0.117.4

[2020-11-05 18:21] tomlut commented on #30233
I've just hit this issue myself. Is there no way for the utility meter to use the new unit when the source sensor unit is changed (other than creating a new sensor)?

I don't mind if the utility meter history is dumped (in fact I would expect this).

[2020-11-05 18:42] maxi8815 opened #42882 "Broadlink RM Mini3"
## The problem
  I add broadlink Device on Configuration.yaml, I can send commands with service Tab, but no switch entity is created at all.
I have reinstalled many times but Its always the same. In previous Versions used to work easily.

## Environment

- Home Assistant Core release with the issue:  Home Assistant 0.117.4
- Last working Home Assistant Core release (if known):
- Operating environm

[2020-11-05 18:46] rogelio-o commented on #42587
I'm having the same issue. If I add it through the UI, it is configured ok. But every time I turn off the TV, HASS asks me to reconfigure the integration.

[2020-11-05 18:50] WarmChocolateCake commented on #42823
Sounds ideal!
I agree that _something_ needs to be logged on initial failure to connect - from HA's point of view, a loss of connection has to be handled anyway to report to the end user that Volumio's not controllable, then, when Volumio responds the logging can resume...
But, a common network connection catch for a known good / fail condition might be all that's needed? I presume every API call

[2020-11-05 18:56] mkanet commented on #42608
@bdraco if you still need me to provide a debug log, can you please let me know which logger settings to use to focus on the components involved?  I can upgrade to test if necessary.

[2020-11-05 19:01] kaciker commented on #42816
Hello, I added the info. After restoring 0.116.4 the Axis integration is working again.
![2020-11-05_19h54_37](https://user-images.githubusercontent.com/7668181/98284668-be6de180-1fa1-11eb-8da9-5f6954e958ad.png)

[2020-11-05 19:25] Kane610 commented on #42816
Thanks for reporting, but this has already been reported #42415, please subscribe to that one for updates.

An issue has been created with upstream library not supporting certain behaviours of the webserver of older Axis firmwares: encode/httpx#1378

[2020-11-05 19:25] #42816 closed

[2020-11-05 19:26] Cheerion commented on #38585
I have the same issue since update 0.117.

Here are my log entries:

Error on init TTS: No TTS from google_translate for 'Blaap "'
18:01:31 – Text-to-Speech (TTS) (ERROR) - message first occurred at 15:21:45 and shows up 3 times
Unable to find token seed! Did https://translate.google.com change?
18:01:31 – google_translate (WARNING) - message first occurred at 15:21:45 and shows up 3 times

[2020-11-05 19:36] TheJulianJES commented on #42553
I don't know if this is related, but I had an issue with GU10 WS bulbs from IKEA as well as with the new E14 white spectrum candle lights. Both had light groups created (they were all next to each other) and the light group for each type of bulb either had one or two lights that always updated a couple of seconds later in the Hass UI after toggling the ZHA group.
These lights do send attribute rep

[2020-11-05 19:36] rogelio-o commented on #42592
I'm having the same issue. This is the debug message I'm getting:
[code]

[2020-11-05 19:44] Manuel-1982 commented on #42766
Thank you for the hint where to put the issue! I put the issue FULL_FLUSH_CONTACT_INTERFACE_6 [here](https://github.com/coreGreenberet/homematicip-rest-api/issues/352).

The issue related to HOME_CONTROL_ACCESS_POINT and ACCESS_CONTROLLER_CHANNEL seems to be closed [here](https://github.com/coreGreenberet/homematicip-rest-api/issues/335). But a dumb quetsion: What is the solution on that. I only c

[2020-11-05 19:45] Jc2k commented on #42880
It looks like zeroconf is sending invalid HAP discoveries to homekit_controller or a device on your network is advertising as a HAP device incorrectly. It won't stop anything from working but we should probably get to the bottom of it.

Have you tried reverting to verify it's definitely caused by latest point releases ?

[2020-11-05 19:54] Quentame commented on #42878
Hi !

Did the stream is working well with the `synology` integration ?￼

I think it duplicates #41569, right ?

Thanks for creating the issue.

[2020-11-05 19:55] crixionz opened #42885 "UI Configuration check misses a bad automation trigger config. ( 'state:' instead of 'to:')"
## The problem

The UI Configuration check misses a bad automation trigger config. I mistakenly put `state:` instead of `to:` for the state trigger condition, but the UI check didn't catch it.

## Environment

- Home Assistant Core release with the issue:  0.117.2
- Last working Home Assistant Core release (if known):
- Operating environment (OS/Container/Supervised/Core): Supervised (docker)
- In

[2020-11-05 19:57] christophkreutzer commented on #42805
Thanks for the correct logging namespace, haven't thought about it. I fixed it at noon and restarted the whole VM. Now I see all the debug messages incoming (HA has been started around 13:50 local time):
´´´
2020-11-05 13:51:43 DEBUG (MainThread) [pyforked_daapd] Starting websocket handler
2020-11-05 13:51:43 DEBUG (MainThread) [homeassistant.components.forked_daapd.media_player] Updating {'databa

[2020-11-05 20:02] SNoof85 commented on #42844
OK, glad it is sorted !
Can you close the issue ? 👍
Thx

[2020-11-05 20:03] sz0wxc commented on #42752
Have a PI3 running Hassos and while I'm not seeing the large mem increase that some see I do see a slight increase.. also running Adguard add-on.  after 117 upgrade things become so slow i have to reboot to get speed back.. recently I disabled adguard and went back to router for DNS cause things are so slow.  moved back to 116.2  and speed seems ok.. not getting the slowness I had on 117.  For a w

[2020-11-05 20:07] thijsdejong commented on #42752
I have the exact same problem on 0.117. Memory slowly fills up and swap also fills up eventually grinding everything to a dead stop. Reverting back to 0.116.4 seems like a temporary solution.

[2020-11-05 20:19] stefanroelofs commented on #42855
Thank you very much for the link to #10125. That was very enlightning. I now understand where this behaviour comes from.

I respectfully disagree though.
'The severely confused user' makes the following argument:

_Originally posted by @aaronwolen in https://github.com/home-assistant/core/pull/10125#issuecomment-339312290_

I would argue that he would indeed only get a notification if the temperat

[2020-11-05 20:20] hmmbob commented on #42752
@sz0wxc and @thijsdejong when you say 0.117, did you try the latest release (currently 0.117.5)?

[2020-11-05 20:26] rickkdotnet commented on #42752
0.117.4 doesn't fix it for me, but that's expected as I don't use the Brother integration. I don't see any relevant fixes in 0.117.5.
It looks like everyone in this thread uses the esphome integration, so maybe that's one to look into..

[2020-11-05 20:35] hosting-io commented on #39358
Hello, just chasing this again, is there any way to show 2 devices

[2020-11-05 20:38] TomBuyvoets opened #42886 "Move from one to another docker host."
## The problem

Normally when I transfer my homeassistant install to a new system I copy the docker volume from host to host. Normally this will work (all data will stay in place. No need to create new account, new home etc.).

Now when I move from docker installation on host A(working currently) to a new docker host and move the docker volume to the new host, I have to create a new account and ho

[2020-11-05 20:45] DubhAd commented on #38585
I'm also finding that 0.116.4 works fine, while 0.117.5 fails:

[code]

[2020-11-05 20:45] thijsdejong commented on #42752
0.117.4. But I don't see any change related to this in 0.117.5 vs .4 correct?

[2020-11-05 20:46] thijsdejong commented on #42752
I don't use the esphome integration

[2020-11-05 20:50] mib1185 commented on #41701
Will be fixed by #42697

[2020-11-05 20:59] MattWestb commented on #42553
Great observation @TheJulianJES !!
I was have both problems (perhaps they is doing all this together) and was starting doing "reconfiguration" of 4 IKEA bulbs that is in 2 different groups. Then the individual bulbs was responding / showing OK in HA GUI but the group status not.
Sending cluster command "group delete all" and all bulbs is in no control.
Going to ZHA grupes and deleting the bulbs an

[2020-11-05 21:07] springstan commented on #39358
@haemishkyd could you take a look at this issue since you are the codeowner of this integration? Thanks 👍

[2020-11-05 21:10] kintaroju commented on #42878
Hi @Quentame , i don't think it duplicates issue #41569 as the issue is only around the synology_dsm integration. I've never managed to get the stream to work well with the synology module before. Historically with the old synology module, my "4x Hikvision DS-2CD2055FWD-I" never was able to stream at all, but with the synology_dsm integration that is now native to HassIO, I was able to view the ca

[2020-11-05 21:38] cmroche commented on #42548
@korbendallas78 please attach the debug log.

[2020-11-05 21:39] cmroche commented on #42758
@andrewjswan You can try 0.117.4 when it is released, it will include some tweaks to help discovery in the case I mentioned.

[2020-11-05 21:57] amelchio commented on #42855
At least it is consistent. When the light is on during restart, this automation will fire if brightness is changed and then it will start to behave like expected, only firing when going from off to on.

[code]

Like I said in the linked PR, I was mostly concerned about these two cases working the same. I think your position has a lot of merit but then it should be changed for all trigger types. Ho

[2020-11-05 21:59] hunterjm commented on #42752
@rickkdotnet - I use ESP Home and am not seeing the same issues. There were also no changes to ESP Home in 0.117 other than translation string updates, so it is very unlikely to be the culprit.

[2020-11-05 21:59] Rusti-gotrage commented on #42493
ditto - restarted and everything came back!! YAY!!!

The programmers are confirmed AWESOME 👍

[2020-11-05 22:00] Scialla commented on #42880
same problem here, warning appear not immediately but after few minutes

[2020-11-05 22:15] kevinkk525 commented on #42798
I couldn't yet reproduce it myself but the forum member tmaults provided his automation and the log during the incident (and there is not even mqtt involved):

[code]
[code]

[2020-11-05 22:27] sevrugin commented on #42873
In hassos ssh

`docker exec -it $(docker ps -f name=homeassistant -q) bash`

[code]

Still have the same issue =(
Could someone test `rpi_gpio_pwm` with `simple` type on Pi4?

[2020-11-05 22:29] sevrugin commented on #42873
My request is the simplest example from documentation. And it worked before

[2020-11-05 22:38] emontnemery commented on #42798
That is weird.
What integration does the forum member's switch belong to?

[2020-11-05 22:39] acortelyou commented on #37372
I am also experiencing all zigbee devices becoming unavailable 5+ times an hour when HA loses websocket connection to deconz which itself appears to be stable.

My logs follow the same pattern as @aguilaair.
Which additional logs would be helpful to capture?

- Deconz 2.05.84, Raspbee2 26660700
- HassOS 4.15, Supervisor 2020.11.0, Core 0.117.4
- Pi4 4GB, Samsung Pro Endurance 32GB

- 8x Ecosmart-Z

[2020-11-05 22:49] wgstarks commented on #41315
+1. Following

[2020-11-05 23:19] dsegantx commented on #42493
Agreed; re-instated 2fA on Synology DSM, removed and re-installed this integration and provided the one time password and its working now.  Thanks as it's vital for me to keep 2FA on this key asset...

[2020-11-05 23:43] DidibabaQiu commented on #40457
Dear all,
I have 7 rm3mini and always one or two even three offline,
I thought there was a wifi problem but not. [https://www.home-assistant.io/integrations/ping/](url)

so I add an automations and solve my problem,
for reference
------------------
alias: rm3_auto_turn_on
description: ''
trigger:
  - platform: device
    type: turned_off
    device_id: 123456789123456789123456789
    entity_id: re

[2020-11-05 23:48] brianlane opened #42888 "Restore from snapshot on SSD"
## The problem
I restored from a snapshot onto a SSD no SD card on a RPi4 but now I can't update from 0.110.3 to 0.117.4

I get this error:

20-11-05 06:17:06 INFO (SyncWorker_1) [supervisor.docker.interface] Updating image homeassistant/raspberrypi4-64-homeassistant:0.110.3 to homeassistant/raspberrypi4-64-homeassistant:0.117.4
20-11-05 06:17:06 INFO (SyncWorker_1) [supervisor.docker.interface] D

[2020-11-06 00:23] adamjernst opened #42890 "Shelly devices aren't discovered automatically"
## The problem

My Shelly One devices are not automatically discovered by Home Assistant, even though they show up when I run `mdns-scan`:

[code]

The Shelly devices **can** be added manually by entering their IP address. They function normally after that.

I do know that discovery is working generally, since my Rachio sprinkler controllers were automatically detected when Home Assistant was set

[2020-11-06 00:35] felipediel commented on #40457
@DidibabaQiu The on/off button was fixed with https://github.com/home-assistant/core/pull/42443, now we just need to wait for a release.

[2020-11-06 00:38] mguaylambert commented on #38133
Same for me. Auto discovery is not finding the speaker but I can see it on Bonjour as : _soundtouch._tcp.

[2020-11-06 00:52] DidibabaQiu commented on #40457
dear Felipe,
could you please tell me, what problem can stump you?  :D

Felipe Martins Diel <notifications@github.com> 於 2020年11月6日 週五 08:35 寫道：

[2020-11-06 01:03] RichardUUU commented on #17744
https://www.charmedquark.com/

[2020-11-06 02:03] abarnesy commented on #41230
Only discovered the issue for me going from 0.116.x to 0.117.4. Seems to be intermittent on reboot.

[2020-11-06 02:09] Ties42 commented on #40346
Periodically checking if new build fixes the issue. Problem is still present in docker container tag 0.117.4.

[2020-11-06 04:43] uvjustin commented on #42805
It looks like the last update at 14:16:06 is not completing the update callbacks. We can add some debug statements in to see where it's getting stuck and go from there.
Use the component at https://github.com/uvjustin/home-assistant/tree/troubleshoot-forked-daapd . Hopefully we can find where it's getting stuck.

[2020-11-06 07:09] soldag commented on #42873
For me it worked with your configuration.

Can you check, if the pigpio daemon is running correctly? When killing it, I could reproduce the issue. Somehow the connection error is not raised correctly. I need to find out, why and will fix it in the next release of `pwmled`.

[2020-11-06 07:14] galex80 commented on #41771
Now i got also issues. All entities became "unavailable". The log shows following errors:

`Logger: custom_components.wolflink2
Source: custom_components/wolflink2/__init__.py:53
Integration: Wolf SmartSet Service2 (documentation)
First occurred: November 5, 2020, 5:25:06 PM (2 occurrences)
Last logged: November 5, 2020, 5:26:11 PM

Unexpected error fetching wolflink2 data:
Traceback (most recent

[2020-11-06 07:24] EricReiche commented on #42752
I was hoping it's ONVIF, but after trying 0.117.4 yesterday, my automations again did not work this morning.
Here is the list of my integrations.

  | - | -
-- | --
  | Amazon Alexa | alexa
  | Home Assistant API | api
  | Auth | auth
  | Automatisierung | automation
  | Binärsensor | binary_sensor
  | Kalender | calendar
  | Kamera | camera
  | Google Cast | cast
  | Klima | climate
  | Home Assi

[2020-11-06 07:31] sevrugin commented on #42873
Yep. You are totally right )) Daemon was stopped. But now I have new error
[code]
Pigpio daemon is working. I tried 14, 18 and 17 pins in config.yaml

[2020-11-06 07:33] fsghzh commented on #42608
Hi,
I did :
curl 'http://192.168.168.24/usr-cgi/xml.cgi?A|27|27' >out.txt

So you should see all the bytes in the response.

[out.txt](https://github.com/home-assistant/core/files/5499771/out.txt)

[2020-11-06 07:45] allenporter commented on #42793
I haven't been able to reproduce yet, but i added some additional debug logging.

It generates a stream url and caches it.  The stream url has an expiration time, then it should be checking every 20 seconds if the expiration time is within 1 minute.  Then it extends the stream, and repeats the process.  I've added debug logging to mention when the stream url expires each time it is refreshed so we

[2020-11-06 07:45] pozek commented on #42743
I am running 0.117.4 but same problem

Config entry for onvif not ready yet. Retrying in 80 seconds
9:42:09 AM – config_entries.py (WARNING) - message first occurred at 9:40:20 AM and shows up 5 times
Couldn't connect to camera 'IPDome', but will retry later. Error: Unsupported URL protocol 'urn'
9:42:09 AM – ONVIF (WARNING) - message first occurred at 9:40:20 AM and shows up 5 times

Entity not c

[2020-11-06 07:55] Cheerion commented on #38585
I downgraded HA back to 0.116.4 (seen the comments of @DubhAd) but the issue remains.

Although... there is 'new' logbook description:

Logger: homeassistant.components.automation.goodmorning_message_with_weather_overview
Source: components/google_translate/tts.py:126
Integration: Automation (documentation, issues)
First occurred: 8:53:33 (2 occurrences)
Last logged: 8:53:34

Goodmorning message w

[2020-11-06 07:58] ollimagic commented on #40411
Hi i have a Question when is it possible to get the Shelly Pro 4 back to
work
always when i try to add it i get back unsupportet Firmware i am on the
latest Shelly Pro4 Firmware
if there is a workaround i would like to know also i have some Shelly
Button when is it possible to integrate tham.
Thanks Oliver

Am Do., 5. Nov. 2020 um 18:03 Uhr schrieb smmoroz <notifications@github.com

[2020-11-06 08:02] pbarvinko commented on #42402
Well, it kind of works. It does not crash anymore, but the purge procedure hangs for a long time in the delete statement as I have about 6 mln states and the same number of events. I am going to purge the database manually and exclude more event/state types.

[2020-11-06 08:11] sr-as2 commented on #42589
I think we are using the same webserver with @neocr0n, it's the same application.
@bdraco, how can we see if it's usinf a proper line endings ? (sorry i don't know how)

[2020-11-06 08:23] mike9011 commented on #42793
[home-assistant.log](https://github.com/home-assistant/core/files/5500036/home-assistant.log)
Hi Allan,

I enabled the logging and attached a larger logfile.

[2020-11-06 08:29] dmncr commented on #37582
I'm also experiencing this issue.