[2021-01-04 14:39] wbilger opened #44817 "Summary missing from plex media_players on 2020.12"
## The problem
After the update to 2020.12 .summary is missing from all plex media_players
This is true for movies as well as tv episodes.
This also may have been a planned change, so I could go back to using webhooks, but did not see it in the breaking changes.

## Environment

- Home Assistant Core release with the issue: 2020.12
- Last working Home Assistant Core release (if known): 0.118.5
- O

[2021-01-04 14:46] mezz64 commented on #43794
I'm short on time these days to actively track this down and catch the error, but would gladly accept a PR and push a new release to pypi.

[2021-01-04 14:46] fbradyirl commented on #44763
I meant, if you could capture debug logs on the Beyonwiz box itself during the problem time.

https://www.google.com/search?client=safari&rls=en&q=debug+logs+enigma2&ie=UTF-8&oe=UTF-8

[2021-01-04 14:46] fbradyirl commented on #44763
The problem is something on the box itself, since it isn't responding.

[2021-01-04 14:58] war1000 commented on #44734
If anyone could even tell me if there is a way to reload the integration from api or node red, that would resolve the issue instead of having to restart HA everyday.

[2021-01-04 15:14] PrplHaz4 opened #44818 "Creating scenes in Lovelace with Zwave device leads to zwave does not support reproduce state"
## The problem
Creating scenes from within the Lovelace UI leads to unpredictable behavior with zwave devices (specifically the GE 14294 dimmer).  When creating scenes via UI, the entire zwave.* and light.* entities are copied into scenes.yml, which I believe leads to `Integration zwave does not support reproduce state`.

Because of this, the device will turn on, but does not dim to the correct se

[2021-01-04 15:38] andrew-chang-dewitt commented on #44780
That solved it. Thanks for pointing that out, I thought I’d already updated and apparently never did anything else after pulling the latest docker image.

[2021-01-04 15:38] #44780 closed

[2021-01-04 15:43] #44045 closed

[2021-01-04 16:10] BarBaar44 commented on #43967
Hope this helps:

`2021-01-04 17:02:23 DEBUG (MainThread) [homeassistant.components.websocket_api.http.connection] [281473449523136] Received {'type': 'frontend/get_translations', 'language': 'en-GB', 'category': 'config', 'integration': 'opentherm_gw', 'id': 34}
2021-01-04 17:02:23 DEBUG (MainThread) [homeassistant.components.websocket_api.http.connection] [281473449523136] Sending {'id': 34, 'ty

[2021-01-04 16:17] DanGarion commented on #40770
Yes, those are the basic settings you need to update in the config. But the issue is with the API link for Aladdin, until that is resolved this isn't going to work.

[2021-01-04 16:19] BillyFKidney commented on #40770
What’s weird is I can get the authorization token on my MacBook (Safari) if I go to the URL for the authorization API, after I log into Exosite.com

Is there a way for me to code that token into the Aladdin Connect integration? Brute force fix?

[2021-01-04 16:20] wemach commented on #44423
Same problem in my configuratino, I wanted open an issue too but found this here.

## The problem
I have 4 eletric covers with somfy rts radio control. I control these covers using the Somfy Connexoon RTS 1 and the Somfy integration. Very often - but not always - I get errors if I want to close or open these covers. In the logs I get several messages (see below).
 ![image](https://user-images.gith

[2021-01-04 16:23] Santobert commented on #44709
Hey there. After some testing I have to admit that I wasn't able to reproduce this error. There are two possible situations:

1. Robot is Offline, Integration not yet configured
In this case HA configures the integration successfully, but creates no devices or entities. The logs say "Your robot is offline". The robot will be added as soon as it comes online again and HA reloads the integration
2.

[2021-01-04 16:28] vincentnl commented on #42717
Anything we can log to help this topic? I concur, every 2 to 3 days that I have to reauthenticate, but I've had a stretch of more than 10 days without this popping up.

[2021-01-04 16:36] DanGarion commented on #40770
Thanks for the links there... I hadn't seen those before. I was able to create an account but it won't let me add my existing Aladdin device to that system... I reached out to their support with my Serial Number to see if there is something I'm doing wrong.

https://genie.exosite.com/api/portals/v1/users/_this/token isn't erroring with a 403 now... Strange.

[2021-01-04 16:43] Bascht74 opened #44820 "Rename ZHA device doesn't rename the entity IDs of the device (rename selected)"
## The problem

I use the ZHA implementation for Zigbee and have learned some devices. The devices get non-speaking names in the standard.
If you go later on to the device overview and rename a paired device the following question is asked:

![image](https://user-images.githubusercontent.com/66269310/103549535-d2519900-4ea7-11eb-820c-3fbcd2689af1.png)

If you answer the question with "rename", the

[2021-01-04 16:46] damiano75 commented on #44278
After about an hour since the last HA restart I got this error:

[code]

And Dyson integration doesn't work 'till the next HA restart

[2021-01-04 16:48] lbouriez commented on #44465
Same here, motion was not working, I deleted the integration and cant add it back :/

[2021-01-04 16:50] mvn23 commented on #43967
Thanks for the logs, unfortunately it looks like the most interesting parts have been cut off and that there is some additional debug info from other components in there. I can see that Home Assistant is receiving and processing a steady stream of information from the gateway, but that at least 1 command either doesn't seem to get through or that the answer is lost somewhere.
The first part is not

[2021-01-04 16:53] Adminiuga commented on #44820
Working as designed.
Entity renaming is the UI feature and it renames only the "matching portion" of the entity_id.
The `color`, `on_off` etc at the end of the entity_id is a friendly name of numeric ZCL cluster ID.  Since users may join several devices from the same vendor at the same time (and for historical reasons/backward compatibility) the default `entity_id` also includes the last few digit

[2021-01-04 16:57] Bascht74 commented on #44820
Thanks for the quick answer for my „BTW“.
But why are Kimi.weather not renamed at all?

[2021-01-04 16:58] Tom7320 opened #44821 "[Sonos] TTS support broken"
## The problem

Google TTS does not work with Sonos speakers.

## Environment

- Home Assistant Core release with the issue: 2020.12.2
- Last working Home Assistant Core release (if known): it used to work but I don't know the last working version of HA
- Operating environment (OS/Container/Supervised/Core): Home Assistant Container
- Integration causing this issue: Sonos (maybe Google TTS)
- Link

[2021-01-04 17:09] BarBaar44 commented on #43967
Okay, tnx. That got me one step further. NODE-Red was still connected. Disconnecting it solved the connection issue (thought I tried this before, apparently not..

But....

All OTGW entities in HA are unavailable, except for climate.cv

https://pastebin.com/rB9SVMWQ

[2021-01-04 17:11] SlickUnderTheGun commented on #44719
The integration ran from 2021-01-02 17:41:55 until 2021-01-03 22:26:23 EST and then failed again with these messages.
[code]

I'll try to include some follow up information I think may be relevant.

I'm now getting this message in my logs.  It occurs about every hour but sometimes I don't see it for 2-5 hours.  The entire message will also sometimes repeat up to three times with the same timestamp

[2021-01-04 17:15] wemach commented on #44423
I have the same error in my log:
![image](https://user-images.githubusercontent.com/71445825/103560728-8824e380-4eb8-11eb-8286-28bc672e4621.png)

**But this ist not an Somfy integrated cover!!**
it's a velux cover which is integrated with the velux integration:

[code]

It seems that the problem is more a generic cover problem and not only in the somfy integration.

[2021-01-04 17:18] mvn23 commented on #43967
Good to hear that it's working now.
All `sensor` and `binary_sensor` entities are disabled by default as they are not needed in most scenarios. You can enable them from the Configuration>Integrations panel. This is also stated in [the](https://www.home-assistant.io/integrations/opentherm_gw/#binary-sensors) [docs](https://www.home-assistant.io/integrations/opentherm_gw/#sensors).
If your problem i

[2021-01-04 17:21] BarBaar44 commented on #43967
cool, tnx!

[2021-01-04 17:21] #43967 closed

[2021-01-04 17:27] odicedmondgershom commented on #43967
Close the issue if the problem is fully solved

[2021-01-04 17:32] Adminiuga commented on #44820
Depends on how the "original" device was renamed. ZHA creates the "device" and entity_id with the same base name of "manufacturer" + "model". However if you rename the device directly in the same screen where the device was joined, then the device name would not longer share same "prefix" with the enity IDs and if you later go to Configuration -> Devices -> pick device -> Rename device -> Do you w

[2021-01-04 17:37] atjshop commented on #44568
same issue

[2021-01-04 17:38] bolducd commented on #44775
Same problem. Shark integration is new for me only got the robot last week but I need to reload the integration every day. Also on 2020-12-1 and same error.

[2021-01-04 17:51] Adminiuga commented on #44803
argh, that's what I get for not reading the ~~release~~ beta notes :)

[2021-01-04 17:52] realthk commented on #37651
@syssi Well, not a single disconnection since the morning restart!
So it seems the wrong auto-detected model caused the problems indeed.
Thanks!

[2021-01-04 18:00] #40745 closed

[2021-01-04 18:10] Bascht74 commented on #44820
OK, thanks for the explanation.
That explains it now that I think about it....

Of course, for a "normal" user it's hard to understand if it works once and not another time, although you say "rename" in both cases. Once it works, once it doesn't.

Wouldn't it be correct then, when naming via the "Join" mask, to also name the entities accordingly so that a later renaming then also works?

In my opi

[2021-01-04 18:13] xiaomihomeDomo commented on #37651
I have this problem

Got exception while fetching the state: Unable to discover the device 192.168.1.31
Got exception while fetching the state: {'code': -9999, 'message': 'user ack timeout'}

[2021-01-04 18:18] vangorra commented on #42717
This is fixed in #39684

[2021-01-04 18:20] Adminiuga commented on #44820
The renaming is not done by the ZHA component itself, rather by the "common" for all devices HA UI. I guess a better approach would be dis-allowing device renaming through the join screen or modifying it to behave/rename the entities, sa way as the device panel.
@dmulcahey Thoughts? this same question pops up from time to time.

[2021-01-04 18:22] Jamjon opened #44825 "ZHA LUMI.plug gets misclassified as LUMI.Weather"
## The problem

I have a Xiaomi Plug (ZNCZ02LM) it is misclassified by ZHA as a Lumi.Weather sensor.
It sits between the coordinator and a real Lumi.Weather sensor.
I tried to pair the sensor via the router Plug (this one was still classified right at that point) but that was not possible.
So i paired everything to the coordinator.
After a while and some restarts I get this:
![Screenshot_20210104_

[2021-01-04 18:25] Adminiuga commented on #44825
remove it. Keep debug logging, rejoin the device and posts the logs.

[2021-01-04 18:28] Adminiuga commented on #44825
by remove it, I mean remove it from ZHA integration to force rediscovery.

[2021-01-04 18:29] gurbyz commented on #21859
Hi, you are responding to a closed and very old, non accepted PR. Your question isn't related to the PR, but related to configuring the Modem Caller ID integration in the first place. A better place for your question would be the Community Forum of HA: https://community.home-assistant.io/

[2021-01-04 18:32] war1000 commented on #44775
I have the same issue with decora wifi...but since it is setup through configuration.xml, I have no way of reloading it. Wish there was an call that could be made from node red or somewhere to reload integrations.

[2021-01-04 18:36] dmulcahey commented on #44820
The join screen should be handling this correctly. I just paired a few devices and renamed them without issues on the pairing screen and the entities were handled correctly. Is this something that was done recently? I know there were issues before...

[2021-01-04 18:48] RomRider commented on #41892
@MartinHjelmare, what is your take on the above?

[2021-01-04 18:49] d3relict commented on #44480
@zewelor can you confirm my findings? my fix is committed to my custom component repo, and working perfectly:
https://github.com/d3relict/yeelight/commit/e94b32e2792d3bfb72d968c971da8b647bc1ff45

also, a bit offtopic: i'm wondering if the nightlight can be changed from light to switch, as the Google Home merges all lights based on rooms, turning on all lights in a room interferes with the two enti

[2021-01-04 19:01] Adminiuga commented on #44820
Nah, there were changes related to that recently (for quite a while). I haven't tried renaming the devices from the join screen, was just assuming since it does not ask to rename the entities, then it skips this step

[2021-01-04 19:09] dmulcahey commented on #44820
https://github.com/home-assistant/frontend/blob/2c2226dfd67719e574f19cafd7e77847c9745b5b/src/panels/config/integrations/integration-panels/zha/zha-device-card.ts#L127

There is the code if you wanna peek at it

[2021-01-04 19:13] jjlawren commented on #44817
Thanks for reporting. This was caused by a typo created during a recent refactor. I'll submit a fix shortly.

[2021-01-04 19:26] zewelor commented on #44480
Did you tested it on other yeelight devices ? Ceiling lights / color bulbs / strips ? I think its much safer to do this if here: https://github.com/zewelor/core/blob/dev/homeassistant/components/yeelight/light.py#L841 ,as it will only change for that Bedside lamp, instead of chaning for all yeelight devices.

Initial idea for nightliht_switch_type was to make few possibilities ( light , switch , b

[2021-01-04 19:35] d3relict commented on #44480
i have no other devices, but i'll make changes according to your suggestion, and test it with the bedside lamps. yeah, seems like a better approach definitely.

[2021-01-04 19:37] Jamjon commented on #44825
[zha.log](https://github.com/home-assistant/core/files/5766452/zha.log)

Thank you for the fast answer, like before after joining everything works fine.
I have to relocate the router to join it, but than it works fine when i put it back in its location.

there must be a hiccup when i try to join the sensor via this router.
I will try tomorrow and log it.

you have any other idea what to test?

reg

[2021-01-04 19:40] Adminiuga commented on #44825
same debug log. Particularly during the discovery process what do you get
for model and manufacturer after the 1st endpoint is discovered
[code]

[2021-01-04 19:45] Jamjon commented on #44825
sorry i don't understand.
you mean when i join the sensor? or in the process of joining the Plug (router).

[2021-01-04 19:48] allenporter commented on #44719
1) The subscriber errors leading up to `Watchdog: subscriber shut down; restarting` are not a real problem.  In 2020.01.XX the logs have been quieted to reduce the noise and/or confusion.  Additionally, i rewrote how auth works to make the regular restarting not necessary.  My impression is that you won't see any user visible problems due to this.
2) The API calls (e.g. climate) unable to send RPC

[2021-01-04 20:00] Adminiuga commented on #44825
Which one is which?
What are the steps to reproduce plug misclassified as sensor? Or what is the reported issue?
What's the ieee address of the sensor and ieee address of the plug?

[2021-01-04 20:13] Jamjon commented on #44825
2021-01-02 20:19:40 DEBUG (MainThread) [zigpy.quirks.registry] Checking quirks for LUMI lumi.weather (00:15:8d:00:03:11:7a:de)
This Is a plug, but its classified as a sensor and didnt get the right Quirk: zhaquirks.xiaomi.aqara.plug.Plug. See screenshot.
Or it just got the wrong name, because i could still switch it on and off.

[2021-01-04 20:13] atmurray commented on #44805
Zigbee Smart Energy allows for the other formats. See section 3 of this document:

https://www.silabs.com/documents/public/application-notes/an1089-using-installation-codes-with-zigbee-devices.pdf

Is there any downside in allowing the user to enter other code formats? This is only in the user interface, the backend of the integration appears to already support the other formats.

[2021-01-04 20:14] Jamjon commented on #44825
sensor addres is 00:15:8d:00:02:33:fb:0a

[2021-01-04 20:17] Jamjon commented on #44825
i cant try to reproduce it now because my kid is sleeping in the room.
I will try tomorrow.
But its also just my guess, since its not possible to pair the sensor via the router/plug. But i think that's where it went wrong.

[2021-01-04 20:18] #39588 closed

[2021-01-04 20:25] cinghialino commented on #43755
following the thread

[2021-01-04 20:31] MattWestb commented on #44825
I have some Aqara weather sensors that dont like being paired thru IKEA ZB3 routers but after paired i tricking them changing router with power down the router they is using and pushing the button on the sensor and its connecting to the nearest / best router and staying on it also if its on IKEA zigbee 3 one. The "pairing problems" is depending if the version if the sensor (i have 2 different vers

[2021-01-04 20:39] Jamjon commented on #44825
That is also working for me, the problem is that the coordinator is not that far away. you think its working if i power down the coordinator? or is that coordinator needed to manage the network and update zigpy about the change?

[2021-01-04 20:45] MattWestb commented on #44825
Xiaomi / Aqara sensor is normally leveling the network is they is loosing the connection to its parent and dont trying finding one new patient. If the sensor is not trying talking to the coordinator then ts offline its no problems and if its leaving and you need repairing it (with the coordinator online).

Its one recommendation not one must and trye how its working best in your system.

[2021-01-04 20:48] Adminiuga commented on #44825
coordinator must be online when a new device joins the network

[2021-01-04 20:49] Adminiuga commented on #44825
some times, routers have no free slots in the child table and refuse new child device association, until one of the existing or stale children are expired.

[2021-01-04 20:53] alengwenus commented on #43990
Hi @toweosp, sorry for the late reply but I didn't get a notification for this issue and just came across this by chance.
Looks like you configured your module to send global status messages (instead of local messages). Unfortunately this is not handled by the API but I will have a look into it.
For a short-term solution, you could reprogram your module to send status messages to the local segment

[2021-01-04 21:02] Adminiuga commented on #44805
you could bellows command line to join with shorter install codes. Currently there's no support for SE profile, so I don't see much benefit.

If you'd like to test how it work, feel free to modify https://github.com/home-assistant/core/blob/773d95251e37a94fb7baabb576a06e526736d402/homeassistant/components/zha/core/helpers.py#L252

[2021-01-04 21:16] TheJulianJES commented on #37177
If you want to test #44829 (fix for this issue):
Download this branch https://github.com/TheJulianJES/core/tree/zha_poll_color_mode and put the ``zha`` folder (found in ``homeassistant/components``) in a folder called ``custom_components`` in your Home Assistant ``config`` folder.
Make sure to remove it in later versions and update to the current beta before doing this (to avoid dependency issues)

[2021-01-04 21:20] vpetrovych commented on #44082
@vzahradnik  That makes complete sense!

Would you be able to incorporate something like this?

[2021-01-04 21:29] Jamjon commented on #44825
OK, so i can try to leave it and hope that the sensor joins the router after it looses the coordinator, because the router signal is stronger. That's what happens to my other room, the only difference is, the signal of that router is much stronger.

Will that process create a free slot in the coordinator again?

[2021-01-04 21:35] bm1549 commented on #35569
Thanks for addressing the issue with the Canary API, but I'm still having an issue with canary video playback. The thumbnail image is correct, but video fails to load in both home assistant and HomeKit. I'm running in docker using [homeassistant/home-assistant:2021.1.0b2](https://hub.docker.com/layers/homeassistant/home-assistant/2021.1.0b2/images/sha256-569f5825a0bf7f020bd36ca90de34836f2d6bf544e6

[2021-01-04 21:41] MattWestb commented on #44825
If one devices is leaving the network / changing parent then the router is aging out the address and deleting it (should do all routers is not doing it OK) and get free slots.

By the way congratulations to your first github issue ;-))

[2021-01-04 21:55] atmurray commented on #44805
I'd already commented out that line and it got to my next hurdle: permit_with_key isn't implemented for my zigbee coordinator (xbee).

There is some support for these devices because they support Home Automation and Smart Energy profiles.

By manually generating an encryption key from the install key and setting the whole network to use this as the common join key I was able to add a single device

[2021-01-04 21:59] frenck commented on #35569
@bm1549 This issue has been closed, if you have an issue with the beta, please raise a new issue so we can track and assign it. Thanks 👍

[2021-01-04 22:09] bm1549 opened #44830 "Canary Camera Video Stream Not Working"
## The problem

When using the Canary integration, the camera image thumbnail will load, but the video will not play in the Home Assistant UI or in HomeKit.

## Environment

- Home Assistant Core release with the issue: 2021.1.0b2
- Last working Home Assistant Core release (if known): N/A
- Operating environment (OS/Container/Supervised/Core): Docker on 5.4.0-58-generic
- Integration causing this

[2021-01-04 22:10] bm1549 commented on #35569
Thanks for responding, I've opened a new issue here: https://github.com/home-assistant/core/issues/44830

[2021-01-04 22:16] SSinSD commented on #44111
Here are my details:
Home Assistant version: HA 2020.12.7
Mikrotik Hardware: RBD52G-5HacD2HnD
RouterOS version: v6.48 (also occurred using v6.44.1, I updated router during troubleshooting, but no change)

ERROR (MainThread) [homeassistant.config_entries] Error setting up entry Mikrotik for mikrotik
Traceback (most recent call last):
File "/usr/src/homeassistant/homeassistant/config_entries.py", li

[2021-01-04 22:21] thecode commented on #44604
I think I know the root cause for this, will try to reproduce and submit a PR to fix

[2021-01-04 22:22] Jamjon commented on #44825
:) thanks
hope i do ok

[2021-01-04 22:56] RestOp commented on #40200
Hello,

i am on Home Assistant 2020.12.1 and have the same issue. Can it be fixed?

[2021-01-04 22:57] prle77 commented on #34713
There is still issue with this.. Running latest version  2020.12.7

[2021-01-04 23:22] leogaggl commented on #44809
Forgot to add some sample data from the sensor (LoRaWAN via TTN):

[code]

As indicated above the data displays fine in Homeassistant:

![ha-mqtt-temp](https://user-images.githubusercontent.com/199995/103589582-9f58e500-4f3b-11eb-87ff-d808ad483e45.png)

Let me know if I can do anything to assist!

[2021-01-05 00:01] Shkrum31 commented on #44267
Hi,
Thanks a lot for the fix!

I just got a similar error with the following error message, I do not not if I need to create a new issue
[code]
Thanks

[2021-01-05 00:20] grantclem commented on #44763
well there has been no change at all, I will roll back to a non beta and see what happens

[2021-01-05 00:29] grantclem commented on #44763
Prior to rollback

[debug2.log](https://github.com/home-assistant/core/files/5767394/debug2.log)

[2021-01-05 01:10] MartinHjelmare commented on #41892
I think we should try to solve this with a scene. We shouldn't fake state.

[2021-01-05 01:18] i00 opened #44832 "Synology Chat issue when error is returned"
## The problem

200 is always returned with a successful URL; but the request itself may not be successful; this is not checked.

## Environment

- Home Assistant Core release with the issue: 2020.12.2
- Last working Home Assistant Core release (if known):
- Operating environment (OS/Container/Supervised/Core): Core
- Integration causing this issue: Synology Chat
- Link to integration documentatio

[2021-01-05 02:02] dermotduffy commented on #41892
@MartinHjelmare
   * Sorry, but a scene does not solve the problem at all. The issue is one of interoperability between _Hyperion users_ (of which HA is one). HA's inability to set black is a distraction from Home Assistant breaking the internal Hyperion model & priority system.
   * There is no fake state in any of these proposals. Hyperion has a much richer state than Home Assistant -- 100% of t

[2021-01-05 03:01] djtimca commented on #44568
I actually noticed recently that my app now provides a picture preview of the motion alert when it sends to my phone - I think this behaviour changed at around the same time. Might be related?

[2021-01-05 03:17] i00 commented on #38346
I know how they work ... But surely this should look it up from the HA config to determine what port it is running on rather than just assume the port is 80! ... It used to work; and this over site makes it appear like a bug.

[2021-01-05 03:27] i00 commented on #41569
It used to be a video; now it is a jpeg that seems to refresh ~every 5 seconds or so... it is streaming h.264 @6MP

[2021-01-05 04:37] #40513 closed

[2021-01-05 04:54] Eric-boop commented on #44487
A coupled of things, one see picture. The integration in missing the controls, no three dots, no way of refreshing or deleting the integration. I was able to add the device by going to configuration/integrations/+ add integration/esphome and add the ip of the device.

[2021-01-05 05:00] fbradyirl commented on #44763
Thanks for the log. I see lots of errors there but am unsure what they mean. I think you might need to open an issue with the box or enigma2 image team. If it cannot respond to a REST request once every 30 seconds there must be something wrong.

@frenck can you close this as it isn’t a HA issue.

[2021-01-05 05:09] grantclem commented on #44763
Well how do you come to this conclusion so soon? Don't close it thanks

I have been running with the integration enabled and rolled back to a the latest non beta version of HA and not one issue encountered.

[2021-01-05 05:26] fbradyirl commented on #44763
Ok I didn’t interpret that from your previous posts.

[2021-01-05 05:54] mdegat01 opened #44833 "Regex_search and Regex_match are filters, not tests"
## The problem

The added filters of `regex_search` and `regex_match` are not jinja tests even though they return a boolean. This means they cannot be used in a `select` or `selectattr` expression even though it makes sense to do so. This is what you see if you try:
![Screen Shot 2021-01-05 at 12 48 31 AM](https://user-images.githubusercontent.com/2037026/103611197-c7225b80-4eef-11eb-9299-313a8e78

[2021-01-05 07:10] bdraco commented on #44396
We might be able to use with_varient https://stackoverflow.com/questions/47644739/what-column-type-does-sqlalchemy-use-for-text-on-mysql

[2021-01-05 07:12] bdraco commented on #43053
https://stackoverflow.com/questions/47644739/what-column-type-does-sqlalchemy-use-for-text-on-mysql

A longer text field might make sense using with_varient

We would have to alter existing dbs as well

On SQLite and Postgres this probably works fine since they allow longer text by default

[2021-01-05 07:29] ottelo9 commented on #44453
The Integration works for 6-13h and then I get the error. After a reload the Integration works again for 6-13h.

I check a random entity "AGF Abgasfühler" before and after a reload. The Parameter ID doesnt change but the value ID changed.

![2021-01-05 08_23_27-Configuration - Home Assistant](https://user-images.githubusercontent.com/33122175/103618329-0ec8d780-4f30-11eb-989f-76dc5fceb080.png)
![2

[2021-01-05 07:41] MarvinSchenkel commented on #44305
Same issue here. @postlund, are the logs supplied by @sira87 in #43462 sufficient, or do you need any additional log to figure this one out?

[2021-01-05 09:01] #43990 closed

[2021-01-05 09:02] frenck commented on #44833
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2021-01-05 09:04] frenck commented on #44487
@Eric-boop Not sure how that is related to this issue. However, in your screenshot you see multiple instances of the ESPHome integration. Click the instance you'd like to refresh/delete, it will next show the tree-dot menu.

[2021-01-05 09:09] kodarn commented on #40612
I might mention I also experience this issue randomly running on Home Assistant Blue hardware and Home Assistant 2020.12.2 software. Logfile contained the entry:

`2021-01-04 04:28:56 WARNING (MainThread) [coap] Error received in UDP connection under DTLS: [Errno 111] Connection refused`

While troubleshooting I found that the lights worked as expected using the IKEA App on the smartphone. Simply

[2021-01-05 09:21] chemelli74 commented on #44280
I'm sorry there is no way (currently) to do additional checks.
You should untick the positioning checkbox from the device.

Simone

[2021-01-05 09:24] chemelli74 commented on #43978
"Timeout fetching xxx data" != "Unexpected error fetching xxx data"

Simone

[2021-01-05 09:28] chemelli74 commented on #43432
@bkupidura and @rds76 , I updated [aioshelly](https://github.com/home-assistant-libs/aioshelly/pull/53) to bind to all network interfaces.
You are welcome to test version 0.5.2.

Simone

[2021-01-05 09:51] cyberjunky commented on #44487
I had something similar too yesterday, a Wemo D1 node was unavailable,
although it could be programmed via ESPhome upload, and logs looked fine,
and thus was reachable.

Had to remove it (three dots -> remove) and add it again, after that only 2
of the 4 entities (temp sensors) were created, after a new upload they all
were available again, never had this.

On Tue, Jan 5, 2021 at 10:05 AM Franck N

[2021-01-05 09:54] brianacox commented on #44465
In preparation for the fix (I did a VM restore so I'm back working so will leave well alone to one appears), can I just ask if my understanding is correct - each morning I receive an email from Blink with the new PIN, which I then insert manually into a script and run.  Is this what everyone else is doing?  There isn't an automated way of doing this, e.g. a single script that receives an email and

[2021-01-05 10:01] starkillerOG commented on #44267
just made a PR for 'DTS-HD + DOLBY SURROUND' here https://github.com/scarface-4711/denonavr/pull/180

[2021-01-05 10:26] gobbe87 opened #45058 "Nuki lock doesn't works after upgrade to supervisor 2020.12.7 and Home Assistant OS 5.9"
### Describe the issue

After upgrade to supervisor 2020.12.7 and Home Assistant OS 5.9 Nuki locks remain unavailable. I checked the nuki bride API and it works correctly and the configured token is correct.

### Steps to reproduce

1. configure nuki:
# Nuki
lock:
  - platform: nuki
    host: 192.168.XXX.XXX
    token: XXXXXXXX

2. upgrade to release on the description
3. ...

### Enviroment detai

[2021-01-05 10:34] #40781 closed

[2021-01-05 10:44] fbradyirl commented on #44763
Could you try out this version of the component? I made a small change on how the openwebif module connects to the box.

[enigma2.zip](https://github.com/home-assistant/core/files/5769675/enigma2.zip)

Unzip and place the folder inside your `config/custom_components/` folder.

It would be useful to enable debug logs so use the following in your configuration.yaml for that:

[code]

[2021-01-05 10:58] MattWestb commented on #44820
One hint on name giving devices on the joining screen:
If having one aria with name "Bad" and adding the new sensor in the airai and giving it new paired Aqara weather sensor the name "Bad Klima) HA is putting it the 3 sensors from it in the aria "Bad" without the "Bad" in the name and only "Klima" and the sensor type:
![bad01](https://user-images.githubusercontent.com/49618193/103637514-e353e600-

[2021-01-05 11:49] fbradyirl commented on #44763
Please also add this logging if there are problems:

`openwebif.api: debug`

[2021-01-05 11:50] jsimon3 commented on #41315
Thanks @ChipWolf, that workaround 1 worked for me (it’s been 5 days or so). I tried the second option as well, but as most people reported: It seems the location of the devices doesn't update regularly, so it was not reliable enough to trigger automations.

[2021-01-05 11:54] martymarty004 commented on #41315
I started using the Home Assistant companion App. It works well, but if you don't expose your server on the web or connect your devices to it with a VPN the app will only work locally.

[2021-01-05 12:00] monster400 commented on #27461
Hello

This issue stil happens, some of my blinds works fine and others dont.

[2021-01-05 13:11] grantclem commented on #44763
Thanks mate,

I have been running for nearly two hours now with no issues. It would usually fall over by now.

I did not log openwebif this time as I had it already debugging and did not want to stop things.

This was with a non HA beta install and your enigma2 custom component install.

Did you want to run it now with the latest HA beta installed? I wont be able to do it for at least 24 hours.

[2021-01-05 13:35] Soben commented on #44303
The `DEFAULT_USER_AGENT` solution change to `pymq` no longer appears to be valid. My integration has started showing these errors again.

I do see that apparently these's a development MyQ integration to pull, so I will attempt this tonight.

[2021-01-05 13:41] a-bianucci commented on #44303
Soben,

It was in the latest release for HASSIO so that you don't need to do anything.  If you use custom_components you should just need to place the folder in there too.

[2021-01-05 13:57] karrde opened #44841 "enphase_envoy fails to connect"
## The problem

System fails to connect to envoy after upgrade of HA and HAOS.

Laptop on same network can successfully pull up envoy web interface.

## Environment

- Home Assistant Core release with the issue: 2020.12.2
- Last working Home Assistant Core release (if known): 0.118.x
- Operating environment (OS/Container/Supervised/Core): 5.9
- Integration causing this issue: enphase_envoy
- Link

[2021-01-05 14:02] Eric-boop commented on #44487
No, only one instance of ESPhome. And you way to delete it.

[2021-01-05 14:16] brianacox commented on #44465
Fantastic.... that's great news.  Thank you for your reply.... and indeed work with Blink integration; its excellent.

[2021-01-05 14:22] bingo6 commented on #44540
Thanks! Works great :-)

[2021-01-05 14:26] #40776 closed

[2021-01-05 14:28] dvino commented on #44292
In core component xiaomi_miio/fan.py [here](https://github.com/home-assistant/core/blob/67eebce55a766937af0fc083e8bb3d82fd2bbdfd/homeassistant/components/xiaomi_miio/fan.py#L341) are not deceled all supported attributes for zhimi.humidifier.ca4 include **water_level**. You can see how that does in custom component [xiaomi_airpurifier](https://github.com/syssi/xiaomi_airpurifier/blob/1cd406664b40b2

[2021-01-05 14:31] RomRider commented on #41892
@MartinHjelmare, hyperion has 254 priorities. Each priority should be seen as a unique light entity by itself. Each priority has a color, a brightness and supports effects.
On top of that there is global switch to turn everything on or off.

The proposal addresses everything:
* Simple mode: 1 priority only (= 1 light) with the ability to control everything at once (on/off) + color + and effect on

[2021-01-05 14:35] frenck commented on #44487
I count 5 instances of ESPHome in that screenshot alone. Please click on one of the instances in the list shown in the ESPHome card.

[2021-01-05 14:36] Shulyaka commented on #41396
Dear bot, the issue is definitely not resolved

[2021-01-05 14:40] Gawronnek commented on #44292
I try to avoid all kinds of custom components, if the integration is built in, it will somehow get over this lack of water level indications

[2021-01-05 14:44] AdvaitT17 opened #44843 "NFC unable to Callback URL"
## The problem

## Environment

[2021-01-05 15:00] willkramer opened #44844 "Automations with Value Template Triggers Are Not Firing"
## The problem
After upgrading from v0.115.0, automations that use templates as the trigger no longer fire as expected.

Example:
[code]

## Environment

- Home Assistant Core release with the issue: 2020.12.2
- Last working Home Assistant Core release (if known): 0.115.0
- Operating environment (OS/Container/Supervised/Core): Ubuntu 18.04.4 LTS

## Traceback/Error logs
Not seeing any errors in th

[2021-01-05 15:12] vzahradnik commented on #44254
I'm not sure what you mean. We already have such a table but it's only for common data types. Floats are among them.

From `modbus/const.py`
[code]

[2021-01-05 15:19] vzahradnik commented on #44082
Sure, I might take a look at it. However, the `Switch` configuration needs to be reworked to new configuration style first:
https://github.com/home-assistant/architecture/blob/master/adr/0007-integration-config-yaml-structure.md

@janiversen you mentioned that you already work on this global change, right? Can you tell what's the current state with this?
Thanks!

[2021-01-05 15:24] fbradyirl commented on #44763
Great no problem. Thanks for testing it.

I need to figure out how I get this into the beta channel now.

[2021-01-05 15:31] THH1986 opened #44846 "Unable to connect to device NetworkDevice - Dyson Integration"
## The problem

No matter what I try I dont get my 2 Dysons Hot+Cool Links (HP02) working in Home Assistant. I get the following error:

2021-01-05 16:13:34 ERROR (SyncWorker_3) [custom_components.dyson] Unable to connect to device NetworkDevice(name=Esszimmer,address=192.168.X.XX,port=1883): timed out

I have tried everything I found online so far, including:

- Different Versions of libpurecool

[2021-01-05 15:56] flyize commented on #40146
@marthoc Anything you can do about this pull request to fix the issue?

[2021-01-05 16:03] grezco commented on #44254
Unless I'm mistaken, the existing table doesn't seem to be usable in the case of a multiple value reading.

I would like to be able to access all the values of a multiple float reading by indexing a table and not by parsing the floats separated by commas.
Doesn't the comma separator limit the number of Modbus variables read? (especially in the case of floats with many characters).

[2021-01-05 16:09] fbradyirl commented on #44763
Ok I have a PR open now to get it into the next beta release.

In the meantime you can use this latest custom component. It has some better logging than the last one.
[enigma2.zip](https://github.com/home-assistant/core/files/5771273/enigma2.zip)

[2021-01-05 16:14] bdraco commented on #43053
[code]

[2021-01-05 16:14] jpreiditsch commented on #44303
I see this all the time as well. I tried to update the logging level on the myq component as well as pymyq within homeassistant to see if there is anything that should expose the error in the logs but there is not.
During the unavailable time the garage door opener still appears to work and can be controlled with the myq app but home assistant prevents any control while unavailable.
I would like t

[2021-01-05 16:22] #44763 closed

[2021-01-05 16:22] #40777 closed

[2021-01-05 16:23] uusitalo commented on #43800
Same here, i even did fresh install of mac os, virtualbox and hassio.
Few hours and i can turn off lights but cannot turn them back on.
After restarting hassio it works again

[2021-01-05 16:27] rickscherer commented on #44303
Curious of what DEFAULT_USER_AGENT those having issues have in their api.py
file.
I've been using DEFAULT_USER_AGENT = "okhttp/3.12.0" since Dec 19 without
issue.

On Tue, Jan 5, 2021 at 8:15 AM Joseph Preiditsch <notifications@github.com>
wrote:

[2021-01-05 16:46] #44280 closed

[2021-01-05 16:56] a-bianucci commented on #44303
zacheryph,

Exactly what I was thinking, I am going to try here shortly updating mine to a static value in the config and see if it stops occurring. If that's the case then we can confirm it.  The question would then be how to see what values it's using that are being rejected so that they can be removed in the next rev.

[2021-01-05 16:57] Colorado4Wheeler opened #44848 "Insteon X10 additions only save a single element instead of adding to the JSON array"
## The problem

  As reported in the forums,[https://community.home-assistant.io/t/x10-through-insteon-integration-no-longer-working/245818/5](url), since 2020.12.0 X10 devices added via the Insteon integration do not work.  As it was pointed out in the thread, an edit to the core.config_entries file resolves this by adding to the JSON array.

I haven't dug into the Insteon repository to pinpoint

[2021-01-05 16:57] steve-gombos commented on #44303
I updated the default user agent on my instance to be something static and continued to see these issues.  I'm assuming there is a server/infrastructure issue on the myq side of things potentially.  Would like to cross verify with others if they see the same.

[2021-01-05 16:59] frenck commented on #44303
This is has been marked as resolved. In case there is a new issue, please create a new issue. Thanks 👍

[2021-01-05 17:01] chemelli74 commented on #43977
@nivnoach, I investigated and this is the intended behavior for all integrations.
Zeroconf is offered once per each integration per HA run. So to trigger it again you need a restart.

You mentioned a patch, is that supposed to change core or Shelly integration ?

Simone

[2021-01-05 17:21] jsbrich opened #44850 "MyQ dropping service"
Is anyone else having issues with MyQ going in and out of available today?  Mine has dropped out dozens of times in the last 12 hours.  Normally, I don't see it drop out at all.

![image](https://user-images.githubusercontent.com/63560376/103677383-d634f800-4f47-11eb-85e9-ff936cd6499d.png)

I don't see anything in the logs so far, but they are set at critical, so probably won't.

## System Health

[2021-01-05 17:23] plourenco commented on #43807
This issue can be closed as it has been solved in bimmer_connected#257.

[2021-01-05 17:24] vzahradnik commented on #44254
Yes, you're correct. This table is used to simplify reading of common types (read always as a single value). If lookup fails, the integration throws an error telling you to try custom schema.

No (at least I am not aware of it). Basically, by defining the schema you tell Python how to parse incoming bits. Python returns an array of parsed values. The way of separating the values with comma is just

[2021-01-05 17:25] tdejneka commented on #37570
Problem still exists in 2020.12.2.

Re-enabling a disabled input_boolean results in `Unavailable` and nothing short of re-starting Home Assistant corrects it (none of these correct it: waiting, refreshing the browser, or executing Reload Input Booleans).

Screenshots and test results posted in related Frontend Issue. https://github.com/home-assistant/frontend/issues/6351#issuecomment-754757290

[2021-01-05 17:37] frenck commented on #44850
Please change your log settings and restore the issue template so you can include the logs. Without them, we cannot proceed.

Furthermore, your issue looks like a generic question. If you want to check if others are experiencing the same issue, please use our community forum or the Discord chat.

Thanks 👍

[2021-01-05 17:39] timutta commented on #44653
I've not received any errors anymore since using configuration.yaml. So it seems this does happen only when using cloud integration.

[2021-01-05 17:49] cuki commented on #35696
How I managed to load the configuration from the respective YAML file (**configuration.yaml**) is by skipping the core config step by adding **.storage/onboarding** (to my private repository, containing my initial Home Assistant configuration), with the following content:
[code]

[2021-01-05 18:05] elrolfe opened #44851 "MyQ Integration Intermittently Dropping Service"
## The problem

I noticed that when trying to open my garage door through the MyQ integration, it failed and reported that the entity was unavailable.  I restarted Home Assistant, and it still said the entity was unavailable.  A few moments later, the entity was available, and I was able to control the garage door opener.  However, throughout the day, the entity has been switching between availabl

[2021-01-05 18:10] janiversen commented on #40705
@vzahradnik should we keep this open, and discuss e.g. the new config format here as well ?

[2021-01-05 18:15] RichardUUU commented on #43977
A restart doesn't allow you to discover previously ignored devices. @nivnoach showed how to unignore devices, the problem is I have dozens of Shelly devices, and when trying to unignore they all just say Shelly. Could you show any information like ip or serial?

[2021-01-05 18:19] CharlesH75 opened #44852 "ZHA doesn't update device : Scene Switch 4 Gang TS0044 doesn't update"
## The problem

I have a Tuya Zigbee 4 Button Scene Switch that i have successfully paired to ZHA (with Sonoff Zigbee Bridge and also tried with a CC2531 stick).
This is exactly the model of the device: https://zigbee.blakadder.com/Earda_ESW-0ZAA-EU.html

But when I click on buttons of the device, the switch are not updated and I get the following warning
`[zigpy.zcl] [0xb2f7:3:0x0006] Unknown clu

[2021-01-05 18:21] vzahradnik commented on #40705
@janiversen I think it does no harm if we keep it open. Could you sum up here what changes you have as a work-in-progress?

[2021-01-05 18:22] Scialla commented on #21688
problem persist in Home Assistant 2020.12.2

[2021-01-05 18:22] emufan opened #44853 "pydaikin/discovery.py: "Address already in use" if home assistant is launched via docker in a NAS"
## The problem
Launched home assistant in docker from QNAP NAS. The NAS already have internal UDP discovery and when the discovery.py is used, I have this error

`
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/data_entry_flow.py", line 130, in async_init
    result = await self._async_handle_step(
  File "/usr/src/homeassistant/homeassistant/data_entry_flow.py", l

[2021-01-05 18:37] bdraco commented on #44851
Reported here as well
https://github.com/hjdhjd/homebridge-myq/issues/226

May be myq servers having issues per https://github.com/hjdhjd/homebridge-myq/issues/226#issuecomment-754818639

[2021-01-05 18:48] janiversen commented on #40705
A very fair request, I have the following branches open:

1) update test harness to allow test of new config. This is nearly ready to be submitted, but I needed to make some changes in the run-code as well. I have update your PR42120 as well as your test code in order to test my PR.
Once I submit this PR I will ask for your review, and I will suply you with a branch that includes a working PR42120

[2021-01-05 18:53] janiversen commented on #40705
Btw apart from debugging/running single tests with visual code, I find this command very usefull

pytest --log-cli-level=DEBUG test_modbus_sensor.py

And of course running “hass -c <config_dir>” to see my changes in production.

[2021-01-05 19:01] vzahradnik commented on #40705
OK, perhaps I could prepare a PR to change the `Switch` config first. I see we have at least one issue (feature request) and one PR related to the Switch. If we migrate the config to new way, I could start implementing requested features.

Current status:
- Climate migrated
- Cover, Light (new integrations, already new config)
- Switch, sensor, binary_sensor TBD

Also, Modbus Light is currently fa

[2021-01-05 19:04] vzahradnik commented on #40705
Just thinking whether it's worth sticking to the backwards compatibility. Currently, Modbus has more issue than just legacy config, for example Modbus hub is an optional parameter. Ideally, we should iron-out all these issue with this global change at once. Changing the parameters from optional to mandatory will definitely break the config.

[2021-01-05 19:09] janiversen commented on #40705
Modbus light is failing, because the test harness in dev do not support discovery, it works here, so no need for you to dig into this.

I have a converted version of switch, sensor and binary_sensor (climate and cover are already using discovery).

You might be  right, that it is not worth while, but all integrations outside modbus that uses modbus, will continue (at least for now to use the old c

[2021-01-05 19:16] zacheryph commented on #44303
I can confirm, I updated to a static value (its a static value to begin with) and same thing.  I am going to attempt making it random for every request.

[2021-01-05 19:31] vzahradnik commented on #40705
I agree. Let's start with the config PR. If you want, we could collaborate on a single branch. Either you create a branch in your fork, or I create a branch in mine.

It is a problem. Default hub name is `default`. Imagine that you define a Cover entity, and you specify `hub1` as an optional parameter. However, there's no `hub1`. If you run such a config, it will throw an exception.

Currently, th

[2021-01-05 19:31] jalexladd opened #44855 "Simplisafe entities showing as unavailable"
## The problem
Many times an hour, all Simplisafe entities appear as 'Unavailable'.

## Environment
  ## System Health

version | 2020.12.2
-- | --
installation_type | Home Assistant OS
dev | false
hassio | true
docker | true
virtualenv | false
python_version | 3.8.6
os_name | Linux
os_version | 5.4.79-v7
arch | armv7l
timezone | America/Chicago

<details><summary>Home Assistant Cloud</summary>

l

[2021-01-05 19:34] NobleWolf opened #44856 "Blueprint is not valid if there are options in the trigger"
## The problem

Blueprint that uses a target and includes options in the trigger for that target did not produce a valid blueprint.
In the blueprint below the input 'target_lights' is a target and then in the 'trigger' section that input 'target_lights' includes "from" and "to" options. When those "from" and "to" options are removed the blueprint becomes valid. This works as an automation as writt

[2021-01-05 19:38] janiversen commented on #40705
I think I must have overlooked something, because to me the difference is only a single line “covers:” which are duplicated and your first configuration is more logical especially when we move towards online configuration.

I am in favour for the first configuration, but also it is not a strong opinion.

Doing the validation within e.g. cover is actually quite easy just do “if <name> in hass.data[

[2021-01-05 19:45] frenck commented on #44856
`target` is not a valid key for the `state` trigger.
See: <https://www.home-assistant.io/docs/automation/trigger/#state-trigger>

[code]

Targets can only be used in (most) service calls.

[2021-01-05 19:45] #44856 closed

[2021-01-05 19:46] bachya commented on #44855
This has been addressed in [a community post](https://community.home-assistant.io/t/simplisafe-very-unreliable-as-of-late/255013), but not here, so I will connect the two.

Recently, SimpliSafe's unpublished cloud API has been struggling. When you see entities marked as `unavailable`, this means that the upstream service(s) failed in some way; indeed, most users (myself included) are regularly see

[2021-01-05 19:46] #44855 closed

[2021-01-05 19:46] gimlichael commented on #34345
Before I raise a new ticket, I am just curious if other is experiencing issues with 2020.12.1 or 2020.12.2?

I am keep getting a timeout error from the Nabu Casa website.

Netatmo stopped working some days ago, so i tried to remove it and re-add it.
However, I keep getting:

`Oops... an error occured
The netatmo service didn't reply in time with a token. They might have problems at the moment. Ple

[2021-01-05 19:47] jsbrich commented on #44850
I apologize for the general statement, I know there have been a lot of on and off issues with MyQ, largely driven by MyQ changing their API.  So before spending a ton of time debugging an issue we had no control over, wanted to see if others are seeing the same thing.

Is there something specifically I should add to configuration.yaml for logging on this?  I apologize, I'm relatively new to HA and

[2021-01-05 19:48] vzahradnik commented on #40705
In the first case, `covers` are nested under the specific hub. In the second case, `covers` are nested directly under `modbus`
Imagine having 10 covers under `hub1` and 10 covers under `hub2`

In the first case, you'll get something like this:
[code]

In the second case, all covers are defined in a single array, and are separated from the hub configuration. This is similar to what some other integ

[2021-01-05 19:48] Adminiuga commented on #44852
enable debug logging and post content of the frame which is throwing this exception

[2021-01-05 19:48] frenck commented on #44850
@jsbrich Don't worry! Meanwhile, issue #44851 was created, which does have the data needed.
Let's close up this one and continue in #44851 👍

Duplicate of #44851

[2021-01-05 19:48] #44850 closed

[2021-01-05 19:52] janiversen commented on #40705
I see what you say, but since any specific cover can only belong to a single hub, there are no duplication of cover configuration.

Counting lines the second version is bigger assuming more than 1 cover (but that is a bad argument!, my main argument is thinking about online configuration, you configure a hub and all connected devices in one go).

I would prefer to stick to what we have, since it a

[2021-01-05 19:57] vzahradnik commented on #40705
I agree. Therefore we need to adapt `Switch`, `Sensor` and `Binary Sensor`. I already did some work on the `Light` PR. Because it extends the `Switch`, I defined a common `SWITCH_BASE_SCHEMA` inside `__init__.py`. It was moved (copied) from the `Switch` and adapted. My plan was to remove the legacy config after we move the `Switch` to the new config way.

[2021-01-05 19:59] Adminiuga commented on #44852
for debug https://www.home-assistant.io/integrations/zha/#debug-logging

[2021-01-05 20:01] NobleWolf commented on #44856
Thank you.

[2021-01-05 20:01] jsbrich commented on #44851
Seeing the same issue on my setup

[2021-01-05 20:14] zacheryph commented on #44303
I can confirm, even changing the User Agent for every single request causes the same issues.

[2021-01-05 20:18] flyize commented on #40146
Fantastic!  Thanks guys.

[2021-01-05 20:33] Jamjon commented on #44825
Getting this now after pressing the botton on the sensor.
Locks like the problem ist the routing in the plug mixes up the source of the message.

Is there a way to send you the full logs without posting them puplicly, i dont know how to clenan them fast.

2021-01-05 20:23:58 DEBUG (MainThread) [zhaquirks.xiaomi] 00:15:8d:00:03:11:7a:de - Attribute report. attribute_id: [65281] value: [{'battery_vo

[2021-01-05 20:38] roofuskit opened #44857 "Ikea 5 button remote controls Xiaomi Curtain motor when added to ZHA netowork"
## The problem
Once paired to ZHA network IKEA 5 button remote (power button) toggles Xiaomi curtain motor open and closed.

## Environment
- Home Assistant Core release with the issue: 2020.12.2
- Last working Home Assistant Core release (if known): N/A
- Operating environment (OS/Container/Supervised/Core): Core in Docker
- Integration causing this issue: ZHA
- Link to integration documentation

[2021-01-05 20:40] Jamjon commented on #44825
but the plug is still reported as a plug this time.

[2021-01-05 20:53] janiversen commented on #40705
I have adapted your schemas without changes. The light test of course have a lot of changes. light.py do have a few changes, but are based on your PR.

For the configuration part I am have experimental added SCAN_INTERVAL to the serial/tcp schemas, so it can work as a “default” for all device configurations that do not overwrite it. In my version I add SCAN_INTERVAL to devices that do not have it

[2021-01-05 21:11] canedje opened #44858 "WS-"
## The problem

Some time ago I did install 3 Imou IP cams type IPC-A22E-V2 with the ONVIF integration in HA.
Since then I do recieve a lot of these warnings in my HA log.
[code]
It appears 100ths times an hour.
Slowing down my HA system

The cams selfs are running fine.
Imou is not providing ONVIF PTZ standard for this cams, maybe something to do with this problem?

## Environment

## System Heal

[2021-01-05 21:14] pawel334 commented on #44454
I've noticed similar problem with timestamp of datetime entity in developer tools:

Before restart:
"input_datetime.test"
    editable: false
    has_date: true
    has_time: true
    year: 2021
    month: 1
    day: 5
    hour: 20
    minute: 0
    second: 0
    timestamp: **1609873200**

After restart:
"input_datetime.test"
    editable: false
    has_date: true
    has_time: true
    year: 2021

[2021-01-05 21:20] #40775 closed

[2021-01-05 21:20] #40765 closed

[2021-01-05 21:32] AdamStrojek opened #44859 "BLE Tracking doesn't work on HA Core 2020.12.2 when battery tracking enabled"
## The problem

I have finally received my Bluetooth dongle that is able to track BLE devices. When I have setup everything and enabled battery tracking for devices it is crashing device_tracker: bluetooth_le_tracker integration. I'm using HassOS (original virtual machine image) on Proxmox, I have forwarded USB port and BT dongle in HassOS is working correctly. When I disable battery monitoring ev

[2021-01-05 21:35] giantorth opened #44860 "Duplicating an automation without a generated ID can disable unrelated automations"
## The problem

## Environment

- Home Assistant Core release with the issue: 2020.12.2
- Last working Home Assistant Core release (if known): N/A
- Operating environment (OS/Container/Supervised/Core): Hass.io supervised on Ubuntu 18.04.5 LTS
- Integration causing this issue: Automation
- Link to integration documentation on our website: https://www.home-assistant.io/docs/automation/

## Problem-

[2021-01-05 21:39] rogiernota commented on #43766
Same issue here

[2021-01-05 21:42] djtimca commented on #44568
I removed the integration and added it again and it appears all of the functionality is back. Must have been something session related. Thanks!

[2021-01-05 21:42] #44568 closed

[2021-01-05 21:46] jonare77 commented on #44653
Thanks for the testing, will try the same!

[2021-01-05 22:01] Guyohms commented on #31579
Hi,
I'm also having the weird behavior when the sensor value doesn't much.
![image](https://user-images.githubusercontent.com/44414660/103704299-1364ae80-4f77-11eb-9e07-5792495d7f92.png)

The sensor value is changing by a few here and there and that causes a good change on the derivative value.
Home Assistant have not beed restarted for that time window.

Here's my config:
[code]

[2021-01-05 22:15] michalkujawa commented on #44783
Hi @tetienne,
Did you solve this issue? Should I do something with integration or my HA? Because I can't find solution in related issues.
Thanks for your answer in advance.

[2021-01-05 22:17] delicon commented on #37651
My log file is also full with these errors and warnings.

`2021-01-05 22:19:52 WARNING (MainThread) [homeassistant.helpers.entity] Update of fan.air_purifier is taking over 10 seconds
2021-01-05 22:19:57 ERROR (MainThread) [homeassistant.components.xiaomi_miio.fan] Got exception while fetching the state: {'code': -9999, 'message': 'user ack timeout'}
2021-01-05 22:28:40 WARNING (MainThread) [homea

[2021-01-05 22:18] tetienne commented on #44783
@kayloehmann @michalkujawa you will have to have the next ha release which include the fix of the duplicate issue I linked.

[2021-01-05 22:28] ChipWolf commented on #41315
@A-BnSultan what're you struggling with?

[2021-01-05 22:42] Spirituss commented on #40597
Still is actual

[2021-01-05 23:00] piitaya commented on #37345
Any idea about the best/preferred approach?
I have similar issues with the alarm, the fan speed (https://developers.google.com/assistant/smarthome/traits/fanspeed) and the channel (https://developers.google.com/assistant/smarthome/traits/channel). The channel aren't implemented yet but I planned to do it.

Fan speed synonyms are already added in home assistant but it's not translated.

[code]

We

[2021-01-05 23:07] ImaBadCoder commented on #37851
Same issue here.. Just tried for the first time and getting the following errors in the log..

2021-01-05 16:57:57 INFO (MainThread) [custom_components.aarlo.camera] installing handlers
2021-01-05 16:57:58 WARNING (MainThread) [homeassistant.setup] Setup of skybell is taking over 10 seconds.
2021-01-05 16:58:20 INFO (SyncWorker_4) [skybellpy] Login successful, waiting 5 seconds...
2021-01-05 16:58

[2021-01-05 23:19] yfands opened #44864 "Xiaomi Mijia ZHA not detecting battery level (it did in previous versions lower as 2020.12.7)"
## The problem

Hai The original call is from ( lustreking aka Steve Small) , I (yfands) can confirm Steve's findings indeed no battery level.
Steve posted his issue [here ](https://community.home-assistant.io/t/xiaomi-mijia-zha-not-detecting-battery-level/257827)but no answer there, so iam trying it here. In his original call there are 2 pictures one when all was well and the second picture after

[2021-01-05 23:31] Adminiuga commented on #44852
[code]

@puddly  any reason why it throws exception for the last received frame?

[2021-01-05 23:35] step2zero opened #44865 "VeSync new device support"
## The problem
Lack of support new devices from VeSync integration.
Especially Levoit Purifier C200, I was able to make it working with minor edits in "pyvesync" module.
It's generally responding to the same, API/Calls as existing LV-PUR131S.

I was editing a few lines:
[code]
--------
`fan_types = ['LV-PUR131S', 'Core200S']`

Result:
[code]

## Environment

- Home Assistant Core release with the

[2021-01-05 23:41] Adminiuga commented on #44852
This is a remote. But it is a Tuya remote which was not implemented according to the specs. You cannot control remotes. Remotes only send event and this remote requires a quirk in zha-device-handlers repo. Since there's already a TS0044 one, should be matter of just adding a new model/manufacturer

[2021-01-05 23:46] puddly commented on #44852
The `Util.AssocGetWithAddress` response format unfortunately isn't stable across Z-Stack versions and would require special handling for these older firmwares. Thankfully they don't actually support the manual child aging that this command is performing in response to a `MAC_TRANSACTION_EXPIRED` error status so this error can be ignored (and has been fixed in the zigpy-znp dev branch).

[2021-01-06 00:06] jalexladd commented on #44855
I just received one of the 500 internal server errors (first one that I've received that specifically mentioned a 500 error), and the logger showed it as a different type of error than the one posted in this issue (the one in this issue had over 5000 occurrences in the last 4 hours).

So, I started digging around some more and found that my Simplisafe account actually had two subscriptions for the

[2021-01-06 00:38] Adminiuga commented on #44825
show the originator of this message
[code]

post a few lines prior this line. Which device sent it?

[2021-01-06 00:42] Adminiuga commented on #44857
What radio?

[2021-01-06 00:44] roofuskit commented on #44857
HUSBZB-1

[2021-01-06 01:03] MikeDProducer commented on #44851
Same here.

[2021-01-06 01:16] Adminiuga commented on #44857
Well, that happens because by default that remote sends commands to group 0x0000, which is the scenes group and I guess Aqara motor is listening to that group too.
You need to bind that remote to another group, but Coordinator has to be member of that group, IF you are using that remote for automations and not direct binding.

What groups are showing up in ZHA configuration?

[2021-01-06 03:31] akartawidjaja commented on #44465
After I input the PIN from the email, I received the "invalid access token". So then I tried to simply leave the PIN blank and click Submit the second time and that works. So the integration is definitely buggy. But it seems to be working now.

[2021-01-06 03:38] #40494 closed

[2021-01-06 03:46] daveismith commented on #27371
Nanoleaf Essentials Light Strip (Thread Connection via HomePod Mini)
[code]

[2021-01-06 03:49] daveismith commented on #27292
Note: Homekit can also be on _hap._udp.local for thread based devices

Manufacturer: Nanoleaf
Model: Essentials 80" | 2M Lightstrip
Home Assistant Integration: homekit light
Homekit model: NL55

[2021-01-06 06:53] VP911 commented on #41437
Hi, @mplogas, have you managed to get it working? I am receiving exactly same error message when trying to setup Azure IoT Hub.

[2021-01-06 07:10] alandtse commented on #44777
Thanks for the detailed report. I'm using Android and I'm not seeing the unauthorized response when I open the app. I'll try to dig up my old iPad to test it there but I do share an account with people who have iphones and I haven't seen this behavior before even though I know they use it. Is it just using the app or is it the unlock?

You're right that we don't have an auto relogin function in th

[2021-01-06 07:15] alandtse commented on #44777
Oh one last thing, if you Reload the intergration, it should be the same as removing and readding.  It's a bit faster than manually removing and readding. Of course let me know if it doesn't work.

[2021-01-06 07:56] CharlesH75 commented on #44852
Thanks, after upgrading to the dev version of HA, it works fine

[2021-01-06 07:56] #44852 closed

[2021-01-06 08:20] cpcowart commented on #40368
For what it's worth, as a user, I finally decided to deal with this message in my logs. It was unclear how to handle it. Some web searches ultimately landed me at #35788, and after reading through that, the final comment led me here.

I'm guilty of barely glancing at the release notes, but so are the vast majority of your users.

A far more useful diagnostic warning in the logs would have been "Th

[2021-01-06 08:23] #39769 closed

[2021-01-06 08:31] #40927 closed

[2021-01-06 09:01] balloob commented on #40357
Since this only impacts Home Assistant when we're either debugging or when a warning/error happens (hopefully rare), I think that we should remove the optimization to avoid not being able to debug issues properly.

[2021-01-06 09:18] thecode commented on #43978
This PR should fix the `Shelly Unexpected error fetching shelly data`
https://github.com/home-assistant/core/pull/44172

[2021-01-06 09:50] saruter commented on #40936
Issue is still present.

[2021-01-06 10:11] ocampana commented on #30395
I had the same problem and the proposed solution works. I am going to open a pull request for that

[2021-01-06 10:21] lruppert opened #44875 "Kodi integration leaves several dozen open sockets over time"
## The problem
Over time, the home assistant server continues to open sockets to Kodi seemingly without closing them. There is no reason why  there should be 60-90+ established sockets. This seems to also lead to a mysterious failure state in which HA is eventually unable to create any more sockets, causing all network-based integrations to drop offline despite there being no network connectivity

[2021-01-06 10:27] fredrike commented on #44853
@emufan the source code of pydaikin is located at: https://bitbucket.org/mustang51/pydaikin

And I guess that you are looking for this part: https://bitbucket.org/mustang51/pydaikin/src/d768d0acee7535e6ffe8ba5252f0b9e37897728e/pydaikin/discovery.py#lines-51

[2021-01-06 10:38] janiversen commented on #40936
In that case, please make a small example (that we can easier simulate) with max 1-2 devices. Provide the config, the log and what values you expected. Since I currently cannot reproduce the problem, I cannot help without more information.

There is one racing situation we cannot control, when HA starts up it ask the modbus integration to configure itself, while doing that most values (not the cus

[2021-01-06 10:54] timdonovanuk commented on #42784
Also: https://github.com/home-assistant/core/issues/42784, https://github.com/home-assistant/core/issues/37545, https://github.com/home-assistant/core/issues/36145

As a workaround, you can bypass the broken ONVIF motion sensor integration and use a manual REST integration to pull the camera motion state. On my camera (C1-Pro) the state is at: http://192.168.1.5/api.cgi?cmd=GetMdState&user=admin&p

[2021-01-06 11:30] #40945 closed

[2021-01-06 11:54] emufan commented on #44853
Thanks @fredrike. Thank you. I'm not familiar with bitbucket. Is it possible that you add the needed line from https://github.com/home-assistant/netdisco/commit/fa1da963b20719f7cad75c1df6117d3b0de4e81f or is it needed, that I have to  add a pr there?

[2021-01-06 12:01] jeremycook61 opened #44876 "Error when scenes include climate entities"
## The problem
I have scenes that include climate entities. The scenes are created in the scene editor.

The generated scene code includes eg:

    name: Economy
    entities:
      climate.livingroom_thermostat:
        hvac_modes:
        - heat
        - 'off'
        min_temp: 7
        max_temp: 35
        fan_modes:
        - auto
        current_temperature: 21
        temperature: 18

[2021-01-06 12:11] kbabioch commented on #35696
@cuki That sound's like a good work-around. is this documented somewhere? Probably this is likely to "break", since `.storage` shouldn't be managed / touched manually?

[2021-01-06 12:24] Jamjon commented on #44825
2021-01-05 20:21:51 DEBUG (MainThread) [zigpy_znp.api] Creating one-shot listener OneShotResponseListener(matching_commands=(AF.DataConfirm.Callback(Status=None, Endpoint=None, TSN=8),), future=<Future pending cb=[ZNP.wait_for_responses.<locals>.<lambda>() at /usr/local/lib/python3.8/site-packages/zigpy_znp/api.py:436]>)
2021-01-05 20:21:51 DEBUG (MainThread) [zigpy_znp.api] Sending request: AF.Da

[2021-01-06 12:25] fermulator opened #44877 "RuntimeError: cannot schedule new futures after shutdown"
## The problem

A restart issued from UI rendered home assistant stuck. This is the first time in years happened to me. But I _mostly_ restart HA from command line ... so ... anecdotal.

This is coming from MULTIPLE files/integrations/core.

Home assistant gets stuck shutting down. (infinitely)

## Environment

- Home Assistant Core release with the issue: `0.118.5`,
- Last working Home Assistant

[2021-01-06 12:27] Jamjon commented on #44825
after a restart it was misclassified again

2021-01-06 01:23:14 DEBUG (MainThread) [zigpy.quirks.registry] Checking quirks for LUMI lumi.weather (00:15:8d:00:03:11:7a:de)
2021-01-06 02:22:49 DEBUG (MainThread) [zigpy.device] Ignoring message (b'1c5f11c70a0000294808') on cluster 1026: unknown endpoint or cluster id: 'No cluster ID 0x0402 on (00:15:8d:00:03:11:7a:de, 1)'
2021-01-06 02:22:49 DEBUG (M

[2021-01-06 12:34] virusmoere opened #44878 "EDL21: Unhandled sensor"
## The problem

Missing handled OBIS codes results in HA warnings.
Since the newest edl21 Version my Smartmeter is detected by the intergration. Unfortunately I still get warning messages for some unkown OBIS IDs (see below). The meter is a Holley DTZ541-ZEBA.

## Environment

- Home Assistant Core release with the issue: Home Assistant 2020.12.2
- Last working Home Assistant Core release (if know

[2021-01-06 12:40] #40146 closed

[2021-01-06 12:46] fredrike commented on #44853
@emufan New version of pydaikin is pushed to pypi, can you update here?

https://pypi.org/project/pydaikin/2.4.1/#history

[2021-01-06 12:52] THH1986 commented on #44846
**I solved the issue**. Setting up my eero mesh to bridge mode and assigning the static ips directly via my FritzBox router (and oc using this newly assigned static ips in HA) solved the problem for me. I don't know if this is a known problem or not but if someone every encounters the same, feel free to try my "fix" ;)

[2021-01-06 12:55] Adminiuga commented on #44825
What are the nwk and ieee addresses of the lumi plug and weather sensor?

[2021-01-06 13:10] Adminiuga commented on #44864
Open this issue in zha device handlers and post device signature/zigbee information from device card

[2021-01-06 13:10] Jamjon commented on #44825
Plug:
2021-01-04 19:50:15 DEBUG (MainThread) [zigpy_znp.api] Received command: ZDO.TCDevInd.Callback(SrcNwk=0x6821, SrcIEEE=00:15:8d:00:03:11:7a:de, ParentNwk=0x0000)

sensor:
![lumi_weather](https://user-images.githubusercontent.com/61666865/103771918-eec90f00-5028-11eb-8659-8e2d8b89a689.png)

[2021-01-06 13:12] #44817 closed

[2021-01-06 14:16] Be-Virtual commented on #44851
Has to be on the hub or HA because the MYQ apps still works perfectly

[2021-01-06 14:32] karrde commented on #44841
Sorry, was looking at the Supervisor version.  Edited to correct.

[2021-01-06 14:53] gitmirko opened #44880 "KNX switch randomly turns on by itself"
## The problem

Hi,
I have one KNX switch in particular that turns on by itself or at least without clear reason (for me). The switch is mapped to one channel of the MDT actuator AZI-0616.01. I was experiencing this problem since I first started using Home Assistant a couple of months ago. I even defined the switch state as a KNX binary_sensor and still got the same problem. Removing all definitio

[2021-01-06 15:10] stu247 opened #44882 "trigger state "for" statement does not work after reload of automation"
## The problem

If state trigger has a for statement and the automation is reloaded before the time specified in the for statement, then the automation is not triggered.  For example with this automation:

`
- id: '15'
  alias: Mark person as extended away
  trigger:
  - platform: state
    entity_id: input_select.jim_status_dropdown
    to: Away
    for:
      hours: 24
  action:
  - service: inp

[2021-01-06 15:12] davispeden1 commented on #44777
So one last bit of information -- a workaround.  On a whim yesterday, I went into my Tesla account and added a new driver to my car using a different email address.  After going through the confirm email step, I then used this new email address and password combination the HomeAssistant integration.  Since making this change, I have encountered no more 401s and I am no longer seeing the re-authent

[2021-01-06 15:13] j4ys0n commented on #34350
@marthoc @rsnodgrass @MartinHjelmare what do you guys suggest as a fix?

[2021-01-06 15:15] Adminiuga commented on #44825
No, show the NWK of the plug as ZHA sees it right now

[2021-01-06 15:20] Adminiuga commented on #44825
[code]

The source address is 0x3ABD -- which is correct, but the IEEE address is `00:15:8d:00:03:11:7a:de` is wrong. Which tells me that Zigpy thinks that both the plug and lumi sensor have the same NWK. How this happens, I cannot tell. unless Zigpy misses a device annce, device annce is coming in with the wrong data or something else is going on.

[2021-01-06 15:21] ZzzenT commented on #44777
I'm facing the same issue. Haven't tried the work around from @davispeden1 yet though. Does seem to be related to the account being used at more than 1 place (Tesla app and HA)

[2021-01-06 15:34] farmio commented on #44880
*_state addresses get read after one hour. This should not switch the actuator, if it does there is maybe a problem in your knx project.

Here is what you can do:
- log such an event from ETS GroupMonitor
- make a Screenshot of the actuators communication objects and settings
- list all HA Device configurations that use GAs from the channel that switches itself
- set xknx.telegram logger to debug

[2021-01-06 15:49] OnFreund commented on #44875
I've never encountered the mysterious failure you're describing and I'm running 4 instances of the kodi integration. Can you add more info on how to reproduce? What points you at the kodi integration?

[2021-01-06 16:17] fallingcats opened #44887 "Shelly integration randomly falls back to polling"
## The problem

The shelly integration seems to randomly switch between polling and push updates.
Over the course of a day it spends roughly 1/3 of the time polling, making my detached light switches rather impractical. When it does fall back to polling it does so for all devices, suggesting the problem to be somewhere on my home-assistant host.

## Environment

- Home Assistant Core release with

[2021-01-06 16:23] emufan commented on #44853
Thanks a lot. Done: https://github.com/home-assistant/core/pull/44888

[2021-01-06 16:27] quizzical86 commented on #39106
I have the same problem. I resorted to creating a dedicated stop button in lovelace...

[2021-01-06 16:48] OneCyrus commented on #43802
after a couple of days with this updated version, it looks very stable. i restarted many times and it kept the same name and had always a correct state.

[2021-01-06 16:55] tdejneka opened #44890 "Disabled input_boolean cannot be re-enabled without restarting Home Assistant."
## The problem

An input_boolean can be conveniently disabled but it cannot be re-enabled unless you restart Home Assistant.

## Environment

- Home Assistant Core release with the issue: 2020.12.2
- Last working Home Assistant Core release (if known): probably never
- Operating environment (OS/Container/Supervised/Core): OS
- Integration causing this issue: input_boolean
- Link to integration doc

[2021-01-06 16:59] tdejneka commented on #37570
Problem still exists but closing due to lack of interest for the past six months.

[2021-01-06 16:59] #37570 closed

[2021-01-06 17:19] ik0adr commented on #43371
Unfortunately same error on 2021.1.0, released today with the new callmonitor.

[2021-01-06 17:19] lruppert commented on #44875
I configured the kodi integration using the GUI frontend. In trying to diagnose the mysterious network behavior, I noticed the huge number of open sockets.

I am running the home assistant docker container on a raspberry pi 3 and the Kodi on an android tablet. Other symptoms which are anecdotally shared with other users are the media_player item in lovelace graying out or only updating every ten m

[2021-01-06 17:38] pszafer commented on #43802
@vanlooverenkoen can you check it as well?

[2021-01-06 17:39] robyevolution commented on #44549
i upgraded to version 2021.1 but the problem persists

[2021-01-06 17:42] marcandre83 commented on #35202
I'm having the same problem and can report the following:
I am using Ubiquiti Unifi hardware with 2 APs, some VLAN config, etc. - so all my IoT devices can communicate without interruptions. Within the Unifi UI you can see which devices have a good connection to the AP (by percentage). For me the bulbs with bad connection ratings (everything below 92%) are the ones that generate the error messages

[2021-01-06 17:50] hoorna commented on #42415
I installed Home Assistant 2021.1.0 and my Camera is working again. :-)

Thank you all for your efforts and your work!!!!!

[2021-01-06 18:08] Sydius commented on #34713
I'm still having this issue with version 2020.12.2.

[2021-01-06 18:09] frederickjh opened #44893 "USCIS Integration - requests.exceptions.ConnectionError: Max retries exceeded with url: /casestatus/mycasestatus.do"
## The problem

I was working on Home Assistant and restarted it an number of times in one day (not sure how many times). In the error log when it started one of the last times I saw:

## Environment

- Home Assistant Core release with the issue: 2020.12.2
- Last working Home Assistant Core release (if known): 2020.12.2
- Operating environment (OS/Container/Supervised/Core): Container
- Integratio

[2021-01-06 18:14] #43675 closed

[2021-01-06 18:23] tdejneka commented on #44882
The automation's 24-hour countdown begins when the input_select changes state _to_ Away. If you interrupt the countdown with a restart, upon restarting the countdown is not restarted. Why? Because at startup the input_select's state is already Away. The countdown begins only when the input_select's state _changes to_ Away.

You can easily demonstrate it with this simple automation:

[code]
I trigg

[2021-01-06 18:24] somejavadev opened #44894 "Adding a code to the home assistant alarm_panel via customizations is not honored"
## The problem

I would like to customise an existing entity of type `alarm_control_panel` by adding a `code_arm_required`, `code_disarm_required` and `code` properties to it, when I add the customisation the customisation doesn't have any effect.

Note: You should have an existing mqtt alarm panel that doesn't specify these attributes.

 1. Add the alarm_panel entity to lovelace, it shows as foll

[2021-01-06 18:27] flexage commented on #44684
Hi @dermotduffy Thanks for getting back to me, and sorry for taking a couple of days to get back to you.

I left both Hyperion servers on alpha 9 as suggested, and began to collate that information for you.

I noticed there was a Home Assistant release today, so I allowed it to upgrade. Afterwards, it discovered the second hyperion server and suggested it on the integrations page, and added succes

[2021-01-06 18:27] #44684 closed

[2021-01-06 18:27] blamaz commented on #44851
Same issue here

[2021-01-06 18:35] miki3421 opened #44895 "Unable to discover Upnp devices after upgraded to the last version of HA"
After upgraded to the last version 2021.1.0, Ha is not able to discover my router NETGEAR and I have this error in the log.

2021-01-06 18:56:52 WARNING (MainThread) [homeassistant.config_entries] Config entry for upnp not ready yet. Retrying in 80 seconds
2021-01-06 18:58:22 INFO (MainThread) [homeassistant.components.upnp] No UPnP/IGD devices discovered
2021-01-06 18:58:22 INFO (MainThread) [hom

[2021-01-06 18:46] bdraco commented on #44851
The python library uses the v5 api.  There is now a v6 api which appears to be more stable.

Does anyone want to take up the work to update https://github.com/arraylabs/pymyq to the v6 api?

It looks like the homebridge maintainer is also working on this : https://github.com/hjdhjd/homebridge-myq/issues/226

[2021-01-06 18:47] pergolafabio opened #44896 "2021.1.0 issue with: Support google assistant stopping for assumed state covers"
## Environment
- Home Assistant Core release with the issue: 2021.1.0
- Last working Home Assistant Core release (if known): none
- Operating environment (OS/Container/Supervised/Core): HassOS 5.9
- Integration causing this issue: Google Assistant

## The problem

This merge should fix my problem, but it isnt... :
https://github.com/home-assistant/core/pull/44266

When i say to google: Stop Screen

[2021-01-06 18:49] frenck commented on #44896
Could you please leave the issue templates as-is, thanks 👍

[2021-01-06 18:54] pergolafabio commented on #44896
yeah, i changed :-)

[2021-01-06 18:55] fredrike commented on #44853
Mention this issue in the pr description.

[2021-01-06 19:06] StevenLooman commented on #44895
A bug was fixed in the 2021.1.0 (#44151), this is most likely related. Although things should have been improved... In my own tests it all worked better and in my own 'production' installation the integration works as expected.

Lets do some debugging. Given that you're already familiar with the logs, can you enable debug-logging for the `upnp` integration, by adding this to your `configuration.ya

[2021-01-06 19:11] erikjoens commented on #42415
+1

confirmed working again on AXIS M1031-W. Great work 🎉

[2021-01-06 19:15] #44853 closed

[2021-01-06 19:16] Marlor commented on #44360
Toggle transition is still broken in Core 2021.1

[2021-01-06 19:16] dougmaitelli commented on #40648
Is this present on 2020.12.2?

[2021-01-06 19:26] dougmaitelli commented on #40648
Answering my own question, no. It was applied in 2021.1.0

[2021-01-06 19:34] #40733 closed

[2021-01-06 19:40] marima84 commented on #37929
Same problem, state change from on to off quite randomly and this is annoying because I have the bose state linked to my TV state

Mark

[2021-01-06 19:52] Sjorsa opened #44898 "OAth token generator changed"
## The problem

The [documentation](https://www.home-assistant.io/integrations/twitch/) for the Twitch integration talks about a "Summit" (Is this a typo for Submit?) button, which I can't see. [This ](https://i.imgur.com/8WeqrsD.png) is what I see when I go to https://twitchapps.com/tokengen/#

## Environment

- Home Assistant Core release with the issue:
- Last working Home Assistant Core releas

[2021-01-06 20:01] chemelli74 commented on #44887
Hi @BMicraft , I think the issue can be related to the multicast membership.
Can you please run `netstat -ng | grep 224.0.1.187` when HA switch to polling and report back ?

Simone

[2021-01-06 20:04] kaciker commented on #42415
FInally working, thanks for the good work done ¡¡

[2021-01-06 20:05] alcmaeo opened #44899 "Missing temperature entity on Glances"
## The problem

Missing Temperature Sensor of HDD after upgrade. I have configured HDDTemp Daemon and enabled hddtemp on Glances. This provides the Temperature of the HDDs. After upgrade to 2021.1.0 this entity is gone.

## Environment

- Home Assistant Core release with the issue: 2021.1.0
- Last working Home Assistant Core release (if known): 2020.12.2
- Operating environment (OS/Container/Super

[2021-01-06 20:11] miki3421 commented on #44895
Hello @StevenLooman  thank you for taking care of this issue.

I've emailed you just right now the file with the log.

[2021-01-06 20:12] robyevolution commented on #42157
i updated to 2021.1 and the problem is not solved, after a few hours the homekit devices do not work remotely, in lan they work.

[2021-01-06 20:13] balk77 commented on #40246
I am on 2020.12.1 and the issue still persists. I have tried the suggestions from @ppfearn without luck. Downside of using `bridge mode` is that multicast DNS does not work. I will try to move to a macvlan setup to see if that works.

[2021-01-06 20:13] roofuskit commented on #44857
First, I really appreciate the help with this. Forgive my lengthy explanation here.

That seems to be it, there is now a "No name group 0x0000" that I did not create.

My goal is to use the device as it was under Tradfri to control the Tradfri bulbs. I want to have them part of my main network to act as routers instead of adding more noise to the 2.4ghz spectrum by running two Zigbee networks.

Ho

[2021-01-06 20:19] rubin110 commented on #40648
Can confirm this is now fixed in 2021.1.0

[2021-01-06 20:21] thunder2k commented on #37929
You have to delay turning it off for 30 secs. In my experience, this
prevents 99.9% of the random soundbar switching off because of the bug.

On Wed, Jan 6, 2021, 19:40 Mark <notifications@github.com> wrote:

[2021-01-06 20:23] BMicraft commented on #44887
[code]
This is what it produces while in polling mode

[2021-01-06 20:31] Silvest89 commented on #44540
That's good to hear!
I am in the process of having this merged in the original library (merge requests open) so whenever that's all done I'll open up a pull request for HA to have the library updated.

[2021-01-06 20:51] srpablillo commented on #42415
Working also for me! Thanks for the work to fix this!!

[2021-01-06 20:51] Erriez commented on #44799
Qos for light works when enabling full logging in the Mosquitto broker by setting `log_type all` in `mosquitto.conf`.
I made a  mistake here: The Qos is between client and broker and is not passed to the client subscribers.

[2021-01-06 20:51] #44799 closed

[2021-01-06 20:58] amelchio commented on #44696
Could be a DNS issue, did you try with the IP address rather than `homeassistant.local`?

[2021-01-06 21:10] Chrisgozd commented on #38579
@joshtbernstein @tboyce021 Any chance of getting this into the main line? I too have the Honeywell T6 pro z wave device and I am unable to change the Air Temperature Units from Celsius to Fahrenheit so I am stuck with this bug.

[2021-01-06 21:11] bsqrl opened #44900 "Automation got not triggered when using time as a condition and binary sensor as trigger"
## The problem
First of all, I can not precisely say when the problem appeared.
My automation should get triggered at a certain time and by a state change of a binary sensor. This works so far.
After adding a condition that is based on time (condition= between time x and y), this automation does not work anymore. It only gets triggered by the time trigger but the state change trigger does not work

[2021-01-06 21:12] ryanm77 opened #44901 "homeassistant.components.http stops responding after several minutes"
## The problem

Running home assistant core in docker container.  After several minutes, homeassistant.components.http stops responding to requests.  There are no log errors with debug level logs.

## Environment

- Home Assistant Core release with the issue: 2021.1.0 and 2020.12.2
- Last working Home Assistant Core release (if known): 0.117.6
- Operating environment (OS/Container/Supervised/Core)

[2021-01-06 21:15] pattyland opened #44902 "Login from a whitelisted IP in trusted_networks fails"
## The problem
Login from a whitelisted IP in trusted_networks fails. I can choose a username but I get a generic error message.

## Environment

- Home Assistant Core release with the issue: 2021.1.0
- Last working Home Assistant Core release (if known): -
- Operating environment (OS/Container/Supervised/Core): Home Assistant OS
- Integration causing this issue: auth_providers
- Link to integrati

[2021-01-06 21:23] MattWestb commented on #44857
Making one new groupe and adding the light to it and also your coordinator save.
Then open the remotes device card and manamagen clusters and then in groupe binding the new made groupe and the on/off, scene and light level cluster and add (must pushing one button on the remote for waking it up or receiving the command).
If all is going well you can now steering the lights with the remote and from

[2021-01-06 21:24] kreene1987 commented on #44851
Something that might or might not be relevant:

  _I pushed a small update today to account for an API change where the device control endpoint is now apparently case-sensitive and requires lower case. If you’re getting errors trying to open or close doors, try pulling down that update and see if it fixes it for you._

https://community.smartthings.com/t/release-myq-lite-door-and-lamp-control-for-

[2021-01-06 21:30] codered commented on #42157
Is this fix available in stable docker image or latest?

[2021-01-06 21:32] roofuskit commented on #44857
The coordinator would be the radio correct? I cannot see how to add that to a group.

[2021-01-06 21:38] MattWestb commented on #44857
Yes then ZHA is normally adding it to the  group or with the next restart of HA (its changed in the last  HA release).

[2021-01-06 21:40] dshokouhi commented on #44899
did you look at the breakign changes for the release?

https://www.home-assistant.io/blog/2021/01/06/release-20211/#breaking-changes

[2021-01-06 21:51] metbril commented on #44696
I have tried again with

- https://mydomain.duckdns.org/
- http://homeassistant.local:8123/
- http://192.168.x.y:8123/

Only the first tts base url works, unfortunately.

IMHO the issue is related to TLS; I think Sonos is only working with TLS connections. I hope that someone using local certificates can validate this assumption.

[2021-01-06 22:38] isolationism commented on #42415
Newcomer to Home Assistant and was surprised I couldn't get my Axis cameras to work, and eventually found my way here.

Updated my Docker image from `latest` to `2021.1.0` and confirm my issue is also resolved.

[2021-01-06 22:54] tjg184 commented on #44465
Just pulled beta docker image and it fixes the issue!

[2021-01-06 22:57] lbouriez commented on #44465
Yes, I guess it can be close now.

[2021-01-06 23:14] jjok commented on #44528
I'm replacing this in my automation conditions:

      - condition: numeric_state
        entity_id: sensor.uptime
        above: 2

with:

      - condition: template
        value_template:
          "{{ as_timestamp(now()) - as_timestamp(states('sensor.uptime')) > 60 * 2 }}"

[2021-01-06 23:22] Didel commented on #44305
It appears that the most recent version of Home Assistant (2021.1, see [Release notes](https://www.home-assistant.io/blog/2021/01/06/release-20211/) ) resolves this issue. I just updated Home Assistant, and now the status of the media player is updated correctly, including the state (idle, playing, paused) and the media source (movie/stream and app name).

[2021-01-06 23:22] vvuk commented on #24717
See this 4 year old issue for this exact same thing: https://github.com/home-assistant/core/issues/5575

It was closed due to inactivity, largely due to some desire I didn't understand to do some kind of major refactor for what should be a few line fix.

[2021-01-06 23:38] gpanders opened #44905 "Unable to connect to HomeKit Bridge"
## The problem

After upgrading to 2021.1.0, the HomeKit bridge stopped working. The devices in the Home app on my iPhone were all marked as not responding, so I removed the HomeKit integration and re-added it. Now I am unable to add the HomeKit bridge to HomeKit on my iPhone. After scanning the bar code in HomeAssistant, I get an error on my iPhone saying "Unable to Add Accessory: Accessory is no

[2021-01-06 23:40] juched78 commented on #44709
I can share that I reproduced this problem using 2021.1 and having setup an OAuth connection.  I tried multiple times to delete and resetup the integration and it always had this availableServices key issue.

I have two reboots, so on seeing this I went to the official application and saw that both robots were in odd states.  One was showing Offline (which happens from time to time with that robot

[2021-01-06 23:52] gpanders commented on #44905
Problem solved, the HomeKit port was blocked on my RaspberryPi (my firewall must have been disabled last time I added the bridge? Not sure why this just manifested itself now). In any case, doesn't seem to be a problem with HA!

[2021-01-06 23:52] #44905 closed

[2021-01-06 23:53] dshokouhi commented on #44709
@juched78 you didnt by chance get the state output before fixing the issue that we posted about above did you? We need to evaluate the data that we get back from Neato's API, without `availableServices` we can't properly use the vacuum.

We also mention in our documentation that the robot is expected to be online and available in the Neato app: https://www.home-assistant.io/integrations/neato/

[2021-01-07 00:13] #20134 closed

[2021-01-07 00:38] juched78 commented on #44709
Ya, I thought about turning on logs right after I rebooted the neatos. I just had the exception string similar to the original post.

The docs do mention to ensure they are online, I just skimmed over that I guess.   I don’t think this is a bug, but wanted share what I saw.

[2021-01-07 00:53] MaikaiLife commented on #44709
Hi all,

Not sure if this will be helpful, but I've removed/added created new apps, restarted and I cannot get the Neato integration to successfully re-connect and setup the entities.

I've provided the trace below, which is identical every time I try and re-add the integration, connected or unconnected.

`2021-01-06 16:51:46 ERROR (MainThread) [homeassistant.config_entries] Error setting up entry

[2021-01-07 01:24] alandtse commented on #44777
I have also tested from my iPad and I am unable to reproduce this. I am based in the US and have 2 model 3s on the account. I only have one account setup to access it though.

[2021-01-07 02:55] #40805 closed

[2021-01-07 03:00] plutosherry opened #44906 "ASUSWRT device tracking is not working when restart HA"
The Problem:

Every time after HA is updated, ASUSWRT can work normally when it is restarted for the first time. However, if HA is restarted artificially after that, ASUSWRT will fail to work normally due to errors

The ENV info:

Version：2020.12.7
Newest Version：2020.12.7
Channel：stable
Operating System：Debian GNU/Linux 10 (buster)
Docker version：20.10.1

The Error logs:

Source: components/asusw

[2021-01-07 03:16] dermotduffy commented on #44684
Great news @flexage , glad you got it working!

[2021-01-07 03:28] plutosherry commented on #44906
Today, I just upgraded HA version to HA2021.1.0. When I first restarted HA, asuswrt was running normally. Then I updated the built-in integration configuration of BMW. After restarting again, the asuswrt was invalid & appeared the error message above

Also attach
The system health information：

version: 2021.1.0
installation_type: Home Assistant Supervised
dev: false
hassio: true
docker: true
virt

[2021-01-07 03:58] stu247 commented on #44882
I wrote the issue for the "reload automation" command.  It looks like your comments are more directed towards restarting HA.

Every state has a last_changed property (for example, states.input_select.jim_status_dropdown.last_changed).  This does not get modified when reloading automations. Maybe this could be used to set up the trigger again after a reload automation.  For example, if a for statem

[2021-01-07 04:13] tdejneka commented on #44882
When you restart Home Assistant, automations are reloaded so the point remains the same.

Basically, all aspects involving some form of countdown (`for`, `delay`, `wait_template`, timers, etc) are reset on startup or when reloaded. If you want it to behave in a different way, that would be a Feature Request.

[2021-01-07 04:16] dshokouhi commented on #44709
@MaikaiLife can you do us a favor and interact with the parent library and get us the state output? https://github.com/home-assistant/core/issues/44709#issuecomment-753005784

Once you get the state output please reset and reconnect the botvac with the Neato app.  This issue is caused by an error in the Neato API not returning a variable that is required for using the vacuum, the reset corrects th

[2021-01-07 04:32] adelunaddl commented on #40191
Hi this is my device:

  [('192.168.16.242', '0x279d')]  RM4 Pro

[2021-01-07 05:02] felipediel commented on #40191
This is an RM pro+. It is already supported.

[2021-01-07 05:13] eliezerlp commented on #44851
Should an issue be opened up over at [arraylabs/pymyq](https://github.com/arraylabs/pymyq/issues)?

[2021-01-07 06:23] OnFreund commented on #44875
Can you show me the output with all the sockets?
Also, is there a common thread between the users experiencing this? (e.g. all on Android Tablets, all running HA in a docker container, etc...)

[2021-01-07 06:59] lruppert commented on #44875
Not aware of any common thread. Just anecdotal. Here's the sockets:

[code]
I'm guessing the core dump is because I was running the netstat command in the container which doesn't have all of the luxuries of a native environment.

[2021-01-07 07:14] basharfaraj opened #44907 "Check against 2021.1.0 shows errors"
[s6-init] making user provided files available at /var/run/s6/etc...exited 0.
[s6-init] ensuring user provided files have correct perms...exited 0.
[fix-attrs.d] applying ownership & permissions fixes...
[fix-attrs.d] done.
[cont-init.d] executing container initialization scripts...
[cont-init.d] udev.sh: executing...
starting version 3.2.9
[20:41:20] INFO: Update udev information
[cont-init.d] ud

[2021-01-07 07:15] miki3421 commented on #44895
Closing the request, the integration is working now.
no changes only enabled the debug level in the configuration.yaml.

[2021-01-07 07:15] #44895 closed

[2021-01-07 07:18] miki3421 commented on #44709
Yesterday, I reconfigured with success the integration with the 2FA authentication by token and I don't have problems.

[2021-01-07 07:19] ottelo9 commented on #44453
At the moment I have to reload the integration (or restart HA) every day! Could you fix that?

[2021-01-07 07:20] #44907 closed

[2021-01-07 07:20] basharfaraj commented on #44907
I ran the config checker again and the issue disappeared

[2021-01-07 07:31] OnFreund commented on #44875
Do you turn Kodi off often? If so, are these normal shutdowns or abrupt? Are new sockets created when Kodi is back on? I only have one socket per Kodi instance...

[2021-01-07 07:49] michalkujawa commented on #44783
Hi @tetienne,
I've already upgraded HA to 2021.01 and I have the same problem - the same error. Should I do something more?
Thanks for your answer.

[2021-01-07 07:53] kayloehmann commented on #44783
I can report the same. Issues still persist with 2021.01.

[2021-01-07 07:56] elupus commented on #44896
Have you tested setting assumed state via customize feature? It should not check state if it is an assumed state cover.

[2021-01-07 07:58] lruppert commented on #44875
I think what is happening is that kodi is backgrounded or killed by the Android when it is not in use. But even when it is in use it passes grey in the lovelace, so maybe resource constraints are coming into the picture too. It's an older tablet.

It's strange that the implementation wouldn't try to reuse an existing websocket and close it if it is not responding.

[2021-01-07 08:00] elupus commented on #44896
Okey maybe that is what you did. Did you test with the opurtunistic setting on the template config.

It would seem the assumed state isn't taking effekt.

[2021-01-07 08:01] duncf commented on #40045
Aha! I tracked it down to a global config setting:
[code]

There's some magic in [entity.py](https://github.com/home-assistant/core/blob/df2ede65225900421213fde063dfcaa06a349fe0/homeassistant/helpers/entity.py#L396) to convert all temperature sensors to the preferred global unit.

In @knyar's test, the default unit system (metric) is used, so the `temp_in_f` sensor is converted internally to °C an

[2021-01-07 08:02] tetienne commented on #44783
I will double check my fix. To be sure, you are well talking about the key error issue and not about an error 500?

[2021-01-07 08:02] OnFreund commented on #44875
Of course the implementation is trying to close the connection:
https://github.com/home-assistant/core/blob/dev/homeassistant/components/kodi/media_player.py#L338
The question is why it isn't working in your case.

[2021-01-07 08:03] amelchio commented on #44696
Sonos works with HTTP, I think you have a local network issue.

[2021-01-07 08:04] elupus commented on #44902
My guess is you have more than one user. Check docs on how to setup trusted user for the network.

[2021-01-07 08:04] pergolafabio commented on #44896
yeah, i have tested with assumed state, one with, one without, see dev states here :

cover.google_living | open | friendly_name: Living supported_features: 11
-- | -- | --
cover.google_vastraam | open | friendly_name: Vast raam supported_features: 11 assumed_state: true

[2021-01-07 08:07] pergolafabio commented on #44896
how,can i do that optimistic mode? if i read docs, i cant ? because i have a value template?

_In optimistic mode, the cover position state is maintained internally. This mode is automatically enabled if neither value_template or position_template are specified._

[2021-01-07 08:11] steve-gombos commented on #39192
I'm closing this since I'm no longer seeing this on a supported installation. If anyone runs into this in the future open another issue probably.

[2021-01-07 08:11] #39192 closed

[2021-01-07 08:16] elupus commented on #44896
It was merged into dec 4 days ago. It is not in the release. Please reopen if not working in next release.

[2021-01-07 08:16] #44896 closed

[2021-01-07 08:18] pergolafabio commented on #44896
oww, my mistake , i though it was in 2021.1.0 already, sorry

[2021-01-07 08:30] OneCyrus commented on #43802
after the update to HA 2021.1 the entity came up unavailable and stayed this way. after disabling and reenabling the entity, the correct state came up (timeout issue?). once the state is unavailable is there some recheck after a certain time? i guess it stays forever in unavailable once it's in this state.

[2021-01-07 08:45] alcmaeo commented on #44899
Yep. I saw the breaking changes  and checked the migrated entities. All entities were migrated from "_temp" to _temperature suffix, but the "sensor.glances_sda_temp" was not migrated to "sensor.glances_sda_temperature".

I also removed the integration and re-added it, but the one entity is still missing.

[2021-01-07 08:53] pszafer commented on #43802
can't say anything useful without debug logs of epson.

`once the state is unavailable is there some recheck after a certain time? `
I'm not aware if there is any option to recheck for projector availability after a certain time.

[2021-01-07 08:55] rishabmehta7 opened #44908 "Light in iFan02 disappears from Tasmota Integration"
## The problem

The light component (entity) of the iFan02 running tasmota 9.2 disappears once in a while. It only comes back on a Integration reload. Also the new entity has a '_2' suffix added that messes up any automation, cards, etc.

## Environment

- Home Assistant Core release with the issue: All since 0.117
- Last working Home Assistant Core release (if known): None
- Operating environment

[2021-01-07 09:01] adnn-hassio commented on #22209
Problem is still running..How can i delete all of these entities which is not available and useful..

[2021-01-07 09:03] realthk commented on #42166
@bieniu I like Accuweather, because this has the most accurate current weather report for my area, and the forecast also seems to be better than other solutions (and I need the forecast for my morning TTS announcements)

But recently I often had problem with exceeding the number of requests because playing with some settings, I have to restart HA few times a day.

What about giving an integration

[2021-01-07 09:04] kayloehmann commented on #44783
Unfortunately i lost my the log file this morning. Covers will run tonight and tomorrow morning again. I will test and provide feedback. Thanks for looking into this and providing updates!

[2021-01-07 09:10] OneCyrus commented on #43802
i guess that shouldn't be epson specific as this is a feature home assistant needs to be aware of. i'm not familiar with the implementation details of HA integrations. who does trigger a state change in this scenario? is this a pull scenario from HA where it asks the integration about the current state or is an event from the projector pushed to HA through the integration?

if it's an event isn't

[2021-01-07 09:13] pszafer commented on #43802
it's all pulling. I hope to find out if it can be discovered, but this is topic for another issue...

[2021-01-07 09:22] martin3000 commented on #24717
What happens if I copy the influxdb-component, name it imfluxdb2 and make it a custom component? In the configuration you would name it "influxdb2" then?

[2021-01-07 09:25] Kane610 commented on #42415
Thank you all for the feedback!

[2021-01-07 09:27] StevenLooman commented on #44895
Okay, great but a bit unexpected. I doubt setting the debug level changes any behavior. Perhaps the UPnP service in your router had some temporary difficulties.

If this, or any other problem, seems to re-appear please reopen this issue or create a new issue.

[2021-01-07 09:31] michalkujawa commented on #44783
After upgrade to 2021.01 I have this error:
Logger: homeassistant.components.somfy
Source: helpers/update_coordinator.py:166
Integration: Somfy (documentation, issues)
First occurred: 6 stycznia 2021, 22:33:23 (104 occurrences)
Last logged: 10:26:35

Error fetching somfy device update data: No devices returned

[2021-01-07 09:32] tobi-blue commented on #41827
Dear all,
i think i had the same issues and on my point of view i could track this down to my network configuration.
I have firewalled the nuki hardware bridge because i dont want it to communicate to the internet.

First HA connection got killed  because nuki got no NTP Time Update and HA uses a key combined with timestamp for its api calls.
Async time will prevent a successfull api call.
-> i Op

[2021-01-07 09:44] wonderiuy commented on #42415
I've opened a tickt at Axis and they say that here:
https://github.com/encode/httpx/blob/master/httpx/_decoders.py
is stated that it should handle any of `\n`, `\r`, or `\r\n`
as line endings, normalizing to `\n`.
So for Axis their response is OK
@Kane610 can you point me which rfc states that line endings have to be \r\n?

[2021-01-07 09:50] kayloehmann commented on #44783
I also saw this in the log

[2021-01-07 09:50] Kane610 commented on #42415
That code is for parsing the body, its h11 that is responsible for handling the http protocol itself. And h11 is also updated to work with non-RFC compliant web servers now.

The statement regarding it not being compliant with the RFC is from https://github.com/python-hyper/h11/pull/115 its not something I know anything about really

[2021-01-07 10:00] metbril commented on #44696
I have disabled upnp in my router. Could this be related? And why then does it work with the outside domain?

[2021-01-07 10:02] pattyland commented on #44902
Indeed! And I got a list where I can choose the user. The error occurs after selecting the user

[2021-01-07 10:04] tofuSCHNITZEL commented on #40983
this is still the case...

[2021-01-07 10:11] stevehop opened #44909 "Tuya curtain motor displays "closed by automation" when actually opened"
## The problem

## Environment

- Home Assistant Core release with the issue: 2021.1.0
- Last working Home Assistant Core release (if known): Unknown
- Operating environment (OS/Container/Supervised/Core): Home Assistant OS
- Integration causing this issue: Tuya
- Link to integration documentation on our website: https://www.home-assistant.io/integrations/tuya

## Problem-relevant `configuration.y

[2021-01-07 10:20] hellcry37 commented on #43662
fixed by #44829, tested and working

[2021-01-07 10:20] #43662 closed

[2021-01-07 10:30] ukmgranger commented on #34713
I'm having this issue on 2021.1.0

[2021-01-07 10:36] Neisi commented on #34713
Me too

[2021-01-07 10:45] lebowski9000 opened #44910 "Something is blocking Home Assistant from wrapping up the start up phase"
## The problem

## Environment

- Home Assistant Core release with the issue:
- Last working Home Assistant Core release (if known):
- Operating environment (OS/Container/Supervised/Core):
- Integration causing this issue:
- Link to integration documentation on our website:

## Problem-relevant `configuration.yaml`

[code]

## Traceback/Error logs

[code]

## Additional information

[2021-01-07 10:45] #44910 closed

[2021-01-07 10:54] maltetgh opened #44911 "Consider reopening: Platforms/components blocking start from finishing"
In the Log a warning is thrown:
`Something is blocking Home Assistant from wrapping up the start up phase. We're going to continue anyway. Please report the following info at http://bit.ly/2ogP58T`

However the linked thread is locked and thus you won't find out about blocking integrations :(

Please consider reopening or remove the link in the log if you don't want feedback.

[2021-01-07 10:54] bschatzow opened #44912 "Minor typo in Accuweather wind Units"
## The problem

The accuweather wind sensor is displayed as mpg, should be mph.

## Environment

N/A
- Home Assistant Core release with the issue:
- 5.10
- Last working Home Assistant Core release (if known):
- Never worked
- Operating environment (OS/Container/Supervised/Core):
-
- Integration causing this issue:
- Link to integration documentation on our website:
Latest version of Home Assistant

[2021-01-07 10:59] Edo78 opened #44913 "ZHA (with sonoff bridge) stopped right after 2021.1.0"
## The problem

Right after updating HA Core to 2021.1.0 my ZHA setup started failing. The motion sensor and the coordinator aren't seen anymore.

## Environment

- Home Assistant Core release with the issue: 2021.1.0
- Last working Home Assistant Core release (if known): 2020.12.2
- Operating environment (OS/Container/Supervised/Core): Raspian 10 with HA Core in a docker container
- Integration c

[2021-01-07 11:03] pardegerman commented on #44057
I also ran into this error with e newly installed setup of zigbee2mqtt (docker image `koenkk/zigbee2mqtt`), mosquitto and homeassistant (docker image `homeassistant/raspberrypi3-homeassistant:stable`).

Discovery message from the logs are:

07.01.21 11:52:20 (+0100)  homeassistant  Traceback (most recent call last):
07.01.21 11:52:20 (+0100)  homeassistant    File "/usr/src/homeassistant/homeassis

[2021-01-07 11:03] bieniu commented on #42166
I can add config option `less frequent updates` and with this option enabled `update_interval` will be 2 times longer.

[2021-01-07 11:23] emontnemery commented on #44057
@pardegerman OK, so it's the same error message as reported by @Danielhiversen.
Can you please paste the MQTT discovery message for the light?

You can find it in HA's frontend under Configuration->Devices-><chosse the device>->MQTT Info->MQTT discovery data->Expand "Payload"

Example:
![image](https://user-images.githubusercontent.com/14281572/103887287-1a103480-50e3-11eb-9f11-42992d299ba9.png)

[2021-01-07 11:26] mumlax commented on #44046
A possible next step could be, that more hints are collected on what _exactly_ is sent wrong here, as Koenkk assumes that it is a bug on z2m-side.
So could you maybe give some more input, frenck, what leads you to your "statement"? Then Koenkk could look into it.

Can we provide you more information?
I could give a stacktrace for the beginning:

[code]

I'm wondering, why `icon `(or `area_id`/`dis

[2021-01-07 11:42] realthk commented on #42166
That would be great, thanks!
For example today no data since the early morning restart, because yesterday I also had some restarts and it is unknown when will be the reset of my account.

I don't know the Accuweather API, so maybe a silly question, but  isn't it possible to alter query-by-query if you ask for forecast also or only current report?
Because forecast isn't too important to be updated

[2021-01-07 11:51] bieniu commented on #42166
You must remember that your expectations may be different than the expectations of other users. Some prefer to update the forecast more often, others less frequently. The option to double the update interval is a good idea and should accommodate the needs of all users.

[2021-01-07 12:00] pardegerman commented on #44057
'0x90fd9ffffe82e735' (light.0x90fd9ffffe82e735)
MQTT discovery data:
Topic: homeassistant/light/0x90fd9ffffe82e735/light/config
Payload
[code]

'0x90fd9ffffe82e735 linkquality' (sensor.0x90fd9ffffe82e735_linkquality)
MQTT discovery data:
Topic: homeassistant/sensor/0x90fd9ffffe82e735/linkquality/config
Payload
[code]

'0x90fd9ffffe82e735 update state' (sensor.0x90fd9ffffe82e735_update_state)
MQTT

[2021-01-07 12:03] pardegerman commented on #44057
The debug info panel also shows the most recently received message (causing the exception in the log) as:
[code]

[2021-01-07 12:11] fineemb opened #44914 "cannot import name 'PLAYING_LINE_IN' from 'pysonos.core'"
## The problem

## Environment

- Home Assistant Core release with the issue:
- Last working Home Assistant Core release (if known):  2020.12.1
- Operating environment (OS/Container/Supervised/Core): docker
- Integration causing this issue: sonos
- Link to integration documentation on our website:

## Problem-relevant `configuration.yaml`

[code]

## Traceback/Error logs

[code]

## Additional inf

[2021-01-07 12:13] hwikene opened #44915 "entur_public_transport will not start"
## The problem

I get this error message after HA starts: `2021-01-07 12:55:06 ERROR (MainThread) [homeassistant.components.sensor] Setup of platform entur_public_transport is taking longer than 60 seconds. Startup will proceed without waiting any longer.`
Sometimes i get it to work after a restart. but then after a later restart it stops working. i will say 1 out of 20 restarts it works. (i do no

[2021-01-07 12:35] astrandb opened #44916 "Axis cam - new h11 library is not loaded"
## The problem

The latest upstream fix in h11 is working fine when it is loaded manually or by deleting old version 0.11 before upgrading HA to 2021.1.0. However, the latest version of h11 is not loaded by the normal HA upgrade procedure `pip3 install --upgrade homeassistant` .
I am runnning HA in venv.

## Environment

- Home Assistant Core release with the issue: 2021.1.0
- Last working Home As

[2021-01-07 13:08] Adminiuga commented on #44913
Ignore last seen for coordinator.
Coordinator works fine.
Device dropped of the network and not responding to the request -- has to be rejoined.

[2021-01-07 13:37] Edo78 commented on #44913
I removed the device, paired it back and now it's working.
Just wondering what it could be happened. It's the first time an upgrade made a device to be dropped of the network.
It could be something in my setup or it could randomly happen?

[2021-01-07 13:37] #44913 closed

[2021-01-07 13:38] Blogem commented on #30021
Just for the record: I'm running into the same error. I can pause/unpause and change the volume, but the state stays as 'idle'.

I run HA in docker, VLC on the host (raspberry pi).

[2021-01-07 14:19] MirandaPoth commented on #26564
I also deliver data from my station to wu and I have a key, I'm also willing to test

[2021-01-07 14:21] TheIronShadow commented on #44540
@Silvest89 Thanks for making a fork.
I only have an issue that it won't pick up my light with your fork.
I have copied all files from Yeelight to a folder in custom_components called "yeelight_v2"
I have changed the manifest.json to what you said
I have added the config in the configuration.yaml with the yeelight_v2 domain

Do you have any solution for my problem. You can also DM me if that is eve

[2021-01-07 14:27] #40919 closed

[2021-01-07 14:39] chemelli74 commented on #44887
@BMicraft can you please run `tcpdump` ? I want to capture IGMP traffic.

Simone

[2021-01-07 14:43] emontnemery commented on #44057
Thanks.

The problem is that zigbee2mqtt uses the same topic `zigbee2mqtt/0x90fd9ffffe82e735` for multiple entities, but it sometimes sends messages which only has data for one of the entities.

@koenkk I think this should be handled as a zigbee2mqtt issue instead?

[2021-01-07 14:56] zraken commented on #38025
Any update on this? I'm using 2021.1.0 and my logs have this message every three minutes.

`2021-01-07 05:55:55 WARNING (MainThread) [homeassistant.components.ring] Error fetching Ring active dings data: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))`

[2021-01-07 15:13] Epposan commented on #43969
I unfortunately have to join the club in reporting that I have an issue with the extreme battery draining with several of my Ikea 5-button-remotes and Ikea On/Off switches **ever since** being integrated into HomeAssistant using the Sonoff Bridge and the Zigbee Home Automation (ZHA) integration.

[2021-01-07 15:16] BMicraft commented on #44887
I've generated [this pcap file](https://cloud.fallingcats.net/s/KksDonsWsqPRR7Z) by doing `sudo timeout 60 tcpdump -i vlan8 -w vlan8.pcap`. I hope that was the correct way to do that.

10.0.8.1 is the homeassistant host
10.0.8.200 is my dhcp server
10.0.8.50-62 are shellys (and one tasmota device)

Opening the pcap file in wireshark does not show any igmp traffic at all ...

[2021-01-07 15:19] Adminiuga commented on #43969
So, a common factor being the Sonoff bridge again. Something special is about sonoff bridge, because Ikea 5-button remotes have been used with zha for quite a while now, long before sonoff bridge appeared on the market and there were no reports of draining the battery.

[2021-01-07 15:22] Salamandar opened #44917 "Failed to parse message on cluster, because Data is too short to contain 1 bytes"
I've been having this error in the logs at every boot of Home Assistant.

    Failed to parse message (b'8184051a') on cluster 32799, because Data is too short to contain 1 bytes
    Source: /usr/local/lib/python3.8/site-packages/zigpy/device.py:246

I've never had this outside startup, and I have basically zero issues with Zigbee.
Hardware :
* Raspberry pi 4
* Zigbee Gateway : Elelabs USB.

Is th

[2021-01-07 15:23] jdesai61 commented on #44465
I can also confirm that after upgrading to HA 2021.1.0, I was able to successfully re-install the integration and (knock on wood), haven't seen pesky Verify Device Login message with a PIN since re-install (16 hours ago). On old versions, I used to get several emails per day. Also, this version seems to successfully refresh images from all five of my cameras - in previous versions, it would random

[2021-01-07 15:28] thecode commented on #44887
@BMicraft can you make the same capture for 5 minutes, 1 minute is too short, it may take two minutes to see IGMP traffic.

[2021-01-07 15:46] Hedda commented on #41558
Stale but not solved.

[2021-01-07 15:49] BMicraft commented on #44887
[Here is a 5 minute capture](https://cloud.fallingcats.net/s/6zrma5KmWNMDKJT).

I'm not sure though, am I supposed to trigger the switches to 'force' them to generate traffic of should they do that on their own in a keep-alive kind of way? I did not do anything during this capture.

[2021-01-07 15:56] thecode commented on #44887
No you don't need to do anything, and capture still shows no IGMP traffic and devices are indeed being polled for status by HA rather then sending multicast data. Since you are running on a separate vlan you might need to run an IGMP proxy or setup routing for IGMP traffic between vlans.
Can you make one last capture for 5 minutes and restart HA after 2 minutes? (no need for the whole OS, just res

[2021-01-07 15:56] Xitro01 commented on #43163
@kennedyshead Could you take a look at this? Should be a simple fix. Thanks in advance!

[2021-01-07 16:04] MattWestb commented on #43969
@Adminiuga What is the user experience with EZSP with the EM35x and the first gen EFR32 and IKEA  controlling devices battery killing ?
They is have different CPU architecture and can having different behavior on the radio side of the chip (also FER32 first and second gen is different CPUs).
Also how is the experience from the the ZHA radios like old TI and new ones with the IKEA battery draining

[2021-01-07 16:05] BMicraft commented on #44887
This [10 minute capture](https://cloud.fallingcats.net/s/E3XwkNKSz64JpN9) includes home-assistant rebooting at around 7 minutes.
I am not sure what you mean by `IGMP proxy or setup routing for IGMP traffic between vlans` as all devices are part of the same vlan. homeassistant basically sits on a trunk interface and has a vlan slave interface on its ethernet, while the wifi devices are automaticall

[2021-01-07 16:09] Adminiuga commented on #43969
None reported, other than with Sonoff bridge.

[2021-01-07 16:11] chemelli74 commented on #44887
I can see IGMP packets now: leave group during shutdown and join group during startup.
So far so good.

Strange is we cannot see any other IGMP traffic.
Can you please enable IGMP snooping and then do a new capture ?

Simone

[2021-01-07 16:13] emontnemery commented on #44894
Can you please paste the configuration for the MQTT alarm_panel?

[2021-01-07 16:20] BMicraft commented on #44887
I can enable IGMP snooping on my managed mikrotik switch, but I am not sure that would do anything since all devices (access points and raspberry pi) are connected to it through the same unmanaged switch. I basically only use the mikrotik as a dhcp server.

[2021-01-07 16:21] geopayme opened #44918 "Home Assistant server failed"
## The problem

  The Home assistant is deployed with YunoHost and after installation all seemed fine until it required an update, then we end up with a 502 error.

## Environment

    homeassistant 0.117.6 requires voluptuous==0.12.0, but you'll have voluptuous 0.12.1 which is incompatible.

-- Logs begin at Thu 2021-01-07 12:08:34 UTC, end at Thu 2021-01-07 16:13:15 UTC. --
Jan 07 15:30:47 hass[

[2021-01-07 16:23] Adminiuga commented on #43969
I mean Ikea 5 button remotes have been used for a while now and I expect users were running those with both older EM3581 and newer Elelabs sticks based on EFR32MG1.
I'm using Ikea 1743 with Elelabs stick and it works fine for me. Haven't replaced a single battery since Aug 2020

[2021-01-07 16:28] Adminiuga commented on #44918
can you fill the issue template? what version are you upgrading from? what version you are upgrading to?
For home assistant core installation hints, you could use https://www.home-assistant.io/docs/installation/raspberry-pi/

[2021-01-07 16:29] BMicraft commented on #44887
[Here is the last capture](https://cloud.fallingcats.net/s/sjxDBT9mjQsQabM) with IGMP snooping enabled on my mikrotik switch

[2021-01-07 16:35] somejavadev commented on #44894
Hi,

Sure, it is an auto discovered entity:

Topic `homeassistant/alarm_control_panel/xxx/xxx/config`

[code]

[2021-01-07 16:43] Adminiuga commented on #44917
you can safely ignore it.

[2021-01-07 16:43] #44917 closed

[2021-01-07 16:43] stefferber commented on #26564
The Home Assistant standard Integration "weather underground" does not work any more, as the provider changed the API. You have to switch to https://github.com/cytech/Home-Assistant-wundergroundpws

[2021-01-07 16:44] Adminiuga commented on #44917
But next time please fill in the issue template as instructed and follow https://www.home-assistant.io/integrations/zha#reporting-issues

[2021-01-07 16:48] dlauterbach commented on #44465
I downloaded latest Docker image and HA 2021.1.0 is working for me now as well.  Thank you!

[2021-01-07 16:48] #44465 closed

[2021-01-07 16:53] thunder2k commented on #39270
Did it work?

[2021-01-07 16:58] MattWestb commented on #43969
= the same experience that i have doing with Billy direct GIPO in my production system.
And 110% logic !!!
I have returned one "family pack" (9.99€ E17 WW bulb with E2743) byed for one year after 2 month and 3 batteries (1/2 was firmware update) and getting one new in exchange that is working "normal".
I have 2 X five buttons and 7 X E1743 1 old wireless dimmer (now with ok battery after the quirk

[2021-01-07 17:05] joiglifberg opened #44920 "Incorrect `supported_features` on light group from Deconz, missing brightness"
## The problem

A group in Deconz called "Stämningsbelysning" is created in Home Assistant with `supported_features: 4` and therefore with less capabilities thus missing brightness.
Another group in Deconz called "Kök" is created with `supported_features: 47` even though they to me and according to the logs seem to expose the same capabilities.
Also they look exactly the same in the response from

[2021-01-07 17:16] Kane610 commented on #44920
Could it be that one of the lights in the misbehaving group has fewer features than the rest?

[2021-01-07 17:39] joiglifberg commented on #44920
Possibly. In the misbehaving group there is a device that doesn't support brightness. Is this how the Deconz intergation is supposed to work?

[2021-01-07 17:50] jaydenthorup commented on #38954
I still get this issue, it is like it doesn't even try after it loses connection until I restart the server.

[2021-01-07 17:51] cuki commented on #35696
@kbabioch As far I'm aware the only way of "breaking" anything would be by editing files in **.storage/** while the Home Assistant is running. The above workaround is only really applicable if you want to have an initial config/state, prior to onboarding (and generation of other **.storage/** files) when creating a new instance of Home Assistant.

[2021-01-07 18:21] dimangi commented on #14386
Adding "verify_ssl: false", and the the reload hack works like a charm. At least for the time being. Automated for every hour...

[2021-01-07 18:30] Koenkk commented on #44057
@emontnemery looks it's indeed a z2m option. @pardegerman please open it here: https://github.com/Koenkk/zigbee2mqtt/issues

[2021-01-07 18:32] jasimmk opened #44922 "Region selection for Tuya integration fails for non US region accounts. And getting "Invalid authentication""
## The problem
Tuya integration doesn't select REGION for uri based on country code, This causes "Invalid authentication" for non US accounts.

## Environment

- Home Assistant Core release with the issue: homeassistant/raspberrypi3-homeassistant:2021.1.0
- Last working Home Assistant Core release (if known):  homeassistant/raspberrypi3-homeassistant:2021.1.0
- Operating environment (OS/Container/

[2021-01-07 18:34] TheVodNet commented on #38724
How did you change the DNS Address and what did you change it to?

[2021-01-07 18:36] jasimmk commented on #38724
Something I have checked on code base and figured out that the integration doesn’t use the correct region url for based on the country.

**If you are desperately trying to connect your devices and you don’t have time to wait for the patch, Delete existing account in another country, create an account in country "United States"**

I have created a bug/feature at home assistant. https://github.com/h

[2021-01-07 19:01] cvwillegen opened #44923 "Entities for MySensors are added to ZWave entities list when IDs match"
## Checklist

- [x] I have updated to the latest available Home Assistant version.
- [x] I have cleared the cache of my browser.
- [x] I have tried a different browser to see if it is related to my browser.

## The problem

When there are MySensors entities in a node with the same ID as a ZWave node, the MySensors entities are listed in the ZWave configuration drop downs.

![Schermafdruk van 2021-

[2021-01-07 19:22] #44057 closed

[2021-01-07 19:31] ferdiamg opened #44925 "SONOS Error on play_media with UPnP Error 701 received: Transition not available from (IP)"
## The problem
I get the following error (down below) when trying to play a mp3 file from my IEKA Symfonisk (SONOS) which previously worked in 0.116.2 and is not working anymore (no changes added besides successfully updating) in 2020.12.

The automation to play the file (which worked previously) is the following:
[code]

## Environment
## System Health

version | 2020.12.2
-- | --
installation_ty

[2021-01-07 19:31] #44170 closed

[2021-01-07 19:39] marcplogas commented on #41437
Nope. Since I haven't received a reply from repo owner I went for a different setup and do my long-term storage and analytics on-premise.

[2021-01-07 19:43] mplogas commented on #41437
Nope, unfortunately not. I haven't received a reply from the repo owner and have set up my long-term storage and analytics on-premise.

[2021-01-07 19:43] canedje commented on #44858
I just updated to the latest HA 2021.1.0
After installation there are no warnings coming up anymore.

[2021-01-07 20:03] Kisnotavailable commented on #44772
Ohh Sorry my Misstake. Now i have restore the template

[2021-01-07 20:36] #44858 closed

[2021-01-07 20:39] adelunaddl commented on #40191
Ok, thanks, what about subdevices?  Got some TC2 lightswitches, are those
already supported?

Regards.

El mié, 6 de ene. de 2021 a la(s) 23:02, Felipe Martins Diel (
notifications@github.com) escribió:

[2021-01-07 20:41] Hedda commented on #44805
What device are these? Are you sure they really use the Zigbee Smart Energy (ZSE) profile (a.k.a. Zigbee SE)?

FYI, the Zigbee Smart Energy (ZSE) profile is not part of the ZigBee Pro or Zigbee 3.0 (ZB3) specification standards. Zigbee 3.0 actually incorporate backward compatibility with all Zigbee application layer protocol profiles with the exception of Zigbee Smart Energy (a.k.a. Zigbee SE). Al

[2021-01-07 20:42] oywino opened #44928 "HA fails to read the state of IKEA 'Rooms' (domain:light)"
## The problem
IKEA Rooms shows up in HA in the light domain and all lights in a room can be switched on/off from HA as a group.
However, if an IKEA on/off switch is paired directly with lamps in the room using touchlink then HA is unable to detect the state change caused by the switch.
When the IKEA button (or the IKEA App) is used to switch the room off, like this:
https://i.imgur.com/vX9Mxek.jp

[2021-01-07 20:58] kdill00 commented on #44851
Seems to work most of the time when just hitting a button to open it. Using it in an automation that triggers upon phone entering home zone has so far failed 7/7 times. Running the automation manually works atleast once...

[2021-01-07 21:26] felipediel commented on #40191
You can learn the RF codes and send them with your RM pro. See [this thread](https://community.home-assistant.io/t/broadlink-rm-pro-and-tc2-switch/7904/288).

[2021-01-07 21:44] dzamlo commented on #44094
This bug only exist in the developer tool.  When used in an automation, the template is rendered as expected.

[2021-01-07 22:06] Spirituss commented on #41514
Still is the case

[2021-01-07 22:09] DominikChmiel commented on #44117
I can reproduce this issue on my setup, since some versions back the tradfri integration cannot be successfully setup with my installation aswell due to this.

## Environment

- Home Assistant Core release with the issue: 2020.12.0-2021.1.0
- Last working Home Assistant Core release (if known): No exact version, but last successfull usage of Tradfri no more then three months ago
- Operating enviro

[2021-01-07 22:13] Mariusthvdb opened #44931 "Mpd errors on startup when device is offline/no cover art is displayed"
## The problem

After updating to 2021.1, MPD errors on startup, when device is offline. more importantly, when the device is online, it wont show up as media_player in HA.

Added to that, no coverart is displayed at all, which would be the new feature of this release
## Environment

- Home Assistant Core release with the issue: 2021.1
- Last working Home Assistant Core release (if known):
- Opera

[2021-01-07 22:19] Adminiuga commented on #44864
Fixed in https://github.com/zigpy/zha-device-handlers/pull/704 once new zha-device-handlers are published.

[2021-01-07 22:23] Gawronnek commented on #44292
in custom components Xiaomi Mi Air Purifier & Xiaomi Mi Air Humidifier there is an indication of the water level, but there is no led_brightness,

that's why I would prefer built-in integration, it only lacks one water level parameter that custom components have
![image](https://user-images.githubusercontent.com/55258190/103951281-a865d400-513e-11eb-984e-3597a57e400c.png)

[2021-01-07 22:36] Adminiuga commented on #44857
atm ZHA UI does not allow adding the coordinator directly to a group, but in your case you can use the following work around:
1. once a new ikea remote is joined, it would use the default group 0x0000 to send messages to and ZHA adds coordinator to that group, to get events from the remote
2. Create a new group. can be empty group
3. Bind IKEA button to that group -- This would make ikea stop send

[2021-01-07 22:40] roofuskit commented on #44857
Thank you,

What are the names of those clusters? The cluster numbers are cut off in the UI.

[2021-01-07 22:59] OmegaKill opened #44932 "HomeKit Integration (Bosch Thermostat) not working after Core update to 2021.1.0"
## The problem

## Environment

- Home Assistant Core release with the issue: 2021.1.0
- Last working Home Assistant Core release (if known): 2020.12.2
- Operating environment (OS/Container/Supervised/Core): Supervised
- Integration causing this issue: HomeKit
- Link to integration documentation on our website: https://www.home-assistant.io/integrations/homekit_controller

## Problem-relevant `con

[2021-01-07 23:02] Adminiuga commented on #44857
On_off and Level clusters

[2021-01-07 23:06] amelchio opened #44933 "Any state change completes wait_template"
## The problem

After #44717 it seems that any change to the `media_player.office` state will complete this script:
[code]

The problem is that the logic testing for `true` in `async_track_template()` is no longer called (in fact, it seems like that function is now only called from tests?). I am not sure what the solution is, hence this issue.

## Environment

- Home Assistant Core release with th

[2021-01-07 23:55] Jc2k commented on #44932
Can you please explain what you mean by doesn't work? What did it do before vs what does it do now.

[2021-01-08 00:04] nicogramm commented on #44094
I did some more testing and I think I found the culprit.

I tried using
[code]

What I didn't notice was the `as_timestamp()` function erroring out because of the `'`, which I haven't noticed because this doesn't get logged and instead just silently dropped.
It was only when I tried to add another `int` to the timestamp in the automation, that I finally saw the error in the logs.

## Traceback
[co

[2021-01-08 00:13] mattague commented on #44540
Yeah, it isn't generating devices or entities in my setup either, following your directions exactly. I only have 2 color4 bulbs from yeelight.

[2021-01-08 00:15] bdraco commented on #44933
Thanks. I see the issue.

[2021-01-08 00:26] atmurray commented on #44805
They're Jetlun RD77715 Appliance Modules:
https://fccid.io/X5QRD77715/User-Manual/Users-Manual-1592194

According to their spec they support ZigBeePro Smart Energy 1.1 or Home Automation 1.0.
They do run on 2.4GHz and I can talk to it if I configure the network with the Link Key that it expects.

Thanks for the info on ZSE no being included in ZB3, wasn't aware of that.

[2021-01-08 00:34] bdraco commented on #44933
I've got it fixed.  Will submit it once I have time to write a negative test case so it doesn't regress again.

[2021-01-08 01:05] boojew commented on #44360
Confirmed here as well w/ a zigbee2mqtt and Tasmota wifi bulb

[2021-01-08 02:01] alexyao2015 opened #44934 "Template Light Bugs"
## The problem

I've discovered several bugs with templated lights. During testing, I've created [some fake template lights](https://github.com/hass-emulated-hue/dev-kit/blob/1e8d34b1cac70250b468faed1d231ec0b2544ad2/lights.yaml#L136) using input booleans and input numbers. I discovered that there are very strange issues occurring when triggering these fake lights using services, triggering them us

[2021-01-08 02:23] mguaylam opened #44935 "Message send failure with YRD226 TSDB as a child of a router"
## The problem

When my Yale YRD226 TSDB connect thru a router (Philips Hue or IKEA Tradfri bulbs) instead of the coordinator directly, some lock / unlock commands fails.
This issue does not happen when the door lock is directly connected to the coordinator.

The issue has been replicated with both IKEA Tradfri White Spectrum and Philips Hue White ambiance bulbs (tried the Philips Hue in the hope

[2021-01-08 02:34] bdraco commented on #44933
Will finish the `wait_template_false` branch tomorrow and send a PR.  Ran out of time today

[2021-01-08 02:55] alexyao2015 commented on #44844
I think this might be related to #44934. Value templates are entirely bugged and non-functioning.

[2021-01-08 02:58] tyron commented on #42876
Seems this is a known issue, disabled on https://github.com/home-assistant/core/pull/38444.
More information on the [release notes](https://www.home-assistant.io/blog/2020/09/17/release-115/).

There's a [thread on the forums as well](https://community.home-assistant.io/t/platform-error-camera-requirements-for-ezviz-not-found-pyezviz-0-1-5/231640/2).

[2021-01-08 05:56] ottelo9 commented on #44453
@adamkrol93
I think I found the problem!! The integration stops working every day at 2:15 am. I checked my router logs and found the entry at this time. It’s my internet provider reconnect that happens every night! So ... a Internet reconnect will cause this error. Could u implement a routine or something that detect that and reload ?

[2021-01-08 06:22] adamkrol93 commented on #44453
Hmm. But reconnection should not cause such problems unless Wolf API is so clever that it holds session_id with your IP (I guess that your IP is changing everynight). Anyway I am in code since yesterday and if I have time I will do it today maybe at the weekend.
The plan is:
1. In 0.1.9 I added ReadParameterError so I have to support it in a way that I will restart the whole session under the hood

[2021-01-08 06:30] bdraco commented on #44851
Yes

[2021-01-08 06:31] tyn19 commented on #35196
The UK Met Office forecasts are pretty accurate for where I live but unfortunately the Norwegian Meteorological Institute forecasts are wildly different from our real weather. Not having a reliable weather service for the UK is something of an issue which makes potentially valuable weather-based automations completely unusable. Unfortunately without this simple service Home Assistant can never be

[2021-01-08 06:44] dvino commented on #44292
At the custom component latest version (0.6.2) is missing **led_brightness**, **child_lock** and **use_time** attributes.
I just was added follow lines inside [/custom_components/xiaomi_miio_airpurifier/fan.py](https://github.com/syssi/xiaomi_airpurifier/blob/1cd406664b40b24fc00b8a74cc8b83d6d047e720/custom_components/xiaomi_miio_airpurifier/fan.py#L442)
[code]

For me it work ok

I think if you ad

[2021-01-08 06:55] kayloehmann commented on #44783
Quick update this morning. Automations are not working due to the following errors in the logs.

Logger: homeassistant.components.somfy
Source: helpers/update_coordinator.py:166
Integration: Somfy (documentation, issues)
First occurred: 7. Januar 2021, 18:38:31 (92 occurrences)
Last logged: 07:47:16
Error fetching somfy device update data: No devices returned

Logger: homeassistant.core
Source: co

[2021-01-08 06:56] sbobergje opened #44939 "Xiaomi vacuum fails setting up 2021.1.0"
After install of 2021.1.0 xiaomi roborock s6 fails to be setup.

Tried 2 times to install 2021.1.0 and both times xiaomi vacuum fails to be setup.

## Environment

- Home Assistant Core release with the issue: 2021.1.0
- Last working Home Assistant Core release (if known): 2020.12.2
- Operating environment (OS/Container/Supervised/Core): Home Assistant OS 5.9
- Integration causing this issue: Xiao

[2021-01-08 07:17] MaikaiLife commented on #44709
hi @dshokouhi ,

I'm attempting to run sample.py but every time I put the callback URL, I keep getting same error.  I have also reset and reconnected the botvac.  Is there something else I'm missing?

I'm on a 64bit PI, not sure if that makes a difference running HASS OS

![image](https://user-images.githubusercontent.com/36651116/103985766-66d52900-513e-11eb-8107-6dc94ecadf5e.png)

[2021-01-08 07:33] MaikaiLife commented on #44709
@dshokouhi ,

So I got it working, not sure which step fixed it, but I went to https://developers.neatorobotics.com/applications, viewed my application, and then chose the My Account option from the menu
![image](https://user-images.githubusercontent.com/36651116/103986859-57ef7600-5140-11eb-8f28-55fa96d6e35c.png)

This brought me over to the My Neato page.  When it first loaded it had some other

[2021-01-08 07:59] andretoma commented on #43155
I’ve the same problem

[2021-01-08 08:03] andretoma commented on #43155
I’ve the same problem
ha latest version on raspberry Pi4 32 bit.
At 64 bit installation the problem is more frequent

[2021-01-08 08:09] amelchio commented on #44925
That looks like #44696, not sure what's up though.

[2021-01-08 08:11] amelchio commented on #24717
You can copy it as a custom component (without a rename) and it should override the built-in integration.

[2021-01-08 08:11] totothekiller commented on #44423
@tetienne After migrating to 2021.1.0 I still have the same KeyError 😢

[code]

[2021-01-08 08:19] tetienne commented on #44783
@kayloehmann @michalkujawa `Error fetching somfy device update data: No devices returned` is due to my last fix. Now I catch nicely when Somfy server returns an empty response. I don’t delete the existing devices anymore. Previously, you will got the key error stacktrace you showed me previously.

And as the error is now on the Somfy server side, there is nothing more I can do.

 (Please use block

[2021-01-08 08:20] tetienne commented on #44783
About the error 500, I contacted the Somfy support.

[2021-01-08 08:20] OmegaKill commented on #44932
Thanks for the fast response.

With not working i mean its unavailable. You cannot control it in HomeAssistant.
I made a few screeshots how it looks between the two version.
Hope that helps

![Thermostat on Version 2020 12 2](https://user-images.githubusercontent.com/17964130/103991016-65cde700-5192-11eb-9d98-2a18fd8002c3.PNG)
![Thermostat on Version 2021 1 0](https://user-images.githubusercontent

[2021-01-08 08:22] tetienne commented on #44423
@totothekiller That’s really strange because [here](https://github.com/home-assistant/core/issues/44783) and [here](https://github.com/tetienne/somfy-open-api/issues/77) we can see my fix is well deployed.
Stupid question, but can you restart your server and check if you still have the issue? If yes, perhaps it means that Somfy can return empty response or incomplete response (I hope no :o )

[2021-01-08 08:25] jerkovicl commented on #44540
Doesn't generate device or entitiy for me aswell I only have lightstrip

[2021-01-08 08:28] Jc2k commented on #44265
I'm going to close this as theres nothing I can do on my end, but please do update us with the outcome.

[2021-01-08 08:28] #44265 closed

[2021-01-08 08:29] Jc2k commented on #44932
Ok that helps. The current version of homekit_controller can't acutally put the device into the unavailable start after it starts. So this looks like the entity is not even created by homekit_controller, and like the text says what you see is an orphan from when it did last work.

Can you attach your `.storage/homekit_controller-entity-map`? This is the JSON data that homekit_controller fetches fr

[2021-01-08 08:36] sephrioth commented on #43675
I have the exactly same issue here.  HA connected to 2 DSMs, only one of them got these errors.

[2021-01-08 08:46] ferdiamg commented on #44696
@metbril I get the same error but for .mp3s in my www folder. It worked flawlessly with 0.116.2, just ugpraded to 2020.12.2 (no changes to my network **at all**) and suddenly it doesn't work anymore.
Funnily enough though, TTS still works flawlessly. Just mp3s aren't playing and I get your above mentioned error.

[2021-01-08 09:01] ottelo9 commented on #44453
Thanks. I‘m waiting for the test version :)

[2021-01-08 09:06] OmegaKill commented on #44932
I found the following in the logs:

Logger: homeassistant.components.climate
Source: components/homekit_controller/climate.py:414
Integration: Climate (documentation, issues)
First occurred: 9:55:03 AM (3 occurrences)
Last logged: 9:55:03 AM

Error adding entities for domain climate with platform homekit_controller
Error while setting up homekit_controller platform for climate
Traceback (most rece

[2021-01-08 09:10] totothekiller commented on #44423
Ok I will do a complete restart and see what's happens

[2021-01-08 09:15] BenFR23 commented on #44423
With the updated custom comp., as expected i've still the error in the log, but shutters remain available.
Thanks.

[2021-01-08 09:16] TheNetAdmin commented on #44899
I can reproduce this, the HDD temperature are missing after this update.

[2021-01-08 09:17] TheNetAdmin commented on #44899
The breaking changes for glances do not mention the HDD temperature are no longer supported

[2021-01-08 09:18] TheNetAdmin commented on #44899
BTW, why chaning `_temp` to `_temperature`? This does not make any semantic difference, but cause a lot of trouble for my history data. Now I have to find out a way to merge the old entity history into the new one.

[2021-01-08 09:58] Gawronnek commented on #44292
custom component ver 0.6.2 sometimes returns an error checking configuration
![image](https://user-images.githubusercontent.com/55258190/104001801-7be2a400-51a0-11eb-9396-bc3dc1972cc8.png)

[2021-01-08 10:00] kgbvax commented on #44453
Sounds good, I also volunteer to test.

BTW, I wrote a connector in golang that has been proven stable over 6 months, the strategy there was to re-read (basically start from scratch) when an error occurs reading the parameters. https://github.com/kgbvax/wolfmqttbridge/blob/abe77170f1ca79b6839998803fcdf1ff9cc755e5/main.go#L188

[2021-01-08 10:10] imregmelig commented on #43670
After Denon support got back to me a few days ago (see 2 posts above here), requesting logfiles from the Heos app as the problem occurs, I have replied:

[2021-01-08 10:11] imregmelig commented on #43670
My HA integration has been running smoothly and with 0 errors in the log, since I restored to stock Denon firmware :-)

[2021-01-08 10:13] TheNetAdmin opened #44944 "Glance breaking changes on entity ID"
## The problem

Since version `2021.1.0` (or more specifically https://github.com/home-assistant/core/pull/43500), the `Glance` integration brings a few breaking changes.

Among these changes, the previous entity id suffix `_temp` is changed to `_temperature`. This does not bring any benefit from a user's perspective but causes a lot of trouble merging the old entities' history into the new ones (

[2021-01-08 10:15] engrbm87 commented on #43030
Hello @UryDanko , I suspect that you didn't specify the correct port. Usually ssl is on port 8729. If you don't specify the port 8728 will be used by default

[2021-01-08 10:24] UryDanko commented on #43030
well, yes, don't know why but in ticket description I didn't specify the port. However with port it still doesn't work. Current config:
[code]

current logs:
[code]

[2021-01-08 10:42] TheNetAdmin commented on #44899
Although I don't have experience with Glance API, this newly added line may be the cause of missing HDD temperature:

https://github.com/guix77/core/blob/9ca4c3918b7daeabea0ba1ed938d56df639d8036/homeassistant/components/glances/const.py#L39

I guess this "temperature_core" only matches the temperature sensors for CPU cores and ignores the other types of temperatures like HDD.

[2021-01-08 10:48] pelrol opened #44945 "Zigbee Home Automation : Sonoff ZBBridge integration does not work"
## The problem
Hello,
I followed the https://www.digiblur.com/2020/07/how-to-use-sonoff-zigbee-bridge-with.html tutorial to integrate my tasmota flashed Sonoff ZBBridge into my Home Assistant setup.
I got stucked on the step to enter my socket address (which in my case is socket://192.168.1.26:8888).

When I submit it, I get the "Unknown error occurred" message in the UI, and I get the following l

[2021-01-08 10:53] animaster84 commented on #44922
Same problema with Tuya app, and Country "Italy" - country code "39".

Thank's

[2021-01-08 10:55] animaster84 commented on #38724
@jasimmk same problem here with country "Italy" - country_code: 39 on Tuya app.

[2021-01-08 10:59] binarybucks commented on #43432
@chemelli74 had the same problem on my Kubernetes host with two VLAN interfaces of which one is in the IoT network with all shellies. Default interface is ens160,  IoT interface is ens192.

Before (polling)
`
container:/config >netstat -gn|grep 187
ens160          1      224.0.1.187
`

After
`
container:/config >netstat -gn|grep 187
lo              1      224.0.1.187
ens160          1      224.0.1

[2021-01-08 11:14] jaruba commented on #37856
@vangorra Hi, has there been any progress with the Withings PR? I would love to get the second sleeping mat into HA also (and finally get rid of IFTTT), is there any way I can help?

[2021-01-08 11:16] bieniu commented on #44912
In which entity? Sensor or weather?

[2021-01-08 11:17] bieniu commented on #44912
Please complete the issue template.

[2021-01-08 11:18] frenck commented on #44912
Hi there,

Thanks for opening up an issue. When creating an issue, an issue template is presented. It looks like you've (partly) removed it. This causes your issue report to be incomplete.

Please edit your issue to have the full issue template back again and provide as much of the requested data as possible. Without it, we won't be able to help you.

Thanks already! 👍

[2021-01-08 11:20] winterscar opened #44948 "MPD media player album art not working"
## The problem

Having just updated to 2021.1.0, I was hoping to see album art from my mopidy server. However, this does not appear to work.
The media player has an `entity_picture` with a value of `/api/media_player_proxy/media_player.media_mat?token=xxx?cache=xxx` but the media player card does not display the album art, and navigating to the above url yeilds an http 500 error

## Environment

-

[2021-01-08 11:28] winterscar commented on #44931
My issue (#44948) may be a duplicate of this. I won't close it just yet as I'm not seeing the errors in the logs, just not getting album art.

[2021-01-08 11:29] frenck commented on #44944
This is not a bug report. The listed change is made for consistency and listed in the breaking changes.
The PR has been reviewed by the code owner and a core contributor.

[2021-01-08 11:29] #44944 closed

[2021-01-08 11:34] ygreq commented on #43969
A good I idea is for someone to use the original firmware of the Sonoff ZB Bridge and see if it still drains the batteries of the ikea devices. So in this way we will know if it is a bad implementation of ZHA for Sonoff ZB Bridge or some hardware issue

[2021-01-08 11:48] frenck commented on #44939
Hi there,

Thanks for opening up an issue. When creating an issue, an issue template is presented. It looks like you've (partly) removed it. This causes your issue report to be incomplete.

Please edit your issue to have the full issue template back again and provide as much of the requested data as possible. Without it, we won't be able to help you.

Thanks already! 👍

[2021-01-08 11:49] TheNetAdmin commented on #44944
This is not an answer and do not solve the problem. You do not read my question and do not earn respect from me.

[2021-01-08 11:52] frenck commented on #44944
I did read your question and answered accordingly. You just don't like the answer, which is unfortunate.

[2021-01-08 11:53] Hedda commented on #44805
So it is more or less just a stand-alone smart-plug and not a part of a larger energy metering appliance for electricity, gas or water?

Maybe the discussion about ZSE support belongs in upstream zigpy instead or? See https://github.com/zigpy/zigpy/discussions

Would be interesting to have support ZSE profile devices via zigpy when supported by the Zigbee stack on the coordinator.

[2021-01-08 12:00] MattWestb commented on #43969
Sonoff have released 3 different signed version of EZSP (that can being flashed thru the bootloader without SWD / J-Tag flashing tools) and its 6.5.5, 6.7.6 and 6.8.0.1.
Which version is being used on the zigbee bridge then using it with ZHA ?
All should working ok the ZHA side but it can being different behavior on the zigbee network side.

From ZHA side its treating all EFR32 the same way only w

[2021-01-08 12:07] Vytiss commented on #43978
Having same issue with shelly1, same timeout messages. I have latest HA version and these timeouts are happening already for two months after i started using Homeassistant. Hope it will be fixed finally

[2021-01-08 12:07] #44933 closed

[2021-01-08 12:22] iH8c0ff33 commented on #43969
I don't think this problem is related to ZHA itself since my Ikea dimmer's battery drain faster also using directly Tasmota with the ZbBridge. Maybe the firmware provided with Tasmota ([ncp-uart-sw_6.7.6_115200.ota](https://github.com/arendst/Tasmota/tree/development/tools/fw_SonoffZigbeeBridge_ezsp)) has an issue with certain zb devices.

[2021-01-08 12:25] Vytiss commented on #43978
I have checked and this PR is already merged and released in 2021.1.0 version. This is the version i’m using and timeouts are still happening, so it didn’t fix the issue unfortunatelly

[2021-01-08 12:28] MattWestb commented on #43969
Sounds very logical !!
And we don't knowing wath custom parameters Sonoff have putting in there firmware.

Was / is your dimmer directly connected to the coordinator or is it using one router for communicating with the coordinator ?

Many tasmota  users do only having sensors and no routers.

Thanks for feedback !!!

[2021-01-08 12:35] foxxis commented on #33150
+1 same problem. Vanilla install in a venv.

[2021-01-08 12:38] sbobergje commented on #44939
Thanks. Updated the post. Was in a bit of rush this morning and didn't read proper.

[2021-01-08 12:49] Gawronnek commented on #44292
unfortunately I can't do it

[2021-01-08 13:04] bschatzow commented on #44912
The wind sensor.  On my screen the sensors unit of measure shows mpg, not mph.  Not sure where the problem is?  I thought this was a minor typo in the python script?

[2021-01-08 13:05] chemelli74 commented on #43432
So you confirm 0.5.2 solves the issue for you ?

Simone

[2021-01-08 13:05] starkillerOG commented on #44939
@sbobergje Do you have any custom components that use python-miio?
It looks like you have an old version of python-miio still installed because it is enforced by some custom component....

[2021-01-08 13:06] cdeler commented on #42415
'h11' accepts CRLF or just LF as a line delimiters for headers, but only CRLF in case of Chunked transfer encoding

[2021-01-08 13:06] bieniu commented on #44912
HA version?

[2021-01-08 13:07] bschatzow commented on #44912
Sorry, I had thought that a minor typo in the unit of measure of the wind sensor was enough information.  I hope what I changed was enough.  Again, I am still learning how I can be more helpful when I find an issue.  Not easy, but I understand as you guys are working on 1000's of things and you need a very easy way to find the issue without taken much time.  Hopefully I'll get better at helping?

[2021-01-08 13:07] piatkos opened #44952 "Google Cast (Home mini) - the entity becomes unavailable"
## The problem

From the very begining of my journey with HA I have problems both with Home mini and Chromecast (v1).
After some time they become unavailable (once for two days). Restart of HA helps.
I tried to check many things: network config, changing AP, different configuration, .... still the same.

## Environment

- Home Assistant Core release with the issue: 2020.12.2
- Last working Home As

[2021-01-08 13:09] Adminiuga commented on #44945
Means pyserial installed in your environment does not support socket protocol/serial over tcp.
Not a zha problem.

[2021-01-08 13:11] frenck commented on #44912
Filling out the issue template fully, allows to bot to handle more things. Besides, now the maintainer had to ask which version you are running (so another question / answer).

Just filling out the issue template as much as possible helps. It is not here to annoy you.

[2021-01-08 13:18] bschatzow commented on #44912
I had thought (incorrectly) that a newly released sensor that was just added that had incorrect unit of measure that a simple statement was enough.  I will try and do better next time.  Hopefully it is clear now to the maintainer?

[2021-01-08 13:19] frenck commented on #44911
Hi there,

Thanks for opening up an issue. When creating an issue, an issue template is presented. It looks like you've (partly) removed it. This causes your issue report to be incomplete.

The error specifically, doesn't exist anymore in Home Assistant, are you running the latest?

Please edit your issue to have the full issue template back again and provide as much of the requested data as possi

[2021-01-08 13:27] Jc2k commented on #44932
OK - at a guess this is caused by https://github.com/home-assistant/core/pull/42817.

'00000012-0000-1000-8000-0026BB765291' is "Heating Threshold Temperature". It's expected that if a device supports AUTO (aka heat_cool in HA terms)  it needs to support this characteristic. `heat_cool` cannot be supported without heating threshold.

@thevoltagesource wrote the PR with the change you are hitting i

[2021-01-08 13:30] marcandre83 commented on #35917
I do have the same problem. I tried disabling and re-enabling the nabu casa skill, but it didn't help. The error occurs every hour once around the same time and I can not find anything accordingly in the logbook that could cause it

[2021-01-08 13:31] wonderiuy commented on #42415
Thank you @cdeler
While I appreciated very much your work on this, now I'm trying to let Axis to be RFC compliant with httpx requests. In this particular case there is a double LF between header and body.
Their answer is

Response = Status-Line
*(( general-header ;
| response-header ;
| entity-header ) CRLF) ;
CRLF
[ message-body ] ;

I have asked the FW specialists to have a look to FW 5.51.7.3.

[2021-01-08 13:39] jimbobcraig commented on #21214
this problem still exists. fully configured manually, buy keep being notified to provide API key. removed all trace of sabnzbd from configuration but seems no way to remove it's created element "configurator.sabnzb"

[2021-01-08 13:43] binarybucks commented on #43432
Sorry that was not obvious. Yes, for me this resolves the issue.

[2021-01-08 13:46] isidro666 commented on #44219
I don't know why you say "issue seem to be completely different".

The behavior is exactly the same as described by pixelspark.

Additionally I found that the device status is reported incorrectly as an electrical measurement.

I think it could be solved by modifying the configuration of home-assistant, perhaps the file "core.entity_registry", or creating a "ZHA Device Handlers". I am new to home-

[2021-01-08 13:51] sbobergje commented on #44939
Yes i have custom component xiaomi_miio_fan installed.

[2021-01-08 13:52] jonare77 commented on #44653
@timutta still getting the error after adding netatmo client_id and client_secret. Do I need to uninstall the whole integration and add it again? Or can I try to disable the webhook ?

[2021-01-08 13:55] mweinelt commented on #44931
This honestly looks like it cannot reach the MPD instance. Though if I had to guess where things go wrong is

https://github.com/home-assistant/core/blob/58195c64b75bbebcdac04d659aba949f5cd5821a/homeassistant/components/mpd/media_player.py#L261

Would probably help to check if any of these two is available, else return `None`.

https://github.com/home-assistant/core/blob/58195c64b75bbebcdac04d659a

[2021-01-08 13:56] starkillerOG commented on #44939
Make sure the custom component uses python-miio version 0.5.4.
So update the manifest.json file of the custom component.

[2021-01-08 14:02] Mariusthvdb commented on #44931
it cant reach the MPD instance,because it isnt powered on, that my whole point. Before, we didn't see these errors, and the media_player simply came online after powering there MPD instance. That doesn't happen any longer.

About the test for album art: how can I test that? Using HA OS here.

[2021-01-08 14:02] Adminiuga commented on #44219
Because OP has issue with the switch entity state and you are complaining about electrical measurement sensor. On this devices the electrical measurement sensor is not working. period.

[2021-01-08 14:04] sira87 commented on #44305
The issue is still present for me in 2021.1, my ATV turned off due to inactivity but the entity state in HA remained `Playing`. It seems like no logs are being generated, it just stays in `playing` state, with no errors.

The only logs I have were generated when I tried to interact with the stuck entity via this script:

`alias: Apple TV OFF
sequence:
  - service: remote.send_command
    data:

[2021-01-08 14:07] michalk-k commented on #37856
@jaruba you can add 2 mats registered to 2 accounts.
The problem is, that after registering the first mat, you stay registered against Withings portal. So attempt of registering another one don't even ask for credentials.
To register second mat you need to ensure you are logged out from Withings portal. Then try adding another device to the Integration

[2021-01-08 14:12] sbobergje commented on #44939
Alright. Updated manifest.json , anything else before i try updating again?

[2021-01-08 14:14] frenck commented on #44901
This generally means that Home Assistant is choking or blocked. A blocked event loop is often caused by custom integrations. Please disable those to see if the problem persists.

[2021-01-08 14:17] mweinelt commented on #44931
I have no idea how HA OS works tbh. This would be my proposed change:
https://github.com/mweinelt/home-assistant/commit/b1f4d45aaf29f85f4acfff6cb77cdbf0518435b9

I'll look into the failed connection noise later tonight.

[2021-01-08 14:21] emontnemery commented on #44952
Please note that it's not a security issue to expose internal IP addresses, the only difference it makes to obfuscate them is that the logs become ambiguous.

Also, can you confirm if the uploaded log is a complete log from HA startup, or if you've done some editing / removal of sections?

[2021-01-08 14:22] mweinelt commented on #44948
The problem is likely that the image hashing function returns without checking, whether it can actually pull an image.

Unfortunately mopidy does not offer any albumart support. See https://github.com/mopidy/mopidy-mpd/issues/17.

Can you test https://github.com/mweinelt/home-assistant/commit/b1f4d45aaf29f85f4acfff6cb77cdbf0518435b9?

[2021-01-08 14:23] starkillerOG commented on #44939
@sbobergje no thats it, just update the manifest of all custom components that use python-miio and update/restart.

[2021-01-08 14:30] piatkos commented on #44952
1. I've changed only my network IPs  - leaving host numer at the end.
2. I only removed duplicates with mDNS discovery. Everything from startup is in the file.

[2021-01-08 14:31] gitdeath commented on #43593
I have exactly the same issue. I've been using this integration for years and about 10 days ago it quit working showing the error below. I just assumed the cookie had expired, but now I generate new cookies (via the chrome method) and they last for half a day.

I will test with firefox to see if the cookie lasts longer.

[code]

#44158 appears to be the same issue and it is suggesting a new cookie

[2021-01-08 14:36] emontnemery commented on #44952
1. Yes, but 10.*.*.* are internal IPs, and it's not a security issue to reveal them. Anyhow, can you please confirm xx.xx in the obfuscated IP addresses are always the same?
2. I see. This issue is most likely due to a problem with mDNS, so the full log is useful to understand what's going on. Can you please attach the full log? You can zip it and drag-and-drop it to a github comment when writing

[2021-01-08 14:41] piatkos commented on #44952
Full log attached :)

Container is set to host. One network. No VLANS.
[ha_log.zip](https://github.com/home-assistant/core/files/5787761/ha_log.zip)

[2021-01-08 14:42] pelrol commented on #44945
Thanks for the info.
What's strange is that when I try with sample code to use socket:// protocol in my HA's python venv, I get no error.
[code]

[2021-01-08 14:44] postlund commented on #44305
I was actually quite surprised hearing that HA 2021.1 solved the problem as it didn't contain any bug fixes of magnitude. However, I do believe it's fixed on `master`. I have some other bugs I'm working on, after that I will make a new release of pyatv and include a bump in the next HA release. Hopefully I can make a bump in the beta repo, so you can test it there. It all depends on how much time

[2021-01-08 14:44] allenporter commented on #44719
@SlickUnderTheGun has your ipv6 work resolved your network unreachable errors?

[2021-01-08 14:45] pelrol commented on #44945
Nevermind, I restarted my HA instance, and it does work now.
Thanks a lot !

[2021-01-08 14:45] #44945 closed

[2021-01-08 14:46] cgtobi commented on #44653
Yes, you need to remove the integration and add it back with configuration.yaml rather than HA Cloud Link.

[2021-01-08 14:48] sira87 commented on #44305
Awesome news! Thank you for your work @postlund, it's really appreciated!

[2021-01-08 14:49] amjaliks commented on #43913
I have the same issue. I can it turn off from HA, but can't to turn on.

HA: 2021.1.0
Twinkly: TW175SEUP06
Firmware: 2.3.5

The Twinkly app doesn't offer to update a firmware. Maybe it is the first generation device.

[2021-01-08 14:49] emontnemery commented on #44952
Thanks.
The problem seems to be that mDNS is not working correctly.

While the casts are discovered at startup of HA, that doesn't seem to be thanks to HA, but thanks to another device on the network also sending questions about chromecasts.

Due to this, the mDNS services expire already after 5 minutes:

[2021-01-08 14:51] vangorra commented on #37856
The fixes are in this pr. #39684
Help reviewing and testing would be helpful. One of behavior i noticed recently is withings simply won't send webhook calls. It would be nice to see it others have the same experience.

[2021-01-08 14:56] egelundsvej55 commented on #38517
Same issue. Running hassio on Synology.

Used to work on HA Core running on rpi4.

[2021-01-08 14:56] sbobergje commented on #44939
Awsome, hass up to date and no more issues, thanks. Easy fix

[2021-01-08 14:56] vangorra commented on #37856
The is nothing preventing people from registering multiple accounts or profiles on 1 account. It's just a matter of adding another withings integration.

-------- Original Message --------
On Jan 8, 2021, 6:07 AM, michalk-k wrote:

[2021-01-08 15:14] chemelli74 commented on #43978
Sorry but this issue is about **error fetching data**, not about timeouts.

Simone

[2021-01-08 15:19] piatkos commented on #44952
When I use restart link in config or service in script it... mostly works. Sometimes devices are still unavailable. One more restart and it's ok.
Restart of container works always.

I've tried to check/change every option connected with listed services both on router and qnap.

Qnap is connected to ethernet.

I will try to catch something with Wireshark

[2021-01-08 15:21] DrCoolzic opened #44954 "ZigBee End Devices connected to ConBee II Coordinator not reported by ZHA integration"
## Problem description
Some (all?) ZigBee End Devices directly connected to a ConBee II coordinator do not seems to be reported by the ZHA integration.
Therefore the ZED children directly connected to the ZC are
- not displayed in ZHA network visualization tab
- not displayed in ZigZag network visualization card
- not present in the “neighbors” table of the SQlite zigbee.db DB file
- not reported

[2021-01-08 15:21] fouram commented on #32803
As a household that has a lot of Twitch on, this has been an issue for me as well. This is swelling my log files to as much as 21GB over the course of a week as multiple chromecasts are in use. It would be nice to disable state updates for changes in "media_position".

[2021-01-08 15:28] jaruba commented on #37856
@michalk-k @vangorra

So I can add the Withings integration multiple times through the "+ add integration" button in HA? And all I'd need to do is install it a second time in Chrome's Incognito Mode? (or by clearing the cookies of the Withings site?)

Wouldn't I need to add a second account (for the second Sleep Mat that is on a different account) to the config though? My config currently looks li

[2021-01-08 15:35] amjaliks commented on #43913
To achieve compatibility with older devices some changes need to be made `twinkly-client`.
https://github.com/dr1rrb/py-twinkly-client/issues/2

[2021-01-08 15:38] djmalin commented on #43495
@frenck Hello, I was able to see that only the first 7 favorite stations are working, the other stations are not working, no matter what station it is on positions 1 to 7, can it be repaired?

[2021-01-08 15:52] iH8c0ff33 commented on #43969
@MattWestb I have both dimmers connected directly and some through routers. It doesn't seem to be related to distance from the coordinator either.

I've some PR in the Tasmota repo which mentioned that disabling/not setting attribute reporting for these devices solves the battery issue. New Tasmota versions won't enable attribute reporting on IKEA devices and should fix the issue, but you should r

[2021-01-08 15:54] piatkos commented on #44952
Oh... Reboot of AP almost always means problems with cast.

[2021-01-08 16:05] Adminiuga commented on #43969
attribute reporting does not explain why the Five button Ikea remote worked fine for at least two years, but is a problem when connected through Sonoff bridge.

Do you know how attribute reporting (min & max intervals) were configured on Tasmota?

[2021-01-08 16:06] MattWestb commented on #43969
You can see how they is connected in the zigbee map in the ZHA integration (new in 2020.12) or by installing ZigZag.

If you like "moving" one dimmer open the router you like havit connected to for joining and reset the dimmer so its doing one pairing thru the only open router. Then you need redoing the
groupe binding.
The technik is working very good for Xiaomi sensors and most end device as long

[2021-01-08 16:09] MattWestb commented on #43969
@Adminiuga Do you like getting the setting that IKEA is doing it with their GW ?
Its gets good sniffs in one Z2M post (with network key) and I have doing some complete ones 2 if you are interested.

[2021-01-08 16:09] JIIMI commented on #44922
Had the same problem with country code 420. Tried setting up US account and invite the other account to my home but found out that you cannot home together accounts from different regions. Didn't want to repair the devices with the US account so I went with a temporary solution to hardcode the eu region to tuyaha API.

To find the tuyaha API I ran:
sudo find / -name "tuyaapi.py"

Mine setup is ins

[2021-01-08 16:11] Adminiuga commented on #43969
yeah, share those

[2021-01-08 16:14] iH8c0ff33 commented on #43969
@Adminiuga [Here](https://github.com/s-hadinger/Tasmota/blob/6b80ea0085e4be0f2dbe8a1b7f6999f7fab6bee1/tasmota/xdrv_23_zigbee_8_parsers.ino#L672)'s the code that configures attribute reporting in Tasmota (actually the link is for the line that skips IKEA devices), though I don't think it is used when configuring the ZbBridge to map the UART to a TCP socket (i.e. when you use the HA ZHA integration)

[2021-01-08 16:20] emontnemery commented on #44952
Hmm, I wonder if your problem is caused by thecustom sonoff integration, it seems to use zeroconf also.

Can you give a link to the sonoff integration?

[2021-01-08 16:21] MattWestb commented on #43969
Post with key and sniffs in more posts later https://github.com/Koenkk/zigbee2mqtt/issues/4414#issuecomment-699495669
I attaching the posted zips so you dont need searching for them.
[tradfri.zip](https://github.com/home-assistant/core/files/5788216/tradfri.zip)
[Remote.zip](https://github.com/home-assistant/core/files/5788217/Remote.zip)
[gatewayadd.zip](https://github.com/home-assistant/core/fil

[2021-01-08 16:29] isidro666 commented on #44219
I don't care about the electrical measurement sensor. I communicate better with stones.

[2021-01-08 16:29] Adminiuga commented on #44954
what version of HA was running when the child device was joined originally?
What ConBee firmware version are you running?

enable debug logging and post the log when topology scanner (runs every 3-4 hours or about 30 min after a restart) when it queries the coordinator.

ConBee does not retain children information (like a regular Zigbee device should do) on a power cycle. If the child was joined d

[2021-01-08 16:30] Adminiuga commented on #44219
Feel free to submit a PR

[2021-01-08 16:31] #44219 closed

[2021-01-08 16:32] piatkos commented on #44952
https://github.com/AlexxIT/SonoffLAN

[2021-01-08 16:35] MattWestb commented on #43969
@iH8c0ff33 Its already done in the post a bow and i have doing that 2.
If you like do it its only tricky is getting your network key then its normally being done with touch link and wireshark cant decrypting it ;-((
Work around is paring one light with pushing the pairing button (on the GW) under the hud and sniffing it (its making one classical HA pairing with HA key encrypted network key) and yo

[2021-01-08 16:39] iH8c0ff33 commented on #43969
@MattWestb I have some python code to decrypt the network key from the touchlink process... The way you explained seems easier, but I'm new to Zigbee and I didn't know about it.

[2021-01-08 16:41] SlickUnderTheGun commented on #44719
@allenporter I'm not sure if it was enabling IPv6 or improvements you've made to your code but I believe it may be resolved.  I pulled a new docker image which updated my Home Assistant version to 2021.2.0.dev20210101 at 2021-01-04 20:44:00 EST and the integration has updated continuously since, about 84 hours.  Between then and now I have 189 instances of the ```Exception while sending unary RPC`

[2021-01-08 16:49] MattWestb commented on #43969
I was trying calculating the key from the python code i was finding (one where on INTERNET) but it was not working for my.
If doing one classic paring and sniffing it and having the normal keys in wireshark you  getting your network key in clear in the beginning of the paring. Its very easy compared with touchlink you need 2 different strings from the same handshake ID and must redoing the cryptat

[2021-01-08 16:52] piatkos commented on #44952
I use this integration from very beginning.
Started with two devices. Now I have 5.

No issues with that.

[2021-01-08 16:58] ProfDrYoMan commented on #44275
@Od1waN, Just use the attribute "level", which is the right one for the valve position (0.0 to 1.0 = 0 to 100 %)

You can extract with a template sensor.

[code]

climate.wohn_l_thermostat is the hmip device name.

This is not an issue since it works as expected?

[2021-01-08 17:00] MattWestb commented on #43969
As you see its one `Transport Key` ad datatype in wireshark and easy finding in the list :-))
`58	12:29:47,184032	0x0304	0xb626	ZigBee	129	Transport Key`
[code]
My private key its little patched a bow ;-)

[2021-01-08 17:11] sqldiablo commented on #44736
@bdraco I'm seeing the errors below when starting Home Assistant. I use Microsoft SQL Server for my recorder database. Will the fix in #44757 also address this FK issue in MS SQL?

1/8/2021 12:06:22 PM2021-01-08 17:06:22 ERROR (MainThread) [homeassistant.setup] Setup of recorder is taking longer than 300 seconds. Startup will proceed without waiting any longer
1/8/2021 12:06:22 PM2021-01-08 17:06:

[2021-01-08 17:13] frenck commented on #44736
@sqldiablo This issue has been fixed, closed and handled. If you have a new issue, please open up a new issue accordingly. Thanks 👍

[2021-01-08 17:15] sqldiablo commented on #44736
I was just wanting to know if the fix in the PR targets MS SQL as well, as it looks like it's specifically targeting MySQL and Postgres. If @bdraco lets me know it won't fix the issue in MS SQL as well, then I'll be glad to open a new issue. I just didn't want to create issue spam if my issue is already fixed by the PR.

[2021-01-08 17:18] frenck commented on #44736
You are now bumping a closed issue, possibly polluting it with unrelated information. Your data is not fully complete, as you are not using an issue template and you are above all pinging and mentioning people (which one should generally not).

Lastly, closed issues are not tracked anymore and notify all participants, possibility unessesarry.

Could you just, please, raise a new issue instead? Tha

[2021-01-08 17:22] baizan1 commented on #34345
I have the same problem, i can't connect my netatmo with HA, I have a temperature control and weather station. could you connect?

[2021-01-08 17:25] DrCoolzic commented on #44954
I am not 100% sure of the version I was using when I added the two devices (I think it was 5.9 but not sure)?
Therefore I have just added a new Aqara motion detector device to the coordinator. This device has never used before.
The device is working but is not present in any graphs or tables.
Here is the log file of the adoption
[code]
How do I find the version of the Combee (I bought it less than

[2021-01-08 17:30] rschuiling commented on #41593
The issue is still present in 2020.12

[2021-01-08 17:40] MattWestb commented on #43969
@Adminiuga
Pairing one 5 button remote with IKEA GW all attribute config i have finding:
[code]
I think i have finding all the attribute reporting setting that is being done.
Then its the next question is ZHA responding to `Report Attributes` with one `Default Response` as being done in  Seq: 17 ?
Or perhaps EFR32 secund gen is not doing it OK ???
If not the device is killing it self then trying r

[2021-01-08 17:41] DrCoolzic commented on #44954
Added the logger info in configuration, deleted old ha log file and restarted ha (ha core restart).
Will wait and post the log file in few hours

[2021-01-08 17:46] sqldiablo opened #44958 "Recorder fails during FK creation on states table (MS SQL)"
## The problem

I use an MS SQL database for my recorder database. When I start Home Assistant, I get the error messages in the section below. It looks like an FK on the states table is being created incorrectly, and this prevents the states table from being upgraded. When I dropped all tables thinking that it would be recreated at the next start of Home Assistant, now it cannot create the states

[2021-01-08 17:47] sqldiablo commented on #44958
@bdraco , I think this is the same issue that you fixed in #44757 for MySQL and Postgres, but it looks like MS SQL is still having the issue

[2021-01-08 17:48] DrCoolzic commented on #44954
@Adminiuga

Not sure I fully understand? Does than mean it will never work with ConBee?
Since I have added the Aqara devices I do not think I have shutdown the power of my RPi4 where the Conbee is connected and certainly not since I added the last one.

[2021-01-08 18:00] Adminiuga commented on #44954
Since I have added the Aqara devices I do not think I have shutdown the power of my RPi4 where the Conbee is connected and certainly not since I added the last one.

It would work with conbee, but scans are done every 3-4 hours, just need to wait. In the debug log you should see zdo requrest sent to 0x0000 NWK address with Mgmt_lqi_req commands

[2021-01-08 18:01] cgtobi commented on #34345
Currently I strongly recommend creating individual dev accounts at dev.netatmo.com until an issue with webhooks is resolved. This might also fix the token issue.

[2021-01-08 18:03] gimlichael commented on #34345
Sorry for my ignorance; what is the problem? Is it Home Assistant or Netatmo?

[2021-01-08 18:04] Adminiuga commented on #43969
So looks like Ikea gateway configures even more attribute reporting, as we don't configure attr reporting for power source, nor sw_build_id.

For sw_build_id the max interval is 18000s and this is the same interval we're using for battery voltage and % remaining.

Yes, unless the ZCL frame has disable default response set to 1.

[2021-01-08 18:59] bdraco commented on #44958
@sqldiablo

I'm thinking this will fix it, but I haven't found a way for sqlalchemy to limit the change (there doesn't appear to be variant support for FK actions)  to MSSQL only so we would have to rework support on all other databases as well to accommodate MSSQL if we were to make a change:

I've made the adjustment in the top two commits here:
https://github.com/bdraco/home-assistant/commits/m

[2021-01-08 19:06] tggman commented on #43593
I CONSISTENTLY have this issue ONLY when I try to pull up the map (or whatever) in a browser (in my case Chrome) within the first few minutes after a Home Assistant restart. Without getting into too much detail, I don't use the API key until I'm sure all of the HAC Integrations have loaded an even check for that condition before allowing the map to be displayed on the browser. To be clear,  having

[2021-01-08 19:06] ds7771 commented on #44303
I changed the User Agent back to static value = "pymq" from the random number generator

error requesting data from API does still continue
disconnect/reconnect does still continue

[2021-01-08 19:12] MartinHjelmare commented on #41617
This has been fixed in intelhex.

[2021-01-08 19:12] #41617 closed

[2021-01-08 19:14] matwojcik commented on #44922
I did the same trick as @JIIMI , however it seems I also had trouble logging into tuya account based on Google account integration. Other account, also Gmail but created without Google integration works well after the trick.

[2021-01-08 19:16] towerhand commented on #44303
In the last couple days mine have been on and off for short periods of time but today it have been unavailable for over 3 hours so far.

[2021-01-08 19:25] gitdeath commented on #43593
@tggman I'm not using HAC, or looking at any maps within HA. So I suspect the root cause of the reported issue is different from your experiences.
-------------

Firefox cookie was installed shortly after my previous post and has been working for more than 5 hours already. I'll check back tomorrow, but if working it sure looks as cookies are changed for at least chrome browsers (side by side compa

[2021-01-08 19:29] Kane610 commented on #44920
This is the first someone commented on it and how it's been for perhaps 3 years :)

[2021-01-08 19:30] piatkos commented on #44952
If I understane corretly attached log from wireshark - everything is OK with routing mdns packets.
Connected to ethernet I captured mdns packets both from HA (10.10.1.107) and google mini (10.10.1.177).

Maybe some test from container?

[mdns_log.zip](https://github.com/home-assistant/core/files/5789023/mdns_log.zip)

[2021-01-08 19:40] virusmoere commented on #44878
According to a document I found, this may be the following sensors:

1-0:81.7.26*255 IL3 : UL3, Phase angle
1-0:14.7.0*255 Power frequency
1-0:0.2.0*0 Firmware Version, Firmware Checksum CRC , Date
1-0:96.90.2*1 ?
1-0:96.5.0*255 Status

[2021-01-08 19:44] cgtobi commented on #34345
I haven't investigated the token issue. For the webhook it is a thing we are already discussing with Netatmo.

[2021-01-08 19:48] DrCoolzic commented on #44954
Here is the debug log file after over 2 hours of running
[home-assistant.log](https://github.com/home-assistant/core/files/5789090/home-assistant.log)

Even after days of continuous run the links never show

[2021-01-08 19:51] a-bianucci commented on #44303
I had the same issue.  I tried removing\readding the integration wouldn't connect.  I went ahead and placed the User Agent back in manually with out the randomization and I'm back to working.  however looking at the history it does show a bunch of 1m disconnections.

Logs show pymyq.errors.RequestError: Error requesting data from https://api.myqdevice.com/api/v5.1/Accounts/<removedaccountguid>/Dev

[2021-01-08 19:52] MattWestb commented on #43969
If it was not only Sonoff that is fast draining batteries, I wold saying not reporting battery attribute and only power source and sw-build can being good. Then battery attribute is using hardware / software with more bugs can doing bad things and the other two is only software variables and dont need waking up all hardware for doing the reporting.  But i dont see its necessarily changing it at th

[2021-01-08 20:04] 3of9 commented on #44932
Both of my Lyric T5 thermostats are experiencing this same issue.

[2021-01-08 20:23] dougroutledge commented on #44278
Same issue here, started about a 2 months ago I believe.

[2021-01-08 20:28] Adminiuga commented on #44954
so ConBee reports only one neighbor
[code]

[2021-01-08 20:32] ds7771 commented on #44303
In case this helps with troubleshooting:

For another test, I tried calling the API through a MyQ Polyglot node on ISY994i hardware -- completely unrelated to HA.

The Polyglot nodeserver logs are reporting the exact same failure to call the MyQ API.

However, I have no idea if Polyglot uses same pymyq code as HA, so I cannot say with assurance that the issue is unrelated to the code.

[2021-01-08 20:32] Torstein80 commented on #44667
Hi
I also recive this error message: "Failed to call service switch/turn_on" and "Failed to call service switch/turn_off"
The heater does however turn on/off in the car.

Not sure if this relates, but im not able to use Google assistant voice control to switch the heater. I use a Google Nest Hub and It reports an unknown error has occured when i give the voice command. I can unfortunately not say

[2021-01-08 20:33] sqldiablo commented on #44958
@bdraco

Applying the change in this commit resolved the issue for MS SQL and allowed it to create the states table:
https://github.com/bdraco/home-assistant/commit/ca295a53a8c4a2ec233f2cd4c59fc2160a88b6c8

I also restarted Home Assistant to make sure that it works on subsequent startups.

Here's what the table schema looks like:
![image](https://user-images.githubusercontent.com/1703538/104061457

[2021-01-08 20:34] GaryOkie commented on #44851
@bdraco - OK, I've opened this as a new issue on pymyq.   Don't know who can pick this up and possibly collaborate with the Homebridge MyQ efffort.

[2021-01-08 20:34] r00nster commented on #43890
Any update on when the HA build-in integration will be fixed ?

[2021-01-08 20:35] yusufabdulaal commented on #37547
did anyone find a solution. my plugs, door bells and thermostats do not appear in HA. only lights and switches

[2021-01-08 20:35] Adminiuga commented on #44954
Hue has three neighbours:
[code]

[2021-01-08 20:39] eliezerlp commented on #44303
The follow up issue is https://github.com/home-assistant/core/issues/44851.

[2021-01-08 20:42] Adminiuga commented on #44954
on the next scan ConBee does report more neighbours, but some are discarded because of the invalid data
[code]

But for the next request it only reports two neighbours and does not return anything
[code]

[code]

[2021-01-08 20:42] GaryOkie commented on #44303
Hey all,  this is a closed issue, and for a good reason.  The specific problem 23 days ago was in fact fixed.   The NEW problem has nothing to do with the user-agent being blocked again.

As frenck had requested 3 days ago, a new HA issue for this new problem has been opened, so please follow it...
https://github.com/home-assistant/core/issues/44851

[2021-01-08 20:46] Adminiuga commented on #44954
Try upgrading firmware on ConBee. Currently you are on 0x26580700
[code]

But all the data in the map is based on what the devices are actually reporting. If the device are not reporting neighbours, then it won't be present in the map :shrug: Can't control what devices are reporting.

[2021-01-08 20:50] zettalion commented on #44303
Thanks Gary for saying the quiet part out loud.  I'm using the December fix and am so pleased the team fixed it over the holidays.  Lets try to get folks over to the new thread.... ;o)

[2021-01-08 21:06] NobleWolf opened #44963 "Tasmota (beta) integration will not configure after previously removing it"
## The problem

I previously added the Tasmota (beta) integration via the UI and then later removed it. Weeks later, now I attempted to add the Tasmota (beta) integration but HA says that the integration is already configured.

As you can see in the screenshot below the Tasmota (beta) integration is not listed. It would be between the Roku and Twilio integrations. The "Aborted" dialogue box showed

[2021-01-08 21:08] NobleWolf commented on #44963
whoops. sorry @probot-home-assistant and @emontnemery . Forgot I had all of those links to integrations in my comments. This report is only relevant to the https://www.home-assistant.io/integrations/tasmota/ integration.

[2021-01-08 21:19] roofuskit commented on #44857
That did it! They are functioning as expected now.

[2021-01-08 21:19] #44857 closed

[2021-01-08 21:24] bkupidura commented on #43432
@chemelli74 can you share when this commit will be available in upstream HA? Next release?

[2021-01-08 21:26] totothekiller commented on #44423
After full reboot I still have _Task exception was never retrieved_ with _KeyError_ ... don't understand 😒

[2021-01-08 21:56] Nicols07 commented on #22900
Same ....

[2021-01-08 22:02] thevoltagesource commented on #44932
I'll do some digging and see what is going wrong.  The first one is interesting because it shows auto but a single set point.

@OmegaKill - Can you provide the model number of your tstat?  The device screenshots say radiator so I assume there is no cooling side to this setup right?

@3of9 - Can you attach your  `.storage/homekit_controller-entity-map`? Maybe I can find some similarities that will

[2021-01-08 22:09] MattWestb commented on #44857
Grate and now "On coordinator to rule them all" :-))

[2021-01-08 22:24] OmegaKill commented on #44932
@thevoltagesource No there is no cooling side to this.
I found the following number that seems to be the model number: 8-750-000-391

![Tstat](https://user-images.githubusercontent.com/17964130/104070891-3bb70c00-5208-11eb-8102-85d160170d7a.jpg)

And that's a picture of the box (don't know if that helps) it's the EU Variant
![tstat_box](https://user-images.githubusercontent.com/17964130/104071022-

[2021-01-08 22:35] bdraco commented on #44549
I am not sure if there is anything more we can do here code wise.

Tracking down HomeKit network problems isn't easy as HomeKit doesn't tell you what is wrong.

There are some suggestions in the comments here:
https://9to5mac.com/2021/01/08/homekit-no-response/

[2021-01-08 22:42] emontnemery commented on #44963
This could be because the Tasmota configuration flow is autodetected, but hidden.
Can you check if that's the case by showing ignored integrations:
![image](https://user-images.githubusercontent.com/14281572/104072246-21caf880-520b-11eb-81ac-1bf281cc8a03.png)

[2021-01-08 22:44] Mariusthvdb commented on #44931
Sorry, but I dont get it. We read in the release note that MPD now shows album art:

and yet you state here the integration doesn't support that? I am confused...

[2021-01-08 22:53] emontnemery commented on #44952
That looks pretty alright, yes.
It would be really interesting to see if HA sees the same data as wireshark.

Could you do a longer capture of both wireshark + HA log of the following sequence:
1. Restart HA
2. Verify casts are found correctly
3. Wait 10 minutes for MDNS cache entries to expire
4. Restart the chromecast
5. Wait another 10 minutes

[2021-01-08 23:04] 3of9 commented on #44932
Here you go.
[homekit_controller-entity-map.txt](https://github.com/home-assistant/core/files/5789698/homekit_controller-entity-map.txt)

[2021-01-08 23:14] mweinelt commented on #44931
The MPD platform works with multiple backends that all support the MPD protocol, such as MPD (the original implementation) and Mopidy (a reimplmentation). Not all backends support all features. So the problem is that you are using Mopidy and that it does not supply that information via the MPD protocol.

[2021-01-08 23:16] OddmarDam opened #44969 "Unhandled exception in /usr/src/homeassistant/homeassistant/components/mqtt/light/schema_json.py", line 219, in state_received"
## The problem

ZHA devices stop working after this error occurs in the log.

## Environment

## System Health

version | 2021.1.0
-- | --
installation_type | Home Assistant Supervised
dev | false
hassio | true
docker | true
virtualenv | false
python_version | 3.8.6
os_name | Linux
os_version | 5.4.0-58-generic
arch | x86_64
timezone | Atlantic/Faroe

<details><summary>Home Assistant Cloud</summar

[2021-01-08 23:22] BenFR23 commented on #44423
finally I still get shutters unavailable too.

[2021-01-08 23:41] emontnemery commented on #44894
`customize.yaml` can't really be used to reconfigure the entity, it just overwrites attributes of the entity (icon, etc.)
If you want the autodiscovered MQTT alarm to require a code, that should be added to the discovery message.

[2021-01-08 23:45] emontnemery commented on #41403
Can you collect a log where this issue is reproduced?

Log settings:
[code]

[2021-01-09 00:04] thevoltagesource commented on #44932
Thanks for the pics and entity map, they helped a lot.  I know where the Bosch issue is and I think I know what the lyric issue is.  They probably have the same solution.  I'm working on the best way to address this.

[2021-01-09 01:30] robyevolution commented on #44549
after several tests I think I have solved the problem, I'm not sure which step has solved but I describe the steps I took and since then I have not had any problems.
1st I checked the firewall rules, https://www.jethrocarr.com/2018/06/03/firewall-rules-for-homekit-with-homeassistant/
2 ° I deleted from the homekit configuration all the devices that remained permanently offline (for example the son

[2021-01-09 01:39] CursedDog19 commented on #30362
If you are trying to modify the supported features value now, there is an easier way to do it in the configuration UI. Just scroll to the bottom and click "Customizations," select the entity you want to modify, and modify the value by selecting the pen. After saving the settings should apply, no restart necessary. A good value to use is 63 for rgb lights with white color temperature.

[2021-01-09 02:01] atmurray commented on #44805
They were previously used as part of a trial of a larger solution that included smart meter and in-home display. That trial ended a while ago and so I'm trying to re-purpose these modules.

[2021-01-09 03:46] Gibbz commented on #44046
I did a full wipe of z2m and the issue was still present. The only way I can change anything in HA is via config files. Somehow HA has crippled itself with this error message.

[2021-01-09 04:40] bdraco commented on #44387
I had the problem until I added an access point closer to the mylink.

I've added retry support in https://github.com/home-assistant/core/pull/44977

[2021-01-09 05:49] lebowski9000 commented on #37195
this can still be buggy if Kodi is in "idle" hitting the button off wont do anything.

[2021-01-09 06:26] FlorianLudwig opened #44979 "Uploading a big snapshot to new home assistant instance fails with internal server error (500)"
## The problem

On the on-boarding screen I choose upload snapshot. After some time I receive a 500. I tried two different snapshots, both fail. The snapshots where full snapshots one 813mb and the other 652mb. Afterwards I tried a partial snapshot (180mb, skipped the influxdb addon), which worked.

Snapshots were created on Raspberry Pi 3b with Home Assistant OS 5.10 and  Home Assistant 2020.12.7

[2021-01-09 07:21] muzzak123 commented on #43155
Yeah - I dont think anyone is going to look at this unless we have a log and we can't get a log because it is overwritten when we restart. I voted for an option here https://community.home-assistant.io/t/better-logging/185694 in which a few ideas are suggested to fix this problem. You might want to consider adding your voice.

As an interim fix/solution I flashed a power plug with Tasmota and incl

[2021-01-09 08:29] OnFreund commented on #37195
@lebowski9000 do you have an automation set up with the right trigger? HA doesn't know how to turn Kodi off by itself, you need to tell it how to:
https://www.home-assistant.io/integrations/kodi#turning-onoff

[2021-01-09 08:33] chemelli74 commented on #43977
Please change issue title to reflect the request: show more information in unignore screen.
Remember that is not Shelly specific.

Simone

[2021-01-09 08:35] chemelli74 commented on #43978
@bucky2076, can you please close this issue? The initial reported error is now fixed.

For anyone with a different error, please open a new issue (if one is not already opened).

Simone

[2021-01-09 08:37] chemelli74 commented on #43432
We are working on a couple of other issues that we want to fix before bumping library version in HA.
Will not take long, but currently I cannot confirm a specific HA release.

Simone