[2020-08-25 23:26] balloob commented on #39215
Going to close this as issue solved 👍

[2020-08-25 23:26] #39215 closed

[2020-08-25 23:30] balloob commented on #39005
So it looks like you have an entity which has a string as the supported features. This is always a number in Home Assistant. This is breaking the Alexa integration.

Would you by any chance be able to go to developer tools -> states and find the entity that has a string value for supported features?

[2020-08-25 23:31] andriej opened #39265 "Uncaught thread exception"
## The problem
Saw "Uncaught thread exception" in logger - maybe it's something worth having exception on?

## Environment

- Home Assistant Core release with the issue: 0.114.3
- Last working Home Assistant Core release (if known): n/a
- Operating environment (OS/Container/Supervised/Core): Supervised
- Integration causing this issue: not sure, but I guess it's speedtest
- Link to integration doc

[2020-08-26 00:05] IIAIronWolf commented on #39113
@bdraco to confirm it's not my (now factory reset) router: I drilled into the MAC address looking value under _homekit._tcp. and it is actually my iPad, which acts as my HomeKit hub.

[2020-08-26 00:27] bdraco commented on #39113
We are waiting for this fix upstream https://github.com/jstasiak/python-zeroconf/pull/287. I'm not sure it's related to this issue though

[2020-08-26 01:28] firstof9 commented on #39033
I'd like to add:
- google_assistant

[2020-08-26 01:45] rjbartels commented on #39227
I was able to get the logs, but I couldn't figure out how to connect to the container on HassIO, so I couldn't confirm with NetDisco.  However, the IP address is definitely right: 192.168.1.115 as shown in core.config_entries.

I hesitate to blow away the config to re-register the device in the HomeKit_Controller, in case it might help you find a bigger problem.  But if I'm the only one having the

[2020-08-26 02:49] jay-hankins commented on #30618
I have RGBWW bulbs running ESPHome that exhibit this issue. In the meantime, I’ve created “scenes” using NodeRED flows which set the WW values then the RGB values as separate calls.

[2020-08-26 02:59] IsaacBreuer commented on #39033
Adding mqtt switches sensor etc that don't support discovery

[2020-08-26 04:31] carsten-h commented on #30618
(RGB + WW, color temperature adjustable)
MQTT + Tasmota

[2020-08-26 05:37] Davidfpga commented on #39227
I have the same problem, connecting the Aqara  hub to HA with homekit_controller for attaching 7 child devices (temperature/ humidity sensors, door sensors & motion detection sensors) to lovelace dashboard. in the startup everything is fine but after a couple of minutes or sometimes hours nothing works. i have to restart HA to see the devices again:

- [ ] Error executing service: <ServiceCall lig

[2020-08-26 05:42] marcoach commented on #39005
I’ll try to find it .
Many thanks.

Inviato da iPad

[2020-08-26 05:46] blair287 opened #39270 "Request for https://homegraph.googleapis.com/v1/devices:reportStateAndNotification failed: 403"
## The problem

Set up the service account via the documentation to the T but report state is not working getting this error:

Request for https://homegraph.googleapis.com/v1/devices:reportStateAndNotification failed: 403

Control of devices is working ok also in the homegraph page no data is being sent its blanc even though the api is enabled on the project

![homegraph istructions](https://user-

[2020-08-26 06:29] elupus commented on #39270
Does sync work? Is homegraph enabled? (Se trouble shooting section in docs)

[2020-08-26 06:47] mvandek commented on #39012
I've captured the debug output for 12 hours and filtered it to show the sensor.time, and the two mentioned automations. You can download the log [here](https://www.maartenvandekamp.nl/debug-log-ha.txt), because it's 1372 lines.

Since opening this issue i've updated to the newest Home Assistant version (0.114.3) and Supervisor (235).

[2020-08-26 07:15] waaacko opened #39271 "Spotify integration does not refresh token giving 500 internal server error"
## The problem
When setting up spotify integration I end up with a 500 internal server when trying to authenticate spotify.

The redirect is working and I get to the authorization screen and when Okay is clicked, I get the "500 internal server error server got itself in trouble"

I tried to manually create the entries in core.config.entry by checking the init.py and config_flow.py and used the acc

[2020-08-26 07:16] tomasrollo opened #39272 "LG soundbar: bump version requirement for Temescal library to adopt a recent bugfix"
## The problem
In the LG soundbar integration (https://www.home-assistant.io/integrations/lg_soundbar/) the underlying library (https://github.com/google/python-temescal/) was not covering connection closure from the soundbar side after some time. As a result the following exception would occur in HA logs and the LG soundbar integration would stop working:
[code]

This issue has been fixed in rece

[2020-08-26 07:31] Misiu commented on #39033
- sensor command_line (fixed)
- sensor onewire
- sensor mqtt
- sensor template
- switch rpi_gpio (I had to restart a lot while configuring this)
- binary_sensor rpi_gpio (many restarts when configuring, now occasionally)
- binary_sensor ping
- climate generic_thermostat
- notify telegram
- notify group
- rest_command
- **recorder**
- **logger**

[2020-08-26 07:42] michaelaston commented on #33438
Hi, this still appears to be a live issue.  The problem I am seeing is that if I schedule a switch to turn on at say 7pm it will actually turn on at 8pm due to the UK currently being on GMT+1 for daylight saving.  All other time-based schedules for other components managed by Home Assistant work correctly (i.e. at the expected times).  Thanks.

[2020-08-26 07:50] Jc2k commented on #39227
@rjbartels feel free to send my the logs through a private message on the forums if you want to make sure there is no chance of a private information leak. In practice its probably fine. The most private information that might show up is a serial number, a LAN IP address, etc. The byte arrays are what are sent over the air or LAN by the device and are already as encrypted as they need to be - i ca

[2020-08-26 07:52] frenck commented on #39271
This in general happens when using an incorrect redirect URL.

However, for 0.115, this behavior has been adjusted globally for Home Assistant to be more forgiving/flexible.

[2020-08-26 07:55] frenck commented on #39258
Please share the YAML configuration that causes this. Thanks! 👍

[2020-08-26 07:56] frenck commented on #39255
Hi there @mantaalex!

Thanks for opening up an issue. However, when opening an issue and issue template is presented. Could you please update your above issue description to use that template? Also, please provide as much of the information asked in that template.

Without it, we won't be able to help you.

Thanks already! 👍

[2020-08-26 08:12] marcoach commented on #39005
Hi Paulus,

Looking for the feature i found 2 HUE lights that have the brightness feature set at 255.
Those 2 light are old light and nt new added one.
Beeing HUE Light i don’ ’t know if i can remove and then re-add them.

Any suggestions ?

Thanks a lot.

[2020-08-26 08:24] paskyecijano commented on #38873
Nothing??

[2020-08-26 08:44] akinomeroglu commented on #39272
Hi @tomasrollo,

You can watch the progress from here #38798

[2020-08-26 08:51] alesoft73 commented on #39258
No problem, this is a part of yaml with macro for add a list of mediaplayer.
I use the same Macro for use medyaplayer volume set and tts.google_translate_say script...

This is a script

      - service: media_player.play_media
        data_template:
          entity_id: >
            {% macro mediaplayer() %}
            {%- for item in states['media_player'] if states('input_text.mediaplayer_goo

[2020-08-26 08:59] snkku opened #39273 "/core/blob/dev/homeassistant/components/tfiac/climate.py"
## The problem
/home-assistant/core/blob/dev/homeassistant/components/tfiac/climate.py
need to be modified
line 195
FROM
        await self._client.set_state(OPERATION_MODE)
TO
        await self._client.set_state(ON_MODE, "on")
otherwise we got an error when trying to turn_on climate, "missing value"

## Environment

## Problem-relevant `configuration.yaml`
[code]

## Traceback/Error logs
[code]

[2020-08-26 09:02] waaacko commented on #39271
I've been using the same redirect as stated in spotify developer and verified with the link shown in the address bar, so I get the code needed to get the access and refresh tokens.

As mentioned, I can get the spotify integration running by manually inserting the tokens, but when the token need to be refreshed after an hour, it fails. Is the redirect URL needed when refreshing the access_token?

[2020-08-26 09:11] frenck commented on #39273
Hi there @snkku!

Thanks for opening up an issue. When opening an issue, an issue template is presented. However, it seems like you have removed parts of it. Please update your issue description to have the full template and provide as much of the requested data as possible. Without it, we won't be able to help you.

Furthermore, could you please provide a description of the issue in the issue tit

[2020-08-26 09:40] fredrikbaberg commented on #36899
This is already in the frontend repo (home-assistant/frontend#3065, home-assistant/frontend#5107, home-assistant/frontend#6496), but all those issues are closed.

I consider it is an important (security) issue which should be solved, but have not had time to look at it myself.

[2020-08-26 10:06] guytaylor opened #39276 "Invalid response, unknown argument: NewTotalPacketReceived in UPNP integration"
## The problem

  Upnp integration returns unavailable for my Vigor 2860 router
## Environment

host_os | HassOS 4.12
installation_type | Home Assistant OS
os_name | Linux
os_version | 4.19.127-v7l
python_version | 3.8.3
supervisor | 235
timezone | Australia/Melbourne
version | 0.114.3

## Problem-relevant `configuration.yaml`

[code]

## Traceback/Error logs

[code]

## Additional information

Th

[2020-08-26 10:20] balloob commented on #39005
I don't think it's your Hue lights. When you go to the state dev tool and you filter by `light.`, how many entities do you see? There must be more that have suppported features ?

[2020-08-26 10:31] tom-drake commented on #39207
I will try and give it a shot over the next week or so.

[2020-08-26 10:35] ollo69 commented on #39253
There is a lot of issue with Tuya Component at this moment and probably last update of TuyaHA library introduce this issue in cover management.
Try install [TuyaCustom](https://github.com/ollo69/ha_tuya_custom) in place of the standard Tuya standard component following the readme instruction that could solve this issue and report eventual problem if still present
In future I will report back all t

[2020-08-26 10:50] blair287 commented on #39270
You can see in my screenshot that the API is enabled on my project I've even deleted everything and made a new project same error.

[2020-08-26 11:20] Adminiuga commented on #39236
[code]

The request failed the delivery. Not a problem with zha but with network.
If request bus not sent, the state is not updated.

[2020-08-26 11:20] #39236 closed

[2020-08-26 11:37] Spirituss commented on #29931
Guys, please, clarify - has the problem already solved? Does current Synology integration to Home assistant work with RTSP?

[2020-08-26 11:40] roblandry commented on #34966
Seeing same error wyze cam v2

[2020-08-26 11:44] Spirituss opened #39278 "Synology DSM integration doesn't work from 114"
## The problem

Synology DSM integration stops working from HA 0.114. All previously added sensors become unavailable. I tried to delete and re-add the integration. I could add only after 10-15 attempts. Nevertheless, it doesn't work - I receive "timeout error" in the log.

## Environment

- Home Assistant Core release with the issue: 0.114.3
- Last working Home Assistant Core release (if known):

[2020-08-26 11:47] MacPurschi commented on #37372
Same Question to me!

[2020-08-26 11:59] Kreuger commented on #13462
Hi all. Can we have this issue reopened? I'm having the same problem now. Yesterday I set up a lightstrip and colour 1s bulb. They both worked the first few times I played around with them. Now the lightstrip is having this issue. Everything is up to date and I am able to user the Yeelight app itself to control it just fine. It appears that the issue is with HA.

[2020-08-26 12:05] marcoach commented on #39005
I’ve found it !!!!

It was an old “Tuya light stripe” entity not correctly deleted !

Thanks a lot !

[2020-08-26 12:25] derekatkins opened #39279 "iAquaLink integration goes offline with SSL error"
## The problem

The iAquaLink integration keeps going offline.  The logs show it's complaining about an SSL error.

## Environment

- Home Assistant Core release with the issue: 0.114.3
- Last working Home Assistant Core release (if known): It MAY have been working on 0.114.2
- Operating environment (OS/Container/Supervised/Core): HassOS 4.12 / HA 0.114.3
- Integration causing this issue: iAquaLin

[2020-08-26 12:31] mantaalex commented on #39255
ok i will complete the issue as soon as i find the time ;)

[2020-08-26 12:34] balloob commented on #39005
Perfect!

[2020-08-26 12:34] #39005 closed

[2020-08-26 12:34] thewilliambond commented on #39003
Also, I'm very curious @vangorra.  Is there a way to add an attribute to each entity that is created from withings data, that would include the actual date/time the measurement was taken?  I use a scale, blood pressure monitor and sleep mat at the moment.  I would like to setup some automations to remind me if I didn't weigh-in or check my blood pressure at required intervals.  The problem is you

[2020-08-26 12:44] tomasrollo commented on #39272
Awesome, @akinomeroglu thank you, closing this one then.

[2020-08-26 12:44] #39272 closed

[2020-08-26 12:46] balloob commented on #39012
What was the automation configuration that you used for your log? Is this the time pattern with `/15` ?

I see indeed that your automation triggers twice.

[code]

The first trigger is happening at 20:14:59, that's actually a second too early! And so I think that what happens is that it finishes within a second, and then schedules itself, getting correctly scheduled for the 20:15:00 slot.

I see t

[2020-08-26 12:46] Quentame commented on #39278
Nothing changed on the integration in 0.114.X as I remember.

But other issues I saw leads me to this procedure:
- Remove the integration (if added)
- Restart your NAS
- Add the integration again

[2020-08-26 12:52] bdraco commented on #39012
Can you verify there is only one homeassistant instance being started in the VM/container?

We had some problems a while back with some containers starting two instances and I'd like to rule that out first.

[2020-08-26 13:01] Spirituss commented on #39278
@Quentame

I have already done it. No effect.

[2020-08-26 13:03] balloob commented on #39012
I don't think it's 2 HAs because the automation state changes are intertwining.

Here are some formatted ones with less relevant info removed.

[code]

[2020-08-26 13:14] bdraco commented on #39012
I think we need to reverse the order in

[code]

and get `time.time()` first because time can tick forward a few microseconds between when we check both timestamps which results in scheduling a few microseconds early

[2020-08-26 13:18] balloob commented on #39012
Do you mean like this?
[code]

@mvandek could you try that?

[2020-08-26 13:28] rytilahti commented on #38873
Looks like the brightness value is a sequence instead of int/float. Could you try what the following python-miio command gives as response to brightness?
[code]

[2020-08-26 13:37] tomation7 commented on #38150
I can confirm this workaround works for me. I'm using a Raspberry Pi 3 with a virtual environment

[2020-08-26 13:58] emontnemery commented on #30618
@jay-hankins Please confirm if the RGBWW bulbs are connected to Home Assistant via the MQTT integration or vie the ESPHome integration

[2020-08-26 14:01] jay-hankins commented on #30618
@emontnemery directly via the ESPHome integration.

[2020-08-26 14:05] sidwin9 commented on #39253
Hy ollo69
There is no "Tuya Custom" referenced in HACS.

[2020-08-26 14:07] paskyecijano commented on #38873
nothing response
![image](https://user-images.githubusercontent.com/3083124/91313876-335cb800-e7b6-11ea-9329-1ef5bd43505d.png)

[2020-08-26 14:09] ollo69 commented on #39253
It is not a default repository, you must add it as HACS custom repository. In the component readme ths is explained.

[2020-08-26 14:15] cogneato commented on #39263
When using nabucasa your local connection should be available at http:// and not https://
Do you have an additional remote access configuration?

[2020-08-26 14:19] stlehmann commented on #38150
In the meantime I think I identified the "evil" commit by cherry-picking every single commit since the last working version 🤯. It seems that commit https://github.com/Beckhoff/ADS/commit/8e4e8bb9d656097e7bbe3d19d18cffeb9e0ab37e breaks the notification handling. It replaces threads by async. But honestly I don' t know why this would break the homeassistant component.  AFAIK the notification handlin

[2020-08-26 14:19] Pirol62 commented on #34209
Hi, im using  the forecast sensors of yr.no in order to calculate my garden irrigation. It is important for me, to get the precipitation forecast on a hourly basis or at least for the upcoming day.
If you depricate yr.no, please provide precipitation forecasts on met.no.

[2020-08-26 14:29] geira commented on #34209
Not sure if this comment was directed at me or the HomeAssistant developers. I believe the latter now have implemented the necessary changes to the "MET" so it will completely replace the deprecated "YR" component. If you want to use the met.no API directly, please visit our [developer website](https://developer.yr.no/) which has instructions for those coming from the old YR API.

[2020-08-26 14:31] emontnemery commented on #30618
@Thyself17 You can find the MQTT discovery message from the HA frontend:
Configuruation->Devices-><Your Device>->MQTT Info

It would also be interesting to see the interaction between Home Assistant and Tasmota.

Could you try the following:
- Open scene editor, and configure the scene as you want it (the correct light state for the RGBW bulb)
- Save the scene and apply it (with the wrong state fo

[2020-08-26 14:53] danrspencer commented on #39263
It will be http:// then, I'll be misremembering from when I used to use DuckDNS.

No additional remote access configuration beyond Nabucasa.

My config can be seen here: https://github.com/danrspencer/hass-config/blob/master/configuration.yaml

Rolling back to 0.0.113 does prevent the issue happening.

[2020-08-26 14:53] pbruenn commented on #38150
I have no idea either. As I understand the issue that commit breaks notifications entirely for homeassistant. Is this correct?

Could you point me to the [callback](https://github.com/Beckhoff/ADS/blob/97e2c80870ccde78be1744aedd4d38f0a93a9dc5/AdsLib/AdsNotification.h#L59) function, which is registered by homeassistant and executed in the context of std::async()?

Notification::Notify() is called [

[2020-08-26 15:02] pnbruckner commented on #39012
So looking at those four state changes...

The first is a result of the first call to `AutomationEntity.async_trigger()` from `async_track_time_change` (@ 2020-08-25T19:59:59.999420+02:00) and comes from the automation integration when it updates its `last_triggered` attribute.
The second is a result of the same call, and comes from the script helper updating the `current` attribute.

The third is

[2020-08-26 15:03] FutureTense opened #39285 "Can’t add Schlage lock with ozw.add_node using OpenZWave beta"
## The problem

I’m trying to add a Schlage BE469 lock with { “secure”: true }

The service creates a new node (as seen in ozwadmin) but it is empty.  I’ve tried dozens of various payloads but I always get an incomplete node.

## Environment

I’m using a docker container for everything.

* homeassistant/home-assistant:latest
* qt-openzwave (172.16.68.7800 gives me the ozwadmin interface)

- Home A

[2020-08-26 15:08] Thyself17 commented on #30618
@emontnemery
Here's my discovery message.  Thanks for the assist in finding it:

[code]
I'll post some logs soon.

[2020-08-26 15:17] tiagofreire-pt commented on #37163
Have the same issue on HA 0.114.3.

[2020-08-26 15:21] stlehmann commented on #38150
@pbruenn Funny enough it does not break notifications entirely. One notification works. With multiple notifications it seems a bit of a gamble if a notification can be registered or not. Two notifications sometimes work while three or more notifications most certainly won't work.

The notification are added here:
https://github.com/home-assistant/core/blob/51a63c1fc413670fb776560380c1ad24c3998297/

[2020-08-26 15:27] Thyself17 commented on #30618
Here's a log for creating a new scene, setting the scene up, saving, setting color to a new (non-white) color, and then applying the scene.

I'll note that the "recessedbulb4" that I posted the MQTT discovery for above is part of a greater light group, so you may see multiple messages sent out when one is changed.

[home-assistant_mqtttasmota.log](https://github.com/home-assistant/core/files/51307

[2020-08-26 15:31] sidwin9 commented on #39253
Hy ollo69,
The problem seems solved with Tuya Custom, the enumerated states have changed, opening instead of open and closing instead of closed. When will the modification update be done in Tuya Standard ?
Thank you for your assistance.

[2020-08-26 15:45] pbruenn commented on #38150
@stlehmann thanks for the links unfortunately I am not to familiar with python. At some point you have a C function which you pass to the C AdsLib don't you? Or do you pass direct pointers to your python functions? How do these python functions work? do they copy the notification object into some kind of queue, where they are processed in context of another thread, or are they completely process w

[2020-08-26 15:47] onkelbeh commented on #36039
Just browsed by, again, still the same with `0.114.3`

[2020-08-26 15:56] Thyself17 commented on #30618
Ooh I have an update
I changed the RGBWWTable to be 255,255,255,255,0 (Basically, set the bulb to only use 4 channels) and rediscovered all the devices.
When I created a new scene, all the bulbs seem to hold the white color of the scene correctly.

I can mark this as resolved for my 4 channel use.

[2020-08-26 16:00] pbruenn commented on #38150
Maybe my C++ isn't better. Reading the reference of std:async() creates a bad feeling, that maybe we always call the callback synchronously. I have to check that tomorrow, to be sure.

[2020-08-26 16:03] #32180 closed

[2020-08-26 16:03] #36342 closed

[2020-08-26 16:03] #37137 closed

[2020-08-26 16:03] #26624 closed

[2020-08-26 16:03] #30419 closed

[2020-08-26 16:07] sidwin9 commented on #39253
Hy ollo69,

The change from closing to closed and from opening to open is quite long.

[2020-08-26 16:16] bagobones commented on #29931
Unless I missed something they still play a 2 second delayed slide shows, not streams..

[2020-08-26 16:22] ollo69 commented on #39253
Unfortunately I cannot improve this, because is related to the problem that afflict HA Dedicated Tuya Cloud from some months.
Update on Tuya standard will take time, because also require update on TuyaHA library that is not managed by me. I already post a PR but still not take in change by the code owner.
For the moment stay with Tuya Custom

[2020-08-26 16:31] Pirol62 commented on #34209
The request was more directed to the HA/ MET.NO Integration developers :-)

[2020-08-26 16:40] gijbelsy commented on #38150
I'm running hass.os in Hyper-V environment, and the issue occurs.
As I understand from @tomation7 the same issue occurs on RPI3 Virtual Env.
Haven't tested it on RPI4 with Hassbian and Docker.

[2020-08-26 16:51] joshtbernstein commented on #29931
It looks like the python library was updated, but nothing on the HA side of things. :-(

[2020-08-26 16:52] joshtbernstein commented on #39207
@tom-drake Let me know if you need help testing anything.

[2020-08-26 16:55] pergolafabio commented on #29931
Also, with Synology integration, it's not possible to use stream: in HA ...
So I use the provided rtsp streams, and the generic HA camera component

[2020-08-26 16:57] CASATAJO commented on #37372
is it possible tocreate a backup of deCONZ 5.3.2 and use it in another build? if so I can provide the backup for 5.3.2

[2020-08-26 17:01] joshtbernstein commented on #29931
@Quentame Do you know if there are any plans to update the HA component to take advantage of https://github.com/ProtoThis/python-synology/pull/57?

[2020-08-26 17:11] korsarnsk opened #39290 "Cannot send push notification to mobile phone (required key not provided @ data['message'])"
## The problem
I have push notifications working before but are not working now.
The error I get, while trying to send the notification "required key not provided @ data['message']"

## Environment
arch | armv7l
-- | --
chassis |  
dev | false
docker | true
docker_version | 19.03.12
hassio | true
host_os | Raspbian GNU/Linux 10 (buster)
installation_type | Home Assistant Supervised
os_name | Linux

[2020-08-26 17:41] emontnemery commented on #30618
@Thyself17 In the discovery message you pasted here https://github.com/home-assistant/core/issues/30618#issuecomment-680940016, the light is actually announced as an RGBWW light, not an RGBW light. After you changed the configuration and scenes started working, did the discovery message change?

[2020-08-26 17:52] ministryofsillywalks commented on #39200
Ok so one more time for the beginner:
do I just copy the zha folder from git into the custom_components folder, change the manifest and be done? It can't be that simple can it? ;)

[2020-08-26 17:54] StevenLooman commented on #28206
@vindicatorr While your router is rebooting it might not be able to reply to the regular requests home assistant sends (once per 30 seconds, by default.) If a connection cannot be established for the request, you might see an error yes.

If you think this is important, then feel free to open a new issue for this. The error can be 'caught' and replaced by a friendly message.

[2020-08-26 17:55] StevenLooman commented on #39276
Can you enable some logging for the `upnp` component? You can do this by adding this to your `configuration.yaml`:
[code]

[2020-08-26 18:02] Thyself17 commented on #30618
My discovery message looks exactly the same (still showing color temperature, etc)
I would consider my case as noise right now.  I'll revert my configuration and see if I can replicate the problem again before reporting back

[2020-08-26 18:08] rytilahti commented on #38873
Um, you have to run that without `python` in front of it (after installing the package) :) the simplest way is (assuming you have poetry already installed in your environment):
[code]
You can also give `-d` to miiocli (before the `philipsbulb`) to get some more debug output, including the raw requests and responses.

[2020-08-26 18:15] DanielWinks commented on #34601
My GE dimmer switches also do not transition. They report supported features 41, which I believe is transition + flash + brightness. Only brightness works.

I have also been unable to get these dimmers (model 14294) to transition with any Z-wave software. Neither the native component, nor Zwave2MQTT, nor qt-OpenZwave properly transition.

Sample service call, which results in light immediately goi

[2020-08-26 18:38] vindicatorr opened #39293 "UPNP/IGD Fails To ReEstablish A Connection When Device Is Power Cycled."
## The problem

When I'm forced to power cycle my device (modem/router), hass loses the connection and fails to reestablish it when the device comes back up.

## Environment

- Home Assistant Core release with the issue: 0.112.2
- Last working Home Assistant Core release (if known): N/A
- Operating environment (OS/Container/Supervised/Core): Arch Linux
- Integration causing this issue: UPNP
- Link

[2020-08-26 18:40] nick2525 opened #39294 "Please, support ylai002, Yeelight Smart Wireless 2 Channel Control Relay"
It is two channel WIFI Relay, it is not recognized in HA in Yeelight component

[2020-08-26 18:59] frenck commented on #39294
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2020-08-26 18:59] #39294 closed

[2020-08-26 19:22] broyuken commented on #34601
What I had to do with my Sengled bulbs was a 2 step process.
 1. Turn on light to 1% brightness
2. Transition to 100% over say 60 seconds

This doesn’t work with the GE dimmer via

[2020-08-26 19:41] pergolafabio opened #39297 "Risco Alarm : Keypad shown, even if code arm/disarm = false"
## The problem
The lovelace alarm panel is showing a keypad when both options code arm required & code disarm required are false (not checked in config flow) , it should be hidden...

## Environment

- Home Assistant Core release with the issue: 114.3
- Last working Home Assistant Core release (if known): None
- Operating environment (OS/Container/Supervised/Core): HassOS
- Integration causing thi

[2020-08-26 19:50] DanielWinks commented on #34601
What does work with Zwave2MQTT is also a 2 step process:

1. Set "Dimming Duration" (topic zwave2mqtt/<nodeID>/38/1/5/set) to desired duration, in seconds.
2. Issue brightness desired via Home Assistant or zwave2mqtt/<nodeID>/38/1/0/set

The issue with this is that "Dimming Duration" is 'sticky', so you need to set it back to 0 (or above 15240) otherwise ALL future brightness state changes will al

[2020-08-26 19:57] LavermanJJ opened #39298 "KNX integration stops working after some minutes"
## The problem

When starting with HA, setup went fine. Different KNX entities can be controlled and status is updated when changes come from KNX. However, after some time (< 15-20 min), the two log messages below occur and the integration is broken: Changing the state in HA has no effect on KNX and vice versa.

## Environment

- Home Assistant Core release with the issue: 0.114.3
- Last working H

[2020-08-26 20:11] jwmaas commented on #20835
My Rova sensor does not work anymore. The data returned is "unknown" for all 'monitored conditions'. Are others experiencing the same issue? Manual entry in the website gives me the right data. What can I do to fix it for Home Assistant?

[2020-08-26 20:13] Shaman2 commented on #39253
May you can fork TuyaHA library special for tuya custom?

[2020-08-26 20:18] DevSecNinja opened #39300 "Ziggo Connectbox Device Tracker stopped working"
## The problem

The `upc_connect` integration stopped working with my Ziggo Connectbox. The device_tracker entities only report the `not_home` status. I have changed the log settings to `homeassistant.components.upc_connect: debug`, but unfortunately I only see a single log entry in the Home Assistant log. In my Ziggo Connectbox logs, I see several unsuccessful log-in attempts.

I have double chec

[2020-08-26 20:23] Zoritto commented on #37306
Leave all fields blank and just click SUBMIT!
enjoy)

[2020-08-26 20:25] Leeharg commented on #35875
Thanks for your hard work.

i can't seem to find anything about the update on the blog? i have one rm3_mini working perfectly but the new one doesn't work and says "Failed to learn 'Turn on': The device storage is full"

[2020-08-26 20:34] SamJongenelen commented on #23045
Yes, I thought it was just me. Indeed it again stopped working

[2020-08-26 20:34] ollo69 commented on #39253
Basically tuya_custom contain inside a fork of TuyaHa. But to have it working inside HA default component, is required the original library as PyPi library. It's more logical to wait for a merge of the PR and not create a new one.

[2020-08-26 20:36] mvandek commented on #39012
Immediately after version 0.114.4 became available, I installed this version. Then I rebooted the virtual machine, but the issue still exists.

I've read some of your suggestions to what I could do or check on my installation. Since I'm running HassOS 4.12, I'm not sure how to check if there are two instances of HA running at the same time. I'm running this VM on a fully updated VMware ESXi 7.0b i

[2020-08-26 20:47] felipediel commented on #35875
@Leeharg You need to specify the correct device type. It is probably `rm_mini3_newblackbean`. If it doesn't work you can try `rm_mini`. This will no longer be necessary after [this update](https://github.com/home-assistant/core/pull/36914), which is already merged into the dev branch. I think that in a week or two it will be available. You can track the [master branch](https://github.com/home-assi

[2020-08-26 20:56] bdraco commented on #39012
This can still fire early since `hass.loop.time()` will always give us a time in the past.  That really shouldn't be a problem since we account for this by doing `calculate_next(now + timedelta(seconds=1))` when we fire `pattern_time_change_listener`.

`find_next_time_expression_time` is dropped the microseconds though... I wonder if that is enough to cause us not to move forward to the next time.

[2020-08-26 20:59] bdraco commented on #39012
Let's assume we have a time pattern listener that matches at `03:00:00` and fire the automation at

02:59:59.999999

We add 1 second to that so we end up with

03:00:00.999999

`find_next_time_expression_time` drops us to exactly

`03:00:00`

If `find_next_time_expression_time` returns `03:00:00` then there is our issue

[2020-08-26 20:59] dshokouhi commented on #39290
Seems to be a spacing issue (possibly, I count 3 spaces before `message`) try:

[code]

[2020-08-26 21:01] pnbruckner commented on #39012
Also, does Python guarantee in an expression like this:
[code]
the order that the terms will be evaluated? It might be better to do what was suggested above:
[code]

[2020-08-26 21:06] bdraco commented on #39012
That is a good question.  It does appear to evaluate left to right as long as the operators have the same precedence.

[code]

[code]

[2020-08-26 21:06] r3tr0sp3c commented on #23045
I've recently replaced my outdated tplink router (flashed openwrt) with ubiquiti amplifi and so far i havent experienced any issue with my tplink switch and light bulb.

It may be related with an overloaded router? Mine was having troubles supporting 20+ devices connected at the same time. Maybe that affected the connectivity of some?

[2020-08-26 21:10] pnbruckner commented on #39012
Hmm, I wasn't aware, but I guess it does guarantee:

https://docs.python.org/3/reference/expressions.html#evaluation-order

[2020-08-26 21:23] pnbruckner commented on #39012
I wonder, would it be better to use:
[code]

[2020-08-26 21:25] bdraco commented on #39012
Back to https://github.com/home-assistant/core/issues/39012#issuecomment-681120841

Assumptions:

We still fire early since `hass.loop.time()` is always in the past since it take more than 1 microsecond to fetch it

We add time delta of 1 second in the future to make sure we don't hit the same timestamp.  Since we fired a few microseconds early, that isn't enough to get us to the next time express

[2020-08-26 21:39] bdraco commented on #39012
@mvandek Can you try this change?

[code]

[2020-08-26 22:20] daaustintx commented on #37182
@teharris1 Thank you for the feedback. Your reply summarized an overall issue with insteon hubs that i kept experiencing since integrating into HASS.

**As a test**
I purchased an Insteon USB interface and connected it to my VM that's running HASS. Since transitioning to the USB interface, i've not had any disconnection issues. Also, a lot of small issues disappeared such as device responsive time

[2020-08-26 22:23] daaustintx commented on #38362
Recently, I transitioned to the Insteon USB stick interface and no longer experience this issue. Therefore, I can not test the outcome of your code change if any.

P.S, transitioning away from the HUB to USB interface fixed ALOT of issues for anyone else experiencing odd behavior.

[2020-08-26 22:44] bdraco commented on #39012
Another solution that might be more human readable would be:

[code]

This means the automation always fires at

03:00:00.xxxxxx

instead of

02:59:59.xxxxxx

Unfortunately all of our tests would probably fail if we changed that.

[2020-08-26 22:47] Adminiuga commented on #39200
sometimes it can. you should end up with `/config/custom_components/zha/` and then stop and start HA. Although on Supervised a restart might work

[2020-08-26 22:50] Operation760 commented on #39116
I am having this issue as well on 0.114.3. However, my log show Rachio as the offender. I do not have any iHome devices:

2020-08-26 15:03:24 ERROR (zeroconf-ServiceBrowser__hass-ios._tcp.local.-_axis-video._tcp.local.-_hass-mobile-app._tcp.local.-_nanoleafapi._tcp.local.-_miio._udp.local.-_lg-smart-device._tcp.local.-_Volumio._tcp.local.-_printer._tcp.local.-_lutron._tcp.local.-_fbx-api._tcp.loca

[2020-08-26 23:23] vincentto13 commented on #38604
@theaquarium, Thanks for your comment. I was having very same issue. Happen when I moved Tradfri GW to another VLAN configured on same hass.io machine, removing from core.config_entries saved my day ;) (after few hours of trying to figure it out on my own ;) )

[2020-08-26 23:59] rjbartels commented on #39227
Yes, that is correct – not working at all through Homekit.  I’m currently using the MyQ integration as it’s working… for the time being.

I’ve sent the log to you as a PM on the HA Community forums.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Jc2k<mailto:notifications@github.com>
Sent: Wednesday, August 26, 2020 3:50 AM
To: home-assistant/core<mailto:core@

[2020-08-27 00:17] pzuccar commented on #26837
I have the same issue with a heater from another brand

[2020-08-27 00:20] pzuccar commented on #25652
I think this issue is related to this one #26837

[2020-08-27 00:41] jef-pearlman commented on #33142
This just happened to me again in 0.114.3 --> 0.114.4.  Supervisor knows the update is out, but the updater sensor does not.  (I can post screenshots but they'll look the same as mine above with different version numbers).  Reading back in this issue, some people suggest there is a known delay between the two.  If so, that should likely be documented on the [updater senor documentation](https://ww

[2020-08-27 00:41] bdraco commented on #39012
Well both of them passed the CI so it seems we don't have anything checking microseconds.

[2020-08-27 00:42] bdraco commented on #39012
@mvandek https://github.com/home-assistant/core/pull/39302 is a more human friendly fix. Could you try that one instead?

[2020-08-27 00:42] bdraco commented on #39012
I'm going to run https://github.com/home-assistant/core/pull/39302 overnight on my primary instance

[2020-08-27 00:46] bdraco commented on #39012
[code]

Test automation to verify

[2020-08-27 01:01] broyuken commented on #34601
How would you do this using auto discovery? What do you do to send the 5 topic?

[2020-08-27 01:10] zen2 commented on #39278
It's working perfectly here on my home-assistant.

[2020-08-27 01:13] bdraco commented on #39012
I think https://github.com/home-assistant/core/pull/39302 is probably the better solution as its probably a mistake to aim for perfect precision as its not possible here.

[2020-08-27 01:20] zen2 commented on #39278
May be take a look on your DSM if you don't have your home-assistant IP blocked for bad attempts:
Control Panel > Account > Allow/Block List

If it's the case, you can whitelist home-assistant IP.

[2020-08-27 01:44] DanielWinks commented on #34601
To do it with auto-discovery in Zwave2MQTT, you'd create a custom discovery entry, as described in the official docs for it, [here](https://github.com/OpenZWave/Zwave2Mqtt#components-management).

The 5 topic is just 'seconds', so 60, 300, etc, for however long you want every transition to take. As far as I know, it's applied to every brightness change, so if you set it to 60 and want to increase

[2020-08-27 01:54] joogps commented on #34894
made a quick pr to address some of the issues and _try_ to fix the state situation #39303

it still needs to be merged though 😕
but voluntary approvals should make the process quicker

[2020-08-27 02:11] GaryOkie opened #39304 "Network UPS Tools (NUT) 2.1 - missing symbols in upsdrvctl"
## The problem

NUT add-on version 2.1 fails to start - missing 64bit symbols in upsdrvctl.

## Environment

- Home Assistant Core release with the issue:
HASS .144.3

- Last working Home Assistant Core release (if known):
- Operating environment (OS/Container/Supervised/Core):
RPI4 - 32bit HassOS 4.12

- Integration causing this issue:
NUT 2.1
(NUT 2.0 did not have this issue)

- Link to integrat

[2020-08-27 04:51] pergolafabio commented on #39297
Some extra info

https://github.com/home-assistant/frontend/pull/2379

[2020-08-27 04:59] elupus commented on #39270
I meant run the request sync service from ha.

[2020-08-27 05:10] thewellington commented on #38544
Experiencing same issue.   Strangely if I hit https://tidesandcurrents.noaa.gov/api/datagetter?begin_date=20200826+20%3A48&end_date=20200828+20%3A48&station=9447130&product=predictions&datum=MLLW&interval=hilo&units=english&time_zone=lst_ldt&application=py_noaa&format=json from my computer I get nice JSON.   If I curl it from pi running home assistant I get

[code]

[2020-08-27 05:34] OnFreund commented on #39297
This isn't a bug, but rather the intended behavior. The system should not force a non-privileged UI to expose whether a pin code is required (the options flow exposes it, but it's an admin UI).
An potential alternative could be to add configuration to the UI, and allow the admin to decide to hide the keypad, but that's not for me to decide.

[2020-08-27 05:35] OnFreund commented on #39297
As for Discord, I'm `@on`

[2020-08-27 05:51] pergolafabio commented on #39297
Ah , strange, cause a week ago, when I tested your first integration, it didn't display the code keypad... Also the mqtt version isn't showing it :)

[2020-08-27 05:56] OnFreund commented on #39297
That version was a temp version that didn't support codes at all, so no information was leaked by not showing the keypad.
The MQTT version needs to support different types of alarms, including some where the pin code is text rather than numbers, so is not really a comparison.
I quickly glanced through the other alarm integrations (excluding the generic ones like mqtt, template, etc...), and couldn

[2020-08-27 06:06] pergolafabio commented on #39297
Ok, no problem, if it bothers me, then I can still use the template alarm... I don't see those pending times anyway...

It was just strange to me, never saw the keypad before, always thought that the code_required functions should hide the keypad, if no codes were used... Cause I can now arm/disarm the alarm, without entering anything on the keypad

[2020-08-27 06:08] mvandek commented on #39012
@bdraco I have added your test automation to verify but I need your help to apply the [diff](https://github.com/bdraco/home-assistant/commit/2e01965fd313940692b290b5a9a742c7b67fc25f) you ask me to try.

I can access the server with SSH through the Terminal and SSH add-on installed through the Supervisor. Which commands do I need to enter into the cli to apply the diff?

It is also possible to crea

[2020-08-27 06:32] jonwaland commented on #38914
Is https://github.com/home-assistant/core/pull/38949 assumed to stop the error? As it doens't appear to:

[code]

[code]

[2020-08-27 06:38] stlehmann commented on #38150
My feeling is that this would fit in the described behaviour. Would be great if you could check this 👍. In the meantime I will provide some Wireshark snippets and gather more detailed information on the actual behaviour.

[2020-08-27 06:48] OnFreund commented on #39297
@pergolafabio Initially you wanted pin code support. Why aren't you using it? :)

Anyway, this issue can be closed. Let's continue the discussion on Discord.

[2020-08-27 06:52] pergolafabio commented on #39297
yeah, indeed i wanted it, but only for diarming ...
to arm, there is no need to enter a pin :-)

[2020-08-27 06:52] #39297 closed

[2020-08-27 06:55] OnFreund commented on #39297
Well, if you're using the pin to disarm, you definitely need the keypad in the UI then...

[2020-08-27 06:56] Robert-NTNX commented on #20835
Still working here. As an alternative, try "afvalbeheer" in the HACS repository, it also supports ROVA

[2020-08-27 06:58] guytaylor commented on #39276
Hi Steven,

heres some more logs:

https://www.dropbox.com/s/jkidp6zg9g1jhu0/upnp%20log.txt?dl=1

[2020-08-27 07:00] farmio commented on #39298
Hi! 👋
This is a bug that was introduced to routing connections with the fix for tunneling connections you mentioned above. It should be resolved with xknx 0.12.0 coming with HA 0.115.
Please let us know if the issue persists then.

[2020-08-27 07:15] Techwolf12 opened #39308 "Smart Life / Tuya account doesn't work in Homeassistant"
#26929 has all the details but was prematurely closed. Even with the latest version it is still an issue.

[2020-08-27 07:27] asystentka-jolka opened #39309 "sun position_update can use 100% of CPU"
## The problem
I noticed that the HA app is slow. Try to check via htop what is going on and I noticed that home assistant is using 100% of cpu. The was notihing in the logs. I was able to change the logs level to debug and I was able to see that the ``sun position_update`` is guilty of the CPU usage.

## Environment
Home Assistant Core on ARM

- Home Assistant Core release with the issue: 0.113.3

[2020-08-27 07:40] springstan commented on #39252
Hey guys, I have looked over this issue and decided to implement the missing option.
Unfortunately, I do not own a bbox router myself, so could you please test this addtion @schmurtzm?
Thanks a lot ✌

[2020-08-27 07:41] Luke15153 commented on #33142
The sensor/component updates once per day. You have to wait.
https://github.com/home-assistant/core/blob/e4d29bf3ec39cddd54a7f30a6c16879f73a2cf2c/homeassistant/components/updater/__init__.py#L107

[2020-08-27 07:44] springstan commented on #39308
Please fill out the issue template, you can find it by clicking on `New Issue` and then selecting `Report a bug with Home Assistant`. Copy and paste the provided template into this already created issue, click preview to take a look at the empty template and then fill out as much as you can. Any additional information can be helpful!

Thanks for understanding :)

[2020-08-27 07:46] Techwolf12 commented on #39308
@springstan Could you reopen the original issue and close this one? The original one has a filled-out issue template.

[2020-08-27 07:47] tomlut commented on #33142
Use this if you want more frequent updates:

Sensors:
[code]
Automation:
[code]

[2020-08-27 07:47] springstan commented on #39308
Sure thing!

[2020-08-27 07:47] #39308 closed

[2020-08-27 07:48] springstan commented on #26929
Reopening this issue since it has not been solved yet.

[2020-08-27 07:55] Jc2k commented on #39227
Ok I have the logs. And it is managing to verify with your MyQ, but then it loses the connection and theres nothing in the logs to explain why. Good news is it concretely rules out a zeroconf problem where an ip or port were wrong. And it concretely rules out some sort of crash on the MyQ side where the HomeKit service is just not running at all. It looks like it never actually tries to send *anyt

[2020-08-27 07:58] frenck commented on #39304
That is an add-on issue/log. Please report add-on issues with the issue tracker for the add-on. This issue tracker is for tracking issues with Home Assistant Core itself.

Thanks 👍

[2020-08-27 07:58] #39304 closed

[2020-08-27 08:01] SalkinDK commented on #37955
@bdraco @jschonenberg
any news?

[2020-08-27 08:09] springstan commented on #39087
Could you please describe your issue in more detail? So far I have trouble understanding what the exact issue is.
Thanks a lot :)

[2020-08-27 08:16] antoweb commented on #39087
Hello,
If I create a group in groups yank including sensor.battery or sensor.iphone_battery these sensor is not visible in Lovelace. If I remove these sensors from group, sensors appears in top of Lovelace close the other sensors not grouped

[2020-08-27 08:16] jwmaas commented on #20835
Installed "afvalbeheer" using Rova. But the sensor also return "unknown". When I input my zip and house number manually it returns valid data. Could it be that I have been locked out on the HA machine or something like that for excessive calls to the API?

[2020-08-27 08:23] springstan commented on #39087
Thanks for clarifying, what you describe seems odd. Can you manually add these sensors back to lovelace?

[2020-08-27 08:29] springstan commented on #39072
As far as I can tell the only thing wrong here is the documentation, because it does not display the correct default values for the `payload_on` or `payload_off`. Therefore, this should be corrected to follow the implemented constants which are entirely in upper case letters.

You are correct that `==` is case sensitive in python, however I would disagree that this should be the case since only th

[2020-08-27 08:39] Robert-NTNX commented on #20835
Have you tried a different zipcode.? On my end it's still working and Rova sensors are being updated. using Pihole by any chance and blocking traffic ?
I don't think the number of API calls are the reason unless you manually changed the polling interval

[2020-08-27 08:48] Fannangir opened #39311 "Error Updating Home Assistant Core from 0.114.3 to 0.114.4"
Hi,

Trying to update, but see the following error:

![image](https://user-images.githubusercontent.com/30548574/91418676-234ae400-e85b-11ea-9c39-0b766378b1a3.png)

The log shows the following:

![image](https://user-images.githubusercontent.com/30548574/91418741-3bbafe80-e85b-11ea-8bb3-3391d7fac2e2.png)

Is there anything else I can check to understand what would be the issue?

Thanks.

[2020-08-27 08:51] jwmaas commented on #20835
A different zipcode, close by, gives the same errors. The log says:

Traceback (most recent call last):
  File "/config/custom_components/afvalbeheer/sensor.py", line 425, in async_update
    await self.collector.update()
  File "/config/custom_components/afvalbeheer/sensor.py", line 1191, in update
    if not item['Date']:
TypeError: string indices must be integers

[2020-08-27 08:53] asystentka-jolka commented on #39309
we are able to reproduce this, steps:
1. start HA without network / without correct time
2. add network connection
3. wait couple of hours, up to one day
the sun will use 100% of cpu and the time in sun position_update will be wrong (for example 2015-01-04 )

[2020-08-27 08:54] antoweb commented on #39087
Hello,
I'll try to be clearer. The sensor is called sensor.battery_level and is present on lovelace at the top.
![sensore_sopra](https://user-images.githubusercontent.com/32364871/91419368-9f412e00-e853-11ea-91f6-293bf8d8cd77.PNG)

 if I insert it in a group as per the attached image,
![groups](https://user-images.githubusercontent.com/32364871/91419402-a700d280-e853-11ea-8a36-92c3596f434e.png)

t

[2020-08-27 08:55] antoweb commented on #39087
Same issue with iphone battery sensor

[2020-08-27 09:03] stlehmann commented on #38150
I set up a minimal configuration with the following configuration.yml:

[code]
So basically this is a switch and a binary sensor. The plc runs a very simple program that set GVL.b2 = GVL.b1. So if GVL.b1 is changed by toggling the switch GVL.b2 gets toggled as well and the binary sensor should reflect that. I captured the communication for both versions of adslib. They are basically identical. Fin

[2020-08-27 09:11] stlehmann commented on #38150
My guess that it has something to do with the order of the packets. Randomly I get the following dump:

![grafik](https://user-images.githubusercontent.com/4641542/91420947-9b161000-e855-11ea-90a9-ef087e7f1e19.png)

Log:
[code]

Here the request for the handle works fine (response packet comes directly after request packet) but the notification request times out. Note that there is a "ADS Device N

[2020-08-27 09:33] alexanderznamensky commented on #38582
Hi dears!

I've the same issue with Xiaomi MIio integration. After updating core version higher than 0.112.4 it is not working.
In the same time, I've no issues with integration of Xiaomi Aqara Gateway.

![Screenshot 2020-08-03 18 09 39](https://user-images.githubusercontent.com/65254375/91417042-e0880c80-e858-11ea-88c8-dc6399546cf4.png)
![Screenshot 2020-08-03 19 32 59](https://user-images.github

[2020-08-27 09:40] stlehmann commented on #38150
So in conclusion: It seems works if all packets (request and response) come in order but breaks if there are other packets in between request and response (like device notification requests from the plc).

[2020-08-27 10:20] rmertz3282 commented on #39279
I;m getting the same errors.

[2020-08-27 10:25] korsarnsk commented on #39290
Shouldn't be a spacing issue, the code worked before. I have many notifications code snippets, no one working now :(
And I didn't do changes there.

[2020-08-27 10:31] msekoranja opened #39313 "binary_sensor unavailable status not immediate when delay_off is specified"
## The problem

I have a binary_sensor definition with availability_template and delay_off.
When HA is restarted the sensor shows "Off" state even availability_template reports False from the beginning.
"Off" state turns into "unavailable" after delay_off period, but should be immediate.

## Environment

- Home Assistant Core release with the issue: Home Assistant 0.114.2
- Last working Home Assis

[2020-08-27 10:58] ministryofsillywalks commented on #39200
ok I did just that.
Stopped the container and restarted.
Loaded up fine but Zigbee isn't working

Looking at the entities already in existance:

[2020-08-27 11:03] pbruenn commented on #38150
@stlehmann Yes That [std:async()](https://github.com/Beckhoff/ADS/blob/97e2c80870ccde78be1744aedd4d38f0a93a9dc5/AdsLib/NotificationDispatcher.cpp#L58) is just stupid and effectively the same as a simple call to `run()` (with the overhead of thread switching...)
In general this should be a problem if the callback function is fast enough, but I expect the homeassistant callback runs for too long. I

[2020-08-27 11:18] joaopms commented on #37242
Would the suggested fix be the most appropriate?

[2020-08-27 11:18] PM04290 opened #39314 "Error fetching accuweather data: The allowed number of requests has been exceeded"
## The problem
Error fetching accuweather data: The allowed number of requests has been exceeded

45 calls at 10:00 and 50 calls at 11:00

Forecast checkbox was ON

## Environment
Last HASS release on RPi4

graphic of my api key on accuweather website

![image](https://user-images.githubusercontent.com/65124804/91436051-a2deb000-e867-11ea-9c20-086952bdd65a.png)

[2020-08-27 11:20] dgomes commented on #37242
think so, when don't you go ahead and open the PR :) ?

[2020-08-27 11:30] ivanovd opened #39315 "[0.114.4] Automation actions (call_service automation domain) not available in UI"
## The problem
I am on 0.114.4 and noticed that I can no longer call services related to the automation domain (e.g. automation.turn_on, automation.trigger and etc.) in the automations.
The issue is with the UI. If configured in the YAML, then it works. Existing automations that call the automations domain services also are displayed correctly. Only newly added automations seem to be affected.

##

[2020-08-27 11:51] #35345 closed

[2020-08-27 11:51] #34894 closed

[2020-08-27 11:51] #34934 closed

[2020-08-27 11:51] #35468 closed

[2020-08-27 11:56] Robert-NTNX commented on #20835
seems date is not formatted correctly but don't know for sure but I'm not an expert unfortunately.

[2020-08-27 12:08] stlehmann commented on #38150
@pbruenn Thanks for looking into this. I'm tempted to just revert the commit that replaces threads by async. Do you think this could work or are there further dependencies I didn't take into account?

[2020-08-27 12:16] pbruenn commented on #38150
A revert will have merge conflicts. I am currently working on a fix (doing the revert). Another idea was to store the futures in std::vector. That would be easier, should work, but is pretty unefficient

[2020-08-27 12:18] glmnet commented on #39072
So payload off is metaphoric then, since anything that is not case sensitive equal to payload_on would yield a false result.

What about a warning logged if payload doesn't match any expected value?

[2020-08-27 12:34] jjbrunton commented on #26186
Just constant throughout the day:

`2020-08-27 04:48:49 ERROR (SyncWorker_14) [homeassistant.components.yeelight] Unable to update device 192.168.1.8, Living Room B: A socket error occurred when sending the command.
2020-08-27 04:48:49 ERROR (SyncWorker_14) [homeassistant.components.yeelight] Unable to update device 192.168.1.14, Hall A: A socket error occurred when sending the command.
2020-08-27

[2020-08-27 12:39] pnbruckner commented on #39012
FWIW, whatever you do to fix this, I think it's very important that the action should not be called any earlier than the requested time. A little late is ok, but early is bad (e.g., because of assumptions automation actions are likely to make about what the current time is, etc.)

[2020-08-27 12:50] Adminiuga commented on #39200
manifest.json was wrongly formatted `... Parse error at "'=0.22.0'": Expected stringEnd`

[2020-08-27 12:52] bdraco commented on #39012
Thanks. Good idea. Switching to call_later seems safer since the time will continue to tick forward and we should always end up calling microseconds late instead of early... unless call_later has to fetch loop time under the hood, then we probably still need to add the safety time

[2020-08-27 12:57] Adminiuga commented on #39200
ah, and `git+https://github.com/zigpy/bellows@multiversion#bellows==0.22.0` should be in quotes with `,` after
[code]

[2020-08-27 12:57] stlehmann commented on #38150
Thanks, I just found out the hard way ;). So I'm looking forward for your fix. Sadly I'm not familiar with async programming in C++ so I can not provide any significant help. But if you need some testing or other help please let me know.

[2020-08-27 13:05] pbruenn commented on #38150
Could you try to `git apply``this patch and see if it helps:
[0001-AdsLib-repair-async-notifications.txt](https://github.com/home-assistant/core/files/5136468/0001-AdsLib-repair-async-notifications.txt)

Effectively it is just a revert of that bad commit, but I change some semaphore function names (to match C++20). I will try to make the patch a little nicer before release. But first lets see if i

[2020-08-27 13:12] pnbruckner commented on #39012
Well, of course, it does. The point is, it will fetch it _later_, so it will add the pre-calculated delay (based on the difference between the requested time and `time.time()`) to a _later_ loop time, so the `when` value it calculates will be _later_, and it will then call the action _later_.

Just like we discussed when trying to fix the mock version, the ultimate problem is the use of two differ

[2020-08-27 13:18] stlehmann commented on #38150
@pbruenn Looks great. I tried it with multiple configurations and it seems to work just fine.

[2020-08-27 13:27] bdraco commented on #39012
in asyncio, call_later is also a wrapper around call_at

[code]

[2020-08-27 13:28] rjenx opened #39319 "BMW Connected Execution Status Error"
## The problem
  Installed BMW Connected Drive, when attempting to lock or unlock my car an error is shown. the doors lock and unlock using a simple button in UI, but my automation will not work, which is dependent upon a change in state. Not figured out if this error is contributing to the issue with my automation.

This error was first reported in #34776 but no resolution was found at the time.

[2020-08-27 13:29] bdraco commented on #39012
👍

I think it is probably ok to not honor factional seconds for the time pattern listeners.  I'm sure someone will want to have something fire every 0.1 seconds, but its not something we can do reliably so I don't think we should pretend otherwise.

Definitely seems like it.  I think this is a more elegant solution to this problem.

[2020-08-27 13:37] pbruenn commented on #38150
@stlehmann good to hear. Attached you find my final version. I will run it threw our CI and merge it tomorrow. Would be cool if you have the time to take a look on it to:
[0001-AdsLib-repair-async-notifications-v2.txt](https://github.com/home-assistant/core/files/5136682/0001-AdsLib-repair-async-notifications-v2.txt)
This time I tried to keep the semaphore more aligned with what we might get with

[2020-08-27 13:39] bdraco commented on #39012
I gave the `aiohttp` option a shot, but since we end up calling everything too late in the future now the tests fail.  I think the `aiohttp` case it trying to avoid timing out too early so its ok if its a little too late.

[2020-08-27 13:48] stlehmann commented on #38150
@pbruenn Patch 2 looks fine as well. I just tried it and all works as expected.

I'm looking forward to your merge tomorrow and will merge it in my fork right away. Happy you could fix this issue and many thanks for your fast responses 🎉 🙇

[2020-08-27 13:52] bdraco commented on #39012
So it looks like we are back to adding the small bit of time back in to account for the tracking error (aka fudge factor)

That seems to work pretty well even under heavy load (overloaded the cpu at ~`2020-08-27 08:50:15`)

[code]

[2020-08-27 13:55] bdraco commented on #39012
We could wrap that in `floor()` so we always start the automation actual at the top of the second.

The downside are at least:
- If we have a lot of automations that fire at the top fo the second they may monopolize the event loop for a bit.
- its less precise.  With adding `0.001`, we know we have about that level of precision.

[2020-08-27 13:57] balloob commented on #39012
Just an FYI, when we relied on time changed events for our pattern listeners, we had a precision of 1 second. Anything more precise is a bonus but not a requirement

[2020-08-27 13:58] bdraco commented on #39012
`find_next_time_expression_time` is dropping the fractional seconds anyways...

[2020-08-27 14:03] bdraco commented on #39012
In testing, we don't want to use `floor()` since the microseconds aren't going to be in sync between human readable clock and the monotonic clock.

[2020-08-27 14:05] bdraco commented on #39012
So far in testing #39302 seems to be the more reliable at firing at `.00xxxx` when there isn't heavy load.

[2020-08-27 14:06] bdraco commented on #39012
#39301 is definitely the wrong solution based on this. I'm going to close that out.

[2020-08-27 14:13] bdraco commented on #39012
@mvandek

I've put together an `event.py` with the changes in #39302 that I have been running on top of 0.114.4 here `https://github.com/bdraco/home-assistant/blob/0.114.4_with_39302/homeassistant/helpers/event.py`

To get access to the code, its a bit more involved on Home Assistant Operating System. You'll have to make a usb drive call `CONFIG` and put your key on it.
https://developers.home-ass

[2020-08-27 14:19] bdraco commented on #38914
#38949 prevents the error from causing the thread to collapse as expected since you are getting a log message instead of an uncaught exception here. It still expected to log the invalid name.

[2020-08-27 14:21] bdraco commented on #39116
Copied from

https://github.com/home-assistant/core/issues/38914#issuecomment-681622100

[code]

[2020-08-27 14:43] balloob commented on #39012
You should be able to use the terminal & SSH add-on and disable protection mode. You then get access to the Docker runtime and should be able to access the running HA container and swap out the file.

[2020-08-27 15:08] springstan commented on #39072
I would not call it metaphoric since both payloads are used for case sensitive comparisons.

Logging could be useful but I can see why it was not done in this case. For example, it could easily spam and fill up the log file easily.

[2020-08-27 15:09] emontnemery commented on #30618
To make this issue manageable, I suggest to split out the problems with ESPHome and ZHA to separate issues.
@jay-hankins , @dlashua can you please create new issues mentioning ESPHome and ZHA respectively?

[2020-08-27 15:10] ministryofsillywalks commented on #39200
Thanks that worked!
Now I tried to add a tradfri bulb that wasn't working beforehand and it still doesn't work. It is found and registered but then isn't controllable. Trying to turn it off does nothing. (https://www.zigbee2mqtt.io/devices/LED1623G12.html)

[code]

Also trying to add the problematic dimmers. The first one added fine. After that the other two had problems. One joined and straight a

[2020-08-27 15:13] emontnemery commented on #30618
Tasmota + RGBW: I am not able to reproduce the problem, @tachyon142 can you reproduce it and if so attach a log please?
Tasmota + RGBWW: Caused by Tasmota not announcing the white value control for RGBWW lights, should be fixed by arendst/Tasmota#9175
Zigbee2MQTT: @dlashua Do you still have this problem with zigbee2mqtt?

[2020-08-27 15:16] ministryofsillywalks commented on #39200
I tried adding a tradfri bulb from a make I know works. After pairing and being correctly recognized it too left the network and was not reachable anymore. Not reacting to any commands.
The bulb is basically lying next to my zigbee controller with no intereferance whatsoever:
[code]

[2020-08-27 15:30] joaopms commented on #37242
Thank you for the feedback @dgomes, I'll try to do it whenever I have time to. :)

[2020-08-27 15:36] pnbruckner commented on #39012
Just an FYI ... I went ahead and did this in #39323.

[2020-08-27 15:43] elbueno222 commented on #26186
@jjbrunton I have 5 Yeelight color bulbs and from the day I updated the firmware (back in January) I haven´t had any more issue or errors in Home Assistant, so there has to be something wrong in your setup, do the bulbs have the latest firmware installed (2.0.6_0065)?

[2020-08-27 16:12] pmcouto commented on #26186
@jjbrunton

I have >15 Yeelight bulbs and lamps running latest firmware and I have no issues.
“A socket error occurred when sending the command” usually means WiFi connectivity issues (poor signal, RF interference, etc.).

[2020-08-27 16:15] Adminiuga commented on #39200
add debug for:
- `bellows.zigbee.application`
- `bellows.ezsp`

components, try rejoining and post debug logs. preferably from `home-assistant.log` file, so I could see the timestamps

[2020-08-27 16:16] jjbrunton commented on #26186
@pmcouto It's just not the case, unfortunately. I wrote a small C# script that would ping the bulbs and found they responded 99% of the time.

It's incredibly predictable in terms of reconnecting as well. Basically when they drop >50% of the bulbs in the apartment will drop (2 bedroom flat so it's not like it's a big space) then the socket error will happen. Exactly 30 seconds later the bulbs will

[2020-08-27 16:19] skorokithakis commented on #26186
@jjbrunton the socket problem you mention went away for me after a firmware update. If you're having the same issue the rest of us are, it's a bulb bug, not a client bug.

[2020-08-27 16:20] elbueno222 commented on #26186
In the Yeelight app, click the bottom right button and then "Firmware Update" to see the firmware of the bulbs with issues:

![image](https://user-images.githubusercontent.com/58039006/91468201-8f444100-e889-11ea-818a-0eaa9827d471.png)

[2020-08-27 16:22] jjbrunton commented on #26186
@elbueno222 - Cheers, they are all running the latest reported:

1.4.2_0076

[2020-08-27 16:26] elbueno222 commented on #26186
They must be different bulbs that the ones discussed on this thread (as you can see in the title the original firmware with issues was 2.0.6_0051 and the issue was corrected in 2.0.6_0065).

[2020-08-27 16:33] kenvincent opened #39328 "MQTT Lock state_lock and state_unlock defaults do not match documentation"
## The problem
In MQTT lock component documentation the state_locked default is define as "locked" and state_unlocked is defined as "unlocked"  if my lock publishes "locked" it is not recognized by HA as being locked.  This is because the state defaults in mqtt/lock.py are hard coded "LOCKED" and unlock is "UNLOCKED".  lock.py should probably use the defaults as they are defined in const.py STATE_

[2020-08-27 16:46] schmurtzm commented on #39252
Thank you @springstan it seems perfect !
![image](https://user-images.githubusercontent.com/7110113/91470837-80fc2200-e895-11ea-94fe-bc59967df1fa.png)
I close it ;)

[2020-08-27 16:57] ministryofsillywalks commented on #39200
First of all: Thanks for taking the time to troubleshoot this with me! I really appreciate it!!

Here is the log of me trying to (unsuccessfully) add a Dimmer E1743

[code]

[2020-08-27 17:00] ministryofsillywalks commented on #39200
Here is a log of adding a lamp (LED1836G9 ) which is detected and added as an entity but then is uncontrollable. I can move the switch in HA change the brightness slider but the lamp doesn't respond at all.

[code]

[2020-08-27 17:00] STHAudio opened #39330 "Monoprice Blackbird Matrix Switch Integration not working"
## The problem

 I recently purchased a Blackbird 15750 4x4 4K HDMI Matrix (https://www.monoprice.com/product?p_id=15750&gclid=Cj0KCQjws536BRDTARIsANeUZ5_U7MaSIZY3Q3_bf6nzily_a_qm4_Re8E8hMkgJbzB6q35l6bS02hQaAqSSEALw_wcB) as I saw this was a HA supported integration.  The issue is I cannot connect to it either via network or RS232.  When I try to connect via network I get "ConnectionRefusedError: [

[2020-08-27 17:01] baizinger commented on #39315
That happend to me once too.  if you're using chrome browser you can clear your cache with ctrl shift r.

[2020-08-27 17:03] bdraco commented on #39309
It looks like a bug in `sun.update_sun_position`

`update_sun_position` gets called with the 2015 time at startup.

Then time moves forward.

`update_sun_position` is going to schedule an update based on the `delta` which will trigger right away and then schedule the next one until time catches up.   So you end up with every update before the startup time and what time was set to.

[2020-08-27 17:54] dshokouhi commented on #39165
It may just be some other backend change honestly, we'll have to see what comes of it when the time gets here.

If you notice an endpoint error at that point we will need to file an issue with `pybotvac` the parent library to get it fixed and added

 I made a small update that I don't think will fix the issue of the robots getting mixed up.  Its a general cleanup change but feel free to give it a

[2020-08-27 17:54] bdraco commented on #39309
I think we can solve this by making `async_track_point_in_utc_time` always fetch the current utc now instead of passing back the original time the event was scheduled to fire.  This makes it closer to the pre 0.113 behavior.  Unfortunately that makes everything slower

[2020-08-27 18:02] emontnemery commented on #39328
Changing the defaults would be a breaking change, the documentation needs to be updated instead. Can you please edit the documentation and submit a PR?

[2020-08-27 18:02] #39328 closed

[2020-08-27 18:14] LavermanJJ commented on #39298
Hi - thanks for your fast reply! It seems to hold true, what they say about the HA community 👍
Thanks for the heads up for the fix in HA 0.115. Did I understand this correctly, that HA releases are published ~1 / month?

I tried with tunneling, but that also fails with the same error after some minutes. So I'll probably have to test taking OpenHAB offline.

[2020-08-27 18:28] farmio commented on #39298
There is a calendar here: https://developers.home-assistant.io - I think it is 3 Weeks.
If you're a little adventurous you can already test 0.115 if you run the `dev` branch. Any feedback for this issue would be welcome. Or wait for the beta and try it 1 week earlier.

[2020-08-27 18:52] bdraco commented on #39309
Audit of all integrations that could suffers from this:

`alert` - fetches `now()` OK
`android_ip_webcam` - fetches `utcnow()` OK
`august`  - fetches `utcnow()` OK
`axis`  - fetches `utcnow()` OK
`buienradar`  - fetches `utcnow()` OK
`device_sun_light_trigger` - does not recall itself - OK
`discovery` - fetches `utcnow()` OK
`duckdns` - **NOT OK**. re-passes time
`eight_sleep` - fetches `utcnow()`

[2020-08-27 19:04] LavermanJJ commented on #39298
Sure, here are the error messages, when `tunneling` is used.

[code]

In addition, I set OpenHAB offline for some minutes (no extensive testing), but during that time no error occurred. Seems like you're right on this one.

[2020-08-27 19:20] skank01 opened #39336 "Light seen as switch (icasa zigbee module)"
## The problem
I have 2 sorts of icasa zigbee switches, one is a dimmer, the other one is not https://www.bol.com/nl/p/icasa-zigbee-3-0-on-off-switch-230v-200-400w-3-draads-compatible-met-zigbee-3-0-gateway/9200000107260782/?s2a=#productTitle

I use these to turn on/off lights.
However in home assistant the dimmers are seen as lights, but the non dimmer one, is seen as a switch.
The problem then i

[2020-08-27 19:23] MartijnKaijser commented on #22530
A workaround can be to follow this
https://www.home-assistant.io/docs/configuration/customizing-devices/
adding the following to your configuration will at least allow you to customise the icon
[code]

[2020-08-27 19:26] Adminiuga commented on #39336
what integration? please fill in the issue template in details

[2020-08-27 19:33] skank01 commented on #39336
Deconz addon (using conbee II stick)

[2020-08-27 19:35] Spirituss commented on #39278
@zen2
No any IP filter. I can't even add the integration. Have the screen below. Can it be any problem with synology.com certificate?

<img width="382" alt="Снимок экрана 2020-08-27 в 22 33 06" src="https://user-images.githubusercontent.com/47206760/91486863-86696480-e8b5-11ea-97b9-c7d4572c1eca.png">

[2020-08-27 19:36] cyberjunky commented on #39298
I will do some testing tomorrow as well.
Thank all for the effort and work on the KNX integration.
Maybe there are more KNX HA users than everyone thinks ;P

Op do 27 aug. 2020 20:29 schreef Matthias Alphart <notifications@github.com

[2020-08-27 19:55] olegkron commented on #22900
We need that support!!!!

[2020-08-27 20:05] Spirituss commented on #39278
Seems to be the same problem as #37310.

[2020-08-27 20:09] Spirituss commented on #37310
Please, update the integration. It is non-working now due to this tiny bug with timeout.

[2020-08-27 20:29] eyager1 commented on #39033
1. Template Sensors
2. MQTT Sensors

[2020-08-27 20:41] farmio commented on #39298
@LavermanJJ you seem to be still routing

[2020-08-27 20:46] Spirituss commented on #39278
I found the reason. It is described in #37310 .
The integration has hardcoded 10 seconds timeout, which is not enough for the integration to start. I manually edited the timeout and now DSM works well.
Guys, please, correct the component code. It is easy in this case.

[2020-08-27 21:00] Kane610 commented on #39336
That is because it is most probably one of these types ["On/Off light", "On/Off plug-in unit", "Smart plug". If you can enable debug for deconz in hass and share the description of your light switch from startup we can verify that it is so.

I will not change the filtering so if your light switch is indeed covered by that list all you can do is to create a template light (I think it is called) in

[2020-08-27 21:01] Leeharg commented on #39290
I have the same problem unfortunately

[2020-08-27 21:13] jdelaney72 commented on #38544
The URL of the NOAA api changed but I don't think GClunies/py_noaa#40 will be fixed. GClunies/py_noaa looks to be outdated and is replaced with GClunies/noaa_coops.

I have a small fix that uses the new noaa-coops package. I'm struggling a little with the development checklist (specifically the tox tests) but, when I figure it out, I'll submit a PR.

FYI...If you hit the url in a browser, it autom

[2020-08-27 21:14] Leeharg commented on #39290
It seems to be a problem with ariela since the core update. Ha companion app seems to work fine.

[2020-08-27 21:16] dshokouhi commented on #39290
I wonder if we should update the error message to show if its from an official app or not.  Thats a good catch!

[2020-08-27 21:18] DoctorOctagonapus commented on #33142
It's working fine for me.

[2020-08-27 21:21] Mariusthvdb commented on #22530
yes, customizing works alright. Check the typo though, no quotes required.

[2020-08-27 22:18] glmnet commented on #39072
I see, it's actually an elif so it will turn off only if payload matches off, however it starts in off state so one would guess it's always matching payload off or it's not working at all.

Why would it spam and fill up the log? shouldn't the command return either one of the two values when configured properly?
I'd expect an easier to setup environment, if I'd like to purposely ignore values or ta

[2020-08-27 22:25] glmnet commented on #39072
I was going to update docs, but find out the issue was "more complicated".

So unless you agree on the log stuff, this should be fixed by https://github.com/home-assistant/home-assistant.io/issues/14040

This is just about making HA easier to use.

[2020-08-27 22:29] biejay opened #39345 "Alpha Avantage problem with symbol containing ":""
## The problem
I am using the **Alpha Avantage integration**. When defining the **symbol FRA:IQQE** then no sensor is created in hassio.
Using GOOGL for example works.
When using the alphavantage API via URL, it also works with the symbol FRA:IQQE, but not with IQQE only. So i assume the problem is the ':' in the middle.

Try the API on your own:
Works:
`https://www.alphavantage.co/query?function=

[2020-08-27 23:48] DavidFW1960 commented on #39278
i verified hat fix as well a week ago...

[2020-08-28 00:29] jonwaland commented on #38914
Ahh - so the change is from:

[code]
to

`2020-08-28 06:55:02 ERROR (zeroconf-ServiceBrowser__soundtouch._tcp.local.-_hass-mobile-app._tcp.local.-_googlecast._tcp.local.-_coap._udp.local.-_musc._tcp.local.-_lutron._tcp.local.-_http._tcp.local.-_esphomelib._tcp.local.-_hass-ios._tcp.local.-_e2stream._tcp.local.-_printer._tcp.local.-_fbx-api._tcp.local.-_tivo-remote._tcp.local.-_Volumio._tcp.local.-

[2020-08-28 01:09] hyacin75 commented on #35137
Static addressing and configuration worked perfect for me, thanks to those who suggested that.  They mapped right back up to their previously discovered entities, and thus all their automations and everything too.

[2020-08-28 01:20] i00 commented on #38346
@dgomes  I am using tts.google_translate_say NOT Spotify!

[2020-08-28 01:21] i00 commented on #38346
This is not the issue ... it doesn't say Anything!

[2020-08-28 01:22] i00 commented on #38346
This is not the issue ... the Google Home Hub Actually shows the cast on screen and makes the noise (so it can contact the server)..
Just no voice!

[2020-08-28 03:15] bcwhite0 commented on #38995
If it's a bad SD card, I have an identically bad one.  I wondered why, after a recent update of my RPi from 0.114.1 to 0.114.3, my devices stopped showing any history.  Now, trying to understand why updates to 0.114.4 keep failing, I've noticed the same log errors.

I've tried removing the db file and rebooting but the error came back immediately upon restart; DB file size was zero (0).  I tried r

[2020-08-28 03:43] raz0rf0x opened #39349 "BOND integration does not turn off fan from speed selection, only power icons."
## The problem
Bond integration does not turn off fan when choosing speed "off" from item list. Changing speeds works but fan can only be turned off by hitting the mdi:flash-off icon. When "off" is selected from the pulldown item list the speed switches to medium.
This renders the Fan Control Entity Row unusable as a side effect.

## Environment

- Home Assistant Core release with the issue:  0.11

[2020-08-28 04:01] ejonesnospam commented on #30062
This issue is still present in the current release. #37519 does NOT rectify the issues documented, instead just removes the 'remaining' attribute. I'm so disappointed that after more than 6 months of providing input on this issue, the attribute will just be removed. I am utterly disgusted at this process.

[2020-08-28 04:34] Larx commented on #39187
Same here with a non-docker manual install of HA on a RPi4. Makes the integration useless, unfortunately :-( .

[2020-08-28 04:37] i00 commented on #27179
@NeilDuToit92 ... I am starting to feel the same way; such a shame :( ...

I have used CATT in the past ... in this case I want to cast a lovelace view... how can I do this without authentication though?

[2020-08-28 04:47] NeilDuToit92 commented on #27179
You enable trusted networks as an auth_provider, then you can authenticate on the hub without credentials as long as it's in the specified subnet. Sorry for the bad indentation, I'm in my phone, you can find it here: https://www.home-assistant.io/docs/authentication/providers/

Make sure you as homeassistant as a provider before trusted_networks to maintain the ability to log in as pretty usual.

[2020-08-28 04:56] springstan commented on #39072
Completely agree that this issue should be solved and will increase the usability of HA. The issue you linked should be addressed to fix this problem once for all.

[2020-08-28 05:08] #37969 closed

[2020-08-28 05:08] springstan commented on #39319
Closing this issue in favour of #34776.

[2020-08-28 05:08] #39319 closed

[2020-08-28 05:09] springstan commented on #34776
Reopening since this is still an issue.

[2020-08-28 05:51] xekil opened #39352 "Add Aqara 2ch Relay support"
Hello!
Aqara 2ch Relay now available in developer mode in the gateway. Please add support for this.

_Originally posted by @nick7zmail in https://github.com/home-assistant/core/issues/22900#issuecomment-596229934_

[2020-08-28 05:52] ctalkington commented on #39349
@prystupa can you check into this? Automaic notice didnt seem to work.

[2020-08-28 06:24] springstan commented on #39352
Please open a feature request in the [community forum](https://community.home-assistant.io/c/feature-requests?order=votes) because we only use Github issues to track issues and not feature request.

Thanks for understanding :)

[2020-08-28 06:24] #39352 closed

[2020-08-28 06:34] mvandek commented on #39012
@balloob I am unable to replace the file via SSH - I disabled protection mode but I cannot find the /usr/src/homeassistant/ directory, or even /usr/src/. Instead, I made a copy of the original file and modified the event.py file into an overlay / diff folder using an Ubuntu Live CD.

But I'm not sure if the modified file is used by Home Assistant when triggering an automation using time or time_pa

[2020-08-28 07:18] frenck commented on #39314
Hi there @PM04290!

Thanks for opening up an issue. When opening an issue, an issue template is provided. It seems like you have removed the issue template for the larger part. Please edit your issue description to use that template and provide as much data as possible. Without it, we won't be able to help you.

Thanks 👍

[2020-08-28 07:18] frenck commented on #39311
Thank you for reaching out.  We use GitHub for tracking issues, not for providing support.

If you are in need of support, you should try our [Community Forum](https://community.home-assistant.io) or join our [Discord chat server](https://discord.gg/c5DvZ4e).

You are more likely to get the answer you are looking for in those places.

Thanks! 👍

[2020-08-28 07:18] #39311 closed

[2020-08-28 07:26] panenka commented on #39182
I don't understand what to do now. No response. Something bad on my side?

[2020-08-28 07:36] springstan commented on #39072
I will close this issue in favour of https://github.com/home-assistant/home-assistant.io/issues/14040.

[2020-08-28 07:36] #39072 closed

[2020-08-28 07:57] elupus commented on #39270
My question only guess would be that the service account you created, lacks the needed permission. Please double check that you added the token creator right (or whatever the docs call it)

[2020-08-28 08:28] pbruenn commented on #38150
Well, introducing such a bug is embarrassing, but fixing it with you guys was fun ;-). The fast feedback to my questions was great, and your help in tracking down the issue was outstanding. So I am pretty happy to give the compliment back.

The patch is now merged and available as https://github.com/Beckhoff/ADS/commit/6684d9308dc79993924b91c62fac4941d2d68f69.

If you merge master, you will get 3

[2020-08-28 09:49] docsparks commented on #22490
This issue has not been fixed

[2020-08-28 09:51] docsparks commented on #26843
Bump

template coding within the seconds for delay on/off are still not working.

[2020-08-28 11:00] stlehmann commented on #38150
@pbruenn Thanks for fixing this bug so quickly. Unfortunately I won't be able to test and implement the new commit today because my Virtual machine has broken due to installing WSL2 :boom: 😞. I will get to it by the start of next week.

[2020-08-28 12:14] vosko87 commented on #38582
Hi All

I've the same issue with Xiaomi Aqara integration.

arch | armv7l
-- | --
chassis | embedded
dev | false
docker | true
docker_version | 19.03.11
hassio | true
host_os | HassOS 4.12
installation_type | Home Assistant OS
os_name | Linux
os_version | 4.19.127-v7l
python_version | 3.8.3
supervisor | 235
timezone | Asia/Jerusalem
version | 0.114.4
virtualenv | false

[2020-08-28 12:19] stlehmann commented on #38150
I got my Virtual machine working again and drafted a new release 3.2.2 for pyads. @carstenschroeder, @gijbelsy, @tomation7 could you please give it a try and send feedback if everything is working fine now. 🙏

[2020-08-28 13:22] ar2rh opened #39355 "Bravia TV randomly powering on"
## The problem

I have few bravia TVs connected to home assistant, all TVs will randomly power on every few days. I can then switch them of through ha but its quite annoying when it happens at 2am in the morning ...

## Environment

- Home Assistant Core release with the issue:  0.110.7
- Last working Home Assistant Core release (if known): n/a
- Operating environment (OS/Container/Supervised/Core

[2020-08-28 13:55] manosioa commented on #38582
Tried what @Kyle-Bang proposed and had no luck.

@syssi @Danielhiversen @starkillerOG
Any updates on this?
It's getting bigger and bigger

[2020-08-28 13:57] Adminiuga commented on #30062
https://www.youtube.com/watch?v=15HTd4Um1m4

[2020-08-28 14:27] #39012 closed

[2020-08-28 14:28] derekatkins commented on #38498
I just hit this issue too.  I want to use fast_on (instead of on).  For "on" I can successfully use:
[code]
And this will turn of the ISY994 scene "My Switch Name".  I can do the same with "off" via the service switch.turn_off.  I don't think there is a switch.turn_fast_on, is there?

[2020-08-28 14:29] ivanovd commented on #39315
Seems like the cache was the problem. Now I am able to see the automations domain in the call service actions.

[2020-08-28 14:29] #39315 closed

[2020-08-28 14:47] FrnchFrgg commented on #38610
It seems to me that the correct integration is « template » and not « cover ». At least I found the relevant code in https://github.com/home-assistant/core/blob/dev/homeassistant/components/template/cover.py

[2020-08-28 15:20] springstan commented on #38699
Unfortunately, I cannot reproduce this problem. Have you tried to reproduce this issue on the latest version of HA?

[2020-08-28 15:20] FrnchFrgg commented on #38865
I had to use `{{ 'open' if is_state('binary_sensor.porte_garage', 'on') else 'closed' }}` as `value_template` for it to work as it seemed to not accept booleans directly.

That's because in Python boolean constants have a capital, whereas the cover template code checks for `open`, `closed`, `true` or `false` only. As such, `{{ is_state('binary_sensor.porte_garage', 'on') | lower }}` works equally

[2020-08-28 15:25] rytilahti commented on #35137
I have seen that some devices are more responsive for discovery, but I have no idea what could be the reason. My HS110 gets always discovered correctly, but sometimes KL130 and KP303 are not responding to the discovery requests.

[2020-08-28 15:25] tomlut commented on #38865
`{{is_state('binary_sensor.door_window_sensor_158d00025193e7', 'on')}}` should resolve to `true` or `false` though.

[2020-08-28 15:26] FrnchFrgg commented on #38865
As for  `value_template: "{{ false }}"` my gut feeling is that it is an error (`false` is not an existing Python variable in your code), and you really want `value_template: "false"` or `value_template: "{{ 'false' }}"`

@tomlut No, it resolves to `True` or `False` (note the capital)

[2020-08-28 15:28] springstan commented on #39265
Do you experience this error consistently or was this just a one time thing?

[2020-08-28 15:29] FrnchFrgg commented on #38865
Checking further, in templates it seems that `false` is a valid variable, that contains the value `False`. Thus `value_template: "{{ false }}"` actually yields `False`.

[2020-08-28 15:31] tomlut commented on #38865
Every other template I've used respects this value `{{ false}}` why are cover value templates different?

[2020-08-28 15:33] carstenschroeder commented on #38150
@stlehmann Under Ubuntu in a virtualenv install of HA I can confirm that it works.

But in the docker image of Hassos the installation of pyads fails. Releases 3.0.7 and 3.2.1 of pyads install fine. I see the following errors in homeassistant.log:

[code]

[2020-08-28 15:35] andriej commented on #39265
I've seen few errors regarding speedtest in the past, this exception tho was for the first time.

[2020-08-28 15:39] shbatm commented on #38498
Fast on and Fast off are not HA standards, so they aren't in the switch domain, which is why the custom service is needed. I'm sorry for the delays in looking into this... I hope to have time to get a fix tested next weekend.

[2020-08-28 15:41] FrnchFrgg commented on #38865
@tomlut The (Jinja2) template `{{ false }}` is "respected" in that it evaluates the Python expression `false`, which equals to the boolean `False` since Jinja2 provides that name. That boolean is then converted to string, with the default `str` handler AFAICT, and returned. It is easy to check that fact using the developer tools.

Maybe most integrations accept both the string `False` and `false`

[2020-08-28 15:53] springstan commented on #39265
I agree that Speedtest is a very stable integration and does not have many errors.
After a quick search I could find another example of the first log you posted: https://github.com/sivel/speedtest-cli/issues/752
Furthermore, it seems that both errors come from the used python package. Therefore, I would suggest to open an issue for the second log, comment on the linked issue and closing this one s

[2020-08-28 15:59] carstenschroeder commented on #38150
I tested this by using a modified version of ads as a custom component which requires pyads 3.2.2

So, it might work if the docker image is built natively with this new release. Unfortunately, I don't know how I could test this.

[2020-08-28 16:18] stlehmann commented on #38150
To build adslib in a docker image you need to install build-essentials first. Use the package manager to install them in the container:

[code]

[2020-08-28 16:20] austinmroczek commented on #33172
Sorry @fwedler I never got back to this.  I'm hoping maybe you've upgraded and don't have the UI javascript problem anymore.

[2020-08-28 16:28] derekatkins commented on #38498
@shbatm If there is anything I can do to help test (considering I'm running HassOS) please let me know!

[2020-08-28 16:37] Adminiuga commented on #39200
push new update to bellows multiversion. if you have `git+https://github.com/zigpy/bellows@multiversion#bellows==0.22.0` in manifest.json then all you need is to restart HA, wait and try pairing again.

[2020-08-28 16:54] fwedler commented on #33172
I've been keeping up with updates and haven't seen the error. Everything's been working fine. Thanks!

[2020-08-28 17:00] hosting-io opened #39358 "Poolsense not showing second device"
## The problem

I have 2 pool sense devices, ones in hot tub, one in pool, but the system only shows one and 11 entities.

I have tried removing the integration and adding again, but it only shows the one each time
-->

## Environment

- Home Assistant Core release with the issue: Home Assistant 0.114.4

- Last working Home Assistant Core release (if known):
- Operating environment (OS/Container/S

[2020-08-28 17:04] carstenschroeder commented on #38150
Thanks for the hint!

As Alpine Linux is used in the docker image I had to install `build-base` package. Then it worked. Release 3.0.7 and 3.2.1 worked because there are already corresponding wheel builds in the [HA wheel index](https://wheels.home-assistant.io/).

So, I can confirm pyads 3.2.2 works in my installation.

[2020-08-28 17:53] fantasy9876 commented on #38582
I just tried to delete all other devices and try to connect to the Xiaomi Miio.

![image](https://user-images.githubusercontent.com/4337585/91600311-f3eac300-e991-11ea-9cd5-4645e1d30cfc.png)

Remember to fill in the token you get from the Xiaomi Mi home.

[2020-08-28 17:57] Kev1000000 commented on #38498
I can also help with any logging or info as well.

[2020-08-28 18:09] #39309 closed

[2020-08-28 18:12] springstan commented on #39358
Please fill out the issue template, thank you :)

[2020-08-28 18:14] sstratoti commented on #22022
Interesting. @gcobb321 does your call also use a float to 6 digits?

[2020-08-28 18:19] xorbital commented on #32142
Hm, I updated to 0.114.4, which included PR #39211 however I still get the same Illegal MIME-Type error :(
Someone else affected as well?

[2020-08-28 18:34] hosting-io commented on #39358
done

[2020-08-28 18:42] Fonsos commented on #22530
I have detected what was happening: the icon mdi: lamps is not working on my configuration.
I was doing it alright but the icon isn't working. I have tried mdi: lava-lamp instead and it works.

[2020-08-28 18:49] ministryofsillywalks commented on #39200
Brilliant! Its now working! I could join the dimmer and the 1000lm light that werent working beforehand!!
Thanks a ton! Looking forward to seeing this in the release branch. Until then I will keep using the custom component!

[2020-08-28 18:49] #39200 closed

[2020-08-28 19:01] #33172 closed

[2020-08-28 19:55] alexis-via commented on #33634
@urbatecte No, the 2 links you give for ENEDIS and GRDF APIs are not designed to get the individual gaz or electricity index ; they give some global information for France or for a specific geographic area.

The API for GRDF is here:
https://www.developers.pprd.api.grdf.fr/
Anyone can open an account. Once logged, you can download a functional documentation which explains clearly that this API  al

[2020-08-28 20:02] ministryofsillywalks commented on #39200
Also it might just be a feeling but devices are joining a lot faster than before.
Added 4 Tradfri Gu10 spots at once and they all joined nearly instantly.

[2020-08-28 20:03] gregkinney commented on #39279
I had the same error with iaqualink's webpage, so it's on their end. I contacted aqualink tech support today 8/28/20 2:30pm CST and he said they were unaware of it but are aware of it now and are working on it.

[2020-08-28 20:09] #37600 closed

[2020-08-28 20:33] Shamshala commented on #34776
Ok, so i tried also rest of the services:
`Update_State` works without errors (at least lock status updates by that)
`Notify` works without errors

`Find car`:
[code]

`AC activation`
[code]

[2020-08-28 20:50] eh8 commented on #33605
Auto-discovery doesn't work with T1012 smart bulbs, both on my trusted LAN and segregated IoT VLAN.

[2020-08-28 20:55] Spirituss commented on #29931
@bagobones

2 seconds is not bad. "Standard" delay for RTSP stream in HA is about 7-10 seconds. I compared original camera RTSP stream with Synology integration "stream" - the last works faster even with the current version.

@pergolafabio

Synology integration has some very valuable features like:
1) PVTZ angle presets, which can be used in HA via Syno API
2) Surveillance Home mode activation/dea

[2020-08-28 20:59] tcsmath commented on #38195
Calling this integration "beta" was premature.  The ozwdaemon is great.  The integration is an embarrassment.  I'm just grateful that functionality is being split off from HA so that eventually I can abandon HA altogether.

[2020-08-28 21:00] Spirituss commented on #36999
@shenxn When are you going to merge ProtoThis/python-synology#53  with synology_dsm integration? It is really useful adjustment.

[2020-08-28 21:03] Kickingbird3 opened #39367 "Travis CI Integration Does not Work."
## The problem

I am trying to use Travis CI to automate my Home Assistant config through a GitHub repo. As part of this goal, I tried to set up the Travis CI Component. I am unable to find the entities and traced it back to this in the logs. I can verify it is authenticating with GitHub as on there site I can see the key was used within the last week.

## Environment

- Home Assistant Core releas

[2020-08-28 22:01] Adminiuga commented on #39200
Someone else reported the same. Personally, haven't noticed.

[2020-08-28 22:05] bieniu commented on #39355
These errors are not related to the `braviatv` integration. Are you sure it's the `braviatv` integration that turns the TVs on?

[2020-08-28 23:15] ar2rh commented on #39355
It started happening after setting them up with HA, if you can let me know
which log holds those events I can upload it to this thread

On Fri, 28 Aug 2020, 23:05 Maciej Bieniek, <notifications@github.com> wrote:

[2020-08-29 01:45] prystupa commented on #39349
@ctalkington @raz0rf0x I am able to reproduce - will look into it this weekend.

[2020-08-29 03:51] estebanz01 opened #39373 "Syncing devices with Google assistant not working"
## The problem
Google assistant cannot sync with homeassistant using Nabu Casa integration. An error is shown in the console. Both directions are broken: HA -> GA, GA -> HA.

## Environment

|option|value|
-- | --
arch  | armv7l
dev | false
docker | false
hassio | false
installation_type | Home Assistant Core
os_name | Linux
os_version | 5.4.51-v7l+
python_version | 3.7.3
timezone | America/Bogota

[2020-08-29 03:56] estebanz01 commented on #39373
I read the stack trace wrong. It's related to colours in a light component 😬 . I'll try to disable all to see if I can Identify which one is causing the problem.

[2020-08-29 04:56] jcalderon71 commented on #38156
Same issue for me - Home Assistant 0.114.4

[2020-08-29 06:57] gcobb321 commented on #22022
@sstratoti
Here are the Waze log records for time & distance requests from the iCloud device tracker program running in Home Assistant using the code in a previous post.
[code]
These results are from two Waze route requests today, one right after the other. As luck would have it, the second failed with no response, followed by an immediate retry resulting in a good response. As you can see, the pr

[2020-08-29 07:26] waverider020 commented on #39187
Same problem here every now and then it start working but than suddenly stops!![image](https://user-images.githubusercontent.com/65109592/91631411-9bd7af00-e9d9-11ea-9231-5b08fb4cdb9d.png)

[2020-08-29 07:36] asiersan opened #39375 "New Risco integration and app/web login"
## The problem

With the new risco integration, if you loggin in the integration with one user account, you can loggin with the risco web/app with other user acounts, but if you try to operate, you receive a message that you cant operate wile you are loggin with another account with diferent privileges.....

## Environment

- Home Assistant Core release with the issue: 0.114.4
- Operating environm

[2020-08-29 07:46] balloob commented on #39373
So you must have a light somewhere that is not reporting a min mireds. You should be able to find that in the dev tools.

[2020-08-29 07:49] adonno opened #39376 "KNX issues after refractoring"
## The problem

I Run the Nightly Dev and since the refractoring I am unable to control any KNX device or get the state
tunneling made no change

## Environment

- Home Assistant Core release with the issue:   0.115.0.dev20200829
- Last working Home Assistant Core release (if known):  0.115.0.dev20200826
- Operating environment (OS/Container/Supervised/Core):  supervised
- Integration causing this

[2020-08-29 07:59] PierreScerri commented on #38786
It's getting worse.
I keep loosing everything on the Home app as if it is the first time I'm running the app.
Everything is on the latest available update.
Also, while all devices where there, it was not working on cellular.
This is getting really annoying.

[2020-08-29 08:09] frenck commented on #39375
Hi there @asiersan!

Thanks for opening up an issue. When opening an issue, a default issue template is presented to use and it seems like you have removed it. Could you please edit your issue description to use that template and provide as much as the requested data as possible? Without it, we won't be able to help you.

Thanks already! 👍

[2020-08-29 08:24] thecem commented on #39165
I have the Vorwerk vr200 and vr300 in the new app. Is there some possibility to help? What do you need?

[2020-08-29 08:28] dshokouhi commented on #39165
@thecem please open a new issue for that with the error message if it is not working.  That is separate from the multiple account issue.  It may also be an issue that only the parent library can fix.

[2020-08-29 08:31] skank01 commented on #39336
Hi Kane610
Thx for your reply, i think you mean this info?

[code]
2020-08-29 10:17:41 DEBUG (MainThread) [pydeconz.deconzdevice] Keuken created as
{'etag': 'c65db81e25f1b620153a68231f1dc71d',
 'hascolor': False,
 'lastannounced': None,
 'lastseen': '2020-08-29T08:17:16Z',
 'manufacturername': 'icasa',
 'modelid': 'ICZB-IW11SW',
 'name': 'Keuken',
 'powerup': 7,
 'state': {'alert': 'none', 'on': F

[2020-08-29 08:35] grantclem opened #39378 "Neato/Vorwerk Integration fails with "Invalid Credentials""
The old Vorwerk app is being phased for a new 2FA based app (MyKobold) from Vorwerk. The Neato/Vorwerk integration is failing with "Invalid Credentials", I assume because of this new requirement.

## Environment
![image](https://user-images.githubusercontent.com/30598978/91632705-2d184700-ea15-11ea-92c4-82a3c0f65f0a.png)

- Home Assistant Core release with the issue:
- Last working Home Assistant

[2020-08-29 09:07] bieniu commented on #39355
BraviaTV integration errors will have `braviatv` in their body. Have you checked if any automation does not turn on the TV? Or some devices are sending something to the chromcast on the TV and turning it on?

[2020-08-29 09:54] shenxn commented on #36999
I'll start working on that soon. Waiting for @Quentame to release a new version of the library.

[2020-08-29 10:03] Quentame commented on #36999
You can start working on it by targeting `master` as dependency 😉

I would like to merge a new feature before release, a little bit more testing and it can be done.

Also, breaking news, I have a RTSP compatible camera, so I can test Surveillance Station ! 🎉

[2020-08-29 10:46] Spirituss commented on #35475
The issue is still actual. I'm waiting for @shenxn pull request release.

[2020-08-29 10:59] farmio commented on #39376
The log looks alright. No sign of any error, but some success logs.
Are the entities loaded into HA?

[2020-08-29 11:09] #39373 closed

[2020-08-29 11:26] marvin-w commented on #39376
@adonno Please share at least one of your subconfigs (i.e. for lights) and also describe the error in more detail (what goes wrong, do the entities not load?, are there any errors in HA?, are the entities loaded but nothing happens when you try to interact with them?)

[2020-08-29 11:29] adonno commented on #39376
Yes they are loaded
i can also turn them on and off in HA but nothing happens in "real" even though Ha displays the devices as on.

![image](https://user-images.githubusercontent.com/13216947/91635438-d270f200-e9f8-11ea-9e76-db1687bbee4f.png)

but i found some additional info in the log

[code]

[2020-08-29 11:32] adonno commented on #39376
as requested by @marvin-w : https://paste.ubuntu.com/p/rS646xW2bT/

[2020-08-29 11:32] spacegaier commented on #39376
I am also seeing many of those in my logs since xknx 0.12.0 but so far everything still seems to work.

[2020-08-29 11:35] adonno commented on #39376
I wanted to relaod a snapshot form pre 0.115.0.dev20200827 to see if the issue still persists if that can help ?

[2020-08-29 11:39] spacegaier commented on #39376
xknx 0.12.0 was merged into HA dev on the 26th of August. So I assume everything before that, might not have the issue. Wort a try to narrow it down.

https://github.com/home-assistant/core/commit/a2651845f379992231fd7b9c8458828036296ee0

[2020-08-29 11:42] adonno commented on #39376
btw i'm using a MDT scp 100.02 ip router

[2020-08-29 11:45] balloob commented on #39373
I merged a PR that will at least allow you to sync with Google and it will filter out the bad device. That device is still broken and should be fixed 👍

[2020-08-29 11:49] estebanz01 commented on #39373
Makes sense. Thanks!

[2020-08-29 11:51] marvin-w commented on #39376
It looks like something is off with your gateway... I see that you're having a lot of entities, for testing purposes: Might be worth to try setting `rate_limit` in your knx config (https://www.home-assistant.io/integrations/knx/#rate_limit) to something lower than the default 20.

In 0.12.0 we implemented a new StateUpdater (that's also the one that's causing the log entries). I'll need to recheck

[2020-08-29 12:03] spacegaier commented on #39376
On my side the rate_limit does not change anything. Also my test setup only has 5 entities (21 GAs). Let's see if it changes anything for @adonno since it's his ticket (and I am hijacking it 😄).

[2020-08-29 12:20] adonno commented on #39376
lowered rate_limit to: 5  and using only the binary_sensor
[code]

[2020-08-29 12:23] marvin-w commented on #39376
Your log looks fine. Does it work then?

You can ignore the warning "Could not sync state" for now. Do you see sensor values in HA?

[2020-08-29 12:50] antoweb commented on #25828
Hassio 0.114.4 issue still remain

![IMG_20200829_144906](https://user-images.githubusercontent.com/32364871/91637193-06531400-ea07-11ea-9798-e6f93dacdfc1.jpg)

[2020-08-29 12:52] adonno commented on #39376
Timeline : (will be edites as I continue Testing:
rate_limit: 5
2020-08-29 14:44:56  --> . Uncommented switch section --> works fine --> will wait at least half an hour to enable the lights

[2020-08-29 13:04] marvin-w commented on #39376
Alright, feel free to write in the xknx discord - I'll read there more often ;).

[2020-08-29 13:07] JeHu500 commented on #26729
Still not working for me.

[2020-08-29 13:46] Kickingbird3 commented on #39367
I may or may not have found my problem. My repository is private, The GitHub component did the same thing but I then tried viewing this repository and it worked.

[2020-08-29 14:17] ejonesnospam commented on #30062
https://tenor.com/view/eat-shit-gif-8729148

On August 28, 2020 6:57:40 AM PDT, Alexei Chetroi <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-08-29 14:26] anthosz commented on #26729
I confirm + new issue: new tracked user added for the tracking but doesn't appear in HA (even with a restart)

[2020-08-29 14:41] Mariusthvdb commented on #36167
This is working now for sometime. Pardon my late response.
Please close

[2020-08-29 14:42] #36167 closed

[2020-08-29 14:51] Giom-V commented on #38092
Check [the link](https://github.com/home-assistant/core/pull/34461#issue-406093252) I posted. You have to change your yml from
[code]
to
[code]

[2020-08-29 15:09] dshokouhi commented on #39378
If they added 2fa then we need the parent library fixed and that goes beyond my understanding. Do you get a text message with the code or something after logging in?

[2020-08-29 15:11] dshokouhi commented on #39378
Can you try to interact with the parent library as outlined here https://github.com/stianaske/pybotvac then open a issue there with your results.

[2020-08-29 15:13] grantclem commented on #39378
Hi, yes via email a code is sent

[2020-08-29 15:17] grantclem commented on #39378
This I would assume only be related to Vorwerk and would not be a Neato issue?

[2020-08-29 15:17] Santobert commented on #39378
Try to use token-based authentication. I know that neato supports oauth, which is token based and also supported by pybotvac. If that works, we could consider using oauth in HA as well. The downside is that we have to drop file-based configuration in favor of configuration flow.

[2020-08-29 15:21] tommyjlong commented on #38015
Thought I would add my 2 cents. Same problem here.  Seems to start at midnight or a few minutes afterward.

[2020-08-29 16:07] #38487 closed

[2020-08-29 16:11] #30062 closed

[2020-08-29 16:45] springstan commented on #39345
It seems to me that the symbol you are requesting is not available at the used api endpoint, therefore it is an invalid api call.
Assuming that you have something similar in your logs:
[code]

Looking through the code of this integration I have found the following line:
https://github.com/home-assistant/core/blob/a9b611d3ed8744c2af595459293438657cccd9db/homeassistant/components/alpha_vantage/senso

[2020-08-29 17:28] epleypa commented on #38777
Error persists in 0.114.4

[code]

[2020-08-29 17:28] skank01 commented on #34446
Any chance this will be pickup at some time?

[2020-08-29 18:43] allmoney commented on #33275
Bug still exist. Not fixed.

сб, 29 авг. 2020 г., 11:59 stale[bot] <notifications@github.com>:

[2020-08-29 18:44] tmjd commented on #31221
At the https://developers.google.com/nest/device-access linked above they have a "Device Access API - Interest Inquiry" where you can put your email if you're interested in Individual access which might open the door for what is needed with HomeAssistant. If people are reading this and are interested I'd suggest putting in your email, maybe it'll let Google know that there is desire for it.

[2020-08-29 19:10] Didgeridrew commented on #38995
I started from a fresh install on a brand new sD card and I checked the power supply. Then I rebuilt piece-by-piece from old snapshots or from scratch for the Lovelace-created stuff and that worked for 5-6 days... Then, last night, an update becomes available and (even without applying the update) it's back every 6-ish minutes. Applied the update and it's still happening.

I reboot the raspi and n

[2020-08-29 19:30] smashah commented on #31221
If you think about it. It's kinda wild that they would allow businesses to have access to a camera on my property but not me.

[2020-08-29 19:58] #35145 closed

[2020-08-29 19:58] #34700 closed

[2020-08-29 19:58] #35930 closed

[2020-08-29 19:58] #35586 closed

[2020-08-29 19:58] #35886 closed

[2020-08-29 19:58] #35961 closed

[2020-08-29 19:58] #32840 closed

[2020-08-29 19:58] #32050 closed

[2020-08-29 19:58] #32058 closed

[2020-08-29 19:58] #35914 closed

[2020-08-29 19:58] #31961 closed

[2020-08-29 19:58] #35966 closed

[2020-08-29 19:58] #30078 closed

[2020-08-29 19:58] #33492 closed

[2020-08-29 19:58] #35916 closed

[2020-08-29 19:58] #33921 closed

[2020-08-29 19:58] #36068 closed

[2020-08-29 19:58] #36071 closed

[2020-08-29 19:58] #34641 closed

[2020-08-29 20:31] jschwalbe commented on #31031
password change works. can someone put that as the solution? or update the original post? took me a few minutes of reading til I got there ;)

[2020-08-29 20:33] springstan commented on #30987
This issue seems to be solved since I cannot reproduce it locally with version 0.114.
I have used the service `light.turn_off` with `all` as the `entity_id`.
Consequently, I will close this issue for now, feel free to comment on here if you are still experiencing this issue.

[2020-08-29 20:33] #30987 closed

[2020-08-29 20:45] chemelli74 commented on #36196
Avoid stale in the hope that someone get assigned to the issue and can look into it.

Simone

[2020-08-29 21:02] chemelli74 commented on #38340
@jeremy-st can you please comment ?

Simone

[2020-08-29 21:07] golles commented on #32832
Hi,

I've been testing this earlier this week in the hope something has changed in one of the many recent updates. For me, the issue still remains.

[2020-08-29 22:03] #39349 closed

[2020-08-29 22:37] giggo commented on #35886
This works. Thanks

[2020-08-29 22:58] #33288 closed

[2020-08-29 22:58] #35814 closed

[2020-08-29 22:58] #35849 closed

[2020-08-29 22:58] #35690 closed

[2020-08-29 22:58] #34345 closed

[2020-08-29 22:58] #35871 closed

[2020-08-29 22:58] #31110 closed

[2020-08-29 22:58] #35528 closed

[2020-08-29 23:49] Mark612 commented on #38822
I'm also running on the NUC via docker, and having problems as well. HA continues to fault and restart.

[2020-08-30 00:00] ctalkington commented on #39181
@lukashass in your example did the song have 6 seconds left? or was it finished? i think the colon separate current and total but want to confirm that assumption

[2020-08-30 00:58] #34188 closed

[2020-08-30 01:21] pzuccar commented on #26837
This and other issues are probably fixed in [tuya custom](https://github.com/ollo69/ha_tuya_custom)

This specific issue appears to be fixed on [line 128](https://github.com/ollo69/ha_tuya_custom/blob/65c2276edbd4380d5e45300b7e5cb1ef78ce9c97/custom_components/tuya_custom/climate.py#L128) of climate.py

[2020-08-30 01:22] hursey013 opened #39395 "TP Link Dimmer switch (HS220) hardware version 2.0 not being discovered"
## The problem

TP Link Dimmer switch (HS220) hardware version 2.0 not being discovered. All other TP Link switches, bulbs, and plugs are successfully discovered.

## Environment

- Home Assistant Core release with the issue: 0.114.4
- Last working Home Assistant Core release (if known):
- Operating environment (OS/Container/Supervised/Core): Docker
- Integration causing this issue: TP Link
- Link

[2020-08-30 01:42] jhanvipandyacom commented on #30787
Any solution to this trouble?

I have TP-Link bulbs and they are in HomeKit.
Get the same error. Also, one of the bulb doesn’t respond to Siri, however all the tplink stuff responds as usual.

[2020-08-30 01:58] #34898 closed

[2020-08-30 02:56] #39203 closed

[2020-08-30 03:25] ctalkington commented on #38240
@prystupa heres another issue if you could review when you get a chance

[2020-08-30 03:30] ctalkington commented on #37912
looka like docs have been updated and merged. Closing

[2020-08-30 03:30] #37912 closed

[2020-08-30 05:59] tchellomello commented on #39135
Hitting the same issue. I'm using the docker image on a kubernetes cluster.
[code]

[2020-08-30 06:09] tchellomello commented on #39135
Connecting to the container and trying to install it manually, I got the problem:

[code]

Then trying to install the `tf-models-official==2.2.1` got the error below:

[code]

[2020-08-30 06:18] adonno commented on #39376
ok so after testing climate breaks stuff
https://paste.ubuntu.com/p/bZfr3rXVpK/  (still at rate_limit:5)

[2020-08-30 06:59] farmio commented on #39376
https://github.com/XKNX/xknx/issues/339
We have not yet merged the fix for this to HA.

[2020-08-30 08:01] alexanderznamensky commented on #38582
Hi.

Have you deleted all devices in HA or in MiHome also?
Thanks!

Best regards,
Alexander Znamensky

On Fri, Aug 28, 2020 at 8:54 PM fantasy9876 <notifications@github.com>
wrote:

[2020-08-30 08:09] alexanderznamensky commented on #38582
Hi!

Thanks for your kind support and suggestion!
I did your recommendation, but without success.
Probably I should delete all Aqara devices (I'm using also Motion sensors,
Temperature sensors, curtains and Open-close sensors).

*The question*: do we need to do this procedure after each core update?
Thanks in advance!

Best regards,
Alexander Znamensky

On Fri, Aug 28, 2020 at 4:55 PM manosioa <no

[2020-08-30 09:11] adonno commented on #39376
yup that was the issue

Yeah that was the issue

[2020-08-30 09:17] fantasy9876 commented on #38582
I figure out that deleting all other devices is not needed. Just need to get the right token and you'll be fine.

I used Bluestack, install Mi home version v5.4.49, use a File Manager to get to the log file to get the token(each time you connect the gateway to Mi Home it will generate a different token)

But my problem is that I could not use all the sensors and the subdevices of the Gateway.

[2020-08-30 09:36] pezik1 commented on #38156
I have the same problem - Home Assistant 0.114.4
"platform": "smart_life",
"country_code": "420",

but for climate sensor

[2020-08-30 10:08] schnellecom commented on #38903
Hi there,
I am having the same issue, is there any solution which keeps the default tuya integration?

[2020-08-30 10:37] garethhowell commented on #38455
I appreciate that this may be considered a small deficiency, but tempus fugit and it's starting to get colder. I'd really like this thermostat to be working before winter arrives :-)

[2020-08-30 10:40] fjufju commented on #31867
Looking forward to that :)

[2020-08-30 10:47] biejay commented on #39345
Hey springstan, thank you for your detailed report. It really seems to be the case, that the integration makes a different api call than I tried. Do you think its possible to integrate the DAILY APi call? I tested many different symbols but it seems that not all symbols are available in intraday.

[2020-08-30 10:51] grea09 commented on #33634
I wanted to get in that discussion about the possible utility meter integration. Indeed the old component was only getting raw data into home assistant. Since then we got a new tool to represent utility meters. I would like to help in development if needed to make it more user friendly. The main issue was that the data wasn't real-time and HA doesn't really handle history data. I tried discussing

[2020-08-30 11:07] scop opened #39403 "met: precipitation needs some rounding/float->decimal"
## The problem

Fired up a new HA instance, was greeted by this:

![Screenshot from 2020-08-30 14-05-14](https://user-images.githubusercontent.com/109152/91657485-dde01e00-eac9-11ea-8558-41cc575e391f.png)

Not sure if it's the met or the fronted who should be doing some rounding or float->decimal conversion for precipitation.

## Environment

- Home Assistant Core release with the issue: current d

[2020-08-30 11:08] springstan commented on #39345
No problem at all, biejay.
It is definitely possible to integrate the DAILY API call, however I believe that by including two api calls users would have to know the difference between these two api calls which makes setting up this integration more difficult.
See [ADR-0003](https://github.com/home-assistant/architecture/blob/master/adr/0003-monitor-condition-and-data-selectors.md#3-monitor-conditi

[2020-08-30 11:19] #39259 closed

[2020-08-30 12:07] timmo001 commented on #39182
That is one very insecure camera you have!

[2020-08-30 12:10] jwnmulder commented on #31604
Just created a pull request for handling OSError. Tested it a while on my side and seems to be working nicely

[2020-08-30 12:10] panenka commented on #39182
Yes, but behind firewall, without access from internet. So no problem with it.

[2020-08-30 12:25] StevenLooman commented on #39293
Just to check I have right thing in my mind: does the error disappear once the router is fully restarted?

[2020-08-30 12:56] frenck commented on #39403
This should have been fixed by PR #39076
This report is a duplicate of #38807

[2020-08-30 13:28] abey79 commented on #36268
This hasn't been resolved by the lastest version.

[2020-08-30 13:41] ar2rh commented on #39355
Happened again, no one at home and all tvs powers on at the same time

Nothing in home-assistant.log but there is nothing there about this
component at all (even if I switch the TV on and off manually). are the
logs stored somewhere else? Or do I need to enable them somehow?

On Sat, 29 Aug 2020, 10:07 Maciej Bieniek, <notifications@github.com> wrote:

[2020-08-30 14:05] vindicatorr commented on #39293
The error is only registered 1 time in the log.
The connection does not get reestablished and the router's IP address is static.

[2020-08-30 14:27] agatuan commented on #32981
For those with ""/ srv / homeassistant / lib / python3. 7 / site-pacchetti / pyezviz / camera.py ", riga 97, nello stato
'follow_move': self._switch [TYPE_FOLLOW_MOVE] ['enable'],
KeyError: 25":
Solved the problem for my cameras commenting out the "follow_move" property (setter & getter) in camera.py file.
Seems that for fixed cameras these attribute is not present giving error during component in

[2020-08-30 14:54] OliJue commented on #36869
While summertime the graphs looks strange, room temperature raising until around 25.6° and then drops to 0°...
Hopefully someone knows what to do?

[2020-08-30 15:21] prystupa commented on #38240
@pickerin @cazador481 If you are still having the problem, could you...?
1) Upgrade to the latest version (0.114.4) and check if the problem still there?
2) Force refresh your browser? Shift+F5 on Chrome. Is the problem still there?
3) If 1 and 2 don't fix it, what is the operating system language on your machine? I am wondering if this could be missing translations for non-English locale...

[2020-08-30 15:40] bdraco opened #39443 "Light device trigger test fails intermittently"
## The problem

This test fails intermittently
[code]
[code]

FAILED tests/components/light/test_device_trigger.py::test_if_fires_on_state_change_with_for[pyloop]

[2020-08-30 15:41] bdraco commented on #39443
Seen here https://github.com/home-assistant/core/pull/39432/checks?check_run_id=1047926994

[2020-08-30 15:45] bdraco opened #39445 "Canary missing password test fails intermittently"
## The problem

Setup timed out
`FAILED tests/components/canary/test_init.py::TestCanary::test_setup_with_missing_password`
[code]
```ERROR:homeassistant.config:Invalid config for [canary]: required key not provided @ data['canary']['password']. Got None. (See ?, line ?). Please check the docs at https://www.home-assistant.io/integrations/canary```

Seen here https://github.com/home-assistant/core

[2020-08-30 15:48] caddyblack commented on #39187
Luftdaten will close the connection with your ip address if too many reads are done in a certain timeframe. What the ljmit is I never discovered. I just stopped polling the server. Now my particle sensors send data to both the luftdaten server AND to homeassistant so homeassistant does not bother the luftdaten server anymore.
That solved the issue for me a few weeks ago.

[2020-08-30 15:51] bdraco opened #39447 "MaryTTS test test_service_say fails intermittently because it is not mocking the request"
## The problem

`2020-08-30T15:47:25.3527794Z FAILED tests/components/marytts/test_tts.py::TestTTSMaryTTSPlatform::test_service_say`
[code]
2020-08-30T15:47:25.2898536Z =================================== FAILURES ===================================
2020-08-30T15:47:25.2898714Z ___________________ TestTTSMaryTTSPlatform.test_service_say ____________________
2020-08-30T15:47:25.2901014Z [gw1] linux

[2020-08-30 16:03] hendmele opened #39451 "Problem adding camera using ONVIF integration"
## The problem
I am trying to add some cheap chinese camera on Home Assistant using ONVIF built-in integration.
After entering name, ip address, port, login and password I get an error message "Unknown error occurred"

Important to tell that I have no issues with the same configuration (ip/port/login/password) on Blue Iris or ONVIF Device Manager. Here is the inspect log from Blue Iris --> https:/

[2020-08-30 16:30] hudecitydave commented on #39187
Maybe this is a valid workaround. Would you share your config for that? Do you read the values from influxx? That would be my setup. Thanks!

[2020-08-30 17:02] ctalkington commented on #39447
@bdraco i wonder if the fixing the sync in async i did caused this to be more noticeable though the PR tests passed without issues...

[2020-08-30 18:13] #38793 closed

[2020-08-30 18:13] #39376 closed

[2020-08-30 18:34] Dunstkreis commented on #38699
To me it was easy to recreate the problem. I just went into the FritzBox Telephonebook and changed my mobile number from tie line to mobile and gave my FritzBox a new call from that.

I did a pull :latest and am on 0.114.4 now. Gonna give it a try tomorrow.

[2020-08-30 18:47] StevenLooman commented on #39293
What do you mean with this?

There is never a constant connection. Once every 30 seconds a new connection is made to get the traffic counters (a SOAP request over HTTP.)

[2020-08-30 18:58] #39447 closed

[2020-08-30 19:14] ssmall opened #39472 "arlo integration is broken"
## The problem

`arlo` integration fails to initialize with message

[code]

## Environment

- Home Assistant Core release with the issue: 0.114.1
- Last working Home Assistant Core release (if known): N/A
- Operating environment (OS/Container/Supervised/Core):  Container
- Integration causing this issue:  arlo
- Link to integration documentation on our website: https://www.home-assistant.io/integ

[2020-08-30 19:22] springstan commented on #39472
Please fill out the issue template, you can find it by clicking on `New Issue` and then selecting `Report a bug with Home Assistant`. Copy and paste the provided template into this already created issue, click preview to take a look at the empty template and then fill out as much as you can. Any additional information can be helpful!

Thanks for understanding :)

[2020-08-30 19:27] Bredin76 commented on #32981
HI,

I'm using camera CTQ6C which is something like a dome, so is able to TPZ and privacy...

i follow strictly @legoped process but, it doesn't work...

**What's ok :**
- I'm able to see ezviz.services in my lists
- Streaming image using the ezviz platform. I have framerate problems but -it works - so i guess i dont have any username/password problems

**What's wrong :**
 i'm unable to have servi

[2020-08-30 19:34] #39443 closed

[2020-08-30 19:44] vindicatorr commented on #39293
Okay, I looked into it a little more using wireshark this time and after my router comes back up and the request is made:
[code]
[code]

Wireshark has still been running the entire time I've been composing this and there had been no further connections made.

[2020-08-30 19:44] rytilahti commented on #39395
Can you check out if it is working with python-kasa? Looking at the related issue, this could be an issue related to payload sizes.

[2020-08-30 19:44] poisondima commented on #36638
Hi, I am using HA 0.114.4, my config is:
  - platform: yandex_transport
    stop_id: stop__10046486
    name: 'Автобус 99'
    routes:
    - 99
  - platform: yandex_transport
    stop_id: 3830496440
    name: 'Автобус 139'
    routes:
    - 139

And I have the same problem:
[code]

[2020-08-30 19:58] paoloantinori opened #39474 "Alexa Smart Home - Add unofficial support for specific APIs and Italian language"
## The problem
I've discovered that some API that is supposedly not supported in Italian, it is indeed. See https://community.home-assistant.io/t/recap-control-alexa-plugs-or-other-alexa-only-supported-devices/223192

Adding the missing languages allows the entities exposed to Alexa to be used as triggers in Routines.

## Traceback/Error logs
This is the dump of the discovery response that HA send

[2020-08-30 20:06] devbis commented on #36638
@poisondima , your issue is fixed, but it is not released yet.
You can update the version of `aioymaps` manually in the components/yandex_transport/manifest.json to `aioymaps==1.1.0` or wait for the major release.

[2020-08-30 20:15] schmurtzm commented on #39252
Modifications rejected (see here https://github.com/home-assistant/core/pull/39307#issuecomment-682423751 )
So I reopen the issue ;)

[2020-08-30 20:25] poisondima commented on #36638
I installed `aioymaps==1.1.0` -> `Successfully installed aioymaps-1.1.0`
Copied files from [yandex_transport](https://github.com/home-assistant/core/tree/dev/homeassistant/components/yandex_transport) to custom_components.

But still get the error **ValueError: Captcha required**
[code]

[2020-08-30 20:56] devbis commented on #36638
Yandex shows captcha if incorrect config force home assistant to refetch data multiple times.
It may be caused by duplicate components or by incorrect configuration.
To fix the captcha issue you should disable yandex_transport config for some time and then re-enable it again.

[2020-08-30 21:09] kcbleeker commented on #36181
Yes please

[2020-08-30 21:23] medmunds commented on #35196
@stale this is still an issue as of 0.114.3.

Looks like #38725 might resolve it.

[2020-08-30 21:37] MattWestb commented on #38706
The hue ones is one not ZB3 LL / HA hybrids but is normally working well.
The basic function is LL on/off controller device tuned with little HA goodies.
![PHMOTION](https://user-images.githubusercontent.com/49618193/91669952-515d4c00-eb19-11ea-8b21-029401342a36.PNG)
(deCONZ screen)

[2020-08-30 21:39] #39182 closed

[2020-08-30 21:42] JamiePhonic commented on #35196
Issue is still present in latest 0.14.3.
PR #38725 will resolve if merged.

[2020-08-30 21:44] amelchio commented on #36784
This seems stale, closing it.

[2020-08-30 21:44] #36784 closed

[2020-08-30 21:45] bdraco commented on #38973
Config option to disable the `quick_check` https://github.com/home-assistant/core/pull/39479

[2020-08-30 21:45] bdraco commented on #38973
When using SQLite, if Home Assistant does not restart cleanly or the recorder fails to shut down, a `quick_check` is performed on the database to ensure it is usable. If `db_integrity_check` is disabled, the system will only perform necessary sanity checks and skip the `quick_check`. Home Assistant may not be able to automatically recover and start the recorder in the event the database is malform

[2020-08-30 21:50] springstan commented on #39300
Have you tried the python-connect-box [example](https://github.com/home-assistant-ecosystem/python-connect-box/blob/master/example.py) to rule out that the python package still works with your box?

[2020-08-30 22:00] Tony763 opened #39481 "Input boolean initial state not work"
## The problem

Setting input boolean initial to `false` or `off` does not work. After HA is restarted, boolean goes back to `on` position.

## Environment

- Home Assistant Core release with the issue: 0.114.4
- Last working Home Assistant Core release (if known): 0.111.4
- Operating environment (OS/Container/Supervised/Core): Ubuntu 19.10 x64 - Pip Python 3.7
- Integration causing this issue: In

[2020-08-30 22:21] igloo15 commented on #39270
I also am having this same issue but additionally none of my commands work and I can't even get my account linked. It shows up under services but then times out when linking.

[2020-08-30 23:11] igloo15 commented on #31054
I also just starting running into this issue. I tried to relink my home assistant account and got a message saying Google Home "Couldn't update the setting. Check your connection.". This is after I logged in and was forwarded back to my google home from homeassistant.

I tried setting the service account as project owner. I tried disconnecting phone from wifi. I tried changing my project linking.

[2020-08-30 23:12] ochlocracy commented on #39474
Just change your config `locale` to `en-US` if you want to expose all the endpoints, no need to change the source code.

[code]

Otherwise they are filtered to the official supported locales to comply with the Alexa developer guidelines. I'll address the rest of this in your PR.

[2020-08-30 23:12] #39474 closed

[2020-08-31 00:19] raz0rf0x commented on #39349
Off now works by selecting from the pulldown but I have found a new issue where calling the "fan.set_speed" causes the identical issue as above. I can select low, medium, or high, but if I attempt to call

`fan.set_speed
entity_id: fan.bond_fan
speed: off`

it will change the fan speed to 'medium'.

Should I open a new issue?

[2020-08-31 00:23] Doelfke opened #39485 "aREST temp / humidity sensors do not show up in Homekit"
Everything is working fine on the HASS side, I can see the current sensor data there, but they do not show up in Homekit.  sensor.bedroom_temperature and sensor.bedroom_humidity show up in "Exclude entities in selected domains from bridge", but nada.

config:
`sensor:
  - platform: arest
    name: 'bedroom'
    resource: http://192.168.1.xxx:3000/bedroom
    monitored_variables:
      temperature:

[2020-08-31 00:25] raz0rf0x commented on #39349
@prystupa
Off now works by selecting from the pulldown but I have found a new issue where calling the "fan.set_speed" causes the identical issue as above. I can select low, medium, or high, but if I attempt to call

[code]

it will change the fan speed to 'medium'.

Should I open a new issue?

[2020-08-31 00:26] prystupa commented on #39349
Hi @raz0rf0x I will fix the direct call to the set_speed - but just could you let me know what the use case is? How do you cause the UI to call it directly? Or do you have some kind of automation where you call HA APIs directly?

[2020-08-31 00:34] #36144 closed

[2020-08-31 00:34] #36038 closed

[2020-08-31 00:34] #35597 closed

[2020-08-31 00:34] #24873 closed

[2020-08-31 00:34] #33394 closed

[2020-08-31 00:34] #29951 closed

[2020-08-31 00:34] #35780 closed

[2020-08-31 00:34] #36042 closed

[2020-08-31 00:34] #34763 closed

[2020-08-31 00:36] raz0rf0x commented on #39349
@prystupa
The specific case where I first noticed it was that the lovelace custom component ["fan control entity row"](https://github.com/finity69x2/fan-control-entity-row) was no longer working correctly. Attempting to turn it off would result in the fan speed being changed to medium. I can see that the default action when the component is given an unknown speed is to switch to medium.

I underst

[2020-08-31 00:59] raz0rf0x commented on #39349
FWIW:
Making the following change to that add-on:
[code]
resolved the issue with the bond fan. I will be contacting the maintainer for the other to suggest a configuration in order to not send the speed along with the turn_off.

[2020-08-31 01:19] i00 opened #39487 "states.sensor.XXX_geocoded_location.attributes.Location is now a string??"
## The problem

The geocoded_location.location sensor used to have location expressed as an array of 2 numbers for example:
[-27.468556999999997, 153.0240753]
Thus calling: {{ states.sensor.XXX_geocoded_location.attributes.Location[0] }} would return -27.468556999999997
Now it is a string:
'[-27.468556999999997, 153.0240753]'
Thus calling: {{ states.sensor.XXX_geocoded_location.attributes.Location

[2020-08-31 01:44] igloo15 commented on #39270
Actually my issue ended up being that I was mixing diagflow integration with my google assistant integration in one action project which did not work correctly.

[2020-08-31 01:48] raz0rf0x commented on #39349
This resolves the issue with the other custom component.
Thank you.

[2020-08-31 04:34] #36005 closed

[2020-08-31 04:34] #36146 closed

[2020-08-31 04:34] #23317 closed

[2020-08-31 04:39] elupus commented on #31054
404 on report means a device is reported that wasn't synced

[2020-08-31 05:49] tylerszabo commented on #33095
I think this issue should be reopened or it'll be doomed to be duped. See #39472

[2020-08-31 05:50] tylerszabo commented on #39472
@springstan can we just use #33095?

[2020-08-31 06:59] frenck commented on #39472
No, we cannot, that issue has been closed stale after there was no confirmation the issue was still present. A new issue, like this one, can be created. Although it does need to follow the issue template as requested by @springstan.

Thanks 👍

[2020-08-31 07:00] ihaettypo commented on #38815
Same problem here! Any news?

[2020-08-31 07:01] frenck commented on #39485
Hi there @Doelfke!

Thanks for opening up an issue. However, when opening an issue, an issue template is presented. It seems like you have removed it. Please edit your issue description to include that template and provide as much of the requested details as possible.

Without it, we won't be able to help you.

Thanks already! 👍

[2020-08-31 07:35] Doelfke commented on #39485
Sorry, are you saying no one is able to read and address this issue, because I did it fill out a form?

[2020-08-31 07:58] frenck commented on #39485
Yes. The template asks for additional information you didn't provide. The template is there for a reason. 👍

[2020-08-31 08:02] gpgmailencrypt opened #39494 "Database Update Error when shutting down"
## The problem
When shutting down home-assistant there appears a database  UPDATE error

## Environment

- Home Assistant Core release with the issue: 0.114.4
- Last working Home Assistant Core release (if known):
- Operating environment (OS/Container/Supervised/Core):  Raspbian GNU/Linux 10 (buster)
- Integration causing this issue:
- Link to integration documentation on our website:

## Problem-

[2020-08-31 08:33] cagnulein commented on #34763
@pploume did you solve in some way? i have the same issue on the same camera :(

[2020-08-31 08:33] chrisgonzales commented on #19450
was this something that was ever implemented got a hold of these and connected it but doesn't report anything but battery, was able to get the firmware updated

[2020-08-31 08:34] #36149 closed

[2020-08-31 08:41] antoineguigan opened #39497 "cannot add the meteo france integration"
## The problem

I cannot add the meteo france integration. Everytime I try, I get the following error in the logs:

Component error: meteo_france - cannot import name 'meteofranceClient' from 'meteofrance.client' (/srv/homeassistant/lib/python3.7/site-packages/meteofrance/client.py)

## Environment

- Home Assistant Core release with the issue:  0.106.5
- Last working Home Assistant Core release (

[2020-08-31 08:51] #37552 closed

[2020-08-31 09:03] shudack opened #39498 "AttributeError: 'NoneType' object has no attribute 'items'"
## The problem
The integration crashes and device tracking is not working anymore until a full HA reboot.

## Environment
- Home Assistant Core release with the issue:  0.114.4
- Last working Home Assistant Core release (if known): N/A
- Operating environment (OS/Container/Supervised/Core): Core
- Integration causing this issue: OpenWRT luci
- Link to integration documentation on our website:

##

[2020-08-31 09:26] seimsel commented on #19450
As far as I know direct binding for these is not supported yet. But it should be possible to create an automation that listens for a zha_event and sets the brightness of a light (or even changes something else).

[2020-08-31 09:26] utkiupe commented on #33634
isn't that how the utility meter works already?
you can set it up with tariffs and find a way to display informations in Lovelace. I personally use the mini card card extension to display nice daily bar charts.
But maybe this is not what you are talking about :)

[2020-08-31 09:43] h4de5 opened #39499 "IPP attribute "state message" does not get reset"
## The problem

I have a HP network printer and a Synology NAS which provides the IPP service making the printer available even when it's turned off. I added the IPP printer into Hass, I see when its idle and printing. I also see the "state message" to have serveral different states. So far all fine.

**My plan:** The printer's outlet is off most of the time. When I print something, I send the job

[2020-08-31 09:53] zen2 commented on #27371
Services discovered on Linux using _"avahi-browse-domains -a"_
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2020-08-31 10:00] Bazmundi opened #39500 "core/homeassistant/components/bom incredibly precise!"
## The problem

  core/homeassistant/components/bom/ reports precipitation in mm down to 15 decimal places, which I believe is smaller than the size of an atom.
## Environment

arch | armv7l
-- | --
dev | false
docker | true
hassio | false
installation_type | Home Assistant Container
os_name | Linux
os_version | 4.19.118-v7+
python_version | 3.8.3
timezone | Australia/Adelaide
version | 0.114.4
vi

[2020-08-31 10:03] ludeeus commented on #39500
That is a good thing right?

[2020-08-31 10:12] Derkades commented on #36221
I can reproduce this on 0.114.4

[2020-08-31 10:34] #36076 closed

[2020-08-31 10:55] robbieglenister commented on #32142
Yes I have the same issue on 0.114.4.  Files are created with name like 049d5c273ee40743e530ee17aa47421919a1e5b7_en-gb_f6586ab9d1_marytts.wave_file, raising an Illegal MIME-Type error in Sonos.

[2020-08-31 11:03] bieniu commented on #39355
If you want to debug `braviatv` integration add to the `logger` configuration:
[code]

[2020-08-31 11:41] spacegaier commented on #38407
Idea: Extend `InvalidDeviceAutomationConfig` to contain attributes for entity_id and device_id that can be filled by the raiser (compare exception `Unauthorized`) and then either catch the exception somewhere and log a message then or even simpler, have the constructor of the exception log them already. Although the latter might not be ideal since then if you want to catch the exception somewhere

[2020-08-31 11:47] welcoMattic commented on #37596
It's ok for me

[2020-08-31 11:47] #37596 closed

[2020-08-31 11:51] jyavenard opened #39503 "#39010 regressed Alexa hue emulation, now all devices reported as non-res"
## The problem

Just upgraded to 0.114.4 from 0.114.2

Now Alexa reports all my lights as non responding.

## Environment

- Home Assistant Core release with the issue: 1.114.3
- Last working Home Assistant Core release (if known): 1.114.2
- Operating environment (OS/Container/Supervised/Core):  Supervised RPI 3
- Integration causing this issue: emulated hue
- Link to integration documentation on

[2020-08-31 11:54] bdraco commented on #36766
@jef-pearlman any luck with this fix?

[2020-08-31 11:57] jyavenard commented on #39503
#39010 is the cause of the regression, adding it here so that github links it to it.

[2020-08-31 12:03] starkillerOG commented on #38324
@oleg-l I see you have a `lumi.gateway.mgl03` that gateway has not be tested before because I do not own one and had not found anyone yet that had one.
Would you be willing to help implement support for the `lumi.gateway.mgl03`?

[2020-08-31 12:09] starkillerOG commented on #38324
@oleg-l could you run the following python code and see what you get as a response:
[code]

[2020-08-31 12:31] Quentame commented on #33634
I was 2 weeks in vacation.

Will be back to work in 1-2 weeks.

When I left, I saw an issue in the @jluc2808 wrapper API that needs changes.
I contacted him.

[2020-08-31 12:37] Quentame commented on #39497
Hi !

The issue happens because you already got a lib (the one used before) with the same name as the new, but the content is different.

- Stop HA
- In the terminal : `rm -r /srv/homeassistant/lib/python3.7/site-packages/meteofrance`
- Boot HA

BTW, the French community developped this integration, visit us here : https://discord.com/invite/PaZFEjX

[2020-08-31 12:53] dshokouhi commented on #39487
Which app is this? Official iOS or Android?

[2020-08-31 13:01] springstan commented on #39503
Are you referring to #39063?

[2020-08-31 13:26] antoineguigan commented on #39497
Thanks for your answer and the discord link  @Quentame,

Unfortunately, I now get

Is there something else I should do ?

[2020-08-31 13:30] Quentame commented on #39497
It should not, normally HA should install the dependency, that's odd.

So, try:
- stop HA
- in the terminal : `pip install meteofrance`
- boot HA

[2020-08-31 13:34] #35354 closed

[2020-08-31 13:36] Quentame commented on #38838
You have only one city configured ?

Try to :
- remove the integration
- clean entries if needed
- re boot/add the integration

[2020-08-31 13:38] antoineguigan commented on #39497
I think I understand, everything got installed in /home/homeassistant/.local/lib/python3.7/site-packages
I copied the meteofrance lib under /srv/homeassistant/lib/python3.7/site-packages and it now works perfectly

Maybe there is something wrong with my setup?

Thanks a lot!

[2020-08-31 13:40] antoineguigan commented on #39497
I was a bit quick, I now get

"Unexpected error when creating the meteofrance proxy: Error: www.meteofrance.com is overloaded or in maintenance and return a redirection. Unable to get the data from the source."

[2020-08-31 13:53] #38150 closed

[2020-08-31 13:53] coreGreenberet opened #39505 "Wrong error message on adding a new homematicip_cloud AP"
## The problem
The integration wizard is displaying "unknown error" instead of "invalid/missing PIN".

### Steps to reproduce
* Configure a PIN on the HAP
* Add the HAP to home assistant without providing the PIN
* "Unknown Error"

## Environment
- Home Assistant Core release with the issue: 0.114.4
- Last working Home Assistant Core release (if known):
- Operating environment (OS/Container/Superv

[2020-08-31 13:54] coreGreenberet commented on #39505
@SukramJ

[2020-08-31 13:55] oncleben31 commented on #39497
Hey you are 8 releases behind the one where the new meteo_france integration was released. It will be difficult to help you on your very specific setup. The official integration rely on HA core framework and it probably relies on features not yet supported in 0.106.6.

Installing it as a custom component was a workaround with the issue open with the previous version. There is no guarantee it will

[2020-08-31 13:56] Adminiuga commented on #39481
I can't seem to reproduce with current dev:
`configuration.yaml`:
[code]

Recorded boolean state (`core.restore_state`) after HA graceful shutdown:
[code]

State of the booleans after a restart:
[code]

[2020-08-31 13:56] antoineguigan commented on #39497
I just realized my homeassistant was upgraded in the wrong place, sorry for all that

[2020-08-31 13:56] ttaidapos commented on #35961
I would really like the ability to re-open this.

[2020-08-31 13:57] oncleben31 commented on #39497
The error message you have is from the previous version.

[2020-08-31 13:57] Adminiuga commented on #39481
initial state seem to override the saved state of the entity.

[2020-08-31 14:01] oncleben31 commented on #38838
@Quentame it seems the migration from 0.113.x is not working sometimes. I had a similar issue with duplicated entities created just after 0.114.0 installation.

[2020-08-31 14:06] antoineguigan commented on #39497
I didn't activate the virtual environment while upgrading, sorry for the loss of time, and thanks a lot for your help.

[2020-08-31 14:16] ELANDJEA commented on #39263
This issue sounds familiar....over the last few days I see my RP3 sometimes being accessable and sometimes for a couple of minutes not responding on the web interface. (still trying to figure out what is happening...for myself)

[2020-08-31 14:24] maddenp commented on #39500
Sorry I can't help with this -- I only maintain the camera component. If @Bazmundi is right, though, that level of precision would be inappropriate as a precipitation measurement.

[2020-08-31 14:26] oncleben31 commented on #39497
OK cool. Can you close the issue ?

[2020-08-31 14:32] antoineguigan commented on #39497
sure!

[2020-08-31 14:34] #36043 closed

[2020-08-31 14:38] stlehmann commented on #38150
The fixed version of the ADS-component has been merged to the dev branch and awaits testing 😄

[2020-08-31 14:40] #26574 closed

[2020-08-31 14:40] #35862 closed

[2020-08-31 14:40] #36923 closed

[2020-08-31 14:40] #36726 closed

[2020-08-31 14:42] dmak commented on #23920
HASS v0.111 allows UI to start despite from failing integration but this does not solve the problem.

[2020-08-31 14:51] poisondima commented on #36638
@devbis, what can I do wrong? )
[code]

[2020-08-31 14:51] Adminiuga commented on #39481
Checked on 0.114.4 and couldn't reproduce the problem.

[2020-08-31 14:55] metaxis opened #39509 "changing device name does not update disabled entity names"
## The problem

Changed device name, said yes to update entity names.  Enabled a disabled entity of that device, noted that the entity name does not and will not update to match device name even with subsequent device name changes.  Manually overriding the entity name prefix to coincide with the device name allows further device name updates to fix up that entity name.  Observed disabled entities

[2020-08-31 14:56] flannelman173 commented on #38437
Stopping by to drop an update. I still have the same issues as originally posted. When a device becomes unavailable, the last seen value is current but the name and mfg are "UNK", like the second image on the original post. Proceeding as suggested will restore the device but not prevent from dropping later.

[2020-08-31 14:58] #39497 closed

[2020-08-31 15:01] Adminiuga commented on #38437
Complete these steps:

1. Copy device's ieee address.
2. Remove the device from UI
3. Call zha.remove service with ieee_address: device_ieee and make sure you get warning "device not found for removal"
4. Then rejoin the device, by resetting it, not but pulling the battery

[2020-08-31 15:03] flannelman173 commented on #38437
This is the method I referred to for restoring devices. It works to restore but it will not prevent from becoming unavailable.

[2020-08-31 15:07] Adminiuga commented on #38437
Make sure homeassistant user has write privileges to `zigbee.db` file.
enable debug logging per zha integration documentation. post debug log for step # 3 and step #4

[2020-08-31 15:30] thomasgermain opened #39512 "Brother: Error doing job: Exception in callback AbstractTransportDispatcher._cbFun"
## The problem

*Sometimes* (I can't determine it exactly, but not on every update) the error occurred.
`10.0.1.6` is the ip address of my brother DCP-L2530DW.

This is actually quite hard to know if entities are updated or not since this is the kind of entities that are not moving a lot.

## Environment

- Home Assistant Core release with the issue: 0.114.2
- Last working Home Assistant Core rele

[2020-08-31 15:30] flannelman173 commented on #38437
Write privileges are good. I just noticed your comment on step # 3 - I do not get the "device not found for removal" warning when I run the service.

[2020-08-31 15:35] Adminiuga commented on #38437
run it twice, but wait about 45s between each run. For battery operated devices there's a timeout of up to 45s

[2020-08-31 15:38] springstan commented on #39500
@Bazmundi could you please test my PR to ensure that it works with all sensor types? Thanks a lot :+1:

[2020-08-31 15:55] rebmemer commented on #39345
Hi gang,

I thought I'd chime in as I've been looking into the same issue.  Long story short it appears AlphaVantage do not support non-US based stocks, so I don't think there is a fault in your stock symbol being passed - I think AV just don't have the data for it.

Unofficially they don't declare anywhere that they don't support non-US symbols but looking online..it definitely seems to be the ca

[2020-08-31 15:58] springstan commented on #36228
Is this still an issue or has this been resolved by #38794?

[2020-08-31 15:59] springstan commented on #39345
That is a great idea, please create a PR in [home-assistant.io ](https://github.com/home-assistant/home-assistant.io/) for that.

[2020-08-31 16:00] springstan commented on #36903
Is this still an issue?

[2020-08-31 16:04] majkers commented on #28134
Still exists

[2020-08-31 16:18] #39046 closed

[2020-08-31 16:24] Nihvel opened #39517 "Unmanaged condition within templates stops the execution of automation and script"
Since the update to 0.113, automation (and script) as follow are no more executed until the last action. When a `service_template` hit the 'issue', the process is canceled.

[code]
If `input_boolean.morning_mode == off` and `binary_sensor.diningroom_occupancy == off`
The `input_boolean.dummy_variable` changes its state.

If any of those template has a 'unmanaged' state, the dummy variable won't ch

[2020-08-31 16:25] nukefrenzy commented on #37175
I had this same problem with my 960.  I could see the info about its status, but could not control it.  I rebooted the roomba by holding the clean button for 10+ seconds and then everything worked fine for me.

[2020-08-31 16:44] alexanderznamensky commented on #38582
Hi!
Thank you!

But I have received my token and key of gateway. And everything is working
with core 0.112.4.
As soon as I have updated to next core version, I'm not able to use Xiaomi
Gateway Integration (process of installation is saying Success, but there
is no Gateway:
[image: image.png]
As a result I'm not able to use Alarm of Gateway. All Zigbee sensors and
entities are OK.

Best regards,
Al

[2020-08-31 16:49] BjoernPetersen commented on #32446
Still an issue

[2020-08-31 16:53] bieniu commented on #39512
Is this a complete traceback?

[2020-08-31 17:04] bdraco opened #39519 "pilight throttle test fails intermittently"
## The problem

`FAILED tests/components/pilight/test_init.py::TestPilightCallrateThrottler::test_call_rate_delay_throttle_enabled`
[code]

[2020-08-31 17:31] thomasgermain commented on #39512
Yes.. as a developer myself, i'm really sorry to only give you that 😞.
I Can enable debug log and see if there is something interresting

[2020-08-31 17:41] bieniu commented on #39512
Please enable debug log. Maybe we can get more information.

[2020-08-31 17:54] bdraco opened #39523 "dyson climate test fails intermittently"
## The problem

`ERROR tests/components/dyson/test_climate.py::test_purehotcool_empty_env_attributes[pyloop]`

[code]

[2020-08-31 18:11] #38197 closed

[2020-08-31 18:11] #38277 closed

[2020-08-31 18:11] #38786 closed

[2020-08-31 18:11] #39113 closed

[2020-08-31 18:13] ckhyatt opened #39526 "August Smart Lock failing with Home Assistant"
## The problem

August Smart lock is not controllable via HA. It appears from the log that they may have made an API change:

[code]

This began around 10:30 AM this morning.

## Environment

- Home Assistant Core release with the issue: 114.4
- Last working Home Assistant Core release (if known): 114.4
- Operating environment (OS/Container/Supervised/Core): OS
- Integration causing this issue: Au

[2020-08-31 18:16] thomasgermain commented on #39512
there is not much info, same traceback and just one log saying fetching is done.

Maybe I can add some log according to your needs ? Just tell me what can be useful

[code]

[2020-08-31 18:22] ssmall commented on #39472
Glad to see that the maintainers of HomeAssistant are committed to bureaucracy over fixing broken functionality. The information you're requesting is also present in https://github.com/home-assistant/core/issues/33818, which you resolved as a duplicated of the now-closed issue that you're refusing to re-open.

[2020-08-31 18:22] derekatkins commented on #36128
For what it's worth I am seeing this from an automation from an isy994 integration in 0.114.3.  I get the error when the automation fires, so it is unlikely to do with a delay in when the entity arrives into the system -- I can reload my automations and make this error appear.  However, in my case it is somewhat ISY-specific -- if I do:
[code]
it works fine, but if I use the ISY-specific service t

[2020-08-31 18:25] bieniu commented on #39512
So the error occurs after a successful data fetch?

[2020-08-31 18:30] thomasgermain commented on #39512
I would say yes for 2 reasons:
- order of the log (while I'm not gonna trust the print order)
- even if the error occurred, entities are created and available

[2020-08-31 18:53] Tony763 commented on #39481
Tried also with docker. I use configuraton.yaml, automation.yaml, auth, auth_provider and person.
Below is my config directory I use.
[git](https://github.com/Tony763/mycroft-homeassistant/tree/travis-test/test/travis-ci/HA)

[2020-08-31 18:54] bdraco commented on #39526
It looks like your credentials expired or your password as changed for some reason.  Please try removing and setting the integration back up.

[2020-08-31 18:54] lukashass commented on #39181
@ctalkington

Yes, exactly.

I think so too.

[2020-08-31 18:56] ckhyatt commented on #39526
Strange. No change on my end and works fine in the August app. I will give this a try and report the results. Thanks!

[2020-08-31 19:08] PierreScerri commented on #38786
And what does that mean?

[2020-08-31 19:19] ckhyatt commented on #39526
Unfortunately, the same error and it doesn't setup any entities.

[2020-08-31 19:37] luisiam commented on #39526
Remove the .xxxxxx.august.conf file under /config and try again.

[2020-08-31 19:45] ckhyatt commented on #39526
Unfortunately there is no file by that name in /config.

[2020-08-31 19:47] luisiam commented on #39526
xxxxxx is your email or phone number depends on how you set up the integration and it’s a hidden file.

[2020-08-31 19:48] ckhyatt commented on #39526
Ah, email, not phone. I wondered if it was hidden. Let me check again.

[2020-08-31 19:54] thomasgermain commented on #39512
Sorry for the double post, enabling debug for `brother` python package (so not the integration) gives the following log (data from my printer). BUT strange thing is that I don't get the error anymore. I'll let you know tomorrow if I get error during the night.

[code]

[2020-08-31 19:56] ckhyatt commented on #39526
I was able to delete the file in File Editor and delete and setup the integration again successfully. Any notion what happened at 10:30 this morning to cause this? Thanks!

[2020-08-31 19:57] kornrunner commented on #33198
For me, following changes in `configuration.yaml` helped:

[code]

[2020-08-31 19:58] ssmall commented on #39472
@springstan @frenck PTAL, I have updated the issue description with the information you requested. It would be great to figure out a fix for this since it appears it has been broken since at least March of this year.

[2020-08-31 20:27] frenck commented on #39472
Not sure if that was called for. I think it was a fairly nicely asked for the extra data (that the template takes care of) just to prevent missing info over and over again. If you want to call that bureaucracy, sure... I would like to call it efficiency in a large project that currently deals with a lot of things.

Please note that that issue was automatically closed because nobody cared to confir

[2020-08-31 20:30] mezz64 commented on #39086
Have you tried hitting any of the API urls directly from the browser and logging in with the 20char password?  This component is using standard python requests authentication methods under the hood so the issue may actually lie with the camera not accepting passwords that long to the API endpoints.

[2020-08-31 20:30] Adminiuga commented on #39481
So, it is behaving exactly as designed, no? You set it to "on" on home assistant start. Initial state won't matter, would it?

[2020-08-31 20:33] mezz64 commented on #34446
@skank01 Unfortunately I don't have much free time these days to work on it.  I'll happily accept any needed PR's on the underlying library if something needs tweaked for someone else to make the code changes though.

[2020-08-31 20:38] Tony763 commented on #39481
Ow, that is it. There must be no trigger as the automation is trigered from outside of HA. It had to be rewrote when I opened an automation from UI. Sorry for issue.

[2020-08-31 20:38] #39481 closed

[2020-08-31 21:05] mfisher87 commented on #24814
I encountered this issue after changing the `unit_of_measurement` for a template sensor from `°F/sec` to `°F/min` during initial setup/playing around. My history-graph components all showed the original units, not the new units. I love that the homeassistant database is sqlite, because I can go poke around in and try to see problems.

Open the db with write access:
[code]
Look at some records for

[2020-08-31 21:07] jimpridemore commented on #35975
I am not sure I understand all of this but I just installed a new homeassistant running version 114 and I am getting these messages alternating every 30 seconds...

2020-08-31 13:53:46 INFO (SyncWorker_32) [homeassistant.components.imap_email_content.sensor] Connection to imap.gmail.com lost, attempting to reconnect
2020-08-31 13:53:47 INFO (SyncWorker_32) [homeassistant.components.imap_email_cont

[2020-08-31 21:12] isk0001y commented on #35975
Hi,

These logs were added explicitly on request, to see where exits are
happening.
Older versions did not log at all.
What is the problem you are encountering?

jimpridemore <notifications@github.com> schrieb am Mo. 31. Aug. 2020 um
23:07:

[2020-08-31 21:25] Peklaa commented on #39033
Great stuff! For me it's things like template sensors, template switches, command line switches that usually require a couple of tries before I have them error free and working the way I want.
The integration that recently made me do a number of configuration.yaml edits was rfxtrx, because of how its configuration has changed.

[2020-08-31 21:28] jimpridemore commented on #35975
The problem I am encountering is a continual string of messages, "Connection to imap.gmail.com lost, attempting to reconnect"  One second later, the message "Reconnect to imap.gmail.com succeeded, trying last message", and this sequence of messages goes on infinitely.  When I googled "Connection to imap.gmail.com lost, attempting to reconnect", I was directed to this thread.  This is not happening

[2020-08-31 21:32] KevinPD66 opened #39536 "Ecobee Integration Stopped Working for me."
## The problem

The Ecobee integration stopped working today. I have checked the Ecobee consumer portal and the key and application are still valid for home assistant. As well, the Ecobee portal correctly identifies and reports on my 2 thermostats. I should also mention that I have restarted and rebooted the home assistant box twice to make sure it wasn't something in the boot process.

## Environ

[2020-08-31 21:49] bdraco commented on #39033
The solution used for `homekit` will likely work for `rfxtrx` if the code owner is interested in implementing it.

[2020-08-31 22:08] Doelfke opened #39537 "aREST temp / humidity sensors do not show up in Homekit"
## The problem
aREST temp / humidity sensors do not show up in Homekit

## Environment
HassOS 4.11

- Home Assistant Core release with the issue:  4.11
- Last working Home Assistant Core release (if known):  N/A
- Operating environment (OS/Container/Supervised/Core):  Core
- Integration causing this issue: aREST
- Link to integration documentation on our website:  https://www.home-assistant.io/int

[2020-08-31 22:08] #39485 closed

[2020-08-31 22:36] jyavenard commented on #39503
Indeed sorry,

[2020-08-31 22:42] jyavenard commented on #39503
So I can provide more details on why #39063 was needed for some.

#39063 in effect reverted #37978.

The core issue is that as far as Alexa is concerned, a device that reports to be dimmable is not the same as one that reports as being non-dimmable. They will show up twice after a rescan.

So you *must* have Alexa look for new devices.

Forcing a non-dimmable device to be reported as dimmable is n

[2020-08-31 23:54] i00 commented on #39487
@dshokouhi I am using the Official Android app ... I am not 100% sure what integration this is part of ... if there is other _geocoded_location's created for other trackers it may affect them too!

[2020-09-01 00:19] jimpridemore commented on #35975
FYI, I sent an email to the mailbox I use to monitor in homeassistant.  Once there was an email in the mailbox, these messages no longer appeared.  That will be my workaround, (always keep at least one email in the inbox) until this issue is resolved, if ever.  Thanks!

[2020-09-01 00:20] IIAIronWolf commented on #33198
Yes this is already fixed. Closing.

[2020-09-01 00:21] #33198 closed

[2020-09-01 01:13] mstarks01 commented on #39086
I'll give that a try. Please give me a few days as I'm a bit busy with work at the moment.

[2020-09-01 02:36] Leapo commented on #24814
The workaround posted by mfisher87 didn't work for me. I have no unit discrepancy in my database, and even clearing all history (on the chance I missed something) and that didn't help either. :/

[2020-09-01 04:27] k-rock commented on #35202
I am noticing the same issue this week - latest firmware

[2020-09-01 05:04] ottelo9 commented on #38963
any news/update?

[2020-09-01 05:07] SukramJ commented on #39505
I'll have a look at it on thursday.

[2020-09-01 06:02] adamkrol93 commented on #38963
I am still testing. As you know the issue occurs after few days so I need to have time to test it :) Also I had a problem with electricity at home so my wolf smartset device was turned off for a couple of days.

[2020-09-01 06:33] Dunstkreis commented on #38699
Couldn't recreate the issue. If there hasnt been any change I am really sorry for this report here. I was confident in recreating it!?

[2020-09-01 06:33] #38699 closed

[2020-09-01 06:38] oleg-l commented on #38324
Hello @starkillerOG !
Surely, I'll do my best.

The output of your script is:
[{'did': 'lumi.158d000445dd37', 'model': 'lumi.sensor_ht.v1', 'num': 1, 'total': 1}]

[2020-09-01 06:46] oleg-l commented on #38324
@starkillerOG Yesterday I've got to know about alternative solution - https://github.com/AlexxIT/XiaomiGateway3

[2020-09-01 06:47] springstan commented on #38699
No worries at all. I know that mentality but sometimes the problem is just a one time thing 😁

[2020-09-01 06:59] fabaff commented on #39537
The `arest` integration has no support for Homekit.

[2020-09-01 07:04] tbarbette commented on #22078
Don't bother, enable_telnet doesn't work with DGNWQ05LM.

It seems once you have the device list everything is ready in python-miio. Did anybody manage to run the sample from https://github.com/rytilahti/python-miio/issues/728 up to the list? I'd like to give it a shot.

[2020-09-01 07:48] starkillerOG commented on #38324
I will continue the discussion in rytilahti/python-miio#807

[2020-09-01 07:55] thethereza commented on #25163
I bought teckin (tuya) bulbs and one works great with rgb control.  However, the other is being reported back by tuya as a switch which only allows me to turn it on and off.  This thread has been dead for a long time -- did the issue get resolved for everyone?

[2020-09-01 08:28] lichtteil commented on #39187
If the sensor is in the same network like HASS you might consider my custom component https://github.com/lichtteil/local_luftdaten

[2020-09-01 08:55] aaamoeder opened #39544 "Sensors in SAJ not available on HA restart while converter not online"
## Description
When restarting HA while the converter is offline due to clouds or darkness the sensors do not populate, and do not come back when the converter comes online again, making a restart during the day (when there is solar production) necessary to make this work.
previously mentioned here https://github.com/home-assistant/core/pull/29009#issue-344893532
but the issue seems to have return

[2020-09-01 09:06] JackPoint commented on #39077
I solved my problem. There was an ip in the ip_bans.yaml that seems to be used by HA. The strange thing is, it worked for 5 months with that ip there. Maybe docker/ha something changed internal ip's after the 5 months and it blocked access.

[2020-09-01 09:11] pploume commented on #34763
Hi,
No ... no good solution really working for long (> 48 hours) time.
Tried to change profile several times, but stuck.

Looking for another chinese ip camera, that'll work.
If you have any (good) suggestions ...
:)

On Mon, Aug 31, 2020 at 10:33 AM cagnulein <notifications@github.com> wrote:

[2020-09-01 09:14] cagnulein commented on #34763
@pploume at the end i used an iframe with Motion

[2020-09-01 09:17] pploume commented on #34763
Not really satisfying.. 😊

Le mar. 1 sept. 2020 à 11:14, cagnulein <notifications@github.com> a écrit :

[2020-09-01 09:42] bschatzow commented on #39088
Is there additional information that I did not provided after I updated the comment?  If it is not clear, the current temperature does not show up correctly.  The sensor it created for my house is: sensor.17_seaview_avenue_current_temp
The state shows up as none.    All the other sensors that were created have a value when you look at it in the developer tab or use the sensor in a card, etc.

[2020-09-01 10:42] #38544 closed

[2020-09-01 10:45] markiper commented on #39279
I am seeing the same errors, only started noticing this issue after upgrading HA to 0.114.4 (not sure if it was there before).  Haven't had any issues with their app or web portal (iAqualink); but I will also keep an eye on it just in case

[2020-09-01 10:53] fbradyirl commented on #39498
It would be good if you could post sample data which is returned from this API so I can debug further.

http://<router_ip>/cgi-bin/luci/rpc/uci

with this in the body:

[code]

<img width="680" alt="image" src="https://user-images.githubusercontent.com/254309/91841139-bb750e80-ec49-11ea-869c-989766e4baef.png">

[2020-09-01 11:23] abstractvector commented on #39265
I just ran into the exact same issue on Home Assistant 0.114.2 (upgrading to 0.114.4 now to see if anything changes).

[2020-09-01 11:24] bschatzow commented on #39088
I can't find in this document that the current temperature is unavailable.  All the other sensors created have data.

[2020-09-01 11:34] Misiu commented on #39033
@bdraco I followed your steps and created https://github.com/home-assistant/core/pull/39548 which adds reload service to rpi_gpio.
I'll be grateful if you could take a look at it.
If this is really that simple I can take a look at other integrations.

[2020-09-01 12:17] springstan commented on #39544
Please fill out the issue template, you can find it by clicking on `New Issue` and then selecting `Report a bug with Home Assistant`. Copy and paste the provided template into this already created issue, click preview to take a look at the empty template and then fill out as much as you can. Any additional information can be helpful!

Thanks for understanding :)

[2020-09-01 12:28] #38154 closed

[2020-09-01 12:53] twosh commented on #39165
With your latest code the devices and etities seem to be staying where they should be staying. :) No mix up!

[2020-09-01 12:59] manosioa commented on #38582
Hi all,

Tried all the suggestions but the issue persists.
Its a bummer that i cannot connect my Gateway and my 10 sensors on HA.

@syssi @Danielhiversen @starkillerOG
Any updates on this?

Thanks

[2020-09-01 13:06] fbradyirl commented on #39498
Fixed in v1.1.6 which is build but pypi is having issues with deploy.
https://travis-ci.community/t/pypi-upload-failed/9790

https://github.com/fbradyirl/openwrt-luci-rpc/compare/v1.1.5...v1.1.6

[2020-09-01 13:06] fbradyirl commented on #38870
Fixed in v1.1.6 which is build but pypi is having issues with deploy.
https://travis-ci.community/t/pypi-upload-failed/9790

https://github.com/fbradyirl/openwrt-luci-rpc/compare/v1.1.5...v1.1.6

[2020-09-01 13:23] jempo commented on #35866
Hi, here the same on 0.114.4. I've set to 'RelativeMove' but when i see the log this show me `ContinuousMove not supported on device 'ONVIF' `.

[2020-09-01 13:25] ckhyatt commented on #39526
Did something change on the August API that required removing the integration and .conf file to restore functionality? This appears similar to the token refresh issue? Thanks!

[2020-09-01 13:26] userosos opened #39550 "Debian 10 HA docker You are running an unsupported installation. Learn More"
You are running an unsupported installation. Learn More
![изображение](https://user-images.githubusercontent.com/22872748/91856172-dc038f80-ec6e-11ea-8fc8-e7ad1676e7ee.png)

logs supervisor:

20-09-01 09:42:14 INFO (MainThread) [supervisor.utils.gdbus] Connect to dbus: org.freedesktop.NetworkManager - /org/freedesktop/NetworkManager/DnsManager
20-09-01 09:42:14 INFO (MainThread) [supervisor.host.i

[2020-09-01 13:43] grea09 commented on #33634
The issue is that the data is from yesterday at least meaning that you can't compare it to other sensors without time trickery. The solution would be to tweak or hack the recorder but that's quite messy if not adressed properly.

[2020-09-01 14:02] bdraco commented on #39537
You can use customize to add a device class that `HomeKit` will pickup

https://www.home-assistant.io/integrations/homekit/#supported-components

[2020-09-01 14:03] #39537 closed

[2020-09-01 14:03] bdraco commented on #39537
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2020-09-01 14:16] #39503 closed

[2020-09-01 14:18] javier-fg commented on #24717
Having same issue here :(

It will be very much appreciated if the author add the possibility to implement the patch of @martin3000 via add-on configuration parameters.

Using hassio and the docker images makes manual patching not an easy task.

[2020-09-01 14:46] springstan commented on #39550
@frenck can you move this issue to the correct github repo?
I am not entirely sure but it looks like a [operating](https://github.com/home-assistant/operating-system) issue to me.
Thanks a lot :smile:

[2020-09-01 14:48] Doelfke commented on #39485
@frenck that integration does not support Homekit. That would have been a simple answer, instead of wasting both our time. Your template was not helpful or necessary, as I suspected.

[2020-09-01 15:08] Shogun1978 commented on #24382
Closed, but the instance name seems to be in the .storage/core.config file. I currently have two HA supervised running, one for testing and one for production. After recent changes in the testing environment, I use the snapshot function of HA supervised and upload the snapshot in my production system. I had two identical instances on the network, after changing the "location_name" in the core.conf

[2020-09-01 15:10] martin3000 commented on #24717
To fix this, you can change

[2020-09-01 15:56] tiagofreire-pt commented on #38870
Awesome!

Would you kindly check if the 1.1.7 is now fully updated on pypi and bump the dependancy on HA to that version?

[2020-09-01 17:00] kudakeru opened #39552 "SmartThings integration exception"
## The problem
After adding a base_url configuration to solve another problem I noticed all of my lights provided by the SmartThings integration were showing as unavailable. Removing the base_url didn't resolve the issue, so I attempted to just remove the integration and re-add it. Now I get an exception when the integration attempts to list devices.

## Environment

- Home Assistant Core release

[2020-09-01 17:48] Nihvel opened #39553 "Actions in Automations require the previous action to finish before the next can start"
## The problem
Before Home Assistant 0.113, `Automations` with plenty of `Actions` would let each action start without depending by the neighbour-top action to finish.

Example. Take this `package`:
[code]

The Automation (in its whole) will start when `input_boolean.test_automation_first` will be manually turned on.

**In Home Assistant version <0.113**
1. The user turn on  `input_boolean.test_au

[2020-09-01 17:56] bdraco commented on #39526
If the token refresh failed, there should be an error in the log with the details of why.  If you have since restarted, it is likely lost unless you keep backups of the logs

[2020-09-01 17:59] jmartens opened #39554 "Meteorologisk institutt (Met.no) integration percipation could do with a little rounding/less precision in Lovelace card"
## The problem

## Environment

# ha info
arch: armv7
channel: stable
docker: 19.03.11
hassos: "4.12"
homeassistant: 0.114.4
hostname: hass
logging: info
machine: raspberrypi3
supervisor: "235"
supported: true
supported_arch:
- armv7
- armhf
timezone: Europe/Amsterdam

## Problem-relevant `configuration.yaml`

N/A enabled through integrations of HA webpanel

## Traceback/Error logs

N/A

## Additi

[2020-09-01 18:31] ckhyatt commented on #39526
I don't keep backup of the logs. The last code update addressed this issue, correct? How does the code force the token refresh? Thanks!

[2020-09-01 19:09] bdraco commented on #39526
The token is refreshed automatically since Feb with #31735

[2020-09-01 19:39] saniho commented on #33634
I have seen a plugin with Domoticz, perhaps this could help for development : https://github.com/guillaumezin/DomoticzLinky

[2020-09-01 19:56] ckhyatt commented on #39526
That's what I thought. Wonder why it didn't? Thanks!

[2020-09-01 19:57] tnagels commented on #39330
I also had the Blackbird 4x4 matrix switch but have removed it due to low quality (in one year three of the receivers failed).
In any case, afaik the integration was built for the 8x8 matrix and did / does not support the 4x4 model.

Thomas

[2020-09-01 20:01] ckhyatt commented on #39526
Just FYI, the error I reported above was identical from 10:30 through when I was able to resolve. There was no specific reference to a token error, only-raise ClientResponseError(
aiohttp.client_exceptions.ClientResponseError: 401, message='Unauthorized', url=URL('https://api-production.august.com/users/houses/mine')

[2020-09-01 20:32] waaacko commented on #39271
Well, seems like an illegal character slipped in to my client_secret. Problem solved.

[2020-09-01 20:32] #39271 closed

[2020-09-01 21:10] isk0001y commented on #35975
Hi

I did not exactly understand if the log is a real problem or just a log, because the software is just polling the server. I had asked you, but I only got a big logfile, not understanding, why it was necessary to paste it into the email. The first email contained the related lines anyway.

The logline was added intentionally, it was a request from another maintainer.I also think they help under

[2020-09-01 21:36] starman2k01 opened #39559 "Flume integration broken"
## The problem

## Environment

- Home Assistant Core release with the issue:
- Last working Home Assistant Core release (if known):
- Operating environment (OS/Container/Supervised/Core):
- Integration causing this issue:
- Link to integration documentation on our website:

## Problem-relevant `configuration.yaml`

[code]

## Traceback/Error logs

[code]

## Additional information

[2020-09-01 21:40] bdraco commented on #39526
I don't think we will be able to tell why it didn't renew without the logs (and it probably needed to be in debug mode anyways).

[2020-09-01 22:05] ckhyatt commented on #39526
Fair enough. The .conf file says 12/20 so I guess I will find out then :)

Thanks!

[2020-09-01 22:17] ckhyatt commented on #39526
This might be a bit in left field but I wonder if you know-is it possible to pair the new 4th gen wifi lock with HA using HomeKit? I realize the locks use HK over BlueTooth. The Apple TV 4th gen devices act as BT repeaters and have them close enough to the devices. They don't show up in HA as a HK controllable device because, I presume, HA isn't listening for them on BT. I see that there are  BT D

[2020-09-01 22:33] fbradyirl commented on #39498
PR opened https://github.com/home-assistant/core/pull/39561

[2020-09-01 22:33] fbradyirl commented on #38870
PR opened https://github.com/home-assistant/core/pull/39561

[2020-09-01 22:43] springstan commented on #39559
Please fill out the issue template, you can find it by clicking on `New Issue` and then selecting `Report a bug with Home Assistant`. Copy and paste the provided template into this already created issue, click preview to take a look at the empty template and then fill out as much as you can. Any additional information can be helpful!

Thanks for understanding :)

[2020-09-01 23:15] bpsib commented on #30362
I don't get the Customization option. I have tried in the Developer Tools instead but the color wheel appears then disappears and "supported_features" resets itself back to 3.  How can I do it?

[2020-09-01 23:15] IIAIronWolf commented on #39113
This did not fix my issue so I'm not sure why my issue was closed..

[2020-09-01 23:32] melyux opened #39562 "MQTT Sensor attributes should be able to use the same topic as the state without updating twice per change"
## The problem

Right now, MQTT Sensor uses two separate topics (`state_topic` and `json_attributes_topic`) for the state and attributes respectively. As the [documentation states](https://www.home-assistant.io/integrations/sensor.mqtt/#json-attributes-template-configuration), if you're using the same topic to update both the state and the attributes, this causes problems in automation and doubles

[2020-09-02 01:05] wormuths opened #39563 "Multiple Hue Bridges Change Group Names Every Reboot"
## The problem

I have three Hue bridges.

HUE-BRIDGE-BSMT
HUE-BRIDGE-1ST
HUE-BRIDGE-2ND

This was done because I will need more than the default allowed devices eventually, so I divided the lights up by floor.  Works great everywhere (HomeKit, Hue App, etc...), except with Home Assistant group names.  So what happens is that I will have a set of lights in the living room, for example.  This group

[2020-09-02 01:29] jimpridemore commented on #35975
Thank you for your concern and response.  I am ok with my workaround.  Have a great day.

[2020-09-02 02:49] ctalkington commented on #39499
I wonder if the IPP state message is never actually updated by the syno as we rebuild printer info each time we query the IPP server. HA then uses that value directly in the attribute

[2020-09-02 04:04] onkelbeh commented on #36039
and `0.114.4`
:-)

[2020-09-02 05:17] HepoH3 opened #39565 "MPC-HC component is spamming the log when MPC-HC isn't running"
## The problem

An error is logged every few seconds if mpc-hc isn't running. The error is about being unable to connect to MPC-HC (very understandably).
I consider this a bug since the normal use case of an application such as MPC-HC is that the application mostly isn't running when a video isn't playing.

Another problem with this integration is it's working correctly only with English interface

[2020-09-02 05:34] #38870 closed

[2020-09-02 05:34] #39498 closed

[2020-09-02 06:08] cjd commented on #31987
I can confirm that the issue persists in 0.114.4

[2020-09-02 06:14] Mike5357 commented on #37769
Just ran into this same issue after a while of pulling my hair out wondering why one of my zones wouldn't appear... It definitely doesn't like "missing" zones, since adding back in the missing ones (Zone 8 and 9) as dummy zones made the previously missing one (Zone 10) appear

[2020-09-02 06:18] cajuncoding commented on #24814
Yup, just found this thread because the new Sonoff Zigbee bridge (just flashed via Tasomotizer) and Sonoff Zigbee Temp sensor is doing the very same thing to me.  Shows °F as the unit of measurement in the customization (not edited), and in a Glances card (for example), Developer Tools, etc.  But shows °C in the Lovelace graph card.

I've upgraded to 0.114.4 and this is still unresolved...?

[2020-09-02 06:35] skynet01 commented on #30362
The Customization option can be accessed when you click on Configuration (its the last option on the list). You can also go to it directly http://your_homeassistant_url/config/customize. Alternatively, there is now a [custom Tuya component](https://github.com/ollo69/ha_tuya_custom) where you can force the color option. It also fixes a few other bugs with native tuya component

[2020-09-02 07:24] waaacko opened #39567 "Mobile app. Next Alarm Sensor showing time with 5 minutes offset"
## The problem

Using android and mobile_app the time shown in sensor_my_mobile_next_alarm is offset with 5 minutes. If the alarm is set to 06:30 it shows 06:25 in the sensor.

## Environment

- Home Assistant Core release with the issue: 0.114.3
- Last working Home Assistant Core release (if known):
- Operating environment (OS/Container/Supervised/Core): MacOS / Android 10 / Samsung S9
- Integrat

[2020-09-02 07:30] HepoH3 commented on #39567
I'd like to add that some of my alarms are identified correctly, and some get -1 hour offset. For example: I have alarm on 06:00 (GMT+3), and it's identified as 2020-09-03T02:00:00.000Z (05:00 for GMT+3).

[2020-09-02 07:41] h4de5 commented on #39499
thanks for the response and the idea. I tried now to connect to the IPP server directly using a small node package (https://github.com/williamkapke/ipp).

after some tests it seems almost all is good and the plan from above is actually working. I am not sure what caused the change (idk maybe the cupsd restart did the trick).

only the message "Waiting for printer to finish." does persist - but as

[2020-09-02 07:41] #39499 closed

[2020-09-02 07:50] balloob commented on #39563
The problem is that groups in Hue do not have unique IDs, so we can't determine which one had which name.

[2020-09-02 07:54] balloob commented on #39517
This has been an undocumented breaking change. We now stop scripts when they encounter an error.

You can adjust your script to use the [new `choose` syntax](https://www.home-assistant.io/docs/scripts/#choose-a-group-of-actions) which works like an if-statement.

[2020-09-02 07:54] #39517 closed

[2020-09-02 08:55] waaacko commented on #39567
**Update:** When I first set the alarm on the Android, it gets a -5 min offset. When that current time=next_alarm the sensor updates to correct time.

**Steps to reproduce:**
Current time 10:00 September 02
Set alarm on android to 10:06 September 02
sensor_next_alarm updates to 10:01 September 02 (-5 min offset)

When current time reaches 10:01 September 02
sensor_next_alarm updates to 10:06 Septe

[2020-09-02 08:59] SNoof85 commented on #24382
Thank you. Since this issue I've migrated from a supervised install on ubuntu to hassos. When restoring the snapshot the issue was gone too !

[2020-09-02 09:11] djiest commented on #27783
Will this ever be fixed?

[2020-09-02 09:30] #29521 closed

[2020-09-02 09:41] MattWestb commented on #37823
@dmulcahey Then deleting one zigbee device in there zha dievice property its can being good informing the user to waking up sleeping devices so zha can sending leav command to them and getting acknowledge that it have leaving the network and ending the work.

[2020-09-02 09:46] balloob commented on #36228
No, Fritzbox still needs to be updated to use TimeoutError.

[2020-09-02 09:47] radinsky commented on #31011
https://community.home-assistant.io/t/fix-locative-bug/223844

[2020-09-02 09:48] balloob commented on #36228
Oh nevermind, it has been fixed. It was connecting to Fritzbox via upnp integration.

[2020-09-02 09:48] #36228 closed

[2020-09-02 10:16] MattWestb commented on #38314
These phenomena is is also present in bellows with EZSP running with protocol v8 (dev branch).
Have not being able to see if its failing / timeout then pairing or if its problem then saving the device in the DB. I keep looking for it then doing  one next master reset of my test setup.

[2020-09-02 10:23] DevSecNinja commented on #39300
Ah, forgot to mention I was able to reproduce it with the Python package. It seems that I'm the only one with this issue because nobody replied on this issue and the forum topic. I was already planning to migrate to Ubiquiti network gear, so I'm going to close this issue. If someone else is facing this issue, feel free to re-open or copy my opening post.

[2020-09-02 10:23] #39300 closed

[2020-09-02 10:24] Mknutas commented on #27783
Stop digging up old unrelated issues, the last stacktrace is a completely new one and would have got sorted if there was a new issue with all info provided.

[2020-09-02 10:27] HepoH3 commented on #39567
@waaacko When the alarm time approaches, at what point does your phone start showing an alarm notification? My phone starts to show an hour before the alarm, maybe this is the case?

[2020-09-02 10:35] tiagofreire-pt commented on #32876
Here it is, while the issue being active:

[code]

I don't have that entry in my `configuration.yaml` file.

[2020-09-02 10:35] waaacko commented on #39567
@HepoH3 Yes that seems to be the issue!! It fetches the notification time instead of nextalarm. I solved it by installing and using Google Clock instead of the built in Samsung clock.

Working!

[2020-09-02 10:35] #39567 closed

[2020-09-02 10:38] tiagofreire-pt commented on #32876
This issue is consistent on a specific camera feed being unavailable for 15/20 minutes.

[2020-09-02 10:42] waverider020 commented on #39187
Got it working this way. Thanks very much.

Vriendelijke groeten

Peter Meijboom

[2020-09-02 10:42] djiest commented on #27783
Wow.
I am not "digging up old issues", I'm responding to ONE thread I already was part of.
My HA installation will still not update statuses of devices, so for me it is still not working

And yes this issue is closed, but for me not resolved.
No need to react like that.

[2020-09-02 11:01] RobBie1221 commented on #39237
Option 2 is already (kind of) available with this PR: #39068
I may have a look at option 1, this is I think something the integration should handle.

[2020-09-02 11:04] kennedyshead commented on #27783
Im not doing more than to say that the reason for missing this is that its unrelated to this issue. I'm not flaming and am not irritated or anything like <3

[2020-09-02 11:11] McGiverGim commented on #38571
@OnFreund is there a way to install your changes over the actual stable version? It seems your PR is taking long to be merged.

I'm a developer, but I don't know how Home Assistant works, so I'm not sure if I can add your modified files "somewhere" to see if they work.

[2020-09-02 11:13] cdiazfer commented on #38025
Some news about this??? I can´t see binary sensor even if I restart home assistant. It is possible that with 0.114 version this problem could be resolved???

Regards!

[2020-09-02 11:20] yaroto98 commented on #24814
So, having made this bug some time ago, I've had the chance to observe it and learn some more details.

There is a chance when a new adding a new device that records temperature, for this bug to show.

It can happen when adding a new device, when removing and adding the device again, or after a device drops, but gets picked back up after reboot.

As for the fix, the reason the ticket is closed is

[2020-09-02 11:22] McGiverGim commented on #38571
I added your files in `config/custom_components/onvif` but it seems is not compatible with my version or your code has some bug, I think is more the first. I can find my camera with the integration flow, but it does not add any sensor (camera). I see this error:
[code]

[2020-09-02 11:38] MattWestb opened #39572 "ZHA Zigbee groups naming"
## The problem

### Zigbee Lightlink groups.

Zigbee LL devices is assigning one random group to itself then being reseted / paired.
ZHA is pulling the group ID from the device then pairing it and making one "No name group" for it.
![ZHALG1](https://user-images.githubusercontent.com/49618193/91970295-bb434480-ed17-11ea-9428-5b9e7ed5ba25.PNG)
(IKEAs motion sensor E1525 = Old LL)

That's good but if

[2020-09-02 11:44] gdoerr commented on #24814
@yaroto98 is correct.

There are cases that occur when the reporting entity is unavailable or posts an unknown value where the unit logged is Celcius even though the entity is set with Fahrenheit in the configuration. I believe this is a "bug" in Home Assistant core but I don't know enough about the codebase so that's just a SWAG.

In my install, I have a database script that deletes unavailable a

[2020-09-02 11:45] dmulcahey commented on #39572
This is great feedback. I'll see what we can do here but I am not too sure what is possible. We don't create these groups we just add the coordinator to them. I'm not sure what the devices will do if we modify the groups that they transmit to. Definitely worth trying it all out and seeing what is possible. Thanks for the report.

[2020-09-02 11:58] Quentame commented on #31294
Same here

[2020-09-02 12:01] Dav0815 opened #39574 "Timeout fetching InternetGatewayDeviceV2 - FRITZ!Box 7590 data"
## The problem

## Environment

- Home Assistant Core release with the issue: 114.2
- Last working Home Assistant Core release (if known):
- Operating environment (OS/Container/Supervised/Core): Docker running on Synology
- Integration causing this issue:
- Link to integration documentation on our website:

## Problem-relevant `configuration.yaml`

[code]

## Traceback/Error logs

[code]

## Addit

[2020-09-02 12:33] OnFreund commented on #38571
Hmm, that's really strange. I don't know how `None` can be returned from `requests.get`.
Can you try adding a log with the `snapshot_uri` before this?

[2020-09-02 12:52] dlashua opened #39575 "Roku Integration Causes Core to not start when device is offline"
## The problem

Restarted Home Assistant while a Roku device was offline. Home Assistant would not fully start until I turned the Roku device on.

## Environment

- Home Assistant Core release with the issue: 0.115.0.dev20200902
- Last working Home Assistant Core release (if known): unknown
- Operating environment (OS/Container/Supervised/Core): Container
- Integration causing this issue: Roku
- L

[2020-09-02 13:10] McGiverGim commented on #38571
Sure, if you tell me how to add a `log` line 👍
I'm a developer, but not of python, not of Home Assistant ;)

[2020-09-02 13:17] McGiverGim commented on #38571
I found the code in another integration, this is the snapshot (I replaced the IP with XX):
[code]
It seems correct and it shows the snapshot in the browser after authenticated.

[2020-09-02 13:24] McGiverGim commented on #38571
@OnFreund more info, I changed the if by a:
[code]
And now the snapshot works, with basic authentication of course.

I don't know why it returns None and not the response in my case. Is a Yi cam with the allwinner firmware.

[2020-09-02 13:27] OnFreund commented on #38571
Can you try to use digest auth on this url with curl and see what happens?

[2020-09-02 13:34] McGiverGim commented on #38571
Of course, I tested it before, but this is the complete response, if it helps:
[code]

Removing the `--digest` works.

If you want that I execute with more params please tell me.

[2020-09-02 13:35] OnFreund commented on #38571
ok, it's a stupid mistake, sorry. Can you add 'return ` before `requests.get(snapshot_uri, timeout=1, auth=auth)` in line 134?

[2020-09-02 13:37] OnFreund commented on #38571
In my defense, I'm used to Ruby, rather than Python, where the `return` isn't necessary :)

[2020-09-02 13:41] McGiverGim commented on #38571
Change done...

[code]

and working!!! I now have a high resolution snapshot and not the low resolution ffmpeg one...

Thanks for your work!! Only thing left is to merge it :P

[2020-09-02 14:06] FrnchFrgg opened #39576 "`script.turn_on` leaks `data:` mapping to all services used within the script"
## The problem

Say you have the following scripts defined:
[code]

Then calling `thetest_good` works (be it from lovelace or within the developer tools), but `thetest_bad` complains about an extra `cover` key passed to `cover.open_cover`.

## Environment

- Home Assistant Core release with the issue:
arch | armv7l
chassis | embedded
dev | false
docker | true
docker_version | 19.03.11
hassio | tru

[2020-09-02 14:33] ctalkington commented on #39575
this seems really odd. this uses the DataUpdateCoordinator and is fully async. Are you sure something else in dev didnt cause this as we have a lot of changes in this version. what was previous.version before upgrade?

[2020-09-02 15:11] tiagofreire-pt commented on #32876
ffmpeg:

[code]

[2020-09-02 15:36] bdraco commented on #32876
Stream had some significant refactoring in #38125 and #38846 that may resolve this. Hopefully this is already fixed in 0.115.x

[2020-09-02 15:52] MattWestb commented on #39572
Thanks for feedback !!
The possibility of renaming groups (also user made ones) should not making any thing with the NCP, the "group id" is the index used for the system and the name is only "internal" for ZHA and HA for displaying.
The important things for the NCP like coordinator bonded to it should being read only so the user cant messing with it.
I'm very sure @Adminiuga have strictly thinking

[2020-09-02 15:56] momab commented on #24079
That's because the original Sucks Project is not being maintained anymore.
I am currently working on a new Version of Sucks which I am completely rewriting from scratch.

I am stuck at the XMPP stuff, because I cannot get the darn Certificate to work. Help would be appreciated.
Project URL TBD.

[2020-09-02 16:01] OverloadUT commented on #24079
@momab Ecovacs is (or was, at least) using an invalid certificate, so you'll need to allow connection even if the cert check fails

[2020-09-02 16:22] Adminiuga commented on #39572
@dmulcahey I think ability to rename the groups for starters should do it.
For automatically created ZLL groups, like in https://github.com/zigpy/zha-device-handlers/blob/408b14accfcb4dd4c447fcf24f63cf9847b790a5/zhaquirks/ikea/__init__.py#L33 should we try something like `status = await coordinator.add_to_group(group_id, name=f"{str(self.endpoint.device.ieee) - {self.endpoint.manufacturer} {self.e

[2020-09-02 16:24] dmulcahey commented on #39572
That’s along the lines of what I was gonna try. Will try it and see how it works.

[2020-09-02 17:02] cajuncoding commented on #24814
Thanks for the feedback @yaroto98 & @gdoerr ! No-one on the thread had mentioned that this may self-correct (after the time-window specified on the Lovelace card)... so I've now changed mine from 48 hours down to 1 hour to see if that works as a workaround.

It is interesting though that the History graph in the entity detail popup does not exhibit this issue.

For me this appeared immediately bec

[2020-09-02 17:07] Olen commented on #39554
Dup of #39403 and #38807
Should be fixed in https://github.com/home-assistant/core/pull/39076

[2020-09-02 17:30] quammy opened #39581 "[homeassistant.components.mqtt] Unable to connect to the MQTT broker: Connection Refused: not authorised."
## The problem

Since upgrade from version 0.112.3, the Core throws errors about "Unable to connect to the MQTT broker: Connection Refused: not authorised.".
Downgrading back to 0.112.3 and the issue disappears.
I've tried also fresh instillation of 0.114.4 but it ended with same error.
I've tried two different MQTT brokers: Flespi (my "production" one) and DioTY (which I'm using sometimes for tes

[2020-09-02 17:32] #39554 closed

[2020-09-02 17:49] giffordj commented on #39093
Any Updates?

[2020-09-02 17:59] #39500 closed

[2020-09-02 18:11] dlashua commented on #39575
I came from 0.114.4. Wanted to test some of the new dev features and have pulled dev every morning for the past few days.

I cannot be certain it's not caused by something else, I just know that Home Assistant wouldn't FULLY start until I turned on the Roku device.