[2020-05-22 20:59] walnerz commented on #35966
I just ran into this after reverting from 110.1 -> 109.6 using a full snapshot.  It seems to me to be a similar issue to #28531, where the stashed authorization token is stale. Re-authorizing with a new API key got it working again for me.  Here is the relevant portion of the log:

2020-05-22 11:23:39 ERROR (MainThread) [homeassistant.config_entries] Error setting up entry ecobee for ecobee
Traceb

[2020-05-22 21:01] #35972 closed

[2020-05-22 21:01] #35850 closed

[2020-05-22 21:05] emontnemery commented on #35922
@hmmbob Would you mind removing these lines from `zeroconf/__init__py`:
[code]
And test again with zeroconf 0.25.1 and 0.26.0, hopefully that will give some hint at what's going on here.
Note: There's confusingly a stale `zeroconf.py` installed directly under `site_packages` which is not the right one.

[2020-05-22 21:11] flz commented on #34814
I've added some logging into the dependent library. Once this lands, we will be able to see what's being returned.

[2020-05-22 21:12] flz commented on #30078
The diff above will solve the issue trying to convert '7.3' into an int but the rest is still unaddressed. It will be difficult in any case as I don't have access to the equipment and this part of the API isn't documented.

[2020-05-22 21:12] ernestbyedakov commented on #32967
Сan anyone help fix the issue?   I use fibaro HC as a z-wave gateway, and my HA became useless ((

[2020-05-22 21:21] twkrol commented on #35883
Yeah, IP can change, as well as someone might use a DNS name for connection purpose.
Unfortunately I'm unaware of ONVIF attributes that can be read from a device :(

[2020-05-22 21:47] #30686 closed

[2020-05-22 21:56] ChromoX commented on #35924
Yes that's awful when you have around 60 platforms.

I can't even launch 0.109.6 anymore.

Let me know if I can provide any information, but I've already searched the debug log and haven't found any smoking guns.

[2020-05-22 21:58] aalbul commented on #28344
Hi. It is stable (at least doesn't fail), though, daily gas metrics are not working for me for a long time. Current gas works fine.

[2020-05-22 22:00] chemelli74 commented on #35953
I’m using fritzbox and mobile app as tracker.

I would say the first is the guilt one.
See also #34813

Simone

[2020-05-22 22:16] jnimmo commented on #33459
Please update the ticket with what version you’re using now and what error messages are being logged, code has changed a bit since then and if the internet connection is stable it shouldn’t be getting out of sync

[2020-05-22 22:52] MartinHjelmare commented on #35953
The mobile_app device tracker is not legacy so then it is liky the fritz integration.

[2020-05-22 23:09] vlad36N opened #36004 "ResizeObserver loop completed with undelivered notifications."
## The problem

Log Details (ERROR)

Logger: frontend.js.latest.202005191
Source: components/system_log/init.py:209
First occurred: 6:28:43 PM (4 occurrences)
Last logged: 6:48:43 PM
:0:0 ResizeObserver loop completed with undelivered notifications.

## Environment

- Home Assistant Core release with the issue: Home Assistant 0.110.1
- Last working Home Assistant Core release (if known): Home Assi

[2020-05-22 23:14] dshokouhi commented on #36004
This is not the HACS repo :), this is home assistant core. HACS is here: https://github.com/hacs/frontend

[2020-05-22 23:14] #36004 closed

[2020-05-22 23:31] bdraco commented on #35998
I'm running harmony hub software `10.0.152`

Can you try updating your hub?

[2020-05-22 23:32] bdraco commented on #35967
Maybe this option will help:
https://www.home-assistant.io/integrations/zeroconf/#default_interface

[2020-05-22 23:35] dshokouhi commented on #35998
@bdraco are you sure about that version number? Both my hubs are at `4.15.264` and they don't have a new update when I check for one.  Going to `10` from `4` is a bit odd since Harmony normally does incremental updates.  I haven't updated to 0.110 yet but the version doesn't sound right :)

[2020-05-22 23:36] bdraco commented on #35998
![Screenshot_2020-05-22_at_6_35_49_PM](https://user-images.githubusercontent.com/663432/82716029-30a07300-9c5b-11ea-9422-b03d52a0b411.png)

[2020-05-22 23:41] dshokouhi commented on #35998
This must be a different harmony hub than the one that connects to the remote.  These are wifi only hubs so they have a different version.  Unless they released a new model with ethernet for entertainment.

[2020-05-22 23:45] dshokouhi commented on #35998
Yea looks like you have this one: https://www.logitech.com/en-us/product/harmony-pro-2400

While we have: https://www.logitech.com/en-us/product/harmony-hub

That would explain the giant version gap 😂

[2020-05-22 23:52] i00 opened #36005 "Philips hue host doesn't work with hostnames"
## The problem

The Philips hue integration works with host names ... however the config to configure additional settings for a bridge does not.

## Environment

- Home Assistant Core release with the issue: 0.110.1
- Last working Home Assistant Core release (if known):
- Operating environment (Home Assistant/Supervised/Docker/venv): Docker
- Integration causing this issue: Philips Hue
- Link to i

[2020-05-22 23:58] frenck commented on #34129
Quite some time passed, no response on the request for additional information.

Closing the issue.

Feel free to open a new one with the requested information. 👍

[2020-05-22 23:58] #34129 closed

[2020-05-22 23:58] frenck commented on #33556
Quite some time passed, no response on the request for additional information.

Closing the issue.

Feel free to open a new one with the requested information. 👍

[2020-05-22 23:58] #33556 closed

[2020-05-22 23:59] frenck commented on #33980
As of Home Assistant 0.110 this has been solved, since the internal and external URL can be set separately.

[2020-05-22 23:59] #33980 closed

[2020-05-23 00:00] frenck commented on #33696
Quite some time passed, no response on the request for additional information.

Closing the issue.

Feel free to open a new one with the requested information. 👍

[2020-05-23 00:00] #33696 closed

[2020-05-23 00:00] frenck commented on #33589
Quite some time passed, no response on the request for additional information.

Closing the issue.

Feel free to open a new one with the requested information. 👍

[2020-05-23 00:00] #33589 closed

[2020-05-23 00:00] frenck commented on #33445
Quite some time passed, no response on the request for additional information.

Closing the issue.

Feel free to open a new one with the requested information. 👍

[2020-05-23 00:00] #33445 closed

[2020-05-23 00:00] frenck commented on #33430
Quite some time passed, no response on the request for additional information.

Closing the issue.

Feel free to open a new one with the requested information. 👍

[2020-05-23 00:00] #33430 closed

[2020-05-23 00:00] frenck commented on #33260
Quite some time passed, no response on the request for additional information.

Closing the issue.

Feel free to open a new one with the requested information. 👍

[2020-05-23 00:00] #33260 closed

[2020-05-23 00:00] frenck commented on #33143
Quite some time passed, no response on the request for additional information.

Closing the issue.

Feel free to open a new one with the requested information. 👍

[2020-05-23 00:00] #33143 closed

[2020-05-23 00:01] frenck commented on #32623
Quite some time passed, no response on the request for additional information.

Closing the issue.

Feel free to open a new one with the requested information. 👍

[2020-05-23 00:01] #32623 closed

[2020-05-23 00:01] frenck commented on #32918
Quite some time passed, no response on the request for additional information.

Closing the issue.

Feel free to open a new one with the requested information. 👍

[2020-05-23 00:01] #32918 closed

[2020-05-23 00:02] frenck commented on #34956
Quite some time passed, no response on the request for additional information.

Closing the issue.

Feel free to open a new one with the requested information. 👍

[2020-05-23 00:02] #34956 closed

[2020-05-23 00:02] hunterjm commented on #35947
Got it, your Synology added a test ONVIF profile at the end with no configuration... sneaky sneaky:
[code]

Opening a new PR to close this now.

[2020-05-23 00:03] frenck commented on #35547
Quite some time passed, no response on the request for additional information.

Closing the issue.

Feel free to open a new one with the requested information. 👍

[2020-05-23 00:03] #35547 closed

[2020-05-23 00:03] frenck commented on #35535
Quite some time passed, no response on the request for additional information.

Closing the issue.

Feel free to open a new one with the requested information. 👍

[2020-05-23 00:03] #35535 closed

[2020-05-23 00:03] #35122 closed

[2020-05-23 00:03] frenck commented on #35167
Quite some time passed, no response on the request for additional information.

Closing the issue.

Feel free to open a new one with the requested information. 👍

[2020-05-23 00:03] #35167 closed

[2020-05-23 00:04] frenck commented on #34935
Quite some time passed, no response on the request for additional information.

Closing the issue.

Feel free to open a new one with the requested information. 👍

[2020-05-23 00:04] #34935 closed

[2020-05-23 00:04] frenck commented on #34958
Quite some time passed, no response on the request for additional information.

Closing the issue.

Feel free to open a new one with the requested information. 👍

[2020-05-23 00:04] #34958 closed

[2020-05-23 00:05] frenck commented on #34849
Quite some time passed, no response on the request for additional information.

Closing the issue.

Feel free to open a new one with the requested information. 👍

[2020-05-23 00:05] #34849 closed

[2020-05-23 00:08] hunterjm commented on #35990
@mgiako - I don't see that `'NoneType' object has no attribute '_value_1` error in any of the logs you sent...

[2020-05-23 00:23] bdraco commented on #35998
Yes, looks like they have different firmware branches. I remember specifically testing #35148 with my harmony hub, and just reverified everything is working as expected on two of them with `emulated_hue`.  Unfortunately all of them are the 2400 so the problem might be with the wifi version only.

[2020-05-23 00:29] bdraco commented on #35998
@Tho85 Any thoughts on a fix?

[2020-05-23 00:47] dshokouhi commented on #36005
According to the docs the integration expects an IP address for the `host` field: https://www.home-assistant.io/integrations/hue/#host

[2020-05-23 00:48] Adminiuga commented on #35965
@tube0013 does the name dis-appear after a reboot or does not stick at all?

The name and area sticks on my repeater, but it was freshly added and not  migrated. Waiting for OTA to complete and trying to reboot

[2020-05-23 00:55] tube0013 commented on #35965
It doesn’t ever stick. I can’t give it a user given name at all.   As soon as I leave the device details page on the zha config panel it is gone.  I’ll restart again in a bit but restarted a bunch last night and didn’t see any difference.

[2020-05-23 00:57] hunterjm commented on #35636
@WirelessMind - It would be port 80 (HTTP port) per their email.  Looks like you tried all but that one :)

[2020-05-23 01:00] Adminiuga commented on #35965
it sticks in the current dev
![image](https://user-images.githubusercontent.com/5826160/82718226-3ef88a00-9c6f-11ea-99de-7737731ad947.png)

But area is not displayed correctly in ZHA device page
![image](https://user-images.githubusercontent.com/5826160/82718236-50419680-9c6f-11ea-87be-1745fcd39e30.png)

[2020-05-23 01:02] Adminiuga commented on #35965
and it's gone after a reboot
![image](https://user-images.githubusercontent.com/5826160/82718281-9860b900-9c6f-11ea-9457-0b3d43e4073d.png)

[2020-05-23 01:03] lindsaymarkward commented on #30062
I'd like to add my support to this issue being addressed.
The problem is "disinformation". The `remaining` attribute appears to be a valid and useful thing, since it's there and implies it stores the remaining... especially since the default UI shows a value...
I spent far too long trying different versions of templates and asking on/searching forums/chat to find that the `remaining` attribute doe

[2020-05-23 01:03] alfonsolsl opened #36007 "Smartthings integration Generate Token error."
## The problem
Issues

## Environment

arch | armv7l
-- | --
chassis | embedded
dev | false
docker | true
hassio | true
host_os | HassOS 3.13
installation_type | Home Assistant
os_name | Linux
os_version | 4.19.114-v7
python_version | 3.7.7
supervisor | 222
timezone | America/Bogota
version | 0.110.1
virtualenv | false

- Home Assistant Core release with the issue:  0.110.1
- Last working Home Ass

[2020-05-23 01:09] WirelessMind commented on #35636
No, unfortunately I had already tried that too :(
` message, payload = await self._protocol.read()  # type: ignore  # noqa
  File "/usr/local/lib/python3.7/site-packages/aiohttp/streams.py", line 591, in read
    await self._waiter
aiohttp.client_exceptions.ClientOSError: [Errno None] Can not write request body for http://192.168.0.96:80/onvif/device_service`

[2020-05-23 01:11] #35902 closed

[2020-05-23 01:11] #35947 closed

[2020-05-23 01:11] #35968 closed

[2020-05-23 01:17] Adminiuga commented on #35965
unrelated question. The latest firmware on Tradfri is Zigbee 3, isn't it? Does it still drop old xiaomi devices if paired through it?

[2020-05-23 01:18] Adminiuga commented on #35965
But I'm positive this is related to https://github.com/home-assistant/core/pull/35106 as in my case those disappear after a reboot

[2020-05-23 01:20] tube0013 commented on #35965
Not that I’ve noticed. I have a few xiaomi devices that drop but can never remember where they were paired.

[2020-05-23 01:33] Adminiuga commented on #35965
I'm tagging this for core and open for suggestiosn.
Synopsis:  ZHA integration has a corner case for "Ikea Signal Repeaters" which is a Zigbee device but it does not have any entities. Since it doesn't have any entities, with https://github.com/home-assistant/core/pull/35106 it is getting clean-up automatically -- not expected user experience for those who gave it a specific device name and zone a

[2020-05-23 01:37] Adminiuga commented on #35965
per #35106 device will be cleaned up if "no config entries reference them". In this case ZHA config entry still references it, no? https://github.com/home-assistant/core/blob/0514960bda07b9d503efaf3d0482ece66b849342/homeassistant/components/zha/core/gateway.py#L461-L468 Why is it still being clean-ed up? what am i missing?

[2020-05-23 02:04] trentjw commented on #28912
I guess I won't worry about giving feedback on the HS300

[2020-05-23 02:23] ejonesnospam commented on #30062
I'd would strongly disagree with the short-sighted idea of just removing the 'remaining' attribute. It is still of use, even with it's bugs. Also, to change/fix something twice, after waiting over 6 months since my initial issue create, seems like a bureaucratic waste of effort and attention. Why not just fix it once?

[2020-05-23 02:44] estebanz01 opened #36009 "Media player can't play content after switching apps on android TV"
## The problem
I have an android TV that has the chromecast service integrated. I want to show my MJPEG camera stream on the TV when someone rings the bell, so I'm using the `media_player.play_media` service and it works, but there's some things that I need to keep in mind and it's a bit annoying.

If you call `media_player.play_media` and serve the stream, it shows on the TV the expected image, t

[2020-05-23 02:45] estebanz01 commented on #36009
It's worth mentioning that I use google home to swtich apps: I say _hey Google, open youtube on tv esteban` after the stream is playing.

[2020-05-23 03:57] Adminiuga commented on #30062
PRs are welcome.
I think the consensus is to have `target_timestamp` while timer is running and `time_remaining` for paused timer.

[2020-05-23 05:01] shenxn commented on #35178
@atpage They can have the same cause if there was something changed in how homeassistant handles integration polling. But I don't know much about that so I'm not pretty sure.

[2020-05-23 05:02] picto3000 opened #36011 "ESPHome entities constantly disconnecting"
## The problem
For a couple of weeks all ESPHome devices are randomly disconnecting, causing:
- HA availability to flick between available/unavailable
- Uptime counters to reset
- Connected devices to switch off/on. e.g. lights flickering, appliances momentarily loosing power

Looking into the logs, device pings appear to be failing and HA disconnects the device, only to rediscover the device almo

[2020-05-23 05:03] RenzoBeux commented on #28541
Same here...
![image](https://user-images.githubusercontent.com/47984043/82722051-67957980-9c99-11ea-8557-0506fb53cd7e.png)
Any DevGod here able to help us please?
![image](https://user-images.githubusercontent.com/47984043/82722067-94499100-9c99-11ea-94a9-ef21ce4e4a59.png)

[2020-05-23 05:49] escoand commented on #35953
I'm working on this.

[2020-05-23 06:02] balloob commented on #35965
This is my bad. Introduced it in #35106

https://github.com/home-assistant/core/blob/0514960bda07b9d503efaf3d0482ece66b849342/homeassistant/helpers/device_registry.py#L402-L407

[2020-05-23 06:04] balloob commented on #35965
This case was not considered and we should disable that check in a hot fix.

[2020-05-23 06:17] ipodmusicman opened #36012 "command_line: Error on device update on start-up of HA."
## The problem
I have a command_line sensor that calls "curl" on an HTTP URL to obtain a value, but since 110.1, the sensor is not available after startup.   On startup / restart of HA, an error is logged "command_line: Error on device update!".  See log snippet below.   When I navigate to the URL in my browser it displays the value I expect, namely 1.  Due to this error, the sensor is not availab

[2020-05-23 06:20] i00 commented on #36005
@dshokouhi ... yes but it shouldn't since it allows host names to be used for the device itself in the integration... if you actually disable the check in /homeassistant/components/hue/__init__.py it works!

[2020-05-23 06:24] i00 opened #36013 "Card organising stopped working properly"
## The problem

Cards use to somewhat stack evenly in each of the three columns...
Before:
![image](https://user-images.githubusercontent.com/1435262/82723358-bd0d6d00-9d11-11ea-8fac-92d8e3d73a0f.png)

After:
![image](https://user-images.githubusercontent.com/1435262/82723369-c696d500-9d11-11ea-82fd-e4d2309be304.png)

## Environment

- Home Assistant Core release with the issue: 0.110.0
- Last wor

[2020-05-23 06:26] elupus commented on #35982
Try switching http port from the default. I think you have something on your network sending non http data to home assistant

[2020-05-23 06:35] dshokouhi commented on #36013
This should be moved to the frontend repo

[2020-05-23 06:52] fanaticDavid opened #36017 "Monitoring Ubiquiti network devices with UniFi integration unstable since 0.110.x"
## The problem
Since upgrading to Home Assistant 0.110, the UniFi device tracker integration reports Ubiquiti network devices going away regularly.

## Environment

- Home Assistant Core release with the issue: 0.110.1
- Last working Home Assistant Core release (if known): 0.109.6
- Operating environment (Home Assistant/Supervised/Docker/venv): Docker
- Integration causing this issue: UniFi
- Link

[2020-05-23 07:06] fabaff commented on #36012
Do a [cast to a float](https://jinja.palletsprojects.com/en/2.11.x/templates/#builtin-filters) of the value you get.

[2020-05-23 07:06] #36012 closed

[2020-05-23 07:33] Quentame commented on #32496
The issue is open.

Fixes have been made to last version.
Are you up to date ?

[2020-05-23 07:39] tubalainen opened #36018 "Transition stopped working in Deconz version 2.05.76"
## The problem

The transition feature of the service light.* stopped working with deconz .76 . Unknown to me if this is a Home Assistant or Deconz related issue (cross posting an issue here). I have verified that it works just fine in .75 of Deconz.
[2791](https://github.com/dresden-elektronik/deconz-rest-plugin/issues/2791)

## Environment

- Home Assistant Core release with the issue: 0.110.1
-

[2020-05-23 07:40] isk0001y commented on #35975
I prepared something. How can we proceed to testing it with your setup?

[2020-05-23 07:44] sergiigladchuk commented on #28541
Hi @RenzoBeux and @allmoney . I was investigating this issue few weeks ago, since it bothered me too. I have already replied on some other thread my findings and solution:
Most probably you have (or had) multiple accounts in you Home Assistant, and one of the accounts IDs is not linked to Google Assistant project on Action, that is why such close to 50% error rate (one of two accounts is not linke

[2020-05-23 07:46] #35940 closed

[2020-05-23 07:55] elupus commented on #35943
What components do you use?

[2020-05-23 08:04] DavidMStraub commented on #35844
OK, so I think we can conclude that your problem was unrelated to this issue and it still stands that using the `internal_url` for the redirect URI does work.

[2020-05-23 08:05] alengwenus commented on #35851
#35977 was merged into dev. Maybe you can check if it solves your issue?

[2020-05-23 08:30] bruxy70 commented on #35975
I put in in custom_components and re-configured back to the original setup.
Seems to be holding fine
![image](https://user-images.githubusercontent.com/44951610/82725866-558af980-9ce0-11ea-9cf9-2fc3d0eb4e17.png)
Thanks a lot for quick reaction.

[2020-05-23 08:34] gdschut commented on #33012
Found it! At least for my config.
It appeared that I was trying to turn entities of type "input_boolean" on or off from within Node-Red, by using a service, but by mentioning the domain "switch" in stead of the domain "input_boolean".
Changing the domain in Node Red to "input_boolean" for this service calls fixed the problem for me. Hope it helps you also.

[2020-05-23 08:37] cachenow commented on #32496
I have the same issue.

[2020-05-23 08:39] cachenow commented on #32496
Mine is the last version. but the same issue is still there.

[2020-05-23 08:39] cachenow commented on #32496
Mine is the last version. but the same issue is still there.

[2020-05-23 09:10] #35875 closed

[2020-05-23 09:16] frenck commented on #33012
`home-assistant-remote` is a custom integration, which is not supported by Home Assistant.

If you have issues with a custom integration, please raise an issue with the author of the custom integration.

Thanks 👍

[2020-05-23 09:16] #33012 closed

[2020-05-23 09:42] damiano75 opened #36021 "Google devices don’t say anything when service tts.google_say is called"
## The problem

When I write the message in the media player window and send it to the player, I hear the sound indicating the player is turned on but no message is reproduced.
Tried also to call service in developer tools but same issue.

## Environment

- Home Assistant Core release with the issue: 0.110.1
- Last working Home Assistant Core release (if known): 0.110
- Operating environment (Home

[2020-05-23 10:08] olealm commented on #35883
Maybe a bit late to the party, but checked all my 3 problematic cameras (unique ID problem). Using ONVIF device manager, it looks like Mac is returned. Ends up interpreted as "Hardware". Same goes for all 3 cameras (2 different brands, but looks like FW is generic):
![2020-05-23 11_20_29-ONVIF Device Manager v2 2 250](https://user-images.githubusercontent.com/42977984/82727896-950c1280-9ced-11ea-8

[2020-05-23 10:22] Molodax commented on #35908
@bachya perhaps you've seen it already but I'll post it just in case this API can substitute: https://community.home-assistant.io/t/lightning-tracker-wwlln-replacement-lightning-api-from-api-weather-mg/198288

[2020-05-23 10:23] Meelobee opened #36022 "Zones not working in Neato Integration"
## The problem

Zones from Neato App not being recognized by HA, unable to command the robot to clean a zone.

## Environment

- Home Assistant Core release with the issue: 0.109.6
- Last working Home Assistant Core release (if known):  N/A.  Installed the  Neato Integration on v0.109.4, but Zones never worked for me.
- Operating environment (Home Assistant/Supervised/Docker/venv):  HA Supervised,

[2020-05-23 10:26] SteveEdson opened #36023 "Spotify tries to authenticate with `internal_url`"
## The problem

When configuring the spotify integration with 0.110, it uses the internal_url, and generates a bad redirect uri error from spotify.

If I add my internal URL to the spotify developer dashboard, it does work, it just requires me to be on the same network in order to add Spotify.

## Environment

- Home Assistant Core release with the issue: 0.110.1
- Last working Home Assistant Core

[2020-05-23 10:27] fribse opened #36024 "WLED still shows polish instead of Danish"
## The problem

When adding a WLED through the GUI, it shows polish text instead of danish.
There is already submitted a fix for it, and it was supposed to be out on 0.110 (#35199)

## Environment

- Home Assistant Core release with the issue: 0.110.1
- Last working Home Assistant Core release (if known): 0.108
- Operating environment (Home Assistant/Supervised/Docker/venv): venv (pve)
- Integrati

[2020-05-23 10:28] Adminiuga commented on #35965
Should be fixed by https://github.com/home-assistant/core/pull/35977

[2020-05-23 10:47] fribse opened #36026 "WLED integration does not handle segments individually"
## The problem

It says in the docs that "Home Assistant treats every segment of the LED strip as a separate light entity."
But if I turn on/off one segment, change colors or the like, it also affects the second segment.
When I do the switch in the integration overview, the other segment does not reflect the change in the overview until it's refreshed, but it does so on the light and in Lovelace f

[2020-05-23 10:53] sbhdlmn opened #36027 "DuckDNS gives certificate error when logging in to Home Assistant"
## The problem

When I login to Home Assistant, DuckDNS gives certificate error. But I can login in anyway. In the log file, it says it's depreciated and remove it. I have updated DuckDNS and restarted. But certificate error is still there.

![image](https://user-images.githubusercontent.com/49866762/82728734-0d2d0500-9cfb-11ea-9321-b923aa5cf520.png)

## Environment

Frontend version: 20200519.1 -

[2020-05-23 10:53] wtreur commented on #35998
@dshokouhi and I seem to have the same hub. Are you experiencing similar issues as I have?

To clarify:
When using 0.110.1 without downgrading the component, the harmony app is not able to find the emulated_hue when adding a new device. When I downgrade the component it is found almost immediately and paired right after.

I'll try to see if I can get Harmony to spill out some log files to see if w

[2020-05-23 10:57] tofurky commented on #35965
#35977 did indeed fix it, thanks.

[2020-05-23 11:13] markbooth73 commented on #19189
Still issues on Home Assistant 0.110.1
Please authorize Fitbit by visiting http://192.168.0.63:8123/api/fitbit

Fitbit
The app you're trying to connect did not provide valid information to Fitbit. Please report this issue to them.

Developer information: invalid_request - Invalid redirect_uri parameter value

Could this issue be further compounded with the
[code]
This integration was working prior

[2020-05-23 11:23] majkers opened #36029 "Random restarts on 0.110 and 0.110.1"
Hi after update from version 0.109.6 to 0.110 and now 0.110.1 I've noticed random restarts from my Home Assistant. I am running rPi 3 nad HassOS 3.13 with supervisor version 222. In 0.109.6 version everything was working just fine and now it does not. All I can see in logs is:

`2020-05-23 13:00:42 WARNING (Recorder) [homeassistant.components.recorder] Ended unfinished session (id=13 from 2020-05-

[2020-05-23 11:24] a-nicholls opened #36030 "hue tap device disappear"
## The problem

Ever since updating to latest version, Philips hue tap devices no longer appear in devices, if I attempt to remove the Philips hue integration from the GUI and re set back up via GUI, the devices come back, but if you restart home assistant they are removed from the device list shortly after restarting.

## Environment

[code]
- Home Assistant Core release with the issue: 0.110.1
-

[2020-05-23 11:33] kmlucy commented on #33012
@frenck I have this same issue, but am not using home-assistant-remote or node red.

[2020-05-23 11:35] isk0001y commented on #35975
Ok cool. I will open the PR soon. Thanks.

[2020-05-23 11:37] lindsaymarkward commented on #30062
Sure. I'm happy for others who know better to decide, and I'm not advocating anything except helping people avoid misinformation.
How about a warning on the documentation for timer as a start? I can add this as a PR, but I suspect others might have clearer information than me to be able to do it better.

[2020-05-23 11:39] shenxn commented on #36027
Are you using the DuckDNS integration or the add-on? If you are using the integration, this is expected since the integration does not generate SSL certificate for you.

[2020-05-23 11:45] alengwenus commented on #36030
Issue should be resolved by #35977.

[2020-05-23 11:48] a-nicholls commented on #36030
great! thanks!

[2020-05-23 11:53] sbhdlmn commented on #36027
I'm using add-on.

[2020-05-23 12:03] frenck commented on #36029
Duplicate of #35923
Fixed in #35960 (part of the to be released 0.110.2)

[2020-05-23 12:03] #36029 closed

[2020-05-23 12:04] tubalainen commented on #36018
Most likely the issue is related to this PR: https://github.com/dresden-elektronik/deconz-rest-plugin/pull/2553

[2020-05-23 12:07] frenck commented on #36027
The base URL (replaced with external/internal URL) has nothing to do with the certificate itself and isn't a factor in this.

Please check the certificate in your browser to see why it is not valid, as the current reason for this is missing from this issue.

Therefore, I'm unable to determine this is a Home Assistant issue or just an e.g., expired certificate.

[2020-05-23 12:11] frenck commented on #36026
This is not a bug, but a feature request.

WLED introduced this feature in their latest firmware (which makes it currently backward incompatible).

We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have a

[2020-05-23 12:11] #36026 closed

[2020-05-23 12:12] Adminiuga commented on #35965
Excellent. Closing this one  as the fix should be in 0.110.2

[2020-05-23 12:12] #35965 closed

[2020-05-23 12:13] jamieshaw opened #36039 "CalDAV calendars created from search queries show duplicated in "Calendar" panel"
## Checklist
- [x] I have updated to the latest available Home Assistant version.
- [x] I have cleared the cache of my browser.
- [x] I have tried a different browser to see if it is related to my browser.

## The problem

Calendar entities created by applying a search query to a 'master' calendar are are shown duplicated in the calendar view.

In the attached screenshot _(fig. 1)_, three calendar

[2020-05-23 12:15] frenck commented on #36023
This is not a bug, but correct and intended behavior. Home Assistant prefers local URLs at this moment.

There is work on improving this for the future, however, that is not related to the Spotify integration.

[2020-05-23 12:15] #36023 closed

[2020-05-23 12:18] jwmaas commented on #32496
I am on latest release. All sensors broken again.

[2020-05-23 12:31] danpowell88 opened #36033 "Incorrect ONVIF camera IP used"
## The problem

When trying to coonfigure an ONVIF camera via the UI it shows Unknown Error after entering username and password when it tries to connect

## Environment

arch | x86_64
-- | --
dev | false
docker | true
hassio | false
installation_type | Home Assistant Core on Docker
os_name | Linux
os_version | 4.19.98-Unraid
python_version | 3.7.7
timezone | Australia/Brisbane
version | 0.110.1
v

[2020-05-23 12:56] tdejneka commented on #35872
Should the author of the PR responsible for the modification also be notified?

[2020-05-23 13:01] twkrol commented on #35883
Well, inspired by your findings I've decoded Hardware id of my camera which is really a scrambled MAC address. Take a look:
Hardware id reported by Onvif Device Manager: 78-FFFFFFA5-FFFFFFDD-2A-FFFFFF97-0C
MAC address: 78:A5:DD:2A:97:0C

Looks like it added FFFFFF three times: to 2nd, 3rd and 5th MAC address byte.
Hope it helps.

[2020-05-23 13:07] fermulator commented on #35807
(shouldn't the issue remain open until we address/fix the docs?)

[2020-05-23 13:09] marthoc commented on #35807
@fermulator the docs are already fixed.

[2020-05-23 13:19] GooeyLizard9000 commented on #35891
I've updated to 0.110.1 and I'm still getting errors related to firmware and v1 hubs.
I'm getting the below error which seems to be trying to get the firmware of the individual blinds.
I think the issue is similar to the previously fixed issue where it doesn't return the firmware version.
The Powerview app shows it returning 'Unavailable' in the Firmware value.

2020-05-23 12:51:39 ERROR (MainThre

[2020-05-23 13:32] bdraco commented on #35891
@GooeyLizard9000 Looks like this is a slightly different issue.  Would you please open a new issue so everyone subscribed to this issue isn't being pinged about it.

[2020-05-23 13:38] bdraco commented on #35992
This is expected. I haven't been able to figure out what is needed to support the apple watch or had the time to do the investigation.

[2020-05-23 13:39] bdraco commented on #35992
We should probably update the docs to reflect that apple watches are not yet supported

[2020-05-23 13:46] mgiako commented on #35990
@hunterjm this is the last part of homeassistant.log on my latest restart, from the "http post to" to the 'NoneType' object has no attribute '_value_1 error:
[code]
I deleted all the other (working) onvif cameras and keep only the non working one. On each restart I have the reported error.
Is this log the right one? Thanks for your help

[2020-05-23 14:02] csjo opened #36034 "Enphase Envoy : Not reporting information"
## The problem

 Envoy reader not returning any data.  Error logs shown below.

## Environment

arch | armv7l
-- | --
chassis | embedded
dev | false
docker | true
hassio | true
host_os | HassOS 3.13
installation_type | Home Assistant
os_name | Linux
os_version | 4.19.114-v7
python_version | 3.7.7
supervisor | 222
timezone | America/Chicago
version | 0.110.1
virtualenv | false

- Home Assistant Cor

[2020-05-23 14:08] Tho85 commented on #35998
There is likely a problem with SSDP discovery, since I changed the announced search target. Or the problem occurs later on when requesting the config xml (less likely).

To rule out which one it is, could you increase logging on the HA side with this configuration:

[code]

and see if a request appears in the logs when you try to discover the bridge?

[2020-05-23 14:11] GooeyLizard9000 opened #36035 "Hunter Douglas Powerview - Error while setting up cover and sensor"
## The problem

The Hunter Douglas Powerview integration is showing a repeating error in the logs for setting up cover and sensor.
The integration seems to add ok from frontend and I can see the scenes as entities, but I'm getting the below error constantly in the logs for cover and sensor.

I'm using a Gen 1 Powerview Hub and in checking the Powerview app the blinds don't return a firmware versio

[2020-05-23 14:13] Hydro-guy opened #36036 "Lutron CBR disappears from device list on reboot"
using zha added 2 Lutron CBR remotes which were added as Lutron LZL4BWHL01 Remote with zhaquirks.lutron.lzl4bwhl01remote.LutronLZL4BWHL01Remote2.  Named them and assigned area.  showed up in device list.  rebooted and they both disappeared from device list.  Still present if you go into device management in config/ZHA but you cannot set user given name or area.  bindings remain functional.

have b

[2020-05-23 14:14] anas587 opened #36037 "SwitchDevice Deprecated - Remote GPIOSwitch"
## The problem

## Environment

- Home Assistant Core release with the issue:  0.110.1
- Last working Home Assistant Core release (if known): 0.109.6
- Operating environment (Home Assistant/Supervised/Docker/venv): Home Assistant
- Integration causing this issue: Remote RPi
- Link to integration documentation on our website:  https://www.home-assistant.io/integrations/remote_rpi_gpio/

## Problem-

[2020-05-23 14:16] #36037 closed

[2020-05-23 14:16] sparment commented on #34713
I’m seeing the same error with my Doorbell Pro. Littering my log...

[2020-05-23 14:27] fribse commented on #36026
@frenck I don't understand why this is a feature request? Segments has been there forever, and in WLED integration it says it handles each segment as an indivual light?

[2020-05-23 14:29] epalzeolithe commented on #35943
Alexa
AppleTV
Google Cast
Phoscon
HACS
Homekit
Huawei
iCloud
Linky
Meteo France
Mobile app
Tado
Tp link
wave
samsungtv smart
node red
MQTT
IPP
TTS
Mariadb
grafana
influxdb
samba
octoprint
bi_temp
automower
different cameras
broadlink
smartir
wake_on_lan

[2020-05-23 14:30] epalzeolithe commented on #35943
I also downgraded to 109.6. Random crash on 110. Error with zeroconf also on 110

[2020-05-23 14:32] MaximumSU opened #36038 "MySensors always have the delay of 15 seconds after the start or restart of HASS"
## The problem

MySensors integration always have the delay of 15 seconds after the start or restart of HASS. It waiting something from gateway which connected to serial port during the 15 seconds but fail's and then the warning is thrown, then working normal. This is strange behavior, because the Gateway sending to HASS the registration information only after start or restart of himself, not HASS

[2020-05-23 14:38] frenck commented on #36026
on/off and brightness handling features for each segment have been added to the latest release of WLED (by my own request). WLED recently added that feature.

[2020-05-23 14:48] bckthomas commented on #34366
Victory! My shutter is detected and it reacts to the up and down buttons! :)
The difference with the previous times is that I did not press the stop button during pairing. But the stop button does not work however. Attached are the logs hoping it can help you.
Do I continue to use the zha version of Adminiuga or can I use the one provided by the core?
[home-assistant.log](https://github.com/home-a

[2020-05-23 14:54] theseal commented on #34357
Debug level give nothing more regarding the SMHI integration. 🙁

Not really sure how to run the test in a good way on the Pi but I did the following:
1. SSH to HomeAssistant (Home Assistant Add-on: SSH server)
2. `apk add alpine-sdk python3 python3-dev`
3. `git clone https://github.com/joysoftware/pypi_smhi.git`
4. `cd pypi_smhi && pytest`
[code]

[2020-05-23 15:02] bckthomas commented on #34366
I spoke too quickly, the shutter no longer responds. :(
I contacted zigate to order a new zigate

[2020-05-23 15:02] bdraco commented on #36035
@GooeyLizard9000 Thanks for opening a new issue.

Would you please run
`pip3 install --upgrade aiopvapi`

And then save the following python code as `shades.py` and run it
[code]

Please paste the result here.  It should look like this:
[code]

[2020-05-23 15:19] Adminiuga commented on #34366
Use that private version for now. I'll update and create PR for it, hopefully would be in .111

[2020-05-23 15:22] GooeyLizard9000 commented on #36035
Here's the output from shades.py
Looks like there's a bit of difference between my V1 shades and what the integration is expecting.
[code]

[2020-05-23 15:30] bdraco commented on #35998
@wtreur
I obtained one of the wifi harmony hubs for testing and was able to get everything working.

Would you please try this repo as a custom component:
https://github.com/bdraco/emulated_hue

@Tho85
Can you verify this doesn't regress your setup?

[2020-05-23 15:31] Tho85 commented on #35998
Without knowing any more details, it really looks like the problem has to do with SSDP discovery. According to the [documentation of ha-bridge](https://github.com/bwssytems/ha-bridge/blob/master/README.md#upnp-emulation-of-hue) there are three possible SSDP replies that may occur during discovery. I replaced the `urn:schemas-upnp-org:device:basic:1` one with the `upnp:rootdevice` one, since all te

[2020-05-23 15:33] JeHu500 commented on #26729
It seems to be working for me now again however it does not show the family members for which location is shared to the google account connected to home assistant. Any solution?

[2020-05-23 15:33] Tho85 commented on #35998
@bdraco Ha, looks like you had the same idea. I can't test it right now, but IIRC this does not work with my devices. I will have a look in the next days.

Have a look at the documentation of ha-bridge I linked above. It looks like the original bridge actually sends both responses, depending on the SSDP query. So maybe HA should too?

[2020-05-23 15:37] Critical2104 commented on #35875
@felipediel having the same issue.
Merged in your change and now I get `Platform error switch.broadlink - cannot import name 'DOMAIN' from 'homeassistant.components.broadlink' (/usr/src/homeassistant/homeassistant/components/broadlink/__init__.py) Platform error switch.broadlink - cannot import name 'DOMAIN' from 'homeassistant.components.broadlink' (/usr/src/homeassistant/homeassistant/components

[2020-05-23 15:40] bdraco commented on #35998
@Tho85  👍

Looks like we should probably be sending all three responses for maximum compatibility.

[2020-05-23 16:00] bckthomas commented on #34366
I plugged my zigate on a usb extension so that it is no longer locked in my technical closet and it works again :) I hope the problem came from there.

Is it possible to group shutters and order them with a single button?
When I want to add a group, the member list is empty.

Do you have a lead to tell me about the stop button problem?
Thank you so much for your help

[2020-05-23 16:12] engal89 commented on #32944
Hi,
i try to write a recap about my studies on the component, hope to help @BaQs and the community to solve some issues.
I'm moving my first steps in python so i'm not already able to do commits. But i want to help.
I was one of the people that has this problem:
[code]
i try to update my manifest version of pyezviz (in home assistant) but the problem was still here. So i comment manually all about

[2020-05-23 16:12] #26928 closed

[2020-05-23 16:12] #35733 closed

[2020-05-23 16:16] anthosz commented on #26729
I have the same issue, the user is the Gmail address used by tracker (without name/avatar)

[2020-05-23 16:39] alfonsolsl commented on #35982
thanks so much, definitely that fix the issue so i have to figure what device was sending all this.

Thanks again.

[2020-05-23 16:39] #35982 closed

[2020-05-23 16:55] Adminiuga commented on #34366
I need to look. Would need some changes similar nto how it was done for the lights.

[2020-05-23 17:12] dshokouhi commented on #36022
I keep seeing issues like this and it almost seems like the trend is that this is impacting Non-English folks.  I personally do not have this issue and it is working as expected for me but I am in the USA and I am using English names.  I wonder if maybe neato is storing it under a different locale or something thats causing the names not to render or be retrieved properly.  Its very hard to fix wh

[2020-05-23 17:13] nbarrientos opened #36042 "Enabling Temper support crashes Home Assistant"
## The problem

Python3 crashes and Home Assistant dies if a simple configuration for the [temper integration](https://www.home-assistant.io/integrations/temper/) is enabled.

## Environment

- Home Assistant Core release with the issue:  0.110.1
- Last working Home Assistant Core release (if known): 0.88.2
- Operating environment (Home Assistant/Supervised/Docker/venv): Official Docker image (ima

[2020-05-23 17:23] basti88bbl opened #36043 "EDL21: No sensor with FW 0.110 / Sensors with old files ok but no refresh"
Only refresh after restart.
After the Update no Sensor, i have to put in the Files: 1-0:2.8.0*255 detected #34617, after the Sensor is there, but no refresh and farther the failure with the 1-0:96.

If I put the files: EDL21: Unhandled sensor #35717
There is no Sensor.
<img width="549" alt="no refresh" src="https://user-images.githubusercontent.com/50115193/82736536-bf2ff580-9d2a-11ea-993e-a36bfce

[2020-05-23 17:27] nbarrientos commented on #36042
Same behaviour on a CentOS7 host so you should be able to reproduce it.

[2020-05-23 17:31] bachya commented on #35908
@Molodax I’ll take a look. Thank you!

[2020-05-23 17:35] tubalainen commented on #36018
The bug has been confirmed by the deconz rest api team.
[2553](https://github.com/dresden-elektronik/deconz-rest-plugin/pull/2553#issuecomment-633085463)

[2020-05-23 17:35] #36018 closed

[2020-05-23 17:46] golles commented on #35844
I've changed the `Redirect URIs` to my network host address `192.168...` and I successfully added my devices to HA.

Maybe the docs should be more clear what to add there, I really assumed it needed the HA address that's accessible through the internet.

[2020-05-23 17:47] andrewsayre commented on #36007
Your `refresh token` became stale -- you'll need to remove and setup the integration again.

[2020-05-23 17:50] andrewsayre commented on #35963
`System error -9 (12)` in the HEOS manual says "Indicates that the action was sent to the remote service, but the remote service returned an error response".

Do the following before trying again:
1) Reboot / power cycle your HEOS device
2) Log in your HEOS account

[2020-05-23 17:51] stickpin opened #36044 "deCONZ v2.05.76 breaks some lights integration"
## The problem

Latest deCONZ v2.05.76 seems to be changing a logic for some of the bulbs for example TRADFRI bulb E27 CWS opal 600lm.
It seems to be related to this logic refactoring commit (https://github.com/dresden-elektronik/deconz-rest-plugin/pull/2553).
It seems that Home Assistant trying to set CT which is no longer available for some bulbs.

## Environment

- Home Assistant Core release w

[2020-05-23 17:56] #36035 closed

[2020-05-23 17:59] #35981 closed

[2020-05-23 17:59] Adminiuga commented on #36036
A fix was merged. Going to be in 0.110.2

[2020-05-23 18:02] #35843 closed

[2020-05-23 18:12] Dmxsir opened #36045 "Platform error remote.xiaomi_miio - cannot import name"
## The problem

Configuration invalid
Platform error remote.xiaomi_miio - cannot import name 'brightness_and_color_to_int' from 'miio.utils' (/usr/local/lib/python3.7/site-packages/miio/utils.py)

## Environment

arch | armv7l

chassis |
dev | false
docker | true
hassio | true
host_os | Raspbian GNU/Linux 10 (buster)
installation_type | Home Assistant Supervised
os_name | Linux
os_version | 4.19.9

[2020-05-23 18:17] RenzoBeux commented on #28541
Thanks god!!! Thank you very much, really,  now i have a clean error log :)

[2020-05-23 18:20] tescophil commented on #34713
Now seeing this on 0.110.1, removed and reinstalled the integration to no effect.

[2020-05-23 18:22] Kane610 commented on #36017
Enable debugging and share logs please

[2020-05-23 18:24] Kane610 commented on #36044
Looks to me your trying to set something not supported by the light

[2020-05-23 18:25] atxbyea opened #36046 "Problem with onvif integration"
## The problem

After installing the onvif integration in a venv, scanning my network finds my cameras, but upon entering password \ username it fails with unknown error

## Environment

- Home Assistant Core release with the issue: 0.110.1
- Last working Home Assistant Core release (if known): None
- Operating environment (Home Assistant/Supervised/Docker/venv): venv
- Integration causing this is

[2020-05-23 18:29] stickpin commented on #36044
@Kane610 not really, please check (https://github.com/dresden-elektronik/deconz-rest-plugin/issues/2798#issuecomment-633107162).

The only change that been made on my side is the deCONZ upgrade to v2.05.76.

My Automation looks like this:
[code]
As you can see there's nothing special.

[2020-05-23 18:32] wtreur commented on #35998
Thanks for helping out on this @bdraco and @Tho85. Awesome!

* I tested the 0.110.1 version and reversed the `ST:` and `USN:` lines back to what they were before. (0.109.6) This seems to work just fine.
* I also tested your version @bdraco and that one is working for me as well.

Please note that I received some inconsistent results at first, but they were gone after I started to power cycle the h

[2020-05-23 18:37] bastshoes opened #36047 "deConz Hue bulb update state delay"
## The problem

After upgrading deConz to 2.05.76 there is a delay in updating light state. It become visible for updating from on to off. Turning off Hue bulb leads to long state update (up to 20 sec). Switch in lovelace flickers once. Meanwhile deConz reports state change  immideatly (see below logs).

## Environment

- Home Assistant Core release with the issue: 0.110.1
- Last working Home Assi

[2020-05-23 18:38] bastshoes commented on #36047
Issue opened also in deconz repo [#2796](https://github.com/dresden-elektronik/deconz-rest-plugin/issues/2796)

[2020-05-23 18:41] Kane610 commented on #36044
@stickpin the comment you're referring to explicitly states that the CT has been removed, since it was an ugly workaround. So you're calling something that is not supported by the light (though deCONZ) anymore. This issue can be closed

[2020-05-23 18:44] alfonsolsl commented on #36007
done!

[2020-05-23 18:44] #36007 closed

[2020-05-23 18:44] stickpin commented on #36044
@Kane610 Ok, thanks for the clarification.
I will change it to XY.

[2020-05-23 18:44] #36044 closed

[2020-05-23 18:51] felipediel commented on #35875
@Critical2104 You did something wrong. Replace all files in the folder and it will work fine. If it doesn't work, the problem is being caused by a custom component.

[2020-05-23 18:51] rytilahti commented on #28912
As I have no clue how you have set up your system, I have no idea what would be the best way to test the PR itself. I'm simply running homeassistant under virtualenv, and I just check-out the PR and restart homeassistant.. Perhaps it is better to wait at least a bit until all the pieces are there in place and hope it's working fine :-)

Anyway, if you simply want to test out the cli tool to make s

[2020-05-23 18:57] rytilahti commented on #36045
Are you using some custom integrations? If so, this is a dupe of https://github.com/home-assistant/core/issues/34955.

[2020-05-23 19:04] onkelbeh opened #36050 "0.110.1: Owntracks throws an error during init"
## The problem

Owntracks throws an error during init.

## Environment

arch | x86_64
-- | --
dev | false
docker | false
hassio | false
installation_type | Gentoo Linux
os_name | Linux
os_version | 4.19.113-kernel-x86_64
python_version | 3.7.7
timezone | Europe/Berlin
version | 0.110.1
virtualenv | false

- Home Assistant Core release with the issue:
0.110.1
- Last working Home Assistant Core rele

[2020-05-23 19:21] Juriga1 opened #36051 "Manual alarm control panel platform is not working properly"
## The problem

## Environment

- Home Assistant Core release with the issue:
- Last working Home Assistant Core release (if known):
- Operating environment (Home Assistant/Supervised/Docker/venv):
- Integration causing this issue:
- Link to integration documentation on our website:

## Problem-relevant `configuration.yaml`

[code]

## Traceback/Error logs

[code]

## Additional information

[2020-05-23 19:30] dshokouhi commented on #36051
Please make sure to fill out the issue template with as much detail as possible, this issue has nothing filled out and only a title.

[2020-05-23 19:31] dshokouhi commented on #36030
Closed in #35977 if this issue still exists after 0.110.2 is released please comment back

[2020-05-23 19:31] #36030 closed

[2020-05-23 19:36] Dmxsir commented on #36045
problem solved, thank you !
i have miio2 custom integrations.
it was an update in one of the file
[code]

[2020-05-23 19:36] #36045 closed

[2020-05-23 19:47] #21689 closed

[2020-05-23 20:00] Tho85 commented on #35998
@wtreur If it works with @bdraco's repo, I don't need any additional logging. I've prepared a fix, could you try this custom component and see if it works? https://github.com/Tho85/emulated_hue

[2020-05-23 20:10] davidolrik opened #36053 "Withings plugin redirects to IP instead of base_url"
## The problem

When adding profiles to the Withings integration, during the Oauth dance I'm redirected to the IP of my HA instance and not what I have configured in `http.base_url`.

## Environment

- Home Assistant Core release with the issue: Home Assistant 0.110.1
- Last working Home Assistant Core release (if known): Unknown
- Operating environment (Home Assistant/Supervised/Docker/venv): Doc

[2020-05-23 20:11] MartinHjelmare commented on #36038
The gateway, serial and tcp, should send a gateway ready message when opening the connection to the gateway. This should normally happen before 15 seconds.

Do you have a debug log from home assistant start?

https://www.home-assistant.io/integrations/mysensors/#debug-logging

[2020-05-23 20:14] olealm commented on #35883
Would still be unique to each camera, so guess it could be used as unique identifier as long as there is room for it.

[2020-05-23 20:16] bdraco commented on #35998
[code]

[2020-05-23 20:19] Tho85 commented on #35998
@bdraco This was my first approach as well, but I did not have success sending more than response at a time. The original Hue app works fine, however I had issues with my Echo. The Alexa app would hang after discovery, so I decided to only send one response at a time. Hence the "fallback" approach.

Or would you go with something like

[code]

?

[2020-05-23 20:20] frenck commented on #36053
`base_url` is not used in Home Assistant 0.110 and has been deprecated.
Please use internal_url and external_url instead.

Please note, that for OAuth authentication, Home Assistant will currently prefer to use the internal URL.

You can use that URL to set on the third party application API, as OAuth does not require it to be available for the outside world.

[2020-05-23 20:20] #36053 closed

[2020-05-23 20:21] bdraco commented on #35998
This might work
[code]

[2020-05-23 20:22] Tho85 commented on #35998
This works in theory, but as I said, there were problems with the Alexa app when sending more than one response. Actually, I don't know why it is implemented this way in ha-bridge. I'd rather take the conservative approach using a fallback

[2020-05-23 20:58] rroller commented on #35963
@andrewsayre that worked. Thanks!

[2020-05-23 20:58] #35963 closed

[2020-05-23 20:58] cdeharo commented on #30725
Same here, I can learn commands but sending did not work.

[2020-05-23 21:16] garyak opened #36055 "Intermittent Connectivity Ambient PWS"
![tempchart](https://user-images.githubusercontent.com/47036329/82740879-03f76480-9d0a-11ea-8a62-53c2a6ea3d42.jpg)

## The problem

Ambient PWS sensors intermittently go unavailable even though the Observer device continues to send data as verified using WU sensors. This began this afternoon.

## Environment

  | x86_64
-- | --
chassis | desktop
dev | false
docker | true
hassio | true
host_os | Ub

[2020-05-23 21:17] Adminiuga commented on #36036
if it is not fixed by 0.110.2 please re-open. Fixed by https://github.com/home-assistant/core/pull/35977

[2020-05-23 21:17] #36036 closed

[2020-05-23 21:24] grunjol commented on #23317
After a couple of releases without luck (since 0.90.2) it started working again on the rPi 3B using the 0.110 release.
I just enabled it without the device mapping, just the `hdmi_cec: ` line and until now.
@ryanrhee could you check if it works for you too?

[2020-05-23 21:24] xescure commented on #34227
Appearently there is none. However by editing `scenes.yaml` and removing the unnecessary lines that recorded not just the color temperature, but also the rgb values, solved the problem easily.

[2020-05-23 21:24] #34227 closed

[2020-05-23 21:30] MaximumSU commented on #36038
Are you sure? Which message you mean? I see only one [in docs](https://www.mysensors.org/download/serial_api_20):

I_GATEWAY_READY | 14 | Send by gateway to controller when startup is complete.
-- | -- | --

But, as i said, that message only sended after the gateway startup, not connect....

Yes. It look's strange: receiving the update messages from gateway, then trying to connect, then some more

[2020-05-23 21:50] #28780 closed

[2020-05-23 21:50] #30042 closed

[2020-05-23 22:07] MartinHjelmare commented on #36038
Opening the serial connection should reset the gateway. The gateway ready message is sent during transport init for the serial gateway.

https://github.com/mysensors/MySensors/blob/dd91aeb9c30dbd658bd02c34445669a7cd996c0f/core/MyGatewayTransportSerial.cpp#L42-L48

[2020-05-23 22:10] bachya commented on #36055
If the data is intermittent and returns, that indicates that the Ambient websocket was down for a time; Home Assistant can’t fix that.

[2020-05-23 22:10] #36055 closed

[2020-05-23 22:16] MartinHjelmare commented on #35865
Fixed in https://github.com/home-assistant/core/pull/36025.

[2020-05-23 22:16] #35865 closed

[2020-05-23 22:18] Adminiuga commented on #34366
Stop button on the shade or stop button in UI?

[2020-05-23 22:20] Aesculapius commented on #34047
The same issue arises with adguard home v0.102.0 installed on ubuntu via snap. Am I right that this is seen as a bug in adguard as opposed to the home-assistant adguard-home integration component?

[2020-05-23 23:00] tehbrd commented on #33459
updated to 110.1 still encountering the same issues.

[2020-05-23 23:02] CycleMichael opened #36057 "Flick Electric integration not working"
## The problem

Flick Electric Integration does not start after installation from integrations

## Environment

Set-up
arch | armv7l
dev | false
docker | false
hassio | false
installation_type | Home Assistant Core in a Python Virtual Environment
os_name | Linux
os_version | 4.19.97-v7+
python_version | 3.7.3
timezone | Pacific/Auckland
version | 0.110.1
virtualenv | true

- Home Assistant Core re

[2020-05-23 23:03] jnimmo commented on #33459
Please enable debug logging of the intesishome platform and send through some logging from the period it is happening in.

[2020-05-23 23:05] kaizersoje opened #36058 "History integration not excluding entities/domains from DB"
## The problem

I have excluded many entities from the `history` and `logbook` integrations. However, I can see that those entities are still being captured in the home assistant sqlite db. Due to this, my DB is growing at a fast rate. For example, I deleted `sensor.load` records from the db. However, I can see the states are still being captured after deletion.

![image](https://user-images.githu

[2020-05-23 23:07] tehbrd commented on #33459
It's already set to

logger:
  default: warning
  logs:
    homeassistant.components.climate: debug

[2020-05-23 23:11] jnimmo commented on #33459
Thanks that’s great I just need to see some more context around the error, there should be messages saying intesishome has lost connection to the server, then it should automatically retry the connection a minute later, so I’m keen to see logs of that process happening

[2020-05-23 23:11] Adminiuga commented on #34366
I've added stop command. Can you test it? Same steps, but
1. you have to be on 0.110.x
2. new branch is https://github.com/Adminiuga/home-assistant/tree/ac/zha-cover-shade-2

[2020-05-23 23:12] fanaticDavid commented on #36017
Working on that now with the following config:
[code]

Any suggestions on how to share the logs? This is generating A LOT of lines. Or am I looking for something specific?

[2020-05-23 23:16] christensonautohome commented on #28940
Curious if this will be fixed in an up coming release?  Not sure why this issue was closed by the bot if the required 'fix' includes adding a custom component.

[2020-05-23 23:20] christensonautohome commented on #27755
Sounds like this was fixed by adding a custom component; not the ideal fix IMO.
see fix here #28940 and https://github.com/CorneliousJD/flux_led
why isn't this being addressed in the core HA?

[2020-05-23 23:27] christensonautohome commented on #35247
@Danielhiversen Not sure if that is 100% correct.  Looks at the fix implemented [here ](https://github.com/CorneliousJD/flux_led) and [here](https://github.com/home-assistant/core/pull/29079).

Also, my guess is @allmoney is running v8 on the MagicHome app.  You can check by loading the app and clicking on 'device settings' then the firm ware version should appear.  This seems to be a problem with

[2020-05-23 23:30] tehbrd commented on #33459
brd@host:~$ grep intesis home-assistant.log
2020-05-23 17:10:52 INFO (MainThread) [homeassistant.components.climate] Setting up climate.intesishome
2020-05-23 17:11:04 WARNING (MainThread) [homeassistant.components.climate] Setup of climate platform intesishome is taking over 10 seconds.
  File "/usr/local/lib/python3.7/site-packages/pyintesishome/pyintesishome.py", line 320, in _handle_packets
20

[2020-05-23 23:36] tehbrd commented on #33459
Just looking at that, I tested an automation I have setup at 530. So the first error at 17:11 is not related. The error at 1:30am is the one that would've cause the sync error. By morning I had another automation continuing to fire because it couldn't update the state.

Info from the logbook
``
5:30:24 PM
quick on has been triggered
5:30:24 PM
AC changed to heat

[2020-05-23 23:42] christensonautohome opened #36060 "Flux_LED - delayed response from devices causes error to turn on"
DO NOT DELETE ANY TEXT from this template! Otherwise, your issue may be closed without comment.
-->
## The problem

Flux_LED component doesn't wait long enough for a response from the devices before reverting to the 'off' position.  Color changes work, turning off works, only issue is HA turns off the device because it hasn't heard a response back from the device quickly enough.

Running HA in Doc

[2020-05-23 23:49] zhulik commented on #34047
@Aesculapius exactly, and the AdGuard team does not want to fix it.

[2020-05-24 00:05] frenck commented on #33921
I've just implemented some additional checks in the upstream library to handle/detect empty responses from WLED.

Furthermore, I've added retry and backoff logic. If a chip doesn't respond, for whatever reason (or spits out an empty response), it will simply try again 3 times (exponentially).

This should cover most cases where WLED is too busy or is in flux.

I'm adding some other logic to the li

[2020-05-24 00:24] CorneliousJD commented on #27755
My (admittedly lacking) understanding of it is that the firmware has been changed on these actual devices that it makes creating one cohesive component extremely challenging, because I'm not sure there is any way to detect what version of the chips/firmware you have, etc, so the fix I have works for MY specific lights, (latest firmware, RGB only) but probably wouldn't work for some of the other on

[2020-05-24 00:25] jnimmo commented on #33459
Please adjust your logging to include homeassistant.components.intesishome: debug,
there will be lines in the logs like 'Connection to IntesisHome API was lost. Reconnecting in 2 minutes'

[2020-05-24 01:05] vilhelmericson commented on #35742
I had a look at asuswrt.py in your repo. I agree, this is quite strange!
Just to make it clear to myself I made a small script, foo.py, to simulate
what's going on in line 344 of asuswrt.py:
[code]
The output is as expected, it shows a corresponding ValueError as shown in
the Traceback filed with this issue:
[code]

Den ons 20 maj 2020 kl 07:43 skrev kennedyshead <notifications@github.com>:

[2020-05-24 01:17] hunterjm commented on #36033
duplicate of #34218

[2020-05-24 01:17] #36033 closed

[2020-05-24 01:19] frenck commented on #33921
In <https://github.com/frenck/python-wled/pull/84>, I'm adding support for a new API endpoint that WLED 0.110 introduced. Support for 0.8.4 and newer is still in place.

This will reduce the number of requests that Home Assistant fires at the WLED device by 50%. Thus reducing the risks of these issues, however, only supported by devices running 0.110.0 or newer.

[2020-05-24 01:19] hunterjm commented on #36046
@atxbyea - Do you mind adding `zeep: debug` to your logger configuration and providing the last "HTTP Post to" and "HTTP Response From" messages in your log?

[2020-05-24 01:32] frenck commented on #33921
Additionally: Please note, the original cause of this is mainly the Alexa stuff and can be triggered by other things as well.

If you run WLED and don't use it, disable the Alexa things. The next version of WLED (first one after 0.110.0), will disable it by default, as it caused boot loop issues...

[2020-05-24 01:33] frenck commented on #29637
I'm calling this issue resolved for now, since there was no response, no additional reports and no reproduction scenario.

[2020-05-24 01:33] #29637 closed

[2020-05-24 02:17] blender0 commented on #36050
I had the same problem so I removed the integration and tried installing it again via the front end. The popup where it normally gives you the webhook URL is now completely blank. It did get rid of the log errors however I'm now without the new webhook info.

[2020-05-24 02:32] brettku opened #36061 "OpenGarage Component Fails After Upgrading to 0.110.1"
## The problem
 OpenGarage fails after upgrading to 0.110.1 from 0.109.6

## Environment
- Home Assistant Core release with the issue: 0.110.1
- Last working Home Assistant Core release (if known): 0.109.6
- Operating environment (Home Assistant/Supervised/Docker/venv): Supervised
- Integration causing this issue: OpenGarage
- Link to integration documentation on our website: https://rc.home-assis

[2020-05-24 02:37] #34366 closed

[2020-05-24 02:48] hunterjm commented on #35990
Found your issue.  Thanks for the info.

[2020-05-24 03:02] prystupa commented on #36050
+1 - I have exact same issue

[2020-05-24 03:31] bagobones commented on #35220
While I don't generally care about the names of the torrents seeding in HA I do like to know what is incomplete / downloading and use it to watch for STUCK torrents.

This should be configurable and probably have a hard limit preset to avoid the database errors.

Going to say that 72781 characters truncated is probably on the **LOW** side for anyone that is using transmission for long term seeding

[2020-05-24 04:57] bagobones opened #36062 "Automation Editor UI: Cover Device UI slider missing on initialization"
## The problem
In the automations editor UI if you add a Device action for a cover the position initializes with no value and the slider is missing.

If you switch to YAML mode, set a position, save and re-open the automation you can now see the slider and make changes.

Suggested fix would be for an initial value for the slider position to be set to 0 or 100 when a device of type cover is selecte

[2020-05-24 05:46] Critical-Impact commented on #35875
This fix worked for me. Ran into the device storage is full error and followed the instructions and was able to learn new codes.

[2020-05-24 05:56] vistalba commented on #35187
I still facing in this issue on 0.110.1 resease.

![22B4A71E-F860-49F4-BE98-E8696ABEC0FD](https://user-images.githubusercontent.com/12324196/82746756-a60f5f00-9d93-11ea-821d-9f7f994bf466.jpeg)

On screenshot you can see that is switches from „away“ to „unknown“ and never came back up. Controller was available. I saw the issue this morning and checked if controller is working. Can‘t see any problem

[2020-05-24 06:40] Mic92 commented on #35522
I can confirm this error it seems. That the intent component expect this method from every module that is called intent.py.

[2020-05-24 06:47] atxbyea commented on #35908
I did send a mail to Professor Bob

`Hi Professor.

I'm reaching out to you because I have noticed the integration I use for lightning monitor has been left hanging.

I currently use a software called Home Assistant to manage my whole house, someone made a integration that fetched data from your project to monitor lightning strikes, but the URL seems to have been removed.
http://wwllln.net/new/map

[2020-05-24 07:12] Kane610 commented on #35187
Ok. Enable debug and share logs

[2020-05-24 07:31] atxbyea commented on #36046
https://hastebin.com/olahibihen.xml @hunterjm

[2020-05-24 07:37] onkelbeh commented on #36039
Same here, I have one Calendar containing info for 3 different garbage bins. Every calendar shows an entry under "My Calendars", but it shows all appointments ignoring the search criteria.

[2020-05-24 07:45] GregWildman commented on #35916
Great option for HA. Now I don;t need to use my 3rd party code. I have the same "feature" on my Uniview cameras. The following is what I get in the log. I am defintely using this feature on the camera :)

    2020-05-24 09:24:47 INFO (MainThread) [homeassistant.components.onvif] No registered handler for event from 48:ea:63:xx:xx:xx {
        'SubscriptionReference': {
            'Address': {

[2020-05-24 07:58] tkdrob commented on #35832
I am getting this same error using my nanoleaf aurora connected with homekit controller. Same exact traceback and everything. It happens whenever I am trying to switch the panels on or off from home assistant. If I switch the panels on, home assistant shows them as being off even though they turn on.

[2020-05-24 08:03] groenmarsmannetje opened #36066 "Glances integration cannot be ignored"
## The problem

The Glances integration is discovered, but I already have set it up. I cannot ignore this integration as you can do with other integrations.

## Environment

- Home Assistant Core release with the issue: 0.110.1
- Last working Home Assistant Core release (if known):
- Operating environment (Home Assistant/Supervised/Docker/venv): Home Assistant
- Integration causing this issue: Gla

[2020-05-24 08:05] thefrenchmatt commented on #31925
If you could add a 'dept' key to the config flow, integration won't load without it...

Log Details (WARNING)
Logger: homeassistant.components.meteo_france.sensor
Source: components/meteo_france/sensor.py:61
Integration: Météo-France (documentation, issues)
First occurred: 9:04:14 AM (1 occurrences)
Last logged: 9:04:14 AM

No 'dept' key found for 'xxxxxx'. So weather alert information won't be av

[2020-05-24 08:09] dshokouhi commented on #36058
You need to exclude it from `recorder` to stop recording values for an entity. `history` is only for history tab in the side bar.

[2020-05-24 08:09] #36058 closed

[2020-05-24 08:09] oncleben31 commented on #31925
@thefrenchmatt can you open a dedicated issue and mention me when done? It seems not related to the initial topic.

[2020-05-24 08:09] frenck commented on #36066
The glances integration + glances itself, does not have any discovery feature...

It does have an import feature from YAML configuration. It is still present in your configuration somewhere maybe?

[2020-05-24 08:15] anglrus opened #36068 "Xiaomi Aqara Wireless Relay Controller error"
## Checklist

- [x] I have updated to the latest available Home Assistant version.
- [x] I have cleared the cache of my browser.
- [x] I have tried a different browser to see if it is related to my browser.

## The problem

Xiaomi Aqara Wireless Relay Controller doesn't support now. As result:
[xiaomi_gateway] The device with sid XXXXXXXX isn't supported of the used gateway firmware. Please update

[2020-05-24 08:16] frenck commented on #34047
Let's improve on the situation from this end in that case.

A possible solution: If the version is not present, we going to assume it is the latest greatest. Risk of this: If the actual version running does not match the integration, an error might occur.

As remediation for that, it might helpful to add a message to the logs about it.

[2020-05-24 08:22] mgiako commented on #35990
Thanks to you!
Let me know if I can help with a solution. Maybe testing some new code.

[2020-05-24 08:24] thefrenchmatt opened #36067 "meteo_france : non-unique city names requires dept / postal-code"
@oncleben31 cc @victorcerutti @Quentame

I think there are 2 options to solve this in config flow:
- add a 'dept' key
- move the mention of postal codes from comment to 'default value'

Log Details (WARNING)
Logger: homeassistant.components.meteo_france.sensor
Source: components/meteo_france/sensor.py:61
Integration: Météo-France (documentation, issues)
First occurred: 9:04:14 AM (1 occurrences)
L

[2020-05-24 08:30] silviudc commented on #35964
I am also experiencing the same when going from 0.109.6 to 0.110.1

`2020-05-24 09:20:46 ERROR (MainThread) [hass_nabucasa.iot] Error handling message
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/hass_nabucasa/iot.py", line 94, in _async_handle_handler_message
    result = await handler(self.cloud, message["payload"])
  File "/usr/local/lib/python3.7/site-packa

[2020-05-24 08:38] oncleben31 commented on #36067
`dept` key is get by the API. Theoretically no need for setting in the config flow. Do you have an example of city of city id to reproduce the error ?

[2020-05-24 08:39] frenck commented on #36067
@thefrenchmatt Thanks for opening up an issue.

First of all, please don't tag maintainers yourself, it can be considered annoying in general.

Secondly, when creating an issue, an issue template is presented. Please update your issue to have that template. Without it, the issue will be closed.

Thanks already! 👍

[2020-05-24 08:46] GrumpyMeow opened #36069 "Onvif: GetStreamUriResponse instance has no attribute 'Uri'"
Hi,

The recent Onvif related changes don't directly work on my EZViz DB1 camera-doorbell. I think it's not compatible with the Hikvision HD-DB1 firmware i flashed onto the device. This specific firmware supports Onvif.

The

[code]
This are the last request/response before the error:
[code]

[2020-05-24 08:51] GrumpyMeow commented on #36069
[code]

[2020-05-24 08:53] GrumpyMeow commented on #36069
async def async_get_snapshot_uri(self, profile: Profile) -> str:
        """Get the snapshot URI for a specified profile."""
        if not self.capabilities.snapshot:
            return None

        media_service = self.device.create_media_service()
        req = media_service.create_type("GetSnapshotUri")
        req.ProfileToken = profile.token
        result = await media_service.GetSnapshotU

[2020-05-24 08:54] GrumpyMeow commented on #36069
http://192.168.11.127/onvif/snapshot.jpg

[2020-05-24 09:09] DavidMStraub commented on #35873
I also cannot get the http server to start with 0.110, no error whatsoever in the log :frowning_face: Haven't identified the offending integration yet.

[2020-05-24 09:09] carsten-h commented on #34641
Great to hear! Thank you!

[2020-05-24 09:11] DavidMStraub commented on #35924
I have the same issue since upgrading to 0.110., unfortunately disabling the camera integration didn't help, too many integrations to try manually :frowning_face:

[2020-05-24 09:22] DavidMStraub commented on #35924
For me, downgrading to 0.109.6 did not fix the problem, I'm starting to get pretty desperate. @ChromoX, how did you get it to work again?

[2020-05-24 09:23] MaximumSU commented on #36038
Yes, it is. But it is only at startup.

Why? Which method is used for it? My is not reset (by design, and if it would be like this, it is not good for my application). My gateway connected only by RX/TX lines, so, it can't be reset by any of Serial port lines like DTR/DSR/CTS etc.
May be you add some settings in yaml like "optimistic: true/false"? if it is "true" - do not wait, simply connect to t

[2020-05-24 09:29] MartinHjelmare commented on #36038
I'm just describing what I know is expected when using the mysensors.org platform. This integration follows the api that is defined by mysensors.org.

[2020-05-24 09:37] herwarth opened #36071 "Egardia or Woonveilig alarm system on different VLAN"
Because the Egardia Woonveilig alarmsystem listens on port 80 and authentication is done over a plain HTTP request I wanted to move the Egardia system to another VLAN. Home Assistant does not like the alarm system to be in another VLAN and throws an error my config is not right.

I would like to be able to connect to the alarmsystem in another subnet so Home Assistant is not throwing the error. Of

[2020-05-24 09:42] ondoteam opened #36072 "internal_url using duckdns and browser ERR_EMPTY_RESPONSE"
## The problem

As it appears in the documentation I have configured the external_url and internal_url parameter as shown below. I have also tried to do it through the UI. In both cases, restarting HA and / or trying to reload the parameters from the configuration.

The problem is that when I try to access from the local URL, the browser gives me the following error: ERR_EMPTY_RESPONSE

## Environ

[2020-05-24 09:42] Danielhiversen commented on #36061
When do you get the error message? When Home Assistant starts up?

[2020-05-24 09:46] fjufju commented on #31867
@jpcornil-git any updates? Have problem. Thank you.

[2020-05-24 09:58] MaximumSU commented on #36038
I can't find such requirement in MySensors api. Where is it? The autoreset function on serial connection - it is the function of Arduino boards itself (and this is not true for all boards and not all serials on that boards)....

[2020-05-24 10:00] jackkitley commented on #36072
I started having a issue where google says that my [Project Name] cannot be reached. Sometimes it works, other times not.

Recently google is unable to reach my home assistant to control switches, lights etc.

[2020-05-24 10:02] GrumpyMeow commented on #36069
I hardcoded the result and that got things working:

[code]

[2020-05-24 10:02] GrumpyMeow commented on #36069
Hardcoding the uri's gave the following output:
[code]

[2020-05-24 10:03] jackkitley commented on #36072
https://community.home-assistant.io/t/home-assistant-0-110-0-google-trouble-reaching-dns/198773

[2020-05-24 10:16] frenck commented on #36072
@jackkitley Please don't stack different issues. Instead, create a new one. Thanks 👍

[2020-05-24 10:18] frenck commented on #36072
@ondoteam Could you please provide the `http` configuration you are using?

In general, these URLs (just like the old base URLs) are only hints for integrations that need an URL to the instance, it has nothing to do with the HTTP configuration/webserver setup of the Home Assistant instance.

[2020-05-24 10:19] brettku commented on #36061
Yes, only on restarts

[2020-05-24 10:22] Danielhiversen commented on #36061
Hmm, strange. Not sure why that happens.

[2020-05-24 10:23] frenck commented on #36071
Thanks for opening up an issue, @herwarth.

When creating an issue, an issue template is presented. Could you please update your issue to conform to that template and have as many asked fields filled as possible?

Thanks! 👍

[2020-05-24 10:32] MartinHjelmare commented on #36038
Please ask mysensors.org about this.

[2020-05-24 10:43] MartinHjelmare commented on #36061
Getting the aioheept session requires async context. Change `def setup_platform` to `async def async_setup_platform`:
https://github.com/home-assistant/core/blob/e6065569ae1e3817b6e539c4a72be71acc92380b/homeassistant/components/opengarage/cover.py#L58

[2020-05-24 10:49] MaximumSU commented on #36038
Asking about what? I asking you as codeowner of mysensors integration, why you do the synchronous delay of 15 seconds (such delay hold's all HASS system to load), as it is not needed so strictly, i can't find such limitation from MySensors api, you do not provided any links to documentation, with such requirement or advices, or guides to do so on MySensors api. And you suggest me ask mysensors....

[2020-05-24 10:50] groenmarsmannetje commented on #36066
Yes that was the reason. Thank you.

[2020-05-24 10:50] #36066 closed

[2020-05-24 10:51] MartinHjelmare commented on #36038
My interpretation of the api is that the serial connection should reset the gateway. If you disagree please ask mysensors.org about it and see what they say.

[2020-05-24 11:01] DavidMStraub commented on #35924
I hope I'm not hijacking this thread with something that is unrelated, but I also have the problem that the http server does not start (not showing up with `ss -tlp`) after upgrade to 0.110, with no error in the log whatsoever. I have tried the following, with no success:

- Downgrade to 0.109.6
- Downgrade to 0.109.2
- Rollback of my entire system (HA Core running in a venv on an RPi 3, Python 3.

[2020-05-24 11:06] jackkitley opened #36076 "HA 0.110.0 google cannot reach url [Console Project]"
## The problem

Ever since upgrading to 0.110.0 google is having trouble reaching the domain to the house. When you ask google to do a task it takes a while to query and then eventually says:

“Sorry, i couldnt reach [Project Name]”

OR

“Sorry, it looks like [Project Name] is unavailable right now”

I have set the external and internal url, i have enabled testing again in google console.

Im not

[2020-05-24 12:05] jpcornil-git commented on #31867
Hi Fumi,

I still plan to address this issue, just need to find time, hopefully
during this summer (the plan at least), as this is a complex one to
address/resolve.

Cheers,
jpc

Le dim. 24 mai 2020 à 11:46, Fumi Ju <notifications@github.com> a écrit :

[2020-05-24 12:06] fermulator commented on #35807
OK thx @marthoc (didn't see a PR linked to this) all good then

[2020-05-24 12:25] emontnemery commented on #35922
@hmmbob, @rickh18 if you could try testing with additional logs as suggested here: https://github.com/home-assistant/core/issues/35922#issuecomment-632908646 that would be highly appreciated
@rickh18 maybe I misunderstood you, is zeroconf 0.25.1 not resolving the problem for you?

[2020-05-24 12:28] #36061 closed

[2020-05-24 12:42] hmmbob commented on #35922
Will definitely do so, but haven't found time yet ;)
I'm expecting to have some time avail later today.

[2020-05-24 12:54] tescophil commented on #36021
Hi, I think this may be because of the deprication of `base_url` in the config which has now bee replaced by `internal_url` and `external_url` under the `homeassistant:` section.

You can also set a `base_url` under the `tts:` section

The was the issue in my case when TTS stopped working after the update.

[2020-05-24 12:56] Danielhiversen commented on #35247
That is something else.

Here is the problem that the bulb does not respond in 30seconds

[2020-05-24 13:07] vistalba commented on #35187
I just enabled the debug log for unifi integration and restarted homeassistant.
After that I just restarted the unifi docker container on the other host.
While restarting all "device_tracker" going to "unknown" and stuck there until HA reboot.

This is how debug output looks like:

[code]

I had to remove some personal information from the log and some lines about other integrations/plugins as wel

[2020-05-24 13:36] DarwinData commented on #23045
fyi, this error still exists in 110.1
I have 7 switches and I get the following many times a day.
Could not read state for 192.168.1.110: Communication error
thanks

[2020-05-24 13:47] hunterjm commented on #36069
Fixed in 0.110.2 via #35932

[2020-05-24 13:47] #36069 closed

[2020-05-24 13:50] ondoteam commented on #36072
@frenck of course.

[code]

[2020-05-24 13:52] fribse commented on #35681
It seems to be that only the 'arrow' keys doesn't work at first.
If I use the slider it moves the blinds, and after moving the slider, I can then use the arrows.

[2020-05-24 13:57] bdraco commented on #35832
This is fixed in #35997 which will be in 0.111

[2020-05-24 13:57] #35832 closed

[2020-05-24 13:59] hunterjm commented on #35990
With tag this issue in a PR, hopefully later today.

[2020-05-24 14:03] MarkHofmann11 commented on #23045
@DarwinData - We have several pull requests in that will fix this issue.  I have been running the modified tplink component for the past 5 months and it works perfect.  Our pull requests have not been approved due to them being work-arounds and there is other work being done to the back end library.  I still don't understand the fix/work-around can't be added for the time being.  In the meantime,

[2020-05-24 14:07] bdraco commented on #35924
Try

`grep taking home-assistant.log`

Disable any integration that is taking over 10s to startup.

[2020-05-24 14:13] Pirol62 commented on #23045
Hi, I solved mine by replacing my repeater and getting a better connectivity for the switches. No errors from then on

[2020-05-24 14:14] zbuh commented on #35967
following

[2020-05-24 14:20] SeraphimSerapis commented on #22127
@pergolafabio @arbreng Did you two ever find a solution for this? I run into the same with switches that look like this:
[code]

[2020-05-24 14:30] 1ntroduc3 commented on #35612
@mjj4791  How can I force another station than geulhalven?

[2020-05-24 14:33] tprelog commented on #34130
Sorry to comment on this closed issue @bdraco @stigganOne

We might have have figured out the openssl issue for HomeKit in the Home Assistant Core FreeNAS plugin. I don't have any physical HomeKit devices to test with -- but I was successfully able to pair the `HomeKit Bridge` integration with the `HomeKit Controller` integration in Home Assistant `0.110.1`

The steps are written for the FN plugin

[2020-05-24 14:38] pergolafabio commented on #22127
No, still using the scripts as a workaround...

[2020-05-24 14:42] ritterr opened #36081 "Somfy Tahoma UnoIOComponent"
The following devices are not recognized by the Tahoma integration:

2020-05-24 15:51:38 WARNING (SyncWorker_9) [homeassistant.components.tahoma] Unsupported type io:PergolaHorizontalUnoIOComponent for Tahoma device Pergola Front
2020-05-24 15:51:38 WARNING (SyncWorker_9) [homeassistant.components.tahoma] Unsupported type io:PergolaHorizontalUnoIOComponent for Tahoma device Pergola Side

[2020-05-24 14:44] mjj4791 commented on #35612
By default: the location configured for home assistant will be used to determine the closest weather station.

If the weather station closest to you is not the one you want, you can override this by specifying the longitude and latitude to use as part of the buienradar component. If you specify those, these coordinates will override the home assistant location and these will be used to determine t

[2020-05-24 15:04] Critical2104 commented on #35875
Flashed a new HA instance, only other custom component is SmartIR, merged in again your changes and now I always get
`Failed to send packet: The device storage is full`

I have two `rm mini 3`, one bought almost one year ago and it is working fine, and another one bought last week that is causing me this issue. Apparently the two devices are identical.

[2020-05-24 15:20] ochlocracy commented on #35917
@msp1974 Are you still experiencing this?

[2020-05-24 15:21] #35332 closed

[2020-05-24 15:31] ChromoX commented on #35924
@DavidMStraub I had to remove all custom components and HACS manually going through `.storage` and removing all references. I disabled most integrations and then got 0.109.6 restarting. Then I slowly added all my integrations back.

Honestly it's a little disappointing that HA has been going towards the GUI integrations, yet the HTTP server is not stable enough to deal with misbehaving add-ons. Th

[2020-05-24 15:38] DavidMStraub commented on #35924
Thanks @ChromoX and @bdraco. For whatever reason, my 0.109.2 recovered after a couple of hours. Now I'm unsure if I should attempt another upgrade to 0.110. I'm also unsure if my problem was the same as the issue described here. I agree that removing integrations *without* UI has become more difficult than in old YAML times...

[2020-05-24 15:38] tipofthesowrd commented on #36046
I have the same issue, however, somehow, I was able to add one of my cameras. All sensors showed up correctly and I could view the stream.

The idiot that I am I removed the working device trying to debug and now I can't readd. If there's anything I can do to help let me know.

[2020-05-24 15:51] PianSom opened #36083 "LGTV WebOS Live TV - media_content_id not working as expected"
## The problem

I have an LG TV which is connected both to an antenna and a satellite. I am writing a script to change channel using _media_player.play_media_ and cannot find a method of distinguishing between the two connections. Both of these seem to be classified as “Live TV” as a Source, with satellite taken as having higher priority.

For example, when using antenna channel 101 is “BBC ONE HD

[2020-05-24 16:02] petarvucetin opened #36084 "AirVisualError: call_per_day_limit_reached"
## The problem

I have created a new API key because previous one stopped working with API calls exceeded.

AirVisual is exhausting API call limit very fast. I have a new key created and it made 508 calls in  one day. Now I am getting AirVisualError: call_per_day_limit_reached.

The stats from the website:
Created:
Sat May 23 2020
01:28:21 GMT-07:00

Calls day
508
Calls month
897

## Environment

[2020-05-24 16:03] shanep2300 commented on #35922
Running HassOS on VirtualBox and they become unavailable on a shutdown as I have my PC go to sleep from 2-7am every night. The only way to get them to be found is by removing the integration and the devices, restart HA, the reinstall the integration.

What do I need to do for my setup to help you guys out in getting more logs? This same issue is also happening with myq (garage) integration.

[2020-05-24 16:20] markgllin commented on #34763
I've encountered this too. I believe the problem is related to the rtsp stream url.

In your trace, the stream appears as `rtsp://admin:123456@192.168.0.113:554/realmonitor?channel=0&stream=0.sdp` but for IPC365 (at least for my camera), the correct url is actually `/live/ch00_0` and not `/realmonitor?channel=0&stream=0.sdp`

[2020-05-24 16:24] marco76mk commented on #35875
works on my broadlink RM mini 3 (new firmware):
remote:
  - platform: broadlink
    host: '10.0.0.82'
    mac: 'XX:XX:XX:XX:XX'
    type: rm_mini3_newblackbean

Thanks!!!

[2020-05-24 16:44] geiseri commented on #35658
I think there is something else going on unrelated to this part of the system. Sadly I do not have any more useful input that can help here, so I will close this issue.

[2020-05-24 16:44] #35658 closed

[2020-05-24 17:03] dshokouhi commented on #36081
Please make sure to fill out the issue template that gets presented when you create a new issue.  All requested information is important to help you out.  Please update your original post and include the template filled out.

[2020-05-24 17:09] wtreur commented on #35998
@Tho85 I've installed the fix you've prepared as a custom component and I was able to pair and succesfully tested a couple of home assistant controls with my harmony app. Thanks!

[2020-05-24 17:12] hmmbob commented on #35922
@emontnemery tests done. Logs:

[110-25.1-zeroconf_debug.log](https://www.hmmbob.nl/110-25.1-zeroconf_debug.log)
[110-26.1-zeroconf_debug.log](https://www.hmmbob.nl/110-26.1-zeroconf_debug.log)

Might be helpful in debugging: in the 0.26.1 run 1 device got connected - it's called "studeerkamer". All other cast devices did not get connected (even though i see their messages passing by in the logs)

[2020-05-24 17:18] bachya commented on #36084
Duplicate of https://github.com/home-assistant/core/issues/34787 and fixed in 0.110.2.

[2020-05-24 17:18] #36084 closed

[2020-05-24 17:26] orson1282 commented on #35875
I also had this problem and I just upgraded to the 0.110.2 and it seems to have fixed the problem, buuuttt... :-)
I just installled a new remote, and noticed the following. All of the other remotes I have create 2 files in the .storage folder.
broadlink_remote_<mac>_flags
broadlink_remote_<mac>_codes

This time only the _codes file was created, but not the _flags file.
I don't know if this means a

[2020-05-24 17:29] anamika784 commented on #35875
Every works fine.
Thank you.

[2020-05-24 17:32] helto4real commented on #34357
Ohh i c... I am going to setup a VM with IP6 only interface and try to reproduce the problems. Wont have time until weekend though. Thanks for your support helping out finding this issue

[2020-05-24 17:35] DarwinData commented on #23045
OK, so I tried the updated code as a custom component and get the following error:
Unable to prepare setup for platform tplink.switch: Platform not found (cannot import name 'SwitchEntity' from 'homeassistant.components.switch' (/usr/src/homeassistant/homeassistant/components/switch/__init__.py)).
Connection lost. Reconnecting…
None of the switches work so I had to revert back.
thanks

[2020-05-24 17:50] dshokouhi commented on #35998
So just a FYI but once this fix is merged we will need to update teh blog post with a breaking change...it seems like we will need to repair harmony to emulated hue.  I just updated and copied over the custom integration but it was not working initially.

[2020-05-24 18:02] Villhellm opened #36086 "Roku search not working"
## The problem

Sending "search" to the remote.send_command service no longer works. It sends the keypress, but the Roku device goes to Home instead of Search

Service: remote.send_command
Data:
[code]

## Environment

- Home Assistant Core release with the issue: 0.110.2
- Last working Home Assistant Core release (if known): 0.109.6
- Operating environment (Home Assistant/Supervised/Docker/venv):

[2020-05-24 18:05] carsten-h commented on #34641
I tested it with 0.110.2 but nothing has changed although te fixes should be inside this version!

[2020-05-24 18:07] mcinnes01 opened #36087 "Onvif integration AttributeError: 'NoneType' object has no attribute 'token'"
## The problem

I upgraded to latest 0.110.2 and tried the new Onvif integration through the ui with no cameras configured in the config. I have an empty stream and ffmpeg entities in the config. It discovered the camera and allows you to set it up, but doesn't create a device or entities.

The error produced is:

Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/conf

[2020-05-24 18:16] petarvucetin commented on #36084
I have explicit looked for this issue but typing open issue AirVisual nothing has come up. Sorry for the dupe.

[2020-05-24 18:22] Veda82 commented on #35866
Just updated to HomeAssistant 0.110.2 which as far as I understand should include the fix. However, the problem mentioned by @carsten-h is still present for me.

[2020-05-24 18:24] carsten-h commented on #35866
Yes, 0.110.2 is **not** fixing it for me also!

[2020-05-24 18:24] hmmbob commented on #36072
This is the key to the answer.

You have HA configured to use HTTPS, but are talking HTTP to it - that won't work.

[2020-05-24 18:27] felipediel commented on #35875
@anamika784 @marco76mk Thanks for the feedback.

@orson1282 That's ok, the file will be created when you capture a toggle command. But thanks for the feedback anyway.

@Critical2104 Could you try without SmartIR?

[2020-05-24 18:27] marco76mk commented on #35875
I updated to version 0.110.2
With this change it works "broadlink.learn"
"remote.learn_command" doesn't work

here is the error:
2020-05-24 19:58:04 ERROR (MainThread) [homeassistant.components.broadlink.remote] Failed to learn 'Turn off/television': The device storage is full

[2020-05-24 18:31] carsten-h commented on #35866
I deleted the ONVIF integration, rebooted HassOS and then added the camera again, rebooted a second time, but nothing changed. It is still not working in 0.110.2!

[2020-05-24 18:37] emontnemery commented on #35922
@hmmbob Awesome!
However, the first line in https://www.hmmbob.nl/110-25.1-zeroconf_debug.log is:
`2020-05-24 16:36:35 INFO (SyncWorker_8) [homeassistant.util.package] Attempting install of zeroconf==0.26.1`

Can you double check that the logs are the right ones?

[2020-05-24 18:40] hmmbob commented on #35922
Yeah, it always prints that but I verified each run with `pip list | grep zeroconf`. It is 0.25.1 in this run.

[2020-05-24 18:42] aptonline commented on #35851
Issue still happening in 1.110.2

![Screenshot 2020-05-24 at 19 41 36](https://user-images.githubusercontent.com/190136/82762054-ac82f280-9df6-11ea-936e-6a1c2dd019a9.png)

[2020-05-24 18:44] felipediel commented on #35875
@marco76mk This error seems quite impossible to happen with this update. Or maybe there is something I don't know. Could you please check if you have [this file](https://github.com/home-assistant/core/blob/dev/homeassistant/components/broadlink/remote.py) in `/usr/src/homeassistant/homeassistant/components/broadlink/remote.py`?

[2020-05-24 18:50] ericksonian commented on #35875
I'm having this same "Storage is Full" running 0.110 in Docker on Ubuntu. I'm not sure where the homeassistant/components folder is so I can test this fix you have. Is there a way to make this happen? Of will the fix be in the next full release?
I'm working with a RM Mini 3, the red one, and I have been able to get HA to see the device and connect, but have had no luck sending or learning any code

[2020-05-24 18:53] allmoney commented on #35247
@christensonautohome no, v5, see screenshot:
![Screenshot_20200524-215105_Magic Home](https://user-images.githubusercontent.com/939594/82762326-fecd0f00-9e08-11ea-8759-d086372a4c23.jpg)

[2020-05-24 18:54] Tho85 commented on #35998
@dshokouhi I submitted a fix in #36090, maybe it will make it into 0.110.3...

I didn't quite understand your last part, did one of the custom components work for you? If not, please try again with the component from my PR (#36090). I've added debug logging statements, so you may enable logging and post the logs:

[code]

[2020-05-24 18:55] hunterjm commented on #34641
#35222 was in 0.110.0.  I know you opened a separate issue that was closed by 0.110.2 regarding not seeing any entities after adding the integration.  Was that fixed?

[2020-05-24 18:58] felipediel commented on #35875
@ericksonian It's merged. You just need to update Home Assistant.

[2020-05-24 18:59] hunterjm commented on #35866
@Veda82 @carsten-h - Can you provide the latest log files with the configuration below enabled:
[code]

[2020-05-24 19:00] ericksonian commented on #35875
Okay thank you! I'm on 0.110.1 in docker, and it says its updated. So I'll try again later today or tomorrow and see how it goes

[2020-05-24 19:01] felipediel commented on #35875
@ericksonian You need 0.110.2.

[2020-05-24 19:03] carsten-h commented on #34641
No, that is not fixed, I wrote it inside the other issue. I saw you answered there. I will make a log shortly!

[2020-05-24 19:07] hunterjm commented on #36046
@atxbyea - I don't think this was introduced in 0.110.0 - The call to `GetCapabilities` is from the upstream library, and has been there from the beginning.  It is needed to determine what services your device supports.  Basically, your device is saying it doesn't support telling us what services it supports...  What is the make/model of the device?  Can you try connecting to it via ONVIF Device M

[2020-05-24 19:08] damiano75 commented on #36021
Yes, this is the solution: I added base_url in tts configuration and google devices start to talk again.
Thank you very much

[2020-05-24 19:08] #36021 closed

[2020-05-24 19:11] carsten-h commented on #35866
Here they are:
[onvif0.110.2.log](https://github.com/home-assistant/core/files/4674226/onvif0.110.2.log)

One question: I have to have "ffmpeg:" inside the configuration.yaml and "camera:" is not necessary?

[2020-05-24 19:12] dshokouhi commented on #35998
@Tho85 the custom component from your repo that you linked to earlier is working.  Its just that I couldn't just add the code and call it a day.  I had to go in the harmony app and tell it to repair to emulated hue in order for my lights to work again.  Its a breaking change because it requires the user to intervene and perform steps on their device.

[2020-05-24 19:12] uncled1023 commented on #35528
Ok, so I removed the two outdoor plugs from the config, and I am back to getting the original error messages I described in the initial ticket.

[2020-05-24 19:13] uncled1023 commented on #35528
So it seems like my Outdoor plugs (or at least one of them) are not supported?

[2020-05-24 19:18] Scialla commented on #35866
Same for me, 110.2 is not fixing

[2020-05-24 19:18] marco76mk commented on #35875
I confirm that the file on HASSIO is exactly that.

[2020-05-24 19:18] pszypowicz commented on #36050
Same issue as @blender0, cannot add new owntracks integration.

Error in browser debugger points to:

typography.js:181
[code]

[2020-05-24 19:23] hunterjm commented on #35866
Do you all have the same device?  This is 100% an issue with the firmware on your camera reporting the wrong services:
[code]

[2020-05-24 19:25] dancwilliams commented on #35898
@fredrike I have a `BRP072A43` wireless controller on a `FTXN18NMVJU` unit.  I was working great until the `0.110` update.  I just upgrade to `0.110.2` amd now I am receiveing a new error while trying to add the unit:

[code]

[2020-05-24 19:27] Scialla commented on #35866
This is mine:
https://www.amazon.it/gp/product/B01DMBQULG/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1

and this is working configuration in 109.6:

[code]

[2020-05-24 19:30] felipediel commented on #35875
@marco76mk Do you have anything in the `custom_components/broadlink` folder?

[2020-05-24 19:30] hunterjm commented on #35866
@Scialla - Can I see your log file as well?

[2020-05-24 19:34] carsten-h commented on #35866
Ok, if it is so, then I will have to live with it. I thought that it will be possible to use the PAN and TILT functions with the ONVIF integration. And it was great that ONVIF worked in 0.109.x.

I don't really know what that means. :-)

[2020-05-24 19:35] Tho85 commented on #35998
Ah, understood. This may have been caused by changing the hard-coded bridge serial number in #35148: https://github.com/home-assistant/core/pull/35148/files#diff-10a700a18aa6f9da4d62b5d2d28f0777L45

[2020-05-24 19:38] dshokouhi commented on #35998
Ok so in that case we just need to update the blog post :) thats probably exactly what it is, harmony just couldn't find the right device

[2020-05-24 19:38] hunterjm commented on #35866
Basically it means that the firmware on your camera is not conforming to the ONVIF specifications which means that it is impossible to control the camera through ONVIF.  That is also why PTZ didn't work for you in earlier versions.  It may be possible to update the firmware on your camera and get better support, or file a support ticket with the manufacturer if they explicitly advertise ONVIF supp

[2020-05-24 19:40] Sirs0ri opened #36092 "Denon AVR Integration creates way too many states while playing internet radio"
## The problem

I noticed that the Denon AVR integration is creating way too many states while my AVR (a Denon AVR-X1200W) plays internet radio. The AVR's state switches roughly every 10-30 seconds between "on" and "playing", leading to thousands of sates within a week. Also, the attribute "media_content_type" switches between "channel" and "music".

I noticed this because have a sensor reading th

[2020-05-24 19:42] emontnemery commented on #35922
@hmmbob thanks for confirming.
As you say, all chromecasts are discovered in both logs.
The difference is that the call to `zconf.get_service_info(typ, name)` fails
In the 0.26.1 log, zeroconf repeatedly sends queries until pychromecast gives up.
In the 0.25.1 log, it succeeds immediately.

From the log it seems like there are replies to the queries, but the incoming messages are not printed in a

[2020-05-24 19:43] marco76mk commented on #35875
no, I don't have any "custom_components/" folders in my config folder

[2020-05-24 19:46] carsten-h commented on #35866
Ok! Interestingly it is working with the ONVIF device manager. I can control the PAN and TILT there without any problems. But OK, I will live with it!

Thank you for your very fast support!

[2020-05-24 19:47] rytilahti commented on #35528
They should be supported, but the integration has known problems with multi-socket devices, especially when combined with spotty networks. When #30719 finally gets done, the situation should improve.

[2020-05-24 19:48] fredrike commented on #35898
@mlemainque can you take a look at this?

[2020-05-24 19:48] hunterjm commented on #35866
If it works in ODM, they could be jumping through some hoops that I'm not yet.  I would need one of those cameras to test with, but it might be interesting getting one to the US...

[2020-05-24 19:50] Veda82 commented on #35866
Also my cameras work with ODM.

Sorry @hunterjm but I do not understand. I get that this is a free project and we are extremely grateful for your efforts/work. But our cameras were working before the latest update.

I am not a professional coder but usually newer software versions improve things by extending support, not by breaking what was working before.

When I started using Home Assistant I w

[2020-05-24 19:50] #35883 closed

[2020-05-24 19:50] #35904 closed

[2020-05-24 19:52] felipediel commented on #35875
Strange. [Look](https://github.com/home-assistant/core/blob/ed7ac3c1f78ab17094c4228f1da1302097a56dbe/homeassistant/components/broadlink/remote.py#L328-L329). This error shouldn't be raised. Perhaps it is being generated [here](https://github.com/home-assistant/core/blob/ed7ac3c1f78ab17094c4228f1da1302097a56dbe/homeassistant/components/broadlink/remote.py#L314), but until then I thought it was impo

[2020-05-24 19:52] hmmbob commented on #35922
I'll give it a run tomorrow!

[2020-05-24 19:52] marco76mk commented on #35875
bash-5.0# cd /usr/src/homeassistant/homeassistant/components/broadlink
bash-5.0# ls -lah
total 88K
drwxr-xr-x    1 root     root        4.0K May 24 16:05 .
drwxr-xr-x    1 root     root       28.0K May 24 16:05 ..
-rw-r--r--    1 root     root        3.9K May 24 15:01 __init__.py
drwxr-xr-x    2 root     root        4.0K May 24 16:05 __pycache__
-rw-r--r--    1 root     root         711 May 24 15:

[2020-05-24 19:54] uncled1023 commented on #35528
I look forward to testing it once the async fix is finished.  They did work on the previous version (108) so maybe the new version of HA is more finicky about connection tries that take too long?

[2020-05-24 19:56] felipediel commented on #35875
Try this: `rm -r __pycache__`

[2020-05-24 19:57] carsten-h commented on #35866
This one: [https://www.amazon.com/dp/B07FM24DLJ](url) or this one should be nearly the same: [https://www.amazon.com/dp/B071JNT8TS](url)
They are all controlled by the Yoosee App. But maybe the firmware is different. I searched for a newer one but I don't find any.

[2020-05-24 20:05] rytilahti commented on #35528
It could be, I don't really know. Looking at the stacktrace, it's coming from the retry logic code in common.py, which has not changed in six months.

[2020-05-24 20:06] Veda82 commented on #35866
Besides: if we use generic camera platform, we lose the possibility of using the stream platform, since generic camera does not support rtsp protocol for streaming...

[2020-05-24 20:12] carsten-h commented on #35866
I used this configuration before I used ONVIF integration and it worked with video:
[code]

[2020-05-24 20:13] Veda82 commented on #35866
@carsten-h thanks, will try that!

[2020-05-24 20:15] Giancky79 commented on #33535
hi, after update di HA 110.2, webostv have same problem of disconnection

[2020-05-24 20:15] marco76mk commented on #35875
Sorry for my bad English.
If I use the command "broadlink.learn" it works !!! and returns the button code.
If I use the "remote.learn_command" command it doesn't work and returns the error "The device storage is full"
I tried clearing the folder cache. It does not solve.

reboot not solve

I tried to run the debug but it returns me this. I don't know if I did the right thing.

bash-5.0# cd /usr/sr

[2020-05-24 20:21] msp1974 commented on #35917
Yes. It now shows 32 occurences since 21st May. Havent disabled/re-enabled the skill yet but will do tonight and report back.

[2020-05-24 20:21] naumz opened #36094 "0.110.x Roku Timeout error when media_play_pause command issued on standby"
## The problem

From 0.110.0, TCL TV (Roku platform) has started to raise `rokuecp.exceptions.RokuConnectionError` whenever `media_player.media_play_pause` is called and the current state is `standby`. This was not the case until 0.109.6, where it would fail silently.

This has resulted in having to explicitly add state checks in Automations to prevent them from failing to execute subsequent actio

[2020-05-24 20:22] petarvucetin commented on #34787
I am still getting call_per_day_limit_reached when I try to add the integration back to HA. I think this should be treated as non-error and just warning?

[2020-05-24 20:30] Tuckie commented on #35902
I just wanted to say that it works great now, thank you!

[2020-05-24 20:32] Scialla commented on #35866
Thanks, for me works fine

[2020-05-24 20:33] marco76mk commented on #35875
[debug.txt](https://github.com/home-assistant/core/files/4674359/debug.txt)
This is the txt file when starting debugging from my PC.
the led flashes and has captured the code

[2020-05-24 20:34] rroller commented on #35902
Yes. Thank you. Works absolutely perfect.

[2020-05-24 20:35] bdraco commented on #35851
It looks like the driver has a random `mac` in there because the state isn't restored yet when we look at it.

[2020-05-24 20:40] emontnemery commented on #35735
@N5A did you solve your problem yet?

[2020-05-24 20:41] bachya commented on #34787
@petarvucetin If you were getting the error today and then upgraded to 0.110.2, you're still going to get the error – AirVisual will recycle your call count starting tomorrow. Give that a try and report back here if you still notice issues.

[2020-05-24 20:41] felipediel commented on #35875
The debug is ok, no errors.

`head -328 remote.py | tail -1`

What is the output?

[2020-05-24 20:46] marco76mk commented on #35875
ha > login
# docker exec -it homeassistant /bin/bash
bash-5.0# cd /usr/src/homeassistant/homeassistant/components/broadlink
bash-5.0# head -328 remote.py | tail -1
            except (ReadError, StorageError):
bash-5.0#

[2020-05-24 20:48] ctalkington commented on #36094
Is the device set to remain on even when powered off? Its a Roku setting just dont recall actual name.

I think play/pause are sometimes only allowed when within app. Its odd that it times out rather than actual error but im still learning things about Roku myself.

We could prevent play/pause during standby which would likely prevent an error here. I wondered about a decorator to catch errors in

[2020-05-24 20:54] troyanskiy commented on #31473
I have the same problem with Mi Bedlamp II.
When adding to the configuration manually HA does not respond and on the htop I can see that homeassistant docker process took 3 threads with 100% CPU load.
After commenting the config and restarting HA all is cool.
Here is my config:
[code]

[2020-05-24 20:54] Adminiuga commented on #34366
@bckthomas this was merged upstream. You could either copy https://github.com/home-assistant/core/tree/dev/homeassistant/components/zha or get nightly docker image

[2020-05-24 20:59] r00tat commented on #24571
I ran in the same issue and it took me some time to find exact the same problem in here. As there is already a pull request, I won't open a new one.

What can we do to get the PR #34390 to be merged?

[2020-05-24 21:03] Adminiuga commented on #35738
What bugs, per attr value it looks like Ikea Fyrtur up and down are not inverted, yet per current ZHA implementation, raw value of 100 means closed https://github.com/home-assistant/core/blob/bd8848e57acd8ff6fe9016a8ebcae1366394ef7e/homeassistant/components/zha/cover.py#L109

[2020-05-24 21:04] nickm324 commented on #35883
I see this has been closed, was there a resolution?

[2020-05-24 21:06] hunterjm commented on #35866
That’s not true. Generic camera was the very first platform to support stream.

[2020-05-24 21:09] Veda82 commented on #35866
@hunterjm my bad, I didn’t express myself clearly.

My cameras work with the stream component only if you use the udp protocol instead of tcp, which is not working.

As far as I know, but I may be wrong, with the generic camera component it is not possible to select udp protocol.

[2020-05-24 21:10] ctalkington commented on #36086
I had implemented a few of those special cases like literal as separate functions but i had intended to explore how search would work within HA. Curious do you pass any params to search? Or how is it being used in your automation?

[2020-05-24 21:15] twkrol commented on #35883
It’s planned to release in 0.110.3 (unfortunately didn’t happen into today’s 0.110.2)

https://github.com/home-assistant/core/milestone/321?closed=1

From: Dominick Marino <notifications@github.com>
Sent: Sunday, May 24, 2020 11:04 PM
To: home-assistant/core <core@noreply.github.com>
Cc: Tomasz Król <twkrol@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [home-assistant/core] ONVIF i

[2020-05-24 21:15] hunterjm commented on #35902
No worries! Sorry I didn’t catch it during beta. I guess nobody had a zoom only camera!

[2020-05-24 21:26] Gruffers commented on #34188
Has there been any progress made on this issue?  I am experiencing the same problems.

`2020-05-24 14:12:19 ERROR (MainThread) [homeassistant.config_entries] Error setting up entry TP-Link Smart Home for tplink
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/pyHS100/smartdevice.py", line 117, in _query_helper
    request=request,
  File "/usr/local/lib/python3.7/s

[2020-05-24 21:27] MarcoV-git opened #36099 "Onvif integration AttributeError: 'list' object has no attribute 'join'"
## The problem

While trying to perform GotoPreset, a compiler error is generated:
`Onvif integration AttributeError: 'NoneType' object has no attribute 'token'`
It seems the classic list.join vs str.join mistake has occured.
Instead of
`profile.ptz.presets.join(", "),` it should be
`', '.join(profile.ptz.presets),`

## Environment

- Home Assistant Core release with the issue: 0.110.2
- Last work

[2020-05-24 21:28] ondoteam commented on #36072
Hello @hmmbob. Thank you for your reply. Are you sure? It is in the examples in the documentation. By the way a server can serve http and https at the same time. I am not sure about Home Assistant because there is no documentation.

[2020-05-24 21:34] troykelly opened #36100 "Removal of base_url has with no equivalent config vars breaks install"
## The problem
The removal of `base_url` means that instances can no longer have a URL configured if they use file-based configuration. This may be necessary to set certificates, cors headers etc.
The web interface does not permit setting the internal and external url's - nor is there an option to set them in the file-based config.
IMHO The assumption that all systems need differing internal and e

[2020-05-24 21:39] artem-dudarev opened #36101 "Automation trigger based on MQTT dicovery device works only once"
## The problem

I have Xiaomi wireless button and relay connected to Zigbee2mqtt USB stick, and I'm using the Zigbee2mqtt add-on from https://github.com/danielwelch/hassio-zigbee2mqtt
I've created the automation which toggles the relay when the button is clicked, and it works perfectly until I restart the Zigbee2mqtt add-on. After that the first click of the button toggles the relay, but all subse

[2020-05-24 21:50] rytilahti commented on #34188
The progress is being made in #30719 which should hopefully also fix this issue, or at least make fixing it much simpler.

[2020-05-24 21:50] Villhellm commented on #36086
Params couldn't be passed through the send_command function as far as I can tell, I was just using the keypress to open search and then search for something through individual keypresses. Admittedly not the most efficient way, I'll probably just switch to directly calling the api myself with a proper search query.

But it would be nice if you could give people a heads up when you remove features a

[2020-05-24 21:54] anamika784 commented on #35875
The "remote.learn_command" doesn't work for me either. I deleted the  __pycache__ file. Here is the error:
2020-05-24 22:45:30 ERROR (MainThread) [homeassistant.components.broadlink.remote] Failed to learn 'Turn on/television': The device storage is full

[2020-05-24 21:56] ctalkington commented on #36086
Part of the issue is the remote component is very open-ended and there are few defined methods of use. If you compound that with no tests, it means breakage is possible.

As a maintainer, it takes weighing out common use cases and best practices and addressing these unseen breaks or special conditions as necessary.

[2020-05-24 21:56] felipediel commented on #35875
I'm working on an update that will help us understand what is going on.

[2020-05-24 22:01] ctalkington commented on #36086
Ive pushed a new rokuecp release (0.4.2) and ive put in a PR for hopeful inclusion into HA 0.110.3.

If you are experienced you may be able to install rokuecp==0.4.2 on your HA for a faster fix.

[2020-05-24 22:03] ctalkington commented on #36086
In regards to search, i need to look into other remote platforms to determine how to handle params but it should be possible to do this in a single command with param. Ill try to work on that for the 0.111 beta

[2020-05-24 22:14] naumz commented on #36094
Thanks for the quick reply, Chris! The TV does have soft turn off setting enabled.

In my use case, I didn't really care if the TV was on or not. I was trying to get it to pause if it was playing anything and do nothing if it was on standby, so I could play audio on another media player. While a more robust solution would be to explicitly check the state of each media player before issuing the pla

[2020-05-24 22:21] naumz commented on #36094
I'm curious about why the `volume_mute`, `volume_up`, `volume_down` service calls don't result in the same error.

[2020-05-24 22:39] ctalkington commented on #36094
I believe its just a behavior of Roku API play/pause are really meant for usage in apps. It might not be "binded" when in low power standby state.

[2020-05-24 22:43] tehbrd commented on #33459
2020-05-24 20:09:59 INFO (SyncWorker_4) [homeassistant.loader] Loaded intesishome from homeassistant.components.intesishome
2020-05-24 20:10:05 INFO (MainThread) [homeassistant.components.climate] Setting up climate.intesishome
2020-05-24 20:10:18 WARNING (MainThread) [homeassistant.components.climate] Setup of climate platform intesishome is taking over 10 seconds.
2020-05-24 20:10:19 DEBUG (Main

[2020-05-24 22:44] scarface-4711 commented on #36092
This might be fixed in the latest version. Please check again when this PR is merged: https://github.com/home-assistant/core/pull/35255

[2020-05-24 22:46] MarkHofmann11 commented on #23045
@DarwinData - What version of HA?  I think you need to be running the very latest version since I pulled those changes from the dev repository.  Most likely at least 110.

[2020-05-24 22:47] ctalkington commented on #36094
I see. I guess the only thing to keep in mind is that roku only has a single play/pause keypress so if it was paused already you may end up causing it to play! Its hard to know that playback state though since apps dont report that via the API. Depsnsibg on your use case, it might be better to set the source/input to Home via play_media but that could also wake a sleeping device.

[2020-05-24 22:53] #28631 closed

[2020-05-24 23:00] pnbruckner commented on #25419
@dlashua @Santobert @hollow @rt400

I believe this issue should be resolved now. Some other changes addressed items 1 & 2 in my description above, which should be enough to allow running scripts to be properly stopped so the reload can succeed. Can you verify the issue has been resolved for you?

[2020-05-24 23:08] naumz commented on #36094
You hit the nail on the head with that observation about play/pause and the absence of pause! I had to combine it with volume mute in automations to ensure I get as close as possible to what I wanted :)

I tried setting the source but, you're right, it wakes up a sleeping device and also loses the playing content state on YouTube, Prime, etc. and so I had to go this route. It would be so cool if R

[2020-05-24 23:10] hunterjm commented on #36099
Thanks @MarcoV-git. This issue is relatively low impact as it would have eroded anyway, but at least given you a log message saying what the valid preset names are. I’ll see if I can’t open a PR fixing this for 0.110.3

[2020-05-24 23:41] felipediel commented on #35875
Could anyone get [this update](https://github.com/home-assistant/core/issues/35875#issuecomment-631718895) and send me the error message?

[2020-05-24 23:45] glward opened #36106 "deCONZ integration does not map “ctmax”/“ctmin” in deCONZ to “max_mireds”/“min_mireds” in HA"
## The problem

With the latest version of deCONZ (2.05.76), several automations now throw errors when attempting to set the color temperature of connected lights:
[code]

The REST API shows the following for the light in question:
[code]

However, the entity attributes in HA show `max_mireds` as 500, not 454:
[code]

Prior to deCONZ 2.05.76, values exceeding the max (or below the min) were silent

[2020-05-24 23:56] jurgenweber commented on #36017
I have the exact same issues! Some things of note for me which are maybe slightly different.

It is _only_ the APs that are flapping home/not_home. I have 4. It started as soon as I upgraded to 110.1 (from 109) and still does it on 110.2.

I was able to 'resolve' it the first time, by restarting the controller on my server. I have a FreeBSD server that runs the controller software (same network, e

[2020-05-25 00:44] dshokouhi commented on #36100
You can still configure `internal_url` and `external_url` https://www.home-assistant.io/docs/configuration/basic/#external_url

The configuration was moved as stated in the release notes: https://www.home-assistant.io/blog/2020/05/20/release-110/#internal--external-urls

Closing as this is not an issue, let me know if I misunderstood!

[2020-05-25 00:44] #36100 closed

[2020-05-25 01:01] hunterjm commented on #36087
Please add the following logger configuration, and provide the latest lines with "HTTP Post to" and "HTTP Response from" that occur right before that error.

[code]

[2020-05-25 01:04] felipediel commented on #35875
@marco76mk @anamika784 :point_up:

[2020-05-25 01:07] alfonsolsl opened #36109 "Uncaught exception on Stream component with RTSP feed."
## The problem
Live streams breaks.

Errors on the logs.

## Environment

arch | armv7l
-- | --
chassis | embedded
dev | false
docker | true
hassio | true
host_os | HassOS 3.13
installation_type | Home Assistant
os_name | Linux
os_version | 4.19.114-v7
python_version | 3.7.7
supervisor | 222
timezone | America/Bogota
version | 0.110.2
virtualenv | false

- Home Assistant Core release with the issu

[2020-05-25 01:11] zarko-a commented on #34898
@shenxn It worked this time. I'm not sure what happened. Maybe something else was wrong and restarting (to enable debug level) cleared it. I've also restarted pi-hole and upgraded Home Assistant to 0.110 in the meantime, so I'm not really sure.

[2020-05-25 01:11] dannyk81 opened #36111 "[ONVIF] No registered handler for event (Hikvision SD-HD1)"
## The problem

Log shows two "No registered handler for event" entries

[code]

[code]

## Environment

- Home Assistant Core release with the issue: `0.110.2`
- Last working Home Assistant Core release (if known): `unknown`
- Operating environment (Home Assistant/Supervised/Docker/venv): `Docker + venv`
- Integration causing this issue: `onvif`
- Link to integration documentation on our website:

[2020-05-25 01:16] shenxn commented on #34898
@zarko-a Config flow was added into the pi-hole integration in 0.110. Some code related to the enable/disable services is changed to add config flow. Not sure if that is related. Feel free to open a new issue if something is wrong again.

[2020-05-25 01:41] szczepaxn opened #36112 "ONVIF - Movement issue"
## The problem

I was able to add and enable integration for my camera (cheap/chineese) and
sending movement commands PTZ since 0.110.1 update at last started to work!!!

But the problem is to stop moving camera after sending directional command… it just does not stop - it moves until it reach the movement boundary. Also i don’t know for sure how to send (select/choose) profile command…

## Enviro

[2020-05-25 02:14] bdraco commented on #35984
I've implemented that here https://github.com/bdraco/home-assistant/tree/homekit_bridge_on_off_switch

Unfortunately it currently conflicts with 4 of the other PRs that are open and waiting for review for `homekit` so it will have to wait until after these are merged.

[2020-05-25 02:34] minseokhappylee commented on #35738
Most of cover documents says position 100 means open. Do you mean that the position value of Fyrtur is inverted? It may not be easy to apply both cases to satisfy...

[2020-05-25 02:37] keilorca commented on #36034
I am experiencing a similar error.
Currently running HA v 0.110.2, error only occurring since 0.110. Happens only once or twice a day, sometimes on inverter data, other times on production or consumption.

[code]

[2020-05-25 03:15] trentjw commented on #28912
I built this one on Venv on pi4

[2020-05-25 03:18] beeferific opened #36113 "Rain Cloud Component Certificate Verification Issue"
## The problem

The Melnor RainCloud component has stopped working.  It appears the root certificate is not being verified preventing the login from completing.

## Environment

arch | aarch64
-- | --
chassis | embedded
dev | false
docker | true
hassio | true
host_os | HassOS 3.13
installation_type | Home Assistant
os_name | Linux
os_version | 4.19.114-v8
python_version | 3.7.7
supervisor | 222
ti

[2020-05-25 03:25] #31887 closed

[2020-05-25 03:25] #31857 closed

[2020-05-25 03:25] #26228 closed

[2020-05-25 03:25] #31923 closed

[2020-05-25 03:25] #30075 closed

[2020-05-25 03:37] dshokouhi commented on #36112
Can you please check your HA error logs for errors? part of the issue template is missing and its important to fill it all out as much as possible.

[2020-05-25 03:39] dshokouhi commented on #36113
Looks like you left out a lot of the issue template, please fill in all necessary information in order to help you out.

[2020-05-25 04:11] beeferific commented on #36113
The information was inside the comment tags.  It should all be there now.  Thanks for pointing out the problem.

[2020-05-25 05:30] lauofdoom opened #36114 "Lifx Cloud Integration Stopped working in version 0.110"
## The problem

Lifx CLoud integration has stopped working on update to Home assistant 0.110

## Environment

- Home Assistant Core release with the issue: Home Assistant 0.110.1
- Last working Home Assistant Core release (if known):
- Operating environment (Home Assistant/Supervised/Docker/venv): Hassio
- Integration causing this issue: Lifx Cloud
- Link to integration documentation on our websit

[2020-05-25 05:52] hunterjm commented on #36111
I’m having trouble with my doorbell as well (same firmware). It works right after a restart, but then stops. I’ll look into it more, but since the whole reason I added this integration is to get that functionality, rest assured it will work eventually 🤣

[2020-05-25 05:56] petarvucetin opened #36115 "AirVisual: Error while setting up airvisual platform for sensor"
## The problem

Integration worked for a little while and than all sensors are gone. After restarting HA getting below error.

## Environment

- Home Assistant Core release with the issue: 0.110.2
- Last working Home Assistant Core release (if known):  0.108.9
- Operating environment (Home Assistant/Supervised/Docker/venv):  Docker
- Integration causing this issue: AirVisual
- Link to integration

[2020-05-25 05:57] hunterjm commented on #36112
The PTZ service is a hot mess in Home Assistant right now. It’s all based on coefficients instead of direct values, and tried to wrap 4 different move commands into a single service call.

The documentation has some information for you (linked by bot above), but you really have to just play around with the different modes until you find something that works for you.

[2020-05-25 06:31] #35935 closed

[2020-05-25 06:32] marco76mk commented on #35875
does not work.
I have deleted the pycache folder
I restarted "ha"
the error message has changed:

2020-05-25 08:30:32 ERROR (MainThread) [homeassistant.components.broadlink.remote] Failed to enter learning mode: The device storage is full
2020-05-25 08:30:32 ERROR (MainThread) [homeassistant.components.broadlink.remote] Failed to learn 'Turn on': The device storage is full

[2020-05-25 06:37] markgllin commented on #34763
I've encountered the same issue in my Home Assistant setup.

Firstly, I don't think onvif is configurable through `configuration.yaml` anymore. Try setting it up in the UI through `Configuration > Integrations > ONVIF`. Secondly, the issue with my camera is that it didn't use TCP and instead, used UDP. If setting up onvif through the UI doesn't work for you, try setting `rtsp_transport` to `udp` o

[2020-05-25 06:38] McGiverGim commented on #36112
I think I have the same error. Only "ContinuousMove" works for me, but the value of "continuous_duration" is ignored, so it never ends.

[2020-05-25 06:38] bckthomas commented on #34366
Nice, it's perfect ! Thanks a lot for your help !

[2020-05-25 06:54] cyberjunky opened #36116 "Please include this PR in next build: Update to garminconnect 0.1.13 #35750"
## The problem

My PR -which was approved 6 days ago- still didn't end up in a new version build while others do. (3 new HA version's in meantime created)
What is needed to get this done? It fixes a bug so would be nice if it got included at some point.
In the meantime I have new code waiting, but I'm reluctant to open new PR's.
Also the PR is locked from collaborators input, so I cannot even ask

[2020-05-25 07:14] TimmermanTim commented on #35468
After upgrading to 0.110.1 everything seems to work now.

[2020-05-25 07:24] blowk commented on #32370
I've tried, but failed.
Only default_view can be showed and no other lovelace views.
It keeps tell me Google Cast error - Unable to find a view with path **other_lovelace_view**

I'm currently running HA 0.110.2.
When using https://cast.home-assistant.io/ for a test run, no problems to cast other lovelace views.

Is there anyone how can find a solution to fix this problem?

[2020-05-25 07:26] brhahlen commented on #28344
For me it is not working at all. I'm still getting the gasUsage error.
Running 0.110.2

[code]

[2020-05-25 07:29] SNoof85 commented on #31486
Hey there, i know it's an old issue, but still open. Do you still need help with this ?
Since the integration changed a lot from the time you opened this, have you tried it again ?

[2020-05-25 07:31] gribber commented on #36017
Same issue here, running 0.110.2 supervised on debian, the controller is 5.12.72 (Build: atag_5.12.72_13103) and running on a Cloud Key Gen2 Plus (which shows no signs of problems).
5 switches and 2 access points flapping

Only happens to Ubiquiti equipment, all clients reporting normal
Last known working was 0.109.6

[2020-05-25 07:55] maorbenamer commented on #35875
I still have the same problem:
Failed to learn 'mute / television': The device storage is full
Device: RM4_PRO
I also tried with Switch
And also with Remote

[2020-05-25 08:05] HansMolenveld commented on #36050
Same Issue. In my case Homeassistant in Docker on RPI3 doesn't start since version 110.0.

`2020-05-25 09:32:41 ERROR (MainThread) [homeassistant.util.logging] Exception in async_handle_message when dispatching 'owntracks': (<homeassistant.core.HomeAssistant object at 0x7499d670>, <homeassistant.components.owntracks.OwnTracksContext object at 0x68d10d90>, {'_type': 'location', 'acc': 16, 'alt': 58

[2020-05-25 08:10] kennedyshead commented on #35175
@ktnrg45 Are you giving this some love, or should I?

[2020-05-25 08:15] Kane610 commented on #36106
Thanks  for reporting!

[2020-05-25 08:19] atxbyea commented on #36046
@hunterjm I've used the android app "onvifer" with the cameras successfully in the past, they are cheap $20 cameras from Aliexpress, labed with KKMoon, but reporting Dahua, no other issues with them though, might be a flaw in the onvif protocol that is only visible on certain approaches perhaps.

[2020-05-25 08:22] atxbyea commented on #35908
How hard would it be to host that data ourselves mayhaps ? Is it a large dataset ? I wouldn't be against hosting a copy on any of my systems, if it was auto-maintaining itself.

[2020-05-25 08:23] damiano75 opened #36117 "OpenUV: Invalid API key"
## The problem

Even if I have still a lot of requests and generated again my API key, HA said that my API key is invalid.
Tested using curl command and it works fine

## Environment

- Home Assistant Core release with the issue: 0.110.2
- Last working Home Assistant Core release (if known): 0.110.1
- Operating environment (Home Assistant/Supervised/Docker/venv): Supervisor 224, HassOS 3.13
- Inte

[2020-05-25 08:32] olealm commented on #35883
Yeah, still not working in 110.2 so I'll stick to platform: ffmpeg until .3 is here.

[2020-05-25 08:45] GooeyLizard9000 opened #36118 "Hunter Douglas Powerview - Error on selecting blind stop"
## The problem

The Hunter Douglas Powerview integration is giving the below error in the logs whenever stop is selected. The blinds also don't stop moving.
My guess is the Gen 1 Powerview Hub and blinds maybe don't support the stop command.

Thanks for the 0.10.2 update. My blinds are now found as covers and sensors.

## Environment

- Home Assistant Core release with the issue: 0.10.2
- Last wor

[2020-05-25 08:50] cuspofaries commented on #31486
Hi there, Thanks for the response. I am still having issue, i tried again 2h ago. I thought it could be a certificate issue so i am now using my own subdomain (https) no luck.. I could however get the freebox to accept another application which was a torrent chrome extension. Sent from my Huawei phone-------- Original Message --------Subject: Re: [home-assistant/core] Freebox component - Error dur

[2020-05-25 08:53] Kane610 commented on #36017
The logic on home/away setting of UniFi devices is that on a message UniFi describes when in time to expect next message. The Integration then adds 10 seconds on top of that to justify for any possible system load, but it appears to not be enough.

Could you guys enable debug logging and verify that the time strings that this is what's happening, maybe I should change it to 30 seconds or something

[2020-05-25 08:59] septeven commented on #31486
Personally, I developed my own Freebox component which works perfectly for what I need so I'm good - you can close the issue (unless others have the same problem).

[2020-05-25 09:00] Kanishkaz commented on #33779
Hi, Can you please share how I can do this? I have tried clicking the button during the pairing process to no avail.

[2020-05-25 09:16] alfienero commented on #35597
Same problem for me after 2,5 hours gateway and sensors become unavailable. Should be something linked to multicast failing. I've read all possible posts on this issue and tried the following without success:
- turning off and on LAN access on xiaomi app
- disabled firewall on the machine where HA is running
- change wifi band (1) to avoid conflict with zigbee (25)
- changed .py to enable polling

[2020-05-25 09:21] Koliadjun commented on #34771
Same problem HA 110.2

[2020-05-25 09:38] gribber commented on #36017
The debug log (with logger settings from fanaticDavid above) when this happened:
[code]

[debug2.log](https://github.com/home-assistant/core/files/4676421/debug2.log)

[2020-05-25 09:41] wdarins commented on #28783
also interested in this, I have 2 Xiaomi TV one 4A 32", one 4S 55" and one xiaomi tv box 3

[2020-05-25 09:48] YRRK opened #36119 "Update to Supervisor 224 Netatmo ERROR (MainThread) [homeassistant.components.camera] Error requesting stream: Camera not found"
## The problem

As the title suggest: My both Netatmo camera's are gone. Lots of errors in the logs. :-)
This happened directly after the update to the new supervisor 224. Reboot does not help.

The main error is:

2020-05-25 11:41:48 ERROR (MainThread) [homeassistant.components.camera] Error requesting stream: Camera not found

See log below for all startup errors.

## Environment

Frontend versi

[2020-05-25 10:18] nbarrientos commented on #36042
Rather easy to reproduce within the image:

[code]

And also with a base Alpine image:

[code]

[2020-05-25 10:20] maciekish opened #36120 "Repeated 2FA sign in requests for iCloud"
## The problem
I'm suddenly getting a lot of sign in requests on my phone and watch. If i shut down HA, they stop. As soon as i restart it i get them again. The integration appears to still be working though! I set it up about two months ago, so i thought the cookie expired but there is no notification in HA to reauthenticate. I even tried removing the cookie manually, and even logging in to a new

[2020-05-25 10:21] frenck commented on #36119
I highly doubt this is related to the supervisor.
Could you share the supervisor logs?

[2020-05-25 10:23] YRRK commented on #36119
Hey that's weird. After rebooting the 3th time the're back.

[2020-05-25 10:27] YRRK commented on #36119
@frenck. Sorry think I have to close this isse. The issue is gone after the 3rth reboot. I don't know how to get to the supervisor log. If still needed tell me. Closing this issue.

[2020-05-25 10:27] #36119 closed

[2020-05-25 10:29] akandor opened #36121 "TTS & Sonos doesn’t work"
## The problem
  After upgrading to Core 0.110.0 (also in 0.110.2), TTS with Google Translate is not working anymore. My Sonos speakers didn't say anything no errors in the logs
## Environment
  Home Assistant 0.109.6
- Home Assistant Core release with the issue: 0.110.0/0.110.2
- Last working Home Assistant Core release (if known): 0.109.6
- Operating environment (Home Assistant/Supervised/Docker

[2020-05-25 10:30] RezzZ commented on #26724
happens in 0.110.2 as well (docker amd64)

[2020-05-25 10:34] nbarrientos commented on #36042
Ok, managed to narrow it down to a pyusb bus scan:

[code]

Guess that temperusb is doing something similar to find the sensor.

It works if the container is started as `--privileged`. Guess that now I only have to find the list of devices to make visible to the container so libusb is happy instead of just using `--privileged`.

[2020-05-25 10:35] nnielzz opened #36122 "Subscribe to Custom Events with Default User"
## The problem

I created a "default" user without admin privileges (for security reasons). Unfortunately, I keep getting an "Unauthorized" message on my screen. Looking at the console, it seems like an API-related error.

The error is related to the "subscribe_events". Seems like the default user profile doesn't have the right privileges to subscribe to custom events.

Everything seems to work fi

[2020-05-25 10:36] YRRK commented on #35844
Hmm. Oke, knowing this. And just following the manual again. I used: http://192.168.47.12:8123/auth/external/callback

Added these to the config yaml...
home_connect:
  client_id: CLIENT_ID
  client_secret: CLIENT_SECRET

And then reboot, I get this error:

2020-05-25 12:21:22 ERROR (MainThread) [homeassistant.setup] Setup failed for home_connect: No setup function defined.

Oke then I went to Con

[2020-05-25 10:46] YRRK commented on #35844
This is how my Home Connect API looks (the personal data is scrambled in this example, it's fake data)

Home Assistant
Created 2020-05-20 | Last Modified 2020-05-25

Access Private
   i Private access is limited to a single Home Connect user account as defined.

Home Connect user account for testing BLABLA@hotmail.com Add more
   i This Home Connect user account has been configured in your profile

[2020-05-25 10:51] damiano75 commented on #35780
It seems the issue is gone, maybe some update: HA is now 0.110.2

[2020-05-25 10:54] Sirs0ri commented on #36092
@scarface-4711 will do, thanks!

[2020-05-25 10:54] YRRK commented on #35134
Issue still present in 0.110.2

2020-05-25 12:47:19 ERROR (MainThread) [homeassistant.helpers.entity] Update for binary_sensor.aurora_visibility fails
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/urllib3/connectionpool.py", line 426, in _make_request
    six.raise_from(e, None)
  File "<string>", line 3, in raise_from
  File "/usr/local/lib/python3.7/site-packa

[2020-05-25 11:01] frenck commented on #36122
This is a tileboard issue for sure, our frontend doesn't have this problem.
Allowing a nonprivileged elevated to subscribe to any even, is a security problem we should not induce. Please report the issue upstream with the tileboard project.

Please note, that the Home Assistant project, does not support third-party applications.

[2020-05-25 11:01] #36122 closed

[2020-05-25 11:03] msp1974 commented on #35917
So i disabled the Alexa integration in HA Cloud, disabled the skill in Alexa, rebooted and added it all back/relinked etc and the same messages started appearing a few hours after, so sorry, this did not seem to fix it.

`Log Details (ERROR)
Logger: homeassistant.components.alexa.state_report
Source: components/alexa/state_report.py:49
Integration: Amazon Alexa (documentation, issues)
First occurr

[2020-05-25 11:03] frenck commented on #36121
This might be related to URL settings.

Please note, that Home Assistant will try to use its local address, either autodetected or as overridden in the user settings (Configuration -> General -> Internal URL).

[2020-05-25 11:06] nbarrientos commented on #36042
It works with `-v /dev/bus/usb:/dev/bus/usb`. This should be documented here:

https://www.home-assistant.io/integrations/temper

I'll send a MR.

[2020-05-25 11:09] jurgenweber commented on #36017
Can you make it configurable?

[2020-05-25 11:25] #28601 closed

[2020-05-25 11:27] BertrumUK commented on #36084
This has not been fixed with 0.110.2. It started as soon as I updated to 0.110.0 - never had the issue before then. It’s now midday in the UK and I have hit the limit already - before 0.110.2 it was around 8pm UK time before it was hit.

This is the latest error in the logs

Error fetching geography data data: Error while retrieving data: <html>
 <head><title>502 Bad Gateway</title></head>
 <body

[2020-05-25 11:27] mantaalex commented on #35864
maybe a stupid question but after the latest update of HA i have that to
do we have to do anything?

[2020-05-25 11:29] Spirituss commented on #36099
I have the same issue in 0.110.2.

[2020-05-25 11:30] RodrigoTomeES commented on #35864
You can either wait for it to be fixed and post an update or fix the warnings and it won't appear.  In both cases when you fix you delete logs.

[2020-05-25 11:34] mantaalex commented on #35864
oh ok so the best thing i do is waiting to update the latest HA update to 0.110
till its fixed?
or could the error be just ignored because i see most things work for me (just giving error)

[2020-05-25 11:35] sbhdlmn commented on #36027
![image](https://user-images.githubusercontent.com/49866762/82809442-c541e580-9e94-11ea-8c2c-25d48662a7c8.png)

This is what I see when logging in to home assistant.
I don't have any experience for such issues. But as I said, I can go forward and login to home assistant.

[2020-05-25 11:37] #35990 closed

[2020-05-25 11:38] #36099 closed

[2020-05-25 11:40] #36086 closed

[2020-05-25 11:40] RodrigoTomeES commented on #35864
@mantaalex You can ignore. The reason why I opened the issue was because the bug is a security problem.
It doesn't affect to correctly work of Home Assistant.

[2020-05-25 11:42] BertrumUK commented on #36115
I am getting a 502 error on HA and I cannot log in to their API so wonder if their server is down at this time ?

[2020-05-25 11:44] eavanvalkenburg commented on #36113
I have the same issue with the same error message!

[2020-05-25 11:46] SNoof85 commented on #31486
Could you please check if you have in /config/.storage a folder if you have a file named `your_fbx_domain_fbxos_fr.conf` ? Or in /config folder if you have a freebox.conf file.

If it's the case, 1st do a backup (full snapshot). Then remove any freebox configuration in yaml files of your configuration. Then remove the integration if setup with the UI. Then remove the files mentioned. Then reboot H

[2020-05-25 11:55] #36094 closed

[2020-05-25 11:56] DHoefakker commented on #28344
I just checked and i'm still getting an error during login add of the integration. There are also Github issues present, which are still open.

[2020-05-25 11:58] BertrumUK commented on #34787
Still not working [here](https://github.com/home-assistant/core/issues/36084#issuecomment-633525566)

[2020-05-25 11:58] DHoefakker commented on #28950
@frenck How are you doing, everything ok on your side. Was wondering how this issue is going, is there anything i can do to help you on it?

[2020-05-25 12:04] toudewolbers commented on #28344
Still got same problem.. Cannot login. As i heard from @frenck  The whole libary needs to rewritten... Dont know the progress of that...

[2020-05-25 12:14] patrickjane commented on #35608
Okay so I have fixed the groups (again, as I already did that as written in my comment 6 days ago), but this time the groups seem to stay correct. Also powering the bulbs does not seem to have a negative effect anymore.

So far, I have not observed any more false activations/deactivations.

[2020-05-25 12:18] mantaalex commented on #35864
ok many thanks for the reply !

[2020-05-25 12:19] frenck commented on #28344
I've been making progress, most functionality is now in, fully async, with OAuth2 handling.

[2020-05-25 12:26] SeByDocKy commented on #35985
For me information, here are some result of logger
[code]

Of course `the corresponding IPs are alive

[code]

[2020-05-25 12:29] #35975 closed

[2020-05-25 12:46] sam-ward opened #36124 "IO Error with ZHA and Conbee2"
## The problem

I have just updated my home assistant instance (running on a RPi 3B+).  Initially I updated the supervisor from 222 to 224, and then updated home assistant core from 0.110.1 to 0.110.2.  After the second update/restart, I noticed in the log files that HA was unable to open the serial port for the conbee2 stick, and ZHA subsequently failed to init.

## Environment

arch | armv7l
cha

[2020-05-25 12:55] dkulchinsky commented on #36111
😄

That incredible feeling when you and the maintainer have the exact same platform and issue \o/

[2020-05-25 13:02] tdejneka commented on #35872
@Tho85
I wish to inform you that the recent modification you implemented (in [PR 35398](https://github.com/home-assistant/core/pull/35398)) does not work as described. I tested the example you provided and `sensor.length_sensor`doesn't report `2` when both switches are enabled.

[2020-05-25 13:07] ktnrg45 commented on #35175
At first glance this appears to be an issue with how Python is compiled in your installation. This shouldn't happen on Linux. If you are using an Anaconda venv, you can try using a standard venv instead.

[2020-05-25 13:11] nagyrobi commented on #36046
This integration defaults the port at 5000, while some cameras give Onvif access at the same port 80 as web interface. Try changing the port to 80 (my Hikvisions work with Port 80)

[2020-05-25 13:18] nagyrobi opened #36125 "ONVIF The date/time on the device is different from the system"
## The problem
Onvif integration refuses to pick up any sensors because:
[code]
## Environment

- Home Assistant release with the issue: 0.110.2
- Last working Home Assistant release (if known): -
- Operating environment (Home Assistant/Supervised/Docker/venv): Home Assistant (hassio)
- Integration causing this issue: ONVIF
- Link to integration documentation on our website: https://www.home-assis

[2020-05-25 13:29] averagenormalguy opened #36126 "Onvif - Failed adding CAM (Could not configure unique ID for ONVIF device)"
## The problem

Adding my IP Cam (Wansview W2) as ONVIF Camera via integrations fails with error "Could not configure unique ID for ONVIF device.". This happens when selecting the camera from the drop-down menu after it has been discovered and also when adding the camera manually.

## Environment

- Home Assistant Core release with the issue: 0.110.2
- Last working Home Assistant Core release (if

[2020-05-25 13:45] mikicof commented on #35875
Hi!

I'm having the same problem with the storage is full, but trying to call the service broadlink.learn gives a Service not found error.

Mine is a Manual installation on a RPi

Thank you

[2020-05-25 13:47] Molodax commented on #36121
It works when you add `base_url: http(s)://xxx:port` to the TTS configuration.

Though it seems strange what is the purpose of External/Internal URL in such case

[2020-05-25 13:50] Adminiuga commented on #36124
Can you Re-Plug the stick and then completely reboot the host?

Hard to say without full debug logs, but looks like first attempt to setup integration failed, but upon retry it did open the port and worked a bit, but then lost serial connection again. Which also could be a case of ConBee biotlooping, I'm assuming you are using an USB extension cable for ConBee

[2020-05-25 14:05] davidpadbury opened #36127 "Yeelight Bedside Lights now Unavailable"
## The problem
I have two yeelight bedside lights (model `bslamp2`). They were previously working with home assistant but now are shown as being in state `unavailable` and are no longer controllable.

I also have a yeelight bulb that continues to work fine so the problem seems specific to the bedside lamps.

The lamps remain controllable in the yeelight application and I've verified that the IP ad

[2020-05-25 14:06] gitawayu commented on #35875
In case it helps anyone, I had the "storage full" a few days ago, when using the remote.learn_command service on Broadlink "RM4c mini" after updating from 0.109.6 to 0.110.1 but, today, after updating to 0.110.2, it started working again (and remote.send_command was able to send the learned command/code)

[2020-05-25 14:14] bdraco commented on #36118
Gen1 hubs don't support stop.

Thats the issue

[2020-05-25 14:21] McGiverGim commented on #34522
Yes, it will be great. It seems a very common error/bug.

[2020-05-25 14:22] McGiverGim commented on #36125
There are some other issues opened with what seems the same error. For example this: https://github.com/home-assistant/core/issues/34522

The developer said that It seems a bug in the firmware of the camera.

[2020-05-25 14:32] frenck commented on #36121
The purpose of setting an external and internal URL is to cover more cases to compare just a base URL. While for many people a single base URL might work, for a lot of people it doesn't (e.g., nat loopback issues).

If in your case, the "external" URL works both internal and external, you can consider setting them the same.

[2020-05-25 14:47] kmlucy opened #36128 "Unable to find referenced entities warning since 0.106.x"
## The Problem

On Home Assistant startup, I sometimes get errors like this:
[code]

Sometimes it's a different switch, sometimes it's multiple, sometimes it's none. The switches are z-wave. Despite the warnings, everything seems to work fine.

## Environment

- Home Assistant Core release with the issue: 0.106.0
- Last working Home Assistant Core release (if known): 0.105.x
- Operating environmen

[2020-05-25 14:48] Mark612 commented on #36109
Confirmed, just upgraded to 0.110.2 and see the same issue.

[2020-05-25 15:07] bachya commented on #36117
I’ll need your API key to test further. You can reach out to me on [the Home Assistant Discord](https://discord.gg/c5DvZ4e) (where I have the same username).

[2020-05-25 15:09] bachya commented on #36115
I’ll need more information (latitude/longitude and API key) to debug since I’m unable to reproduce this. You can reach out to me on [the Home Assisstant Discord](https://discord.gg/c5DvZ4e) (where I have the same username).

[2020-05-25 15:20] Jc2k commented on #33511
0.110.2 should have this fix - it would be great if you could test it works for you @marcandre83 / @MartianMH1.

[2020-05-25 15:23] tipofthesowrd commented on #36046
Stupid! Indeed when connecting on port 80 it works fine! Mine are dahua
cameras with onvif on port 80

Op ma 25 mei 2020 15:11 schreef nagyrobi <notifications@github.com>:

[2020-05-25 15:33] damiano75 commented on #36117
I sent you my API key on Discord

[2020-05-25 15:38] felipediel commented on #35875
@marco76mk @anamika784 @maorbenamer I understand the problem now. You specified the wrong type in the remote platform config. Remove `type: whatever` and it will work fine.

@mikicof Your problem is different. You need to set up a switch to register `broadlink.learn` service.

[2020-05-25 15:48] jstasiak commented on #35922
FWIW this conditional `setLevel` call is there specifically so that you can configure zeroconf's logging level from the outside, in the central place where you configure all other logging-related things, without having to patch zeroconf.

[2020-05-25 15:51] fabaff commented on #36116
Your PR will go into 0.111. Your PR was merged  when the 0.110 was already in preparation for the release and the releases in the meantime were bugfix releases.

The tracking is done with "Milestones".

[2020-05-25 15:51] #36118 closed

[2020-05-25 15:53] felipediel commented on #35875
The 'type' attribute is clearly causing confusion. This will be no longer necessary soon. For now, the rule is not to specify the type if you are not experiencing problems.

[2020-05-25 15:56] emontnemery commented on #35922
@jstasiak Yes, but it's not compatible with how homeassistant filters logs.
There's a change here which does it without patching zeroconf: https://github.com/home-assistant/core/pull/36002

[2020-05-25 15:57] sim-san commented on #35194
I send these discovery message:

[code]

And then I call the service `cover.set_cover_position`:
[code]

And I get on the `set_position` topic following message:

[code]

Can you help me ? What is my error ?

[2020-05-25 16:07] cuspofaries commented on #31486
Nothing at all in the in the .storageIn fact there is nothing at all relating to freebox, fbxos... I am unable to install from fronthand. Sent from my Huawei phone-------- Original Message --------Subject: Re: [home-assistant/core] Freebox component - Error during setup of component freebox (#31486)From: SNoof85 To: home-assistant/core CC: cuspofaries ,Comment

Hi there, Thanks for the response. I

[2020-05-25 16:10] jstasiak commented on #35922
Ah, that's fair, I didn't know about this.

[2020-05-25 16:13] #36116 closed

[2020-05-25 16:17] #35851 closed

[2020-05-25 16:21] hunterjm commented on #36046
@nagyrobi - Thanks! I forgot to mention that and just assumed the cameras were discovered!
@atxbyea - Can you check port 80 as well?  If they are registered as "Dahua" my Dahua camera is definitely ONVIF over port 80.

[2020-05-25 16:22] bdraco commented on #35922
@emontnemery Is it possible that new ones are coming in via `update_service` instead of `add_service because they are in the cache already before the listener sees them?

[2020-05-25 16:24] Tho85 commented on #35872
@tdejneka I can reproduce this issue and am looking into it.

[2020-05-25 16:30] hunterjm commented on #34522
This warning should only show up once on Home Assistant starts.  I'm not suggesting we rely on "useless Chinese vendors".  The warning is there for those that are able to adjust the date/time in the camera's interface.  I'm still deciding on what the best way to handle this for cameras that support events are, but that warning will not be going away.  If you don't want to see it in your logs, turn

[2020-05-25 16:32] hunterjm commented on #36126
resolved by #36008 which will be available in 0.110.3

[2020-05-25 16:32] #36126 closed

[2020-05-25 16:35] hunterjm commented on #36125
While this duplicates #34522, I'm going to leave it open to see if I can't work around the Time Zone difference when it comes to handling event subscriptions somehow.

My HikVision doorbell reports this same issue.  The cause is the firmware not handling DST correctly when returning the system date/time in UTC for ONVIF.

[2020-05-25 16:36] sira87 commented on #35875
I try to give my 2 cents, but I'm a beginner so I may have done something wrong, expecially while applying the update you suggested.

I'm having the same problem of the users above while trying to learn a command via service remote.learn_command and via broadlink.learn.

These are the errors I get via remote.learn_command:
``
Logger: homeassistant.components.broadlink.remote
Source: components/bro

[2020-05-25 16:37] hunterjm commented on #36109
Other than this exception in the log, and not being able to view the live feed, does this cause any other issues like Home Assistant crashes?  Does it happen every time you try to load the stream, or just sometimes?

[2020-05-25 16:38] hunterjm commented on #36046
It's there as a legacy fallback from when this integration was first added.  I plan to remove it in two releases after people who don't have it defined in their `configuration.yaml` because it was defaulted have been able to migrate to the config entry.

[2020-05-25 16:40] nagyrobi commented on #36125
Unfortunately it's not desirable to modify the time settings in the cameras, because they are connected to an NVR for recording, and the NVR is the master time source for the cameras, including time zone and DST settings.

More precisely: it is possible to modify the time settings in the cameras, but that will cause inconsistency in the NVR operation - so nobody wants to do that. The NVR records n

[2020-05-25 16:43] mtdcr commented on #34844
Even if HASS handles everything properly, there may be situations where HASS doesn't shutdown cleanly due to some other component, some other client is hogging the KLF200 when HASS is down temporarily, or a network error occurs. Therefore I'd propose to retry setting up the connection in the background repeatedly when it fails on first try.

[2020-05-25 16:45] AngelofromTurin commented on #32944
hi
can show the 3 line of code you comment ? i will try to follow youre way...
thank you

[2020-05-25 16:45] Tho85 commented on #35872
The tests are running fine with this exact template and a corresponding test setup. However, I can see in my logs that the entities are not actually part of the group (yet?) when the template sensor is initialized during startup. My first guess is that it has to do with the parallel loading of integrations (#34755) that was introduced in 0.110.0. I'll investigate further :detective:

[2020-05-25 16:48] emontnemery commented on #35922
@bdraco Yeah that's one theory to be tested: https://github.com/jstasiak/python-zeroconf/issues/255#issuecomment-633625051

By the way, with the singleton zeroconf changes in 0.111, are service browsers also shared or only the main zeroconf instance?

[2020-05-25 16:50] nilsb commented on #35142
Hi!
Might be too late but try this config:
I just tried it using swedish and it worked!
@frenck Still someone should look into why the google_say service ignores language and the google_translate_say works....

tts:
- platform: google_translate
   cache: true
   base_url: http://192.168.86.51:8123
   language: 'no'
   service_name: google_translate_say

[2020-05-25 16:50] MaximumSU commented on #36038
Ok, may be for somebody it will be useful information. This is from our thread in mysensors forum:

So, to eliminate this useless pause and warning for serial gateways, i copied all mysensors to custom_components and replaced in "mysensors/gateway.py" follows:

[code]
to
[code]

[2020-05-25 16:55] bdraco commented on #35922
Browsers are not shared. Only the main instance.

[2020-05-25 17:01] tobalowar commented on #35597
Finally what i did was buy a conbee. With that I can see my sensors without a problem (only with the temperature problem i have problems because I can't pair it to the conbee but I think is because it has low battery)

[2020-05-25 17:06] MarcoV-git commented on #36099
Yes, @hunterjm, I know but it's annoying if I supply the preset name like its shown in the camera software, it then appears to be wrong, and it doesn't show me what Onvif recognizes as the actual preset names...

Anyhow, its merged into the next release, so we've to just wait until next release.. ;-)

Thanks Jason...

[2020-05-25 17:06] sweenr commented on #33614
Not a solution but as a quick workaround - I commented out lines 30-31 here to disable the sensors from loading and it got rid of the warnings for me. Note that this change does not survive upgrades so whenever you upgrade HA you'll have to comment these out again.

https://github.com/home-assistant/core/blob/dev/homeassistant/components/rainbird/__init__.py#L31-L32

I'm running it manually instal

[2020-05-25 17:11] webhostsg commented on #24873
same here i'm on the latest 0.110.2 still having same issues. Sometimes need to restart HA several times a day..

[2020-05-25 17:11] anamika784 commented on #35875
I have removed type: from my config. I' sorry , but it's doesn't work yet.

Logger: homeassistant.components.broadlink.remote
Source: components/broadlink/remote.py:306
Integration: broadlink (documentation, issues)
First occurred: 19:02:19 (1 occurrences)
Last logged: 19:02:19
Failed to learn 'Turn on/television': The device storage is full

[2020-05-25 17:21] felipediel commented on #35875
Strange. Did you restart Home Assistant? Please show me your config.

[2020-05-25 17:24] ludeeus commented on #35836
Documentation was corrected with https://github.com/home-assistant/home-assistant.io/pull/13526

[2020-05-25 17:24] #35836 closed

[2020-05-25 17:28] papacrown commented on #33614
Couldn’t we copy this folder to custom_components and have it survive upgrades that way? And then just delete it from custom_components whenever it’s fixed?

On May 25, 2020, 12:06 PM -0500, Richard Sween <notifications@github.com>, wrote:

[2020-05-25 17:32] Molodax commented on #36121
Thank you for the explanation, though it becomes very confusing. In some other place, you commented that there is no need to specify the internal URL if it is the same as external. Also, it was repeatedly mentioned that is an override. In this case, my Sonos also stopped playing TTS until I've added `base_url`. Also, in my case, I have a very simple network solution, so external/internal/base URLs

[2020-05-25 17:39] lufton commented on #35142
That's different integration. Here we disqus **google_cloud** issue.

[2020-05-25 17:41] anamika784 commented on #35875
Of course I restarted. My configuration.yaml:
remote:
  - platform: broadlink
    host: 192.168.0.184
    mac: 'xx:xx:xx:xx:xx:xx'
    # type: rm4c_mini
Home Assistant 0.110.2
The "broadlink.learn" works well.

[2020-05-25 17:42] thores81 commented on #35142
Thank you so much!

After I updated to latest version of home assistant neither google
translate nor google cloud works. 😥

man. 25. mai 2020, 19:39 skrev Дубовик Максим <notifications@github.com>:

[2020-05-25 17:52] DavidMStraub commented on #35844
Have you installed the custom component? Something seems to be wrong with your installation. It looks for `custom_components.home_connect.config_flow`, but `home_connect` is not a custom integration.

[2020-05-25 17:53] marco76mk commented on #35875
I removed the "type" from the configuration.
now if i start the command "remote.learn_command" the led turns on and in notifications it asks me to press the button on the remote control.
I press and the led turns off, but in the logs I get this error:

2020-05-25 19:50:16 ERROR (MainThread) [homeassistant.components.broadlink.remote] Failed to learn 'Turn on/television': No code received

in the "

[2020-05-25 18:06] bastshoes commented on #36047
Issues fixed with deConz upgrade to 2.05.77.

[2020-05-25 18:06] #36047 closed

[2020-05-25 18:13] lufton commented on #35142
Yes there is definitely something wrong with TTS integrations.

[2020-05-25 18:17] thores81 commented on #35142
So it is a known problem with Tts?
Hopefully there wil bee a fix soon.

man. 25. mai 2020, 20:13 skrev Дубовик Максим <notifications@github.com>:

[2020-05-25 18:19] DarwinData commented on #23045
I was on 109.6 when I got the errors but I have now updated to 110.2 and the log errors are gone.
thanks!

[2020-05-25 18:20] dshokouhi commented on #36128
So this is only impacting zwave switches? Is it always the same ones? Where are you using these entities that it complains about it? Other than automation like any other integration depends on them?

[2020-05-25 18:29] alfonsolsl commented on #36109
I got it on 7/10 tries.

Everytime with this other logs:
`
Logger: root
Source: components/stream/worker.py:166
First occurred: 1:24:07 PM (1 occurrences)
Last logged: 1:24:07 PM

Uncaught exception
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/util/thread.py", line 20, in run
    run_old(*args, **kwargs)
  File "/usr/local/lib/python3.7/threading.py", line 870, i

[2020-05-25 18:33] kmlucy commented on #36128
There are two entities that this seems to occur with. Both are zwave switches. Sometimes it happens with one, sometimes the other, sometimes both, sometimes neither.

They are used in scenes, automations, groups, automations, scripts, google assistant, and lovelace. I have dozens of other switches used in the same ways that don't trigger this, however.

[2020-05-25 18:36] dshokouhi commented on #36128
Are there any errors above or below it that may give a clue whats having the issue?  Something is using that helper service.  Maybe try enabling debug logging as a whole to see if it gives any clues?

https://www.home-assistant.io/integrations/logger/#default

[2020-05-25 18:47] Villhellm commented on #33394
Okay, I've had some time to do experiments this weekend to find out what the problem is here.

The change that caused delayed commands happened somewhere between 0.105.5 and 0.106.1

Running 0.105.5 everything works as expected, I can send volume up/down commands smoothly back to back.

Running 0.106.0 everything works *almost* identically, sending volume commands back to back is smooth, but some

[2020-05-25 18:54] gadgetchnnel commented on #35921
This appears to be an issue with the Todoist integratio. I re-enabled this in my installation (I had it disabled since I wasn't really using it) and was able to reproduce the issue, with this appearing in the log file:

[code]
It looks like the async_get_events method for this integration (which is what the Calendar API calls) doesn't handle tasks with no due date properly.

[2020-05-25 19:05] onkelbeh commented on #36050
Problem persists in `0.110.2`.

[2020-05-25 19:11] rickh18 commented on #35922
I removed both lines. I ran 0.26.1 first, then 0.25.1. However, with logging enabled, 0.26.1 was suddenly working correctly (all chromecasts showed up. I ran 0.26.1 without logging and restarted it twice, both time it was not working. I then enabled logging again after which it was all working as expected. Only after restarting again, it was broken again.

HA 0.110.1 zeroconf 0.26.1 Working (Why?)

[2020-05-25 19:11] onkelbeh commented on #36039
'Problem' persists in `0.110.2`.

[2020-05-25 19:12] abelmatser opened #36133 "Spotify component will not load new client id and secret"
## The problem

When loading the integration via the UI (after filling in the credentials in configuration.yaml) it will open the callback to my previously defined local ip. This results in ```INVALID_CLIENT: Invalid redirect URI``` and in the URL my local ip is listed, which I believe is to be expected. After creating a new application in the spotify dashboard (with my external accessible URL, pr

[2020-05-25 19:12] nmsaini commented on #33048
I am on the latest version 0.110.1 and seeing this issue now. After a restart of the docker container all zwave devices were greyed out as not available. This has happened a few times. Not sure how I recovered the last time. Using Aeotech Z wave stick.

[2020-05-25 19:12] bdraco commented on #35922
Seems like there is a race condition going on here.

[2020-05-25 19:17] abelmatser commented on #36127
I have the feeling my Yeelights became more stable after assigning a static IP to them, maybe worth a try.

[2020-05-25 19:24] Caswell1000 commented on #29951
I have lost my Google speakers as well after a few years of flawless operation. They do not even show in integrations, but the Google cast integration comes up when restarting.

[2020-05-25 19:26] mikicof commented on #35875
I’ve changed the configuration and now the error is the same as remote.learn_configuration: Failed to enter learning mode: The device storage is full

[2020-05-25 19:37] k2v1n58 opened #36135 "Songpal Sony ZR7 problem volume"
## The problem
I have (and always had) a problem with the songpal integration. It works well on my STR-DN1080 but on the SRS-ZR7 when I click on:
- volume up the volume level goes (and only goes) to 0.02
- volume down it goes (and only goes) to 0.78.
(Note that the mute button works well)

I had this problem before and it still present with Songpal integrated in the Integrations UI.

## Environmen

[2020-05-25 19:38] atxbyea commented on #36046
How can I select port 80 in the config flow ? I see no options for it, also when I have tried adding a camera via the config flow once and try again it it will spit out errors at me until I restart HA with the following text :

[code]

[2020-05-25 19:41] austwhite commented on #29951
I gave up playing with it and just left them all as single speakers for now.   Every time I played the integration adds another Home Assistant Cast user, and I have about a dozen of them now and they cannot be deleted from the UI.  Maybe they can be deleted by digging in the files, but that is a dangerous way to delete this.
That is another bug though, the constantly adding new Home Assistant Cast

[2020-05-25 19:44] peternijssen commented on #35922
Just wanted to add that I am experiencing the same issue since the update to HA 0.110.0. My 2 chromecasts and google home mini are no longer in HA. As opposed to others, I use the PyPi way of installing HA rather than Docker. Unless I experience a different problem, the problem itself is not Docker related.

[2020-05-25 19:55] #35998 closed

[2020-05-25 19:57] TheEris opened #36136 "QR Code is not working"
## The problem

missing zbar library

## Environment

arch | x86_64
-- | --
chassis | vm
dev | false
docker | true
hassio | true
host_os | HassOS 3.13
installation_type | Home Assistant
os_name | Linux
os_version | 4.19.115
python_version | 3.7.7
supervisor | 224
timezone | Europe/Prague
version | 0.110.2
virtualenv | false

- Home Assistant Core release with the issue:  0.110.2
- Last working Hom

[2020-05-25 20:00] nagyrobi commented on #36046
What do you mean by 'config flow'??

[2020-05-25 20:03] felipediel commented on #35875
Something really obscure is going on. Those services have the same internal logic. If one works, the other should work too. I changed the file to display more error messages. Could someone [update](https://github.com/home-assistant/core/issues/35875#issuecomment-631718895) and send me the errors?

@anamika784 @maorbenamer Sorry, I was wrong about your config. I just realized that you have RM4 seri

[2020-05-25 20:05] #35126 closed

[2020-05-25 20:14] Tho85 commented on #35872
I don't actually know why the feature worked during development, maybe due to some kind of race condition during initializtion that made it work for me. The problem seems to be unrelated to #34755 since reverting that commit did not solve the issue.

However, it's fixed here: #36137. Thanks for your report!

[2020-05-25 20:19] k2v1n58 commented on #36135
If it can help to solve this issue, after some test with phython-songpal, I discovered that the SRS-ZR7 doesn't support volume +N or volume -N but only volume N

"N" - Set the volume level to N, where N is an integer, for example, "25".
"+N" - Increase the volume level by N, where N is an integer, for example, "+14".
"-N" - Decrease the volume level by N, where N is an integer, for example, "-10".

[2020-05-25 20:22] danielsmith89 commented on #35921
I'm getting those errors too, so sounds a probable cause. Unfortunately, I use Todoist in a lot of my automations so disabling it to solve this bug isn't an option for me.

[2020-05-25 20:33] amelchio commented on #36114
That looks like the LIFX Cloud is being slow.

Try adding `timeout: 30` to your configuration.

[2020-05-25 20:34] #35908 closed

[2020-05-25 20:38] BerniApple commented on #35866
I have this camera: https://www.amazon.com/Victure-Weatherproof-Surveillance-Detection-Compatible/dp/B07VC7TLHD/ref=sr_1_5?dchild=1&keywords=victure+1080p&qid=1590439028&sr=8-5
(81XXF IPC365)
I can watch the stream via ONVIF integrations but i can't use the built in pir sensor. why?
thanks

[2020-05-25 20:42] browetd opened #36138 "0.110.2 : STREAM : Unable to install package av==8.0.1: Failed building wheel for av"
## The problem

After installing 0.110.2, an error occured (different from 0.110.1) for Stream component:
"Unable to install package av==8.0.1: Failed building wheel for av"

The error for 0.110.1 was related to av==7.0.1 (similar error but different version of av)

ffmpeg version:
ffmpeg version 4.1.4-1+rpt7~deb10u1

## Environment

- Home Assistant Core release with the issue: 0.110.2
- Last wor

[2020-05-25 20:43] lauofdoom commented on #36114
Thanks, I've updated and looks like it has resync'd up ok

[2020-05-25 20:43] #36114 closed

[2020-05-25 20:45] Santobert commented on #36022
It could help to set up a development environment an debug into the code. Unfortunately my D3 doesn't support zone cleaning.

[2020-05-25 20:57] sweenr commented on #33614
@papacrown Hi, thanks for the tip! Yes, I just tested that by copying the rainbird directory to custom_components and then removing the comments from the HA rainbird plugin. Restarted HA and everything worked as expected. Haven't tested a HA upgrade but it should be OK. The caveat being you won't get any rainbird plugin updates (I assume). So the workaround becomes:

1. Copy your `rainbird` direct

[2020-05-25 20:57] YRRK commented on #35844
I’ve used CodWilds Home Connect custom component in the past before this one got official. I’ve stopped using that integration.
Could that be the problem because it’s also called Home Connect? 🤣
More people are gonna have that maybe. I’ll do a clean install. Maybe tomorrow and see if that matters :) Thanks

[2020-05-25 20:58] johanson commented on #36072
@ondoteam Use a nginx proxy in front of it, then you can access hass locally and over https from outside of your network. The addon for it exists.

[2020-05-25 21:02] marco76mk commented on #35875
this update not work:

2020-05-25 22:55:51 ERROR (MainThread) [homeassistant.components.remote] Error while setting up broadlink platform for remote
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/components/broadlink/remote.py", line 134, in async_setup_platform
    d = next(filter(lambda d: d.host[0] == host, devices))
StopIteration

The above exception was the di

[2020-05-25 21:03] frenck commented on #36072
@ondoteam Actually, it can't. You have configured Home Assistant to serve SSL, which means it will always be SSL. This means your internal URL hint will also need SSL.

URLs settings in Home Assistant do not affect how Home Assistant runs, it only allows one to tell Home Assistant you know better. (e.g., when using reverse proxy setups or solving NAT loopback issues).

URLs have nothing to do with

[2020-05-25 21:03] #36072 closed

[2020-05-25 21:03] johanson commented on #36027
Are you trying to access home assistant from local network or are you using duckdns domain name? Is the domain name in the addon config correct?

[2020-05-25 21:04] papacrown commented on #33614
@sweenr Yup, that'll be the only thing, we will have to wait and see if the developer updates the component to fix this. If they do, we would have to edit __init__.py again.

For future reference, I'm on Hassio 0.110.2, the instructions were as follows (thanks @sweenr , copied your text where applicable):

1. Access Hassio Host --> https://developers.home-assistant.io/docs/operating-system/debuggi

[2020-05-25 21:13] emontnemery commented on #35922
Two corrections:
pychromecast needs to handle `update_service` from zeroconf: https://github.com/home-assistant-libs/pychromecast/pull/364
fix recent regression in zeroconf: https://github.com/jstasiak/python-zeroconf/issues/255

@hmmbob has been very patient with debugging and testing, it would be really appreciated if someone else could test after applying these changes

[2020-05-25 21:14] lopez3 opened #36139 "ONVIF integration not available"
## The problem

Upgraded to 0.110.2, can't add ONVIF integration from the web interface.

## Environment

- Home Assistant Core release with the issue: 0.110.2
- Last working Home Assistant Core release (if known): none, new
- Operating environment (Home Assistant/Supervised/Docker/venv): venv
- Integration causing this issue: onvif
- Link to integration documentation on our website:

## Problem-r

[2020-05-25 21:16] felipediel commented on #35875
I updated the file to handle this exception. Please try again.

[2020-05-25 21:17] frenck commented on #36139
Thanks for opening up an issue @lopez3!

However, this is documented: <https://www.home-assistant.io/integrations/onvif>

Please make sure you install libxml2 & libxslt packages are installed on your system.

[2020-05-25 21:17] #36139 closed

[2020-05-25 21:19] l4ci commented on #33511
Working for me like a charm now 🥳 thanks for your hard work!

[2020-05-25 21:21] gadgetchnnel commented on #35921
I've submitted a PR to fix this for the Todoist integration:

https://github.com/home-assistant/core/pull/36140

[2020-05-25 21:23] lopez3 commented on #36139
Can I get some giudance?

root@raspberrypi:/home/pi# apt-get install libxml2
Reading package lists... Done
Building dependency tree
Reading state information... Done
libxml2 is already the newest version (2.9.4+dfsg1-7+b3).
libxml2 set to manually installed.
0 upgraded, 0 newly installed, 0 to remove and 0 not upgraded.
root@raspberrypi:/home/pi# apt-get install libxslt
Reading package lists... Do

[2020-05-25 21:23] marco76mk commented on #35875
mmmm error:

2020-05-25 23:19:57 ERROR (MainThread) [homeassistant.components.broadlink.remote] The selected class for 10.0.0.82 is <class 'broadlink.rm'>

2020-05-25 23:21:41 ERROR (MainThread) [homeassistant.components.broadlink.remote] Learning: host=10.0.0.82, class=<class 'broadlink.rm'>, request_header=b''
2020-05-25 23:21:49 ERROR (MainThread) [homeassistant.components.broadlink.remote] Lea

[2020-05-25 21:26] felipediel commented on #35875
No other error? It seems to be working fine. Check the `.storage` folder.

[2020-05-25 21:28] marco76mk commented on #35875
2020-05-25 23:22:19 ERROR (MainThread) [homeassistant.components.broadlink.remote] Failed to learn 'Turn on': No code received

in the ".storage" folder I had removed the broadlink files, but now no file that starts with "broadlink_..." _appears

[2020-05-25 21:30] tommyjlong opened #36141 "Alexa.CameraStreamController in Alexa: no longer works in 0.110"
Alexa.CameraStreamController in Alexa was working on FireTV prior to upgrading to 0.110.
In 0.110, I now get Alexa on FireTV saying "_camera name_ doesn't support that".
None of my Alexa configuration changed.
## Environment

- Home Assistant Core release with the issue: 0.110.1/.2
- Last working Home Assistant Core release (if known): 0.109
- Operating environment (Home Assistant/Supervised/Docke

[2020-05-25 21:32] felipediel commented on #35875
`python --version`

[2020-05-25 21:33] jstasiak commented on #35922
On the `update_service` front – we probably should've started throwing some warnings in case of missing `update_service` methods at some point and then start calling them unconditionally in a later release. I guess it's finally time for those warnings.

PS. I can testify to the dedication and patience of everyone involved.

[2020-05-25 21:35] Rookeh commented on #35875
Not sure if this helps, but I just had the exact same issue. Updated to 0.110.2 and got "The device storage is full" errors when trying to learn remote codes.

In my case, **adding** the type field to the configuration (in my case, rm4_mini) actually fixed the problem.

[2020-05-25 21:37] tdejneka commented on #35872
You're welcome and thank you for taking the time to investigate the problem and correct it.

If you don't mind, I will close this Issue after your PR is merged (hopefully in the next minor release)  and I can independently confirm it is functional.

[2020-05-25 21:37] marco76mk commented on #35875
now it works !!
I copied the "broadlink_remote_24dfa727d9ee_flags" file again and tried to run the "remote.learn_configuration" command again
now the files broadlink_remote_24dfa727d9ee_codes has been created

[2020-05-25 21:41] ZenithDK opened #36144 "Traceback: tinydtls.py", line 160, in _run"
## The problem

I encountered a stack trace while doing "docker logs -f home-assistant"
I was restarting home assistant after updating to use HACS 1.0.3 from 0.25.x (or 0.24.x) - not entirely sure.

## Environment

I'm using HA supervised 0.110.2 - with HACS 0.24/25.x
I updated to HACS 1.0.3 and I had to restart HA to get HACS updated - during the shutdown, after pressing the "restart HA" button i

[2020-05-25 21:43] felipediel commented on #35875
The last update contains only error messages. I have no idea what was going wrong. But I am happy to know that your problem is solved.

[2020-05-25 21:45] federom commented on #36017
i have the same issue with Unify's Controller Add-on

[2020-05-25 21:48] Tho85 commented on #35872
The issue will be automatically closed as soon as the PR is merged (Github magic), but feel free to reopen it if the fix doesn't work for you.

[2020-05-25 21:51] tommyjlong commented on #35917
As an FYI, I had the same issue.  I did as suggested by re-enabling the skill, and restarted HA.  After about an hour, I don't see these logs anymore.

[2020-05-25 21:55] emontnemery commented on #35922
@jstasiak I don't understand how you want to change `update_service` can you explain a bit more about the warnings?

[2020-05-25 22:02] jstasiak commented on #35922
Yeah, sorry, should've said explicitly by "we" I meant "zeroconf". Warn in case of missing listener methods as you already found out. :) (https://github.com/jstasiak/python-zeroconf/pull/259 for others reading this thread)

[2020-05-25 22:07] Tho85 commented on #31709
As pointed out, this is indeed an issue with the Alexa API, not HA. I'll close this, let's see how the Alexa API evolves.

[2020-05-25 22:07] #31709 closed

[2020-05-25 22:36] shenxn commented on #36027
@sbhdlmn Take a look at the log of your DuckDNS add-on. You might find something related there.

[2020-05-25 22:41] picto3000 commented on #36011
An update that 0.110.2 has helped the situation. Logs are still showing failed pings and disconnects, Logbook are showing devices going unavailable and disconnecting/reconnecting, but the devices uptime counters are no longer resetting and switches are no longer momentarily switching off/on.

[2020-05-25 22:52] peternijssen commented on #36133
I got a similar problem. I just configured Spotify for the first time within HA (0.110). Within Spotify I configured the external URL like I did with the external URL in HA. I left out the internal URL in HA as I don't have any.

After setting up Spotify in YAML and then configuring through the GUI, I noticed that HA uses the redirect-uri for my internal IP rather then my external URL.

[2020-05-25 23:14] peternijssen commented on #36133
I had a look at the get_url() method of home assistant and noticed that the internal_url always prevails the external_url unless specified as can be seen in PR #35224 . As I didn't configure the internal URL I would have expected it would go straight for the external URL.

I currently solved it like this:
[code]

Perhaps my problem was that I had filled in an internal_url before but removed it ear

[2020-05-25 23:20] fwestenberg opened #36145 "ONVIF - Reolink Events not working"
## The problem
Reolink events are not showing up in Home Assistant. They are visible in third party software like ONVIF Device Manager. In Home Assistant I also activated the log level - info, as described in the integration page. Also no info here. Camera stream is working.

## Environment
- Reolink RLC-410 and RLC-420 camera's

- Home Assistant Core release with the issue: 0.110.2
- Last working

[2020-05-25 23:39] #35666 closed

[2020-05-25 23:44] fanaticDavid commented on #36017
I changed line 304 to add 30 seconds instead of 10, and then I restarted my docker container. In an hour or so I should be able to tell the difference, if any.

[2020-05-25 23:46] austinmroczek commented on #33172
@fwedler sorry it's taken a bit longer than I thought.  You'd think being stuck at home would make things go faster, but working at my computer all day makes it less fun to spend the evening there as well.  I submitted a pull request that will give you a notification if arming or disarming the system fails for some reason.

Next I'll finally get to the javascript error in the UI.  Since it's runni

[2020-05-26 00:08] dshokouhi commented on #28775
After updating to 0.110.x I can confirm this issue is fixed! I was able to update the server in the plex UI and after it finished I went to play an item and it actually updated in HA!  The logs also indicate that the server attempted to reconnect which was not there before, previously I only saw the `disconnected` message!

[code]

[2020-05-26 00:08] #28775 closed

[2020-05-26 00:30] akcamperdude commented on #33605
Same issues here. Eufy integration is almost unusable currently.

[2020-05-26 00:31] kmlucy commented on #36128
I enabled logging and am suddenly seeing way more of this warning:

[code]

I'm pretty sure that's all my zwave devices. Only the last one shows up without debug logging.

Here are the logs proceeding some of the warning that look possibly relevant. Here is without debug logging:
[code]

And this is with: https://termbin.com/k1kr

[2020-05-26 00:33] kaizersoje opened #36146 "Moon sensor for Southern Hemisphere"
## The problem

The moon phases are seen differently in the Northern and Southern Hemispheres. There needs to be a capability where the hemisphere can be specified. See link: [moon phases](http://www.primaryhomeworkhelp.co.uk/moon/hemispheres.html)

## Environment

- Home Assistant Core release with the issue: 0.110.2
- Last working Home Assistant Core release (if known):
- Operating environment (

[2020-05-26 00:42] nickh66 commented on #32575
I can also confirm this issue, or at least a variant of the issue.
I using hassio NUC image & also with mariadb logger options.
For me the initial filter to one entity seems to work fine but if i refresh the filter using the circular arrow button top right then i get results not matching the entity filter i want.
![Screenshot from 2020-05-26 10-25-12](https://user-images.githubusercontent.com/1167

[2020-05-26 01:02] JacobWasFramed commented on #29947
Still an issue on 109.6

[2020-05-26 01:16] mbaran5 commented on #23055
I am experiencing the same issue. I even tried the solution above by @ascillato but still repeatedly get invalid authentication notices when displaying a local file as a camera entity. The issue appears more often if I am coming through my reverse proxy but seems to appear either way.

[2020-05-26 01:20] balloob commented on #36005
hostnames were not allowed initially because we had no way to check for duplicates. It can be added back now that we have config entry unique IDs. A PR is welcome.

[2020-05-26 02:08] stu247 opened #36147 "discovered HEOS integration can not be ignored"
## The problem

In the release notes of 0.110, it states that every discovered integration can be ignored, however each time Home Assistant Core is restarted, a HEOS device is discovered and there is no link to ignore it.  See attached screen shot.
![Screenshot_20200525_210037](https://user-images.githubusercontent.com/9448709/82853247-ddccf280-9eca-11ea-8e93-e856582cf578.png)

## Environment

- H

[2020-05-26 02:13] dshokouhi commented on #36147
duplicate of #35852

[2020-05-26 02:13] #36147 closed

[2020-05-26 02:15] dshokouhi commented on #36136
is this a venv install? if so you may need to install that library manually.

[2020-05-26 02:22] shenxn commented on #36135
@k2v1n58 Yes you are right about this. The API actually reports if it supports step change (https://developer.sony.com/develop/audio-control-api/api-references/api-overview-2#_getvolumeinformation_v1_1). A pull request is welcome. Otherwise I'm gonna fix this in a few days.

[2020-05-26 02:57] jspanitz commented on #26460
HA .110.x and this issue persists
Error while updating WWLLN data: Recurring request error from http://wwlln.net/new/map/data/current.json: 404, message='Not Found', url='http://wwlln.net/new/map/data/current.json

[2020-05-26 03:05] bachya commented on #26460
@jspanitz Please read carefully: the error you are referencing is _not_ the same that is represented in this issue. Furthermore, your issue has already been (a) reported (https://github.com/home-assistant/core/issues/35908) and (b) addressed (https://github.com/home-assistant/core/pull/35926).

[2020-05-26 03:12] Alfiegerner commented on #31513
Create symlinks to in local folder (make sure permission correct in /etc/letsencrypt), works, e.g.:

[code]

[code]

Don't know why but path to /etc/ causes error.

[2020-05-26 03:28] renhardy commented on #23317
Just tested the integration on 0.110.1 and it gets stuck on startup on a RPi 4

[2020-05-26 03:34] bachya commented on #36117
I just configured an instance of OpenUV (via the UI) on the latest `dev` with your API key and everything loaded as expected:

<img width="913" alt="Screen Shot 2020-05-25 at 9 31 12 PM" src="https://user-images.githubusercontent.com/47216/82857880-7e251600-9ecf-11ea-9884-43beaf80c02c.png">

Are you sure that when you use your API key, you're not including extra characters (like empty spaces)?

[2020-05-26 03:36] fwedler commented on #33172
Yeah, I hear ya. I'm usually running HA in Firefox. Current version says 76.0.1 but Firefox updates itself all the time.

[2020-05-26 04:23] hunterjm commented on #36145
This version of the integration only supports events via PullPoint subscription. On top of that, only if the camera advertises support when requesting it's capabilities.  This differs from ODM in two ways:
1. ODM supports both basic notifications and pullpoint notifications. It can be changed to "only PullPoint" in the settings (please do so and let me know if you still see events)
2. As far as I

[2020-05-26 04:25] hunterjm commented on #36112
The default value may be too high, try a lower duration? Unfortunately, this falls more into a feature request than an issue since none of the PTZ service code was touched in this release (other than fixing the check on whether or not PTZ was supported).

[2020-05-26 04:25] bachya commented on #36115
From @petarvucetin:

Closing this issue for now; feel free to re-open if it happens again!

[2020-05-26 04:29] hunterjm commented on #36046
@atxbyea - Are you running this in WSL or on Unraid?  If unraid this user had a similar issue and was able to work around it: #35897

[2020-05-26 04:33] petarvucetin commented on #36115
I just saw it again on the dev install. After I get limit reached and restarted HA I get this:

[code]

I am trying to chase it down on my local dev install.

[2020-05-26 04:35] elupus commented on #34264
Don't forget about per integration state_attributes. You can do it via device class for state, but it is a but clunky. This is for stuff like input source and sound mode of media player.

[2020-05-26 05:28] LucioBenedetti commented on #36138
Me too

[2020-05-26 05:44] theone11 opened #36149 "Yeelight Meteorite still not auto-discovered"
## The problem
Same problem as described here:
https://github.com/home-assistant/core/issues/35013

In my yeelight app the Meteorite Lamp does show up as yeelink.light.ceiling10
LAN control is on as for other (discovered) yeelight lights.

## Environment

- Home Assistant Core release with the issue:  0.110.2 (latest)
- Last working Home Assistant Core release (if known): N/A
- Operating environme

[2020-05-26 05:49] atxbyea commented on #36046
No, it's running in a freebsd jail in venv @hunterjm

[2020-05-26 05:59] McGiverGim commented on #36112
I tried with 0.1 but as I say it never ends. The new GotoPreset works ok 😉
And yes, this is a bug, but not from your code. As you say, this problem is here since some versions ago.

[2020-05-26 06:02] browetd commented on #36138
By the way, this error at HA startup is preventing to use the "homeassistant.restart" service...  I removed "stream:" from my configuration.yaml, and the "restart" service is working again.  No error message in home-assistant.log when I try to use the "restart" service when "stream:" is in the configuration.yaml...

[2020-05-26 06:06] akandor commented on #36121
Hi, thanks. Base_Url helped. I added my internal base_url.

[2020-05-26 06:06] #36121 closed

[2020-05-26 06:07] browetd commented on #36138
Any possibility to install AV 8.0.1 manually in a venv environment ? (venv , Raspberry Pi4, Python 3.7.3) Thanks !

[2020-05-26 06:21] DavidMStraub commented on #35844
That would explain it ...

[2020-05-26 06:26] Molodax commented on #36121
I believe that the issue should be open since it is apparent that the new internal/external URLs do not work as expected with TTS.

[2020-05-26 06:29] sebakerckhof commented on #26433
I also stumbled upon this. And some additional info: if you paste a password or use a password manager, the characters are not cut off anymore in some browsers:
https://www.fxsitecompat.dev/en-CA/docs/2020/text-exceeding-maxlength-will-no-longer-be-truncated-when-pasted-into-input-or-textarea/

+ webconnect doesn't tell you anything if you do (just silently truncates upon save). So maybe this libr

[2020-05-26 06:38] darootler opened #36150 "Withings fills log with HTTP 401 errors"
## The problem
The log file is filling with HTTP 401 errors:
![image](https://user-images.githubusercontent.com/11849583/82867890-ee618500-9f2b-11ea-9d9b-64dfba600b4b.png)

## Environment

- Home Assistant Core release with the issue: 0.110.1
- Last working Home Assistant Core release (if known):
- Operating environment (Home Assistant/Supervised/Docker/venv): Home Assistant
- Integration causing

[2020-05-26 06:42] hunterjm commented on #36138
https://github.com/PyAV-Org/PyAV/blob/develop/README.md#installation

[2020-05-26 06:46] sbhdlmn commented on #36027
I'm afraid I didn't give full explanation. I am using HA a bit more than one year without any problem with DuckDNS. I have also HA in my IPhone. I am using DuckDNS domain name. A few days ago Internet explorer has started to give certificate error. Maybe it has started after a HA update or any other update. I don't remember exactly. Currently, I can access HA from mobile phone without any warning

[2020-05-26 07:08] browetd commented on #36138
@hunterjm Thanks... I installed av 8.0.1 manually but some dependencies were missing... So prior installing av with "pip install av" in my venv (I uninstalled the running version from my venv), I ran the following command with pi username :

sudo apt-get install libavformat-dev libavdevice-dev libavcodec-dev libavfilter-dev libavutil-dev libswscale-dev libswresample-dev

after that installation of

[2020-05-26 07:17] frenck commented on #36138
Glad you've got it resolved! Thanks for letting us know.

[2020-05-26 07:17] #36138 closed

[2020-05-26 07:22] sbhdlmn opened #36151 "Suddenly, HA cannot discover xiaomi gateway and xiaomi sensors are unavailable now"
## The problem

I'm using HA more than one year. I have one xiaomi gateway and some xiaomi sensors. I have automations related with them. Everything was working properly. Recently, HA started not to discover gateway. Sensors seem as unavailable now. Maybe, it has started after a HA update. I didn't notice.
I have reset gateway several times. I disabled LAN from gateway and re-enabled. I have chang

[2020-05-26 07:30] detxm80 commented on #33048
I guys, i have this error (latest openzwave beta):

`2020-05-24 22:51:09.407 Always, OpenZwave Version 1.4.3469 Starting Up
2020-05-24 22:51:28.277 Info, Setting Up Provided Network Key for Secure Communications
2020-05-24 22:51:28.277 Info, mgr,     Added driver for controller /dev/serial/by-id/usb-0658_0200-if00
2020-05-24 22:51:28.277 Info,   Opening controller /dev/serial/by-id/usb-0658_0200-i

[2020-05-26 07:53] LucioBenedetti commented on #36138
(homeassistant) homeassistant@raspberrypi:/home/pi $ pip  install  av==8.0.1
Looking in indexes: https://pypi.org/simple, https://www.piwheels.org/simple
Collecting av==8.0.1
  Using cached av-8.0.1.tar.gz (2.3 MB)
Building wheels for collected packages: av
  Building wheel for av (setup.py) ... error
  ERROR: Command errored out with exit status 1:
   command: /srv/homeassistant/bin/python3 -u -c

[2020-05-26 08:13] abelmatser commented on #36133
Thanks for the research Peter! When using
[code]
the spotify link now shows my external_url in the address bar. However, the same error is given: ```INVALID_CLIENT: Invalid redirect URI```, thus for me the problem has not been solved yet.

[2020-05-26 08:15] fwestenberg commented on #36145
Hi Jason,

Thanks for the quick response.I changed the setting in ODM to only
Pullpoint, still the events were visible.

Kind regards,
Floris.

Op di 26 mei 2020 om 06:23 schreef Jason Hunter <notifications@github.com>:

[2020-05-26 08:57] anamika784 commented on #35875
I typed the "type"( rm4c_mini)  again, restarted. Everything is working fine now.
Thank you for your help.

[2020-05-26 08:59] dvbavel commented on #35922
This all sounds to familiar, seeing the exact same in my logs since 0.110 and casting is close to impossible. My challenge is just I'm using Supervised Hass, how could I get zeroconf 0.25.1 in too that one? Is there some hidden trick I didnt find yet? I prefer to not ending up with building my own containers again. Thanks in advance!

[2020-05-26 09:23] damiano75 commented on #36117
yes, I'm sure, but i tried to delete and add the integration again in configuration.yaml:

[code]
I posted my API key, then I will generate another API key when the issue will be solved

These are the error details:
[code]

[2020-05-26 09:25] Julius2342 commented on #34844
@mtdcr : PyVLX will [reconnect](https://github.com/Julius2342/pyvlx/blob/790ee7a0631f3e6e5b46deb3a1b7cd033d1effec/pyvlx/pyvlx.py#L71) automatically the next time any action is triggered.  If the heartbeat of pyvlx is running it would also send a [ping](https://github.com/Julius2342/pyvlx/blob/790ee7a0631f3e6e5b46deb3a1b7cd033d1effec/pyvlx/heartbeat.py#L59) from time to time - and should do a recon