[2020-10-03 10:26] uvjustin commented on #41099
@majkers See if this PR helps with your problem

[2020-10-03 10:27] MartinHjelmare commented on #40578
No, don't touch the translation files. They will be updated by our infrastructure.

[2020-10-03 10:31] RobBie1221 commented on #40578
monoprice and somfy can are done

[2020-10-03 10:31] Kane610 commented on #40983
For devices who's been away for a while as well? It should base the state on the last seen time stamp and calculate state based on that

[2020-10-03 10:32] MartinHjelmare commented on #41126
Please provide an MQTT dump:
https://www.home-assistant.io/docs/mqtt/service/#service-mqttdump

[2020-10-03 10:37] MartinHjelmare commented on #40578
Somfy should update missing configuration key to:
https://github.com/home-assistant/core/blob/ed867955f4ca76ed027765a22237bd762758f730/homeassistant/strings.json#L57

[2020-10-03 10:42] RobBie1221 commented on #40578
Ok, that was missed in #40594. Will add them in a new PR

[2020-10-03 10:44] saruter commented on #40936
Hi, i did not change configuration besides turning on debugging.
Thanks for looking into that...

[2020-10-03 11:00] punitaojha commented on #40894
Hello @MartinHjelmare I want to work on this issue.

[2020-10-03 11:07] Petro31 commented on #40690
I honestly don't see how any of your rest sensors worked.  They all peal attributes from the returned json, but you don't provide a json_attributes_path and value_template doesn't act as a replacement.

[code]

[code]
etc.

I don't think that will fix your issue, but it's just an observation.

Outside of that, the NaN errors in your templates are because you're missing a safety net in all your tem

[2020-10-03 11:16] nijel commented on #40462
No, it will just use the new library (unless you're on Windows and using pre-compiled binaries).

[2020-10-03 11:24] MartinHjelmare commented on #40894
Yes, please go ahead. 👍

[2020-10-03 11:38] punitaojha commented on #40894
Hello @MartinHjelmare I am facing some issue with mocking in pytest. I was using pytest mocker. But it reads fixture not available. Though I have installed pytest-mock using pip but issue still persists. What is the best alternative you are using in your project for mocker fixture and also please share a document for me to gather an understanding on same.

[2020-10-03 11:49] MartinHjelmare commented on #40894
We use the standard library unittest.mock module together with asynctest library. Make sure to import the mock helpers from `tests.async_mock`.

https://github.com/home-assistant/core/blob/dev/tests/async_mock.py

You can see examples of using mocks together with pytest fixtures in the tradfri light test module linked above.

Here's the standard library documentation:
https://docs.python.org/3/lib

[2020-10-03 11:53] w1an commented on #35475
I have the same issue. Synology integration stopped working a while back. Today I updated home assistant to the latest version 0.115.6, removed my manual config and tried to re-add my Diskstation running DSM 6.2.3-25426 Update 2 with Surveillance Station version 8.2.8-6335 using the Synology integration.

The GUI shows error: "Login error: please check your username & password", but I'm 100% sure

[2020-10-03 11:59] litinoveweedle commented on #40191
This would be so great feature to have. If done together with config held in local git repo and tagged automatically for HA releases even config downgrade could be automated!

Yep, downgrade was solution, but for my installation I used different approach - if someone running supervised (i.e. Docker install), then probably easiest way is to install SSH add-on and then use it to execute:

`# ha core

[2020-10-03 12:15] thijsdejong commented on #40578
`tradfri`, `xiaomi_miio`, `xiaomi_aqara`, `tesla, `toon`, `somfy`, `pi_hole`, `mailgun`, `sentry` are all good

[2020-10-03 12:20] spacegaier commented on #37520
@wormuths Does the issue still exist? The integration works fine for me in 0.115, but I am also running HA Core which might make the important difference here.

[2020-10-03 12:21] Human commented on #34265
It is for me. I am late in upgrading, but I see this after upgrading from 0.107.7 to 0.108.9:

[code]

[2020-10-03 12:35] Human commented on #34265
A manual invocation of `sudo pip3 install sqlalchemy==1.3.15` worked around the issue for me.

[2020-10-03 12:35] shenxn commented on #38961
The PR is not released yet. It will be fixed in 0.116.0

[2020-10-03 12:52] ocalvo commented on #40462
@pvizeli can we update hassos to include new version of libgammu?

[2020-10-03 12:53] FeromonDE opened #41138 "Yeelight integration. Socket error every 3h 20m."
## The problem

Hi, I have 2 yeelight lamps connected via integrations. The problem is that every 3 hours 20 minutes the connection is disconnected for 30 seconds.

## Environment

- Home Assistant Core release with the issue: 0.115.6
- Last working Home Assistant Core release (if known): ---
- Operating environment (OS/Container/Supervised/Core): HA Core in Docker
- Integration causing this issue

[2020-10-03 12:57] spacegaier commented on #39265
I just created a PR against the underlying package that might catch those issues: https://github.com/sivel/speedtest-cli/pull/758/files

However, if the issues is that certain test servers return invalid status code data back, then this PR will catch those gracefully, but this does not solve the actual issue.

Can anyone provide which server hey are using in the HA integration. Perhaps I can repro

[2020-10-03 13:00] bdraco commented on #40292
<img width="1300" alt="Screen Shot 2020-10-03 at 7 53 34 AM" src="https://user-images.githubusercontent.com/663432/94992144-9415a800-054d-11eb-979c-05d2fce5dfd6.png">

The key remaining issue is the number of calls to `_mqtt_handle_message`

There also seems to be a template that is somehow generating `json`, but that is small in comparison.

[2020-10-03 13:11] baget commented on #40900
Hi @MartinHjelmare
can I try to work on this issue? I have the env setup.
just to confirm, you are talking about tests/components/threshold/test_binary_sensor.py , right?

[2020-10-03 13:14] vdlr26 commented on #41095
Sorry for the example, I used "FILL EXAMPLE DATA" . With remote.broadlink_salon_remote the problem is the same.

Menu --> "Developer tools" --> "services"
service: remote.send_command
entity: remote.broadlink_salon_remote
Service Data (YAML, optional):
entity_id: remote.broadlink_salon_remote
command: b64:JgBGAJWTEzcTNxM3ExITEhMSExITEhM3EzcTNxMSExITEhMSExITEhM3ExITEhM3ExITEhMSEzcTEhM3EzcTEhM3EzcTN

[2020-10-03 13:15] MartinHjelmare commented on #40900
Yes, please go ahead. 👍

[2020-10-03 13:17] spacegaier commented on #34702
Works fine for me in 0.115.6 (HA Core), configured through the config flow so no YAML used on my end.

[2020-10-03 13:19] spacegaier commented on #35524
On my system I cannot detect any memory issue. Do you have any automations/templates/logic tied to the speedtest entities that might play a role here?

[2020-10-03 13:21] gsemet commented on #41126
Here are the mqtt dump of the addition of the device in the ZWave Network (id = 24):
[code]

[2020-10-03 13:30] MartinHjelmare commented on #40578
No, only mail gun and sentry are completely good with the available common references.

[2020-10-03 13:49] ttaidapos commented on #40232
0.115.6 I'm seeing this with all of my ping sensors.  After Hass loads, I then execute "reload ping binary sensor..." and then they load fine as a workaround.  I didn't have this issue with 0.114.#.  Let me know how i can help.

Noticed this right of way because depending on the ping responses (ping modem, ping router, ping internets), I have a script that reboots my cable modem and wifi.  Interne

[2020-10-03 13:52] bdraco commented on #40292
I made an adjustment that should take care of that

[code]

Restart, then add the `Profiler` integration in the UI

[2020-10-03 13:52] camcs1 opened #41140 "kodi.add_to_playlist service no longer working"
## The problem

kodi.add_to_playlist service doesn't seem to reach Kodi when called

## Environment

- Home Assistant Core release with the issue: 0.115.1 & 0.115.6
- Last working Home Assistant Core release (if known): Unsure, stopped working around the last two major releases (0.113/0.114)
- Operating environment (OS/Container/Supervised/Core): HassOS 4.13
- Integration causing this issue: Kodi

[2020-10-03 13:59] ochlocracy commented on #41064
- Check and post your lambda logs from haaska. If there is a connection timeout, or delay this is where the error will be.
- Verify the URL and port in your haaska configuration is still valid.
- Verify any recent changes with TLS/SSL are correct.
- Verify any recent changes if you're using a proxy.
- Verify `external_url` is correct in your [configuration](https://www.home-assistant.io/docs/confi

[2020-10-03 14:32] ColinRobbins commented on #31003
Hello.
I am seeing exactly the same issue with HA 0.115.3
Has a similar issue re-occurred.
Nothing is logged.

[2020-10-03 15:05] mountainsandcode opened #41143 "RESTful sensor does not respect scan_interval configuration"
## The problem

The RESTful sensor keeps polling every 30 seconds, even when using the scan_interval key

## Environment

- Home Assistant Core release with the issue: 0.115.6
- Last working Home Assistant Core release (if known): ?
- Operating environment (OS/Container/Supervised/Core): Docker
- Integration causing this issue: rest
- Link to integration documentation on our website: https://www.h

[2020-10-03 15:12] perjury commented on #21208
On reflection, I think this is actually a display issue so I have raised a feature request https://community.home-assistant.io/t/add-show-unavailable-as-option-for-switches-and-lights/232303/1

[2020-10-03 15:12] #21208 closed

[2020-10-03 15:23] fraygon commented on #40192
I cannot downgrade. I hope for a quick fix. I would need it otherwise I have to rewrite many automations.

[2020-10-03 15:25] AsafDAVIDOF commented on #40985
hi
thank you for the answer
yes, i think 10 sec  will be great start

[2020-10-03 15:31] ronanmu commented on #40879
I'll take a look at this

[2020-10-03 15:48] HaramanJohal commented on #40831
I'd like to have a go at this

[2020-10-03 16:05] ocalvo commented on #40462
I think we need to start with alpine linux:

https://pkgs.alpinelinux.org/packages?name=*gammu*&branch=edge

[2020-10-03 16:10] Haprog commented on #34702
I had also configured it only via the UI, not by editing YAML. I just tried removing the SpeedTest integration and added it again and now it seems to work.

But it's weird why it would suddenly stop working without changing anything related and even reboots didn't make it work. I'll post here if it stops working again. Hopefully it's not a recurring problem that it needs to be removed and readded

[2020-10-03 16:20] felipediel commented on #41095
Please make sure the entity is turned on. You cannot learn or send with the remote turned off.

[2020-10-03 16:26] Repsionu commented on #40292
I know that this is not Discord/forum/helpdesk... but after those steps and removing **profiler:** from configuration.yaml I am clueless- UI?

[2020-10-03 16:28] bdraco commented on #40292
The profiler can now be installed via HACS by adding https://github.com/bdraco/profiler.git as a custom repository.

[2020-10-03 16:29] baget commented on #26984
isn't streaming is enabled by default?
I'm trying to understand what kind of device action we can add to camera

[2020-10-03 16:31] baget commented on #27013
a device trigger can be On Motion? something like that?

[2020-10-03 16:35] antro31 commented on #23794
Hi all, I have the same issue trying to setup pushbullet. Any idea on a fix?

[2020-10-03 16:41] rainisto commented on #23794
Fix is mentioned in earlier comments. You just have to apply the patch manually.

[2020-10-03 16:43] JeffResc commented on #41113
@ollo69 Should I close this issue as it seems like it's a "won't fix"?

[2020-10-03 16:52] realjax commented on #40612
I'm now having similar problems running hassio on a pi4.  Itbseemsbtobhave worsened over the last weeks, not sure what caused it.

[2020-10-03 17:19] MarcoBischero commented on #41064
Log below, at least what I've found on the CLoudWatch:
`
**CloudWatch Logs Insights**
region: eu-west-1
log-group-names: /aws/lambda/haaska
start-time: -3600s
end-time: 0s
query-string:
[code]
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|

[2020-10-03 17:24] QbaF commented on #35171
v 115.4
50.2
without "" I get something like 50.199999999999993123123.......
with "" I get 50.20000000000000142108547152020037174224853515625

[2020-10-03 17:31] ollo69 commented on #41113
It's more a can't fix at this moment because the fix have to be done in the library. So, yes, for now please close.

[2020-10-03 17:34] #41113 closed

[2020-10-03 17:45] allenporter opened #41152 "Gaps in developer scaffolding script for new OAuth integrations"
## The problem

The scaffolding script recommended by https://developers.home-assistant.io/docs/creating_component_index has a few gaps in it from creating an OAuth integration that works right away.   So far I have noticed two problems:

  * The config flow test is missing dependencies on http
  * The api glue passes an a token dictionary, where I think the example for Building a Python Library f

[2020-10-03 17:53] epenet commented on #40760
Hi @bmsec,

Following discussions with Martin Hjelmare, the PR as it is currently implemented has been rejected.

In order to fix this issue, we would need to update the integration to use a 3rdParty library instead of using direct file access.
I am willing to update the integration (for example with this library : https://pypi.org/project/pi1wire/) but my own onewire setup is using OWServer so I

[2020-10-03 18:06] MarcoBischero commented on #41064
I can't recover the client secret. I don't understand I see only the ***** and if I click on the show button nothing happend, suggestion?

[2020-10-03 18:08] IATkachenko commented on #30609
Same for BHT-300GBLW at HomeAssistant 0.113.2

[2020-10-03 18:23] RobBie1221 commented on #40578
somfy and home connect should be fine now

[2020-10-03 18:55] #40812 closed

[2020-10-03 18:56] #40718 closed

[2020-10-03 19:12] ronanmu commented on #40863
I'll have a look at this one

[2020-10-03 19:12] tonysprenk commented on #41017
Thanks for looking into this. the error actually went away after updating home assistant core. How can I make a dump of states? should I just make screenshots?

[2020-10-03 19:17] rohankapoorcom commented on #39831
Hey @cajuncoding - I am unable to reproduce this issue. I also took another look at the code to see if there was anything obvious and did not find a bug.

We use [this library](https://github.com/thiezn/iperf3-python) for communicating with iperf. It provides the speed in [multiple different units](https://github.com/thiezn/iperf3-python/blob/master/iperf3/iperf3.py#L743). In Home Assistant, we ge

[2020-10-03 19:19] bdraco commented on #41017
The States tab in developer tools

[2020-10-03 19:19] tonysprenk commented on #41017
After removing the bridge from the home app and restarting my server everything is working now. Thanks for looking into this!

[2020-10-03 19:19] #41017 closed

[2020-10-03 19:24] ochlocracy commented on #41064
You need to enable debug mode in the haaska config.json file to get more information. You should also [enable debugging](https://www.home-assistant.io/integrations/alexa.smart_home/#debugging) for alexa in Home Assistant to see the request and responses to/from haaska.

[2020-10-03 19:29] KattenJansson1974 commented on #40201
I have the same issue. My HA is 0.115.6 and Ikea Gateway is 1.11.47. I removed the integration, but cannot add id again. It just says "Please wait until the integration is installed" (or rather "Vänligen vänta medan integrationen installeras") andhas done so for the last few hours. There is not a single entry in the log when this happens.

I downgraded to 0.114.4 and tried integrating it again, it

[2020-10-03 19:29] #41033 closed

[2020-10-03 19:34] #40814 closed

[2020-10-03 19:37] jokerigno commented on #40983
Yes. If a while means few days ago absolutely yes!

[2020-10-03 19:39] balloob commented on #41035
This seems like a frontend issue.

[2020-10-03 20:17] chemelli74 opened #41158 "Zeroconf errors in latest dev build ( 0.116.0.dev20201003)"
## The problem

Zeroconf throw some errors, new to this build. Previous 0.116 dev builds didn't show

## Environment

- Home Assistant Core release with the issue: 0.116.dev
- Last working Home Assistant Core release (if known): previous 0.116.dev
- Operating environment (OS/Container/Supervised/Core): Docker
- Integration causing this issue: zeroconf
- Link to integration documentation on our web

[2020-10-03 20:30] davet2001 commented on #40578
What do we do if we find /components/xxxx/strings.json entries that aren't used anywhere?
Should we delete them?  If so I assume in a separate PR.

[2020-10-03 20:54] MartinHjelmare commented on #40578
Yes, please clean up if you find orphan strings.

[2020-10-03 21:08] fastplayer95 opened #41162 "RMV Integration gives wrong data and ignores given parameters"
## The problem

The given results ignore configured parameters.
I'm looking for the next departures of RB67, RB68 or RE60 from Frankfurt Central Station, which target either Mannheim or Heidelberg.
I instead receive data from completly different lines which to not meet any of the given parameters, see example data below.
RE70 for exaple does not even target Mannheim, even though the received data

[2020-10-03 21:20] springstan commented on #41138
Please fill out the issue template, you can find it by clicking on `New Issue` and then selecting `Report a bug with Home Assistant`. Copy and paste the provided template into this already created issue, click preview to take a look at the empty template and then fill out as much as you can. Any additional information can be helpful!

Thanks for understanding :)

[2020-10-03 21:21] Kane610 commented on #40983
Everything longer hah ~5 minutes :)

[2020-10-03 21:58] jokerigno commented on #40983
5min is more or less the interval that is needed to see the real status again.

[2020-10-03 21:59] mkanet commented on #40690
@Petro31 Thanks for your response.  I was pealing the attributes from the returned json since I thought possibly states(s) and state_attr() might not be reliable due to the 255 character limit.

Below, is my best effort to cure the issues you mentioned.  I added a `json_attributes_path` in the below code as well as adding a safety net in my template sensors with conditions to deal with unknown and

[2020-10-03 22:01] smoth90 commented on #37382
Hi there! i did a fork of homeassistant in order to try and implement the  [Adafruit_CircuitPython_DHT](https://github.com/adafruit/Adafruit_CircuitPython_DHT) since the [Adafruit_Python_DHT](https://github.com/adafruit/Adafruit_Python_DHT) has been deprecated and to make it work on my Pi 4 without any workaround.
i've done the python coding part and it should work, but i'm unable to run it inside

[2020-10-03 22:03] frangiz commented on #40903
I can see what I can do here.

[2020-10-03 22:08] ronanmu commented on #40904
I'll take a look at this

[2020-10-03 22:18] prystupa commented on #40723
@iceman23e This integration *should* be able to discover and support fan/lights on the fireplace, though I don't have such a device to test. Could you help me out by posting here the list of devices as discovered by Bond integration logging? To do this:
1. Change the logging in configuration.yaml to something like:
logger:
  default: warning
  logs:
    homeassistant.components.bond: debug
2. Rest

[2020-10-03 22:22] ntilley905 commented on #40908
Working on this!

[2020-10-03 22:35] ronanmu commented on #40872
I'll take a look

[2020-10-03 23:20] oopptt commented on #38903
Hi,

using tuya custom on HA (both with latest versions) and I'm facing this issue:

2020-10-04 01:16:55 WARNING (SyncWorker_13) [urllib3.connectionpool] Connection pool is full, discarding connection: px1.tuyaeu.com
2020-10-04 01:16:55 WARNING (SyncWorker_52) [urllib3.connectionpool] Connection pool is full, discarding connection: px1.tuyaeu.com
2020-10-04 01:16:55 WARNING (SyncWorker_48) [urllib

[2020-10-03 23:23] oopptt commented on #26446
Hi guys,

version Home Assistant 0.115.6 and having same logs. Do we need to worry about?

2020-10-04 01:21:19 WARNING (MainThread) [asyncio] socket.send() raised exception.
2020-10-04 01:21:19 WARNING (MainThread) [asyncio] socket.send() raised exception.
2020-10-04 01:21:19 WARNING (MainThread) [asyncio] socket.send() raised exception.
2020-10-04 01:21:19 WARNING (MainThread) [asyncio] socket.se

[2020-10-03 23:24] Edward-Knight commented on #40858
I'll take a look at this

[2020-10-03 23:47] skrenes commented on #36120
A button in the interface to "revalidate" via SMS would also do the trick. In the meantime, deleting the integration and then restarting HA allows me to "configure" with the SMS two-step verification and get things working normally again. I'm no longer getting the 2FA sign in requests.
Hopefully this is resolved before the next time in two months. Deleting the integration has the added annoyance o

[2020-10-04 00:13] mouth4war opened #41176 "Group of Automations reporting status as unknown when should be on or off"
## The problem
Looks like https://github.com/home-assistant/core/pull/40607 has caused a bug where groups of automations are always in unknown status instead of on or off.

## Environment

- Home Assistant Core release with the issue: 116 beta 1
- Last working Home Assistant Core release (if known):  115
- Operating environment (OS/Container/Supervised/Core): Intel NUC
- Integration causing this i

[2020-10-04 00:23] mouth4war commented on #41176
Just updated to beta 2 after this issue and it looks to be fixed. D'oh!

[2020-10-04 00:23] #41176 closed

[2020-10-04 00:39] ollo69 commented on #38903
Are you sure that is a tuya_custom issue? Did you remove from HA the standard Tuya integration before configuring tuya_custom?

[2020-10-04 01:08] djpremier commented on #37263
Suggestion `account_unavailable`, `service_unavailable` and `device_unavailable`

[2020-10-04 01:09] raz0rf0x opened #41179 "Plex on Roku quits back to Roku home screen after selecting media from lovelace media browser on Plex media player entity"
## The problem
When selecting media from the media browser through the lovelace Plex media player entity the Plex client on a Roku 3 quits (crashes?) back to the home screen. No errors or warning shown in Home Assistant logs.

## Environment

- Home Assistant Core release with the issue: 0.115.6
- Last working Home Assistant Core release (if known): 0.114.1
- Operating environment (OS/Container/Su

[2020-10-04 01:23] Spirituss commented on #39278
@Quentame any news?

[2020-10-04 02:34] andynbaker opened #41182 "Zen-01 thermostat added through deCONZ is missing "cool" mode capabilty"
## The problem
I have three Zen Zen-01 thermostats that worked fine with Home Assistant when added via ZHA. I recently switched to deCONZ and while the thermostats pair fine, they are missing the "cool" mode capability. I can control them fine from Home Assistant, switching between heat, auto, and off, but no cool mode is available. Using the hvac_mode service works for heat/auto/off but errors ou

[2020-10-04 02:40] andynbaker commented on #39017
Same issue here. I deleted the groups in the web app but they still appear in my device list in Home Assistant.

[2020-10-04 02:53] MarkHofmann11 commented on #28590
Just added an HS210 wall switch this weekend.  Maybe never noticed this, but when you turn it on in HA, it appears to do nothing and the switch goes back to off, then in a few seconds it toggles itself back to on again and the icon color is highlighted as it should.  Seems to be timing and could be something with the new switch I just installed.  Just figured I would mention it - will do more inve

[2020-10-04 03:11] ksheyman commented on #40611
Ok, this is fixed now in 116b2. It shows unavailable for just a second then updates to 3 without any input from me. No more errors in the log. Great work thanks so much!!

[2020-10-04 03:11] #40611 closed

[2020-10-04 03:20] j0dan commented on #34350
I'm still having this problem with version 245. In fact I can't even add the integration anymore as the same error as OP shows up:

`requests.exceptions.HTTPError: 400 Client Error: Bad Request for url: https://api.ecobee.com/token?grant_type=refresh_token&refresh_token=`

[2020-10-04 04:02] RenierM26 commented on #37499
Hi There,

I've tried this on the the latest version of hassio (prior to 0.115 - The add on is currently disabled due to a legacy uuid requirement in pyviz) and it doesn't seem to work.

[2020-10-04 05:42] firstof9 commented on #40816
0.116b2 - Events count and switch still MIA

[2020-10-04 06:01] blueshiftlabs commented on #41041
I'm also seeing this with the `google_cloud` TTS engine with `encoding: ogg_opus`. This isn't something specific to Yandex - it applies to anything using Ogg Opus.

@digitallyserviced - it looks like #40666 introduced this bug. I think I know how to fix this - I'll add you to the review.

[2020-10-04 06:11] Paul-Faulkner commented on #40596
This appears to happen when the playlist in the Logitech Media Server is cleared. If you add any song then the error disappears. For now I'm just pausing the playlist rather then clearing it - seems to prevent the error in HA.

[2020-10-04 06:21] Kane610 commented on #39017
I've introduced a new service that can clean up all irrelevant entries from entity and device registry. It will be a part of 0.116. Install the beta and try it out. The service solves this issue so I'll close it

[2020-10-04 06:21] #39017 closed

[2020-10-04 07:20] vdlr26 commented on #41095
Yes, it is OK. If I use de swicth all is OK, but if I use remote.send_command don't work.

[2020-10-04 07:24] chemelli74 commented on #37348
Once I disabled the offending automation, all worked fine.
Unfortunately didn't find jet a way to get the same result without killing CPU.
Strange enough it was working fine with older HA.

As I don't expect a solution out of this issue, you can close it.

Simone

[2020-10-04 07:27] thecode commented on #36787
This issue is still not resolved for me (0.115.6)

[2020-10-04 07:41] fribse commented on #34632
I've seen some improvement on this lately, so I'll close this case.

[2020-10-04 07:42] #35681 closed

[2020-10-04 07:43] bmsec commented on #40760
Hello,
I could help in testing, though I do have to learn first how to install HA directly on Raspbian. I only used Docker image so far.

[2020-10-04 07:48] felipediel commented on #37055
No need to close it, I have an open PR for this.

[2020-10-04 07:52] Misiu commented on #40760
@epenet yes, I use DS18B20 sensors directly connected to Pi3 and Pi4. I can help with testing and I can try to help with development.
I saw, that your PR (the one with config flow) is blocked because it is missing a 3tdParty library ☹

[2020-10-04 07:58] fphammerle commented on #31999
issue persists on v0.115.2

`origin station stop name` & `destination station stop name` indicate the right station names

however, the sensor's state is `unknown` and `info` attribute shows `No more departures`

[2020-10-04 08:06] felipediel commented on #41095
I cannot reproduce this error here. I tested this last config and it works. Are you sure the entity is turned on? What about the entity id, did you check? We changed a lot of things recently. Please read the [docs](https://www.home-assistant.io/integrations/broadlink/) to make sure you are doing everything correct.

[2020-10-04 08:11] monkeypr00f opened #41187 "Somfy Integration with own developer account error"
## The problem

  I get this error once Somfy is configured with my own developer account.
The API on Somfy site doesn't report any error and the setup works...but no entities found and this:

## Environment

- Home Assistant Core release with the issue: 0.115.6
- Last working Home Assistant Core release (if known):
- Operating environment (OS/Container/Supervised/Core): Core on Raspbian (RPI4)
-

[2020-10-04 08:14] tborychowski commented on #37126
apparently plugin has been archived, in favour of the new one (which sucks!).
So no point in keeping that open :-(

[2020-10-04 08:14] #37126 closed

[2020-10-04 08:17] mauog commented on #32515
The issue is still there.

Thanks

[2020-10-04 08:25] sagitt commented on #35230
Problem still here in 0.115

[2020-10-04 08:26] sagitt commented on #40816
MIA?

[2020-10-04 08:41] frenck commented on #41187
Hi there,

Thanks for opening up an issue. When creating an issue, an issue template is presented. It looks like you've (partly) removed it. This causes your issue report to be incomplete.

Please edit your issue to have the full issue template back again and provide as much of the requested data as possible. Without it, we won't be able to help you.

Thanks already! 👍

[2020-10-04 08:48] monkeypr00f commented on #41187
Thanks frenck, updated!

[2020-10-04 08:53] #41140 closed

[2020-10-04 09:07] oopptt commented on #38903
Sorry I didn't remove it before. I thought this one would update the other one. Will try again by removing the standard one first

[2020-10-04 09:09] Eagleman7 opened #41189 "Xiaomi Aqara Switch not registering clicks"
## The problem

After upgrading from 0.111.4 to 0.115.6 and setting it up with the new discovery method I noticed clicks don't get registered anymore on my binary_sensor Xiaomi Wireless Mini Switch.

When changing the logging to debug I cannot see any clicks coming into HA, this is all I can see:

[code]

## Environment

- Home Assistant Core release with the issue:
0.115.6

- Last working Home As

[2020-10-04 09:10] Kane610 commented on #41182
Can you enable debug logging per integration documentation to share the device description of the thermostat?

[2020-10-04 09:13] almostserious commented on #26857
Still open in 115

[2020-10-04 09:38] 03397 commented on #18767
Still there

[2020-10-04 09:49] gieljnssns commented on #40292
@bdraco
I've updated to `v0.116.0b2`, I have 2 new `py-spy's` for you
At startup https://www.dropbox.com/s/i9p0505uvk1v2u2/spy-0.116b2-startup.svg?dl=0

One of 10min https://www.dropbox.com/s/91ab3ab1m3g9ey0/spy-0.116b2-10min.svg?dl=0

If you need something else...

[2020-10-04 09:59] #41041 closed

[2020-10-04 10:00] e-krebs commented on #26758
The problem still exists with the latest issue to date (**0.115.6**)

[2020-10-04 10:04] ebarretopr opened #41194 "Speedtest location locked in Germany"
## The problem

Running the Speedtest Integration but the only serviers that are on the list are in Germany, I am located in Puerto Rico several thousand miles away, and the yaml configuration does not produce any change

## Environment

HA Running on Proxmox

arch | x86_64
-- | --
chassis | vm
dev | false
docker | true
docker_version | 19.03.11
hassio | true
host_os | HassOS 4.13
installation_typ

[2020-10-04 10:16] fphammerle commented on #37195
I have the same issue on v0.115.2:
`turn off` button is only visible when playing, not visible when idle.
`turn on` button works as expected.

[2020-10-04 10:18] mmatloka commented on #31230
Checked with latest HA, Issue is not fixed.

[2020-10-04 10:19] mmatloka commented on #40192
is it known what commit caused this issue?

[2020-10-04 10:28] alex3305 commented on #33154
This issue seems to be solved with #38938. At least logging was mostly removed from the integration. I will close this issue.

@chriscla @ctalkington

[2020-10-04 10:28] #33154 closed

[2020-10-04 10:39] BaldKingy commented on #32556
Every update of Home Assistant I check to see if this issue is resolved. Sorry to tell it isn't.

[2020-10-04 10:49] tetienne commented on #41187
Can you please tell me which somfy devices and box you own?

[2020-10-04 10:50] alex3305 commented on #28541
After debugging a little bit, after the suggestions in this thread, I found that issue #28834 are causing my errors:

[code]

Because the thermostatMode is set to `None`, the sent JSON is actually invalid. I have removed the `climate` devices from my Google Assistant configuration and will test this change.

[2020-10-04 10:52] breti commented on #30251
Still the same with 0.115.6. Nothing has changed.

[2020-10-04 10:58] ollo69 commented on #38903
You can also remove standard integration without removing tuya custom. Just be sure that at the end only one integration is configured. I think that the error is generated by standard integration.

[2020-10-04 11:01] gd4n1s commented on #40191
Rollback to previos version for "venv" instalation method:
`su - homeassistant
cd /opt/homeassistant
source bin/activate
python3 -m pip install --upgrade homeassistant==0.114.4
`

[2020-10-04 11:03] #28783 closed

[2020-10-04 11:03] #33178 closed

[2020-10-04 11:03] #36400 closed

[2020-10-04 11:03] #36873 closed

[2020-10-04 11:03] #36867 closed

[2020-10-04 11:04] #32893 closed

[2020-10-04 11:04] #34099 closed

[2020-10-04 11:04] #27244 closed

[2020-10-04 11:04] #35664 closed

[2020-10-04 11:04] #36871 closed

[2020-10-04 11:04] #36896 closed

[2020-10-04 11:04] #36652 closed

[2020-10-04 11:04] #36176 closed

[2020-10-04 11:04] #32914 closed

[2020-10-04 11:04] #36190 closed

[2020-10-04 11:04] #36941 closed

[2020-10-04 11:04] #34450 closed

[2020-10-04 11:04] #36945 closed

[2020-10-04 11:04] #36910 closed

[2020-10-04 11:04] #36968 closed

[2020-10-04 11:04] #30307 closed

[2020-10-04 11:04] #36791 closed

[2020-10-04 11:04] #26288 closed

[2020-10-04 11:04] #36693 closed

[2020-10-04 11:04] #36849 closed

[2020-10-04 11:04] #32645 closed

[2020-10-04 11:04] #35936 closed

[2020-10-04 11:48] #40893 closed

[2020-10-04 11:50] #40833 closed

[2020-10-04 11:53] chemelli74 commented on #34950
Unfortunately this still happens.

Last time I experienced was upgrading iOS from 13.x to 14.x.
I was asked to sign in again and from that time on I see the duplicate warning in the log.

Simone

[2020-10-04 11:53] paoloantinori commented on #40267
I can confirm that the issue is gone on `Home Assistant 0.116.0b2`

[2020-10-04 11:58] #40824 closed

[2020-10-04 12:05] #40886 closed

[2020-10-04 12:08] #40879 closed

[2020-10-04 12:08] ColinRobbins commented on #38571
I'm seeing a very similar issue with 0.115.6.
[code]
if I use
[code]
it works fine.

I think part of the problem for me, is the poll interval of 10 seconds, and the camera not coping.
How can I control the poll interval?

Config,  ONVIF integration.
By default this added `-pred 1` as a system option.

I also have tried
[code]
and get the same issues with the poll time being too aggressive and caus

[2020-10-04 12:24] Jens-Wymeersch commented on #38903
@ollo69 Just to make sure, the tuya custom component is also a cloud pull. Right ?

[2020-10-04 12:32] ollo69 commented on #38903
Tuya Custom is derived from standard integration, so is also "cloud poll". The scope of the custom component is just to test fix and enhancement with the target to bring back feature in standard integration.
For this reason I do not add the integration to HACS as default repository, so you must add it to HACS as custom repository.

[2020-10-04 12:35] ColinRobbins opened #41203 "ONVIF will not start"
## The problem

Onvif will not start, showing the issue below in the log files.

If I delete the intergration and re-add it works OK.  But I get the same next time I try to restart hass.

## Environment

- Home Assistant Core release with the issue:  0.115.6
- Operating environment (OS/Container/Supervised/Core):  Raspberry PI / Python VIrtual Env
- Integration causing this issue:  ONVIF
- Link to

[2020-10-04 12:40] jjlawren commented on #41179
This sounds like a client error on the Roku side. Without some kind of logs I can't suggest how to help as I don't have a Roku myself.

Are you able to start playback on the Roku Plex client from other Plex clients, like in the web interface?

[2020-10-04 12:43] majkers commented on #41099
Ok but I have to wait for an official release

[2020-10-04 12:44] todorkemme commented on #40013
Also here since today I have the same message showing up for both my air purifiers

`Logger: homeassistant.components.xiaomi_miio.fan
Source: components/xiaomi_miio/fan.py:789
Integration: Xiaomi Miio (documentation, issues)
First occurred: 9:24:57 AM (1264 occurrences)
Last logged: 2:40:31 PM

Got exception while fetching the state: Unable to discover the device 192.x.x.x
Got exception while fetc

[2020-10-04 12:58] Pigotka commented on #40578
tuya is fine

[2020-10-04 12:58] nalt opened #41205 "Exception in version check for core integrations"
## The problem
I get errors during the setup of multiple core integrations (image, core, etc.). HASS does not crash, but it remains in a non-working state.

The exception happens at the line `return version(req.project_name) in req` in `is_installed()` in file /usr/local/lib/python3.8/dist-packages/homeassistant/util/package.py whenever version(req.project_name) returns None. This is the case for

[2020-10-04 12:59] aufano commented on #14526
I am going to answer myself and put here the config for use the eurotronic valve like a cover in home assistant:
[code]
Yo have tu find your ValueIdKey, I found it looking in mqtt messages with a mqtt client

[2020-10-04 13:02] bdraco commented on #40292
The system was a bit less noisy in the last one so I can see we are converting `States` to a `as_dict` multiple times.  I think we could cache this.

[2020-10-04 13:05] andynbaker commented on #41182
Not sure this is what you're after, but does this work?

`             '2': {'config': {'battery': 41,
                              'heatsetpoint': 2200,
                              'mode': 'heat',
                              'offset': 0,
                              'on': True,
                              'reachable': True},
                   'ep': 1,
                   'etag': 'cc6f5914

[2020-10-04 13:13] bdraco commented on #40292
https://github.com/home-assistant/core/pull/41208

[2020-10-04 13:14] #33866 closed

[2020-10-04 13:15] bdraco commented on #37348
@chemelli74 Is it any better in 0.116b2?

[2020-10-04 13:25] andynbaker commented on #41182
Ok, as I said I have no idea what I'm doing, but for giggles I hacked in what I assume are the missing bits to [climate.py](https://github.com/home-assistant/core/blob/dev/homeassistant/components/deconz/climate.py), adding HVAC_MODE_COOL where it seemed like it should go:

`from homeassistant.components.climate.const import (
    HVAC_MODE_AUTO,
    HVAC_MODE_HEAT,
    HVAC_MODE_OFF,
    HVAC_MOD

[2020-10-04 13:46] SNoof85 commented on #40578
nightscout is OK : https://github.com/home-assistant/core/blob/dev/homeassistant/components/nightscout/strings.json
plum_lightpad is OK : https://github.com/home-assistant/core/blob/dev/homeassistant/components/plum_lightpad/strings.json
poolsense is OK : https://github.com/home-assistant/core/blob/dev/homeassistant/components/poolsense/strings.json
progettihwsw is OK : https://github.com/home-ass

[2020-10-04 13:47] Sevift commented on #14526
I don’t understand how to find it

[2020-10-04 13:50] MarkHofmann11 commented on #28590
My new HS210 is still a mystery, but here are some interesting results of my testing.  In HA, turning the HS210 (3-way wall switch) on while watching it in the KASA app shows the light turning on right away.  HA doesn't show it turning on until about 8-10 seconds later, resulting in the switch showing off in HA again, then flipping back to an "on" status in HA after 8-10 seconds.  Turning off the

[2020-10-04 13:51] walterb65 commented on #30251
Same here, still not working in 0.115.6

[2020-10-04 13:52] MarkHofmann11 commented on #28590
Sorry, forgot to mention one other item.  If you have the wrong IP address for a tplink host device and you start HA, it will hang the entire switch component endlessly.  I think there was a pull request to fix that issue somewhere.

[2020-10-04 13:57] karajito commented on #40013
I got this too, but when I checked my settings the IP address had changed, after fixating it, it was solved.

[2020-10-04 14:09] aufano commented on #14526
![MQTT](https://user-images.githubusercontent.com/1786865/95017663-07f1a680-065b-11eb-9a70-76563e07fbf9.png) I use this open source client, and click in scan then look in all the string  to find for the "/38/" string that is the command to open the valve with the nodeId of the eurotronic, if you look in this image you have to find something like my example when you can find the ValueKey
![mqtt2](h

[2020-10-04 14:17] MarcoBischero commented on #41064
Hi,
so, proactive events activated.

in HA log:
I see a lot of
`
2020-10-04 16:10:05 DEBUG (MainThread) [homeassistant.components.alexa.state_report] Received (202):
2020-10-04 16:10:23 ERROR (MainThread) [homeassistant.components.alexa.state_report] Timeout sending report to Alexa
`
and a lot of
`2020-10-04 16:10:05 DEBUG (MainThread) [homeassistant.components.alexa.state_report] Not exposing xxx

[2020-10-04 14:26] MarkHofmann11 commented on #28590
Just found what might fix this - need to make some changes and will report back.  I originally had your retry attempts added under "def update(self)" in switch.py - which should add the retry/pause logic to the switch status.  That appears to be where the issue is (switch status).  Will try and make the updates here and will report back.

[2020-10-04 14:47] adorobis commented on #33245
Indeed looks like it is fixed in one of recent releases, works on version 115

[2020-10-04 14:48] biometriaaplicada commented on #31230
Can confirm. Not jet fixed.

[2020-10-04 14:49] Kane610 commented on #41182
Exactly thanks

[2020-10-04 14:50] pzuccar commented on #31230
Me too. It is not fixed yet.

[2020-10-04 14:50] Kane610 commented on #41182
The issue is that different thermostats have different feature sets. That's why I need the device description so I can add additional support based on which device

[2020-10-04 14:52] Sevift commented on #14526
Thanks, it worked.

[2020-10-04 15:02] andynbaker commented on #41182
Awesome! Glad I could help. Thanks for jumping on it so quickly.

[2020-10-04 15:09] firstof9 commented on #40816
Missing in action

[2020-10-04 15:10] nick2525 commented on #40191
@tfriedel I upgraded HA to 0.116.0b2, now broadlink works with VPN, everything works, but broadlink S2C host doesn't work.  Although it has worked on custom components before. But I saw that there is support for in the broadlink library. And I even started a bug in HA. Maybe you should fix it too? Log-> Unsupported device: 0x2722.

[2020-10-04 15:17] TheGardenMonkey commented on #28590
Are you testing with the very latest version (with all files being updated including common.py)? I had made a few updates based on a few tests not being accounted for. I have a bunch of those switches but haven't observed that behavior at all.

[2020-10-04 15:19] NikoFresh commented on #36546
I'm closing this issue, apparently it's not a problem caused by HA. You can find updates on the [forum](https://community.home-assistant.io/t/victure-camera-not-working).

[2020-10-04 15:19] #36546 closed

[2020-10-04 15:25] Scope666 commented on #37029
This one has been burning me too, sometimes it's the tablet that causes the ban, sometimes my phone when the mobile app gets backgrounded.  It's always 192.168.1.1 that gets banned, even though that's within the trusted networks list.

[2020-10-04 15:26] raz0rf0x commented on #41179
@jjlawren I am able to control the Roku with the app and launch any Roku app from the Roku media player integration. I can start media playing to the Android and web Plex clients through the Plex media player integration media browser, but it seems to cause the Roku client to misbehave.

I just attempted to control the Roku Plex client from the Plex Android app and it also caused it to stop functi

[2020-10-04 15:29] MarkHofmann11 commented on #28590
I had updated HA to 115.6 this morning and then ensured I had your latest tplink files copied over (from this morning).  Not sure what happened with tplink between 114 and 115, but the tplink light doesn't work using your modified files anymore (post the 115.6 upgrade).

[2020-10-04 15:36] jjlawren commented on #41179
Looks like there's several reports on the Plex forums about Roku clients crashing on casting. For example: https://forums.plex.tv/t/roku-app-crashing-with-casting/638652

[2020-10-04 15:39] linuxlurak opened #41222 "calendar caldav component unauthorized access with baikal"
## The problem
I can't get my calendar running in home assistant... Works perfect in Thunderbird but not in home assistant.

## Environment
Home Assistant Version: 0.115.6
Ubuntu Server 20.04 Linux homeautomation 5.4.0-47-generic #51-Ubuntu SMP Fri Sep 4 19:50:52 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
baikal v. 0.7.1

## Problem-relevant configs:
This is my config:
**part of configuration.yaml:**

[2020-10-04 15:49] #41179 closed

[2020-10-04 16:00] bmbouter opened #41224 "Sensor time_simple_moving_average filter with valid config error on startup"
## The problem

Here is my configuration.yaml:

[code]

When I start home assistant I see:

[code]

When I remove this portion of the config and restart I see no error.

[code]

* I can confirm this was working with  0.114.
* All versions of the config validate with `ha core check`
* yamllint.com says all of my config is valid.

## Environment

I'm running hass.io on a Raspberry Pi 3+ with  0.115.

[2020-10-04 16:03] iceman23e commented on #40723
@prystupa The integration discovers everything fine, but (I am a begginer) it appears:

1.  `light.py` only adds lights when the device type is a `Fan`. When the device type is `Fireplace`, it only creates the flame "light".
2. `fan.py` only adds device type `Fan`, not `FpFan`.

Here is the output from the logs, where the second device ('786ed43a') is the fireplace:
[code]

[2020-10-04 16:06] marthoc commented on #34350
@j0dan there must be more to that error... can you find if there is a pyecobee exception that is being thrown?

[2020-10-04 16:13] TheGardenMonkey commented on #28590
You get any errors, you might need to enable debug on  custom_components.tplink

[2020-10-04 16:15] MarkHofmann11 commented on #28590
No errors - and I'm not running it as a custom_component - just copying over the released tplink version.  How would I go about enabling debug on the tplink released component (non-custom)?

[2020-10-04 16:18] andriej commented on #40532
https://en.wikipedia.org/wiki/Unstructured_Supplementary_Service_Data - kind of 'mobile' number to be entered on keypad in phone to check mobile plan, data packet left, date of expiry etc.
All numbers are special for every mobile operator tho.

[2020-10-04 16:21] bmbouter commented on #41224
Strangely, if I set the `window_size` to `"00:05" as in [this example](https://www.home-assistant.io/integrations/filter/#configuration) it reboots without error and I can see the `sensor` entity created by the filter. That working config snippet would be:

[code]

[2020-10-04 16:29] Maco65 commented on #40192
@fraygon

I was afraid of downgrading procedure but (at least for HassOS ir was as easy as going to terminal and issuing command `ha core update --version 0.114.4` few mintues later after reboot all was working fine.

[2020-10-04 16:30] cugno83 commented on #40411
sorry but has something been fixed?

[2020-10-04 16:32] RobBie1221 commented on #40411
If you are on an official build, you have to wait for 0.116

[2020-10-04 16:39] MarkHofmann11 commented on #28590
Figured out how to turn debugging on.  Still nothing of value, all my tplink lights show up "unavailable" - switches, strips, etc working fine.

2020-10-04 12:33:04 DEBUG (MainThread) [homeassistant.components.tplink.common] Getting static devices
2020-10-04 12:33:04 DEBUG (MainThread) [homeassistant.components.tplink] Got 4 lights: 192.168.0.161, 192.168.0.192, 192.168.0.72, 192.168.0.158
2020-10

[2020-10-04 16:41] cugno83 commented on #40411
Ok, thx for fast response

[2020-10-04 16:49] TheGardenMonkey commented on #28590
I might be wrong, but that looks like the release version...i think it should show  custom_component.tplink in the log

[2020-10-04 16:52] MarkHofmann11 commented on #28590
Using the original tplink 115 and an old copy of my modded light.py based off your mods works (they are available and functioning properly).  Still a mystery on the HS210 delay on showing the status in HA.  Attaching my light.py for reference.
[light.zip](https://github.com/home-assistant/core/files/5323672/light.zip)

[2020-10-04 17:00] oxygen0211 commented on #40898
Would like to take on this

[2020-10-04 17:08] mbo18 commented on #21125
Still an issue

[2020-10-04 17:20] marcgarciamarti opened #41230 "Efergy integration throws errors"
## The problem
I'm experiencing instability with my HA setup. See here: https://github.com/home-assistant/core/issues/40471
Upon a examination of the log file I've come across the error below.  I really don't know if this error is what is making my HA instance instable but upon evaluating the time stamps associated with HA going down, I see that this sort of errors correlates with the timming.
I'm

[2020-10-04 17:24] TheGardenMonkey commented on #28590
Just upgraded and I am not seeing any differences. But your light.py is very different from what is in my repo :). I also simplified the common.py file so you would have to get at least both (and of course the new switch.py).

Also, just wanted to confirm if you are putting them in custom_components/tplink/ or you just overriding the files in the ha install folder for tplink...not that it matters,

[2020-10-04 17:34] MarkHofmann11 commented on #28590
Yes, I am copying over the tplink files from the HA install.  I pulled down your latest files from this morning and copied them over the 115.4 install.  I recorded a short screen capture of what I am seeing with the HA210.
[Overview - Home Assistant - Google Chrome 2020-10-04 13-30-10.zip](https://github.com/home-assistant/core/files/5323828/Overview.-.Home.Assistant.-.Google.Chrome.2020-10-04.13-

[2020-10-04 17:51] marcgarciamarti opened #41233 "Tado integration returning errors"
My HA instance is being not very stable as described here: https://github.com/home-assistant/core/issues/40471
I'm trying to figure out whether my hardware is faulty or whether it is a specific component that is making my instance choke.
The last time I've encountered a instability (my HA instance went down) I managed to access the home-assistant.log file and spotted the error below, along with th

[2020-10-04 17:55] arsaboo commented on #40273
I am seeing the same errors. Lights and other entities work with `google_assistant`

[2020-10-04 18:01] vistalba opened #41234 "[BUG] utility_meter shows to much decimals"
## The problem
Utility_meter does show too much decimals (5 in my case). This wasn't the case before.
The input sensor the utility_mater's are based on does have onle 1 decimal as the smalles amount of rain it can detect is 0.3mm.

This doesn't make sense and it wasn't the case as I configured lovelace some weeks ago. The issue began this week.

![image](https://user-images.githubusercontent.com/1

[2020-10-04 18:03] TheGardenMonkey commented on #28590
The only weirdness I have seen with the HS210 is when I tried to use it in my garage which has a 4 way switch setup (and I didn't realize it when I put it in). It is almost identical to what you are seeing except that in the kasa app it turns off after a few seconds but I don't think it ever turns back on, but maybe I never waited long enough...going to test in a little bit.

[2020-10-04 18:05] StreetGuru commented on #41060
I am experiencing the same issue - All data shows as unavailable and I am unable to add a new instance (same as the OP, it just redirects back to the Integrations list.

The system logs show the following errors:

`Logger: aiohttp.server
Source: components/coronavirus/config_flow.py:30
First occurred: 13:52:53 (5 occurrences)
Last logged: 19:02:31

Error handling request
Traceback (most recent cal

[2020-10-04 18:05] oopptt commented on #38903
Thanks guys for the help! Really appreciated! Just to confirm that problem has gone after installing custom integration. My mistake was keeping the two integrations, I had doubts because some other custom_integrations work together with the standard one, but this one permits to add the standart integration as custom_tuya, so that's what I didn't understand.

Very good job guys!

[2020-10-04 18:06] gugaspinto commented on #40192
Thank you... A lot... It's so easy 😎... Already done it.
Everything ok right now.

So.. Anyone knows if there will be an update with this integration solved?
I wouldn't like to be stuck in 114.4
Thanks everyone...

[2020-10-04 18:08] weweilep commented on #39536
I have also been getting this error pretty regularly since at least 0.115.3.  Removing and reconfiguring the ecobee integration appears to be the only solution so far.  There must be a better way to handle this?  This is happening often within days of re-adding the integration.

[2020-10-04 18:13] scsi050 commented on #33417
It is still broken in 0.115.6

[2020-10-04 18:15] scsi050 commented on #27724
Still broken in 0.115.3  / HassOS 4.13 / Supervisor v245

Logger: homeassistant.components.binary_sensor
Source: components/remote_rpi_gpio/__init__.py:45
Integration: Binary sensor (documentation, issues)
First occurred: September 30, 2020, 4:45:34 PM (1 occurrences)
Last logged: September 30, 2020, 4:45:34 PM

Error while setting up remote_rpi_gpio platform for binary_sensor
Traceback (most rece

[2020-10-04 18:18] baert commented on #40023
For anyone looking for a quick workaround on Linux, after hours of looking around for a solution the only thing that worked for me was allowing traffic from the bulb IP via firewall.

`sudo ufw allow from 192.168.0.XXX`

After that I easily added my lights via the integrations menu, worked for my lightstrip as well as colour bulb.

[2020-10-04 18:19] pvmil commented on #30443
Thanks for feedback, removing integration and re-adding solved my issue (when this happens again I'll submit a new bug on this)

[2020-10-04 18:26] weweilep commented on #34350
I have also been getting this error pretty regularly since at least 0.115.3. Removing and reconfiguring the ecobee integration appears to be the only solution so far. There must be a better way to handle this? This is happening often within days of re-adding the integration.

Same error as others:

[code]

[TOKEN] and [CLIENT_ID] removed.

I have noticed sometimes when restarting homeassistant-cor

[2020-10-04 18:30] weweilep commented on #39536
Requesting merge with #34350

[2020-10-04 18:31] weweilep commented on #36550
Requesting merge with #34350

[2020-10-04 18:43] chemelli74 commented on #37348
Honestly, I disabled the guilty automation since several weeks.
If it makes sanse, I can retest.
Let me know,

Simone

[2020-10-04 18:44] bdraco commented on #37348
If you aren't using it in production, I don't think its worth the trouble to re-test. 👍

[2020-10-04 18:44] #37348 closed

[2020-10-04 18:44] MartinHjelmare commented on #40578
Tuya should replace the keys `auth_failed` and `conn_error` with `invalid_auth` and `cannot_connect`.

[2020-10-04 18:47] SCCMOG commented on #36141
@AndreiRadchenko what settings are you using in your config?

[2020-10-04 18:57] chemelli74 commented on #38709
I fear that that the only way is to get it from SmartThings.
I bet it's not allowed to reference an integration from another integration; am I wrong ?

Simone

[2020-10-04 19:18] monkeypr00f commented on #41187
I own the Protect system...but i guess it could not be integrated in the api since there is no mention in the developer website.
No differences switching to the cloud account, no entites found.

[2020-10-04 19:31] jeffaudio commented on #40913
I made a pass at this linked above by using `pytest.fixture` instead of the setup and teardown method. Happy to submit a PR if this is the kind of thing you were looking for.

[2020-10-04 19:32] ChristosDeretzis commented on #41234
Can I fix it ?

[2020-10-04 19:38] #40900 closed

[2020-10-04 19:44] marthoc commented on #34350
As you can see above, I think I’ve tracked this to an underlying issue in the way that the refreshed keys are saved to the config entry. It does not appear to have anything to do with the integration or pyecobee code as such. If someone with more knowledge of the workings of HA wants to take a run at tracking down the issue, I would be happy to assist.

[2020-10-04 19:45] RobBie1221 commented on #40913
Redid node entity tests in #41239

[2020-10-04 19:47] RobBie1221 commented on #40874
Refactored in #41157

[2020-10-04 19:48] realjax commented on #40757
It is now back to 10 second interval again , here's a screenshot showing requests coming from my home Assistant instance..

![IMG_20201004_214448](https://user-images.githubusercontent.com/883435/95025571-fa541500-068a-11eb-8bd0-35db78552510.jpg)

[2020-10-04 19:53] felipediel commented on #40267
Good to know it worked. Thank you!

[2020-10-04 19:54] Knapoc opened #41240 "forked-daapd: unable to add integration due to version detection"
## The problem

Whenever I try to add my forked-daapd server - either via zeroconf or manually - the config-flow reports `The forked-daapd integration requires a forked-daapd server with version >= 27.0.`.
Since I'm running version 27.2, I don't understand the cause for this error.

## Environment

- Home Assistant Core release with the issue: 0.115.6
- Last working Home Assistant Core release (if

[2020-10-04 19:57] nick2525 commented on #40267
Yes, it also works on my devices.

[2020-10-04 20:05] marcgarciamarti commented on #40471
@Spartan-II-117 I seem to have managed to log into the HA container over ssh during one of those blackouts and managed to capture some errors. See the two referenced cases. What do you think?

[2020-10-04 20:11] MartinHjelmare commented on #40913
@jeffaudio please make a PR so we can see what you did.

[2020-10-04 20:20] ivico94 commented on #40755
Same  issue here since I guess 0.115.

Some automation with climate are not working. No issue in the log.

Below a non-working automation.

`

  - alias: Chauffage salon journée
    trigger:
      - platform: time_pattern
        seconds: '/30'
    condition:
      condition: and
      conditions:
        - condition: time
          after: '07:15'
          before: '23:30'
    # Fenetres fermées

[2020-10-04 20:24] Spartan-II-117 commented on #40471
That tado error looks more serious than the effergy one, as a test, try disabling tado for a few days, if that clears up your instability, put it back together n and enable debug logging for tado, and add the relevant logs to your tado issue.

[2020-10-04 20:28] escoand commented on #38709
Afaik yes.

[2020-10-04 20:46] marcgarciamarti commented on #40471
ok. Will do as suggested.
For some reason my gut feeling is pointing me towards my SSD. Do you have any idea on how to test the HDD performance and errors?
thanks!

[2020-10-04 20:51] dgomes commented on #41234
Well that error is not normal (Invalid state) and it is caused by the source sensor (sensor.garten_regenmenge) that has an empty string in the topic, your should fix that in the sensor.

About the decimals, python is very tricky about this... you probably received a value in that mqtt topic with a very high precision (or simply an error that was poorly interpreted by python when converting to a de

[2020-10-04 20:53] TopdRob opened #41246 "Remember the Milk integration uses httplib2==0.10.3 vurnerable to CVE-2020-11078"
## The problem

Remember the Milk integration uses httplib2==0.10.3 vurnerable to CVE-2020-11078. Dependency should be upgrated to >=0.18.0

## Environment

- Home Assistant Core release with the issue:
- Last working Home Assistant Core release (if known):
- Operating environment (OS/Container/Supervised/Core):
- Integration causing this issue:
- Link to integration documentation on our website:

[2020-10-04 20:53] TopdRob opened #41247 "Remember the Milk integration uses httplib2==0.10.3 vurnerable to CVE-2020-11078"
## The problem

Remember the Milk integration uses httplib2==0.10.3 vurnerable to CVE-2020-11078. Dependency should be upgrated to >=0.18.0

## Environment

- Home Assistant Core release with the issue:
- Last working Home Assistant Core release (if known):
- Operating environment (OS/Container/Supervised/Core):
- Integration causing this issue:
- Link to integration documentation on our website:

[2020-10-04 20:54] epenet commented on #40760
New branch available for testing on https://github.com/epenet/home-assistant/tree/onewire-sysbus
I look forward to your feedback...

[2020-10-04 20:55] vistalba commented on #41234
The source sensor only can increase by 0.3.

So possible values are always like:

0.0, 0.3, 0.6, 0.9, 1.2, 1.5, 1.8, 2.1, ... and so on.
There is never more than 1 decimal in the source sensor. Otherwise I would just use the round(1) function as value_template on the source sensor.

[2020-10-04 20:55] #41247 closed

[2020-10-04 20:55] TopdRob commented on #41247
Duplicated by accident

[2020-10-04 20:58] jeffaudio commented on #40913
Submitted the PR as requested. Looks like there's another one out there so feel that took a slightly different route so feel free to close mine if it's not what you wanted.

[2020-10-04 21:03] dgomes commented on #41234
I understand your viewpoint, and you expect that to happen. But the errors:

[code]

tell me otherwise... even if sporadically, there is something strange with your sensor.

From the MQTT topic "rtl_433" I take it you are receiving this from a weather station over a 433Mhz radio link. These links are prone to errors, usually besides the weather readings there is usually also a checksum field that

[2020-10-04 21:04] mtdcr commented on #37139
I still think it would be a big improvement for people using umlauts. Generated identifiers are sooo ugly. How about opt-in for existing installations?

[2020-10-04 21:10] #40903 closed

[2020-10-04 21:18] SNoof85 commented on #37263
Forgot to reference to this issue in that already merged PR : #40963

[2020-10-04 21:35] firstof9 commented on #41126
Would you be able to spin up a 0.116 beta instance of HA and see if your thermostat works?

[2020-10-04 21:44] Spartan-II-117 commented on #40471
Yeah, you can use smart tools to view the drive controller statistics.

[2020-10-04 22:07] MarkHofmann11 commented on #28590
Yes, firmware is the latest.  The functionality works perfect - you turn it on via HA, the light comes on instantly.  It is just the switch status in HA that doesn't represent the actual light status at the time.  Going to do more digging into this - might be some type of status timer that changed in the later versions of HA.  I have not added a new tplink entity for awhile, so that is the only th

[2020-10-04 22:12] derekatkins commented on #40134
Unfortunately the upstream has not been fixed.  :(

[2020-10-04 22:41] MarkHofmann11 commented on #28590
Fantastic news!  I finally figured out how to fix that anomaly with the HS210.  I had read a post about someone else with a similar issue - except it was happening in the KASA app.  The solution was to delete the HS210 from KASA and then re-create it again.  I gave it a shot and it started working normally right away after it was recreated in KASA.  I have no idea why that would have any relation

[2020-10-04 22:49] wesleygas opened #41250 "BMP280 sensor unavailailable"
## The problem

Since updating to 115 the BMP280 stopped working.
The entity cannot be found even though the output of
[code]
shows that a sensor is detected at address 0x77 and the sensor itself still works on an ESP8266 (ESPHome).

## Environment

arch | armv7l
-- | --
chassis |  
dev | false
docker | true
docker_version | 19.03.9
hassio | true
host_os | Raspbian GNU/Linux 10 (buster)
installati

[2020-10-04 23:16] t0ane commented on #36757
@pruwait  I had to restart Home Assistant to get my changes applied

@suxarik a more elegant manner for me was to use the device management service to query for capabilities because my cameras (Reolink 410 and 520) only display the PullPoint support there (The event_service.GetServiceCapabilities() return HTTP 400). Here is my code wich may work for other devices

`    async def async_get_capabili

[2020-10-04 23:18] genestealer opened #41251 "RFLink TCP mode does not implement ping to keep connection alive - connection times out"
## The problem
HA RFLink does not perform connection maintenance in TCP mode to keep connection alive. It should periodically perform the "ping" command keep connection, else after 300 seconds the connection times-out. RFlink implements a hello-protocol (see http://www.rflink.nl/blog2/protref) where if the client sends “10;PING;” RFlink replies back with “20;99;PONG;”.

Raised in forum: [Implement

[2020-10-04 23:19] TheGardenMonkey commented on #28590
@MarkHofmann11  are you on discord, can you hit me up there and we can try to troubleshoot this together quicker...my dimmer is still in the box :).

[2020-10-04 23:20] genestealer commented on #41251
Tagging @lbschenkel and @aequitas

[2020-10-04 23:30] MarkHofmann11 commented on #28590
FYI - Dimmers working fine.  Just the light bulbs - LB130 lights showing unavailable.  No errors, just don't come up.  Yes, I'm on Discord right now if you want to send me a chat.  I'm Mark11#4938.

[2020-10-04 23:33] genestealer opened #41252 "RFLink TCP mode does not reconnect after successful connection"
## The problem
HA RFLink does not reconnect in TCP mode, after successful connection was made. It should periodically check connection, to check if remote side is available. HA has to be restarted to reconnect to TCP RFLink Gateway.

If whilst HA is running, if for some reason the tcp connection is broken, of the Rflink device is powered cycled, HA does not check connection and never tries to reco

[2020-10-04 23:34] genestealer commented on #23577
Tagging: @adrianmihalko @lbschenkel and @aequitas

[2020-10-04 23:35] genestealer commented on #41252
Tagging: @adrianmihalko @lbschenkel and @aequitas

[2020-10-04 23:55] aidbish commented on #41246
i could be wrong but i think this maybe covered here
https://github.com/home-assistant/core/blob/dev/homeassistant/package_constraints.txt

[2020-10-05 01:20] prystupa commented on #40723
@iceman23e I have added support for lights integrated into fireplaces in this PR: https://github.com/home-assistant/core/pull/41255

Once it is approved, and merged, if you comfortable to test locally - please do with the real device. Thanks! I will look into the integrated fan next week.

[2020-10-05 02:38] Stupco commented on #41095
I found that mine stopped working, literally reset the whole integration and still no luck, then I saw this comment and found out that HA had turned the entity to "off".

Is this standard behavior? First time I experienced it, what would cause it to turn "off", can we default the value to "always on" somehow?

[2020-10-05 03:48] matejdro commented on #14526
Any reason you used cover here instead of just sensor?

[2020-10-05 04:27] KoljaWindeler commented on #36757
Just in case this will not be implemented and other are struggling like @pruwait:
What I've done was to copy the onvif component into my custom_component dir. Change the pullpoint argument to a static TRUE and restarted HA. Worked instantly .. and also works after updates .. well .. until it won't be needed any further .. I'd really like to see the working out of the box.
Kolja

[2020-10-05 05:22] balloob commented on #41246
Correct. Our constraints file solves this one

[2020-10-05 05:22] #41246 closed

[2020-10-05 05:47] tomlut commented on #40450
I never turn my Kodi boxes off but restarting home assistant is now delayed by many minutes because the Kodi integration is preventing the frontend from loading.

[code]
Previously when using YAML config for Kodi this never occurred.

The state of both boxes is being reported as: `standby`

[2020-10-05 06:23] michaelarnauts commented on #41233
It indicates a connection error connecting to the Tado API. There have been recent downtime with the Tado service itself, so it might be related to that. This, or there is an issue with your internet connection (unstable?).

[2020-10-05 06:31] Mariusthvdb commented on #40925
dear dev team, has anyone seen this? Ive noticed a few other TTS PR's getting merged but they don't seem related?

[2020-10-05 06:38] hipitihop commented on #34838
@cgtobi Checked. All sensors under the name `netatmo` are unavailable.

![image](https://user-images.githubusercontent.com/4626024/95047311-2faf4000-0729-11eb-80bb-decb4b61075a.png)

[2020-10-05 06:40] vistalba commented on #41234
@dgomes

Yes, I use rtl_433 with a rtl-sdr dongle to receive weather station (rtl433 type `-R 32`).
There is a CRC value looks like this: `mic = CRC`
I don't know how it will look like if CRC fails. Until know I thought that rtl_433 will already sort out stuff that didn't pass CRC check. Is that not the case?

Could you show me your mqtt sensor conf as an example?

Also I think about make utility_

[2020-10-05 06:49] orrpan opened #41256 "Brightness does not change with flux switch component"
## The problem

Brightness does not change, even when `disable_brightness_adjust: false` is set. I've tested with both `xy` and `mired`  (since `rgb` does not include the brightness parameter #35979, I did not test it) using hue lights and tasmota lights.

## Environment

- Home Assistant Core release with the issue:  0.115.6
- Last working Home Assistant Core release (if known): -
- Operating env

[2020-10-05 06:57] frenck commented on #40925
Your issue is 4 days old. Have some patience.

[2020-10-05 07:04] OnFreund commented on #40450
@tomlut that's really strange - even when unavailable it shouldn't cause a delay.
Can you open a new issue, and provide full logs, and number of kodi boxes you're using?

[2020-10-05 07:08] Mariusthvdb commented on #40925
sure!
I apologize if this came over like pushing. Was merely trying to be as precise as I could be in describing the breaking issue.

It's not that our lives depend on it, I'll hold ;-)
thanks!

[2020-10-05 07:10] cgtobi commented on #34838
Please clean up your configuration.

This is not supported anymore.
[code]

Further, Netatmo hat server issues which caused errors for lots of users.

[2020-10-05 07:12] tomlut commented on #40450
Will do. It will probably have to wait until tomorrow as since I have visited the web interfaces of the two boxes restarts are proceeding without delay. I wonder if the Vero4k boxes were in some sort of sleep mode that HA could not recognise?

[2020-10-05 07:17] OnFreund commented on #40450
If they're available via web they should be available via kodi as well (definitely so if you're not using websocket. Are you?)
In any case, even if unavailable, it really shouldn't block boot.

[2020-10-05 07:22] vdlr26 commented on #41095
Now it is working. Thanks for your help.
The problem was: "I have to go into the device and turn on the entity switch"
Beginner's mistake. Sorry for the inconvenience.
The confusion was due to having the old and new systems active.

[2020-10-05 07:22] #41095 closed

[2020-10-05 07:31] tomlut commented on #40450
No, only using the UI integration now. I deleted the YAML configs and installed via the UI after the 0.115 release.

The first time this occurred today it was the kodi notification platform holding up the startup. I don't use that any more so I deleted it and restarted and got the same startup issue but with the Kodi platform as in my post above.

[2020-10-05 07:43] uvjustin commented on #41240
Since this is happening both through zeroconf and through a manual configuration, I think the problem isn't with reading the zeroconf data. There's probably something going on when the pyforked_daapd library tries to validate the connection and it bails out ending up here: https://github.com/uvjustin/pyforked-daapd/blob/6bf8d8c24f6bb62a1a5753dafeb67f6126c23899/pyforked_daapd/__init__.py#L60 .
Can

[2020-10-05 07:44] OnFreund commented on #40450
It's not about YAML vs UI, but WebSocket vs HTTP.
The kodi notification platform wasn't changed - it's the same as 0.114, so if you were having problems there I'd look into regressions in your environment.
Anyway, let's move to a new issue.

[2020-10-05 07:46] mat1990dj commented on #28811
It seems like the integration is returning in my case min_temp: 0
max_temp: 0
![image](https://user-images.githubusercontent.com/5220059/95052651-9879c680-06ef-11eb-8880-d9dc11ee5b11.png)

[2020-10-05 07:57] mat1990dj opened #41258 "maxcube radiator thermostats report wrong min_temp and max_temp"
## The problem
maxcube radiator vales via the maxcube integration report
min_temp: 0
max_temp: 0
the effect is that the thermostat cards have no sliders and the temp can't be changed

## Environment
Homeassistant 0.115.6

- Home Assistant Core release with the issue: 0.115.6
- Last working Home Assistant Core release (if known): Something around june 2020.
- Operating environment (OS/Container/Sup

[2020-10-05 08:03] Knapoc commented on #41240
Oh.. thanks for the hint. My forked-daapd instance was missing some configuration.

I had to add the network of the Hass container under `trusted_networks` in `forked-daapd.conf`.

Will close this issue - sorry for the inconvenience.

[2020-10-05 08:04] #41240 closed

[2020-10-05 08:07] uvjustin commented on #41240
I should probably make a change to that error message. What http error were you getting when it was unreachable?

[2020-10-05 08:12] Knapoc commented on #41240
When trying to connect inside the container with curl or wget, I got a 403 error (forbidden).

[2020-10-05 08:16] uvjustin commented on #41240
Ok, thanks for the info.
I need to make a few changes to the component and add media browser support, so I will make the error handling change to the library at the same time.

[2020-10-05 08:25] Bre77 commented on #41258
I'll raise a PR for this now.

[2020-10-05 08:36] marcgarciamarti commented on #41233
good point. I was aware of the downtime but I had not correlated the two in my head 👍

The reason why I'm opening this issue is because I'm experiencing instability with my HA (see the first issue number above). When my instance yesterday down I spotted this error along with some other error (see the issue number above).

My gut feeling is that my HA is having a hw problem (I run HA Core on a RPI

[2020-10-05 08:45] Grimroper commented on #40500
After I raised this issue back on the 23rd Sept I deleted my database, which seems to be the only thing I could do to resolve this issues, and started again.

Sine then its behaved perfectly.  I haven't had any problem with my Inputs being in a different state after a restart.

Im not sure if anything has changed in the latest release (Im on 0.115.6, but I always update the latest release anyway)

[2020-10-05 08:49] orrpan commented on #41256
My bad, this is not an issue (except #35979), I misunderstood how it works. It would however be cool if the flux also could change brightness during the day.

[2020-10-05 08:49] #41256 closed

[2020-10-05 08:59] Mister-Slowhand commented on #25814
I'm also having troubles with the all-day events, here in 0.111.4. I think the timezone is the problem, but not sure.
I had it working with 0.103 on Ubuntu 18LTS. Now in 111 on 20LTS it fails. I have a self-hosted caldav server (Davical).
I have recurring all-day appointments that HA sees one day before. It's set to occur every tuesday, and today (monday) the HA calendar entry is on.
The ICS from

[2020-10-05 09:28] MarcoBischero commented on #41064
Working operation (1 over at least 50 test) from HA log:

`2020-10-05 11:17:44 DEBUG (MainThread) [homeassistant.components.alexa.smart_home_http] Received Alexa Smart Home request: {'directive': {'header': {'namespace': 'Alexa.PowerController', 'name': 'TurnOff', 'payloadVersion': '3', 'messageId': '0554a7bd-3f5f-4087-bb08-3060d58a8900', 'correlationToken': 'AAAAAAAAAQAcbXBzLYothb2LYoZd0OgE/AEAAA

[2020-10-05 09:39] ygreq opened #41263 "Devices become unavailable. Necessitate re-pairing. Running on Sonoff ZB Bridge running Tasmota and ZHA Integration"
## The problem

## Environment

- Home Assistant Core release with the issue: 0.115.5
- Last working Home Assistant Core release (if known): Not known for this specific problem.
- Operating environment (OS/Container/Supervised/Core): Docker container in Proxmox
- Integration causing this issue: Not Known
- Link to integration documentation on our website:

## Problem-relevant `configuration.yaml`

[2020-10-05 09:43] ygreq commented on #41263
I don't know why The Problem is not shown above. I double checked all the details. :/ I will write the problem as a comment here:

**8 out of 9 Ikea remotes and switches I have installed in ZHA become unavailable**. Meaning the battery sensor was unavailable and also I could not see any event reported in Developer Tools -> Events while listening to zha_event. I also checked the logs in Configurati

[2020-10-05 10:05] perjury commented on #26993
Is it inappropriate for me to ask that if you are working on the water-heater component you consider the feature request I've just raised?
https://community.home-assistant.io/t/add-operation-mode-auto-to-water-heater-component/232794

[2020-10-05 10:12] KptnKMan commented on #33417
It's definitely still an issue, and has not been resolved.

I have been slowly working on a fix for some time, but unfortunately I've been busy with other things also.

[2020-10-05 10:22] MarcoBischero commented on #41064
If I run a test from the skill developer console and I manually write the operation "alexa turn on/off the switch" is working flawless.

[2020-10-05 10:36] MarcoBischero commented on #41064
What I see on CloudWatch:
`2020-10-05 10:20:53
START RequestId: bffe1089-8d49-43c7-baba-89566cac6a2b Version: $LATEST
[DEBUG]	2020-10-05T10:20:53.180Z	bffe1089-8d49-43c7-baba-89566cac6a2b	Event: {'directive': {'header': {'namespace': 'Alexa.PowerController', 'name': 'TurnOn', 'payloadVersion': '3', 'messageId': '97c0b0a6-e534-43b9-b48d-a3f2b2780ecd', 'correlationToken': 'AAAAAAAAAQAcbXBzLYothb2LYo

[2020-10-05 10:49] fiskmaas commented on #40023
You can make a rule to allow traffic from your lights ip to the home assistant ip.

[2020-10-05 10:53] #40407 closed

[2020-10-05 11:50] thiemok commented on #40612
I have a similar problem. My network setup is a little more complex, involving home-assistant in a container and the tradfri gateway being on a different subnet than the container host. It also can't be overloading of the gateway, because I only have two bulbs connect with > 1h between updates to the bulbs.

I dug a bit through #14386 and parts of the code of this integration. The investigation in

[2020-10-05 12:03] #40613 closed

[2020-10-05 12:09] balloob commented on #41027
Looking at the stack trace, it's an issue in `libpurecool`. None of the code in Home Assistant is involved. It needs to handle the message `FAIL`.

[2020-10-05 12:09] #41027 closed

[2020-10-05 12:14] mynameisdaniel32 commented on #41095
So I found this as I also had the same issue today and the timing seems too much of a coincidence...

I have 3 Broadlink remotes which have been working fine for a while (used every day), I'm running the 0.116 beta (and have been since last week) but all switched themselves to off seemingly randomly... This has never happened before.

@vdlr26, do you happen to live somewhere that had a daylight sa

[2020-10-05 12:16] gieljnssns commented on #40292
@bdraco
Do I have to make another `py-spy` with `v0.116.0b3`?
Or do I have to wait for #41217 and #41208 get merged?

[2020-10-05 12:23] rijoymanghat commented on #33479
Ok, so the camera icon issue still exists. I was banging my head thinking its something to do with my configuration.

[2020-10-05 12:23] phcella commented on #33899
I'm on 0.115.6 and my problem wasn't fixed on this last updates.

[2020-10-05 12:27] pascallj commented on #40423
Now that I take a better look at your configuration, this was never valid. You can't directly specify a helper (or any other entity state for that matter) in the `above` and `below` fields of the numeric state. This also applies to the regular (non-numeric) state trigger/condition.

How would the system be able to distinguish if you mean the actual value `'input_number.test_threshold'` (so a strin

[2020-10-05 12:51] highground88 commented on #40391
I’ve finally found a fix for my issue - not sure if it's the same now?

Where previous to 114.4, this trigger on an automation would work:

Trigger type: Event
Event Type: ZHA Event
Event data:
click_type: single
unique_id: ‘00:12:4a:00:1b:a3:bc:ce:1:0x0006’
From 114.4 the following data works:

Trigger type: Event
Event Type: ZHA Event
Event data:
device_ieee: ‘00:12:4a:00:1b:a3:bc:ce’
endpoint_i

[2020-10-05 12:55] dgomes commented on #41234
I'm not so sure about rtl-433, I use a diy decoder based on an Arduino (https://github.com/dgomes/homeGW) in my code I do handle the CRC before publishing into the MQTT broker. So my configuration is very similar to yours.

I also have a issues with values that are properly transmitted but make no sense! for that I use the filter integration https://www.home-assistant.io/integrations/filter/

Here

[2020-10-05 12:55] bdraco commented on #40292
There likely won't be any difference with b3.  Waiting for #41217 and #41208 makes sense.

[2020-10-05 13:00] joeshaw commented on #20170
Bumping again, though my local utility (AEP Ohio) is no longer required by law to provide energy efficiency programs 🤦 and are discontinuing their app associated with the energy bridge at the end of November.  It remains to be seen whether the device itself will be a brick or if I can still use it through MQTT, so this might be the last time I bump it to keep it alive.

[2020-10-05 13:02] bdraco commented on #40292
@gieljnssns Actually #41225 could make a difference so it would be great to get a fresh `py-spy` with b3

[2020-10-05 13:09] dgomes commented on #41224
What is ```window_size: "168:00"``` supposed to mean ? that is not a valid time...

[2020-10-05 13:12] puddly commented on #20170
As long as you keep your Energy Bridge offline it should continue to work (unless they start kicking it off of the Zigbee network). I think I ran mine for close to year (when I still had one) without ever letting it go online.

[2020-10-05 13:13] gieljnssns commented on #40292
One at startup and one of 10 min?

Just have to wait until the newest beta is visible for me... (I'll hit `reload` every minute)

[2020-10-05 13:14] bdraco commented on #40292
Yes please

[2020-10-05 13:19] fribse commented on #40612
It fits quite well with my experience as I've moved more and more away from the IKEA hub, this it talks much less to it, I only have the blinds on the IKEA hub, and they are maybe operated twice a day.
All my light is moved to deconz, and away from the IKEA.
Brilliant input @thiemok ! It sounds like a clue.

[2020-10-05 13:22] tomlut commented on #40423
You might want to remove this from the docs then.

And the example under it.

I was under the impression this was added as part of the WTH month.

[2020-10-05 13:26] bmbouter commented on #41224
It's intended to be a 7-day filter. 7 days is 168 hours. How can I express a 7-day moving average window size?

[2020-10-05 13:30] ygreq commented on #41263
I believe this is another kind of issue, but here goes. I restarted HA after the first reported error. Still nothing. **And now all my Ikea battery devices that I recentry re-paired are all unavailable. All my Ikea light are doing ok and also my Aqara Cube.** :/

Thank you so much for any help or suggestion you might have. So this is what happened.

Now after pairing again a few devices, when tryi

[2020-10-05 13:34] DubhAd commented on #40269
Sorry for the delay. The problem is _there's no error from the config check_, only at startup.

[2020-10-05 13:36] ygreq commented on #41263
And this is what I get when trying to pair again a device that was paired today and was working a few hours ago.

[code]

[2020-10-05 13:37] dgomes commented on #41224
`window_size` is of **time period** in HA, therefore you can easily define 7 days like:

[code]

[2020-10-05 13:38] dgomes commented on #41224
Another aspect: do you keep more then 7 days of history in your recorder ? because if you don't you will get an error...

[2020-10-05 13:39] ioannispelelis commented on #40719
Hello, is this expected that this function requires Nabu Casa and cannot work if we have made a manual integration with google home ?

[2020-10-05 13:43] Ybbet commented on #33899
Hi, I confirm the problem.

[2020-10-05 13:44] bramkragten commented on #40719
No, it should also work for the manual setup. The code is not Nabu Casa specific.

[2020-10-05 13:46] yang3535 commented on #35626
I recently ran into this also.  It spams my log.  The TTS works, but I get the error once at boot and then every time TTS is used.

 I haven't made any changes in my code lately, so it appears unrelated to anything I've done - although I did update to 0.115.6.  Nothing was in the logs when I first booted 0.115.6 though.

My internet has been a little spotty lately.  Is it possible that the error o

[2020-10-05 13:54] cjamieso commented on #40719
I can confirm that the fix works without Nuba Casa.

[2020-10-05 13:57] gieljnssns commented on #40292
0.116b3 is landed
startup https://www.dropbox.com/s/ux167osddglaq5h/spy-0.116b3-startup.svg?dl=0

[2020-10-05 14:06] ioannispelelis commented on #40719
Then why i am getting this error while trying to stream a camera?
Does it require a special kind of camera?

![IMG_20201005_160428](https://user-images.githubusercontent.com/57101460/95089598-9b42de80-0724-11eb-95df-568a82e1b806.jpg)

[2020-10-05 14:10] chrisbalmer commented on #20170
Adding to what @puddly said, if you want accurate timestamps, allow DNS and NTP access but deny everything else. Otherwise after a power loss, the time will not be correct. That is how I've been running mine for the last 6 months. No issues (once I figured out the time problem).

[2020-10-05 14:11] gieljnssns commented on #40292
Another of 2 min (I forgot to change the time)
https://www.dropbox.com/s/7hw1lmi9vpljis2/spy-0.116b3-2min.svg?dl=0

[2020-10-05 14:12] chrisavfc commented on #40719
Funnily enough I had the same error with two of my cameras, but only on the Google Home Hub.

All cameras are SV3C Cameras, two were purchased from [China](https://www.amazon.co.uk/SV3C-Security-Ethernet-Waterproof-Detection-1080P-Bullet-POE-Camera/dp/B01G1U4MVA) and two from [Amazon](https://www.amazon.co.uk/dp/B01G1U4MVA/ref=pe_3187911_189395841_TE_dp_1). They look identical but the interface ar

[2020-10-05 14:19] ioannispelelis commented on #40719
Tried casting it on a chromecast and i get the same error. I have a camera provided by my ISP (Free in france). I have been able to integrate it to HA and see the stream directly on HA website
But for some reason it wont show on Google Nest Hub (normal or Max version) or on Chromecast i get the same error with the HA & Nabu Casa logo and "Not Connected"

[2020-10-05 14:22] pascallj commented on #40423
Good call. I've read the blogpost at least three times but still can't remember all new features.

I performed some tests. For anyone else who also thought that all the helpers could be applied to triggers as well (at least I did while testing): it only works for input_datetime. This confused me quite a bit while testing.

Regarding your issue: I tested all the way from 0.115.0 to 0.116.0b3 and ca

[2020-10-05 14:24] tomlut commented on #40423
What was the condition config you were using for the test?

[2020-10-05 14:26] yang3535 commented on #36688
I'm seeing the same error on 0.115.6

I get the error when I start Home Assistant and at each use of TTS
[code]

[2020-10-05 14:33] tomlut commented on #40423
Ok. I was wondering if you were using an attribute as in the example in the docs. I thought it might only work for attribute values rather than the entity state.

I'll give it another go and report back.

[2020-10-05 14:34] pascallj commented on #40423
Yep that also crossed my mind. Works in both cases however.

[2020-10-05 14:36] bdraco commented on #40292
It looking better. I think the compression change on the websocket suggested here https://github.com/aio-libs/aiohttp/issues/2856#issuecomment-375944162 will help a bit as well

[2020-10-05 14:39] amonhk commented on #41121
Same problem with SK10Y,
if I turn off the soundbar by holding down the off button, it is no longer reachable from the network and it does not wake up by itself.
Unfortunately, when I turn it back on via the remote control, the connection with the homeassitant is not restored and I have to restart the entire home-assistant to resume its functions.

[2020-10-05 14:40] gieljnssns commented on #40292
10 min
https://www.dropbox.com/s/3evs3sk5wwsloqt/spy-0.116b3-10min.svg?dl=0

[2020-10-05 14:43] bdraco commented on #40292
`async_fire` is a bottleneck because it has to call `asyncio.iscoroutinefunction` and `asyncio.iscoroutine` before it figured out a function is a callback.  I'll see if I can improve that as well

[2020-10-05 14:58] austinmroczek commented on #37323
This is still active.  PR submitted and awaiting review

[2020-10-05 15:00] tomlut commented on #40423
I swear this was not working for me when I updated to 0.115.0

It is now.

Thank you for making me try again.

[2020-10-05 15:00] #40423 closed

[2020-10-05 15:01] kbabioch commented on #41194
What does [this](https://c.speedtest.net/speedtest-servers-static.php) page return for you? I can't see a server with id `13295`, for instance. Where is this ID coming from? What list are you referring to in your bug report?

[2020-10-05 15:13] hoangtuit commented on #40597
I have same issue. I'm using integrations:
- AirVisual
- Broadlink
- Certificate Expiry
- Favicon changer
- Google Cast
- HACS
- HomeKit Bridge
- Mobile App
- MQTT
- ONVIF
- OpenUV
- OpenWeatherMap
- SpeedTest

[2020-10-05 15:24] jonfarqy commented on #40771
I have the same issue as sfranke89 - it says: ERROR: Something went wrong. Please try to install the SmartApp again.

I have tried everything, deleting the webhook for smartthings and restarting etc. I've tried using an incognito window. I must have tried using this modified URL over 20 times now in different ways, and I either get the original error or the one I mention above.

I've tried Chromiu

[2020-10-05 15:33] tpihl commented on #40612
I had the same experience. And now i don't. What changed?

I turned of Avahi in pfSense.

Maybe that, or similar, may work for someone else

/T

[2020-10-05 15:35] jasondefuria commented on #40612
@tpihl I honestly did the same thing two hours ago- and no issues in two hours. Avahi appears to have been the culprit for me.

[2020-10-05 15:36] tpihl commented on #14386
I had the same experience. Seems like some kind of effect my pfSense - Avahi mdns had. So now i have a working tråd-fri gateway and not a working sonos vlan mdns bridge. Oh well....

/T

[2020-10-05 15:37] bwarman commented on #40771
@jonfarqy If you can SSH to your installation, or you have the terminal add-on installed, go to config/.storage and delete the smartthings file. That should clear out your existing failed installation.

[2020-10-05 15:37] iceman23e commented on #40723
@prystupa No problem, I'll test it out once merged. Let me know if you need anything else. Thanks!

[2020-10-05 15:40] jonfarqy commented on #40771
@bwarman Thank you - I'll give this a go and let you know..

[2020-10-05 15:45] vdlr26 commented on #41095
Sorry I can't help yo, my problem was very simple. Beginner's mistake.

[2020-10-05 15:47] yang3535 commented on #36688
Not sure what causes this, but my workaround to prevent the log spamming is to create a null file in the tts directory with filename matching the missing file name.

This makes the symptom go away, but obviously doesn't address the underlying issue.  Maybe it will eventually age out of my cache.

[2020-10-05 15:51] jonfarqy commented on #40771
@bwarman That seems to have worked!

It let me name it, then allow, but upon clicking finish it errored. However the integration appears in HA with my devices etc, so I'm going to experiment and see if it's fully working ar partially.

Thank you again for your help...

[2020-10-05 15:54] tonkinbay commented on #40005
Do you need to remap all devices after (re)setting up the add on, or are the store on the usb stick?

[2020-10-05 15:58] binou-31 commented on #40729
Hi,
My Eveno (Profalux) roller shutters are becoming unavailable and i have the same error message.

Workaround for me, it's to re-scan zigbee devices like to add new devices and wait availability
HA core 0.116.0b2 with Zigate.

[2020-10-05 15:59] Pigotka commented on #40578
Gpslogger is OK: https://github.com/home-assistant/core/blob/dev/homeassistant/components/gpslogger/strings.json
Griddy can reuse `already_configured` but is marked as done. Can I take it? https://github.com/home-assistant/core/blob/dev/homeassistant/components/griddy/strings.json

[2020-10-05 16:01] SNoof85 commented on #40578
Griddy was done from me, and i thought that the generic error message doesn't fit with the explicit message set in the strings.json
That is just a personnal feeling.

[2020-10-05 16:03] kpine commented on #41018
There's no timeout to the add process. While the add is in process, OZW queues all commands until its finished. You must cancel the command if the add does not stop.

[2020-10-05 16:09] SNoof85 commented on #37263
https://github.com/search?q=reauth_successful+repo%3Ahome-assistant%2Fcore+filename%3Astrings.json&type=Code&ref=advsearch&l=&l=

Proposal for new common string : `"reauth_successful": "Re-authentication was successful"`

[2020-10-05 16:13] bmbouter commented on #41224
Thanks for the info on the window_size! I use the default history of 10 days so this shouldn't be an issue. When I apply the `days: 7` option though I get the same error: `TypeError: float() argument must be a string or a number, not 'NoneType'`.

I believe that what I'm seeing is that this error is due to the data in my db somehow being inaccurate. I can try to sort that out, but when a value in

[2020-10-05 16:15] thiemok commented on #40612
Turning off avahi or messing with other low level network stuff should however not be an acceptable solution to the problem.

That is assuming you did not have a misconfigured avahi setup, which I don't think is the case

[2020-10-05 16:24] MizterB commented on #40457
Would it also be possible to add more detail to the error message?  Specifically, which device/hostname/IP is offline?  I have multiple Broadlink devices, but cannot determine which one is having issues.

[2020-10-05 16:25] vistalba commented on #41234
I investigated this issue again and added a history to the source sensor `sensor.garten_regenmenge` and I can see that sometimes HA really receives results with much decimals. Really no clue why this happens.

![image](https://user-images.githubusercontent.com/12324196/95105702-d4387e80-0737-11eb-9f3f-1b29b88f0536.png)

So I think `value_template: "{{ value | float | round(1) }}"` on mqtt sensor s

[2020-10-05 16:27] Tom-ahawk opened #41280 "Automation - action/choose/condition/only one entity_id."
## The problem

I have two flood sensors and I am using two entity_ids for each sensor (alarm/ /burglar).

One shortcoming is that you can only use one entity_id in a condition not several.
The automation fails when executing with two or more entity_ids, while the "Configuration validation" is OK.

## Environment

arch | armv7l
chassis | embedded
dev | false
docker | true
docker_version | 19.03.11

[2020-10-05 16:27] energywave opened #41281 "history-graph: entities with no state change in DB purge period are not shown!"
## Checklist

- [x] I have updated to the latest available Home Assistant version.
- [x] I have cleared the cache of my browser.
- [x] I have tried a different browser to see if it is related to my browser.

## The problem

I have a history-graph card with multiple device_tracker entities (tracked by Fritz integration) so that I can see at a glance the online status of many devices at once. It see

[2020-10-05 16:28] #41234 closed

[2020-10-05 16:33] ianmen commented on #26897
115.6 also has this issue, calling another card after the first card seems to do the trick.

[2020-10-05 16:51] jasondefuria commented on #40612
@thiemok I actually think it is a misconfiguration between avahi, homekit bridge on Hassio, and zeroconf.

Avahi was (more like became) redundant in my setup, so I am confirming that its removal has fixed it for me, BUT you are correct, it should be further analyzed for what changes in Home Assistant suddenly caused this to become an issue.

[2020-10-05 16:58] tetienne commented on #41187
Yes the security stuff are not supported by their api. And this is the first time I saw no device returned. I can easily catch this case.

Have a try to this custom component: https://github.com/iMicknl/ha-tahoma

We use the unofficial api. If you can use the Tahomalink website you should see your devices.

[2020-10-05 17:01] Korte68 commented on #40755
The problem is with the generic thermostat. Its state did not change...stuck in idle state. Therefor the automation is not triggered.

[2020-10-05 17:08] thiemok commented on #40612
I'm not convinced this problem just surfaced recently in all setups, the issue I linked is about two years old and talks about the same thing.

One of my suspicions is that is that connections to the tradfri gateway are not fault tolerant at all.
I quickly tried to support this by powercycling my gateway, which caused the tradfri integration to fail and only reconnect after I reloaded it. Maybe yo

[2020-10-05 17:09] Zehir commented on #40462
How we do that ?

[2020-10-05 17:11] ocalvo commented on #40462
We should start by contacting the package maintainer.

Someone will need to read their contributing guidelines, maybe there is a process to submit a patch to alpine.

[2020-10-05 17:12] jasondefuria commented on #40612
@thiemok I will verify this on current stable when I get home, but I suspect you are correct from what you said in the past- home assistant requires a restart (or reload of Tradfri) to get it to talk again.

Perhaps there is a way, instead of your method of essentially udp-keepalives, to reload the integration if not reachable?

[2020-10-05 17:20] Zehir commented on #40462
I made an issue : https://gitlab.alpinelinux.org/alpine/aports/-/issues/11993

[2020-10-05 17:26] springstan commented on #41280
Please fill out the issue template, you can find it by clicking on `New Issue` and then selecting `Report a bug with Home Assistant`. Copy and paste the provided template into this already created issue, click preview to take a look at the empty template and then fill out as much as you can. Any additional information can be helpful!

Thanks for understanding :)

[2020-10-05 17:26] Zehir commented on #40462
@ScrumpyJack is that you the package maintainer of Alpine Linux package of gammu ?

[2020-10-05 17:27] elupus commented on #40597
@Spirituss do you have an overlap with those?

[2020-10-05 17:29] thiemok commented on #40612
Yes, I think resetting the connection is the first thing to do. I also think that there might be a few different issues all essentialy resulting in a dropped connection.

However i think a keep alive or maybe better called hearbeat might still be required, because the device state is tracked through observation from what I could see. (I might be wrong there) Without a heartbeat a disconnection is

[2020-10-05 17:46] Shulyaka opened #41286 "XBee Analog Inputs"
## The problem

After #36696 the analog input sensors of XBee modules (connected over zha) are shown as Unavailable.

## Environment

- Home Assistant Core release with the issue: 0.111-0.115+
- Last working Home Assistant Core release (if known): 0.110
- Operating environment (OS/Container/Supervised/Core): Turris Omnia, Python 3.7.8, no virtualization
- Integration causing this issue: zha
- Link

[2020-10-05 17:51] outadoc commented on #40578
SmartHab should already be good as well.

[2020-10-05 17:59] Shulyaka commented on #41286
@Adminiuga This is to follow up https://github.com/home-assistant/core/pull/36696#issuecomment-651050122
Apologies for the late response, didn't have enough spare time until now.

I am ready to do the actual development to fix the issue, but I would need to agree on the correct approach with you.
I can see the following options:
1. Use a different cluster for XBee ADC (0x0b04 ElectricalMeasurement

[2020-10-05 18:00] arianahl commented on #40866
I can take a look at this

[2020-10-05 18:08] fribse commented on #40612
But mdns shouldn't cause this as far as I can see, I have Unifi Dream Machine, and I've had mDNS running for 8 months, it's only the last few weeks I've seen this problem creap up. Disabling it will criple the esphome, so I'm not for that.

[2020-10-05 18:09] t0bse commented on #40411
for me it's still here in 0.116b4

[2020-10-05 18:16] RobBie1221 commented on #40913
I'm working on `test_init.py`, that seems to be the only one left with `unittest.TestCase` inside.

[2020-10-05 18:21] golles opened #41288 "Script variable isn't working in choose"
## The problem

I'm making a script that does a few interactions on the same entity (media player). I wanted to use the new [variable](https://www.home-assistant.io/integrations/script/#passing-variables-to-scripts) option, in case if I change the device I only need to change the variable

## Environment

I'm making the script in `yaml`

- Home Assistant Core release with the issue: 0.115.6
- Last

[2020-10-05 18:34] golles commented on #38905
I can reproduce this, my log:
[code]

[2020-10-05 18:45] frangiz commented on #40891
I can take a look into this one.

[2020-10-05 18:49] SNoof85 commented on #40578
Alarmdecoder looks good : https://github.com/home-assistant/core/blob/dev/homeassistant/components/alarmdecoder/strings.json
hlk_sw16 looks good : https://github.com/home-assistant/core/blob/dev/homeassistant/components/hlk_sw16/strings.json
Kodi looks good : https://github.com/home-assistant/core/blob/dev/homeassistant/components/kodi/strings.json
mobile is fine : https://github.com/home-assistan

[2020-10-05 18:57] tynor88 commented on #40023
Any workaround for people running multiple subnets?

[2020-10-05 19:01] peioe commented on #40023
Probably not want to hear but if you're running HA with docker, just revert back to 0.114.2. Personally I just pinned my HA to home-assistant:0.114.2 and I will update when this issue is resolved. Sorry if this doesn't apply to you :)

[2020-10-05 19:11] gieljnssns commented on #40292
I think b4 doesn't make a difference?
None of your PR are in this?

[2020-10-05 19:25] Adminiuga commented on #41286
I'm for partly reverting #36696 by adding a `manufacturers="XBee"` to the decorator, so it only creates entities for XBee devices. Assuming XBee quirk does provide "manufacturer" field in the custom device.

[2020-10-05 19:30] gsemet commented on #41126
Hi,

It works, I now have the entity "climate.main_thermostat_transmitter_heating". May I know what have you changed to fix this?

[2020-10-05 19:43] arianahl commented on #40866
Ready in PR #41296

[2020-10-05 19:47] felipediel commented on #40457
Yes, this makes sense.

[2020-10-05 19:50] suside commented on #40586
Same here, after upgrading 0.110 to 0.115.x, I did not have duplicate entities in `core.restore_state` though, so I tried removing `switch.espurna_39d37b` and `switch.espurna_39d37b_2` (`switch.espurna_39d37b` is the `KeyError` in my case) but it not fixed the issue.

After this change everything works:
[code]
Should I do PR with this workaround? :thinking: Can you please reopen until we figure ou

[2020-10-05 19:56] ottermark commented on #29958
Does not work with 0.115

[2020-10-05 19:56] bdraco commented on #40292
There are still 3 areas I want to work on.

- [ ] Reducing calls to `asyncio.iscoroutinefunction` and `asyncio.iscoroutine`.  We already have a pattern for this in `class Service`
- [ ] Finding a faster way to genenerate uuids as its still a bottleneck for events. I have a good idea how to make this happen.
- [ ] Reducing the overhead of MQTT matching.  I don't regularly use MQTT so this may need

[2020-10-05 19:58] ottermark commented on #29958
Logger: homeassistant.components.sensor
Source: components/dovado/sensor.py:72
Integration: Sensor (documentation, issues)
First occurred: 21:48:28 (1 occurrences)
Last logged: 21:48:28

Error while setting up dovado platform for sensor
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py", line 193, in _async_setup_platform
    await asyncio.s

[2020-10-05 20:12] #40771 closed

[2020-10-05 20:14] tetienne commented on #38270
@bdraco I've totally miss your issue sorry. About a potential fix, between the 2 you suggested, I'm in favor of the 2nd one.

For the 1st one, even if I can easily do the fix within my library, it will mean that all the future components that will depend on config_entry_oauth2_flow will have to do the same trick, and during the code review is not something you will see.

The 2nd solution is more g

[2020-10-05 20:14] Writech commented on #38285
@rytilahti Can you commit your proposed fix?

[2020-10-05 20:18] emontnemery commented on #40586
@suside can you please collect a log with these changes: https://github.com/home-assistant/core/issues/40586#issuecomment-699146106

[2020-10-05 20:20] ve6rah commented on #41018
@kpine Thanks for the response. A few notes:
1) That's not how any other ZWave inclusion process ever works. There's always a timeout, and for good reason.
2) on other systems, even while doing an inclusion/exclusion other devices on the network continue to function, not so using this integration.
3) I don't see "cancel" as an option. There's only "add node" and "remove node"
4) The add (or remove

[2020-10-05 20:25] pandabear41 opened #41305 "Samsung TV integration disconnects and repeat reauth on TV. Since 0.114"
## The problem

I am connecting to a Samsung Smart TV for a while using HA. It works for 12-24 hours and then stops working. The TV keeps showing up with the allow/deny HomeAssistant access to the TV. I press accept every time, but it just pops up again after a few seconds. I had this same issue in 0.114 and 0.115. Versions 0.113 and before that worked fine with no issues at all.
The only way to f

[2020-10-05 20:33] arianahl commented on #40890
Done in #41274

[2020-10-05 20:33] arianahl commented on #40878
Done in #41266

[2020-10-05 20:34] arianahl commented on #40887
Done in #41172

[2020-10-05 20:35] arianahl commented on #40881
Done in #41264

[2020-10-05 20:37] kpine commented on #41018
All your concerns, with the exception of 3, belong to the [open-zwave](https://github.com/OpenZWave/open-zwave/issues) project.

For 3, the cancel command is not implemented in the UI, but you can use MQTT commands or the ozw-admin tool instead.

[2020-10-05 20:38] cgarwood commented on #41018
PR submitted for a cancel_command service to go with the add node and remove node services: https://github.com/home-assistant/core/pull/41285

[2020-10-05 20:39] ve6rah commented on #41018
@kpine points 1, 2, and 4 all work properly using open-zwave's zwave2mqtt add-on so I disagree that they are upstream problems as if they were, you'd expect to see the same problem there, which we do not.

[2020-10-05 20:42] Kane610 commented on #41182
I will not get this into 0.116 unfortunately, but it will most certainly be a part of 0.117. Too much to do and too many changes to the integration after the beta was cut.

[2020-10-05 20:43] sagitt commented on #40816
I don't know why a simple config flow update remove useful features.

[2020-10-05 20:57] #40866 closed

[2020-10-05 21:06] andynbaker commented on #41182
No problem. My hack is working just fine right now, so i'm good for now. I appreciate the help.

[2020-10-05 21:14] nexro567 commented on #39808
@fofinho11 @Poker1410 How did you guys fixed it?

I can't connect it to my HA, I used a token and it doesn't show up in my HA. I used a application rrcc to test my IP and token and I can start, pause and stop my Roborock S5 Max.. So my IP and token are working. Can you guys help me?

[2020-10-05 21:40] kpine commented on #41018
Comparing the OZW _integration_ to zwave2mqtt is not quite right. You need to consider that there is also the [openzwave addon](https://github.com/home-assistant/hassio-addons/tree/master/zwave) and [ozwdaemon](https://github.com/OpenZWave/qt-openzwave) application.

For the controller command timeout, zwave2mqtt implements its own inclusion/exclusion timeouts and calls the OZW library's cancel co

[2020-10-05 21:58] Stupco commented on #41095
Yup, Australia here so we switched over on Sunday but I'm certain mine was working up until Monday when I happened to be re-organising and moved my Broadlink device which I believe must have triggered it.

[2020-10-05 22:04] goldbe4804 commented on #36939
its been mo's, but finely heard back from Wink "For right now you can still get device status updates if the code you're using fetches that status, but it's just not automatic anymore. You'd have to pull the info over manually." is this what the wink.refresh_state_from_wink does or can there be more to it?

[2020-10-05 22:24] bdraco commented on #40292
I missed a bug in the template rate limit that I just fixed in https://github.com/home-assistant/core/pull/41308 so that should help as well

[2020-10-05 22:33] felipediel commented on #40985
I just opened a [PR](https://github.com/home-assistant/core/pull/41309) for this. I don't have this device. Would you like to help me test the update?

[2020-10-05 22:36] Adminiuga commented on #41263
What radio?

[2020-10-05 23:04] ve6rah commented on #41018
I'm running HassOS so standalone docker images aren't supported.

Either way though, the bug being reported boils down to this:
1) it is impossible for me to add or remove any device to the ZWave network using the current OZW implementation
2) attempting to do #1 leaves the ZWave network in an unusable state until I physically unplug and re-plug the USB stick and restart the add-on.

Neither of th

[2020-10-05 23:18] Adminiuga commented on #41263
The device with unk model and manufacturer needs to be removed 1st from zha, wait 60s before trying to pair it again

[2020-10-05 23:26] brg468 commented on #40072
It looks like rachiopy was completely re-written during all this.

I can take a crack at updating the component if you’d like. Or if you’d rather that works too.

[2020-10-05 23:28] firstof9 commented on #41126
You can review the changes here: https://github.com/home-assistant/core/pull/40799/files

[2020-10-05 23:30] bdraco commented on #40072
Go for it. It will go faster since there won't be a wait for a reviewer (me).

[2020-10-05 23:53] kpine commented on #41126
This is a duplicate of #38455. You can read there for an explanation of the problem and solution.

[2020-10-05 23:56] firstof9 commented on #40816
I'm sure it wasn't intentional.

[2020-10-06 00:03] davet2001 commented on #40578
guardian looks good https://github.com/home-assistant/core/blob/dev/homeassistant/components/guardian/strings.json
spider looks good https://github.com/home-assistant/core/blob/dev/homeassistant/components/spider/strings.json
nzbget looks good https://github.com/home-assistant/core/blob/dev/homeassistant/components/nzbget/strings.json

[2020-10-06 00:25] delibird commented on #38788
I am having the same issue as well on 0.115.6. I don't think I've ever witnessed it working properly, so I believe it has possibly been an issue for a while.

[2020-10-06 00:33] #40882 closed

[2020-10-06 00:35] #41126 closed

[2020-10-06 02:15] stboch commented on #26897
Made some progress debugging during the 0.116 beta. It seems like on the first load the lovelace_path variable is getting unset when it transition from the load screen to the lovelace ui.

Still hoping to find it. Glad my work around it holding up for people.

[2020-10-06 02:39] ehn opened #41315 "Apple iCloud integration repeatedly and frequently causes Apple ID sign-in notifications"
## Update: a solution is being worked on
For the benefit of people affected by the issue and discovering this report, see #42881 and picklepete/pyicloud#310.

## The problem
Since yesterday, the Apple iCloud integration causes Apple ID sign-in notifications to appear on all my Apple devices every few minutes: "Your Apple ID is being used to sign in to a new device".

I haven't changed anything in

[2020-10-06 02:51] bdraco commented on #38270
I haven't come back to this yet because the device in question is ~4000 miles away from me at the moment.  I'll circle back to this in Nov if I'm able to try a fix in person.

[2020-10-06 03:57] logicup-dev commented on #40321
I just realised that excluding automations from the recorder was causing something diffrent in the logbook.

recorder:
  exclude:
    domains:
      - automation

Same case, not excluding automations from the recorder is now:

**23:42:45 _Switch front outside_** turned on by PROGRAM: sunset

This is minor, updating the documentation about recorder, logbook for this situation could be useful. The m

[2020-10-06 04:34] Trebacz commented on #38567
In my case my roku in the garage is powered off to save power and bandwidth. When I need it I power it on for music and TV. Is there a way to make this integration less spammy to the log -or configurable by device?

[2020-10-06 05:40] suside commented on #40586
@emontnemery sure:
[code]

[2020-10-06 06:13] waaacko commented on #40631
I can confirm same errors using a iSmartGate Lite and HA 0.115.6. Being unavailable for 5s then back online.

[2020-10-06 06:45] defcon84 commented on #40586
1 entry in the yaml and mqtt: `discovery: true`? That was my issue.
I had 1 in yaml and got the same entity via the Milight Hub autodiscovery. (HomeAssistant MQTT Discovery Prefix)

[2020-10-06 06:46] ygreq commented on #41263
Sorry. If you mean what zigbee device, I wrote in the title. It's a Sonoff ZB Bridge.

Do you know how I can remove a device from ZHA? I am not allowed to remove it from Configuration -> Devices or Entities

[2020-10-06 07:05] Mariusthvdb commented on #40292
let me know if I can help, rather heavily using MQTT here

[2020-10-06 07:07] sokolsok commented on #40192
I think we got stuck with version 114.4 :(

[2020-10-06 07:17] suside commented on #40586
Yes, the actual workaround is to remove
1. yaml entry
or
2. MQTT Discovery entry on the broker

So we have (at least) 2 options to fix this:
1. Change remove/discard and just ignore duplicates in `entity_service_call` (easy, but duplicates can be issue somewhere else)
2. Change autodiscovery behavior, so it would not add already existing entities (harder I guess? needs more testing)

[2020-10-06 07:18] freemann commented on #40471
Here also "random" restarts of HA since 0.116.0bX
Have to say that I've added a ffmpeg_noise sensor to my config, so that could also be cause.

An hour ago I downgraded my Docker image from 0.116.0b3 to 0.115.6 to see of 0.115.6 is stable with my current config.
If its stable, then I will upgrade to 0.116.x to see what happens.

[2020-10-06 07:23] marcgarciamarti commented on #40471
Hello again @Spartan-II-117  and thanks for your continuous helps throughout this. I've so far disabled the Efergy and Tado integration yet today in the morning the system went down again, even with those components out of the picture. I just collected the logs and this is what I see

[code]

The system stop responding to my monitoring around 6:12am and started responding at around 6:18am. I can't

[2020-10-06 07:25] marcgarciamarti commented on #40471
I'm still running version 0.115.x but this random lockups have been happening to me for several weeks/months I would say (I can't really put my finger on it though). Do you happen to know how to check logging on the host? thanks!

[2020-10-06 07:32] bart1604 commented on #40780
![image](https://user-images.githubusercontent.com/42722572/95171872-d2fa6680-07b6-11eb-9ffb-08afba025e68.png)

[2020-10-06 07:32] ygreq commented on #41263
But the problem is the fact that the devices I re-paired yesterday are not available anymore. And when I try to re-pair them again, they start to show the unk_model by unk_manufacturer

Long story short this is what happened.
-I installed ZHA with Sonoff ZB Bridge and started adding devices (Ikea light bulbs, remotes and switches - last 2 battery powered and an Aqara cube)
-I started to have probl

[2020-10-06 07:38] fliphess commented on #40023
Same here :) Just rolled back. But as every component that is migrated to using multicast discovery breaks in my setup, I'm keeping a close look on the progress to avoid surprises on the next update.

If I know it in time, I can still buy other equipment that doesn't require multicast discovery :)

[2020-10-06 07:41] gsemet commented on #41126
Thanks a lot !

[2020-10-06 07:56] emontnemery commented on #40586
There should not be duplicated entity IDs, this is a regression in entity_id generation.

@defcon84 @suside can you please give an example of a yaml entry + discovery message which triggers this issue?

@suside can you trigger this behavior every time, or does it only happen sometimes?
@defcon84 you mentioned you couldn't reproduce it reliably, and not at all in the dev container. Did you try forc

[2020-10-06 08:06] #41258 closed

[2020-10-06 08:16] #40891 closed

[2020-10-06 08:27] balloob commented on #37263
Sounds good. Want to make a PR for that?

[2020-10-06 08:31] philermiya commented on #32294
Updating to keep issue open.
Issue persists in 0.115.6

[2020-10-06 08:40] balloob commented on #41288
Conditions do not currently support templates.

Closing this as it's not a bug, but a missing feature.

[2020-10-06 08:40] #41288 closed

[2020-10-06 08:42] balloob commented on #41288
Workaround now is to use a template condition which supports templates :)

[2020-10-06 08:56] SNoof85 commented on #37263
Yes, will do :)

[2020-10-06 08:59] defcon84 commented on #40586
**yaml:**
[code]
**mqtt:**
[code]

I used `9fdab64e8b0672e4407ebe23ef104a7d44549c37 refs/tags/0.115.3`

[2020-10-06 09:24] #40897 closed

[2020-10-06 09:27] narcico opened #41317 "Webhook is not working after a Home Assistant server reboot"
## The problem
webhooks are not working.
I used to call them by using a RESTAPI POST call to https://homeassistant:port/api/webhook/sky-play and two days ago it triggers my automation successfully, but now it does not work anymore.
The automation itself is working if I execute it manually, but calling it via the trigger webhook does not work.

## Environment
I'm running Home assistant as a VM.
Her

[2020-10-06 09:39] narcico commented on #41305
I've solved it unconfiguring the Samsung Integration in HA, and re-configuring it, by adding the TV again (if not autodiscovered).
It asked me for a confirmation on the TV once and stopped repeating the same authorization message.

[2020-10-06 10:34] arianahl commented on #40912
There are no more tests to rewrite in the yessssms component. This issue should be closed by #41283

[2020-10-06 10:46] scacace opened #41320 "Blink Integration Home reporting disarmed rather than unavailable"
## The problem

Blink Home reporting Disarmed and then Armed upon error in connection in Logs with no user.   Would  prefer other like Unavailable or Host Connection Lost and Found.

## Environment

Latest 0.115.6
OpenWeathermap also has gap in reporting at same time so suspect host or ISP.  Tuya show updates failed
- Home Assistant Core release with the issue:
- Last working Home Assistant Core r

[2020-10-06 11:23] springstan commented on #41320
Please fill out the issue template, you can find it by clicking on `New Issue` and then selecting `Report a bug with Home Assistant`. Copy and paste the provided template into this already created issue, click preview to take a look at the empty template and then fill out as much as you can. Any additional information can be helpful!

Thanks for understanding :)

[2020-10-06 11:31] cgtobi commented on #40485
As the Netatmo API had server issues in the past week could you please try again?

[2020-10-06 11:39] teocannata commented on #40485
You're right, I don't see those errors in the log now!

[2020-10-06 11:57] #40168 closed

[2020-10-06 12:01] cgtobi commented on #40485
So, this can be closed (for) now?

[2020-10-06 12:05] MartinHjelmare commented on #40912
Fixed in #41283

[2020-10-06 12:05] #40912 closed

[2020-10-06 12:08] Maco65 commented on #40192
Why you think so ? I trust it will be fixed soon.
Another question is if the issue is related to integration which is part of core system or not. With this question I wonder if the custom component: https://github.com/jardiamj/homeassistant/blob/master/custom_components/README.md will work with 115.x or not ?

[2020-10-06 12:34] #40878 closed

[2020-10-06 12:42] #39733 closed

[2020-10-06 12:43] #40669 closed

[2020-10-06 12:50] rytilahti commented on #38285
@Writech thanks for reminding me about that! I just created a PR to fix this.

[2020-10-06 12:53] #40904 closed

[2020-10-06 12:58] teocannata commented on #40485
Yes I think, if anything else happen I will come back 😅👍

Thank you for the great support!
Matteo

[2020-10-06 12:59] #40485 closed

[2020-10-06 13:01] #40858 closed

[2020-10-06 13:02] #41187 closed

[2020-10-06 13:09] bdraco commented on #40292
@Mariusthvdb

`py-spy`s with 0.116.0b5 and a profile would be helpful to identify commonalities between your install and @gieljnssns 's install.

[2020-10-06 13:14] Mariusthvdb commented on #40292
id be glad to do so, only issue is I am on Home Assistant OS, so not sure if I can install py-spy?

[2020-10-06 13:18] bdraco commented on #40292
I've had success installing it via `apk add cargo ; cargo install py-spy` once I'm in the docker container https://developers.home-assistant.io/docs/operating-system/debugging/#accessing-the-container-bash after https://developers.home-assistant.io/docs/operating-system/debugging/#home-assistant-operating-system

This may also work as well:
https://github.com/home-assistant/core/issues/40292#issue

[2020-10-06 13:24] effelle commented on #40698
Yes, that exactly the same issue, I've updated to latest beta today and still i can see the issue:
[code]

[2020-10-06 13:26] #38285 closed

[2020-10-06 13:33] gieljnssns commented on #40292
I believe #41304, #41314, #41217 and #41208 are going to be for `v0.117.0`.
But I've installed `v0.116.0b5` with #41308 in it, so 2 new `py-spy's`
2 min at startup https://www.dropbox.com/s/mumxpxtw5j2f5rd/spy-0.116b5-startup.svg?dl=0

and 10 min https://www.dropbox.com/s/mbw4n52xabh47aq/spy-0.116b5-10min.svg?dl=0

[2020-10-06 13:41] bdraco commented on #40292
Thanks. The next change that should have a perceptible difference is https://github.com/home-assistant/core/pull/41304

[2020-10-06 13:55] SNoof85 commented on #37263
https://github.com/search?q=not_internet_accessible+repo%3Ahome-assistant%2Fcore+filename%3Astrings.json&type=Code&ref=advsearch&l=&l=
Would it be OK to create one for this too ?
`"not_internet_accessible": "Your Home Assistant instance needs to be accessible from the internet"`
Do we need to handle the integration/service name in the error message ?

[2020-10-06 13:55] twosh commented on #39165
Just wanted to give you guys an update. Still running the custom component you made, but now currently running HASS 0.115.6. Since HASS 0.115.x when restarting my system, both robots are still available afterwards and NOT mixed together. Only thing that I get is a log error regarding neato.sensor and the battery entity is not showing up any longer:

[code]

For me, this isn't an issue, so I am qui

[2020-10-06 14:00] bieniu commented on #37263
Proposal for new common string : "invalid_host": "Invalid hostname or IP address"

https://github.com/search?q=invalid_host+repo%3Ahome-assistant%2Fcore+filename%3Astrings.json&type=Code&ref=advsearch&l=&l=

[2020-10-06 14:02] joemadd3n opened #41336 "Wake On Lan DNS errors when not supplying an optional keyword / parameter"
## The problem

The WoL integration causes issues with CoreDNS when the "Host" parameter is not set. The documentation suggests that "HOST" is an optional key however, whenever it is not set the CoreDNS container reports the following error messages:

Oct 06 14:03:24 HomeAssistant 1008d0f60de7[458]: [ERROR] plugin/errors: 2 none.local.hass.io. A: unreachable backend: no upstream host
Oct 06 14:03:

[2020-10-06 14:12] dshokouhi commented on #39165
@twosh just edit the `sensor.py` file and replace `UNIT_PERCENTAGE` with `PERCENTAGE` should solve that :)

[2020-10-06 14:17] iamthew4lrus789 commented on #40612
@jasondefuria Not seeing any zeroconf errors in my log, no. Apologies for slow response.

[2020-10-06 14:21] Cyberfighter commented on #40473
This seems to have been fixed in 0.116. Thanks!

[2020-10-06 14:21] #40473 closed

[2020-10-06 14:22] spacegaier commented on #35524
I can confirm the issue (0.116 dev). For a few hours I just left my instance running with the integration and you can see the step-wise increase in RAM usage. Then I stopped the HA instance and restarted but removed the integration and the RAM usage basically stayed the same. No other change between the two runs was made on the instance or the hardware.

![image](https://user-images.githubusercont

[2020-10-06 14:29] twosh commented on #39165
Done and perfect - thank you for that as well! From my standpoint I would say that the changes you've done could be merged. :)

[2020-10-06 14:46] puddly commented on #41263
Same issue as https://github.com/zigpy/zigpy/pull/515?

[2020-10-06 14:52] waaacko opened #41339 "Broadlink Learning / Sending glitchy"
## The problem

New Broadlink remote integration seems to fail when learning and sending commands. I have been using Broadlink as switches and they are still working fine. As example using switch.turn_on switch.onkyo, properly turns on the receiver.

When trying to learn commands with the new integration in development tools>services:
[code]
A file is properly created under .storage called broadli

[2020-10-06 15:09] vangorra commented on #40631
After many days of polling the device, I was able to get failures. However, it appears the device itself stops responding to all network actions while it's not available. I also noticed the device tends to go unavailable when the humidity increases. So if it rains really hard, my gate's availability will become unreliable. The garage unit also will get unreliable but less often.
I'll try a couple

[2020-10-06 15:10] Quentame commented on #40473
Okey, reopen if needed.

Thanks.

[2020-10-06 15:18] Spirituss opened #41342 "Fast memory leakage in 0.116"
## The problem

I observe continuous memory leakage since upgrade to 0.116b.
Here is the picture of the memory use in 0.116b5:
![IMG_4147](https://user-images.githubusercontent.com/47206760/95221384-0f05e980-0800-11eb-8dcb-eb4142d63e37.JPG)

And here is the same config but in 0.115.3:
![IMG_4143](https://user-images.githubusercontent.com/47206760/95221489-280e9a80-0800-11eb-990b-f1cbcea48f34.jpg)

[2020-10-06 15:21] krue81 opened #41344 "WebOSTV loses app input sources"
## The problem

I have my LG OLED B7 working with my Home Assistant setup via the WebOSTV integration. I can turn on/off the TV and send button commands, but I've been unable to select apps via media_player.select_source as the TV only show its physical inputs (HDMI1 to HDMI4) on HA.
After power cycling the TV (off then on), its media player entity briefly shows all the inputs (YouTube, Netflix, e

[2020-10-06 15:23] Adminiuga commented on #41263
Yes

[2020-10-06 15:24] Spirituss commented on #40597
@elupus
My integrations are:
- Alexa Media Player
- Broadlink
- ESPHome
- Google Cast
- Logitech Squeezebox
- Mobile App
- Mosenergosbyt
- MQTT
- NUT
- Spotify
- Starline
- Synology DSM
- Tuya
- Ubiquity Unifi
- Xiaomi Gateway
- Yeelight
- Certificate Expiry

[2020-10-06 15:24] MartinHjelmare commented on #41342
We need to pinpoint the integration or module that is causing the memory leak. Try to disable all integrations and see if the problem remains. If not, add half of the integrations back. If the problem comes back remove half of the added integrations and keep doing this until you know what integration is the cause.

[2020-10-06 15:25] Spirituss commented on #40676
@PhracturedBlue, @tetienne
Guys, could you take a look on this issue?

[2020-10-06 15:35] Spirituss commented on #41342
@MartinHjelmare
How can I temporary disable the integrations which were added via GUI?

[2020-10-06 15:39] Spirituss commented on #40728
@Koenkk
I rotated the dimmers 3-4 times and received more than 1000 ```MQTT publish: topic``` messages.

[2020-10-06 15:43] volshebniks opened #41346 "Broadlink MP2 (0x7540) stopped working 0.115.4"
## The problem
Broadlink MP2 (0x7540) previously worked, does not work under new configuration flow. Gets Unsupported device: 0x7540 error.

## Environment
Home Assistant Core release with the issue: 0.115.4
Last working Home Assistant Core release (if known): 0.114.x i think?
Operating environment (OS/Container/Supervised/Core): HasssOS
Integration causing this issue: Broadlink
Link to integratio

[2020-10-06 16:02] viktak commented on #32496
Same issue here on latest everyting... It's been going on for a few releases.

[2020-10-06 16:04] pandabear41 commented on #41305
How exactly do you unconfigure the integration and re-configure it? Do you clean up everything from DB?
I remove yaml and delete integration using three-dot icon -> Delete on integration list page. Followed by a restart of HA. Then yaml it back in. It fixes it for about a day until spamming me with re-auth prompts on TV again.

[2020-10-06 16:21] ackstorm23 commented on #37118
.

[2020-10-06 16:26] andersnp1 commented on #41305
I'm seeing the same issue with my Samsung TV. I have connected Home Assistant to the TV manually in the GUI, but using hostname. After about a week, Home Assistant will start to request permission every few seconds regardless of how fast I press accept. I too can fix it by removing the integration, restarting Home Assistant and adding it again, but after some days (usually a week's time) it will h

[2020-10-06 16:26] firstof9 commented on #40816
Looks like https://github.com/home-assistant/core/pull/40460 should clear these outstanding issues.

[2020-10-06 16:37] FilippoS1973 commented on #40450
Same issue here. I opened a topic on HA forum

[2020-10-06 16:38] springstan commented on #41342
@Spirituss you cannot temporarily disable them, but you can remove them by going to `Configuration` -> `Integrations` and then click on the three dots for the relevant integration and it will give you the option to delete it.

[2020-10-06 16:40] chriscn opened #41352 "Somfy, reduce polling rate."
## The problem
I have just recieved an email from Somfy detailing that we are polling the endpoints very highly. I wondered if we could add a polling rate
<img width="604" alt="Screenshot 2020-10-06 at 17 36 15" src="https://user-images.githubusercontent.com/25829276/95231160-b54ef080-07fa-11eb-91f5-90a1c4d9d14e.png">

## Environment
- Home Assistant Core release with the issue: 0.115.6
- Last wor

[2020-10-06 16:45] Tacchi1983 commented on #41352
Got the same e-mail !

[2020-10-06 16:46] Shulyaka opened #41354 "Automation: Holding state trigger breaks on automation reloading"
## The problem

Hi! I noticed that a holding state trigger (i.e. with `for` condition) does not fire if the `automation.reload` service is called when the entity is already in target state but the time has not passed yet. For example, consider a simple heater that is turned on and off every minute. If I then edit any automation via UI (even an unrelated automation), it will implicitly call the `au

[2020-10-06 16:52] nbarrientos commented on #40232
In my case after upgrading from 0.114 to 0.115.6 my binary sensors build upon the `ping` platform don't work at all. No warning/errors on the logs and looking with tcpdump hass is not even generating ICMP traffic.

[code]

`host.example.org` is IPv6 only. This configuration used to work just fine.

[2020-10-06 16:55] bdraco commented on #40232
@nbarrientos Can you post the results of https://github.com/ValentinBELYN/icmplib/issues/15#issuecomment-703809612 here and there ?

[2020-10-06 16:55] Gotanius commented on #41352
Got the, same letter. Somfy is, setting a deadline of 2020/10/31 after which they might start banning.

[2020-10-06 16:55] Spirituss commented on #41342
@springstan
It means that I have to re-config almost all my HA setup. It is bad idea which I'm not ready to. Guys, that's why the mass migration of integrations from YAML to GUI is a big ill.
In case either one has more than one instance or some integrations should be temporary disabled, he needs to reconfigure HA again and again.
Could you propose any other debug technique?

[2020-10-06 16:57] Scialla opened #41355 "Zeroconf fails continuosly trying to get info or to add hap-xxxx device"
## The problem
 **Many same zeroconf error in log**

## Environment
 **Rasp 3b with Buster**

- Home Assistant Core release with the issue: **0.115.6**
- Last working Home Assistant Core release (if known): **some version ago (don't remember)**
- Operating environment (OS/Container/Supervised/Core): **Core in venv**
- Integration causing this issue:
- Link to integration documentation on our websi

[2020-10-06 17:00] Spartan-II-117 commented on #40471
I'm afraid that I can't help you any further, it appears that all your integration issues are likely being caused by your hardware. Upgrading to an SSD (or a NUC) will hopefully solve your issues. If you continue having issues I would suggest starting from scratch and add one component at a time to see where the problem starts occuring.

[2020-10-06 17:02] frenck commented on #41354
Honestly, this is expected behavior. At most, we could add a note to the documentation about this.

[2020-10-06 17:09] tkacikdominik commented on #41143
@mountainsandcode I try the RESTful sensor on my HA with core 0.115.6
### My configuration.yaml
[code]
I try it with scan_interval above 30 and also with scan_interval below 30,
and it works in both case.

[2020-10-06 17:09] sagitt commented on #40816
when beta with this fix will be released, i'll try it immediatly!

[2020-10-06 17:12] christopheBfr commented on #41352
I sent an email to Somfy API developer support to  ask what is the allowable poll rate , also I ask them to extend the dead line, Home Assistant sprint duration is not compatible with the 31th of october deadline.

I also ask them to not limit or ban us (their customers !) before we find a solution.

 @tetienne The job is for you.

Merci @tetienne , nous comptons sur toi !

[2020-10-06 17:15] Spirituss commented on #39278
I miss the news re. this integration...

[2020-10-06 17:15] xhalo32 opened #41356 "!secret in secrets.yaml causes RecursionError"
## The problem

Using `!secret` in `secrets.yaml` causes an infinite loop. Clicking validate config results in an endless spinner. I did not try restarting after adding the change, but I suspect hass would crash.

## Environment

- Home Assistant Core release with the issue: `homeassistant/qemux86-64-homeassistant:0.115.6`
- Last working Home Assistant Core release (if known): -
- Operating enviro

[2020-10-06 17:17] nbarrientos commented on #40232
Hadn't read that sorry, actually I was doing my own tests :p

[code]

The problem seems to be that `icmplib` fails to ping hostnames that only resolve to AAAA entries.

You can probably reproduce the same with `ipv6.google.com`:

[code]

Hope this helps.

It's a different issue from the one described on this ticket, sorry about that. Hope you can take over from here.

[2020-10-06 17:18] dscao commented on #36624
Logger: homeassistant.components.broadlink
Source: components/broadlink/config_flow.py:46
Integration: Broadlink (documentation, issues)
First occurred: 3:51:54 (9 occurrences)
Last logged: 4:34:18

Unsupported device: 0x7d11. If it worked before, please open an issue at https://github.com/home-assistant/core/issues

0x7d11   sp mini 3

[2020-10-06 17:20] bdraco commented on #39278
Please refrain from requesting frequent status updates as it does not help get you a response faster.  It is likely your issue will be ignored instead. Please read http://www.catb.org/esr/faqs/smart-questions.html before posting again.

[2020-10-06 17:23] nbarrientos commented on #40232
As expected replacing the hostname by the IPv6 address in the binary sensor configuration works around the issue. Hass is again producing ICMP(v6) traffic and the binary sensor works.

![image](https://user-images.githubusercontent.com/131893/95238154-63fa2d80-0809-11eb-97ad-dfac83457348.png)

To me this is clearly a bug (regression?) in icmplib.

[2020-10-06 17:27] bdraco commented on #40232
It appears so.  Would you please open an issue with `icmplib`?

[2020-10-06 17:28] firstof9 commented on #40816
Might not be fixed till 0.117 😨

[2020-10-06 17:30] bdraco commented on #41342
I'm relatively sure I've fixed the leak in #41349 unless the its a different one from what you are reporting here.

[2020-10-06 17:31] Mariusthvdb commented on #40292
this is a bit too dangerous for my production system. Couldn't this be setup via the Portainer Add-on? https://github.com/hassio-addons/addon-portainer

[2020-10-06 17:31] sagitt commented on #40816
very bad, i've issue on 0.115 with knx, solved in 0.116b...... and now 0.116 have a bed issue with ZM... solved in 0.117..... i'm going crazy, i can'd go back 0.114.

[2020-10-06 17:32] Spirituss commented on #41342
@bdraco
Which beta version are you going to include this fix?

[2020-10-06 17:33] Koenkk commented on #40728
@Spirituss can you open a new issue here: https://github.com/Koenkk/zigbee2mqtt/issues and provide the debug log + your `configuration.yaml`. I think this doesn't belong here.

[2020-10-06 17:34] bdraco commented on #40292
I don't see why not.  As long as you can enter the docker container, you should be able to install `py-spy`

[2020-10-06 17:44] belidzs commented on #41250
@wesleygas can you provide the relevant error logs? I'm using the same integration on 0.115.2 and I have no problems with it.

[2020-10-06 17:51] gieljnssns commented on #40292
And if you up- or downgrade HA you have a new container.
Then you have to reinstall py-spy, so I don't see why this is dangerous.

[2020-10-06 17:52] Hypfer commented on #41352
This _might_ be considered off-topic, but FYI at least for somfy rts, there seems to be a solution which avoids their cloud and therefore this issue altogether.

It can be found here: https://github.com/filipmaelbrancke/ha-rflink-rts

[2020-10-06 17:52] thomasloven commented on #41352
Do not reply to this issue only to say you also got the email. Just leave a thumbs up on the original post.

[2020-10-06 17:54] Emilv2 commented on #41189
I'm having the same issue, but when I try running from my development machine to find the issue it works without issue.

[2020-10-06 17:58] dfarrall commented on #41339
Echoing this, the codes are huge now and adding them to a script doesn't trigger my RF devices. This was the case in 0.115.6 and 0.155.5, unsure if it worked prior.

[2020-10-06 18:00] jes1417 opened #41358 "Media Browser not showing local media"
## The problem

I have my media_source set to my local media folders, all folders are accessible through the media browser but the content in them is not. All of my music media is in .FLAC and the media browser shows empty folders. I also noticed that the only video files that show up are .mp4 most of my video media is in .mkv So they don't show either.

## Environment

- Home Assistant Core relea

[2020-10-06 18:12] #41342 closed

[2020-10-06 18:18] Shulyaka commented on #41354
Is it possible to convince you to reconsider that approach? When a user changes an unrelated automation via UI he hardly expects to break the loop like in my example.
As a programmer, I understand why it is like this, but as a user I would really like an automation to recover its state upon loading.

[2020-10-06 18:19] wesleygas commented on #41250
Sure! At first I didn't get anything in the logs, but then I remembered to lower the logger's default level... Silly me. I updated the first post.

[2020-10-06 18:23] felipediel commented on #41339
RF learning is not supported (it never was). I created a [PR](https://github.com/home-assistant/core/pull/39671) to implement this functionality, but it will hang on while we discuss some [architectural changes](https://github.com/home-assistant/architecture/issues/438). For now you can learn RF with the python-broadlink library and send the codes with the `b64:` prefix.

[2020-10-06 18:29] WilldabeastHA commented on #40411
@balloob I'm having the same issues with aioshelly 0.3.4
switches become unavailable and available every few minutes/seconds and appears to be happening more often.

![image](https://user-images.githubusercontent.com/45765518/95244571-27fea280-07e0-11eb-923d-e0600994e42e.png)

[2020-10-06 18:32] #40728 closed

[2020-10-06 18:36] syssi commented on #41189
What's the difference of both setups? Docker vs. non-docker? It looks like the multicast traffic doesn't arrive the host.

[2020-10-06 18:51] AlbertDijksma opened #41360 "When I restart OpenZwave (0.5.2) all my scenes (Remotec ZRC-90) are triggered."
## The problem
When I restart OpenZwave (0.5.2) all my scenes (Remotec ZRC-90) are triggered.
This gives up very unpleasant situations.

## Environment
Home Assistant 0.115.6
OpenZwave  0.5.2

[2020-10-06 18:56] felipediel commented on #36624
@dscao Could you help me with some tests so I can add support for your device?
[code]
[code]
What is the output?

[2020-10-06 18:57] felipediel commented on #36624
Then:
[code]
What is the output?

[2020-10-06 18:57] AndreiRadchenko commented on #36141
My config:

[code]
and i am also have configured ONVIF cameras through the UI

[2020-10-06 18:58] kpine commented on #41360
Can you post your automation code?

[2020-10-06 18:58] Emilv2 commented on #41189
Yes, it doesn't work on my Docker setup, but it does in a virtualenv.

[2020-10-06 19:03] AlbertDijksma commented on #41360
- id: '1591862409206'
  alias: Scene master eettafel verlichting aan/uit
  description: ''
  trigger:
  - event_data:
      node_id: 2
      scene_value_id: 0
      scene_id: 2
    event_type: ozw.scene_activated
    platform: event
  condition: []
  action:
  - device_id: a0b7e7f1ce804dd1adbe26e85b387b10
    domain: light
    entity_id: light.eettafel
    type: toggle
  mode: single
- id: '159186

[2020-10-06 19:07] kpine commented on #41360
`scene_value_id` means "Inactive". Is your intent actually to trigger on that value?

[2020-10-06 19:18] Emilv2 commented on #41189
I don't think it's that, I just tried with a clean Docker install and it works there as well.

[2020-10-06 19:21] GijsvanDulmen commented on #41352
I also send some feedback towards Somfy (beginning of this year and today again) about providing a way of receiving events through a webhook push or such. This would seem a better way to reduce the polling. I would suggest providing the same feedback.

[2020-10-06 19:24] #40881 closed

[2020-10-06 19:38] AlbertDijksma commented on #41360
Oh how stupid.
Is my mistake.
Thanks for the quick response.
The case may be closed.

[2020-10-06 19:41] kpine commented on #41360
It is something to be aware of though. In either case, an HA restart or OZW restart, some values like scenes may cause a trigger.

[2020-10-06 19:46] #41360 closed

[2020-10-06 19:51] christopheBfr commented on #41352
Perhaps also another way can be to have a simple REST API on the Tahoma box itself to poll the Tahoma box locally rather than to reach Somfy site... But we can dream :-)

[2020-10-06 20:01] #41286 closed

[2020-10-06 20:14] MattPark commented on #38900
Safe to ignore?  Is there a fix that needs to be done?  Any short term guidance?

[2020-10-06 20:15] hunterjm commented on #41358
Most web browsers doesn't support playing FLAC/Matroska files. I believe Chrome recently added FLAC support.  Either way, we are using the built-in python mimetypes library to determine if it is a playable media file.

[2020-10-06 20:22] Kane610 commented on #38900
Yes it is safe to ignore, it is just the entity not being set up.

[2020-10-06 20:40] pboschi opened #41363 "Fritz device tracker not working anymore"
## The problem
The AVM Fritzbox router's "fritz" device_tracker doesn't seem to work anymore since some time. All devices detected on previous HA versions are now always not_home. During HA boot, an "unknown service: Hosts1" error is displayed during fritz startup.

## Environment

- Home Assistant Core release with the issue: 0.115.5
- Last working Home Assistant Core release (if known): 0.110
-

[2020-10-06 21:07] ygreq commented on #41263
So I am guessing from the talks on zigpy that I would better wait for a fix on a new version of HA?
Maybe I should not bother for now to reinstall ZHA, right?

[2020-10-06 21:14] Quentame commented on #39278
Fix proposed #41364

[2020-10-06 21:16] Adminiuga commented on #41263
hoping to get it in by the release. 0.116.1 at the latest

[2020-10-06 21:18] Mariusthvdb commented on #40292
real sorry, but I cant see how to install in Portainer. thought it to be the safest/easiest way to use extra container installs in HA OS, but maybe it isn't available after all.

[2020-10-06 21:21] uSpike commented on #40194
This is broken for me too on Home Assistant 0.115.6.  If i try to reconfigure spotify the url looks like `https://accounts.spotify.com/authorize?response_type=code&client_id=[redacted]&redirect_uri=http://127.0.0.1:8123/auth/...`.

I have external and internal URLs configured:
![ha_spotify](https://user-images.githubusercontent.com/5686650/95261127-736c7d00-07ef-11eb-8d07-3869460841a8.png)

There

[2020-10-06 21:56] cgorms commented on #41315
I'm experiencing the same issue

[2020-10-06 21:59] peleccom commented on #40875
Done in #41368

[2020-10-06 22:04] fernando155 commented on #40487
49ex600 here too. Always unavailable until reboot the integration or ha and only if the tv is on. After turning off, comes again unavailable. No logs as far as I can see.
Just upgrading from 114 to 115, nothing else been change.

[2020-10-06 22:04] balloob commented on #41352
We will include a fix in 116 to reduce the polling rate. If anyone wants to open a PR, please. Otherwise I will hack something together but I won't be able to test it. Will just change some knobs.

[2020-10-06 22:06] balloob commented on #41352
They talk about Somfy, is it just Somfy or also Tahoma integration ?

[2020-10-06 22:19] boost4brains commented on #21768
so i'll admit i'm super noob on home assistant.  i have the same problem as OP, my switch takes too lunch to update status and ruins my automations.  i need the physical actation of a switch to be registered faster, or else people just stand there hitting the switch several times thinking its broken.

here is what i input under developer tools>services then i left the service selection tab blank b

[2020-10-06 22:29] dandelionclock commented on #21768
Shouldn’t that be put in automations.yaml?

[2020-10-06 22:34] szjani commented on #37004
Works for me with HA 0.115.6 with the following configuration:

[code]

[2020-10-06 22:39] #40397 closed

[2020-10-06 22:40] #40875 closed

[2020-10-06 22:52] Adminiuga commented on #36824
Fixed in HA 0.115.4

[2020-10-06 22:52] #36824 closed

[2020-10-06 23:14] #39278 closed

[2020-10-06 23:15] #38281 closed

[2020-10-06 23:15] #39951 closed

[2020-10-06 23:15] #41263 closed

[2020-10-06 23:22] MartinHjelmare commented on #40578
We should replace the `wrong_login` key with `invalid_auth` for smarthab.

[2020-10-06 23:22] iMicknl commented on #41352
@balloob the TaHoma integration is broken for a while, see ([Home Assistant Alert](https://alerts.home-assistant.io/#tahoma.markdown)). We just opened the first PR to fix it, however this will take some time. https://github.com/home-assistant/core/pull/41267

This could help, but I am afraid the issue is more complex. I believe that @tetienne already contacted Somfy, to understand what the culprit

[2020-10-06 23:26] MartinHjelmare commented on #40578
We should replace the `service_unavailable` key with `cannot_connect` for alarmdecoder.

[2020-10-06 23:26] jes1417 commented on #41358
Chrome can definitely play the .flac files

![Screenshot_20201006-182551.png](https://user-images.githubusercontent.com/38092747/95270604-78d2c300-0801-11eb-8463-6b9957877b85.png)

[2020-10-06 23:32] jes1417 commented on #41358
I don't care about playing the .mkv files as I would use other means of playing them but the flac files I would like to use and they are supported in the browser.

my Chromecast and Onkyo amp can definitely play these files and they do not show up when I select these players either...

[2020-10-07 00:10] hunterjm commented on #41358
Again, this is likely a limitation with Python determining the mime type of the file. Python by default only recognizes file types registered with the IANA: https://www.iana.org/assignments/media-types/media-types.xhtml

The fix is likely either adding strict=False or adding custom handling for FLAC files. Do you have a non-copyrighted FLAC file you can upload to this issue for testing?

Additiona

[2020-10-07 00:32] XSebastiaan commented on #40411
Just updated to version 0.115.6 by using pip3 install --upgrade homeassistant

But still "2020-10-07 02:22:44 ERROR (MainThread) [homeassistant.components.shelly] Timeout fetching shellyplug-s-7A2FD9 data"
Is there an option somewhere so i can make the timeout time longer before changing to unavailable ?

Because it is usualy a few seconds.

7 oktober 2020
2:22:49 shellyplug-s-7A2FD9 relay 0 turne

[2020-10-07 01:32] estebanz01 commented on #34771
this is happening again, on latest HA Core: 0.115.6.
[code]

[2020-10-07 01:47] jes1417 commented on #41358
Here is a small file that can be used for testing

https://drive.google.com/file/d/1f60ABvR_B9Eyg7Tswfs0gfIo1c5lgMAo/view?usp=drivesdk

[2020-10-07 06:08] waaacko commented on #41339
But in my case it's a IR remote I'm using to learn commands.

[2020-10-07 06:18] felipediel commented on #41339
We haven't made any changes to the logic of the IR learning function.

[2020-10-07 06:34] SCCMOG commented on #36141
@AndreiRadchenko ok so my is the same, apart from excluding the "camera" domain then including the "camera.octoprint" entity.
I am running Hassbian though, not HassIO.
Still getting, when calling the camera from Alexa.... "Octoprint doesn't support that"
any ideas?

[2020-10-07 06:49] fredrike commented on #35536
@MartinHjelmare what's the best way to handle this? I'm not in control of the connection pool, should I try to catch the issue and retry?

@BradleyFord could you please paste the full log related to this issue, and wrap it in a code block (```)

[2020-10-07 07:07] MartinHjelmare commented on #35536
I'm not sure. I think we should try to find the cause first. If we can get a py-spy dump as asked in the comment above, that might help.

[2020-10-07 07:29] tetienne commented on #41352
Hi all, I will contact the Somfy support with different Somfy maintainers (like Homey) to have a clear response on what they expect. As said @iMicknl, the Somfy component does not have any /setup entry point, so that's unclear on what they expect from us.

[2020-10-07 07:32] riddik14 opened #41383 "automation not load to start"
core ultimate release
supervisor 246

core problem o supervisor problem? from terminal impossible downgrade to supervisor 245 with command "ha su update --version 245"

2020-10-07 09:25:16 ERROR (MainThread) [homeassistant.config] Unknown error calling automation config validator
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/config.py", line 757, in async_process_

[2020-10-07 07:49] ciB89 commented on #25722
I have 3 identical (generic) thermostats, for 1 it's working and for the other two not... I'm baffled. But I also realized that there is no event log for the two that are not working correctly (the other one shows when the settings changed etc).

[2020-10-07 07:54] #41383 closed

[2020-10-07 08:15] gruberpl commented on #40192
I want to do a new, clean installation of Home Assistant, please tell me what version of HassOS should I install so that the MCP23017 extender works for me?

[2020-10-07 08:26] Maco65 commented on #40192
For me and few others it works on 0.114.4
Problems started with 0.115

[2020-10-07 08:27] Kane610 commented on #41182
Did you use the climate service to send the cool value initially when you got the error? It wasn't a button in the interface right?

[2020-10-07 08:36] #38299 closed

[2020-10-07 08:59] gigatexel opened #41387 "InfluxDB no longer parsing Grafana queries"
## The problem

Last night InfluxDB stopped parsing the queries sent by Grafana, without anything changed to HA/Grafana/InfluxDB. Has worked perfectly for several months.

### What is still working?

- InfluxDB is still filling with HA data
- Using Chronograf from within HA, connection to InfluxDB is ok, I can query the DB and view results
- InfluxDB & Grafana start without errors, no errors in Ad

[2020-10-07 09:22] Emilv2 commented on #41189
I think the issue was some conflict between the old yaml config and the new config flow configuration. I removed `.storage/core.config_entries`, `.storage/core.config_entries`, `.storage/core.device_registry`, `.storage/core.entity_registry` and `.storage/core.restore_state`, and redid the configuration which fixed the problem. (I think) it also fixed another issue with sensors showing up as unava

[2020-10-07 09:22] kikothemaster opened #41388 "Is it possible that you add repeats property to segments?"
https://github.com/home-assistant/core/blob/21655e93bfb0838bb66ebbdbffd382d133e28c23/homeassistant/components/xiaomi_miio/vacuum.py#L209

[2020-10-07 09:26] bieniu commented on #40411
Please test new version of the `aioshelly` library.
`pip install git+https://github.com/bieniu/aioshelly.git@semaphore#aioshelly==0.3.5`

@RobBie1221 @t0bse

[2020-10-07 09:30] alundstroem commented on #40411
Can I try/do this in a Supervised/HassIO img installation on an Intel NUC?

[2020-10-07 09:36] bieniu commented on #40411
@alundstroem Yes, the easiest way is to use Shelly integration as custom component with modified `manifest.json` file.

[2020-10-07 09:37] alundstroem commented on #40411
How would I go about doing that? (: @bieniu

[2020-10-07 09:39] bieniu commented on #40411
Wait a minute, I'll prepare a package for you

[2020-10-07 09:40] alundstroem commented on #40411
@bieniu SWEET 👍

[2020-10-07 09:50] frenck commented on #41388
Thank you for reaching out. We use GitHub for tracking issues, not for providing support or tracking feature requests.

If you want to suggest a feature, you should try our [Community Forum: Feature Requests](https://community.home-assistant.io/c/feature-requests).

If you have additional questions, feel free to join our [Discord chat server](https://discord.gg/c5DvZ4e).

Thanks! 👍

[2020-10-07 09:50] #41388 closed

[2020-10-07 09:57] bieniu commented on #40411
@alundstroem https://github.com/bieniu/ha-shelly-test

[2020-10-07 10:02] RobBie1221 commented on #40411
Sure, will test it this evening

[2020-10-07 10:21] ps-tfriedl commented on #40309
I have the same issue - zigbee button press to action response is now higher (1 sec plus) but my worst problem is with one of my knx automation where I have delays in the automation of around 5 seconds (KNX event is recognized and a very simple automation that just takes the value from KNX and puts it into an input_number takes 5 seconds for now reason)

[2020-10-07 10:30] ygreq commented on #41263
@Adminiuga No worries. just needed to know.

Which one of the problems from the list do you think it is going to fix?
-On fresh ZHA install, Ikea devices start pairing themselves without me trying to reset them first. I had to take the batteries out of all Ikea devices and put back one by one.
-Ikea battery powered devices becoming unavailable and having to re-pair them to be available again
-one

[2020-10-07 10:37] FaserF commented on #28601
Hmm, I now a raspberry pi4 and for me its getting even worse. One of the two thermostats doesnt even connect once, the other one looses its connection after a few hours.

[2020-10-07 10:46] boost4brains commented on #21768
@dandelionclock i have no idea, which is part of my problem. I’m trying to figure out what to put where to get the results I want. I saw it was a service request so that’s what I tried. Under automations it won’t let me save it.

I tried the scan_interval with glob_config and it showed accepted but still took on average 20 seconds to initiate an automation.

[2020-10-07 10:48] Kane610 commented on #40309
There is no use putting up any more "me too" comments. To get this fixed some kind of logs as mentioned by bdraco is necessary.

[2020-10-07 10:53] gigatexel commented on #41387
Ok, I got it working again by setting HTTP-method to POST in Grafana -> Configuration -> Data Sources -> InfluxDB source.
With GET, it fails with the above errors. I was under the impression that GET was the default method and should work?

[2020-10-07 10:58] alundstroem commented on #40411
Thanks @bieniu - If I would have had my previous installation (python venv) I'd just copy the folder to custom_components but as I have HassIO (img)/Supervised... how should I do it?

I've added the "Terminal" app from Supervisor/Add-ons but "config/custom_components" does not contain any "shelly" directory... I added the shelly integration through the GUI the same way as I added Google Cast etc.

[2020-10-07 11:00] fredrike commented on #35536
The problem is that the underlying library (requests_oauthlib) have a too small connection pool. I can mitigate that in various ways..

Either have a shorter timeout, make the request blocking or simply increasing the pool.

[2020-10-07 11:02] bieniu commented on #40411
You have to save `shelly` folder from repository in /config/custom_components and restart HA. Nothing more.

[2020-10-07 11:03] alundstroem commented on #40411
Great, thanks @bieniu !

[2020-10-07 11:08] dodg3r commented on #40411
Hi.

I dont know if this is the case but when I granted more processor power to my VM my problems is gone.

My beta (dev) installation on a fresh install rasp2 with only shelly integration installed everything works.

[2020-10-07 11:14] alundstroem commented on #40411
@bieniu I've retrieved the directory, placed it into config/custom_components and restarted HA... all shellies are accounted for now (: I'll keep an eye on it.

[2020-10-07 11:22] garret commented on #28601
@FaserF I don't own a raspberry pi4 but have you tried the `bt-mqtt-gateway` solution described previously in this thread? To me it was the only one that solved the issue (on a raspberry pi3 though).

[2020-10-07 11:33] theleshek commented on #40273
hi

I have same error, internal_url is used during cast instead of external one.
as soon as I change my internal_url to my external address, cast works as it should.

Is there any date set when can it be fixed?
It started for me to be an issue either with version 0.113 or 0.114.

[2020-10-07 11:55] Quentame commented on #41315
I will try to fix this, but not having too much time for now.

Please use the "solution" from #34332 for now.

Thanks.

[2020-10-07 11:58] andynbaker commented on #41182
Yep. Before i made any changes, there was no "cool" option in my thermostat cards. The errors i posted appeared after making a service call to change to cool mode.

I have noticed that my set points aren't actually going through right now, even after the change. It will switch modes just fine, but when I use the climate.set_temperature service, the service fails to change the temperature on the th

[2020-10-07 12:00] Adminiuga commented on #41263
The patch is for fixing the unk_model/unk_manufacturer.

[2020-10-07 12:01] user897943 commented on #38561
Appears to be fixed on 0.116.*

[2020-10-07 12:01] #38561 closed

[2020-10-07 12:02] belidzs commented on #41250
It seems like there's a problem with one of the dependencies of this library.

Could you post the complete list of installed pip modules of the environment home assistant is using? Execute `pip list -l` inside home assistant's python environment to get it.

[2020-10-07 12:03] Quentame commented on #36810
@cachenow do you still experience this ?

Did you experience it after a certain time of HA boot ?

[2020-10-07 12:16] belidzs commented on #41250
Also after you've obtained and posted the original list of modules you can try to upgrade `Adafruit-Blinka` and `Adafruit-PlatformDetect` to the latest version to fix the issue.

[code]

It seems like there were [some](https://github.com/adafruit/Adafruit_Blinka/commit/f8a13c038c45aa5e88ccbc64bf359b77ed938c01#diff-2f24eddf30df964d922ef3a801d37c2a) [code refactoring](https://github.com/adafruit/Ada

[2020-10-07 12:29] SNoof85 commented on #40578
Tomorrow evening I should have enough time to make a full pass on all. Maybe not open PR for all but at least give a full status 👍

[2020-10-07 12:31] bdraco commented on #40309
Its likely your system is cpu load.  I can only guess as to why its loaded without logs, `py-spy`, or callgrinds.  Firing events requires cpu time so the best thing we can do without knowing why your cpu is loaded is reduce the cost of firing events. I've done this in #41314 and #41304. If the issue is caused by high cpu load, this won't solve the underlying cause so you should still investigate.

[2020-10-07 12:41] tetienne commented on #41352
Email sent to the Somfy support. I hope they will clarify their message.

[2020-10-07 12:47] ehn commented on #41315
Thanks for looking into it! Didn't want to apply the "solution" before you had responded in case there would be something I can do to help you debug that would be destroyed by doing so. But if there isn't anything you need me to keep from the current state, I'll do so, as it's quite annoying.

[2020-10-07 13:12] smmoroz commented on #40411
@bieniu , I've installed your recent fix. But the issue is still here. For example,  see exchange with `192.168.1.202`:

[code]

As before, as soon as the message is put into backlog, the device becomes completely unavailable.

If needed, I can provide the complete log.

[2020-10-07 13:22] Shulyaka opened #41396 "Automations on home assistant shutdown are executed too late"
## The problem

The automations on home assistant shutdown are executed after some of the core parts are already shut down, which makes them unusable in most cases.
Please consider the following example: an input boolean and an automation that turns it off on shutdown. Here are the steps to reproduce:
1. Make sure the input boolean is on
2. Go to Configuration -> Server Controls -> Server manageme

[2020-10-07 13:29] balloob commented on #41354
It's not that we're against a more targeted reloading. It's just not a feature that is currently implemented.

Closing this as I consider it not a bug but a feature request :)

[2020-10-07 13:29] #41354 closed

[2020-10-07 13:30] derekatkins commented on #39279
Hi All,
It appears that they have fixed the issues.  They have turned on the new servers (with a 10% chance of hitting them).  Please let me know if you see any errors in your logs.  I did see ONE error at 12:44pm US/ET on Oct 6th, but I've not seen any issues since then, and if I try to manually hit their new server (FTR: `curl --resolve iaqualink-api.realtime.io:443:13.225.230.58`) with a valid

[2020-10-07 13:31] t0bse commented on #40411
i copied the shelly folder in custom components and rebootet now. nothing more to do, just wait for new log entries, right?

for now i still got these entries, but all shellys are running now. i'm talking about 20 shellys integrated.

2020-10-07 15:26:25 WARNING (MainThread) [homeassistant.config_entries] Config entry for shelly not ready yet. Retrying in 5 seconds
2020-10-07 15:29:15 ERROR (MainT

[2020-10-07 13:31] SNoof85 commented on #41387
As this is not a core issue i suggest you to open your issue in the influxDB addon repo : https://github.com/hassio-addons/addon-influxdb
You won't get any help here.

[2020-10-07 13:32] MattiBaat commented on #37327
Got this on Home Assistant 0.115.6

[2020-10-07 13:40] gigatexel commented on #41387
Ok, thanks. Just did that.

[2020-10-07 13:40] #41387 closed

[2020-10-07 13:48] osks commented on #41387
I think this may be related to an issue with aiohttp and yarl 1.6.0 in home-assistant/supervisor, which was just fixed by @ludeeus in Supervisor version 247 (available in beta now): https://github.com/home-assistant/supervisor/pull/2107

@gigatexel I suggest updating Supervisor to 247 and see if it helps.

[2020-10-07 13:54] osks commented on #41387
See also https://github.com/home-assistant/supervisor/issues/2103.

[2020-10-07 14:07] balloob commented on #40273
TTS will use the configured TTS base url or request a url (internal/external)
https://github.com/home-assistant/core/blob/0f3489f5cbcea80f5a5b967cf640d2ed9d928110/homeassistant/components/tts/__init__.py#L120

Stream will return a relative url and leave it up to the media player to deal with:
https://github.com/home-assistant/core/blob/0f3489f5cbcea80f5a5b967cf640d2ed9d928110/homeassistant/compone

[2020-10-07 14:16] balloob commented on #40273
Step 1 to solve this, is that less is more. Remove your internal url if you have set it to `https://<ip-address>`. That is more pain than it's worth. If you really feel like setting it, and your router supports it, set it to your external url.

`https://<ip-address>` will always be invalid as your certificate is meant for a domain name, not an IP address.

[2020-10-07 14:20] balloob commented on #41396
I guess that means we should split stopping Home Assistant in two phases. A stop event for automations, and a stop event for shutting things down.

https://github.com/home-assistant/core/blob/dev/homeassistant/core.py#L462

[2020-10-07 14:31] embcla commented on #40777
seems like a simple enough enumeration issue with the type
tried looking in the logs, but it isn't detailed enough for me
If anyone can share how to debug it, I'll give it a try

[2020-10-07 14:35] epenet commented on #40760
Did you get a chance to test the branch before I open the PR?

[2020-10-07 14:37] #40309 closed

[2020-10-07 14:41] Misiu commented on #40760
@epenet sadly no. My son is ill and after returning home I'm taking care of him, so I won't have time for the next couple of days.
Sorry for that 😕

[2020-10-07 14:44] sycx2 commented on #40906
Hey guys,

I'm currently working on this and got everything to work but I used a little "hack".
In this test

[code]

we're asserting stream_source to be "rtsp://foo:7447/uuid_rtspchannel_0".
But according to the code it calls `re.search(self._nvr._host, uri)`, so it finds the uri containing the _host.

Now my question, why is the value of `self._nvr._host` (in this call `uvc._nvr._host`) the stri

[2020-10-07 14:45] bdraco commented on #40292
I am going to leave this closed since 0.116 is hours away.  If the problem persists in 0.116 please start a fresh case.

[2020-10-07 14:45] WilldabeastHA commented on #40411
so far aioshelly 0.3.5b1 has fixed the issue for me. I've been running for just over 1 hour with out any unavailable status. I will update if it changes. Many thanks for the work on this!

[2020-10-07 14:46] rmertz3282 commented on #39279
For the most part my system is stable but I still see the occasional error. The latest was at 12am today.

![image](https://user-images.githubusercontent.com/60217294/95346847-415c2900-088a-11eb-922b-9dffa87ec117.png)

[2020-10-07 14:46] epenet commented on #40760
No worries - there are more important things in life than PRs.
Take good care of him.

[2020-10-07 14:47] alundstroem commented on #40411
For me as well, but when I updated from 115.3 to 115.6 it survived 1-2 days too... so I dont know if I can say (for sure) that it is fixed yet ^^ but so far so good

[2020-10-07 14:49] logan893 opened #41403 "Google Cast integration, entities for speaker pair or its component speakers in state Unknown when playing"
## The problem
I have two Google Home Mini speakers configured as a speaker pair. In Home Assistant I have entities for both the individual speakers, as well as the pair. When they are idle, their state is 'off' as expected.

In some scenarios, the individual speakers and sometimes also the speaker pair entity have the state 'Unknown' instead of 'Playing' when streaming music to them via Spotify.

[2020-10-07 14:50] bdraco commented on #41355
Its fixed in this PR upstream
 https://github.com/jstasiak/python-zeroconf/pull/307

Once it's merged and a new zeroconf release is done, we can bump the version and put this issue to bed

[2020-10-07 14:56] derekatkins commented on #39279
This error is similar to the 1 error I saw, but I received it at noon-ish on Oct 6th.  I wish it would print out the HTML received on this error.  :(

[2020-10-07 14:56] gieljnssns commented on #40292
Will this be in `v0.116.0`?

[2020-10-07 15:00] S-Przybylski opened #41404 "History_stats error 0.117.0.dev20201007: int instead of str"
## The problem

The history_stats component complains since 0.117.0.dev20201007 about the end value. To should be str instead of int.
I tried with several datetime conversion filter, but nothing resolved my issue....

## Environment

Raspi4 docker container

- Home Assistant Core release with the issue: 0.117.0.dev20201007
- Last working Home Assistant Core release (if known): 0.117.0.dev20201006

[2020-10-07 15:02] waaacko commented on #41339
Strange....

Tried to learn the codes with python-broadlink and it gave me the same behavior from the beginning. Long codes that could not be sent back.

I tried different remotes, moving closer etc and suddenly for some reason it started to give me correct short codes. I tried with the original remote and command...and it continued to give me correct codes. Went back in to Home Assistant and thro

[2020-10-07 15:03] bdraco commented on #40292
0.117

[2020-10-07 15:10] bsfaxi opened #41405 "Sensor entity type ZHASwitch is not created in HA from deCONZ integration"
## The problem

I have acquired a wireless switch that works with deCONZ and is categorized as a sensor. This wireless can fire 3 different scenes depending on the event: 1 click, 2 clicks or long press.
The APIs shows correclty the 3 different events: 1002, 1004 and 1003.
For example calling the url "http://localhost/api/79971660D3/sensors" shows:
...
"3":{"config":{"battery":98,"on":true,"reacha

[2020-10-07 15:41] TuomasPakkanen commented on #37372
It's been about 24 hours after setting up my Home Assistant instance on an SSD by restoring the backup that I made with the SD card and I haven't yet seen any unavailability issues. Performance seems quite a bit better when it comes to lights always responding to remotes etc. All good so far.

[2020-10-07 15:46] DODMax commented on #38740
Hi there, seems like 0.115 "slots" is not a valid property anymore for MP1. Where can we change the name of each slot? Thanks.

[2020-10-07 15:49] felipediel commented on #38740
All entities are registered now, you can change their name on the UI.
https://www.home-assistant.io/integrations/broadlink/

[2020-10-07 15:51] MartinHjelmare commented on #40906
`"foo"' comes from the config item `"nvr"` which represents the host address.

[2020-10-07 16:18] felipediel commented on #41339
If you press the button for a longer time during capture it will impact the size of the captured code. The codes are usually separated by a "toggle bit". This is what differentiates short press from long press.

[2020-10-07 16:42] cmulk commented on #40348
I had some (possibly) related issues with the user agent on a different project I worked on with the SmartMeterTexas API. The only way I could get it working consistently in the end was to use a browser user agent. Please take a look at [cmulk/python_smartmetertx](https://github.com/cmulk/python_smartmetertx/blob/master/api.py) and see if that helps you any.

[2020-10-07 16:48] AndrewGWalsh opened #41410 "Zeroconf repeatedly suggests the same Synology SRM integration despite it being installed and repeatedly ignored"
Zeroconf repeatedly suggests the same Synology SRM integration despite it being installed and repeatedly ignored.
This has been a problem for a number of releases now.

## Environment
arch | armv7l
chassis |  
dev | false
docker | true
docker_version | 19.03.13
hassio | true
host_os | Raspbian GNU/Linux 10 (buster)
installation_type | Home Assistant Supervised
os_name | Linux
os_version | 5.4.51-v

[2020-10-07 16:49] vukisz commented on #37372
Well I have raspberry pi 3 with SSD via USB.
And I still have issues. Not every day, but a couple times per week. Attaching temperature sensor log of one week period
![Screenshot_20201007-194657](https://user-images.githubusercontent.com/48272340/95362007-26afa180-08d6-11eb-8129-5c5ec3e39bbe.jpg)

[2020-10-07 16:50] realjax commented on #40612
This did fix my tradfri connection problems on a hassio install. I am now running a docker variant to see if it fixes the problems I had there as well.

[2020-10-07 17:00] fredrike commented on #40578
daikin looks good https://github.com/home-assistant/core/blob/dev/homeassistant/components/daikin/strings.json
point looks good https://github.com/home-assistant/core/blob/dev/homeassistant/components/point/strings.json

[2020-10-07 17:14] t0bse commented on #40411
before aioshelly 0.3.5.b1:

[code]

after update (custom component)

[code]

[2020-10-07 17:21] willheineman commented on #36496
I am having the same issue, and my logs are identical to those posted above.

I am using a duckdns wildcard cert, NGINX reverse proxy, and my Home Assistant is accessible from the public internet.

[2020-10-07 17:40] janiversen opened #41415 "Update modbus integration to use pymodbus 2.5.1 when available/stable"
## The problem

A number of reported problems with the modbus integration is in reality problems in the 3rd party library.

Currently pymodbus 2.3.0 is used by the modbus integration. Pymodbus 2.5.0 is the newest version, but there are a tcp problem in that release so we wait to see a stable 2.5.1

This PR keeps track of the open issues and PR in pymodbus relevant for our integration.

The expecta

[2020-10-07 17:41] janiversen commented on #41415
Maintainers: feel free to assign this one to me.

[2020-10-07 17:41] nettosama commented on #40273
My case is using cameras, casting through an script using **camera.play_stream**.
I changed internal_url to the match my external_url (YAML configuration).

Now the error looks like this:

[code]
*** being my external_url which is correctly accessible from outside (I can even open the reported url through VLC, though it stops after a second)

[2020-10-07 17:51] Eagleman7 commented on #41189
I tried to reproduce your steps. After removing above config files the sensors would still not work. Then I tried to remove the xiaomi integration and it either says: User input malformed or Invalid gateway key when filling out the api key.

[2020-10-07 17:52] Eagleman7 commented on #41189
In my case the only thing that changed was the upgrade to the newer version. I didn't not do any modification to the docker file or firewall on the host.

[2020-10-07 17:56] Bitmasss commented on #41189
@Eagleman7 are you using VLANs by any chance?

[2020-10-07 17:57] Eagleman7 commented on #41189
@Bitmasss Yes I got 5 VLAN's at my home. However the network interface of the VM is on the same VLAN my Xiaomi Aqara Gateway is. + it always worked this way, but broke after the new Xiaomi integration update.

[2020-10-07 18:02] Bitmasss commented on #41189
For what it's worth, I've just setup my new Unifi kit, VLANs and all. Spent all day trying to figure it out (much to the annoyance of my household), but reverted back to putting HASS and the Xiaomi gateway on the local LAN as I could not get it working correctly using the new integration on a VLAN. It would pull through all my sensors (25+), but wouldn't update their states when changed (it would

[2020-10-07 18:03] Eagleman7 commented on #41189
So my key was wrong :)

I followed the following process:

1. Update from 0.111.4 to 0.115.6
2. remove the xiaomi aqara configuration from the configuration.yaml
2. stop the home-assistant container
3. remove the following configs:
.storage/core.config_entries, .storage/core.device_registry, .storage/core.entity_registry and .storage/core.restore_state
4. start the home-assistant container
5. setu

[2020-10-07 18:04] Eagleman7 commented on #41189
But it worked great for me on a previous version. And with the newest versions all sensors work, except the xiaomi switch sensor which stay at last_state: null.

[2020-10-07 18:05] brandon-segal commented on #40907
Hey I can take this on. I have experience in writing pytest for my job at CapOne so this should be a fairly fast turnaround.

[2020-10-07 18:05] janiversen commented on #40936
Have tested this problem further, but I am not able to reproduce it, nor can I see where values can get mixed in our code.

However this Issue was just raised in pymodbus:
https://github.com/riptideio/pymodbus/issues/538
Previous response from modbus device returned as current response when using sync TCP over network with lag

This sounds a lot like the same problem. Once I see a PR (in pymodbus)

[2020-10-07 18:17] Veldkornet opened #41416 "SynologyDSMAPIErrorException if no cameras starting 0.116.0"
## The problem
After updating to HA 0.116.0, the Synology DSM integration no longer works. I was using the integration for monitoring the disks and volumes on the NAS.
I receive the following error (note, I do not use SurveillanceStation) ad none of the sensors work anymore :

`2020-10-07 19:36:26 ERROR (MainThread) [homeassistant.config_entries] Error setting up entry 192.168.1.2 for synology_dsm

[2020-10-07 18:17] Bitmasss commented on #41189
Well my situation might be slightly different then. Mine worked before moving to a VLAN. It would bring all the kit through, just wouldn't report back the change in states...All my sensors were getting last_state: null also. I only got them back working moving them back to the regular lan using 0.116.

[2020-10-07 18:21] Veldkornet opened #41418 "Updating state for climate.thermostat (<class 'homeassistant.components.toon.climate.ToonThermostatDevice'>) took 0.484 seconds"
## The problem

After updating to HA 0.116.0, the log displays a warning that it took long to update the toon state, and that I should log a bug. Hence, here it is :)

## Environment

- Home Assistant Core release with the issue: 0.116.0
- Last working Home Assistant Core release (if known): 0.115.6
- Operating environment (OS/Container/Supervised/Core): hassio
- Integration causing this issue: to

[2020-10-07 18:26] RobBie1221 commented on #40411
Did you find side effects from the NON message type?
This version is not working for me. Honestly speaking, I'm clueless as to why the NON messagetype doesn't fail. I've been debugging the `aiocoap` and it seems to me the UDP6EndpointAddress is pretty dead. This connection is built up from sockets. Sockets have one basic disadvantage, when one side goes down hard (essentially without `close()`), t

[2020-10-07 18:26] Veldkornet opened #41420 "Challenge/Response error with SniTun server"
## The problem

After updating to 0.116.0, I have the below SniTun errors in the long. These have potentially been there prior to 0.116.0, I didn't really take note.
I do use NabuCasa if that's of any relevance.

## Environment

- Home Assistant Core release with the issue: 0.116.0
- Last working Home Assistant Core release (if known):
- Operating environment (OS/Container/Supervised/Core): hassio

[2020-10-07 18:29] RobBie1221 commented on #40411
FYI, this is how the logs looks like with NON message type (where it picks up again)

[code]

[2020-10-07 18:31] KrzysiekLegnica commented on #41012
## The problem
Integrations https://www.home-assistant.io/integrations/onvif/. No sensor registrations and no show mottion event.

## Environment

Home Assistant 0.115.6
host_os	HassOS 4.13
installation_type	Home Assistant OS
os_name	Linux
os_version	4.19.127-v7l
python_version	3.8.5
supervisor	246
Camera NVT model: HI3516EV200_85HF30T_S38 firmware: V5.00.R02.000559CD.10010.040b00..ONVIF 2.41

- H

[2020-10-07 18:32] Spirituss commented on #39278
@springstan @Quentame
I upgraded to 0.116, still can't even add the integration.

[2020-10-07 18:33] hirschy81 commented on #41060
After a restart of HA I was able to select the integration + choose a country for configuration - weird

[2020-10-07 18:34] fredrike commented on #35536
@MartinHjelmare I don't have super much time these days, what do you think about replacing: [requests-oauthlib](https://requests-oauthlib.readthedocs.io/en/latest/oauth2_workflow.html#web-application-flow) with [authlib](https://docs.authlib.org/en/stable/client/httpx.html#async-oauth-2-0) thus moving from urllib3 dependencies towards the async [httpx](https://www.python-httpx.org/async/)?

[2020-10-07 18:42] barrymossel commented on #23055
Getting the login error message when opening HA in app or browser on a view with camera's in picture-glance card. Only happens when tab/app is out of sight (not closed I believe) for a set amount of time (5mins?). Happens for Android, iOS and Windows (all browsers).

Please let me know if I have to test something...

[2020-10-07 18:43] gugaspinto commented on #40192
Anyone tried the new version 116.?
Can the 116 version solve the mcp23017 problem?

[2020-10-07 18:46] bdraco commented on #40348
This on has me stumped as I can see the response coming back down over the wire with strace, but aiohttp never processes it and hangs forever

[2020-10-07 18:48] bdraco commented on #41342
Some memory build up after restart is normal as caches initialize. Please wait 2-3 hours and post a new graph.

[2020-10-07 18:50] IonutNeagu opened #41422 "recorder error every few seconds"
## The problem
Every few seconds an error like this occurs

## Environment

arch | armv7l
-- | --
chassis |  
dev | false
docker | true
docker_version | 19.03.12
hassio | true
host_os | Raspbian GNU/Linux 10 (buster)
installation_type | Home Assistant Supervised
os_name | Linux
os_version | 5.4.51-v7l+
python_version | 3.8.5
supervisor | 247
timezone | Europe/Bucharest
version | 0.116.0
virtualenv

[2020-10-07 18:52] mmatloka commented on #41250
The cause of this issue seems similar to https://github.com/home-assistant/core/issues/40192

[2020-10-07 18:52] Quentame commented on #39278
You are telling me that 30s is not enough to get a response from your NAS 😱

What NAS model and version do you have ?

I can try 45 or 60 seconds but that is huge !!!

[2020-10-07 18:54] bieniu commented on #40411
@RobBie1221 The problem is that NON messages are more stable for some users and CON messages for others. I have no idea what is the reason for such differences.

[2020-10-07 18:54] bdraco commented on #41422
Please post your `configuration.yaml` for `recorder`

[2020-10-07 18:56] marcandre83 commented on #37290
My in_bed sensor is not working at all any more and I am getting the same error within the logs. Uninstalling and reinstalling the integration didn't help. I'm running HA with Nabu Casa cloud.

[2020-10-07 18:56] wesleygas commented on #41250
Here!

[code]

[2020-10-07 18:57] IonutNeagu commented on #41422
[code]

[2020-10-07 19:07] bdraco commented on #41422
Is there an exception that happens before all this starts?

[2020-10-07 19:09] bdraco commented on #41422
Do you by chance have a `State is not JSON serializable` in your log ?

[2020-10-07 19:12] wesleygas commented on #41250
I tried to upgrade  ```Adafruit-Blinka``` and ```Adafruit-PlatformDetect``` but since there is no gcc installed on the HA container it could not compile some dependencies.

Downgrading ```Adafruit-PlatformDetect``` to 2.15.0 got it back up! (Thanks @mmatloka)  Though I don't know if it is the best option since other adafruit libraries could be updated.

Thank you @belidzs for the help!

[2020-10-07 19:14] Spartan-II-117 commented on #37290
What version of HA are you on? Are you using HA Cloud? Did you turn on the web hook in the cloud control panel?

[2020-10-07 19:15] realjax commented on #40757
Turns out I ALSO had a rest sensor defined which was set to 10 seconds....  my bad totally!

[2020-10-07 19:15] #40757 closed

[2020-10-07 19:15] gdiciancia opened #41423 "Uncaught thread exception"
## The problem

  Recurring error multiple times a minute showing up in the logs.

## Environment

- Home Assistant Core release with the issue: 116.0
- Last working Home Assistant Core release (if known): 115.6
- Operating environment (OS/Container/Supervised/Core): OS
- Integration causing this issue:
- Link to integration documentation on our website:

## Problem-relevant `configuration.yaml`

[2020-10-07 19:16] gugaspinto commented on #40192
No. I update... Still the same problem... :(

[2020-10-07 19:16] SNoof85 commented on #41060
I have a German colleague who always says "Reboot is gut !" 😆

[2020-10-07 19:17] marcandre83 commented on #37290
I just updated from 0.115.2 to 0.116.0, had the problem on both versions. Yes, I am using HA cloud and I just took a look at my webhooks, I dont have a withings webhook I can activate (only some Deleted webhooks from the mobile_app).

[2020-10-07 19:20] IonutNeagu commented on #41422
[code]

[2020-10-07 19:21] bdraco commented on #41422
[code]

In looks invalid utf-8 data causes the commit to fail, and it can't recover.

[2020-10-07 19:21] blysik commented on #41358
@hunterjm is this also why Media Browser doesn't show symlinks to mp4 files?

[2020-10-07 19:22] mbo18 commented on #41405
These are no entity for button. If you read the doc (https://www.home-assistant.io/integrations/deconz/) you will see that when you press a button an event is fired. Go to developers tools > event and listen for deconz_event

[2020-10-07 19:22] bdraco commented on #41422
Looks like another case of #31785

[2020-10-07 19:24] hirschy81 commented on #41060
"Reboot macht's gut - wenn's dann nicht tut - hau drauf den Hut!" :D

[2020-10-07 19:29] bdraco commented on #41422
I can replicate by manually setting a any state to `🐼`

[2020-10-07 19:29] IonutNeagu commented on #41422
seems to solve with

db_url: mysql://db_user:db_pass@core-mariadb/homeassistant?charset=**utf8mb4**

[2020-10-07 19:30] Kane610 commented on #41405
@mbo18 is right. This is not a bug. Read the documentation

[2020-10-07 19:30] #41405 closed

[2020-10-07 19:35] bdraco commented on #31785
It was discovered that `db_url: mysql://db_user:db_pass@core-mariadb/homeassistant?charset=utf8mb4` fixes this:

https://github.com/home-assistant/core/issues/41422#issuecomment-705147373

[2020-10-07 19:36] smmoroz commented on #40411
I finally tested `aioshelly` `0.3.4` with `NON` messagetype. In my case it is more stable that `0.3.5b1`, i.e. devices do not become completely unavailable.

But they still "blink", i.e. the become unavailable and then immediately become available. Here is the pattern:

[code]

Here is a more detailed log for ERROR at `22:18:43`

[code]

[2020-10-07 19:42] bdraco commented on #41422
It looks like we may need to update the recorder docs https://www.home-assistant.io/integrations/recorder/#custom-database-engines

[2020-10-07 19:42] xenoputtss opened #41424 "Synology SRM Keeps showing up as a new integration, even after being added"
## The problem

I have configured HA to work with my Synology Router.  The issue I get is that HA will continue to keep telling me there is a new Integration that I can setup, and it will be the Synology Router.  It is already configured and works, but yet it still shows up to reconfigure.  I haven't pinpointed what is causing the issue (HA Restart, Router Restart...) but it has been happening for

[2020-10-07 19:46] pergolafabio commented on #41416
it works here
do you have also cameras? seems its looking for cameras, but maybe if none defined this component crashes

[2020-10-07 19:48] bdraco commented on #41422
I'm going to see if I can work up something to handle this case better so the recorder can move forward as chatset mis-matches are unfortunately common.

[2020-10-07 19:48] Veldkornet commented on #41416
No I don't have any cameras. I don't think that Surveillance Station is even installed

[2020-10-07 19:49] pergolafabio commented on #41416
yeah, i think thats why it crashes
maybe install surveillance , maybe it wont crash anymore , just for testing

[2020-10-07 19:51] Veldkornet commented on #41416
Correction, is is actually installed and running. I just don't have any cameras.

[2020-10-07 19:52] mweinelt opened #41425 "AssertionError in test_cached_event_message"
## The problem

The `test_cached_event_message` reproducibly fails for me with a wrong (but consistent) count (of `5`) for cache misses.

## Environment

[code]

- Home Assistant Core release with the issue: 0.116.0
- Last working Home Assistant Core release (if known): 0.115.6
- Operating environment (OS/Container/Supervised/Core): NixOS

## Problem-relevant `configuration.yaml`

n/a

## Tracebac

[2020-10-07 19:54] Spirituss commented on #39278
@Quentame
I use Synology 918+, but since sometime the connection became quite long.

[2020-10-07 19:55] pergolafabio commented on #41416
ok, try uninstalling it? :-)

[2020-10-07 20:01] cemilbrowne opened #41428 "Emulated_Hue caching"
## The problem
The emulated_hue component does not appear to integrate with Alexa well on current versions.  Alexa appears to cache devices - removing all devices and adding 1 to emulated_hue results in devices being added that no longer exist.

## Environment

- Home Assistant Core release with the issue: 0.116.0
- Last working Home Assistant Core release (if known): N/A
- Operating environment (

[2020-10-07 20:03] Veldkornet commented on #41416
I didn't uninstall it, I just stopped the package. The integration now starts up as expected, and finds all of the normal NAS entities again

[2020-10-07 20:05] Uriziel01 opened #41430 "ONVIF camera integration broken after PR 38729"
## The problem

Since version 115 (and now on 116) my ONVIF camera integration is broken, it was working fine in 114 but it seems that after merging changes in this PR https://github.com/home-assistant/core/pull/38729 done by @OnFreund it is throwing error each time it starts with HA (attached below)

## Environment

- Home Assistant Core release with the issue: 115
- Last working Home Assistant C

[2020-10-07 20:08] Uriziel01 commented on #41430
@OnFreund - I've just read my issue report and I'm not sure why I pointed you in such a way as it was your fault or something. Obviously it is just a bug and bugs happends all the time, sorry for that if you felt offended in any way 😃 That was not my intention here.

[2020-10-07 20:12] pergolafabio commented on #41416
yeah, maybe it doesnt like surveillance installed with no cameras :)

[2020-10-07 20:13] sycx2 commented on #40906
Funny enough... If I use
`from unittest import mock` and `nvr = mock.MagicMock()`
instead of
`from test.async_mock import MagicMock` and `nvr = MagicMock()`
it works without any problems.... I don't have to set the _host mock manually.... It seems there's something under the hood of asynctest that makes it kind of different... But I can't see what it is... and where _host is set to foo.

@MartinHj

[2020-10-07 20:20] MartinHjelmare commented on #35536
For an async implementation I'd recommend using aiohttp and following our async library guide:
https://developers.home-assistant.io/docs/api_lib_auth#async-example-1

[2020-10-07 20:20] S-Przybylski commented on #41404
Dear @frenck
could it be related to

[2020-10-07 20:30] CurrentThread commented on #40844
done in #41421

[2020-10-07 20:35] mwav3 commented on #36496
I'm having the same issue, and just like the previous poster, using a duckdns wildcard cert, NGINX reverse proxy, and my Home Assistant is accessible from the public internet

[2020-10-07 20:39] Spartan-II-117 commented on #37290
Do you have use_wrbhooks on in your config file?

[2020-10-07 20:48] bdraco commented on #41428
Please check the breaking changes section for `emulated_hue` on the 0.115 release notes

[2020-10-07 20:53] Scialla commented on #41355
Thanks @bdraco, with 0.116 work fine

[2020-10-07 20:53] #41355 closed

[2020-10-07 20:57] Bitmasss commented on #41189
@Eagleman7

When you say

Do you mean all **other** Xiaomi sensors work ok? (if you have any).

[2020-10-07 21:01] Spirituss commented on #41342
@bdraco
You are right, it became better. Seems to be ok.

![362EF31D-86E0-4F95-8FFA-C37EA67CB34E](https://user-images.githubusercontent.com/47206760/95387478-6dfb5980-08f9-11eb-91d8-9e9a0465f640.jpeg)

[2020-10-07 21:02] marcandre83 opened #41432 "Managing or activating cloud webhooks doesn't work any more after upgrade."
## The problem

I just updated to HA 0.116 and can not manage or activate webhooks from the cloud configuration page any more. I then tried rolling back to my previous version (0.115.2) and it worked again. I suspect a bug.

## Environment

arch | armv7l
-- | --
dev | false
docker | false
hassio | false
installation_type | Home Assistant Core
os_name | Linux
os_version | 5.4.51-v7l+
python_version

[2020-10-07 21:03] bdraco commented on #41355
Probably will make 0.117

[2020-10-07 21:09] bdraco commented on #40309
https://github.com/home-assistant/core/pull/41433 should help as well

[2020-10-07 21:09] bdraco commented on #40292
https://github.com/home-assistant/core/pull/41433 should help as well

[2020-10-07 21:10] skynet01 commented on #41424
Yep same here, this is also a duplicate of #41410 i haven't added the Synology SRM myself though. Is it worth it? Does it show a list of all connected devices?

[2020-10-07 21:14] mwav3 commented on #36496
Apparently this issue was reported already https://github.com/home-assistant/core/issues/40771, the solution there to remove the theme parameter resolved the problem.

[2020-10-07 21:19] chiefdeputy opened #41434 "Add digest auth support to rest_* integrations"
## The problem
Digest auth fails when using rest_command.

## Environment

- Home Assistant Core release with the issue: 0.115.6
- Last working Home Assistant Core release (if known):
- Operating environment (OS/Container/Supervised/Core): HassOS 4.13 in VM
- Integration causing this issue: rest_command
- Link to integration documentation on our website: rest_command

## Problem-relevant `configur

[2020-10-07 21:56] mweinelt opened #41436 "Group component tests failing when pytest run in parallel"
## The problem

When I run `pytest -n auto tests/components/group` on my 8700k (6C/12T) I consistently get these tests that fail:

[code]

I've created one issue for all of them, since they fail the same way.

I'd really like to use make use of pytest-xdist, since it makes developing a much more delightful experience.

## Environment

[code]

- Home Assistant Core release with the issue:  0.116.0

[2020-10-07 21:59] mplogas opened #41437 "Wrong hostname suffix used for Azure IoT Hub connections"
## The problem

As per documentation, the integration ```azure_event_hub``` can send to either an event hub or an iot hub.

However, in the file https://github.com/home-assistant/core/blob/dev/homeassistant/components/azure_event_hub/__init__.py in line 79 the hostname is hardwired to ```*.servicebus.windows.net```

[code]

For Azure IoT Hubs, the hostname is ```*.azure-devices.net```. Please allo

[2020-10-07 22:13] MonsterMuffin opened #41439 "ZHA_Events not available after Zigbee intergration setup."
## The problem

After setting up ZHA using EZSP, I cannot listen to ZHA_Events under developer settings, that option is not available to the right, and manually typing and listening does not yield any results.

## Environment

- Home Assistant Core release with the issue: 0.116.0
- Last working Home Assistant Core release (if known): N/A
- Operating environment (OS/Container/Supervised/Core): Supe

[2020-10-07 22:24] peleccom commented on #40865
Done #41441

[2020-10-07 22:26] martinezpenya commented on #40191
Just updated HA to 116, now I can integrate my two RMMini, and after changing configuration on Smart_ir everything is working again. Thank you @felipediel and all the people that makes HA a reality.

[2020-10-07 22:35] gcorgnet commented on #40280
It seems that this is happening again. Just noticed this after upgrading to 0.116

[2020-10-07 22:40] mikewren commented on #38281
I am experiencing this issue also with Hue dimmer switches and Lowes-branded CentraLite 3320-L door sensor 3326-L occupancy/motion sensors. I'm also running HA Supervised on Docker (Synology) with a Conbee II USB adapter, with core version 116.0.

This bug is a real kick in the shorts because I have to keep a SmartThings hub online just for these Zigbee devices that are completely unreliable for m

[2020-10-07 22:45] Adminiuga commented on #38281
remove those device from ZHA 1st, wait 1min, then restart HA and confirm the devices are gone from ZHA. Then re-pair these devices.

[2020-10-07 22:45] springstan commented on #41410
Duplicate of #41424

[2020-10-07 22:45] #41410 closed

[2020-10-07 22:46] mikewren commented on #38314
I am experiencing this issue also with Hue dimmer switches and Lowes-branded CentraLite 3320-L door sensors 3326-L occupancy/motion sensors. I am running HA Supervised in Docker (Synology) with a Conbee II USB adapter, core version 116.0.

This bug is a real kick in the shorts because I have to keep a SmartThings hub online just for these battery-powered Zigbee devices endpoints are completely unr

[2020-10-07 22:47] springstan commented on #41434
Please open a feature request in the [community forum](https://community.home-assistant.io/c/feature-requests?order=votes) because we only use Github issues to track issues and not feature request.

Thanks for understanding :)

[2020-10-07 22:47] #41434 closed

[2020-10-07 22:53] Adminiuga commented on #41439
Options to the right (in the screenshot) have nothing to do with ability to listen the events. It just displays current listeners. If you don't have any automations using event triggers for `zha_event` then you won't see it there. Working as designed.

To listen for zha events, you go to events tab, type in `zha_event` in the box and click the `start listenint` button
![image](https://user-images.

[2020-10-07 22:53] #41439 closed

[2020-10-07 23:01] bdraco commented on #41436
To make `||` testing work we probably need to setup the underlying component that is being grouped first

[2020-10-07 23:04] cmsimike opened #41443 "PicoTTS error: TypeError: 'en-US' not a Frame instance"
## The problem

Previously I was using 0.103 and I had pictoTTS working perfectly to any Kodi instance. Recently upgraded to .115 and lost the ability to stream long TTS messages to Kodi, with Kodi indicating that the server wasn't giving it a range. Asking in the dev-core channel, I was told that there might be a fix for that in .116. Now that I've upgraded, I've lost the ability to stream all TT